/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.CargoType

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class CargoTypeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /cargo/type
     * Create Cargo Type
     * Create new cargo type
     * @param body  (optional)
     * @return CargoType
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCargoType(body: CargoType? = null) : CargoType {
        val localVarResponse = createCargoTypeWithHttpInfo(body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CargoType
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /cargo/type
     * Create Cargo Type
     * Create new cargo type
     * @param body  (optional)
     * @return ApiResponse<CargoType?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCargoTypeWithHttpInfo(body: CargoType?) : ApiResponse<CargoType?> {
        val localVariableConfig = createCargoTypeRequestConfig(body = body)

        return request<CargoType, CargoType>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCargoType
     *
     * @param body  (optional)
     * @return RequestConfig
     */
    fun createCargoTypeRequestConfig(body: CargoType?) : RequestConfig<CargoType> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/cargo/type",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /cargo/type/{cargoTypeId}
     * Delete Cargo Type
     * Delete a type of cargo
     * @param cargoTypeId the ID of the cargo type
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteCargoType(cargoTypeId: kotlin.Long) : Unit {
        val localVarResponse = deleteCargoTypeWithHttpInfo(cargoTypeId = cargoTypeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /cargo/type/{cargoTypeId}
     * Delete Cargo Type
     * Delete a type of cargo
     * @param cargoTypeId the ID of the cargo type
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteCargoTypeWithHttpInfo(cargoTypeId: kotlin.Long) : ApiResponse<Unit?> {
        val localVariableConfig = deleteCargoTypeRequestConfig(cargoTypeId = cargoTypeId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteCargoType
     *
     * @param cargoTypeId the ID of the cargo type
     * @return RequestConfig
     */
    fun deleteCargoTypeRequestConfig(cargoTypeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/cargo/type/{cargoTypeId}".replace("{"+"cargoTypeId"+"}", encodeURIComponent(cargoTypeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /cargo/type/{cargoTypeId}
     * Get Cargo Type
     * Get an existing cargo type
     * @param cargoTypeId the cargo type ID
     * @return CargoType
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCargoType(cargoTypeId: kotlin.Long) : CargoType {
        val localVarResponse = getCargoTypeWithHttpInfo(cargoTypeId = cargoTypeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CargoType
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /cargo/type/{cargoTypeId}
     * Get Cargo Type
     * Get an existing cargo type
     * @param cargoTypeId the cargo type ID
     * @return ApiResponse<CargoType?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCargoTypeWithHttpInfo(cargoTypeId: kotlin.Long) : ApiResponse<CargoType?> {
        val localVariableConfig = getCargoTypeRequestConfig(cargoTypeId = cargoTypeId)

        return request<Unit, CargoType>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCargoType
     *
     * @param cargoTypeId the cargo type ID
     * @return RequestConfig
     */
    fun getCargoTypeRequestConfig(cargoTypeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/cargo/type/{cargoTypeId}".replace("{"+"cargoTypeId"+"}", encodeURIComponent(cargoTypeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /cargo/type
     * Search Cargo Type
     * Search for types of cargo
     * @param sortField the sort field to use for the cargo type
     * @param descending if the cargo type should be should be in descending order
     * @param start the start of the search
     * @param limit the limit of the search
     * @param activeOnly if search should be on active only
     * @param retailerId the id of the retailer location (optional)
     * @param hubId the ID of the hub (optional)
     * @return kotlin.collections.List<CargoType>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchCargoTypes(sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, activeOnly: kotlin.Boolean, retailerId: kotlin.Long? = null, hubId: kotlin.Long? = null) : kotlin.collections.List<CargoType> {
        val localVarResponse = searchCargoTypesWithHttpInfo(sortField = sortField, descending = descending, start = start, limit = limit, activeOnly = activeOnly, retailerId = retailerId, hubId = hubId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CargoType>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /cargo/type
     * Search Cargo Type
     * Search for types of cargo
     * @param sortField the sort field to use for the cargo type
     * @param descending if the cargo type should be should be in descending order
     * @param start the start of the search
     * @param limit the limit of the search
     * @param activeOnly if search should be on active only
     * @param retailerId the id of the retailer location (optional)
     * @param hubId the ID of the hub (optional)
     * @return ApiResponse<kotlin.collections.List<CargoType>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchCargoTypesWithHttpInfo(sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, activeOnly: kotlin.Boolean, retailerId: kotlin.Long?, hubId: kotlin.Long?) : ApiResponse<kotlin.collections.List<CargoType>?> {
        val localVariableConfig = searchCargoTypesRequestConfig(sortField = sortField, descending = descending, start = start, limit = limit, activeOnly = activeOnly, retailerId = retailerId, hubId = hubId)

        return request<Unit, kotlin.collections.List<CargoType>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchCargoTypes
     *
     * @param sortField the sort field to use for the cargo type
     * @param descending if the cargo type should be should be in descending order
     * @param start the start of the search
     * @param limit the limit of the search
     * @param activeOnly if search should be on active only
     * @param retailerId the id of the retailer location (optional)
     * @param hubId the ID of the hub (optional)
     * @return RequestConfig
     */
    fun searchCargoTypesRequestConfig(sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, activeOnly: kotlin.Boolean, retailerId: kotlin.Long?, hubId: kotlin.Long?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (retailerId != null) {
                    put("retailerId", listOf(retailerId.toString()))
                }
                if (hubId != null) {
                    put("hubId", listOf(hubId.toString()))
                }
                put("sortField", listOf(sortField.toString()))
                put("descending", listOf(descending.toString()))
                put("start", listOf(start.toString()))
                put("limit", listOf(limit.toString()))
                put("activeOnly", listOf(activeOnly.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/cargo/type",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PUT /cargo/type/{cargoTypeId}
     * Update Cargo Type
     * Update an existing cargo type
     * @param cargoTypeId the ID of the cargo type
     * @param body  (optional)
     * @return CargoType
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateCargoType(cargoTypeId: kotlin.Long, body: CargoType? = null) : CargoType {
        val localVarResponse = updateCargoTypeWithHttpInfo(cargoTypeId = cargoTypeId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CargoType
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /cargo/type/{cargoTypeId}
     * Update Cargo Type
     * Update an existing cargo type
     * @param cargoTypeId the ID of the cargo type
     * @param body  (optional)
     * @return ApiResponse<CargoType?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateCargoTypeWithHttpInfo(cargoTypeId: kotlin.Long, body: CargoType?) : ApiResponse<CargoType?> {
        val localVariableConfig = updateCargoTypeRequestConfig(cargoTypeId = cargoTypeId, body = body)

        return request<CargoType, CargoType>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateCargoType
     *
     * @param cargoTypeId the ID of the cargo type
     * @param body  (optional)
     * @return RequestConfig
     */
    fun updateCargoTypeRequestConfig(cargoTypeId: kotlin.Long, body: CargoType?) : RequestConfig<CargoType> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/cargo/type/{cargoTypeId}".replace("{"+"cargoTypeId"+"}", encodeURIComponent(cargoTypeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
