/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.CreativeResponse
import org.openapitools.client.models.MissionResponse
import org.openapitools.client.models.SirqulResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class CreativeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /creative/addpreview
     * Add Preview
     * Enable this ad for preview for this account.
     * @param accountId the id of the account
     * @param creativeId The id of the creative that want to enable preview. The type of the creative should be CONFIG, otherwise no action will be applied.
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun addPreview(accountId: kotlin.Long, creativeId: kotlin.Long) : SirqulResponse {
        val localVarResponse = addPreviewWithHttpInfo(accountId = accountId, creativeId = creativeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /creative/addpreview
     * Add Preview
     * Enable this ad for preview for this account.
     * @param accountId the id of the account
     * @param creativeId The id of the creative that want to enable preview. The type of the creative should be CONFIG, otherwise no action will be applied.
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun addPreviewWithHttpInfo(accountId: kotlin.Long, creativeId: kotlin.Long) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = addPreviewRequestConfig(accountId = accountId, creativeId = creativeId)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation addPreview
     *
     * @param accountId the id of the account
     * @param creativeId The id of the creative that want to enable preview. The type of the creative should be CONFIG, otherwise no action will be applied.
     * @return RequestConfig
     */
    fun addPreviewRequestConfig(accountId: kotlin.Long, creativeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("creativeId", listOf(creativeId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/creative/addpreview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /ads/find
     * Find Missions
     * Get a set of ad filtered by the parameters provided.
     * @param appKey The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic.
     * @param randomize return a random set of results, default is true. If false returns in nature order.
     * @param targetedAdsOnly return only ads targets to the specific app, no global ads.
     * @param type The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix. (optional)
     * @param accountId The logged in user. (optional)
     * @param appVersion The version of the application, will not return levels newer than the appVersion. (optional)
     * @param latitude The current location of the requesting device (optional)
     * @param longitude The current location of the requesting device (optional)
     * @param device Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list. (optional)
     * @param deviceIdentifier The device ID of the requesting device, use /audience/devices for list (optional)
     * @param deviceVersion The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string. (optional)
     * @param start The index into the record set to start with. (optional)
     * @param limit The total number of record to return. (optional)
     * @param includeAudiences If true then return the audience data in the response. Default is false. (optional)
     * @param allocatesTickets If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both. (optional)
     * @param missionIds return only ads from the specified campaigns. (optional)
     * @return kotlin.collections.List<MissionResponse>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun adsFind(appKey: kotlin.String, randomize: kotlin.Boolean, targetedAdsOnly: kotlin.Boolean, type: kotlin.String? = null, accountId: kotlin.Long? = null, appVersion: kotlin.String? = null, latitude: kotlin.Double? = null, longitude: kotlin.Double? = null, device: kotlin.String? = null, deviceIdentifier: kotlin.Long? = null, deviceVersion: kotlin.String? = null, start: kotlin.Int? = null, limit: kotlin.Int? = null, includeAudiences: kotlin.Boolean? = null, allocatesTickets: kotlin.Boolean? = null, missionIds: kotlin.String? = null) : kotlin.collections.List<MissionResponse> {
        val localVarResponse = adsFindWithHttpInfo(appKey = appKey, randomize = randomize, targetedAdsOnly = targetedAdsOnly, type = type, accountId = accountId, appVersion = appVersion, latitude = latitude, longitude = longitude, device = device, deviceIdentifier = deviceIdentifier, deviceVersion = deviceVersion, start = start, limit = limit, includeAudiences = includeAudiences, allocatesTickets = allocatesTickets, missionIds = missionIds)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<MissionResponse>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /ads/find
     * Find Missions
     * Get a set of ad filtered by the parameters provided.
     * @param appKey The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic.
     * @param randomize return a random set of results, default is true. If false returns in nature order.
     * @param targetedAdsOnly return only ads targets to the specific app, no global ads.
     * @param type The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix. (optional)
     * @param accountId The logged in user. (optional)
     * @param appVersion The version of the application, will not return levels newer than the appVersion. (optional)
     * @param latitude The current location of the requesting device (optional)
     * @param longitude The current location of the requesting device (optional)
     * @param device Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list. (optional)
     * @param deviceIdentifier The device ID of the requesting device, use /audience/devices for list (optional)
     * @param deviceVersion The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string. (optional)
     * @param start The index into the record set to start with. (optional)
     * @param limit The total number of record to return. (optional)
     * @param includeAudiences If true then return the audience data in the response. Default is false. (optional)
     * @param allocatesTickets If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both. (optional)
     * @param missionIds return only ads from the specified campaigns. (optional)
     * @return ApiResponse<kotlin.collections.List<MissionResponse>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun adsFindWithHttpInfo(appKey: kotlin.String, randomize: kotlin.Boolean, targetedAdsOnly: kotlin.Boolean, type: kotlin.String?, accountId: kotlin.Long?, appVersion: kotlin.String?, latitude: kotlin.Double?, longitude: kotlin.Double?, device: kotlin.String?, deviceIdentifier: kotlin.Long?, deviceVersion: kotlin.String?, start: kotlin.Int?, limit: kotlin.Int?, includeAudiences: kotlin.Boolean?, allocatesTickets: kotlin.Boolean?, missionIds: kotlin.String?) : ApiResponse<kotlin.collections.List<MissionResponse>?> {
        val localVariableConfig = adsFindRequestConfig(appKey = appKey, randomize = randomize, targetedAdsOnly = targetedAdsOnly, type = type, accountId = accountId, appVersion = appVersion, latitude = latitude, longitude = longitude, device = device, deviceIdentifier = deviceIdentifier, deviceVersion = deviceVersion, start = start, limit = limit, includeAudiences = includeAudiences, allocatesTickets = allocatesTickets, missionIds = missionIds)

        return request<Unit, kotlin.collections.List<MissionResponse>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation adsFind
     *
     * @param appKey The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic.
     * @param randomize return a random set of results, default is true. If false returns in nature order.
     * @param targetedAdsOnly return only ads targets to the specific app, no global ads.
     * @param type The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix. (optional)
     * @param accountId The logged in user. (optional)
     * @param appVersion The version of the application, will not return levels newer than the appVersion. (optional)
     * @param latitude The current location of the requesting device (optional)
     * @param longitude The current location of the requesting device (optional)
     * @param device Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list. (optional)
     * @param deviceIdentifier The device ID of the requesting device, use /audience/devices for list (optional)
     * @param deviceVersion The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string. (optional)
     * @param start The index into the record set to start with. (optional)
     * @param limit The total number of record to return. (optional)
     * @param includeAudiences If true then return the audience data in the response. Default is false. (optional)
     * @param allocatesTickets If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both. (optional)
     * @param missionIds return only ads from the specified campaigns. (optional)
     * @return RequestConfig
     */
    fun adsFindRequestConfig(appKey: kotlin.String, randomize: kotlin.Boolean, targetedAdsOnly: kotlin.Boolean, type: kotlin.String?, accountId: kotlin.Long?, appVersion: kotlin.String?, latitude: kotlin.Double?, longitude: kotlin.Double?, device: kotlin.String?, deviceIdentifier: kotlin.Long?, deviceVersion: kotlin.String?, start: kotlin.Int?, limit: kotlin.Int?, includeAudiences: kotlin.Boolean?, allocatesTickets: kotlin.Boolean?, missionIds: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("appKey", listOf(appKey.toString()))
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (appVersion != null) {
                    put("appVersion", listOf(appVersion.toString()))
                }
                if (latitude != null) {
                    put("latitude", listOf(latitude.toString()))
                }
                if (longitude != null) {
                    put("longitude", listOf(longitude.toString()))
                }
                if (device != null) {
                    put("device", listOf(device.toString()))
                }
                if (deviceIdentifier != null) {
                    put("deviceIdentifier", listOf(deviceIdentifier.toString()))
                }
                if (deviceVersion != null) {
                    put("deviceVersion", listOf(deviceVersion.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (includeAudiences != null) {
                    put("includeAudiences", listOf(includeAudiences.toString()))
                }
                if (allocatesTickets != null) {
                    put("allocatesTickets", listOf(allocatesTickets.toString()))
                }
                put("randomize", listOf(randomize.toString()))
                put("targetedAdsOnly", listOf(targetedAdsOnly.toString()))
                if (missionIds != null) {
                    put("missionIds", listOf(missionIds.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/ads/find",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /creative/create
     * Create Creative
     * Create a creative
     * @param accountId The logged in user.
     * @param name The name of the level.
     * @param active If true set the game level as active. Default is false.
     * @param waitForAsset determines whether the response will wait until the asset gets created
     * @param description The description of the level. (optional)
     * @param assetImageId The asset Id of the level image. (optional)
     * @param action This parameter is deprecated. deprecated use data field (optional)
     * @param `data` The creative data, json based format depending on type. If not using action then data is required. (optional)
     * @param suffix This parameter is deprecated. deprecated use type field (optional)
     * @param type The type of creative. If not using suffix then type is required. (optional)
     * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited. (optional)
     * @param referenceId if creative related so some other content provided the id (optional)
     * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives. (optional)
     * @param missionId Assign the creative to a campaign for timing and audience matching. (optional)
     * @param offerId the id of the offer (optional)
     * @return CreativeResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createCreative(accountId: kotlin.Long, name: kotlin.String, active: kotlin.Boolean, waitForAsset: kotlin.Boolean, description: kotlin.String? = null, assetImageId: kotlin.Long? = null, action: kotlin.String? = null, `data`: kotlin.String? = null, suffix: kotlin.String? = null, type: kotlin.String? = null, balance: kotlin.Double? = null, referenceId: kotlin.Long? = null, appVersion: kotlin.String? = null, missionId: kotlin.Long? = null, offerId: kotlin.Long? = null) : CreativeResponse {
        val localVarResponse = createCreativeWithHttpInfo(accountId = accountId, name = name, active = active, waitForAsset = waitForAsset, description = description, assetImageId = assetImageId, action = action, `data` = `data`, suffix = suffix, type = type, balance = balance, referenceId = referenceId, appVersion = appVersion, missionId = missionId, offerId = offerId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreativeResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /creative/create
     * Create Creative
     * Create a creative
     * @param accountId The logged in user.
     * @param name The name of the level.
     * @param active If true set the game level as active. Default is false.
     * @param waitForAsset determines whether the response will wait until the asset gets created
     * @param description The description of the level. (optional)
     * @param assetImageId The asset Id of the level image. (optional)
     * @param action This parameter is deprecated. deprecated use data field (optional)
     * @param `data` The creative data, json based format depending on type. If not using action then data is required. (optional)
     * @param suffix This parameter is deprecated. deprecated use type field (optional)
     * @param type The type of creative. If not using suffix then type is required. (optional)
     * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited. (optional)
     * @param referenceId if creative related so some other content provided the id (optional)
     * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives. (optional)
     * @param missionId Assign the creative to a campaign for timing and audience matching. (optional)
     * @param offerId the id of the offer (optional)
     * @return ApiResponse<CreativeResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createCreativeWithHttpInfo(accountId: kotlin.Long, name: kotlin.String, active: kotlin.Boolean, waitForAsset: kotlin.Boolean, description: kotlin.String?, assetImageId: kotlin.Long?, action: kotlin.String?, `data`: kotlin.String?, suffix: kotlin.String?, type: kotlin.String?, balance: kotlin.Double?, referenceId: kotlin.Long?, appVersion: kotlin.String?, missionId: kotlin.Long?, offerId: kotlin.Long?) : ApiResponse<CreativeResponse?> {
        val localVariableConfig = createCreativeRequestConfig(accountId = accountId, name = name, active = active, waitForAsset = waitForAsset, description = description, assetImageId = assetImageId, action = action, `data` = `data`, suffix = suffix, type = type, balance = balance, referenceId = referenceId, appVersion = appVersion, missionId = missionId, offerId = offerId)

        return request<Unit, CreativeResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createCreative
     *
     * @param accountId The logged in user.
     * @param name The name of the level.
     * @param active If true set the game level as active. Default is false.
     * @param waitForAsset determines whether the response will wait until the asset gets created
     * @param description The description of the level. (optional)
     * @param assetImageId The asset Id of the level image. (optional)
     * @param action This parameter is deprecated. deprecated use data field (optional)
     * @param `data` The creative data, json based format depending on type. If not using action then data is required. (optional)
     * @param suffix This parameter is deprecated. deprecated use type field (optional)
     * @param type The type of creative. If not using suffix then type is required. (optional)
     * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited. (optional)
     * @param referenceId if creative related so some other content provided the id (optional)
     * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives. (optional)
     * @param missionId Assign the creative to a campaign for timing and audience matching. (optional)
     * @param offerId the id of the offer (optional)
     * @return RequestConfig
     */
    fun createCreativeRequestConfig(accountId: kotlin.Long, name: kotlin.String, active: kotlin.Boolean, waitForAsset: kotlin.Boolean, description: kotlin.String?, assetImageId: kotlin.Long?, action: kotlin.String?, `data`: kotlin.String?, suffix: kotlin.String?, type: kotlin.String?, balance: kotlin.Double?, referenceId: kotlin.Long?, appVersion: kotlin.String?, missionId: kotlin.Long?, offerId: kotlin.Long?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("name", listOf(name.toString()))
                if (description != null) {
                    put("description", listOf(description.toString()))
                }
                if (assetImageId != null) {
                    put("assetImageId", listOf(assetImageId.toString()))
                }
                if (action != null) {
                    put("action", listOf(action.toString()))
                }
                if (`data` != null) {
                    put("data", listOf(`data`.toString()))
                }
                if (suffix != null) {
                    put("suffix", listOf(suffix.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
                if (balance != null) {
                    put("balance", listOf(balance.toString()))
                }
                put("active", listOf(active.toString()))
                if (referenceId != null) {
                    put("referenceId", listOf(referenceId.toString()))
                }
                if (appVersion != null) {
                    put("appVersion", listOf(appVersion.toString()))
                }
                if (missionId != null) {
                    put("missionId", listOf(missionId.toString()))
                }
                if (offerId != null) {
                    put("offerId", listOf(offerId.toString()))
                }
                put("waitForAsset", listOf(waitForAsset.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/creative/create",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /creative/delete
     * Delete Creative
     * Delete a creative
     * @param accountId the id of the logged in user
     * @param creativeId the id of the creative to delete
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteCreative(accountId: kotlin.Long, creativeId: kotlin.Long) : SirqulResponse {
        val localVarResponse = deleteCreativeWithHttpInfo(accountId = accountId, creativeId = creativeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /creative/delete
     * Delete Creative
     * Delete a creative
     * @param accountId the id of the logged in user
     * @param creativeId the id of the creative to delete
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteCreativeWithHttpInfo(accountId: kotlin.Long, creativeId: kotlin.Long) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = deleteCreativeRequestConfig(accountId = accountId, creativeId = creativeId)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteCreative
     *
     * @param accountId the id of the logged in user
     * @param creativeId the id of the creative to delete
     * @return RequestConfig
     */
    fun deleteCreativeRequestConfig(accountId: kotlin.Long, creativeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("creativeId", listOf(creativeId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/creative/delete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /creative/get
     * Get Creative
     * Get a creative
     * @param accountId the id of the logged in user
     * @param creativeId the ID of the creative to get
     * @return CreativeResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCreative(accountId: kotlin.Long, creativeId: kotlin.Long) : CreativeResponse {
        val localVarResponse = getCreativeWithHttpInfo(accountId = accountId, creativeId = creativeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreativeResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /creative/get
     * Get Creative
     * Get a creative
     * @param accountId the id of the logged in user
     * @param creativeId the ID of the creative to get
     * @return ApiResponse<CreativeResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCreativeWithHttpInfo(accountId: kotlin.Long, creativeId: kotlin.Long) : ApiResponse<CreativeResponse?> {
        val localVariableConfig = getCreativeRequestConfig(accountId = accountId, creativeId = creativeId)

        return request<Unit, CreativeResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCreative
     *
     * @param accountId the id of the logged in user
     * @param creativeId the ID of the creative to get
     * @return RequestConfig
     */
    fun getCreativeRequestConfig(accountId: kotlin.Long, creativeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("creativeId", listOf(creativeId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/creative/get",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /creative/search
     * Search Creatives
     * Get a list of levels for an application, just those the account has permissions to view.
     * @param accountId The logged in user.
     * @param appKey the application key
     * @param start Start the result set at some index.
     * @param limit Limit the result to some number.
     * @param missionId Creatives contained in the provided mission. (optional)
     * @param keyword Match the keyword to the owner name or level name. (optional)
     * @return kotlin.collections.List<CreativeResponse>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getCreativesByApplication(accountId: kotlin.Long, appKey: kotlin.String, start: kotlin.Int, limit: kotlin.Int, missionId: kotlin.Long? = null, keyword: kotlin.String? = null) : kotlin.collections.List<CreativeResponse> {
        val localVarResponse = getCreativesByApplicationWithHttpInfo(accountId = accountId, appKey = appKey, start = start, limit = limit, missionId = missionId, keyword = keyword)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<CreativeResponse>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /creative/search
     * Search Creatives
     * Get a list of levels for an application, just those the account has permissions to view.
     * @param accountId The logged in user.
     * @param appKey the application key
     * @param start Start the result set at some index.
     * @param limit Limit the result to some number.
     * @param missionId Creatives contained in the provided mission. (optional)
     * @param keyword Match the keyword to the owner name or level name. (optional)
     * @return ApiResponse<kotlin.collections.List<CreativeResponse>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getCreativesByApplicationWithHttpInfo(accountId: kotlin.Long, appKey: kotlin.String, start: kotlin.Int, limit: kotlin.Int, missionId: kotlin.Long?, keyword: kotlin.String?) : ApiResponse<kotlin.collections.List<CreativeResponse>?> {
        val localVariableConfig = getCreativesByApplicationRequestConfig(accountId = accountId, appKey = appKey, start = start, limit = limit, missionId = missionId, keyword = keyword)

        return request<Unit, kotlin.collections.List<CreativeResponse>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getCreativesByApplication
     *
     * @param accountId The logged in user.
     * @param appKey the application key
     * @param start Start the result set at some index.
     * @param limit Limit the result to some number.
     * @param missionId Creatives contained in the provided mission. (optional)
     * @param keyword Match the keyword to the owner name or level name. (optional)
     * @return RequestConfig
     */
    fun getCreativesByApplicationRequestConfig(accountId: kotlin.Long, appKey: kotlin.String, start: kotlin.Int, limit: kotlin.Int, missionId: kotlin.Long?, keyword: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("appKey", listOf(appKey.toString()))
                if (missionId != null) {
                    put("missionId", listOf(missionId.toString()))
                }
                if (keyword != null) {
                    put("keyword", listOf(keyword.toString()))
                }
                put("start", listOf(start.toString()))
                put("limit", listOf(limit.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/creative/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /creative/removepreview
     * Remove Preview
     * Remove this ad for preview for this account.
     * @param accountId the ID of the logged in user
     * @param creativeId the ID of the creative to remove preview
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun removePreview(accountId: kotlin.Long, creativeId: kotlin.Long) : SirqulResponse {
        val localVarResponse = removePreviewWithHttpInfo(accountId = accountId, creativeId = creativeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /creative/removepreview
     * Remove Preview
     * Remove this ad for preview for this account.
     * @param accountId the ID of the logged in user
     * @param creativeId the ID of the creative to remove preview
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun removePreviewWithHttpInfo(accountId: kotlin.Long, creativeId: kotlin.Long) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = removePreviewRequestConfig(accountId = accountId, creativeId = creativeId)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation removePreview
     *
     * @param accountId the ID of the logged in user
     * @param creativeId the ID of the creative to remove preview
     * @return RequestConfig
     */
    fun removePreviewRequestConfig(accountId: kotlin.Long, creativeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("creativeId", listOf(creativeId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/creative/removepreview",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /creative/update
     * Update Creative
     * Update a creative
     * @param accountId The logged in user.
     * @param creativeId the creative Id to upate.
     * @param name The name of the level. (optional)
     * @param description The description of the level. (optional)
     * @param assetImageId The asset Id of the level image. (optional)
     * @param action This parameter is deprecated. deprecated use data field (optional)
     * @param `data` The creative data, json based format depending on type (optional)
     * @param suffix This parameter is deprecated. deprecated use type field (optional)
     * @param type The type of creative. (optional)
     * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited. (optional)
     * @param active If true set the game level as active. Default is false. (optional)
     * @param referenceId if creative related so some other content provided the id (optional)
     * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives. (optional)
     * @param missionId Assign the creative to a campaign for timing and audience matching. (optional)
     * @return CreativeResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateCreative(accountId: kotlin.Long, creativeId: kotlin.Long, name: kotlin.String? = null, description: kotlin.String? = null, assetImageId: kotlin.Long? = null, action: kotlin.String? = null, `data`: kotlin.String? = null, suffix: kotlin.String? = null, type: kotlin.String? = null, balance: kotlin.Double? = null, active: kotlin.Boolean? = null, referenceId: kotlin.Long? = null, appVersion: kotlin.String? = null, missionId: kotlin.Long? = null) : CreativeResponse {
        val localVarResponse = updateCreativeWithHttpInfo(accountId = accountId, creativeId = creativeId, name = name, description = description, assetImageId = assetImageId, action = action, `data` = `data`, suffix = suffix, type = type, balance = balance, active = active, referenceId = referenceId, appVersion = appVersion, missionId = missionId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as CreativeResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /creative/update
     * Update Creative
     * Update a creative
     * @param accountId The logged in user.
     * @param creativeId the creative Id to upate.
     * @param name The name of the level. (optional)
     * @param description The description of the level. (optional)
     * @param assetImageId The asset Id of the level image. (optional)
     * @param action This parameter is deprecated. deprecated use data field (optional)
     * @param `data` The creative data, json based format depending on type (optional)
     * @param suffix This parameter is deprecated. deprecated use type field (optional)
     * @param type The type of creative. (optional)
     * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited. (optional)
     * @param active If true set the game level as active. Default is false. (optional)
     * @param referenceId if creative related so some other content provided the id (optional)
     * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives. (optional)
     * @param missionId Assign the creative to a campaign for timing and audience matching. (optional)
     * @return ApiResponse<CreativeResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateCreativeWithHttpInfo(accountId: kotlin.Long, creativeId: kotlin.Long, name: kotlin.String?, description: kotlin.String?, assetImageId: kotlin.Long?, action: kotlin.String?, `data`: kotlin.String?, suffix: kotlin.String?, type: kotlin.String?, balance: kotlin.Double?, active: kotlin.Boolean?, referenceId: kotlin.Long?, appVersion: kotlin.String?, missionId: kotlin.Long?) : ApiResponse<CreativeResponse?> {
        val localVariableConfig = updateCreativeRequestConfig(accountId = accountId, creativeId = creativeId, name = name, description = description, assetImageId = assetImageId, action = action, `data` = `data`, suffix = suffix, type = type, balance = balance, active = active, referenceId = referenceId, appVersion = appVersion, missionId = missionId)

        return request<Unit, CreativeResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateCreative
     *
     * @param accountId The logged in user.
     * @param creativeId the creative Id to upate.
     * @param name The name of the level. (optional)
     * @param description The description of the level. (optional)
     * @param assetImageId The asset Id of the level image. (optional)
     * @param action This parameter is deprecated. deprecated use data field (optional)
     * @param `data` The creative data, json based format depending on type (optional)
     * @param suffix This parameter is deprecated. deprecated use type field (optional)
     * @param type The type of creative. (optional)
     * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited. (optional)
     * @param active If true set the game level as active. Default is false. (optional)
     * @param referenceId if creative related so some other content provided the id (optional)
     * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives. (optional)
     * @param missionId Assign the creative to a campaign for timing and audience matching. (optional)
     * @return RequestConfig
     */
    fun updateCreativeRequestConfig(accountId: kotlin.Long, creativeId: kotlin.Long, name: kotlin.String?, description: kotlin.String?, assetImageId: kotlin.Long?, action: kotlin.String?, `data`: kotlin.String?, suffix: kotlin.String?, type: kotlin.String?, balance: kotlin.Double?, active: kotlin.Boolean?, referenceId: kotlin.Long?, appVersion: kotlin.String?, missionId: kotlin.Long?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("creativeId", listOf(creativeId.toString()))
                if (name != null) {
                    put("name", listOf(name.toString()))
                }
                if (description != null) {
                    put("description", listOf(description.toString()))
                }
                if (assetImageId != null) {
                    put("assetImageId", listOf(assetImageId.toString()))
                }
                if (action != null) {
                    put("action", listOf(action.toString()))
                }
                if (`data` != null) {
                    put("data", listOf(`data`.toString()))
                }
                if (suffix != null) {
                    put("suffix", listOf(suffix.toString()))
                }
                if (type != null) {
                    put("type", listOf(type.toString()))
                }
                if (balance != null) {
                    put("balance", listOf(balance.toString()))
                }
                if (active != null) {
                    put("active", listOf(active.toString()))
                }
                if (referenceId != null) {
                    put("referenceId", listOf(referenceId.toString()))
                }
                if (appVersion != null) {
                    put("appVersion", listOf(appVersion.toString()))
                }
                if (missionId != null) {
                    put("missionId", listOf(missionId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/creative/update",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
