/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.GameResponse
import org.openapitools.client.models.SirqulResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class GameApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /game/create
     * Create a Game
     * Create a Game.
     * @param accountId The logged in user. (optional)
     * @param appKey The game application key to save the level for. (optional)
     * @param title Title of the game. (optional)
     * @param description Description of the game. (optional)
     * @param metaData metaData of the Game. (optional)
     * @param packIds comma separated String of pack Ids that will associate with the game. (optional)
     * @param includeGameData Show more details in response. (optional)
     * @return GameResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createGame(accountId: kotlin.Long? = null, appKey: kotlin.String? = null, title: kotlin.String? = null, description: kotlin.String? = null, metaData: kotlin.String? = null, packIds: kotlin.String? = null, includeGameData: kotlin.Boolean? = null) : GameResponse {
        val localVarResponse = createGameWithHttpInfo(accountId = accountId, appKey = appKey, title = title, description = description, metaData = metaData, packIds = packIds, includeGameData = includeGameData)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GameResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /game/create
     * Create a Game
     * Create a Game.
     * @param accountId The logged in user. (optional)
     * @param appKey The game application key to save the level for. (optional)
     * @param title Title of the game. (optional)
     * @param description Description of the game. (optional)
     * @param metaData metaData of the Game. (optional)
     * @param packIds comma separated String of pack Ids that will associate with the game. (optional)
     * @param includeGameData Show more details in response. (optional)
     * @return ApiResponse<GameResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createGameWithHttpInfo(accountId: kotlin.Long?, appKey: kotlin.String?, title: kotlin.String?, description: kotlin.String?, metaData: kotlin.String?, packIds: kotlin.String?, includeGameData: kotlin.Boolean?) : ApiResponse<GameResponse?> {
        val localVariableConfig = createGameRequestConfig(accountId = accountId, appKey = appKey, title = title, description = description, metaData = metaData, packIds = packIds, includeGameData = includeGameData)

        return request<Unit, GameResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createGame
     *
     * @param accountId The logged in user. (optional)
     * @param appKey The game application key to save the level for. (optional)
     * @param title Title of the game. (optional)
     * @param description Description of the game. (optional)
     * @param metaData metaData of the Game. (optional)
     * @param packIds comma separated String of pack Ids that will associate with the game. (optional)
     * @param includeGameData Show more details in response. (optional)
     * @return RequestConfig
     */
    fun createGameRequestConfig(accountId: kotlin.Long?, appKey: kotlin.String?, title: kotlin.String?, description: kotlin.String?, metaData: kotlin.String?, packIds: kotlin.String?, includeGameData: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (appKey != null) {
                    put("appKey", listOf(appKey.toString()))
                }
                if (title != null) {
                    put("title", listOf(title.toString()))
                }
                if (description != null) {
                    put("description", listOf(description.toString()))
                }
                if (metaData != null) {
                    put("metaData", listOf(metaData.toString()))
                }
                if (packIds != null) {
                    put("packIds", listOf(packIds.toString()))
                }
                if (includeGameData != null) {
                    put("includeGameData", listOf(includeGameData.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/game/create",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /game/delete
     * Delete a Game
     * Delete a game.
     * @param accountId The logged in user.
     * @param gameId the updating game&#39;s id.
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteGame(accountId: kotlin.Long, gameId: kotlin.Long) : SirqulResponse {
        val localVarResponse = deleteGameWithHttpInfo(accountId = accountId, gameId = gameId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /game/delete
     * Delete a Game
     * Delete a game.
     * @param accountId The logged in user.
     * @param gameId the updating game&#39;s id.
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteGameWithHttpInfo(accountId: kotlin.Long, gameId: kotlin.Long) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = deleteGameRequestConfig(accountId = accountId, gameId = gameId)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteGame
     *
     * @param accountId The logged in user.
     * @param gameId the updating game&#39;s id.
     * @return RequestConfig
     */
    fun deleteGameRequestConfig(accountId: kotlin.Long, gameId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("gameId", listOf(gameId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/game/delete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /game/get
     * Get a Game by id
     * Get a Game by id.
     * @param accountId The logged in user.
     * @param gameId the updating game&#39;s id.
     * @param includeGameData If true include the game level data, otherwise don&#39;t. default is false. (optional)
     * @return GameResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getGame(accountId: kotlin.Long, gameId: kotlin.Long, includeGameData: kotlin.Boolean? = null) : GameResponse {
        val localVarResponse = getGameWithHttpInfo(accountId = accountId, gameId = gameId, includeGameData = includeGameData)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GameResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /game/get
     * Get a Game by id
     * Get a Game by id.
     * @param accountId The logged in user.
     * @param gameId the updating game&#39;s id.
     * @param includeGameData If true include the game level data, otherwise don&#39;t. default is false. (optional)
     * @return ApiResponse<GameResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getGameWithHttpInfo(accountId: kotlin.Long, gameId: kotlin.Long, includeGameData: kotlin.Boolean?) : ApiResponse<GameResponse?> {
        val localVariableConfig = getGameRequestConfig(accountId = accountId, gameId = gameId, includeGameData = includeGameData)

        return request<Unit, GameResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getGame
     *
     * @param accountId The logged in user.
     * @param gameId the updating game&#39;s id.
     * @param includeGameData If true include the game level data, otherwise don&#39;t. default is false. (optional)
     * @return RequestConfig
     */
    fun getGameRequestConfig(accountId: kotlin.Long, gameId: kotlin.Long, includeGameData: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("gameId", listOf(gameId.toString()))
                if (includeGameData != null) {
                    put("includeGameData", listOf(includeGameData.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/game/get",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /game/search
     * Search a Game
     * Get a list of games for an application, just those the account has permissions to view.
     * @param accountId The logged in user.
     * @param appKey the application key
     * @param start Start the result set at some index.
     * @param limit Limit the result to some number.
     * @param keyword Match the keyword to the owner name or level name. (optional)
     * @param appVersion The maximum version of the level to return. (optional)
     * @param includeGameData more details in response (optional)
     * @param includeInactive more details in response (optional)
     * @return GameResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchGames(accountId: kotlin.Long, appKey: kotlin.String, start: kotlin.Int, limit: kotlin.Int, keyword: kotlin.String? = null, appVersion: kotlin.String? = null, includeGameData: kotlin.Boolean? = null, includeInactive: kotlin.Boolean? = null) : GameResponse {
        val localVarResponse = searchGamesWithHttpInfo(accountId = accountId, appKey = appKey, start = start, limit = limit, keyword = keyword, appVersion = appVersion, includeGameData = includeGameData, includeInactive = includeInactive)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GameResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /game/search
     * Search a Game
     * Get a list of games for an application, just those the account has permissions to view.
     * @param accountId The logged in user.
     * @param appKey the application key
     * @param start Start the result set at some index.
     * @param limit Limit the result to some number.
     * @param keyword Match the keyword to the owner name or level name. (optional)
     * @param appVersion The maximum version of the level to return. (optional)
     * @param includeGameData more details in response (optional)
     * @param includeInactive more details in response (optional)
     * @return ApiResponse<GameResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchGamesWithHttpInfo(accountId: kotlin.Long, appKey: kotlin.String, start: kotlin.Int, limit: kotlin.Int, keyword: kotlin.String?, appVersion: kotlin.String?, includeGameData: kotlin.Boolean?, includeInactive: kotlin.Boolean?) : ApiResponse<GameResponse?> {
        val localVariableConfig = searchGamesRequestConfig(accountId = accountId, appKey = appKey, start = start, limit = limit, keyword = keyword, appVersion = appVersion, includeGameData = includeGameData, includeInactive = includeInactive)

        return request<Unit, GameResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchGames
     *
     * @param accountId The logged in user.
     * @param appKey the application key
     * @param start Start the result set at some index.
     * @param limit Limit the result to some number.
     * @param keyword Match the keyword to the owner name or level name. (optional)
     * @param appVersion The maximum version of the level to return. (optional)
     * @param includeGameData more details in response (optional)
     * @param includeInactive more details in response (optional)
     * @return RequestConfig
     */
    fun searchGamesRequestConfig(accountId: kotlin.Long, appKey: kotlin.String, start: kotlin.Int, limit: kotlin.Int, keyword: kotlin.String?, appVersion: kotlin.String?, includeGameData: kotlin.Boolean?, includeInactive: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("appKey", listOf(appKey.toString()))
                if (keyword != null) {
                    put("keyword", listOf(keyword.toString()))
                }
                put("start", listOf(start.toString()))
                put("limit", listOf(limit.toString()))
                if (appVersion != null) {
                    put("appVersion", listOf(appVersion.toString()))
                }
                if (includeGameData != null) {
                    put("includeGameData", listOf(includeGameData.toString()))
                }
                if (includeInactive != null) {
                    put("includeInactive", listOf(includeInactive.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/game/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /game/update
     * Update a Game
     * Update a Game
     * @param accountId The logged in user. (optional)
     * @param gameId the updating game&#39;s id (optional)
     * @param appKey The game application key to save the level for. (optional)
     * @param title Title of the Game. (optional)
     * @param description Description of the Game. (optional)
     * @param metaData metaData of the Game. (optional)
     * @param packIds comma separated String of pack Ids that will associate with the game. (optional)
     * @param includeGameData show more details in response. (optional)
     * @return GameResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateGame(accountId: kotlin.Long? = null, gameId: kotlin.Long? = null, appKey: kotlin.String? = null, title: kotlin.String? = null, description: kotlin.String? = null, metaData: kotlin.String? = null, packIds: kotlin.String? = null, includeGameData: kotlin.Boolean? = null) : GameResponse {
        val localVarResponse = updateGameWithHttpInfo(accountId = accountId, gameId = gameId, appKey = appKey, title = title, description = description, metaData = metaData, packIds = packIds, includeGameData = includeGameData)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as GameResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /game/update
     * Update a Game
     * Update a Game
     * @param accountId The logged in user. (optional)
     * @param gameId the updating game&#39;s id (optional)
     * @param appKey The game application key to save the level for. (optional)
     * @param title Title of the Game. (optional)
     * @param description Description of the Game. (optional)
     * @param metaData metaData of the Game. (optional)
     * @param packIds comma separated String of pack Ids that will associate with the game. (optional)
     * @param includeGameData show more details in response. (optional)
     * @return ApiResponse<GameResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateGameWithHttpInfo(accountId: kotlin.Long?, gameId: kotlin.Long?, appKey: kotlin.String?, title: kotlin.String?, description: kotlin.String?, metaData: kotlin.String?, packIds: kotlin.String?, includeGameData: kotlin.Boolean?) : ApiResponse<GameResponse?> {
        val localVariableConfig = updateGameRequestConfig(accountId = accountId, gameId = gameId, appKey = appKey, title = title, description = description, metaData = metaData, packIds = packIds, includeGameData = includeGameData)

        return request<Unit, GameResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateGame
     *
     * @param accountId The logged in user. (optional)
     * @param gameId the updating game&#39;s id (optional)
     * @param appKey The game application key to save the level for. (optional)
     * @param title Title of the Game. (optional)
     * @param description Description of the Game. (optional)
     * @param metaData metaData of the Game. (optional)
     * @param packIds comma separated String of pack Ids that will associate with the game. (optional)
     * @param includeGameData show more details in response. (optional)
     * @return RequestConfig
     */
    fun updateGameRequestConfig(accountId: kotlin.Long?, gameId: kotlin.Long?, appKey: kotlin.String?, title: kotlin.String?, description: kotlin.String?, metaData: kotlin.String?, packIds: kotlin.String?, includeGameData: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (gameId != null) {
                    put("gameId", listOf(gameId.toString()))
                }
                if (appKey != null) {
                    put("appKey", listOf(appKey.toString()))
                }
                if (title != null) {
                    put("title", listOf(title.toString()))
                }
                if (description != null) {
                    put("description", listOf(description.toString()))
                }
                if (metaData != null) {
                    put("metaData", listOf(metaData.toString()))
                }
                if (packIds != null) {
                    put("packIds", listOf(packIds.toString()))
                }
                if (includeGameData != null) {
                    put("includeGameData", listOf(includeGameData.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/game/update",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
