/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.MissionResponse
import org.openapitools.client.models.SirqulResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class MissionInviteApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /mission/invite/create
     * Create Mission Invite
     * Create the mission invite. An account can only be invited to a mission one time. For missions that require user submission and reviewing the permissionableType and permissionableId need to be provided.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param missionId The mission to find the invite for. (optional)
     * @param joinCode code to be entered for user to join the mission (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return MissionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createMissionInvite(deviceId: kotlin.String? = null, accountId: kotlin.Long? = null, missionId: kotlin.Long? = null, joinCode: kotlin.String? = null, includeGameData: kotlin.Boolean? = null) : MissionResponse {
        val localVarResponse = createMissionInviteWithHttpInfo(deviceId = deviceId, accountId = accountId, missionId = missionId, joinCode = joinCode, includeGameData = includeGameData)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MissionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /mission/invite/create
     * Create Mission Invite
     * Create the mission invite. An account can only be invited to a mission one time. For missions that require user submission and reviewing the permissionableType and permissionableId need to be provided.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param missionId The mission to find the invite for. (optional)
     * @param joinCode code to be entered for user to join the mission (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return ApiResponse<MissionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createMissionInviteWithHttpInfo(deviceId: kotlin.String?, accountId: kotlin.Long?, missionId: kotlin.Long?, joinCode: kotlin.String?, includeGameData: kotlin.Boolean?) : ApiResponse<MissionResponse?> {
        val localVariableConfig = createMissionInviteRequestConfig(deviceId = deviceId, accountId = accountId, missionId = missionId, joinCode = joinCode, includeGameData = includeGameData)

        return request<Unit, MissionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createMissionInvite
     *
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param missionId The mission to find the invite for. (optional)
     * @param joinCode code to be entered for user to join the mission (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return RequestConfig
     */
    fun createMissionInviteRequestConfig(deviceId: kotlin.String?, accountId: kotlin.Long?, missionId: kotlin.Long?, joinCode: kotlin.String?, includeGameData: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (missionId != null) {
                    put("missionId", listOf(missionId.toString()))
                }
                if (joinCode != null) {
                    put("joinCode", listOf(joinCode.toString()))
                }
                if (includeGameData != null) {
                    put("includeGameData", listOf(includeGameData.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/mission/invite/create",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /mission/invite/delete
     * Delete Mission Invite
     * Update the mission invite status to quit.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param missionId The mission to find the invite for (missionId or missionInviteId requried). (optional)
     * @param missionInviteId The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried). (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteMissionInvite(deviceId: kotlin.String? = null, accountId: kotlin.Long? = null, missionId: kotlin.Long? = null, missionInviteId: kotlin.Long? = null, includeGameData: kotlin.Boolean? = null) : SirqulResponse {
        val localVarResponse = deleteMissionInviteWithHttpInfo(deviceId = deviceId, accountId = accountId, missionId = missionId, missionInviteId = missionInviteId, includeGameData = includeGameData)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /mission/invite/delete
     * Delete Mission Invite
     * Update the mission invite status to quit.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param missionId The mission to find the invite for (missionId or missionInviteId requried). (optional)
     * @param missionInviteId The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried). (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteMissionInviteWithHttpInfo(deviceId: kotlin.String?, accountId: kotlin.Long?, missionId: kotlin.Long?, missionInviteId: kotlin.Long?, includeGameData: kotlin.Boolean?) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = deleteMissionInviteRequestConfig(deviceId = deviceId, accountId = accountId, missionId = missionId, missionInviteId = missionInviteId, includeGameData = includeGameData)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteMissionInvite
     *
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param missionId The mission to find the invite for (missionId or missionInviteId requried). (optional)
     * @param missionInviteId The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried). (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return RequestConfig
     */
    fun deleteMissionInviteRequestConfig(deviceId: kotlin.String?, accountId: kotlin.Long?, missionId: kotlin.Long?, missionInviteId: kotlin.Long?, includeGameData: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (missionId != null) {
                    put("missionId", listOf(missionId.toString()))
                }
                if (missionInviteId != null) {
                    put("missionInviteId", listOf(missionInviteId.toString()))
                }
                if (includeGameData != null) {
                    put("includeGameData", listOf(includeGameData.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/mission/invite/delete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /mission/invite/get
     * Get Mission Invite
     * Get the mission invite. An account can only be invited to a mission one time.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param missionId The mission to find the invite for (missionId or missionInviteId requried). (optional)
     * @param missionInviteId The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried). (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @param includeScores include the scores with the mission (optional)
     * @return MissionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getMissionInvite(deviceId: kotlin.String? = null, accountId: kotlin.Long? = null, missionId: kotlin.Long? = null, missionInviteId: kotlin.Long? = null, includeGameData: kotlin.Boolean? = null, includeScores: kotlin.String? = null) : MissionResponse {
        val localVarResponse = getMissionInviteWithHttpInfo(deviceId = deviceId, accountId = accountId, missionId = missionId, missionInviteId = missionInviteId, includeGameData = includeGameData, includeScores = includeScores)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MissionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /mission/invite/get
     * Get Mission Invite
     * Get the mission invite. An account can only be invited to a mission one time.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param missionId The mission to find the invite for (missionId or missionInviteId requried). (optional)
     * @param missionInviteId The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried). (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @param includeScores include the scores with the mission (optional)
     * @return ApiResponse<MissionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getMissionInviteWithHttpInfo(deviceId: kotlin.String?, accountId: kotlin.Long?, missionId: kotlin.Long?, missionInviteId: kotlin.Long?, includeGameData: kotlin.Boolean?, includeScores: kotlin.String?) : ApiResponse<MissionResponse?> {
        val localVariableConfig = getMissionInviteRequestConfig(deviceId = deviceId, accountId = accountId, missionId = missionId, missionInviteId = missionInviteId, includeGameData = includeGameData, includeScores = includeScores)

        return request<Unit, MissionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getMissionInvite
     *
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param missionId The mission to find the invite for (missionId or missionInviteId requried). (optional)
     * @param missionInviteId The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried). (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @param includeScores include the scores with the mission (optional)
     * @return RequestConfig
     */
    fun getMissionInviteRequestConfig(deviceId: kotlin.String?, accountId: kotlin.Long?, missionId: kotlin.Long?, missionInviteId: kotlin.Long?, includeGameData: kotlin.Boolean?, includeScores: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (missionId != null) {
                    put("missionId", listOf(missionId.toString()))
                }
                if (missionInviteId != null) {
                    put("missionInviteId", listOf(missionInviteId.toString()))
                }
                if (includeGameData != null) {
                    put("includeGameData", listOf(includeGameData.toString()))
                }
                if (includeScores != null) {
                    put("includeScores", listOf(includeScores.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/mission/invite/get",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /mission/invite/search
     * Search Mission Invites
     * Get a list of mission invites that the account has.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param appKey the app to retrieve the data for, use your application key. (optional)
     * @param appVersion the application version, used to version the game level data (optional)
     * @param missionId the mission id to filter on (optional)
     * @param status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED} (optional)
     * @param lastUpdated Only return invites that have been updated since this date/time (long) (optional)
     * @param start The index into the record set to start with. (optional)
     * @param limit The total number of record to return. (optional)
     * @param keyword the keyword to search on (optional)
     * @param missionTypes  (optional)
     * @param filterByBillable filter results by the account&#39;s billable (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return kotlin.collections.List<MissionResponse>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchMissionInvites(deviceId: kotlin.String? = null, accountId: kotlin.Long? = null, appKey: kotlin.String? = null, appVersion: kotlin.String? = null, missionId: kotlin.Long? = null, status: kotlin.String? = null, lastUpdated: kotlin.Long? = null, start: kotlin.Int? = null, limit: kotlin.Int? = null, keyword: kotlin.String? = null, missionTypes: kotlin.String? = null, filterByBillable: kotlin.Boolean? = null, includeGameData: kotlin.Boolean? = null) : kotlin.collections.List<MissionResponse> {
        val localVarResponse = searchMissionInvitesWithHttpInfo(deviceId = deviceId, accountId = accountId, appKey = appKey, appVersion = appVersion, missionId = missionId, status = status, lastUpdated = lastUpdated, start = start, limit = limit, keyword = keyword, missionTypes = missionTypes, filterByBillable = filterByBillable, includeGameData = includeGameData)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<MissionResponse>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /mission/invite/search
     * Search Mission Invites
     * Get a list of mission invites that the account has.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param appKey the app to retrieve the data for, use your application key. (optional)
     * @param appVersion the application version, used to version the game level data (optional)
     * @param missionId the mission id to filter on (optional)
     * @param status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED} (optional)
     * @param lastUpdated Only return invites that have been updated since this date/time (long) (optional)
     * @param start The index into the record set to start with. (optional)
     * @param limit The total number of record to return. (optional)
     * @param keyword the keyword to search on (optional)
     * @param missionTypes  (optional)
     * @param filterByBillable filter results by the account&#39;s billable (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return ApiResponse<kotlin.collections.List<MissionResponse>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchMissionInvitesWithHttpInfo(deviceId: kotlin.String?, accountId: kotlin.Long?, appKey: kotlin.String?, appVersion: kotlin.String?, missionId: kotlin.Long?, status: kotlin.String?, lastUpdated: kotlin.Long?, start: kotlin.Int?, limit: kotlin.Int?, keyword: kotlin.String?, missionTypes: kotlin.String?, filterByBillable: kotlin.Boolean?, includeGameData: kotlin.Boolean?) : ApiResponse<kotlin.collections.List<MissionResponse>?> {
        val localVariableConfig = searchMissionInvitesRequestConfig(deviceId = deviceId, accountId = accountId, appKey = appKey, appVersion = appVersion, missionId = missionId, status = status, lastUpdated = lastUpdated, start = start, limit = limit, keyword = keyword, missionTypes = missionTypes, filterByBillable = filterByBillable, includeGameData = includeGameData)

        return request<Unit, kotlin.collections.List<MissionResponse>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchMissionInvites
     *
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param appKey the app to retrieve the data for, use your application key. (optional)
     * @param appVersion the application version, used to version the game level data (optional)
     * @param missionId the mission id to filter on (optional)
     * @param status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED} (optional)
     * @param lastUpdated Only return invites that have been updated since this date/time (long) (optional)
     * @param start The index into the record set to start with. (optional)
     * @param limit The total number of record to return. (optional)
     * @param keyword the keyword to search on (optional)
     * @param missionTypes  (optional)
     * @param filterByBillable filter results by the account&#39;s billable (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return RequestConfig
     */
    fun searchMissionInvitesRequestConfig(deviceId: kotlin.String?, accountId: kotlin.Long?, appKey: kotlin.String?, appVersion: kotlin.String?, missionId: kotlin.Long?, status: kotlin.String?, lastUpdated: kotlin.Long?, start: kotlin.Int?, limit: kotlin.Int?, keyword: kotlin.String?, missionTypes: kotlin.String?, filterByBillable: kotlin.Boolean?, includeGameData: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (appKey != null) {
                    put("appKey", listOf(appKey.toString()))
                }
                if (appVersion != null) {
                    put("appVersion", listOf(appVersion.toString()))
                }
                if (missionId != null) {
                    put("missionId", listOf(missionId.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (lastUpdated != null) {
                    put("lastUpdated", listOf(lastUpdated.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                if (keyword != null) {
                    put("keyword", listOf(keyword.toString()))
                }
                if (missionTypes != null) {
                    put("missionTypes", listOf(missionTypes.toString()))
                }
                if (filterByBillable != null) {
                    put("filterByBillable", listOf(filterByBillable.toString()))
                }
                if (includeGameData != null) {
                    put("includeGameData", listOf(includeGameData.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/mission/invite/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /mission/invite/update
     * Update Mission Invite
     * Update the mission invite status. An account can only be invited to a mission one time. For missions that require user submission and reviewing the permissionableType and permissionableId need to be provided.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param appKey the application key (optional)
     * @param missionId The mission to find the invite for (missionId or missionInviteId requried). (optional)
     * @param missionInviteId The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried). (optional)
     * @param packId the pack id to find the invite for (optional)
     * @param gameLevelId the game level id to find the invite for (optional)
     * @param status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED} (optional)
     * @param permissionableType This is the content type for missions that require user submission. Note that user submitted content must require a status of PENDING_REVIEW to be accpeted. {ACCOUNT, GAMELEVEL, COLLECTION, ALBUM_CONTEST, THEME_DESCRIPTOR, ALBUM} (optional)
     * @param permissionableId The id of the content being submitted. (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return MissionResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateMissionInvite(deviceId: kotlin.String? = null, accountId: kotlin.Long? = null, appKey: kotlin.String? = null, missionId: kotlin.Long? = null, missionInviteId: kotlin.Long? = null, packId: kotlin.Long? = null, gameLevelId: kotlin.Long? = null, status: kotlin.String? = null, permissionableType: kotlin.String? = null, permissionableId: kotlin.Long? = null, includeGameData: kotlin.Boolean? = null) : MissionResponse {
        val localVarResponse = updateMissionInviteWithHttpInfo(deviceId = deviceId, accountId = accountId, appKey = appKey, missionId = missionId, missionInviteId = missionInviteId, packId = packId, gameLevelId = gameLevelId, status = status, permissionableType = permissionableType, permissionableId = permissionableId, includeGameData = includeGameData)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as MissionResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /mission/invite/update
     * Update Mission Invite
     * Update the mission invite status. An account can only be invited to a mission one time. For missions that require user submission and reviewing the permissionableType and permissionableId need to be provided.
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param appKey the application key (optional)
     * @param missionId The mission to find the invite for (missionId or missionInviteId requried). (optional)
     * @param missionInviteId The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried). (optional)
     * @param packId the pack id to find the invite for (optional)
     * @param gameLevelId the game level id to find the invite for (optional)
     * @param status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED} (optional)
     * @param permissionableType This is the content type for missions that require user submission. Note that user submitted content must require a status of PENDING_REVIEW to be accpeted. {ACCOUNT, GAMELEVEL, COLLECTION, ALBUM_CONTEST, THEME_DESCRIPTOR, ALBUM} (optional)
     * @param permissionableId The id of the content being submitted. (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return ApiResponse<MissionResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateMissionInviteWithHttpInfo(deviceId: kotlin.String?, accountId: kotlin.Long?, appKey: kotlin.String?, missionId: kotlin.Long?, missionInviteId: kotlin.Long?, packId: kotlin.Long?, gameLevelId: kotlin.Long?, status: kotlin.String?, permissionableType: kotlin.String?, permissionableId: kotlin.Long?, includeGameData: kotlin.Boolean?) : ApiResponse<MissionResponse?> {
        val localVariableConfig = updateMissionInviteRequestConfig(deviceId = deviceId, accountId = accountId, appKey = appKey, missionId = missionId, missionInviteId = missionInviteId, packId = packId, gameLevelId = gameLevelId, status = status, permissionableType = permissionableType, permissionableId = permissionableId, includeGameData = includeGameData)

        return request<Unit, MissionResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateMissionInvite
     *
     * @param deviceId the device id (deviceId or accountId required). (optional)
     * @param accountId the account id of the user (deviceId or accountId required). (optional)
     * @param appKey the application key (optional)
     * @param missionId The mission to find the invite for (missionId or missionInviteId requried). (optional)
     * @param missionInviteId The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried). (optional)
     * @param packId the pack id to find the invite for (optional)
     * @param gameLevelId the game level id to find the invite for (optional)
     * @param status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED} (optional)
     * @param permissionableType This is the content type for missions that require user submission. Note that user submitted content must require a status of PENDING_REVIEW to be accpeted. {ACCOUNT, GAMELEVEL, COLLECTION, ALBUM_CONTEST, THEME_DESCRIPTOR, ALBUM} (optional)
     * @param permissionableId The id of the content being submitted. (optional)
     * @param includeGameData Include the game level data with the mission. (optional)
     * @return RequestConfig
     */
    fun updateMissionInviteRequestConfig(deviceId: kotlin.String?, accountId: kotlin.Long?, appKey: kotlin.String?, missionId: kotlin.Long?, missionInviteId: kotlin.Long?, packId: kotlin.Long?, gameLevelId: kotlin.Long?, status: kotlin.String?, permissionableType: kotlin.String?, permissionableId: kotlin.Long?, includeGameData: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (appKey != null) {
                    put("appKey", listOf(appKey.toString()))
                }
                if (missionId != null) {
                    put("missionId", listOf(missionId.toString()))
                }
                if (missionInviteId != null) {
                    put("missionInviteId", listOf(missionInviteId.toString()))
                }
                if (packId != null) {
                    put("packId", listOf(packId.toString()))
                }
                if (gameLevelId != null) {
                    put("gameLevelId", listOf(gameLevelId.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.toString()))
                }
                if (permissionableType != null) {
                    put("permissionableType", listOf(permissionableType.toString()))
                }
                if (permissionableId != null) {
                    put("permissionableId", listOf(permissionableId.toString()))
                }
                if (includeGameData != null) {
                    put("includeGameData", listOf(includeGameData.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/mission/invite/update",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
