/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ListCountResponse
import org.openapitools.client.models.OfferListResponse
import org.openapitools.client.models.OfferResponse
import org.openapitools.client.models.OfferShortResponse
import org.openapitools.client.models.OfferTransactionResponse
import org.openapitools.client.models.RetailerOfferResponse
import org.openapitools.client.models.SirqulResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class OfferApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /retailer/offer/location/batchUpdate
     * Update Offer Locations
     * Batch update offer locations.
     * @param `data` JSON string in the following format: &#x60;&#x60;&#x60;json [{   \&quot;offerLocationId\&quot;: 1705,   \&quot;latitude\&quot;: 54.0,   \&quot;longitude\&quot;: -122.0,   \&quot;altitude\&quot;: 1.0,   \&quot;locationDetail\&quot;: \&quot;floor 1\&quot;,   \&quot;locationDescription\&quot;: \&quot;behind the Coke sign\&quot; }, {   \&quot;offerLocationId\&quot;: 1704,   \&quot;latitude\&quot;: 54.1,   \&quot;longitude\&quot;: -122.1 }] &#x60;&#x60;&#x60; 
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account id of the user (deviceId or accountId required) (optional)
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun batchUpdateOfferLocations(`data`: kotlin.String, deviceId: kotlin.String? = null, accountId: kotlin.Long? = null) : SirqulResponse {
        val localVarResponse = batchUpdateOfferLocationsWithHttpInfo(`data` = `data`, deviceId = deviceId, accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /retailer/offer/location/batchUpdate
     * Update Offer Locations
     * Batch update offer locations.
     * @param `data` JSON string in the following format: &#x60;&#x60;&#x60;json [{   \&quot;offerLocationId\&quot;: 1705,   \&quot;latitude\&quot;: 54.0,   \&quot;longitude\&quot;: -122.0,   \&quot;altitude\&quot;: 1.0,   \&quot;locationDetail\&quot;: \&quot;floor 1\&quot;,   \&quot;locationDescription\&quot;: \&quot;behind the Coke sign\&quot; }, {   \&quot;offerLocationId\&quot;: 1704,   \&quot;latitude\&quot;: 54.1,   \&quot;longitude\&quot;: -122.1 }] &#x60;&#x60;&#x60; 
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account id of the user (deviceId or accountId required) (optional)
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun batchUpdateOfferLocationsWithHttpInfo(`data`: kotlin.String, deviceId: kotlin.String?, accountId: kotlin.Long?) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = batchUpdateOfferLocationsRequestConfig(`data` = `data`, deviceId = deviceId, accountId = accountId)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation batchUpdateOfferLocations
     *
     * @param `data` JSON string in the following format: &#x60;&#x60;&#x60;json [{   \&quot;offerLocationId\&quot;: 1705,   \&quot;latitude\&quot;: 54.0,   \&quot;longitude\&quot;: -122.0,   \&quot;altitude\&quot;: 1.0,   \&quot;locationDetail\&quot;: \&quot;floor 1\&quot;,   \&quot;locationDescription\&quot;: \&quot;behind the Coke sign\&quot; }, {   \&quot;offerLocationId\&quot;: 1704,   \&quot;latitude\&quot;: 54.1,   \&quot;longitude\&quot;: -122.1 }] &#x60;&#x60;&#x60; 
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account id of the user (deviceId or accountId required) (optional)
     * @return RequestConfig
     */
    fun batchUpdateOfferLocationsRequestConfig(`data`: kotlin.String, deviceId: kotlin.String?, accountId: kotlin.Long?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                put("data", listOf(`data`.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/retailer/offer/location/batchUpdate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter barcodeType
     */
     enum class BarcodeTypeCreateOffer(val value: kotlin.String) {
         @Json(name = "NONE") NONE("NONE"),
         @Json(name = "UPC") UPC("UPC"),
         @Json(name = "CODE_128") CODE_128("CODE_128"),
         @Json(name = "QR") QR("QR"),
         @Json(name = "CUSTOM_MEDIA") CUSTOM_MEDIA("CUSTOM_MEDIA");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter offerType
     */
     enum class OfferTypeCreateOffer(val value: kotlin.String) {
         @Json(name = "VOUCHER") VOUCHER("VOUCHER"),
         @Json(name = "COUPON") COUPON("COUPON"),
         @Json(name = "PRODUCT") PRODUCT("PRODUCT"),
         @Json(name = "MEDIA") MEDIA("MEDIA"),
         @Json(name = "EVENT") EVENT("EVENT"),
         @Json(name = "DEVICE") DEVICE("DEVICE");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter specialOfferType
     */
     enum class SpecialOfferTypeCreateOffer(val value: kotlin.String) {
         @Json(name = "ALL") ALL("ALL"),
         @Json(name = "RESERVABLE") RESERVABLE("RESERVABLE"),
         @Json(name = "REGULAR_OFFER") REGULAR_OFFER("REGULAR_OFFER"),
         @Json(name = "ACT_NOW") ACT_NOW("ACT_NOW"),
         @Json(name = "GET_THERE_NOW") GET_THERE_NOW("GET_THERE_NOW"),
         @Json(name = "SQOOT") SQOOT("SQOOT"),
         @Json(name = "TICKETS") TICKETS("TICKETS"),
         @Json(name = "YIPIT") YIPIT("YIPIT");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter offerVisibility
     */
     enum class OfferVisibilityCreateOffer(val value: kotlin.String) {
         @Json(name = "PUBLIC") PUBLIC("PUBLIC"),
         @Json(name = "LISTABLE") LISTABLE("LISTABLE"),
         @Json(name = "REWARDABLE") REWARDABLE("REWARDABLE"),
         @Json(name = "TRIGGERABLE") TRIGGERABLE("TRIGGERABLE"),
         @Json(name = "PRIVATE") PRIVATE("PRIVATE");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter productType
     */
     enum class ProductTypeCreateOffer(val value: kotlin.String) {
         @Json(name = "APPAREL") APPAREL("APPAREL"),
         @Json(name = "APPLIANCES") APPLIANCES("APPLIANCES"),
         @Json(name = "APPS") APPS("APPS"),
         @Json(name = "ARTS_CRAFTS") ARTS_CRAFTS("ARTS_CRAFTS"),
         @Json(name = "AUTOMOTIVE") AUTOMOTIVE("AUTOMOTIVE"),
         @Json(name = "BABY") BABY("BABY"),
         @Json(name = "BEAUTY") BEAUTY("BEAUTY"),
         @Json(name = "BOOKS") BOOKS("BOOKS"),
         @Json(name = "CLASSICAL") CLASSICAL("CLASSICAL"),
         @Json(name = "COLLECTIBLES") COLLECTIBLES("COLLECTIBLES"),
         @Json(name = "DVD") DVD("DVD"),
         @Json(name = "ELECTRONICS") ELECTRONICS("ELECTRONICS"),
         @Json(name = "GIFT_CARDS") GIFT_CARDS("GIFT_CARDS"),
         @Json(name = "GOURMET_FOOD") GOURMET_FOOD("GOURMET_FOOD"),
         @Json(name = "GROCERY") GROCERY("GROCERY"),
         @Json(name = "HEALTH_PERSONAL_CARE") HEALTH_PERSONAL_CARE("HEALTH_PERSONAL_CARE"),
         @Json(name = "HOME_GARDEN") HOME_GARDEN("HOME_GARDEN"),
         @Json(name = "INDUSTRIAL") INDUSTRIAL("INDUSTRIAL"),
         @Json(name = "JEWELRY") JEWELRY("JEWELRY"),
         @Json(name = "KITCHEN") KITCHEN("KITCHEN"),
         @Json(name = "LAWN_GARDEN") LAWN_GARDEN("LAWN_GARDEN"),
         @Json(name = "MAGAZINES") MAGAZINES("MAGAZINES"),
         @Json(name = "MISCELLANEOUS") MISCELLANEOUS("MISCELLANEOUS"),
         @Json(name = "MUSICAL_INSTRUMENTS") MUSICAL_INSTRUMENTS("MUSICAL_INSTRUMENTS"),
         @Json(name = "OFFICE_PRODUCTS") OFFICE_PRODUCTS("OFFICE_PRODUCTS"),
         @Json(name = "OTHER") OTHER("OTHER"),
         @Json(name = "OUTDOOR_LIVING") OUTDOOR_LIVING("OUTDOOR_LIVING"),
         @Json(name = "PC_HARDWARE") PC_HARDWARE("PC_HARDWARE"),
         @Json(name = "PET_SUPPLIES") PET_SUPPLIES("PET_SUPPLIES"),
         @Json(name = "SHOES") SHOES("SHOES"),
         @Json(name = "SOFTWARE") SOFTWARE("SOFTWARE"),
         @Json(name = "SPORTING_GOODS") SPORTING_GOODS("SPORTING_GOODS"),
         @Json(name = "TOOLS") TOOLS("TOOLS"),
         @Json(name = "TOYS") TOYS("TOYS"),
         @Json(name = "VIDEO_GAMES") VIDEO_GAMES("VIDEO_GAMES"),
         @Json(name = "WATCHES") WATCHES("WATCHES"),
         @Json(name = "WIRELESS") WIRELESS("WIRELESS"),
         @Json(name = "WIRELESS_ACCESSORIES") WIRELESS_ACCESSORIES("WIRELESS_ACCESSORIES");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter conditionType
     */
     enum class ConditionTypeCreateOffer(val value: kotlin.String) {
         @Json(name = "NEW") NEW("NEW"),
         @Json(name = "USED") USED("USED"),
         @Json(name = "REFURBISHED") REFURBISHED("REFURBISHED"),
         @Json(name = "OTHER") OTHER("OTHER");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter unit
     */
     enum class UnitCreateOffer(val value: kotlin.String) {
         @Json(name = "MILIMETER") MILIMETER("MILIMETER"),
         @Json(name = "CENTIMETER") CENTIMETER("CENTIMETER"),
         @Json(name = "METER") METER("METER"),
         @Json(name = "INCH") INCH("INCH"),
         @Json(name = "FOOT") FOOT("FOOT"),
         @Json(name = "YARD") YARD("YARD");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * enum for parameter mediaType
     */
     enum class MediaTypeCreateOffer(val value: kotlin.String) {
         @Json(name = "APK") APK("APK"),
         @Json(name = "APPLICATION") APPLICATION("APPLICATION"),
         @Json(name = "IMAGE") IMAGE("IMAGE"),
         @Json(name = "AUDIO") AUDIO("AUDIO"),
         @Json(name = "VIDEO") VIDEO("VIDEO"),
         @Json(name = "MULTIPART") MULTIPART("MULTIPART"),
         @Json(name = "BAR_CODE") BAR_CODE("BAR_CODE"),
         @Json(name = "TEXT") TEXT("TEXT"),
         @Json(name = "OTHER") OTHER("OTHER");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * POST /retailer/offer/create
     * Create Offer
     * Create an offer and assign it to the provided retailer locations.
     * @param includeOfferLocations If true return all the offer locations associated with the offer
     * @param title The title (255 char limit)
     * @param barcodeType The bar code type {NONE, UPC, CODE_128, QR, CUSTOM_MEDIA}
     * @param noExpiration Overrides the expiration date so that the offer does not expire
     * @param availableLimit The limit of how many times the offer can be used by consumers
     * @param availableLimitPerUser The limit of how many times a user can used the same offer
     * @param addedLimit The limit of how many times the offer can be added to consumer wallets
     * @param viewLimit The limit of how many times the offer can be viewed
     * @param maxPrints The maximum number of times the offer can be printed
     * @param ticketPrice The cost of the offer in tickets
     * @param fullPrice The retail/full price cost of the offer in real currency
     * @param discountPrice The cost of the offer at a discounted price (what the consumer pays)
     * @param offerType The offer type {VOUCHER, COUPON, PRODUCT, EVENT, MEDIA, DEVICE}
     * @param specialOfferType The special offer type {ALL, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}
     * @param offerVisibility The offer visibility {PUBLIC, REWARDABLE, TRIGGERABLE}
     * @param active Sets the active flag
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account id (deviceId or accountId required) (optional)
     * @param tags Custom string field for doing full-text searches (optional)
     * @param parentOfferId the parent offer id (optional)
     * @param retailerLocationIds Comma separated list of retailer location ids. This will assign the offer to these retailer locations. (optional)
     * @param offerLocations A list of json data that has offer location specific values. (optional)
     * @param subTitle The sub title (255 char limit) (optional)
     * @param details The details (optional)
     * @param subDetails A string for custom details (255 char limit) (optional)
     * @param finePrint The fine print (optional)
     * @param barcodeEntry The bar code entry string (optional)
     * @param externalRedeemOptions An external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer (optional)
     * @param externalUrl The clickUrl of the offer (optional)
     * @param externalId an external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer (optional)
     * @param ticketsRewardType The type of ticket to reward, null means default type (optional)
     * @param ticketsReward Determines how many tickets are awarded (optional)
     * @param activated The date of when the offer will be visible to consumers (optional)
     * @param expires The date of when the offer expires (optional)
     * @param ticketPriceType the type of ticket needed to buy offer (optional)
     * @param showRemaining show remaining offers available (optional)
     * @param showRedeemed show how many offers have been redeemed (optional)
     * @param replaced  (optional)
     * @param featured flag if offer is featured or not (optional)
     * @param categoryIds Comma separated list of category ids (optional)
     * @param filterIds Comma separated list of filter ids (optional)
     * @param barcodeAssetId The id of the barcode asset (optional)
     * @param imageAssetId The id of the an offer asset (optional)
     * @param imageAssetId1 The id of the an offer asset (optional)
     * @param imageAssetId2 The id of the an offer asset (optional)
     * @param imageAssetId3 The id of the an offer asset (optional)
     * @param imageAssetId4 The id of the an offer asset (optional)
     * @param imageAssetId5 The id of the an offer asset (optional)
     * @param publisher The maker of the item. (optional)
     * @param redeemableStart The redeemable start date/time of the offer. (optional)
     * @param redeemableEnd The redeemable start date/time of the offer. (optional)
     * @param brand The brand. OfferType PRODUCT only. (optional)
     * @param productType The product type. OfferType PRODUCT only. (optional)
     * @param conditionType The condition. OfferType PRODUCT only. (optional)
     * @param isbn The ISBN id. OfferType PRODUCT only. (optional)
     * @param asin The ASIN id. OfferType PRODUCT only. (optional)
     * @param catalogNumbers The list of catelog numbers, comma seperated. OfferType PRODUCT only. (optional)
     * @param department The department name. The OfferType PRODUCT only. (optional)
     * @param features The list of features, comma seperated. OfferType PRODUCT only. (optional)
     * @param minimumPrice The MAP price. OfferType PRODUCT only. (optional)
     * @param width The width of the item. OfferType PRODUCT only. (optional)
     * @param height The height of the item. OfferType PRODUCT only. (optional)
     * @param depth The depth of the item. OfferType PRODUCT only. (optional)
     * @param weight The weight of the item. OfferType PRODUCT only. (optional)
     * @param unit The unit of measurement. OfferType PRODUCT only. (optional)
     * @param studio The studio name. OfferType PRODUCT only. (optional)
     * @param parentalRating The parental control rating. OfferType PRODUCT only. (optional)
     * @param publishDate The date published. OfferType PRODUCT only. (optional)
     * @param availabilityDate The date available. OfferType PRODUCT only. (optional)
     * @param sizeId  (optional)
     * @param listingId The ID of the event listing (optional)
     * @param mediaType the media type of the offer (optional)
     * @param duration The total playing time of the media item. OfferType MEDIA only. (optional)
     * @param author The created/author of the media item. OfferType MEDIA only. (optional)
     * @param releaseDate The date/time of when the media item was originally released. OfferType MEDIA only. (optional)
     * @param collectionIds  (optional)
     * @param rebootTimeHour The reboot hour time ranging from 0 to 23 (optional)
     * @param rebootTimeMinute The reboot minute time ranging from 0 to 59 (optional)
     * @param idleTimeoutInSecond If the device is idle for idleTimeoutInSecond then the device should timeout (optional)
     * @param serialNumber The serial number on the device (optional)
     * @param udid The unique device id for the device (optional)
     * @param deviceType The type of the device, for example: \&quot;Kiosk\&quot;, \&quot;Beacon\&quot;. (optional)
     * @param devicePower Edysen device power level setting (optional)
     * @param deviceInterference Edysen device inteference setting (optional)
     * @param availability  (optional)
     * @param availabilitySummary  (optional)
     * @return RetailerOfferResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createOffer(includeOfferLocations: kotlin.Boolean, title: kotlin.String, barcodeType: BarcodeTypeCreateOffer, noExpiration: kotlin.Boolean, availableLimit: kotlin.Int, availableLimitPerUser: kotlin.Int, addedLimit: kotlin.Int, viewLimit: kotlin.Int, maxPrints: kotlin.Int, ticketPrice: kotlin.Long, fullPrice: kotlin.Double, discountPrice: kotlin.Double, offerType: OfferTypeCreateOffer, specialOfferType: SpecialOfferTypeCreateOffer, offerVisibility: OfferVisibilityCreateOffer, active: kotlin.Boolean, deviceId: kotlin.String? = null, accountId: kotlin.Long? = null, tags: kotlin.String? = null, parentOfferId: kotlin.Long? = null, retailerLocationIds: kotlin.String? = null, offerLocations: kotlin.String? = null, subTitle: kotlin.String? = null, details: kotlin.String? = null, subDetails: kotlin.String? = null, finePrint: kotlin.String? = null, barcodeEntry: kotlin.String? = null, externalRedeemOptions: kotlin.String? = null, externalUrl: kotlin.String? = null, externalId: kotlin.String? = null, ticketsRewardType: kotlin.String? = null, ticketsReward: kotlin.Long? = null, activated: kotlin.Long? = null, expires: kotlin.Long? = null, ticketPriceType: kotlin.String? = null, showRemaining: kotlin.Boolean? = null, showRedeemed: kotlin.Boolean? = null, replaced: kotlin.Boolean? = null, featured: kotlin.Boolean? = null, categoryIds: kotlin.String? = null, filterIds: kotlin.String? = null, barcodeAssetId: kotlin.Long? = null, imageAssetId: kotlin.Long? = null, imageAssetId1: kotlin.Long? = null, imageAssetId2: kotlin.Long? = null, imageAssetId3: kotlin.Long? = null, imageAssetId4: kotlin.Long? = null, imageAssetId5: kotlin.Long? = null, publisher: kotlin.String? = null, redeemableStart: kotlin.Long? = null, redeemableEnd: kotlin.Long? = null, brand: kotlin.String? = null, productType: ProductTypeCreateOffer? = null, conditionType: ConditionTypeCreateOffer? = null, isbn: kotlin.String? = null, asin: kotlin.String? = null, catalogNumbers: kotlin.String? = null, department: kotlin.String? = null, features: kotlin.String? = null, minimumPrice: kotlin.Double? = null, width: kotlin.Double? = null, height: kotlin.Double? = null, depth: kotlin.Double? = null, weight: kotlin.Double? = null, unit: UnitCreateOffer? = null, studio: kotlin.String? = null, parentalRating: kotlin.String? = null, publishDate: kotlin.Long? = null, availabilityDate: kotlin.Long? = null, sizeId: kotlin.Long? = null, listingId: kotlin.Long? = null, mediaType: MediaTypeCreateOffer? = null, duration: kotlin.Int? = null, author: kotlin.String? = null, releaseDate: kotlin.Long? = null, collectionIds: kotlin.String? = null, rebootTimeHour: kotlin.Int? = null, rebootTimeMinute: kotlin.Int? = null, idleTimeoutInSecond: kotlin.Int? = null, serialNumber: kotlin.String? = null, udid: kotlin.String? = null, deviceType: kotlin.String? = null, devicePower: kotlin.Double? = null, deviceInterference: kotlin.Double? = null, availability: kotlin.String? = null, availabilitySummary: kotlin.String? = null) : RetailerOfferResponse {
        val localVarResponse = createOfferWithHttpInfo(includeOfferLocations = includeOfferLocations, title = title, barcodeType = barcodeType, noExpiration = noExpiration, availableLimit = availableLimit, availableLimitPerUser = availableLimitPerUser, addedLimit = addedLimit, viewLimit = viewLimit, maxPrints = maxPrints, ticketPrice = ticketPrice, fullPrice = fullPrice, discountPrice = discountPrice, offerType = offerType, specialOfferType = specialOfferType, offerVisibility = offerVisibility, active = active, deviceId = deviceId, accountId = accountId, tags = tags, parentOfferId = parentOfferId, retailerLocationIds = retailerLocationIds, offerLocations = offerLocations, subTitle = subTitle, details = details, subDetails = subDetails, finePrint = finePrint, barcodeEntry = barcodeEntry, externalRedeemOptions = externalRedeemOptions, externalUrl = externalUrl, externalId = externalId, ticketsRewardType = ticketsRewardType, ticketsReward = ticketsReward, activated = activated, expires = expires, ticketPriceType = ticketPriceType, showRemaining = showRemaining, showRedeemed = showRedeemed, replaced = replaced, featured = featured, categoryIds = categoryIds, filterIds = filterIds, barcodeAssetId = barcodeAssetId, imageAssetId = imageAssetId, imageAssetId1 = imageAssetId1, imageAssetId2 = imageAssetId2, imageAssetId3 = imageAssetId3, imageAssetId4 = imageAssetId4, imageAssetId5 = imageAssetId5, publisher = publisher, redeemableStart = redeemableStart, redeemableEnd = redeemableEnd, brand = brand, productType = productType, conditionType = conditionType, isbn = isbn, asin = asin, catalogNumbers = catalogNumbers, department = department, features = features, minimumPrice = minimumPrice, width = width, height = height, depth = depth, weight = weight, unit = unit, studio = studio, parentalRating = parentalRating, publishDate = publishDate, availabilityDate = availabilityDate, sizeId = sizeId, listingId = listingId, mediaType = mediaType, duration = duration, author = author, releaseDate = releaseDate, collectionIds = collectionIds, rebootTimeHour = rebootTimeHour, rebootTimeMinute = rebootTimeMinute, idleTimeoutInSecond = idleTimeoutInSecond, serialNumber = serialNumber, udid = udid, deviceType = deviceType, devicePower = devicePower, deviceInterference = deviceInterference, availability = availability, availabilitySummary = availabilitySummary)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RetailerOfferResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /retailer/offer/create
     * Create Offer
     * Create an offer and assign it to the provided retailer locations.
     * @param includeOfferLocations If true return all the offer locations associated with the offer
     * @param title The title (255 char limit)
     * @param barcodeType The bar code type {NONE, UPC, CODE_128, QR, CUSTOM_MEDIA}
     * @param noExpiration Overrides the expiration date so that the offer does not expire
     * @param availableLimit The limit of how many times the offer can be used by consumers
     * @param availableLimitPerUser The limit of how many times a user can used the same offer
     * @param addedLimit The limit of how many times the offer can be added to consumer wallets
     * @param viewLimit The limit of how many times the offer can be viewed
     * @param maxPrints The maximum number of times the offer can be printed
     * @param ticketPrice The cost of the offer in tickets
     * @param fullPrice The retail/full price cost of the offer in real currency
     * @param discountPrice The cost of the offer at a discounted price (what the consumer pays)
     * @param offerType The offer type {VOUCHER, COUPON, PRODUCT, EVENT, MEDIA, DEVICE}
     * @param specialOfferType The special offer type {ALL, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}
     * @param offerVisibility The offer visibility {PUBLIC, REWARDABLE, TRIGGERABLE}
     * @param active Sets the active flag
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account id (deviceId or accountId required) (optional)
     * @param tags Custom string field for doing full-text searches (optional)
     * @param parentOfferId the parent offer id (optional)
     * @param retailerLocationIds Comma separated list of retailer location ids. This will assign the offer to these retailer locations. (optional)
     * @param offerLocations A list of json data that has offer location specific values. (optional)
     * @param subTitle The sub title (255 char limit) (optional)
     * @param details The details (optional)
     * @param subDetails A string for custom details (255 char limit) (optional)
     * @param finePrint The fine print (optional)
     * @param barcodeEntry The bar code entry string (optional)
     * @param externalRedeemOptions An external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer (optional)
     * @param externalUrl The clickUrl of the offer (optional)
     * @param externalId an external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer (optional)
     * @param ticketsRewardType The type of ticket to reward, null means default type (optional)
     * @param ticketsReward Determines how many tickets are awarded (optional)
     * @param activated The date of when the offer will be visible to consumers (optional)
     * @param expires The date of when the offer expires (optional)
     * @param ticketPriceType the type of ticket needed to buy offer (optional)
     * @param showRemaining show remaining offers available (optional)
     * @param showRedeemed show how many offers have been redeemed (optional)
     * @param replaced  (optional)
     * @param featured flag if offer is featured or not (optional)
     * @param categoryIds Comma separated list of category ids (optional)
     * @param filterIds Comma separated list of filter ids (optional)
     * @param barcodeAssetId The id of the barcode asset (optional)
     * @param imageAssetId The id of the an offer asset (optional)
     * @param imageAssetId1 The id of the an offer asset (optional)
     * @param imageAssetId2 The id of the an offer asset (optional)
     * @param imageAssetId3 The id of the an offer asset (optional)
     * @param imageAssetId4 The id of the an offer asset (optional)
     * @param imageAssetId5 The id of the an offer asset (optional)
     * @param publisher The maker of the item. (optional)
     * @param redeemableStart The redeemable start date/time of the offer. (optional)
     * @param redeemableEnd The redeemable start date/time of the offer. (optional)
     * @param brand The brand. OfferType PRODUCT only. (optional)
     * @param productType The product type. OfferType PRODUCT only. (optional)
     * @param conditionType The condition. OfferType PRODUCT only. (optional)
     * @param isbn The ISBN id. OfferType PRODUCT only. (optional)
     * @param asin The ASIN id. OfferType PRODUCT only. (optional)
     * @param catalogNumbers The list of catelog numbers, comma seperated. OfferType PRODUCT only. (optional)
     * @param department The department name. The OfferType PRODUCT only. (optional)
     * @param features The list of features, comma seperated. OfferType PRODUCT only. (optional)
     * @param minimumPrice The MAP price. OfferType PRODUCT only. (optional)
     * @param width The width of the item. OfferType PRODUCT only. (optional)
     * @param height The height of the item. OfferType PRODUCT only. (optional)
     * @param depth The depth of the item. OfferType PRODUCT only. (optional)
     * @param weight The weight of the item. OfferType PRODUCT only. (optional)
     * @param unit The unit of measurement. OfferType PRODUCT only. (optional)
     * @param studio The studio name. OfferType PRODUCT only. (optional)
     * @param parentalRating The parental control rating. OfferType PRODUCT only. (optional)
     * @param publishDate The date published. OfferType PRODUCT only. (optional)
     * @param availabilityDate The date available. OfferType PRODUCT only. (optional)
     * @param sizeId  (optional)
     * @param listingId The ID of the event listing (optional)
     * @param mediaType the media type of the offer (optional)
     * @param duration The total playing time of the media item. OfferType MEDIA only. (optional)
     * @param author The created/author of the media item. OfferType MEDIA only. (optional)
     * @param releaseDate The date/time of when the media item was originally released. OfferType MEDIA only. (optional)
     * @param collectionIds  (optional)
     * @param rebootTimeHour The reboot hour time ranging from 0 to 23 (optional)
     * @param rebootTimeMinute The reboot minute time ranging from 0 to 59 (optional)
     * @param idleTimeoutInSecond If the device is idle for idleTimeoutInSecond then the device should timeout (optional)
     * @param serialNumber The serial number on the device (optional)
     * @param udid The unique device id for the device (optional)
     * @param deviceType The type of the device, for example: \&quot;Kiosk\&quot;, \&quot;Beacon\&quot;. (optional)
     * @param devicePower Edysen device power level setting (optional)
     * @param deviceInterference Edysen device inteference setting (optional)
     * @param availability  (optional)
     * @param availabilitySummary  (optional)
     * @return ApiResponse<RetailerOfferResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createOfferWithHttpInfo(includeOfferLocations: kotlin.Boolean, title: kotlin.String, barcodeType: BarcodeTypeCreateOffer, noExpiration: kotlin.Boolean, availableLimit: kotlin.Int, availableLimitPerUser: kotlin.Int, addedLimit: kotlin.Int, viewLimit: kotlin.Int, maxPrints: kotlin.Int, ticketPrice: kotlin.Long, fullPrice: kotlin.Double, discountPrice: kotlin.Double, offerType: OfferTypeCreateOffer, specialOfferType: SpecialOfferTypeCreateOffer, offerVisibility: OfferVisibilityCreateOffer, active: kotlin.Boolean, deviceId: kotlin.String?, accountId: kotlin.Long?, tags: kotlin.String?, parentOfferId: kotlin.Long?, retailerLocationIds: kotlin.String?, offerLocations: kotlin.String?, subTitle: kotlin.String?, details: kotlin.String?, subDetails: kotlin.String?, finePrint: kotlin.String?, barcodeEntry: kotlin.String?, externalRedeemOptions: kotlin.String?, externalUrl: kotlin.String?, externalId: kotlin.String?, ticketsRewardType: kotlin.String?, ticketsReward: kotlin.Long?, activated: kotlin.Long?, expires: kotlin.Long?, ticketPriceType: kotlin.String?, showRemaining: kotlin.Boolean?, showRedeemed: kotlin.Boolean?, replaced: kotlin.Boolean?, featured: kotlin.Boolean?, categoryIds: kotlin.String?, filterIds: kotlin.String?, barcodeAssetId: kotlin.Long?, imageAssetId: kotlin.Long?, imageAssetId1: kotlin.Long?, imageAssetId2: kotlin.Long?, imageAssetId3: kotlin.Long?, imageAssetId4: kotlin.Long?, imageAssetId5: kotlin.Long?, publisher: kotlin.String?, redeemableStart: kotlin.Long?, redeemableEnd: kotlin.Long?, brand: kotlin.String?, productType: ProductTypeCreateOffer?, conditionType: ConditionTypeCreateOffer?, isbn: kotlin.String?, asin: kotlin.String?, catalogNumbers: kotlin.String?, department: kotlin.String?, features: kotlin.String?, minimumPrice: kotlin.Double?, width: kotlin.Double?, height: kotlin.Double?, depth: kotlin.Double?, weight: kotlin.Double?, unit: UnitCreateOffer?, studio: kotlin.String?, parentalRating: kotlin.String?, publishDate: kotlin.Long?, availabilityDate: kotlin.Long?, sizeId: kotlin.Long?, listingId: kotlin.Long?, mediaType: MediaTypeCreateOffer?, duration: kotlin.Int?, author: kotlin.String?, releaseDate: kotlin.Long?, collectionIds: kotlin.String?, rebootTimeHour: kotlin.Int?, rebootTimeMinute: kotlin.Int?, idleTimeoutInSecond: kotlin.Int?, serialNumber: kotlin.String?, udid: kotlin.String?, deviceType: kotlin.String?, devicePower: kotlin.Double?, deviceInterference: kotlin.Double?, availability: kotlin.String?, availabilitySummary: kotlin.String?) : ApiResponse<RetailerOfferResponse?> {
        val localVariableConfig = createOfferRequestConfig(includeOfferLocations = includeOfferLocations, title = title, barcodeType = barcodeType, noExpiration = noExpiration, availableLimit = availableLimit, availableLimitPerUser = availableLimitPerUser, addedLimit = addedLimit, viewLimit = viewLimit, maxPrints = maxPrints, ticketPrice = ticketPrice, fullPrice = fullPrice, discountPrice = discountPrice, offerType = offerType, specialOfferType = specialOfferType, offerVisibility = offerVisibility, active = active, deviceId = deviceId, accountId = accountId, tags = tags, parentOfferId = parentOfferId, retailerLocationIds = retailerLocationIds, offerLocations = offerLocations, subTitle = subTitle, details = details, subDetails = subDetails, finePrint = finePrint, barcodeEntry = barcodeEntry, externalRedeemOptions = externalRedeemOptions, externalUrl = externalUrl, externalId = externalId, ticketsRewardType = ticketsRewardType, ticketsReward = ticketsReward, activated = activated, expires = expires, ticketPriceType = ticketPriceType, showRemaining = showRemaining, showRedeemed = showRedeemed, replaced = replaced, featured = featured, categoryIds = categoryIds, filterIds = filterIds, barcodeAssetId = barcodeAssetId, imageAssetId = imageAssetId, imageAssetId1 = imageAssetId1, imageAssetId2 = imageAssetId2, imageAssetId3 = imageAssetId3, imageAssetId4 = imageAssetId4, imageAssetId5 = imageAssetId5, publisher = publisher, redeemableStart = redeemableStart, redeemableEnd = redeemableEnd, brand = brand, productType = productType, conditionType = conditionType, isbn = isbn, asin = asin, catalogNumbers = catalogNumbers, department = department, features = features, minimumPrice = minimumPrice, width = width, height = height, depth = depth, weight = weight, unit = unit, studio = studio, parentalRating = parentalRating, publishDate = publishDate, availabilityDate = availabilityDate, sizeId = sizeId, listingId = listingId, mediaType = mediaType, duration = duration, author = author, releaseDate = releaseDate, collectionIds = collectionIds, rebootTimeHour = rebootTimeHour, rebootTimeMinute = rebootTimeMinute, idleTimeoutInSecond = idleTimeoutInSecond, serialNumber = serialNumber, udid = udid, deviceType = deviceType, devicePower = devicePower, deviceInterference = deviceInterference, availability = availability, availabilitySummary = availabilitySummary)

        return request<Unit, RetailerOfferResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createOffer
     *
     * @param includeOfferLocations If true return all the offer locations associated with the offer
     * @param title The title (255 char limit)
     * @param barcodeType The bar code type {NONE, UPC, CODE_128, QR, CUSTOM_MEDIA}
     * @param noExpiration Overrides the expiration date so that the offer does not expire
     * @param availableLimit The limit of how many times the offer can be used by consumers
     * @param availableLimitPerUser The limit of how many times a user can used the same offer
     * @param addedLimit The limit of how many times the offer can be added to consumer wallets
     * @param viewLimit The limit of how many times the offer can be viewed
     * @param maxPrints The maximum number of times the offer can be printed
     * @param ticketPrice The cost of the offer in tickets
     * @param fullPrice The retail/full price cost of the offer in real currency
     * @param discountPrice The cost of the offer at a discounted price (what the consumer pays)
     * @param offerType The offer type {VOUCHER, COUPON, PRODUCT, EVENT, MEDIA, DEVICE}
     * @param specialOfferType The special offer type {ALL, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}
     * @param offerVisibility The offer visibility {PUBLIC, REWARDABLE, TRIGGERABLE}
     * @param active Sets the active flag
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account id (deviceId or accountId required) (optional)
     * @param tags Custom string field for doing full-text searches (optional)
     * @param parentOfferId the parent offer id (optional)
     * @param retailerLocationIds Comma separated list of retailer location ids. This will assign the offer to these retailer locations. (optional)
     * @param offerLocations A list of json data that has offer location specific values. (optional)
     * @param subTitle The sub title (255 char limit) (optional)
     * @param details The details (optional)
     * @param subDetails A string for custom details (255 char limit) (optional)
     * @param finePrint The fine print (optional)
     * @param barcodeEntry The bar code entry string (optional)
     * @param externalRedeemOptions An external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer (optional)
     * @param externalUrl The clickUrl of the offer (optional)
     * @param externalId an external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer (optional)
     * @param ticketsRewardType The type of ticket to reward, null means default type (optional)
     * @param ticketsReward Determines how many tickets are awarded (optional)
     * @param activated The date of when the offer will be visible to consumers (optional)
     * @param expires The date of when the offer expires (optional)
     * @param ticketPriceType the type of ticket needed to buy offer (optional)
     * @param showRemaining show remaining offers available (optional)
     * @param showRedeemed show how many offers have been redeemed (optional)
     * @param replaced  (optional)
     * @param featured flag if offer is featured or not (optional)
     * @param categoryIds Comma separated list of category ids (optional)
     * @param filterIds Comma separated list of filter ids (optional)
     * @param barcodeAssetId The id of the barcode asset (optional)
     * @param imageAssetId The id of the an offer asset (optional)
     * @param imageAssetId1 The id of the an offer asset (optional)
     * @param imageAssetId2 The id of the an offer asset (optional)
     * @param imageAssetId3 The id of the an offer asset (optional)
     * @param imageAssetId4 The id of the an offer asset (optional)
     * @param imageAssetId5 The id of the an offer asset (optional)
     * @param publisher The maker of the item. (optional)
     * @param redeemableStart The redeemable start date/time of the offer. (optional)
     * @param redeemableEnd The redeemable start date/time of the offer. (optional)
     * @param brand The brand. OfferType PRODUCT only. (optional)
     * @param productType The product type. OfferType PRODUCT only. (optional)
     * @param conditionType The condition. OfferType PRODUCT only. (optional)
     * @param isbn The ISBN id. OfferType PRODUCT only. (optional)
     * @param asin The ASIN id. OfferType PRODUCT only. (optional)
     * @param catalogNumbers The list of catelog numbers, comma seperated. OfferType PRODUCT only. (optional)
     * @param department The department name. The OfferType PRODUCT only. (optional)
     * @param features The list of features, comma seperated. OfferType PRODUCT only. (optional)
     * @param minimumPrice The MAP price. OfferType PRODUCT only. (optional)
     * @param width The width of the item. OfferType PRODUCT only. (optional)
     * @param height The height of the item. OfferType PRODUCT only. (optional)
     * @param depth The depth of the item. OfferType PRODUCT only. (optional)
     * @param weight The weight of the item. OfferType PRODUCT only. (optional)
     * @param unit The unit of measurement. OfferType PRODUCT only. (optional)
     * @param studio The studio name. OfferType PRODUCT only. (optional)
     * @param parentalRating The parental control rating. OfferType PRODUCT only. (optional)
     * @param publishDate The date published. OfferType PRODUCT only. (optional)
     * @param availabilityDate The date available. OfferType PRODUCT only. (optional)
     * @param sizeId  (optional)
     * @param listingId The ID of the event listing (optional)
     * @param mediaType the media type of the offer (optional)
     * @param duration The total playing time of the media item. OfferType MEDIA only. (optional)
     * @param author The created/author of the media item. OfferType MEDIA only. (optional)
     * @param releaseDate The date/time of when the media item was originally released. OfferType MEDIA only. (optional)
     * @param collectionIds  (optional)
     * @param rebootTimeHour The reboot hour time ranging from 0 to 23 (optional)
     * @param rebootTimeMinute The reboot minute time ranging from 0 to 59 (optional)
     * @param idleTimeoutInSecond If the device is idle for idleTimeoutInSecond then the device should timeout (optional)
     * @param serialNumber The serial number on the device (optional)
     * @param udid The unique device id for the device (optional)
     * @param deviceType The type of the device, for example: \&quot;Kiosk\&quot;, \&quot;Beacon\&quot;. (optional)
     * @param devicePower Edysen device power level setting (optional)
     * @param deviceInterference Edysen device inteference setting (optional)
     * @param availability  (optional)
     * @param availabilitySummary  (optional)
     * @return RequestConfig
     */
    fun createOfferRequestConfig(includeOfferLocations: kotlin.Boolean, title: kotlin.String, barcodeType: BarcodeTypeCreateOffer, noExpiration: kotlin.Boolean, availableLimit: kotlin.Int, availableLimitPerUser: kotlin.Int, addedLimit: kotlin.Int, viewLimit: kotlin.Int, maxPrints: kotlin.Int, ticketPrice: kotlin.Long, fullPrice: kotlin.Double, discountPrice: kotlin.Double, offerType: OfferTypeCreateOffer, specialOfferType: SpecialOfferTypeCreateOffer, offerVisibility: OfferVisibilityCreateOffer, active: kotlin.Boolean, deviceId: kotlin.String?, accountId: kotlin.Long?, tags: kotlin.String?, parentOfferId: kotlin.Long?, retailerLocationIds: kotlin.String?, offerLocations: kotlin.String?, subTitle: kotlin.String?, details: kotlin.String?, subDetails: kotlin.String?, finePrint: kotlin.String?, barcodeEntry: kotlin.String?, externalRedeemOptions: kotlin.String?, externalUrl: kotlin.String?, externalId: kotlin.String?, ticketsRewardType: kotlin.String?, ticketsReward: kotlin.Long?, activated: kotlin.Long?, expires: kotlin.Long?, ticketPriceType: kotlin.String?, showRemaining: kotlin.Boolean?, showRedeemed: kotlin.Boolean?, replaced: kotlin.Boolean?, featured: kotlin.Boolean?, categoryIds: kotlin.String?, filterIds: kotlin.String?, barcodeAssetId: kotlin.Long?, imageAssetId: kotlin.Long?, imageAssetId1: kotlin.Long?, imageAssetId2: kotlin.Long?, imageAssetId3: kotlin.Long?, imageAssetId4: kotlin.Long?, imageAssetId5: kotlin.Long?, publisher: kotlin.String?, redeemableStart: kotlin.Long?, redeemableEnd: kotlin.Long?, brand: kotlin.String?, productType: ProductTypeCreateOffer?, conditionType: ConditionTypeCreateOffer?, isbn: kotlin.String?, asin: kotlin.String?, catalogNumbers: kotlin.String?, department: kotlin.String?, features: kotlin.String?, minimumPrice: kotlin.Double?, width: kotlin.Double?, height: kotlin.Double?, depth: kotlin.Double?, weight: kotlin.Double?, unit: UnitCreateOffer?, studio: kotlin.String?, parentalRating: kotlin.String?, publishDate: kotlin.Long?, availabilityDate: kotlin.Long?, sizeId: kotlin.Long?, listingId: kotlin.Long?, mediaType: MediaTypeCreateOffer?, duration: kotlin.Int?, author: kotlin.String?, releaseDate: kotlin.Long?, collectionIds: kotlin.String?, rebootTimeHour: kotlin.Int?, rebootTimeMinute: kotlin.Int?, idleTimeoutInSecond: kotlin.Int?, serialNumber: kotlin.String?, udid: kotlin.String?, deviceType: kotlin.String?, devicePower: kotlin.Double?, deviceInterference: kotlin.Double?, availability: kotlin.String?, availabilitySummary: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (tags != null) {
                    put("tags", listOf(tags.toString()))
                }
                if (parentOfferId != null) {
                    put("parentOfferId", listOf(parentOfferId.toString()))
                }
                put("includeOfferLocations", listOf(includeOfferLocations.toString()))
                if (retailerLocationIds != null) {
                    put("retailerLocationIds", listOf(retailerLocationIds.toString()))
                }
                if (offerLocations != null) {
                    put("offerLocations", listOf(offerLocations.toString()))
                }
                put("title", listOf(title.toString()))
                if (subTitle != null) {
                    put("subTitle", listOf(subTitle.toString()))
                }
                if (details != null) {
                    put("details", listOf(details.toString()))
                }
                if (subDetails != null) {
                    put("subDetails", listOf(subDetails.toString()))
                }
                if (finePrint != null) {
                    put("finePrint", listOf(finePrint.toString()))
                }
                put("barcodeType", listOf(barcodeType.value))
                if (barcodeEntry != null) {
                    put("barcodeEntry", listOf(barcodeEntry.toString()))
                }
                if (externalRedeemOptions != null) {
                    put("externalRedeemOptions", listOf(externalRedeemOptions.toString()))
                }
                if (externalUrl != null) {
                    put("externalUrl", listOf(externalUrl.toString()))
                }
                if (externalId != null) {
                    put("externalId", listOf(externalId.toString()))
                }
                if (ticketsRewardType != null) {
                    put("ticketsRewardType", listOf(ticketsRewardType.toString()))
                }
                if (ticketsReward != null) {
                    put("ticketsReward", listOf(ticketsReward.toString()))
                }
                if (activated != null) {
                    put("activated", listOf(activated.toString()))
                }
                if (expires != null) {
                    put("expires", listOf(expires.toString()))
                }
                put("noExpiration", listOf(noExpiration.toString()))
                put("availableLimit", listOf(availableLimit.toString()))
                put("availableLimitPerUser", listOf(availableLimitPerUser.toString()))
                put("addedLimit", listOf(addedLimit.toString()))
                put("viewLimit", listOf(viewLimit.toString()))
                put("maxPrints", listOf(maxPrints.toString()))
                if (ticketPriceType != null) {
                    put("ticketPriceType", listOf(ticketPriceType.toString()))
                }
                put("ticketPrice", listOf(ticketPrice.toString()))
                put("fullPrice", listOf(fullPrice.toString()))
                put("discountPrice", listOf(discountPrice.toString()))
                if (showRemaining != null) {
                    put("showRemaining", listOf(showRemaining.toString()))
                }
                if (showRedeemed != null) {
                    put("showRedeemed", listOf(showRedeemed.toString()))
                }
                if (replaced != null) {
                    put("replaced", listOf(replaced.toString()))
                }
                if (featured != null) {
                    put("featured", listOf(featured.toString()))
                }
                put("offerType", listOf(offerType.value))
                put("specialOfferType", listOf(specialOfferType.value))
                put("offerVisibility", listOf(offerVisibility.value))
                if (categoryIds != null) {
                    put("categoryIds", listOf(categoryIds.toString()))
                }
                if (filterIds != null) {
                    put("filterIds", listOf(filterIds.toString()))
                }
                put("active", listOf(active.toString()))
                if (barcodeAssetId != null) {
                    put("barcodeAssetId", listOf(barcodeAssetId.toString()))
                }
                if (imageAssetId != null) {
                    put("imageAssetId", listOf(imageAssetId.toString()))
                }
                if (imageAssetId1 != null) {
                    put("imageAssetId1", listOf(imageAssetId1.toString()))
                }
                if (imageAssetId2 != null) {
                    put("imageAssetId2", listOf(imageAssetId2.toString()))
                }
                if (imageAssetId3 != null) {
                    put("imageAssetId3", listOf(imageAssetId3.toString()))
                }
                if (imageAssetId4 != null) {
                    put("imageAssetId4", listOf(imageAssetId4.toString()))
                }
                if (imageAssetId5 != null) {
                    put("imageAssetId5", listOf(imageAssetId5.toString()))
                }
                if (publisher != null) {
                    put("publisher", listOf(publisher.toString()))
                }
                if (redeemableStart != null) {
                    put("redeemableStart", listOf(redeemableStart.toString()))
                }
                if (redeemableEnd != null) {
                    put("redeemableEnd", listOf(redeemableEnd.toString()))
                }
                if (brand != null) {
                    put("brand", listOf(brand.toString()))
                }
                if (productType != null) {
                    put("productType", listOf(productType.value))
                }
                if (conditionType != null) {
                    put("conditionType", listOf(conditionType.value))
                }
                if (isbn != null) {
                    put("isbn", listOf(isbn.toString()))
                }
                if (asin != null) {
                    put("asin", listOf(asin.toString()))
                }
                if (catalogNumbers != null) {
                    put("catalogNumbers", listOf(catalogNumbers.toString()))
                }
                if (department != null) {
                    put("department", listOf(department.toString()))
                }
                if (features != null) {
                    put("features", listOf(features.toString()))
                }
                if (minimumPrice != null) {
                    put("minimumPrice", listOf(minimumPrice.toString()))
                }
                if (width != null) {
                    put("width", listOf(width.toString()))
                }
                if (height != null) {
                    put("height", listOf(height.toString()))
                }
                if (depth != null) {
                    put("depth", listOf(depth.toString()))
                }
                if (weight != null) {
                    put("weight", listOf(weight.toString()))
                }
                if (unit != null) {
                    put("unit", listOf(unit.value))
                }
                if (studio != null) {
                    put("studio", listOf(studio.toString()))
                }
                if (parentalRating != null) {
                    put("parentalRating", listOf(parentalRating.toString()))
                }
                if (publishDate != null) {
                    put("publishDate", listOf(publishDate.toString()))
                }
                if (availabilityDate != null) {
                    put("availabilityDate", listOf(availabilityDate.toString()))
                }
                if (sizeId != null) {
                    put("sizeId", listOf(sizeId.toString()))
                }
                if (listingId != null) {
                    put("listingId", listOf(listingId.toString()))
                }
                if (mediaType != null) {
                    put("mediaType", listOf(mediaType.value))
                }
                if (duration != null) {
                    put("duration", listOf(duration.toString()))
                }
                if (author != null) {
                    put("author", listOf(author.toString()))
                }
                if (releaseDate != null) {
                    put("releaseDate", listOf(releaseDate.toString()))
                }
                if (collectionIds != null) {
                    put("collectionIds", listOf(collectionIds.toString()))
                }
                if (rebootTimeHour != null) {
                    put("rebootTimeHour", listOf(rebootTimeHour.toString()))
                }
                if (rebootTimeMinute != null) {
                    put("rebootTimeMinute", listOf(rebootTimeMinute.toString()))
                }
                if (idleTimeoutInSecond != null) {
                    put("idleTimeoutInSecond", listOf(idleTimeoutInSecond.toString()))
                }
                if (serialNumber != null) {
                    put("serialNumber", listOf(serialNumber.toString()))
                }
                if (udid != null) {
                    put("udid", listOf(udid.toString()))
                }
                if (deviceType != null) {
                    put("deviceType", listOf(deviceType.toString()))
                }
                if (devicePower != null) {
                    put("devicePower", listOf(devicePower.toString()))
                }
                if (deviceInterference != null) {
                    put("deviceInterference", listOf(deviceInterference.toString()))
                }
                if (availability != null) {
                    put("availability", listOf(availability.toString()))
                }
                if (availabilitySummary != null) {
                    put("availabilitySummary", listOf(availabilitySummary.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/retailer/offer/create",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /retailer/offer/delete
     * Delete Offer
     * Set the deleted timestamp to current time. This effectively deletes the offer since all queries should ignore any records with a deleted time stamp.
     * @param offerId The ID of the offer to be deleted
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account used to perform the delete, must have rights to edit the offer. (optional)
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteOffer(offerId: kotlin.Long, deviceId: kotlin.String? = null, accountId: kotlin.Long? = null) : SirqulResponse {
        val localVarResponse = deleteOfferWithHttpInfo(offerId = offerId, deviceId = deviceId, accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /retailer/offer/delete
     * Delete Offer
     * Set the deleted timestamp to current time. This effectively deletes the offer since all queries should ignore any records with a deleted time stamp.
     * @param offerId The ID of the offer to be deleted
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account used to perform the delete, must have rights to edit the offer. (optional)
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteOfferWithHttpInfo(offerId: kotlin.Long, deviceId: kotlin.String?, accountId: kotlin.Long?) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = deleteOfferRequestConfig(offerId = offerId, deviceId = deviceId, accountId = accountId)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteOffer
     *
     * @param offerId The ID of the offer to be deleted
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account used to perform the delete, must have rights to edit the offer. (optional)
     * @return RequestConfig
     */
    fun deleteOfferRequestConfig(offerId: kotlin.Long, deviceId: kotlin.String?, accountId: kotlin.Long?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                put("offerId", listOf(offerId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/retailer/offer/delete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /retailer/offer/location/delete
     * Delete Offer Location
     * Set the deleted timestamp to current time. This effectively deletes the offer location since all queries should ignore any records with a deleted time stamp.
     * @param offerLocationId The ID of the offer location to be deleted
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account used to perform the delete, must have rights to edit the offer location. (optional)
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteOfferLocation(offerLocationId: kotlin.Long, deviceId: kotlin.String? = null, accountId: kotlin.Long? = null) : SirqulResponse {
        val localVarResponse = deleteOfferLocationWithHttpInfo(offerLocationId = offerLocationId, deviceId = deviceId, accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /retailer/offer/location/delete
     * Delete Offer Location
     * Set the deleted timestamp to current time. This effectively deletes the offer location since all queries should ignore any records with a deleted time stamp.
     * @param offerLocationId The ID of the offer location to be deleted
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account used to perform the delete, must have rights to edit the offer location. (optional)
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteOfferLocationWithHttpInfo(offerLocationId: kotlin.Long, deviceId: kotlin.String?, accountId: kotlin.Long?) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = deleteOfferLocationRequestConfig(offerLocationId = offerLocationId, deviceId = deviceId, accountId = accountId)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteOfferLocation
     *
     * @param offerLocationId The ID of the offer location to be deleted
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account used to perform the delete, must have rights to edit the offer location. (optional)
     * @return RequestConfig
     */
    fun deleteOfferLocationRequestConfig(offerLocationId: kotlin.Long, deviceId: kotlin.String?, accountId: kotlin.Long?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                put("offerLocationId", listOf(offerLocationId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/retailer/offer/location/delete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /retailer/offer/get
     * Get Offer
     * Gets the details of an offer that the user has access to.
     * @param offerId The id of the offer
     * @param includeOfferLocations 
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account id (deviceId or accountId required) (optional)
     * @return RetailerOfferResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getOffer(offerId: kotlin.Long, includeOfferLocations: kotlin.Boolean, deviceId: kotlin.String? = null, accountId: kotlin.Long? = null) : RetailerOfferResponse {
        val localVarResponse = getOfferWithHttpInfo(offerId = offerId, includeOfferLocations = includeOfferLocations, deviceId = deviceId, accountId = accountId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RetailerOfferResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /retailer/offer/get
     * Get Offer
     * Gets the details of an offer that the user has access to.
     * @param offerId The id of the offer
     * @param includeOfferLocations 
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account id (deviceId or accountId required) (optional)
     * @return ApiResponse<RetailerOfferResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getOfferWithHttpInfo(offerId: kotlin.Long, includeOfferLocations: kotlin.Boolean, deviceId: kotlin.String?, accountId: kotlin.Long?) : ApiResponse<RetailerOfferResponse?> {
        val localVariableConfig = getOfferRequestConfig(offerId = offerId, includeOfferLocations = includeOfferLocations, deviceId = deviceId, accountId = accountId)

        return request<Unit, RetailerOfferResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getOffer
     *
     * @param offerId The id of the offer
     * @param includeOfferLocations 
     * @param deviceId The device id (deviceId or accountId required) (optional)
     * @param accountId The account id (deviceId or accountId required) (optional)
     * @return RequestConfig
     */
    fun getOfferRequestConfig(offerId: kotlin.Long, includeOfferLocations: kotlin.Boolean, deviceId: kotlin.String?, accountId: kotlin.Long?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                put("offerId", listOf(offerId.toString()))
                put("includeOfferLocations", listOf(includeOfferLocations.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/retailer/offer/get",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /offer/get
     * Get Offer
     * Gets offer or offer location details as a consumer.  Will check if it is a favorite if the deviceId/accountId is provided.  If the offerId is provided it will look up the main offer and ignore the the offerLocationId. If no offerId is provided then an offerLocationId must be specified.
     * @param deviceId The device id for returning account information (i.e. favorites) (optional)
     * @param accountId The account id for returning account information (i.e. favorites) (optional)
     * @param offerId The offer id (either offeLocationId or offerId must be provided) (optional)
     * @param offerLocationId The offer location id (either offeLocationId or offerId must be provided) (optional)
     * @param distance The distance of the offer from the user&#39;s current location (this is returned when the offer is searched) (optional)
     * @param latitude The latitude to calculate distance from the offer (optional)
     * @param longitude The longitude to calculate distance from the offer (optional)
     * @param includeOfferLocations Determines whether to return offer locations for the offer (optional, default to false)
     * @param includeRetailerLocations Determines whether to return the retailer location info for each offer location response (includeOfferLocations must also be true for this to work) (optional, default to false)
     * @param includeChildOffers Determines whether to include child offers in the response (optional, default to false)
     * @return OfferResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getOfferDetails(deviceId: kotlin.String? = null, accountId: kotlin.Long? = null, offerId: kotlin.Long? = null, offerLocationId: kotlin.Long? = null, distance: kotlin.Double? = null, latitude: kotlin.Double? = null, longitude: kotlin.Double? = null, includeOfferLocations: kotlin.Boolean? = false, includeRetailerLocations: kotlin.Boolean? = false, includeChildOffers: kotlin.Boolean? = false) : OfferResponse {
        val localVarResponse = getOfferDetailsWithHttpInfo(deviceId = deviceId, accountId = accountId, offerId = offerId, offerLocationId = offerLocationId, distance = distance, latitude = latitude, longitude = longitude, includeOfferLocations = includeOfferLocations, includeRetailerLocations = includeRetailerLocations, includeChildOffers = includeChildOffers)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as OfferResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /offer/get
     * Get Offer
     * Gets offer or offer location details as a consumer.  Will check if it is a favorite if the deviceId/accountId is provided.  If the offerId is provided it will look up the main offer and ignore the the offerLocationId. If no offerId is provided then an offerLocationId must be specified.
     * @param deviceId The device id for returning account information (i.e. favorites) (optional)
     * @param accountId The account id for returning account information (i.e. favorites) (optional)
     * @param offerId The offer id (either offeLocationId or offerId must be provided) (optional)
     * @param offerLocationId The offer location id (either offeLocationId or offerId must be provided) (optional)
     * @param distance The distance of the offer from the user&#39;s current location (this is returned when the offer is searched) (optional)
     * @param latitude The latitude to calculate distance from the offer (optional)
     * @param longitude The longitude to calculate distance from the offer (optional)
     * @param includeOfferLocations Determines whether to return offer locations for the offer (optional, default to false)
     * @param includeRetailerLocations Determines whether to return the retailer location info for each offer location response (includeOfferLocations must also be true for this to work) (optional, default to false)
     * @param includeChildOffers Determines whether to include child offers in the response (optional, default to false)
     * @return ApiResponse<OfferResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getOfferDetailsWithHttpInfo(deviceId: kotlin.String?, accountId: kotlin.Long?, offerId: kotlin.Long?, offerLocationId: kotlin.Long?, distance: kotlin.Double?, latitude: kotlin.Double?, longitude: kotlin.Double?, includeOfferLocations: kotlin.Boolean?, includeRetailerLocations: kotlin.Boolean?, includeChildOffers: kotlin.Boolean?) : ApiResponse<OfferResponse?> {
        val localVariableConfig = getOfferDetailsRequestConfig(deviceId = deviceId, accountId = accountId, offerId = offerId, offerLocationId = offerLocationId, distance = distance, latitude = latitude, longitude = longitude, includeOfferLocations = includeOfferLocations, includeRetailerLocations = includeRetailerLocations, includeChildOffers = includeChildOffers)

        return request<Unit, OfferResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getOfferDetails
     *
     * @param deviceId The device id for returning account information (i.e. favorites) (optional)
     * @param accountId The account id for returning account information (i.e. favorites) (optional)
     * @param offerId The offer id (either offeLocationId or offerId must be provided) (optional)
     * @param offerLocationId The offer location id (either offeLocationId or offerId must be provided) (optional)
     * @param distance The distance of the offer from the user&#39;s current location (this is returned when the offer is searched) (optional)
     * @param latitude The latitude to calculate distance from the offer (optional)
     * @param longitude The longitude to calculate distance from the offer (optional)
     * @param includeOfferLocations Determines whether to return offer locations for the offer (optional, default to false)
     * @param includeRetailerLocations Determines whether to return the retailer location info for each offer location response (includeOfferLocations must also be true for this to work) (optional, default to false)
     * @param includeChildOffers Determines whether to include child offers in the response (optional, default to false)
     * @return RequestConfig
     */
    fun getOfferDetailsRequestConfig(deviceId: kotlin.String?, accountId: kotlin.Long?, offerId: kotlin.Long?, offerLocationId: kotlin.Long?, distance: kotlin.Double?, latitude: kotlin.Double?, longitude: kotlin.Double?, includeOfferLocations: kotlin.Boolean?, includeRetailerLocations: kotlin.Boolean?, includeChildOffers: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                if (accountId != null) {
                    put("accountId", listOf(accountId.toString()))
                }
                if (offerId != null) {
                    put("offerId", listOf(offerId.toString()))
                }
                if (offerLocationId != null) {
                    put("offerLocationId", listOf(offerLocationId.toString()))
                }
                if (distance != null) {
                    put("distance", listOf(distance.toString()))
                }
                if (latitude != null) {
                    put("latitude", listOf(latitude.toString()))
                }
                if (longitude != null) {
                    put("longitude", listOf(longitude.toString()))
                }
                if (includeOfferLocations != null) {
                    put("includeOfferLocations", listOf(includeOfferLocations.toString()))
                }
                if (includeRetailerLocations != null) {
                    put("includeRetailerLocations", listOf(includeRetailerLocations.toString()))
                }
                if (includeChildOffers != null) {
                    put("includeChildOffers", listOf(includeChildOffers.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/offer/get",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter distanceUnit
     */
     enum class DistanceUnitGetOfferListCounts(val value: kotlin.String) {
         @Json(name = "MILES") MILES("MILES"),
         @Json(name = "KILOMETERS") KILOMETERS("KILOMETERS");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /offer/lists/count
     * Get Offers (Counts)
     * Gets the offer list counts.
     * @param latitude The latitude of where the search will center at
     * @param longitude The longitude of where the search will center at
     * @param searchRange The range of the search (optional, default to 5)
     * @param distanceUnit The units to use for distance calculations (e.g. MILES, KILOMETERS) (optional, default to DistanceUnit.MILES)
     * @return ListCountResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getOfferListCounts(latitude: kotlin.Double, longitude: kotlin.Double, searchRange: java.math.BigDecimal? = java.math.BigDecimal("5"), distanceUnit: DistanceUnitGetOfferListCounts? = DistanceUnitGetOfferListCounts.MILES) : ListCountResponse {
        val localVarResponse = getOfferListCountsWithHttpInfo(latitude = latitude, longitude = longitude, searchRange = searchRange, distanceUnit = distanceUnit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ListCountResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /offer/lists/count
     * Get Offers (Counts)
     * Gets the offer list counts.
     * @param latitude The latitude of where the search will center at
     * @param longitude The longitude of where the search will center at
     * @param searchRange The range of the search (optional, default to 5)
     * @param distanceUnit The units to use for distance calculations (e.g. MILES, KILOMETERS) (optional, default to DistanceUnit.MILES)
     * @return ApiResponse<ListCountResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getOfferListCountsWithHttpInfo(latitude: kotlin.Double, longitude: kotlin.Double, searchRange: java.math.BigDecimal?, distanceUnit: DistanceUnitGetOfferListCounts?) : ApiResponse<ListCountResponse?> {
        val localVariableConfig = getOfferListCountsRequestConfig(latitude = latitude, longitude = longitude, searchRange = searchRange, distanceUnit = distanceUnit)

        return request<Unit, ListCountResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getOfferListCounts
     *
     * @param latitude The latitude of where the search will center at
     * @param longitude The longitude of where the search will center at
     * @param searchRange The range of the search (optional, default to 5)
     * @param distanceUnit The units to use for distance calculations (e.g. MILES, KILOMETERS) (optional, default to DistanceUnit.MILES)
     * @return RequestConfig
     */
    fun getOfferListCountsRequestConfig(latitude: kotlin.Double, longitude: kotlin.Double, searchRange: java.math.BigDecimal?, distanceUnit: DistanceUnitGetOfferListCounts?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("latitude", listOf(latitude.toString()))
                put("longitude", listOf(longitude.toString()))
                if (searchRange != null) {
                    put("searchRange", listOf(searchRange.toString()))
                }
                if (distanceUnit != null) {
                    put("distanceUnit", listOf(distanceUnit.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/offer/lists/count",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /offer/location/get
     * Get Offer Location
     * Gets the offer location by offer location id or udid (of a device)
     * @param offerLocationId the id of the offer location to get (optional)
     * @param udid the UDID of the device (optional)
     * @return OfferShortResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getOfferLocation(offerLocationId: kotlin.Long? = null, udid: kotlin.String? = null) : OfferShortResponse {
        val localVarResponse = getOfferLocationWithHttpInfo(offerLocationId = offerLocationId, udid = udid)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as OfferShortResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /offer/location/get
     * Get Offer Location
     * Gets the offer location by offer location id or udid (of a device)
     * @param offerLocationId the id of the offer location to get (optional)
     * @param udid the UDID of the device (optional)
     * @return ApiResponse<OfferShortResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getOfferLocationWithHttpInfo(offerLocationId: kotlin.Long?, udid: kotlin.String?) : ApiResponse<OfferShortResponse?> {
        val localVariableConfig = getOfferLocationRequestConfig(offerLocationId = offerLocationId, udid = udid)

        return request<Unit, OfferShortResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getOfferLocation
     *
     * @param offerLocationId the id of the offer location to get (optional)
     * @param udid the UDID of the device (optional)
     * @return RequestConfig
     */
    fun getOfferLocationRequestConfig(offerLocationId: kotlin.Long?, udid: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (offerLocationId != null) {
                    put("offerLocationId", listOf(offerLocationId.toString()))
                }
                if (udid != null) {
                    put("udid", listOf(udid.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/offer/location/get",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter sortField
     */
     enum class SortFieldGetOfferLocationsForRetailers(val value: kotlin.String) {
         @Json(name = "ID") ID("ID"),
         @Json(name = "CREATED") CREATED("CREATED"),
         @Json(name = "UPDATED") UPDATED("UPDATED"),
         @Json(name = "DELETED") DELETED("DELETED"),
         @Json(name = "SEARCH_TAGS") SEARCH_TAGS("SEARCH_TAGS"),
         @Json(name = "ACTIVE") ACTIVE("ACTIVE"),
         @Json(name = "OFFER_ID") OFFER_ID("OFFER_ID"),
         @Json(name = "ACTIVATED") ACTIVATED("ACTIVATED"),
         @Json(name = "EXPIRES") EXPIRES("EXPIRES"),
         @Json(name = "TITLE") TITLE("TITLE"),
         @Json(name = "SUBTITLE") SUBTITLE("SUBTITLE"),
         @Json(name = "DETAILS") DETAILS("DETAILS"),
         @Json(name = "OFFER_TYPE") OFFER_TYPE("OFFER_TYPE"),
         @Json(name = "SPECIAL_OFFER_TYPE") SPECIAL_OFFER_TYPE("SPECIAL_OFFER_TYPE"),
         @Json(name = "OFFER_VISIBILITY") OFFER_VISIBILITY("OFFER_VISIBILITY"),
[...]
