/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ImportStatuses
import org.openapitools.client.models.Orders
import org.openapitools.client.models.ShipmentOrder

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class OptimizeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * GET /optimize/result/{batchID}
     * Get Optimization Result
     * Get the results of the import batch.
     * @param batchID The batchID for getting the import status of.
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @return kotlin.collections.Map<kotlin.String, ShipmentOrder>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getOptimizationResult(batchID: kotlin.String, start: kotlin.Int, limit: kotlin.Int) : kotlin.collections.Map<kotlin.String, ShipmentOrder> {
        val localVarResponse = getOptimizationResultWithHttpInfo(batchID = batchID, start = start, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.Map<kotlin.String, ShipmentOrder>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /optimize/result/{batchID}
     * Get Optimization Result
     * Get the results of the import batch.
     * @param batchID The batchID for getting the import status of.
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @return ApiResponse<kotlin.collections.Map<kotlin.String, ShipmentOrder>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getOptimizationResultWithHttpInfo(batchID: kotlin.String, start: kotlin.Int, limit: kotlin.Int) : ApiResponse<kotlin.collections.Map<kotlin.String, ShipmentOrder>?> {
        val localVariableConfig = getOptimizationResultRequestConfig(batchID = batchID, start = start, limit = limit)

        return request<Unit, kotlin.collections.Map<kotlin.String, ShipmentOrder>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getOptimizationResult
     *
     * @param batchID The batchID for getting the import status of.
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @return RequestConfig
     */
    fun getOptimizationResultRequestConfig(batchID: kotlin.String, start: kotlin.Int, limit: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("start", listOf(start.toString()))
                put("limit", listOf(limit.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/optimize/result/{batchID}".replace("{"+"batchID"+"}", encodeURIComponent(batchID.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /optimize/request
     * Request Optimization
     * Request and upload of shipment orders and create ShipmentImportBatch for optimization.
     * @param body  (optional)
     * @return ImportStatuses
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun requestOptimization(body: Orders? = null) : ImportStatuses {
        val localVarResponse = requestOptimizationWithHttpInfo(body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ImportStatuses
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /optimize/request
     * Request Optimization
     * Request and upload of shipment orders and create ShipmentImportBatch for optimization.
     * @param body  (optional)
     * @return ApiResponse<ImportStatuses?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun requestOptimizationWithHttpInfo(body: Orders?) : ApiResponse<ImportStatuses?> {
        val localVariableConfig = requestOptimizationRequestConfig(body = body)

        return request<Orders, ImportStatuses>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation requestOptimization
     *
     * @param body  (optional)
     * @return RequestConfig
     */
    fun requestOptimizationRequestConfig(body: Orders?) : RequestConfig<Orders> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/optimize/request",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
