/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.SirqulResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ParticipantsApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /participant/process/all
     * Process All Participant Feeds
     * Processes all supported participant feeds.
     * @param accountId The account id of the user
     * @param appKey The application key used to identify the application (optional)
     * @param useShortNameAsID Whether to use short name as the participant ID (optional)
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun processAllParticipants(accountId: kotlin.Long, appKey: kotlin.String? = null, useShortNameAsID: kotlin.Boolean? = null) : SirqulResponse {
        val localVarResponse = processAllParticipantsWithHttpInfo(accountId = accountId, appKey = appKey, useShortNameAsID = useShortNameAsID)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /participant/process/all
     * Process All Participant Feeds
     * Processes all supported participant feeds.
     * @param accountId The account id of the user
     * @param appKey The application key used to identify the application (optional)
     * @param useShortNameAsID Whether to use short name as the participant ID (optional)
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun processAllParticipantsWithHttpInfo(accountId: kotlin.Long, appKey: kotlin.String?, useShortNameAsID: kotlin.Boolean?) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = processAllParticipantsRequestConfig(accountId = accountId, appKey = appKey, useShortNameAsID = useShortNameAsID)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation processAllParticipants
     *
     * @param accountId The account id of the user
     * @param appKey The application key used to identify the application (optional)
     * @param useShortNameAsID Whether to use short name as the participant ID (optional)
     * @return RequestConfig
     */
    fun processAllParticipantsRequestConfig(accountId: kotlin.Long, appKey: kotlin.String?, useShortNameAsID: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                if (appKey != null) {
                    put("appKey", listOf(appKey.toString()))
                }
                if (useShortNameAsID != null) {
                    put("useShortNameAsID", listOf(useShortNameAsID.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/participant/process/all",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /participant/process
     * Process Participants Feed
     * Processes a participant feed or uploaded file for a specific league.
     * @param accountId The account id of the user
     * @param league The league identifier to process
     * @param appKey The application key used to identify the application (optional)
     * @param useShortNameAsID Whether to use short name as the participant ID (optional)
     * @param file Multipart file containing participant feed contents (optional)
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun processParticipants(accountId: kotlin.Long, league: kotlin.String, appKey: kotlin.String? = null, useShortNameAsID: kotlin.Boolean? = null, file: java.io.File? = null) : SirqulResponse {
        val localVarResponse = processParticipantsWithHttpInfo(accountId = accountId, league = league, appKey = appKey, useShortNameAsID = useShortNameAsID, file = file)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /participant/process
     * Process Participants Feed
     * Processes a participant feed or uploaded file for a specific league.
     * @param accountId The account id of the user
     * @param league The league identifier to process
     * @param appKey The application key used to identify the application (optional)
     * @param useShortNameAsID Whether to use short name as the participant ID (optional)
     * @param file Multipart file containing participant feed contents (optional)
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun processParticipantsWithHttpInfo(accountId: kotlin.Long, league: kotlin.String, appKey: kotlin.String?, useShortNameAsID: kotlin.Boolean?, file: java.io.File?) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = processParticipantsRequestConfig(accountId = accountId, league = league, appKey = appKey, useShortNameAsID = useShortNameAsID, file = file)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation processParticipants
     *
     * @param accountId The account id of the user
     * @param league The league identifier to process
     * @param appKey The application key used to identify the application (optional)
     * @param useShortNameAsID Whether to use short name as the participant ID (optional)
     * @param file Multipart file containing participant feed contents (optional)
     * @return RequestConfig
     */
    fun processParticipantsRequestConfig(accountId: kotlin.Long, league: kotlin.String, appKey: kotlin.String?, useShortNameAsID: kotlin.Boolean?, file: java.io.File?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("league", listOf(league.toString()))
                if (appKey != null) {
                    put("appKey", listOf(appKey.toString()))
                }
                if (useShortNameAsID != null) {
                    put("useShortNameAsID", listOf(useShortNameAsID.toString()))
                }
                if (file != null) {
                    put("file", listOf(file.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/participant/process",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
