/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.PostalCodeResponse
import org.openapitools.client.models.SirqulResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class PostalCodeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /postalCode/create
     * Create Postal Code
     * Create a Postal Code
     * @param accountId the id of the logged in user
     * @param code the postal code
     * @param latitude the latitude of the postal code
     * @param longitude the longitude of the postal code
     * @param stateCode the state code (e.g WA, WV, WI) that the postal code is located (optional)
     * @param city the city that the postal code is located (optional)
     * @param active whether the postal code created should be active or inactive (optional)
     * @return PostalCodeResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createPostalCode(accountId: kotlin.Long, code: kotlin.String, latitude: kotlin.Double, longitude: kotlin.Double, stateCode: kotlin.String? = null, city: kotlin.String? = null, active: kotlin.Boolean? = null) : PostalCodeResponse {
        val localVarResponse = createPostalCodeWithHttpInfo(accountId = accountId, code = code, latitude = latitude, longitude = longitude, stateCode = stateCode, city = city, active = active)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PostalCodeResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /postalCode/create
     * Create Postal Code
     * Create a Postal Code
     * @param accountId the id of the logged in user
     * @param code the postal code
     * @param latitude the latitude of the postal code
     * @param longitude the longitude of the postal code
     * @param stateCode the state code (e.g WA, WV, WI) that the postal code is located (optional)
     * @param city the city that the postal code is located (optional)
     * @param active whether the postal code created should be active or inactive (optional)
     * @return ApiResponse<PostalCodeResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createPostalCodeWithHttpInfo(accountId: kotlin.Long, code: kotlin.String, latitude: kotlin.Double, longitude: kotlin.Double, stateCode: kotlin.String?, city: kotlin.String?, active: kotlin.Boolean?) : ApiResponse<PostalCodeResponse?> {
        val localVariableConfig = createPostalCodeRequestConfig(accountId = accountId, code = code, latitude = latitude, longitude = longitude, stateCode = stateCode, city = city, active = active)

        return request<Unit, PostalCodeResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createPostalCode
     *
     * @param accountId the id of the logged in user
     * @param code the postal code
     * @param latitude the latitude of the postal code
     * @param longitude the longitude of the postal code
     * @param stateCode the state code (e.g WA, WV, WI) that the postal code is located (optional)
     * @param city the city that the postal code is located (optional)
     * @param active whether the postal code created should be active or inactive (optional)
     * @return RequestConfig
     */
    fun createPostalCodeRequestConfig(accountId: kotlin.Long, code: kotlin.String, latitude: kotlin.Double, longitude: kotlin.Double, stateCode: kotlin.String?, city: kotlin.String?, active: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("code", listOf(code.toString()))
                put("latitude", listOf(latitude.toString()))
                put("longitude", listOf(longitude.toString()))
                if (stateCode != null) {
                    put("stateCode", listOf(stateCode.toString()))
                }
                if (city != null) {
                    put("city", listOf(city.toString()))
                }
                if (active != null) {
                    put("active", listOf(active.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/postalCode/create",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /postalCode/delete
     * Delete Postal Code
     * Delete a Postal Code
     * @param accountId the id of the logged in user
     * @param postalCodeId the id of the postal code to delete
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deletePostalCode(accountId: kotlin.Long, postalCodeId: kotlin.Long) : SirqulResponse {
        val localVarResponse = deletePostalCodeWithHttpInfo(accountId = accountId, postalCodeId = postalCodeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /postalCode/delete
     * Delete Postal Code
     * Delete a Postal Code
     * @param accountId the id of the logged in user
     * @param postalCodeId the id of the postal code to delete
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deletePostalCodeWithHttpInfo(accountId: kotlin.Long, postalCodeId: kotlin.Long) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = deletePostalCodeRequestConfig(accountId = accountId, postalCodeId = postalCodeId)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deletePostalCode
     *
     * @param accountId the id of the logged in user
     * @param postalCodeId the id of the postal code to delete
     * @return RequestConfig
     */
    fun deletePostalCodeRequestConfig(accountId: kotlin.Long, postalCodeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("postalCodeId", listOf(postalCodeId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/postalCode/delete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /postalCode/get
     * Get Postal Code
     * Get a Postal Code
     * @param postalCodeId the id of the postal code to get
     * @return PostalCodeResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPostalCode(postalCodeId: kotlin.Long) : PostalCodeResponse {
        val localVarResponse = getPostalCodeWithHttpInfo(postalCodeId = postalCodeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PostalCodeResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /postalCode/get
     * Get Postal Code
     * Get a Postal Code
     * @param postalCodeId the id of the postal code to get
     * @return ApiResponse<PostalCodeResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPostalCodeWithHttpInfo(postalCodeId: kotlin.Long) : ApiResponse<PostalCodeResponse?> {
        val localVariableConfig = getPostalCodeRequestConfig(postalCodeId = postalCodeId)

        return request<Unit, PostalCodeResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPostalCode
     *
     * @param postalCodeId the id of the postal code to get
     * @return RequestConfig
     */
    fun getPostalCodeRequestConfig(postalCodeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("postalCodeId", listOf(postalCodeId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/postalCode/get",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /postalCode/search
     * Search Postal Codes
     * Get the list of regions. If latitude or longitude is null, will return all postal codes in the system with paginated response.
     * @param sortField the field to sort the results on
     * @param descending whether to order results in ascending or descending order
     * @param latitude the latitude of the postal code to search on (optional)
     * @param longitude the longitude of the postal code to search on (optional)
     * @param keyword the keyword of the postal code to search on (optional)
     * @param miles how far (in miles) to search on for the postal code (optional)
     * @param start the start of the index and/or pagination (optional)
     * @param limit the limit of the index and/or pagination (optional)
     * @return kotlin.collections.List<PostalCodeResponse>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getPostalCodes(sortField: kotlin.String, descending: kotlin.Boolean, latitude: kotlin.Double? = null, longitude: kotlin.Double? = null, keyword: kotlin.String? = null, miles: kotlin.Double? = null, start: kotlin.Int? = null, limit: kotlin.Int? = null) : kotlin.collections.List<PostalCodeResponse> {
        val localVarResponse = getPostalCodesWithHttpInfo(sortField = sortField, descending = descending, latitude = latitude, longitude = longitude, keyword = keyword, miles = miles, start = start, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<PostalCodeResponse>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /postalCode/search
     * Search Postal Codes
     * Get the list of regions. If latitude or longitude is null, will return all postal codes in the system with paginated response.
     * @param sortField the field to sort the results on
     * @param descending whether to order results in ascending or descending order
     * @param latitude the latitude of the postal code to search on (optional)
     * @param longitude the longitude of the postal code to search on (optional)
     * @param keyword the keyword of the postal code to search on (optional)
     * @param miles how far (in miles) to search on for the postal code (optional)
     * @param start the start of the index and/or pagination (optional)
     * @param limit the limit of the index and/or pagination (optional)
     * @return ApiResponse<kotlin.collections.List<PostalCodeResponse>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getPostalCodesWithHttpInfo(sortField: kotlin.String, descending: kotlin.Boolean, latitude: kotlin.Double?, longitude: kotlin.Double?, keyword: kotlin.String?, miles: kotlin.Double?, start: kotlin.Int?, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<PostalCodeResponse>?> {
        val localVariableConfig = getPostalCodesRequestConfig(sortField = sortField, descending = descending, latitude = latitude, longitude = longitude, keyword = keyword, miles = miles, start = start, limit = limit)

        return request<Unit, kotlin.collections.List<PostalCodeResponse>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getPostalCodes
     *
     * @param sortField the field to sort the results on
     * @param descending whether to order results in ascending or descending order
     * @param latitude the latitude of the postal code to search on (optional)
     * @param longitude the longitude of the postal code to search on (optional)
     * @param keyword the keyword of the postal code to search on (optional)
     * @param miles how far (in miles) to search on for the postal code (optional)
     * @param start the start of the index and/or pagination (optional)
     * @param limit the limit of the index and/or pagination (optional)
     * @return RequestConfig
     */
    fun getPostalCodesRequestConfig(sortField: kotlin.String, descending: kotlin.Boolean, latitude: kotlin.Double?, longitude: kotlin.Double?, keyword: kotlin.String?, miles: kotlin.Double?, start: kotlin.Int?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (latitude != null) {
                    put("latitude", listOf(latitude.toString()))
                }
                if (longitude != null) {
                    put("longitude", listOf(longitude.toString()))
                }
                if (keyword != null) {
                    put("keyword", listOf(keyword.toString()))
                }
                if (miles != null) {
                    put("miles", listOf(miles.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                put("sortField", listOf(sortField.toString()))
                put("descending", listOf(descending.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/postalCode/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /postalCode/update
     * Update Postal Code
     * Update a Postal Code
     * @param accountId the id of the logged in user
     * @param postalCodeId the id of the postal code to update
     * @param code the postal code to update (optional)
     * @param latitude the latitude of the postal code (optional)
     * @param longitude the longitude of the postal code (optional)
     * @param stateCode the state code (e.g. WA, WI, WY) where the postal code is located (optional)
     * @param city the city where the postal code is located (optional)
     * @param active whether the postal code is active or inactive (optional)
     * @return PostalCodeResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updatePostalCode(accountId: kotlin.Long, postalCodeId: kotlin.Long, code: kotlin.String? = null, latitude: kotlin.Double? = null, longitude: kotlin.Double? = null, stateCode: kotlin.String? = null, city: kotlin.String? = null, active: kotlin.Boolean? = null) : PostalCodeResponse {
        val localVarResponse = updatePostalCodeWithHttpInfo(accountId = accountId, postalCodeId = postalCodeId, code = code, latitude = latitude, longitude = longitude, stateCode = stateCode, city = city, active = active)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as PostalCodeResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /postalCode/update
     * Update Postal Code
     * Update a Postal Code
     * @param accountId the id of the logged in user
     * @param postalCodeId the id of the postal code to update
     * @param code the postal code to update (optional)
     * @param latitude the latitude of the postal code (optional)
     * @param longitude the longitude of the postal code (optional)
     * @param stateCode the state code (e.g. WA, WI, WY) where the postal code is located (optional)
     * @param city the city where the postal code is located (optional)
     * @param active whether the postal code is active or inactive (optional)
     * @return ApiResponse<PostalCodeResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updatePostalCodeWithHttpInfo(accountId: kotlin.Long, postalCodeId: kotlin.Long, code: kotlin.String?, latitude: kotlin.Double?, longitude: kotlin.Double?, stateCode: kotlin.String?, city: kotlin.String?, active: kotlin.Boolean?) : ApiResponse<PostalCodeResponse?> {
        val localVariableConfig = updatePostalCodeRequestConfig(accountId = accountId, postalCodeId = postalCodeId, code = code, latitude = latitude, longitude = longitude, stateCode = stateCode, city = city, active = active)

        return request<Unit, PostalCodeResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updatePostalCode
     *
     * @param accountId the id of the logged in user
     * @param postalCodeId the id of the postal code to update
     * @param code the postal code to update (optional)
     * @param latitude the latitude of the postal code (optional)
     * @param longitude the longitude of the postal code (optional)
     * @param stateCode the state code (e.g. WA, WI, WY) where the postal code is located (optional)
     * @param city the city where the postal code is located (optional)
     * @param active whether the postal code is active or inactive (optional)
     * @return RequestConfig
     */
    fun updatePostalCodeRequestConfig(accountId: kotlin.Long, postalCodeId: kotlin.Long, code: kotlin.String?, latitude: kotlin.Double?, longitude: kotlin.Double?, stateCode: kotlin.String?, city: kotlin.String?, active: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("postalCodeId", listOf(postalCodeId.toString()))
                if (code != null) {
                    put("code", listOf(code.toString()))
                }
                if (latitude != null) {
                    put("latitude", listOf(latitude.toString()))
                }
                if (longitude != null) {
                    put("longitude", listOf(longitude.toString()))
                }
                if (stateCode != null) {
                    put("stateCode", listOf(stateCode.toString()))
                }
                if (city != null) {
                    put("city", listOf(city.toString()))
                }
                if (active != null) {
                    put("active", listOf(active.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/postalCode/update",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
