/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.RouteSettings

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class RouteSettingApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /route/setting
     * Create Route Setting
     * Create a new route setting
     * @param body  (optional)
     * @return RouteSettings
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createRouteSettings(body: RouteSettings? = null) : RouteSettings {
        val localVarResponse = createRouteSettingsWithHttpInfo(body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RouteSettings
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /route/setting
     * Create Route Setting
     * Create a new route setting
     * @param body  (optional)
     * @return ApiResponse<RouteSettings?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createRouteSettingsWithHttpInfo(body: RouteSettings?) : ApiResponse<RouteSettings?> {
        val localVariableConfig = createRouteSettingsRequestConfig(body = body)

        return request<RouteSettings, RouteSettings>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createRouteSettings
     *
     * @param body  (optional)
     * @return RequestConfig
     */
    fun createRouteSettingsRequestConfig(body: RouteSettings?) : RequestConfig<RouteSettings> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/route/setting",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /route/setting/{routeSettingsId}
     * Delete Route Setting
     * Delete an existing route setting
     * @param routeSettingsId the id of the route setting to delete
     * @return kotlin.Any
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteRouteSettings(routeSettingsId: kotlin.Long) : kotlin.Any {
        val localVarResponse = deleteRouteSettingsWithHttpInfo(routeSettingsId = routeSettingsId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.Any
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /route/setting/{routeSettingsId}
     * Delete Route Setting
     * Delete an existing route setting
     * @param routeSettingsId the id of the route setting to delete
     * @return ApiResponse<kotlin.Any?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteRouteSettingsWithHttpInfo(routeSettingsId: kotlin.Long) : ApiResponse<kotlin.Any?> {
        val localVariableConfig = deleteRouteSettingsRequestConfig(routeSettingsId = routeSettingsId)

        return request<Unit, kotlin.Any>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteRouteSettings
     *
     * @param routeSettingsId the id of the route setting to delete
     * @return RequestConfig
     */
    fun deleteRouteSettingsRequestConfig(routeSettingsId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/route/setting/{routeSettingsId}".replace("{"+"routeSettingsId"+"}", encodeURIComponent(routeSettingsId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /route/setting/{routeSettingsId}
     * Get Route Setting
     * Get an existing route settings
     * @param routeSettingsId the id of the route settings to get
     * @return RouteSettings
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getRouteSettings(routeSettingsId: kotlin.Long) : RouteSettings {
        val localVarResponse = getRouteSettingsWithHttpInfo(routeSettingsId = routeSettingsId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RouteSettings
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /route/setting/{routeSettingsId}
     * Get Route Setting
     * Get an existing route settings
     * @param routeSettingsId the id of the route settings to get
     * @return ApiResponse<RouteSettings?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getRouteSettingsWithHttpInfo(routeSettingsId: kotlin.Long) : ApiResponse<RouteSettings?> {
        val localVariableConfig = getRouteSettingsRequestConfig(routeSettingsId = routeSettingsId)

        return request<Unit, RouteSettings>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getRouteSettings
     *
     * @param routeSettingsId the id of the route settings to get
     * @return RequestConfig
     */
    fun getRouteSettingsRequestConfig(routeSettingsId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/route/setting/{routeSettingsId}".replace("{"+"routeSettingsId"+"}", encodeURIComponent(routeSettingsId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /route/setting
     * Search Route Settings
     * Search for route settings
     * @param sortField The field to sort by
     * @param descending Determines whether the sorted list is in descending or ascending order
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @param activeOnly Return only active results
     * @param hubId The service hub that the route belongs under (optional)
     * @param programId The program that the route belongs under (optional)
     * @param keyword The keyword to search for the route (optional)
     * @return kotlin.collections.List<RouteSettings>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchRouteSettings(sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, activeOnly: kotlin.Boolean, hubId: kotlin.Long? = null, programId: kotlin.Long? = null, keyword: kotlin.String? = null) : kotlin.collections.List<RouteSettings> {
        val localVarResponse = searchRouteSettingsWithHttpInfo(sortField = sortField, descending = descending, start = start, limit = limit, activeOnly = activeOnly, hubId = hubId, programId = programId, keyword = keyword)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<RouteSettings>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /route/setting
     * Search Route Settings
     * Search for route settings
     * @param sortField The field to sort by
     * @param descending Determines whether the sorted list is in descending or ascending order
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @param activeOnly Return only active results
     * @param hubId The service hub that the route belongs under (optional)
     * @param programId The program that the route belongs under (optional)
     * @param keyword The keyword to search for the route (optional)
     * @return ApiResponse<kotlin.collections.List<RouteSettings>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchRouteSettingsWithHttpInfo(sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, activeOnly: kotlin.Boolean, hubId: kotlin.Long?, programId: kotlin.Long?, keyword: kotlin.String?) : ApiResponse<kotlin.collections.List<RouteSettings>?> {
        val localVariableConfig = searchRouteSettingsRequestConfig(sortField = sortField, descending = descending, start = start, limit = limit, activeOnly = activeOnly, hubId = hubId, programId = programId, keyword = keyword)

        return request<Unit, kotlin.collections.List<RouteSettings>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchRouteSettings
     *
     * @param sortField The field to sort by
     * @param descending Determines whether the sorted list is in descending or ascending order
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @param activeOnly Return only active results
     * @param hubId The service hub that the route belongs under (optional)
     * @param programId The program that the route belongs under (optional)
     * @param keyword The keyword to search for the route (optional)
     * @return RequestConfig
     */
    fun searchRouteSettingsRequestConfig(sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, activeOnly: kotlin.Boolean, hubId: kotlin.Long?, programId: kotlin.Long?, keyword: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (hubId != null) {
                    put("hubId", listOf(hubId.toString()))
                }
                if (programId != null) {
                    put("programId", listOf(programId.toString()))
                }
                if (keyword != null) {
                    put("keyword", listOf(keyword.toString()))
                }
                put("sortField", listOf(sortField.toString()))
                put("descending", listOf(descending.toString()))
                put("start", listOf(start.toString()))
                put("limit", listOf(limit.toString()))
                put("activeOnly", listOf(activeOnly.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/route/setting",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PUT /route/setting/{routeSettingsId}
     * Update Route Setting
     * Update an existing route setting
     * @param routeSettingsId the id of the route settings to update
     * @param body  (optional)
     * @return RouteSettings
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateRouteSettings(routeSettingsId: kotlin.Long, body: RouteSettings? = null) : RouteSettings {
        val localVarResponse = updateRouteSettingsWithHttpInfo(routeSettingsId = routeSettingsId, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as RouteSettings
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /route/setting/{routeSettingsId}
     * Update Route Setting
     * Update an existing route setting
     * @param routeSettingsId the id of the route settings to update
     * @param body  (optional)
     * @return ApiResponse<RouteSettings?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateRouteSettingsWithHttpInfo(routeSettingsId: kotlin.Long, body: RouteSettings?) : ApiResponse<RouteSettings?> {
        val localVariableConfig = updateRouteSettingsRequestConfig(routeSettingsId = routeSettingsId, body = body)

        return request<RouteSettings, RouteSettings>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateRouteSettings
     *
     * @param routeSettingsId the id of the route settings to update
     * @param body  (optional)
     * @return RequestConfig
     */
    fun updateRouteSettingsRequestConfig(routeSettingsId: kotlin.Long, body: RouteSettings?) : RequestConfig<RouteSettings> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/route/setting/{routeSettingsId}".replace("{"+"routeSettingsId"+"}", encodeURIComponent(routeSettingsId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
