/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ShipmentBatch
import org.openapitools.client.models.ShipmentImportStatus

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class ShipmentBatchApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /shipment/batch
     * Create Shipment Batch
     * Create a new shipment batch
     * @param body  (optional)
     * @return ShipmentBatch
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createShipmentBatch(body: ShipmentBatch? = null) : ShipmentBatch {
        val localVarResponse = createShipmentBatchWithHttpInfo(body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ShipmentBatch
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /shipment/batch
     * Create Shipment Batch
     * Create a new shipment batch
     * @param body  (optional)
     * @return ApiResponse<ShipmentBatch?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createShipmentBatchWithHttpInfo(body: ShipmentBatch?) : ApiResponse<ShipmentBatch?> {
        val localVariableConfig = createShipmentBatchRequestConfig(body = body)

        return request<ShipmentBatch, ShipmentBatch>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createShipmentBatch
     *
     * @param body  (optional)
     * @return RequestConfig
     */
    fun createShipmentBatchRequestConfig(body: ShipmentBatch?) : RequestConfig<ShipmentBatch> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/shipment/batch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /shipment/batch/{batchId}
     * Delete Shipment Batch
     * Search for shipment batches
     * @param batchId the id of the shipment batch to delete
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteShipmentBatch(batchId: kotlin.Long) : Unit {
        val localVarResponse = deleteShipmentBatchWithHttpInfo(batchId = batchId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /shipment/batch/{batchId}
     * Delete Shipment Batch
     * Search for shipment batches
     * @param batchId the id of the shipment batch to delete
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteShipmentBatchWithHttpInfo(batchId: kotlin.Long) : ApiResponse<Unit?> {
        val localVariableConfig = deleteShipmentBatchRequestConfig(batchId = batchId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteShipmentBatch
     *
     * @param batchId the id of the shipment batch to delete
     * @return RequestConfig
     */
    fun deleteShipmentBatchRequestConfig(batchId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/shipment/batch/{batchId}".replace("{"+"batchId"+"}", encodeURIComponent(batchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /shipment/batch/{batchId}
     * Get Shipment Batch
     * Get an existing shipment batch
     * @param batchId the id of the shipment batch to get
     * @return ShipmentBatch
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getShipmentBatch(batchId: kotlin.Long) : ShipmentBatch {
        val localVarResponse = getShipmentBatchWithHttpInfo(batchId = batchId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ShipmentBatch
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /shipment/batch/{batchId}
     * Get Shipment Batch
     * Get an existing shipment batch
     * @param batchId the id of the shipment batch to get
     * @return ApiResponse<ShipmentBatch?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getShipmentBatchWithHttpInfo(batchId: kotlin.Long) : ApiResponse<ShipmentBatch?> {
        val localVariableConfig = getShipmentBatchRequestConfig(batchId = batchId)

        return request<Unit, ShipmentBatch>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getShipmentBatch
     *
     * @param batchId the id of the shipment batch to get
     * @return RequestConfig
     */
    fun getShipmentBatchRequestConfig(batchId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/shipment/batch/{batchId}".replace("{"+"batchId"+"}", encodeURIComponent(batchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /shipment/batch/{batchId}/status
     * Get Shipment Batch Status
     * Get the import status list of the import shipment batch
     * @param batchId The id of the requested shipment batch
     * @param accountId the id of the logged in user
     * @param sortField The field to sort by
     * @param descending Determines whether the sorted list is in descending or ascending order
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @param valid Valid import status only or not (optional)
     * @param started Started import status only (optional)
     * @param completed Completed import status only (optional)
     * @param hasShipment Has shipment associate to the status (optional)
     * @param hasRoute Has route associate to the status (optional)
     * @param keyword The keyword to search for (optional)
     * @return kotlin.collections.List<ShipmentImportStatus>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getShipmentBatchStatus(batchId: kotlin.Long, accountId: kotlin.Long, sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, valid: kotlin.Boolean? = null, started: kotlin.Boolean? = null, completed: kotlin.Boolean? = null, hasShipment: kotlin.Boolean? = null, hasRoute: kotlin.Boolean? = null, keyword: kotlin.String? = null) : kotlin.collections.List<ShipmentImportStatus> {
        val localVarResponse = getShipmentBatchStatusWithHttpInfo(batchId = batchId, accountId = accountId, sortField = sortField, descending = descending, start = start, limit = limit, valid = valid, started = started, completed = completed, hasShipment = hasShipment, hasRoute = hasRoute, keyword = keyword)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ShipmentImportStatus>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /shipment/batch/{batchId}/status
     * Get Shipment Batch Status
     * Get the import status list of the import shipment batch
     * @param batchId The id of the requested shipment batch
     * @param accountId the id of the logged in user
     * @param sortField The field to sort by
     * @param descending Determines whether the sorted list is in descending or ascending order
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @param valid Valid import status only or not (optional)
     * @param started Started import status only (optional)
     * @param completed Completed import status only (optional)
     * @param hasShipment Has shipment associate to the status (optional)
     * @param hasRoute Has route associate to the status (optional)
     * @param keyword The keyword to search for (optional)
     * @return ApiResponse<kotlin.collections.List<ShipmentImportStatus>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getShipmentBatchStatusWithHttpInfo(batchId: kotlin.Long, accountId: kotlin.Long, sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, valid: kotlin.Boolean?, started: kotlin.Boolean?, completed: kotlin.Boolean?, hasShipment: kotlin.Boolean?, hasRoute: kotlin.Boolean?, keyword: kotlin.String?) : ApiResponse<kotlin.collections.List<ShipmentImportStatus>?> {
        val localVariableConfig = getShipmentBatchStatusRequestConfig(batchId = batchId, accountId = accountId, sortField = sortField, descending = descending, start = start, limit = limit, valid = valid, started = started, completed = completed, hasShipment = hasShipment, hasRoute = hasRoute, keyword = keyword)

        return request<Unit, kotlin.collections.List<ShipmentImportStatus>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getShipmentBatchStatus
     *
     * @param batchId The id of the requested shipment batch
     * @param accountId the id of the logged in user
     * @param sortField The field to sort by
     * @param descending Determines whether the sorted list is in descending or ascending order
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @param valid Valid import status only or not (optional)
     * @param started Started import status only (optional)
     * @param completed Completed import status only (optional)
     * @param hasShipment Has shipment associate to the status (optional)
     * @param hasRoute Has route associate to the status (optional)
     * @param keyword The keyword to search for (optional)
     * @return RequestConfig
     */
    fun getShipmentBatchStatusRequestConfig(batchId: kotlin.Long, accountId: kotlin.Long, sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, valid: kotlin.Boolean?, started: kotlin.Boolean?, completed: kotlin.Boolean?, hasShipment: kotlin.Boolean?, hasRoute: kotlin.Boolean?, keyword: kotlin.String?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                if (valid != null) {
                    put("valid", listOf(valid.toString()))
                }
                if (started != null) {
                    put("started", listOf(started.toString()))
                }
                if (completed != null) {
                    put("completed", listOf(completed.toString()))
                }
                if (hasShipment != null) {
                    put("hasShipment", listOf(hasShipment.toString()))
                }
                if (hasRoute != null) {
                    put("hasRoute", listOf(hasRoute.toString()))
                }
                if (keyword != null) {
                    put("keyword", listOf(keyword.toString()))
                }
                put("sortField", listOf(sortField.toString()))
                put("descending", listOf(descending.toString()))
                put("start", listOf(start.toString()))
                put("limit", listOf(limit.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/shipment/batch/{batchId}/status".replace("{"+"batchId"+"}", encodeURIComponent(batchId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /shipment/batch
     * Search Shipment Batch
     * Search for shipment batches
     * @param hubId The associated service hub
     * @param sortField The field to sort by
     * @param descending Determines whether the sorted list is in descending or ascending order
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @return kotlin.collections.List<ShipmentBatch>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchShipmentBatch(hubId: kotlin.Long, sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int) : kotlin.collections.List<ShipmentBatch> {
        val localVarResponse = searchShipmentBatchWithHttpInfo(hubId = hubId, sortField = sortField, descending = descending, start = start, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<ShipmentBatch>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /shipment/batch
     * Search Shipment Batch
     * Search for shipment batches
     * @param hubId The associated service hub
     * @param sortField The field to sort by
     * @param descending Determines whether the sorted list is in descending or ascending order
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @return ApiResponse<kotlin.collections.List<ShipmentBatch>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchShipmentBatchWithHttpInfo(hubId: kotlin.Long, sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int) : ApiResponse<kotlin.collections.List<ShipmentBatch>?> {
        val localVariableConfig = searchShipmentBatchRequestConfig(hubId = hubId, sortField = sortField, descending = descending, start = start, limit = limit)

        return request<Unit, kotlin.collections.List<ShipmentBatch>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchShipmentBatch
     *
     * @param hubId The associated service hub
     * @param sortField The field to sort by
     * @param descending Determines whether the sorted list is in descending or ascending order
     * @param start The start index for pagination
     * @param limit The limit for pagination
     * @return RequestConfig
     */
    fun searchShipmentBatchRequestConfig(hubId: kotlin.Long, sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("hubId", listOf(hubId.toString()))
                put("sortField", listOf(sortField.toString()))
                put("descending", listOf(descending.toString()))
                put("start", listOf(start.toString()))
                put("limit", listOf(limit.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/shipment/batch",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
