/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.SirqulResponse
import org.openapitools.client.models.TerritoryResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class TerritoryApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /territory/create
     * Create Territory
     * Creates a territory.
     * @param accountId The logged in user.
     * @param name The name of the territory
     * @param active If true set the game level as active. Default is true. (optional)
     * @return TerritoryResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createTerritory(accountId: kotlin.Long, name: kotlin.String, active: kotlin.Boolean? = null) : TerritoryResponse {
        val localVarResponse = createTerritoryWithHttpInfo(accountId = accountId, name = name, active = active)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TerritoryResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /territory/create
     * Create Territory
     * Creates a territory.
     * @param accountId The logged in user.
     * @param name The name of the territory
     * @param active If true set the game level as active. Default is true. (optional)
     * @return ApiResponse<TerritoryResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createTerritoryWithHttpInfo(accountId: kotlin.Long, name: kotlin.String, active: kotlin.Boolean?) : ApiResponse<TerritoryResponse?> {
        val localVariableConfig = createTerritoryRequestConfig(accountId = accountId, name = name, active = active)

        return request<Unit, TerritoryResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createTerritory
     *
     * @param accountId The logged in user.
     * @param name The name of the territory
     * @param active If true set the game level as active. Default is true. (optional)
     * @return RequestConfig
     */
    fun createTerritoryRequestConfig(accountId: kotlin.Long, name: kotlin.String, active: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("name", listOf(name.toString()))
                if (active != null) {
                    put("active", listOf(active.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/territory/create",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /territory/delete
     * Delete Territory
     * Deletes a territory.
     * @param accountId the id of the logged in user
     * @param territoryId the id of the territory to delete
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteTerritory(accountId: kotlin.Long, territoryId: kotlin.Long) : SirqulResponse {
        val localVarResponse = deleteTerritoryWithHttpInfo(accountId = accountId, territoryId = territoryId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /territory/delete
     * Delete Territory
     * Deletes a territory.
     * @param accountId the id of the logged in user
     * @param territoryId the id of the territory to delete
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteTerritoryWithHttpInfo(accountId: kotlin.Long, territoryId: kotlin.Long) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = deleteTerritoryRequestConfig(accountId = accountId, territoryId = territoryId)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteTerritory
     *
     * @param accountId the id of the logged in user
     * @param territoryId the id of the territory to delete
     * @return RequestConfig
     */
    fun deleteTerritoryRequestConfig(accountId: kotlin.Long, territoryId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("territoryId", listOf(territoryId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/territory/delete",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /territory/get
     * Get Territory
     * Get a territory.
     * @param territoryId the id of the territory to get
     * @return TerritoryResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getTerritory(territoryId: kotlin.Long) : TerritoryResponse {
        val localVarResponse = getTerritoryWithHttpInfo(territoryId = territoryId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TerritoryResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /territory/get
     * Get Territory
     * Get a territory.
     * @param territoryId the id of the territory to get
     * @return ApiResponse<TerritoryResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getTerritoryWithHttpInfo(territoryId: kotlin.Long) : ApiResponse<TerritoryResponse?> {
        val localVariableConfig = getTerritoryRequestConfig(territoryId = territoryId)

        return request<Unit, TerritoryResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getTerritory
     *
     * @param territoryId the id of the territory to get
     * @return RequestConfig
     */
    fun getTerritoryRequestConfig(territoryId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("territoryId", listOf(territoryId.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/territory/get",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter sortField
     */
     enum class SortFieldSearchTerritories(val value: kotlin.String) {
         @Json(name = "ID") ID("ID"),
         @Json(name = "UPDATED") UPDATED("UPDATED"),
         @Json(name = "CREATED") CREATED("CREATED"),
         @Json(name = "NAME") NAME("NAME");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /territory/search
     * Search Territories
     * Searches on territories.
     * @param sortField the field to sort by. Supported values include: ID, CREATED, UPDATED, NAME
     * @param descending determines whether the sorted list is in descending or ascending order
     * @param keyword Return results that match this keyword. (optional)
     * @param start The start index for pagination (optional)
     * @param limit The limit for pagination (optional)
     * @return kotlin.collections.List<TerritoryResponse>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchTerritories(sortField: SortFieldSearchTerritories, descending: kotlin.Boolean, keyword: kotlin.String? = null, start: kotlin.Int? = null, limit: kotlin.Int? = null) : kotlin.collections.List<TerritoryResponse> {
        val localVarResponse = searchTerritoriesWithHttpInfo(sortField = sortField, descending = descending, keyword = keyword, start = start, limit = limit)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<TerritoryResponse>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /territory/search
     * Search Territories
     * Searches on territories.
     * @param sortField the field to sort by. Supported values include: ID, CREATED, UPDATED, NAME
     * @param descending determines whether the sorted list is in descending or ascending order
     * @param keyword Return results that match this keyword. (optional)
     * @param start The start index for pagination (optional)
     * @param limit The limit for pagination (optional)
     * @return ApiResponse<kotlin.collections.List<TerritoryResponse>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchTerritoriesWithHttpInfo(sortField: SortFieldSearchTerritories, descending: kotlin.Boolean, keyword: kotlin.String?, start: kotlin.Int?, limit: kotlin.Int?) : ApiResponse<kotlin.collections.List<TerritoryResponse>?> {
        val localVariableConfig = searchTerritoriesRequestConfig(sortField = sortField, descending = descending, keyword = keyword, start = start, limit = limit)

        return request<Unit, kotlin.collections.List<TerritoryResponse>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchTerritories
     *
     * @param sortField the field to sort by. Supported values include: ID, CREATED, UPDATED, NAME
     * @param descending determines whether the sorted list is in descending or ascending order
     * @param keyword Return results that match this keyword. (optional)
     * @param start The start index for pagination (optional)
     * @param limit The limit for pagination (optional)
     * @return RequestConfig
     */
    fun searchTerritoriesRequestConfig(sortField: SortFieldSearchTerritories, descending: kotlin.Boolean, keyword: kotlin.String?, start: kotlin.Int?, limit: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (keyword != null) {
                    put("keyword", listOf(keyword.toString()))
                }
                if (start != null) {
                    put("start", listOf(start.toString()))
                }
                if (limit != null) {
                    put("limit", listOf(limit.toString()))
                }
                put("sortField", listOf(sortField.value))
                put("descending", listOf(descending.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/territory/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /territory/update
     * Update Territory
     * Updates a territory.
     * @param accountId The logged in user.
     * @param territoryId the id of the territory to update
     * @param name The name of the territory (optional)
     * @param active If true set the game level as active. (optional)
     * @return TerritoryResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateTerritory(accountId: kotlin.Long, territoryId: kotlin.Long, name: kotlin.String? = null, active: kotlin.Boolean? = null) : TerritoryResponse {
        val localVarResponse = updateTerritoryWithHttpInfo(accountId = accountId, territoryId = territoryId, name = name, active = active)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as TerritoryResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /territory/update
     * Update Territory
     * Updates a territory.
     * @param accountId The logged in user.
     * @param territoryId the id of the territory to update
     * @param name The name of the territory (optional)
     * @param active If true set the game level as active. (optional)
     * @return ApiResponse<TerritoryResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateTerritoryWithHttpInfo(accountId: kotlin.Long, territoryId: kotlin.Long, name: kotlin.String?, active: kotlin.Boolean?) : ApiResponse<TerritoryResponse?> {
        val localVariableConfig = updateTerritoryRequestConfig(accountId = accountId, territoryId = territoryId, name = name, active = active)

        return request<Unit, TerritoryResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateTerritory
     *
     * @param accountId The logged in user.
     * @param territoryId the id of the territory to update
     * @param name The name of the territory (optional)
     * @param active If true set the game level as active. (optional)
     * @return RequestConfig
     */
    fun updateTerritoryRequestConfig(accountId: kotlin.Long, territoryId: kotlin.Long, name: kotlin.String?, active: kotlin.Boolean?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("accountId", listOf(accountId.toString()))
                put("territoryId", listOf(territoryId.toString()))
                if (name != null) {
                    put("name", listOf(name.toString()))
                }
                if (active != null) {
                    put("active", listOf(active.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/territory/update",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
