/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.ProfileResponse
import org.openapitools.client.models.SirqulResponse

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class TwitterApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /twitter/authorize
     * Authorize Twitter
     * Makes an authorization call to twitter for a user to login and allow any app permissions.
     * @param appKey the application key
     * @return SirqulResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun authorizeTwitter(appKey: kotlin.String) : SirqulResponse {
        val localVarResponse = authorizeTwitterWithHttpInfo(appKey = appKey)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as SirqulResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /twitter/authorize
     * Authorize Twitter
     * Makes an authorization call to twitter for a user to login and allow any app permissions.
     * @param appKey the application key
     * @return ApiResponse<SirqulResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun authorizeTwitterWithHttpInfo(appKey: kotlin.String) : ApiResponse<SirqulResponse?> {
        val localVariableConfig = authorizeTwitterRequestConfig(appKey = appKey)

        return request<Unit, SirqulResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation authorizeTwitter
     *
     * @param appKey the application key
     * @return RequestConfig
     */
    fun authorizeTwitterRequestConfig(appKey: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("appKey", listOf(appKey.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/twitter/authorize",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * POST /twitter/login
     * Login Twitter
     * Returns the user profile information given an access token and the secret access token. This call verifies the tokens with twitter and creates a Sirqul account for the user if its their first time logging in.
     * @param accessToken The access token
     * @param accessTokenSecret The secret access token
     * @param appKey The application key
     * @param responseFilters a comma separated list of ProfileFilters for filtering the returned response data
     * @param deviceId The device id (optional)
     * @param latitude The current latitude of the user (optional)
     * @param longitude The current longitude of the user (optional)
     * @return ProfileResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun loginTwitter(accessToken: kotlin.String, accessTokenSecret: kotlin.String, appKey: kotlin.String, responseFilters: kotlin.String, deviceId: kotlin.String? = null, latitude: kotlin.Double? = null, longitude: kotlin.Double? = null) : ProfileResponse {
        val localVarResponse = loginTwitterWithHttpInfo(accessToken = accessToken, accessTokenSecret = accessTokenSecret, appKey = appKey, responseFilters = responseFilters, deviceId = deviceId, latitude = latitude, longitude = longitude)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as ProfileResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /twitter/login
     * Login Twitter
     * Returns the user profile information given an access token and the secret access token. This call verifies the tokens with twitter and creates a Sirqul account for the user if its their first time logging in.
     * @param accessToken The access token
     * @param accessTokenSecret The secret access token
     * @param appKey The application key
     * @param responseFilters a comma separated list of ProfileFilters for filtering the returned response data
     * @param deviceId The device id (optional)
     * @param latitude The current latitude of the user (optional)
     * @param longitude The current longitude of the user (optional)
     * @return ApiResponse<ProfileResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun loginTwitterWithHttpInfo(accessToken: kotlin.String, accessTokenSecret: kotlin.String, appKey: kotlin.String, responseFilters: kotlin.String, deviceId: kotlin.String?, latitude: kotlin.Double?, longitude: kotlin.Double?) : ApiResponse<ProfileResponse?> {
        val localVariableConfig = loginTwitterRequestConfig(accessToken = accessToken, accessTokenSecret = accessTokenSecret, appKey = appKey, responseFilters = responseFilters, deviceId = deviceId, latitude = latitude, longitude = longitude)

        return request<Unit, ProfileResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation loginTwitter
     *
     * @param accessToken The access token
     * @param accessTokenSecret The secret access token
     * @param appKey The application key
     * @param responseFilters a comma separated list of ProfileFilters for filtering the returned response data
     * @param deviceId The device id (optional)
     * @param latitude The current latitude of the user (optional)
     * @param longitude The current longitude of the user (optional)
     * @return RequestConfig
     */
    fun loginTwitterRequestConfig(accessToken: kotlin.String, accessTokenSecret: kotlin.String, appKey: kotlin.String, responseFilters: kotlin.String, deviceId: kotlin.String?, latitude: kotlin.Double?, longitude: kotlin.Double?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (deviceId != null) {
                    put("deviceId", listOf(deviceId.toString()))
                }
                put("accessToken", listOf(accessToken.toString()))
                put("accessTokenSecret", listOf(accessTokenSecret.toString()))
                put("appKey", listOf(appKey.toString()))
                put("responseFilters", listOf(responseFilters.toString()))
                if (latitude != null) {
                    put("latitude", listOf(latitude.toString()))
                }
                if (longitude != null) {
                    put("longitude", listOf(longitude.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/twitter/login",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
