/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import org.openapitools.client.models.VehicleType

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.PartConfig
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

open class VehicleTypeApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://dev.sirqul.com/api/3.18")
        }
    }

    /**
     * POST /vehicle/type
     * Create Vehicle Type
     * Create a new vehicle type
     * @param vehicleType A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
     * @param body  (optional)
     * @return VehicleType
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun createVehicleType(vehicleType: kotlin.String, body: VehicleType? = null) : VehicleType {
        val localVarResponse = createVehicleTypeWithHttpInfo(vehicleType = vehicleType, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VehicleType
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /vehicle/type
     * Create Vehicle Type
     * Create a new vehicle type
     * @param vehicleType A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
     * @param body  (optional)
     * @return ApiResponse<VehicleType?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun createVehicleTypeWithHttpInfo(vehicleType: kotlin.String, body: VehicleType?) : ApiResponse<VehicleType?> {
        val localVariableConfig = createVehicleTypeRequestConfig(vehicleType = vehicleType, body = body)

        return request<VehicleType, VehicleType>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation createVehicleType
     *
     * @param vehicleType A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
     * @param body  (optional)
     * @return RequestConfig
     */
    fun createVehicleTypeRequestConfig(vehicleType: kotlin.String, body: VehicleType?) : RequestConfig<VehicleType> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("vehicleType", listOf(vehicleType.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/vehicle/type",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * DELETE /vehicle/type/{vehicleTypeId}
     * Delete Vehicle Type
     * Delete a vehicle type
     * @param vehicleTypeId The id of the requested vehicle type
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun deleteVehicleType(vehicleTypeId: kotlin.Long) : Unit {
        val localVarResponse = deleteVehicleTypeWithHttpInfo(vehicleTypeId = vehicleTypeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * DELETE /vehicle/type/{vehicleTypeId}
     * Delete Vehicle Type
     * Delete a vehicle type
     * @param vehicleTypeId The id of the requested vehicle type
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun deleteVehicleTypeWithHttpInfo(vehicleTypeId: kotlin.Long) : ApiResponse<Unit?> {
        val localVariableConfig = deleteVehicleTypeRequestConfig(vehicleTypeId = vehicleTypeId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation deleteVehicleType
     *
     * @param vehicleTypeId The id of the requested vehicle type
     * @return RequestConfig
     */
    fun deleteVehicleTypeRequestConfig(vehicleTypeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/vehicle/type/{vehicleTypeId}".replace("{"+"vehicleTypeId"+"}", encodeURIComponent(vehicleTypeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /vehicle/type/{vehicleTypeId}
     * Get Vehicle Type
     * Get a vehicle type
     * @param vehicleTypeId The id of the requested vehicle type
     * @return VehicleType
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun getVehicleType(vehicleTypeId: kotlin.Long) : VehicleType {
        val localVarResponse = getVehicleTypeWithHttpInfo(vehicleTypeId = vehicleTypeId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VehicleType
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /vehicle/type/{vehicleTypeId}
     * Get Vehicle Type
     * Get a vehicle type
     * @param vehicleTypeId The id of the requested vehicle type
     * @return ApiResponse<VehicleType?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun getVehicleTypeWithHttpInfo(vehicleTypeId: kotlin.Long) : ApiResponse<VehicleType?> {
        val localVariableConfig = getVehicleTypeRequestConfig(vehicleTypeId = vehicleTypeId)

        return request<Unit, VehicleType>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation getVehicleType
     *
     * @param vehicleTypeId The id of the requested vehicle type
     * @return RequestConfig
     */
    fun getVehicleTypeRequestConfig(vehicleTypeId: kotlin.Long) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/vehicle/type/{vehicleTypeId}".replace("{"+"vehicleTypeId"+"}", encodeURIComponent(vehicleTypeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * GET /vehicle/type
     * Search Vehicle Type
     * Search for types of vehicles
     * @param sortField The field to sort by (default to "id")
     * @param descending Determines whether the sorted list is in descending or ascending order (default to false)
     * @param start The start index for pagination (default to 0)
     * @param limit The limit for pagination (default to 20)
     * @param activeOnly Return only active results (default to true)
     * @param retailerId Filter by retailer (optional)
     * @param hubId Filter by service hub (optional)
     * @return kotlin.collections.List<VehicleType>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun searchVehicleTypes(sortField: kotlin.String = "id", descending: kotlin.Boolean = false, start: kotlin.Int = 0, limit: kotlin.Int = 20, activeOnly: kotlin.Boolean = true, retailerId: kotlin.Long? = null, hubId: kotlin.Long? = null) : kotlin.collections.List<VehicleType> {
        val localVarResponse = searchVehicleTypesWithHttpInfo(sortField = sortField, descending = descending, start = start, limit = limit, activeOnly = activeOnly, retailerId = retailerId, hubId = hubId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as kotlin.collections.List<VehicleType>
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /vehicle/type
     * Search Vehicle Type
     * Search for types of vehicles
     * @param sortField The field to sort by (default to "id")
     * @param descending Determines whether the sorted list is in descending or ascending order (default to false)
     * @param start The start index for pagination (default to 0)
     * @param limit The limit for pagination (default to 20)
     * @param activeOnly Return only active results (default to true)
     * @param retailerId Filter by retailer (optional)
     * @param hubId Filter by service hub (optional)
     * @return ApiResponse<kotlin.collections.List<VehicleType>?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun searchVehicleTypesWithHttpInfo(sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, activeOnly: kotlin.Boolean, retailerId: kotlin.Long?, hubId: kotlin.Long?) : ApiResponse<kotlin.collections.List<VehicleType>?> {
        val localVariableConfig = searchVehicleTypesRequestConfig(sortField = sortField, descending = descending, start = start, limit = limit, activeOnly = activeOnly, retailerId = retailerId, hubId = hubId)

        return request<Unit, kotlin.collections.List<VehicleType>>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation searchVehicleTypes
     *
     * @param sortField The field to sort by (default to "id")
     * @param descending Determines whether the sorted list is in descending or ascending order (default to false)
     * @param start The start index for pagination (default to 0)
     * @param limit The limit for pagination (default to 20)
     * @param activeOnly Return only active results (default to true)
     * @param retailerId Filter by retailer (optional)
     * @param hubId Filter by service hub (optional)
     * @return RequestConfig
     */
    fun searchVehicleTypesRequestConfig(sortField: kotlin.String, descending: kotlin.Boolean, start: kotlin.Int, limit: kotlin.Int, activeOnly: kotlin.Boolean, retailerId: kotlin.Long?, hubId: kotlin.Long?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (retailerId != null) {
                    put("retailerId", listOf(retailerId.toString()))
                }
                if (hubId != null) {
                    put("hubId", listOf(hubId.toString()))
                }
                put("sortField", listOf(sortField.toString()))
                put("descending", listOf(descending.toString()))
                put("start", listOf(start.toString()))
                put("limit", listOf(limit.toString()))
                put("activeOnly", listOf(activeOnly.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/vehicle/type",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }

    /**
     * PUT /vehicle/type/{vehicleTypeId}
     * Update Vehicle Type
     * Update a vehicle type
     * @param vehicleTypeId The id of the vehicle type to update
     * @param vehicleType The new data for the vehicle type to update to. A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
     * @param body  (optional)
     * @return VehicleType
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun updateVehicleType(vehicleTypeId: kotlin.Long, vehicleType: kotlin.String, body: VehicleType? = null) : VehicleType {
        val localVarResponse = updateVehicleTypeWithHttpInfo(vehicleTypeId = vehicleTypeId, vehicleType = vehicleType, body = body)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as VehicleType
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * PUT /vehicle/type/{vehicleTypeId}
     * Update Vehicle Type
     * Update a vehicle type
     * @param vehicleTypeId The id of the vehicle type to update
     * @param vehicleType The new data for the vehicle type to update to. A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
     * @param body  (optional)
     * @return ApiResponse<VehicleType?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun updateVehicleTypeWithHttpInfo(vehicleTypeId: kotlin.Long, vehicleType: kotlin.String, body: VehicleType?) : ApiResponse<VehicleType?> {
        val localVariableConfig = updateVehicleTypeRequestConfig(vehicleTypeId = vehicleTypeId, vehicleType = vehicleType, body = body)

        return request<VehicleType, VehicleType>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation updateVehicleType
     *
     * @param vehicleTypeId The id of the vehicle type to update
     * @param vehicleType The new data for the vehicle type to update to. A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
     * @param body  (optional)
     * @return RequestConfig
     */
    fun updateVehicleTypeRequestConfig(vehicleTypeId: kotlin.Long, vehicleType: kotlin.String, body: VehicleType?) : RequestConfig<VehicleType> {
        val localVariableBody = body
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("vehicleType", listOf(vehicleType.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/vehicle/type/{vehicleTypeId}".replace("{"+"vehicleTypeId"+"}", encodeURIComponent(vehicleTypeId.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
