/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AccountLoginResponse;
import org.openapitools.client.model.AssetListResponse;
import java.math.BigDecimal;
import java.util.*;
import org.openapitools.client.model.ProfileInfoResponse;
import org.openapitools.client.model.ProfileResponse;
import org.openapitools.client.model.SirqulResponse;
import org.openapitools.client.model.UserLocationSearchResponse;
import org.openapitools.client.model.UserSettingsResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class AccountApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Search Accounts by Location
  * Search accounts by their location. This only searches on users that have location data. Use ConnectionApi to perform a regular search on accounts.
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param q Deprecated - legacy query parameter
   * @param keyword An optional keyword to search on, will be ignore if empty (NOT implemented yet)
   * @param postalCode The postal code to search on, either postalCode or the user&#39;s exact location is required
   * @param latitude The latitude of the user, either postalCode or the user&#39;s exact location is required
   * @param longitude The longitude of the user, either postalCode or the user&#39;s exact location is required
   * @param appKey The application key
   * @param range The range to search on
   * @param locationLastUpdated Searches for user&#39;s that has updated their location since this date
   * @param gender The preferred gender
   * @param minAge The preferred min age
   * @param maxAge The preferred max age
   * @param companionshipIndex The preferred companionship index
   * @param i this is the start index of a query
   * @param start Start of the pagination
   * @param l this is the limit index of a query
   * @param limit Limit of the pagination
   * @param searchMode Search mode to use for index searches (e.g. CLOUDINDEX, OPENSEARCH)
   * @param sortField Sorting field for results (default: DISTANCE)
   * @param descending Whether to sort descending (default: false)
   * @param roles Roles to filter on
   * @param tags Tags to filter on
   * @param experience The experience to filter on
   * @param categoryIds The category ids to filter on (comma separated)
   * @param audienceIds The audience ids to filter on (comma separated)
   * @param audienceOperator Operator used to combine audience filters (default: AND)
   * @param updateCurrentLocation Whether to use the given lat &amp; long to update the user&#39;s current location
   * @param updatePreferredSettings Whether to use the given parameters to update the user&#39;s preferred settings
   * @param showExactLocations Determines whether to always display user exact locations
   * @param showConnectionToSearcher Return connection of the accounts in the result to the passed in account if there exists any
   * @param flagCountMinimum Return any results that have a minimum of the specified flag count (even ones that have met the flag threshold)
   * @param verifiedUserOnly Returns only verified users
   * @param contentAdminOnly Returns only content admin users
   * @return UserLocationSearchResponse
  */
  public UserLocationSearchResponse accountLocationSearch (String deviceId, Long accountId, String q, String keyword, String postalCode, Double latitude, Double longitude, String appKey, Double range, Long locationLastUpdated, String gender, Integer minAge, Integer maxAge, Integer companionshipIndex, Integer i, Integer start, Integer l, Integer limit, String searchMode, String sortField, Boolean descending, String roles, String tags, String experience, String categoryIds, String audienceIds, String audienceOperator, Boolean updateCurrentLocation, Boolean updatePreferredSettings, Boolean showExactLocations, Boolean showConnectionToSearcher, Long flagCountMinimum, Boolean verifiedUserOnly, Boolean contentAdminOnly) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/account/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "range", range));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationLastUpdated", locationLastUpdated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gender", gender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minAge", minAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maxAge", maxAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionshipIndex", companionshipIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchMode", searchMode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "roles", roles));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "experience", experience));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIds", audienceIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceOperator", audienceOperator));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "updateCurrentLocation", updateCurrentLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "updatePreferredSettings", updatePreferredSettings));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showExactLocations", showExactLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showConnectionToSearcher", showConnectionToSearcher));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "flagCountMinimum", flagCountMinimum));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "verifiedUserOnly", verifiedUserOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "contentAdminOnly", contentAdminOnly));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (UserLocationSearchResponse) ApiInvoker.deserialize(localVarResponse, "", UserLocationSearchResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Accounts by Location
   * Search accounts by their location. This only searches on users that have location data. Use ConnectionApi to perform a regular search on accounts.
   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param q Deprecated - legacy query parameter   * @param keyword An optional keyword to search on, will be ignore if empty (NOT implemented yet)   * @param postalCode The postal code to search on, either postalCode or the user&#39;s exact location is required   * @param latitude The latitude of the user, either postalCode or the user&#39;s exact location is required   * @param longitude The longitude of the user, either postalCode or the user&#39;s exact location is required   * @param appKey The application key   * @param range The range to search on   * @param locationLastUpdated Searches for user&#39;s that has updated their location since this date   * @param gender The preferred gender   * @param minAge The preferred min age   * @param maxAge The preferred max age   * @param companionshipIndex The preferred companionship index   * @param i this is the start index of a query   * @param start Start of the pagination   * @param l this is the limit index of a query   * @param limit Limit of the pagination   * @param searchMode Search mode to use for index searches (e.g. CLOUDINDEX, OPENSEARCH)   * @param sortField Sorting field for results (default: DISTANCE)   * @param descending Whether to sort descending (default: false)   * @param roles Roles to filter on   * @param tags Tags to filter on   * @param experience The experience to filter on   * @param categoryIds The category ids to filter on (comma separated)   * @param audienceIds The audience ids to filter on (comma separated)   * @param audienceOperator Operator used to combine audience filters (default: AND)   * @param updateCurrentLocation Whether to use the given lat &amp; long to update the user&#39;s current location   * @param updatePreferredSettings Whether to use the given parameters to update the user&#39;s preferred settings   * @param showExactLocations Determines whether to always display user exact locations   * @param showConnectionToSearcher Return connection of the accounts in the result to the passed in account if there exists any   * @param flagCountMinimum Return any results that have a minimum of the specified flag count (even ones that have met the flag threshold)   * @param verifiedUserOnly Returns only verified users   * @param contentAdminOnly Returns only content admin users
  */
  public void accountLocationSearch (String deviceId, Long accountId, String q, String keyword, String postalCode, Double latitude, Double longitude, String appKey, Double range, Long locationLastUpdated, String gender, Integer minAge, Integer maxAge, Integer companionshipIndex, Integer i, Integer start, Integer l, Integer limit, String searchMode, String sortField, Boolean descending, String roles, String tags, String experience, String categoryIds, String audienceIds, String audienceOperator, Boolean updateCurrentLocation, Boolean updatePreferredSettings, Boolean showExactLocations, Boolean showConnectionToSearcher, Long flagCountMinimum, Boolean verifiedUserOnly, Boolean contentAdminOnly, final Response.Listener<UserLocationSearchResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/account/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "range", range));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationLastUpdated", locationLastUpdated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gender", gender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minAge", minAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maxAge", maxAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionshipIndex", companionshipIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchMode", searchMode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "roles", roles));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "experience", experience));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIds", audienceIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceOperator", audienceOperator));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "updateCurrentLocation", updateCurrentLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "updatePreferredSettings", updatePreferredSettings));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showExactLocations", showExactLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showConnectionToSearcher", showConnectionToSearcher));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "flagCountMinimum", flagCountMinimum));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "verifiedUserOnly", verifiedUserOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "contentAdminOnly", contentAdminOnly));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((UserLocationSearchResponse) ApiInvoker.deserialize(localVarResponse,  "", UserLocationSearchResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Block Account
  * Moves or removes an account into the user&#39;s blocked group.
   * @param accountIdBeingBlocked The id of the account to be blocked/unblocked
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param blockFlagValue Determines whether the account is blocked or unblocked
   * @param removeFromGroupsIfBlocked Determines whether the account is removed from all other groups if blocked
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   * @return SirqulResponse
  */
  public SirqulResponse blockAccount (Long accountIdBeingBlocked, String deviceId, Long accountId, Boolean blockFlagValue, Boolean removeFromGroupsIfBlocked, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountIdBeingBlocked' is set
    if (accountIdBeingBlocked == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountIdBeingBlocked' when calling blockAccount",
        new ApiException(400, "Missing the required parameter 'accountIdBeingBlocked' when calling blockAccount"));
    }

    // create path and map variables
    String path = "/account/block";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountIdBeingBlocked", accountIdBeingBlocked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "blockFlagValue", blockFlagValue));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeFromGroupsIfBlocked", removeFromGroupsIfBlocked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Block Account
   * Moves or removes an account into the user&#39;s blocked group.
   * @param accountIdBeingBlocked The id of the account to be blocked/unblocked   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param blockFlagValue Determines whether the account is blocked or unblocked   * @param removeFromGroupsIfBlocked Determines whether the account is removed from all other groups if blocked   * @param latitude The current latitude of the user   * @param longitude The current longitude of the user
  */
  public void blockAccount (Long accountIdBeingBlocked, String deviceId, Long accountId, Boolean blockFlagValue, Boolean removeFromGroupsIfBlocked, Double latitude, Double longitude, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountIdBeingBlocked' is set
    if (accountIdBeingBlocked == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountIdBeingBlocked' when calling blockAccount",
        new ApiException(400, "Missing the required parameter 'accountIdBeingBlocked' when calling blockAccount"));
    }

    // create path and map variables
    String path = "/account/block".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountIdBeingBlocked", accountIdBeingBlocked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "blockFlagValue", blockFlagValue));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeFromGroupsIfBlocked", removeFromGroupsIfBlocked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Account
  * Create a new account by role.
   * @param username The access token to authenticate with (ex: username)
   * @param password The secret to authenticate with (ex: password)
   * @param name The full name of the user. If this parameter is NOT empty, the following parameters will be ignored: prefixName, firstName, middleName, lastName, and suffixName
   * @param prefixName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the prefix of the user&#39;s name
   * @param firstName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s first name
   * @param middleName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s middle name
   * @param lastName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s last name
   * @param suffixName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the suffix of the user&#39;s name
   * @param title This field will be used to set the user&#39;s job title
   * @param deviceId The unique id of the device making the request
   * @param deviceIdType The type of device id (this is defined by the client), ie. MAC_ADDRESS, APPLE_UDID, etc
   * @param emailAddress The user&#39;s contact email address (NOT the username)
   * @param assetId The asset id to set the user&#39;s profile image
   * @param streetAddress The street address of the user&#39;s contact location
   * @param zipcode The zipcode of the user&#39;s contact location
   * @param gender The gender of the user (AudienceGender)
   * @param birthday The birthday date of the user in UTC milliseconds
   * @param homePhone The home phone number
   * @param cellPhone The cellular phone number
   * @param cellPhoneCarrier The cellular service provider
   * @param businessPhone The business phone number
   * @param role The account role (default: MEMBER)
   * @param platforms Comma separated list of development platforms
   * @param tags Search tags
   * @param aboutUs About us information
   * @param gameExperience Game experience of the user
   * @param categoryIds A list of category ids that represent interests and associations
   * @param hometown The user&#39;s hometown
   * @param height The user&#39;s height
   * @param heightIndex The user&#39;s height in a numerical value that can be used for ordering/searching
   * @param ethnicity The user&#39;s ethnicity
   * @param bodyType The user&#39;s body type
   * @param maritalStatus The user&#39;s marital status
   * @param children The user&#39;s children status
   * @param religion The user&#39;s religion
   * @param education The user&#39;s education
   * @param educationIndex The user&#39;s education in a numerical value that can be used for ordering/searching
   * @param smoke The user&#39;s smoke status
   * @param drink The user&#39;s drink status
   * @param companionship The user&#39;s companionship status
   * @param companionshipIndex The user&#39;s companionship index
   * @param preferredMinAge The preferred minimum age in the account location search
   * @param preferredMaxAge The preferred maximum age in the account location search
   * @param preferredMinHeight The preferred minimum height in the account location search
   * @param preferredMaxHeight The preferred maximum height in the account location search
   * @param preferredGender The preferred gender in the account location search
   * @param preferredEducation The preferred education in the account location search
   * @param preferredEducationIndex The preferred education in a numerical value that can be used for ordering/searching
   * @param preferredBodyType The preferred body type in the account location search
   * @param preferredEthnicity The preferred ethnicity in the account location search
   * @param preferredLocation The preferred location in the account location search
   * @param preferredLocationRange The preferred location range in the account location search
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   * @param acceptedTerms Accepted Terms
   * @param inviteToken The inviteToken that the referrer used for this account to sign up
   * @param referralAccountId The accountId of the referrer (used if there is no inviteToken)
   * @param sendValidation Whether to send validation email
   * @param gameType Deprecated: use appKey
   * @param appKey The application key
   * @param appVersion The application version
   * @param responseType Returns an AccountLoginResponse if \&quot;AccountLoginResponse\&quot; is passed in
   * @param audienceIdsToAdd Comma separated list of audience ids to assign to the user
   * @param appBlob Application blob data
   * @param appEnablePush Enable push for the app
   * @param appEnableSMS Enable SMS for the app
   * @param appEnableEmail Enable email for the app
   * @param locationVisibility Location visibility setting
   * @param homeLatitude Home latitude
   * @param homeLongitude Home longitude
   * @param appNickname The nickname used in the application for this account
   * @param personalAudienceId Personal audience id to associate with this account
   * @return AccountLoginResponse
  */
  public AccountLoginResponse createAccount (String username, String password, String name, String prefixName, String firstName, String middleName, String lastName, String suffixName, String title, String deviceId, String deviceIdType, String emailAddress, Long assetId, String streetAddress, String zipcode, String gender, Long birthday, String homePhone, String cellPhone, String cellPhoneCarrier, String businessPhone, String role, String platforms, String tags, String aboutUs, String gameExperience, String categoryIds, String hometown, String height, Integer heightIndex, String ethnicity, String bodyType, String maritalStatus, String children, String religion, String education, Integer educationIndex, String smoke, String drink, String companionship, Integer companionshipIndex, Integer preferredMinAge, Integer preferredMaxAge, Integer preferredMinHeight, Integer preferredMaxHeight, String preferredGender, String preferredEducation, Integer preferredEducationIndex, String preferredBodyType, String preferredEthnicity, String preferredLocation, Double preferredLocationRange, Double latitude, Double longitude, Boolean acceptedTerms, String inviteToken, Long referralAccountId, Boolean sendValidation, String gameType, String appKey, String appVersion, String responseType, String audienceIdsToAdd, String appBlob, Boolean appEnablePush, Boolean appEnableSMS, Boolean appEnableEmail, String locationVisibility, Double homeLatitude, Double homeLongitude, String appNickname, Long personalAudienceId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'username' is set
    if (username == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'username' when calling createAccount",
        new ApiException(400, "Missing the required parameter 'username' when calling createAccount"));
    }
    // verify the required parameter 'password' is set
    if (password == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'password' when calling createAccount",
        new ApiException(400, "Missing the required parameter 'password' when calling createAccount"));
    }

    // create path and map variables
    String path = "/account/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "prefixName", prefixName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "firstName", firstName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "middleName", middleName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lastName", lastName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffixName", suffixName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceIdType", deviceIdType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "password", password));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "emailAddress", emailAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "zipcode", zipcode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gender", gender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "birthday", birthday));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "homePhone", homePhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cellPhone", cellPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cellPhoneCarrier", cellPhoneCarrier));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "role", role));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "platforms", platforms));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "aboutUs", aboutUs));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameExperience", gameExperience));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hometown", hometown));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "height", height));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "heightIndex", heightIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ethnicity", ethnicity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bodyType", bodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maritalStatus", maritalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "children", children));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "religion", religion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "education", education));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "educationIndex", educationIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "smoke", smoke));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "drink", drink));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionship", companionship));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionshipIndex", companionshipIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMinAge", preferredMinAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMaxAge", preferredMaxAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMinHeight", preferredMinHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMaxHeight", preferredMaxHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredGender", preferredGender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEducation", preferredEducation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEducationIndex", preferredEducationIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredBodyType", preferredBodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEthnicity", preferredEthnicity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredLocation", preferredLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredLocationRange", preferredLocationRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "acceptedTerms", acceptedTerms));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "inviteToken", inviteToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "referralAccountId", referralAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sendValidation", sendValidation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseType", responseType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToAdd", audienceIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appBlob", appBlob));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnablePush", appEnablePush));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnableSMS", appEnableSMS));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnableEmail", appEnableEmail));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationVisibility", locationVisibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "homeLatitude", homeLatitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "homeLongitude", homeLongitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appNickname", appNickname));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "personalAudienceId", personalAudienceId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AccountLoginResponse) ApiInvoker.deserialize(localVarResponse, "", AccountLoginResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Account
   * Create a new account by role.
   * @param username The access token to authenticate with (ex: username)   * @param password The secret to authenticate with (ex: password)   * @param name The full name of the user. If this parameter is NOT empty, the following parameters will be ignored: prefixName, firstName, middleName, lastName, and suffixName   * @param prefixName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the prefix of the user&#39;s name   * @param firstName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s first name   * @param middleName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s middle name   * @param lastName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s last name   * @param suffixName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the suffix of the user&#39;s name   * @param title This field will be used to set the user&#39;s job title   * @param deviceId The unique id of the device making the request   * @param deviceIdType The type of device id (this is defined by the client), ie. MAC_ADDRESS, APPLE_UDID, etc   * @param emailAddress The user&#39;s contact email address (NOT the username)   * @param assetId The asset id to set the user&#39;s profile image   * @param streetAddress The street address of the user&#39;s contact location   * @param zipcode The zipcode of the user&#39;s contact location   * @param gender The gender of the user (AudienceGender)   * @param birthday The birthday date of the user in UTC milliseconds   * @param homePhone The home phone number   * @param cellPhone The cellular phone number   * @param cellPhoneCarrier The cellular service provider   * @param businessPhone The business phone number   * @param role The account role (default: MEMBER)   * @param platforms Comma separated list of development platforms   * @param tags Search tags   * @param aboutUs About us information   * @param gameExperience Game experience of the user   * @param categoryIds A list of category ids that represent interests and associations   * @param hometown The user&#39;s hometown   * @param height The user&#39;s height   * @param heightIndex The user&#39;s height in a numerical value that can be used for ordering/searching   * @param ethnicity The user&#39;s ethnicity   * @param bodyType The user&#39;s body type   * @param maritalStatus The user&#39;s marital status   * @param children The user&#39;s children status   * @param religion The user&#39;s religion   * @param education The user&#39;s education   * @param educationIndex The user&#39;s education in a numerical value that can be used for ordering/searching   * @param smoke The user&#39;s smoke status   * @param drink The user&#39;s drink status   * @param companionship The user&#39;s companionship status   * @param companionshipIndex The user&#39;s companionship index   * @param preferredMinAge The preferred minimum age in the account location search   * @param preferredMaxAge The preferred maximum age in the account location search   * @param preferredMinHeight The preferred minimum height in the account location search   * @param preferredMaxHeight The preferred maximum height in the account location search   * @param preferredGender The preferred gender in the account location search   * @param preferredEducation The preferred education in the account location search   * @param preferredEducationIndex The preferred education in a numerical value that can be used for ordering/searching   * @param preferredBodyType The preferred body type in the account location search   * @param preferredEthnicity The preferred ethnicity in the account location search   * @param preferredLocation The preferred location in the account location search   * @param preferredLocationRange The preferred location range in the account location search   * @param latitude The current latitude of the user   * @param longitude The current longitude of the user   * @param acceptedTerms Accepted Terms   * @param inviteToken The inviteToken that the referrer used for this account to sign up   * @param referralAccountId The accountId of the referrer (used if there is no inviteToken)   * @param sendValidation Whether to send validation email   * @param gameType Deprecated: use appKey   * @param appKey The application key   * @param appVersion The application version   * @param responseType Returns an AccountLoginResponse if \&quot;AccountLoginResponse\&quot; is passed in   * @param audienceIdsToAdd Comma separated list of audience ids to assign to the user   * @param appBlob Application blob data   * @param appEnablePush Enable push for the app   * @param appEnableSMS Enable SMS for the app   * @param appEnableEmail Enable email for the app   * @param locationVisibility Location visibility setting   * @param homeLatitude Home latitude   * @param homeLongitude Home longitude   * @param appNickname The nickname used in the application for this account   * @param personalAudienceId Personal audience id to associate with this account
  */
  public void createAccount (String username, String password, String name, String prefixName, String firstName, String middleName, String lastName, String suffixName, String title, String deviceId, String deviceIdType, String emailAddress, Long assetId, String streetAddress, String zipcode, String gender, Long birthday, String homePhone, String cellPhone, String cellPhoneCarrier, String businessPhone, String role, String platforms, String tags, String aboutUs, String gameExperience, String categoryIds, String hometown, String height, Integer heightIndex, String ethnicity, String bodyType, String maritalStatus, String children, String religion, String education, Integer educationIndex, String smoke, String drink, String companionship, Integer companionshipIndex, Integer preferredMinAge, Integer preferredMaxAge, Integer preferredMinHeight, Integer preferredMaxHeight, String preferredGender, String preferredEducation, Integer preferredEducationIndex, String preferredBodyType, String preferredEthnicity, String preferredLocation, Double preferredLocationRange, Double latitude, Double longitude, Boolean acceptedTerms, String inviteToken, Long referralAccountId, Boolean sendValidation, String gameType, String appKey, String appVersion, String responseType, String audienceIdsToAdd, String appBlob, Boolean appEnablePush, Boolean appEnableSMS, Boolean appEnableEmail, String locationVisibility, Double homeLatitude, Double homeLongitude, String appNickname, Long personalAudienceId, final Response.Listener<AccountLoginResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'username' is set
    if (username == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'username' when calling createAccount",
        new ApiException(400, "Missing the required parameter 'username' when calling createAccount"));
    }
    // verify the required parameter 'password' is set
    if (password == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'password' when calling createAccount",
        new ApiException(400, "Missing the required parameter 'password' when calling createAccount"));
    }

    // create path and map variables
    String path = "/account/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "prefixName", prefixName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "firstName", firstName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "middleName", middleName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lastName", lastName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffixName", suffixName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceIdType", deviceIdType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "password", password));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "emailAddress", emailAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "zipcode", zipcode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gender", gender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "birthday", birthday));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "homePhone", homePhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cellPhone", cellPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cellPhoneCarrier", cellPhoneCarrier));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "role", role));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "platforms", platforms));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "aboutUs", aboutUs));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameExperience", gameExperience));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hometown", hometown));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "height", height));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "heightIndex", heightIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ethnicity", ethnicity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bodyType", bodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maritalStatus", maritalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "children", children));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "religion", religion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "education", education));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "educationIndex", educationIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "smoke", smoke));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "drink", drink));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionship", companionship));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionshipIndex", companionshipIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMinAge", preferredMinAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMaxAge", preferredMaxAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMinHeight", preferredMinHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMaxHeight", preferredMaxHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredGender", preferredGender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEducation", preferredEducation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEducationIndex", preferredEducationIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredBodyType", preferredBodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEthnicity", preferredEthnicity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredLocation", preferredLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredLocationRange", preferredLocationRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "acceptedTerms", acceptedTerms));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "inviteToken", inviteToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "referralAccountId", referralAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sendValidation", sendValidation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseType", responseType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToAdd", audienceIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appBlob", appBlob));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnablePush", appEnablePush));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnableSMS", appEnableSMS));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnableEmail", appEnableEmail));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationVisibility", locationVisibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "homeLatitude", homeLatitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "homeLongitude", homeLongitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appNickname", appNickname));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "personalAudienceId", personalAudienceId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AccountLoginResponse) ApiInvoker.deserialize(localVarResponse,  "", AccountLoginResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Account
  * Edit the user&#39;s profile information
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param connectionAccountId The account id used to edit another person&#39;s account
   * @param role The account role to change to
   * @param assetId The asset id to set the user&#39;s profile image
   * @param name The full name of the user. If this parameter is NOT empty, the  following parameters will be ignored: prefixName, firstName, middleName,  lastName, and suffixName 
   * @param prefixName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the prefix of the user&#39;s name
   * @param firstName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s first name
   * @param middleName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s middle name
   * @param lastName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s last name
   * @param suffixName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the suffix of the user&#39;s name
   * @param title This field will be used to set the user&#39;s job title
   * @param gender The gender of the user AudienceGender
   * @param age This is deperecated, use the birthday parameter
   * @param birthday The birthday date of the user in UTC milliseconds
   * @param homePhone The home phone number
   * @param cellPhone The cellular phone number
   * @param cellPhoneCarrier The cellular service provider
   * @param businessPhone The business phone number
   * @param emailAddress The user&#39;s contact email address (NOT the username)
   * @param streetAddress The street address of the user&#39;s contact location
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param city The city of the user&#39;s contact location
   * @param state The state of the user&#39;s contact location
   * @param zipcode The zipcode of the user&#39;s contact location
   * @param country The country of the user&#39;s contact location
   * @param makeProfileInfoPublic Allow anyone to view the user&#39;s personal profile
   * @param makeGameInfoPublic Allow anyone to view the user&#39;s game/app info
   * @param makeFriendsInfoPublic Allow anyone to view the user&#39;s friends list
   * @param hometown The user&#39;s hometown
   * @param height The user&#39;s height
   * @param heightIndex The user&#39;s height in a numerical value that can be used for ordering/searching
   * @param ethnicity The user&#39;s ethnicity
   * @param bodyType The user&#39;s body type
   * @param maritalStatus The user&#39;s marital status
   * @param children The user&#39;s children status
   * @param religion The user&#39;s religion
   * @param education The user&#39;s education
   * @param educationIndex The user&#39;s education in a numerical value that can be used for ordering/searching
   * @param smoke The user&#39;s smoke status
   * @param drink The user&#39;s drink status
   * @param companionship The user&#39;s companionship status
   * @param companionshipIndex The user&#39;s companionship index
   * @param preferredMinAge The preferred minimum age in the account location search
   * @param preferredMaxAge The preferred maximum age in the account location search
   * @param preferredMinHeight The preferred minimum height in the account location search
   * @param preferredMaxHeight The preferred maximum height in the account location search
   * @param preferredGender The preferred gender in the account location search
   * @param preferredEducation The preferred education in the account location search
   * @param preferredEducationIndex The preferred education in a numerical value that can be used for ordering/searching
   * @param preferredBodyType The preferred body type in the account location search
   * @param preferredEthnicity The preferred ethnicity in the account location search
   * @param preferredLocation The preferred education in the account location search
   * @param preferredLocationRange The preferred location range in the account location search
   * @param platforms Platforms
   * @param tags Tags
   * @param aboutUs About Us
   * @param matchToken Match Token
   * @param gameExperience Game Experience
   * @param categories Deprecated use categoryIds
   * @param categoryIds A list of category ids that represent interests and associations
   * @param responseFilters A comma separated list of ProfileFilters for filtering the returned response data
   * @param showAsZipcode The user&#39;s preference if they want to be shown by zipcode on a map
   * @param showExactLocation The user&#39;s preference if they want to be shown by their exact location on a map
   * @param showOthersExactLocation The user&#39;s preference if they want to see others exact location on a map
   * @param acceptedTerms Accepted Terms
   * @param locationVisibility Location Visibility
   * @param appBlob App Blob
   * @param appEnablePush App Enable Push
   * @param appEnableSMS App Enable SMS
   * @param appEnableEmail App Enable Email
   * @param gameType Game Type
   * @param appKey The application key
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   * @param returnProfile Return Profile
   * @param audienceIdsToAdd Audience Ids to add
   * @param audienceIdsToRemove Audience Ids to remove
   * @param referralAccountId The account id of the referrer
   * @param appNickname App nickname
   * @param personalAudienceId Personal Audience
   * @param nonGuestUsername The user&#39;s username to update with if they currently have a guest username
   * @return ProfileInfoResponse
  */
  public ProfileInfoResponse editAccount (String deviceId, Long accountId, Long connectionAccountId, String role, Long assetId, String name, String prefixName, String firstName, String middleName, String lastName, String suffixName, String title, String gender, Integer age, Long birthday, String homePhone, String cellPhone, String cellPhoneCarrier, String businessPhone, String emailAddress, String streetAddress, String streetAddress2, String city, String state, String zipcode, String country, Boolean makeProfileInfoPublic, Boolean makeGameInfoPublic, Boolean makeFriendsInfoPublic, String hometown, String height, Integer heightIndex, String ethnicity, String bodyType, String maritalStatus, String children, String religion, String education, Integer educationIndex, String smoke, String drink, String companionship, Integer companionshipIndex, Integer preferredMinAge, Integer preferredMaxAge, Integer preferredMinHeight, Integer preferredMaxHeight, String preferredGender, String preferredEducation, Integer preferredEducationIndex, String preferredBodyType, String preferredEthnicity, String preferredLocation, Double preferredLocationRange, String platforms, String tags, String aboutUs, String matchToken, String gameExperience, String categories, String categoryIds, String responseFilters, Boolean showAsZipcode, Boolean showExactLocation, Boolean showOthersExactLocation, Boolean acceptedTerms, String locationVisibility, String appBlob, Boolean appEnablePush, Boolean appEnableSMS, Boolean appEnableEmail, String gameType, String appKey, Double latitude, Double longitude, Boolean returnProfile, String audienceIdsToAdd, String audienceIdsToRemove, Long referralAccountId, String appNickname, Long personalAudienceId, String nonGuestUsername) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/account/profile/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "role", role));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "prefixName", prefixName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "firstName", firstName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "middleName", middleName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lastName", lastName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffixName", suffixName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gender", gender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "age", age));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "birthday", birthday));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "homePhone", homePhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cellPhone", cellPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cellPhoneCarrier", cellPhoneCarrier));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "emailAddress", emailAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "zipcode", zipcode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "makeProfileInfoPublic", makeProfileInfoPublic));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "makeGameInfoPublic", makeGameInfoPublic));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "makeFriendsInfoPublic", makeFriendsInfoPublic));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hometown", hometown));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "height", height));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "heightIndex", heightIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ethnicity", ethnicity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bodyType", bodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maritalStatus", maritalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "children", children));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "religion", religion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "education", education));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "educationIndex", educationIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "smoke", smoke));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "drink", drink));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionship", companionship));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionshipIndex", companionshipIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMinAge", preferredMinAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMaxAge", preferredMaxAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMinHeight", preferredMinHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMaxHeight", preferredMaxHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredGender", preferredGender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEducation", preferredEducation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEducationIndex", preferredEducationIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredBodyType", preferredBodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEthnicity", preferredEthnicity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredLocation", preferredLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredLocationRange", preferredLocationRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "platforms", platforms));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "aboutUs", aboutUs));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "matchToken", matchToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameExperience", gameExperience));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categories", categories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFilters", responseFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showAsZipcode", showAsZipcode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showExactLocation", showExactLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showOthersExactLocation", showOthersExactLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "acceptedTerms", acceptedTerms));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationVisibility", locationVisibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appBlob", appBlob));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnablePush", appEnablePush));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnableSMS", appEnableSMS));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnableEmail", appEnableEmail));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnProfile", returnProfile));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToAdd", audienceIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToRemove", audienceIdsToRemove));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "referralAccountId", referralAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appNickname", appNickname));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "personalAudienceId", personalAudienceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "nonGuestUsername", nonGuestUsername));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ProfileInfoResponse) ApiInvoker.deserialize(localVarResponse, "", ProfileInfoResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Account
   * Edit the user&#39;s profile information
   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param connectionAccountId The account id used to edit another person&#39;s account   * @param role The account role to change to   * @param assetId The asset id to set the user&#39;s profile image   * @param name The full name of the user. If this parameter is NOT empty, the  following parameters will be ignored: prefixName, firstName, middleName,  lastName, and suffixName    * @param prefixName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the prefix of the user&#39;s name   * @param firstName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s first name   * @param middleName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s middle name   * @param lastName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the user&#39;s last name   * @param suffixName If the parameter &#39;name&#39; is empty or not present, this field will be used to set the suffix of the user&#39;s name   * @param title This field will be used to set the user&#39;s job title   * @param gender The gender of the user AudienceGender   * @param age This is deperecated, use the birthday parameter   * @param birthday The birthday date of the user in UTC milliseconds   * @param homePhone The home phone number   * @param cellPhone The cellular phone number   * @param cellPhoneCarrier The cellular service provider   * @param businessPhone The business phone number   * @param emailAddress The user&#39;s contact email address (NOT the username)   * @param streetAddress The street address of the user&#39;s contact location   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)   * @param city The city of the user&#39;s contact location   * @param state The state of the user&#39;s contact location   * @param zipcode The zipcode of the user&#39;s contact location   * @param country The country of the user&#39;s contact location   * @param makeProfileInfoPublic Allow anyone to view the user&#39;s personal profile   * @param makeGameInfoPublic Allow anyone to view the user&#39;s game/app info   * @param makeFriendsInfoPublic Allow anyone to view the user&#39;s friends list   * @param hometown The user&#39;s hometown   * @param height The user&#39;s height   * @param heightIndex The user&#39;s height in a numerical value that can be used for ordering/searching   * @param ethnicity The user&#39;s ethnicity   * @param bodyType The user&#39;s body type   * @param maritalStatus The user&#39;s marital status   * @param children The user&#39;s children status   * @param religion The user&#39;s religion   * @param education The user&#39;s education   * @param educationIndex The user&#39;s education in a numerical value that can be used for ordering/searching   * @param smoke The user&#39;s smoke status   * @param drink The user&#39;s drink status   * @param companionship The user&#39;s companionship status   * @param companionshipIndex The user&#39;s companionship index   * @param preferredMinAge The preferred minimum age in the account location search   * @param preferredMaxAge The preferred maximum age in the account location search   * @param preferredMinHeight The preferred minimum height in the account location search   * @param preferredMaxHeight The preferred maximum height in the account location search   * @param preferredGender The preferred gender in the account location search   * @param preferredEducation The preferred education in the account location search   * @param preferredEducationIndex The preferred education in a numerical value that can be used for ordering/searching   * @param preferredBodyType The preferred body type in the account location search   * @param preferredEthnicity The preferred ethnicity in the account location search   * @param preferredLocation The preferred education in the account location search   * @param preferredLocationRange The preferred location range in the account location search   * @param platforms Platforms   * @param tags Tags   * @param aboutUs About Us   * @param matchToken Match Token   * @param gameExperience Game Experience   * @param categories Deprecated use categoryIds   * @param categoryIds A list of category ids that represent interests and associations   * @param responseFilters A comma separated list of ProfileFilters for filtering the returned response data   * @param showAsZipcode The user&#39;s preference if they want to be shown by zipcode on a map   * @param showExactLocation The user&#39;s preference if they want to be shown by their exact location on a map   * @param showOthersExactLocation The user&#39;s preference if they want to see others exact location on a map   * @param acceptedTerms Accepted Terms   * @param locationVisibility Location Visibility   * @param appBlob App Blob   * @param appEnablePush App Enable Push   * @param appEnableSMS App Enable SMS   * @param appEnableEmail App Enable Email   * @param gameType Game Type   * @param appKey The application key   * @param latitude The current latitude of the user   * @param longitude The current longitude of the user   * @param returnProfile Return Profile   * @param audienceIdsToAdd Audience Ids to add   * @param audienceIdsToRemove Audience Ids to remove   * @param referralAccountId The account id of the referrer   * @param appNickname App nickname   * @param personalAudienceId Personal Audience   * @param nonGuestUsername The user&#39;s username to update with if they currently have a guest username
  */
  public void editAccount (String deviceId, Long accountId, Long connectionAccountId, String role, Long assetId, String name, String prefixName, String firstName, String middleName, String lastName, String suffixName, String title, String gender, Integer age, Long birthday, String homePhone, String cellPhone, String cellPhoneCarrier, String businessPhone, String emailAddress, String streetAddress, String streetAddress2, String city, String state, String zipcode, String country, Boolean makeProfileInfoPublic, Boolean makeGameInfoPublic, Boolean makeFriendsInfoPublic, String hometown, String height, Integer heightIndex, String ethnicity, String bodyType, String maritalStatus, String children, String religion, String education, Integer educationIndex, String smoke, String drink, String companionship, Integer companionshipIndex, Integer preferredMinAge, Integer preferredMaxAge, Integer preferredMinHeight, Integer preferredMaxHeight, String preferredGender, String preferredEducation, Integer preferredEducationIndex, String preferredBodyType, String preferredEthnicity, String preferredLocation, Double preferredLocationRange, String platforms, String tags, String aboutUs, String matchToken, String gameExperience, String categories, String categoryIds, String responseFilters, Boolean showAsZipcode, Boolean showExactLocation, Boolean showOthersExactLocation, Boolean acceptedTerms, String locationVisibility, String appBlob, Boolean appEnablePush, Boolean appEnableSMS, Boolean appEnableEmail, String gameType, String appKey, Double latitude, Double longitude, Boolean returnProfile, String audienceIdsToAdd, String audienceIdsToRemove, Long referralAccountId, String appNickname, Long personalAudienceId, String nonGuestUsername, final Response.Listener<ProfileInfoResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/account/profile/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "role", role));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "prefixName", prefixName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "firstName", firstName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "middleName", middleName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lastName", lastName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffixName", suffixName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gender", gender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "age", age));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "birthday", birthday));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "homePhone", homePhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cellPhone", cellPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "cellPhoneCarrier", cellPhoneCarrier));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "emailAddress", emailAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "zipcode", zipcode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "makeProfileInfoPublic", makeProfileInfoPublic));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "makeGameInfoPublic", makeGameInfoPublic));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "makeFriendsInfoPublic", makeFriendsInfoPublic));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hometown", hometown));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "height", height));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "heightIndex", heightIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ethnicity", ethnicity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bodyType", bodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maritalStatus", maritalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "children", children));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "religion", religion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "education", education));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "educationIndex", educationIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "smoke", smoke));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "drink", drink));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionship", companionship));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "companionshipIndex", companionshipIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMinAge", preferredMinAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMaxAge", preferredMaxAge));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMinHeight", preferredMinHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredMaxHeight", preferredMaxHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredGender", preferredGender));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEducation", preferredEducation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEducationIndex", preferredEducationIndex));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredBodyType", preferredBodyType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredEthnicity", preferredEthnicity));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredLocation", preferredLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preferredLocationRange", preferredLocationRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "platforms", platforms));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "aboutUs", aboutUs));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "matchToken", matchToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameExperience", gameExperience));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categories", categories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFilters", responseFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showAsZipcode", showAsZipcode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showExactLocation", showExactLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showOthersExactLocation", showOthersExactLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "acceptedTerms", acceptedTerms));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationVisibility", locationVisibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appBlob", appBlob));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnablePush", appEnablePush));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnableSMS", appEnableSMS));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appEnableEmail", appEnableEmail));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnProfile", returnProfile));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToAdd", audienceIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToRemove", audienceIdsToRemove));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "referralAccountId", referralAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appNickname", appNickname));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "personalAudienceId", personalAudienceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "nonGuestUsername", nonGuestUsername));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ProfileInfoResponse) ApiInvoker.deserialize(localVarResponse,  "", ProfileInfoResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Username and Email
  * Update account&#39;s own username and/or emailAddress
   * @param deviceId The device id
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param emailAddress the user&#39;s contact email address (NOT the username) which is also used for email validation
   * @param username the user&#39;s username to update with if they currently have a guest username
   * @return SirqulResponse
  */
  public SirqulResponse editUsername (String deviceId, Long accountId, String emailAddress, String username) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/account/username/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "emailAddress", emailAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Username and Email
   * Update account&#39;s own username and/or emailAddress
   * @param deviceId The device id   * @param accountId The account id of the user (deviceId or accountId required)   * @param emailAddress the user&#39;s contact email address (NOT the username) which is also used for email validation   * @param username the user&#39;s username to update with if they currently have a guest username
  */
  public void editUsername (String deviceId, Long accountId, String emailAddress, String username, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/account/username/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "emailAddress", emailAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Account
  * Gets a user&#39;s account profile. Application settings and account settings will also be returned for the owner of the account.
   * @param returnNulls Return Nulls
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param connectionAccountEmail Connection Account Email
   * @param connectionAccountId The account id used to view another person&#39;s account
   * @param responseFilters A comma separated list of ProfileFilters for filtering the returned response data
   * @param gameType Game Type
   * @param appKey The application key
   * @param purchaseType Purchase Type
   * @param updateViewedDate Determines whether to track if a person has viewed someone&#39;s profile
   * @param latitude Latitude used to update the user&#39;s current location
   * @param longitude Longitude used to update the user&#39;s current location
   * @return ProfileResponse
  */
  public ProfileResponse getAccount (Boolean returnNulls, String deviceId, Long accountId, String connectionAccountEmail, Long connectionAccountId, String responseFilters, String gameType, String appKey, String purchaseType, Boolean updateViewedDate, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/account/profile/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountEmail", connectionAccountEmail));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFilters", responseFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseType", purchaseType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "updateViewedDate", updateViewedDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ProfileResponse) ApiInvoker.deserialize(localVarResponse, "", ProfileResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Account
   * Gets a user&#39;s account profile. Application settings and account settings will also be returned for the owner of the account.
   * @param returnNulls Return Nulls   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param connectionAccountEmail Connection Account Email   * @param connectionAccountId The account id used to view another person&#39;s account   * @param responseFilters A comma separated list of ProfileFilters for filtering the returned response data   * @param gameType Game Type   * @param appKey The application key   * @param purchaseType Purchase Type   * @param updateViewedDate Determines whether to track if a person has viewed someone&#39;s profile   * @param latitude Latitude used to update the user&#39;s current location   * @param longitude Longitude used to update the user&#39;s current location
  */
[...]
