/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AchievementProgressResponse;
import org.openapitools.client.model.AchievementResponse;
import org.openapitools.client.model.AchievementShortResponse;
import org.openapitools.client.model.AchievementTierResponse;
import java.io.File;
import java.util.*;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class AchievementApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Searches an Achievement Tier
  * Searches a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param deviceId a unique id given by the device (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param appKey the application key
   * @param keyword the keyword used to filter resutls with (this returns results that have the keyword in the title or the description of the achievement tier)
   * @param achievementType filter results by achievementType (these are exact case sensitive matches)
   * @param rankType filter results by the rankType (these are the exact case sensitive matches)
   * @param sortField the field to sort by. See {@link AchievementApiMap}
   * @param descending determines whether the sort list is in descending or ascending order (of the achievement)
   * @param descendingGoal determines whether the results are in descending or ascending order by the tier goal count (after the initial sort on the achievement)
   * @param start The start of the index for pagination
   * @param limit the limit for pagination (has a hard limit of 1000)
   * @return AchievementTierResponse
  */
  public AchievementTierResponse achievementTierSearchPost (String deviceId, Long accountId, String appKey, String keyword, Long achievementType, String rankType, String sortField, Boolean descending, Boolean descendingGoal, Long start, Long limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/achievement/tier/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descendingGoal", descendingGoal));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AchievementTierResponse) ApiInvoker.deserialize(localVarResponse, "", AchievementTierResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Searches an Achievement Tier
   * Searches a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param deviceId a unique id given by the device (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param appKey the application key   * @param keyword the keyword used to filter resutls with (this returns results that have the keyword in the title or the description of the achievement tier)   * @param achievementType filter results by achievementType (these are exact case sensitive matches)   * @param rankType filter results by the rankType (these are the exact case sensitive matches)   * @param sortField the field to sort by. See {@link AchievementApiMap}   * @param descending determines whether the sort list is in descending or ascending order (of the achievement)   * @param descendingGoal determines whether the results are in descending or ascending order by the tier goal count (after the initial sort on the achievement)   * @param start The start of the index for pagination   * @param limit the limit for pagination (has a hard limit of 1000)
  */
  public void achievementTierSearchPost (String deviceId, Long accountId, String appKey, String keyword, Long achievementType, String rankType, String sortField, Boolean descending, Boolean descendingGoal, Long start, Long limit, final Response.Listener<AchievementTierResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/achievement/tier/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descendingGoal", descendingGoal));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AchievementTierResponse) ApiInvoker.deserialize(localVarResponse,  "", AchievementTierResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Achievement
  * Updates an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param appKey the application key the achievement is for
   * @param title the title of the achievement (255 character limit)
   * @param deviceId a unique id given by the device (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param analyticsTag the analytics tag that will trigger when a user&#39;s achievement count gets updated
   * @param description the description of the achievement
   * @param rankType the rank type for updating leader boards
   * @param rankIncrement determines how much the rank count is incremented
   * @param minIncrement restrict scores to be above or equal to this minimum value
   * @param maxIncrement restrict scores to be below or equal to this maximum value
   * @param validate determines whether the customId on analytics are used to validate a user&#39;s achievement progress.
   * @param active achievement is active or inactive
   * @param triggerDefinition if provided will define what triggers to run after a tier is completed
   * @return AchievementResponse
  */
  public AchievementResponse createAchievement (String appKey, String title, String deviceId, Long accountId, String analyticsTag, String description, String rankType, Integer rankIncrement, Integer minIncrement, Integer maxIncrement, Boolean validate, Boolean active, String triggerDefinition) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling createAchievement",
        new ApiException(400, "Missing the required parameter 'appKey' when calling createAchievement"));
    }
    // verify the required parameter 'title' is set
    if (title == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'title' when calling createAchievement",
        new ApiException(400, "Missing the required parameter 'title' when calling createAchievement"));
    }

    // create path and map variables
    String path = "/achievement/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "analyticsTag", analyticsTag));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankIncrement", rankIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minIncrement", minIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maxIncrement", maxIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "validate", validate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "triggerDefinition", triggerDefinition));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AchievementResponse) ApiInvoker.deserialize(localVarResponse, "", AchievementResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Achievement
   * Updates an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param appKey the application key the achievement is for   * @param title the title of the achievement (255 character limit)   * @param deviceId a unique id given by the device (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param analyticsTag the analytics tag that will trigger when a user&#39;s achievement count gets updated   * @param description the description of the achievement   * @param rankType the rank type for updating leader boards   * @param rankIncrement determines how much the rank count is incremented   * @param minIncrement restrict scores to be above or equal to this minimum value   * @param maxIncrement restrict scores to be below or equal to this maximum value   * @param validate determines whether the customId on analytics are used to validate a user&#39;s achievement progress.   * @param active achievement is active or inactive   * @param triggerDefinition if provided will define what triggers to run after a tier is completed
  */
  public void createAchievement (String appKey, String title, String deviceId, Long accountId, String analyticsTag, String description, String rankType, Integer rankIncrement, Integer minIncrement, Integer maxIncrement, Boolean validate, Boolean active, String triggerDefinition, final Response.Listener<AchievementResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling createAchievement",
        new ApiException(400, "Missing the required parameter 'appKey' when calling createAchievement"));
    }
    // verify the required parameter 'title' is set
    if (title == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'title' when calling createAchievement",
        new ApiException(400, "Missing the required parameter 'title' when calling createAchievement"));
    }

    // create path and map variables
    String path = "/achievement/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "analyticsTag", analyticsTag));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankIncrement", rankIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minIncrement", minIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maxIncrement", maxIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "validate", validate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "triggerDefinition", triggerDefinition));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AchievementResponse) ApiInvoker.deserialize(localVarResponse,  "", AchievementResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Achievement Tier
  * Create a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param achievementId the achievement id for adding a new tier
   * @param scoreAllInstances score all instances
   * @param deviceId a unique id given by the device (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param icon achievement tier icon image file
   * @param iconAssetId the icon assetId, if icon is provided, icon will overrule
   * @param title the title of the achievement tier
   * @param description the description of the achievement tier
   * @param goalCount the count requirement for completing the achievement tier
   * @param missionId The ID of the mission to associate with the achievement
   * @param gameId The ID of the game to associate with the achievement
   * @param packId The ID of the pack to associate with the achievement
   * @param gameLevelId The ID of the game level to associate with the achievement
   * @param gameObjectId The ID of the game object to associate with the achievement
   * @return AchievementTierResponse
  */
  public AchievementTierResponse createAchievementTier (Long achievementId, Boolean scoreAllInstances, String deviceId, Long accountId, File icon, Long iconAssetId, String title, String description, Long goalCount, Long missionId, Long gameId, Long packId, Long gameLevelId, Integer gameObjectId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'achievementId' is set
    if (achievementId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementId' when calling createAchievementTier",
        new ApiException(400, "Missing the required parameter 'achievementId' when calling createAchievementTier"));
    }
    // verify the required parameter 'scoreAllInstances' is set
    if (scoreAllInstances == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'scoreAllInstances' when calling createAchievementTier",
        new ApiException(400, "Missing the required parameter 'scoreAllInstances' when calling createAchievementTier"));
    }

    // create path and map variables
    String path = "/achievement/tier/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementId", achievementId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "icon", icon));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconAssetId", iconAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "goalCount", goalCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameId", gameId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packId", packId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelId", gameLevelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameObjectId", gameObjectId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "scoreAllInstances", scoreAllInstances));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AchievementTierResponse) ApiInvoker.deserialize(localVarResponse, "", AchievementTierResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Achievement Tier
   * Create a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param achievementId the achievement id for adding a new tier   * @param scoreAllInstances score all instances   * @param deviceId a unique id given by the device (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param icon achievement tier icon image file   * @param iconAssetId the icon assetId, if icon is provided, icon will overrule   * @param title the title of the achievement tier   * @param description the description of the achievement tier   * @param goalCount the count requirement for completing the achievement tier   * @param missionId The ID of the mission to associate with the achievement   * @param gameId The ID of the game to associate with the achievement   * @param packId The ID of the pack to associate with the achievement   * @param gameLevelId The ID of the game level to associate with the achievement   * @param gameObjectId The ID of the game object to associate with the achievement
  */
  public void createAchievementTier (Long achievementId, Boolean scoreAllInstances, String deviceId, Long accountId, File icon, Long iconAssetId, String title, String description, Long goalCount, Long missionId, Long gameId, Long packId, Long gameLevelId, Integer gameObjectId, final Response.Listener<AchievementTierResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'achievementId' is set
    if (achievementId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementId' when calling createAchievementTier",
        new ApiException(400, "Missing the required parameter 'achievementId' when calling createAchievementTier"));
    }
    // verify the required parameter 'scoreAllInstances' is set
    if (scoreAllInstances == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'scoreAllInstances' when calling createAchievementTier",
        new ApiException(400, "Missing the required parameter 'scoreAllInstances' when calling createAchievementTier"));
    }

    // create path and map variables
    String path = "/achievement/tier/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementId", achievementId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "icon", icon));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconAssetId", iconAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "goalCount", goalCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameId", gameId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packId", packId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelId", gameLevelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameObjectId", gameObjectId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "scoreAllInstances", scoreAllInstances));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AchievementTierResponse) ApiInvoker.deserialize(localVarResponse,  "", AchievementTierResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Achievement
  * Deletes an achievement (for developer/retailer use). User must have permissions to the application the achievement was created for.
   * @param achievementId The ID of the achievement
   * @param accountId the account id of the user (deviceId or accountId required)
   * @return SirqulResponse
  */
  public SirqulResponse deleteAchievement (Long achievementId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'achievementId' is set
    if (achievementId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementId' when calling deleteAchievement",
        new ApiException(400, "Missing the required parameter 'achievementId' when calling deleteAchievement"));
    }

    // create path and map variables
    String path = "/achievement/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementId", achievementId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Achievement
   * Deletes an achievement (for developer/retailer use). User must have permissions to the application the achievement was created for.
   * @param achievementId The ID of the achievement   * @param accountId the account id of the user (deviceId or accountId required)
  */
  public void deleteAchievement (Long achievementId, Long accountId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'achievementId' is set
    if (achievementId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementId' when calling deleteAchievement",
        new ApiException(400, "Missing the required parameter 'achievementId' when calling deleteAchievement"));
    }

    // create path and map variables
    String path = "/achievement/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementId", achievementId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Achievement Tier
  * Deletes an achievement tier (for developer/retailer use). User must have permissions to the application the achievement was created for.
   * @param achievementTierId the achievement id for deletion
   * @param accountId the account id of the user (deviceId or accountId required).
   * @return SirqulResponse
  */
  public SirqulResponse deleteAchievementTier (Long achievementTierId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'achievementTierId' is set
    if (achievementTierId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementTierId' when calling deleteAchievementTier",
        new ApiException(400, "Missing the required parameter 'achievementTierId' when calling deleteAchievementTier"));
    }

    // create path and map variables
    String path = "/achievement/tier/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementTierId", achievementTierId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Achievement Tier
   * Deletes an achievement tier (for developer/retailer use). User must have permissions to the application the achievement was created for.
   * @param achievementTierId the achievement id for deletion   * @param accountId the account id of the user (deviceId or accountId required).
  */
  public void deleteAchievementTier (Long achievementTierId, Long accountId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'achievementTierId' is set
    if (achievementTierId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementTierId' when calling deleteAchievementTier",
        new ApiException(400, "Missing the required parameter 'achievementTierId' when calling deleteAchievementTier"));
    }

    // create path and map variables
    String path = "/achievement/tier/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementTierId", achievementTierId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Achievement
  * Get an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param achievementId The ID of the achievement
   * @param deviceId a unique id given by the device (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param achievementType achievementType
   * @return AchievementTierResponse
  */
  public AchievementTierResponse getAchievement (Long achievementId, String deviceId, Long accountId, String achievementType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'achievementId' is set
    if (achievementId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementId' when calling getAchievement",
        new ApiException(400, "Missing the required parameter 'achievementId' when calling getAchievement"));
    }

    // create path and map variables
    String path = "/achievement/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementId", achievementId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AchievementTierResponse) ApiInvoker.deserialize(localVarResponse, "", AchievementTierResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Achievement
   * Get an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param achievementId The ID of the achievement   * @param deviceId a unique id given by the device (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param achievementType achievementType
  */
  public void getAchievement (Long achievementId, String deviceId, Long accountId, String achievementType, final Response.Listener<AchievementTierResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'achievementId' is set
    if (achievementId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementId' when calling getAchievement",
        new ApiException(400, "Missing the required parameter 'achievementId' when calling getAchievement"));
    }

    // create path and map variables
    String path = "/achievement/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementId", achievementId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AchievementTierResponse) ApiInvoker.deserialize(localVarResponse,  "", AchievementTierResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Gets an achievement tier
  * Gets an achievement tier (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param achievementTierId the achievement tier id that is being retrieved
   * @return AchievementTierResponse
  */
  public AchievementTierResponse getAchievementTier (Long accountId, Long achievementTierId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getAchievementTier",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getAchievementTier"));
    }
    // verify the required parameter 'achievementTierId' is set
    if (achievementTierId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementTierId' when calling getAchievementTier",
        new ApiException(400, "Missing the required parameter 'achievementTierId' when calling getAchievementTier"));
    }

    // create path and map variables
    String path = "/achievement/tier/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementTierId", achievementTierId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AchievementTierResponse) ApiInvoker.deserialize(localVarResponse, "", AchievementTierResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Gets an achievement tier
   * Gets an achievement tier (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param accountId the account id of the user (deviceId or accountId required)   * @param achievementTierId the achievement tier id that is being retrieved
  */
  public void getAchievementTier (Long accountId, Long achievementTierId, final Response.Listener<AchievementTierResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getAchievementTier",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getAchievementTier"));
    }
    // verify the required parameter 'achievementTierId' is set
    if (achievementTierId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'achievementTierId' when calling getAchievementTier",
        new ApiException(400, "Missing the required parameter 'achievementTierId' when calling getAchievementTier"));
    }

    // create path and map variables
    String path = "/achievement/tier/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementTierId", achievementTierId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AchievementTierResponse) ApiInvoker.deserialize(localVarResponse,  "", AchievementTierResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Achievement Progress
  * Gets a list of user achievements.
   * @param returnNulls determines whether to return null fields in the response
   * @param appKey the application key for filtering results by application
   * @param includeUndiscovered determines whether to return achievements that the user has not discovered yet
   * @param deviceId a unique id given by the device (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param connectionAccountEmail the email of the account to view achievements
   * @param connectionAccountId the id of the account to view achievements
   * @param rankType filter results by achievement rankType
   * @param achievementType filter results by achievement type
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @return List<AchievementProgressResponse>
  */
  public List<AchievementProgressResponse> getUserAchievements (Boolean returnNulls, String appKey, Boolean includeUndiscovered, String deviceId, Long accountId, String connectionAccountEmail, Long connectionAccountId, String rankType, String achievementType, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'returnNulls' is set
    if (returnNulls == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'returnNulls' when calling getUserAchievements",
        new ApiException(400, "Missing the required parameter 'returnNulls' when calling getUserAchievements"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling getUserAchievements",
        new ApiException(400, "Missing the required parameter 'appKey' when calling getUserAchievements"));
    }
    // verify the required parameter 'includeUndiscovered' is set
    if (includeUndiscovered == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeUndiscovered' when calling getUserAchievements",
        new ApiException(400, "Missing the required parameter 'includeUndiscovered' when calling getUserAchievements"));
    }

    // create path and map variables
    String path = "/achievement/progress/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountEmail", connectionAccountEmail));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeUndiscovered", includeUndiscovered));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AchievementProgressResponse>) ApiInvoker.deserialize(localVarResponse, "array", AchievementProgressResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Achievement Progress
   * Gets a list of user achievements.
   * @param returnNulls determines whether to return null fields in the response   * @param appKey the application key for filtering results by application   * @param includeUndiscovered determines whether to return achievements that the user has not discovered yet   * @param deviceId a unique id given by the device (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param connectionAccountEmail the email of the account to view achievements   * @param connectionAccountId the id of the account to view achievements   * @param rankType filter results by achievement rankType   * @param achievementType filter results by achievement type   * @param latitude the current latitude of the user   * @param longitude the current longitude of the user
  */
  public void getUserAchievements (Boolean returnNulls, String appKey, Boolean includeUndiscovered, String deviceId, Long accountId, String connectionAccountEmail, Long connectionAccountId, String rankType, String achievementType, Double latitude, Double longitude, final Response.Listener<List<AchievementProgressResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'returnNulls' is set
    if (returnNulls == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'returnNulls' when calling getUserAchievements",
        new ApiException(400, "Missing the required parameter 'returnNulls' when calling getUserAchievements"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling getUserAchievements",
        new ApiException(400, "Missing the required parameter 'appKey' when calling getUserAchievements"));
    }
    // verify the required parameter 'includeUndiscovered' is set
    if (includeUndiscovered == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeUndiscovered' when calling getUserAchievements",
        new ApiException(400, "Missing the required parameter 'includeUndiscovered' when calling getUserAchievements"));
    }

    // create path and map variables
    String path = "/achievement/progress/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountEmail", connectionAccountEmail));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeUndiscovered", includeUndiscovered));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AchievementProgressResponse>) ApiInvoker.deserialize(localVarResponse,  "array", AchievementProgressResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List Achievement Tags
  * List achievement tags by application
   * @param appKey filter results by application key
   * @return SirqulResponse
  */
  public SirqulResponse listAchievementTags (String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/achievement/tag/list";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List Achievement Tags
   * List achievement tags by application
   * @param appKey filter results by application key
  */
  public void listAchievementTags (String appKey, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/achievement/tag/list".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * List Achievements
  * List achievements by billable.
   * @param sortField the field to sort by. See AchievementApiMap
   * @param descending determines whether the sorted list is in descending or ascending order
   * @param start the start index for pagination
   * @param limit the limit for pagination (has a hard limit of 1000)
   * @param activeOnly Filter results to only return active achievements
   * @param deviceId a unique id given by the device (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param appKey the application key
   * @param keyword the keyword used to filter results with (this returns results that have the keyword in the title or description of the achievement)
   * @param achievementType filter results by the achievementType (these are exact case sensitive matches)
   * @param rankType filter results by the rankType (these are exact case sensitive matches)
   * @return List<AchievementShortResponse>
  */
  public List<AchievementShortResponse> listAchievements (String sortField, Boolean descending, Integer start, Integer limit, Boolean activeOnly, String deviceId, Long accountId, String appKey, String keyword, String achievementType, String rankType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'sortField' when calling listAchievements"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'descending' when calling listAchievements"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'start' when calling listAchievements"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'limit' when calling listAchievements"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling listAchievements"));
    }

    // create path and map variables
    String path = "/achievement/list";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AchievementShortResponse>) ApiInvoker.deserialize(localVarResponse, "array", AchievementShortResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * List Achievements
   * List achievements by billable.
   * @param sortField the field to sort by. See AchievementApiMap   * @param descending determines whether the sorted list is in descending or ascending order   * @param start the start index for pagination   * @param limit the limit for pagination (has a hard limit of 1000)   * @param activeOnly Filter results to only return active achievements   * @param deviceId a unique id given by the device (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param appKey the application key   * @param keyword the keyword used to filter results with (this returns results that have the keyword in the title or description of the achievement)   * @param achievementType filter results by the achievementType (these are exact case sensitive matches)   * @param rankType filter results by the rankType (these are exact case sensitive matches)
  */
  public void listAchievements (String sortField, Boolean descending, Integer start, Integer limit, Boolean activeOnly, String deviceId, Long accountId, String appKey, String keyword, String achievementType, String rankType, final Response.Listener<List<AchievementShortResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'sortField' when calling listAchievements"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'descending' when calling listAchievements"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'start' when calling listAchievements"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'limit' when calling listAchievements"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling listAchievements",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling listAchievements"));
    }

    // create path and map variables
    String path = "/achievement/list".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AchievementShortResponse>) ApiInvoker.deserialize(localVarResponse,  "array", AchievementShortResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Achievements
  * Searches achievements by application for consumers.
   * @param appKey the application key
   * @param sortField the field to sort by. See AchievementApiMap
   * @param descending determines whether the sorted list is in descending or ascending order
   * @param includeTiers return tiers, only applicable for version &gt;3.18
   * @param includeInactiveTiers return inactive tiers, only applicable when includeTiers is true, only applicable for version &gt;3.18
   * @param start the start index for pagination
   * @param limit the limit for pagination (has a hard limit of 1000)
   * @param deviceId a unique id given by the device (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param keyword the keyword used to filter results with (this returns results that have the keyword in the title or description of the achievement)
   * @param achievementType filter results by the achievementType (these are exact case sensitive matches)
   * @param rankType filter results by the rankType (these are exact case sensitive matches)
   * @return List<AchievementShortResponse>
  */
  public List<AchievementShortResponse> searchAchievements (String appKey, String sortField, Boolean descending, Boolean includeTiers, Boolean includeInactiveTiers, Integer start, Integer limit, String deviceId, Long accountId, String keyword, String achievementType, String rankType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'appKey' when calling searchAchievements"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'sortField' when calling searchAchievements"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'descending' when calling searchAchievements"));
    }
    // verify the required parameter 'includeTiers' is set
    if (includeTiers == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeTiers' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'includeTiers' when calling searchAchievements"));
    }
    // verify the required parameter 'includeInactiveTiers' is set
    if (includeInactiveTiers == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeInactiveTiers' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'includeInactiveTiers' when calling searchAchievements"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'start' when calling searchAchievements"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'limit' when calling searchAchievements"));
    }

    // create path and map variables
    String path = "/achievement/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeTiers", includeTiers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeInactiveTiers", includeInactiveTiers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AchievementShortResponse>) ApiInvoker.deserialize(localVarResponse, "array", AchievementShortResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Achievements
   * Searches achievements by application for consumers.
   * @param appKey the application key   * @param sortField the field to sort by. See AchievementApiMap   * @param descending determines whether the sorted list is in descending or ascending order   * @param includeTiers return tiers, only applicable for version &gt;3.18   * @param includeInactiveTiers return inactive tiers, only applicable when includeTiers is true, only applicable for version &gt;3.18   * @param start the start index for pagination   * @param limit the limit for pagination (has a hard limit of 1000)   * @param deviceId a unique id given by the device (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param keyword the keyword used to filter results with (this returns results that have the keyword in the title or description of the achievement)   * @param achievementType filter results by the achievementType (these are exact case sensitive matches)   * @param rankType filter results by the rankType (these are exact case sensitive matches)
  */
  public void searchAchievements (String appKey, String sortField, Boolean descending, Boolean includeTiers, Boolean includeInactiveTiers, Integer start, Integer limit, String deviceId, Long accountId, String keyword, String achievementType, String rankType, final Response.Listener<List<AchievementShortResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'appKey' when calling searchAchievements"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'sortField' when calling searchAchievements"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'descending' when calling searchAchievements"));
    }
    // verify the required parameter 'includeTiers' is set
    if (includeTiers == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeTiers' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'includeTiers' when calling searchAchievements"));
    }
    // verify the required parameter 'includeInactiveTiers' is set
    if (includeInactiveTiers == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeInactiveTiers' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'includeInactiveTiers' when calling searchAchievements"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'start' when calling searchAchievements"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling searchAchievements",
        new ApiException(400, "Missing the required parameter 'limit' when calling searchAchievements"));
    }

    // create path and map variables
    String path = "/achievement/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementType", achievementType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeTiers", includeTiers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeInactiveTiers", includeInactiveTiers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AchievementShortResponse>) ApiInvoker.deserialize(localVarResponse,  "array", AchievementShortResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Achievement
  * Updates an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param deviceId a unique id given by the device (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param achievementId the achievement ID for updating an existing achievement
   * @param analyticsTag the analytics tag that will trigger when a user&#39;s achievement count gets updated
   * @param title the title of the achievement (255 character limit)
   * @param description the description of the achievement
   * @param rankType the rank type for updating leader boards
   * @param rankIncrement determines how much the rank count is incremented
   * @param minIncrement restrict scores to be above or equal to this minimum value
   * @param nullMinIncrement enable to ignore usage of minIncrement
   * @param maxIncrement restrict scores to be below or equal to this maximum value
   * @param nullMaxIncrement enable to ignore usage of maxIncrement
   * @param validate determines whether the customId on analytics are used to validate a user&#39;s achievement progress.
   * @param active if it&#39;s active or inactive
   * @param triggerDefinition if provided will define what triggers to run after a tier is completed
   * @return AchievementResponse
  */
  public AchievementResponse updateAchievement (String deviceId, Long accountId, Long achievementId, String analyticsTag, String title, String description, String rankType, Integer rankIncrement, Integer minIncrement, Boolean nullMinIncrement, Integer maxIncrement, Boolean nullMaxIncrement, Boolean validate, Boolean active, String triggerDefinition) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/achievement/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementId", achievementId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "analyticsTag", analyticsTag));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankIncrement", rankIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minIncrement", minIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "nullMinIncrement", nullMinIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maxIncrement", maxIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "nullMaxIncrement", nullMaxIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "validate", validate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "triggerDefinition", triggerDefinition));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AchievementResponse) ApiInvoker.deserialize(localVarResponse, "", AchievementResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Achievement
   * Updates an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
   * @param deviceId a unique id given by the device (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param achievementId the achievement ID for updating an existing achievement   * @param analyticsTag the analytics tag that will trigger when a user&#39;s achievement count gets updated   * @param title the title of the achievement (255 character limit)   * @param description the description of the achievement   * @param rankType the rank type for updating leader boards   * @param rankIncrement determines how much the rank count is incremented   * @param minIncrement restrict scores to be above or equal to this minimum value   * @param nullMinIncrement enable to ignore usage of minIncrement   * @param maxIncrement restrict scores to be below or equal to this maximum value   * @param nullMaxIncrement enable to ignore usage of maxIncrement   * @param validate determines whether the customId on analytics are used to validate a user&#39;s achievement progress.   * @param active if it&#39;s active or inactive   * @param triggerDefinition if provided will define what triggers to run after a tier is completed
  */
  public void updateAchievement (String deviceId, Long accountId, Long achievementId, String analyticsTag, String title, String description, String rankType, Integer rankIncrement, Integer minIncrement, Boolean nullMinIncrement, Integer maxIncrement, Boolean nullMaxIncrement, Boolean validate, Boolean active, String triggerDefinition, final Response.Listener<AchievementResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/achievement/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "achievementId", achievementId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "analyticsTag", analyticsTag));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankIncrement", rankIncrement));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minIncrement", minIncrement));
[...]
