/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AppResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class AppDataApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Get App Data
  * Get the application data structure.  The basic structure is a   node tree, with the root node being a AppResponse.  The response contains   the user&#39;s profile, messages from the system, and a list of MissionResponse.    A mission can have any number of GameResponses but typically is a single   game type.  A game then has any number of PackResponses which help group   the game levels. Packs are then composed of any number of GameLevelResponses.     Using the various parameters can return the applications default mission   (built-in packs to play), the list of community levels published, the user&#39;s   saved levels, or explicity levels desired.  You can choose to include the   profile or not, or just return parts of the profile.  You can also filter   out game levels that have been published with a higher version of the application.
   * @param start start the search results at a record.
   * @param limit limit the search results to some number.
   * @param deviceId the device id (deviceId or accountId required).
   * @param accountId the account id of the user (deviceId or accountId required).
   * @param gameType the game to retrieve the data for, use your application key.
   * @param includeGameData if true then include the game data blob, otherwise don&#39;t include.
   * @param q This parameter is deprecated.
   * @param keyword query string used to filter the search results when looking for community and saved levels.
   * @param sortField how to sort the results when looking for community and saved levels. possible values are: LEVEL_NAME, LEVEL_CREATED, LEVEL_UPDATED, LEVEL_LIKES, LEVEL_DISLIKES, LEVEL_NOTES, LEVEL_PLAYS.
   * @param descending order the search results descending or ascending when looking for community and saved levels.
   * @param i This parameter is deprecated.
   * @param l This parameter is deprecated.
   * @param gameObjectCount if true then include the game object count, otherwise don&#39;t include.
   * @param filter restrict the search to items with certain permissions, possible values are: MINE, FRIENDS, PUBLIC, ALL_PUBLIC, ALL, LIKED
   * @param dateCreated restrict the search to items created less then date
   * @param ownerId get levels owned by a particular account
   * @param missionIds get missions by specified id, comman seperated list of long ids
   * @param gameIds get games by specified id, comman seperated list of long ids
   * @param packIds get packs by specified id, comman seperated list of long ids
   * @param gameLevelIds get game levels by specified id, comman seperated list of long ids
   * @param appVersion the application version, used to versin the game level data
   * @param includeHigherVersionPacks default is false and will not include any packs that have levels above the specified appVersion. If true then will return all levels regardless of version.
   * @param includeHigherVersionLevels default is false and will not include any levels above the specified appVersion. If true then will return all levels regardless of version.
   * @param responseGroups use response groups to include large parts of the structure. possible values are: * MISSION_DEFAULT (default) - include the default mission (built-in packs), excludes all other mission groups * MISSION_DEFAULT_LEVELS_SAVED - include saved levels, excludes all other mission groups * MISSION_DEFAULT_LEVELS_COMMUNITY - include community levels, excludes all other mission groups * MISSION_INVITED (default) - include challenges sent to user * PROFILE (default) - include entire profile * PROFILE_DATA - only include profile date (exclude friends) * PROFILE_FRIENDS - include friends list 
   * @param purchaseType the will return the correct in app purchases for the device, possible values are: * SIRQUL (default) - purchasing from the sirqul store using tickets * IOS - purchasing from the itunes store for iPhone, iPod, iPod Touch * GOOGLE - purchasing from the google android store * AMAZON - purchasing from the amazon android store * MAC - purchasing from the itunes store for OSX * FREE - the item is free to purchase 
   * @return AppResponse
  */
  public AppResponse getAppData (Integer start, Integer limit, String deviceId, Long accountId, String gameType, Boolean includeGameData, String q, String keyword, String sortField, Boolean descending, Integer i, Integer l, Boolean gameObjectCount, String filter, Long dateCreated, Long ownerId, String missionIds, String gameIds, String packIds, String gameLevelIds, String appVersion, Boolean includeHigherVersionPacks, Boolean includeHigherVersionLevels, String responseGroups, String purchaseType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling getAppData",
        new ApiException(400, "Missing the required parameter 'start' when calling getAppData"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getAppData",
        new ApiException(400, "Missing the required parameter 'limit' when calling getAppData"));
    }

    // create path and map variables
    String path = "/app/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeGameData", includeGameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameObjectCount", gameObjectCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dateCreated", dateCreated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ownerId", ownerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionIds", missionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameIds", gameIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packIds", packIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelIds", gameLevelIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeHigherVersionPacks", includeHigherVersionPacks));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeHigherVersionLevels", includeHigherVersionLevels));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseGroups", responseGroups));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseType", purchaseType));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AppResponse) ApiInvoker.deserialize(localVarResponse, "", AppResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get App Data
   * Get the application data structure.  The basic structure is a   node tree, with the root node being a AppResponse.  The response contains   the user&#39;s profile, messages from the system, and a list of MissionResponse.    A mission can have any number of GameResponses but typically is a single   game type.  A game then has any number of PackResponses which help group   the game levels. Packs are then composed of any number of GameLevelResponses.     Using the various parameters can return the applications default mission   (built-in packs to play), the list of community levels published, the user&#39;s   saved levels, or explicity levels desired.  You can choose to include the   profile or not, or just return parts of the profile.  You can also filter   out game levels that have been published with a higher version of the application.
   * @param start start the search results at a record.   * @param limit limit the search results to some number.   * @param deviceId the device id (deviceId or accountId required).   * @param accountId the account id of the user (deviceId or accountId required).   * @param gameType the game to retrieve the data for, use your application key.   * @param includeGameData if true then include the game data blob, otherwise don&#39;t include.   * @param q This parameter is deprecated.   * @param keyword query string used to filter the search results when looking for community and saved levels.   * @param sortField how to sort the results when looking for community and saved levels. possible values are: LEVEL_NAME, LEVEL_CREATED, LEVEL_UPDATED, LEVEL_LIKES, LEVEL_DISLIKES, LEVEL_NOTES, LEVEL_PLAYS.   * @param descending order the search results descending or ascending when looking for community and saved levels.   * @param i This parameter is deprecated.   * @param l This parameter is deprecated.   * @param gameObjectCount if true then include the game object count, otherwise don&#39;t include.   * @param filter restrict the search to items with certain permissions, possible values are: MINE, FRIENDS, PUBLIC, ALL_PUBLIC, ALL, LIKED   * @param dateCreated restrict the search to items created less then date   * @param ownerId get levels owned by a particular account   * @param missionIds get missions by specified id, comman seperated list of long ids   * @param gameIds get games by specified id, comman seperated list of long ids   * @param packIds get packs by specified id, comman seperated list of long ids   * @param gameLevelIds get game levels by specified id, comman seperated list of long ids   * @param appVersion the application version, used to versin the game level data   * @param includeHigherVersionPacks default is false and will not include any packs that have levels above the specified appVersion. If true then will return all levels regardless of version.   * @param includeHigherVersionLevels default is false and will not include any levels above the specified appVersion. If true then will return all levels regardless of version.   * @param responseGroups use response groups to include large parts of the structure. possible values are: * MISSION_DEFAULT (default) - include the default mission (built-in packs), excludes all other mission groups * MISSION_DEFAULT_LEVELS_SAVED - include saved levels, excludes all other mission groups * MISSION_DEFAULT_LEVELS_COMMUNITY - include community levels, excludes all other mission groups * MISSION_INVITED (default) - include challenges sent to user * PROFILE (default) - include entire profile * PROFILE_DATA - only include profile date (exclude friends) * PROFILE_FRIENDS - include friends list    * @param purchaseType the will return the correct in app purchases for the device, possible values are: * SIRQUL (default) - purchasing from the sirqul store using tickets * IOS - purchasing from the itunes store for iPhone, iPod, iPod Touch * GOOGLE - purchasing from the google android store * AMAZON - purchasing from the amazon android store * MAC - purchasing from the itunes store for OSX * FREE - the item is free to purchase 
  */
  public void getAppData (Integer start, Integer limit, String deviceId, Long accountId, String gameType, Boolean includeGameData, String q, String keyword, String sortField, Boolean descending, Integer i, Integer l, Boolean gameObjectCount, String filter, Long dateCreated, Long ownerId, String missionIds, String gameIds, String packIds, String gameLevelIds, String appVersion, Boolean includeHigherVersionPacks, Boolean includeHigherVersionLevels, String responseGroups, String purchaseType, final Response.Listener<AppResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling getAppData",
        new ApiException(400, "Missing the required parameter 'start' when calling getAppData"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getAppData",
        new ApiException(400, "Missing the required parameter 'limit' when calling getAppData"));
    }

    // create path and map variables
    String path = "/app/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeGameData", includeGameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameObjectCount", gameObjectCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dateCreated", dateCreated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ownerId", ownerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionIds", missionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameIds", gameIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packIds", packIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelIds", gameLevelIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeHigherVersionPacks", includeHigherVersionPacks));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeHigherVersionLevels", includeHigherVersionLevels));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseGroups", responseGroups));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseType", purchaseType));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AppResponse) ApiInvoker.deserialize(localVarResponse,  "", AppResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create App Data
  * Publish the application data structure.  Can be used to save levels   and scores.  It then returns the application data structure.  The basic   structure is a node tree, with the root node being a AppResponse.  The response   contains the user&#39;s profile, messages from the system, and a list of MissionResponse.    A mission can have any number of GameResponses but typically is a single   game type.  A game then has any number of PackResponses which help group   the game levels. Packs are then composed of any number of GameLevelResponses.      Using the various parameters can return the applications default mission   (built-in packs to play), the list of community levels published, the user&#39;s   saved levels, or explicity levels desired.  You can choose to include the   profile or not, or just return parts of the profile.  You can also filter   out game levels that have been published with a higher version of the application
   * @param gameType the game to retrieve the data for, use your application key.
   * @param start start the search results at a record.
   * @param limit limit the search results to some number.
   * @param data The analytic data AnalyticListResponse
   * @param deviceId the device id (deviceId or accountId required).
   * @param accountId the account id of the user (deviceId or accountId required).
   * @param includeGameData if true then include the game data blob, otherwise don&#39;t include.
   * @param q This parameter is deprecated.
   * @param keyword query string used to filter the search results when looking for community and saved levels.
   * @param sortField how to sort the results when looking for community and saved levels. possible values are: LEVEL_NAME, LEVEL_CREATED, LEVEL_UPDATED, LEVEL_LIKES, LEVEL_DISLIKES, LEVEL_NOTES, LEVEL_PLAYS.
   * @param descending order the search results descending or ascending when looking for community and saved levels.
   * @param i This parameter is deprecated.
   * @param l This parameter is deprecated.
   * @param gameObjectCount if true then include the game object count, otherwise don&#39;t include.
   * @param filter restrict the search to items with certain permissions, possible values are: MINE, FRIENDS, PUBLIC, ALL_PUBLIC, ALL, LIKED
   * @param dateCreated restrict the search to items created less then date
   * @param ownerId get levels owned by a particular account
   * @param missionIds get missions by specified id, comman seperated list of long ids
   * @param gameIds get games by specified id, comman seperated list of long ids
   * @param packIds get packs by specified id, comman seperated list of long ids
   * @param gameLevelIds get game levels by specified id, comman seperated list of long ids
   * @param appVersion the application version, used to versin the game level data
   * @param includeHigherVersionPacks default is false and will not include any packs that have levels above the specified appVersion. If true then will return all levels regardless of version.
   * @param includeHigherVersionLevels default is false and will not include any levels above the specified appVersion. If true then will return all levels regardless of version.
   * @param responseGroups use response groups to include large parts of the structure. possible values are: * MISSION_DEFAULT (default) - include the default mission (built-in packs), excludes all other mission groups * MISSION_DEFAULT_LEVELS_SAVED - include saved levels, excludes all other mission groups * MISSION_DEFAULT_LEVELS_COMMUNITY - include community levels, excludes all other mission groups * MISSION_INVITED (default) - include challenges sent to user * PROFILE (default) - include entire profile * PROFILE_DATA - only include profile date (exclude friends) * PROFILE_FRIENDS - include friends list 
   * @param purchaseType the will return the correct in app purchases for the device, possible values are: * SIRQUL (default) - purchasing from the sirqul store using tickets * IOS - purchasing from the itunes store for iPhone, iPod, iPod Touch * GOOGLE - purchasing from the google android store * AMAZON - purchasing from the amazon android store * MAC - purchasing from the itunes store for OSX * FREE - the item is free to purchase 
   * @return AppResponse
  */
  public AppResponse postAppData (String gameType, Integer start, Integer limit, String data, String deviceId, Long accountId, Boolean includeGameData, String q, String keyword, String sortField, Boolean descending, Integer i, Integer l, Boolean gameObjectCount, String filter, Long dateCreated, Long ownerId, String missionIds, String gameIds, String packIds, String gameLevelIds, String appVersion, Boolean includeHigherVersionPacks, Boolean includeHigherVersionLevels, String responseGroups, String purchaseType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'gameType' is set
    if (gameType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameType' when calling postAppData",
        new ApiException(400, "Missing the required parameter 'gameType' when calling postAppData"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling postAppData",
        new ApiException(400, "Missing the required parameter 'start' when calling postAppData"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling postAppData",
        new ApiException(400, "Missing the required parameter 'limit' when calling postAppData"));
    }
    // verify the required parameter 'data' is set
    if (data == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'data' when calling postAppData",
        new ApiException(400, "Missing the required parameter 'data' when calling postAppData"));
    }

    // create path and map variables
    String path = "/app/post";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeGameData", includeGameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameObjectCount", gameObjectCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dateCreated", dateCreated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ownerId", ownerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionIds", missionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameIds", gameIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packIds", packIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelIds", gameLevelIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeHigherVersionPacks", includeHigherVersionPacks));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeHigherVersionLevels", includeHigherVersionLevels));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseGroups", responseGroups));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseType", purchaseType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "data", data));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AppResponse) ApiInvoker.deserialize(localVarResponse, "", AppResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create App Data
   * Publish the application data structure.  Can be used to save levels   and scores.  It then returns the application data structure.  The basic   structure is a node tree, with the root node being a AppResponse.  The response   contains the user&#39;s profile, messages from the system, and a list of MissionResponse.    A mission can have any number of GameResponses but typically is a single   game type.  A game then has any number of PackResponses which help group   the game levels. Packs are then composed of any number of GameLevelResponses.      Using the various parameters can return the applications default mission   (built-in packs to play), the list of community levels published, the user&#39;s   saved levels, or explicity levels desired.  You can choose to include the   profile or not, or just return parts of the profile.  You can also filter   out game levels that have been published with a higher version of the application
   * @param gameType the game to retrieve the data for, use your application key.   * @param start start the search results at a record.   * @param limit limit the search results to some number.   * @param data The analytic data AnalyticListResponse   * @param deviceId the device id (deviceId or accountId required).   * @param accountId the account id of the user (deviceId or accountId required).   * @param includeGameData if true then include the game data blob, otherwise don&#39;t include.   * @param q This parameter is deprecated.   * @param keyword query string used to filter the search results when looking for community and saved levels.   * @param sortField how to sort the results when looking for community and saved levels. possible values are: LEVEL_NAME, LEVEL_CREATED, LEVEL_UPDATED, LEVEL_LIKES, LEVEL_DISLIKES, LEVEL_NOTES, LEVEL_PLAYS.   * @param descending order the search results descending or ascending when looking for community and saved levels.   * @param i This parameter is deprecated.   * @param l This parameter is deprecated.   * @param gameObjectCount if true then include the game object count, otherwise don&#39;t include.   * @param filter restrict the search to items with certain permissions, possible values are: MINE, FRIENDS, PUBLIC, ALL_PUBLIC, ALL, LIKED   * @param dateCreated restrict the search to items created less then date   * @param ownerId get levels owned by a particular account   * @param missionIds get missions by specified id, comman seperated list of long ids   * @param gameIds get games by specified id, comman seperated list of long ids   * @param packIds get packs by specified id, comman seperated list of long ids   * @param gameLevelIds get game levels by specified id, comman seperated list of long ids   * @param appVersion the application version, used to versin the game level data   * @param includeHigherVersionPacks default is false and will not include any packs that have levels above the specified appVersion. If true then will return all levels regardless of version.   * @param includeHigherVersionLevels default is false and will not include any levels above the specified appVersion. If true then will return all levels regardless of version.   * @param responseGroups use response groups to include large parts of the structure. possible values are: * MISSION_DEFAULT (default) - include the default mission (built-in packs), excludes all other mission groups * MISSION_DEFAULT_LEVELS_SAVED - include saved levels, excludes all other mission groups * MISSION_DEFAULT_LEVELS_COMMUNITY - include community levels, excludes all other mission groups * MISSION_INVITED (default) - include challenges sent to user * PROFILE (default) - include entire profile * PROFILE_DATA - only include profile date (exclude friends) * PROFILE_FRIENDS - include friends list    * @param purchaseType the will return the correct in app purchases for the device, possible values are: * SIRQUL (default) - purchasing from the sirqul store using tickets * IOS - purchasing from the itunes store for iPhone, iPod, iPod Touch * GOOGLE - purchasing from the google android store * AMAZON - purchasing from the amazon android store * MAC - purchasing from the itunes store for OSX * FREE - the item is free to purchase 
  */
  public void postAppData (String gameType, Integer start, Integer limit, String data, String deviceId, Long accountId, Boolean includeGameData, String q, String keyword, String sortField, Boolean descending, Integer i, Integer l, Boolean gameObjectCount, String filter, Long dateCreated, Long ownerId, String missionIds, String gameIds, String packIds, String gameLevelIds, String appVersion, Boolean includeHigherVersionPacks, Boolean includeHigherVersionLevels, String responseGroups, String purchaseType, final Response.Listener<AppResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'gameType' is set
    if (gameType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameType' when calling postAppData",
        new ApiException(400, "Missing the required parameter 'gameType' when calling postAppData"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling postAppData",
        new ApiException(400, "Missing the required parameter 'start' when calling postAppData"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling postAppData",
        new ApiException(400, "Missing the required parameter 'limit' when calling postAppData"));
    }
    // verify the required parameter 'data' is set
    if (data == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'data' when calling postAppData",
        new ApiException(400, "Missing the required parameter 'data' when calling postAppData"));
    }

    // create path and map variables
    String path = "/app/post".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeGameData", includeGameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameObjectCount", gameObjectCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dateCreated", dateCreated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ownerId", ownerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionIds", missionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameIds", gameIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packIds", packIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelIds", gameLevelIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeHigherVersionPacks", includeHigherVersionPacks));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeHigherVersionLevels", includeHigherVersionLevels));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseGroups", responseGroups));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseType", purchaseType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "data", data));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AppResponse) ApiInvoker.deserialize(localVarResponse,  "", AppResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Regenerate App Data
  * Regenerate the app data cache for apps
   * @param accountId the account id of the user
   * @param appKey process a specific application, if null process all apps with caches
   * @param buildVersion create a specific version, if null use current version. Be careful if processing all
   * @param apiVersion create a specific version, if null use current version. Be careful if processing all
   * @return SirqulResponse
  */
  public SirqulResponse regenAppData (Long accountId, String appKey, String buildVersion, String apiVersion) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/app/regen";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "buildVersion", buildVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "apiVersion", apiVersion));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Regenerate App Data
   * Regenerate the app data cache for apps
   * @param accountId the account id of the user   * @param appKey process a specific application, if null process all apps with caches   * @param buildVersion create a specific version, if null use current version. Be careful if processing all   * @param apiVersion create a specific version, if null use current version. Be careful if processing all
  */
  public void regenAppData (Long accountId, String appKey, String buildVersion, String apiVersion, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/app/regen".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "buildVersion", buildVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "apiVersion", apiVersion));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
