/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AssetFullResponse;
import org.openapitools.client.model.AssetResponse;
import org.openapitools.client.model.AssetShortResponse;
import java.io.File;
import java.util.*;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class AssetApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Download Asset
  * Downloads an asset from the server for assets that have been uploaded to the server.
   * @param filename the filename in the following formats: {assetId}-{suffix}.{extension} | {assetId}.{extension} | {assetId}
   * @return SirqulResponse
  */
  public SirqulResponse assetDownload (String filename) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'filename' is set
    if (filename == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'filename' when calling assetDownload",
        new ApiException(400, "Missing the required parameter 'filename' when calling assetDownload"));
    }

    // create path and map variables
    String path = "/asset/download/{filename}".replaceAll("\\{" + "filename" + "\\}", apiInvoker.escapeString(filename.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Download Asset
   * Downloads an asset from the server for assets that have been uploaded to the server.
   * @param filename the filename in the following formats: {assetId}-{suffix}.{extension} | {assetId}.{extension} | {assetId}
  */
  public void assetDownload (String filename, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'filename' is set
    if (filename == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'filename' when calling assetDownload",
        new ApiException(400, "Missing the required parameter 'filename' when calling assetDownload"));
    }

    // create path and map variables
    String path = "/asset/download/{filename}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "filename" + "\\}", apiInvoker.escapeString(filename.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Convert Offer to Creative
  * Converts an offer image + text into a creative image.
   * @param offerId offer id used for inserting offer text/flavor
   * @param adSize the ad size used for selecting a format for the creative image
   * @param creativeId used for inserting the newly created image into
   * @param width total width of the creative image
   * @param height total height of the creative image
   * @param backgroundSize the size of the background
   * @param template the template to use
   * @return AssetShortResponse
  */
  public AssetShortResponse assetMorph (Long offerId, String adSize, Long creativeId, Integer width, Integer height, String backgroundSize, String template) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'offerId' is set
    if (offerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerId' when calling assetMorph",
        new ApiException(400, "Missing the required parameter 'offerId' when calling assetMorph"));
    }
    // verify the required parameter 'adSize' is set
    if (adSize == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adSize' when calling assetMorph",
        new ApiException(400, "Missing the required parameter 'adSize' when calling assetMorph"));
    }

    // create path and map variables
    String path = "/asset/morph";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "adSize", adSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "width", width));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "height", height));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "backgroundSize", backgroundSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "template", template));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssetShortResponse) ApiInvoker.deserialize(localVarResponse, "", AssetShortResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Convert Offer to Creative
   * Converts an offer image + text into a creative image.
   * @param offerId offer id used for inserting offer text/flavor   * @param adSize the ad size used for selecting a format for the creative image   * @param creativeId used for inserting the newly created image into   * @param width total width of the creative image   * @param height total height of the creative image   * @param backgroundSize the size of the background   * @param template the template to use
  */
  public void assetMorph (Long offerId, String adSize, Long creativeId, Integer width, Integer height, String backgroundSize, String template, final Response.Listener<AssetShortResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'offerId' is set
    if (offerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerId' when calling assetMorph",
        new ApiException(400, "Missing the required parameter 'offerId' when calling assetMorph"));
    }
    // verify the required parameter 'adSize' is set
    if (adSize == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'adSize' when calling assetMorph",
        new ApiException(400, "Missing the required parameter 'adSize' when calling assetMorph"));
    }

    // create path and map variables
    String path = "/asset/morph".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "adSize", adSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "width", width));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "height", height));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "backgroundSize", backgroundSize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "template", template));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssetShortResponse) ApiInvoker.deserialize(localVarResponse,  "", AssetShortResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Asset
  * Uploads an asset to server and returns an asset id which can be used to assign to various objects.
   * @param returnNulls to return nulls
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param albumId the album the asset will be added to (optional)
   * @param collectionId Deprecated: use collections via the collection endpoints.
   * @param addToDefaultAlbum Whether to add to a default album
   * @param addToMediaLibrary Whether to add to the media library
   * @param versionCode the version code
   * @param versionName the version name
   * @param metaData External custom client defined data
   * @param caption the caption (optional)
   * @param assetType the asset type
   * @param approvalStatus approval status for the asset
   * @param assignedAccountId account id assigned to the asset
   * @param media a MultipartFile containing the mimetype, etc
   * @param mediaUrl this can be used if the \&quot;media\&quot; is a link (optional)
   * @param mediaString the media content as a string (optional)
   * @param mediaStringFileName file name for mediaString (optional)
   * @param mediaStringContentType content type for mediaString (optional)
   * @param mediaHeight the media height (optional)
   * @param mediaWidth the media width (optional)
   * @param attachedMedia a MultipartFile containing an asset that the \&quot;media\&quot; file references (optional). Example: to upload a video the \&quot;media\&quot; file should contain a screen capture and the \&quot;attachedMedia\&quot; should be the actual video.
   * @param attachedMediaUrl this can be used if the \&quot;attachedMedia\&quot; is a link (i.e. a Youtube video, etc) (optional)
   * @param attachedMediaString attached media content as a string (optional)
   * @param attachedMediaStringFileName file name for attachedMediaString (optional)
   * @param attachedMediaStringContentType content type for attachedMediaString (optional)
   * @param attachedMediaHeight the attached media height (optional)
   * @param attachedMediaWidth the attached media width (optional)
   * @param locationDescription the location description (optional)
   * @param app Deprecated: app parameter
   * @param appKey the application key
   * @param searchTags the search tags
   * @param latitude the latitude (optional)
   * @param longitude the longitude (optional)
   * @return AssetResponse
  */
  public AssetResponse createAsset (Boolean returnNulls, String deviceId, Long accountId, Long albumId, Long collectionId, String addToDefaultAlbum, Boolean addToMediaLibrary, Integer versionCode, String versionName, String metaData, String caption, String assetType, String approvalStatus, Long assignedAccountId, File media, String mediaUrl, String mediaString, String mediaStringFileName, String mediaStringContentType, Integer mediaHeight, Integer mediaWidth, File attachedMedia, String attachedMediaUrl, String attachedMediaString, String attachedMediaStringFileName, String attachedMediaStringContentType, Integer attachedMediaHeight, Integer attachedMediaWidth, String locationDescription, String app, String appKey, String searchTags, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/asset/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId", albumId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "collectionId", collectionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "addToDefaultAlbum", addToDefaultAlbum));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "addToMediaLibrary", addToMediaLibrary));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionCode", versionCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionName", versionName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "caption", caption));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetType", assetType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalStatus", approvalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignedAccountId", assignedAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "media", media));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaUrl", mediaUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaString", mediaString));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaStringFileName", mediaStringFileName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaStringContentType", mediaStringContentType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaHeight", mediaHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaWidth", mediaWidth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMedia", attachedMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaUrl", attachedMediaUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaString", attachedMediaString));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaStringFileName", attachedMediaStringFileName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaStringContentType", attachedMediaStringContentType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaHeight", attachedMediaHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaWidth", attachedMediaWidth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "app", app));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssetResponse) ApiInvoker.deserialize(localVarResponse, "", AssetResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Asset
   * Uploads an asset to server and returns an asset id which can be used to assign to various objects.
   * @param returnNulls to return nulls   * @param deviceId a unique ID given by the device (deviceId or accountId required)   * @param accountId the account ID of the user (deviceId or accountId required)   * @param albumId the album the asset will be added to (optional)   * @param collectionId Deprecated: use collections via the collection endpoints.   * @param addToDefaultAlbum Whether to add to a default album   * @param addToMediaLibrary Whether to add to the media library   * @param versionCode the version code   * @param versionName the version name   * @param metaData External custom client defined data   * @param caption the caption (optional)   * @param assetType the asset type   * @param approvalStatus approval status for the asset   * @param assignedAccountId account id assigned to the asset   * @param media a MultipartFile containing the mimetype, etc   * @param mediaUrl this can be used if the \&quot;media\&quot; is a link (optional)   * @param mediaString the media content as a string (optional)   * @param mediaStringFileName file name for mediaString (optional)   * @param mediaStringContentType content type for mediaString (optional)   * @param mediaHeight the media height (optional)   * @param mediaWidth the media width (optional)   * @param attachedMedia a MultipartFile containing an asset that the \&quot;media\&quot; file references (optional). Example: to upload a video the \&quot;media\&quot; file should contain a screen capture and the \&quot;attachedMedia\&quot; should be the actual video.   * @param attachedMediaUrl this can be used if the \&quot;attachedMedia\&quot; is a link (i.e. a Youtube video, etc) (optional)   * @param attachedMediaString attached media content as a string (optional)   * @param attachedMediaStringFileName file name for attachedMediaString (optional)   * @param attachedMediaStringContentType content type for attachedMediaString (optional)   * @param attachedMediaHeight the attached media height (optional)   * @param attachedMediaWidth the attached media width (optional)   * @param locationDescription the location description (optional)   * @param app Deprecated: app parameter   * @param appKey the application key   * @param searchTags the search tags   * @param latitude the latitude (optional)   * @param longitude the longitude (optional)
  */
  public void createAsset (Boolean returnNulls, String deviceId, Long accountId, Long albumId, Long collectionId, String addToDefaultAlbum, Boolean addToMediaLibrary, Integer versionCode, String versionName, String metaData, String caption, String assetType, String approvalStatus, Long assignedAccountId, File media, String mediaUrl, String mediaString, String mediaStringFileName, String mediaStringContentType, Integer mediaHeight, Integer mediaWidth, File attachedMedia, String attachedMediaUrl, String attachedMediaString, String attachedMediaStringFileName, String attachedMediaStringContentType, Integer attachedMediaHeight, Integer attachedMediaWidth, String locationDescription, String app, String appKey, String searchTags, Double latitude, Double longitude, final Response.Listener<AssetResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/asset/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId", albumId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "collectionId", collectionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "addToDefaultAlbum", addToDefaultAlbum));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "addToMediaLibrary", addToMediaLibrary));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionCode", versionCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionName", versionName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "caption", caption));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetType", assetType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalStatus", approvalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignedAccountId", assignedAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "media", media));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaUrl", mediaUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaString", mediaString));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaStringFileName", mediaStringFileName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaStringContentType", mediaStringContentType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaHeight", mediaHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaWidth", mediaWidth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMedia", attachedMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaUrl", attachedMediaUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaString", attachedMediaString));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaStringFileName", attachedMediaStringFileName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaStringContentType", attachedMediaStringContentType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaHeight", attachedMediaHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaWidth", attachedMediaWidth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "app", app));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssetResponse) ApiInvoker.deserialize(localVarResponse,  "", AssetResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Asset
  * Delete an asset.
   * @param assetId the id of the asset to delete
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param latitude latitude used to update the user&#39;s current location
   * @param longitude longitude used to update the user&#39;s current location
   * @return SirqulResponse
  */
  public SirqulResponse deleteAsset (String assetId, String deviceId, Long accountId, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'assetId' is set
    if (assetId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetId' when calling deleteAsset",
        new ApiException(400, "Missing the required parameter 'assetId' when calling deleteAsset"));
    }

    // create path and map variables
    String path = "/asset/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Asset
   * Delete an asset.
   * @param assetId the id of the asset to delete   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param latitude latitude used to update the user&#39;s current location   * @param longitude longitude used to update the user&#39;s current location
  */
  public void deleteAsset (String assetId, String deviceId, Long accountId, Double latitude, Double longitude, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'assetId' is set
    if (assetId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetId' when calling deleteAsset",
        new ApiException(400, "Missing the required parameter 'assetId' when calling deleteAsset"));
    }

    // create path and map variables
    String path = "/asset/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Asset
  * Gets the full asset response including attached likes and notes.
   * @param assetId the asset ID
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param noteDescending determines whether the notes on the asset are in descending order
   * @return AssetFullResponse
  */
  public AssetFullResponse getAsset (Long assetId, String deviceId, Long accountId, Boolean noteDescending) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'assetId' is set
    if (assetId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetId' when calling getAsset",
        new ApiException(400, "Missing the required parameter 'assetId' when calling getAsset"));
    }

    // create path and map variables
    String path = "/asset/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "noteDescending", noteDescending));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssetFullResponse) ApiInvoker.deserialize(localVarResponse, "", AssetFullResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Asset
   * Gets the full asset response including attached likes and notes.
   * @param assetId the asset ID   * @param deviceId a unique ID given by the device (deviceId or accountId required)   * @param accountId the account ID of the user (deviceId or accountId required)   * @param noteDescending determines whether the notes on the asset are in descending order
  */
  public void getAsset (Long assetId, String deviceId, Long accountId, Boolean noteDescending, final Response.Listener<AssetFullResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'assetId' is set
    if (assetId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetId' when calling getAsset",
        new ApiException(400, "Missing the required parameter 'assetId' when calling getAsset"));
    }

    // create path and map variables
    String path = "/asset/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "noteDescending", noteDescending));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssetFullResponse) ApiInvoker.deserialize(localVarResponse,  "", AssetFullResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Remove Asset from Collection
  * Remove assets from collections
   * @param assetId the id of the asset to remove
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param albumId the album id to remove the asset from
   * @param collectionId the collection id to remove the asset from
   * @param removeFromDefaultAlbums remove from the user&#39;s profile album
   * @param latitude latitude used to update the user&#39;s current location
   * @param longitude longitude used to update the user&#39;s current location
   * @return SirqulResponse
  */
  public SirqulResponse removeAsset (String assetId, String deviceId, Long accountId, Long albumId, Long collectionId, Boolean removeFromDefaultAlbums, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'assetId' is set
    if (assetId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetId' when calling removeAsset",
        new ApiException(400, "Missing the required parameter 'assetId' when calling removeAsset"));
    }

    // create path and map variables
    String path = "/asset/remove";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId", albumId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "collectionId", collectionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeFromDefaultAlbums", removeFromDefaultAlbums));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Remove Asset from Collection
   * Remove assets from collections
   * @param assetId the id of the asset to remove   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param albumId the album id to remove the asset from   * @param collectionId the collection id to remove the asset from   * @param removeFromDefaultAlbums remove from the user&#39;s profile album   * @param latitude latitude used to update the user&#39;s current location   * @param longitude longitude used to update the user&#39;s current location
  */
  public void removeAsset (String assetId, String deviceId, Long accountId, Long albumId, Long collectionId, Boolean removeFromDefaultAlbums, Double latitude, Double longitude, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'assetId' is set
    if (assetId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetId' when calling removeAsset",
        new ApiException(400, "Missing the required parameter 'assetId' when calling removeAsset"));
    }

    // create path and map variables
    String path = "/asset/remove".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId", albumId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "collectionId", collectionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeFromDefaultAlbums", removeFromDefaultAlbums));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Assets
  * Searches for assets
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param albumIds comma separated list of album ids to search on
   * @param assetIds comma separated list of asset ids to search on
   * @param appKey the application key to filter results by application.
   * @param mediaType filter results by media type. Possible values include: APPLICATION, IMAGE, AUDIO, VIDEO, MULTIPART, TEXT
   * @param mimeType filter results by mime type
   * @param keyword keyword search string
   * @param versionCode filter results by version code
   * @param versionName filter results by version name
   * @param updatedSince return items that have been updated since this date (time-stamp in milliseconds)
   * @param updatedBefore return items that have been updated before this date (time-stamp in milliseconds)
   * @param sortField the field to sort by. See AssetApiMap
   * @param descending determines whether the sorted list is in descending or ascending order
   * @param searchMediaLibrary determines whether to search on the media library album
   * @param filterByBillable filter results by billable entity
   * @param activeOnly if only searching for active assets
   * @param returnApp determines whether to include the application response as part of the asset response
   * @param start the start index for pagination
   * @param limit the limit for pagination (there is a hard limit of 200)
   * @param searchMode search mode for index (SearchIndexMode)
   * @param assetType filter by asset type
   * @param approvalStatus filter by approval status
   * @param assignedAccountId filter results by an assigned account id
   * @return List<AssetResponse>
  */
  public List<AssetResponse> searchAssets (String deviceId, Long accountId, String albumIds, String assetIds, String appKey, String mediaType, String mimeType, String keyword, Integer versionCode, String versionName, Long updatedSince, Long updatedBefore, String sortField, Boolean descending, Boolean searchMediaLibrary, Boolean filterByBillable, Boolean activeOnly, Boolean returnApp, Integer start, Integer limit, String searchMode, String assetType, String approvalStatus, Long assignedAccountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/asset/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumIds", albumIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetIds", assetIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaType", mediaType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mimeType", mimeType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionCode", versionCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionName", versionName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "updatedSince", updatedSince));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "updatedBefore", updatedBefore));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchMediaLibrary", searchMediaLibrary));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterByBillable", filterByBillable));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnApp", returnApp));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchMode", searchMode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetType", assetType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalStatus", approvalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignedAccountId", assignedAccountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AssetResponse>) ApiInvoker.deserialize(localVarResponse, "array", AssetResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Assets
   * Searches for assets
   * @param deviceId a unique ID given by the device (deviceId or accountId required)   * @param accountId the account ID of the user (deviceId or accountId required)   * @param albumIds comma separated list of album ids to search on   * @param assetIds comma separated list of asset ids to search on   * @param appKey the application key to filter results by application.   * @param mediaType filter results by media type. Possible values include: APPLICATION, IMAGE, AUDIO, VIDEO, MULTIPART, TEXT   * @param mimeType filter results by mime type   * @param keyword keyword search string   * @param versionCode filter results by version code   * @param versionName filter results by version name   * @param updatedSince return items that have been updated since this date (time-stamp in milliseconds)   * @param updatedBefore return items that have been updated before this date (time-stamp in milliseconds)   * @param sortField the field to sort by. See AssetApiMap   * @param descending determines whether the sorted list is in descending or ascending order   * @param searchMediaLibrary determines whether to search on the media library album   * @param filterByBillable filter results by billable entity   * @param activeOnly if only searching for active assets   * @param returnApp determines whether to include the application response as part of the asset response   * @param start the start index for pagination   * @param limit the limit for pagination (there is a hard limit of 200)   * @param searchMode search mode for index (SearchIndexMode)   * @param assetType filter by asset type   * @param approvalStatus filter by approval status   * @param assignedAccountId filter results by an assigned account id
  */
  public void searchAssets (String deviceId, Long accountId, String albumIds, String assetIds, String appKey, String mediaType, String mimeType, String keyword, Integer versionCode, String versionName, Long updatedSince, Long updatedBefore, String sortField, Boolean descending, Boolean searchMediaLibrary, Boolean filterByBillable, Boolean activeOnly, Boolean returnApp, Integer start, Integer limit, String searchMode, String assetType, String approvalStatus, Long assignedAccountId, final Response.Listener<List<AssetResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/asset/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumIds", albumIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetIds", assetIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaType", mediaType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mimeType", mimeType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionCode", versionCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionName", versionName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "updatedSince", updatedSince));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "updatedBefore", updatedBefore));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchMediaLibrary", searchMediaLibrary));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterByBillable", filterByBillable));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnApp", returnApp));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchMode", searchMode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetType", assetType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalStatus", approvalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignedAccountId", assignedAccountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AssetResponse>) ApiInvoker.deserialize(localVarResponse,  "array", AssetResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Asset
  * Updates an asset&#39;s meta data. If an album reference is passed in, the participants with write permissions are allowed to edit the asset. Otherwise, only the asset up-loader has permission to edit the data.
   * @param assetId the ID of the asset to update
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param albumId the ID of the album to check user permissions
   * @param attachedAssetId the ID of the attached asset
   * @param versionCode the version code
   * @param versionName the version name
   * @param metaData External custom client defined data
   * @param caption the caption
   * @param assetType the asset type
   * @param approvalStatus approval status for the asset
   * @param assignedAccountId account id assigned to the asset
   * @param media a MultipartFile containing the mimetype, etc
   * @param mediaUrl this can be used if the \&quot;media\&quot; is a link (optional)
   * @param mediaString the media content as a string (optional)
   * @param mediaStringFileName file name for mediaString (optional)
   * @param mediaStringContentType content type for mediaString (optional)
   * @param mediaHeight the media height (optional)
   * @param mediaWidth the media width (optional)
   * @param attachedMedia a MultipartFile containing an asset that the \&quot;media\&quot; file references (optional). Example: to upload a video the \&quot;media\&quot; file should contain a screen capture and the \&quot;attachedMedia\&quot; should be the actual video.
   * @param attachedMediaUrl this can be used if the \&quot;attachedMedia\&quot; is a link (i.e. a Youtube video, etc) (optional)
   * @param attachedMediaString attached media content as a string (optional)
   * @param attachedMediaStringFileName file name for attachedMediaString (optional)
   * @param attachedMediaStringContentType content type for attachedMediaString (optional)
   * @param attachedMediaHeight the attached media height (optional)
   * @param attachedMediaWidth the attached media width (optional)
   * @param locationDescription the location description
   * @param searchTags search tags
   * @param appKey the application key
   * @param latitude latitude used to update the asset&#39;s location
   * @param longitude longitude used to update the asset&#39;s location
   * @return SirqulResponse
  */
  public SirqulResponse updateAsset (Long assetId, String deviceId, Long accountId, Long albumId, Long attachedAssetId, Integer versionCode, String versionName, String metaData, String caption, String assetType, String approvalStatus, Long assignedAccountId, File media, String mediaUrl, String mediaString, String mediaStringFileName, String mediaStringContentType, Integer mediaHeight, Integer mediaWidth, File attachedMedia, String attachedMediaUrl, String attachedMediaString, String attachedMediaStringFileName, String attachedMediaStringContentType, Integer attachedMediaHeight, Integer attachedMediaWidth, String locationDescription, String searchTags, String appKey, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'assetId' is set
    if (assetId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetId' when calling updateAsset",
        new ApiException(400, "Missing the required parameter 'assetId' when calling updateAsset"));
    }

    // create path and map variables
    String path = "/asset/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId", albumId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedAssetId", attachedAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionCode", versionCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionName", versionName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "caption", caption));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetType", assetType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalStatus", approvalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignedAccountId", assignedAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "media", media));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaUrl", mediaUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaString", mediaString));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaStringFileName", mediaStringFileName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaStringContentType", mediaStringContentType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaHeight", mediaHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaWidth", mediaWidth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMedia", attachedMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaUrl", attachedMediaUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaString", attachedMediaString));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaStringFileName", attachedMediaStringFileName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaStringContentType", attachedMediaStringContentType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaHeight", attachedMediaHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaWidth", attachedMediaWidth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Asset
   * Updates an asset&#39;s meta data. If an album reference is passed in, the participants with write permissions are allowed to edit the asset. Otherwise, only the asset up-loader has permission to edit the data.
   * @param assetId the ID of the asset to update   * @param deviceId a unique ID given by the device (deviceId or accountId required)   * @param accountId the account ID of the user (deviceId or accountId required)   * @param albumId the ID of the album to check user permissions   * @param attachedAssetId the ID of the attached asset   * @param versionCode the version code   * @param versionName the version name   * @param metaData External custom client defined data   * @param caption the caption   * @param assetType the asset type   * @param approvalStatus approval status for the asset   * @param assignedAccountId account id assigned to the asset   * @param media a MultipartFile containing the mimetype, etc   * @param mediaUrl this can be used if the \&quot;media\&quot; is a link (optional)   * @param mediaString the media content as a string (optional)   * @param mediaStringFileName file name for mediaString (optional)   * @param mediaStringContentType content type for mediaString (optional)   * @param mediaHeight the media height (optional)   * @param mediaWidth the media width (optional)   * @param attachedMedia a MultipartFile containing an asset that the \&quot;media\&quot; file references (optional). Example: to upload a video the \&quot;media\&quot; file should contain a screen capture and the \&quot;attachedMedia\&quot; should be the actual video.   * @param attachedMediaUrl this can be used if the \&quot;attachedMedia\&quot; is a link (i.e. a Youtube video, etc) (optional)   * @param attachedMediaString attached media content as a string (optional)   * @param attachedMediaStringFileName file name for attachedMediaString (optional)   * @param attachedMediaStringContentType content type for attachedMediaString (optional)   * @param attachedMediaHeight the attached media height (optional)   * @param attachedMediaWidth the attached media width (optional)   * @param locationDescription the location description   * @param searchTags search tags   * @param appKey the application key   * @param latitude latitude used to update the asset&#39;s location   * @param longitude longitude used to update the asset&#39;s location
  */
  public void updateAsset (Long assetId, String deviceId, Long accountId, Long albumId, Long attachedAssetId, Integer versionCode, String versionName, String metaData, String caption, String assetType, String approvalStatus, Long assignedAccountId, File media, String mediaUrl, String mediaString, String mediaStringFileName, String mediaStringContentType, Integer mediaHeight, Integer mediaWidth, File attachedMedia, String attachedMediaUrl, String attachedMediaString, String attachedMediaStringFileName, String attachedMediaStringContentType, Integer attachedMediaHeight, Integer attachedMediaWidth, String locationDescription, String searchTags, String appKey, Double latitude, Double longitude, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'assetId' is set
    if (assetId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assetId' when calling updateAsset",
        new ApiException(400, "Missing the required parameter 'assetId' when calling updateAsset"));
    }

    // create path and map variables
    String path = "/asset/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId", albumId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedAssetId", attachedAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionCode", versionCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "versionName", versionName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "caption", caption));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetType", assetType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalStatus", approvalStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignedAccountId", assignedAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "media", media));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaUrl", mediaUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaString", mediaString));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaStringFileName", mediaStringFileName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaStringContentType", mediaStringContentType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaHeight", mediaHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaWidth", mediaWidth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMedia", attachedMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaUrl", attachedMediaUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaString", attachedMediaString));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaStringFileName", attachedMediaStringFileName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaStringContentType", attachedMediaStringContentType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaHeight", attachedMediaHeight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "attachedMediaWidth", attachedMediaWidth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
