/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AccountMiniResponse;
import org.openapitools.client.model.AssignmentResponse;
import org.openapitools.client.model.AssignmentStatusResponse;
import java.util.*;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class AssignmentApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Search Assignment Assignees
  * Search for avaiable users for creating or updating assignment.
   * @param accountId The account id sending the request
   * @param keyword The keyword to filter the returned results
   * @return List<AccountMiniResponse>
  */
  public List<AccountMiniResponse> assigmentAssigneeAccountSearch (Long accountId, String keyword) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assigmentAssigneeAccountSearch",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assigmentAssigneeAccountSearch"));
    }

    // create path and map variables
    String path = "/assignment/assignee/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AccountMiniResponse>) ApiInvoker.deserialize(localVarResponse, "array", AccountMiniResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Assignment Assignees
   * Search for avaiable users for creating or updating assignment.
   * @param accountId The account id sending the request   * @param keyword The keyword to filter the returned results
  */
  public void assigmentAssigneeAccountSearch (Long accountId, String keyword, final Response.Listener<List<AccountMiniResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assigmentAssigneeAccountSearch",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assigmentAssigneeAccountSearch"));
    }

    // create path and map variables
    String path = "/assignment/assignee/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AccountMiniResponse>) ApiInvoker.deserialize(localVarResponse,  "array", AccountMiniResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Assignment
  * Create an assignment.
   * @param accountId the user account id
   * @param name the name for the assignment
   * @param assigneeAccountId the account id to assign to
   * @param description the desciprtion for the assignment
   * @param retailerLocationId the retailer location id
   * @param tags the tags
   * @param active determines whether the assignment is active or inactive
   * @return AssignmentResponse
  */
  public AssignmentResponse assignmentCreate (Long accountId, String name, Long assigneeAccountId, String description, Long retailerLocationId, String tags, Boolean active) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentCreate",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentCreate"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling assignmentCreate",
        new ApiException(400, "Missing the required parameter 'name' when calling assignmentCreate"));
    }
    // verify the required parameter 'assigneeAccountId' is set
    if (assigneeAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assigneeAccountId' when calling assignmentCreate",
        new ApiException(400, "Missing the required parameter 'assigneeAccountId' when calling assignmentCreate"));
    }

    // create path and map variables
    String path = "/assignment/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assigneeAccountId", assigneeAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssignmentResponse) ApiInvoker.deserialize(localVarResponse, "", AssignmentResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Assignment
   * Create an assignment.
   * @param accountId the user account id   * @param name the name for the assignment   * @param assigneeAccountId the account id to assign to   * @param description the desciprtion for the assignment   * @param retailerLocationId the retailer location id   * @param tags the tags   * @param active determines whether the assignment is active or inactive
  */
  public void assignmentCreate (Long accountId, String name, Long assigneeAccountId, String description, Long retailerLocationId, String tags, Boolean active, final Response.Listener<AssignmentResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentCreate",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentCreate"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling assignmentCreate",
        new ApiException(400, "Missing the required parameter 'name' when calling assignmentCreate"));
    }
    // verify the required parameter 'assigneeAccountId' is set
    if (assigneeAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assigneeAccountId' when calling assignmentCreate",
        new ApiException(400, "Missing the required parameter 'assigneeAccountId' when calling assignmentCreate"));
    }

    // create path and map variables
    String path = "/assignment/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assigneeAccountId", assigneeAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssignmentResponse) ApiInvoker.deserialize(localVarResponse,  "", AssignmentResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Assignment
  * Delete an assignment.
   * @param accountId the user account id
   * @param assignmentId the assignment id
   * @return SirqulResponse
  */
  public SirqulResponse assignmentDelete (Long accountId, Long assignmentId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentDelete",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentDelete"));
    }
    // verify the required parameter 'assignmentId' is set
    if (assignmentId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentId' when calling assignmentDelete",
        new ApiException(400, "Missing the required parameter 'assignmentId' when calling assignmentDelete"));
    }

    // create path and map variables
    String path = "/assignment/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Assignment
   * Delete an assignment.
   * @param accountId the user account id   * @param assignmentId the assignment id
  */
  public void assignmentDelete (Long accountId, Long assignmentId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentDelete",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentDelete"));
    }
    // verify the required parameter 'assignmentId' is set
    if (assignmentId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentId' when calling assignmentDelete",
        new ApiException(400, "Missing the required parameter 'assignmentId' when calling assignmentDelete"));
    }

    // create path and map variables
    String path = "/assignment/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Assignment
  * Get the details of an assignment.
   * @param accountId the user account id
   * @param assignmentId the assignment id
   * @return AssignmentResponse
  */
  public AssignmentResponse assignmentGet (Long accountId, Long assignmentId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentGet",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentGet"));
    }
    // verify the required parameter 'assignmentId' is set
    if (assignmentId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentId' when calling assignmentGet",
        new ApiException(400, "Missing the required parameter 'assignmentId' when calling assignmentGet"));
    }

    // create path and map variables
    String path = "/assignment/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssignmentResponse) ApiInvoker.deserialize(localVarResponse, "", AssignmentResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Assignment
   * Get the details of an assignment.
   * @param accountId the user account id   * @param assignmentId the assignment id
  */
  public void assignmentGet (Long accountId, Long assignmentId, final Response.Listener<AssignmentResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentGet",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentGet"));
    }
    // verify the required parameter 'assignmentId' is set
    if (assignmentId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentId' when calling assignmentGet",
        new ApiException(400, "Missing the required parameter 'assignmentId' when calling assignmentGet"));
    }

    // create path and map variables
    String path = "/assignment/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssignmentResponse) ApiInvoker.deserialize(localVarResponse,  "", AssignmentResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Assignments
  * Search for assignments by the given parameters.
   * @param accountId the account sending the request
   * @param sortField sort by table field
   * @param descending return results in descending order or not
   * @param activeOnly return active results only or not
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @param creatorAccountId the creator of the assignment
   * @param assigneeAccountIds filter results by assignee accounts. If not provided, all assignments that are assigned to accounts that are managed by the requested account will be returned.
   * @param retailerLocationIds filter results by retailer locations
   * @param currentStatusType filter results by assignment status
   * @param keyword filter results by keyword search that matches the assignee, creator, or retailer location name
   * @return List<AssignmentResponse>
  */
  public List<AssignmentResponse> assignmentSearch (Long accountId, String sortField, Boolean descending, Boolean activeOnly, Integer start, Integer limit, Long creatorAccountId, String assigneeAccountIds, String retailerLocationIds, String currentStatusType, String keyword) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentSearch"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'sortField' when calling assignmentSearch"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'descending' when calling assignmentSearch"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling assignmentSearch"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'start' when calling assignmentSearch"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'limit' when calling assignmentSearch"));
    }

    // create path and map variables
    String path = "/assignment/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creatorAccountId", creatorAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assigneeAccountIds", assigneeAccountIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "currentStatusType", currentStatusType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AssignmentResponse>) ApiInvoker.deserialize(localVarResponse, "array", AssignmentResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Assignments
   * Search for assignments by the given parameters.
   * @param accountId the account sending the request   * @param sortField sort by table field   * @param descending return results in descending order or not   * @param activeOnly return active results only or not   * @param start The record to begin the return set on   * @param limit The number of records to return   * @param creatorAccountId the creator of the assignment   * @param assigneeAccountIds filter results by assignee accounts. If not provided, all assignments that are assigned to accounts that are managed by the requested account will be returned.   * @param retailerLocationIds filter results by retailer locations   * @param currentStatusType filter results by assignment status   * @param keyword filter results by keyword search that matches the assignee, creator, or retailer location name
  */
  public void assignmentSearch (Long accountId, String sortField, Boolean descending, Boolean activeOnly, Integer start, Integer limit, Long creatorAccountId, String assigneeAccountIds, String retailerLocationIds, String currentStatusType, String keyword, final Response.Listener<List<AssignmentResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentSearch"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'sortField' when calling assignmentSearch"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'descending' when calling assignmentSearch"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling assignmentSearch"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'start' when calling assignmentSearch"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling assignmentSearch",
        new ApiException(400, "Missing the required parameter 'limit' when calling assignmentSearch"));
    }

    // create path and map variables
    String path = "/assignment/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creatorAccountId", creatorAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assigneeAccountIds", assigneeAccountIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "currentStatusType", currentStatusType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AssignmentResponse>) ApiInvoker.deserialize(localVarResponse,  "array", AssignmentResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Assignment Status
  * Create an assignment status.
   * @param accountId the user account id
   * @param assignmentId the assignment id
   * @param scheduledNotificationId the scheduled notification id for reminders
   * @param toDo the type of to do. Possible values include: SITE_VISIT, PHONE, RECONTACT, RENEWAL, CREDIT
   * @param connection the connection type. Possible values include: INITIAL, FOLLOW_UP, DECLINED
   * @param method the communication method type. Possible values include: PHONE, SITE_VISIT, EMAIL
   * @param status the status type. Possible values include: ARCHIVED, SUBSCRIBED, UNSUBSCRIBED, CONTACTED, DECLINED, NOT_CONTACTED
   * @param closure the closure type. Possible values include: PHONE, SITE_VISIT, PHONE_SITE, WEB
   * @param message the message from the assignee
   * @param followUp the date to follow up by
   * @param active determines whether the assignment status is active or inactive
   * @return AssignmentStatusResponse
  */
  public AssignmentStatusResponse assignmentStatusCreate (Long accountId, Long assignmentId, Long scheduledNotificationId, String toDo, String connection, String method, String status, String closure, String message, Long followUp, Boolean active) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusCreate",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusCreate"));
    }
    // verify the required parameter 'assignmentId' is set
    if (assignmentId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentId' when calling assignmentStatusCreate",
        new ApiException(400, "Missing the required parameter 'assignmentId' when calling assignmentStatusCreate"));
    }

    // create path and map variables
    String path = "/assignment/status/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "scheduledNotificationId", scheduledNotificationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "toDo", toDo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connection", connection));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "method", method));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "status", status));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "closure", closure));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "message", message));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "followUp", followUp));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssignmentStatusResponse) ApiInvoker.deserialize(localVarResponse, "", AssignmentStatusResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Assignment Status
   * Create an assignment status.
   * @param accountId the user account id   * @param assignmentId the assignment id   * @param scheduledNotificationId the scheduled notification id for reminders   * @param toDo the type of to do. Possible values include: SITE_VISIT, PHONE, RECONTACT, RENEWAL, CREDIT   * @param connection the connection type. Possible values include: INITIAL, FOLLOW_UP, DECLINED   * @param method the communication method type. Possible values include: PHONE, SITE_VISIT, EMAIL   * @param status the status type. Possible values include: ARCHIVED, SUBSCRIBED, UNSUBSCRIBED, CONTACTED, DECLINED, NOT_CONTACTED   * @param closure the closure type. Possible values include: PHONE, SITE_VISIT, PHONE_SITE, WEB   * @param message the message from the assignee   * @param followUp the date to follow up by   * @param active determines whether the assignment status is active or inactive
  */
  public void assignmentStatusCreate (Long accountId, Long assignmentId, Long scheduledNotificationId, String toDo, String connection, String method, String status, String closure, String message, Long followUp, Boolean active, final Response.Listener<AssignmentStatusResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusCreate",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusCreate"));
    }
    // verify the required parameter 'assignmentId' is set
    if (assignmentId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentId' when calling assignmentStatusCreate",
        new ApiException(400, "Missing the required parameter 'assignmentId' when calling assignmentStatusCreate"));
    }

    // create path and map variables
    String path = "/assignment/status/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "scheduledNotificationId", scheduledNotificationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "toDo", toDo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connection", connection));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "method", method));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "status", status));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "closure", closure));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "message", message));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "followUp", followUp));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssignmentStatusResponse) ApiInvoker.deserialize(localVarResponse,  "", AssignmentStatusResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Deletes Assignment Status
  * Deletes an assignment status.
   * @param accountId the user account id
   * @param assignmentStatusId the assignment status id
   * @return SirqulResponse
  */
  public SirqulResponse assignmentStatusDelete (Long accountId, Long assignmentStatusId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusDelete",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusDelete"));
    }
    // verify the required parameter 'assignmentStatusId' is set
    if (assignmentStatusId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentStatusId' when calling assignmentStatusDelete",
        new ApiException(400, "Missing the required parameter 'assignmentStatusId' when calling assignmentStatusDelete"));
    }

    // create path and map variables
    String path = "/assignment/status/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentStatusId", assignmentStatusId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Deletes Assignment Status
   * Deletes an assignment status.
   * @param accountId the user account id   * @param assignmentStatusId the assignment status id
  */
  public void assignmentStatusDelete (Long accountId, Long assignmentStatusId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusDelete",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusDelete"));
    }
    // verify the required parameter 'assignmentStatusId' is set
    if (assignmentStatusId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentStatusId' when calling assignmentStatusDelete",
        new ApiException(400, "Missing the required parameter 'assignmentStatusId' when calling assignmentStatusDelete"));
    }

    // create path and map variables
    String path = "/assignment/status/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentStatusId", assignmentStatusId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Assignment Status
  * Get an assignment status.
   * @param accountId the user account id
   * @param assignmentStatusId the assignment status id
   * @return AssignmentStatusResponse
  */
  public AssignmentStatusResponse assignmentStatusGet (Long accountId, Long assignmentStatusId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusGet",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusGet"));
    }
    // verify the required parameter 'assignmentStatusId' is set
    if (assignmentStatusId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentStatusId' when calling assignmentStatusGet",
        new ApiException(400, "Missing the required parameter 'assignmentStatusId' when calling assignmentStatusGet"));
    }

    // create path and map variables
    String path = "/assignment/status/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentStatusId", assignmentStatusId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssignmentStatusResponse) ApiInvoker.deserialize(localVarResponse, "", AssignmentStatusResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Assignment Status
   * Get an assignment status.
   * @param accountId the user account id   * @param assignmentStatusId the assignment status id
  */
  public void assignmentStatusGet (Long accountId, Long assignmentStatusId, final Response.Listener<AssignmentStatusResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusGet",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusGet"));
    }
    // verify the required parameter 'assignmentStatusId' is set
    if (assignmentStatusId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentStatusId' when calling assignmentStatusGet",
        new ApiException(400, "Missing the required parameter 'assignmentStatusId' when calling assignmentStatusGet"));
    }

    // create path and map variables
    String path = "/assignment/status/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentStatusId", assignmentStatusId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssignmentStatusResponse) ApiInvoker.deserialize(localVarResponse,  "", AssignmentStatusResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Assignment Statuses
  * Search on assignment statuses.
   * @param accountId the user account id
   * @param sortField the field to sort by. Possible values include: ID, CREATED, UPDATED, DELETED, SEARCH_TAGS, ACTIVE, CURRENT_STATUS, TODO, CONNECTION, METHOD, STATUS, CLOSURE, MESSAGE, FOLLOW_UP
   * @param descending determines whether the sorted list is in descending or ascending order
   * @param activeOnly determines whether to only return active results
   * @param start the start index for pagination
   * @param limit the limit for pagination
   * @param assignmentId the assignment id
   * @param creatorAccountId filter results by the account who created the status
   * @param assigneeAccountId filter results by the assignee account
   * @param retailerLocationId filter results by by retailer location
   * @param statusType filter results by the status type
   * @param keyword filter results by keyword search
   * @return List<AssignmentStatusResponse>
  */
  public List<AssignmentStatusResponse> assignmentStatusSearch (Long accountId, String sortField, Boolean descending, Boolean activeOnly, Integer start, Integer limit, Long assignmentId, Long creatorAccountId, Long assigneeAccountId, Long retailerLocationId, String statusType, String keyword) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'sortField' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'descending' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'start' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'limit' when calling assignmentStatusSearch"));
    }

    // create path and map variables
    String path = "/assignment/status/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creatorAccountId", creatorAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assigneeAccountId", assigneeAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "statusType", statusType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AssignmentStatusResponse>) ApiInvoker.deserialize(localVarResponse, "array", AssignmentStatusResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Assignment Statuses
   * Search on assignment statuses.
   * @param accountId the user account id   * @param sortField the field to sort by. Possible values include: ID, CREATED, UPDATED, DELETED, SEARCH_TAGS, ACTIVE, CURRENT_STATUS, TODO, CONNECTION, METHOD, STATUS, CLOSURE, MESSAGE, FOLLOW_UP   * @param descending determines whether the sorted list is in descending or ascending order   * @param activeOnly determines whether to only return active results   * @param start the start index for pagination   * @param limit the limit for pagination   * @param assignmentId the assignment id   * @param creatorAccountId filter results by the account who created the status   * @param assigneeAccountId filter results by the assignee account   * @param retailerLocationId filter results by by retailer location   * @param statusType filter results by the status type   * @param keyword filter results by keyword search
  */
  public void assignmentStatusSearch (Long accountId, String sortField, Boolean descending, Boolean activeOnly, Integer start, Integer limit, Long assignmentId, Long creatorAccountId, Long assigneeAccountId, Long retailerLocationId, String statusType, String keyword, final Response.Listener<List<AssignmentStatusResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'sortField' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'descending' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'start' when calling assignmentStatusSearch"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling assignmentStatusSearch",
        new ApiException(400, "Missing the required parameter 'limit' when calling assignmentStatusSearch"));
    }

    // create path and map variables
    String path = "/assignment/status/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creatorAccountId", creatorAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assigneeAccountId", assigneeAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "statusType", statusType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AssignmentStatusResponse>) ApiInvoker.deserialize(localVarResponse,  "array", AssignmentStatusResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Assignment Status
  * Updates an assignment status.
   * @param accountId the user account id
   * @param assignmentStatusId the assignment status id
   * @param scheduledNotificationId the scheduled notification id for reminders
   * @param toDo the type of to do. Possible values include: SITE_VISIT, PHONE, RECONTACT, RENEWAL, CREDIT
   * @param connection the connection type. Possible values include: INITIAL, FOLLOW_UP, DECLINED
   * @param method the communication method type. Possible values include: PHONE, SITE_VISIT, EMAIL
   * @param status the status type. Possible values include: ARCHIVED, SUBSCRIBED, UNSUBSCRIBED, CONTACTED, DECLINED, NOT_CONTACTED
   * @param closure the closure type. Possible values include: PHONE, SITE_VISIT, PHONE_SITE, WEB
   * @param message the message from the assignee
   * @param followUp the date to follow up by
   * @param active determines whether the assignment status is active or inactive
   * @return AssignmentStatusResponse
  */
  public AssignmentStatusResponse assignmentStatusUpdate (Long accountId, Long assignmentStatusId, Long scheduledNotificationId, String toDo, String connection, String method, String status, String closure, String message, Long followUp, Boolean active) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusUpdate",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusUpdate"));
    }
    // verify the required parameter 'assignmentStatusId' is set
    if (assignmentStatusId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentStatusId' when calling assignmentStatusUpdate",
        new ApiException(400, "Missing the required parameter 'assignmentStatusId' when calling assignmentStatusUpdate"));
    }

    // create path and map variables
    String path = "/assignment/status/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentStatusId", assignmentStatusId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "scheduledNotificationId", scheduledNotificationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "toDo", toDo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connection", connection));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "method", method));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "status", status));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "closure", closure));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "message", message));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "followUp", followUp));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssignmentStatusResponse) ApiInvoker.deserialize(localVarResponse, "", AssignmentStatusResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Assignment Status
   * Updates an assignment status.
   * @param accountId the user account id   * @param assignmentStatusId the assignment status id   * @param scheduledNotificationId the scheduled notification id for reminders   * @param toDo the type of to do. Possible values include: SITE_VISIT, PHONE, RECONTACT, RENEWAL, CREDIT   * @param connection the connection type. Possible values include: INITIAL, FOLLOW_UP, DECLINED   * @param method the communication method type. Possible values include: PHONE, SITE_VISIT, EMAIL   * @param status the status type. Possible values include: ARCHIVED, SUBSCRIBED, UNSUBSCRIBED, CONTACTED, DECLINED, NOT_CONTACTED   * @param closure the closure type. Possible values include: PHONE, SITE_VISIT, PHONE_SITE, WEB   * @param message the message from the assignee   * @param followUp the date to follow up by   * @param active determines whether the assignment status is active or inactive
  */
  public void assignmentStatusUpdate (Long accountId, Long assignmentStatusId, Long scheduledNotificationId, String toDo, String connection, String method, String status, String closure, String message, Long followUp, Boolean active, final Response.Listener<AssignmentStatusResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentStatusUpdate",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentStatusUpdate"));
    }
    // verify the required parameter 'assignmentStatusId' is set
    if (assignmentStatusId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentStatusId' when calling assignmentStatusUpdate",
        new ApiException(400, "Missing the required parameter 'assignmentStatusId' when calling assignmentStatusUpdate"));
    }

    // create path and map variables
    String path = "/assignment/status/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentStatusId", assignmentStatusId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "scheduledNotificationId", scheduledNotificationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "toDo", toDo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connection", connection));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "method", method));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "status", status));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "closure", closure));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "message", message));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "followUp", followUp));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssignmentStatusResponse) ApiInvoker.deserialize(localVarResponse,  "", AssignmentStatusResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Assignment
  * Updates an assignment.
   * @param accountId the user account id
   * @param assignmentId the assignment id
   * @param name the name of the assignment
   * @param description the description of the assignment
   * @param assigneeAccountId the account id to assign to
   * @param retailerLocationId the retailer location id
   * @param tags the tags
   * @param active determines whether the assignment is active or inactive
   * @return AssignmentResponse
  */
  public AssignmentResponse assignmentUpdate (Long accountId, Long assignmentId, String name, String description, Long assigneeAccountId, Long retailerLocationId, String tags, Boolean active) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentUpdate",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentUpdate"));
    }
    // verify the required parameter 'assignmentId' is set
    if (assignmentId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentId' when calling assignmentUpdate",
        new ApiException(400, "Missing the required parameter 'assignmentId' when calling assignmentUpdate"));
    }

    // create path and map variables
    String path = "/assignment/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assigneeAccountId", assigneeAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AssignmentResponse) ApiInvoker.deserialize(localVarResponse, "", AssignmentResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Assignment
   * Updates an assignment.
   * @param accountId the user account id   * @param assignmentId the assignment id   * @param name the name of the assignment   * @param description the description of the assignment   * @param assigneeAccountId the account id to assign to   * @param retailerLocationId the retailer location id   * @param tags the tags   * @param active determines whether the assignment is active or inactive
  */
  public void assignmentUpdate (Long accountId, Long assignmentId, String name, String description, Long assigneeAccountId, Long retailerLocationId, String tags, Boolean active, final Response.Listener<AssignmentResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling assignmentUpdate",
        new ApiException(400, "Missing the required parameter 'accountId' when calling assignmentUpdate"));
    }
    // verify the required parameter 'assignmentId' is set
    if (assignmentId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'assignmentId' when calling assignmentUpdate",
        new ApiException(400, "Missing the required parameter 'assignmentId' when calling assignmentUpdate"));
    }

    // create path and map variables
    String path = "/assignment/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assignmentId", assignmentId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assigneeAccountId", assigneeAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AssignmentResponse) ApiInvoker.deserialize(localVarResponse,  "", AssignmentResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
