/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.PaymentTypesResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class BillingInfoApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Update Payment Method
  * Update a method of payment. If the paymentMethodId is not passed in then will update their default payment method.
   * @param accountId The account used to perform the the request
   * @param paymentMethodId Payment Method Id
   * @param accountName the name of the account
   * @param firstName First Name that the account is filed as
   * @param lastName Last Name that the account is filed as
   * @param address Address that the account is filed as
   * @param city City that the account is filed as
   * @param state State that the account is filed as
   * @param postalCode Postal Code that the account is filed as
   * @param country Country that the account is filed as
   * @param phone Phone that the account is filed as
   * @param creditCardNumber The full credit card number to store on file
   * @param expirationDate The credit card expiration date YYYY-MM
   * @param ccv The 3 digit confirmation code
   * @param accountNumber The bank account number
   * @param bankName The bank name
   * @param routingNumber Routing Number
   * @param defaultPaymentMethod Default Payment Method
   * @param paymentMethodNickname Payment Method Nickname
   * @param taxId Tax Id
   * @param providerCustomerProfileId Provider customer profile Id
   * @param providerPaymentProfileId Provider customer payment profile Id
   * @param metaData Meta Data
   * @return PaymentTypesResponse
  */
  public PaymentTypesResponse addPaymentMethod (Long accountId, Long paymentMethodId, String accountName, String firstName, String lastName, String address, String city, String state, String postalCode, String country, String phone, String creditCardNumber, String expirationDate, String ccv, String accountNumber, String bankName, String routingNumber, Boolean defaultPaymentMethod, String paymentMethodNickname, String taxId, String providerCustomerProfileId, String providerPaymentProfileId, String metaData) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling addPaymentMethod",
        new ApiException(400, "Missing the required parameter 'accountId' when calling addPaymentMethod"));
    }

    // create path and map variables
    String path = "/billing/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodId", paymentMethodId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountName", accountName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "firstName", firstName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lastName", lastName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "address", address));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "phone", phone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creditCardNumber", creditCardNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "expirationDate", expirationDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ccv", ccv));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountNumber", accountNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bankName", bankName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "routingNumber", routingNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "defaultPaymentMethod", defaultPaymentMethod));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodNickname", paymentMethodNickname));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "taxId", taxId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "providerCustomerProfileId", providerCustomerProfileId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "providerPaymentProfileId", providerPaymentProfileId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse, "", PaymentTypesResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Payment Method
   * Update a method of payment. If the paymentMethodId is not passed in then will update their default payment method.
   * @param accountId The account used to perform the the request   * @param paymentMethodId Payment Method Id   * @param accountName the name of the account   * @param firstName First Name that the account is filed as   * @param lastName Last Name that the account is filed as   * @param address Address that the account is filed as   * @param city City that the account is filed as   * @param state State that the account is filed as   * @param postalCode Postal Code that the account is filed as   * @param country Country that the account is filed as   * @param phone Phone that the account is filed as   * @param creditCardNumber The full credit card number to store on file   * @param expirationDate The credit card expiration date YYYY-MM   * @param ccv The 3 digit confirmation code   * @param accountNumber The bank account number   * @param bankName The bank name   * @param routingNumber Routing Number   * @param defaultPaymentMethod Default Payment Method   * @param paymentMethodNickname Payment Method Nickname   * @param taxId Tax Id   * @param providerCustomerProfileId Provider customer profile Id   * @param providerPaymentProfileId Provider customer payment profile Id   * @param metaData Meta Data
  */
  public void addPaymentMethod (Long accountId, Long paymentMethodId, String accountName, String firstName, String lastName, String address, String city, String state, String postalCode, String country, String phone, String creditCardNumber, String expirationDate, String ccv, String accountNumber, String bankName, String routingNumber, Boolean defaultPaymentMethod, String paymentMethodNickname, String taxId, String providerCustomerProfileId, String providerPaymentProfileId, String metaData, final Response.Listener<PaymentTypesResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling addPaymentMethod",
        new ApiException(400, "Missing the required parameter 'accountId' when calling addPaymentMethod"));
    }

    // create path and map variables
    String path = "/billing/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodId", paymentMethodId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountName", accountName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "firstName", firstName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lastName", lastName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "address", address));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "phone", phone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creditCardNumber", creditCardNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "expirationDate", expirationDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ccv", ccv));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountNumber", accountNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bankName", bankName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "routingNumber", routingNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "defaultPaymentMethod", defaultPaymentMethod));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodNickname", paymentMethodNickname));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "taxId", taxId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "providerCustomerProfileId", providerCustomerProfileId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "providerPaymentProfileId", providerPaymentProfileId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse,  "", PaymentTypesResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Payment Method
  * Add a new method of payment.
   * @param accountId The account used to perform the the request
   * @param accountName Account Name of the credit card user
   * @param firstName The first name on the credit card
   * @param lastName The last name on the credit card
   * @param address The billing address of the credit card
   * @param city The billing city of the credit card
   * @param state The billing state of the credit card
   * @param postalCode The billing zip code of the credit card
   * @param country Country of the credit card
   * @param phone The billing phone of the credit card
   * @param creditCardNumber The full credit card number to store on file
   * @param expirationDate The credit card expiration date YYYY-MM
   * @param ccv The 3 digit confirmation code
   * @param accountNumber The bank account number
   * @param bankName The bank name
   * @param routingNumber The bank routing number
   * @param paymentMethodNickname The nickname to give the payment method
   * @param taxId Tax Id
   * @param defaultPaymentMethod Whether this should be the default payment method
   * @param authToken An authorization token for providers that provide this (like Amazon Payments)
   * @param provider The payment provider (see PaymentMethodProvider)
   * @param providerCustomerProfileId Provider customer profile Id
   * @param providerPaymentProfileId Provider customer payment profile Id
   * @param metaData Meta Data
   * @param appKey Application Key
   * @return PaymentTypesResponse
  */
  public PaymentTypesResponse createPaymentMethod (Long accountId, String accountName, String firstName, String lastName, String address, String city, String state, String postalCode, String country, String phone, String creditCardNumber, String expirationDate, String ccv, String accountNumber, String bankName, String routingNumber, String paymentMethodNickname, String taxId, Boolean defaultPaymentMethod, String authToken, String provider, String providerCustomerProfileId, String providerPaymentProfileId, String metaData, String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createPaymentMethod",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createPaymentMethod"));
    }

    // create path and map variables
    String path = "/billing/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountName", accountName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "firstName", firstName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lastName", lastName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "address", address));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "phone", phone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creditCardNumber", creditCardNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "expirationDate", expirationDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ccv", ccv));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountNumber", accountNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bankName", bankName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "routingNumber", routingNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodNickname", paymentMethodNickname));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "taxId", taxId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "defaultPaymentMethod", defaultPaymentMethod));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "authToken", authToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "provider", provider));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "providerCustomerProfileId", providerCustomerProfileId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "providerPaymentProfileId", providerPaymentProfileId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse, "", PaymentTypesResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Payment Method
   * Add a new method of payment.
   * @param accountId The account used to perform the the request   * @param accountName Account Name of the credit card user   * @param firstName The first name on the credit card   * @param lastName The last name on the credit card   * @param address The billing address of the credit card   * @param city The billing city of the credit card   * @param state The billing state of the credit card   * @param postalCode The billing zip code of the credit card   * @param country Country of the credit card   * @param phone The billing phone of the credit card   * @param creditCardNumber The full credit card number to store on file   * @param expirationDate The credit card expiration date YYYY-MM   * @param ccv The 3 digit confirmation code   * @param accountNumber The bank account number   * @param bankName The bank name   * @param routingNumber The bank routing number   * @param paymentMethodNickname The nickname to give the payment method   * @param taxId Tax Id   * @param defaultPaymentMethod Whether this should be the default payment method   * @param authToken An authorization token for providers that provide this (like Amazon Payments)   * @param provider The payment provider (see PaymentMethodProvider)   * @param providerCustomerProfileId Provider customer profile Id   * @param providerPaymentProfileId Provider customer payment profile Id   * @param metaData Meta Data   * @param appKey Application Key
  */
  public void createPaymentMethod (Long accountId, String accountName, String firstName, String lastName, String address, String city, String state, String postalCode, String country, String phone, String creditCardNumber, String expirationDate, String ccv, String accountNumber, String bankName, String routingNumber, String paymentMethodNickname, String taxId, Boolean defaultPaymentMethod, String authToken, String provider, String providerCustomerProfileId, String providerPaymentProfileId, String metaData, String appKey, final Response.Listener<PaymentTypesResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createPaymentMethod",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createPaymentMethod"));
    }

    // create path and map variables
    String path = "/billing/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountName", accountName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "firstName", firstName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lastName", lastName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "address", address));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "phone", phone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creditCardNumber", creditCardNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "expirationDate", expirationDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ccv", ccv));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountNumber", accountNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bankName", bankName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "routingNumber", routingNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodNickname", paymentMethodNickname));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "taxId", taxId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "defaultPaymentMethod", defaultPaymentMethod));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "authToken", authToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "provider", provider));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "providerCustomerProfileId", providerCustomerProfileId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "providerPaymentProfileId", providerPaymentProfileId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse,  "", PaymentTypesResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Smart Contract
  * Adds a smart contract.
   * @param accountId The account used to perform the the request
   * @param tokenName The token name
   * @param tokenSymbol The token symbol
   * @param paymentMethodId The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
   * @return PaymentTypesResponse
  */
  public PaymentTypesResponse createSmartContract (Long accountId, String tokenName, String tokenSymbol, Long paymentMethodId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createSmartContract",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createSmartContract"));
    }
    // verify the required parameter 'tokenName' is set
    if (tokenName == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'tokenName' when calling createSmartContract",
        new ApiException(400, "Missing the required parameter 'tokenName' when calling createSmartContract"));
    }
    // verify the required parameter 'tokenSymbol' is set
    if (tokenSymbol == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'tokenSymbol' when calling createSmartContract",
        new ApiException(400, "Missing the required parameter 'tokenSymbol' when calling createSmartContract"));
    }

    // create path and map variables
    String path = "/billing/crypto/transfer";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodId", paymentMethodId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tokenName", tokenName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tokenSymbol", tokenSymbol));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse, "", PaymentTypesResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Smart Contract
   * Adds a smart contract.
   * @param accountId The account used to perform the the request   * @param tokenName The token name   * @param tokenSymbol The token symbol   * @param paymentMethodId The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
  */
  public void createSmartContract (Long accountId, String tokenName, String tokenSymbol, Long paymentMethodId, final Response.Listener<PaymentTypesResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createSmartContract",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createSmartContract"));
    }
    // verify the required parameter 'tokenName' is set
    if (tokenName == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'tokenName' when calling createSmartContract",
        new ApiException(400, "Missing the required parameter 'tokenName' when calling createSmartContract"));
    }
    // verify the required parameter 'tokenSymbol' is set
    if (tokenSymbol == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'tokenSymbol' when calling createSmartContract",
        new ApiException(400, "Missing the required parameter 'tokenSymbol' when calling createSmartContract"));
    }

    // create path and map variables
    String path = "/billing/crypto/transfer".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodId", paymentMethodId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tokenName", tokenName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tokenSymbol", tokenSymbol));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse,  "", PaymentTypesResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Crypto Balances
  * Get the cypto balance details for a user
   * @param accountId The account used to perform the the request
   * @param ownerAccountId The account to retreive balances for
   * @param paymentMethodId The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
   * @return PaymentTypesResponse
  */
  public PaymentTypesResponse getCryptoBalance (Long accountId, Long ownerAccountId, Long paymentMethodId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getCryptoBalance",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getCryptoBalance"));
    }

    // create path and map variables
    String path = "/billing/crypto/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ownerAccountId", ownerAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodId", paymentMethodId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse, "", PaymentTypesResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Crypto Balances
   * Get the cypto balance details for a user
   * @param accountId The account used to perform the the request   * @param ownerAccountId The account to retreive balances for   * @param paymentMethodId The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
  */
  public void getCryptoBalance (Long accountId, Long ownerAccountId, Long paymentMethodId, final Response.Listener<PaymentTypesResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getCryptoBalance",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getCryptoBalance"));
    }

    // create path and map variables
    String path = "/billing/crypto/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ownerAccountId", ownerAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodId", paymentMethodId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse,  "", PaymentTypesResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Payment Method
  * Get the details of the user&#39;s payment method or their current default method of payment
   * @param accountId The account used to perform the the request
   * @param paymentMethodId The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
   * @param getCurrentBalance Determines whether to get the user&#39;s current balance for the requested payment method option (not all payment method options support this)
   * @return PaymentTypesResponse
  */
  public PaymentTypesResponse getPaymentMethod (Long accountId, Long paymentMethodId, Boolean getCurrentBalance) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getPaymentMethod",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getPaymentMethod"));
    }

    // create path and map variables
    String path = "/billing/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodId", paymentMethodId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "getCurrentBalance", getCurrentBalance));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse, "", PaymentTypesResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Payment Method
   * Get the details of the user&#39;s payment method or their current default method of payment
   * @param accountId The account used to perform the the request   * @param paymentMethodId The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.   * @param getCurrentBalance Determines whether to get the user&#39;s current balance for the requested payment method option (not all payment method options support this)
  */
  public void getPaymentMethod (Long accountId, Long paymentMethodId, Boolean getCurrentBalance, final Response.Listener<PaymentTypesResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getPaymentMethod",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getPaymentMethod"));
    }

    // create path and map variables
    String path = "/billing/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "paymentMethodId", paymentMethodId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "getCurrentBalance", getCurrentBalance));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse,  "", PaymentTypesResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Payment Methods
  * Search the payment methods of an account
   * @param accountId Account Id to search on
   * @param provider Provider to search on
   * @param type the type to search on
   * @param keyword the keyword to search on
   * @param sortField the sort field to use for the search
   * @param descending if the results should be in descending order
   * @param start the start of the search
   * @param limit the limit of the search
   * @return PaymentTypesResponse
  */
  public PaymentTypesResponse searchPaymentMethod (Long accountId, String provider, String type, String keyword, String sortField, Boolean descending, Integer start, Integer limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchPaymentMethod",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchPaymentMethod"));
    }

    // create path and map variables
    String path = "/billing/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "provider", provider));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse, "", PaymentTypesResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Payment Methods
   * Search the payment methods of an account
   * @param accountId Account Id to search on   * @param provider Provider to search on   * @param type the type to search on   * @param keyword the keyword to search on   * @param sortField the sort field to use for the search   * @param descending if the results should be in descending order   * @param start the start of the search   * @param limit the limit of the search
  */
  public void searchPaymentMethod (Long accountId, String provider, String type, String keyword, String sortField, Boolean descending, Integer start, Integer limit, final Response.Listener<PaymentTypesResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchPaymentMethod",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchPaymentMethod"));
    }

    // create path and map variables
    String path = "/billing/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "provider", provider));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((PaymentTypesResponse) ApiInvoker.deserialize(localVarResponse,  "", PaymentTypesResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
