/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.CategoryResponse;
import org.openapitools.client.model.CategoryTreeResponse;
import java.util.*;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class CategoryApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Search Categories by Distance
  * Search for categories by distance.
   * @param accountId The account id of the user
   * @param keyword The keyword string to search on
   * @param appKey the appKey of the application to retrieve categories for, if not specified then search on the global application.
   * @param categoryIds Restrict the search by specific categories
   * @param parentCategoryIds Restrict the search by specific parent categories so that only its sub children are searched.
   * @param rootOnly Restrict the search to only those categories with no parent category assigned.
   * @param sortField The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY
   * @param responseGroup The group of categories to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.
   * @param descending The order to return the search results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @param activeOnly Determines whether to return only active categories
   * @param returnExternal Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference
   * @param exactMatch If true search categories using the exact keyword, if false then do a partial match (like) search.
   * @param type Filters results by the Category&#39;s type
   * @param externalType Filters results by externalType
   * @param minOfferCount Filters results to only return Categories that have been referenced by a minimum number of Offers
   * @param latitude the latitude of where the search is centered on
   * @param longitude the longitude of where the search is centered on
   * @param range the maximum range the category can be from the center
   * @return List<CategoryResponse>
  */
  public List<CategoryResponse> categoryDistanceSearch (Long accountId, String keyword, String appKey, String categoryIds, String parentCategoryIds, Boolean rootOnly, String sortField, String responseGroup, Boolean descending, Integer start, Integer limit, Boolean activeOnly, Boolean returnExternal, Boolean exactMatch, String type, String externalType, Integer minOfferCount, Double latitude, Double longitude, Double range) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/category/distancesearch";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryIds", parentCategoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rootOnly", rootOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseGroup", responseGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternal", returnExternal));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "exactMatch", exactMatch));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalType", externalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minOfferCount", minOfferCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "range", range));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<CategoryResponse>) ApiInvoker.deserialize(localVarResponse, "array", CategoryResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Categories by Distance
   * Search for categories by distance.
   * @param accountId The account id of the user   * @param keyword The keyword string to search on   * @param appKey the appKey of the application to retrieve categories for, if not specified then search on the global application.   * @param categoryIds Restrict the search by specific categories   * @param parentCategoryIds Restrict the search by specific parent categories so that only its sub children are searched.   * @param rootOnly Restrict the search to only those categories with no parent category assigned.   * @param sortField The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY   * @param responseGroup The group of categories to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.   * @param descending The order to return the search results   * @param start The record to begin the return set on   * @param limit The number of records to return   * @param activeOnly Determines whether to return only active categories   * @param returnExternal Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference   * @param exactMatch If true search categories using the exact keyword, if false then do a partial match (like) search.   * @param type Filters results by the Category&#39;s type   * @param externalType Filters results by externalType   * @param minOfferCount Filters results to only return Categories that have been referenced by a minimum number of Offers   * @param latitude the latitude of where the search is centered on   * @param longitude the longitude of where the search is centered on   * @param range the maximum range the category can be from the center
  */
  public void categoryDistanceSearch (Long accountId, String keyword, String appKey, String categoryIds, String parentCategoryIds, Boolean rootOnly, String sortField, String responseGroup, Boolean descending, Integer start, Integer limit, Boolean activeOnly, Boolean returnExternal, Boolean exactMatch, String type, String externalType, Integer minOfferCount, Double latitude, Double longitude, Double range, final Response.Listener<List<CategoryResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/category/distancesearch".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryIds", parentCategoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rootOnly", rootOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseGroup", responseGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternal", returnExternal));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "exactMatch", exactMatch));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalType", externalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minOfferCount", minOfferCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "range", range));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<CategoryResponse>) ApiInvoker.deserialize(localVarResponse,  "array", CategoryResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Category
  * Create a new category.
   * @param accountId The account id of the user (must have permissions to the target application)
   * @param name The name of the category
   * @param appKey The appKey of the application to assign the category to, if not provided then the category will be applied to the global application (if the account has permissions)
   * @param parentCategoryId The ID of the parent category, if not provided then the parent category will be null
   * @param description The description of the category
   * @param type The type of the category
   * @param assetId The ID of the image asset previously uploaded using the media service
   * @param externalId A string identifier used by client applications to store external information
   * @param externalType A string type used by client applications to store external information
   * @param externalCategorySlug external category slug
   * @param sqootSlug sqoot slug
   * @param active Sets whether the category is active or inactive (hidden from consumers)
   * @param metaData external custom client defined data
   * @param searchTags user defined strings for searching
   * @return CategoryTreeResponse
  */
  public CategoryTreeResponse createCategory (Long accountId, String name, String appKey, Long parentCategoryId, String description, String type, Long assetId, String externalId, String externalType, String externalCategorySlug, String sqootSlug, Boolean active, String metaData, String searchTags) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createCategory",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createCategory"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createCategory",
        new ApiException(400, "Missing the required parameter 'name' when calling createCategory"));
    }

    // create path and map variables
    String path = "/category/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryId", parentCategoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalType", externalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalCategorySlug", externalCategorySlug));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sqootSlug", sqootSlug));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CategoryTreeResponse) ApiInvoker.deserialize(localVarResponse, "", CategoryTreeResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Category
   * Create a new category.
   * @param accountId The account id of the user (must have permissions to the target application)   * @param name The name of the category   * @param appKey The appKey of the application to assign the category to, if not provided then the category will be applied to the global application (if the account has permissions)   * @param parentCategoryId The ID of the parent category, if not provided then the parent category will be null   * @param description The description of the category   * @param type The type of the category   * @param assetId The ID of the image asset previously uploaded using the media service   * @param externalId A string identifier used by client applications to store external information   * @param externalType A string type used by client applications to store external information   * @param externalCategorySlug external category slug   * @param sqootSlug sqoot slug   * @param active Sets whether the category is active or inactive (hidden from consumers)   * @param metaData external custom client defined data   * @param searchTags user defined strings for searching
  */
  public void createCategory (Long accountId, String name, String appKey, Long parentCategoryId, String description, String type, Long assetId, String externalId, String externalType, String externalCategorySlug, String sqootSlug, Boolean active, String metaData, String searchTags, final Response.Listener<CategoryTreeResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createCategory",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createCategory"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createCategory",
        new ApiException(400, "Missing the required parameter 'name' when calling createCategory"));
    }

    // create path and map variables
    String path = "/category/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryId", parentCategoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalType", externalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalCategorySlug", externalCategorySlug));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sqootSlug", sqootSlug));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CategoryTreeResponse) ApiInvoker.deserialize(localVarResponse,  "", CategoryTreeResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Category
  * Delete a category.
   * @param accountId the ID of the account
   * @param categoryId the ID of the category
   * @return SirqulResponse
  */
  public SirqulResponse deleteCategory (Long accountId, Long categoryId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteCategory",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteCategory"));
    }
    // verify the required parameter 'categoryId' is set
    if (categoryId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'categoryId' when calling deleteCategory",
        new ApiException(400, "Missing the required parameter 'categoryId' when calling deleteCategory"));
    }

    // create path and map variables
    String path = "/category/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Category
   * Delete a category.
   * @param accountId the ID of the account   * @param categoryId the ID of the category
  */
  public void deleteCategory (Long accountId, Long categoryId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteCategory",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteCategory"));
    }
    // verify the required parameter 'categoryId' is set
    if (categoryId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'categoryId' when calling deleteCategory",
        new ApiException(400, "Missing the required parameter 'categoryId' when calling deleteCategory"));
    }

    // create path and map variables
    String path = "/category/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Duplicate Category
  * Duplicate a category, including all its children.
   * @param accountId The account id of the user (must have permissions to the target application)
   * @param categoryId The category ID to duplicate (includes all children)
   * @param appKey The application to assign the new category to, may be different then the application the source category is assigned to
   * @param parentCategoryId The parent category ID to add the target category to.
   * @return CategoryTreeResponse
  */
  public CategoryTreeResponse duplicateCategory (Long accountId, Long categoryId, String appKey, Long parentCategoryId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling duplicateCategory",
        new ApiException(400, "Missing the required parameter 'accountId' when calling duplicateCategory"));
    }
    // verify the required parameter 'categoryId' is set
    if (categoryId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'categoryId' when calling duplicateCategory",
        new ApiException(400, "Missing the required parameter 'categoryId' when calling duplicateCategory"));
    }

    // create path and map variables
    String path = "/category/duplicate";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryId", parentCategoryId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CategoryTreeResponse) ApiInvoker.deserialize(localVarResponse, "", CategoryTreeResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Duplicate Category
   * Duplicate a category, including all its children.
   * @param accountId The account id of the user (must have permissions to the target application)   * @param categoryId The category ID to duplicate (includes all children)   * @param appKey The application to assign the new category to, may be different then the application the source category is assigned to   * @param parentCategoryId The parent category ID to add the target category to.
  */
  public void duplicateCategory (Long accountId, Long categoryId, String appKey, Long parentCategoryId, final Response.Listener<CategoryTreeResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling duplicateCategory",
        new ApiException(400, "Missing the required parameter 'accountId' when calling duplicateCategory"));
    }
    // verify the required parameter 'categoryId' is set
    if (categoryId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'categoryId' when calling duplicateCategory",
        new ApiException(400, "Missing the required parameter 'categoryId' when calling duplicateCategory"));
    }

    // create path and map variables
    String path = "/category/duplicate".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryId", parentCategoryId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CategoryTreeResponse) ApiInvoker.deserialize(localVarResponse,  "", CategoryTreeResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Category
  * Get the details of a specific category. Recursively include all child categories and their children.
   * @param categoryId the ID of the category
   * @param returnExternal Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference
   * @return CategoryTreeResponse
  */
  public CategoryTreeResponse getCategory (Long categoryId, Boolean returnExternal) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'categoryId' is set
    if (categoryId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'categoryId' when calling getCategory",
        new ApiException(400, "Missing the required parameter 'categoryId' when calling getCategory"));
    }

    // create path and map variables
    String path = "/category/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternal", returnExternal));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CategoryTreeResponse) ApiInvoker.deserialize(localVarResponse, "", CategoryTreeResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Category
   * Get the details of a specific category. Recursively include all child categories and their children.
   * @param categoryId the ID of the category   * @param returnExternal Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference
  */
  public void getCategory (Long categoryId, Boolean returnExternal, final Response.Listener<CategoryTreeResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'categoryId' is set
    if (categoryId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'categoryId' when calling getCategory",
        new ApiException(400, "Missing the required parameter 'categoryId' when calling getCategory"));
    }

    // create path and map variables
    String path = "/category/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternal", returnExternal));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CategoryTreeResponse) ApiInvoker.deserialize(localVarResponse,  "", CategoryTreeResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Categories
  * Search for categories.
   * @param accountId The account id of the user
   * @param keyword The string to search on
   * @param appKey the appKey of the application to retrieve categories for, if not specified then search on the global application.
   * @param categoryId @Deprecated, use parentCategoryIds instead
   * @param categoryIds Restrict the search by specific categories
   * @param parentCategoryIds Restrict the search by specific parent categories so that only its sub children are searched.
   * @param rootOnly Restrict the search to only those categories with no parent category assigned.
   * @param sortField The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY
   * @param responseGroup The group of categories to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.
   * @param descending The order to return the search results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @param activeOnly Determines whether to return only active categories
   * @param returnExternal Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference
   * @param exactMatch If true search categories using the exact keyword, if false then do a partial match (like) search. Default is false.
   * @param type Filters results by the Category&#39;s type
   * @param externalType Filters results by externalType
   * @param excludeExternalType Determines whether the \&quot;externalType\&quot; param is excluded from the search results
   * @param minOfferCount Filters results to only return Categories that have been referenced by a minimum number of Offers
   * @param searchDepth When searching by a specific parent category (to return sub children), this determines the number of child layers to search in. The minimum is 1, the maximum is 4.
   * @param searchMode The search index mode to use (e.g. OPENSEARCH or RDS)
   * @return List<CategoryResponse>
  */
  public List<CategoryResponse> searchCategories (Long accountId, String keyword, String appKey, String categoryId, String categoryIds, String parentCategoryIds, Boolean rootOnly, String sortField, String responseGroup, Boolean descending, Integer start, Integer limit, Boolean activeOnly, Boolean returnExternal, Boolean exactMatch, String type, String externalType, Boolean excludeExternalType, Integer minOfferCount, Integer searchDepth, String searchMode) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/category/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryIds", parentCategoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rootOnly", rootOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseGroup", responseGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternal", returnExternal));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "exactMatch", exactMatch));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalType", externalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "excludeExternalType", excludeExternalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minOfferCount", minOfferCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchDepth", searchDepth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchMode", searchMode));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<CategoryResponse>) ApiInvoker.deserialize(localVarResponse, "array", CategoryResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Categories
   * Search for categories.
   * @param accountId The account id of the user   * @param keyword The string to search on   * @param appKey the appKey of the application to retrieve categories for, if not specified then search on the global application.   * @param categoryId @Deprecated, use parentCategoryIds instead   * @param categoryIds Restrict the search by specific categories   * @param parentCategoryIds Restrict the search by specific parent categories so that only its sub children are searched.   * @param rootOnly Restrict the search to only those categories with no parent category assigned.   * @param sortField The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY   * @param responseGroup The group of categories to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.   * @param descending The order to return the search results   * @param start The record to begin the return set on   * @param limit The number of records to return   * @param activeOnly Determines whether to return only active categories   * @param returnExternal Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference   * @param exactMatch If true search categories using the exact keyword, if false then do a partial match (like) search. Default is false.   * @param type Filters results by the Category&#39;s type   * @param externalType Filters results by externalType   * @param excludeExternalType Determines whether the \&quot;externalType\&quot; param is excluded from the search results   * @param minOfferCount Filters results to only return Categories that have been referenced by a minimum number of Offers   * @param searchDepth When searching by a specific parent category (to return sub children), this determines the number of child layers to search in. The minimum is 1, the maximum is 4.   * @param searchMode The search index mode to use (e.g. OPENSEARCH or RDS)
  */
  public void searchCategories (Long accountId, String keyword, String appKey, String categoryId, String categoryIds, String parentCategoryIds, Boolean rootOnly, String sortField, String responseGroup, Boolean descending, Integer start, Integer limit, Boolean activeOnly, Boolean returnExternal, Boolean exactMatch, String type, String externalType, Boolean excludeExternalType, Integer minOfferCount, Integer searchDepth, String searchMode, final Response.Listener<List<CategoryResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/category/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryIds", parentCategoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rootOnly", rootOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseGroup", responseGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternal", returnExternal));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "exactMatch", exactMatch));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalType", externalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "excludeExternalType", excludeExternalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minOfferCount", minOfferCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchDepth", searchDepth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchMode", searchMode));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<CategoryResponse>) ApiInvoker.deserialize(localVarResponse,  "array", CategoryResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Category
  * Update a category.
   * @param accountId The account id of the user
   * @param categoryId The ID of the category to edit
   * @param parentCategoryId The ID of the parent category, if not provided then the parent category will be null
   * @param name The name of the category
   * @param description The description of the category
   * @param type The type of the category
   * @param assetId The ID of the image asset previously uploaded using the media service
   * @param externalId A string identifier used by client applications to store external information
   * @param externalType A string type used by client applications to store external information
   * @param externalCategorySlug external category slug
   * @param sqootSlug sqoot slug
   * @param active Sets whether the category is active or inactive (hidden from consumers)
   * @param metaData external custom client defined data
   * @param searchTags user defined strings for searching
   * @return CategoryTreeResponse
  */
  public CategoryTreeResponse updateCategory (Long accountId, Long categoryId, Long parentCategoryId, String name, String description, String type, Long assetId, String externalId, String externalType, String externalCategorySlug, String sqootSlug, Boolean active, String metaData, String searchTags) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateCategory",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateCategory"));
    }
    // verify the required parameter 'categoryId' is set
    if (categoryId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'categoryId' when calling updateCategory",
        new ApiException(400, "Missing the required parameter 'categoryId' when calling updateCategory"));
    }

    // create path and map variables
    String path = "/category/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryId", parentCategoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalType", externalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalCategorySlug", externalCategorySlug));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sqootSlug", sqootSlug));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CategoryTreeResponse) ApiInvoker.deserialize(localVarResponse, "", CategoryTreeResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Category
   * Update a category.
   * @param accountId The account id of the user   * @param categoryId The ID of the category to edit   * @param parentCategoryId The ID of the parent category, if not provided then the parent category will be null   * @param name The name of the category   * @param description The description of the category   * @param type The type of the category   * @param assetId The ID of the image asset previously uploaded using the media service   * @param externalId A string identifier used by client applications to store external information   * @param externalType A string type used by client applications to store external information   * @param externalCategorySlug external category slug   * @param sqootSlug sqoot slug   * @param active Sets whether the category is active or inactive (hidden from consumers)   * @param metaData external custom client defined data   * @param searchTags user defined strings for searching
  */
  public void updateCategory (Long accountId, Long categoryId, Long parentCategoryId, String name, String description, String type, Long assetId, String externalId, String externalType, String externalCategorySlug, String sqootSlug, Boolean active, String metaData, String searchTags, final Response.Listener<CategoryTreeResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateCategory",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateCategory"));
    }
    // verify the required parameter 'categoryId' is set
    if (categoryId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'categoryId' when calling updateCategory",
        new ApiException(400, "Missing the required parameter 'categoryId' when calling updateCategory"));
    }

    // create path and map variables
    String path = "/category/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryId", categoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentCategoryId", parentCategoryId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalType", externalType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalCategorySlug", externalCategorySlug));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sqootSlug", sqootSlug));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CategoryTreeResponse) ApiInvoker.deserialize(localVarResponse,  "", CategoryTreeResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
