/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.ConnectionGroupResponse;
import org.openapitools.client.model.ConnectionInfoResponse;
import org.openapitools.client.model.ConnectionListResponse;
import org.openapitools.client.model.ConnectionResponse;
import java.util.*;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class ConnectionApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Add Connection
  * Adds a connection to a group.
   * @param returnNulls whether to return nulls or not
   * @param groupId the group id
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param connectionId the connection id
   * @param connectionAccountId the connection account id
   * @param pendingId the pending id
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @return SirqulResponse
  */
  public SirqulResponse addConnectionToGroup (Boolean returnNulls, Long groupId, String deviceId, Long accountId, Long connectionId, Long connectionAccountId, Long pendingId, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'returnNulls' is set
    if (returnNulls == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'returnNulls' when calling addConnectionToGroup",
        new ApiException(400, "Missing the required parameter 'returnNulls' when calling addConnectionToGroup"));
    }
    // verify the required parameter 'groupId' is set
    if (groupId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'groupId' when calling addConnectionToGroup",
        new ApiException(400, "Missing the required parameter 'groupId' when calling addConnectionToGroup"));
    }

    // create path and map variables
    String path = "/consumer/connection/group/addConnection";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionId", connectionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "pendingId", pendingId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "groupId", groupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Add Connection
   * Adds a connection to a group.
   * @param returnNulls whether to return nulls or not   * @param groupId the group id   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param connectionId the connection id   * @param connectionAccountId the connection account id   * @param pendingId the pending id   * @param latitude the current latitude of the user   * @param longitude the current longitude of the user
  */
  public void addConnectionToGroup (Boolean returnNulls, Long groupId, String deviceId, Long accountId, Long connectionId, Long connectionAccountId, Long pendingId, Double latitude, Double longitude, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'returnNulls' is set
    if (returnNulls == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'returnNulls' when calling addConnectionToGroup",
        new ApiException(400, "Missing the required parameter 'returnNulls' when calling addConnectionToGroup"));
    }
    // verify the required parameter 'groupId' is set
    if (groupId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'groupId' when calling addConnectionToGroup",
        new ApiException(400, "Missing the required parameter 'groupId' when calling addConnectionToGroup"));
    }

    // create path and map variables
    String path = "/consumer/connection/group/addConnection".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionId", connectionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "pendingId", pendingId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "groupId", groupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Add Connections
  * Adds a list of connections to a group.
   * @param connectionGroupId the connection group ID
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param connectionIds comma separated list of connection ids
   * @param connectionAccountIds comma separated list of connection account ids
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @return SirqulResponse
  */
  public SirqulResponse addConnectionsToGroup (Long connectionGroupId, String deviceId, Long accountId, String connectionIds, String connectionAccountIds, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'connectionGroupId' is set
    if (connectionGroupId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionGroupId' when calling addConnectionsToGroup",
        new ApiException(400, "Missing the required parameter 'connectionGroupId' when calling addConnectionsToGroup"));
    }

    // create path and map variables
    String path = "/connection/group/addConnections";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionIds", connectionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountIds", connectionAccountIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionGroupId", connectionGroupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Add Connections
   * Adds a list of connections to a group.
   * @param connectionGroupId the connection group ID   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param connectionIds comma separated list of connection ids   * @param connectionAccountIds comma separated list of connection account ids   * @param latitude the current latitude of the user   * @param longitude the current longitude of the user
  */
  public void addConnectionsToGroup (Long connectionGroupId, String deviceId, Long accountId, String connectionIds, String connectionAccountIds, Double latitude, Double longitude, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'connectionGroupId' is set
    if (connectionGroupId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionGroupId' when calling addConnectionsToGroup",
        new ApiException(400, "Missing the required parameter 'connectionGroupId' when calling addConnectionsToGroup"));
    }

    // create path and map variables
    String path = "/connection/group/addConnections".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionIds", connectionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountIds", connectionAccountIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionGroupId", connectionGroupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Add Connection Groups
  * Add sub groups to a group.
   * @param returnNulls whether to return nulls or not
   * @param groupId the parent group id
   * @param subGroupIds comma separated list of group IDs to add to the parent group
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @return ConnectionGroupResponse
  */
  public ConnectionGroupResponse addSubGroups (Boolean returnNulls, Long groupId, String subGroupIds, String deviceId, Long accountId, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'returnNulls' is set
    if (returnNulls == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'returnNulls' when calling addSubGroups",
        new ApiException(400, "Missing the required parameter 'returnNulls' when calling addSubGroups"));
    }
    // verify the required parameter 'groupId' is set
    if (groupId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'groupId' when calling addSubGroups",
        new ApiException(400, "Missing the required parameter 'groupId' when calling addSubGroups"));
    }
    // verify the required parameter 'subGroupIds' is set
    if (subGroupIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subGroupIds' when calling addSubGroups",
        new ApiException(400, "Missing the required parameter 'subGroupIds' when calling addSubGroups"));
    }

    // create path and map variables
    String path = "/consumer/connection/group/addSubGroup";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "groupId", groupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subGroupIds", subGroupIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ConnectionGroupResponse) ApiInvoker.deserialize(localVarResponse, "", ConnectionGroupResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Add Connection Groups
   * Add sub groups to a group.
   * @param returnNulls whether to return nulls or not   * @param groupId the parent group id   * @param subGroupIds comma separated list of group IDs to add to the parent group   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param latitude the current latitude of the user   * @param longitude the current longitude of the user
  */
  public void addSubGroups (Boolean returnNulls, Long groupId, String subGroupIds, String deviceId, Long accountId, Double latitude, Double longitude, final Response.Listener<ConnectionGroupResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'returnNulls' is set
    if (returnNulls == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'returnNulls' when calling addSubGroups",
        new ApiException(400, "Missing the required parameter 'returnNulls' when calling addSubGroups"));
    }
    // verify the required parameter 'groupId' is set
    if (groupId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'groupId' when calling addSubGroups",
        new ApiException(400, "Missing the required parameter 'groupId' when calling addSubGroups"));
    }
    // verify the required parameter 'subGroupIds' is set
    if (subGroupIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'subGroupIds' when calling addSubGroups",
        new ApiException(400, "Missing the required parameter 'subGroupIds' when calling addSubGroups"));
    }

    // create path and map variables
    String path = "/consumer/connection/group/addSubGroup".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "groupId", groupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subGroupIds", subGroupIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ConnectionGroupResponse) ApiInvoker.deserialize(localVarResponse,  "", ConnectionGroupResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create or Update Connection
  * Creates or updates the connection of the user and another account. Allows a user to follow, block, mark as trusted, and/or add someone to a group.
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param connectionId the connection id for editing
   * @param connectionAccountId the connection account id (i.e. the account id of another user)
   * @param pendingId the pending id (usually for people who do not have a Sirqul account but are already friends via other third party apps)
   * @param groupId optional group id if the user wants to add this person into a group
   * @param gameType This parameter is deprecated.
   * @param appKey the application key
   * @param isTrusted determines whether the user is trusting this account
   * @param ignoreFriendRequest determines whether the user has set to ignore the user&#39;s friend request
   * @param isContact determines whether the user is a contact of this account
   * @param isBlocked determines whether the user is blocking this account
   * @param isFollowing determines whether the user is following this account
   * @param connectionResponse whether to return the connection response or not
   * @return ConnectionResponse
  */
  public ConnectionResponse createOrUpdateConnection (String deviceId, Long accountId, Long connectionId, Long connectionAccountId, Long pendingId, Long groupId, String gameType, String appKey, Boolean isTrusted, Boolean ignoreFriendRequest, Boolean isContact, Boolean isBlocked, Boolean isFollowing, Boolean connectionResponse) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/consumer/connection/add";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionId", connectionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "pendingId", pendingId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "groupId", groupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isTrusted", isTrusted));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ignoreFriendRequest", ignoreFriendRequest));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isContact", isContact));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isBlocked", isBlocked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isFollowing", isFollowing));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionResponse", connectionResponse));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ConnectionResponse) ApiInvoker.deserialize(localVarResponse, "", ConnectionResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create or Update Connection
   * Creates or updates the connection of the user and another account. Allows a user to follow, block, mark as trusted, and/or add someone to a group.
   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param connectionId the connection id for editing   * @param connectionAccountId the connection account id (i.e. the account id of another user)   * @param pendingId the pending id (usually for people who do not have a Sirqul account but are already friends via other third party apps)   * @param groupId optional group id if the user wants to add this person into a group   * @param gameType This parameter is deprecated.   * @param appKey the application key   * @param isTrusted determines whether the user is trusting this account   * @param ignoreFriendRequest determines whether the user has set to ignore the user&#39;s friend request   * @param isContact determines whether the user is a contact of this account   * @param isBlocked determines whether the user is blocking this account   * @param isFollowing determines whether the user is following this account   * @param connectionResponse whether to return the connection response or not
  */
  public void createOrUpdateConnection (String deviceId, Long accountId, Long connectionId, Long connectionAccountId, Long pendingId, Long groupId, String gameType, String appKey, Boolean isTrusted, Boolean ignoreFriendRequest, Boolean isContact, Boolean isBlocked, Boolean isFollowing, Boolean connectionResponse, final Response.Listener<ConnectionResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/consumer/connection/add".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionId", connectionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "pendingId", pendingId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "groupId", groupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isTrusted", isTrusted));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ignoreFriendRequest", ignoreFriendRequest));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isContact", isContact));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isBlocked", isBlocked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isFollowing", isFollowing));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionResponse", connectionResponse));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ConnectionResponse) ApiInvoker.deserialize(localVarResponse,  "", ConnectionResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create or Update Connection Group
  * Creates a new private group.
   * @param returnNulls whether to return nulls or not
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param name the name of the group
   * @param groupId the group id to update a group (don&#39;t pass anything in if you want to create a new group)
   * @param assetId the asset to attach to the group
   * @param connections comma separated list of connection IDs
   * @param description the description of the group
   * @param canViewProfileInfo determines whether the connections in the group can see the user&#39;s profile info
   * @param canViewGameInfo determines whether the connections in the group can see the user&#39;s game info
   * @param canViewFriendInfo determines whether the connections in the group can see the user&#39;s friends/connections
   * @param active Sets whether the connection group is active or inactive
   * @param latitude the latitude of the group
   * @param longitude the longitude of the group
   * @return SirqulResponse
  */
  public SirqulResponse createOrUpdateGroup (Boolean returnNulls, String deviceId, Long accountId, String name, Long groupId, Long assetId, String connections, String description, Boolean canViewProfileInfo, Boolean canViewGameInfo, Boolean canViewFriendInfo, Boolean active, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'returnNulls' is set
    if (returnNulls == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'returnNulls' when calling createOrUpdateGroup",
        new ApiException(400, "Missing the required parameter 'returnNulls' when calling createOrUpdateGroup"));
    }

    // create path and map variables
    String path = "/consumer/connection/group";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "groupId", groupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connections", connections));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "canViewProfileInfo", canViewProfileInfo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "canViewGameInfo", canViewGameInfo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "canViewFriendInfo", canViewFriendInfo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create or Update Connection Group
   * Creates a new private group.
   * @param returnNulls whether to return nulls or not   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param name the name of the group   * @param groupId the group id to update a group (don&#39;t pass anything in if you want to create a new group)   * @param assetId the asset to attach to the group   * @param connections comma separated list of connection IDs   * @param description the description of the group   * @param canViewProfileInfo determines whether the connections in the group can see the user&#39;s profile info   * @param canViewGameInfo determines whether the connections in the group can see the user&#39;s game info   * @param canViewFriendInfo determines whether the connections in the group can see the user&#39;s friends/connections   * @param active Sets whether the connection group is active or inactive   * @param latitude the latitude of the group   * @param longitude the longitude of the group
  */
  public void createOrUpdateGroup (Boolean returnNulls, String deviceId, Long accountId, String name, Long groupId, Long assetId, String connections, String description, Boolean canViewProfileInfo, Boolean canViewGameInfo, Boolean canViewFriendInfo, Boolean active, Double latitude, Double longitude, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'returnNulls' is set
    if (returnNulls == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'returnNulls' when calling createOrUpdateGroup",
        new ApiException(400, "Missing the required parameter 'returnNulls' when calling createOrUpdateGroup"));
    }

    // create path and map variables
    String path = "/consumer/connection/group".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "groupId", groupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connections", connections));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "canViewProfileInfo", canViewProfileInfo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "canViewGameInfo", canViewGameInfo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "canViewFriendInfo", canViewFriendInfo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Accept Follow Request
  * Accept someone&#39;s follow request.
   * @param accountId the account id of the user
   * @param connectionAccountId the account ID of the user who initiated the follow
   * @param appKey the application key for sending notifications
   * @return SirqulResponse
  */
  public SirqulResponse followAccept (Long accountId, Long connectionAccountId, String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling followAccept",
        new ApiException(400, "Missing the required parameter 'accountId' when calling followAccept"));
    }
    // verify the required parameter 'connectionAccountId' is set
    if (connectionAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionAccountId' when calling followAccept",
        new ApiException(400, "Missing the required parameter 'connectionAccountId' when calling followAccept"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling followAccept",
        new ApiException(400, "Missing the required parameter 'appKey' when calling followAccept"));
    }

    // create path and map variables
    String path = "/consumer/follow/accept";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Accept Follow Request
   * Accept someone&#39;s follow request.
   * @param accountId the account id of the user   * @param connectionAccountId the account ID of the user who initiated the follow   * @param appKey the application key for sending notifications
  */
  public void followAccept (Long accountId, Long connectionAccountId, String appKey, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling followAccept",
        new ApiException(400, "Missing the required parameter 'accountId' when calling followAccept"));
    }
    // verify the required parameter 'connectionAccountId' is set
    if (connectionAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionAccountId' when calling followAccept",
        new ApiException(400, "Missing the required parameter 'connectionAccountId' when calling followAccept"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling followAccept",
        new ApiException(400, "Missing the required parameter 'appKey' when calling followAccept"));
    }

    // create path and map variables
    String path = "/consumer/follow/accept".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Reject Follow Request
  * Reject someone&#39;s follow request or remove them as a follower.
   * @param accountId the account id of the user
   * @param connectionAccountId the account ID of the user who initiated the follow
   * @param appKey the application key for sending notifications
   * @return SirqulResponse
  */
  public SirqulResponse followReject (Long accountId, Long connectionAccountId, String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling followReject",
        new ApiException(400, "Missing the required parameter 'accountId' when calling followReject"));
    }
    // verify the required parameter 'connectionAccountId' is set
    if (connectionAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionAccountId' when calling followReject",
        new ApiException(400, "Missing the required parameter 'connectionAccountId' when calling followReject"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling followReject",
        new ApiException(400, "Missing the required parameter 'appKey' when calling followReject"));
    }

    // create path and map variables
    String path = "/consumer/follow/reject";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Reject Follow Request
   * Reject someone&#39;s follow request or remove them as a follower.
   * @param accountId the account id of the user   * @param connectionAccountId the account ID of the user who initiated the follow   * @param appKey the application key for sending notifications
  */
  public void followReject (Long accountId, Long connectionAccountId, String appKey, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling followReject",
        new ApiException(400, "Missing the required parameter 'accountId' when calling followReject"));
    }
    // verify the required parameter 'connectionAccountId' is set
    if (connectionAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionAccountId' when calling followReject",
        new ApiException(400, "Missing the required parameter 'connectionAccountId' when calling followReject"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling followReject",
        new ApiException(400, "Missing the required parameter 'appKey' when calling followReject"));
    }

    // create path and map variables
    String path = "/consumer/follow/reject".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Remove Follower / Unfollow
  * Unfollow someone you are following or remove them as a follower.
   * @param accountId the account id of the user
   * @param connectionAccountId the account ID of the user who you want to unfollow
   * @param appKey the application key for sending notifications
   * @return SirqulResponse
  */
  public SirqulResponse followRemove (Long accountId, Long connectionAccountId, String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling followRemove",
        new ApiException(400, "Missing the required parameter 'accountId' when calling followRemove"));
    }
    // verify the required parameter 'connectionAccountId' is set
    if (connectionAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionAccountId' when calling followRemove",
        new ApiException(400, "Missing the required parameter 'connectionAccountId' when calling followRemove"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling followRemove",
        new ApiException(400, "Missing the required parameter 'appKey' when calling followRemove"));
    }

    // create path and map variables
    String path = "/consumer/follow/remove";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Remove Follower / Unfollow
   * Unfollow someone you are following or remove them as a follower.
   * @param accountId the account id of the user   * @param connectionAccountId the account ID of the user who you want to unfollow   * @param appKey the application key for sending notifications
  */
  public void followRemove (Long accountId, Long connectionAccountId, String appKey, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling followRemove",
        new ApiException(400, "Missing the required parameter 'accountId' when calling followRemove"));
    }
    // verify the required parameter 'connectionAccountId' is set
    if (connectionAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionAccountId' when calling followRemove",
        new ApiException(400, "Missing the required parameter 'connectionAccountId' when calling followRemove"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling followRemove",
        new ApiException(400, "Missing the required parameter 'appKey' when calling followRemove"));
    }

    // create path and map variables
    String path = "/consumer/follow/remove".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Send Follow Request
  * Send a request to follow someone.
   * @param accountId the account id of the user
   * @param connectionAccountId the account ID of the user who you want to follow
   * @param appKey the application key for sending notifications
   * @param approvalNeeded determines if the other user needs to confirm the follow request
   * @return SirqulResponse
  */
  public SirqulResponse followRequest (Long accountId, Long connectionAccountId, String appKey, Boolean approvalNeeded) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling followRequest",
        new ApiException(400, "Missing the required parameter 'accountId' when calling followRequest"));
    }
    // verify the required parameter 'connectionAccountId' is set
    if (connectionAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionAccountId' when calling followRequest",
        new ApiException(400, "Missing the required parameter 'connectionAccountId' when calling followRequest"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling followRequest",
        new ApiException(400, "Missing the required parameter 'appKey' when calling followRequest"));
    }

    // create path and map variables
    String path = "/consumer/follow/request";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalNeeded", approvalNeeded));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Send Follow Request
   * Send a request to follow someone.
   * @param accountId the account id of the user   * @param connectionAccountId the account ID of the user who you want to follow   * @param appKey the application key for sending notifications   * @param approvalNeeded determines if the other user needs to confirm the follow request
  */
  public void followRequest (Long accountId, Long connectionAccountId, String appKey, Boolean approvalNeeded, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling followRequest",
        new ApiException(400, "Missing the required parameter 'accountId' when calling followRequest"));
    }
    // verify the required parameter 'connectionAccountId' is set
    if (connectionAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'connectionAccountId' when calling followRequest",
        new ApiException(400, "Missing the required parameter 'connectionAccountId' when calling followRequest"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling followRequest",
        new ApiException(400, "Missing the required parameter 'appKey' when calling followRequest"));
    }

    // create path and map variables
    String path = "/consumer/follow/request".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionAccountId", connectionAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalNeeded", approvalNeeded));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Accept Friend
  * Accept a friend request and optionally sends a notification.
   * @param friendAccountId the friend&#39;s account id
   * @param notifyFriend determines whether to send a notification to the afflicting party
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param gameType This parameter is deprecated.
   * @param appKey the application key
   * @param notificationMessage optional message to send in a notification
   * @return SirqulResponse
  */
  public SirqulResponse friendAccept (Long friendAccountId, Boolean notifyFriend, String deviceId, Long accountId, String gameType, String appKey, String notificationMessage) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'friendAccountId' is set
    if (friendAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'friendAccountId' when calling friendAccept",
        new ApiException(400, "Missing the required parameter 'friendAccountId' when calling friendAccept"));
    }
    // verify the required parameter 'notifyFriend' is set
    if (notifyFriend == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'notifyFriend' when calling friendAccept",
        new ApiException(400, "Missing the required parameter 'notifyFriend' when calling friendAccept"));
    }

    // create path and map variables
    String path = "/consumer/friend/accept";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendAccountId", friendAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notifyFriend", notifyFriend));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notificationMessage", notificationMessage));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Accept Friend
   * Accept a friend request and optionally sends a notification.
   * @param friendAccountId the friend&#39;s account id   * @param notifyFriend determines whether to send a notification to the afflicting party   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param gameType This parameter is deprecated.   * @param appKey the application key   * @param notificationMessage optional message to send in a notification
  */
  public void friendAccept (Long friendAccountId, Boolean notifyFriend, String deviceId, Long accountId, String gameType, String appKey, String notificationMessage, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'friendAccountId' is set
    if (friendAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'friendAccountId' when calling friendAccept",
        new ApiException(400, "Missing the required parameter 'friendAccountId' when calling friendAccept"));
    }
    // verify the required parameter 'notifyFriend' is set
    if (notifyFriend == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'notifyFriend' when calling friendAccept",
        new ApiException(400, "Missing the required parameter 'notifyFriend' when calling friendAccept"));
    }

    // create path and map variables
    String path = "/consumer/friend/accept".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendAccountId", friendAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notifyFriend", notifyFriend));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notificationMessage", notificationMessage));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Decline Friend
  * Request a friend request and optionally sends a notification.
   * @param friendAccountId the friend&#39;s account id
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param gameType This parameter is deprecated.
   * @param appKey the application key
   * @param notifyFriend determines whether to send a notification to the afflicting party
   * @param notificationMessage optional message to send in a notification
   * @return SirqulResponse
  */
  public SirqulResponse friendReject (Long friendAccountId, String deviceId, Long accountId, String gameType, String appKey, Boolean notifyFriend, String notificationMessage) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'friendAccountId' is set
    if (friendAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'friendAccountId' when calling friendReject",
        new ApiException(400, "Missing the required parameter 'friendAccountId' when calling friendReject"));
    }

    // create path and map variables
    String path = "/consumer/friend/reject";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendAccountId", friendAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notifyFriend", notifyFriend));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notificationMessage", notificationMessage));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Decline Friend
   * Request a friend request and optionally sends a notification.
   * @param friendAccountId the friend&#39;s account id   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param gameType This parameter is deprecated.   * @param appKey the application key   * @param notifyFriend determines whether to send a notification to the afflicting party   * @param notificationMessage optional message to send in a notification
  */
  public void friendReject (Long friendAccountId, String deviceId, Long accountId, String gameType, String appKey, Boolean notifyFriend, String notificationMessage, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'friendAccountId' is set
    if (friendAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'friendAccountId' when calling friendReject",
        new ApiException(400, "Missing the required parameter 'friendAccountId' when calling friendReject"));
    }

    // create path and map variables
    String path = "/consumer/friend/reject".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendAccountId", friendAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notifyFriend", notifyFriend));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notificationMessage", notificationMessage));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Friend
  * Removes a friend from the user&#39;s friends list.
   * @param friendAccountId the account ID of the friend to remove
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param notifyFriend optionally notifies the connection that they have been removed as a friend
   * @param removeFromGroups optionally removes the connection from the user&#39;s groups
   * @return SirqulResponse
  */
  public SirqulResponse friendRemove (Long friendAccountId, String deviceId, Long accountId, Boolean notifyFriend, Boolean removeFromGroups) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'friendAccountId' is set
    if (friendAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'friendAccountId' when calling friendRemove",
        new ApiException(400, "Missing the required parameter 'friendAccountId' when calling friendRemove"));
    }

    // create path and map variables
    String path = "/consumer/friend/remove";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendAccountId", friendAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notifyFriend", notifyFriend));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeFromGroups", removeFromGroups));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Friend
   * Removes a friend from the user&#39;s friends list.
   * @param friendAccountId the account ID of the friend to remove   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param notifyFriend optionally notifies the connection that they have been removed as a friend   * @param removeFromGroups optionally removes the connection from the user&#39;s groups
  */
  public void friendRemove (Long friendAccountId, String deviceId, Long accountId, Boolean notifyFriend, Boolean removeFromGroups, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'friendAccountId' is set
    if (friendAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'friendAccountId' when calling friendRemove",
        new ApiException(400, "Missing the required parameter 'friendAccountId' when calling friendRemove"));
    }

    // create path and map variables
    String path = "/consumer/friend/remove".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendAccountId", friendAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notifyFriend", notifyFriend));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeFromGroups", removeFromGroups));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Request Friend
  * Sends a friend request notification to another user.
   * @param friendAccountId the friend&#39;s account id
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param gameType This parameter is deprecated.
   * @param appKey the application key
   * @param notificationMessage optional message to send in a notification
   * @return SirqulResponse
  */
  public SirqulResponse friendRequest (Long friendAccountId, String deviceId, Long accountId, String gameType, String appKey, String notificationMessage) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'friendAccountId' is set
    if (friendAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'friendAccountId' when calling friendRequest",
        new ApiException(400, "Missing the required parameter 'friendAccountId' when calling friendRequest"));
    }

    // create path and map variables
    String path = "/consumer/friend/request";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendAccountId", friendAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notificationMessage", notificationMessage));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Request Friend
   * Sends a friend request notification to another user.
   * @param friendAccountId the friend&#39;s account id   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param gameType This parameter is deprecated.   * @param appKey the application key   * @param notificationMessage optional message to send in a notification
  */
  public void friendRequest (Long friendAccountId, String deviceId, Long accountId, String gameType, String appKey, String notificationMessage, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'friendAccountId' is set
    if (friendAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'friendAccountId' when calling friendRequest",
        new ApiException(400, "Missing the required parameter 'friendAccountId' when calling friendRequest"));
    }

    // create path and map variables
    String path = "/consumer/friend/request".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendAccountId", friendAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "notificationMessage", notificationMessage));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Sent Friend Requests
  * Gets the connection sent friend requests.
   * @param deviceId the ID of the device
   * @param accountId the id of the account
   * @return ConnectionListResponse
  */
  public ConnectionListResponse getConnectionSentFriendRequests (String deviceId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/consumer/connection/getRequested";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
[...]
