/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AlbumContestListResponse;
import org.openapitools.client.model.AlbumContestResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class ContestApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create or Update Contest
  * Creates or updates a contest.
   * @param publicRead determines whether the contest&#39;s participants has read permissions
   * @param publicWrite determines whether the contest&#39;s participants has write permissions
   * @param publicDelete determines whether the contest&#39;s participants has delete permissions
   * @param publicAdd determines whether the contest&#39;s participants has add permissions
   * @param visibility the determines the album&#39;s participants (PUBLIC - includes everyone in the system as a potential participant, PRIVATE - only considers people who have been invited as participants)
   * @param includeFriendGroup determines whether to include all friends as participants
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param gameType This parameter is deprecated. the application key
   * @param appKey the application key
   * @param contestType a custom field used for aggregation and searching
   * @param albumContestId the album contest ID for updating (don&#39;t pass in if creating)
   * @param title the title of the contest
   * @param description the description of the contest
   * @param albumId1 the album ID for the first album
   * @param removeAlbum1 removes album1 from the contest
   * @param albumId2 the album ID for the second album
   * @param removeAlbum2 removes album2 from the contest
   * @param startDate the start date of the contest (time-stamp in milliseconds)
   * @param endDate the end date of the contest (time-stamp in milliseconds)
   * @param locationDescription the location description of the contest taking place
   * @param connectionIdsToAdd comma separated list of connection IDs
   * @param connectionGroupIdsToAdd comma separated list of connection group IDs
   * @param latitude latitude used to update the user&#39;s current location
   * @param longitude longitude used to update the user&#39;s current location
   * @return AlbumContestResponse
  */
  public AlbumContestResponse addOrUpdateAlbumContest (Boolean publicRead, Boolean publicWrite, Boolean publicDelete, Boolean publicAdd, String visibility, Boolean includeFriendGroup, String deviceId, Long accountId, String gameType, String appKey, String contestType, Long albumContestId, String title, String description, Long albumId1, Boolean removeAlbum1, Long albumId2, Boolean removeAlbum2, Long startDate, Long endDate, String locationDescription, String connectionIdsToAdd, String connectionGroupIdsToAdd, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'publicRead' is set
    if (publicRead == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'publicRead' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'publicRead' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'publicWrite' is set
    if (publicWrite == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'publicWrite' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'publicWrite' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'publicDelete' is set
    if (publicDelete == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'publicDelete' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'publicDelete' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'publicAdd' is set
    if (publicAdd == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'publicAdd' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'publicAdd' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'visibility' is set
    if (visibility == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'visibility' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'visibility' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'includeFriendGroup' is set
    if (includeFriendGroup == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeFriendGroup' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'includeFriendGroup' when calling addOrUpdateAlbumContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "contestType", contestType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId1", albumId1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeAlbum1", removeAlbum1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId2", albumId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeAlbum2", removeAlbum2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicRead", publicRead));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicWrite", publicWrite));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicDelete", publicDelete));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicAdd", publicAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionIdsToAdd", connectionIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionGroupIdsToAdd", connectionGroupIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFriendGroup", includeFriendGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AlbumContestResponse) ApiInvoker.deserialize(localVarResponse, "", AlbumContestResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create or Update Contest
   * Creates or updates a contest.
   * @param publicRead determines whether the contest&#39;s participants has read permissions   * @param publicWrite determines whether the contest&#39;s participants has write permissions   * @param publicDelete determines whether the contest&#39;s participants has delete permissions   * @param publicAdd determines whether the contest&#39;s participants has add permissions   * @param visibility the determines the album&#39;s participants (PUBLIC - includes everyone in the system as a potential participant, PRIVATE - only considers people who have been invited as participants)   * @param includeFriendGroup determines whether to include all friends as participants   * @param deviceId a unique ID given by the device (deviceId or accountId required)   * @param accountId the account ID of the user (deviceId or accountId required)   * @param gameType This parameter is deprecated. the application key   * @param appKey the application key   * @param contestType a custom field used for aggregation and searching   * @param albumContestId the album contest ID for updating (don&#39;t pass in if creating)   * @param title the title of the contest   * @param description the description of the contest   * @param albumId1 the album ID for the first album   * @param removeAlbum1 removes album1 from the contest   * @param albumId2 the album ID for the second album   * @param removeAlbum2 removes album2 from the contest   * @param startDate the start date of the contest (time-stamp in milliseconds)   * @param endDate the end date of the contest (time-stamp in milliseconds)   * @param locationDescription the location description of the contest taking place   * @param connectionIdsToAdd comma separated list of connection IDs   * @param connectionGroupIdsToAdd comma separated list of connection group IDs   * @param latitude latitude used to update the user&#39;s current location   * @param longitude longitude used to update the user&#39;s current location
  */
  public void addOrUpdateAlbumContest (Boolean publicRead, Boolean publicWrite, Boolean publicDelete, Boolean publicAdd, String visibility, Boolean includeFriendGroup, String deviceId, Long accountId, String gameType, String appKey, String contestType, Long albumContestId, String title, String description, Long albumId1, Boolean removeAlbum1, Long albumId2, Boolean removeAlbum2, Long startDate, Long endDate, String locationDescription, String connectionIdsToAdd, String connectionGroupIdsToAdd, Double latitude, Double longitude, final Response.Listener<AlbumContestResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'publicRead' is set
    if (publicRead == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'publicRead' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'publicRead' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'publicWrite' is set
    if (publicWrite == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'publicWrite' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'publicWrite' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'publicDelete' is set
    if (publicDelete == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'publicDelete' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'publicDelete' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'publicAdd' is set
    if (publicAdd == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'publicAdd' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'publicAdd' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'visibility' is set
    if (visibility == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'visibility' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'visibility' when calling addOrUpdateAlbumContest"));
    }
    // verify the required parameter 'includeFriendGroup' is set
    if (includeFriendGroup == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeFriendGroup' when calling addOrUpdateAlbumContest",
        new ApiException(400, "Missing the required parameter 'includeFriendGroup' when calling addOrUpdateAlbumContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "contestType", contestType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId1", albumId1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeAlbum1", removeAlbum1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId2", albumId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "removeAlbum2", removeAlbum2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicRead", publicRead));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicWrite", publicWrite));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicDelete", publicDelete));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicAdd", publicAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionIdsToAdd", connectionIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionGroupIdsToAdd", connectionGroupIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFriendGroup", includeFriendGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AlbumContestResponse) ApiInvoker.deserialize(localVarResponse,  "", AlbumContestResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Approve Contest
  * Sets the approval status of a contest.
   * @param albumContestId The ID of the album contest
   * @param approvalStatus The approval status to set {PENDING, REJECTED, APPROVED, FEATURED}
   * @param deviceId A unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   * @return SirqulResponse
  */
  public SirqulResponse approveAlbumContest (Long albumContestId, String approvalStatus, String deviceId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'albumContestId' is set
    if (albumContestId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumContestId' when calling approveAlbumContest",
        new ApiException(400, "Missing the required parameter 'albumContestId' when calling approveAlbumContest"));
    }
    // verify the required parameter 'approvalStatus' is set
    if (approvalStatus == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'approvalStatus' when calling approveAlbumContest",
        new ApiException(400, "Missing the required parameter 'approvalStatus' when calling approveAlbumContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/approve";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalStatus", approvalStatus));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Approve Contest
   * Sets the approval status of a contest.
   * @param albumContestId The ID of the album contest   * @param approvalStatus The approval status to set {PENDING, REJECTED, APPROVED, FEATURED}   * @param deviceId A unique ID given by the device (deviceId or accountId required)   * @param accountId The account ID of the user (deviceId or accountId required)
  */
  public void approveAlbumContest (Long albumContestId, String approvalStatus, String deviceId, Long accountId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'albumContestId' is set
    if (albumContestId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumContestId' when calling approveAlbumContest",
        new ApiException(400, "Missing the required parameter 'albumContestId' when calling approveAlbumContest"));
    }
    // verify the required parameter 'approvalStatus' is set
    if (approvalStatus == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'approvalStatus' when calling approveAlbumContest",
        new ApiException(400, "Missing the required parameter 'approvalStatus' when calling approveAlbumContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/approve".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "approvalStatus", approvalStatus));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Contest
  * Deletes a contest.
   * @param albumContestId the album contest ID
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param latitude latitude used to update the user&#39;s current location
   * @param longitude longitude used to update the user&#39;s current location
   * @return SirqulResponse
  */
  public SirqulResponse deleteContest (Long albumContestId, String deviceId, Long accountId, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'albumContestId' is set
    if (albumContestId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumContestId' when calling deleteContest",
        new ApiException(400, "Missing the required parameter 'albumContestId' when calling deleteContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/remove";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Contest
   * Deletes a contest.
   * @param albumContestId the album contest ID   * @param deviceId a unique ID given by the device (deviceId or accountId required)   * @param accountId the account ID of the user (deviceId or accountId required)   * @param latitude latitude used to update the user&#39;s current location   * @param longitude longitude used to update the user&#39;s current location
  */
  public void deleteContest (Long albumContestId, String deviceId, Long accountId, Double latitude, Double longitude, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'albumContestId' is set
    if (albumContestId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumContestId' when calling deleteContest",
        new ApiException(400, "Missing the required parameter 'albumContestId' when calling deleteContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/remove".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Contest
  * Gets the contest object including the likes and notes
   * @param albumContestId the album contest ID
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param latitude latitude used to update the user&#39;s current location
   * @param longitude longitude used to update the user&#39;s current location
   * @return AlbumContestResponse
  */
  public AlbumContestResponse getAlbumContest (Long albumContestId, String deviceId, Long accountId, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'albumContestId' is set
    if (albumContestId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumContestId' when calling getAlbumContest",
        new ApiException(400, "Missing the required parameter 'albumContestId' when calling getAlbumContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AlbumContestResponse) ApiInvoker.deserialize(localVarResponse, "", AlbumContestResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Contest
   * Gets the contest object including the likes and notes
   * @param albumContestId the album contest ID   * @param deviceId a unique ID given by the device (deviceId or accountId required)   * @param accountId the account ID of the user (deviceId or accountId required)   * @param latitude latitude used to update the user&#39;s current location   * @param longitude longitude used to update the user&#39;s current location
  */
  public void getAlbumContest (Long albumContestId, String deviceId, Long accountId, Double latitude, Double longitude, final Response.Listener<AlbumContestResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'albumContestId' is set
    if (albumContestId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumContestId' when calling getAlbumContest",
        new ApiException(400, "Missing the required parameter 'albumContestId' when calling getAlbumContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AlbumContestResponse) ApiInvoker.deserialize(localVarResponse,  "", AlbumContestResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Contests
  * Searches on contests.
   * @param filter a comma separated list of Ownership
   * @param sortField the field to sort by. See AlbumContestApiMap
   * @param descending determines whether the sorted list is in descending or ascending order
   * @param start the start index for pagination
   * @param limit the limit for pagination (there is a hard limit of 30)
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param gameType This parameter is deprecated.
   * @param appKey the application key
   * @param appType the application type
   * @param contestType filter contests with this contest type
   * @param ownerId search on contests that have been created by this account (that the user has permissions to)
   * @param q This parameter is deprecated.
   * @param keyword keyword search string
   * @param i This parameter is deprecated.
   * @param l This parameter is deprecated.
   * @param dateCreated filter on items that have been created before this date
   * @param latitude latitude used to update the user&#39;s current location
   * @param longitude longitude used to update the user&#39;s current location
   * @return AlbumContestListResponse
  */
  public AlbumContestListResponse getAlbumContests (String filter, String sortField, Boolean descending, Integer start, Integer limit, String deviceId, Long accountId, String gameType, String appKey, String appType, String contestType, Long ownerId, String q, String keyword, Integer i, Integer l, Long dateCreated, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'filter' is set
    if (filter == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'filter' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'filter' when calling getAlbumContests"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'sortField' when calling getAlbumContests"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'descending' when calling getAlbumContests"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'start' when calling getAlbumContests"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'limit' when calling getAlbumContests"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appType", appType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "contestType", contestType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ownerId", ownerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dateCreated", dateCreated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AlbumContestListResponse) ApiInvoker.deserialize(localVarResponse, "", AlbumContestListResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Contests
   * Searches on contests.
   * @param filter a comma separated list of Ownership   * @param sortField the field to sort by. See AlbumContestApiMap   * @param descending determines whether the sorted list is in descending or ascending order   * @param start the start index for pagination   * @param limit the limit for pagination (there is a hard limit of 30)   * @param deviceId a unique ID given by the device (deviceId or accountId required)   * @param accountId the account ID of the user (deviceId or accountId required)   * @param gameType This parameter is deprecated.   * @param appKey the application key   * @param appType the application type   * @param contestType filter contests with this contest type   * @param ownerId search on contests that have been created by this account (that the user has permissions to)   * @param q This parameter is deprecated.   * @param keyword keyword search string   * @param i This parameter is deprecated.   * @param l This parameter is deprecated.   * @param dateCreated filter on items that have been created before this date   * @param latitude latitude used to update the user&#39;s current location   * @param longitude longitude used to update the user&#39;s current location
  */
  public void getAlbumContests (String filter, String sortField, Boolean descending, Integer start, Integer limit, String deviceId, Long accountId, String gameType, String appKey, String appType, String contestType, Long ownerId, String q, String keyword, Integer i, Integer l, Long dateCreated, Double latitude, Double longitude, final Response.Listener<AlbumContestListResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'filter' is set
    if (filter == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'filter' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'filter' when calling getAlbumContests"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'sortField' when calling getAlbumContests"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'descending' when calling getAlbumContests"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'start' when calling getAlbumContests"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getAlbumContests",
        new ApiException(400, "Missing the required parameter 'limit' when calling getAlbumContests"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appType", appType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "contestType", contestType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ownerId", ownerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "dateCreated", dateCreated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AlbumContestListResponse) ApiInvoker.deserialize(localVarResponse,  "", AlbumContestListResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Vote on Contest
  * Vote on a collection in a contest.
   * @param albumContestId the album contest ID
   * @param albumId the ID of the album to vote on
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param contestType a custom field used for aggregation and searching
   * @param latitude latitude used to update the user&#39;s current location
   * @param longitude longitude used to update the user&#39;s current location
   * @return AlbumContestResponse
  */
  public AlbumContestResponse voteOnAlbumContest (Long albumContestId, Long albumId, String deviceId, Long accountId, String contestType, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'albumContestId' is set
    if (albumContestId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumContestId' when calling voteOnAlbumContest",
        new ApiException(400, "Missing the required parameter 'albumContestId' when calling voteOnAlbumContest"));
    }
    // verify the required parameter 'albumId' is set
    if (albumId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumId' when calling voteOnAlbumContest",
        new ApiException(400, "Missing the required parameter 'albumId' when calling voteOnAlbumContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/vote";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId", albumId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "contestType", contestType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AlbumContestResponse) ApiInvoker.deserialize(localVarResponse, "", AlbumContestResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Vote on Contest
   * Vote on a collection in a contest.
   * @param albumContestId the album contest ID   * @param albumId the ID of the album to vote on   * @param deviceId a unique ID given by the device (deviceId or accountId required)   * @param accountId the account ID of the user (deviceId or accountId required)   * @param contestType a custom field used for aggregation and searching   * @param latitude latitude used to update the user&#39;s current location   * @param longitude longitude used to update the user&#39;s current location
  */
  public void voteOnAlbumContest (Long albumContestId, Long albumId, String deviceId, Long accountId, String contestType, Double latitude, Double longitude, final Response.Listener<AlbumContestResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'albumContestId' is set
    if (albumContestId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumContestId' when calling voteOnAlbumContest",
        new ApiException(400, "Missing the required parameter 'albumContestId' when calling voteOnAlbumContest"));
    }
    // verify the required parameter 'albumId' is set
    if (albumId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'albumId' when calling voteOnAlbumContest",
        new ApiException(400, "Missing the required parameter 'albumId' when calling voteOnAlbumContest"));
    }

    // create path and map variables
    String path = "/consumer/album/contest/vote".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumContestId", albumContestId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "albumId", albumId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "contestType", contestType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AlbumContestResponse) ApiInvoker.deserialize(localVarResponse,  "", AlbumContestResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
