/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.CreativeResponse;
import java.util.*;
import org.openapitools.client.model.MissionResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class CreativeApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Add Preview
  * Enable this ad for preview for this account.
   * @param accountId the id of the account
   * @param creativeId The id of the creative that want to enable preview. The type of the creative should be CONFIG, otherwise no action will be applied.
   * @return SirqulResponse
  */
  public SirqulResponse addPreview (Long accountId, Long creativeId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling addPreview",
        new ApiException(400, "Missing the required parameter 'accountId' when calling addPreview"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling addPreview",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling addPreview"));
    }

    // create path and map variables
    String path = "/creative/addpreview";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Add Preview
   * Enable this ad for preview for this account.
   * @param accountId the id of the account   * @param creativeId The id of the creative that want to enable preview. The type of the creative should be CONFIG, otherwise no action will be applied.
  */
  public void addPreview (Long accountId, Long creativeId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling addPreview",
        new ApiException(400, "Missing the required parameter 'accountId' when calling addPreview"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling addPreview",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling addPreview"));
    }

    // create path and map variables
    String path = "/creative/addpreview".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Find Missions
  * Get a set of ad filtered by the parameters provided.
   * @param appKey The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic.
   * @param randomize return a random set of results, default is true. If false returns in nature order.
   * @param targetedAdsOnly return only ads targets to the specific app, no global ads.
   * @param type The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix.
   * @param accountId The logged in user.
   * @param appVersion The version of the application, will not return levels newer than the appVersion.
   * @param latitude The current location of the requesting device
   * @param longitude The current location of the requesting device
   * @param device Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list.
   * @param deviceIdentifier The device ID of the requesting device, use /audience/devices for list
   * @param deviceVersion The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string.
   * @param start The index into the record set to start with.
   * @param limit The total number of record to return.
   * @param includeAudiences If true then return the audience data in the response. Default is false.
   * @param allocatesTickets If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both.
   * @param missionIds return only ads from the specified campaigns.
   * @return List<MissionResponse>
  */
  public List<MissionResponse> adsFind (String appKey, Boolean randomize, Boolean targetedAdsOnly, String type, Long accountId, String appVersion, Double latitude, Double longitude, String device, Long deviceIdentifier, String deviceVersion, Integer start, Integer limit, Boolean includeAudiences, Boolean allocatesTickets, String missionIds) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling adsFind",
        new ApiException(400, "Missing the required parameter 'appKey' when calling adsFind"));
    }
    // verify the required parameter 'randomize' is set
    if (randomize == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'randomize' when calling adsFind",
        new ApiException(400, "Missing the required parameter 'randomize' when calling adsFind"));
    }
    // verify the required parameter 'targetedAdsOnly' is set
    if (targetedAdsOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'targetedAdsOnly' when calling adsFind",
        new ApiException(400, "Missing the required parameter 'targetedAdsOnly' when calling adsFind"));
    }

    // create path and map variables
    String path = "/ads/find";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "device", device));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceIdentifier", deviceIdentifier));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceVersion", deviceVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeAudiences", includeAudiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocatesTickets", allocatesTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "randomize", randomize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "targetedAdsOnly", targetedAdsOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionIds", missionIds));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<MissionResponse>) ApiInvoker.deserialize(localVarResponse, "array", MissionResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Find Missions
   * Get a set of ad filtered by the parameters provided.
   * @param appKey The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic.   * @param randomize return a random set of results, default is true. If false returns in nature order.   * @param targetedAdsOnly return only ads targets to the specific app, no global ads.   * @param type The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix.   * @param accountId The logged in user.   * @param appVersion The version of the application, will not return levels newer than the appVersion.   * @param latitude The current location of the requesting device   * @param longitude The current location of the requesting device   * @param device Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list.   * @param deviceIdentifier The device ID of the requesting device, use /audience/devices for list   * @param deviceVersion The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string.   * @param start The index into the record set to start with.   * @param limit The total number of record to return.   * @param includeAudiences If true then return the audience data in the response. Default is false.   * @param allocatesTickets If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both.   * @param missionIds return only ads from the specified campaigns.
  */
  public void adsFind (String appKey, Boolean randomize, Boolean targetedAdsOnly, String type, Long accountId, String appVersion, Double latitude, Double longitude, String device, Long deviceIdentifier, String deviceVersion, Integer start, Integer limit, Boolean includeAudiences, Boolean allocatesTickets, String missionIds, final Response.Listener<List<MissionResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling adsFind",
        new ApiException(400, "Missing the required parameter 'appKey' when calling adsFind"));
    }
    // verify the required parameter 'randomize' is set
    if (randomize == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'randomize' when calling adsFind",
        new ApiException(400, "Missing the required parameter 'randomize' when calling adsFind"));
    }
    // verify the required parameter 'targetedAdsOnly' is set
    if (targetedAdsOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'targetedAdsOnly' when calling adsFind",
        new ApiException(400, "Missing the required parameter 'targetedAdsOnly' when calling adsFind"));
    }

    // create path and map variables
    String path = "/ads/find".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "device", device));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceIdentifier", deviceIdentifier));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceVersion", deviceVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeAudiences", includeAudiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocatesTickets", allocatesTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "randomize", randomize));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "targetedAdsOnly", targetedAdsOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionIds", missionIds));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<MissionResponse>) ApiInvoker.deserialize(localVarResponse,  "array", MissionResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Creative
  * Create a creative
   * @param accountId The logged in user.
   * @param name The name of the level.
   * @param active If true set the game level as active. Default is false.
   * @param waitForAsset determines whether the response will wait until the asset gets created
   * @param description The description of the level.
   * @param assetImageId The asset Id of the level image.
   * @param action This parameter is deprecated. deprecated use data field
   * @param data The creative data, json based format depending on type. If not using action then data is required.
   * @param suffix This parameter is deprecated. deprecated use type field
   * @param type The type of creative. If not using suffix then type is required.
   * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
   * @param referenceId if creative related so some other content provided the id
   * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives.
   * @param missionId Assign the creative to a campaign for timing and audience matching.
   * @param offerId the id of the offer
   * @return CreativeResponse
  */
  public CreativeResponse createCreative (Long accountId, String name, Boolean active, Boolean waitForAsset, String description, Long assetImageId, String action, String data, String suffix, String type, Double balance, Long referenceId, String appVersion, Long missionId, Long offerId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createCreative",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createCreative"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createCreative",
        new ApiException(400, "Missing the required parameter 'name' when calling createCreative"));
    }
    // verify the required parameter 'active' is set
    if (active == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'active' when calling createCreative",
        new ApiException(400, "Missing the required parameter 'active' when calling createCreative"));
    }
    // verify the required parameter 'waitForAsset' is set
    if (waitForAsset == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'waitForAsset' when calling createCreative",
        new ApiException(400, "Missing the required parameter 'waitForAsset' when calling createCreative"));
    }

    // create path and map variables
    String path = "/creative/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetImageId", assetImageId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "action", action));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "data", data));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffix", suffix));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "balance", balance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "referenceId", referenceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "waitForAsset", waitForAsset));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CreativeResponse) ApiInvoker.deserialize(localVarResponse, "", CreativeResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Creative
   * Create a creative
   * @param accountId The logged in user.   * @param name The name of the level.   * @param active If true set the game level as active. Default is false.   * @param waitForAsset determines whether the response will wait until the asset gets created   * @param description The description of the level.   * @param assetImageId The asset Id of the level image.   * @param action This parameter is deprecated. deprecated use data field   * @param data The creative data, json based format depending on type. If not using action then data is required.   * @param suffix This parameter is deprecated. deprecated use type field   * @param type The type of creative. If not using suffix then type is required.   * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.   * @param referenceId if creative related so some other content provided the id   * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives.   * @param missionId Assign the creative to a campaign for timing and audience matching.   * @param offerId the id of the offer
  */
  public void createCreative (Long accountId, String name, Boolean active, Boolean waitForAsset, String description, Long assetImageId, String action, String data, String suffix, String type, Double balance, Long referenceId, String appVersion, Long missionId, Long offerId, final Response.Listener<CreativeResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createCreative",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createCreative"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createCreative",
        new ApiException(400, "Missing the required parameter 'name' when calling createCreative"));
    }
    // verify the required parameter 'active' is set
    if (active == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'active' when calling createCreative",
        new ApiException(400, "Missing the required parameter 'active' when calling createCreative"));
    }
    // verify the required parameter 'waitForAsset' is set
    if (waitForAsset == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'waitForAsset' when calling createCreative",
        new ApiException(400, "Missing the required parameter 'waitForAsset' when calling createCreative"));
    }

    // create path and map variables
    String path = "/creative/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetImageId", assetImageId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "action", action));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "data", data));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffix", suffix));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "balance", balance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "referenceId", referenceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "waitForAsset", waitForAsset));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CreativeResponse) ApiInvoker.deserialize(localVarResponse,  "", CreativeResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Creative
  * Delete a creative
   * @param accountId the id of the logged in user
   * @param creativeId the id of the creative to delete
   * @return SirqulResponse
  */
  public SirqulResponse deleteCreative (Long accountId, Long creativeId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteCreative",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteCreative"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling deleteCreative",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling deleteCreative"));
    }

    // create path and map variables
    String path = "/creative/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Creative
   * Delete a creative
   * @param accountId the id of the logged in user   * @param creativeId the id of the creative to delete
  */
  public void deleteCreative (Long accountId, Long creativeId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteCreative",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteCreative"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling deleteCreative",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling deleteCreative"));
    }

    // create path and map variables
    String path = "/creative/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Creative
  * Get a creative
   * @param accountId the id of the logged in user
   * @param creativeId the ID of the creative to get
   * @return CreativeResponse
  */
  public CreativeResponse getCreative (Long accountId, Long creativeId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getCreative",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getCreative"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling getCreative",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling getCreative"));
    }

    // create path and map variables
    String path = "/creative/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CreativeResponse) ApiInvoker.deserialize(localVarResponse, "", CreativeResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Creative
   * Get a creative
   * @param accountId the id of the logged in user   * @param creativeId the ID of the creative to get
  */
  public void getCreative (Long accountId, Long creativeId, final Response.Listener<CreativeResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getCreative",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getCreative"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling getCreative",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling getCreative"));
    }

    // create path and map variables
    String path = "/creative/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CreativeResponse) ApiInvoker.deserialize(localVarResponse,  "", CreativeResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Creatives
  * Get a list of levels for an application, just those the account has permissions to view.
   * @param accountId The logged in user.
   * @param appKey the application key
   * @param start Start the result set at some index.
   * @param limit Limit the result to some number.
   * @param missionId Creatives contained in the provided mission.
   * @param keyword Match the keyword to the owner name or level name.
   * @return List<CreativeResponse>
  */
  public List<CreativeResponse> getCreativesByApplication (Long accountId, String appKey, Integer start, Integer limit, Long missionId, String keyword) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getCreativesByApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getCreativesByApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling getCreativesByApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling getCreativesByApplication"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling getCreativesByApplication",
        new ApiException(400, "Missing the required parameter 'start' when calling getCreativesByApplication"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getCreativesByApplication",
        new ApiException(400, "Missing the required parameter 'limit' when calling getCreativesByApplication"));
    }

    // create path and map variables
    String path = "/creative/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<CreativeResponse>) ApiInvoker.deserialize(localVarResponse, "array", CreativeResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Creatives
   * Get a list of levels for an application, just those the account has permissions to view.
   * @param accountId The logged in user.   * @param appKey the application key   * @param start Start the result set at some index.   * @param limit Limit the result to some number.   * @param missionId Creatives contained in the provided mission.   * @param keyword Match the keyword to the owner name or level name.
  */
  public void getCreativesByApplication (Long accountId, String appKey, Integer start, Integer limit, Long missionId, String keyword, final Response.Listener<List<CreativeResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getCreativesByApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getCreativesByApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling getCreativesByApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling getCreativesByApplication"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling getCreativesByApplication",
        new ApiException(400, "Missing the required parameter 'start' when calling getCreativesByApplication"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getCreativesByApplication",
        new ApiException(400, "Missing the required parameter 'limit' when calling getCreativesByApplication"));
    }

    // create path and map variables
    String path = "/creative/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<CreativeResponse>) ApiInvoker.deserialize(localVarResponse,  "array", CreativeResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Remove Preview
  * Remove this ad for preview for this account.
   * @param accountId the ID of the logged in user
   * @param creativeId the ID of the creative to remove preview
   * @return SirqulResponse
  */
  public SirqulResponse removePreview (Long accountId, Long creativeId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling removePreview",
        new ApiException(400, "Missing the required parameter 'accountId' when calling removePreview"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling removePreview",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling removePreview"));
    }

    // create path and map variables
    String path = "/creative/removepreview";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Remove Preview
   * Remove this ad for preview for this account.
   * @param accountId the ID of the logged in user   * @param creativeId the ID of the creative to remove preview
  */
  public void removePreview (Long accountId, Long creativeId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling removePreview",
        new ApiException(400, "Missing the required parameter 'accountId' when calling removePreview"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling removePreview",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling removePreview"));
    }

    // create path and map variables
    String path = "/creative/removepreview".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Creative
  * Update a creative
   * @param accountId The logged in user.
   * @param creativeId the creative Id to upate.
   * @param name The name of the level.
   * @param description The description of the level.
   * @param assetImageId The asset Id of the level image.
   * @param action This parameter is deprecated. deprecated use data field
   * @param data The creative data, json based format depending on type
   * @param suffix This parameter is deprecated. deprecated use type field
   * @param type The type of creative.
   * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
   * @param active If true set the game level as active. Default is false.
   * @param referenceId if creative related so some other content provided the id
   * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives.
   * @param missionId Assign the creative to a campaign for timing and audience matching.
   * @return CreativeResponse
  */
  public CreativeResponse updateCreative (Long accountId, Long creativeId, String name, String description, Long assetImageId, String action, String data, String suffix, String type, Double balance, Boolean active, Long referenceId, String appVersion, Long missionId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateCreative",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateCreative"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling updateCreative",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling updateCreative"));
    }

    // create path and map variables
    String path = "/creative/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetImageId", assetImageId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "action", action));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "data", data));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffix", suffix));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "balance", balance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "referenceId", referenceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CreativeResponse) ApiInvoker.deserialize(localVarResponse, "", CreativeResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Creative
   * Update a creative
   * @param accountId The logged in user.   * @param creativeId the creative Id to upate.   * @param name The name of the level.   * @param description The description of the level.   * @param assetImageId The asset Id of the level image.   * @param action This parameter is deprecated. deprecated use data field   * @param data The creative data, json based format depending on type   * @param suffix This parameter is deprecated. deprecated use type field   * @param type The type of creative.   * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.   * @param active If true set the game level as active. Default is false.   * @param referenceId if creative related so some other content provided the id   * @param appVersion The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives.   * @param missionId Assign the creative to a campaign for timing and audience matching.
  */
  public void updateCreative (Long accountId, Long creativeId, String name, String description, Long assetImageId, String action, String data, String suffix, String type, Double balance, Boolean active, Long referenceId, String appVersion, Long missionId, final Response.Listener<CreativeResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateCreative",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateCreative"));
    }
    // verify the required parameter 'creativeId' is set
    if (creativeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'creativeId' when calling updateCreative",
        new ApiException(400, "Missing the required parameter 'creativeId' when calling updateCreative"));
    }

    // create path and map variables
    String path = "/creative/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "creativeId", creativeId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetImageId", assetImageId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "action", action));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "data", data));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "suffix", suffix));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "type", type));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "balance", balance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "referenceId", referenceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CreativeResponse) ApiInvoker.deserialize(localVarResponse,  "", CreativeResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
