/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.GameLevelListResponse;
import org.openapitools.client.model.GameLevelResponse;
import org.openapitools.client.model.QuestionResponse;
import org.openapitools.client.model.SirqulResponse;
import org.openapitools.client.model.WordzWordResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class GameLevelApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create Game Level
  * Create a game level. Currently does NOT support game objects.
   * @param accountId The logged in user.
   * @param name The name of the level.
   * @param gameData The game level data: xml, json, or other text based format.
   * @param gameDataSuffix The game level data format type.
   * @param appKey The game application key to save the level for.
   * @param description The description of the level.
   * @param difficulty The difficulty, possible values are: VERY_EASY, EASY, MEDIUM, HARD, VERY_HARD.
   * @param appVersion The version number of the application required to correctly load/play the level.
   * @param assetImageId The asset Id of the level image.
   * @param assetIconId The asset Id of the level icon.
   * @param visibility Is the level visible to others, possible values are: PUBLIC, PRIVATE.
   * @param friendGroup Make the level be readable by all friends.
   * @param connectionIds Make the level be readable by connections in this list.
   * @param connectionGroupIds Make the level be readable by connection groups in this list.
   * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
   * @param active If true set the game level as active. Default is false.
   * @param allocateTickets If true then scoring will give tickets. Default is false.
   * @param ticketCount The number of tickets to reward
   * @param ticketType The type of ticket to reward, null means default type
   * @param points The number of points to award for completing a level
   * @param tutorialTitle Title of the tutorial.
   * @param tutorialMessage Message of the tutotrial.
   * @param tutorialAlignment Alignment of the tutorial image. Default to NONE. Possible values are: NONE, IMAGE_ABOVE, IMAGE_BELOW, IMAGE_LEFT, IMAGE_RIGHT, IMAGE_ONLY, TEXT_ONLY
   * @param tutorialImageAssetId Asset id of the tutorial image.
   * @param offerId id of the offer
   * @param metaData external custom client defined data
   * @return GameLevelResponse
  */
  public GameLevelResponse createGameLevel (Long accountId, String name, String gameData, String gameDataSuffix, String appKey, String description, String difficulty, String appVersion, Long assetImageId, Long assetIconId, String visibility, Boolean friendGroup, String connectionIds, String connectionGroupIds, Double balance, Boolean active, Boolean allocateTickets, Long ticketCount, String ticketType, Long points, String tutorialTitle, String tutorialMessage, String tutorialAlignment, Long tutorialImageAssetId, Long offerId, String metaData) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createGameLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createGameLevel"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createGameLevel",
        new ApiException(400, "Missing the required parameter 'name' when calling createGameLevel"));
    }
    // verify the required parameter 'gameData' is set
    if (gameData == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameData' when calling createGameLevel",
        new ApiException(400, "Missing the required parameter 'gameData' when calling createGameLevel"));
    }
    // verify the required parameter 'gameDataSuffix' is set
    if (gameDataSuffix == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameDataSuffix' when calling createGameLevel",
        new ApiException(400, "Missing the required parameter 'gameDataSuffix' when calling createGameLevel"));
    }

    // create path and map variables
    String path = "/level/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "difficulty", difficulty));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetImageId", assetImageId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetIconId", assetIconId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameData", gameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameDataSuffix", gameDataSuffix));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendGroup", friendGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionIds", connectionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionGroupIds", connectionGroupIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "balance", balance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketCount", ticketCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "points", points));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialTitle", tutorialTitle));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialMessage", tutorialMessage));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialAlignment", tutorialAlignment));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialImageAssetId", tutorialImageAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (GameLevelResponse) ApiInvoker.deserialize(localVarResponse, "", GameLevelResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Game Level
   * Create a game level. Currently does NOT support game objects.
   * @param accountId The logged in user.   * @param name The name of the level.   * @param gameData The game level data: xml, json, or other text based format.   * @param gameDataSuffix The game level data format type.   * @param appKey The game application key to save the level for.   * @param description The description of the level.   * @param difficulty The difficulty, possible values are: VERY_EASY, EASY, MEDIUM, HARD, VERY_HARD.   * @param appVersion The version number of the application required to correctly load/play the level.   * @param assetImageId The asset Id of the level image.   * @param assetIconId The asset Id of the level icon.   * @param visibility Is the level visible to others, possible values are: PUBLIC, PRIVATE.   * @param friendGroup Make the level be readable by all friends.   * @param connectionIds Make the level be readable by connections in this list.   * @param connectionGroupIds Make the level be readable by connection groups in this list.   * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.   * @param active If true set the game level as active. Default is false.   * @param allocateTickets If true then scoring will give tickets. Default is false.   * @param ticketCount The number of tickets to reward   * @param ticketType The type of ticket to reward, null means default type   * @param points The number of points to award for completing a level   * @param tutorialTitle Title of the tutorial.   * @param tutorialMessage Message of the tutotrial.   * @param tutorialAlignment Alignment of the tutorial image. Default to NONE. Possible values are: NONE, IMAGE_ABOVE, IMAGE_BELOW, IMAGE_LEFT, IMAGE_RIGHT, IMAGE_ONLY, TEXT_ONLY   * @param tutorialImageAssetId Asset id of the tutorial image.   * @param offerId id of the offer   * @param metaData external custom client defined data
  */
  public void createGameLevel (Long accountId, String name, String gameData, String gameDataSuffix, String appKey, String description, String difficulty, String appVersion, Long assetImageId, Long assetIconId, String visibility, Boolean friendGroup, String connectionIds, String connectionGroupIds, Double balance, Boolean active, Boolean allocateTickets, Long ticketCount, String ticketType, Long points, String tutorialTitle, String tutorialMessage, String tutorialAlignment, Long tutorialImageAssetId, Long offerId, String metaData, final Response.Listener<GameLevelResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createGameLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createGameLevel"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createGameLevel",
        new ApiException(400, "Missing the required parameter 'name' when calling createGameLevel"));
    }
    // verify the required parameter 'gameData' is set
    if (gameData == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameData' when calling createGameLevel",
        new ApiException(400, "Missing the required parameter 'gameData' when calling createGameLevel"));
    }
    // verify the required parameter 'gameDataSuffix' is set
    if (gameDataSuffix == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameDataSuffix' when calling createGameLevel",
        new ApiException(400, "Missing the required parameter 'gameDataSuffix' when calling createGameLevel"));
    }

    // create path and map variables
    String path = "/level/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "difficulty", difficulty));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetImageId", assetImageId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetIconId", assetIconId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameData", gameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameDataSuffix", gameDataSuffix));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendGroup", friendGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionIds", connectionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionGroupIds", connectionGroupIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "balance", balance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketCount", ticketCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "points", points));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialTitle", tutorialTitle));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialMessage", tutorialMessage));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialAlignment", tutorialAlignment));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialImageAssetId", tutorialImageAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((GameLevelResponse) ApiInvoker.deserialize(localVarResponse,  "", GameLevelResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Game Level
  * Delete a game level. The level and account must be valid and have the appropirate permissions to view the content.
   * @param accountId The logged in user.
   * @param levelId The id of the level to return.
   * @return SirqulResponse
  */
  public SirqulResponse deleteGameLevel (Long accountId, Long levelId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteGameLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteGameLevel"));
    }
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling deleteGameLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling deleteGameLevel"));
    }

    // create path and map variables
    String path = "/level/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Game Level
   * Delete a game level. The level and account must be valid and have the appropirate permissions to view the content.
   * @param accountId The logged in user.   * @param levelId The id of the level to return.
  */
  public void deleteGameLevel (Long accountId, Long levelId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteGameLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteGameLevel"));
    }
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling deleteGameLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling deleteGameLevel"));
    }

    // create path and map variables
    String path = "/level/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Game Level
  * Get a game level. The level and account must be valid and have the appropirate permissions to view the content.
   * @param accountId The logged in user.
   * @param levelId The id of the level to return.
   * @param includeGameData If true include the game level data, otherwise don&#39;t. default is false.
   * @return GameLevelResponse
  */
  public GameLevelResponse getGameLevel (Long accountId, Long levelId, Boolean includeGameData) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getGameLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getGameLevel"));
    }
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling getGameLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling getGameLevel"));
    }

    // create path and map variables
    String path = "/level/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeGameData", includeGameData));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (GameLevelResponse) ApiInvoker.deserialize(localVarResponse, "", GameLevelResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Game Level
   * Get a game level. The level and account must be valid and have the appropirate permissions to view the content.
   * @param accountId The logged in user.   * @param levelId The id of the level to return.   * @param includeGameData If true include the game level data, otherwise don&#39;t. default is false.
  */
  public void getGameLevel (Long accountId, Long levelId, Boolean includeGameData, final Response.Listener<GameLevelResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getGameLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getGameLevel"));
    }
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling getGameLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling getGameLevel"));
    }

    // create path and map variables
    String path = "/level/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeGameData", includeGameData));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((GameLevelResponse) ApiInvoker.deserialize(localVarResponse,  "", GameLevelResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Game Levels
  * Get a list of levels for an application, just those the account has permissions to view.
   * @param accountId The logged in user.
   * @param appKey the application key
   * @param keyword Match the keyword to the owner name or level name.
   * @param sortField what field to sort on
   * @param descending whether to return levels in ascending or descending order
   * @param start Start the result set at some index.
   * @param limit Limit the result to some number.
   * @param appVersion The maximum version of the level to return.
   * @param includeGameData If true include the game level data, otherwise don&#39;t. default is false.
   * @param filters 
   * @return GameLevelListResponse
  */
  public GameLevelListResponse getGameLevelsByApplication (Long accountId, String appKey, String keyword, String sortField, Boolean descending, Integer start, Integer limit, String appVersion, Boolean includeGameData, String filters) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getGameLevelsByApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getGameLevelsByApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling getGameLevelsByApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling getGameLevelsByApplication"));
    }

    // create path and map variables
    String path = "/level/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeGameData", includeGameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filters", filters));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (GameLevelListResponse) ApiInvoker.deserialize(localVarResponse, "", GameLevelListResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Game Levels
   * Get a list of levels for an application, just those the account has permissions to view.
   * @param accountId The logged in user.   * @param appKey the application key   * @param keyword Match the keyword to the owner name or level name.   * @param sortField what field to sort on   * @param descending whether to return levels in ascending or descending order   * @param start Start the result set at some index.   * @param limit Limit the result to some number.   * @param appVersion The maximum version of the level to return.   * @param includeGameData If true include the game level data, otherwise don&#39;t. default is false.   * @param filters 
  */
  public void getGameLevelsByApplication (Long accountId, String appKey, String keyword, String sortField, Boolean descending, Integer start, Integer limit, String appVersion, Boolean includeGameData, String filters, final Response.Listener<GameLevelListResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getGameLevelsByApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getGameLevelsByApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling getGameLevelsByApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling getGameLevelsByApplication"));
    }

    // create path and map variables
    String path = "/level/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeGameData", includeGameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filters", filters));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((GameLevelListResponse) ApiInvoker.deserialize(localVarResponse,  "", GameLevelListResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Game Level by Billable Entity
  * Searches on game levels that the logged in user has access to. A user would have access if the creator of the game level is managed under the same BillableEntity.
   * @param accountId The account id of the user
   * @param appKey the application key
   * @param keyword The keyword used to search
   * @param sortField The column to sort the search on
   * @param descending The order to return the search results
   * @param activeOnly Return only active results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @return GameLevelResponse
  */
  public GameLevelResponse getGameLevelsByBillableEntity (Long accountId, String appKey, String keyword, String sortField, Boolean descending, Boolean activeOnly, Long start, Long limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getGameLevelsByBillableEntity",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getGameLevelsByBillableEntity"));
    }

    // create path and map variables
    String path = "/level/searchByBillableEntity";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (GameLevelResponse) ApiInvoker.deserialize(localVarResponse, "", GameLevelResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Game Level by Billable Entity
   * Searches on game levels that the logged in user has access to. A user would have access if the creator of the game level is managed under the same BillableEntity.
   * @param accountId The account id of the user   * @param appKey the application key   * @param keyword The keyword used to search   * @param sortField The column to sort the search on   * @param descending The order to return the search results   * @param activeOnly Return only active results   * @param start The record to begin the return set on   * @param limit The number of records to return
  */
  public void getGameLevelsByBillableEntity (Long accountId, String appKey, String keyword, String sortField, Boolean descending, Boolean activeOnly, Long start, Long limit, final Response.Listener<GameLevelResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getGameLevelsByBillableEntity",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getGameLevelsByBillableEntity"));
    }

    // create path and map variables
    String path = "/level/searchByBillableEntity".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((GameLevelResponse) ApiInvoker.deserialize(localVarResponse,  "", GameLevelResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Level Questions
  * Get questions within a level.
   * @param levelId the id of the level to get questions from
   * @param accountId the id of the logged in user
   * @return QuestionResponse
  */
  public QuestionResponse getQuestionsInLevel (Long levelId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling getQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling getQuestionsInLevel"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getQuestionsInLevel"));
    }

    // create path and map variables
    String path = "/level/questions/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (QuestionResponse) ApiInvoker.deserialize(localVarResponse, "", QuestionResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Level Questions
   * Get questions within a level.
   * @param levelId the id of the level to get questions from   * @param accountId the id of the logged in user
  */
  public void getQuestionsInLevel (Long levelId, Long accountId, final Response.Listener<QuestionResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling getQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling getQuestionsInLevel"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getQuestionsInLevel"));
    }

    // create path and map variables
    String path = "/level/questions/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((QuestionResponse) ApiInvoker.deserialize(localVarResponse,  "", QuestionResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Level Words
  * Get words within a level.
   * @param levelId the id of the level to get words for
   * @param accountId the id of the logged in user
   * @return WordzWordResponse
  */
  public WordzWordResponse getWordsInLevel (Long levelId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling getWordsInLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling getWordsInLevel"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getWordsInLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getWordsInLevel"));
    }

    // create path and map variables
    String path = "/level/words/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (WordzWordResponse) ApiInvoker.deserialize(localVarResponse, "", WordzWordResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Level Words
   * Get words within a level.
   * @param levelId the id of the level to get words for   * @param accountId the id of the logged in user
  */
  public void getWordsInLevel (Long levelId, Long accountId, final Response.Listener<WordzWordResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling getWordsInLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling getWordsInLevel"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getWordsInLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getWordsInLevel"));
    }

    // create path and map variables
    String path = "/level/words/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((WordzWordResponse) ApiInvoker.deserialize(localVarResponse,  "", WordzWordResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Game Level
  * Update a game level. Currently does NOT support game objects.
   * @param accountId The logged in user.
   * @param levelId If update then include the level Id.
   * @param appKey The game application key to save the level for.
   * @param name The name of the level.
   * @param description The description of the level.
   * @param difficulty The difficulty, possible values are: VERY_EASY, EASY, MEDIUM, HARD, VERY_HARD.
   * @param appVersion The version number of the applicatuion required to correctly load/play the level.
   * @param assetImageId The asset Id of the level image.
   * @param assetIconId The asset Id of the level icon.
   * @param gameData The game level data: xml, json, or other texted based format.
   * @param gameDataSuffix The game level data format type.
   * @param visibility Is the level visible to others, possible values are: PUBLIC, PRIVATE.
   * @param friendGroup Make the level be readable by all friends.
   * @param connectionIds Make the level be readable by connections in this list.
   * @param connectionGroupIds Make the level be readable by connection groups in this list.
   * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
   * @param active If true set the game level as active.
   * @param allocateTickets If true then scoring will give tickets.
   * @param ticketCount The number of tickets to reward
   * @param ticketType The type of ticket to reward, null means default type
   * @param points The number of points to award for completing a level
   * @param tutorialTitle Title of the tutorial.
   * @param tutorialMessage Message of the tutorial.
   * @param tutorialAlignment Alignment of the tutorial image, possible values are: NONE, IMAGE_ABOVE, IMAGE_BELOW, IMAGE_LEFT, IMAGE_RIGHT, IMAGE_ONLY, TEXT_ONLY
   * @param tutorialImageAssetId Asset id of the tutorial image.
   * @param offerId 
   * @param metaData external custom client defined data
   * @return GameLevelResponse
  */
  public GameLevelResponse updateGameLevel (Long accountId, Long levelId, String appKey, String name, String description, String difficulty, String appVersion, Long assetImageId, Long assetIconId, String gameData, String gameDataSuffix, String visibility, Boolean friendGroup, String connectionIds, String connectionGroupIds, Double balance, Boolean active, Boolean allocateTickets, Long ticketCount, String ticketType, Long points, String tutorialTitle, String tutorialMessage, String tutorialAlignment, Long tutorialImageAssetId, Long offerId, String metaData) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateGameLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateGameLevel"));
    }
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling updateGameLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling updateGameLevel"));
    }

    // create path and map variables
    String path = "/level/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "difficulty", difficulty));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetImageId", assetImageId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetIconId", assetIconId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameData", gameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameDataSuffix", gameDataSuffix));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendGroup", friendGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionIds", connectionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionGroupIds", connectionGroupIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "balance", balance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketCount", ticketCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "points", points));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialTitle", tutorialTitle));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialMessage", tutorialMessage));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialAlignment", tutorialAlignment));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialImageAssetId", tutorialImageAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (GameLevelResponse) ApiInvoker.deserialize(localVarResponse, "", GameLevelResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Game Level
   * Update a game level. Currently does NOT support game objects.
   * @param accountId The logged in user.   * @param levelId If update then include the level Id.   * @param appKey The game application key to save the level for.   * @param name The name of the level.   * @param description The description of the level.   * @param difficulty The difficulty, possible values are: VERY_EASY, EASY, MEDIUM, HARD, VERY_HARD.   * @param appVersion The version number of the applicatuion required to correctly load/play the level.   * @param assetImageId The asset Id of the level image.   * @param assetIconId The asset Id of the level icon.   * @param gameData The game level data: xml, json, or other texted based format.   * @param gameDataSuffix The game level data format type.   * @param visibility Is the level visible to others, possible values are: PUBLIC, PRIVATE.   * @param friendGroup Make the level be readable by all friends.   * @param connectionIds Make the level be readable by connections in this list.   * @param connectionGroupIds Make the level be readable by connection groups in this list.   * @param balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.   * @param active If true set the game level as active.   * @param allocateTickets If true then scoring will give tickets.   * @param ticketCount The number of tickets to reward   * @param ticketType The type of ticket to reward, null means default type   * @param points The number of points to award for completing a level   * @param tutorialTitle Title of the tutorial.   * @param tutorialMessage Message of the tutorial.   * @param tutorialAlignment Alignment of the tutorial image, possible values are: NONE, IMAGE_ABOVE, IMAGE_BELOW, IMAGE_LEFT, IMAGE_RIGHT, IMAGE_ONLY, TEXT_ONLY   * @param tutorialImageAssetId Asset id of the tutorial image.   * @param offerId    * @param metaData external custom client defined data
  */
  public void updateGameLevel (Long accountId, Long levelId, String appKey, String name, String description, String difficulty, String appVersion, Long assetImageId, Long assetIconId, String gameData, String gameDataSuffix, String visibility, Boolean friendGroup, String connectionIds, String connectionGroupIds, Double balance, Boolean active, Boolean allocateTickets, Long ticketCount, String ticketType, Long points, String tutorialTitle, String tutorialMessage, String tutorialAlignment, Long tutorialImageAssetId, Long offerId, String metaData, final Response.Listener<GameLevelResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateGameLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateGameLevel"));
    }
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling updateGameLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling updateGameLevel"));
    }

    // create path and map variables
    String path = "/level/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "difficulty", difficulty));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetImageId", assetImageId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetIconId", assetIconId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameData", gameData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameDataSuffix", gameDataSuffix));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "friendGroup", friendGroup));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionIds", connectionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "connectionGroupIds", connectionGroupIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "balance", balance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketCount", ticketCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "points", points));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialTitle", tutorialTitle));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialMessage", tutorialMessage));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialAlignment", tutorialAlignment));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tutorialImageAssetId", tutorialImageAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((GameLevelResponse) ApiInvoker.deserialize(localVarResponse,  "", GameLevelResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Level Questions
  * Updates a level with question game objects.
   * @param levelId the id of the level to update questions on
   * @param accountId the id of the logged in user
   * @param questionIds the IDs of the questions to update
   * @return SirqulResponse
  */
  public SirqulResponse updateQuestionsInLevel (Long levelId, Long accountId, String questionIds) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling updateQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling updateQuestionsInLevel"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateQuestionsInLevel"));
    }
    // verify the required parameter 'questionIds' is set
    if (questionIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'questionIds' when calling updateQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'questionIds' when calling updateQuestionsInLevel"));
    }

    // create path and map variables
    String path = "/level/questions/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "questionIds", questionIds));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Level Questions
   * Updates a level with question game objects.
   * @param levelId the id of the level to update questions on   * @param accountId the id of the logged in user   * @param questionIds the IDs of the questions to update
  */
  public void updateQuestionsInLevel (Long levelId, Long accountId, String questionIds, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling updateQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling updateQuestionsInLevel"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateQuestionsInLevel"));
    }
    // verify the required parameter 'questionIds' is set
    if (questionIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'questionIds' when calling updateQuestionsInLevel",
        new ApiException(400, "Missing the required parameter 'questionIds' when calling updateQuestionsInLevel"));
    }

    // create path and map variables
    String path = "/level/questions/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "questionIds", questionIds));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Level Words
  * Updates a level with word game objects.
   * @param levelId the id of the level to update words for
   * @param accountId the id of the logged in user
   * @param wordIds the ids of the words to update for the level
   * @return SirqulResponse
  */
  public SirqulResponse updateWordsInLevel (Long levelId, Long accountId, String wordIds) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling updateWordsInLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling updateWordsInLevel"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateWordsInLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateWordsInLevel"));
    }
    // verify the required parameter 'wordIds' is set
    if (wordIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'wordIds' when calling updateWordsInLevel",
        new ApiException(400, "Missing the required parameter 'wordIds' when calling updateWordsInLevel"));
    }

    // create path and map variables
    String path = "/level/words/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "wordIds", wordIds));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Level Words
   * Updates a level with word game objects.
   * @param levelId the id of the level to update words for   * @param accountId the id of the logged in user   * @param wordIds the ids of the words to update for the level
  */
  public void updateWordsInLevel (Long levelId, Long accountId, String wordIds, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'levelId' is set
    if (levelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'levelId' when calling updateWordsInLevel",
        new ApiException(400, "Missing the required parameter 'levelId' when calling updateWordsInLevel"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateWordsInLevel",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateWordsInLevel"));
    }
    // verify the required parameter 'wordIds' is set
    if (wordIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'wordIds' when calling updateWordsInLevel",
        new ApiException(400, "Missing the required parameter 'wordIds' when calling updateWordsInLevel"));
    }

    // create path and map variables
    String path = "/level/words/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "levelId", levelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "wordIds", wordIds));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
