/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.io.File;
import org.openapitools.client.model.LeaderboardResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class LeaderboardApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
  * Create a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
   * @param accountId The account id of the user creating the leaderboard.
   * @param appKey The application key
   * @param rankType a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters. There are also default rank types to use which include: POINTS, DOWNLOADS, INVITATIONS, CREATIONS, VOTES, REDEEMED, ACTIONS
   * @param leaderboardMode the type of search to perform. Possible values include: GLOBAL - searches scores globally (all users in the system are included in the ranking); LOCAL - filters results by select users and on users that have logged into the same device; SEARCH - does a GLOBAL search by keyword; CUSTOM - does a LOCAL search by keyword
   * @param iconMedia a MultipartFile containing the icon image of the leaderboard (this will only be used if \&quot;iconAssetId\&quot; is empty)
   * @param iconAssetId The asset ID to set the leaderboard icon
   * @param bannerMedia a MultipartFile containing the icon banner of the leaderboard (this will only be used if \&quot;bannerAssetId\&quot; is empty)
   * @param bannerAssetId The asset ID to set the leaderboard banner
   * @param limitation limit number of rankings for each leaderboard
   * @param sortField determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST
   * @param title leaderboard&#39;s title
   * @param description leaderboard&#39;s description
   * @param metaData custom meta data for the leaderboard
   * @return LeaderboardResponse
  */
  public LeaderboardResponse createLeaderboard (Long accountId, String appKey, String rankType, String leaderboardMode, File iconMedia, Long iconAssetId, File bannerMedia, Long bannerAssetId, Integer limitation, String sortField, String title, String description, String metaData) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/leaderboard/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardMode", leaderboardMode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconMedia", iconMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconAssetId", iconAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bannerMedia", bannerMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bannerAssetId", bannerAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limitation", limitation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeaderboardResponse) ApiInvoker.deserialize(localVarResponse, "", LeaderboardResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
   * Create a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
   * @param accountId The account id of the user creating the leaderboard.   * @param appKey The application key   * @param rankType a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters. There are also default rank types to use which include: POINTS, DOWNLOADS, INVITATIONS, CREATIONS, VOTES, REDEEMED, ACTIONS   * @param leaderboardMode the type of search to perform. Possible values include: GLOBAL - searches scores globally (all users in the system are included in the ranking); LOCAL - filters results by select users and on users that have logged into the same device; SEARCH - does a GLOBAL search by keyword; CUSTOM - does a LOCAL search by keyword   * @param iconMedia a MultipartFile containing the icon image of the leaderboard (this will only be used if \&quot;iconAssetId\&quot; is empty)   * @param iconAssetId The asset ID to set the leaderboard icon   * @param bannerMedia a MultipartFile containing the icon banner of the leaderboard (this will only be used if \&quot;bannerAssetId\&quot; is empty)   * @param bannerAssetId The asset ID to set the leaderboard banner   * @param limitation limit number of rankings for each leaderboard   * @param sortField determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST   * @param title leaderboard&#39;s title   * @param description leaderboard&#39;s description   * @param metaData custom meta data for the leaderboard
  */
  public void createLeaderboard (Long accountId, String appKey, String rankType, String leaderboardMode, File iconMedia, Long iconAssetId, File bannerMedia, Long bannerAssetId, Integer limitation, String sortField, String title, String description, String metaData, final Response.Listener<LeaderboardResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/leaderboard/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardMode", leaderboardMode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconMedia", iconMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconAssetId", iconAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bannerMedia", bannerMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bannerAssetId", bannerAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limitation", limitation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeaderboardResponse) ApiInvoker.deserialize(localVarResponse,  "", LeaderboardResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete the Leader Board
  * Removes a leader board id.
   * @param leaderboardId The leaderboard id to delete.
   * @param accountId The account id of the user making the request.
   * @return SirqulResponse
  */
  public SirqulResponse deleteLeaderboard (Long leaderboardId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'leaderboardId' is set
    if (leaderboardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leaderboardId' when calling deleteLeaderboard",
        new ApiException(400, "Missing the required parameter 'leaderboardId' when calling deleteLeaderboard"));
    }

    // create path and map variables
    String path = "/leaderboard/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardId", leaderboardId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete the Leader Board
   * Removes a leader board id.
   * @param leaderboardId The leaderboard id to delete.   * @param accountId The account id of the user making the request.
  */
  public void deleteLeaderboard (Long leaderboardId, Long accountId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'leaderboardId' is set
    if (leaderboardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leaderboardId' when calling deleteLeaderboard",
        new ApiException(400, "Missing the required parameter 'leaderboardId' when calling deleteLeaderboard"));
    }

    // create path and map variables
    String path = "/leaderboard/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardId", leaderboardId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Read a leaderboard by id and retrieve the matching ranking list
  * Read a leaderboard by id and retrieve the matching ranking list
   * @param leaderboardId The leaderboard id.
   * @param accountId A valid account.
   * @param includeFullRankingList set to true if need to return the leaderboard&#39;s full ranking list
   * @return LeaderboardResponse
  */
  public LeaderboardResponse getLeaderboard (Long leaderboardId, Long accountId, Boolean includeFullRankingList) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'leaderboardId' is set
    if (leaderboardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leaderboardId' when calling getLeaderboard",
        new ApiException(400, "Missing the required parameter 'leaderboardId' when calling getLeaderboard"));
    }

    // create path and map variables
    String path = "/leaderboard/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardId", leaderboardId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFullRankingList", includeFullRankingList));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeaderboardResponse) ApiInvoker.deserialize(localVarResponse, "", LeaderboardResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Read a leaderboard by id and retrieve the matching ranking list
   * Read a leaderboard by id and retrieve the matching ranking list
   * @param leaderboardId The leaderboard id.   * @param accountId A valid account.   * @param includeFullRankingList set to true if need to return the leaderboard&#39;s full ranking list
  */
  public void getLeaderboard (Long leaderboardId, Long accountId, Boolean includeFullRankingList, final Response.Listener<LeaderboardResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'leaderboardId' is set
    if (leaderboardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leaderboardId' when calling getLeaderboard",
        new ApiException(400, "Missing the required parameter 'leaderboardId' when calling getLeaderboard"));
    }

    // create path and map variables
    String path = "/leaderboard/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardId", leaderboardId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFullRankingList", includeFullRankingList));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeaderboardResponse) ApiInvoker.deserialize(localVarResponse,  "", LeaderboardResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search leaderboard and retrieve the matching ranking list
  * Search leaderboard and retrieve the matching ranking list
   * @param accountId The account id of the user requesting the search.
   * @param appKey The application key.
   * @param globalOnly only include global leaderboards (this overrides the appKey filter)
   * @param keyword keyword to search by title
   * @param leaderboardIds comma separated list of leaderboard ids to filter results with
   * @param rankTypes comma separated list of rankType to filter results with
   * @param sortField sortField of the result, from LeaderboardApiMap (TITLE, DESCRIPTION, CREATED, UPDATED, RANK_TYPE, RANK_MODE)
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param includeInactive include inactive in the result
   * @param includeAppResponse determines whether to include the application response for each leaderboard
   * @param start Start the result set at some index.
   * @param limit Limit the result to some number.
   * @return LeaderboardResponse
  */
  public LeaderboardResponse searchLeaderboards (Long accountId, String appKey, Boolean globalOnly, String keyword, String leaderboardIds, String rankTypes, String sortField, Boolean descending, Boolean includeInactive, Boolean includeAppResponse, Integer start, Integer limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/leaderboard/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "globalOnly", globalOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardIds", leaderboardIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankTypes", rankTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeInactive", includeInactive));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeAppResponse", includeAppResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeaderboardResponse) ApiInvoker.deserialize(localVarResponse, "", LeaderboardResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search leaderboard and retrieve the matching ranking list
   * Search leaderboard and retrieve the matching ranking list
   * @param accountId The account id of the user requesting the search.   * @param appKey The application key.   * @param globalOnly only include global leaderboards (this overrides the appKey filter)   * @param keyword keyword to search by title   * @param leaderboardIds comma separated list of leaderboard ids to filter results with   * @param rankTypes comma separated list of rankType to filter results with   * @param sortField sortField of the result, from LeaderboardApiMap (TITLE, DESCRIPTION, CREATED, UPDATED, RANK_TYPE, RANK_MODE)   * @param descending Determines whether the sorted list is in descending or ascending order   * @param includeInactive include inactive in the result   * @param includeAppResponse determines whether to include the application response for each leaderboard   * @param start Start the result set at some index.   * @param limit Limit the result to some number.
  */
  public void searchLeaderboards (Long accountId, String appKey, Boolean globalOnly, String keyword, String leaderboardIds, String rankTypes, String sortField, Boolean descending, Boolean includeInactive, Boolean includeAppResponse, Integer start, Integer limit, final Response.Listener<LeaderboardResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/leaderboard/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "globalOnly", globalOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardIds", leaderboardIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankTypes", rankTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeInactive", includeInactive));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeAppResponse", includeAppResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeaderboardResponse) ApiInvoker.deserialize(localVarResponse,  "", LeaderboardResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
  * Update a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
   * @param leaderboardId The leaderboard id to update.
   * @param accountId The account id of the user updating the leaderboard.
   * @param appKey The application key
   * @param rankType a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters.
   * @param leaderboardMode the type of search to perform. Possible values include: GLOBAL, LOCAL, SEARCH, CUSTOM
   * @param sortField determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST
   * @param iconMedia a MultipartFile containing the icon image of the leaderboard (this will only be used if \&quot;iconAssetId\&quot; is empty)
   * @param iconAssetId The asset ID to set the leaderboard icon
   * @param bannerMedia a MultipartFile containing the icon banner of the leaderboard (this will only be used if \&quot;bannerAssetId\&quot; is empty)
   * @param bannerAssetId The asset ID to set the leaderboard banner
   * @param limitation limit number of rankings for each leaderboard
   * @param active Whether the leaderboard is active
   * @param title leaderboard&#39;s title
   * @param description leaderboard&#39;s description
   * @param metaData custom meta data for the leaderboard
   * @return LeaderboardResponse
  */
  public LeaderboardResponse updateLeaderboard (Long leaderboardId, Long accountId, String appKey, String rankType, String leaderboardMode, String sortField, File iconMedia, Long iconAssetId, File bannerMedia, Long bannerAssetId, Integer limitation, Boolean active, String title, String description, String metaData) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'leaderboardId' is set
    if (leaderboardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leaderboardId' when calling updateLeaderboard",
        new ApiException(400, "Missing the required parameter 'leaderboardId' when calling updateLeaderboard"));
    }

    // create path and map variables
    String path = "/leaderboard/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardId", leaderboardId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardMode", leaderboardMode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconMedia", iconMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconAssetId", iconAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bannerMedia", bannerMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bannerAssetId", bannerAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limitation", limitation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (LeaderboardResponse) ApiInvoker.deserialize(localVarResponse, "", LeaderboardResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
   * Update a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
   * @param leaderboardId The leaderboard id to update.   * @param accountId The account id of the user updating the leaderboard.   * @param appKey The application key   * @param rankType a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters.   * @param leaderboardMode the type of search to perform. Possible values include: GLOBAL, LOCAL, SEARCH, CUSTOM   * @param sortField determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST   * @param iconMedia a MultipartFile containing the icon image of the leaderboard (this will only be used if \&quot;iconAssetId\&quot; is empty)   * @param iconAssetId The asset ID to set the leaderboard icon   * @param bannerMedia a MultipartFile containing the icon banner of the leaderboard (this will only be used if \&quot;bannerAssetId\&quot; is empty)   * @param bannerAssetId The asset ID to set the leaderboard banner   * @param limitation limit number of rankings for each leaderboard   * @param active Whether the leaderboard is active   * @param title leaderboard&#39;s title   * @param description leaderboard&#39;s description   * @param metaData custom meta data for the leaderboard
  */
  public void updateLeaderboard (Long leaderboardId, Long accountId, String appKey, String rankType, String leaderboardMode, String sortField, File iconMedia, Long iconAssetId, File bannerMedia, Long bannerAssetId, Integer limitation, Boolean active, String title, String description, String metaData, final Response.Listener<LeaderboardResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'leaderboardId' is set
    if (leaderboardId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'leaderboardId' when calling updateLeaderboard",
        new ApiException(400, "Missing the required parameter 'leaderboardId' when calling updateLeaderboard"));
    }

    // create path and map variables
    String path = "/leaderboard/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardId", leaderboardId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rankType", rankType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "leaderboardMode", leaderboardMode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconMedia", iconMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "iconAssetId", iconAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bannerMedia", bannerMedia));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "bannerAssetId", bannerAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limitation", limitation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((LeaderboardResponse) ApiInvoker.deserialize(localVarResponse,  "", LeaderboardResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
