/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.util.*;
import org.openapitools.client.model.ListingFullResponse;
import org.openapitools.client.model.ListingGroupResponse;
import org.openapitools.client.model.ListingResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class ListingApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create Listing
  * Creates a listing.
   * @param accountId the user&#39;s account ID
   * @param name the name of the listing
   * @param filterIds comma separated list of filter IDs
   * @param description the description of the listing
   * @param start the start date of the listing
   * @param end the end date of the listing
   * @param locationName the name of the location the listing will be held at
   * @param locationDescription the description of the location the listing will be held at
   * @param isPrivate determines whether the listing is public or private
   * @param externalId external identifier used by a third party
   * @param externalId2 secondary external identifier used by a third party
   * @param externalGroupId external group identifier used by a third party
   * @param active Sets the active flag
   * @param metaData external custom client defined data
   * @return ListingFullResponse
  */
  public ListingFullResponse createListing (Long accountId, String name, String filterIds, String description, Long start, Long end, String locationName, String locationDescription, Boolean isPrivate, String externalId, String externalId2, String externalGroupId, Boolean active, String metaData) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createListing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createListing"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createListing",
        new ApiException(400, "Missing the required parameter 'name' when calling createListing"));
    }

    // create path and map variables
    String path = "/listing/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "end", end));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationName", locationName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isPrivate", isPrivate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId2", externalId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalGroupId", externalGroupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListingFullResponse) ApiInvoker.deserialize(localVarResponse, "", ListingFullResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Listing
   * Creates a listing.
   * @param accountId the user&#39;s account ID   * @param name the name of the listing   * @param filterIds comma separated list of filter IDs   * @param description the description of the listing   * @param start the start date of the listing   * @param end the end date of the listing   * @param locationName the name of the location the listing will be held at   * @param locationDescription the description of the location the listing will be held at   * @param isPrivate determines whether the listing is public or private   * @param externalId external identifier used by a third party   * @param externalId2 secondary external identifier used by a third party   * @param externalGroupId external group identifier used by a third party   * @param active Sets the active flag   * @param metaData external custom client defined data
  */
  public void createListing (Long accountId, String name, String filterIds, String description, Long start, Long end, String locationName, String locationDescription, Boolean isPrivate, String externalId, String externalId2, String externalGroupId, Boolean active, String metaData, final Response.Listener<ListingFullResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createListing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createListing"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createListing",
        new ApiException(400, "Missing the required parameter 'name' when calling createListing"));
    }

    // create path and map variables
    String path = "/listing/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "end", end));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationName", locationName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isPrivate", isPrivate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId2", externalId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalGroupId", externalGroupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListingFullResponse) ApiInvoker.deserialize(localVarResponse,  "", ListingFullResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Listing
  * Delete a listing.
   * @param accountId the id of the logged in user
   * @param listingId the id of the listing to delete
   * @return SirqulResponse
  */
  public SirqulResponse deleteListing (Long accountId, Long listingId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteListing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteListing"));
    }
    // verify the required parameter 'listingId' is set
    if (listingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'listingId' when calling deleteListing",
        new ApiException(400, "Missing the required parameter 'listingId' when calling deleteListing"));
    }

    // create path and map variables
    String path = "/listing/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "listingId", listingId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Listing
   * Delete a listing.
   * @param accountId the id of the logged in user   * @param listingId the id of the listing to delete
  */
  public void deleteListing (Long accountId, Long listingId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteListing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteListing"));
    }
    // verify the required parameter 'listingId' is set
    if (listingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'listingId' when calling deleteListing",
        new ApiException(400, "Missing the required parameter 'listingId' when calling deleteListing"));
    }

    // create path and map variables
    String path = "/listing/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "listingId", listingId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Listing
  * Get a listing by id.
   * @param listingId the id of the listing to get
   * @return ListingFullResponse
  */
  public ListingFullResponse getListing (Long listingId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'listingId' is set
    if (listingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'listingId' when calling getListing",
        new ApiException(400, "Missing the required parameter 'listingId' when calling getListing"));
    }

    // create path and map variables
    String path = "/listing/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "listingId", listingId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListingFullResponse) ApiInvoker.deserialize(localVarResponse, "", ListingFullResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Listing
   * Get a listing by id.
   * @param listingId the id of the listing to get
  */
  public void getListing (Long listingId, final Response.Listener<ListingFullResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'listingId' is set
    if (listingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'listingId' when calling getListing",
        new ApiException(400, "Missing the required parameter 'listingId' when calling getListing"));
    }

    // create path and map variables
    String path = "/listing/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "listingId", listingId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListingFullResponse) ApiInvoker.deserialize(localVarResponse,  "", ListingFullResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Listings
  * Search for event listings from the start time to end time
   * @param accountId the account id of the user
   * @param keyword search the event name and description for this keyword
   * @param start the record to begin the return set on
   * @param limit the number of records to return
   * @param activeOnly whether to search on active listings only
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @param startDate the start date to search from
   * @param endDate the end date to search to
   * @param categoryIds only return items of these categories
   * @param filterIds 
   * @param useListingOrderIds determines whether to use configured listing order ids
   * @param externalId external identifier used by a third party
   * @param externalId2 secondary external identifier used by a third party
   * @param externalGroupId external group identifier used by a third party
   * @return List<ListingResponse>
  */
  public List<ListingResponse> searchListing (Long accountId, String keyword, Integer start, Integer limit, Boolean activeOnly, Double latitude, Double longitude, Long startDate, Long endDate, String categoryIds, String filterIds, Boolean useListingOrderIds, String externalId, String externalId2, String externalGroupId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/listing/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "useListingOrderIds", useListingOrderIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId2", externalId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalGroupId", externalGroupId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<ListingResponse>) ApiInvoker.deserialize(localVarResponse, "array", ListingResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Listings
   * Search for event listings from the start time to end time
   * @param accountId the account id of the user   * @param keyword search the event name and description for this keyword   * @param start the record to begin the return set on   * @param limit the number of records to return   * @param activeOnly whether to search on active listings only   * @param latitude the current latitude of the user   * @param longitude the current longitude of the user   * @param startDate the start date to search from   * @param endDate the end date to search to   * @param categoryIds only return items of these categories   * @param filterIds    * @param useListingOrderIds determines whether to use configured listing order ids   * @param externalId external identifier used by a third party   * @param externalId2 secondary external identifier used by a third party   * @param externalGroupId external group identifier used by a third party
  */
  public void searchListing (Long accountId, String keyword, Integer start, Integer limit, Boolean activeOnly, Double latitude, Double longitude, Long startDate, Long endDate, String categoryIds, String filterIds, Boolean useListingOrderIds, String externalId, String externalId2, String externalGroupId, final Response.Listener<List<ListingResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/listing/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "useListingOrderIds", useListingOrderIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId2", externalId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalGroupId", externalGroupId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<ListingResponse>) ApiInvoker.deserialize(localVarResponse,  "array", ListingResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Summary Listing
  * Search for a list of summary listings from the start time up to 8 days out.
   * @param accountId the account id of the user
   * @param startDate the start date to search from
   * @param categoryIds the list of categories to search on
   * @param daysToInclude how far out to search, in days
   * @param useListingOrderIds determines whether to use configured listing order ids
   * @return List<ListingGroupResponse>
  */
  public List<ListingGroupResponse> summaryListing (Long accountId, Long startDate, String categoryIds, Integer daysToInclude, Boolean useListingOrderIds) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/listing/summary";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "daysToInclude", daysToInclude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "useListingOrderIds", useListingOrderIds));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<ListingGroupResponse>) ApiInvoker.deserialize(localVarResponse, "array", ListingGroupResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Summary Listing
   * Search for a list of summary listings from the start time up to 8 days out.
   * @param accountId the account id of the user   * @param startDate the start date to search from   * @param categoryIds the list of categories to search on   * @param daysToInclude how far out to search, in days   * @param useListingOrderIds determines whether to use configured listing order ids
  */
  public void summaryListing (Long accountId, Long startDate, String categoryIds, Integer daysToInclude, Boolean useListingOrderIds, final Response.Listener<List<ListingGroupResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/listing/summary".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "daysToInclude", daysToInclude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "useListingOrderIds", useListingOrderIds));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<ListingGroupResponse>) ApiInvoker.deserialize(localVarResponse,  "array", ListingGroupResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Listing
  * Updates a listing.
   * @param accountId the user&#39;s account ID
   * @param listingId the listing to update
   * @param filterIds comma separated list of filter IDs
   * @param name the name of the listing
   * @param description the description of the listing
   * @param start the start date of the listing
   * @param end the end date of the listing
   * @param locationName the name of the location the listing will be held at
   * @param locationDescription the description of the location the listing will be held at
   * @param isPrivate determines whether the listing is public or private
   * @param externalId external identifier used by a third party
   * @param externalId2 secondary external identifier used by a third party
   * @param externalGroupId external group identifier used by a third party
   * @param active Sets the active flag
   * @param metaData external custom client defined data
   * @return ListingFullResponse
  */
  public ListingFullResponse updateListing (Long accountId, Long listingId, String filterIds, String name, String description, Long start, Long end, String locationName, String locationDescription, Boolean isPrivate, String externalId, String externalId2, String externalGroupId, Boolean active, String metaData) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateListing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateListing"));
    }
    // verify the required parameter 'listingId' is set
    if (listingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'listingId' when calling updateListing",
        new ApiException(400, "Missing the required parameter 'listingId' when calling updateListing"));
    }

    // create path and map variables
    String path = "/listing/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "listingId", listingId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "end", end));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationName", locationName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isPrivate", isPrivate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId2", externalId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalGroupId", externalGroupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListingFullResponse) ApiInvoker.deserialize(localVarResponse, "", ListingFullResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Listing
   * Updates a listing.
   * @param accountId the user&#39;s account ID   * @param listingId the listing to update   * @param filterIds comma separated list of filter IDs   * @param name the name of the listing   * @param description the description of the listing   * @param start the start date of the listing   * @param end the end date of the listing   * @param locationName the name of the location the listing will be held at   * @param locationDescription the description of the location the listing will be held at   * @param isPrivate determines whether the listing is public or private   * @param externalId external identifier used by a third party   * @param externalId2 secondary external identifier used by a third party   * @param externalGroupId external group identifier used by a third party   * @param active Sets the active flag   * @param metaData external custom client defined data
  */
  public void updateListing (Long accountId, Long listingId, String filterIds, String name, String description, Long start, Long end, String locationName, String locationDescription, Boolean isPrivate, String externalId, String externalId2, String externalGroupId, Boolean active, String metaData, final Response.Listener<ListingFullResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateListing",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateListing"));
    }
    // verify the required parameter 'listingId' is set
    if (listingId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'listingId' when calling updateListing",
        new ApiException(400, "Missing the required parameter 'listingId' when calling updateListing"));
    }

    // create path and map variables
    String path = "/listing/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "listingId", listingId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "end", end));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationName", locationName));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationDescription", locationDescription));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isPrivate", isPrivate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId2", externalId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalGroupId", externalGroupId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListingFullResponse) ApiInvoker.deserialize(localVarResponse,  "", ListingFullResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
