/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.math.BigDecimal;
import java.util.*;
import org.openapitools.client.model.ListCountResponse;
import org.openapitools.client.model.OfferListResponse;
import org.openapitools.client.model.OfferResponse;
import org.openapitools.client.model.OfferShortResponse;
import org.openapitools.client.model.OfferTransactionResponse;
import org.openapitools.client.model.RetailerOfferResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class OfferApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Update Offer Locations
  * Batch update offer locations.
   * @param data JSON string in the following format: &#x60;&#x60;&#x60;json [{   \&quot;offerLocationId\&quot;: 1705,   \&quot;latitude\&quot;: 54.0,   \&quot;longitude\&quot;: -122.0,   \&quot;altitude\&quot;: 1.0,   \&quot;locationDetail\&quot;: \&quot;floor 1\&quot;,   \&quot;locationDescription\&quot;: \&quot;behind the Coke sign\&quot; }, {   \&quot;offerLocationId\&quot;: 1704,   \&quot;latitude\&quot;: 54.1,   \&quot;longitude\&quot;: -122.1 }] &#x60;&#x60;&#x60; 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @return SirqulResponse
  */
  public SirqulResponse batchUpdateOfferLocations (String data, String deviceId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'data' is set
    if (data == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'data' when calling batchUpdateOfferLocations",
        new ApiException(400, "Missing the required parameter 'data' when calling batchUpdateOfferLocations"));
    }

    // create path and map variables
    String path = "/retailer/offer/location/batchUpdate";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "data", data));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Offer Locations
   * Batch update offer locations.
   * @param data JSON string in the following format: &#x60;&#x60;&#x60;json [{   \&quot;offerLocationId\&quot;: 1705,   \&quot;latitude\&quot;: 54.0,   \&quot;longitude\&quot;: -122.0,   \&quot;altitude\&quot;: 1.0,   \&quot;locationDetail\&quot;: \&quot;floor 1\&quot;,   \&quot;locationDescription\&quot;: \&quot;behind the Coke sign\&quot; }, {   \&quot;offerLocationId\&quot;: 1704,   \&quot;latitude\&quot;: 54.1,   \&quot;longitude\&quot;: -122.1 }] &#x60;&#x60;&#x60;    * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)
  */
  public void batchUpdateOfferLocations (String data, String deviceId, Long accountId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'data' is set
    if (data == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'data' when calling batchUpdateOfferLocations",
        new ApiException(400, "Missing the required parameter 'data' when calling batchUpdateOfferLocations"));
    }

    // create path and map variables
    String path = "/retailer/offer/location/batchUpdate".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "data", data));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Offer
  * Create an offer and assign it to the provided retailer locations.
   * @param includeOfferLocations If true return all the offer locations associated with the offer
   * @param title The title (255 char limit)
   * @param barcodeType The bar code type {NONE, UPC, CODE_128, QR, CUSTOM_MEDIA}
   * @param noExpiration Overrides the expiration date so that the offer does not expire
   * @param availableLimit The limit of how many times the offer can be used by consumers
   * @param availableLimitPerUser The limit of how many times a user can used the same offer
   * @param addedLimit The limit of how many times the offer can be added to consumer wallets
   * @param viewLimit The limit of how many times the offer can be viewed
   * @param maxPrints The maximum number of times the offer can be printed
   * @param ticketPrice The cost of the offer in tickets
   * @param fullPrice The retail/full price cost of the offer in real currency
   * @param discountPrice The cost of the offer at a discounted price (what the consumer pays)
   * @param offerType The offer type {VOUCHER, COUPON, PRODUCT, EVENT, MEDIA, DEVICE}
   * @param specialOfferType The special offer type {ALL, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}
   * @param offerVisibility The offer visibility {PUBLIC, REWARDABLE, TRIGGERABLE}
   * @param active Sets the active flag
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id (deviceId or accountId required)
   * @param tags Custom string field for doing full-text searches
   * @param parentOfferId the parent offer id
   * @param retailerLocationIds Comma separated list of retailer location ids. This will assign the offer to these retailer locations.
   * @param offerLocations A list of json data that has offer location specific values.
   * @param subTitle The sub title (255 char limit)
   * @param details The details
   * @param subDetails A string for custom details (255 char limit)
   * @param finePrint The fine print
   * @param barcodeEntry The bar code entry string
   * @param externalRedeemOptions An external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer
   * @param externalUrl The clickUrl of the offer
   * @param externalId an external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer
   * @param ticketsRewardType The type of ticket to reward, null means default type
   * @param ticketsReward Determines how many tickets are awarded
   * @param activated The date of when the offer will be visible to consumers
   * @param expires The date of when the offer expires
   * @param ticketPriceType the type of ticket needed to buy offer
   * @param showRemaining show remaining offers available
   * @param showRedeemed show how many offers have been redeemed
   * @param replaced 
   * @param featured flag if offer is featured or not
   * @param categoryIds Comma separated list of category ids
   * @param filterIds Comma separated list of filter ids
   * @param barcodeAssetId The id of the barcode asset
   * @param imageAssetId The id of the an offer asset
   * @param imageAssetId1 The id of the an offer asset
   * @param imageAssetId2 The id of the an offer asset
   * @param imageAssetId3 The id of the an offer asset
   * @param imageAssetId4 The id of the an offer asset
   * @param imageAssetId5 The id of the an offer asset
   * @param publisher The maker of the item.
   * @param redeemableStart The redeemable start date/time of the offer.
   * @param redeemableEnd The redeemable start date/time of the offer.
   * @param brand The brand. OfferType PRODUCT only.
   * @param productType The product type. OfferType PRODUCT only.
   * @param conditionType The condition. OfferType PRODUCT only.
   * @param isbn The ISBN id. OfferType PRODUCT only.
   * @param asin The ASIN id. OfferType PRODUCT only.
   * @param catalogNumbers The list of catelog numbers, comma seperated. OfferType PRODUCT only.
   * @param department The department name. The OfferType PRODUCT only.
   * @param features The list of features, comma seperated. OfferType PRODUCT only.
   * @param minimumPrice The MAP price. OfferType PRODUCT only.
   * @param width The width of the item. OfferType PRODUCT only.
   * @param height The height of the item. OfferType PRODUCT only.
   * @param depth The depth of the item. OfferType PRODUCT only.
   * @param weight The weight of the item. OfferType PRODUCT only.
   * @param unit The unit of measurement. OfferType PRODUCT only.
   * @param studio The studio name. OfferType PRODUCT only.
   * @param parentalRating The parental control rating. OfferType PRODUCT only.
   * @param publishDate The date published. OfferType PRODUCT only.
   * @param availabilityDate The date available. OfferType PRODUCT only.
   * @param sizeId 
   * @param listingId The ID of the event listing
   * @param mediaType the media type of the offer
   * @param duration The total playing time of the media item. OfferType MEDIA only.
   * @param author The created/author of the media item. OfferType MEDIA only.
   * @param releaseDate The date/time of when the media item was originally released. OfferType MEDIA only.
   * @param collectionIds 
   * @param rebootTimeHour The reboot hour time ranging from 0 to 23
   * @param rebootTimeMinute The reboot minute time ranging from 0 to 59
   * @param idleTimeoutInSecond If the device is idle for idleTimeoutInSecond then the device should timeout
   * @param serialNumber The serial number on the device
   * @param udid The unique device id for the device
   * @param deviceType The type of the device, for example: \&quot;Kiosk\&quot;, \&quot;Beacon\&quot;.
   * @param devicePower Edysen device power level setting
   * @param deviceInterference Edysen device inteference setting
   * @param availability 
   * @param availabilitySummary 
   * @return RetailerOfferResponse
  */
  public RetailerOfferResponse createOffer (Boolean includeOfferLocations, String title, String barcodeType, Boolean noExpiration, Integer availableLimit, Integer availableLimitPerUser, Integer addedLimit, Integer viewLimit, Integer maxPrints, Long ticketPrice, Double fullPrice, Double discountPrice, String offerType, String specialOfferType, String offerVisibility, Boolean active, String deviceId, Long accountId, String tags, Long parentOfferId, String retailerLocationIds, String offerLocations, String subTitle, String details, String subDetails, String finePrint, String barcodeEntry, String externalRedeemOptions, String externalUrl, String externalId, String ticketsRewardType, Long ticketsReward, Long activated, Long expires, String ticketPriceType, Boolean showRemaining, Boolean showRedeemed, Boolean replaced, Boolean featured, String categoryIds, String filterIds, Long barcodeAssetId, Long imageAssetId, Long imageAssetId1, Long imageAssetId2, Long imageAssetId3, Long imageAssetId4, Long imageAssetId5, String publisher, Long redeemableStart, Long redeemableEnd, String brand, String productType, String conditionType, String isbn, String asin, String catalogNumbers, String department, String features, Double minimumPrice, Double width, Double height, Double depth, Double weight, String unit, String studio, String parentalRating, Long publishDate, Long availabilityDate, Long sizeId, Long listingId, String mediaType, Integer duration, String author, Long releaseDate, String collectionIds, Integer rebootTimeHour, Integer rebootTimeMinute, Integer idleTimeoutInSecond, String serialNumber, String udid, String deviceType, Double devicePower, Double deviceInterference, String availability, String availabilitySummary) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'includeOfferLocations' is set
    if (includeOfferLocations == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeOfferLocations' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'includeOfferLocations' when calling createOffer"));
    }
    // verify the required parameter 'title' is set
    if (title == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'title' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'title' when calling createOffer"));
    }
    // verify the required parameter 'barcodeType' is set
    if (barcodeType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'barcodeType' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'barcodeType' when calling createOffer"));
    }
    // verify the required parameter 'noExpiration' is set
    if (noExpiration == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'noExpiration' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'noExpiration' when calling createOffer"));
    }
    // verify the required parameter 'availableLimit' is set
    if (availableLimit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'availableLimit' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'availableLimit' when calling createOffer"));
    }
    // verify the required parameter 'availableLimitPerUser' is set
    if (availableLimitPerUser == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'availableLimitPerUser' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'availableLimitPerUser' when calling createOffer"));
    }
    // verify the required parameter 'addedLimit' is set
    if (addedLimit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'addedLimit' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'addedLimit' when calling createOffer"));
    }
    // verify the required parameter 'viewLimit' is set
    if (viewLimit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'viewLimit' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'viewLimit' when calling createOffer"));
    }
    // verify the required parameter 'maxPrints' is set
    if (maxPrints == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'maxPrints' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'maxPrints' when calling createOffer"));
    }
    // verify the required parameter 'ticketPrice' is set
    if (ticketPrice == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketPrice' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'ticketPrice' when calling createOffer"));
    }
    // verify the required parameter 'fullPrice' is set
    if (fullPrice == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'fullPrice' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'fullPrice' when calling createOffer"));
    }
    // verify the required parameter 'discountPrice' is set
    if (discountPrice == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'discountPrice' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'discountPrice' when calling createOffer"));
    }
    // verify the required parameter 'offerType' is set
    if (offerType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerType' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'offerType' when calling createOffer"));
    }
    // verify the required parameter 'specialOfferType' is set
    if (specialOfferType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'specialOfferType' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'specialOfferType' when calling createOffer"));
    }
    // verify the required parameter 'offerVisibility' is set
    if (offerVisibility == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerVisibility' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'offerVisibility' when calling createOffer"));
    }
    // verify the required parameter 'active' is set
    if (active == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'active' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'active' when calling createOffer"));
    }

    // create path and map variables
    String path = "/retailer/offer/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentOfferId", parentOfferId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeOfferLocations", includeOfferLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocations", offerLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subTitle", subTitle));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "details", details));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subDetails", subDetails));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "finePrint", finePrint));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "barcodeType", barcodeType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "barcodeEntry", barcodeEntry));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalRedeemOptions", externalRedeemOptions));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalUrl", externalUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketsRewardType", ticketsRewardType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketsReward", ticketsReward));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activated", activated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "expires", expires));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "noExpiration", noExpiration));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availableLimit", availableLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availableLimitPerUser", availableLimitPerUser));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "addedLimit", addedLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "viewLimit", viewLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maxPrints", maxPrints));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketPriceType", ticketPriceType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketPrice", ticketPrice));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "fullPrice", fullPrice));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "discountPrice", discountPrice));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showRemaining", showRemaining));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showRedeemed", showRedeemed));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "replaced", replaced));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "featured", featured));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerType", offerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "specialOfferType", specialOfferType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerVisibility", offerVisibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "barcodeAssetId", barcodeAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId", imageAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId1", imageAssetId1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId2", imageAssetId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId3", imageAssetId3));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId4", imageAssetId4));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId5", imageAssetId5));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publisher", publisher));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "redeemableStart", redeemableStart));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "redeemableEnd", redeemableEnd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "brand", brand));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "productType", productType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "conditionType", conditionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isbn", isbn));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "asin", asin));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "catalogNumbers", catalogNumbers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "department", department));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "features", features));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minimumPrice", minimumPrice));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "width", width));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "height", height));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "depth", depth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "weight", weight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "unit", unit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "studio", studio));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentalRating", parentalRating));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publishDate", publishDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availabilityDate", availabilityDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sizeId", sizeId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "listingId", listingId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaType", mediaType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "duration", duration));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "author", author));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "releaseDate", releaseDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "collectionIds", collectionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rebootTimeHour", rebootTimeHour));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rebootTimeMinute", rebootTimeMinute));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "idleTimeoutInSecond", idleTimeoutInSecond));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "serialNumber", serialNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "udid", udid));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceType", deviceType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "devicePower", devicePower));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceInterference", deviceInterference));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availability", availability));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availabilitySummary", availabilitySummary));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RetailerOfferResponse) ApiInvoker.deserialize(localVarResponse, "", RetailerOfferResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Offer
   * Create an offer and assign it to the provided retailer locations.
   * @param includeOfferLocations If true return all the offer locations associated with the offer   * @param title The title (255 char limit)   * @param barcodeType The bar code type {NONE, UPC, CODE_128, QR, CUSTOM_MEDIA}   * @param noExpiration Overrides the expiration date so that the offer does not expire   * @param availableLimit The limit of how many times the offer can be used by consumers   * @param availableLimitPerUser The limit of how many times a user can used the same offer   * @param addedLimit The limit of how many times the offer can be added to consumer wallets   * @param viewLimit The limit of how many times the offer can be viewed   * @param maxPrints The maximum number of times the offer can be printed   * @param ticketPrice The cost of the offer in tickets   * @param fullPrice The retail/full price cost of the offer in real currency   * @param discountPrice The cost of the offer at a discounted price (what the consumer pays)   * @param offerType The offer type {VOUCHER, COUPON, PRODUCT, EVENT, MEDIA, DEVICE}   * @param specialOfferType The special offer type {ALL, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}   * @param offerVisibility The offer visibility {PUBLIC, REWARDABLE, TRIGGERABLE}   * @param active Sets the active flag   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id (deviceId or accountId required)   * @param tags Custom string field for doing full-text searches   * @param parentOfferId the parent offer id   * @param retailerLocationIds Comma separated list of retailer location ids. This will assign the offer to these retailer locations.   * @param offerLocations A list of json data that has offer location specific values.   * @param subTitle The sub title (255 char limit)   * @param details The details   * @param subDetails A string for custom details (255 char limit)   * @param finePrint The fine print   * @param barcodeEntry The bar code entry string   * @param externalRedeemOptions An external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer   * @param externalUrl The clickUrl of the offer   * @param externalId an external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer   * @param ticketsRewardType The type of ticket to reward, null means default type   * @param ticketsReward Determines how many tickets are awarded   * @param activated The date of when the offer will be visible to consumers   * @param expires The date of when the offer expires   * @param ticketPriceType the type of ticket needed to buy offer   * @param showRemaining show remaining offers available   * @param showRedeemed show how many offers have been redeemed   * @param replaced    * @param featured flag if offer is featured or not   * @param categoryIds Comma separated list of category ids   * @param filterIds Comma separated list of filter ids   * @param barcodeAssetId The id of the barcode asset   * @param imageAssetId The id of the an offer asset   * @param imageAssetId1 The id of the an offer asset   * @param imageAssetId2 The id of the an offer asset   * @param imageAssetId3 The id of the an offer asset   * @param imageAssetId4 The id of the an offer asset   * @param imageAssetId5 The id of the an offer asset   * @param publisher The maker of the item.   * @param redeemableStart The redeemable start date/time of the offer.   * @param redeemableEnd The redeemable start date/time of the offer.   * @param brand The brand. OfferType PRODUCT only.   * @param productType The product type. OfferType PRODUCT only.   * @param conditionType The condition. OfferType PRODUCT only.   * @param isbn The ISBN id. OfferType PRODUCT only.   * @param asin The ASIN id. OfferType PRODUCT only.   * @param catalogNumbers The list of catelog numbers, comma seperated. OfferType PRODUCT only.   * @param department The department name. The OfferType PRODUCT only.   * @param features The list of features, comma seperated. OfferType PRODUCT only.   * @param minimumPrice The MAP price. OfferType PRODUCT only.   * @param width The width of the item. OfferType PRODUCT only.   * @param height The height of the item. OfferType PRODUCT only.   * @param depth The depth of the item. OfferType PRODUCT only.   * @param weight The weight of the item. OfferType PRODUCT only.   * @param unit The unit of measurement. OfferType PRODUCT only.   * @param studio The studio name. OfferType PRODUCT only.   * @param parentalRating The parental control rating. OfferType PRODUCT only.   * @param publishDate The date published. OfferType PRODUCT only.   * @param availabilityDate The date available. OfferType PRODUCT only.   * @param sizeId    * @param listingId The ID of the event listing   * @param mediaType the media type of the offer   * @param duration The total playing time of the media item. OfferType MEDIA only.   * @param author The created/author of the media item. OfferType MEDIA only.   * @param releaseDate The date/time of when the media item was originally released. OfferType MEDIA only.   * @param collectionIds    * @param rebootTimeHour The reboot hour time ranging from 0 to 23   * @param rebootTimeMinute The reboot minute time ranging from 0 to 59   * @param idleTimeoutInSecond If the device is idle for idleTimeoutInSecond then the device should timeout   * @param serialNumber The serial number on the device   * @param udid The unique device id for the device   * @param deviceType The type of the device, for example: \&quot;Kiosk\&quot;, \&quot;Beacon\&quot;.   * @param devicePower Edysen device power level setting   * @param deviceInterference Edysen device inteference setting   * @param availability    * @param availabilitySummary 
  */
  public void createOffer (Boolean includeOfferLocations, String title, String barcodeType, Boolean noExpiration, Integer availableLimit, Integer availableLimitPerUser, Integer addedLimit, Integer viewLimit, Integer maxPrints, Long ticketPrice, Double fullPrice, Double discountPrice, String offerType, String specialOfferType, String offerVisibility, Boolean active, String deviceId, Long accountId, String tags, Long parentOfferId, String retailerLocationIds, String offerLocations, String subTitle, String details, String subDetails, String finePrint, String barcodeEntry, String externalRedeemOptions, String externalUrl, String externalId, String ticketsRewardType, Long ticketsReward, Long activated, Long expires, String ticketPriceType, Boolean showRemaining, Boolean showRedeemed, Boolean replaced, Boolean featured, String categoryIds, String filterIds, Long barcodeAssetId, Long imageAssetId, Long imageAssetId1, Long imageAssetId2, Long imageAssetId3, Long imageAssetId4, Long imageAssetId5, String publisher, Long redeemableStart, Long redeemableEnd, String brand, String productType, String conditionType, String isbn, String asin, String catalogNumbers, String department, String features, Double minimumPrice, Double width, Double height, Double depth, Double weight, String unit, String studio, String parentalRating, Long publishDate, Long availabilityDate, Long sizeId, Long listingId, String mediaType, Integer duration, String author, Long releaseDate, String collectionIds, Integer rebootTimeHour, Integer rebootTimeMinute, Integer idleTimeoutInSecond, String serialNumber, String udid, String deviceType, Double devicePower, Double deviceInterference, String availability, String availabilitySummary, final Response.Listener<RetailerOfferResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'includeOfferLocations' is set
    if (includeOfferLocations == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeOfferLocations' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'includeOfferLocations' when calling createOffer"));
    }
    // verify the required parameter 'title' is set
    if (title == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'title' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'title' when calling createOffer"));
    }
    // verify the required parameter 'barcodeType' is set
    if (barcodeType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'barcodeType' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'barcodeType' when calling createOffer"));
    }
    // verify the required parameter 'noExpiration' is set
    if (noExpiration == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'noExpiration' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'noExpiration' when calling createOffer"));
    }
    // verify the required parameter 'availableLimit' is set
    if (availableLimit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'availableLimit' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'availableLimit' when calling createOffer"));
    }
    // verify the required parameter 'availableLimitPerUser' is set
    if (availableLimitPerUser == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'availableLimitPerUser' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'availableLimitPerUser' when calling createOffer"));
    }
    // verify the required parameter 'addedLimit' is set
    if (addedLimit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'addedLimit' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'addedLimit' when calling createOffer"));
    }
    // verify the required parameter 'viewLimit' is set
    if (viewLimit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'viewLimit' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'viewLimit' when calling createOffer"));
    }
    // verify the required parameter 'maxPrints' is set
    if (maxPrints == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'maxPrints' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'maxPrints' when calling createOffer"));
    }
    // verify the required parameter 'ticketPrice' is set
    if (ticketPrice == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketPrice' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'ticketPrice' when calling createOffer"));
    }
    // verify the required parameter 'fullPrice' is set
    if (fullPrice == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'fullPrice' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'fullPrice' when calling createOffer"));
    }
    // verify the required parameter 'discountPrice' is set
    if (discountPrice == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'discountPrice' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'discountPrice' when calling createOffer"));
    }
    // verify the required parameter 'offerType' is set
    if (offerType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerType' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'offerType' when calling createOffer"));
    }
    // verify the required parameter 'specialOfferType' is set
    if (specialOfferType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'specialOfferType' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'specialOfferType' when calling createOffer"));
    }
    // verify the required parameter 'offerVisibility' is set
    if (offerVisibility == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerVisibility' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'offerVisibility' when calling createOffer"));
    }
    // verify the required parameter 'active' is set
    if (active == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'active' when calling createOffer",
        new ApiException(400, "Missing the required parameter 'active' when calling createOffer"));
    }

    // create path and map variables
    String path = "/retailer/offer/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentOfferId", parentOfferId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeOfferLocations", includeOfferLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocations", offerLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subTitle", subTitle));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "details", details));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subDetails", subDetails));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "finePrint", finePrint));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "barcodeType", barcodeType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "barcodeEntry", barcodeEntry));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalRedeemOptions", externalRedeemOptions));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalUrl", externalUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "externalId", externalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketsRewardType", ticketsRewardType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketsReward", ticketsReward));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activated", activated));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "expires", expires));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "noExpiration", noExpiration));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availableLimit", availableLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availableLimitPerUser", availableLimitPerUser));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "addedLimit", addedLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "viewLimit", viewLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maxPrints", maxPrints));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketPriceType", ticketPriceType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketPrice", ticketPrice));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "fullPrice", fullPrice));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "discountPrice", discountPrice));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showRemaining", showRemaining));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showRedeemed", showRedeemed));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "replaced", replaced));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "featured", featured));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerType", offerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "specialOfferType", specialOfferType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerVisibility", offerVisibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "barcodeAssetId", barcodeAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId", imageAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId1", imageAssetId1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId2", imageAssetId2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId3", imageAssetId3));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId4", imageAssetId4));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId5", imageAssetId5));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publisher", publisher));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "redeemableStart", redeemableStart));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "redeemableEnd", redeemableEnd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "brand", brand));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "productType", productType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "conditionType", conditionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isbn", isbn));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "asin", asin));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "catalogNumbers", catalogNumbers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "department", department));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "features", features));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minimumPrice", minimumPrice));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "width", width));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "height", height));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "depth", depth));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "weight", weight));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "unit", unit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "studio", studio));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "parentalRating", parentalRating));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publishDate", publishDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availabilityDate", availabilityDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sizeId", sizeId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "listingId", listingId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "mediaType", mediaType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "duration", duration));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "author", author));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "releaseDate", releaseDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "collectionIds", collectionIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rebootTimeHour", rebootTimeHour));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "rebootTimeMinute", rebootTimeMinute));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "idleTimeoutInSecond", idleTimeoutInSecond));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "serialNumber", serialNumber));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "udid", udid));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceType", deviceType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "devicePower", devicePower));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceInterference", deviceInterference));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availability", availability));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availabilitySummary", availabilitySummary));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RetailerOfferResponse) ApiInvoker.deserialize(localVarResponse,  "", RetailerOfferResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Offer
  * Set the deleted timestamp to current time. This effectively deletes the offer since all queries should ignore any records with a deleted time stamp.
   * @param offerId The ID of the offer to be deleted
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account used to perform the delete, must have rights to edit the offer.
   * @return SirqulResponse
  */
  public SirqulResponse deleteOffer (Long offerId, String deviceId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'offerId' is set
    if (offerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerId' when calling deleteOffer",
        new ApiException(400, "Missing the required parameter 'offerId' when calling deleteOffer"));
    }

    // create path and map variables
    String path = "/retailer/offer/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Offer
   * Set the deleted timestamp to current time. This effectively deletes the offer since all queries should ignore any records with a deleted time stamp.
   * @param offerId The ID of the offer to be deleted   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account used to perform the delete, must have rights to edit the offer.
  */
  public void deleteOffer (Long offerId, String deviceId, Long accountId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'offerId' is set
    if (offerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerId' when calling deleteOffer",
        new ApiException(400, "Missing the required parameter 'offerId' when calling deleteOffer"));
    }

    // create path and map variables
    String path = "/retailer/offer/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Offer Location
  * Set the deleted timestamp to current time. This effectively deletes the offer location since all queries should ignore any records with a deleted time stamp.
   * @param offerLocationId The ID of the offer location to be deleted
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account used to perform the delete, must have rights to edit the offer location.
   * @return SirqulResponse
  */
  public SirqulResponse deleteOfferLocation (Long offerLocationId, String deviceId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'offerLocationId' is set
    if (offerLocationId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerLocationId' when calling deleteOfferLocation",
        new ApiException(400, "Missing the required parameter 'offerLocationId' when calling deleteOfferLocation"));
    }

    // create path and map variables
    String path = "/retailer/offer/location/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocationId", offerLocationId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Offer Location
   * Set the deleted timestamp to current time. This effectively deletes the offer location since all queries should ignore any records with a deleted time stamp.
   * @param offerLocationId The ID of the offer location to be deleted   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account used to perform the delete, must have rights to edit the offer location.
  */
  public void deleteOfferLocation (Long offerLocationId, String deviceId, Long accountId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'offerLocationId' is set
    if (offerLocationId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerLocationId' when calling deleteOfferLocation",
        new ApiException(400, "Missing the required parameter 'offerLocationId' when calling deleteOfferLocation"));
    }

    // create path and map variables
    String path = "/retailer/offer/location/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocationId", offerLocationId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Offer
  * Gets the details of an offer that the user has access to.
   * @param offerId The id of the offer
   * @param includeOfferLocations 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id (deviceId or accountId required)
   * @return RetailerOfferResponse
  */
  public RetailerOfferResponse getOffer (Long offerId, Boolean includeOfferLocations, String deviceId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'offerId' is set
    if (offerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerId' when calling getOffer",
        new ApiException(400, "Missing the required parameter 'offerId' when calling getOffer"));
    }
    // verify the required parameter 'includeOfferLocations' is set
    if (includeOfferLocations == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeOfferLocations' when calling getOffer",
        new ApiException(400, "Missing the required parameter 'includeOfferLocations' when calling getOffer"));
    }

    // create path and map variables
    String path = "/retailer/offer/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeOfferLocations", includeOfferLocations));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RetailerOfferResponse) ApiInvoker.deserialize(localVarResponse, "", RetailerOfferResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Offer
   * Gets the details of an offer that the user has access to.
   * @param offerId The id of the offer   * @param includeOfferLocations    * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id (deviceId or accountId required)
  */
  public void getOffer (Long offerId, Boolean includeOfferLocations, String deviceId, Long accountId, final Response.Listener<RetailerOfferResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'offerId' is set
    if (offerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'offerId' when calling getOffer",
        new ApiException(400, "Missing the required parameter 'offerId' when calling getOffer"));
    }
    // verify the required parameter 'includeOfferLocations' is set
    if (includeOfferLocations == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeOfferLocations' when calling getOffer",
        new ApiException(400, "Missing the required parameter 'includeOfferLocations' when calling getOffer"));
    }

    // create path and map variables
    String path = "/retailer/offer/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeOfferLocations", includeOfferLocations));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RetailerOfferResponse) ApiInvoker.deserialize(localVarResponse,  "", RetailerOfferResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Offer
  * Gets offer or offer location details as a consumer.  Will check if it is a favorite if the deviceId/accountId is provided.  If the offerId is provided it will look up the main offer and ignore the the offerLocationId. If no offerId is provided then an offerLocationId must be specified.
   * @param deviceId The device id for returning account information (i.e. favorites)
   * @param accountId The account id for returning account information (i.e. favorites)
   * @param offerId The offer id (either offeLocationId or offerId must be provided)
   * @param offerLocationId The offer location id (either offeLocationId or offerId must be provided)
   * @param distance The distance of the offer from the user&#39;s current location (this is returned when the offer is searched)
   * @param latitude The latitude to calculate distance from the offer
   * @param longitude The longitude to calculate distance from the offer
   * @param includeOfferLocations Determines whether to return offer locations for the offer
   * @param includeRetailerLocations Determines whether to return the retailer location info for each offer location response (includeOfferLocations must also be true for this to work)
   * @param includeChildOffers Determines whether to include child offers in the response
   * @return OfferResponse
  */
  public OfferResponse getOfferDetails (String deviceId, Long accountId, Long offerId, Long offerLocationId, Double distance, Double latitude, Double longitude, Boolean includeOfferLocations, Boolean includeRetailerLocations, Boolean includeChildOffers) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/offer/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocationId", offerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "distance", distance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeOfferLocations", includeOfferLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeRetailerLocations", includeRetailerLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeChildOffers", includeChildOffers));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (OfferResponse) ApiInvoker.deserialize(localVarResponse, "", OfferResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Offer
   * Gets offer or offer location details as a consumer.  Will check if it is a favorite if the deviceId/accountId is provided.  If the offerId is provided it will look up the main offer and ignore the the offerLocationId. If no offerId is provided then an offerLocationId must be specified.
   * @param deviceId The device id for returning account information (i.e. favorites)   * @param accountId The account id for returning account information (i.e. favorites)   * @param offerId The offer id (either offeLocationId or offerId must be provided)   * @param offerLocationId The offer location id (either offeLocationId or offerId must be provided)   * @param distance The distance of the offer from the user&#39;s current location (this is returned when the offer is searched)   * @param latitude The latitude to calculate distance from the offer   * @param longitude The longitude to calculate distance from the offer   * @param includeOfferLocations Determines whether to return offer locations for the offer   * @param includeRetailerLocations Determines whether to return the retailer location info for each offer location response (includeOfferLocations must also be true for this to work)   * @param includeChildOffers Determines whether to include child offers in the response
  */
  public void getOfferDetails (String deviceId, Long accountId, Long offerId, Long offerLocationId, Double distance, Double latitude, Double longitude, Boolean includeOfferLocations, Boolean includeRetailerLocations, Boolean includeChildOffers, final Response.Listener<OfferResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/offer/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocationId", offerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "distance", distance));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeOfferLocations", includeOfferLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeRetailerLocations", includeRetailerLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeChildOffers", includeChildOffers));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((OfferResponse) ApiInvoker.deserialize(localVarResponse,  "", OfferResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Offers (Counts)
  * Gets the offer list counts.
   * @param latitude The latitude of where the search will center at
   * @param longitude The longitude of where the search will center at
   * @param searchRange The range of the search
   * @param distanceUnit The units to use for distance calculations (e.g. MILES, KILOMETERS)
   * @return ListCountResponse
  */
  public ListCountResponse getOfferListCounts (Double latitude, Double longitude, BigDecimal searchRange, String distanceUnit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'latitude' is set
    if (latitude == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'latitude' when calling getOfferListCounts",
        new ApiException(400, "Missing the required parameter 'latitude' when calling getOfferListCounts"));
    }
    // verify the required parameter 'longitude' is set
    if (longitude == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'longitude' when calling getOfferListCounts",
        new ApiException(400, "Missing the required parameter 'longitude' when calling getOfferListCounts"));
    }

    // create path and map variables
    String path = "/offer/lists/count";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchRange", searchRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "distanceUnit", distanceUnit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ListCountResponse) ApiInvoker.deserialize(localVarResponse, "", ListCountResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Offers (Counts)
   * Gets the offer list counts.
   * @param latitude The latitude of where the search will center at   * @param longitude The longitude of where the search will center at   * @param searchRange The range of the search   * @param distanceUnit The units to use for distance calculations (e.g. MILES, KILOMETERS)
  */
  public void getOfferListCounts (Double latitude, Double longitude, BigDecimal searchRange, String distanceUnit, final Response.Listener<ListCountResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'latitude' is set
    if (latitude == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'latitude' when calling getOfferListCounts",
        new ApiException(400, "Missing the required parameter 'latitude' when calling getOfferListCounts"));
    }
    // verify the required parameter 'longitude' is set
    if (longitude == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'longitude' when calling getOfferListCounts",
        new ApiException(400, "Missing the required parameter 'longitude' when calling getOfferListCounts"));
    }

    // create path and map variables
    String path = "/offer/lists/count".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchRange", searchRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "distanceUnit", distanceUnit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ListCountResponse) ApiInvoker.deserialize(localVarResponse,  "", ListCountResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Offer Location
  * Gets the offer location by offer location id or udid (of a device)
   * @param offerLocationId the id of the offer location to get
   * @param udid the UDID of the device
   * @return OfferShortResponse
  */
  public OfferShortResponse getOfferLocation (Long offerLocationId, String udid) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/offer/location/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocationId", offerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "udid", udid));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (OfferShortResponse) ApiInvoker.deserialize(localVarResponse, "", OfferShortResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Offer Location
   * Gets the offer location by offer location id or udid (of a device)
   * @param offerLocationId the id of the offer location to get   * @param udid the UDID of the device
  */
  public void getOfferLocation (Long offerLocationId, String udid, final Response.Listener<OfferShortResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/offer/location/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocationId", offerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "udid", udid));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((OfferShortResponse) ApiInvoker.deserialize(localVarResponse,  "", OfferShortResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Offer Locations
  * Searches on offer locations, which are records that represent an offer that has been assigned to a retailer location. If an offer does not have any locations assigned, then it will NOT be returned.
   * @param sortField The column to sort the results on. Default is \&quot;TITLE\&quot;, which will sort the results by the offer title. Possible input values: {CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, RETAILER_ID,RETAILER_LOCATION_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}
   * @param descending The order to return the results. Default is false, which will return the results in ascending order.
   * @param start The index into the record set to start with. Default is 0.
   * @param limit The total number of records to return. Default is 20.
   * @param activeOnly Determines whether to return only active results. Default is false.
   * @param includeRetailerLocation 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param keyword The keyword used to search
   * @param retailerId Filter results for a specific retailer
   * @param retailerLocationId Filter results for a specific retailer location
   * @param offerType Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
   * @param specialOfferType Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
   * @param barcodeType 
   * @param barcodeEntry 
   * @param isbn 
   * @param asin 
   * @param deviceStatus Edysen device status, running, warning, or down
   * @param needsNotificationSent 
   * @param lastNotificationSent 
   * @return List<OfferShortResponse>
  */
  public List<OfferShortResponse> getOfferLocationsForRetailers (String sortField, Boolean descending, Integer start, Integer limit, Boolean activeOnly, Boolean includeRetailerLocation, String deviceId, Long accountId, String keyword, Long retailerId, Long retailerLocationId, String offerType, String specialOfferType, String barcodeType, String barcodeEntry, String isbn, String asin, String deviceStatus, Boolean needsNotificationSent, Long lastNotificationSent) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling getOfferLocationsForRetailers",
        new ApiException(400, "Missing the required parameter 'sortField' when calling getOfferLocationsForRetailers"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling getOfferLocationsForRetailers",
        new ApiException(400, "Missing the required parameter 'descending' when calling getOfferLocationsForRetailers"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling getOfferLocationsForRetailers",
        new ApiException(400, "Missing the required parameter 'start' when calling getOfferLocationsForRetailers"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getOfferLocationsForRetailers",
        new ApiException(400, "Missing the required parameter 'limit' when calling getOfferLocationsForRetailers"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling getOfferLocationsForRetailers",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling getOfferLocationsForRetailers"));
    }
    // verify the required parameter 'includeRetailerLocation' is set
    if (includeRetailerLocation == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'includeRetailerLocation' when calling getOfferLocationsForRetailers",
        new ApiException(400, "Missing the required parameter 'includeRetailerLocation' when calling getOfferLocationsForRetailers"));
    }

    // create path and map variables
    String path = "/retailer/offer/location/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerType", offerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "specialOfferType", specialOfferType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeRetailerLocation", includeRetailerLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "barcodeType", barcodeType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "barcodeEntry", barcodeEntry));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "isbn", isbn));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "asin", asin));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceStatus", deviceStatus));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "needsNotificationSent", needsNotificationSent));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "lastNotificationSent", lastNotificationSent));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<OfferShortResponse>) ApiInvoker.deserialize(localVarResponse, "array", OfferShortResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Offer Locations
   * Searches on offer locations, which are records that represent an offer that has been assigned to a retailer location. If an offer does not have any locations assigned, then it will NOT be returned.
   * @param sortField The column to sort the results on. Default is \&quot;TITLE\&quot;, which will sort the results by the offer title. Possible input values: {CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, RETAILER_ID,RETAILER_LOCATION_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}   * @param descending The order to return the results. Default is false, which will return the results in ascending order.   * @param start The index into the record set to start with. Default is 0.   * @param limit The total number of records to return. Default is 20.   * @param activeOnly Determines whether to return only active results. Default is false.   * @param includeRetailerLocation    * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param keyword The keyword used to search   * @param retailerId Filter results for a specific retailer   * @param retailerLocationId Filter results for a specific retailer location   * @param offerType Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers   * @param specialOfferType Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials   * @param barcodeType    * @param barcodeEntry    * @param isbn    * @param asin    * @param deviceStatus Edysen device status, running, warning, or down   * @param needsNotificationSent    * @param lastNotificationSent 
  */
  public void getOfferLocationsForRetailers (String sortField, Boolean descending, Integer start, Integer limit, Boolean activeOnly, Boolean includeRetailerLocation, String deviceId, Long accountId, String keyword, Long retailerId, Long retailerLocationId, String offerType, String specialOfferType, String barcodeType, String barcodeEntry, String isbn, String asin, String deviceStatus, Boolean needsNotificationSent, Long lastNotificationSent, final Response.Listener<List<OfferShortResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'sortField' is set
[...]
