/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.util.*;
import org.openapitools.client.model.QuestionResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class QuestionApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create Question
  * Create a question and related answers by the given params.
   * @param accountId the id of the logged in user
   * @param question the text of the question
   * @param answers &#x60;&#x60;&#x60;json [   {     \&quot;text\&quot;: \&quot;1942\&quot;,     \&quot;image\&quot;: 123,     \&quot;videoURL\&quot;: \&quot;http://www.here.com\&quot;,     \&quot;correct\&quot;: true   },   {     \&quot;text\&quot;: \&quot;1943\&quot;,     \&quot;image\&quot;: 124,     \&quot;videoURL\&quot;: \&quot;http://www.there.com\&quot;,     \&quot;correct\&quot;: false   } ] &#x60;&#x60;&#x60; 
   * @param active If true set the question to active. Default to false.
   * @param allocateTickets If true then scoring will give tickets. Default to false.
   * @param ticketCount The number of tickets to reward
   * @param tags The tags of the question for search.
   * @param videoURL The video link for the question.
   * @param assetId The asset id of the question.
   * @param ticketType The type of ticket to reward, null means default type
   * @param points The number of points to award for completing a mission
   * @return QuestionResponse
  */
  public QuestionResponse createQuestion (Long accountId, String question, String answers, Boolean active, Boolean allocateTickets, Long ticketCount, String tags, String videoURL, Long assetId, String ticketType, Long points) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createQuestion"));
    }
    // verify the required parameter 'question' is set
    if (question == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'question' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'question' when calling createQuestion"));
    }
    // verify the required parameter 'answers' is set
    if (answers == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'answers' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'answers' when calling createQuestion"));
    }
    // verify the required parameter 'active' is set
    if (active == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'active' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'active' when calling createQuestion"));
    }
    // verify the required parameter 'allocateTickets' is set
    if (allocateTickets == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'allocateTickets' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'allocateTickets' when calling createQuestion"));
    }
    // verify the required parameter 'ticketCount' is set
    if (ticketCount == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketCount' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'ticketCount' when calling createQuestion"));
    }

    // create path and map variables
    String path = "/game/question/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "question", question));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "answers", answers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "videoURL", videoURL));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketCount", ticketCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "points", points));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (QuestionResponse) ApiInvoker.deserialize(localVarResponse, "", QuestionResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Question
   * Create a question and related answers by the given params.
   * @param accountId the id of the logged in user   * @param question the text of the question   * @param answers &#x60;&#x60;&#x60;json [   {     \&quot;text\&quot;: \&quot;1942\&quot;,     \&quot;image\&quot;: 123,     \&quot;videoURL\&quot;: \&quot;http://www.here.com\&quot;,     \&quot;correct\&quot;: true   },   {     \&quot;text\&quot;: \&quot;1943\&quot;,     \&quot;image\&quot;: 124,     \&quot;videoURL\&quot;: \&quot;http://www.there.com\&quot;,     \&quot;correct\&quot;: false   } ] &#x60;&#x60;&#x60;    * @param active If true set the question to active. Default to false.   * @param allocateTickets If true then scoring will give tickets. Default to false.   * @param ticketCount The number of tickets to reward   * @param tags The tags of the question for search.   * @param videoURL The video link for the question.   * @param assetId The asset id of the question.   * @param ticketType The type of ticket to reward, null means default type   * @param points The number of points to award for completing a mission
  */
  public void createQuestion (Long accountId, String question, String answers, Boolean active, Boolean allocateTickets, Long ticketCount, String tags, String videoURL, Long assetId, String ticketType, Long points, final Response.Listener<QuestionResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createQuestion"));
    }
    // verify the required parameter 'question' is set
    if (question == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'question' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'question' when calling createQuestion"));
    }
    // verify the required parameter 'answers' is set
    if (answers == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'answers' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'answers' when calling createQuestion"));
    }
    // verify the required parameter 'active' is set
    if (active == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'active' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'active' when calling createQuestion"));
    }
    // verify the required parameter 'allocateTickets' is set
    if (allocateTickets == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'allocateTickets' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'allocateTickets' when calling createQuestion"));
    }
    // verify the required parameter 'ticketCount' is set
    if (ticketCount == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketCount' when calling createQuestion",
        new ApiException(400, "Missing the required parameter 'ticketCount' when calling createQuestion"));
    }

    // create path and map variables
    String path = "/game/question/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "question", question));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "answers", answers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "videoURL", videoURL));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketCount", ticketCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "points", points));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((QuestionResponse) ApiInvoker.deserialize(localVarResponse,  "", QuestionResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Question
  * Delete a question by the given questionId. The accountId given needs to be the owner or executive to delete.
   * @param questionId the id of the question to delete
   * @param accountId the id of the account that can execute this request
   * @return SirqulResponse
  */
  public SirqulResponse deleteQuestion (Long questionId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'questionId' is set
    if (questionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'questionId' when calling deleteQuestion",
        new ApiException(400, "Missing the required parameter 'questionId' when calling deleteQuestion"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteQuestion",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteQuestion"));
    }

    // create path and map variables
    String path = "/game/question/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "questionId", questionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Question
   * Delete a question by the given questionId. The accountId given needs to be the owner or executive to delete.
   * @param questionId the id of the question to delete   * @param accountId the id of the account that can execute this request
  */
  public void deleteQuestion (Long questionId, Long accountId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'questionId' is set
    if (questionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'questionId' when calling deleteQuestion",
        new ApiException(400, "Missing the required parameter 'questionId' when calling deleteQuestion"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteQuestion",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteQuestion"));
    }

    // create path and map variables
    String path = "/game/question/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "questionId", questionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Question
  * Get a question by the given id.
   * @param questionId the id of the question to get
   * @param accountId the id of the account that can make this request
   * @return QuestionResponse
  */
  public QuestionResponse getQuestion (Long questionId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'questionId' is set
    if (questionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'questionId' when calling getQuestion",
        new ApiException(400, "Missing the required parameter 'questionId' when calling getQuestion"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getQuestion",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getQuestion"));
    }

    // create path and map variables
    String path = "/game/question/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "questionId", questionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (QuestionResponse) ApiInvoker.deserialize(localVarResponse, "", QuestionResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Question
   * Get a question by the given id.
   * @param questionId the id of the question to get   * @param accountId the id of the account that can make this request
  */
  public void getQuestion (Long questionId, Long accountId, final Response.Listener<QuestionResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'questionId' is set
    if (questionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'questionId' when calling getQuestion",
        new ApiException(400, "Missing the required parameter 'questionId' when calling getQuestion"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getQuestion",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getQuestion"));
    }

    // create path and map variables
    String path = "/game/question/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "questionId", questionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((QuestionResponse) ApiInvoker.deserialize(localVarResponse,  "", QuestionResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Questions
  * Search for questions by the given params.
   * @param accountId The logged in user.
   * @param sortField The column to sort the search on
   * @param descending The order to return the search results
   * @param activeOnly Return only active results if set to true.
   * @param start The record to begin the return set on.
   * @param limit The number of records to return.
   * @param keyword The keyword for searching questions with matching tags or question text.
   * @return List<QuestionResponse>
  */
  public List<QuestionResponse> searchQuestions (Long accountId, String sortField, Boolean descending, Boolean activeOnly, Integer start, Integer limit, String keyword) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchQuestions"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'sortField' when calling searchQuestions"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'descending' when calling searchQuestions"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling searchQuestions"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'start' when calling searchQuestions"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'limit' when calling searchQuestions"));
    }

    // create path and map variables
    String path = "/game/question/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<QuestionResponse>) ApiInvoker.deserialize(localVarResponse, "array", QuestionResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Questions
   * Search for questions by the given params.
   * @param accountId The logged in user.   * @param sortField The column to sort the search on   * @param descending The order to return the search results   * @param activeOnly Return only active results if set to true.   * @param start The record to begin the return set on.   * @param limit The number of records to return.   * @param keyword The keyword for searching questions with matching tags or question text.
  */
  public void searchQuestions (Long accountId, String sortField, Boolean descending, Boolean activeOnly, Integer start, Integer limit, String keyword, final Response.Listener<List<QuestionResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchQuestions"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'sortField' when calling searchQuestions"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'descending' when calling searchQuestions"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling searchQuestions"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'start' when calling searchQuestions"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling searchQuestions",
        new ApiException(400, "Missing the required parameter 'limit' when calling searchQuestions"));
    }

    // create path and map variables
    String path = "/game/question/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<QuestionResponse>) ApiInvoker.deserialize(localVarResponse,  "array", QuestionResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Question
  * Update a question and related answers.
   * @param questionId The id of the question to update.
   * @param accountId The logged in user.
   * @param ticketCount The number of tickets to reward
   * @param question The text of the question.
   * @param answers The json representations of answers for the question.
   * @param tags The tags of the question for search.
   * @param videoURL The video link for the question.
   * @param assetId The asset id of the question.
   * @param active If true set the question to active.
   * @param allocateTickets If true then scoring will give tickets.
   * @param ticketType The type of ticket to reward, null means default type
   * @param points The number of points to award for completing a mission
   * @return QuestionResponse
  */
  public QuestionResponse updateQuestion (Long questionId, Long accountId, Long ticketCount, String question, String answers, String tags, String videoURL, Long assetId, Boolean active, Boolean allocateTickets, String ticketType, Long points) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'questionId' is set
    if (questionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'questionId' when calling updateQuestion",
        new ApiException(400, "Missing the required parameter 'questionId' when calling updateQuestion"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateQuestion",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateQuestion"));
    }
    // verify the required parameter 'ticketCount' is set
    if (ticketCount == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketCount' when calling updateQuestion",
        new ApiException(400, "Missing the required parameter 'ticketCount' when calling updateQuestion"));
    }

    // create path and map variables
    String path = "/game/question/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "questionId", questionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "question", question));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "answers", answers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "videoURL", videoURL));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketCount", ticketCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "points", points));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (QuestionResponse) ApiInvoker.deserialize(localVarResponse, "", QuestionResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Question
   * Update a question and related answers.
   * @param questionId The id of the question to update.   * @param accountId The logged in user.   * @param ticketCount The number of tickets to reward   * @param question The text of the question.   * @param answers The json representations of answers for the question.   * @param tags The tags of the question for search.   * @param videoURL The video link for the question.   * @param assetId The asset id of the question.   * @param active If true set the question to active.   * @param allocateTickets If true then scoring will give tickets.   * @param ticketType The type of ticket to reward, null means default type   * @param points The number of points to award for completing a mission
  */
  public void updateQuestion (Long questionId, Long accountId, Long ticketCount, String question, String answers, String tags, String videoURL, Long assetId, Boolean active, Boolean allocateTickets, String ticketType, Long points, final Response.Listener<QuestionResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'questionId' is set
    if (questionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'questionId' when calling updateQuestion",
        new ApiException(400, "Missing the required parameter 'questionId' when calling updateQuestion"));
    }
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateQuestion",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateQuestion"));
    }
    // verify the required parameter 'ticketCount' is set
    if (ticketCount == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketCount' when calling updateQuestion",
        new ApiException(400, "Missing the required parameter 'ticketCount' when calling updateQuestion"));
    }

    // create path and map variables
    String path = "/game/question/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "questionId", questionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "question", question));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "answers", answers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "videoURL", videoURL));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketCount", ticketCount));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "points", points));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((QuestionResponse) ApiInvoker.deserialize(localVarResponse,  "", QuestionResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
