/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AvailabilityResponse;
import java.util.*;
import org.openapitools.client.model.ReservationResponse;
import org.openapitools.client.model.TimeSlotResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class ReservationApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create Reservation
  * Creates a reservation on an offer object
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param startDate The start date
   * @param endDate The end date
   * @param offerId The id of the offer being added (offerId or offeLocationId required)
   * @param offerLocationId The id of the offer location being added (offerId or offeLocationId required)
   * @param appKey The application requesting the reservation
   * @param metaData External custom client defined data
   * @return void
  */
  public void createReservation (String deviceId, Long accountId, Long startDate, Long endDate, Long offerId, Long offerLocationId, String appKey, String metaData) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/reservation/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocationId", offerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Reservation
   * Creates a reservation on an offer object
   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param startDate The start date   * @param endDate The end date   * @param offerId The id of the offer being added (offerId or offeLocationId required)   * @param offerLocationId The id of the offer location being added (offerId or offeLocationId required)   * @param appKey The application requesting the reservation   * @param metaData External custom client defined data
  */
  public void createReservation (String deviceId, Long accountId, Long startDate, Long endDate, Long offerId, Long offerLocationId, String appKey, String metaData, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/reservation/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerId", offerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerLocationId", offerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Reservation
  * Deleted a reservation on a reservation object
   * @param reservationId The reservation id
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @return void
  */
  public void deleteReservation (Long reservationId, String deviceId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'reservationId' is set
    if (reservationId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservationId' when calling deleteReservation",
        new ApiException(400, "Missing the required parameter 'reservationId' when calling deleteReservation"));
    }

    // create path and map variables
    String path = "/reservation/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservationId", reservationId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Reservation
   * Deleted a reservation on a reservation object
   * @param reservationId The reservation id   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)
  */
  public void deleteReservation (Long reservationId, String deviceId, Long accountId, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'reservationId' is set
    if (reservationId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservationId' when calling deleteReservation",
        new ApiException(400, "Missing the required parameter 'reservationId' when calling deleteReservation"));
    }

    // create path and map variables
    String path = "/reservation/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservationId", reservationId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Availability
  * 
   * @param reservableId the id of the reservation
   * @param reservableType the type of reservation
   * @param deviceId the device id of the reservation
   * @param accountId the id of the logged in user
   * @param availability Availability
   * @param availabilitySummary Availability Summary
   * @return List<AvailabilityResponse>
  */
  public List<AvailabilityResponse> reservableAvailability (Long reservableId, String reservableType, String deviceId, Long accountId, String availability, String availabilitySummary) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'reservableId' is set
    if (reservableId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableId' when calling reservableAvailability",
        new ApiException(400, "Missing the required parameter 'reservableId' when calling reservableAvailability"));
    }
    // verify the required parameter 'reservableType' is set
    if (reservableType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableType' when calling reservableAvailability",
        new ApiException(400, "Missing the required parameter 'reservableType' when calling reservableAvailability"));
    }

    // create path and map variables
    String path = "/reservable/availability/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableId", reservableId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableType", reservableType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availability", availability));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availabilitySummary", availabilitySummary));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AvailabilityResponse>) ApiInvoker.deserialize(localVarResponse, "array", AvailabilityResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Availability
   * 
   * @param reservableId the id of the reservation   * @param reservableType the type of reservation   * @param deviceId the device id of the reservation   * @param accountId the id of the logged in user   * @param availability Availability   * @param availabilitySummary Availability Summary
  */
  public void reservableAvailability (Long reservableId, String reservableType, String deviceId, Long accountId, String availability, String availabilitySummary, final Response.Listener<List<AvailabilityResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'reservableId' is set
    if (reservableId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableId' when calling reservableAvailability",
        new ApiException(400, "Missing the required parameter 'reservableId' when calling reservableAvailability"));
    }
    // verify the required parameter 'reservableType' is set
    if (reservableType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableType' when calling reservableAvailability",
        new ApiException(400, "Missing the required parameter 'reservableType' when calling reservableAvailability"));
    }

    // create path and map variables
    String path = "/reservable/availability/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableId", reservableId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableType", reservableType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availability", availability));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availabilitySummary", availabilitySummary));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AvailabilityResponse>) ApiInvoker.deserialize(localVarResponse,  "array", AvailabilityResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Availability
  * 
   * @param reservableId the id of the reservation
   * @param reservableType the reservable type
   * @param deviceId the device ID that the reservation is on
   * @param accountId the id of the logged in user
   * @param startDate the start date of the reservation
   * @param endDate the end date of the reservation
   * @param start the start of the index and/or pagination
   * @param limit the limit of the index and/or pagination
   * @return List<AvailabilityResponse>
  */
  public List<AvailabilityResponse> searchAvailability (Long reservableId, String reservableType, String deviceId, Long accountId, Long startDate, Long endDate, Integer start, Integer limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'reservableId' is set
    if (reservableId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableId' when calling searchAvailability",
        new ApiException(400, "Missing the required parameter 'reservableId' when calling searchAvailability"));
    }
    // verify the required parameter 'reservableType' is set
    if (reservableType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableType' when calling searchAvailability",
        new ApiException(400, "Missing the required parameter 'reservableType' when calling searchAvailability"));
    }

    // create path and map variables
    String path = "/reservable/availability/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableId", reservableId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableType", reservableType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<AvailabilityResponse>) ApiInvoker.deserialize(localVarResponse, "array", AvailabilityResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Availability
   * 
   * @param reservableId the id of the reservation   * @param reservableType the reservable type   * @param deviceId the device ID that the reservation is on   * @param accountId the id of the logged in user   * @param startDate the start date of the reservation   * @param endDate the end date of the reservation   * @param start the start of the index and/or pagination   * @param limit the limit of the index and/or pagination
  */
  public void searchAvailability (Long reservableId, String reservableType, String deviceId, Long accountId, Long startDate, Long endDate, Integer start, Integer limit, final Response.Listener<List<AvailabilityResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'reservableId' is set
    if (reservableId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableId' when calling searchAvailability",
        new ApiException(400, "Missing the required parameter 'reservableId' when calling searchAvailability"));
    }
    // verify the required parameter 'reservableType' is set
    if (reservableType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableType' when calling searchAvailability",
        new ApiException(400, "Missing the required parameter 'reservableType' when calling searchAvailability"));
    }

    // create path and map variables
    String path = "/reservable/availability/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableId", reservableId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableType", reservableType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<AvailabilityResponse>) ApiInvoker.deserialize(localVarResponse,  "array", AvailabilityResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Reservations
  * 
   * @param deviceId Device Id
   * @param appKey Appilcation Key
   * @param accountId the id of the logged in user
   * @param filterAccountId filter reservations by account ID
   * @param reservableId the reservation ID
   * @param reservableType the type of reservation
   * @param keyword the keyword to search the reservation on
   * @param startDate the start date of the reservation search
   * @param endDate the end date of the reservation search
   * @param start the start of the index and/or pagination
   * @param limit the limit of the index and/or pagination
   * @return List<ReservationResponse>
  */
  public List<ReservationResponse> searchReservations (String deviceId, String appKey, Long accountId, Long filterAccountId, Long reservableId, String reservableType, String keyword, Long startDate, Long endDate, Integer start, Integer limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/reservation/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterAccountId", filterAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableId", reservableId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableType", reservableType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<ReservationResponse>) ApiInvoker.deserialize(localVarResponse, "array", ReservationResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Reservations
   * 
   * @param deviceId Device Id   * @param appKey Appilcation Key   * @param accountId the id of the logged in user   * @param filterAccountId filter reservations by account ID   * @param reservableId the reservation ID   * @param reservableType the type of reservation   * @param keyword the keyword to search the reservation on   * @param startDate the start date of the reservation search   * @param endDate the end date of the reservation search   * @param start the start of the index and/or pagination   * @param limit the limit of the index and/or pagination
  */
  public void searchReservations (String deviceId, String appKey, Long accountId, Long filterAccountId, Long reservableId, String reservableType, String keyword, Long startDate, Long endDate, Integer start, Integer limit, final Response.Listener<List<ReservationResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/reservation/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterAccountId", filterAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableId", reservableId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableType", reservableType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<ReservationResponse>) ApiInvoker.deserialize(localVarResponse,  "array", ReservationResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Schedule
  * 
   * @param reservableId the id of the reservation
   * @param reservableType the reservation type
   * @param startDate the start date of the reservation
   * @param endDate the end date of the reservation
   * @param deviceId the id of the device that the reservation is on
   * @param accountId the id of the logged in user
   * @param timeBucketMins the length of time in minutes to search on for reservation
   * @return List<TimeSlotResponse>
  */
  public List<TimeSlotResponse> searchSchedule (Long reservableId, String reservableType, Long startDate, Long endDate, String deviceId, Long accountId, Integer timeBucketMins) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'reservableId' is set
    if (reservableId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableId' when calling searchSchedule",
        new ApiException(400, "Missing the required parameter 'reservableId' when calling searchSchedule"));
    }
    // verify the required parameter 'reservableType' is set
    if (reservableType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableType' when calling searchSchedule",
        new ApiException(400, "Missing the required parameter 'reservableType' when calling searchSchedule"));
    }
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling searchSchedule",
        new ApiException(400, "Missing the required parameter 'startDate' when calling searchSchedule"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling searchSchedule",
        new ApiException(400, "Missing the required parameter 'endDate' when calling searchSchedule"));
    }

    // create path and map variables
    String path = "/reservable/schedule/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableId", reservableId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableType", reservableType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "timeBucketMins", timeBucketMins));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<TimeSlotResponse>) ApiInvoker.deserialize(localVarResponse, "array", TimeSlotResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Schedule
   * 
   * @param reservableId the id of the reservation   * @param reservableType the reservation type   * @param startDate the start date of the reservation   * @param endDate the end date of the reservation   * @param deviceId the id of the device that the reservation is on   * @param accountId the id of the logged in user   * @param timeBucketMins the length of time in minutes to search on for reservation
  */
  public void searchSchedule (Long reservableId, String reservableType, Long startDate, Long endDate, String deviceId, Long accountId, Integer timeBucketMins, final Response.Listener<List<TimeSlotResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'reservableId' is set
    if (reservableId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableId' when calling searchSchedule",
        new ApiException(400, "Missing the required parameter 'reservableId' when calling searchSchedule"));
    }
    // verify the required parameter 'reservableType' is set
    if (reservableType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'reservableType' when calling searchSchedule",
        new ApiException(400, "Missing the required parameter 'reservableType' when calling searchSchedule"));
    }
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling searchSchedule",
        new ApiException(400, "Missing the required parameter 'startDate' when calling searchSchedule"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling searchSchedule",
        new ApiException(400, "Missing the required parameter 'endDate' when calling searchSchedule"));
    }

    // create path and map variables
    String path = "/reservable/schedule/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableId", reservableId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "reservableType", reservableType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "endDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "timeBucketMins", timeBucketMins));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<TimeSlotResponse>) ApiInvoker.deserialize(localVarResponse,  "array", TimeSlotResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
