/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.io.File;
import java.util.*;
import org.openapitools.client.model.RetailerLocationResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class RetailerLocationApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create Retailer Location (Consumer)
  * Creates a location record for an application that can support crowd sourced locations.
   * @param appKey the application key
   * @param name The name of the retailer location
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param streetAddress The street address of the retailer location
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param city The city of the retailer location
   * @param state The state of the retailer location
   * @param postalCode The postal code of the retailer location
   * @param country the country of the retailer location
   * @param businessPhone The business phone
   * @param businessPhoneExt The business phone extension
   * @param website The website of the retailer location
   * @param email The email of the retailer location
   * @param detailsHeader A brief description about the retailer location (255 character limit)
   * @param detailsBody A detailed description about the retailer location
   * @param hours The hours of operation
   * @param tags Custom string field for doing full-text searches
   * @param logoAssetId The retailer location logo asset id
   * @param picture1AssetId An asset id
   * @param picture2AssetId An asset id
   * @param categoryIds Comma separated list of category IDs used to filter retailer locations by categories
   * @param filterIds Comma separated list of filter IDs used to filter retailer locations
   * @param metaData External custom client defined data
   * @param publicLocation Whether the location is public
   * @param active whether the retailer location created should be active or not
   * @param locationType External custom type identifier
   * @param latitude The latitude to center the search on
   * @param longitude The longitude to center the search on
   * @return RetailerLocationResponse
  */
  public RetailerLocationResponse createRetailerLocationConsumer (String appKey, String name, String deviceId, Long accountId, String streetAddress, String streetAddress2, String city, String state, String postalCode, String country, String businessPhone, String businessPhoneExt, String website, String email, String detailsHeader, String detailsBody, String hours, String tags, Long logoAssetId, Long picture1AssetId, Long picture2AssetId, String categoryIds, String filterIds, String metaData, Boolean publicLocation, Boolean active, String locationType, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling createRetailerLocationConsumer",
        new ApiException(400, "Missing the required parameter 'appKey' when calling createRetailerLocationConsumer"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createRetailerLocationConsumer",
        new ApiException(400, "Missing the required parameter 'name' when calling createRetailerLocationConsumer"));
    }

    // create path and map variables
    String path = "/location/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhoneExt", businessPhoneExt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "website", website));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "email", email));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "detailsHeader", detailsHeader));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "detailsBody", detailsBody));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hours", hours));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logoAssetId", logoAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1AssetId", picture1AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2AssetId", picture2AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicLocation", publicLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RetailerLocationResponse) ApiInvoker.deserialize(localVarResponse, "", RetailerLocationResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Retailer Location (Consumer)
   * Creates a location record for an application that can support crowd sourced locations.
   * @param appKey the application key   * @param name The name of the retailer location   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param streetAddress The street address of the retailer location   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)   * @param city The city of the retailer location   * @param state The state of the retailer location   * @param postalCode The postal code of the retailer location   * @param country the country of the retailer location   * @param businessPhone The business phone   * @param businessPhoneExt The business phone extension   * @param website The website of the retailer location   * @param email The email of the retailer location   * @param detailsHeader A brief description about the retailer location (255 character limit)   * @param detailsBody A detailed description about the retailer location   * @param hours The hours of operation   * @param tags Custom string field for doing full-text searches   * @param logoAssetId The retailer location logo asset id   * @param picture1AssetId An asset id   * @param picture2AssetId An asset id   * @param categoryIds Comma separated list of category IDs used to filter retailer locations by categories   * @param filterIds Comma separated list of filter IDs used to filter retailer locations   * @param metaData External custom client defined data   * @param publicLocation Whether the location is public   * @param active whether the retailer location created should be active or not   * @param locationType External custom type identifier   * @param latitude The latitude to center the search on   * @param longitude The longitude to center the search on
  */
  public void createRetailerLocationConsumer (String appKey, String name, String deviceId, Long accountId, String streetAddress, String streetAddress2, String city, String state, String postalCode, String country, String businessPhone, String businessPhoneExt, String website, String email, String detailsHeader, String detailsBody, String hours, String tags, Long logoAssetId, Long picture1AssetId, Long picture2AssetId, String categoryIds, String filterIds, String metaData, Boolean publicLocation, Boolean active, String locationType, Double latitude, Double longitude, final Response.Listener<RetailerLocationResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling createRetailerLocationConsumer",
        new ApiException(400, "Missing the required parameter 'appKey' when calling createRetailerLocationConsumer"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createRetailerLocationConsumer",
        new ApiException(400, "Missing the required parameter 'name' when calling createRetailerLocationConsumer"));
    }

    // create path and map variables
    String path = "/location/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhoneExt", businessPhoneExt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "website", website));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "email", email));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "detailsHeader", detailsHeader));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "detailsBody", detailsBody));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hours", hours));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logoAssetId", logoAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1AssetId", picture1AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2AssetId", picture2AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicLocation", publicLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RetailerLocationResponse) ApiInvoker.deserialize(localVarResponse,  "", RetailerLocationResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Create Retailer Location
  * Creates a location record for a retailer. Only the owner and the employees of the retailer have access to do this.
   * @param retailerId The ID of the retailer
   * @param name The name of the retailer location
   * @param streetAddress The street address of the retailer location
   * @param city The city of the retailer location
   * @param state The state of the retailer location
   * @param postalCode The postal code of the retailer location
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param country the country of the retailer location
   * @param businessPhone The business phone number of the retailer location
   * @param businessPhoneExt The business phone extension
   * @param website The website of the retailer location
   * @param email The email of the retailer location
   * @param internalId An internal identifier used by the retailer
   * @param detailsHeader A brief description about the retailer location (255 character limit)
   * @param detailsBody A detailed description about the retailer location
   * @param hours The hours of operation
   * @param logo The retailer location logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)
   * @param logoAssetId The retailer location logo asset id
   * @param picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)
   * @param picture1AssetId An asset id
   * @param picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)
   * @param picture2AssetId An asset id
   * @param categoryIds Comma separated list of category IDs used to filter retailer locations by categories
   * @param filterIds Comma separated list of filter IDs used to filter retailer locations
   * @param latitude the latitude of the retailer location
   * @param longitude the longitude of the retailer location
   * @param building 
   * @param googlePlaceId the ID of the Google Place that this retailer location is assigned to
   * @param yelpId the Yelp ID that this retailer location is assigned to
   * @param active whether the retailer location should be active or inactive
   * @param publicLocation Sets whether the location is public or not
   * @param locationType External custom type identifier
   * @param audienceIds Comma separated list of audience IDs used to assign audiences to the retailer location
   * @param audienceIdsToAdd Comma separated list of audience IDs to add to the retailer location
   * @param audienceIdsToRemove Comma separated list of audience IDs to remove from the retailer location
   * @param responseFormat The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
   * @param responseIncludes Comma separated list of response includes (e.g. RETAILER,ASSETS,OFFERS,CATEGORIES,FILTERS,AUDIENCES,QRCODE)
   * @return RetailerLocationResponse
  */
  public RetailerLocationResponse createRetailerLocations (Long retailerId, String name, String streetAddress, String city, String state, String postalCode, String deviceId, Long accountId, String streetAddress2, String country, String businessPhone, String businessPhoneExt, String website, String email, String internalId, String detailsHeader, String detailsBody, String hours, File logo, Long logoAssetId, File picture1, Long picture1AssetId, File picture2, Long picture2AssetId, String categoryIds, String filterIds, Double latitude, Double longitude, String building, String googlePlaceId, String yelpId, Boolean active, Boolean publicLocation, String locationType, String audienceIds, String audienceIdsToAdd, String audienceIdsToRemove, String responseFormat, String responseIncludes) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'retailerId' is set
    if (retailerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerId' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'retailerId' when calling createRetailerLocations"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'name' when calling createRetailerLocations"));
    }
    // verify the required parameter 'streetAddress' is set
    if (streetAddress == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'streetAddress' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'streetAddress' when calling createRetailerLocations"));
    }
    // verify the required parameter 'city' is set
    if (city == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'city' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'city' when calling createRetailerLocations"));
    }
    // verify the required parameter 'state' is set
    if (state == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'state' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'state' when calling createRetailerLocations"));
    }
    // verify the required parameter 'postalCode' is set
    if (postalCode == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'postalCode' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'postalCode' when calling createRetailerLocations"));
    }

    // create path and map variables
    String path = "/retailer/location/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhoneExt", businessPhoneExt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "website", website));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "email", email));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "internalId", internalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "detailsHeader", detailsHeader));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "detailsBody", detailsBody));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hours", hours));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logo", logo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logoAssetId", logoAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1", picture1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1AssetId", picture1AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2", picture2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2AssetId", picture2AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "building", building));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "googlePlaceId", googlePlaceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "yelpId", yelpId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicLocation", publicLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIds", audienceIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToAdd", audienceIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToRemove", audienceIdsToRemove));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFormat", responseFormat));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseIncludes", responseIncludes));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RetailerLocationResponse) ApiInvoker.deserialize(localVarResponse, "", RetailerLocationResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Retailer Location
   * Creates a location record for a retailer. Only the owner and the employees of the retailer have access to do this.
   * @param retailerId The ID of the retailer   * @param name The name of the retailer location   * @param streetAddress The street address of the retailer location   * @param city The city of the retailer location   * @param state The state of the retailer location   * @param postalCode The postal code of the retailer location   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)   * @param country the country of the retailer location   * @param businessPhone The business phone number of the retailer location   * @param businessPhoneExt The business phone extension   * @param website The website of the retailer location   * @param email The email of the retailer location   * @param internalId An internal identifier used by the retailer   * @param detailsHeader A brief description about the retailer location (255 character limit)   * @param detailsBody A detailed description about the retailer location   * @param hours The hours of operation   * @param logo The retailer location logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)   * @param logoAssetId The retailer location logo asset id   * @param picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)   * @param picture1AssetId An asset id   * @param picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)   * @param picture2AssetId An asset id   * @param categoryIds Comma separated list of category IDs used to filter retailer locations by categories   * @param filterIds Comma separated list of filter IDs used to filter retailer locations   * @param latitude the latitude of the retailer location   * @param longitude the longitude of the retailer location   * @param building    * @param googlePlaceId the ID of the Google Place that this retailer location is assigned to   * @param yelpId the Yelp ID that this retailer location is assigned to   * @param active whether the retailer location should be active or inactive   * @param publicLocation Sets whether the location is public or not   * @param locationType External custom type identifier   * @param audienceIds Comma separated list of audience IDs used to assign audiences to the retailer location   * @param audienceIdsToAdd Comma separated list of audience IDs to add to the retailer location   * @param audienceIdsToRemove Comma separated list of audience IDs to remove from the retailer location   * @param responseFormat The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}   * @param responseIncludes Comma separated list of response includes (e.g. RETAILER,ASSETS,OFFERS,CATEGORIES,FILTERS,AUDIENCES,QRCODE)
  */
  public void createRetailerLocations (Long retailerId, String name, String streetAddress, String city, String state, String postalCode, String deviceId, Long accountId, String streetAddress2, String country, String businessPhone, String businessPhoneExt, String website, String email, String internalId, String detailsHeader, String detailsBody, String hours, File logo, Long logoAssetId, File picture1, Long picture1AssetId, File picture2, Long picture2AssetId, String categoryIds, String filterIds, Double latitude, Double longitude, String building, String googlePlaceId, String yelpId, Boolean active, Boolean publicLocation, String locationType, String audienceIds, String audienceIdsToAdd, String audienceIdsToRemove, String responseFormat, String responseIncludes, final Response.Listener<RetailerLocationResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'retailerId' is set
    if (retailerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerId' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'retailerId' when calling createRetailerLocations"));
    }
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'name' when calling createRetailerLocations"));
    }
    // verify the required parameter 'streetAddress' is set
    if (streetAddress == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'streetAddress' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'streetAddress' when calling createRetailerLocations"));
    }
    // verify the required parameter 'city' is set
    if (city == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'city' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'city' when calling createRetailerLocations"));
    }
    // verify the required parameter 'state' is set
    if (state == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'state' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'state' when calling createRetailerLocations"));
    }
    // verify the required parameter 'postalCode' is set
    if (postalCode == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'postalCode' when calling createRetailerLocations",
        new ApiException(400, "Missing the required parameter 'postalCode' when calling createRetailerLocations"));
    }

    // create path and map variables
    String path = "/retailer/location/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhoneExt", businessPhoneExt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "website", website));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "email", email));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "internalId", internalId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "detailsHeader", detailsHeader));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "detailsBody", detailsBody));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hours", hours));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logo", logo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logoAssetId", logoAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1", picture1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1AssetId", picture1AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2", picture2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2AssetId", picture2AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "building", building));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "googlePlaceId", googlePlaceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "yelpId", yelpId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "publicLocation", publicLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIds", audienceIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToAdd", audienceIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIdsToRemove", audienceIdsToRemove));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFormat", responseFormat));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseIncludes", responseIncludes));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RetailerLocationResponse) ApiInvoker.deserialize(localVarResponse,  "", RetailerLocationResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Retailer Location
  * Set the deleted timestamp to current time. This effectively deletes the retailer location since all queries should ignore any records with a deleted time stamp.
   * @param deviceId the device id
   * @param accountId the id of the logged in user
   * @param retailerLocationId the id of the retailer location to delete
   * @return SirqulResponse
  */
  public SirqulResponse deleteRetailerLocation (String deviceId, Long accountId, Long retailerLocationId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/retailer/location/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Retailer Location
   * Set the deleted timestamp to current time. This effectively deletes the retailer location since all queries should ignore any records with a deleted time stamp.
   * @param deviceId the device id   * @param accountId the id of the logged in user   * @param retailerLocationId the id of the retailer location to delete
  */
  public void deleteRetailerLocation (String deviceId, Long accountId, Long retailerLocationId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/retailer/location/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Retailer Location
  * Gets a retailer location. Only the owner and the employees of the retailer have access to view its information.
   * @param retailerLocationId The ID of the retailer location
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param retailerLocationToken the unique token of the retailer location
   * @return RetailerLocationResponse
  */
  public RetailerLocationResponse getRetailerLocation (Long retailerLocationId, String deviceId, Long accountId, String retailerLocationToken) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'retailerLocationId' is set
    if (retailerLocationId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerLocationId' when calling getRetailerLocation",
        new ApiException(400, "Missing the required parameter 'retailerLocationId' when calling getRetailerLocation"));
    }

    // create path and map variables
    String path = "/retailer/location/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationToken", retailerLocationToken));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RetailerLocationResponse) ApiInvoker.deserialize(localVarResponse, "", RetailerLocationResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Retailer Location
   * Gets a retailer location. Only the owner and the employees of the retailer have access to view its information.
   * @param retailerLocationId The ID of the retailer location   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param retailerLocationToken the unique token of the retailer location
  */
  public void getRetailerLocation (Long retailerLocationId, String deviceId, Long accountId, String retailerLocationToken, final Response.Listener<RetailerLocationResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'retailerLocationId' is set
    if (retailerLocationId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerLocationId' when calling getRetailerLocation",
        new ApiException(400, "Missing the required parameter 'retailerLocationId' when calling getRetailerLocation"));
    }

    // create path and map variables
    String path = "/retailer/location/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationToken", retailerLocationToken));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RetailerLocationResponse) ApiInvoker.deserialize(localVarResponse,  "", RetailerLocationResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Retailer Location (Consumer)
  * Gets the details of a retailer location as a consumer.
   * @param retailerLocationId The retailer location id
   * @param deviceId The device id for returning account information (i.e. favorites)
   * @param accountId The account id for returning account information (i.e. favorites)
   * @return RetailerLocationResponse
  */
  public RetailerLocationResponse getRetailerLocationConsumer (Long retailerLocationId, String deviceId, Long accountId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'retailerLocationId' is set
    if (retailerLocationId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerLocationId' when calling getRetailerLocationConsumer",
        new ApiException(400, "Missing the required parameter 'retailerLocationId' when calling getRetailerLocationConsumer"));
    }

    // create path and map variables
    String path = "/location/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RetailerLocationResponse) ApiInvoker.deserialize(localVarResponse, "", RetailerLocationResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Retailer Location (Consumer)
   * Gets the details of a retailer location as a consumer.
   * @param retailerLocationId The retailer location id   * @param deviceId The device id for returning account information (i.e. favorites)   * @param accountId The account id for returning account information (i.e. favorites)
  */
  public void getRetailerLocationConsumer (Long retailerLocationId, String deviceId, Long accountId, final Response.Listener<RetailerLocationResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'retailerLocationId' is set
    if (retailerLocationId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerLocationId' when calling getRetailerLocationConsumer",
        new ApiException(400, "Missing the required parameter 'retailerLocationId' when calling getRetailerLocationConsumer"));
    }

    // create path and map variables
    String path = "/location/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationId", retailerLocationId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RetailerLocationResponse) ApiInvoker.deserialize(localVarResponse,  "", RetailerLocationResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Distance Search Retailer Locations (Indexed)
  * Retailer location indexed search by distance. This searches on any retailer location with location data and returns the results sorted by distance.
   * @param latitude The latitude to center the search on
   * @param longitude The longitude to center the search on
   * @param searchRange The search range in the distanceUnit specified; default is MILES.
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param accountId The account id of the user
   * @param address Used to return results using this address as the center
   * @param hasOffers boolean to indicate whether to include retailer locations that have no offers
   * @param categories Comma separate list of category ids
   * @param filters Comma separated list of filter ids
   * @param audiences Comma separated list of audience ids
   * @param retailerIds Comma separated list of retailer ids
   * @param retailerLocationIds Comma separated list of retailer location ids
   * @param tags Does a full-text search on tags
   * @param locationType Location type filter
   * @param sortField The field to sort the result set on. Possible values include: DISTANCE, RETAILER_NAME, RETAILER_LOCATION_NAME
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param q This parameter is deprecated.
   * @param keyword Search by keyword
   * @param keywordOperator Determines the operator used when there are multiple words in the &#39;keyword&#39; parameter
   * @param searchExpression Search expression to further refine results
   * @param distanceUnit Unit of distance
   * @param returnFavorited (deprecated) return favorited flag
   * @param returnRetailer Return retailer info
   * @param returnAssets Return assets
   * @param returnOffers Return offers
   * @param returnCategories Return categories
   * @param returnFilters Return filters
   * @param returnAudiences Return audiences
   * @param returnQrCode Return QR code info
   * @param returnExternalCategoryData Return external category data
   * @param includeFavorite Include favorites in response
   * @param includeLiked Include liked flag in response
   * @param includeRating Include rating info in response
   * @return List<RetailerLocationResponse>
  */
  public List<RetailerLocationResponse> indexedRetailerLocationDistanceSearch (Double latitude, Double longitude, Double searchRange, Integer start, Integer limit, Long accountId, String address, Boolean hasOffers, String categories, String filters, String audiences, String retailerIds, String retailerLocationIds, String tags, String locationType, String sortField, Boolean descending, String q, String keyword, String keywordOperator, String searchExpression, String distanceUnit, Boolean returnFavorited, Boolean returnRetailer, Boolean returnAssets, Boolean returnOffers, Boolean returnCategories, Boolean returnFilters, Boolean returnAudiences, Boolean returnQrCode, Boolean returnExternalCategoryData, Boolean includeFavorite, Boolean includeLiked, Boolean includeRating) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'latitude' is set
    if (latitude == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'latitude' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'latitude' when calling indexedRetailerLocationDistanceSearch"));
    }
    // verify the required parameter 'longitude' is set
    if (longitude == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'longitude' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'longitude' when calling indexedRetailerLocationDistanceSearch"));
    }
    // verify the required parameter 'searchRange' is set
    if (searchRange == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'searchRange' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'searchRange' when calling indexedRetailerLocationDistanceSearch"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'start' when calling indexedRetailerLocationDistanceSearch"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'limit' when calling indexedRetailerLocationDistanceSearch"));
    }

    // create path and map variables
    String path = "/retailer/location/idistancesearch";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "address", address));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchRange", searchRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hasOffers", hasOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categories", categories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filters", filters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audiences", audiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerIds", retailerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keywordOperator", keywordOperator));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchExpression", searchExpression));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "distanceUnit", distanceUnit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnFavorited", returnFavorited));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnRetailer", returnRetailer));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAssets", returnAssets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnOffers", returnOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnCategories", returnCategories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnFilters", returnFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAudiences", returnAudiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnQrCode", returnQrCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternalCategoryData", returnExternalCategoryData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFavorite", includeFavorite));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeLiked", includeLiked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeRating", includeRating));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<RetailerLocationResponse>) ApiInvoker.deserialize(localVarResponse, "array", RetailerLocationResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Distance Search Retailer Locations (Indexed)
   * Retailer location indexed search by distance. This searches on any retailer location with location data and returns the results sorted by distance.
   * @param latitude The latitude to center the search on   * @param longitude The longitude to center the search on   * @param searchRange The search range in the distanceUnit specified; default is MILES.   * @param start The start index for pagination   * @param limit The limit for pagination   * @param accountId The account id of the user   * @param address Used to return results using this address as the center   * @param hasOffers boolean to indicate whether to include retailer locations that have no offers   * @param categories Comma separate list of category ids   * @param filters Comma separated list of filter ids   * @param audiences Comma separated list of audience ids   * @param retailerIds Comma separated list of retailer ids   * @param retailerLocationIds Comma separated list of retailer location ids   * @param tags Does a full-text search on tags   * @param locationType Location type filter   * @param sortField The field to sort the result set on. Possible values include: DISTANCE, RETAILER_NAME, RETAILER_LOCATION_NAME   * @param descending Determines whether the sorted list is in descending or ascending order   * @param q This parameter is deprecated.   * @param keyword Search by keyword   * @param keywordOperator Determines the operator used when there are multiple words in the &#39;keyword&#39; parameter   * @param searchExpression Search expression to further refine results   * @param distanceUnit Unit of distance   * @param returnFavorited (deprecated) return favorited flag   * @param returnRetailer Return retailer info   * @param returnAssets Return assets   * @param returnOffers Return offers   * @param returnCategories Return categories   * @param returnFilters Return filters   * @param returnAudiences Return audiences   * @param returnQrCode Return QR code info   * @param returnExternalCategoryData Return external category data   * @param includeFavorite Include favorites in response   * @param includeLiked Include liked flag in response   * @param includeRating Include rating info in response
  */
  public void indexedRetailerLocationDistanceSearch (Double latitude, Double longitude, Double searchRange, Integer start, Integer limit, Long accountId, String address, Boolean hasOffers, String categories, String filters, String audiences, String retailerIds, String retailerLocationIds, String tags, String locationType, String sortField, Boolean descending, String q, String keyword, String keywordOperator, String searchExpression, String distanceUnit, Boolean returnFavorited, Boolean returnRetailer, Boolean returnAssets, Boolean returnOffers, Boolean returnCategories, Boolean returnFilters, Boolean returnAudiences, Boolean returnQrCode, Boolean returnExternalCategoryData, Boolean includeFavorite, Boolean includeLiked, Boolean includeRating, final Response.Listener<List<RetailerLocationResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'latitude' is set
    if (latitude == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'latitude' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'latitude' when calling indexedRetailerLocationDistanceSearch"));
    }
    // verify the required parameter 'longitude' is set
    if (longitude == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'longitude' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'longitude' when calling indexedRetailerLocationDistanceSearch"));
    }
    // verify the required parameter 'searchRange' is set
    if (searchRange == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'searchRange' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'searchRange' when calling indexedRetailerLocationDistanceSearch"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'start' when calling indexedRetailerLocationDistanceSearch"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling indexedRetailerLocationDistanceSearch",
        new ApiException(400, "Missing the required parameter 'limit' when calling indexedRetailerLocationDistanceSearch"));
    }

    // create path and map variables
    String path = "/retailer/location/idistancesearch".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "address", address));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchRange", searchRange));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hasOffers", hasOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categories", categories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filters", filters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audiences", audiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerIds", retailerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keywordOperator", keywordOperator));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchExpression", searchExpression));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "distanceUnit", distanceUnit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnFavorited", returnFavorited));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnRetailer", returnRetailer));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAssets", returnAssets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnOffers", returnOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnCategories", returnCategories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnFilters", returnFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAudiences", returnAudiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnQrCode", returnQrCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternalCategoryData", returnExternalCategoryData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFavorite", includeFavorite));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeLiked", includeLiked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeRating", includeRating));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<RetailerLocationResponse>) ApiInvoker.deserialize(localVarResponse,  "array", RetailerLocationResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Keyword Search Retailer Locations (Indexed)
  * Retailer location (faster) indexed search. This searches all retailer locations.
   * @param accountId The account id of the user
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param hasOffers boolean to indicate whether to include retailer locations that have no offers
   * @param categories Comma separate list of category ids
   * @param filters Comma separated list of filter ids
   * @param audiences Comma separated list of audience ids
   * @param retailerIds Comma separated list of retailer ids
   * @param retailerLocationIds Comma separated list of retailer location ids
   * @param tags Does a full-text search on tags
   * @param locationType Location type filter
   * @param sortField The field to sort the result set on. Possible values include: RETAILER_NAME, RETAILER_LOCATION_NAME
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param q This parameter is deprecated.
   * @param keyword Search by keyword
   * @param keywordOperator Determines the operator used when there are multiple words in the &#39;keyword&#39; parameter
   * @param searchExpression Search expression to further refine results
   * @param returnRetailer Return retailer info
   * @param returnAssets Return assets
   * @param returnOffers Return offers
   * @param returnCategories Return categories
   * @param returnFilters Return filters
   * @param returnAudiences Return audiences
   * @param returnQrCode Return QR code info
   * @param returnExternalCategoryData Return external category data
   * @param includeFavorite Include favorites in response
   * @param includeLiked Include liked flag in response
   * @param includeRating Include rating info in response
   * @return List<RetailerLocationResponse>
  */
  public List<RetailerLocationResponse> indexedRetailerLocationSearch (Long accountId, Integer start, Integer limit, Boolean hasOffers, String categories, String filters, String audiences, String retailerIds, String retailerLocationIds, String tags, String locationType, String sortField, Boolean descending, String q, String keyword, String keywordOperator, String searchExpression, Boolean returnRetailer, Boolean returnAssets, Boolean returnOffers, Boolean returnCategories, Boolean returnFilters, Boolean returnAudiences, Boolean returnQrCode, Boolean returnExternalCategoryData, Boolean includeFavorite, Boolean includeLiked, Boolean includeRating) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/retailer/location/isearch";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hasOffers", hasOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categories", categories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filters", filters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audiences", audiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerIds", retailerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keywordOperator", keywordOperator));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchExpression", searchExpression));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnRetailer", returnRetailer));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAssets", returnAssets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnOffers", returnOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnCategories", returnCategories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnFilters", returnFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAudiences", returnAudiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnQrCode", returnQrCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternalCategoryData", returnExternalCategoryData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFavorite", includeFavorite));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeLiked", includeLiked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeRating", includeRating));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<RetailerLocationResponse>) ApiInvoker.deserialize(localVarResponse, "array", RetailerLocationResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Keyword Search Retailer Locations (Indexed)
   * Retailer location (faster) indexed search. This searches all retailer locations.
   * @param accountId The account id of the user   * @param start The start index for pagination   * @param limit The limit for pagination   * @param hasOffers boolean to indicate whether to include retailer locations that have no offers   * @param categories Comma separate list of category ids   * @param filters Comma separated list of filter ids   * @param audiences Comma separated list of audience ids   * @param retailerIds Comma separated list of retailer ids   * @param retailerLocationIds Comma separated list of retailer location ids   * @param tags Does a full-text search on tags   * @param locationType Location type filter   * @param sortField The field to sort the result set on. Possible values include: RETAILER_NAME, RETAILER_LOCATION_NAME   * @param descending Determines whether the sorted list is in descending or ascending order   * @param q This parameter is deprecated.   * @param keyword Search by keyword   * @param keywordOperator Determines the operator used when there are multiple words in the &#39;keyword&#39; parameter   * @param searchExpression Search expression to further refine results   * @param returnRetailer Return retailer info   * @param returnAssets Return assets   * @param returnOffers Return offers   * @param returnCategories Return categories   * @param returnFilters Return filters   * @param returnAudiences Return audiences   * @param returnQrCode Return QR code info   * @param returnExternalCategoryData Return external category data   * @param includeFavorite Include favorites in response   * @param includeLiked Include liked flag in response   * @param includeRating Include rating info in response
  */
  public void indexedRetailerLocationSearch (Long accountId, Integer start, Integer limit, Boolean hasOffers, String categories, String filters, String audiences, String retailerIds, String retailerLocationIds, String tags, String locationType, String sortField, Boolean descending, String q, String keyword, String keywordOperator, String searchExpression, Boolean returnRetailer, Boolean returnAssets, Boolean returnOffers, Boolean returnCategories, Boolean returnFilters, Boolean returnAudiences, Boolean returnQrCode, Boolean returnExternalCategoryData, Boolean includeFavorite, Boolean includeLiked, Boolean includeRating, final Response.Listener<List<RetailerLocationResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/retailer/location/isearch".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hasOffers", hasOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categories", categories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filters", filters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audiences", audiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerIds", retailerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tags", tags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keywordOperator", keywordOperator));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchExpression", searchExpression));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnRetailer", returnRetailer));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAssets", returnAssets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnOffers", returnOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnCategories", returnCategories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnFilters", returnFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAudiences", returnAudiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnQrCode", returnQrCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnExternalCategoryData", returnExternalCategoryData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFavorite", includeFavorite));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeLiked", includeLiked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeRating", includeRating));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<RetailerLocationResponse>) ApiInvoker.deserialize(localVarResponse,  "array", RetailerLocationResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Retailer Locations (Owned)
  * Searches on retailer locations that the account has access to.
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param q This parameter is deprecated.
   * @param keyword The keyword used to search
   * @param retailerIds Comma separated list of retailer IDs which when passed in will filter the results to only return these retailers.
   * @param retailerLocationIds Comma separated list of retailer location IDs
   * @param locationType Location type filter
   * @param sortField The column to sort the search on
   * @param descending The order to return the search results
   * @param i This parameter is deprecated.
   * @param start The record to begin the return set on
   * @param l This parameter is deprecated.
   * @param limit The number of records to return
   * @param showPublicLocations Whether to include public locations in the results
   * @param activeOnly Return only active results
   * @param returnRetailer Return retailer info
   * @param returnAssets Return assets
   * @param returnOffers Return offers
   * @param returnCategories Return categories
   * @param returnFilters Return filters
   * @param returnAudiences Return audiences
   * @param returnQrCode Return QR code info
   * @param includeFavorite Include favorites in response
   * @param includeLiked Include liked flag in response
   * @param includeRating Include rating info in response
   * @return List<RetailerLocationResponse>
  */
  public List<RetailerLocationResponse> searchRetailerLocations (String deviceId, Long accountId, String q, String keyword, String retailerIds, String retailerLocationIds, String locationType, String sortField, Boolean descending, Integer i, Integer start, Integer l, Integer limit, Boolean showPublicLocations, Boolean activeOnly, Boolean returnRetailer, Boolean returnAssets, Boolean returnOffers, Boolean returnCategories, Boolean returnFilters, Boolean returnAudiences, Boolean returnQrCode, Boolean includeFavorite, Boolean includeLiked, Boolean includeRating) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/retailer/location/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerIds", retailerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showPublicLocations", showPublicLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnRetailer", returnRetailer));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAssets", returnAssets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnOffers", returnOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnCategories", returnCategories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnFilters", returnFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAudiences", returnAudiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnQrCode", returnQrCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFavorite", includeFavorite));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeLiked", includeLiked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeRating", includeRating));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<RetailerLocationResponse>) ApiInvoker.deserialize(localVarResponse, "array", RetailerLocationResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Retailer Locations (Owned)
   * Searches on retailer locations that the account has access to.
   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param q This parameter is deprecated.   * @param keyword The keyword used to search   * @param retailerIds Comma separated list of retailer IDs which when passed in will filter the results to only return these retailers.   * @param retailerLocationIds Comma separated list of retailer location IDs   * @param locationType Location type filter   * @param sortField The column to sort the search on   * @param descending The order to return the search results   * @param i This parameter is deprecated.   * @param start The record to begin the return set on   * @param l This parameter is deprecated.   * @param limit The number of records to return   * @param showPublicLocations Whether to include public locations in the results   * @param activeOnly Return only active results   * @param returnRetailer Return retailer info   * @param returnAssets Return assets   * @param returnOffers Return offers   * @param returnCategories Return categories   * @param returnFilters Return filters   * @param returnAudiences Return audiences   * @param returnQrCode Return QR code info   * @param includeFavorite Include favorites in response   * @param includeLiked Include liked flag in response   * @param includeRating Include rating info in response
  */
  public void searchRetailerLocations (String deviceId, Long accountId, String q, String keyword, String retailerIds, String retailerLocationIds, String locationType, String sortField, Boolean descending, Integer i, Integer start, Integer l, Integer limit, Boolean showPublicLocations, Boolean activeOnly, Boolean returnRetailer, Boolean returnAssets, Boolean returnOffers, Boolean returnCategories, Boolean returnFilters, Boolean returnAudiences, Boolean returnQrCode, Boolean includeFavorite, Boolean includeLiked, Boolean includeRating, final Response.Listener<List<RetailerLocationResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/retailer/location/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerIds", retailerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerLocationIds", retailerLocationIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "locationType", locationType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "showPublicLocations", showPublicLocations));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnRetailer", returnRetailer));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAssets", returnAssets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnOffers", returnOffers));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnCategories", returnCategories));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnFilters", returnFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnAudiences", returnAudiences));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnQrCode", returnQrCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeFavorite", includeFavorite));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeLiked", includeLiked));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeRating", includeRating));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

[...]
