/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.AccountLoginResponse;
import java.io.File;
import java.util.*;
import org.openapitools.client.model.RetailerFullResponse;
import org.openapitools.client.model.RetailerResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class RetailerApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create Retailer
  * Create a retailer record. A billable entity must be created first before a retailer record can be made.
   * @param name The name of the retailer
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param streetAddress The street address of the retailer
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param city The city of the retailer
   * @param state The state of the retailer
   * @param postalCode The postal code of the retailer
   * @param country the country of the retailer
   * @param businessPhone The business phone number of the retailer
   * @param businessPhoneExt The business phone extension of the retailer
   * @param website The website of the retailer
   * @param email The email of the retailer
   * @param facebookUrl The facebook URL of the retailer
   * @param twitterUrl The twitter URL of the retailer
   * @param logo The retailer logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)
   * @param logoAssetId The retailer logo asset id
   * @param picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)
   * @param picture1AssetId An asset id
   * @param picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)
   * @param picture2AssetId An asset id
   * @param categoryIds Comma separated list of category IDs used to filter retailers by categories
   * @param categoryIdsToAdd Comma separated list of category IDs to add to the retailer
   * @param categoryIdsToRemove Comma separated list of category IDs to remove from the retailer
   * @param filterIds Comma separated list of filter IDs used to filter retailers
   * @param latitude the latitude of the retailer
   * @param longitude the longitude of the retailer
   * @param metaData External custom client defined data
   * @param searchTags External custom search keywords
   * @param retailerType External custom type identifier
   * @param visibility 
   * @param createDefaultLocation Determines whether to create a default location using the retailer information
   * @param responseFormat The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
   * @return RetailerFullResponse
  */
  public RetailerFullResponse createRetailer (String name, String deviceId, Long accountId, String streetAddress, String streetAddress2, String city, String state, String postalCode, String country, String businessPhone, String businessPhoneExt, String website, String email, String facebookUrl, String twitterUrl, File logo, Long logoAssetId, File picture1, Long picture1AssetId, File picture2, Long picture2AssetId, String categoryIds, String categoryIdsToAdd, String categoryIdsToRemove, String filterIds, Double latitude, Double longitude, String metaData, String searchTags, String retailerType, String visibility, Boolean createDefaultLocation, String responseFormat) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createRetailer",
        new ApiException(400, "Missing the required parameter 'name' when calling createRetailer"));
    }

    // create path and map variables
    String path = "/retailer/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhoneExt", businessPhoneExt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "website", website));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "email", email));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "facebookUrl", facebookUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "twitterUrl", twitterUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logo", logo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logoAssetId", logoAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1", picture1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1AssetId", picture1AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2", picture2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2AssetId", picture2AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIdsToAdd", categoryIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIdsToRemove", categoryIdsToRemove));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerType", retailerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "createDefaultLocation", createDefaultLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFormat", responseFormat));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RetailerFullResponse) ApiInvoker.deserialize(localVarResponse, "", RetailerFullResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Retailer
   * Create a retailer record. A billable entity must be created first before a retailer record can be made.
   * @param name The name of the retailer   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param streetAddress The street address of the retailer   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)   * @param city The city of the retailer   * @param state The state of the retailer   * @param postalCode The postal code of the retailer   * @param country the country of the retailer   * @param businessPhone The business phone number of the retailer   * @param businessPhoneExt The business phone extension of the retailer   * @param website The website of the retailer   * @param email The email of the retailer   * @param facebookUrl The facebook URL of the retailer   * @param twitterUrl The twitter URL of the retailer   * @param logo The retailer logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)   * @param logoAssetId The retailer logo asset id   * @param picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)   * @param picture1AssetId An asset id   * @param picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)   * @param picture2AssetId An asset id   * @param categoryIds Comma separated list of category IDs used to filter retailers by categories   * @param categoryIdsToAdd Comma separated list of category IDs to add to the retailer   * @param categoryIdsToRemove Comma separated list of category IDs to remove from the retailer   * @param filterIds Comma separated list of filter IDs used to filter retailers   * @param latitude the latitude of the retailer   * @param longitude the longitude of the retailer   * @param metaData External custom client defined data   * @param searchTags External custom search keywords   * @param retailerType External custom type identifier   * @param visibility    * @param createDefaultLocation Determines whether to create a default location using the retailer information   * @param responseFormat The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
  */
  public void createRetailer (String name, String deviceId, Long accountId, String streetAddress, String streetAddress2, String city, String state, String postalCode, String country, String businessPhone, String businessPhoneExt, String website, String email, String facebookUrl, String twitterUrl, File logo, Long logoAssetId, File picture1, Long picture1AssetId, File picture2, Long picture2AssetId, String categoryIds, String categoryIdsToAdd, String categoryIdsToRemove, String filterIds, Double latitude, Double longitude, String metaData, String searchTags, String retailerType, String visibility, Boolean createDefaultLocation, String responseFormat, final Response.Listener<RetailerFullResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'name' is set
    if (name == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'name' when calling createRetailer",
        new ApiException(400, "Missing the required parameter 'name' when calling createRetailer"));
    }

    // create path and map variables
    String path = "/retailer/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhoneExt", businessPhoneExt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "website", website));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "email", email));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "facebookUrl", facebookUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "twitterUrl", twitterUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logo", logo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logoAssetId", logoAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1", picture1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1AssetId", picture1AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2", picture2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2AssetId", picture2AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIdsToAdd", categoryIdsToAdd));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIdsToRemove", categoryIdsToRemove));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerType", retailerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "createDefaultLocation", createDefaultLocation));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFormat", responseFormat));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RetailerFullResponse) ApiInvoker.deserialize(localVarResponse,  "", RetailerFullResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Retailer
  * Set the deleted timestamp to current time.
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account used to perform the delete, must have rights to edit the retailer.
   * @param retailerId The ID of the retailer to be deleted
   * @return SirqulResponse
  */
  public SirqulResponse deleteRetailer (String deviceId, Long accountId, Long retailerId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/retailer/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Retailer
   * Set the deleted timestamp to current time.
   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account used to perform the delete, must have rights to edit the retailer.   * @param retailerId The ID of the retailer to be deleted
  */
  public void deleteRetailer (String deviceId, Long accountId, Long retailerId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/retailer/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Retailer
  * Gets a retailer. Only the owner and the employees of a retailer have access to view its information.
   * @param retailerId the ID of the retailer
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param includeCounts Determines whether to include counts in the response (default true)
   * @return RetailerFullResponse
  */
  public RetailerFullResponse getRetailer (Long retailerId, String deviceId, Long accountId, Boolean includeCounts) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'retailerId' is set
    if (retailerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerId' when calling getRetailer",
        new ApiException(400, "Missing the required parameter 'retailerId' when calling getRetailer"));
    }

    // create path and map variables
    String path = "/retailer/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeCounts", includeCounts));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RetailerFullResponse) ApiInvoker.deserialize(localVarResponse, "", RetailerFullResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Retailer
   * Gets a retailer. Only the owner and the employees of a retailer have access to view its information.
   * @param retailerId the ID of the retailer   * @param deviceId the device id (deviceId or accountId required)   * @param accountId the account id of the user (deviceId or accountId required)   * @param includeCounts Determines whether to include counts in the response (default true)
  */
  public void getRetailer (Long retailerId, String deviceId, Long accountId, Boolean includeCounts, final Response.Listener<RetailerFullResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'retailerId' is set
    if (retailerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerId' when calling getRetailer",
        new ApiException(400, "Missing the required parameter 'retailerId' when calling getRetailer"));
    }

    // create path and map variables
    String path = "/retailer/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeCounts", includeCounts));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RetailerFullResponse) ApiInvoker.deserialize(localVarResponse,  "", RetailerFullResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Retailers
  * earches on retailers that the account has access to.
   * @param visibility 
   * @param sortField The column to sort the search on
   * @param descending The order to return the search results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @param activeOnly Return only active results
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param q This parameter is deprecated.
   * @param keyword The keyword used to search
   * @param categoryIds the categories that the retailer is associated with
   * @param filterIds the filters that the retailer is associated with
   * @param i This parameter is deprecated.
   * @param l This parameter is deprecated.
   * @return List<RetailerResponse>
  */
  public List<RetailerResponse> getRetailers (String visibility, String sortField, Boolean descending, Integer start, Integer limit, Boolean activeOnly, String deviceId, Long accountId, String q, String keyword, String categoryIds, String filterIds, Integer i, Integer l) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'visibility' is set
    if (visibility == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'visibility' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'visibility' when calling getRetailers"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'sortField' when calling getRetailers"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'descending' when calling getRetailers"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'start' when calling getRetailers"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'limit' when calling getRetailers"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling getRetailers"));
    }

    // create path and map variables
    String path = "/retailer/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<RetailerResponse>) ApiInvoker.deserialize(localVarResponse, "array", RetailerResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Retailers
   * earches on retailers that the account has access to.
   * @param visibility    * @param sortField The column to sort the search on   * @param descending The order to return the search results   * @param start The record to begin the return set on   * @param limit The number of records to return   * @param activeOnly Return only active results   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param q This parameter is deprecated.   * @param keyword The keyword used to search   * @param categoryIds the categories that the retailer is associated with   * @param filterIds the filters that the retailer is associated with   * @param i This parameter is deprecated.   * @param l This parameter is deprecated.
  */
  public void getRetailers (String visibility, String sortField, Boolean descending, Integer start, Integer limit, Boolean activeOnly, String deviceId, Long accountId, String q, String keyword, String categoryIds, String filterIds, Integer i, Integer l, final Response.Listener<List<RetailerResponse>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'visibility' is set
    if (visibility == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'visibility' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'visibility' when calling getRetailers"));
    }
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'sortField' when calling getRetailers"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'descending' when calling getRetailers"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'start' when calling getRetailers"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'limit' when calling getRetailers"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling getRetailers",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling getRetailers"));
    }

    // create path and map variables
    String path = "/retailer/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "q", q));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_i", i));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "_l", l));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<RetailerResponse>) ApiInvoker.deserialize(localVarResponse,  "array", RetailerResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Login Retailer
  * Retailer login check.
   * @param username the user&#39;s email address they used to sign-up
   * @param password the password
   * @param deviceId the device id (optional)
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @param appKey the application key
   * @return AccountLoginResponse
  */
  public AccountLoginResponse retailerLoginCheck (String username, String password, String deviceId, Double latitude, Double longitude, String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'username' is set
    if (username == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'username' when calling retailerLoginCheck",
        new ApiException(400, "Missing the required parameter 'username' when calling retailerLoginCheck"));
    }
    // verify the required parameter 'password' is set
    if (password == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'password' when calling retailerLoginCheck",
        new ApiException(400, "Missing the required parameter 'password' when calling retailerLoginCheck"));
    }

    // create path and map variables
    String path = "/retailer/login";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "password", password));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (AccountLoginResponse) ApiInvoker.deserialize(localVarResponse, "", AccountLoginResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Login Retailer
   * Retailer login check.
   * @param username the user&#39;s email address they used to sign-up   * @param password the password   * @param deviceId the device id (optional)   * @param latitude the current latitude of the user   * @param longitude the current longitude of the user   * @param appKey the application key
  */
  public void retailerLoginCheck (String username, String password, String deviceId, Double latitude, Double longitude, String appKey, final Response.Listener<AccountLoginResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'username' is set
    if (username == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'username' when calling retailerLoginCheck",
        new ApiException(400, "Missing the required parameter 'username' when calling retailerLoginCheck"));
    }
    // verify the required parameter 'password' is set
    if (password == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'password' when calling retailerLoginCheck",
        new ApiException(400, "Missing the required parameter 'password' when calling retailerLoginCheck"));
    }

    // create path and map variables
    String path = "/retailer/login".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "password", password));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((AccountLoginResponse) ApiInvoker.deserialize(localVarResponse,  "", AccountLoginResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Retailer
  * Update a retailer record. Only the owner and the employees of the retailer have access to update its information.
   * @param retailerId The ID of the retailer to update
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param name The name of the retailer
   * @param streetAddress The street address of the retailer
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param city The city of the retailer
   * @param state The state of the retailer
   * @param postalCode The postal code of the retailer
   * @param country the country of the retailer
   * @param businessPhone The business phone of the retailer
   * @param businessPhoneExt The business phone extension of the retailer
   * @param website The website of the retailer
   * @param email The email of the retailer
   * @param facebookUrl The facebook URL of the retailer
   * @param twitterUrl The twitter URL of the retailer
   * @param logo The retailer logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)
   * @param logoAssetId The retailer logo asset id
   * @param picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)
   * @param picture1AssetId An asset id
   * @param picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)
   * @param picture2AssetId An asset id
   * @param categoryIds Comma separated list of category IDs used to filter retailers by categories
   * @param filterIds Comma separated list of filter IDs used to filter retailers
   * @param latitude the latitude of the retailer
   * @param longitude the longitude of the retailer
   * @param metaData External custom client defined data
   * @param searchTags External custom search keywords
   * @param retailerType External custom type identifier
   * @param visibility 
   * @param active Sets whether the retailer is active or inactive (hidden from consumers)
   * @param responseFormat The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
   * @return RetailerFullResponse
  */
  public RetailerFullResponse updateRetailer (Long retailerId, String deviceId, Long accountId, String name, String streetAddress, String streetAddress2, String city, String state, String postalCode, String country, String businessPhone, String businessPhoneExt, String website, String email, String facebookUrl, String twitterUrl, File logo, Long logoAssetId, File picture1, Long picture1AssetId, File picture2, Long picture2AssetId, String categoryIds, String filterIds, Double latitude, Double longitude, String metaData, String searchTags, String retailerType, String visibility, Boolean active, String responseFormat) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'retailerId' is set
    if (retailerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerId' when calling updateRetailer",
        new ApiException(400, "Missing the required parameter 'retailerId' when calling updateRetailer"));
    }

    // create path and map variables
    String path = "/retailer/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhoneExt", businessPhoneExt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "website", website));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "email", email));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "facebookUrl", facebookUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "twitterUrl", twitterUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logo", logo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logoAssetId", logoAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1", picture1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1AssetId", picture1AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2", picture2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2AssetId", picture2AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerType", retailerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFormat", responseFormat));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (RetailerFullResponse) ApiInvoker.deserialize(localVarResponse, "", RetailerFullResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Retailer
   * Update a retailer record. Only the owner and the employees of the retailer have access to update its information.
   * @param retailerId The ID of the retailer to update   * @param deviceId The device id (deviceId or accountId required)   * @param accountId The account id of the user (deviceId or accountId required)   * @param name The name of the retailer   * @param streetAddress The street address of the retailer   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)   * @param city The city of the retailer   * @param state The state of the retailer   * @param postalCode The postal code of the retailer   * @param country the country of the retailer   * @param businessPhone The business phone of the retailer   * @param businessPhoneExt The business phone extension of the retailer   * @param website The website of the retailer   * @param email The email of the retailer   * @param facebookUrl The facebook URL of the retailer   * @param twitterUrl The twitter URL of the retailer   * @param logo The retailer logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)   * @param logoAssetId The retailer logo asset id   * @param picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)   * @param picture1AssetId An asset id   * @param picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)   * @param picture2AssetId An asset id   * @param categoryIds Comma separated list of category IDs used to filter retailers by categories   * @param filterIds Comma separated list of filter IDs used to filter retailers   * @param latitude the latitude of the retailer   * @param longitude the longitude of the retailer   * @param metaData External custom client defined data   * @param searchTags External custom search keywords   * @param retailerType External custom type identifier   * @param visibility    * @param active Sets whether the retailer is active or inactive (hidden from consumers)   * @param responseFormat The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
  */
  public void updateRetailer (Long retailerId, String deviceId, Long accountId, String name, String streetAddress, String streetAddress2, String city, String state, String postalCode, String country, String businessPhone, String businessPhoneExt, String website, String email, String facebookUrl, String twitterUrl, File logo, Long logoAssetId, File picture1, Long picture1AssetId, File picture2, Long picture2AssetId, String categoryIds, String filterIds, Double latitude, Double longitude, String metaData, String searchTags, String retailerType, String visibility, Boolean active, String responseFormat, final Response.Listener<RetailerFullResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'retailerId' is set
    if (retailerId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'retailerId' when calling updateRetailer",
        new ApiException(400, "Missing the required parameter 'retailerId' when calling updateRetailer"));
    }

    // create path and map variables
    String path = "/retailer/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "name", name));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress", streetAddress));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "streetAddress2", streetAddress2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "city", city));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "state", state));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "postalCode", postalCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "country", country));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhone", businessPhone));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "businessPhoneExt", businessPhoneExt));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "website", website));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "email", email));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "facebookUrl", facebookUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "twitterUrl", twitterUrl));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logo", logo));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "logoAssetId", logoAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1", picture1));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture1AssetId", picture1AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2", picture2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "picture2AssetId", picture2AssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "categoryIds", categoryIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filterIds", filterIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "searchTags", searchTags));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerType", retailerType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFormat", responseFormat));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((RetailerFullResponse) ApiInvoker.deserialize(localVarResponse,  "", RetailerFullResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
