/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.io.File;
import org.openapitools.client.model.PaymentRequest;
import org.openapitools.client.model.ProfileResponse;
import org.openapitools.client.model.SirqulResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class SecureAppApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create Secure Application
  * Create a secure application record.
   * @param accountId The unique id of the user making the request
   * @param appKey The application to secure
   * @param keyCert 
   * @param trustStore 
   * @param username 
   * @param password 
   * @param active 
   * @param biometricType The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL
   * @param biometricPosition The position for the biometric file uploaded
   * @param biometricPosition2 The position for each the biometric2 file uploaded
   * @return SirqulResponse
  */
  public SirqulResponse createSecureApplication (Long accountId, String appKey, File keyCert, File trustStore, String username, String password, Boolean active, String biometricType, String biometricPosition, String biometricPosition2) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createSecureApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling createSecureApplication"));
    }
    // verify the required parameter 'keyCert' is set
    if (keyCert == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'keyCert' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'keyCert' when calling createSecureApplication"));
    }
    // verify the required parameter 'trustStore' is set
    if (trustStore == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'trustStore' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'trustStore' when calling createSecureApplication"));
    }
    // verify the required parameter 'username' is set
    if (username == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'username' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'username' when calling createSecureApplication"));
    }
    // verify the required parameter 'password' is set
    if (password == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'password' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'password' when calling createSecureApplication"));
    }

    // create path and map variables
    String path = "/secure/application/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyCert", keyCert));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trustStore", trustStore));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "password", password));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricType", biometricType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricPosition", biometricPosition));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricPosition2", biometricPosition2));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Secure Application
   * Create a secure application record.
   * @param accountId The unique id of the user making the request   * @param appKey The application to secure   * @param keyCert    * @param trustStore    * @param username    * @param password    * @param active    * @param biometricType The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL   * @param biometricPosition The position for the biometric file uploaded   * @param biometricPosition2 The position for each the biometric2 file uploaded
  */
  public void createSecureApplication (Long accountId, String appKey, File keyCert, File trustStore, String username, String password, Boolean active, String biometricType, String biometricPosition, String biometricPosition2, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createSecureApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling createSecureApplication"));
    }
    // verify the required parameter 'keyCert' is set
    if (keyCert == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'keyCert' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'keyCert' when calling createSecureApplication"));
    }
    // verify the required parameter 'trustStore' is set
    if (trustStore == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'trustStore' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'trustStore' when calling createSecureApplication"));
    }
    // verify the required parameter 'username' is set
    if (username == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'username' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'username' when calling createSecureApplication"));
    }
    // verify the required parameter 'password' is set
    if (password == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'password' when calling createSecureApplication",
        new ApiException(400, "Missing the required parameter 'password' when calling createSecureApplication"));
    }

    // create path and map variables
    String path = "/secure/application/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyCert", keyCert));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trustStore", trustStore));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "password", password));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricType", biometricType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricPosition", biometricPosition));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricPosition2", biometricPosition2));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Secure Application
  * Delete a secure application record.
   * @param accountId The unique id of the user making the request
   * @param appKey The application to secure
   * @return SirqulResponse
  */
  public SirqulResponse deleteSecureApplication (Long accountId, String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteSecureApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteSecureApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling deleteSecureApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling deleteSecureApplication"));
    }

    // create path and map variables
    String path = "/secure/application/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Secure Application
   * Delete a secure application record.
   * @param accountId The unique id of the user making the request   * @param appKey The application to secure
  */
  public void deleteSecureApplication (Long accountId, String appKey, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteSecureApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteSecureApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling deleteSecureApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling deleteSecureApplication"));
    }

    // create path and map variables
    String path = "/secure/application/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Login Clear
  * Login via Clear.me. Creates a new account if logging in for the first time.
   * @param appKey The application making the request, defines what type and position is required to make a secure login the request.
   * @param biometricFile The data file used to perform authentication
   * @param deviceId The unique id of the device making the request
   * @param biometricFile2 The data file used to perform authentication
   * @param ageRestriction Checks user&#39;s birthday to see if they meet an age requirement. If the user is under age, an error message is returned.
   * @param returnProfile Determines whether to return a ProfileResponse on success, or a PaymentTypesResponse
   * @param responseFilters If returnProfile is set to true, this determines how much of the profile should be returned, see ProfileFilters
   * @param latitude Used to update the user&#39;s current location
   * @param longitude Used to update the user&#39;s current location
   * @return ProfileResponse
  */
  public ProfileResponse loginSecure (String appKey, File biometricFile, String deviceId, File biometricFile2, Integer ageRestriction, Boolean returnProfile, String responseFilters, Double latitude, Double longitude) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling loginSecure",
        new ApiException(400, "Missing the required parameter 'appKey' when calling loginSecure"));
    }
    // verify the required parameter 'biometricFile' is set
    if (biometricFile == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'biometricFile' when calling loginSecure",
        new ApiException(400, "Missing the required parameter 'biometricFile' when calling loginSecure"));
    }

    // create path and map variables
    String path = "/secure/login";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricFile", biometricFile));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricFile2", biometricFile2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ageRestriction", ageRestriction));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnProfile", returnProfile));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFilters", responseFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ProfileResponse) ApiInvoker.deserialize(localVarResponse, "", ProfileResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Login Clear
   * Login via Clear.me. Creates a new account if logging in for the first time.
   * @param appKey The application making the request, defines what type and position is required to make a secure login the request.   * @param biometricFile The data file used to perform authentication   * @param deviceId The unique id of the device making the request   * @param biometricFile2 The data file used to perform authentication   * @param ageRestriction Checks user&#39;s birthday to see if they meet an age requirement. If the user is under age, an error message is returned.   * @param returnProfile Determines whether to return a ProfileResponse on success, or a PaymentTypesResponse   * @param responseFilters If returnProfile is set to true, this determines how much of the profile should be returned, see ProfileFilters   * @param latitude Used to update the user&#39;s current location   * @param longitude Used to update the user&#39;s current location
  */
  public void loginSecure (String appKey, File biometricFile, String deviceId, File biometricFile2, Integer ageRestriction, Boolean returnProfile, String responseFilters, Double latitude, Double longitude, final Response.Listener<ProfileResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling loginSecure",
        new ApiException(400, "Missing the required parameter 'appKey' when calling loginSecure"));
    }
    // verify the required parameter 'biometricFile' is set
    if (biometricFile == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'biometricFile' when calling loginSecure",
        new ApiException(400, "Missing the required parameter 'biometricFile' when calling loginSecure"));
    }

    // create path and map variables
    String path = "/secure/login".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricFile", biometricFile));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricFile2", biometricFile2));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ageRestriction", ageRestriction));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnProfile", returnProfile));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "responseFilters", responseFilters));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "latitude", latitude));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "longitude", longitude));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ProfileResponse) ApiInvoker.deserialize(localVarResponse,  "", ProfileResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Purchase Clear
  * Purchase via Clear.me. Creates a new account if purchasing for the first time.
   * @param body The payment request object
   * @return ProfileResponse
  */
  public ProfileResponse purchaseSecure (PaymentRequest body) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = body;
    // verify the required parameter 'body' is set
    if (body == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'body' when calling purchaseSecure",
        new ApiException(400, "Missing the required parameter 'body' when calling purchaseSecure"));
    }

    // create path and map variables
    String path = "/secure/purchase";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ProfileResponse) ApiInvoker.deserialize(localVarResponse, "", ProfileResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Purchase Clear
   * Purchase via Clear.me. Creates a new account if purchasing for the first time.
   * @param body The payment request object
  */
  public void purchaseSecure (PaymentRequest body, final Response.Listener<ProfileResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = body;

    // verify the required parameter 'body' is set
    if (body == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'body' when calling purchaseSecure",
        new ApiException(400, "Missing the required parameter 'body' when calling purchaseSecure"));
    }

    // create path and map variables
    String path = "/secure/purchase".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      "application/json"
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ProfileResponse) ApiInvoker.deserialize(localVarResponse,  "", ProfileResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Rest Secure Application
  * Reset a secure application client.
   * @param accountId The unique id of the user making the request
   * @param appKey The application to secure
   * @return SirqulResponse
  */
  public SirqulResponse resetSecure (Long accountId, String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling resetSecure",
        new ApiException(400, "Missing the required parameter 'accountId' when calling resetSecure"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling resetSecure",
        new ApiException(400, "Missing the required parameter 'appKey' when calling resetSecure"));
    }

    // create path and map variables
    String path = "/secure/application/reset";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Rest Secure Application
   * Reset a secure application client.
   * @param accountId The unique id of the user making the request   * @param appKey The application to secure
  */
  public void resetSecure (Long accountId, String appKey, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling resetSecure",
        new ApiException(400, "Missing the required parameter 'accountId' when calling resetSecure"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling resetSecure",
        new ApiException(400, "Missing the required parameter 'appKey' when calling resetSecure"));
    }

    // create path and map variables
    String path = "/secure/application/reset".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Secure Application
  * Update a secure application record.
   * @param accountId The unique id of the user making the request
   * @param appKey The application to secure
   * @param active 
   * @param keyCert 
   * @param trustStore 
   * @param username 
   * @param password 
   * @param biometricType The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL
   * @param biometricPosition The position for the biometric file uploaded
   * @param biometricPosition2 The position for each the biometric2 file uploaded
   * @return SirqulResponse
  */
  public SirqulResponse updateSecureApplication (Long accountId, String appKey, Boolean active, File keyCert, File trustStore, String username, String password, String biometricType, String biometricPosition, String biometricPosition2) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateSecureApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateSecureApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling updateSecureApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling updateSecureApplication"));
    }

    // create path and map variables
    String path = "/secure/application/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyCert", keyCert));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trustStore", trustStore));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "password", password));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricType", biometricType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricPosition", biometricPosition));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricPosition2", biometricPosition2));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Secure Application
   * Update a secure application record.
   * @param accountId The unique id of the user making the request   * @param appKey The application to secure   * @param active    * @param keyCert    * @param trustStore    * @param username    * @param password    * @param biometricType The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL   * @param biometricPosition The position for the biometric file uploaded   * @param biometricPosition2 The position for each the biometric2 file uploaded
  */
  public void updateSecureApplication (Long accountId, String appKey, Boolean active, File keyCert, File trustStore, String username, String password, String biometricType, String biometricPosition, String biometricPosition2, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateSecureApplication",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateSecureApplication"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling updateSecureApplication",
        new ApiException(400, "Missing the required parameter 'appKey' when calling updateSecureApplication"));
    }

    // create path and map variables
    String path = "/secure/application/update".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyCert", keyCert));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "trustStore", trustStore));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "username", username));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "password", password));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricType", biometricType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricPosition", biometricPosition));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "biometricPosition2", biometricPosition2));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
