/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.CountResponse;
import java.io.File;
import org.openapitools.client.model.ProfileResponse;
import org.openapitools.client.model.SirqulResponse;
import org.openapitools.client.model.TicketListResponse;
import org.openapitools.client.model.TicketOfferResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class TicketApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Get Ticket Count
  * Gets the ticket count.
   * @param deviceId the id of the device that owns the tickets
   * @param accountId the id of the account that owns the tickets
   * @param gameType this is deprecated.
   * @param appKey the applicationkey
   * @param ticketType the type of ticket
   * @return CountResponse
  */
  public CountResponse getTicketCount (String deviceId, Long accountId, String gameType, String appKey, String ticketType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/ticket/count";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CountResponse) ApiInvoker.deserialize(localVarResponse, "", CountResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Ticket Count
   * Gets the ticket count.
   * @param deviceId the id of the device that owns the tickets   * @param accountId the id of the account that owns the tickets   * @param gameType this is deprecated.   * @param appKey the applicationkey   * @param ticketType the type of ticket
  */
  public void getTicketCount (String deviceId, Long accountId, String gameType, String appKey, String ticketType, final Response.Listener<CountResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/ticket/count".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CountResponse) ApiInvoker.deserialize(localVarResponse,  "", CountResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Ticket List
  * Gets the list of tickets.
   * @param deviceId the id of the device that owns the tickets
   * @param accountId the id of the account that owns the tickets
   * @param ticketObjectType comma separated list of TicketObjectType
   * @param actionType comma separated list of TicketActionType
   * @param ticketIds the ids of the tickets to get
   * @param objectIds the ids of the objects to get
   * @param receiptTokens 
   * @param gameType 
   * @param appKey the application key
   * @return TicketListResponse
  */
  public TicketListResponse getTicketList (String deviceId, Long accountId, String ticketObjectType, String actionType, String ticketIds, String objectIds, String receiptTokens, String gameType, String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/ticket/getList";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketObjectType", ticketObjectType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "actionType", actionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketIds", ticketIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectIds", objectIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptTokens", receiptTokens));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (TicketListResponse) ApiInvoker.deserialize(localVarResponse, "", TicketListResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Ticket List
   * Gets the list of tickets.
   * @param deviceId the id of the device that owns the tickets   * @param accountId the id of the account that owns the tickets   * @param ticketObjectType comma separated list of TicketObjectType   * @param actionType comma separated list of TicketActionType   * @param ticketIds the ids of the tickets to get   * @param objectIds the ids of the objects to get   * @param receiptTokens    * @param gameType    * @param appKey the application key
  */
  public void getTicketList (String deviceId, Long accountId, String ticketObjectType, String actionType, String ticketIds, String objectIds, String receiptTokens, String gameType, String appKey, final Response.Listener<TicketListResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/ticket/getList".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketObjectType", ticketObjectType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "actionType", actionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketIds", ticketIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectIds", objectIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptTokens", receiptTokens));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((TicketListResponse) ApiInvoker.deserialize(localVarResponse,  "", TicketListResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Gift Tickets
  * Gift tickets to another user.
   * @param receiverAccountId the id of the account receiving the tickets
   * @param ticketId the id of the tickets
   * @param deviceId the id of the device
   * @param accountId the id of the gift owner
   * @param assetId the id of the asset
   * @param customMessage a message that can be written to go along with the gift
   * @param gameType the type of game associated with the tickets
   * @param appKey the application key
   * @return SirqulResponse
  */
  public SirqulResponse giftPurchase (Long receiverAccountId, Long ticketId, String deviceId, Long accountId, Long assetId, String customMessage, String gameType, String appKey) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'receiverAccountId' is set
    if (receiverAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'receiverAccountId' when calling giftPurchase",
        new ApiException(400, "Missing the required parameter 'receiverAccountId' when calling giftPurchase"));
    }
    // verify the required parameter 'ticketId' is set
    if (ticketId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketId' when calling giftPurchase",
        new ApiException(400, "Missing the required parameter 'ticketId' when calling giftPurchase"));
    }

    // create path and map variables
    String path = "/purchase/gift";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiverAccountId", receiverAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketId", ticketId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "customMessage", customMessage));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Gift Tickets
   * Gift tickets to another user.
   * @param receiverAccountId the id of the account receiving the tickets   * @param ticketId the id of the tickets   * @param deviceId the id of the device   * @param accountId the id of the gift owner   * @param assetId the id of the asset   * @param customMessage a message that can be written to go along with the gift   * @param gameType the type of game associated with the tickets   * @param appKey the application key
  */
  public void giftPurchase (Long receiverAccountId, Long ticketId, String deviceId, Long accountId, Long assetId, String customMessage, String gameType, String appKey, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'receiverAccountId' is set
    if (receiverAccountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'receiverAccountId' when calling giftPurchase",
        new ApiException(400, "Missing the required parameter 'receiverAccountId' when calling giftPurchase"));
    }
    // verify the required parameter 'ticketId' is set
    if (ticketId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketId' when calling giftPurchase",
        new ApiException(400, "Missing the required parameter 'ticketId' when calling giftPurchase"));
    }

    // create path and map variables
    String path = "/purchase/gift".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiverAccountId", receiverAccountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketId", ticketId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "assetId", assetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "customMessage", customMessage));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Save Ticket
  * Allow user to acquire a purchase item and generate a ticket record. Used to redeem tickets or add tickets to the system.
   * @param actionType the action being performed, values: COMPLETED, // ADD TICKETS FOR COMPLETING A MISSION, CHALLENGE, GAME, PACK, LEVEL, LEVEL OBJECT REDEEMED, // REMOVE TICKETS FOR BUYING PACKS, HINTS, AND PEN TOOLS OPTIONS, ETC USERS_PLAYED, // ADD TICKETS FOR LEVELS PLAYED BY OTHER USERS TOURNAMENT_OWNER, // ADD TICKETS FOR TOURNAMENTS BY OTHER USERS PURCHASED, // ADD TICKET VIA IN APP PURCHASING SUMATION, // SUMATION OF TICKETS EARNED FROM CHILDREN GIFTED, // TRANSFERING OF PURCHASE ITEMS TO OTHER PEOPLE REFUNDED // FOR REFUNDING TICKETS BACK TO THE USER
   * @param ticketObjectType the type of object being purchased, values: GAME_OBJECT, GAME_LEVEL, PACK, GAME, MISSION, PROFILE, APPLICATION, TICKETS, ASSET, CUSTOM
   * @param returnNulls whether to return nulls or not
   * @param deviceId the device id that owns the tickets
   * @param accountId the account id that owns the tickets
   * @param gameType This parameter is deprecated. deprecated, use the appKey
   * @param appKey the application key
   * @param objectId the ID of the item being purchased
   * @param purchaseCode a unique string identifier defined by the application owner or Executive
   * @param receiptToken a unique transaction identifier from the purchase provider (i.e. the transaction ID from iTunes, Google Play, etc)
   * @param receiptData the receipt/transaction data for validating a purchase via iTunes/Gooogle/etc. This should be in string format.
   * @param count the count of tickets
   * @param ticketType the ticket type
   * @param purchaseProvider the provider for making the purchase {ITUNES, ITUNES_SANDBOX, GOOGLE}
   * @param purchaseType a comma separated list of purchase types { SIRQUL, // purchasing from the sirqul store using tickets IOS, // purchasing from the itunes store for iPhone, iPod, iPod Touch GOOGLE, // purchasing from the google android store AMAZON, // purchasing from the amazon android store MAC, // purchasing from the itunes store for OSX WP8, // purhasing from the windows phone 8 store FREE }
   * @param returnProfileResponse returns a ProfileResponse if true, otherwise will return an AppResponse
   * @param includeProfileResponse if returnProfileResponse is false, will return an AppResponse with profile data if true
   * @param appVersion the application version
   * @return ProfileResponse
  */
  public ProfileResponse saveTicket (String actionType, String ticketObjectType, Boolean returnNulls, String deviceId, Long accountId, String gameType, String appKey, Long objectId, String purchaseCode, String receiptToken, String receiptData, Long count, String ticketType, String purchaseProvider, String purchaseType, Boolean returnProfileResponse, Boolean includeProfileResponse, String appVersion) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'actionType' is set
    if (actionType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'actionType' when calling saveTicket",
        new ApiException(400, "Missing the required parameter 'actionType' when calling saveTicket"));
    }
    // verify the required parameter 'ticketObjectType' is set
    if (ticketObjectType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketObjectType' when calling saveTicket",
        new ApiException(400, "Missing the required parameter 'ticketObjectType' when calling saveTicket"));
    }

    // create path and map variables
    String path = "/ticket/save";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "actionType", actionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketObjectType", ticketObjectType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectId", objectId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseCode", purchaseCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptToken", receiptToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptData", receiptData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "count", count));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseProvider", purchaseProvider));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseType", purchaseType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnProfileResponse", returnProfileResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeProfileResponse", includeProfileResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ProfileResponse) ApiInvoker.deserialize(localVarResponse, "", ProfileResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Save Ticket
   * Allow user to acquire a purchase item and generate a ticket record. Used to redeem tickets or add tickets to the system.
   * @param actionType the action being performed, values: COMPLETED, // ADD TICKETS FOR COMPLETING A MISSION, CHALLENGE, GAME, PACK, LEVEL, LEVEL OBJECT REDEEMED, // REMOVE TICKETS FOR BUYING PACKS, HINTS, AND PEN TOOLS OPTIONS, ETC USERS_PLAYED, // ADD TICKETS FOR LEVELS PLAYED BY OTHER USERS TOURNAMENT_OWNER, // ADD TICKETS FOR TOURNAMENTS BY OTHER USERS PURCHASED, // ADD TICKET VIA IN APP PURCHASING SUMATION, // SUMATION OF TICKETS EARNED FROM CHILDREN GIFTED, // TRANSFERING OF PURCHASE ITEMS TO OTHER PEOPLE REFUNDED // FOR REFUNDING TICKETS BACK TO THE USER   * @param ticketObjectType the type of object being purchased, values: GAME_OBJECT, GAME_LEVEL, PACK, GAME, MISSION, PROFILE, APPLICATION, TICKETS, ASSET, CUSTOM   * @param returnNulls whether to return nulls or not   * @param deviceId the device id that owns the tickets   * @param accountId the account id that owns the tickets   * @param gameType This parameter is deprecated. deprecated, use the appKey   * @param appKey the application key   * @param objectId the ID of the item being purchased   * @param purchaseCode a unique string identifier defined by the application owner or Executive   * @param receiptToken a unique transaction identifier from the purchase provider (i.e. the transaction ID from iTunes, Google Play, etc)   * @param receiptData the receipt/transaction data for validating a purchase via iTunes/Gooogle/etc. This should be in string format.   * @param count the count of tickets   * @param ticketType the ticket type   * @param purchaseProvider the provider for making the purchase {ITUNES, ITUNES_SANDBOX, GOOGLE}   * @param purchaseType a comma separated list of purchase types { SIRQUL, // purchasing from the sirqul store using tickets IOS, // purchasing from the itunes store for iPhone, iPod, iPod Touch GOOGLE, // purchasing from the google android store AMAZON, // purchasing from the amazon android store MAC, // purchasing from the itunes store for OSX WP8, // purhasing from the windows phone 8 store FREE }   * @param returnProfileResponse returns a ProfileResponse if true, otherwise will return an AppResponse   * @param includeProfileResponse if returnProfileResponse is false, will return an AppResponse with profile data if true   * @param appVersion the application version
  */
  public void saveTicket (String actionType, String ticketObjectType, Boolean returnNulls, String deviceId, Long accountId, String gameType, String appKey, Long objectId, String purchaseCode, String receiptToken, String receiptData, Long count, String ticketType, String purchaseProvider, String purchaseType, Boolean returnProfileResponse, Boolean includeProfileResponse, String appVersion, final Response.Listener<ProfileResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'actionType' is set
    if (actionType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'actionType' when calling saveTicket",
        new ApiException(400, "Missing the required parameter 'actionType' when calling saveTicket"));
    }
    // verify the required parameter 'ticketObjectType' is set
    if (ticketObjectType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketObjectType' when calling saveTicket",
        new ApiException(400, "Missing the required parameter 'ticketObjectType' when calling saveTicket"));
    }

    // create path and map variables
    String path = "/ticket/save".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "actionType", actionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketObjectType", ticketObjectType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectId", objectId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseCode", purchaseCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptToken", receiptToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptData", receiptData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "count", count));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseProvider", purchaseProvider));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseType", purchaseType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnProfileResponse", returnProfileResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeProfileResponse", includeProfileResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ProfileResponse) ApiInvoker.deserialize(localVarResponse,  "", ProfileResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Save Ticket with Reciept
  * Similar to the Save Ticket endpoint but allows the receiptData to be in binary format. This must be a multi-part post
   * @param actionType the action being performed { COMPLETED, // ADD TICKETS FOR COMPLETING A MISSION, CHALLENGE, GAME, PACK, LEVEL, LEVEL OBJECT REDEEMED, // REMOVE TICKETS FOR BUYING PACKS, HINTS, AND PEN TOOLS OPTIONS, ETC USERS_PLAYED, // ADD TICKETS FOR LEVELS PLAYED BY OTHER USERS TOURNAMENT_OWNER, // ADD TICKETS FOR TOURNAMENTS BY OTHER USERS PURCHASED, // ADD TICKET VIA IN APP PURCHASING SUMATION, // SUMATION OF TICKETS EARNED FROM CHILDREN GIFTED, // TRANSFERING OF PURCHASE ITEMS TO OTHER PEOPLE REFUNDED // FOR REFUNDING TICKETS BACK TO THE USER }
   * @param ticketObjectType the type of object being purchased {GAME_OBJECT, GAME_LEVEL, PACK, GAME, MISSION, PROFILE, APPLICATION, TICKETS, ASSET, CUSTOM}
   * @param receiptData the receipt/transaction data for validating a purchase via iTunes/Gooogle/etc. This should be in binary format.
   * @param returnNulls whether to return nulls or not
   * @param deviceId the device id
   * @param accountId the account id
   * @param gameType This parameter is deprecated. deprecated, use the appKey
   * @param appKey the application key
   * @param objectId the ID of the item being purchased
   * @param purchaseCode a unique string identifier defined by the application owner or Executive
   * @param receiptToken a unique transaction identifier from the purchase provider (i.e. the transaction ID from iTunes, Google Play, etc)
   * @param count the count of tickets
   * @param ticketType the ticket type
   * @param purchaseProvider the provider for making the purchase {ITUNES, ITUNES_SANDBOX, GOOGLE}
   * @param purchaseType a comma separated list of purchase types { SIRQUL, // purchasing from the sirqul store using tickets IOS, // purchasing from the itunes store for iPhone, iPod, iPod Touch GOOGLE, // purchasing from the google android store AMAZON, // purchasing from the amazon android store MAC, // purchasing from the itunes store for OSX WP8, // purhasing from the windows phone 8 store FREE }
   * @param returnProfileResponse returns a ProfileResponse if true, otherwise will return an AppResponse
   * @param includeProfileResponse if returnProfileResponse is false, will return an AppResponse with profile data if true
   * @param appVersion the application version
   * @return ProfileResponse
  */
  public ProfileResponse saveTicketViaFileUpload (String actionType, String ticketObjectType, File receiptData, Boolean returnNulls, String deviceId, Long accountId, String gameType, String appKey, Long objectId, String purchaseCode, String receiptToken, Long count, String ticketType, String purchaseProvider, String purchaseType, Boolean returnProfileResponse, Boolean includeProfileResponse, String appVersion) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'actionType' is set
    if (actionType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'actionType' when calling saveTicketViaFileUpload",
        new ApiException(400, "Missing the required parameter 'actionType' when calling saveTicketViaFileUpload"));
    }
    // verify the required parameter 'ticketObjectType' is set
    if (ticketObjectType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketObjectType' when calling saveTicketViaFileUpload",
        new ApiException(400, "Missing the required parameter 'ticketObjectType' when calling saveTicketViaFileUpload"));
    }
    // verify the required parameter 'receiptData' is set
    if (receiptData == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'receiptData' when calling saveTicketViaFileUpload",
        new ApiException(400, "Missing the required parameter 'receiptData' when calling saveTicketViaFileUpload"));
    }

    // create path and map variables
    String path = "/ticket/save/fileUpload";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "actionType", actionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketObjectType", ticketObjectType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectId", objectId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseCode", purchaseCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptToken", receiptToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptData", receiptData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "count", count));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseProvider", purchaseProvider));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseType", purchaseType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnProfileResponse", returnProfileResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeProfileResponse", includeProfileResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (ProfileResponse) ApiInvoker.deserialize(localVarResponse, "", ProfileResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Save Ticket with Reciept
   * Similar to the Save Ticket endpoint but allows the receiptData to be in binary format. This must be a multi-part post
   * @param actionType the action being performed { COMPLETED, // ADD TICKETS FOR COMPLETING A MISSION, CHALLENGE, GAME, PACK, LEVEL, LEVEL OBJECT REDEEMED, // REMOVE TICKETS FOR BUYING PACKS, HINTS, AND PEN TOOLS OPTIONS, ETC USERS_PLAYED, // ADD TICKETS FOR LEVELS PLAYED BY OTHER USERS TOURNAMENT_OWNER, // ADD TICKETS FOR TOURNAMENTS BY OTHER USERS PURCHASED, // ADD TICKET VIA IN APP PURCHASING SUMATION, // SUMATION OF TICKETS EARNED FROM CHILDREN GIFTED, // TRANSFERING OF PURCHASE ITEMS TO OTHER PEOPLE REFUNDED // FOR REFUNDING TICKETS BACK TO THE USER }   * @param ticketObjectType the type of object being purchased {GAME_OBJECT, GAME_LEVEL, PACK, GAME, MISSION, PROFILE, APPLICATION, TICKETS, ASSET, CUSTOM}   * @param receiptData the receipt/transaction data for validating a purchase via iTunes/Gooogle/etc. This should be in binary format.   * @param returnNulls whether to return nulls or not   * @param deviceId the device id   * @param accountId the account id   * @param gameType This parameter is deprecated. deprecated, use the appKey   * @param appKey the application key   * @param objectId the ID of the item being purchased   * @param purchaseCode a unique string identifier defined by the application owner or Executive   * @param receiptToken a unique transaction identifier from the purchase provider (i.e. the transaction ID from iTunes, Google Play, etc)   * @param count the count of tickets   * @param ticketType the ticket type   * @param purchaseProvider the provider for making the purchase {ITUNES, ITUNES_SANDBOX, GOOGLE}   * @param purchaseType a comma separated list of purchase types { SIRQUL, // purchasing from the sirqul store using tickets IOS, // purchasing from the itunes store for iPhone, iPod, iPod Touch GOOGLE, // purchasing from the google android store AMAZON, // purchasing from the amazon android store MAC, // purchasing from the itunes store for OSX WP8, // purhasing from the windows phone 8 store FREE }   * @param returnProfileResponse returns a ProfileResponse if true, otherwise will return an AppResponse   * @param includeProfileResponse if returnProfileResponse is false, will return an AppResponse with profile data if true   * @param appVersion the application version
  */
  public void saveTicketViaFileUpload (String actionType, String ticketObjectType, File receiptData, Boolean returnNulls, String deviceId, Long accountId, String gameType, String appKey, Long objectId, String purchaseCode, String receiptToken, Long count, String ticketType, String purchaseProvider, String purchaseType, Boolean returnProfileResponse, Boolean includeProfileResponse, String appVersion, final Response.Listener<ProfileResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'actionType' is set
    if (actionType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'actionType' when calling saveTicketViaFileUpload",
        new ApiException(400, "Missing the required parameter 'actionType' when calling saveTicketViaFileUpload"));
    }
    // verify the required parameter 'ticketObjectType' is set
    if (ticketObjectType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'ticketObjectType' when calling saveTicketViaFileUpload",
        new ApiException(400, "Missing the required parameter 'ticketObjectType' when calling saveTicketViaFileUpload"));
    }
    // verify the required parameter 'receiptData' is set
    if (receiptData == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'receiptData' when calling saveTicketViaFileUpload",
        new ApiException(400, "Missing the required parameter 'receiptData' when calling saveTicketViaFileUpload"));
    }

    // create path and map variables
    String path = "/ticket/save/fileUpload".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnNulls", returnNulls));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameType", gameType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "actionType", actionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketObjectType", ticketObjectType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectId", objectId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseCode", purchaseCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptToken", receiptToken));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "receiptData", receiptData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "count", count));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "ticketType", ticketType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseProvider", purchaseProvider));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "purchaseType", purchaseType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "returnProfileResponse", returnProfileResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeProfileResponse", includeProfileResponse));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appVersion", appVersion));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((ProfileResponse) ApiInvoker.deserialize(localVarResponse,  "", ProfileResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Ticket Offers
  * Get a list offers for tickets owned by sirqul.  Purchasing these will add the number of tickets to the account specified by the offer.
   * @return TicketOfferResponse
  */
  public TicketOfferResponse ticketOffers () throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;

    // create path and map variables
    String path = "/ticket/ticketoffers";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (TicketOfferResponse) ApiInvoker.deserialize(localVarResponse, "", TicketOfferResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Ticket Offers
   * Get a list offers for tickets owned by sirqul.  Purchasing these will add the number of tickets to the account specified by the offer.

  */
  public void ticketOffers (final Response.Listener<TicketOfferResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;


    // create path and map variables
    String path = "/ticket/ticketoffers".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((TicketOfferResponse) ApiInvoker.deserialize(localVarResponse,  "", TicketOfferResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
