/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.MissionShortResponse;
import org.openapitools.client.model.SirqulResponse;
import org.openapitools.client.model.TournamentResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class TournamentApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create Tournament
  * Create a tournament.
   * @param accountId The logged in user.
   * @param appKey The appKey the tournament is created for.
   * @param title The title of the tournament
   * @param costToPlay The number of tickets required to pay to enter the tournament
   * @param startDate The date/time to start the tournament
   * @param subType Custom string client apps can use for searching/filtering tournaments
   * @param imageAssetId The asset ID to attach to the tournament
   * @param secondsBetweenLevels The number of seconds in between the start of each tournament game/group
   * @param secondsForTieBreaker The number of seconds to extend the round end time in the case of a tie breaker
   * @param secondsBetweenPacks The number of seconds in between the start of each tournament round
   * @param maximumLevelLength The maximum number of seconds the match is expected to end at, which gets used to determine when a match should end when there is no activity
   * @param costToPlayType The type of ticket required to pay
   * @param minimumToPlay The minimum number of players required to sign up for the tournament to be played
   * @param startingLimit The starting number of players for a tournament (filled with AI&#39;s)
   * @param availableLimit The maximum number of players for a tournament (currently 128 but not enforced)
   * @param description The description of the tournament
   * @param metaData External custom client defined data
   * @param audienceIds The audiences associated with the tournament
   * @param active Activate/deactivate the tournament
   * @param enableBuyBack Determines whether to allow players to buy back into a tournament
   * @param offerIds The list of offers to give as a reward beyond the tickets
   * @param offerAssetId The artwork ID to attach to the reward tickets offers
   * @param fixedReward If set then do not update the ticket reward, auto set to true if offerIds provided
   * @param splitReward Set the rules for handling the reward in case of a tie, values: EVEN split the reward evenly ALL everyone gets the full reward value FIRST first score submitted RANDOM random player who scored
   * @param allocateTickets Flag to indicate owner should receive tickets for completed missions
   * @param tournamentData A text based string that will be passed into each tournament setup to populate the content
   * @param missionType The style of tournament to build, options are: TOURNAMENT, POOLPLAY
   * @param visibility Sets the visibility flag for the tournament
   * @param preliminaryGroups The number of initial preliminary groups in a multi-stage tournament (this is expected to be a power of two number)
   * @param preliminaryGroupAdvancements This determines how many people can advance per round in a preliminary group (this is a comma separated list of integers)
   * @param enableMultipleEntries This determines if multiple submissions/entries are allowed in a multi-stage album tournament
   * @param enableMultipleVotes This determines if users are allowed to vote multiple times per group in a multi-stage album tournament
   * @param featured This determines whether the tournament is \&quot;featured\&quot; or not
   * @param winnerTag This sets what analytic tag is used when a winner is determined
   * @param tieTag This sets what analytic tag is used when a tie has occurred
   * @return TournamentResponse
  */
  public TournamentResponse createTournament (Long accountId, String appKey, String title, Integer costToPlay, Long startDate, String subType, Long imageAssetId, Integer secondsBetweenLevels, Integer secondsForTieBreaker, Integer secondsBetweenPacks, Integer maximumLevelLength, String costToPlayType, Integer minimumToPlay, Integer startingLimit, Integer availableLimit, String description, String metaData, String audienceIds, Boolean active, Boolean enableBuyBack, String offerIds, Long offerAssetId, Boolean fixedReward, String splitReward, Boolean allocateTickets, String tournamentData, String missionType, String visibility, Integer preliminaryGroups, String preliminaryGroupAdvancements, Boolean enableMultipleEntries, Boolean enableMultipleVotes, Boolean featured, String winnerTag, String tieTag) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createTournament"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'appKey' when calling createTournament"));
    }
    // verify the required parameter 'title' is set
    if (title == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'title' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'title' when calling createTournament"));
    }
    // verify the required parameter 'costToPlay' is set
    if (costToPlay == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'costToPlay' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'costToPlay' when calling createTournament"));
    }
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'startDate' when calling createTournament"));
    }

    // create path and map variables
    String path = "/tournament/create";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subType", subType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId", imageAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "secondsBetweenLevels", secondsBetweenLevels));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "secondsForTieBreaker", secondsForTieBreaker));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "secondsBetweenPacks", secondsBetweenPacks));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maximumLevelLength", maximumLevelLength));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "costToPlay", costToPlay));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "costToPlayType", costToPlayType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minimumToPlay", minimumToPlay));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startingLimit", startingLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availableLimit", availableLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIds", audienceIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enableBuyBack", enableBuyBack));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerIds", offerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerAssetId", offerAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "fixedReward", fixedReward));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "splitReward", splitReward));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tournamentData", tournamentData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionType", missionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preliminaryGroups", preliminaryGroups));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preliminaryGroupAdvancements", preliminaryGroupAdvancements));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enableMultipleEntries", enableMultipleEntries));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enableMultipleVotes", enableMultipleVotes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "featured", featured));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "winnerTag", winnerTag));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tieTag", tieTag));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (TournamentResponse) ApiInvoker.deserialize(localVarResponse, "", TournamentResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Tournament
   * Create a tournament.
   * @param accountId The logged in user.   * @param appKey The appKey the tournament is created for.   * @param title The title of the tournament   * @param costToPlay The number of tickets required to pay to enter the tournament   * @param startDate The date/time to start the tournament   * @param subType Custom string client apps can use for searching/filtering tournaments   * @param imageAssetId The asset ID to attach to the tournament   * @param secondsBetweenLevels The number of seconds in between the start of each tournament game/group   * @param secondsForTieBreaker The number of seconds to extend the round end time in the case of a tie breaker   * @param secondsBetweenPacks The number of seconds in between the start of each tournament round   * @param maximumLevelLength The maximum number of seconds the match is expected to end at, which gets used to determine when a match should end when there is no activity   * @param costToPlayType The type of ticket required to pay   * @param minimumToPlay The minimum number of players required to sign up for the tournament to be played   * @param startingLimit The starting number of players for a tournament (filled with AI&#39;s)   * @param availableLimit The maximum number of players for a tournament (currently 128 but not enforced)   * @param description The description of the tournament   * @param metaData External custom client defined data   * @param audienceIds The audiences associated with the tournament   * @param active Activate/deactivate the tournament   * @param enableBuyBack Determines whether to allow players to buy back into a tournament   * @param offerIds The list of offers to give as a reward beyond the tickets   * @param offerAssetId The artwork ID to attach to the reward tickets offers   * @param fixedReward If set then do not update the ticket reward, auto set to true if offerIds provided   * @param splitReward Set the rules for handling the reward in case of a tie, values: EVEN split the reward evenly ALL everyone gets the full reward value FIRST first score submitted RANDOM random player who scored   * @param allocateTickets Flag to indicate owner should receive tickets for completed missions   * @param tournamentData A text based string that will be passed into each tournament setup to populate the content   * @param missionType The style of tournament to build, options are: TOURNAMENT, POOLPLAY   * @param visibility Sets the visibility flag for the tournament   * @param preliminaryGroups The number of initial preliminary groups in a multi-stage tournament (this is expected to be a power of two number)   * @param preliminaryGroupAdvancements This determines how many people can advance per round in a preliminary group (this is a comma separated list of integers)   * @param enableMultipleEntries This determines if multiple submissions/entries are allowed in a multi-stage album tournament   * @param enableMultipleVotes This determines if users are allowed to vote multiple times per group in a multi-stage album tournament   * @param featured This determines whether the tournament is \&quot;featured\&quot; or not   * @param winnerTag This sets what analytic tag is used when a winner is determined   * @param tieTag This sets what analytic tag is used when a tie has occurred
  */
  public void createTournament (Long accountId, String appKey, String title, Integer costToPlay, Long startDate, String subType, Long imageAssetId, Integer secondsBetweenLevels, Integer secondsForTieBreaker, Integer secondsBetweenPacks, Integer maximumLevelLength, String costToPlayType, Integer minimumToPlay, Integer startingLimit, Integer availableLimit, String description, String metaData, String audienceIds, Boolean active, Boolean enableBuyBack, String offerIds, Long offerAssetId, Boolean fixedReward, String splitReward, Boolean allocateTickets, String tournamentData, String missionType, String visibility, Integer preliminaryGroups, String preliminaryGroupAdvancements, Boolean enableMultipleEntries, Boolean enableMultipleVotes, Boolean featured, String winnerTag, String tieTag, final Response.Listener<TournamentResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'accountId' when calling createTournament"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'appKey' when calling createTournament"));
    }
    // verify the required parameter 'title' is set
    if (title == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'title' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'title' when calling createTournament"));
    }
    // verify the required parameter 'costToPlay' is set
    if (costToPlay == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'costToPlay' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'costToPlay' when calling createTournament"));
    }
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling createTournament",
        new ApiException(400, "Missing the required parameter 'startDate' when calling createTournament"));
    }

    // create path and map variables
    String path = "/tournament/create".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subType", subType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId", imageAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "secondsBetweenLevels", secondsBetweenLevels));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "secondsForTieBreaker", secondsForTieBreaker));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "secondsBetweenPacks", secondsBetweenPacks));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maximumLevelLength", maximumLevelLength));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "costToPlay", costToPlay));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "costToPlayType", costToPlayType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minimumToPlay", minimumToPlay));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startingLimit", startingLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availableLimit", availableLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIds", audienceIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enableBuyBack", enableBuyBack));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerIds", offerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerAssetId", offerAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "fixedReward", fixedReward));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "splitReward", splitReward));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tournamentData", tournamentData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionType", missionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preliminaryGroups", preliminaryGroups));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preliminaryGroupAdvancements", preliminaryGroupAdvancements));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enableMultipleEntries", enableMultipleEntries));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enableMultipleVotes", enableMultipleVotes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "featured", featured));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "winnerTag", winnerTag));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tieTag", tieTag));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((TournamentResponse) ApiInvoker.deserialize(localVarResponse,  "", TournamentResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Tournament
  * Delete a tournament.
   * @param accountId the id of the logged in user
   * @param missionId the id of the mission to delete
   * @return SirqulResponse
  */
  public SirqulResponse deleteTournament (Long accountId, Long missionId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteTournament",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteTournament"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling deleteTournament",
        new ApiException(400, "Missing the required parameter 'missionId' when calling deleteTournament"));
    }

    // create path and map variables
    String path = "/tournament/delete";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Tournament
   * Delete a tournament.
   * @param accountId the id of the logged in user   * @param missionId the id of the mission to delete
  */
  public void deleteTournament (Long accountId, Long missionId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling deleteTournament",
        new ApiException(400, "Missing the required parameter 'accountId' when calling deleteTournament"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling deleteTournament",
        new ApiException(400, "Missing the required parameter 'missionId' when calling deleteTournament"));
    }

    // create path and map variables
    String path = "/tournament/delete".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Tournament
  * Get a tournament.
   * @param accountId The id of the logged in user
   * @param missionId The id of the mission to return (either missionId or joinCode is required)
   * @param joinCode Optional identifier for getting the tournament (either missionId or joinCode is required)
   * @param includeScores Determines which type of scores are returned. Possible values include: ALL, MINE
   * @param objectPreviewSize Determines the max number of game objects that will get returned for each game level response
   * @return TournamentResponse
  */
  public TournamentResponse getTournament (Long accountId, Long missionId, String joinCode, String includeScores, Integer objectPreviewSize) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getTournament",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getTournament"));
    }

    // create path and map variables
    String path = "/tournament/get";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "joinCode", joinCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeScores", includeScores));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectPreviewSize", objectPreviewSize));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (TournamentResponse) ApiInvoker.deserialize(localVarResponse, "", TournamentResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Tournament
   * Get a tournament.
   * @param accountId The id of the logged in user   * @param missionId The id of the mission to return (either missionId or joinCode is required)   * @param joinCode Optional identifier for getting the tournament (either missionId or joinCode is required)   * @param includeScores Determines which type of scores are returned. Possible values include: ALL, MINE   * @param objectPreviewSize Determines the max number of game objects that will get returned for each game level response
  */
  public void getTournament (Long accountId, Long missionId, String joinCode, String includeScores, Integer objectPreviewSize, final Response.Listener<TournamentResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling getTournament",
        new ApiException(400, "Missing the required parameter 'accountId' when calling getTournament"));
    }

    // create path and map variables
    String path = "/tournament/get".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "joinCode", joinCode));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeScores", includeScores));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "objectPreviewSize", objectPreviewSize));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((TournamentResponse) ApiInvoker.deserialize(localVarResponse,  "", TournamentResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Tournament Objects
  * Search on game objects of tournaments
   * @param accountId the account ID
   * @param gameLevelId the game level id to filter results by
   * @param sortField the field to sort by
   * @param descending determines whether the sorted list is in descending or ascending order
   * @param start the start index for pagination
   * @param limit the limit for pagination
   * @return SirqulResponse
  */
  public SirqulResponse searchObjects (Long accountId, Long gameLevelId, String sortField, Boolean descending, Integer start, Integer limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchObjects",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchObjects"));
    }
    // verify the required parameter 'gameLevelId' is set
    if (gameLevelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameLevelId' when calling searchObjects",
        new ApiException(400, "Missing the required parameter 'gameLevelId' when calling searchObjects"));
    }

    // create path and map variables
    String path = "/tournament/object/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelId", gameLevelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Tournament Objects
   * Search on game objects of tournaments
   * @param accountId the account ID   * @param gameLevelId the game level id to filter results by   * @param sortField the field to sort by   * @param descending determines whether the sorted list is in descending or ascending order   * @param start the start index for pagination   * @param limit the limit for pagination
  */
  public void searchObjects (Long accountId, Long gameLevelId, String sortField, Boolean descending, Integer start, Integer limit, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchObjects",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchObjects"));
    }
    // verify the required parameter 'gameLevelId' is set
    if (gameLevelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameLevelId' when calling searchObjects",
        new ApiException(400, "Missing the required parameter 'gameLevelId' when calling searchObjects"));
    }

    // create path and map variables
    String path = "/tournament/object/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelId", gameLevelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Tournament Rounds
  * Search for the user&#39;s tournament games.
   * @param accountId the account ID
   * @param appKey the application key
   * @param status comma separated list of statuses to filter results by
   * @param missionType The style of tournament to search for, options are: TOURNAMENT, POOLPLAY
   * @param currentOnly search for games that are flagged current only
   * @param visibilities Filter tournament rounds by the mission visibility flag
   * @param start the start index for pagination
   * @param limit the limit for pagination
   * @return SirqulResponse
  */
  public SirqulResponse searchRounds (Long accountId, String appKey, String status, String missionType, Boolean currentOnly, String visibilities, Integer start, Integer limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchRounds",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchRounds"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling searchRounds",
        new ApiException(400, "Missing the required parameter 'appKey' when calling searchRounds"));
    }

    // create path and map variables
    String path = "/tournament/round/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "status", status));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionType", missionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "currentOnly", currentOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibilities", visibilities));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Tournament Rounds
   * Search for the user&#39;s tournament games.
   * @param accountId the account ID   * @param appKey the application key   * @param status comma separated list of statuses to filter results by   * @param missionType The style of tournament to search for, options are: TOURNAMENT, POOLPLAY   * @param currentOnly search for games that are flagged current only   * @param visibilities Filter tournament rounds by the mission visibility flag   * @param start the start index for pagination   * @param limit the limit for pagination
  */
  public void searchRounds (Long accountId, String appKey, String status, String missionType, Boolean currentOnly, String visibilities, Integer start, Integer limit, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchRounds",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchRounds"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling searchRounds",
        new ApiException(400, "Missing the required parameter 'appKey' when calling searchRounds"));
    }

    // create path and map variables
    String path = "/tournament/round/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "status", status));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionType", missionType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "currentOnly", currentOnly));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibilities", visibilities));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Tournaments
  * Search for tournaments
   * @param accountId The logged in user.
   * @param appKey The application key
   * @param keyword the keyword to search tournament on
   * @param subType filter results by subType
   * @param includeInactive whether to include inactives in the search or not
   * @param missionTypes comma separated list of mission types to filter results, possbile values include: TOURNAMENT, POOLPLAY, MULTISTAGE
   * @param filter filter tournaments by the tournament&#39;s current state
   * @param sortField which field to sort on
   * @param descending Determines whether to return results in descending order. The default value will be true if the filter is \&quot;PAST\&quot;, otherwise the default value will be false.
   * @param visibility Comma separated list of visibility flags for search for, possible values include: PUBLIC, LISTABLE, REWARDABLE, TRIGGERABLE, PRIVATE
   * @param start Start the result set at some index.
   * @param limit Limit the result to some number
   * @return MissionShortResponse
  */
  public MissionShortResponse searchTournaments (Long accountId, String appKey, String keyword, String subType, Boolean includeInactive, String missionTypes, String filter, String sortField, Boolean descending, String visibility, Integer start, Integer limit) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchTournaments",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchTournaments"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling searchTournaments",
        new ApiException(400, "Missing the required parameter 'appKey' when calling searchTournaments"));
    }

    // create path and map variables
    String path = "/tournament/search";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subType", subType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeInactive", includeInactive));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionTypes", missionTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (MissionShortResponse) ApiInvoker.deserialize(localVarResponse, "", MissionShortResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Tournaments
   * Search for tournaments
   * @param accountId The logged in user.   * @param appKey The application key   * @param keyword the keyword to search tournament on   * @param subType filter results by subType   * @param includeInactive whether to include inactives in the search or not   * @param missionTypes comma separated list of mission types to filter results, possbile values include: TOURNAMENT, POOLPLAY, MULTISTAGE   * @param filter filter tournaments by the tournament&#39;s current state   * @param sortField which field to sort on   * @param descending Determines whether to return results in descending order. The default value will be true if the filter is \&quot;PAST\&quot;, otherwise the default value will be false.   * @param visibility Comma separated list of visibility flags for search for, possible values include: PUBLIC, LISTABLE, REWARDABLE, TRIGGERABLE, PRIVATE   * @param start Start the result set at some index.   * @param limit Limit the result to some number
  */
  public void searchTournaments (Long accountId, String appKey, String keyword, String subType, Boolean includeInactive, String missionTypes, String filter, String sortField, Boolean descending, String visibility, Integer start, Integer limit, final Response.Listener<MissionShortResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling searchTournaments",
        new ApiException(400, "Missing the required parameter 'accountId' when calling searchTournaments"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling searchTournaments",
        new ApiException(400, "Missing the required parameter 'appKey' when calling searchTournaments"));
    }

    // create path and map variables
    String path = "/tournament/search".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "keyword", keyword));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subType", subType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "includeInactive", includeInactive));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionTypes", missionTypes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "filter", filter));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((MissionShortResponse) ApiInvoker.deserialize(localVarResponse,  "", MissionShortResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Submit Tournament Score
  * Submit an array of scores for a tournament match. 
   * @param accountId The logged in user account ID.
   * @param appKey The application key.
   * @param missionId The missionId to score for
   * @param gameId The gameId to score for
   * @param packId The packId to score for
   * @param scores a JSON Array of scores to submit for a tournament match &#x60;&#x60;&#x60;json [   {     \&quot;accountId\&quot;: 2,     \&quot;points\&quot;: 3   },   {     \&quot;accountId\&quot;: 1777662,     \&quot;points\&quot;: 7   } ] &#x60;&#x60;&#x60; 
   * @param gameLevelId The gameLevelId to score for
   * @return SirqulResponse
  */
  public SirqulResponse submitTournamentScore (Long accountId, String appKey, Long missionId, Long gameId, Long packId, String scores, Long gameLevelId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'accountId' when calling submitTournamentScore"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'appKey' when calling submitTournamentScore"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'missionId' when calling submitTournamentScore"));
    }
    // verify the required parameter 'gameId' is set
    if (gameId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameId' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'gameId' when calling submitTournamentScore"));
    }
    // verify the required parameter 'packId' is set
    if (packId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'packId' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'packId' when calling submitTournamentScore"));
    }
    // verify the required parameter 'scores' is set
    if (scores == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'scores' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'scores' when calling submitTournamentScore"));
    }

    // create path and map variables
    String path = "/tournament/score";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameId", gameId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packId", packId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelId", gameLevelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "scores", scores));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Submit Tournament Score
   * Submit an array of scores for a tournament match. 
   * @param accountId The logged in user account ID.   * @param appKey The application key.   * @param missionId The missionId to score for   * @param gameId The gameId to score for   * @param packId The packId to score for   * @param scores a JSON Array of scores to submit for a tournament match &#x60;&#x60;&#x60;json [   {     \&quot;accountId\&quot;: 2,     \&quot;points\&quot;: 3   },   {     \&quot;accountId\&quot;: 1777662,     \&quot;points\&quot;: 7   } ] &#x60;&#x60;&#x60;    * @param gameLevelId The gameLevelId to score for
  */
  public void submitTournamentScore (Long accountId, String appKey, Long missionId, Long gameId, Long packId, String scores, Long gameLevelId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'accountId' when calling submitTournamentScore"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'appKey' when calling submitTournamentScore"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'missionId' when calling submitTournamentScore"));
    }
    // verify the required parameter 'gameId' is set
    if (gameId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameId' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'gameId' when calling submitTournamentScore"));
    }
    // verify the required parameter 'packId' is set
    if (packId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'packId' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'packId' when calling submitTournamentScore"));
    }
    // verify the required parameter 'scores' is set
    if (scores == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'scores' when calling submitTournamentScore",
        new ApiException(400, "Missing the required parameter 'scores' when calling submitTournamentScore"));
    }

    // create path and map variables
    String path = "/tournament/score".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameId", gameId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packId", packId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelId", gameLevelId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "scores", scores));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Submit a vote for a multi-stage album tournament.
  * Submit a vote for a multi-stage album tournament.
   * @param accountId The logged in user.
   * @param appKey The application to target
   * @param missionId The tournament&#39;s primary id
   * @param gameObjectId The tournament game object the user wants to vote on
   * @param deviceId The unique id of the device making the request (optional)
   * @param checkIfDeviceAlreadyVoted When true, check if the device already voted to prevent duplicate votes from the same device
   * @return SirqulResponse
  */
  public SirqulResponse submitTournamentVote (Long accountId, String appKey, Long missionId, Long gameObjectId, String deviceId, Boolean checkIfDeviceAlreadyVoted) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling submitTournamentVote",
        new ApiException(400, "Missing the required parameter 'accountId' when calling submitTournamentVote"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling submitTournamentVote",
        new ApiException(400, "Missing the required parameter 'appKey' when calling submitTournamentVote"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling submitTournamentVote",
        new ApiException(400, "Missing the required parameter 'missionId' when calling submitTournamentVote"));
    }
    // verify the required parameter 'gameObjectId' is set
    if (gameObjectId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameObjectId' when calling submitTournamentVote",
        new ApiException(400, "Missing the required parameter 'gameObjectId' when calling submitTournamentVote"));
    }

    // create path and map variables
    String path = "/tournament/vote";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameObjectId", gameObjectId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "checkIfDeviceAlreadyVoted", checkIfDeviceAlreadyVoted));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Submit a vote for a multi-stage album tournament.
   * Submit a vote for a multi-stage album tournament.
   * @param accountId The logged in user.   * @param appKey The application to target   * @param missionId The tournament&#39;s primary id   * @param gameObjectId The tournament game object the user wants to vote on   * @param deviceId The unique id of the device making the request (optional)   * @param checkIfDeviceAlreadyVoted When true, check if the device already voted to prevent duplicate votes from the same device
  */
  public void submitTournamentVote (Long accountId, String appKey, Long missionId, Long gameObjectId, String deviceId, Boolean checkIfDeviceAlreadyVoted, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling submitTournamentVote",
        new ApiException(400, "Missing the required parameter 'accountId' when calling submitTournamentVote"));
    }
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling submitTournamentVote",
        new ApiException(400, "Missing the required parameter 'appKey' when calling submitTournamentVote"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling submitTournamentVote",
        new ApiException(400, "Missing the required parameter 'missionId' when calling submitTournamentVote"));
    }
    // verify the required parameter 'gameObjectId' is set
    if (gameObjectId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameObjectId' when calling submitTournamentVote",
        new ApiException(400, "Missing the required parameter 'gameObjectId' when calling submitTournamentVote"));
    }

    // create path and map variables
    String path = "/tournament/vote".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "deviceId", deviceId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "appKey", appKey));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameObjectId", gameObjectId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "checkIfDeviceAlreadyVoted", checkIfDeviceAlreadyVoted));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Substitute Tournament Player
  * Service to replace the user&#39;s opponent in the current level - pack - mission with an AI account.
   * @param accountId the id of the logged in user
   * @param missionId the id of the mission
   * @param packId the id of the pack
   * @param gameLevelId the id of the game level
   * @return SirqulResponse
  */
  public SirqulResponse substituteTournamentPlayer (Long accountId, Long missionId, Long packId, Long gameLevelId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling substituteTournamentPlayer",
        new ApiException(400, "Missing the required parameter 'accountId' when calling substituteTournamentPlayer"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling substituteTournamentPlayer",
        new ApiException(400, "Missing the required parameter 'missionId' when calling substituteTournamentPlayer"));
    }
    // verify the required parameter 'packId' is set
    if (packId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'packId' when calling substituteTournamentPlayer",
        new ApiException(400, "Missing the required parameter 'packId' when calling substituteTournamentPlayer"));
    }
    // verify the required parameter 'gameLevelId' is set
    if (gameLevelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameLevelId' when calling substituteTournamentPlayer",
        new ApiException(400, "Missing the required parameter 'gameLevelId' when calling substituteTournamentPlayer"));
    }

    // create path and map variables
    String path = "/tournament/substitute";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packId", packId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelId", gameLevelId));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (SirqulResponse) ApiInvoker.deserialize(localVarResponse, "", SirqulResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Substitute Tournament Player
   * Service to replace the user&#39;s opponent in the current level - pack - mission with an AI account.
   * @param accountId the id of the logged in user   * @param missionId the id of the mission   * @param packId the id of the pack   * @param gameLevelId the id of the game level
  */
  public void substituteTournamentPlayer (Long accountId, Long missionId, Long packId, Long gameLevelId, final Response.Listener<SirqulResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling substituteTournamentPlayer",
        new ApiException(400, "Missing the required parameter 'accountId' when calling substituteTournamentPlayer"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling substituteTournamentPlayer",
        new ApiException(400, "Missing the required parameter 'missionId' when calling substituteTournamentPlayer"));
    }
    // verify the required parameter 'packId' is set
    if (packId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'packId' when calling substituteTournamentPlayer",
        new ApiException(400, "Missing the required parameter 'packId' when calling substituteTournamentPlayer"));
    }
    // verify the required parameter 'gameLevelId' is set
    if (gameLevelId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'gameLevelId' when calling substituteTournamentPlayer",
        new ApiException(400, "Missing the required parameter 'gameLevelId' when calling substituteTournamentPlayer"));
    }

    // create path and map variables
    String path = "/tournament/substitute".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "packId", packId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "gameLevelId", gameLevelId));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((SirqulResponse) ApiInvoker.deserialize(localVarResponse,  "", SirqulResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Tournament
  * Update a tournament.
   * @param accountId The logged in user.
   * @param missionId The mission/tournament to update
   * @param title The title of the tournament
   * @param subType Custom string client apps can use for searching/filtering missions
   * @param imageAssetId The asset ID to attach to the tournament
   * @param secondsBetweenLevels The number of seconds in between the start of each tournament game
   * @param secondsForTieBreaker The number of seconds to extend the round end time in the case of a tie breaker
   * @param secondsBetweenPacks The number of seconds in between the start of each tournament round
   * @param maximumLevelLength The maximum number of seconds the match is expected to end at, which gets used to determine when a match should end when there is no activity
   * @param costToPlay The number of tickets required to pay to enter the tournament
   * @param costToPlayType The type of ticket required to pay
   * @param minimumToPlay The minimum number of players required to sign up for the tournament to be played
   * @param startingLimit The starting number of players for a tournament (filled with AI&#39;s)
   * @param availableLimit The maximum number of players for a tournament (currently 128 but not enforced)
   * @param description The description of the tournament
   * @param metaData External custom client defined data
   * @param startDate The date/time to start the tournament
   * @param audienceIds The audiences associated with the tournament
   * @param active Activate/deactivate the mission
   * @param enableBuyBack Determines whether to allow players to buy back into a tournament
   * @param offerIds The list of offers to give as a reward beyond the tickets
   * @param offerAssetId The artwork ID to attach to the reward offer
   * @param fixedReward If set then do not update the ticket reward, auto set to true if offerIds provided
   * @param splitReward Set the rules for handling the reward in case of a tie, values: EVEN split the reward evenly ALL everyone gets the full reward value FIRST first score submitted RANDOM random player who scored
   * @param allocateTickets Flag to indicate owner should receive tickets for completed missions
   * @param tournamentData A text based string that will be passed into each tournament setup to populate the content
   * @param visibility Sets the visibility flag for the tournament
   * @param preliminaryGroups The number of initial preliminary groups in a multi-stage tournament (this is expected to be a power of two number)
   * @param preliminaryGroupAdvancements This determines how many people can advance per round in a preliminary group (this is a comma separated list of integers)
   * @param enableMultipleEntries This determines if multiple submissions/entries are allowed in a multi-stage album tournament
   * @param enableMultipleVotes This determines if users are allowed to vote multiple times per group in a multi-stage album tournament
   * @param featured This determines whether the tournament is \&quot;featured\&quot; or not
   * @param winnerTag This sets what analytic tag is used when a winner is determined
   * @param tieTag This sets what analytic tag is used when a winner is determined
   * @return TournamentResponse
  */
  public TournamentResponse updateTournament (Long accountId, Long missionId, String title, String subType, Long imageAssetId, Integer secondsBetweenLevels, Integer secondsForTieBreaker, Integer secondsBetweenPacks, Integer maximumLevelLength, Integer costToPlay, String costToPlayType, Integer minimumToPlay, Integer startingLimit, Integer availableLimit, String description, String metaData, Long startDate, String audienceIds, Boolean active, Boolean enableBuyBack, String offerIds, Long offerAssetId, Boolean fixedReward, String splitReward, Boolean allocateTickets, String tournamentData, String visibility, Integer preliminaryGroups, String preliminaryGroupAdvancements, Boolean enableMultipleEntries, Boolean enableMultipleVotes, Boolean featured, String winnerTag, String tieTag) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateTournament",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateTournament"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling updateTournament",
        new ApiException(400, "Missing the required parameter 'missionId' when calling updateTournament"));
    }

    // create path and map variables
    String path = "/tournament/update";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "accountId", accountId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "missionId", missionId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "title", title));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "subType", subType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "imageAssetId", imageAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "secondsBetweenLevels", secondsBetweenLevels));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "secondsForTieBreaker", secondsForTieBreaker));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "secondsBetweenPacks", secondsBetweenPacks));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "maximumLevelLength", maximumLevelLength));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "costToPlay", costToPlay));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "costToPlayType", costToPlayType));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "minimumToPlay", minimumToPlay));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startingLimit", startingLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "availableLimit", availableLimit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "description", description));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "metaData", metaData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "startDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "audienceIds", audienceIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "active", active));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enableBuyBack", enableBuyBack));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerIds", offerIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "offerAssetId", offerAssetId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "fixedReward", fixedReward));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "splitReward", splitReward));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "allocateTickets", allocateTickets));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tournamentData", tournamentData));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "visibility", visibility));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preliminaryGroups", preliminaryGroups));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "preliminaryGroupAdvancements", preliminaryGroupAdvancements));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enableMultipleEntries", enableMultipleEntries));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "enableMultipleVotes", enableMultipleVotes));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "featured", featured));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "winnerTag", winnerTag));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "tieTag", tieTag));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (TournamentResponse) ApiInvoker.deserialize(localVarResponse, "", TournamentResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Tournament
   * Update a tournament.
   * @param accountId The logged in user.   * @param missionId The mission/tournament to update   * @param title The title of the tournament   * @param subType Custom string client apps can use for searching/filtering missions   * @param imageAssetId The asset ID to attach to the tournament   * @param secondsBetweenLevels The number of seconds in between the start of each tournament game   * @param secondsForTieBreaker The number of seconds to extend the round end time in the case of a tie breaker   * @param secondsBetweenPacks The number of seconds in between the start of each tournament round   * @param maximumLevelLength The maximum number of seconds the match is expected to end at, which gets used to determine when a match should end when there is no activity   * @param costToPlay The number of tickets required to pay to enter the tournament   * @param costToPlayType The type of ticket required to pay   * @param minimumToPlay The minimum number of players required to sign up for the tournament to be played   * @param startingLimit The starting number of players for a tournament (filled with AI&#39;s)   * @param availableLimit The maximum number of players for a tournament (currently 128 but not enforced)   * @param description The description of the tournament   * @param metaData External custom client defined data   * @param startDate The date/time to start the tournament   * @param audienceIds The audiences associated with the tournament   * @param active Activate/deactivate the mission   * @param enableBuyBack Determines whether to allow players to buy back into a tournament   * @param offerIds The list of offers to give as a reward beyond the tickets   * @param offerAssetId The artwork ID to attach to the reward offer   * @param fixedReward If set then do not update the ticket reward, auto set to true if offerIds provided   * @param splitReward Set the rules for handling the reward in case of a tie, values: EVEN split the reward evenly ALL everyone gets the full reward value FIRST first score submitted RANDOM random player who scored   * @param allocateTickets Flag to indicate owner should receive tickets for completed missions   * @param tournamentData A text based string that will be passed into each tournament setup to populate the content   * @param visibility Sets the visibility flag for the tournament   * @param preliminaryGroups The number of initial preliminary groups in a multi-stage tournament (this is expected to be a power of two number)   * @param preliminaryGroupAdvancements This determines how many people can advance per round in a preliminary group (this is a comma separated list of integers)   * @param enableMultipleEntries This determines if multiple submissions/entries are allowed in a multi-stage album tournament   * @param enableMultipleVotes This determines if users are allowed to vote multiple times per group in a multi-stage album tournament   * @param featured This determines whether the tournament is \&quot;featured\&quot; or not   * @param winnerTag This sets what analytic tag is used when a winner is determined   * @param tieTag This sets what analytic tag is used when a winner is determined
  */
  public void updateTournament (Long accountId, Long missionId, String title, String subType, Long imageAssetId, Integer secondsBetweenLevels, Integer secondsForTieBreaker, Integer secondsBetweenPacks, Integer maximumLevelLength, Integer costToPlay, String costToPlayType, Integer minimumToPlay, Integer startingLimit, Integer availableLimit, String description, String metaData, Long startDate, String audienceIds, Boolean active, Boolean enableBuyBack, String offerIds, Long offerAssetId, Boolean fixedReward, String splitReward, Boolean allocateTickets, String tournamentData, String visibility, Integer preliminaryGroups, String preliminaryGroupAdvancements, Boolean enableMultipleEntries, Boolean enableMultipleVotes, Boolean featured, String winnerTag, String tieTag, final Response.Listener<TournamentResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'accountId' is set
    if (accountId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'accountId' when calling updateTournament",
        new ApiException(400, "Missing the required parameter 'accountId' when calling updateTournament"));
    }
    // verify the required parameter 'missionId' is set
    if (missionId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'missionId' when calling updateTournament",
[...]
