/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import org.openapitools.client.model.TwiMLResponse;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class TwilioApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Buy Offer by SMS
  * Recieve an SMS payload from Twillio to purchase an offer.
   * @param appKey the application key
   * @param body the message of the text
   * @param from the sender of the sms
   * @param currencyType the type of currency
   * @return TwiMLResponse
  */
  public TwiMLResponse smsBuyOffer (String appKey, String body, String from, String currencyType) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling smsBuyOffer",
        new ApiException(400, "Missing the required parameter 'appKey' when calling smsBuyOffer"));
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'body' when calling smsBuyOffer",
        new ApiException(400, "Missing the required parameter 'body' when calling smsBuyOffer"));
    }
    // verify the required parameter 'from' is set
    if (from == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'from' when calling smsBuyOffer",
        new ApiException(400, "Missing the required parameter 'from' when calling smsBuyOffer"));
    }
    // verify the required parameter 'currencyType' is set
    if (currencyType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'currencyType' when calling smsBuyOffer",
        new ApiException(400, "Missing the required parameter 'currencyType' when calling smsBuyOffer"));
    }

    // create path and map variables
    String path = "/sms/buyoffer/{appKey}".replaceAll("\\{" + "appKey" + "\\}", apiInvoker.escapeString(appKey.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Body", body));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "From", from));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "currencyType", currencyType));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (TwiMLResponse) ApiInvoker.deserialize(localVarResponse, "", TwiMLResponse.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Buy Offer by SMS
   * Recieve an SMS payload from Twillio to purchase an offer.
   * @param appKey the application key   * @param body the message of the text   * @param from the sender of the sms   * @param currencyType the type of currency
  */
  public void smsBuyOffer (String appKey, String body, String from, String currencyType, final Response.Listener<TwiMLResponse> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'appKey' is set
    if (appKey == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'appKey' when calling smsBuyOffer",
        new ApiException(400, "Missing the required parameter 'appKey' when calling smsBuyOffer"));
    }
    // verify the required parameter 'body' is set
    if (body == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'body' when calling smsBuyOffer",
        new ApiException(400, "Missing the required parameter 'body' when calling smsBuyOffer"));
    }
    // verify the required parameter 'from' is set
    if (from == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'from' when calling smsBuyOffer",
        new ApiException(400, "Missing the required parameter 'from' when calling smsBuyOffer"));
    }
    // verify the required parameter 'currencyType' is set
    if (currencyType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'currencyType' when calling smsBuyOffer",
        new ApiException(400, "Missing the required parameter 'currencyType' when calling smsBuyOffer"));
    }

    // create path and map variables
    String path = "/sms/buyoffer/{appKey}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "appKey" + "\\}", apiInvoker.escapeString(appKey.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "Body", body));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "From", from));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "currencyType", currencyType));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((TwiMLResponse) ApiInvoker.deserialize(localVarResponse,  "", TwiMLResponse.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
