/*
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import org.openapitools.client.ApiInvoker;
import org.openapitools.client.ApiException;
import org.openapitools.client.Pair;

import org.openapitools.client.model.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import java.util.*;
import org.openapitools.client.model.VehicleType;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class VehicleTypeApi {
  String basePath = "https://dev.sirqul.com/api/3.18";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Create Vehicle Type
  * Create a new vehicle type
   * @param vehicleType A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
   * @param body 
   * @return VehicleType
  */
  public VehicleType createVehicleType (String vehicleType, VehicleType body) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = body;
    // verify the required parameter 'vehicleType' is set
    if (vehicleType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleType' when calling createVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleType' when calling createVehicleType"));
    }

    // create path and map variables
    String path = "/vehicle/type";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vehicleType", vehicleType));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VehicleType) ApiInvoker.deserialize(localVarResponse, "", VehicleType.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Create Vehicle Type
   * Create a new vehicle type
   * @param vehicleType A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60;    * @param body 
  */
  public void createVehicleType (String vehicleType, VehicleType body, final Response.Listener<VehicleType> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = body;

    // verify the required parameter 'vehicleType' is set
    if (vehicleType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleType' when calling createVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleType' when calling createVehicleType"));
    }

    // create path and map variables
    String path = "/vehicle/type".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "vehicleType", vehicleType));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "POST", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VehicleType) ApiInvoker.deserialize(localVarResponse,  "", VehicleType.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Delete Vehicle Type
  * Delete a vehicle type
   * @param vehicleTypeId The id of the requested vehicle type
   * @return void
  */
  public void deleteVehicleType (Long vehicleTypeId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vehicleTypeId' is set
    if (vehicleTypeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleTypeId' when calling deleteVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleTypeId' when calling deleteVehicleType"));
    }

    // create path and map variables
    String path = "/vehicle/type/{vehicleTypeId}".replaceAll("\\{" + "vehicleTypeId" + "\\}", apiInvoker.escapeString(vehicleTypeId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return ;
      } else {
         return ;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Delete Vehicle Type
   * Delete a vehicle type
   * @param vehicleTypeId The id of the requested vehicle type
  */
  public void deleteVehicleType (Long vehicleTypeId, final Response.Listener<String> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vehicleTypeId' is set
    if (vehicleTypeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleTypeId' when calling deleteVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleTypeId' when calling deleteVehicleType"));
    }

    // create path and map variables
    String path = "/vehicle/type/{vehicleTypeId}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vehicleTypeId" + "\\}", apiInvoker.escapeString(vehicleTypeId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "DELETE", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
              responseListener.onResponse(localVarResponse);
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Vehicle Type
  * Get a vehicle type
   * @param vehicleTypeId The id of the requested vehicle type
   * @return VehicleType
  */
  public VehicleType getVehicleType (Long vehicleTypeId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'vehicleTypeId' is set
    if (vehicleTypeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleTypeId' when calling getVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleTypeId' when calling getVehicleType"));
    }

    // create path and map variables
    String path = "/vehicle/type/{vehicleTypeId}".replaceAll("\\{" + "vehicleTypeId" + "\\}", apiInvoker.escapeString(vehicleTypeId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VehicleType) ApiInvoker.deserialize(localVarResponse, "", VehicleType.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Vehicle Type
   * Get a vehicle type
   * @param vehicleTypeId The id of the requested vehicle type
  */
  public void getVehicleType (Long vehicleTypeId, final Response.Listener<VehicleType> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'vehicleTypeId' is set
    if (vehicleTypeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleTypeId' when calling getVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleTypeId' when calling getVehicleType"));
    }

    // create path and map variables
    String path = "/vehicle/type/{vehicleTypeId}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vehicleTypeId" + "\\}", apiInvoker.escapeString(vehicleTypeId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();



    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VehicleType) ApiInvoker.deserialize(localVarResponse,  "", VehicleType.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Search Vehicle Type
  * Search for types of vehicles
   * @param sortField The field to sort by
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param activeOnly Return only active results
   * @param retailerId Filter by retailer
   * @param hubId Filter by service hub
   * @return List<VehicleType>
  */
  public List<VehicleType> searchVehicleTypes (String sortField, Boolean descending, Integer start, Integer limit, Boolean activeOnly, Long retailerId, Long hubId) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'sortField' when calling searchVehicleTypes"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'descending' when calling searchVehicleTypes"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'start' when calling searchVehicleTypes"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'limit' when calling searchVehicleTypes"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling searchVehicleTypes"));
    }

    // create path and map variables
    String path = "/vehicle/type";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hubId", hubId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (List<VehicleType>) ApiInvoker.deserialize(localVarResponse, "array", VehicleType.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Search Vehicle Type
   * Search for types of vehicles
   * @param sortField The field to sort by   * @param descending Determines whether the sorted list is in descending or ascending order   * @param start The start index for pagination   * @param limit The limit for pagination   * @param activeOnly Return only active results   * @param retailerId Filter by retailer   * @param hubId Filter by service hub
  */
  public void searchVehicleTypes (String sortField, Boolean descending, Integer start, Integer limit, Boolean activeOnly, Long retailerId, Long hubId, final Response.Listener<List<VehicleType>> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'sortField' is set
    if (sortField == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sortField' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'sortField' when calling searchVehicleTypes"));
    }
    // verify the required parameter 'descending' is set
    if (descending == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'descending' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'descending' when calling searchVehicleTypes"));
    }
    // verify the required parameter 'start' is set
    if (start == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'start' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'start' when calling searchVehicleTypes"));
    }
    // verify the required parameter 'limit' is set
    if (limit == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'limit' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'limit' when calling searchVehicleTypes"));
    }
    // verify the required parameter 'activeOnly' is set
    if (activeOnly == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'activeOnly' when calling searchVehicleTypes",
        new ApiException(400, "Missing the required parameter 'activeOnly' when calling searchVehicleTypes"));
    }

    // create path and map variables
    String path = "/vehicle/type".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "retailerId", retailerId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "hubId", hubId));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "sortField", sortField));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "descending", descending));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "start", start));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "limit", limit));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "activeOnly", activeOnly));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((List<VehicleType>) ApiInvoker.deserialize(localVarResponse,  "array", VehicleType.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Update Vehicle Type
  * Update a vehicle type
   * @param vehicleTypeId The id of the vehicle type to update
   * @param vehicleType The new data for the vehicle type to update to. A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
   * @param body 
   * @return VehicleType
  */
  public VehicleType updateVehicleType (Long vehicleTypeId, String vehicleType, VehicleType body) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = body;
    // verify the required parameter 'vehicleTypeId' is set
    if (vehicleTypeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleTypeId' when calling updateVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleTypeId' when calling updateVehicleType"));
    }
    // verify the required parameter 'vehicleType' is set
    if (vehicleType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleType' when calling updateVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleType' when calling updateVehicleType"));
    }

    // create path and map variables
    String path = "/vehicle/type/{vehicleTypeId}".replaceAll("\\{" + "vehicleTypeId" + "\\}", apiInvoker.escapeString(vehicleTypeId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "vehicleType", vehicleType));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "PUT", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (VehicleType) ApiInvoker.deserialize(localVarResponse, "", VehicleType.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Update Vehicle Type
   * Update a vehicle type
   * @param vehicleTypeId The id of the vehicle type to update   * @param vehicleType The new data for the vehicle type to update to. A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60;    * @param body 
  */
  public void updateVehicleType (Long vehicleTypeId, String vehicleType, VehicleType body, final Response.Listener<VehicleType> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = body;

    // verify the required parameter 'vehicleTypeId' is set
    if (vehicleTypeId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleTypeId' when calling updateVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleTypeId' when calling updateVehicleType"));
    }
    // verify the required parameter 'vehicleType' is set
    if (vehicleType == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'vehicleType' when calling updateVehicleType",
        new ApiException(400, "Missing the required parameter 'vehicleType' when calling updateVehicleType"));
    }

    // create path and map variables
    String path = "/vehicle/type/{vehicleTypeId}".replaceAll("\\{format\\}","json").replaceAll("\\{" + "vehicleTypeId" + "\\}", apiInvoker.escapeString(vehicleTypeId.toString()));

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "vehicleType", vehicleType));


    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "PUT", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((VehicleType) ApiInvoker.deserialize(localVarResponse,  "", VehicleType.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
