=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class AchievementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Searches an Achievement Tier
    # Searches a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :app_key the application key
    # @option opts [String] :keyword the keyword used to filter resutls with (this returns results that have the keyword in the title or the description of the achievement tier)
    # @option opts [Integer] :achievement_type filter results by achievementType (these are exact case sensitive matches)
    # @option opts [String] :rank_type filter results by the rankType (these are the exact case sensitive matches)
    # @option opts [String] :sort_field the field to sort by. See {@link AchievementApiMap}
    # @option opts [Boolean] :descending determines whether the sort list is in descending or ascending order (of the achievement)
    # @option opts [Boolean] :descending_goal determines whether the results are in descending or ascending order by the tier goal count (after the initial sort on the achievement)
    # @option opts [Integer] :start The start of the index for pagination
    # @option opts [Integer] :limit the limit for pagination (has a hard limit of 1000)
    # @return [AchievementTierResponse]
    def api_version_achievement_tier_search_post(version, opts = {})
      data, _status_code, _headers = api_version_achievement_tier_search_post_with_http_info(version, opts)
      data
    end

    # Searches an Achievement Tier
    # Searches a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :app_key the application key
    # @option opts [String] :keyword the keyword used to filter resutls with (this returns results that have the keyword in the title or the description of the achievement tier)
    # @option opts [Integer] :achievement_type filter results by achievementType (these are exact case sensitive matches)
    # @option opts [String] :rank_type filter results by the rankType (these are the exact case sensitive matches)
    # @option opts [String] :sort_field the field to sort by. See {@link AchievementApiMap}
    # @option opts [Boolean] :descending determines whether the sort list is in descending or ascending order (of the achievement)
    # @option opts [Boolean] :descending_goal determines whether the results are in descending or ascending order by the tier goal count (after the initial sort on the achievement)
    # @option opts [Integer] :start The start of the index for pagination
    # @option opts [Integer] :limit the limit for pagination (has a hard limit of 1000)
    # @return [Array<(AchievementTierResponse, Integer, Hash)>] AchievementTierResponse data, response status code and response headers
    def api_version_achievement_tier_search_post_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.api_version_achievement_tier_search_post ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.api_version_achievement_tier_search_post"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/tier/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'achievementType'] = opts[:'achievement_type'] if !opts[:'achievement_type'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'descendingGoal'] = opts[:'descending_goal'] if !opts[:'descending_goal'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AchievementTierResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.api_version_achievement_tier_search_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#api_version_achievement_tier_search_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Achievement
    # Updates an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param app_key [String] the application key the achievement is for
    # @param title [String] the title of the achievement (255 character limit)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :analytics_tag the analytics tag that will trigger when a user&#39;s achievement count gets updated
    # @option opts [String] :description the description of the achievement
    # @option opts [String] :rank_type the rank type for updating leader boards
    # @option opts [Integer] :rank_increment determines how much the rank count is incremented
    # @option opts [Integer] :min_increment restrict scores to be above or equal to this minimum value
    # @option opts [Integer] :max_increment restrict scores to be below or equal to this maximum value
    # @option opts [Boolean] :validate determines whether the customId on analytics are used to validate a user&#39;s achievement progress.
    # @option opts [Boolean] :active achievement is active or inactive
    # @option opts [String] :trigger_definition if provided will define what triggers to run after a tier is completed
    # @return [AchievementResponse]
    def create_achievement(version, app_key, title, opts = {})
      data, _status_code, _headers = create_achievement_with_http_info(version, app_key, title, opts)
      data
    end

    # Create Achievement
    # Updates an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param app_key [String] the application key the achievement is for
    # @param title [String] the title of the achievement (255 character limit)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :analytics_tag the analytics tag that will trigger when a user&#39;s achievement count gets updated
    # @option opts [String] :description the description of the achievement
    # @option opts [String] :rank_type the rank type for updating leader boards
    # @option opts [Integer] :rank_increment determines how much the rank count is incremented
    # @option opts [Integer] :min_increment restrict scores to be above or equal to this minimum value
    # @option opts [Integer] :max_increment restrict scores to be below or equal to this maximum value
    # @option opts [Boolean] :validate determines whether the customId on analytics are used to validate a user&#39;s achievement progress.
    # @option opts [Boolean] :active achievement is active or inactive
    # @option opts [String] :trigger_definition if provided will define what triggers to run after a tier is completed
    # @return [Array<(AchievementResponse, Integer, Hash)>] AchievementResponse data, response status code and response headers
    def create_achievement_with_http_info(version, app_key, title, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.create_achievement ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.create_achievement"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AchievementApi.create_achievement"
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling AchievementApi.create_achievement"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'title'] = title
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'analyticsTag'] = opts[:'analytics_tag'] if !opts[:'analytics_tag'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?
      query_params[:'rankIncrement'] = opts[:'rank_increment'] if !opts[:'rank_increment'].nil?
      query_params[:'minIncrement'] = opts[:'min_increment'] if !opts[:'min_increment'].nil?
      query_params[:'maxIncrement'] = opts[:'max_increment'] if !opts[:'max_increment'].nil?
      query_params[:'validate'] = opts[:'validate'] if !opts[:'validate'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'triggerDefinition'] = opts[:'trigger_definition'] if !opts[:'trigger_definition'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AchievementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.create_achievement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#create_achievement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Achievement Tier
    # Create a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param achievement_id [Integer] the achievement id for adding a new tier
    # @param score_all_instances [Boolean] score all instances
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [File] :icon achievement tier icon image file
    # @option opts [Integer] :icon_asset_id the icon assetId, if icon is provided, icon will overrule
    # @option opts [String] :title the title of the achievement tier
    # @option opts [String] :description the description of the achievement tier
    # @option opts [Integer] :goal_count the count requirement for completing the achievement tier
    # @option opts [Integer] :mission_id The ID of the mission to associate with the achievement
    # @option opts [Integer] :game_id The ID of the game to associate with the achievement
    # @option opts [Integer] :pack_id The ID of the pack to associate with the achievement
    # @option opts [Integer] :game_level_id The ID of the game level to associate with the achievement
    # @option opts [Integer] :game_object_id The ID of the game object to associate with the achievement
    # @return [AchievementTierResponse]
    def create_achievement_tier(version, achievement_id, score_all_instances, opts = {})
      data, _status_code, _headers = create_achievement_tier_with_http_info(version, achievement_id, score_all_instances, opts)
      data
    end

    # Create Achievement Tier
    # Create a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param achievement_id [Integer] the achievement id for adding a new tier
    # @param score_all_instances [Boolean] score all instances
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [File] :icon achievement tier icon image file
    # @option opts [Integer] :icon_asset_id the icon assetId, if icon is provided, icon will overrule
    # @option opts [String] :title the title of the achievement tier
    # @option opts [String] :description the description of the achievement tier
    # @option opts [Integer] :goal_count the count requirement for completing the achievement tier
    # @option opts [Integer] :mission_id The ID of the mission to associate with the achievement
    # @option opts [Integer] :game_id The ID of the game to associate with the achievement
    # @option opts [Integer] :pack_id The ID of the pack to associate with the achievement
    # @option opts [Integer] :game_level_id The ID of the game level to associate with the achievement
    # @option opts [Integer] :game_object_id The ID of the game object to associate with the achievement
    # @return [Array<(AchievementTierResponse, Integer, Hash)>] AchievementTierResponse data, response status code and response headers
    def create_achievement_tier_with_http_info(version, achievement_id, score_all_instances, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.create_achievement_tier ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.create_achievement_tier"
      end
      # verify the required parameter 'achievement_id' is set
      if @api_client.config.client_side_validation && achievement_id.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_id' when calling AchievementApi.create_achievement_tier"
      end
      # verify the required parameter 'score_all_instances' is set
      if @api_client.config.client_side_validation && score_all_instances.nil?
        fail ArgumentError, "Missing the required parameter 'score_all_instances' when calling AchievementApi.create_achievement_tier"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/tier/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'achievementId'] = achievement_id
      query_params[:'scoreAllInstances'] = score_all_instances
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'icon'] = opts[:'icon'] if !opts[:'icon'].nil?
      query_params[:'iconAssetId'] = opts[:'icon_asset_id'] if !opts[:'icon_asset_id'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'goalCount'] = opts[:'goal_count'] if !opts[:'goal_count'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'gameId'] = opts[:'game_id'] if !opts[:'game_id'].nil?
      query_params[:'packId'] = opts[:'pack_id'] if !opts[:'pack_id'].nil?
      query_params[:'gameLevelId'] = opts[:'game_level_id'] if !opts[:'game_level_id'].nil?
      query_params[:'gameObjectId'] = opts[:'game_object_id'] if !opts[:'game_object_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AchievementTierResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.create_achievement_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#create_achievement_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Achievement
    # Deletes an achievement (for developer/retailer use). User must have permissions to the application the achievement was created for.
    # @param version [Float] 
    # @param achievement_id [Integer] The ID of the achievement
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @return [SirqulResponse]
    def delete_achievement(version, achievement_id, opts = {})
      data, _status_code, _headers = delete_achievement_with_http_info(version, achievement_id, opts)
      data
    end

    # Delete Achievement
    # Deletes an achievement (for developer/retailer use). User must have permissions to the application the achievement was created for.
    # @param version [Float] 
    # @param achievement_id [Integer] The ID of the achievement
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_achievement_with_http_info(version, achievement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.delete_achievement ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.delete_achievement"
      end
      # verify the required parameter 'achievement_id' is set
      if @api_client.config.client_side_validation && achievement_id.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_id' when calling AchievementApi.delete_achievement"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'achievementId'] = achievement_id
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.delete_achievement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#delete_achievement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Achievement Tier
    # Deletes an achievement tier (for developer/retailer use). User must have permissions to the application the achievement was created for.
    # @param version [Float] 
    # @param achievement_tier_id [Integer] the achievement id for deletion
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @return [SirqulResponse]
    def delete_achievement_tier(version, achievement_tier_id, opts = {})
      data, _status_code, _headers = delete_achievement_tier_with_http_info(version, achievement_tier_id, opts)
      data
    end

    # Delete Achievement Tier
    # Deletes an achievement tier (for developer/retailer use). User must have permissions to the application the achievement was created for.
    # @param version [Float] 
    # @param achievement_tier_id [Integer] the achievement id for deletion
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_achievement_tier_with_http_info(version, achievement_tier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.delete_achievement_tier ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.delete_achievement_tier"
      end
      # verify the required parameter 'achievement_tier_id' is set
      if @api_client.config.client_side_validation && achievement_tier_id.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_tier_id' when calling AchievementApi.delete_achievement_tier"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/tier/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'achievementTierId'] = achievement_tier_id
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.delete_achievement_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#delete_achievement_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Achievement
    # Get an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param achievement_id [Integer] The ID of the achievement
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :achievement_type achievementType
    # @return [AchievementTierResponse]
    def get_achievement(version, achievement_id, opts = {})
      data, _status_code, _headers = get_achievement_with_http_info(version, achievement_id, opts)
      data
    end

    # Get Achievement
    # Get an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param achievement_id [Integer] The ID of the achievement
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :achievement_type achievementType
    # @return [Array<(AchievementTierResponse, Integer, Hash)>] AchievementTierResponse data, response status code and response headers
    def get_achievement_with_http_info(version, achievement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.get_achievement ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.get_achievement"
      end
      # verify the required parameter 'achievement_id' is set
      if @api_client.config.client_side_validation && achievement_id.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_id' when calling AchievementApi.get_achievement"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'achievementId'] = achievement_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'achievementType'] = opts[:'achievement_type'] if !opts[:'achievement_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AchievementTierResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.get_achievement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#get_achievement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets an achievement tier
    # Gets an achievement tier (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param account_id [Integer] the account id of the user (deviceId or accountId required)
    # @param achievement_tier_id [Integer] the achievement tier id that is being retrieved
    # @param [Hash] opts the optional parameters
    # @return [AchievementTierResponse]
    def get_achievement_tier(version, account_id, achievement_tier_id, opts = {})
      data, _status_code, _headers = get_achievement_tier_with_http_info(version, account_id, achievement_tier_id, opts)
      data
    end

    # Gets an achievement tier
    # Gets an achievement tier (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param account_id [Integer] the account id of the user (deviceId or accountId required)
    # @param achievement_tier_id [Integer] the achievement tier id that is being retrieved
    # @param [Hash] opts the optional parameters
    # @return [Array<(AchievementTierResponse, Integer, Hash)>] AchievementTierResponse data, response status code and response headers
    def get_achievement_tier_with_http_info(version, account_id, achievement_tier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.get_achievement_tier ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.get_achievement_tier"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AchievementApi.get_achievement_tier"
      end
      # verify the required parameter 'achievement_tier_id' is set
      if @api_client.config.client_side_validation && achievement_tier_id.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_tier_id' when calling AchievementApi.get_achievement_tier"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/tier/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'achievementTierId'] = achievement_tier_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AchievementTierResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.get_achievement_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#get_achievement_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Achievement Progress
    # Gets a list of user achievements.
    # @param version [Float] 
    # @param return_nulls [Boolean] determines whether to return null fields in the response
    # @param app_key [String] the application key for filtering results by application
    # @param include_undiscovered [Boolean] determines whether to return achievements that the user has not discovered yet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :connection_account_email the email of the account to view achievements
    # @option opts [Integer] :connection_account_id the id of the account to view achievements
    # @option opts [String] :rank_type filter results by achievement rankType
    # @option opts [String] :achievement_type filter results by achievement type
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<AchievementProgressResponse>]
    def get_user_achievements(version, return_nulls, app_key, include_undiscovered, opts = {})
      data, _status_code, _headers = get_user_achievements_with_http_info(version, return_nulls, app_key, include_undiscovered, opts)
      data
    end

    # Get Achievement Progress
    # Gets a list of user achievements.
    # @param version [Float] 
    # @param return_nulls [Boolean] determines whether to return null fields in the response
    # @param app_key [String] the application key for filtering results by application
    # @param include_undiscovered [Boolean] determines whether to return achievements that the user has not discovered yet
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :connection_account_email the email of the account to view achievements
    # @option opts [Integer] :connection_account_id the id of the account to view achievements
    # @option opts [String] :rank_type filter results by achievement rankType
    # @option opts [String] :achievement_type filter results by achievement type
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(Array<AchievementProgressResponse>, Integer, Hash)>] Array<AchievementProgressResponse> data, response status code and response headers
    def get_user_achievements_with_http_info(version, return_nulls, app_key, include_undiscovered, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.get_user_achievements ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.get_user_achievements"
      end
      # verify the required parameter 'return_nulls' is set
      if @api_client.config.client_side_validation && return_nulls.nil?
        fail ArgumentError, "Missing the required parameter 'return_nulls' when calling AchievementApi.get_user_achievements"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AchievementApi.get_user_achievements"
      end
      # verify the required parameter 'include_undiscovered' is set
      if @api_client.config.client_side_validation && include_undiscovered.nil?
        fail ArgumentError, "Missing the required parameter 'include_undiscovered' when calling AchievementApi.get_user_achievements"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/progress/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = return_nulls
      query_params[:'appKey'] = app_key
      query_params[:'includeUndiscovered'] = include_undiscovered
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionAccountEmail'] = opts[:'connection_account_email'] if !opts[:'connection_account_email'].nil?
      query_params[:'connectionAccountId'] = opts[:'connection_account_id'] if !opts[:'connection_account_id'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?
      query_params[:'achievementType'] = opts[:'achievement_type'] if !opts[:'achievement_type'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AchievementProgressResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.get_user_achievements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#get_user_achievements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Achievement Tags
    # List achievement tags by application
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key filter results by application key
    # @return [SirqulResponse]
    def list_achievement_tags(version, opts = {})
      data, _status_code, _headers = list_achievement_tags_with_http_info(version, opts)
      data
    end

    # List Achievement Tags
    # List achievement tags by application
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key filter results by application key
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def list_achievement_tags_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.list_achievement_tags ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.list_achievement_tags"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/tag/list'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.list_achievement_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#list_achievement_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Achievements
    # List achievements by billable.
    # @param version [Float] 
    # @param sort_field [String] the field to sort by. See AchievementApiMap
    # @param descending [Boolean] determines whether the sorted list is in descending or ascending order
    # @param start [Integer] the start index for pagination
    # @param limit [Integer] the limit for pagination (has a hard limit of 1000)
    # @param active_only [Boolean] Filter results to only return active achievements
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :app_key the application key
    # @option opts [String] :keyword the keyword used to filter results with (this returns results that have the keyword in the title or description of the achievement)
    # @option opts [String] :achievement_type filter results by the achievementType (these are exact case sensitive matches)
    # @option opts [String] :rank_type filter results by the rankType (these are exact case sensitive matches)
    # @return [Array<AchievementShortResponse>]
    def list_achievements(version, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = list_achievements_with_http_info(version, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # List Achievements
    # List achievements by billable.
    # @param version [Float] 
    # @param sort_field [String] the field to sort by. See AchievementApiMap
    # @param descending [Boolean] determines whether the sorted list is in descending or ascending order
    # @param start [Integer] the start index for pagination
    # @param limit [Integer] the limit for pagination (has a hard limit of 1000)
    # @param active_only [Boolean] Filter results to only return active achievements
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :app_key the application key
    # @option opts [String] :keyword the keyword used to filter results with (this returns results that have the keyword in the title or description of the achievement)
    # @option opts [String] :achievement_type filter results by the achievementType (these are exact case sensitive matches)
    # @option opts [String] :rank_type filter results by the rankType (these are exact case sensitive matches)
    # @return [Array<(Array<AchievementShortResponse>, Integer, Hash)>] Array<AchievementShortResponse> data, response status code and response headers
    def list_achievements_with_http_info(version, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.list_achievements ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.list_achievements"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling AchievementApi.list_achievements"
      end
      # verify enum value
      allowable_values = ["CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "TITLE", "DESCRIPTION", "RANK_TYPE", "APPLICATION_ID", "APPLICATION_NAME", "BILLABLE_ID"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling AchievementApi.list_achievements"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling AchievementApi.list_achievements"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling AchievementApi.list_achievements"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling AchievementApi.list_achievements"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/list'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'achievementType'] = opts[:'achievement_type'] if !opts[:'achievement_type'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AchievementShortResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.list_achievements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#list_achievements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Achievements
    # Searches achievements by application for consumers.
    # @param version [Float] 
    # @param app_key [String] the application key
    # @param sort_field [String] the field to sort by. See AchievementApiMap
    # @param descending [Boolean] determines whether the sorted list is in descending or ascending order
    # @param include_tiers [Boolean] return tiers, only applicable for version &gt;3.18
    # @param include_inactive_tiers [Boolean] return inactive tiers, only applicable when includeTiers is true, only applicable for version &gt;3.18
    # @param start [Integer] the start index for pagination
    # @param limit [Integer] the limit for pagination (has a hard limit of 1000)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :keyword the keyword used to filter results with (this returns results that have the keyword in the title or description of the achievement)
    # @option opts [String] :achievement_type filter results by the achievementType (these are exact case sensitive matches)
    # @option opts [String] :rank_type filter results by the rankType (these are exact case sensitive matches)
    # @return [Array<AchievementShortResponse>]
    def search_achievements(version, app_key, sort_field, descending, include_tiers, include_inactive_tiers, start, limit, opts = {})
      data, _status_code, _headers = search_achievements_with_http_info(version, app_key, sort_field, descending, include_tiers, include_inactive_tiers, start, limit, opts)
      data
    end

    # Search Achievements
    # Searches achievements by application for consumers.
    # @param version [Float] 
    # @param app_key [String] the application key
    # @param sort_field [String] the field to sort by. See AchievementApiMap
    # @param descending [Boolean] determines whether the sorted list is in descending or ascending order
    # @param include_tiers [Boolean] return tiers, only applicable for version &gt;3.18
    # @param include_inactive_tiers [Boolean] return inactive tiers, only applicable when includeTiers is true, only applicable for version &gt;3.18
    # @param start [Integer] the start index for pagination
    # @param limit [Integer] the limit for pagination (has a hard limit of 1000)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :keyword the keyword used to filter results with (this returns results that have the keyword in the title or description of the achievement)
    # @option opts [String] :achievement_type filter results by the achievementType (these are exact case sensitive matches)
    # @option opts [String] :rank_type filter results by the rankType (these are exact case sensitive matches)
    # @return [Array<(Array<AchievementShortResponse>, Integer, Hash)>] Array<AchievementShortResponse> data, response status code and response headers
    def search_achievements_with_http_info(version, app_key, sort_field, descending, include_tiers, include_inactive_tiers, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.search_achievements ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.search_achievements"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AchievementApi.search_achievements"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling AchievementApi.search_achievements"
      end
      # verify enum value
      allowable_values = ["CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "TITLE", "DESCRIPTION", "RANK_TYPE", "APPLICATION_ID", "APPLICATION_NAME", "BILLABLE_ID"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling AchievementApi.search_achievements"
      end
      # verify the required parameter 'include_tiers' is set
      if @api_client.config.client_side_validation && include_tiers.nil?
        fail ArgumentError, "Missing the required parameter 'include_tiers' when calling AchievementApi.search_achievements"
      end
      # verify the required parameter 'include_inactive_tiers' is set
      if @api_client.config.client_side_validation && include_inactive_tiers.nil?
        fail ArgumentError, "Missing the required parameter 'include_inactive_tiers' when calling AchievementApi.search_achievements"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling AchievementApi.search_achievements"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling AchievementApi.search_achievements"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'includeTiers'] = include_tiers
      query_params[:'includeInactiveTiers'] = include_inactive_tiers
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'achievementType'] = opts[:'achievement_type'] if !opts[:'achievement_type'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AchievementShortResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.search_achievements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#search_achievements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Achievement
    # Updates an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :achievement_id the achievement ID for updating an existing achievement
    # @option opts [String] :analytics_tag the analytics tag that will trigger when a user&#39;s achievement count gets updated
    # @option opts [String] :title the title of the achievement (255 character limit)
    # @option opts [String] :description the description of the achievement
    # @option opts [String] :rank_type the rank type for updating leader boards
    # @option opts [Integer] :rank_increment determines how much the rank count is incremented
    # @option opts [Integer] :min_increment restrict scores to be above or equal to this minimum value
    # @option opts [Boolean] :null_min_increment enable to ignore usage of minIncrement
    # @option opts [Integer] :max_increment restrict scores to be below or equal to this maximum value
    # @option opts [Boolean] :null_max_increment enable to ignore usage of maxIncrement
    # @option opts [Boolean] :validate determines whether the customId on analytics are used to validate a user&#39;s achievement progress.
    # @option opts [Boolean] :active if it&#39;s active or inactive
    # @option opts [String] :trigger_definition if provided will define what triggers to run after a tier is completed
    # @return [AchievementResponse]
    def update_achievement(version, opts = {})
      data, _status_code, _headers = update_achievement_with_http_info(version, opts)
      data
    end

    # Update Achievement
    # Updates an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :achievement_id the achievement ID for updating an existing achievement
    # @option opts [String] :analytics_tag the analytics tag that will trigger when a user&#39;s achievement count gets updated
    # @option opts [String] :title the title of the achievement (255 character limit)
    # @option opts [String] :description the description of the achievement
    # @option opts [String] :rank_type the rank type for updating leader boards
    # @option opts [Integer] :rank_increment determines how much the rank count is incremented
    # @option opts [Integer] :min_increment restrict scores to be above or equal to this minimum value
    # @option opts [Boolean] :null_min_increment enable to ignore usage of minIncrement
    # @option opts [Integer] :max_increment restrict scores to be below or equal to this maximum value
    # @option opts [Boolean] :null_max_increment enable to ignore usage of maxIncrement
    # @option opts [Boolean] :validate determines whether the customId on analytics are used to validate a user&#39;s achievement progress.
    # @option opts [Boolean] :active if it&#39;s active or inactive
    # @option opts [String] :trigger_definition if provided will define what triggers to run after a tier is completed
    # @return [Array<(AchievementResponse, Integer, Hash)>] AchievementResponse data, response status code and response headers
    def update_achievement_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.update_achievement ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.update_achievement"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'achievementId'] = opts[:'achievement_id'] if !opts[:'achievement_id'].nil?
      query_params[:'analyticsTag'] = opts[:'analytics_tag'] if !opts[:'analytics_tag'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?
      query_params[:'rankIncrement'] = opts[:'rank_increment'] if !opts[:'rank_increment'].nil?
      query_params[:'minIncrement'] = opts[:'min_increment'] if !opts[:'min_increment'].nil?
      query_params[:'nullMinIncrement'] = opts[:'null_min_increment'] if !opts[:'null_min_increment'].nil?
      query_params[:'maxIncrement'] = opts[:'max_increment'] if !opts[:'max_increment'].nil?
      query_params[:'nullMaxIncrement'] = opts[:'null_max_increment'] if !opts[:'null_max_increment'].nil?
      query_params[:'validate'] = opts[:'validate'] if !opts[:'validate'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'triggerDefinition'] = opts[:'trigger_definition'] if !opts[:'trigger_definition'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AchievementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.update_achievement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#update_achievement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Achievement Tier
    # Updates a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param achievement_tier_id [Integer] the achievement tier id for updating
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [File] :icon achievement tier icon image file
    # @option opts [Integer] :icon_asset_id the icon assetId, if icon is provided, icon will overrule
    # @option opts [String] :title the title of the achievement tier
    # @option opts [String] :description the description of the achievement tier
    # @option opts [Integer] :goal_count the count requirement for completing the achievement tier
    # @option opts [Integer] :mission_id The ID of the mission to associate with the achievement
    # @option opts [Integer] :game_id The ID of the game to associate with the achievement
    # @option opts [Integer] :pack_id The ID of the pack to associate with the achievement
    # @option opts [Integer] :game_level_id The ID of the game level to associate with the achievement
    # @option opts [Integer] :game_object_id The ID of the game object to associate with the achievement
    # @option opts [Boolean] :score_all_instances score all instances
    # @return [AchievementTierResponse]
    def update_achievement_tier(version, achievement_tier_id, opts = {})
      data, _status_code, _headers = update_achievement_tier_with_http_info(version, achievement_tier_id, opts)
      data
    end

    # Update Achievement Tier
    # Updates a tier of an achievement (for developer/retailer use). User must have permissions to the application the achievement is created for.
    # @param version [Float] 
    # @param achievement_tier_id [Integer] the achievement tier id for updating
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [File] :icon achievement tier icon image file
    # @option opts [Integer] :icon_asset_id the icon assetId, if icon is provided, icon will overrule
    # @option opts [String] :title the title of the achievement tier
    # @option opts [String] :description the description of the achievement tier
    # @option opts [Integer] :goal_count the count requirement for completing the achievement tier
    # @option opts [Integer] :mission_id The ID of the mission to associate with the achievement
    # @option opts [Integer] :game_id The ID of the game to associate with the achievement
    # @option opts [Integer] :pack_id The ID of the pack to associate with the achievement
    # @option opts [Integer] :game_level_id The ID of the game level to associate with the achievement
    # @option opts [Integer] :game_object_id The ID of the game object to associate with the achievement
    # @option opts [Boolean] :score_all_instances score all instances
    # @return [Array<(AchievementTierResponse, Integer, Hash)>] AchievementTierResponse data, response status code and response headers
    def update_achievement_tier_with_http_info(version, achievement_tier_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.update_achievement_tier ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.update_achievement_tier"
      end
      # verify the required parameter 'achievement_tier_id' is set
      if @api_client.config.client_side_validation && achievement_tier_id.nil?
        fail ArgumentError, "Missing the required parameter 'achievement_tier_id' when calling AchievementApi.update_achievement_tier"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/tier/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'achievementTierId'] = achievement_tier_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'icon'] = opts[:'icon'] if !opts[:'icon'].nil?
      query_params[:'iconAssetId'] = opts[:'icon_asset_id'] if !opts[:'icon_asset_id'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'goalCount'] = opts[:'goal_count'] if !opts[:'goal_count'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'gameId'] = opts[:'game_id'] if !opts[:'game_id'].nil?
      query_params[:'packId'] = opts[:'pack_id'] if !opts[:'pack_id'].nil?
      query_params[:'gameLevelId'] = opts[:'game_level_id'] if !opts[:'game_level_id'].nil?
      query_params[:'gameObjectId'] = opts[:'game_object_id'] if !opts[:'game_object_id'].nil?
      query_params[:'scoreAllInstances'] = opts[:'score_all_instances'] if !opts[:'score_all_instances'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AchievementTierResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.update_achievement_tier",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#update_achievement_tier\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Achievement Progress
    # Update user achievement progress.
    # @param version [Float] 
    # @param account_id [Integer] the account id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :achievement_id the achievement id (achievementId or tag required)
    # @option opts [String] :tag the analytic tag to identify an achievement (achievementId or tag required)
    # @option opts [Integer] :custom_id a custom identifier used for validation
    # @option opts [Integer] :increment the amount to increment an achievement progress by (if no increment is sent in, the server defaults to using the achievement&#39;s rankIncrement value)
    # @option opts [Integer] :start_date a custom start date that the client can set (not yet used in server logic)
    # @option opts [Integer] :end_date a custom end date that the client can set (not yet used in server logic)
    # @option opts [Boolean] :return_progress determines whether to return the achievement progress response
    # @return [SirqulResponse]
    def update_user_achievement(version, account_id, opts = {})
      data, _status_code, _headers = update_user_achievement_with_http_info(version, account_id, opts)
      data
    end

    # Update Achievement Progress
    # Update user achievement progress.
    # @param version [Float] 
    # @param account_id [Integer] the account id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :achievement_id the achievement id (achievementId or tag required)
    # @option opts [String] :tag the analytic tag to identify an achievement (achievementId or tag required)
    # @option opts [Integer] :custom_id a custom identifier used for validation
    # @option opts [Integer] :increment the amount to increment an achievement progress by (if no increment is sent in, the server defaults to using the achievement&#39;s rankIncrement value)
    # @option opts [Integer] :start_date a custom start date that the client can set (not yet used in server logic)
    # @option opts [Integer] :end_date a custom end date that the client can set (not yet used in server logic)
    # @option opts [Boolean] :return_progress determines whether to return the achievement progress response
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def update_user_achievement_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AchievementApi.update_user_achievement ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AchievementApi.update_user_achievement"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AchievementApi.update_user_achievement"
      end
      # resource path
      local_var_path = '/api/{version}/achievement/progress/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'achievementId'] = opts[:'achievement_id'] if !opts[:'achievement_id'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'customId'] = opts[:'custom_id'] if !opts[:'custom_id'].nil?
      query_params[:'increment'] = opts[:'increment'] if !opts[:'increment'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'returnProgress'] = opts[:'return_progress'] if !opts[:'return_progress'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AchievementApi.update_user_achievement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AchievementApi#update_user_achievement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
