=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class AnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get User Activity
    # Get an activity feed by user.
    # @param version [Float] 
    # @param start [Integer] The start of the pagination
    # @param limit [Integer] The limit of the pagination
    # @param account_id [Integer] the account id of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<UserActivityResponse>]
    def activities(version, start, limit, account_id, opts = {})
      data, _status_code, _headers = activities_with_http_info(version, start, limit, account_id, opts)
      data
    end

    # Get User Activity
    # Get an activity feed by user.
    # @param version [Float] 
    # @param start [Integer] The start of the pagination
    # @param limit [Integer] The limit of the pagination
    # @param account_id [Integer] the account id of the user
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<UserActivityResponse>, Integer, Hash)>] Array<UserActivityResponse> data, response status code and response headers
    def activities_with_http_info(version, start, limit, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.activities ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AnalyticsApi.activities"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling AnalyticsApi.activities"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling AnalyticsApi.activities"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AnalyticsApi.activities"
      end
      # resource path
      local_var_path = '/api/{version}/analytics/useractivity'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UserActivityResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AnalyticsApi.activities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#activities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Aggregated Filtered Usage
    # Query analytics to get data used for nested graphs and charts
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique id of the device making the request (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :application_id This parameter is deprecated.
    # @option opts [String] :app_key The application key used to filter results by application
    # @option opts [Integer] :start_date Used to search for results after or equal to this date (UNIX time-stamp in milliseconds)
    # @option opts [Integer] :end_date Used to search for results before or equal to this date (UNIX time-stamp in milliseconds)
    # @option opts [String] :device_type The device type to filter results by (performs a LIKE search)
    # @option opts [String] :device The device to filter results by (performs a LIKE search)
    # @option opts [String] :device_os The device OS to filter results by (performs a LIKE search)
    # @option opts [String] :gender The gender to filter results by {MALE, FEMALE}
    # @option opts [String] :age_group Comma separated list of age groups to filter by {AGE_0_13, AGE_14_17, AGE_18_22, AGE_23_30, AGE_31_54, AGE_55_PLUS}
    # @option opts [String] :country The country to filter results by (performs a wild-card search)
    # @option opts [String] :state The state to filter results by (performs a wild-card search)
    # @option opts [String] :city The city to filter results by (performs a wild-card search)
    # @option opts [String] :zip The zip to filter results by (performs a wild-card search)
    # @option opts [String] :model The model to filter results by (performs a wild-card search)
    # @option opts [String] :tag The tag to filter results by (performs a wild-card search)
    # @option opts [Integer] :user_account_id The account id to filter results for a particular user
    # @option opts [String] :user_account_display The user display to filter results by (performs a wild-card search)
    # @option opts [String] :user_account_username The username to filter results by (performs a wild-card search)
    # @option opts [String] :group_by_root Determines how to group results. For example, passing in &#39;CREATED&#39; will return results by date. Passing in &#39;ACCOUNT&#39; will return results by user {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID, APPLICATION_NAME_BY_ID}
    # @option opts [String] :group_by Determines how to group the nested data. {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID, APPLICATION_NAME_BY_ID}
    # @option opts [String] :distinct_count Performs a unique query on the specified column. For example, passing in &#39;ACCOUNT&#39; will return the number of unique users. {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID, NEW_ACCOUNT}
    # @option opts [String] :sort_field Determines whether the results will be sorted by day or by number of hits {CREATED, TAG_COUNT}
    # @option opts [Boolean] :descending Determines whether to return results in descending order
    # @option opts [Boolean] :hide_unknown Determines whether to return data that has empty or unknown values
    # @option opts [String] :response_format Determines whether to return a JOSN or XML representation of the graph results
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Integer] :limit Used to limit results to get a cleaner graph. The results that gets filtered out will be combined
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [ChartData]
    def aggregated_filtered_usage(version, opts = {})
      data, _status_code, _headers = aggregated_filtered_usage_with_http_info(version, opts)
      data
    end

    # Get Aggregated Filtered Usage
    # Query analytics to get data used for nested graphs and charts
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique id of the device making the request (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :application_id This parameter is deprecated.
    # @option opts [String] :app_key The application key used to filter results by application
    # @option opts [Integer] :start_date Used to search for results after or equal to this date (UNIX time-stamp in milliseconds)
    # @option opts [Integer] :end_date Used to search for results before or equal to this date (UNIX time-stamp in milliseconds)
    # @option opts [String] :device_type The device type to filter results by (performs a LIKE search)
    # @option opts [String] :device The device to filter results by (performs a LIKE search)
    # @option opts [String] :device_os The device OS to filter results by (performs a LIKE search)
    # @option opts [String] :gender The gender to filter results by {MALE, FEMALE}
    # @option opts [String] :age_group Comma separated list of age groups to filter by {AGE_0_13, AGE_14_17, AGE_18_22, AGE_23_30, AGE_31_54, AGE_55_PLUS}
    # @option opts [String] :country The country to filter results by (performs a wild-card search)
    # @option opts [String] :state The state to filter results by (performs a wild-card search)
    # @option opts [String] :city The city to filter results by (performs a wild-card search)
    # @option opts [String] :zip The zip to filter results by (performs a wild-card search)
    # @option opts [String] :model The model to filter results by (performs a wild-card search)
    # @option opts [String] :tag The tag to filter results by (performs a wild-card search)
    # @option opts [Integer] :user_account_id The account id to filter results for a particular user
    # @option opts [String] :user_account_display The user display to filter results by (performs a wild-card search)
    # @option opts [String] :user_account_username The username to filter results by (performs a wild-card search)
    # @option opts [String] :group_by_root Determines how to group results. For example, passing in &#39;CREATED&#39; will return results by date. Passing in &#39;ACCOUNT&#39; will return results by user {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID, APPLICATION_NAME_BY_ID}
    # @option opts [String] :group_by Determines how to group the nested data. {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID, APPLICATION_NAME_BY_ID}
    # @option opts [String] :distinct_count Performs a unique query on the specified column. For example, passing in &#39;ACCOUNT&#39; will return the number of unique users. {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID, NEW_ACCOUNT}
    # @option opts [String] :sort_field Determines whether the results will be sorted by day or by number of hits {CREATED, TAG_COUNT}
    # @option opts [Boolean] :descending Determines whether to return results in descending order
    # @option opts [Boolean] :hide_unknown Determines whether to return data that has empty or unknown values
    # @option opts [String] :response_format Determines whether to return a JOSN or XML representation of the graph results
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Integer] :limit Used to limit results to get a cleaner graph. The results that gets filtered out will be combined
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(ChartData, Integer, Hash)>] ChartData data, response status code and response headers
    def aggregated_filtered_usage_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.aggregated_filtered_usage ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AnalyticsApi.aggregated_filtered_usage"
      end
      allowable_values = ["TAG_COUNT", "TAG", "TOKEN", "MODEL", "DEVICE_TYPE", "DEVICE", "DEVICE_OS", "DEVICE_ID", "IP_ADDRESS", "STATE", "CITY", "ZIP", "COUNTRY", "CREATED", "UPDATED", "LAST_UPDATED", "CLIENT_TIME", "ACTIVE", "CUSTOM_ID", "CUSTOM_TYPE", "CUSTOM_VALUE", "CUSTOM_VALUE2", "CUSTOM_LONG", "CUSTOM_LONG2", "CUSTOM_MESSAGE", "CUSTOM_MESSAGE2", "ACCOUNT_ID", "ACCOUNT_USERNAME", "ACCOUNT_DISPLAY", "ACCOUNT_CREATED", "ACCOUNT_GENDER", "ACCOUNT_AGE_GROUP", "APPLICATION_ID", "APPLICATION_KEY", "APPLICATION_NAME"]
      if @api_client.config.client_side_validation && opts[:'group_by_root'] && !allowable_values.include?(opts[:'group_by_root'])
        fail ArgumentError, "invalid value for \"group_by_root\", must be one of #{allowable_values}"
      end
      allowable_values = ["TAG_COUNT", "TAG", "TOKEN", "MODEL", "DEVICE_TYPE", "DEVICE", "DEVICE_OS", "DEVICE_ID", "IP_ADDRESS", "STATE", "CITY", "ZIP", "COUNTRY", "CREATED", "UPDATED", "LAST_UPDATED", "CLIENT_TIME", "ACTIVE", "CUSTOM_ID", "CUSTOM_TYPE", "CUSTOM_VALUE", "CUSTOM_VALUE2", "CUSTOM_LONG", "CUSTOM_LONG2", "CUSTOM_MESSAGE", "CUSTOM_MESSAGE2", "ACCOUNT_ID", "ACCOUNT_USERNAME", "ACCOUNT_DISPLAY", "ACCOUNT_CREATED", "ACCOUNT_GENDER", "ACCOUNT_AGE_GROUP", "APPLICATION_ID", "APPLICATION_KEY", "APPLICATION_NAME"]
      if @api_client.config.client_side_validation && opts[:'group_by'] && !allowable_values.include?(opts[:'group_by'])
        fail ArgumentError, "invalid value for \"group_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["TAG_COUNT", "TAG", "TOKEN", "MODEL", "DEVICE_TYPE", "DEVICE", "DEVICE_OS", "DEVICE_ID", "IP_ADDRESS", "STATE", "CITY", "ZIP", "COUNTRY", "CREATED", "UPDATED", "LAST_UPDATED", "CLIENT_TIME", "ACTIVE", "CUSTOM_ID", "CUSTOM_TYPE", "CUSTOM_VALUE", "CUSTOM_VALUE2", "CUSTOM_LONG", "CUSTOM_LONG2", "CUSTOM_MESSAGE", "CUSTOM_MESSAGE2", "ACCOUNT_ID", "ACCOUNT_USERNAME", "ACCOUNT_DISPLAY", "ACCOUNT_CREATED", "ACCOUNT_GENDER", "ACCOUNT_AGE_GROUP", "APPLICATION_ID", "APPLICATION_KEY", "APPLICATION_NAME"]
      if @api_client.config.client_side_validation && opts[:'distinct_count'] && !allowable_values.include?(opts[:'distinct_count'])
        fail ArgumentError, "invalid value for \"distinct_count\", must be one of #{allowable_values}"
      end
      allowable_values = ["TAG_COUNT", "TAG", "TOKEN", "MODEL", "DEVICE_TYPE", "DEVICE", "DEVICE_OS", "DEVICE_ID", "IP_ADDRESS", "STATE", "CITY", "ZIP", "COUNTRY", "CREATED", "UPDATED", "LAST_UPDATED", "CLIENT_TIME", "ACTIVE", "CUSTOM_ID", "CUSTOM_TYPE", "CUSTOM_VALUE", "CUSTOM_VALUE2", "CUSTOM_LONG", "CUSTOM_LONG2", "CUSTOM_MESSAGE", "CUSTOM_MESSAGE2", "ACCOUNT_ID", "ACCOUNT_USERNAME", "ACCOUNT_DISPLAY", "ACCOUNT_CREATED", "ACCOUNT_GENDER", "ACCOUNT_AGE_GROUP", "APPLICATION_ID", "APPLICATION_KEY", "APPLICATION_NAME"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      allowable_values = ["HTML", "XML", "JSON", "CSV"]
      if @api_client.config.client_side_validation && opts[:'response_format'] && !allowable_values.include?(opts[:'response_format'])
        fail ArgumentError, "invalid value for \"response_format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/analytics/aggregatedFilteredUsage'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'applicationId'] = opts[:'application_id'] if !opts[:'application_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'deviceType'] = opts[:'device_type'] if !opts[:'device_type'].nil?
      query_params[:'device'] = opts[:'device'] if !opts[:'device'].nil?
      query_params[:'deviceOS'] = opts[:'device_os'] if !opts[:'device_os'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'ageGroup'] = opts[:'age_group'] if !opts[:'age_group'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'userAccountId'] = opts[:'user_account_id'] if !opts[:'user_account_id'].nil?
      query_params[:'userAccountDisplay'] = opts[:'user_account_display'] if !opts[:'user_account_display'].nil?
      query_params[:'userAccountUsername'] = opts[:'user_account_username'] if !opts[:'user_account_username'].nil?
      query_params[:'groupByRoot'] = opts[:'group_by_root'] if !opts[:'group_by_root'].nil?
      query_params[:'groupBy'] = opts[:'group_by'] if !opts[:'group_by'].nil?
      query_params[:'distinctCount'] = opts[:'distinct_count'] if !opts[:'distinct_count'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'hideUnknown'] = opts[:'hide_unknown'] if !opts[:'hide_unknown'].nil?
      query_params[:'responseFormat'] = opts[:'response_format'] if !opts[:'response_format'].nil?
      query_params[:'_l'] = opts[:'_l'] if !opts[:'_l'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ChartData'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AnalyticsApi.aggregated_filtered_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#aggregated_filtered_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Filtered Usage
    # Query analytics to get data used for graphs and charts
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique id of the device making the request (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :application_id This parameter is deprecated.
    # @option opts [String] :app_key The application key used to filter results by application
    # @option opts [Integer] :start_date Used to search for results after or equal to this date (UNIX time-stamp in milliseconds)
    # @option opts [Integer] :end_date Used to search for results before or equal to this date (UNIX time-stamp in milliseconds)
    # @option opts [String] :device_type The device type to filter results by (performs a LIKE search)
    # @option opts [String] :device The device to filter results by (performs a LIKE search)
    # @option opts [String] :device_os The device OS to filter results by (performs a LIKE search)
    # @option opts [String] :gender The gender to filter results by {MALE, FEMALE}
    # @option opts [String] :age_group Comma separated list of age groups to filter by {AGE_0_13, AGE_14_17, AGE_18_22, AGE_23_30, AGE_31_54, AGE_55_PLUS}
    # @option opts [String] :country The country to filter results by (performs a wild-card search)
    # @option opts [String] :state The state to filter results by (performs a wild-card search)
    # @option opts [String] :city The city to filter results by (performs a wild-card search)
    # @option opts [String] :zip The zip to filter results by (performs a wild-card search)
    # @option opts [String] :model The model to filter results by (performs a wild-card search)
    # @option opts [String] :tag The tag to filter results by (performs a wild-card search)
    # @option opts [Integer] :user_account_id The account id to filter results for a particular user
    # @option opts [String] :user_account_display The user display to filter results by (performs a wild-card search)
    # @option opts [String] :user_account_username The username to filter results by (performs a wild-card search)
    # @option opts [Integer] :custom_id The ID for the custom table column
    # @option opts [String] :custom_type The type defined for the custom table column
    # @option opts [Float] :custom_value The value for the custom table column
    # @option opts [Float] :custom_value2 The value for another custom table column
    # @option opts [Integer] :custom_long The value that supports Longs for custom table column
    # @option opts [Integer] :custom_long2 The value that supports Longs for custom table column
    # @option opts [String] :custom_message The message for the custom table column
    # @option opts [String] :custom_message2 The message for the custom table column
    # @option opts [String] :group_by Determines how to group results. For example, passing in &#39;CREATED&#39; will return results by date. Passing in &#39;ACCOUNT&#39; will return results by user {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, DEVICE_ID, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID}
    # @option opts [String] :distinct_count Performs a unique query on the specified column. For example, passing in &#39;ACCOUNT&#39; will return the number of unique users. {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, DEVICE_ID, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID}
    # @option opts [String] :sum_column sum of the column values
    # @option opts [String] :sort_field Determines whether the results will be sorted by day or by number of hits {CREATED, TAG_COUNT}
    # @option opts [Boolean] :descending Determines whether to return results in descending order
    # @option opts [Boolean] :hide_unknown Determines whether to return data that has empty or unknown values
    # @option opts [String] :response_format Determines whether to return a JOSN or XML representation of the graph results
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Integer] :limit Used to limit results to get a cleaner graph. The results that gets filtered out will be combined
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [ChartData]
    def filtered_usage(version, opts = {})
      data, _status_code, _headers = filtered_usage_with_http_info(version, opts)
      data
    end

    # Get Filtered Usage
    # Query analytics to get data used for graphs and charts
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique id of the device making the request (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :application_id This parameter is deprecated.
    # @option opts [String] :app_key The application key used to filter results by application
    # @option opts [Integer] :start_date Used to search for results after or equal to this date (UNIX time-stamp in milliseconds)
    # @option opts [Integer] :end_date Used to search for results before or equal to this date (UNIX time-stamp in milliseconds)
    # @option opts [String] :device_type The device type to filter results by (performs a LIKE search)
    # @option opts [String] :device The device to filter results by (performs a LIKE search)
    # @option opts [String] :device_os The device OS to filter results by (performs a LIKE search)
    # @option opts [String] :gender The gender to filter results by {MALE, FEMALE}
    # @option opts [String] :age_group Comma separated list of age groups to filter by {AGE_0_13, AGE_14_17, AGE_18_22, AGE_23_30, AGE_31_54, AGE_55_PLUS}
    # @option opts [String] :country The country to filter results by (performs a wild-card search)
    # @option opts [String] :state The state to filter results by (performs a wild-card search)
    # @option opts [String] :city The city to filter results by (performs a wild-card search)
    # @option opts [String] :zip The zip to filter results by (performs a wild-card search)
    # @option opts [String] :model The model to filter results by (performs a wild-card search)
    # @option opts [String] :tag The tag to filter results by (performs a wild-card search)
    # @option opts [Integer] :user_account_id The account id to filter results for a particular user
    # @option opts [String] :user_account_display The user display to filter results by (performs a wild-card search)
    # @option opts [String] :user_account_username The username to filter results by (performs a wild-card search)
    # @option opts [Integer] :custom_id The ID for the custom table column
    # @option opts [String] :custom_type The type defined for the custom table column
    # @option opts [Float] :custom_value The value for the custom table column
    # @option opts [Float] :custom_value2 The value for another custom table column
    # @option opts [Integer] :custom_long The value that supports Longs for custom table column
    # @option opts [Integer] :custom_long2 The value that supports Longs for custom table column
    # @option opts [String] :custom_message The message for the custom table column
    # @option opts [String] :custom_message2 The message for the custom table column
    # @option opts [String] :group_by Determines how to group results. For example, passing in &#39;CREATED&#39; will return results by date. Passing in &#39;ACCOUNT&#39; will return results by user {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, DEVICE_ID, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID}
    # @option opts [String] :distinct_count Performs a unique query on the specified column. For example, passing in &#39;ACCOUNT&#39; will return the number of unique users. {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, DEVICE_ID, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID}
    # @option opts [String] :sum_column sum of the column values
    # @option opts [String] :sort_field Determines whether the results will be sorted by day or by number of hits {CREATED, TAG_COUNT}
    # @option opts [Boolean] :descending Determines whether to return results in descending order
    # @option opts [Boolean] :hide_unknown Determines whether to return data that has empty or unknown values
    # @option opts [String] :response_format Determines whether to return a JOSN or XML representation of the graph results
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Integer] :limit Used to limit results to get a cleaner graph. The results that gets filtered out will be combined
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(ChartData, Integer, Hash)>] ChartData data, response status code and response headers
    def filtered_usage_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.filtered_usage ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AnalyticsApi.filtered_usage"
      end
      allowable_values = ["TAG_COUNT", "TAG", "TOKEN", "MODEL", "DEVICE_TYPE", "DEVICE", "DEVICE_OS", "DEVICE_ID", "IP_ADDRESS", "STATE", "CITY", "ZIP", "COUNTRY", "CREATED", "UPDATED", "LAST_UPDATED", "CLIENT_TIME", "ACTIVE", "CUSTOM_ID", "CUSTOM_TYPE", "CUSTOM_VALUE", "CUSTOM_VALUE2", "CUSTOM_LONG", "CUSTOM_LONG2", "CUSTOM_MESSAGE", "CUSTOM_MESSAGE2", "ACCOUNT_ID", "ACCOUNT_USERNAME", "ACCOUNT_DISPLAY", "ACCOUNT_CREATED", "ACCOUNT_GENDER", "ACCOUNT_AGE_GROUP", "APPLICATION_ID", "APPLICATION_KEY", "APPLICATION_NAME"]
      if @api_client.config.client_side_validation && opts[:'group_by'] && !allowable_values.include?(opts[:'group_by'])
        fail ArgumentError, "invalid value for \"group_by\", must be one of #{allowable_values}"
      end
      allowable_values = ["TAG_COUNT", "TAG", "TOKEN", "MODEL", "DEVICE_TYPE", "DEVICE", "DEVICE_OS", "DEVICE_ID", "IP_ADDRESS", "STATE", "CITY", "ZIP", "COUNTRY", "CREATED", "UPDATED", "LAST_UPDATED", "CLIENT_TIME", "ACTIVE", "CUSTOM_ID", "CUSTOM_TYPE", "CUSTOM_VALUE", "CUSTOM_VALUE2", "CUSTOM_LONG", "CUSTOM_LONG2", "CUSTOM_MESSAGE", "CUSTOM_MESSAGE2", "ACCOUNT_ID", "ACCOUNT_USERNAME", "ACCOUNT_DISPLAY", "ACCOUNT_CREATED", "ACCOUNT_GENDER", "ACCOUNT_AGE_GROUP", "APPLICATION_ID", "APPLICATION_KEY", "APPLICATION_NAME"]
      if @api_client.config.client_side_validation && opts[:'distinct_count'] && !allowable_values.include?(opts[:'distinct_count'])
        fail ArgumentError, "invalid value for \"distinct_count\", must be one of #{allowable_values}"
      end
      allowable_values = ["TAG_COUNT", "TAG", "TOKEN", "MODEL", "DEVICE_TYPE", "DEVICE", "DEVICE_OS", "DEVICE_ID", "IP_ADDRESS", "STATE", "CITY", "ZIP", "COUNTRY", "CREATED", "UPDATED", "LAST_UPDATED", "CLIENT_TIME", "ACTIVE", "CUSTOM_ID", "CUSTOM_TYPE", "CUSTOM_VALUE", "CUSTOM_VALUE2", "CUSTOM_LONG", "CUSTOM_LONG2", "CUSTOM_MESSAGE", "CUSTOM_MESSAGE2", "ACCOUNT_ID", "ACCOUNT_USERNAME", "ACCOUNT_DISPLAY", "ACCOUNT_CREATED", "ACCOUNT_GENDER", "ACCOUNT_AGE_GROUP", "APPLICATION_ID", "APPLICATION_KEY", "APPLICATION_NAME"]
      if @api_client.config.client_side_validation && opts[:'sum_column'] && !allowable_values.include?(opts[:'sum_column'])
        fail ArgumentError, "invalid value for \"sum_column\", must be one of #{allowable_values}"
      end
      allowable_values = ["TAG_COUNT", "TAG", "TOKEN", "MODEL", "DEVICE_TYPE", "DEVICE", "DEVICE_OS", "DEVICE_ID", "IP_ADDRESS", "STATE", "CITY", "ZIP", "COUNTRY", "CREATED", "UPDATED", "LAST_UPDATED", "CLIENT_TIME", "ACTIVE", "CUSTOM_ID", "CUSTOM_TYPE", "CUSTOM_VALUE", "CUSTOM_VALUE2", "CUSTOM_LONG", "CUSTOM_LONG2", "CUSTOM_MESSAGE", "CUSTOM_MESSAGE2", "ACCOUNT_ID", "ACCOUNT_USERNAME", "ACCOUNT_DISPLAY", "ACCOUNT_CREATED", "ACCOUNT_GENDER", "ACCOUNT_AGE_GROUP", "APPLICATION_ID", "APPLICATION_KEY", "APPLICATION_NAME"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      allowable_values = ["HTML", "XML", "JSON", "CSV"]
      if @api_client.config.client_side_validation && opts[:'response_format'] && !allowable_values.include?(opts[:'response_format'])
        fail ArgumentError, "invalid value for \"response_format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/analytics/filteredUsage'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'applicationId'] = opts[:'application_id'] if !opts[:'application_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'deviceType'] = opts[:'device_type'] if !opts[:'device_type'].nil?
      query_params[:'device'] = opts[:'device'] if !opts[:'device'].nil?
      query_params[:'deviceOS'] = opts[:'device_os'] if !opts[:'device_os'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'ageGroup'] = opts[:'age_group'] if !opts[:'age_group'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'userAccountId'] = opts[:'user_account_id'] if !opts[:'user_account_id'].nil?
      query_params[:'userAccountDisplay'] = opts[:'user_account_display'] if !opts[:'user_account_display'].nil?
      query_params[:'userAccountUsername'] = opts[:'user_account_username'] if !opts[:'user_account_username'].nil?
      query_params[:'customId'] = opts[:'custom_id'] if !opts[:'custom_id'].nil?
      query_params[:'customType'] = opts[:'custom_type'] if !opts[:'custom_type'].nil?
      query_params[:'customValue'] = opts[:'custom_value'] if !opts[:'custom_value'].nil?
      query_params[:'customValue2'] = opts[:'custom_value2'] if !opts[:'custom_value2'].nil?
      query_params[:'customLong'] = opts[:'custom_long'] if !opts[:'custom_long'].nil?
      query_params[:'customLong2'] = opts[:'custom_long2'] if !opts[:'custom_long2'].nil?
      query_params[:'customMessage'] = opts[:'custom_message'] if !opts[:'custom_message'].nil?
      query_params[:'customMessage2'] = opts[:'custom_message2'] if !opts[:'custom_message2'].nil?
      query_params[:'groupBy'] = opts[:'group_by'] if !opts[:'group_by'].nil?
      query_params[:'distinctCount'] = opts[:'distinct_count'] if !opts[:'distinct_count'].nil?
      query_params[:'sumColumn'] = opts[:'sum_column'] if !opts[:'sum_column'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'hideUnknown'] = opts[:'hide_unknown'] if !opts[:'hide_unknown'].nil?
      query_params[:'responseFormat'] = opts[:'response_format'] if !opts[:'response_format'].nil?
      query_params[:'_l'] = opts[:'_l'] if !opts[:'_l'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ChartData'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AnalyticsApi.filtered_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#filtered_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Usage Record
    # Record an analytic record for a known state within the application.
    # @param version [Float] 
    # @param tag [String] The tag to apply: the name of the action or thing being logged.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The client deviceID
    # @option opts [Integer] :account_id The logged in user ID
    # @option opts [Integer] :application_id This parameter is deprecated. This is deprecated, use appKey.
    # @option opts [String] :app_key The application key unique to each application.
    # @option opts [String] :app_version The current build version of the application
    # @option opts [String] :device The name of the device being used (iPhone5,1 , HTC Nexus One, x86_64, etc.)
    # @option opts [String] :device_type The type of device (Handheld or Desktop)
    # @option opts [String] :device_os The operating system that the device is using (iPhone OS 5.0, Android OS 2.3.6, Windows 7 Service Pack 1, etc)
    # @option opts [String] :model The model of the device (iPhone5,1 , Nexus One, etc.)
    # @option opts [Float] :latitude The current position of the user
    # @option opts [Float] :longitude The current position of the user
    # @option opts [Integer] :custom_id A customId used to associate the usage record with some other record in the system
    # @option opts [String] :custom_type The type of record the customId is recorded for
    # @option opts [Integer] :achievement_increment This parameter is deprecated. This is deprecated, use \&quot;customValue\&quot;. Determines how many achievement points and/or ranking points the user gets if this analytic is associated with an achievement
    # @option opts [String] :city The current city of the user
    # @option opts [String] :state The current state of the user
    # @option opts [String] :country The current country of the user
    # @option opts [String] :zip The current zip of the user
    # @option opts [String] :location_description The general description of the user&#39;s location
    # @option opts [Integer] :client_time Timestamp sent from device
    # @option opts [String] :error_message This parameter is deprecated.
    # @option opts [String] :ip the ip address of the client device
    # @option opts [String] :user_agent this is a description of the client (might contain the device&#39;s OS, browser version etc - its a common term)
    # @option opts [Boolean] :background_event This is deprecated.
    # @option opts [String] :custom_message a custom message for the usage record
    # @option opts [String] :custom_message2 a custom message for the usage record
    # @option opts [Float] :custom_value a custom value for the usage record
    # @option opts [Float] :custom_value2 a custom value for the usage record
    # @option opts [Integer] :custom_long a custom long value for the usage record
    # @option opts [Integer] :custom_long2 a custom long value for the usage record
    # @return [SirqulResponse]
    def usage(version, tag, opts = {})
      data, _status_code, _headers = usage_with_http_info(version, tag, opts)
      data
    end

    # Create Usage Record
    # Record an analytic record for a known state within the application.
    # @param version [Float] 
    # @param tag [String] The tag to apply: the name of the action or thing being logged.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The client deviceID
    # @option opts [Integer] :account_id The logged in user ID
    # @option opts [Integer] :application_id This parameter is deprecated. This is deprecated, use appKey.
    # @option opts [String] :app_key The application key unique to each application.
    # @option opts [String] :app_version The current build version of the application
    # @option opts [String] :device The name of the device being used (iPhone5,1 , HTC Nexus One, x86_64, etc.)
    # @option opts [String] :device_type The type of device (Handheld or Desktop)
    # @option opts [String] :device_os The operating system that the device is using (iPhone OS 5.0, Android OS 2.3.6, Windows 7 Service Pack 1, etc)
    # @option opts [String] :model The model of the device (iPhone5,1 , Nexus One, etc.)
    # @option opts [Float] :latitude The current position of the user
    # @option opts [Float] :longitude The current position of the user
    # @option opts [Integer] :custom_id A customId used to associate the usage record with some other record in the system
    # @option opts [String] :custom_type The type of record the customId is recorded for
    # @option opts [Integer] :achievement_increment This parameter is deprecated. This is deprecated, use \&quot;customValue\&quot;. Determines how many achievement points and/or ranking points the user gets if this analytic is associated with an achievement
    # @option opts [String] :city The current city of the user
    # @option opts [String] :state The current state of the user
    # @option opts [String] :country The current country of the user
    # @option opts [String] :zip The current zip of the user
    # @option opts [String] :location_description The general description of the user&#39;s location
    # @option opts [Integer] :client_time Timestamp sent from device
    # @option opts [String] :error_message This parameter is deprecated.
    # @option opts [String] :ip the ip address of the client device
    # @option opts [String] :user_agent this is a description of the client (might contain the device&#39;s OS, browser version etc - its a common term)
    # @option opts [Boolean] :background_event This is deprecated.
    # @option opts [String] :custom_message a custom message for the usage record
    # @option opts [String] :custom_message2 a custom message for the usage record
    # @option opts [Float] :custom_value a custom value for the usage record
    # @option opts [Float] :custom_value2 a custom value for the usage record
    # @option opts [Integer] :custom_long a custom long value for the usage record
    # @option opts [Integer] :custom_long2 a custom long value for the usage record
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def usage_with_http_info(version, tag, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.usage ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AnalyticsApi.usage"
      end
      # verify the required parameter 'tag' is set
      if @api_client.config.client_side_validation && tag.nil?
        fail ArgumentError, "Missing the required parameter 'tag' when calling AnalyticsApi.usage"
      end
      # resource path
      local_var_path = '/api/{version}/analytics/usage'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tag'] = tag
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'applicationId'] = opts[:'application_id'] if !opts[:'application_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'device'] = opts[:'device'] if !opts[:'device'].nil?
      query_params[:'deviceType'] = opts[:'device_type'] if !opts[:'device_type'].nil?
      query_params[:'deviceOS'] = opts[:'device_os'] if !opts[:'device_os'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'customId'] = opts[:'custom_id'] if !opts[:'custom_id'].nil?
      query_params[:'customType'] = opts[:'custom_type'] if !opts[:'custom_type'].nil?
      query_params[:'achievementIncrement'] = opts[:'achievement_increment'] if !opts[:'achievement_increment'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'zip'] = opts[:'zip'] if !opts[:'zip'].nil?
      query_params[:'locationDescription'] = opts[:'location_description'] if !opts[:'location_description'].nil?
      query_params[:'clientTime'] = opts[:'client_time'] if !opts[:'client_time'].nil?
      query_params[:'errorMessage'] = opts[:'error_message'] if !opts[:'error_message'].nil?
      query_params[:'ip'] = opts[:'ip'] if !opts[:'ip'].nil?
      query_params[:'userAgent'] = opts[:'user_agent'] if !opts[:'user_agent'].nil?
      query_params[:'backgroundEvent'] = opts[:'background_event'] if !opts[:'background_event'].nil?
      query_params[:'customMessage'] = opts[:'custom_message'] if !opts[:'custom_message'].nil?
      query_params[:'customMessage2'] = opts[:'custom_message2'] if !opts[:'custom_message2'].nil?
      query_params[:'customValue'] = opts[:'custom_value'] if !opts[:'custom_value'].nil?
      query_params[:'customValue2'] = opts[:'custom_value2'] if !opts[:'custom_value2'].nil?
      query_params[:'customLong'] = opts[:'custom_long'] if !opts[:'custom_long'].nil?
      query_params[:'customLong2'] = opts[:'custom_long2'] if !opts[:'custom_long2'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AnalyticsApi.usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Multiple Usage Records
    # Sends multiple analytics. Can be used to send in the user's stored usage when they did not have internet access. Should not include more than 100 items per batch.
    # @param version [Float] 
    # @param app_key [String] The application key unique to each application.
    # @param device [String] The name of the device being used (iPhone5,1 , HTC Nexus One, x86_64, etc.)
    # @param data [String] The analytic data AnalyticListResponse
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique id of the device making the request
    # @option opts [Integer] :account_id The account ID of the logged in user making the request
    # @option opts [String] :app_version The current build version of the application
    # @option opts [String] :device_type The type of device (Handheld or Desktop)
    # @option opts [String] :device_os The operating system that the device is using (iPhone OS 5.0, Android OS 2.3.6, Windows 7 Service Pack 1, etc.)
    # @option opts [String] :model The model of the device (iPhone5,1 , Nexus One, etc.)
    # @option opts [Boolean] :update_ranking Will create a leaderboard if one does not exist for the \&quot;tag\&quot; yet
    # @option opts [Boolean] :return_summary_response Returns a summary response of the achievements that have been completed due to the analytics
    # @return [SirqulResponse]
    def usage_batch(version, app_key, device, data, opts = {})
      data, _status_code, _headers = usage_batch_with_http_info(version, app_key, device, data, opts)
      data
    end

    # Create Multiple Usage Records
    # Sends multiple analytics. Can be used to send in the user&#39;s stored usage when they did not have internet access. Should not include more than 100 items per batch.
    # @param version [Float] 
    # @param app_key [String] The application key unique to each application.
    # @param device [String] The name of the device being used (iPhone5,1 , HTC Nexus One, x86_64, etc.)
    # @param data [String] The analytic data AnalyticListResponse
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique id of the device making the request
    # @option opts [Integer] :account_id The account ID of the logged in user making the request
    # @option opts [String] :app_version The current build version of the application
    # @option opts [String] :device_type The type of device (Handheld or Desktop)
    # @option opts [String] :device_os The operating system that the device is using (iPhone OS 5.0, Android OS 2.3.6, Windows 7 Service Pack 1, etc.)
    # @option opts [String] :model The model of the device (iPhone5,1 , Nexus One, etc.)
    # @option opts [Boolean] :update_ranking Will create a leaderboard if one does not exist for the \&quot;tag\&quot; yet
    # @option opts [Boolean] :return_summary_response Returns a summary response of the achievements that have been completed due to the analytics
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def usage_batch_with_http_info(version, app_key, device, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyticsApi.usage_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AnalyticsApi.usage_batch"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AnalyticsApi.usage_batch"
      end
      # verify the required parameter 'device' is set
      if @api_client.config.client_side_validation && device.nil?
        fail ArgumentError, "Missing the required parameter 'device' when calling AnalyticsApi.usage_batch"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling AnalyticsApi.usage_batch"
      end
      # resource path
      local_var_path = '/api/{version}/analytics/usage/batch'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'device'] = device
      query_params[:'data'] = data
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'deviceType'] = opts[:'device_type'] if !opts[:'device_type'].nil?
      query_params[:'deviceOS'] = opts[:'device_os'] if !opts[:'device_os'].nil?
      query_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?
      query_params[:'updateRanking'] = opts[:'update_ranking'] if !opts[:'update_ranking'].nil?
      query_params[:'returnSummaryResponse'] = opts[:'return_summary_response'] if !opts[:'return_summary_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AnalyticsApi.usage_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyticsApi#usage_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
