=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ApplicationConfigApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create AppConfig
    # Creates a new application configuration. If the configVersion provided already exists for the given app, an invalid response is returned and the application configuration won't be created.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param app_key [String] The application key that the newly created applicationConfig will be associated to
    # @param config_version [String] The application configuration, has to be unique within the application
    # @param asset_id [Integer] The json assetId that stores the configuration detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :retailer_id The retailer id for retailer specific configurations
    # @option opts [Integer] :retailer_location_id The retailer location id for retailer location specific configurations
    # @option opts [String] :udid The device udid for device specific configurations
    # @return [ApplicationConfigResponse]
    def create_application_config(version, account_id, app_key, config_version, asset_id, opts = {})
      data, _status_code, _headers = create_application_config_with_http_info(version, account_id, app_key, config_version, asset_id, opts)
      data
    end

    # Create AppConfig
    # Creates a new application configuration. If the configVersion provided already exists for the given app, an invalid response is returned and the application configuration won&#39;t be created.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param app_key [String] The application key that the newly created applicationConfig will be associated to
    # @param config_version [String] The application configuration, has to be unique within the application
    # @param asset_id [Integer] The json assetId that stores the configuration detail.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :retailer_id The retailer id for retailer specific configurations
    # @option opts [Integer] :retailer_location_id The retailer location id for retailer location specific configurations
    # @option opts [String] :udid The device udid for device specific configurations
    # @return [Array<(ApplicationConfigResponse, Integer, Hash)>] ApplicationConfigResponse data, response status code and response headers
    def create_application_config_with_http_info(version, account_id, app_key, config_version, asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationConfigApi.create_application_config ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ApplicationConfigApi.create_application_config"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ApplicationConfigApi.create_application_config"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ApplicationConfigApi.create_application_config"
      end
      # verify the required parameter 'config_version' is set
      if @api_client.config.client_side_validation && config_version.nil?
        fail ArgumentError, "Missing the required parameter 'config_version' when calling ApplicationConfigApi.create_application_config"
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling ApplicationConfigApi.create_application_config"
      end
      # resource path
      local_var_path = '/api/{version}/appconfig/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'configVersion'] = config_version
      query_params[:'assetId'] = asset_id
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'udid'] = opts[:'udid'] if !opts[:'udid'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationConfigApi.create_application_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationConfigApi#create_application_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete AppConfig
    # Mark the application configuration for deletion.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param config_id [Integer] The config ID of the application configuration to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_application_config(version, account_id, config_id, opts = {})
      data, _status_code, _headers = delete_application_config_with_http_info(version, account_id, config_id, opts)
      data
    end

    # Delete AppConfig
    # Mark the application configuration for deletion.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param config_id [Integer] The config ID of the application configuration to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_application_config_with_http_info(version, account_id, config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationConfigApi.delete_application_config ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ApplicationConfigApi.delete_application_config"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ApplicationConfigApi.delete_application_config"
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling ApplicationConfigApi.delete_application_config"
      end
      # resource path
      local_var_path = '/api/{version}/appconfig/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'configId'] = config_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationConfigApi.delete_application_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationConfigApi#delete_application_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get AppConfig
    # Gets the appConfig data by the given configId. If appConfig cannot be found, it returns an invalid response.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param config_id [Integer] The config ID of the application configuration
    # @param [Hash] opts the optional parameters
    # @return [ApplicationConfigResponse]
    def get_application_config(version, account_id, config_id, opts = {})
      data, _status_code, _headers = get_application_config_with_http_info(version, account_id, config_id, opts)
      data
    end

    # Get AppConfig
    # Gets the appConfig data by the given configId. If appConfig cannot be found, it returns an invalid response.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param config_id [Integer] The config ID of the application configuration
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplicationConfigResponse, Integer, Hash)>] ApplicationConfigResponse data, response status code and response headers
    def get_application_config_with_http_info(version, account_id, config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationConfigApi.get_application_config ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ApplicationConfigApi.get_application_config"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ApplicationConfigApi.get_application_config"
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling ApplicationConfigApi.get_application_config"
      end
      # resource path
      local_var_path = '/api/{version}/appconfig/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'configId'] = config_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationConfigApi.get_application_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationConfigApi#get_application_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get AppConfig by Version
    # Gets the appConfig data by the given appKey and app configVersion number.If the appKey is is invalid or appConfig is not found, it returns an invalid response. 
    # @param version [Float] 
    # @param app_key [String] The application key
    # @param config_version [String] The version of the application configuration
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :retailer_id Only returns the config that matches the given retailer
    # @option opts [Integer] :retailer_location_id Only returns the config that matches the given retailer location
    # @option opts [String] :udid Only returns only returns the config that matches the given device udid
    # @option opts [Boolean] :allow_older_versions Determines whether to return older config versions if the exact version is not found. If this happens, will try to return the latest version. (default to false)
    # @return [ApplicationConfigResponse]
    def get_application_config_by_config_version(version, app_key, config_version, opts = {})
      data, _status_code, _headers = get_application_config_by_config_version_with_http_info(version, app_key, config_version, opts)
      data
    end

    # Get AppConfig by Version
    # Gets the appConfig data by the given appKey and app configVersion number.If the appKey is is invalid or appConfig is not found, it returns an invalid response. 
    # @param version [Float] 
    # @param app_key [String] The application key
    # @param config_version [String] The version of the application configuration
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :retailer_id Only returns the config that matches the given retailer
    # @option opts [Integer] :retailer_location_id Only returns the config that matches the given retailer location
    # @option opts [String] :udid Only returns only returns the config that matches the given device udid
    # @option opts [Boolean] :allow_older_versions Determines whether to return older config versions if the exact version is not found. If this happens, will try to return the latest version. (default to false)
    # @return [Array<(ApplicationConfigResponse, Integer, Hash)>] ApplicationConfigResponse data, response status code and response headers
    def get_application_config_by_config_version_with_http_info(version, app_key, config_version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationConfigApi.get_application_config_by_config_version ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ApplicationConfigApi.get_application_config_by_config_version"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ApplicationConfigApi.get_application_config_by_config_version"
      end
      # verify the required parameter 'config_version' is set
      if @api_client.config.client_side_validation && config_version.nil?
        fail ArgumentError, "Missing the required parameter 'config_version' when calling ApplicationConfigApi.get_application_config_by_config_version"
      end
      # resource path
      local_var_path = '/api/{version}/appconfig/getbyversion'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'configVersion'] = config_version
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'udid'] = opts[:'udid'] if !opts[:'udid'].nil?
      query_params[:'allowOlderVersions'] = opts[:'allow_older_versions'] if !opts[:'allow_older_versions'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationConfigApi.get_application_config_by_config_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationConfigApi#get_application_config_by_config_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search AppConfigs
    # Gets all versions of application configurations in a particular app by the given appKey.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key to filter results by application Leaving this empty will return all application configurations for all applications (executive user only)
    # @option opts [Integer] :retailer_id Only returns the configs that matches the given retailer
    # @option opts [Integer] :retailer_location_id Only returns the configs that matches the given retailer location
    # @option opts [String] :udid Only returns only returns the configs that matches the given device udid
    # @option opts [String] :config_version Config Version
    # @option opts [String] :sort_field Orders the results by: CREATED, UPDATED, ACTIVE, APPLICATION_ID,  APPLICATION_KEY, APPLICATION_NAME, RETAILER_NAME, RETAILER_ID, RETAILER_LOCATION_NAME,  RETAILER_LOCATION_ID, OFFER_TITLE, OFFER_ID, OFFER_LOCATION_ID, CONFIG_VERSION_MINOR,  CONFIG_VERSION_MAJOR, CONFIG_VERSION_INDEX  (default to 'CONFIG_VERSION_INDEX')
    # @option opts [Boolean] :descending Determines whether the results are in descending or ascending order (default to true)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (There is a hard limit of 100) (default to 20)
    # @return [Array<ApplicationConfigResponse>]
    def search_application_config(version, account_id, opts = {})
      data, _status_code, _headers = search_application_config_with_http_info(version, account_id, opts)
      data
    end

    # Search AppConfigs
    # Gets all versions of application configurations in a particular app by the given appKey.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key to filter results by application Leaving this empty will return all application configurations for all applications (executive user only)
    # @option opts [Integer] :retailer_id Only returns the configs that matches the given retailer
    # @option opts [Integer] :retailer_location_id Only returns the configs that matches the given retailer location
    # @option opts [String] :udid Only returns only returns the configs that matches the given device udid
    # @option opts [String] :config_version Config Version
    # @option opts [String] :sort_field Orders the results by: CREATED, UPDATED, ACTIVE, APPLICATION_ID,  APPLICATION_KEY, APPLICATION_NAME, RETAILER_NAME, RETAILER_ID, RETAILER_LOCATION_NAME,  RETAILER_LOCATION_ID, OFFER_TITLE, OFFER_ID, OFFER_LOCATION_ID, CONFIG_VERSION_MINOR,  CONFIG_VERSION_MAJOR, CONFIG_VERSION_INDEX  (default to 'CONFIG_VERSION_INDEX')
    # @option opts [Boolean] :descending Determines whether the results are in descending or ascending order (default to true)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (There is a hard limit of 100) (default to 20)
    # @return [Array<(Array<ApplicationConfigResponse>, Integer, Hash)>] Array<ApplicationConfigResponse> data, response status code and response headers
    def search_application_config_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationConfigApi.search_application_config ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ApplicationConfigApi.search_application_config"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ApplicationConfigApi.search_application_config"
      end
      # resource path
      local_var_path = '/api/{version}/appconfig/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'udid'] = opts[:'udid'] if !opts[:'udid'].nil?
      query_params[:'configVersion'] = opts[:'config_version'] if !opts[:'config_version'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ApplicationConfigResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationConfigApi.search_application_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationConfigApi#search_application_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update AppConfig
    # pdates an existing application configuration. If the configVersion provided already exists for the given app the application configuration won't be updated.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param config_id [Integer] The config ID of the application configuration to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key that the updated applicationConfig will be associated to
    # @option opts [String] :config_version The application configuration, has to be unique within the application
    # @option opts [Integer] :asset_id The json assetId that stores the configuration detail.
    # @option opts [Integer] :retailer_id The retailer id for retailer specific configurations
    # @option opts [Integer] :retailer_location_id The retailer location id for retailer location specific configurations
    # @option opts [String] :udid The device udid for device specific configurations
    # @return [ApplicationConfigResponse]
    def update_application_config(version, account_id, config_id, opts = {})
      data, _status_code, _headers = update_application_config_with_http_info(version, account_id, config_id, opts)
      data
    end

    # Update AppConfig
    # pdates an existing application configuration. If the configVersion provided already exists for the given app the application configuration won&#39;t be updated.
    # @param version [Float] 
    # @param account_id [Integer] The account ID of the user
    # @param config_id [Integer] The config ID of the application configuration to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key that the updated applicationConfig will be associated to
    # @option opts [String] :config_version The application configuration, has to be unique within the application
    # @option opts [Integer] :asset_id The json assetId that stores the configuration detail.
    # @option opts [Integer] :retailer_id The retailer id for retailer specific configurations
    # @option opts [Integer] :retailer_location_id The retailer location id for retailer location specific configurations
    # @option opts [String] :udid The device udid for device specific configurations
    # @return [Array<(ApplicationConfigResponse, Integer, Hash)>] ApplicationConfigResponse data, response status code and response headers
    def update_application_config_with_http_info(version, account_id, config_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ApplicationConfigApi.update_application_config ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ApplicationConfigApi.update_application_config"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ApplicationConfigApi.update_application_config"
      end
      # verify the required parameter 'config_id' is set
      if @api_client.config.client_side_validation && config_id.nil?
        fail ArgumentError, "Missing the required parameter 'config_id' when calling ApplicationConfigApi.update_application_config"
      end
      # resource path
      local_var_path = '/api/{version}/appconfig/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'configId'] = config_id
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'configVersion'] = opts[:'config_version'] if !opts[:'config_version'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'udid'] = opts[:'udid'] if !opts[:'udid'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ApplicationConfigApi.update_application_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ApplicationConfigApi#update_application_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
