=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class AssetApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Download Asset
    # Downloads an asset from the server for assets that have been uploaded to the server.
    # @param filename [String] the filename in the following formats: {assetId}-{suffix}.{extension} | {assetId}.{extension} | {assetId}
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def asset_download(filename, opts = {})
      data, _status_code, _headers = asset_download_with_http_info(filename, opts)
      data
    end

    # Download Asset
    # Downloads an asset from the server for assets that have been uploaded to the server.
    # @param filename [String] the filename in the following formats: {assetId}-{suffix}.{extension} | {assetId}.{extension} | {assetId}
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def asset_download_with_http_info(filename, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetApi.asset_download ...'
      end
      # verify the required parameter 'filename' is set
      if @api_client.config.client_side_validation && filename.nil?
        fail ArgumentError, "Missing the required parameter 'filename' when calling AssetApi.asset_download"
      end
      pattern = Regexp.new(/.+/)
      if @api_client.config.client_side_validation && filename !~ pattern
        fail ArgumentError, "invalid value for 'filename' when calling AssetApi.asset_download, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/asset/download/{filename}'.sub('{' + 'filename' + '}', CGI.escape(filename.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetApi.asset_download",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetApi#asset_download\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Convert Offer to Creative
    # Converts an offer image + text into a creative image.
    # @param offer_id [Integer] offer id used for inserting offer text/flavor
    # @param ad_size [String] the ad size used for selecting a format for the creative image
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :creative_id used for inserting the newly created image into
    # @option opts [Integer] :width total width of the creative image
    # @option opts [Integer] :height total height of the creative image
    # @option opts [String] :background_size the size of the background
    # @option opts [String] :template the template to use
    # @return [AssetShortResponse]
    def asset_morph(offer_id, ad_size, opts = {})
      data, _status_code, _headers = asset_morph_with_http_info(offer_id, ad_size, opts)
      data
    end

    # Convert Offer to Creative
    # Converts an offer image + text into a creative image.
    # @param offer_id [Integer] offer id used for inserting offer text/flavor
    # @param ad_size [String] the ad size used for selecting a format for the creative image
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :creative_id used for inserting the newly created image into
    # @option opts [Integer] :width total width of the creative image
    # @option opts [Integer] :height total height of the creative image
    # @option opts [String] :background_size the size of the background
    # @option opts [String] :template the template to use
    # @return [Array<(AssetShortResponse, Integer, Hash)>] AssetShortResponse data, response status code and response headers
    def asset_morph_with_http_info(offer_id, ad_size, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetApi.asset_morph ...'
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling AssetApi.asset_morph"
      end
      # verify the required parameter 'ad_size' is set
      if @api_client.config.client_side_validation && ad_size.nil?
        fail ArgumentError, "Missing the required parameter 'ad_size' when calling AssetApi.asset_morph"
      end
      # verify enum value
      allowable_values = ["CONFIG", "BANNER", "LEADERBOARD", "SKYSCRAPER", "VIDEO", "ZIP", "INTERSTITIAL", "CUSTOM1", "CUSTOM2", "CUSTOM3", "CUSTOM4", "CUSTOM5", "CUSTOM6", "CUSTOM7", "CUSTOM8", "CUSTOM9", "CUSTOM10"]
      if @api_client.config.client_side_validation && !allowable_values.include?(ad_size)
        fail ArgumentError, "invalid value for \"ad_size\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/asset/morph'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offerId'] = offer_id
      query_params[:'adSize'] = ad_size
      query_params[:'creativeId'] = opts[:'creative_id'] if !opts[:'creative_id'].nil?
      query_params[:'width'] = opts[:'width'] if !opts[:'width'].nil?
      query_params[:'height'] = opts[:'height'] if !opts[:'height'].nil?
      query_params[:'backgroundSize'] = opts[:'background_size'] if !opts[:'background_size'].nil?
      query_params[:'template'] = opts[:'template'] if !opts[:'template'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetShortResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetApi.asset_morph",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetApi#asset_morph\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Asset
    # Uploads an asset to server and returns an asset id which can be used to assign to various objects.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_nulls to return nulls
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :album_id the album the asset will be added to (optional)
    # @option opts [Integer] :collection_id Deprecated: use collections via the collection endpoints.
    # @option opts [String] :add_to_default_album Whether to add to a default album
    # @option opts [Boolean] :add_to_media_library Whether to add to the media library
    # @option opts [Integer] :version_code the version code
    # @option opts [String] :version_name the version name
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :caption the caption (optional)
    # @option opts [String] :asset_type the asset type
    # @option opts [String] :approval_status approval status for the asset
    # @option opts [Integer] :assigned_account_id account id assigned to the asset
    # @option opts [File] :media a MultipartFile containing the mimetype, etc
    # @option opts [String] :media_url this can be used if the \&quot;media\&quot; is a link (optional)
    # @option opts [String] :media_string the media content as a string (optional)
    # @option opts [String] :media_string_file_name file name for mediaString (optional)
    # @option opts [String] :media_string_content_type content type for mediaString (optional)
    # @option opts [Integer] :media_height the media height (optional)
    # @option opts [Integer] :media_width the media width (optional)
    # @option opts [File] :attached_media a MultipartFile containing an asset that the \&quot;media\&quot; file references (optional). Example: to upload a video the \&quot;media\&quot; file should contain a screen capture and the \&quot;attachedMedia\&quot; should be the actual video.
    # @option opts [String] :attached_media_url this can be used if the \&quot;attachedMedia\&quot; is a link (i.e. a Youtube video, etc) (optional)
    # @option opts [String] :attached_media_string attached media content as a string (optional)
    # @option opts [String] :attached_media_string_file_name file name for attachedMediaString (optional)
    # @option opts [String] :attached_media_string_content_type content type for attachedMediaString (optional)
    # @option opts [Integer] :attached_media_height the attached media height (optional)
    # @option opts [Integer] :attached_media_width the attached media width (optional)
    # @option opts [String] :location_description the location description (optional)
    # @option opts [String] :app Deprecated: app parameter
    # @option opts [String] :app_key the application key
    # @option opts [String] :search_tags the search tags
    # @option opts [Float] :latitude the latitude (optional)
    # @option opts [Float] :longitude the longitude (optional)
    # @return [AssetResponse]
    def create_asset(opts = {})
      data, _status_code, _headers = create_asset_with_http_info(opts)
      data
    end

    # Create Asset
    # Uploads an asset to server and returns an asset id which can be used to assign to various objects.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_nulls to return nulls
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :album_id the album the asset will be added to (optional)
    # @option opts [Integer] :collection_id Deprecated: use collections via the collection endpoints.
    # @option opts [String] :add_to_default_album Whether to add to a default album
    # @option opts [Boolean] :add_to_media_library Whether to add to the media library
    # @option opts [Integer] :version_code the version code
    # @option opts [String] :version_name the version name
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :caption the caption (optional)
    # @option opts [String] :asset_type the asset type
    # @option opts [String] :approval_status approval status for the asset
    # @option opts [Integer] :assigned_account_id account id assigned to the asset
    # @option opts [File] :media a MultipartFile containing the mimetype, etc
    # @option opts [String] :media_url this can be used if the \&quot;media\&quot; is a link (optional)
    # @option opts [String] :media_string the media content as a string (optional)
    # @option opts [String] :media_string_file_name file name for mediaString (optional)
    # @option opts [String] :media_string_content_type content type for mediaString (optional)
    # @option opts [Integer] :media_height the media height (optional)
    # @option opts [Integer] :media_width the media width (optional)
    # @option opts [File] :attached_media a MultipartFile containing an asset that the \&quot;media\&quot; file references (optional). Example: to upload a video the \&quot;media\&quot; file should contain a screen capture and the \&quot;attachedMedia\&quot; should be the actual video.
    # @option opts [String] :attached_media_url this can be used if the \&quot;attachedMedia\&quot; is a link (i.e. a Youtube video, etc) (optional)
    # @option opts [String] :attached_media_string attached media content as a string (optional)
    # @option opts [String] :attached_media_string_file_name file name for attachedMediaString (optional)
    # @option opts [String] :attached_media_string_content_type content type for attachedMediaString (optional)
    # @option opts [Integer] :attached_media_height the attached media height (optional)
    # @option opts [Integer] :attached_media_width the attached media width (optional)
    # @option opts [String] :location_description the location description (optional)
    # @option opts [String] :app Deprecated: app parameter
    # @option opts [String] :app_key the application key
    # @option opts [String] :search_tags the search tags
    # @option opts [Float] :latitude the latitude (optional)
    # @option opts [Float] :longitude the longitude (optional)
    # @return [Array<(AssetResponse, Integer, Hash)>] AssetResponse data, response status code and response headers
    def create_asset_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetApi.create_asset ...'
      end
      # resource path
      local_var_path = '/asset/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = opts[:'return_nulls'] if !opts[:'return_nulls'].nil?
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'albumId'] = opts[:'album_id'] if !opts[:'album_id'].nil?
      query_params[:'collectionId'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'addToDefaultAlbum'] = opts[:'add_to_default_album'] if !opts[:'add_to_default_album'].nil?
      query_params[:'addToMediaLibrary'] = opts[:'add_to_media_library'] if !opts[:'add_to_media_library'].nil?
      query_params[:'versionCode'] = opts[:'version_code'] if !opts[:'version_code'].nil?
      query_params[:'versionName'] = opts[:'version_name'] if !opts[:'version_name'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'caption'] = opts[:'caption'] if !opts[:'caption'].nil?
      query_params[:'assetType'] = opts[:'asset_type'] if !opts[:'asset_type'].nil?
      query_params[:'approvalStatus'] = opts[:'approval_status'] if !opts[:'approval_status'].nil?
      query_params[:'assignedAccountId'] = opts[:'assigned_account_id'] if !opts[:'assigned_account_id'].nil?
      query_params[:'media'] = opts[:'media'] if !opts[:'media'].nil?
      query_params[:'mediaUrl'] = opts[:'media_url'] if !opts[:'media_url'].nil?
      query_params[:'mediaString'] = opts[:'media_string'] if !opts[:'media_string'].nil?
      query_params[:'mediaStringFileName'] = opts[:'media_string_file_name'] if !opts[:'media_string_file_name'].nil?
      query_params[:'mediaStringContentType'] = opts[:'media_string_content_type'] if !opts[:'media_string_content_type'].nil?
      query_params[:'mediaHeight'] = opts[:'media_height'] if !opts[:'media_height'].nil?
      query_params[:'mediaWidth'] = opts[:'media_width'] if !opts[:'media_width'].nil?
      query_params[:'attachedMedia'] = opts[:'attached_media'] if !opts[:'attached_media'].nil?
      query_params[:'attachedMediaUrl'] = opts[:'attached_media_url'] if !opts[:'attached_media_url'].nil?
      query_params[:'attachedMediaString'] = opts[:'attached_media_string'] if !opts[:'attached_media_string'].nil?
      query_params[:'attachedMediaStringFileName'] = opts[:'attached_media_string_file_name'] if !opts[:'attached_media_string_file_name'].nil?
      query_params[:'attachedMediaStringContentType'] = opts[:'attached_media_string_content_type'] if !opts[:'attached_media_string_content_type'].nil?
      query_params[:'attachedMediaHeight'] = opts[:'attached_media_height'] if !opts[:'attached_media_height'].nil?
      query_params[:'attachedMediaWidth'] = opts[:'attached_media_width'] if !opts[:'attached_media_width'].nil?
      query_params[:'locationDescription'] = opts[:'location_description'] if !opts[:'location_description'].nil?
      query_params[:'app'] = opts[:'app'] if !opts[:'app'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'searchTags'] = opts[:'search_tags'] if !opts[:'search_tags'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetApi.create_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetApi#create_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Asset
    # Delete an asset.
    # @param asset_id [String] the id of the asset to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude latitude used to update the user&#39;s current location
    # @option opts [Float] :longitude longitude used to update the user&#39;s current location
    # @return [SirqulResponse]
    def delete_asset(asset_id, opts = {})
      data, _status_code, _headers = delete_asset_with_http_info(asset_id, opts)
      data
    end

    # Delete Asset
    # Delete an asset.
    # @param asset_id [String] the id of the asset to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude latitude used to update the user&#39;s current location
    # @option opts [Float] :longitude longitude used to update the user&#39;s current location
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_asset_with_http_info(asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetApi.delete_asset ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetApi.delete_asset"
      end
      # resource path
      local_var_path = '/asset/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'assetId'] = asset_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetApi.delete_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetApi#delete_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Asset
    # Gets the full asset response including attached likes and notes.
    # @param asset_id [Integer] the asset ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Boolean] :note_descending determines whether the notes on the asset are in descending order (default to false)
    # @return [AssetFullResponse]
    def get_asset(asset_id, opts = {})
      data, _status_code, _headers = get_asset_with_http_info(asset_id, opts)
      data
    end

    # Get Asset
    # Gets the full asset response including attached likes and notes.
    # @param asset_id [Integer] the asset ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Boolean] :note_descending determines whether the notes on the asset are in descending order (default to false)
    # @return [Array<(AssetFullResponse, Integer, Hash)>] AssetFullResponse data, response status code and response headers
    def get_asset_with_http_info(asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetApi.get_asset ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetApi.get_asset"
      end
      # resource path
      local_var_path = '/asset/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'assetId'] = asset_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'noteDescending'] = opts[:'note_descending'] if !opts[:'note_descending'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssetFullResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetApi.get_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetApi#get_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove Asset from Collection
    # Remove assets from collections
    # @param asset_id [String] the id of the asset to remove
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :album_id the album id to remove the asset from
    # @option opts [Integer] :collection_id the collection id to remove the asset from
    # @option opts [Boolean] :remove_from_default_albums remove from the user&#39;s profile album
    # @option opts [Float] :latitude latitude used to update the user&#39;s current location
    # @option opts [Float] :longitude longitude used to update the user&#39;s current location
    # @return [SirqulResponse]
    def remove_asset(asset_id, opts = {})
      data, _status_code, _headers = remove_asset_with_http_info(asset_id, opts)
      data
    end

    # Remove Asset from Collection
    # Remove assets from collections
    # @param asset_id [String] the id of the asset to remove
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :album_id the album id to remove the asset from
    # @option opts [Integer] :collection_id the collection id to remove the asset from
    # @option opts [Boolean] :remove_from_default_albums remove from the user&#39;s profile album
    # @option opts [Float] :latitude latitude used to update the user&#39;s current location
    # @option opts [Float] :longitude longitude used to update the user&#39;s current location
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def remove_asset_with_http_info(asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetApi.remove_asset ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetApi.remove_asset"
      end
      # resource path
      local_var_path = '/asset/remove'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'assetId'] = asset_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'albumId'] = opts[:'album_id'] if !opts[:'album_id'].nil?
      query_params[:'collectionId'] = opts[:'collection_id'] if !opts[:'collection_id'].nil?
      query_params[:'removeFromDefaultAlbums'] = opts[:'remove_from_default_albums'] if !opts[:'remove_from_default_albums'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetApi.remove_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetApi#remove_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Assets
    # Searches for assets
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [String] :album_ids comma separated list of album ids to search on
    # @option opts [String] :asset_ids comma separated list of asset ids to search on
    # @option opts [String] :app_key the application key to filter results by application.
    # @option opts [String] :media_type filter results by media type. Possible values include: APPLICATION, IMAGE, AUDIO, VIDEO, MULTIPART, TEXT
    # @option opts [String] :mime_type filter results by mime type
    # @option opts [String] :keyword keyword search string
    # @option opts [Integer] :version_code filter results by version code
    # @option opts [String] :version_name filter results by version name
    # @option opts [Integer] :updated_since return items that have been updated since this date (time-stamp in milliseconds)
    # @option opts [Integer] :updated_before return items that have been updated before this date (time-stamp in milliseconds)
    # @option opts [String] :sort_field the field to sort by. See AssetApiMap
    # @option opts [Boolean] :descending determines whether the sorted list is in descending or ascending order
    # @option opts [Boolean] :search_media_library determines whether to search on the media library album
    # @option opts [Boolean] :filter_by_billable filter results by billable entity
    # @option opts [Boolean] :active_only if only searching for active assets
    # @option opts [Boolean] :return_app determines whether to include the application response as part of the asset response
    # @option opts [Integer] :start the start index for pagination
    # @option opts [Integer] :limit the limit for pagination (there is a hard limit of 200)
    # @option opts [String] :search_mode search mode for index (SearchIndexMode)
    # @option opts [String] :asset_type filter by asset type
    # @option opts [String] :approval_status filter by approval status
    # @option opts [Integer] :assigned_account_id filter results by an assigned account id
    # @return [Array<AssetResponse>]
    def search_assets(opts = {})
      data, _status_code, _headers = search_assets_with_http_info(opts)
      data
    end

    # Search Assets
    # Searches for assets
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [String] :album_ids comma separated list of album ids to search on
    # @option opts [String] :asset_ids comma separated list of asset ids to search on
    # @option opts [String] :app_key the application key to filter results by application.
    # @option opts [String] :media_type filter results by media type. Possible values include: APPLICATION, IMAGE, AUDIO, VIDEO, MULTIPART, TEXT
    # @option opts [String] :mime_type filter results by mime type
    # @option opts [String] :keyword keyword search string
    # @option opts [Integer] :version_code filter results by version code
    # @option opts [String] :version_name filter results by version name
    # @option opts [Integer] :updated_since return items that have been updated since this date (time-stamp in milliseconds)
    # @option opts [Integer] :updated_before return items that have been updated before this date (time-stamp in milliseconds)
    # @option opts [String] :sort_field the field to sort by. See AssetApiMap
    # @option opts [Boolean] :descending determines whether the sorted list is in descending or ascending order
    # @option opts [Boolean] :search_media_library determines whether to search on the media library album
    # @option opts [Boolean] :filter_by_billable filter results by billable entity
    # @option opts [Boolean] :active_only if only searching for active assets
    # @option opts [Boolean] :return_app determines whether to include the application response as part of the asset response
    # @option opts [Integer] :start the start index for pagination
    # @option opts [Integer] :limit the limit for pagination (there is a hard limit of 200)
    # @option opts [String] :search_mode search mode for index (SearchIndexMode)
    # @option opts [String] :asset_type filter by asset type
    # @option opts [String] :approval_status filter by approval status
    # @option opts [Integer] :assigned_account_id filter results by an assigned account id
    # @return [Array<(Array<AssetResponse>, Integer, Hash)>] Array<AssetResponse> data, response status code and response headers
    def search_assets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetApi.search_assets ...'
      end
      # resource path
      local_var_path = '/asset/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'albumIds'] = opts[:'album_ids'] if !opts[:'album_ids'].nil?
      query_params[:'assetIds'] = opts[:'asset_ids'] if !opts[:'asset_ids'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'mediaType'] = opts[:'media_type'] if !opts[:'media_type'].nil?
      query_params[:'mimeType'] = opts[:'mime_type'] if !opts[:'mime_type'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'versionCode'] = opts[:'version_code'] if !opts[:'version_code'].nil?
      query_params[:'versionName'] = opts[:'version_name'] if !opts[:'version_name'].nil?
      query_params[:'updatedSince'] = opts[:'updated_since'] if !opts[:'updated_since'].nil?
      query_params[:'updatedBefore'] = opts[:'updated_before'] if !opts[:'updated_before'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'searchMediaLibrary'] = opts[:'search_media_library'] if !opts[:'search_media_library'].nil?
      query_params[:'filterByBillable'] = opts[:'filter_by_billable'] if !opts[:'filter_by_billable'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'returnApp'] = opts[:'return_app'] if !opts[:'return_app'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'searchMode'] = opts[:'search_mode'] if !opts[:'search_mode'].nil?
      query_params[:'assetType'] = opts[:'asset_type'] if !opts[:'asset_type'].nil?
      query_params[:'approvalStatus'] = opts[:'approval_status'] if !opts[:'approval_status'].nil?
      query_params[:'assignedAccountId'] = opts[:'assigned_account_id'] if !opts[:'assigned_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AssetResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetApi.search_assets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetApi#search_assets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Asset
    # Updates an asset's meta data. If an album reference is passed in, the participants with write permissions are allowed to edit the asset. Otherwise, only the asset up-loader has permission to edit the data.
    # @param asset_id [Integer] the ID of the asset to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :album_id the ID of the album to check user permissions
    # @option opts [Integer] :attached_asset_id the ID of the attached asset
    # @option opts [Integer] :version_code the version code
    # @option opts [String] :version_name the version name
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :caption the caption
    # @option opts [String] :asset_type the asset type
    # @option opts [String] :approval_status approval status for the asset
    # @option opts [Integer] :assigned_account_id account id assigned to the asset
    # @option opts [File] :media a MultipartFile containing the mimetype, etc
    # @option opts [String] :media_url this can be used if the \&quot;media\&quot; is a link (optional)
    # @option opts [String] :media_string the media content as a string (optional)
    # @option opts [String] :media_string_file_name file name for mediaString (optional)
    # @option opts [String] :media_string_content_type content type for mediaString (optional)
    # @option opts [Integer] :media_height the media height (optional)
    # @option opts [Integer] :media_width the media width (optional)
    # @option opts [File] :attached_media a MultipartFile containing an asset that the \&quot;media\&quot; file references (optional). Example: to upload a video the \&quot;media\&quot; file should contain a screen capture and the \&quot;attachedMedia\&quot; should be the actual video.
    # @option opts [String] :attached_media_url this can be used if the \&quot;attachedMedia\&quot; is a link (i.e. a Youtube video, etc) (optional)
    # @option opts [String] :attached_media_string attached media content as a string (optional)
    # @option opts [String] :attached_media_string_file_name file name for attachedMediaString (optional)
    # @option opts [String] :attached_media_string_content_type content type for attachedMediaString (optional)
    # @option opts [Integer] :attached_media_height the attached media height (optional)
    # @option opts [Integer] :attached_media_width the attached media width (optional)
    # @option opts [String] :location_description the location description
    # @option opts [String] :search_tags search tags
    # @option opts [String] :app_key the application key
    # @option opts [Float] :latitude latitude used to update the asset&#39;s location
    # @option opts [Float] :longitude longitude used to update the asset&#39;s location
    # @return [SirqulResponse]
    def update_asset(asset_id, opts = {})
      data, _status_code, _headers = update_asset_with_http_info(asset_id, opts)
      data
    end

    # Update Asset
    # Updates an asset&#39;s meta data. If an album reference is passed in, the participants with write permissions are allowed to edit the asset. Otherwise, only the asset up-loader has permission to edit the data.
    # @param asset_id [Integer] the ID of the asset to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :album_id the ID of the album to check user permissions
    # @option opts [Integer] :attached_asset_id the ID of the attached asset
    # @option opts [Integer] :version_code the version code
    # @option opts [String] :version_name the version name
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :caption the caption
    # @option opts [String] :asset_type the asset type
    # @option opts [String] :approval_status approval status for the asset
    # @option opts [Integer] :assigned_account_id account id assigned to the asset
    # @option opts [File] :media a MultipartFile containing the mimetype, etc
    # @option opts [String] :media_url this can be used if the \&quot;media\&quot; is a link (optional)
    # @option opts [String] :media_string the media content as a string (optional)
    # @option opts [String] :media_string_file_name file name for mediaString (optional)
    # @option opts [String] :media_string_content_type content type for mediaString (optional)
    # @option opts [Integer] :media_height the media height (optional)
    # @option opts [Integer] :media_width the media width (optional)
    # @option opts [File] :attached_media a MultipartFile containing an asset that the \&quot;media\&quot; file references (optional). Example: to upload a video the \&quot;media\&quot; file should contain a screen capture and the \&quot;attachedMedia\&quot; should be the actual video.
    # @option opts [String] :attached_media_url this can be used if the \&quot;attachedMedia\&quot; is a link (i.e. a Youtube video, etc) (optional)
    # @option opts [String] :attached_media_string attached media content as a string (optional)
    # @option opts [String] :attached_media_string_file_name file name for attachedMediaString (optional)
    # @option opts [String] :attached_media_string_content_type content type for attachedMediaString (optional)
    # @option opts [Integer] :attached_media_height the attached media height (optional)
    # @option opts [Integer] :attached_media_width the attached media width (optional)
    # @option opts [String] :location_description the location description
    # @option opts [String] :search_tags search tags
    # @option opts [String] :app_key the application key
    # @option opts [Float] :latitude latitude used to update the asset&#39;s location
    # @option opts [Float] :longitude longitude used to update the asset&#39;s location
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def update_asset_with_http_info(asset_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssetApi.update_asset ...'
      end
      # verify the required parameter 'asset_id' is set
      if @api_client.config.client_side_validation && asset_id.nil?
        fail ArgumentError, "Missing the required parameter 'asset_id' when calling AssetApi.update_asset"
      end
      # resource path
      local_var_path = '/asset/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'assetId'] = asset_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'albumId'] = opts[:'album_id'] if !opts[:'album_id'].nil?
      query_params[:'attachedAssetId'] = opts[:'attached_asset_id'] if !opts[:'attached_asset_id'].nil?
      query_params[:'versionCode'] = opts[:'version_code'] if !opts[:'version_code'].nil?
      query_params[:'versionName'] = opts[:'version_name'] if !opts[:'version_name'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'caption'] = opts[:'caption'] if !opts[:'caption'].nil?
      query_params[:'assetType'] = opts[:'asset_type'] if !opts[:'asset_type'].nil?
      query_params[:'approvalStatus'] = opts[:'approval_status'] if !opts[:'approval_status'].nil?
      query_params[:'assignedAccountId'] = opts[:'assigned_account_id'] if !opts[:'assigned_account_id'].nil?
      query_params[:'media'] = opts[:'media'] if !opts[:'media'].nil?
      query_params[:'mediaUrl'] = opts[:'media_url'] if !opts[:'media_url'].nil?
      query_params[:'mediaString'] = opts[:'media_string'] if !opts[:'media_string'].nil?
      query_params[:'mediaStringFileName'] = opts[:'media_string_file_name'] if !opts[:'media_string_file_name'].nil?
      query_params[:'mediaStringContentType'] = opts[:'media_string_content_type'] if !opts[:'media_string_content_type'].nil?
      query_params[:'mediaHeight'] = opts[:'media_height'] if !opts[:'media_height'].nil?
      query_params[:'mediaWidth'] = opts[:'media_width'] if !opts[:'media_width'].nil?
      query_params[:'attachedMedia'] = opts[:'attached_media'] if !opts[:'attached_media'].nil?
      query_params[:'attachedMediaUrl'] = opts[:'attached_media_url'] if !opts[:'attached_media_url'].nil?
      query_params[:'attachedMediaString'] = opts[:'attached_media_string'] if !opts[:'attached_media_string'].nil?
      query_params[:'attachedMediaStringFileName'] = opts[:'attached_media_string_file_name'] if !opts[:'attached_media_string_file_name'].nil?
      query_params[:'attachedMediaStringContentType'] = opts[:'attached_media_string_content_type'] if !opts[:'attached_media_string_content_type'].nil?
      query_params[:'attachedMediaHeight'] = opts[:'attached_media_height'] if !opts[:'attached_media_height'].nil?
      query_params[:'attachedMediaWidth'] = opts[:'attached_media_width'] if !opts[:'attached_media_width'].nil?
      query_params[:'locationDescription'] = opts[:'location_description'] if !opts[:'location_description'].nil?
      query_params[:'searchTags'] = opts[:'search_tags'] if !opts[:'search_tags'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssetApi.update_asset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssetApi#update_asset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
