=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class AssignmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search Assignment Assignees
    # Search for avaiable users for creating or updating assignment.
    # @param version [Float] 
    # @param account_id [Integer] The account id sending the request
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to filter the returned results
    # @return [Array<AccountMiniResponse>]
    def assigment_assignee_account_search(version, account_id, opts = {})
      data, _status_code, _headers = assigment_assignee_account_search_with_http_info(version, account_id, opts)
      data
    end

    # Search Assignment Assignees
    # Search for avaiable users for creating or updating assignment.
    # @param version [Float] 
    # @param account_id [Integer] The account id sending the request
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to filter the returned results
    # @return [Array<(Array<AccountMiniResponse>, Integer, Hash)>] Array<AccountMiniResponse> data, response status code and response headers
    def assigment_assignee_account_search_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assigment_assignee_account_search ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assigment_assignee_account_search"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assigment_assignee_account_search"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/assignee/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AccountMiniResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assigment_assignee_account_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assigment_assignee_account_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Assignment
    # Create an assignment.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param name [String] the name for the assignment
    # @param assignee_account_id [Integer] the account id to assign to
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description the desciprtion for the assignment
    # @option opts [Integer] :retailer_location_id the retailer location id
    # @option opts [String] :tags the tags
    # @option opts [Boolean] :active determines whether the assignment is active or inactive
    # @return [AssignmentResponse]
    def assignment_create(version, account_id, name, assignee_account_id, opts = {})
      data, _status_code, _headers = assignment_create_with_http_info(version, account_id, name, assignee_account_id, opts)
      data
    end

    # Create Assignment
    # Create an assignment.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param name [String] the name for the assignment
    # @param assignee_account_id [Integer] the account id to assign to
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description the desciprtion for the assignment
    # @option opts [Integer] :retailer_location_id the retailer location id
    # @option opts [String] :tags the tags
    # @option opts [Boolean] :active determines whether the assignment is active or inactive
    # @return [Array<(AssignmentResponse, Integer, Hash)>] AssignmentResponse data, response status code and response headers
    def assignment_create_with_http_info(version, account_id, name, assignee_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_create ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_create"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_create"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AssignmentApi.assignment_create"
      end
      # verify the required parameter 'assignee_account_id' is set
      if @api_client.config.client_side_validation && assignee_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignee_account_id' when calling AssignmentApi.assignment_create"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'name'] = name
      query_params[:'assigneeAccountId'] = assignee_account_id
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssignmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Assignment
    # Delete an assignment.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_id [Integer] the assignment id
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def assignment_delete(version, account_id, assignment_id, opts = {})
      data, _status_code, _headers = assignment_delete_with_http_info(version, account_id, assignment_id, opts)
      data
    end

    # Delete Assignment
    # Delete an assignment.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_id [Integer] the assignment id
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def assignment_delete_with_http_info(version, account_id, assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_delete ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_delete"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_delete"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling AssignmentApi.assignment_delete"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'assignmentId'] = assignment_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Assignment
    # Get the details of an assignment.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_id [Integer] the assignment id
    # @param [Hash] opts the optional parameters
    # @return [AssignmentResponse]
    def assignment_get(version, account_id, assignment_id, opts = {})
      data, _status_code, _headers = assignment_get_with_http_info(version, account_id, assignment_id, opts)
      data
    end

    # Get Assignment
    # Get the details of an assignment.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_id [Integer] the assignment id
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignmentResponse, Integer, Hash)>] AssignmentResponse data, response status code and response headers
    def assignment_get_with_http_info(version, account_id, assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_get"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_get"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling AssignmentApi.assignment_get"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'assignmentId'] = assignment_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssignmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Assignments
    # Search for assignments by the given parameters.
    # @param version [Float] 
    # @param account_id [Integer] the account sending the request
    # @param sort_field [String] sort by table field
    # @param descending [Boolean] return results in descending order or not
    # @param active_only [Boolean] return active results only or not
    # @param start [Integer] The record to begin the return set on
    # @param limit [Integer] The number of records to return
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :creator_account_id the creator of the assignment
    # @option opts [String] :assignee_account_ids filter results by assignee accounts. If not provided, all assignments that are assigned to accounts that are managed by the requested account will be returned.
    # @option opts [String] :retailer_location_ids filter results by retailer locations
    # @option opts [String] :current_status_type filter results by assignment status
    # @option opts [String] :keyword filter results by keyword search that matches the assignee, creator, or retailer location name
    # @return [Array<AssignmentResponse>]
    def assignment_search(version, account_id, sort_field, descending, active_only, start, limit, opts = {})
      data, _status_code, _headers = assignment_search_with_http_info(version, account_id, sort_field, descending, active_only, start, limit, opts)
      data
    end

    # Search Assignments
    # Search for assignments by the given parameters.
    # @param version [Float] 
    # @param account_id [Integer] the account sending the request
    # @param sort_field [String] sort by table field
    # @param descending [Boolean] return results in descending order or not
    # @param active_only [Boolean] return active results only or not
    # @param start [Integer] The record to begin the return set on
    # @param limit [Integer] The number of records to return
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :creator_account_id the creator of the assignment
    # @option opts [String] :assignee_account_ids filter results by assignee accounts. If not provided, all assignments that are assigned to accounts that are managed by the requested account will be returned.
    # @option opts [String] :retailer_location_ids filter results by retailer locations
    # @option opts [String] :current_status_type filter results by assignment status
    # @option opts [String] :keyword filter results by keyword search that matches the assignee, creator, or retailer location name
    # @return [Array<(Array<AssignmentResponse>, Integer, Hash)>] Array<AssignmentResponse> data, response status code and response headers
    def assignment_search_with_http_info(version, account_id, sort_field, descending, active_only, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_search ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_search"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_search"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling AssignmentApi.assignment_search"
      end
      # verify enum value
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "ASSIGNEE_ID", "CREATOR_ID", "LOCATION_ID", "LOCATION_NAME", "CURRENT_STATUS", "CURRENT_STATUS_TYPE", "STATUSES"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling AssignmentApi.assignment_search"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling AssignmentApi.assignment_search"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling AssignmentApi.assignment_search"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling AssignmentApi.assignment_search"
      end
      allowable_values = ["NEW", "IN_PROGRESS", "SUBSCRIBED", "ARCHIVED"]
      if @api_client.config.client_side_validation && opts[:'current_status_type'] && !allowable_values.include?(opts[:'current_status_type'])
        fail ArgumentError, "invalid value for \"current_status_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'activeOnly'] = active_only
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'creatorAccountId'] = opts[:'creator_account_id'] if !opts[:'creator_account_id'].nil?
      query_params[:'assigneeAccountIds'] = opts[:'assignee_account_ids'] if !opts[:'assignee_account_ids'].nil?
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'currentStatusType'] = opts[:'current_status_type'] if !opts[:'current_status_type'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AssignmentResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Assignment Status
    # Create an assignment status.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_id [Integer] the assignment id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :scheduled_notification_id the scheduled notification id for reminders
    # @option opts [String] :to_do the type of to do. Possible values include: SITE_VISIT, PHONE, RECONTACT, RENEWAL, CREDIT
    # @option opts [String] :connection the connection type. Possible values include: INITIAL, FOLLOW_UP, DECLINED
    # @option opts [String] :method the communication method type. Possible values include: PHONE, SITE_VISIT, EMAIL
    # @option opts [String] :status the status type. Possible values include: ARCHIVED, SUBSCRIBED, UNSUBSCRIBED, CONTACTED, DECLINED, NOT_CONTACTED
    # @option opts [String] :closure the closure type. Possible values include: PHONE, SITE_VISIT, PHONE_SITE, WEB
    # @option opts [String] :message the message from the assignee
    # @option opts [Integer] :follow_up the date to follow up by
    # @option opts [Boolean] :active determines whether the assignment status is active or inactive
    # @return [AssignmentStatusResponse]
    def assignment_status_create(version, account_id, assignment_id, opts = {})
      data, _status_code, _headers = assignment_status_create_with_http_info(version, account_id, assignment_id, opts)
      data
    end

    # Create Assignment Status
    # Create an assignment status.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_id [Integer] the assignment id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :scheduled_notification_id the scheduled notification id for reminders
    # @option opts [String] :to_do the type of to do. Possible values include: SITE_VISIT, PHONE, RECONTACT, RENEWAL, CREDIT
    # @option opts [String] :connection the connection type. Possible values include: INITIAL, FOLLOW_UP, DECLINED
    # @option opts [String] :method the communication method type. Possible values include: PHONE, SITE_VISIT, EMAIL
    # @option opts [String] :status the status type. Possible values include: ARCHIVED, SUBSCRIBED, UNSUBSCRIBED, CONTACTED, DECLINED, NOT_CONTACTED
    # @option opts [String] :closure the closure type. Possible values include: PHONE, SITE_VISIT, PHONE_SITE, WEB
    # @option opts [String] :message the message from the assignee
    # @option opts [Integer] :follow_up the date to follow up by
    # @option opts [Boolean] :active determines whether the assignment status is active or inactive
    # @return [Array<(AssignmentStatusResponse, Integer, Hash)>] AssignmentStatusResponse data, response status code and response headers
    def assignment_status_create_with_http_info(version, account_id, assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_status_create ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_status_create"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_status_create"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling AssignmentApi.assignment_status_create"
      end
      allowable_values = ["SITE_VISIT", "PHONE", "RECONTACT", "RENEWAL", "CREDIT"]
      if @api_client.config.client_side_validation && opts[:'to_do'] && !allowable_values.include?(opts[:'to_do'])
        fail ArgumentError, "invalid value for \"to_do\", must be one of #{allowable_values}"
      end
      allowable_values = ["INITIAL", "FOLLOW_UP", "DECLINED"]
      if @api_client.config.client_side_validation && opts[:'connection'] && !allowable_values.include?(opts[:'connection'])
        fail ArgumentError, "invalid value for \"connection\", must be one of #{allowable_values}"
      end
      allowable_values = ["PHONE", "SITE_VISIT", "EMAIL"]
      if @api_client.config.client_side_validation && opts[:'method'] && !allowable_values.include?(opts[:'method'])
        fail ArgumentError, "invalid value for \"method\", must be one of #{allowable_values}"
      end
      allowable_values = ["ARCHIVED", "SUBSCRIBED", "UNSUBSCRIBED", "CONTACTED", "DECLINED", "NOT_CONTACTED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["PHONE", "SITE_VISIT", "PHONE_SITE", "WEB"]
      if @api_client.config.client_side_validation && opts[:'closure'] && !allowable_values.include?(opts[:'closure'])
        fail ArgumentError, "invalid value for \"closure\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/status/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'assignmentId'] = assignment_id
      query_params[:'scheduledNotificationId'] = opts[:'scheduled_notification_id'] if !opts[:'scheduled_notification_id'].nil?
      query_params[:'toDo'] = opts[:'to_do'] if !opts[:'to_do'].nil?
      query_params[:'connection'] = opts[:'connection'] if !opts[:'connection'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'closure'] = opts[:'closure'] if !opts[:'closure'].nil?
      query_params[:'message'] = opts[:'message'] if !opts[:'message'].nil?
      query_params[:'followUp'] = opts[:'follow_up'] if !opts[:'follow_up'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssignmentStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_status_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_status_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deletes Assignment Status
    # Deletes an assignment status.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_status_id [Integer] the assignment status id
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def assignment_status_delete(version, account_id, assignment_status_id, opts = {})
      data, _status_code, _headers = assignment_status_delete_with_http_info(version, account_id, assignment_status_id, opts)
      data
    end

    # Deletes Assignment Status
    # Deletes an assignment status.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_status_id [Integer] the assignment status id
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def assignment_status_delete_with_http_info(version, account_id, assignment_status_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_status_delete ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_status_delete"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_status_delete"
      end
      # verify the required parameter 'assignment_status_id' is set
      if @api_client.config.client_side_validation && assignment_status_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_status_id' when calling AssignmentApi.assignment_status_delete"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/status/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'assignmentStatusId'] = assignment_status_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_status_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_status_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Assignment Status
    # Get an assignment status.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_status_id [Integer] the assignment status id
    # @param [Hash] opts the optional parameters
    # @return [AssignmentStatusResponse]
    def assignment_status_get(version, account_id, assignment_status_id, opts = {})
      data, _status_code, _headers = assignment_status_get_with_http_info(version, account_id, assignment_status_id, opts)
      data
    end

    # Get Assignment Status
    # Get an assignment status.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_status_id [Integer] the assignment status id
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignmentStatusResponse, Integer, Hash)>] AssignmentStatusResponse data, response status code and response headers
    def assignment_status_get_with_http_info(version, account_id, assignment_status_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_status_get ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_status_get"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_status_get"
      end
      # verify the required parameter 'assignment_status_id' is set
      if @api_client.config.client_side_validation && assignment_status_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_status_id' when calling AssignmentApi.assignment_status_get"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/status/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'assignmentStatusId'] = assignment_status_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssignmentStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_status_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_status_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Assignment Statuses
    # Search on assignment statuses.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param sort_field [String] the field to sort by. Possible values include: ID, CREATED, UPDATED, DELETED, SEARCH_TAGS, ACTIVE, CURRENT_STATUS, TODO, CONNECTION, METHOD, STATUS, CLOSURE, MESSAGE, FOLLOW_UP
    # @param descending [Boolean] determines whether the sorted list is in descending or ascending order
    # @param active_only [Boolean] determines whether to only return active results
    # @param start [Integer] the start index for pagination
    # @param limit [Integer] the limit for pagination
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :assignment_id the assignment id
    # @option opts [Integer] :creator_account_id filter results by the account who created the status
    # @option opts [Integer] :assignee_account_id filter results by the assignee account
    # @option opts [Integer] :retailer_location_id filter results by by retailer location
    # @option opts [String] :status_type filter results by the status type
    # @option opts [String] :keyword filter results by keyword search
    # @return [Array<AssignmentStatusResponse>]
    def assignment_status_search(version, account_id, sort_field, descending, active_only, start, limit, opts = {})
      data, _status_code, _headers = assignment_status_search_with_http_info(version, account_id, sort_field, descending, active_only, start, limit, opts)
      data
    end

    # Search Assignment Statuses
    # Search on assignment statuses.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param sort_field [String] the field to sort by. Possible values include: ID, CREATED, UPDATED, DELETED, SEARCH_TAGS, ACTIVE, CURRENT_STATUS, TODO, CONNECTION, METHOD, STATUS, CLOSURE, MESSAGE, FOLLOW_UP
    # @param descending [Boolean] determines whether the sorted list is in descending or ascending order
    # @param active_only [Boolean] determines whether to only return active results
    # @param start [Integer] the start index for pagination
    # @param limit [Integer] the limit for pagination
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :assignment_id the assignment id
    # @option opts [Integer] :creator_account_id filter results by the account who created the status
    # @option opts [Integer] :assignee_account_id filter results by the assignee account
    # @option opts [Integer] :retailer_location_id filter results by by retailer location
    # @option opts [String] :status_type filter results by the status type
    # @option opts [String] :keyword filter results by keyword search
    # @return [Array<(Array<AssignmentStatusResponse>, Integer, Hash)>] Array<AssignmentStatusResponse> data, response status code and response headers
    def assignment_status_search_with_http_info(version, account_id, sort_field, descending, active_only, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_status_search ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_status_search"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_status_search"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling AssignmentApi.assignment_status_search"
      end
      # verify enum value
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "ASSIGNEE_ID", "CREATOR_ID", "LOCATION_ID", "LOCATION_NAME", "CURRENT_STATUS", "CURRENT_STATUS_TYPE", "TODO", "CONNECTION", "METHOD", "STATUS", "CLOSURE", "MESSAGE", "FOLLOW_UP"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling AssignmentApi.assignment_status_search"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling AssignmentApi.assignment_status_search"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling AssignmentApi.assignment_status_search"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling AssignmentApi.assignment_status_search"
      end
      allowable_values = ["ARCHIVED", "SUBSCRIBED", "UNSUBSCRIBED", "CONTACTED", "DECLINED", "NOT_CONTACTED"]
      if @api_client.config.client_side_validation && opts[:'status_type'] && !allowable_values.include?(opts[:'status_type'])
        fail ArgumentError, "invalid value for \"status_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/status/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'activeOnly'] = active_only
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'assignmentId'] = opts[:'assignment_id'] if !opts[:'assignment_id'].nil?
      query_params[:'creatorAccountId'] = opts[:'creator_account_id'] if !opts[:'creator_account_id'].nil?
      query_params[:'assigneeAccountId'] = opts[:'assignee_account_id'] if !opts[:'assignee_account_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'statusType'] = opts[:'status_type'] if !opts[:'status_type'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AssignmentStatusResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_status_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_status_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Assignment Status
    # Updates an assignment status.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_status_id [Integer] the assignment status id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :scheduled_notification_id the scheduled notification id for reminders
    # @option opts [String] :to_do the type of to do. Possible values include: SITE_VISIT, PHONE, RECONTACT, RENEWAL, CREDIT
    # @option opts [String] :connection the connection type. Possible values include: INITIAL, FOLLOW_UP, DECLINED
    # @option opts [String] :method the communication method type. Possible values include: PHONE, SITE_VISIT, EMAIL
    # @option opts [String] :status the status type. Possible values include: ARCHIVED, SUBSCRIBED, UNSUBSCRIBED, CONTACTED, DECLINED, NOT_CONTACTED
    # @option opts [String] :closure the closure type. Possible values include: PHONE, SITE_VISIT, PHONE_SITE, WEB
    # @option opts [String] :message the message from the assignee
    # @option opts [Integer] :follow_up the date to follow up by
    # @option opts [Boolean] :active determines whether the assignment status is active or inactive
    # @return [AssignmentStatusResponse]
    def assignment_status_update(version, account_id, assignment_status_id, opts = {})
      data, _status_code, _headers = assignment_status_update_with_http_info(version, account_id, assignment_status_id, opts)
      data
    end

    # Update Assignment Status
    # Updates an assignment status.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_status_id [Integer] the assignment status id
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :scheduled_notification_id the scheduled notification id for reminders
    # @option opts [String] :to_do the type of to do. Possible values include: SITE_VISIT, PHONE, RECONTACT, RENEWAL, CREDIT
    # @option opts [String] :connection the connection type. Possible values include: INITIAL, FOLLOW_UP, DECLINED
    # @option opts [String] :method the communication method type. Possible values include: PHONE, SITE_VISIT, EMAIL
    # @option opts [String] :status the status type. Possible values include: ARCHIVED, SUBSCRIBED, UNSUBSCRIBED, CONTACTED, DECLINED, NOT_CONTACTED
    # @option opts [String] :closure the closure type. Possible values include: PHONE, SITE_VISIT, PHONE_SITE, WEB
    # @option opts [String] :message the message from the assignee
    # @option opts [Integer] :follow_up the date to follow up by
    # @option opts [Boolean] :active determines whether the assignment status is active or inactive
    # @return [Array<(AssignmentStatusResponse, Integer, Hash)>] AssignmentStatusResponse data, response status code and response headers
    def assignment_status_update_with_http_info(version, account_id, assignment_status_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_status_update ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_status_update"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_status_update"
      end
      # verify the required parameter 'assignment_status_id' is set
      if @api_client.config.client_side_validation && assignment_status_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_status_id' when calling AssignmentApi.assignment_status_update"
      end
      allowable_values = ["SITE_VISIT", "PHONE", "RECONTACT", "RENEWAL", "CREDIT"]
      if @api_client.config.client_side_validation && opts[:'to_do'] && !allowable_values.include?(opts[:'to_do'])
        fail ArgumentError, "invalid value for \"to_do\", must be one of #{allowable_values}"
      end
      allowable_values = ["INITIAL", "FOLLOW_UP", "DECLINED"]
      if @api_client.config.client_side_validation && opts[:'connection'] && !allowable_values.include?(opts[:'connection'])
        fail ArgumentError, "invalid value for \"connection\", must be one of #{allowable_values}"
      end
      allowable_values = ["PHONE", "SITE_VISIT", "EMAIL"]
      if @api_client.config.client_side_validation && opts[:'method'] && !allowable_values.include?(opts[:'method'])
        fail ArgumentError, "invalid value for \"method\", must be one of #{allowable_values}"
      end
      allowable_values = ["ARCHIVED", "SUBSCRIBED", "UNSUBSCRIBED", "CONTACTED", "DECLINED", "NOT_CONTACTED"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      allowable_values = ["PHONE", "SITE_VISIT", "PHONE_SITE", "WEB"]
      if @api_client.config.client_side_validation && opts[:'closure'] && !allowable_values.include?(opts[:'closure'])
        fail ArgumentError, "invalid value for \"closure\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/status/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'assignmentStatusId'] = assignment_status_id
      query_params[:'scheduledNotificationId'] = opts[:'scheduled_notification_id'] if !opts[:'scheduled_notification_id'].nil?
      query_params[:'toDo'] = opts[:'to_do'] if !opts[:'to_do'].nil?
      query_params[:'connection'] = opts[:'connection'] if !opts[:'connection'].nil?
      query_params[:'method'] = opts[:'method'] if !opts[:'method'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'closure'] = opts[:'closure'] if !opts[:'closure'].nil?
      query_params[:'message'] = opts[:'message'] if !opts[:'message'].nil?
      query_params[:'followUp'] = opts[:'follow_up'] if !opts[:'follow_up'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssignmentStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_status_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_status_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Assignment
    # Updates an assignment.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_id [Integer] the assignment id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name the name of the assignment
    # @option opts [String] :description the description of the assignment
    # @option opts [Integer] :assignee_account_id the account id to assign to
    # @option opts [Integer] :retailer_location_id the retailer location id
    # @option opts [String] :tags the tags
    # @option opts [Boolean] :active determines whether the assignment is active or inactive
    # @return [AssignmentResponse]
    def assignment_update(version, account_id, assignment_id, opts = {})
      data, _status_code, _headers = assignment_update_with_http_info(version, account_id, assignment_id, opts)
      data
    end

    # Update Assignment
    # Updates an assignment.
    # @param version [Float] 
    # @param account_id [Integer] the user account id
    # @param assignment_id [Integer] the assignment id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name the name of the assignment
    # @option opts [String] :description the description of the assignment
    # @option opts [Integer] :assignee_account_id the account id to assign to
    # @option opts [Integer] :retailer_location_id the retailer location id
    # @option opts [String] :tags the tags
    # @option opts [Boolean] :active determines whether the assignment is active or inactive
    # @return [Array<(AssignmentResponse, Integer, Hash)>] AssignmentResponse data, response status code and response headers
    def assignment_update_with_http_info(version, account_id, assignment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AssignmentApi.assignment_update ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling AssignmentApi.assignment_update"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling AssignmentApi.assignment_update"
      end
      # verify the required parameter 'assignment_id' is set
      if @api_client.config.client_side_validation && assignment_id.nil?
        fail ArgumentError, "Missing the required parameter 'assignment_id' when calling AssignmentApi.assignment_update"
      end
      # resource path
      local_var_path = '/api/{version}/assignment/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'assignmentId'] = assignment_id
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'assigneeAccountId'] = opts[:'assignee_account_id'] if !opts[:'assignee_account_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssignmentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AssignmentApi.assignment_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AssignmentApi#assignment_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
