=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class BidApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Bid
    # Creates a bid on a biddable object
    # @param biddable_type [String] A biddable object type. Possible values include: CREATIVE (ads).
    # @param biddable_id [Integer] The id of the biddable object
    # @param amount_per_view [Float] The bid amount for views. For ads, this is the amount that will be taken for each impression.
    # @param amount_per_action [Float] The bid amount for actions. For ads, this is the amount that will be taken for each click.
    # @param budget_amount [Float] The allocated budget amount that will be used
    # @param budget_schedule [String] The schedule for when the allocated budget amount is reset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [BidResponse]
    def create_bid(biddable_type, biddable_id, amount_per_view, amount_per_action, budget_amount, budget_schedule, opts = {})
      data, _status_code, _headers = create_bid_with_http_info(biddable_type, biddable_id, amount_per_view, amount_per_action, budget_amount, budget_schedule, opts)
      data
    end

    # Create Bid
    # Creates a bid on a biddable object
    # @param biddable_type [String] A biddable object type. Possible values include: CREATIVE (ads).
    # @param biddable_id [Integer] The id of the biddable object
    # @param amount_per_view [Float] The bid amount for views. For ads, this is the amount that will be taken for each impression.
    # @param amount_per_action [Float] The bid amount for actions. For ads, this is the amount that will be taken for each click.
    # @param budget_amount [Float] The allocated budget amount that will be used
    # @param budget_schedule [String] The schedule for when the allocated budget amount is reset
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [Array<(BidResponse, Integer, Hash)>] BidResponse data, response status code and response headers
    def create_bid_with_http_info(biddable_type, biddable_id, amount_per_view, amount_per_action, budget_amount, budget_schedule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BidApi.create_bid ...'
      end
      # verify the required parameter 'biddable_type' is set
      if @api_client.config.client_side_validation && biddable_type.nil?
        fail ArgumentError, "Missing the required parameter 'biddable_type' when calling BidApi.create_bid"
      end
      # verify the required parameter 'biddable_id' is set
      if @api_client.config.client_side_validation && biddable_id.nil?
        fail ArgumentError, "Missing the required parameter 'biddable_id' when calling BidApi.create_bid"
      end
      # verify the required parameter 'amount_per_view' is set
      if @api_client.config.client_side_validation && amount_per_view.nil?
        fail ArgumentError, "Missing the required parameter 'amount_per_view' when calling BidApi.create_bid"
      end
      # verify the required parameter 'amount_per_action' is set
      if @api_client.config.client_side_validation && amount_per_action.nil?
        fail ArgumentError, "Missing the required parameter 'amount_per_action' when calling BidApi.create_bid"
      end
      # verify the required parameter 'budget_amount' is set
      if @api_client.config.client_side_validation && budget_amount.nil?
        fail ArgumentError, "Missing the required parameter 'budget_amount' when calling BidApi.create_bid"
      end
      # verify the required parameter 'budget_schedule' is set
      if @api_client.config.client_side_validation && budget_schedule.nil?
        fail ArgumentError, "Missing the required parameter 'budget_schedule' when calling BidApi.create_bid"
      end
      # resource path
      local_var_path = '/bid/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'biddableType'] = biddable_type
      query_params[:'biddableId'] = biddable_id
      query_params[:'amountPerView'] = amount_per_view
      query_params[:'amountPerAction'] = amount_per_action
      query_params[:'budgetAmount'] = budget_amount
      query_params[:'budgetSchedule'] = budget_schedule
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BidResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BidApi.create_bid",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BidApi#create_bid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Bid
    # Deleted a bid on a biddable object
    # @param bid_id [Integer] The bid id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [SirqulResponse]
    def delete_bid(bid_id, opts = {})
      data, _status_code, _headers = delete_bid_with_http_info(bid_id, opts)
      data
    end

    # Delete Bid
    # Deleted a bid on a biddable object
    # @param bid_id [Integer] The bid id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_bid_with_http_info(bid_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BidApi.delete_bid ...'
      end
      # verify the required parameter 'bid_id' is set
      if @api_client.config.client_side_validation && bid_id.nil?
        fail ArgumentError, "Missing the required parameter 'bid_id' when calling BidApi.delete_bid"
      end
      # resource path
      local_var_path = '/bid/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bidId'] = bid_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BidApi.delete_bid",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BidApi#delete_bid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Bid
    # Get the bid details of a biddable object
    # @param bid_id [Integer] The bid id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [BidResponse]
    def get_bid(bid_id, opts = {})
      data, _status_code, _headers = get_bid_with_http_info(bid_id, opts)
      data
    end

    # Get Bid
    # Get the bid details of a biddable object
    # @param bid_id [Integer] The bid id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [Array<(BidResponse, Integer, Hash)>] BidResponse data, response status code and response headers
    def get_bid_with_http_info(bid_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BidApi.get_bid ...'
      end
      # verify the required parameter 'bid_id' is set
      if @api_client.config.client_side_validation && bid_id.nil?
        fail ArgumentError, "Missing the required parameter 'bid_id' when calling BidApi.get_bid"
      end
      # resource path
      local_var_path = '/bid/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bidId'] = bid_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BidResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BidApi.get_bid",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BidApi#get_bid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Bid
    # Updates a bid on a biddable object
    # @param bid_id [Integer] The bid id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :amount_per_view The bid amount for views. For ads, this is the amount that will be taken for each impression.
    # @option opts [Float] :amount_per_action The bid amount for actions. For ads, this is the amount that will be taken for each click.
    # @option opts [Float] :budget_amount The allocated budget amount that will be used
    # @option opts [String] :budget_schedule The schedule for when the allocated budget amount is reset
    # @return [BidResponse]
    def update_bid(bid_id, opts = {})
      data, _status_code, _headers = update_bid_with_http_info(bid_id, opts)
      data
    end

    # Update Bid
    # Updates a bid on a biddable object
    # @param bid_id [Integer] The bid id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :amount_per_view The bid amount for views. For ads, this is the amount that will be taken for each impression.
    # @option opts [Float] :amount_per_action The bid amount for actions. For ads, this is the amount that will be taken for each click.
    # @option opts [Float] :budget_amount The allocated budget amount that will be used
    # @option opts [String] :budget_schedule The schedule for when the allocated budget amount is reset
    # @return [Array<(BidResponse, Integer, Hash)>] BidResponse data, response status code and response headers
    def update_bid_with_http_info(bid_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BidApi.update_bid ...'
      end
      # verify the required parameter 'bid_id' is set
      if @api_client.config.client_side_validation && bid_id.nil?
        fail ArgumentError, "Missing the required parameter 'bid_id' when calling BidApi.update_bid"
      end
      # resource path
      local_var_path = '/bid/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bidId'] = bid_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'amountPerView'] = opts[:'amount_per_view'] if !opts[:'amount_per_view'].nil?
      query_params[:'amountPerAction'] = opts[:'amount_per_action'] if !opts[:'amount_per_action'].nil?
      query_params[:'budgetAmount'] = opts[:'budget_amount'] if !opts[:'budget_amount'].nil?
      query_params[:'budgetSchedule'] = opts[:'budget_schedule'] if !opts[:'budget_schedule'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BidResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BidApi.update_bid",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BidApi#update_bid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
