=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class BillingInfoApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Update Payment Method
    # Update a method of payment. If the paymentMethodId is not passed in then will update their default payment method.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :payment_method_id Payment Method Id
    # @option opts [String] :account_name the name of the account
    # @option opts [String] :first_name First Name that the account is filed as
    # @option opts [String] :last_name Last Name that the account is filed as
    # @option opts [String] :address Address that the account is filed as
    # @option opts [String] :city City that the account is filed as
    # @option opts [String] :state State that the account is filed as
    # @option opts [String] :postal_code Postal Code that the account is filed as
    # @option opts [String] :country Country that the account is filed as
    # @option opts [String] :phone Phone that the account is filed as
    # @option opts [String] :credit_card_number The full credit card number to store on file
    # @option opts [String] :expiration_date The credit card expiration date YYYY-MM
    # @option opts [String] :ccv The 3 digit confirmation code
    # @option opts [String] :account_number The bank account number
    # @option opts [String] :bank_name The bank name
    # @option opts [String] :routing_number Routing Number
    # @option opts [Boolean] :default_payment_method Default Payment Method
    # @option opts [String] :payment_method_nickname Payment Method Nickname
    # @option opts [String] :tax_id Tax Id
    # @option opts [String] :provider_customer_profile_id Provider customer profile Id
    # @option opts [String] :provider_payment_profile_id Provider customer payment profile Id
    # @option opts [String] :meta_data Meta Data
    # @return [PaymentTypesResponse]
    def add_payment_method(version, account_id, opts = {})
      data, _status_code, _headers = add_payment_method_with_http_info(version, account_id, opts)
      data
    end

    # Update Payment Method
    # Update a method of payment. If the paymentMethodId is not passed in then will update their default payment method.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :payment_method_id Payment Method Id
    # @option opts [String] :account_name the name of the account
    # @option opts [String] :first_name First Name that the account is filed as
    # @option opts [String] :last_name Last Name that the account is filed as
    # @option opts [String] :address Address that the account is filed as
    # @option opts [String] :city City that the account is filed as
    # @option opts [String] :state State that the account is filed as
    # @option opts [String] :postal_code Postal Code that the account is filed as
    # @option opts [String] :country Country that the account is filed as
    # @option opts [String] :phone Phone that the account is filed as
    # @option opts [String] :credit_card_number The full credit card number to store on file
    # @option opts [String] :expiration_date The credit card expiration date YYYY-MM
    # @option opts [String] :ccv The 3 digit confirmation code
    # @option opts [String] :account_number The bank account number
    # @option opts [String] :bank_name The bank name
    # @option opts [String] :routing_number Routing Number
    # @option opts [Boolean] :default_payment_method Default Payment Method
    # @option opts [String] :payment_method_nickname Payment Method Nickname
    # @option opts [String] :tax_id Tax Id
    # @option opts [String] :provider_customer_profile_id Provider customer profile Id
    # @option opts [String] :provider_payment_profile_id Provider customer payment profile Id
    # @option opts [String] :meta_data Meta Data
    # @return [Array<(PaymentTypesResponse, Integer, Hash)>] PaymentTypesResponse data, response status code and response headers
    def add_payment_method_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingInfoApi.add_payment_method ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillingInfoApi.add_payment_method"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BillingInfoApi.add_payment_method"
      end
      # resource path
      local_var_path = '/api/{version}/billing/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'paymentMethodId'] = opts[:'payment_method_id'] if !opts[:'payment_method_id'].nil?
      query_params[:'accountName'] = opts[:'account_name'] if !opts[:'account_name'].nil?
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'postalCode'] = opts[:'postal_code'] if !opts[:'postal_code'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'creditCardNumber'] = opts[:'credit_card_number'] if !opts[:'credit_card_number'].nil?
      query_params[:'expirationDate'] = opts[:'expiration_date'] if !opts[:'expiration_date'].nil?
      query_params[:'ccv'] = opts[:'ccv'] if !opts[:'ccv'].nil?
      query_params[:'accountNumber'] = opts[:'account_number'] if !opts[:'account_number'].nil?
      query_params[:'bankName'] = opts[:'bank_name'] if !opts[:'bank_name'].nil?
      query_params[:'routingNumber'] = opts[:'routing_number'] if !opts[:'routing_number'].nil?
      query_params[:'defaultPaymentMethod'] = opts[:'default_payment_method'] if !opts[:'default_payment_method'].nil?
      query_params[:'paymentMethodNickname'] = opts[:'payment_method_nickname'] if !opts[:'payment_method_nickname'].nil?
      query_params[:'taxId'] = opts[:'tax_id'] if !opts[:'tax_id'].nil?
      query_params[:'providerCustomerProfileId'] = opts[:'provider_customer_profile_id'] if !opts[:'provider_customer_profile_id'].nil?
      query_params[:'providerPaymentProfileId'] = opts[:'provider_payment_profile_id'] if !opts[:'provider_payment_profile_id'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentTypesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingInfoApi.add_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingInfoApi#add_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Payment Method
    # Add a new method of payment.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_name Account Name of the credit card user
    # @option opts [String] :first_name The first name on the credit card
    # @option opts [String] :last_name The last name on the credit card
    # @option opts [String] :address The billing address of the credit card
    # @option opts [String] :city The billing city of the credit card
    # @option opts [String] :state The billing state of the credit card
    # @option opts [String] :postal_code The billing zip code of the credit card
    # @option opts [String] :country Country of the credit card
    # @option opts [String] :phone The billing phone of the credit card
    # @option opts [String] :credit_card_number The full credit card number to store on file
    # @option opts [String] :expiration_date The credit card expiration date YYYY-MM
    # @option opts [String] :ccv The 3 digit confirmation code
    # @option opts [String] :account_number The bank account number
    # @option opts [String] :bank_name The bank name
    # @option opts [String] :routing_number The bank routing number
    # @option opts [String] :payment_method_nickname The nickname to give the payment method
    # @option opts [String] :tax_id Tax Id
    # @option opts [Boolean] :default_payment_method Whether this should be the default payment method (default to true)
    # @option opts [String] :auth_token An authorization token for providers that provide this (like Amazon Payments)
    # @option opts [String] :provider The payment provider (see PaymentMethodProvider) (default to 'AUTHORIZE_NET')
    # @option opts [String] :provider_customer_profile_id Provider customer profile Id
    # @option opts [String] :provider_payment_profile_id Provider customer payment profile Id
    # @option opts [String] :meta_data Meta Data
    # @option opts [String] :app_key Application Key
    # @return [PaymentTypesResponse]
    def create_payment_method(version, account_id, opts = {})
      data, _status_code, _headers = create_payment_method_with_http_info(version, account_id, opts)
      data
    end

    # Create Payment Method
    # Add a new method of payment.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_name Account Name of the credit card user
    # @option opts [String] :first_name The first name on the credit card
    # @option opts [String] :last_name The last name on the credit card
    # @option opts [String] :address The billing address of the credit card
    # @option opts [String] :city The billing city of the credit card
    # @option opts [String] :state The billing state of the credit card
    # @option opts [String] :postal_code The billing zip code of the credit card
    # @option opts [String] :country Country of the credit card
    # @option opts [String] :phone The billing phone of the credit card
    # @option opts [String] :credit_card_number The full credit card number to store on file
    # @option opts [String] :expiration_date The credit card expiration date YYYY-MM
    # @option opts [String] :ccv The 3 digit confirmation code
    # @option opts [String] :account_number The bank account number
    # @option opts [String] :bank_name The bank name
    # @option opts [String] :routing_number The bank routing number
    # @option opts [String] :payment_method_nickname The nickname to give the payment method
    # @option opts [String] :tax_id Tax Id
    # @option opts [Boolean] :default_payment_method Whether this should be the default payment method (default to true)
    # @option opts [String] :auth_token An authorization token for providers that provide this (like Amazon Payments)
    # @option opts [String] :provider The payment provider (see PaymentMethodProvider) (default to 'AUTHORIZE_NET')
    # @option opts [String] :provider_customer_profile_id Provider customer profile Id
    # @option opts [String] :provider_payment_profile_id Provider customer payment profile Id
    # @option opts [String] :meta_data Meta Data
    # @option opts [String] :app_key Application Key
    # @return [Array<(PaymentTypesResponse, Integer, Hash)>] PaymentTypesResponse data, response status code and response headers
    def create_payment_method_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingInfoApi.create_payment_method ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillingInfoApi.create_payment_method"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BillingInfoApi.create_payment_method"
      end
      # resource path
      local_var_path = '/api/{version}/billing/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'accountName'] = opts[:'account_name'] if !opts[:'account_name'].nil?
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'postalCode'] = opts[:'postal_code'] if !opts[:'postal_code'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'phone'] = opts[:'phone'] if !opts[:'phone'].nil?
      query_params[:'creditCardNumber'] = opts[:'credit_card_number'] if !opts[:'credit_card_number'].nil?
      query_params[:'expirationDate'] = opts[:'expiration_date'] if !opts[:'expiration_date'].nil?
      query_params[:'ccv'] = opts[:'ccv'] if !opts[:'ccv'].nil?
      query_params[:'accountNumber'] = opts[:'account_number'] if !opts[:'account_number'].nil?
      query_params[:'bankName'] = opts[:'bank_name'] if !opts[:'bank_name'].nil?
      query_params[:'routingNumber'] = opts[:'routing_number'] if !opts[:'routing_number'].nil?
      query_params[:'paymentMethodNickname'] = opts[:'payment_method_nickname'] if !opts[:'payment_method_nickname'].nil?
      query_params[:'taxId'] = opts[:'tax_id'] if !opts[:'tax_id'].nil?
      query_params[:'defaultPaymentMethod'] = opts[:'default_payment_method'] if !opts[:'default_payment_method'].nil?
      query_params[:'authToken'] = opts[:'auth_token'] if !opts[:'auth_token'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'providerCustomerProfileId'] = opts[:'provider_customer_profile_id'] if !opts[:'provider_customer_profile_id'].nil?
      query_params[:'providerPaymentProfileId'] = opts[:'provider_payment_profile_id'] if !opts[:'provider_payment_profile_id'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentTypesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingInfoApi.create_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingInfoApi#create_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Smart Contract
    # Adds a smart contract.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param token_name [String] The token name
    # @param token_symbol [String] The token symbol
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :payment_method_id The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
    # @return [PaymentTypesResponse]
    def create_smart_contract(version, account_id, token_name, token_symbol, opts = {})
      data, _status_code, _headers = create_smart_contract_with_http_info(version, account_id, token_name, token_symbol, opts)
      data
    end

    # Create Smart Contract
    # Adds a smart contract.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param token_name [String] The token name
    # @param token_symbol [String] The token symbol
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :payment_method_id The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
    # @return [Array<(PaymentTypesResponse, Integer, Hash)>] PaymentTypesResponse data, response status code and response headers
    def create_smart_contract_with_http_info(version, account_id, token_name, token_symbol, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingInfoApi.create_smart_contract ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillingInfoApi.create_smart_contract"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BillingInfoApi.create_smart_contract"
      end
      # verify the required parameter 'token_name' is set
      if @api_client.config.client_side_validation && token_name.nil?
        fail ArgumentError, "Missing the required parameter 'token_name' when calling BillingInfoApi.create_smart_contract"
      end
      # verify the required parameter 'token_symbol' is set
      if @api_client.config.client_side_validation && token_symbol.nil?
        fail ArgumentError, "Missing the required parameter 'token_symbol' when calling BillingInfoApi.create_smart_contract"
      end
      # resource path
      local_var_path = '/api/{version}/billing/crypto/transfer'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'tokenName'] = token_name
      query_params[:'tokenSymbol'] = token_symbol
      query_params[:'paymentMethodId'] = opts[:'payment_method_id'] if !opts[:'payment_method_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentTypesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingInfoApi.create_smart_contract",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingInfoApi#create_smart_contract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Crypto Balances
    # Get the cypto balance details for a user
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :owner_account_id The account to retreive balances for
    # @option opts [Integer] :payment_method_id The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
    # @return [PaymentTypesResponse]
    def get_crypto_balance(version, account_id, opts = {})
      data, _status_code, _headers = get_crypto_balance_with_http_info(version, account_id, opts)
      data
    end

    # Get Crypto Balances
    # Get the cypto balance details for a user
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :owner_account_id The account to retreive balances for
    # @option opts [Integer] :payment_method_id The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
    # @return [Array<(PaymentTypesResponse, Integer, Hash)>] PaymentTypesResponse data, response status code and response headers
    def get_crypto_balance_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingInfoApi.get_crypto_balance ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillingInfoApi.get_crypto_balance"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BillingInfoApi.get_crypto_balance"
      end
      # resource path
      local_var_path = '/api/{version}/billing/crypto/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'ownerAccountId'] = opts[:'owner_account_id'] if !opts[:'owner_account_id'].nil?
      query_params[:'paymentMethodId'] = opts[:'payment_method_id'] if !opts[:'payment_method_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentTypesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingInfoApi.get_crypto_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingInfoApi#get_crypto_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Payment Method
    # Get the details of the user's payment method or their current default method of payment
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :payment_method_id The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
    # @option opts [Boolean] :get_current_balance Determines whether to get the user&#39;s current balance for the requested payment method option (not all payment method options support this)
    # @return [PaymentTypesResponse]
    def get_payment_method(version, account_id, opts = {})
      data, _status_code, _headers = get_payment_method_with_http_info(version, account_id, opts)
      data
    end

    # Get Payment Method
    # Get the details of the user&#39;s payment method or their current default method of payment
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the the request
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :payment_method_id The payment method to return details on. If this is not set, then the user&#39;s default payment method will be returned.
    # @option opts [Boolean] :get_current_balance Determines whether to get the user&#39;s current balance for the requested payment method option (not all payment method options support this)
    # @return [Array<(PaymentTypesResponse, Integer, Hash)>] PaymentTypesResponse data, response status code and response headers
    def get_payment_method_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingInfoApi.get_payment_method ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillingInfoApi.get_payment_method"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BillingInfoApi.get_payment_method"
      end
      # resource path
      local_var_path = '/api/{version}/billing/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'paymentMethodId'] = opts[:'payment_method_id'] if !opts[:'payment_method_id'].nil?
      query_params[:'getCurrentBalance'] = opts[:'get_current_balance'] if !opts[:'get_current_balance'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentTypesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingInfoApi.get_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingInfoApi#get_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Payment Methods
    # Search the payment methods of an account
    # @param version [Float] 
    # @param account_id [Integer] Account Id to search on
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider Provider to search on (default to 'AUTHORIZE_NET')
    # @option opts [String] :type the type to search on
    # @option opts [String] :keyword the keyword to search on
    # @option opts [String] :sort_field the sort field to use for the search (default to 'UPDATED')
    # @option opts [Boolean] :descending if the results should be in descending order (default to true)
    # @option opts [Integer] :start the start of the search (default to 0)
    # @option opts [Integer] :limit the limit of the search (default to 5)
    # @return [PaymentTypesResponse]
    def search_payment_method(version, account_id, opts = {})
      data, _status_code, _headers = search_payment_method_with_http_info(version, account_id, opts)
      data
    end

    # Search Payment Methods
    # Search the payment methods of an account
    # @param version [Float] 
    # @param account_id [Integer] Account Id to search on
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider Provider to search on (default to 'AUTHORIZE_NET')
    # @option opts [String] :type the type to search on
    # @option opts [String] :keyword the keyword to search on
    # @option opts [String] :sort_field the sort field to use for the search (default to 'UPDATED')
    # @option opts [Boolean] :descending if the results should be in descending order (default to true)
    # @option opts [Integer] :start the start of the search (default to 0)
    # @option opts [Integer] :limit the limit of the search (default to 5)
    # @return [Array<(PaymentTypesResponse, Integer, Hash)>] PaymentTypesResponse data, response status code and response headers
    def search_payment_method_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingInfoApi.search_payment_method ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillingInfoApi.search_payment_method"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling BillingInfoApi.search_payment_method"
      end
      # resource path
      local_var_path = '/api/{version}/billing/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentTypesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingInfoApi.search_payment_method",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingInfoApi#search_payment_method\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
