=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class BillableEntityApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Billable
    # reate a billable entity for an account. The creator is assumed to be the responsible account. An account can only have one billable entity
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :name The name of the entity responsible for billing 
    # @option opts [String] :street_address The street address of the billable entity
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box) 
    # @option opts [String] :city The city of the billable entity
    # @option opts [String] :state The state of the billable entity
    # @option opts [String] :postal_code The postal code of the billable entity
    # @option opts [String] :business_phone The business phone of the billable entity
    # @option opts [String] :business_phone_ext The business phone extension
    # @option opts [String] :authorize_net_api_key Authorize Net Api Key
    # @option opts [String] :authorize_net_transaction_key Authorize Net Transaction Key
    # @return [BillableEntityResponse]
    def create_billable_entity(version, opts = {})
      data, _status_code, _headers = create_billable_entity_with_http_info(version, opts)
      data
    end

    # Create Billable
    # reate a billable entity for an account. The creator is assumed to be the responsible account. An account can only have one billable entity
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :name The name of the entity responsible for billing 
    # @option opts [String] :street_address The street address of the billable entity
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box) 
    # @option opts [String] :city The city of the billable entity
    # @option opts [String] :state The state of the billable entity
    # @option opts [String] :postal_code The postal code of the billable entity
    # @option opts [String] :business_phone The business phone of the billable entity
    # @option opts [String] :business_phone_ext The business phone extension
    # @option opts [String] :authorize_net_api_key Authorize Net Api Key
    # @option opts [String] :authorize_net_transaction_key Authorize Net Transaction Key
    # @return [Array<(BillableEntityResponse, Integer, Hash)>] BillableEntityResponse data, response status code and response headers
    def create_billable_entity_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableEntityApi.create_billable_entity ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillableEntityApi.create_billable_entity"
      end
      # resource path
      local_var_path = '/api/{version}/billable/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'streetAddress'] = opts[:'street_address'] if !opts[:'street_address'].nil?
      query_params[:'streetAddress2'] = opts[:'street_address2'] if !opts[:'street_address2'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'postalCode'] = opts[:'postal_code'] if !opts[:'postal_code'].nil?
      query_params[:'businessPhone'] = opts[:'business_phone'] if !opts[:'business_phone'].nil?
      query_params[:'businessPhoneExt'] = opts[:'business_phone_ext'] if !opts[:'business_phone_ext'].nil?
      query_params[:'authorizeNetApiKey'] = opts[:'authorize_net_api_key'] if !opts[:'authorize_net_api_key'].nil?
      query_params[:'authorizeNetTransactionKey'] = opts[:'authorize_net_transaction_key'] if !opts[:'authorize_net_transaction_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillableEntityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillableEntityApi.create_billable_entity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableEntityApi#create_billable_entity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Billable
    # Mark the billable as deleted
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account used to perform the delete, must have rights to edit the billable entity.
    # @return [SirqulResponse]
    def delete_billable_entity(version, opts = {})
      data, _status_code, _headers = delete_billable_entity_with_http_info(version, opts)
      data
    end

    # Delete Billable
    # Mark the billable as deleted
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account used to perform the delete, must have rights to edit the billable entity.
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_billable_entity_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableEntityApi.delete_billable_entity ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillableEntityApi.delete_billable_entity"
      end
      # resource path
      local_var_path = '/api/{version}/billable/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillableEntityApi.delete_billable_entity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableEntityApi#delete_billable_entity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Billable
    # Used to determine the associated BillableEntity of an account
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Boolean] :include_counts Determines whether to include the retailer dash board counts into the response (default to false)
    # @option opts [Boolean] :include_payments Whether to enable payments or not (default to true)
    # @return [BillableEntityResponse]
    def get_billable_entity(version, opts = {})
      data, _status_code, _headers = get_billable_entity_with_http_info(version, opts)
      data
    end

    # Get Billable
    # Used to determine the associated BillableEntity of an account
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Boolean] :include_counts Determines whether to include the retailer dash board counts into the response (default to false)
    # @option opts [Boolean] :include_payments Whether to enable payments or not (default to true)
    # @return [Array<(BillableEntityResponse, Integer, Hash)>] BillableEntityResponse data, response status code and response headers
    def get_billable_entity_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableEntityApi.get_billable_entity ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillableEntityApi.get_billable_entity"
      end
      # resource path
      local_var_path = '/api/{version}/billable/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'includeCounts'] = opts[:'include_counts'] if !opts[:'include_counts'].nil?
      query_params[:'includePayments'] = opts[:'include_payments'] if !opts[:'include_payments'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillableEntityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillableEntityApi.get_billable_entity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableEntityApi#get_billable_entity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Billable
    # Updates the billable record for an account
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used). The account must have rights to edit the billable entity.
    # @option opts [String] :name The name of the entity responsible for billing 
    # @option opts [String] :street_address The street address of the billable entity
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box) 
    # @option opts [String] :city The city of the billable entity
    # @option opts [String] :state The state of the billable entity
    # @option opts [String] :postal_code The postal code of the billable entity
    # @option opts [String] :business_phone The business phone of the billable entity
    # @option opts [String] :business_phone_ext The business phone extension of the billable entity
    # @option opts [String] :authorize_net_api_key Authorize Net Api Key of the billable entity
    # @option opts [String] :authorize_net_transaction_key Authorize Net Transaction Key of the billable entity
    # @return [BillableEntityResponse]
    def update_billable_entity(version, opts = {})
      data, _status_code, _headers = update_billable_entity_with_http_info(version, opts)
      data
    end

    # Update Billable
    # Updates the billable record for an account
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used). The account must have rights to edit the billable entity.
    # @option opts [String] :name The name of the entity responsible for billing 
    # @option opts [String] :street_address The street address of the billable entity
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box) 
    # @option opts [String] :city The city of the billable entity
    # @option opts [String] :state The state of the billable entity
    # @option opts [String] :postal_code The postal code of the billable entity
    # @option opts [String] :business_phone The business phone of the billable entity
    # @option opts [String] :business_phone_ext The business phone extension of the billable entity
    # @option opts [String] :authorize_net_api_key Authorize Net Api Key of the billable entity
    # @option opts [String] :authorize_net_transaction_key Authorize Net Transaction Key of the billable entity
    # @return [Array<(BillableEntityResponse, Integer, Hash)>] BillableEntityResponse data, response status code and response headers
    def update_billable_entity_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillableEntityApi.update_billable_entity ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling BillableEntityApi.update_billable_entity"
      end
      # resource path
      local_var_path = '/api/{version}/billable/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'streetAddress'] = opts[:'street_address'] if !opts[:'street_address'].nil?
      query_params[:'streetAddress2'] = opts[:'street_address2'] if !opts[:'street_address2'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'postalCode'] = opts[:'postal_code'] if !opts[:'postal_code'].nil?
      query_params[:'businessPhone'] = opts[:'business_phone'] if !opts[:'business_phone'].nil?
      query_params[:'businessPhoneExt'] = opts[:'business_phone_ext'] if !opts[:'business_phone_ext'].nil?
      query_params[:'authorizeNetApiKey'] = opts[:'authorize_net_api_key'] if !opts[:'authorize_net_api_key'].nil?
      query_params[:'authorizeNetTransactionKey'] = opts[:'authorize_net_transaction_key'] if !opts[:'authorize_net_transaction_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BillableEntityResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillableEntityApi.update_billable_entity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillableEntityApi#update_billable_entity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
