=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class CargoTypeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Cargo Type
    # Create new cargo type
    # @param [Hash] opts the optional parameters
    # @option opts [CargoType] :body 
    # @return [CargoType]
    def create_cargo_type(opts = {})
      data, _status_code, _headers = create_cargo_type_with_http_info(opts)
      data
    end

    # Create Cargo Type
    # Create new cargo type
    # @param [Hash] opts the optional parameters
    # @option opts [CargoType] :body 
    # @return [Array<(CargoType, Integer, Hash)>] CargoType data, response status code and response headers
    def create_cargo_type_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CargoTypeApi.create_cargo_type ...'
      end
      # resource path
      local_var_path = '/cargo/type'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'CargoType'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CargoTypeApi.create_cargo_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CargoTypeApi#create_cargo_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Cargo Type
    # Delete a type of cargo
    # @param cargo_type_id [Integer] the ID of the cargo type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_cargo_type(cargo_type_id, opts = {})
      delete_cargo_type_with_http_info(cargo_type_id, opts)
      nil
    end

    # Delete Cargo Type
    # Delete a type of cargo
    # @param cargo_type_id [Integer] the ID of the cargo type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_cargo_type_with_http_info(cargo_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CargoTypeApi.delete_cargo_type ...'
      end
      # verify the required parameter 'cargo_type_id' is set
      if @api_client.config.client_side_validation && cargo_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'cargo_type_id' when calling CargoTypeApi.delete_cargo_type"
      end
      # resource path
      local_var_path = '/cargo/type/{cargoTypeId}'.sub('{' + 'cargoTypeId' + '}', CGI.escape(cargo_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CargoTypeApi.delete_cargo_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CargoTypeApi#delete_cargo_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Cargo Type
    # Get an existing cargo type
    # @param cargo_type_id [Integer] the cargo type ID
    # @param [Hash] opts the optional parameters
    # @return [CargoType]
    def get_cargo_type(cargo_type_id, opts = {})
      data, _status_code, _headers = get_cargo_type_with_http_info(cargo_type_id, opts)
      data
    end

    # Get Cargo Type
    # Get an existing cargo type
    # @param cargo_type_id [Integer] the cargo type ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CargoType, Integer, Hash)>] CargoType data, response status code and response headers
    def get_cargo_type_with_http_info(cargo_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CargoTypeApi.get_cargo_type ...'
      end
      # verify the required parameter 'cargo_type_id' is set
      if @api_client.config.client_side_validation && cargo_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'cargo_type_id' when calling CargoTypeApi.get_cargo_type"
      end
      # resource path
      local_var_path = '/cargo/type/{cargoTypeId}'.sub('{' + 'cargoTypeId' + '}', CGI.escape(cargo_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CargoType'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CargoTypeApi.get_cargo_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CargoTypeApi#get_cargo_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Cargo Type
    # Search for types of cargo
    # @param sort_field [String] the sort field to use for the cargo type
    # @param descending [Boolean] if the cargo type should be should be in descending order
    # @param start [Integer] the start of the search
    # @param limit [Integer] the limit of the search
    # @param active_only [Boolean] if search should be on active only
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :retailer_id the id of the retailer location
    # @option opts [Integer] :hub_id the ID of the hub
    # @return [Array<CargoType>]
    def search_cargo_types(sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_cargo_types_with_http_info(sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Cargo Type
    # Search for types of cargo
    # @param sort_field [String] the sort field to use for the cargo type
    # @param descending [Boolean] if the cargo type should be should be in descending order
    # @param start [Integer] the start of the search
    # @param limit [Integer] the limit of the search
    # @param active_only [Boolean] if search should be on active only
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :retailer_id the id of the retailer location
    # @option opts [Integer] :hub_id the ID of the hub
    # @return [Array<(Array<CargoType>, Integer, Hash)>] Array<CargoType> data, response status code and response headers
    def search_cargo_types_with_http_info(sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CargoTypeApi.search_cargo_types ...'
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling CargoTypeApi.search_cargo_types"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling CargoTypeApi.search_cargo_types"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling CargoTypeApi.search_cargo_types"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling CargoTypeApi.search_cargo_types"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling CargoTypeApi.search_cargo_types"
      end
      # resource path
      local_var_path = '/cargo/type'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'hubId'] = opts[:'hub_id'] if !opts[:'hub_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CargoType>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CargoTypeApi.search_cargo_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CargoTypeApi#search_cargo_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Cargo Type
    # Update an existing cargo type
    # @param cargo_type_id [Integer] the ID of the cargo type
    # @param [Hash] opts the optional parameters
    # @option opts [CargoType] :body 
    # @return [CargoType]
    def update_cargo_type(cargo_type_id, opts = {})
      data, _status_code, _headers = update_cargo_type_with_http_info(cargo_type_id, opts)
      data
    end

    # Update Cargo Type
    # Update an existing cargo type
    # @param cargo_type_id [Integer] the ID of the cargo type
    # @param [Hash] opts the optional parameters
    # @option opts [CargoType] :body 
    # @return [Array<(CargoType, Integer, Hash)>] CargoType data, response status code and response headers
    def update_cargo_type_with_http_info(cargo_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CargoTypeApi.update_cargo_type ...'
      end
      # verify the required parameter 'cargo_type_id' is set
      if @api_client.config.client_side_validation && cargo_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'cargo_type_id' when calling CargoTypeApi.update_cargo_type"
      end
      # resource path
      local_var_path = '/cargo/type/{cargoTypeId}'.sub('{' + 'cargoTypeId' + '}', CGI.escape(cargo_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'CargoType'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CargoTypeApi.update_cargo_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CargoTypeApi#update_cargo_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
