=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class CarrierApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search Carriers
    # Search on supported mobile telephone carriers that can be used to send SMS notifications via email.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to search on
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order (default to false)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return inactive results (default to true)
    # @return [Array<CellCarrierResponse>]
    def search_carriers(version, opts = {})
      data, _status_code, _headers = search_carriers_with_http_info(version, opts)
      data
    end

    # Search Carriers
    # Search on supported mobile telephone carriers that can be used to send SMS notifications via email.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to search on
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order (default to false)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return inactive results (default to true)
    # @return [Array<(Array<CellCarrierResponse>, Integer, Hash)>] Array<CellCarrierResponse> data, response status code and response headers
    def search_carriers_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CarrierApi.search_carriers ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling CarrierApi.search_carriers"
      end
      # resource path
      local_var_path = '/api/{version}/carrier/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CellCarrierResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CarrierApi.search_carriers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CarrierApi#search_carriers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
