=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class CategoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search Categories by Distance
    # Search for categories by distance.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [String] :keyword The keyword string to search on
    # @option opts [String] :app_key the appKey of the application to retrieve categories for, if not specified then search on the global application.
    # @option opts [String] :category_ids Restrict the search by specific categories
    # @option opts [String] :parent_category_ids Restrict the search by specific parent categories so that only its sub children are searched.
    # @option opts [Boolean] :root_only Restrict the search to only those categories with no parent category assigned.
    # @option opts [String] :sort_field The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY (default to 'DISPLAY')
    # @option opts [String] :response_group The group of categories to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.
    # @option opts [Boolean] :descending The order to return the search results (default to false)
    # @option opts [Integer] :start The record to begin the return set on (default to 0)
    # @option opts [Integer] :limit The number of records to return (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return only active categories (default to true)
    # @option opts [Boolean] :return_external Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference
    # @option opts [Boolean] :exact_match If true search categories using the exact keyword, if false then do a partial match (like) search.
    # @option opts [String] :type Filters results by the Category&#39;s type
    # @option opts [String] :external_type Filters results by externalType
    # @option opts [Integer] :min_offer_count Filters results to only return Categories that have been referenced by a minimum number of Offers
    # @option opts [Float] :latitude the latitude of where the search is centered on
    # @option opts [Float] :longitude the longitude of where the search is centered on
    # @option opts [Float] :range the maximum range the category can be from the center
    # @return [Array<CategoryResponse>]
    def category_distance_search(version, opts = {})
      data, _status_code, _headers = category_distance_search_with_http_info(version, opts)
      data
    end

    # Search Categories by Distance
    # Search for categories by distance.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [String] :keyword The keyword string to search on
    # @option opts [String] :app_key the appKey of the application to retrieve categories for, if not specified then search on the global application.
    # @option opts [String] :category_ids Restrict the search by specific categories
    # @option opts [String] :parent_category_ids Restrict the search by specific parent categories so that only its sub children are searched.
    # @option opts [Boolean] :root_only Restrict the search to only those categories with no parent category assigned.
    # @option opts [String] :sort_field The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY (default to 'DISPLAY')
    # @option opts [String] :response_group The group of categories to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.
    # @option opts [Boolean] :descending The order to return the search results (default to false)
    # @option opts [Integer] :start The record to begin the return set on (default to 0)
    # @option opts [Integer] :limit The number of records to return (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return only active categories (default to true)
    # @option opts [Boolean] :return_external Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference
    # @option opts [Boolean] :exact_match If true search categories using the exact keyword, if false then do a partial match (like) search.
    # @option opts [String] :type Filters results by the Category&#39;s type
    # @option opts [String] :external_type Filters results by externalType
    # @option opts [Integer] :min_offer_count Filters results to only return Categories that have been referenced by a minimum number of Offers
    # @option opts [Float] :latitude the latitude of where the search is centered on
    # @option opts [Float] :longitude the longitude of where the search is centered on
    # @option opts [Float] :range the maximum range the category can be from the center
    # @return [Array<(Array<CategoryResponse>, Integer, Hash)>] Array<CategoryResponse> data, response status code and response headers
    def category_distance_search_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoryApi.category_distance_search ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling CategoryApi.category_distance_search"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "NAME", "DISPLAY"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "GLOBAL", "MINE"]
      if @api_client.config.client_side_validation && opts[:'response_group'] && !allowable_values.include?(opts[:'response_group'])
        fail ArgumentError, "invalid value for \"response_group\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/category/distancesearch'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'parentCategoryIds'] = opts[:'parent_category_ids'] if !opts[:'parent_category_ids'].nil?
      query_params[:'rootOnly'] = opts[:'root_only'] if !opts[:'root_only'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'responseGroup'] = opts[:'response_group'] if !opts[:'response_group'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'returnExternal'] = opts[:'return_external'] if !opts[:'return_external'].nil?
      query_params[:'exactMatch'] = opts[:'exact_match'] if !opts[:'exact_match'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'externalType'] = opts[:'external_type'] if !opts[:'external_type'].nil?
      query_params[:'minOfferCount'] = opts[:'min_offer_count'] if !opts[:'min_offer_count'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CategoryResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CategoryApi.category_distance_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoryApi#category_distance_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Category
    # Create a new category.
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user (must have permissions to the target application)
    # @param name [String] The name of the category
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The appKey of the application to assign the category to, if not provided then the category will be applied to the global application (if the account has permissions)
    # @option opts [Integer] :parent_category_id The ID of the parent category, if not provided then the parent category will be null
    # @option opts [String] :description The description of the category
    # @option opts [String] :type The type of the category
    # @option opts [Integer] :asset_id The ID of the image asset previously uploaded using the media service
    # @option opts [String] :external_id A string identifier used by client applications to store external information
    # @option opts [String] :external_type A string type used by client applications to store external information
    # @option opts [String] :external_category_slug external category slug
    # @option opts [String] :sqoot_slug sqoot slug
    # @option opts [Boolean] :active Sets whether the category is active or inactive (hidden from consumers)
    # @option opts [String] :meta_data external custom client defined data
    # @option opts [String] :search_tags user defined strings for searching
    # @return [CategoryTreeResponse]
    def create_category(version, account_id, name, opts = {})
      data, _status_code, _headers = create_category_with_http_info(version, account_id, name, opts)
      data
    end

    # Create Category
    # Create a new category.
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user (must have permissions to the target application)
    # @param name [String] The name of the category
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The appKey of the application to assign the category to, if not provided then the category will be applied to the global application (if the account has permissions)
    # @option opts [Integer] :parent_category_id The ID of the parent category, if not provided then the parent category will be null
    # @option opts [String] :description The description of the category
    # @option opts [String] :type The type of the category
    # @option opts [Integer] :asset_id The ID of the image asset previously uploaded using the media service
    # @option opts [String] :external_id A string identifier used by client applications to store external information
    # @option opts [String] :external_type A string type used by client applications to store external information
    # @option opts [String] :external_category_slug external category slug
    # @option opts [String] :sqoot_slug sqoot slug
    # @option opts [Boolean] :active Sets whether the category is active or inactive (hidden from consumers)
    # @option opts [String] :meta_data external custom client defined data
    # @option opts [String] :search_tags user defined strings for searching
    # @return [Array<(CategoryTreeResponse, Integer, Hash)>] CategoryTreeResponse data, response status code and response headers
    def create_category_with_http_info(version, account_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoryApi.create_category ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling CategoryApi.create_category"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CategoryApi.create_category"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CategoryApi.create_category"
      end
      # resource path
      local_var_path = '/api/{version}/category/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'name'] = name
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'parentCategoryId'] = opts[:'parent_category_id'] if !opts[:'parent_category_id'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'externalType'] = opts[:'external_type'] if !opts[:'external_type'].nil?
      query_params[:'externalCategorySlug'] = opts[:'external_category_slug'] if !opts[:'external_category_slug'].nil?
      query_params[:'sqootSlug'] = opts[:'sqoot_slug'] if !opts[:'sqoot_slug'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'searchTags'] = opts[:'search_tags'] if !opts[:'search_tags'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CategoryTreeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CategoryApi.create_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoryApi#create_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Category
    # Delete a category.
    # @param version [Float] 
    # @param account_id [Integer] the ID of the account
    # @param category_id [Integer] the ID of the category
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_category(version, account_id, category_id, opts = {})
      data, _status_code, _headers = delete_category_with_http_info(version, account_id, category_id, opts)
      data
    end

    # Delete Category
    # Delete a category.
    # @param version [Float] 
    # @param account_id [Integer] the ID of the account
    # @param category_id [Integer] the ID of the category
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_category_with_http_info(version, account_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoryApi.delete_category ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling CategoryApi.delete_category"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CategoryApi.delete_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling CategoryApi.delete_category"
      end
      # resource path
      local_var_path = '/api/{version}/category/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'categoryId'] = category_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CategoryApi.delete_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoryApi#delete_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Duplicate Category
    # Duplicate a category, including all its children.
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user (must have permissions to the target application)
    # @param category_id [Integer] The category ID to duplicate (includes all children)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application to assign the new category to, may be different then the application the source category is assigned to
    # @option opts [Integer] :parent_category_id The parent category ID to add the target category to.
    # @return [CategoryTreeResponse]
    def duplicate_category(version, account_id, category_id, opts = {})
      data, _status_code, _headers = duplicate_category_with_http_info(version, account_id, category_id, opts)
      data
    end

    # Duplicate Category
    # Duplicate a category, including all its children.
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user (must have permissions to the target application)
    # @param category_id [Integer] The category ID to duplicate (includes all children)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application to assign the new category to, may be different then the application the source category is assigned to
    # @option opts [Integer] :parent_category_id The parent category ID to add the target category to.
    # @return [Array<(CategoryTreeResponse, Integer, Hash)>] CategoryTreeResponse data, response status code and response headers
    def duplicate_category_with_http_info(version, account_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoryApi.duplicate_category ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling CategoryApi.duplicate_category"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CategoryApi.duplicate_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling CategoryApi.duplicate_category"
      end
      # resource path
      local_var_path = '/api/{version}/category/duplicate'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'categoryId'] = category_id
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'parentCategoryId'] = opts[:'parent_category_id'] if !opts[:'parent_category_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CategoryTreeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CategoryApi.duplicate_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoryApi#duplicate_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Category
    # Get the details of a specific category. Recursively include all child categories and their children.
    # @param version [Float] 
    # @param category_id [Integer] the ID of the category
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_external Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference (default to true)
    # @return [CategoryTreeResponse]
    def get_category(version, category_id, opts = {})
      data, _status_code, _headers = get_category_with_http_info(version, category_id, opts)
      data
    end

    # Get Category
    # Get the details of a specific category. Recursively include all child categories and their children.
    # @param version [Float] 
    # @param category_id [Integer] the ID of the category
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_external Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference (default to true)
    # @return [Array<(CategoryTreeResponse, Integer, Hash)>] CategoryTreeResponse data, response status code and response headers
    def get_category_with_http_info(version, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoryApi.get_category ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling CategoryApi.get_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling CategoryApi.get_category"
      end
      # resource path
      local_var_path = '/api/{version}/category/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'categoryId'] = category_id
      query_params[:'returnExternal'] = opts[:'return_external'] if !opts[:'return_external'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CategoryTreeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CategoryApi.get_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoryApi#get_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Categories
    # Search for categories.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [String] :keyword The string to search on
    # @option opts [String] :app_key the appKey of the application to retrieve categories for, if not specified then search on the global application.
    # @option opts [String] :category_id @Deprecated, use parentCategoryIds instead
    # @option opts [String] :category_ids Restrict the search by specific categories
    # @option opts [String] :parent_category_ids Restrict the search by specific parent categories so that only its sub children are searched.
    # @option opts [Boolean] :root_only Restrict the search to only those categories with no parent category assigned.
    # @option opts [String] :sort_field The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY (default to 'DISPLAY')
    # @option opts [String] :response_group The group of categories to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.
    # @option opts [Boolean] :descending The order to return the search results (default to false)
    # @option opts [Integer] :start The record to begin the return set on (default to 0)
    # @option opts [Integer] :limit The number of records to return (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return only active categories (default to true)
    # @option opts [Boolean] :return_external Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference (default to true)
    # @option opts [Boolean] :exact_match If true search categories using the exact keyword, if false then do a partial match (like) search. Default is false. (default to false)
    # @option opts [String] :type Filters results by the Category&#39;s type
    # @option opts [String] :external_type Filters results by externalType
    # @option opts [Boolean] :exclude_external_type Determines whether the \&quot;externalType\&quot; param is excluded from the search results
    # @option opts [Integer] :min_offer_count Filters results to only return Categories that have been referenced by a minimum number of Offers
    # @option opts [Integer] :search_depth When searching by a specific parent category (to return sub children), this determines the number of child layers to search in. The minimum is 1, the maximum is 4. (default to 4)
    # @option opts [String] :search_mode The search index mode to use (e.g. OPENSEARCH or RDS)
    # @return [Array<CategoryResponse>]
    def search_categories(version, opts = {})
      data, _status_code, _headers = search_categories_with_http_info(version, opts)
      data
    end

    # Search Categories
    # Search for categories.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [String] :keyword The string to search on
    # @option opts [String] :app_key the appKey of the application to retrieve categories for, if not specified then search on the global application.
    # @option opts [String] :category_id @Deprecated, use parentCategoryIds instead
    # @option opts [String] :category_ids Restrict the search by specific categories
    # @option opts [String] :parent_category_ids Restrict the search by specific parent categories so that only its sub children are searched.
    # @option opts [Boolean] :root_only Restrict the search to only those categories with no parent category assigned.
    # @option opts [String] :sort_field The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY (default to 'DISPLAY')
    # @option opts [String] :response_group The group of categories to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.
    # @option opts [Boolean] :descending The order to return the search results (default to false)
    # @option opts [Integer] :start The record to begin the return set on (default to 0)
    # @option opts [Integer] :limit The number of records to return (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return only active categories (default to true)
    # @option opts [Boolean] :return_external Determines whether to return extra info about the category&#39;s \&quot;Participant\&quot; reference (default to true)
    # @option opts [Boolean] :exact_match If true search categories using the exact keyword, if false then do a partial match (like) search. Default is false. (default to false)
    # @option opts [String] :type Filters results by the Category&#39;s type
    # @option opts [String] :external_type Filters results by externalType
    # @option opts [Boolean] :exclude_external_type Determines whether the \&quot;externalType\&quot; param is excluded from the search results
    # @option opts [Integer] :min_offer_count Filters results to only return Categories that have been referenced by a minimum number of Offers
    # @option opts [Integer] :search_depth When searching by a specific parent category (to return sub children), this determines the number of child layers to search in. The minimum is 1, the maximum is 4. (default to 4)
    # @option opts [String] :search_mode The search index mode to use (e.g. OPENSEARCH or RDS)
    # @return [Array<(Array<CategoryResponse>, Integer, Hash)>] Array<CategoryResponse> data, response status code and response headers
    def search_categories_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoryApi.search_categories ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling CategoryApi.search_categories"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "NAME", "DISPLAY"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "GLOBAL", "MINE"]
      if @api_client.config.client_side_validation && opts[:'response_group'] && !allowable_values.include?(opts[:'response_group'])
        fail ArgumentError, "invalid value for \"response_group\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/category/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'categoryId'] = opts[:'category_id'] if !opts[:'category_id'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'parentCategoryIds'] = opts[:'parent_category_ids'] if !opts[:'parent_category_ids'].nil?
      query_params[:'rootOnly'] = opts[:'root_only'] if !opts[:'root_only'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'responseGroup'] = opts[:'response_group'] if !opts[:'response_group'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'returnExternal'] = opts[:'return_external'] if !opts[:'return_external'].nil?
      query_params[:'exactMatch'] = opts[:'exact_match'] if !opts[:'exact_match'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'externalType'] = opts[:'external_type'] if !opts[:'external_type'].nil?
      query_params[:'excludeExternalType'] = opts[:'exclude_external_type'] if !opts[:'exclude_external_type'].nil?
      query_params[:'minOfferCount'] = opts[:'min_offer_count'] if !opts[:'min_offer_count'].nil?
      query_params[:'searchDepth'] = opts[:'search_depth'] if !opts[:'search_depth'].nil?
      query_params[:'searchMode'] = opts[:'search_mode'] if !opts[:'search_mode'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CategoryResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CategoryApi.search_categories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoryApi#search_categories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Category
    # Update a category.
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user
    # @param category_id [Integer] The ID of the category to edit
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :parent_category_id The ID of the parent category, if not provided then the parent category will be null
    # @option opts [String] :name The name of the category
    # @option opts [String] :description The description of the category
    # @option opts [String] :type The type of the category
    # @option opts [Integer] :asset_id The ID of the image asset previously uploaded using the media service
    # @option opts [String] :external_id A string identifier used by client applications to store external information
    # @option opts [String] :external_type A string type used by client applications to store external information
    # @option opts [String] :external_category_slug external category slug
    # @option opts [String] :sqoot_slug sqoot slug
    # @option opts [Boolean] :active Sets whether the category is active or inactive (hidden from consumers)
    # @option opts [String] :meta_data external custom client defined data
    # @option opts [String] :search_tags user defined strings for searching
    # @return [CategoryTreeResponse]
    def update_category(version, account_id, category_id, opts = {})
      data, _status_code, _headers = update_category_with_http_info(version, account_id, category_id, opts)
      data
    end

    # Update Category
    # Update a category.
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user
    # @param category_id [Integer] The ID of the category to edit
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :parent_category_id The ID of the parent category, if not provided then the parent category will be null
    # @option opts [String] :name The name of the category
    # @option opts [String] :description The description of the category
    # @option opts [String] :type The type of the category
    # @option opts [Integer] :asset_id The ID of the image asset previously uploaded using the media service
    # @option opts [String] :external_id A string identifier used by client applications to store external information
    # @option opts [String] :external_type A string type used by client applications to store external information
    # @option opts [String] :external_category_slug external category slug
    # @option opts [String] :sqoot_slug sqoot slug
    # @option opts [Boolean] :active Sets whether the category is active or inactive (hidden from consumers)
    # @option opts [String] :meta_data external custom client defined data
    # @option opts [String] :search_tags user defined strings for searching
    # @return [Array<(CategoryTreeResponse, Integer, Hash)>] CategoryTreeResponse data, response status code and response headers
    def update_category_with_http_info(version, account_id, category_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CategoryApi.update_category ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling CategoryApi.update_category"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CategoryApi.update_category"
      end
      # verify the required parameter 'category_id' is set
      if @api_client.config.client_side_validation && category_id.nil?
        fail ArgumentError, "Missing the required parameter 'category_id' when calling CategoryApi.update_category"
      end
      # resource path
      local_var_path = '/api/{version}/category/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'categoryId'] = category_id
      query_params[:'parentCategoryId'] = opts[:'parent_category_id'] if !opts[:'parent_category_id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'externalType'] = opts[:'external_type'] if !opts[:'external_type'].nil?
      query_params[:'externalCategorySlug'] = opts[:'external_category_slug'] if !opts[:'external_category_slug'].nil?
      query_params[:'sqootSlug'] = opts[:'sqoot_slug'] if !opts[:'sqoot_slug'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'searchTags'] = opts[:'search_tags'] if !opts[:'search_tags'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CategoryTreeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CategoryApi.update_category",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CategoryApi#update_category\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
