=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ConnectionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Connection
    # Adds a connection to a group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the group id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_id the connection id
    # @option opts [Integer] :connection_account_id the connection account id
    # @option opts [Integer] :pending_id the pending id
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [SirqulResponse]
    def add_connection_to_group(return_nulls, group_id, opts = {})
      data, _status_code, _headers = add_connection_to_group_with_http_info(return_nulls, group_id, opts)
      data
    end

    # Add Connection
    # Adds a connection to a group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the group id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_id the connection id
    # @option opts [Integer] :connection_account_id the connection account id
    # @option opts [Integer] :pending_id the pending id
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def add_connection_to_group_with_http_info(return_nulls, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.add_connection_to_group ...'
      end
      # verify the required parameter 'return_nulls' is set
      if @api_client.config.client_side_validation && return_nulls.nil?
        fail ArgumentError, "Missing the required parameter 'return_nulls' when calling ConnectionApi.add_connection_to_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling ConnectionApi.add_connection_to_group"
      end
      # resource path
      local_var_path = '/consumer/connection/group/addConnection'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = return_nulls
      query_params[:'groupId'] = group_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionId'] = opts[:'connection_id'] if !opts[:'connection_id'].nil?
      query_params[:'connectionAccountId'] = opts[:'connection_account_id'] if !opts[:'connection_account_id'].nil?
      query_params[:'pendingId'] = opts[:'pending_id'] if !opts[:'pending_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.add_connection_to_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#add_connection_to_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Connections
    # Adds a list of connections to a group.
    # @param connection_group_id [Integer] the connection group ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :connection_ids comma separated list of connection ids
    # @option opts [String] :connection_account_ids comma separated list of connection account ids
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [SirqulResponse]
    def add_connections_to_group(connection_group_id, opts = {})
      data, _status_code, _headers = add_connections_to_group_with_http_info(connection_group_id, opts)
      data
    end

    # Add Connections
    # Adds a list of connections to a group.
    # @param connection_group_id [Integer] the connection group ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :connection_ids comma separated list of connection ids
    # @option opts [String] :connection_account_ids comma separated list of connection account ids
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def add_connections_to_group_with_http_info(connection_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.add_connections_to_group ...'
      end
      # verify the required parameter 'connection_group_id' is set
      if @api_client.config.client_side_validation && connection_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_group_id' when calling ConnectionApi.add_connections_to_group"
      end
      # resource path
      local_var_path = '/connection/group/addConnections'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'connectionGroupId'] = connection_group_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionIds'] = opts[:'connection_ids'] if !opts[:'connection_ids'].nil?
      query_params[:'connectionAccountIds'] = opts[:'connection_account_ids'] if !opts[:'connection_account_ids'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.add_connections_to_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#add_connections_to_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add Connection Groups
    # Add sub groups to a group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the parent group id
    # @param sub_group_ids [String] comma separated list of group IDs to add to the parent group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [ConnectionGroupResponse]
    def add_sub_groups(return_nulls, group_id, sub_group_ids, opts = {})
      data, _status_code, _headers = add_sub_groups_with_http_info(return_nulls, group_id, sub_group_ids, opts)
      data
    end

    # Add Connection Groups
    # Add sub groups to a group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the parent group id
    # @param sub_group_ids [String] comma separated list of group IDs to add to the parent group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(ConnectionGroupResponse, Integer, Hash)>] ConnectionGroupResponse data, response status code and response headers
    def add_sub_groups_with_http_info(return_nulls, group_id, sub_group_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.add_sub_groups ...'
      end
      # verify the required parameter 'return_nulls' is set
      if @api_client.config.client_side_validation && return_nulls.nil?
        fail ArgumentError, "Missing the required parameter 'return_nulls' when calling ConnectionApi.add_sub_groups"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling ConnectionApi.add_sub_groups"
      end
      # verify the required parameter 'sub_group_ids' is set
      if @api_client.config.client_side_validation && sub_group_ids.nil?
        fail ArgumentError, "Missing the required parameter 'sub_group_ids' when calling ConnectionApi.add_sub_groups"
      end
      # resource path
      local_var_path = '/consumer/connection/group/addSubGroup'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = return_nulls
      query_params[:'groupId'] = group_id
      query_params[:'subGroupIds'] = sub_group_ids
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.add_sub_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#add_sub_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Connection
    # Creates or updates the connection of the user and another account. Allows a user to follow, block, mark as trusted, and/or add someone to a group.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_id the connection id for editing
    # @option opts [Integer] :connection_account_id the connection account id (i.e. the account id of another user)
    # @option opts [Integer] :pending_id the pending id (usually for people who do not have a Sirqul account but are already friends via other third party apps)
    # @option opts [Integer] :group_id optional group id if the user wants to add this person into a group
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Boolean] :is_trusted determines whether the user is trusting this account
    # @option opts [Boolean] :ignore_friend_request determines whether the user has set to ignore the user&#39;s friend request
    # @option opts [Boolean] :is_contact determines whether the user is a contact of this account
    # @option opts [Boolean] :is_blocked determines whether the user is blocking this account
    # @option opts [Boolean] :is_following determines whether the user is following this account
    # @option opts [Boolean] :connection_response whether to return the connection response or not
    # @return [ConnectionResponse]
    def create_or_update_connection(opts = {})
      data, _status_code, _headers = create_or_update_connection_with_http_info(opts)
      data
    end

    # Create or Update Connection
    # Creates or updates the connection of the user and another account. Allows a user to follow, block, mark as trusted, and/or add someone to a group.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_id the connection id for editing
    # @option opts [Integer] :connection_account_id the connection account id (i.e. the account id of another user)
    # @option opts [Integer] :pending_id the pending id (usually for people who do not have a Sirqul account but are already friends via other third party apps)
    # @option opts [Integer] :group_id optional group id if the user wants to add this person into a group
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Boolean] :is_trusted determines whether the user is trusting this account
    # @option opts [Boolean] :ignore_friend_request determines whether the user has set to ignore the user&#39;s friend request
    # @option opts [Boolean] :is_contact determines whether the user is a contact of this account
    # @option opts [Boolean] :is_blocked determines whether the user is blocking this account
    # @option opts [Boolean] :is_following determines whether the user is following this account
    # @option opts [Boolean] :connection_response whether to return the connection response or not
    # @return [Array<(ConnectionResponse, Integer, Hash)>] ConnectionResponse data, response status code and response headers
    def create_or_update_connection_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.create_or_update_connection ...'
      end
      # resource path
      local_var_path = '/consumer/connection/add'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionId'] = opts[:'connection_id'] if !opts[:'connection_id'].nil?
      query_params[:'connectionAccountId'] = opts[:'connection_account_id'] if !opts[:'connection_account_id'].nil?
      query_params[:'pendingId'] = opts[:'pending_id'] if !opts[:'pending_id'].nil?
      query_params[:'groupId'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'isTrusted'] = opts[:'is_trusted'] if !opts[:'is_trusted'].nil?
      query_params[:'ignoreFriendRequest'] = opts[:'ignore_friend_request'] if !opts[:'ignore_friend_request'].nil?
      query_params[:'isContact'] = opts[:'is_contact'] if !opts[:'is_contact'].nil?
      query_params[:'isBlocked'] = opts[:'is_blocked'] if !opts[:'is_blocked'].nil?
      query_params[:'isFollowing'] = opts[:'is_following'] if !opts[:'is_following'].nil?
      query_params[:'connectionResponse'] = opts[:'connection_response'] if !opts[:'connection_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.create_or_update_connection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#create_or_update_connection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create or Update Connection Group
    # Creates a new private group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :name the name of the group
    # @option opts [Integer] :group_id the group id to update a group (don&#39;t pass anything in if you want to create a new group)
    # @option opts [Integer] :asset_id the asset to attach to the group
    # @option opts [String] :connections comma separated list of connection IDs
    # @option opts [String] :description the description of the group
    # @option opts [Boolean] :can_view_profile_info determines whether the connections in the group can see the user&#39;s profile info
    # @option opts [Boolean] :can_view_game_info determines whether the connections in the group can see the user&#39;s game info
    # @option opts [Boolean] :can_view_friend_info determines whether the connections in the group can see the user&#39;s friends/connections
    # @option opts [Boolean] :active Sets whether the connection group is active or inactive
    # @option opts [Float] :latitude the latitude of the group
    # @option opts [Float] :longitude the longitude of the group
    # @return [SirqulResponse]
    def create_or_update_group(return_nulls, opts = {})
      data, _status_code, _headers = create_or_update_group_with_http_info(return_nulls, opts)
      data
    end

    # Create or Update Connection Group
    # Creates a new private group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :name the name of the group
    # @option opts [Integer] :group_id the group id to update a group (don&#39;t pass anything in if you want to create a new group)
    # @option opts [Integer] :asset_id the asset to attach to the group
    # @option opts [String] :connections comma separated list of connection IDs
    # @option opts [String] :description the description of the group
    # @option opts [Boolean] :can_view_profile_info determines whether the connections in the group can see the user&#39;s profile info
    # @option opts [Boolean] :can_view_game_info determines whether the connections in the group can see the user&#39;s game info
    # @option opts [Boolean] :can_view_friend_info determines whether the connections in the group can see the user&#39;s friends/connections
    # @option opts [Boolean] :active Sets whether the connection group is active or inactive
    # @option opts [Float] :latitude the latitude of the group
    # @option opts [Float] :longitude the longitude of the group
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def create_or_update_group_with_http_info(return_nulls, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.create_or_update_group ...'
      end
      # verify the required parameter 'return_nulls' is set
      if @api_client.config.client_side_validation && return_nulls.nil?
        fail ArgumentError, "Missing the required parameter 'return_nulls' when calling ConnectionApi.create_or_update_group"
      end
      # resource path
      local_var_path = '/consumer/connection/group'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = return_nulls
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'groupId'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'connections'] = opts[:'connections'] if !opts[:'connections'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'canViewProfileInfo'] = opts[:'can_view_profile_info'] if !opts[:'can_view_profile_info'].nil?
      query_params[:'canViewGameInfo'] = opts[:'can_view_game_info'] if !opts[:'can_view_game_info'].nil?
      query_params[:'canViewFriendInfo'] = opts[:'can_view_friend_info'] if !opts[:'can_view_friend_info'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.create_or_update_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#create_or_update_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Accept Follow Request
    # Accept someone's follow request.
    # @param account_id [Integer] the account id of the user
    # @param connection_account_id [Integer] the account ID of the user who initiated the follow
    # @param app_key [String] the application key for sending notifications
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def follow_accept(account_id, connection_account_id, app_key, opts = {})
      data, _status_code, _headers = follow_accept_with_http_info(account_id, connection_account_id, app_key, opts)
      data
    end

    # Accept Follow Request
    # Accept someone&#39;s follow request.
    # @param account_id [Integer] the account id of the user
    # @param connection_account_id [Integer] the account ID of the user who initiated the follow
    # @param app_key [String] the application key for sending notifications
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def follow_accept_with_http_info(account_id, connection_account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.follow_accept ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectionApi.follow_accept"
      end
      # verify the required parameter 'connection_account_id' is set
      if @api_client.config.client_side_validation && connection_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_account_id' when calling ConnectionApi.follow_accept"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ConnectionApi.follow_accept"
      end
      # resource path
      local_var_path = '/consumer/follow/accept'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'connectionAccountId'] = connection_account_id
      query_params[:'appKey'] = app_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.follow_accept",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#follow_accept\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reject Follow Request
    # Reject someone's follow request or remove them as a follower.
    # @param account_id [Integer] the account id of the user
    # @param connection_account_id [Integer] the account ID of the user who initiated the follow
    # @param app_key [String] the application key for sending notifications
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def follow_reject(account_id, connection_account_id, app_key, opts = {})
      data, _status_code, _headers = follow_reject_with_http_info(account_id, connection_account_id, app_key, opts)
      data
    end

    # Reject Follow Request
    # Reject someone&#39;s follow request or remove them as a follower.
    # @param account_id [Integer] the account id of the user
    # @param connection_account_id [Integer] the account ID of the user who initiated the follow
    # @param app_key [String] the application key for sending notifications
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def follow_reject_with_http_info(account_id, connection_account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.follow_reject ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectionApi.follow_reject"
      end
      # verify the required parameter 'connection_account_id' is set
      if @api_client.config.client_side_validation && connection_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_account_id' when calling ConnectionApi.follow_reject"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ConnectionApi.follow_reject"
      end
      # resource path
      local_var_path = '/consumer/follow/reject'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'connectionAccountId'] = connection_account_id
      query_params[:'appKey'] = app_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.follow_reject",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#follow_reject\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove Follower / Unfollow
    # Unfollow someone you are following or remove them as a follower.
    # @param account_id [Integer] the account id of the user
    # @param connection_account_id [Integer] the account ID of the user who you want to unfollow
    # @param app_key [String] the application key for sending notifications
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def follow_remove(account_id, connection_account_id, app_key, opts = {})
      data, _status_code, _headers = follow_remove_with_http_info(account_id, connection_account_id, app_key, opts)
      data
    end

    # Remove Follower / Unfollow
    # Unfollow someone you are following or remove them as a follower.
    # @param account_id [Integer] the account id of the user
    # @param connection_account_id [Integer] the account ID of the user who you want to unfollow
    # @param app_key [String] the application key for sending notifications
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def follow_remove_with_http_info(account_id, connection_account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.follow_remove ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectionApi.follow_remove"
      end
      # verify the required parameter 'connection_account_id' is set
      if @api_client.config.client_side_validation && connection_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_account_id' when calling ConnectionApi.follow_remove"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ConnectionApi.follow_remove"
      end
      # resource path
      local_var_path = '/consumer/follow/remove'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'connectionAccountId'] = connection_account_id
      query_params[:'appKey'] = app_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.follow_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#follow_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send Follow Request
    # Send a request to follow someone.
    # @param account_id [Integer] the account id of the user
    # @param connection_account_id [Integer] the account ID of the user who you want to follow
    # @param app_key [String] the application key for sending notifications
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :approval_needed determines if the other user needs to confirm the follow request (default to true)
    # @return [SirqulResponse]
    def follow_request(account_id, connection_account_id, app_key, opts = {})
      data, _status_code, _headers = follow_request_with_http_info(account_id, connection_account_id, app_key, opts)
      data
    end

    # Send Follow Request
    # Send a request to follow someone.
    # @param account_id [Integer] the account id of the user
    # @param connection_account_id [Integer] the account ID of the user who you want to follow
    # @param app_key [String] the application key for sending notifications
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :approval_needed determines if the other user needs to confirm the follow request (default to true)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def follow_request_with_http_info(account_id, connection_account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.follow_request ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ConnectionApi.follow_request"
      end
      # verify the required parameter 'connection_account_id' is set
      if @api_client.config.client_side_validation && connection_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_account_id' when calling ConnectionApi.follow_request"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ConnectionApi.follow_request"
      end
      # resource path
      local_var_path = '/consumer/follow/request'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'connectionAccountId'] = connection_account_id
      query_params[:'appKey'] = app_key
      query_params[:'approvalNeeded'] = opts[:'approval_needed'] if !opts[:'approval_needed'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.follow_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#follow_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Accept Friend
    # Accept a friend request and optionally sends a notification.
    # @param friend_account_id [Integer] the friend&#39;s account id
    # @param notify_friend [Boolean] determines whether to send a notification to the afflicting party
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [String] :notification_message optional message to send in a notification
    # @return [SirqulResponse]
    def friend_accept(friend_account_id, notify_friend, opts = {})
      data, _status_code, _headers = friend_accept_with_http_info(friend_account_id, notify_friend, opts)
      data
    end

    # Accept Friend
    # Accept a friend request and optionally sends a notification.
    # @param friend_account_id [Integer] the friend&#39;s account id
    # @param notify_friend [Boolean] determines whether to send a notification to the afflicting party
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [String] :notification_message optional message to send in a notification
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def friend_accept_with_http_info(friend_account_id, notify_friend, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.friend_accept ...'
      end
      # verify the required parameter 'friend_account_id' is set
      if @api_client.config.client_side_validation && friend_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'friend_account_id' when calling ConnectionApi.friend_accept"
      end
      # verify the required parameter 'notify_friend' is set
      if @api_client.config.client_side_validation && notify_friend.nil?
        fail ArgumentError, "Missing the required parameter 'notify_friend' when calling ConnectionApi.friend_accept"
      end
      # resource path
      local_var_path = '/consumer/friend/accept'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'friendAccountId'] = friend_account_id
      query_params[:'notifyFriend'] = notify_friend
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'notificationMessage'] = opts[:'notification_message'] if !opts[:'notification_message'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.friend_accept",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#friend_accept\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Decline Friend
    # Request a friend request and optionally sends a notification.
    # @param friend_account_id [Integer] the friend&#39;s account id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Boolean] :notify_friend determines whether to send a notification to the afflicting party
    # @option opts [String] :notification_message optional message to send in a notification
    # @return [SirqulResponse]
    def friend_reject(friend_account_id, opts = {})
      data, _status_code, _headers = friend_reject_with_http_info(friend_account_id, opts)
      data
    end

    # Decline Friend
    # Request a friend request and optionally sends a notification.
    # @param friend_account_id [Integer] the friend&#39;s account id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Boolean] :notify_friend determines whether to send a notification to the afflicting party
    # @option opts [String] :notification_message optional message to send in a notification
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def friend_reject_with_http_info(friend_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.friend_reject ...'
      end
      # verify the required parameter 'friend_account_id' is set
      if @api_client.config.client_side_validation && friend_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'friend_account_id' when calling ConnectionApi.friend_reject"
      end
      # resource path
      local_var_path = '/consumer/friend/reject'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'friendAccountId'] = friend_account_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'notifyFriend'] = opts[:'notify_friend'] if !opts[:'notify_friend'].nil?
      query_params[:'notificationMessage'] = opts[:'notification_message'] if !opts[:'notification_message'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.friend_reject",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#friend_reject\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Friend
    # Removes a friend from the user's friends list.
    # @param friend_account_id [Integer] the account ID of the friend to remove
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Boolean] :notify_friend optionally notifies the connection that they have been removed as a friend
    # @option opts [Boolean] :remove_from_groups optionally removes the connection from the user&#39;s groups
    # @return [SirqulResponse]
    def friend_remove(friend_account_id, opts = {})
      data, _status_code, _headers = friend_remove_with_http_info(friend_account_id, opts)
      data
    end

    # Delete Friend
    # Removes a friend from the user&#39;s friends list.
    # @param friend_account_id [Integer] the account ID of the friend to remove
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Boolean] :notify_friend optionally notifies the connection that they have been removed as a friend
    # @option opts [Boolean] :remove_from_groups optionally removes the connection from the user&#39;s groups
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def friend_remove_with_http_info(friend_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.friend_remove ...'
      end
      # verify the required parameter 'friend_account_id' is set
      if @api_client.config.client_side_validation && friend_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'friend_account_id' when calling ConnectionApi.friend_remove"
      end
      # resource path
      local_var_path = '/consumer/friend/remove'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'friendAccountId'] = friend_account_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'notifyFriend'] = opts[:'notify_friend'] if !opts[:'notify_friend'].nil?
      query_params[:'removeFromGroups'] = opts[:'remove_from_groups'] if !opts[:'remove_from_groups'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.friend_remove",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#friend_remove\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request Friend
    # Sends a friend request notification to another user.
    # @param friend_account_id [Integer] the friend&#39;s account id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [String] :notification_message optional message to send in a notification
    # @return [SirqulResponse]
    def friend_request(friend_account_id, opts = {})
      data, _status_code, _headers = friend_request_with_http_info(friend_account_id, opts)
      data
    end

    # Request Friend
    # Sends a friend request notification to another user.
    # @param friend_account_id [Integer] the friend&#39;s account id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [String] :notification_message optional message to send in a notification
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def friend_request_with_http_info(friend_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.friend_request ...'
      end
      # verify the required parameter 'friend_account_id' is set
      if @api_client.config.client_side_validation && friend_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'friend_account_id' when calling ConnectionApi.friend_request"
      end
      # resource path
      local_var_path = '/consumer/friend/request'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'friendAccountId'] = friend_account_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'notificationMessage'] = opts[:'notification_message'] if !opts[:'notification_message'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.friend_request",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#friend_request\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Sent Friend Requests
    # Gets the connection sent friend requests.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the ID of the device
    # @option opts [Integer] :account_id the id of the account
    # @return [ConnectionListResponse]
    def get_connection_sent_friend_requests(opts = {})
      data, _status_code, _headers = get_connection_sent_friend_requests_with_http_info(opts)
      data
    end

    # Get Sent Friend Requests
    # Gets the connection sent friend requests.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the ID of the device
    # @option opts [Integer] :account_id the id of the account
    # @return [Array<(ConnectionListResponse, Integer, Hash)>] ConnectionListResponse data, response status code and response headers
    def get_connection_sent_friend_requests_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.get_connection_sent_friend_requests ...'
      end
      # resource path
      local_var_path = '/consumer/connection/getRequested'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.get_connection_sent_friend_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#get_connection_sent_friend_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Connections
    # Gets the connections.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param filter [String] a comma separated list of ConnectionApiMap. (NOTE on FOLLOWER vs FOLLOWING: FOLLOWER will get me a list of followers, FOLLOWING will get me a list of people I am following)
    # @param sort_field [String] sorts the response list by ConnectionApiMap
    # @param descending [Boolean] sorts the response list by descending order if true
    # @param start [Integer] start index of the pagination
    # @param limit [Integer] limit of the pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id (deviceId or accountId required)
    # @option opts [Integer] :connection_account_id optional parameter to search on other account&#39;s connections
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword an optional keyword to search on, this parameter is ignored if empty
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [ConnectionListResponse]
    def get_connections(return_nulls, filter, sort_field, descending, start, limit, opts = {})
      data, _status_code, _headers = get_connections_with_http_info(return_nulls, filter, sort_field, descending, start, limit, opts)
      data
    end

    # Search Connections
    # Gets the connections.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param filter [String] a comma separated list of ConnectionApiMap. (NOTE on FOLLOWER vs FOLLOWING: FOLLOWER will get me a list of followers, FOLLOWING will get me a list of people I am following)
    # @param sort_field [String] sorts the response list by ConnectionApiMap
    # @param descending [Boolean] sorts the response list by descending order if true
    # @param start [Integer] start index of the pagination
    # @param limit [Integer] limit of the pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id (deviceId or accountId required)
    # @option opts [Integer] :connection_account_id optional parameter to search on other account&#39;s connections
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword an optional keyword to search on, this parameter is ignored if empty
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(ConnectionListResponse, Integer, Hash)>] ConnectionListResponse data, response status code and response headers
    def get_connections_with_http_info(return_nulls, filter, sort_field, descending, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.get_connections ...'
      end
      # verify the required parameter 'return_nulls' is set
      if @api_client.config.client_side_validation && return_nulls.nil?
        fail ArgumentError, "Missing the required parameter 'return_nulls' when calling ConnectionApi.get_connections"
      end
      # verify the required parameter 'filter' is set
      if @api_client.config.client_side_validation && filter.nil?
        fail ArgumentError, "Missing the required parameter 'filter' when calling ConnectionApi.get_connections"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling ConnectionApi.get_connections"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling ConnectionApi.get_connections"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ConnectionApi.get_connections"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ConnectionApi.get_connections"
      end
      # resource path
      local_var_path = '/consumer/connection/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = return_nulls
      query_params[:'filter'] = filter
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionAccountId'] = opts[:'connection_account_id'] if !opts[:'connection_account_id'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'_i'] = opts[:'_i'] if !opts[:'_i'].nil?
      query_params[:'_l'] = opts[:'_l'] if !opts[:'_l'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.get_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#get_connections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Connection Group
    # @param combine_connections [Boolean] whether to combine connections or not
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :group_id the group id
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [ConnectionGroupResponse]
    def get_group_details(combine_connections, opts = {})
      data, _status_code, _headers = get_group_details_with_http_info(combine_connections, opts)
      data
    end

    # Get Connection Group
    # @param combine_connections [Boolean] whether to combine connections or not
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :group_id the group id
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(ConnectionGroupResponse, Integer, Hash)>] ConnectionGroupResponse data, response status code and response headers
    def get_group_details_with_http_info(combine_connections, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.get_group_details ...'
      end
      # verify the required parameter 'combine_connections' is set
      if @api_client.config.client_side_validation && combine_connections.nil?
        fail ArgumentError, "Missing the required parameter 'combine_connections' when calling ConnectionApi.get_group_details"
      end
      # resource path
      local_var_path = '/consumer/connection/group/details/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'combineConnections'] = combine_connections
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'groupId'] = opts[:'group_id'] if !opts[:'group_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionGroupResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.get_group_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#get_group_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Connection Groups
    # Gets a user's private groups and default groups.
    # @param sort_field [String] the field to sort by
    # @param descending [Boolean] whether to return results in descending or ascending order
    # @param active_only [Boolean] to search on active only or not
    # @param start [Integer] The start of the pagination
    # @param limit [Integer] the limit of the pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [String] :keyword keyword search string
    # @return [Array<ConnectionInfoResponse>]
    def group_search(sort_field, descending, active_only, start, limit, opts = {})
      data, _status_code, _headers = group_search_with_http_info(sort_field, descending, active_only, start, limit, opts)
      data
    end

    # Search Connection Groups
    # Gets a user&#39;s private groups and default groups.
    # @param sort_field [String] the field to sort by
    # @param descending [Boolean] whether to return results in descending or ascending order
    # @param active_only [Boolean] to search on active only or not
    # @param start [Integer] The start of the pagination
    # @param limit [Integer] the limit of the pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [String] :keyword keyword search string
    # @return [Array<(Array<ConnectionInfoResponse>, Integer, Hash)>] Array<ConnectionInfoResponse> data, response status code and response headers
    def group_search_with_http_info(sort_field, descending, active_only, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.group_search ...'
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling ConnectionApi.group_search"
      end
      # verify enum value
      allowable_values = ["CREATED", "UPDATED", "ACTIVE", "NAME", "DESCRIPTION", "CAN_VIEW_PROFILE_INFO", "CAN_VIEW_GAME_INFO", "CAN_VIEW_FRIEND_INFO", "INVITE_CODE", "OWNER_DISPLAY", "OWNER_USERNAME"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling ConnectionApi.group_search"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling ConnectionApi.group_search"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ConnectionApi.group_search"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ConnectionApi.group_search"
      end
      # resource path
      local_var_path = '/connection/group/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'activeOnly'] = active_only
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ConnectionInfoResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.group_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#group_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Connection
    # Removes the connection from group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the group id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_id the connection id
    # @option opts [Integer] :connection_account_id the connection account id
    # @option opts [Integer] :pending_id the pending id
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [SirqulResponse]
    def remove_connection_from_group(return_nulls, group_id, opts = {})
      data, _status_code, _headers = remove_connection_from_group_with_http_info(return_nulls, group_id, opts)
      data
    end

    # Delete Connection
    # Removes the connection from group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the group id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_id the connection id
    # @option opts [Integer] :connection_account_id the connection account id
    # @option opts [Integer] :pending_id the pending id
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def remove_connection_from_group_with_http_info(return_nulls, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.remove_connection_from_group ...'
      end
      # verify the required parameter 'return_nulls' is set
      if @api_client.config.client_side_validation && return_nulls.nil?
        fail ArgumentError, "Missing the required parameter 'return_nulls' when calling ConnectionApi.remove_connection_from_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling ConnectionApi.remove_connection_from_group"
      end
      # resource path
      local_var_path = '/consumer/connection/group/removeConnection'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = return_nulls
      query_params[:'groupId'] = group_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionId'] = opts[:'connection_id'] if !opts[:'connection_id'].nil?
      query_params[:'connectionAccountId'] = opts[:'connection_account_id'] if !opts[:'connection_account_id'].nil?
      query_params[:'pendingId'] = opts[:'pending_id'] if !opts[:'pending_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.remove_connection_from_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#remove_connection_from_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove Connections
    # Remove a list of connections from a group.
    # @param connection_group_id [Integer] connection group id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :connection_ids comma separated list of connection ids
    # @option opts [String] :connection_account_ids comma separated list of connection account ids
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [SirqulResponse]
    def remove_connections_from_group(connection_group_id, opts = {})
      data, _status_code, _headers = remove_connections_from_group_with_http_info(connection_group_id, opts)
      data
    end

    # Remove Connections
    # Remove a list of connections from a group.
    # @param connection_group_id [Integer] connection group id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :connection_ids comma separated list of connection ids
    # @option opts [String] :connection_account_ids comma separated list of connection account ids
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def remove_connections_from_group_with_http_info(connection_group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.remove_connections_from_group ...'
      end
      # verify the required parameter 'connection_group_id' is set
      if @api_client.config.client_side_validation && connection_group_id.nil?
        fail ArgumentError, "Missing the required parameter 'connection_group_id' when calling ConnectionApi.remove_connections_from_group"
      end
      # resource path
      local_var_path = '/connection/group/removeConnections'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'connectionGroupId'] = connection_group_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionIds'] = opts[:'connection_ids'] if !opts[:'connection_ids'].nil?
      query_params[:'connectionAccountIds'] = opts[:'connection_account_ids'] if !opts[:'connection_account_ids'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.remove_connections_from_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#remove_connections_from_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Connection Group
    # Remove a user's group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the group id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [SirqulResponse]
    def remove_group(return_nulls, group_id, opts = {})
      data, _status_code, _headers = remove_group_with_http_info(return_nulls, group_id, opts)
      data
    end

    # Delete Connection Group
    # Remove a user&#39;s group.
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the group id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def remove_group_with_http_info(return_nulls, group_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.remove_group ...'
      end
      # verify the required parameter 'return_nulls' is set
      if @api_client.config.client_side_validation && return_nulls.nil?
        fail ArgumentError, "Missing the required parameter 'return_nulls' when calling ConnectionApi.remove_group"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling ConnectionApi.remove_group"
      end
      # resource path
      local_var_path = '/consumer/connection/group/remove'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = return_nulls
      query_params[:'groupId'] = group_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.remove_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#remove_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove Connection Groups
    # Remove sub groups from a group
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the parent group id
    # @param sub_group_ids [String] comma separated list of group IDs to remove from the parent group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [SirqulResponse]
    def remove_sub_groups(return_nulls, group_id, sub_group_ids, opts = {})
      data, _status_code, _headers = remove_sub_groups_with_http_info(return_nulls, group_id, sub_group_ids, opts)
      data
    end

    # Remove Connection Groups
    # Remove sub groups from a group
    # @param return_nulls [Boolean] whether to return nulls or not
    # @param group_id [Integer] the parent group id
    # @param sub_group_ids [String] comma separated list of group IDs to remove from the parent group
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def remove_sub_groups_with_http_info(return_nulls, group_id, sub_group_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.remove_sub_groups ...'
      end
      # verify the required parameter 'return_nulls' is set
      if @api_client.config.client_side_validation && return_nulls.nil?
        fail ArgumentError, "Missing the required parameter 'return_nulls' when calling ConnectionApi.remove_sub_groups"
      end
      # verify the required parameter 'group_id' is set
      if @api_client.config.client_side_validation && group_id.nil?
        fail ArgumentError, "Missing the required parameter 'group_id' when calling ConnectionApi.remove_sub_groups"
      end
      # verify the required parameter 'sub_group_ids' is set
      if @api_client.config.client_side_validation && sub_group_ids.nil?
        fail ArgumentError, "Missing the required parameter 'sub_group_ids' when calling ConnectionApi.remove_sub_groups"
      end
      # resource path
      local_var_path = '/consumer/connection/group/removeSubGroup'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = return_nulls
      query_params[:'groupId'] = group_id
      query_params[:'subGroupIds'] = sub_group_ids
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.remove_sub_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectionApi#remove_sub_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Possible Connections
    # Search for accounts that the user may not have a connection with.
    # @param return_nulls [Boolean] return all json attributes if true. defualt is true.
    # @param start [Integer] start index of the pagination
    # @param limit [Integer] limit of the pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id (deviceId or accountId required)
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword keyword to search on, optional and this parameter is ignored if empt
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the public application key, if provided only looks for users of that application
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [String] :sort_field the field to sort on
    # @option opts [Boolean] :has_location whether the search has location or not
    # @return [ConnectionListResponse]
    def search_connections(return_nulls, start, limit, opts = {})
      data, _status_code, _headers = search_connections_with_http_info(return_nulls, start, limit, opts)
      data
    end

    # Search Possible Connections
    # Search for accounts that the user may not have a connection with.
    # @param return_nulls [Boolean] return all json attributes if true. defualt is true.
    # @param start [Integer] start index of the pagination
    # @param limit [Integer] limit of the pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id (deviceId or accountId required)
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword keyword to search on, optional and this parameter is ignored if empt
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the public application key, if provided only looks for users of that application
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [String] :sort_field the field to sort on
    # @option opts [Boolean] :has_location whether the search has location or not
    # @return [Array<(ConnectionListResponse, Integer, Hash)>] ConnectionListResponse data, response status code and response headers
    def search_connections_with_http_info(return_nulls, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectionApi.search_connections ...'
      end
      # verify the required parameter 'return_nulls' is set
      if @api_client.config.client_side_validation && return_nulls.nil?
        fail ArgumentError, "Missing the required parameter 'return_nulls' when calling ConnectionApi.search_connections"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ConnectionApi.search_connections"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ConnectionApi.search_connections"
      end
      # resource path
      local_var_path = '/connection/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'returnNulls'] = return_nulls
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'_i'] = opts[:'_i'] if !opts[:'_i'].nil?
      query_params[:'_l'] = opts[:'_l'] if !opts[:'_l'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'hasLocation'] = opts[:'has_location'] if !opts[:'has_location'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ConnectionApi.search_connections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
[...]
