=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class CreativeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Preview
    # Enable this ad for preview for this account.
    # @param account_id [Integer] the id of the account
    # @param creative_id [Integer] The id of the creative that want to enable preview. The type of the creative should be CONFIG, otherwise no action will be applied.
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def add_preview(account_id, creative_id, opts = {})
      data, _status_code, _headers = add_preview_with_http_info(account_id, creative_id, opts)
      data
    end

    # Add Preview
    # Enable this ad for preview for this account.
    # @param account_id [Integer] the id of the account
    # @param creative_id [Integer] The id of the creative that want to enable preview. The type of the creative should be CONFIG, otherwise no action will be applied.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def add_preview_with_http_info(account_id, creative_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.add_preview ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CreativeApi.add_preview"
      end
      # verify the required parameter 'creative_id' is set
      if @api_client.config.client_side_validation && creative_id.nil?
        fail ArgumentError, "Missing the required parameter 'creative_id' when calling CreativeApi.add_preview"
      end
      # resource path
      local_var_path = '/creative/addpreview'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'creativeId'] = creative_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CreativeApi.add_preview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#add_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find Missions
    # Get a set of ad filtered by the parameters provided.
    # @param app_key [String] The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic.
    # @param randomize [Boolean] return a random set of results, default is true. If false returns in nature order.
    # @param targeted_ads_only [Boolean] return only ads targets to the specific app, no global ads.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix.
    # @option opts [Integer] :account_id The logged in user.
    # @option opts [String] :app_version The version of the application, will not return levels newer than the appVersion.
    # @option opts [Float] :latitude The current location of the requesting device
    # @option opts [Float] :longitude The current location of the requesting device
    # @option opts [String] :device Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list.
    # @option opts [Integer] :device_identifier The device ID of the requesting device, use /audience/devices for list
    # @option opts [String] :device_version The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string.
    # @option opts [Integer] :start The index into the record set to start with.
    # @option opts [Integer] :limit The total number of record to return.
    # @option opts [Boolean] :include_audiences If true then return the audience data in the response. Default is false.
    # @option opts [Boolean] :allocates_tickets If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both.
    # @option opts [String] :mission_ids return only ads from the specified campaigns.
    # @return [Array<MissionResponse>]
    def ads_find(app_key, randomize, targeted_ads_only, opts = {})
      data, _status_code, _headers = ads_find_with_http_info(app_key, randomize, targeted_ads_only, opts)
      data
    end

    # Find Missions
    # Get a set of ad filtered by the parameters provided.
    # @param app_key [String] The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic.
    # @param randomize [Boolean] return a random set of results, default is true. If false returns in nature order.
    # @param targeted_ads_only [Boolean] return only ads targets to the specific app, no global ads.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix.
    # @option opts [Integer] :account_id The logged in user.
    # @option opts [String] :app_version The version of the application, will not return levels newer than the appVersion.
    # @option opts [Float] :latitude The current location of the requesting device
    # @option opts [Float] :longitude The current location of the requesting device
    # @option opts [String] :device Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list.
    # @option opts [Integer] :device_identifier The device ID of the requesting device, use /audience/devices for list
    # @option opts [String] :device_version The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string.
    # @option opts [Integer] :start The index into the record set to start with.
    # @option opts [Integer] :limit The total number of record to return.
    # @option opts [Boolean] :include_audiences If true then return the audience data in the response. Default is false.
    # @option opts [Boolean] :allocates_tickets If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both.
    # @option opts [String] :mission_ids return only ads from the specified campaigns.
    # @return [Array<(Array<MissionResponse>, Integer, Hash)>] Array<MissionResponse> data, response status code and response headers
    def ads_find_with_http_info(app_key, randomize, targeted_ads_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.ads_find ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CreativeApi.ads_find"
      end
      # verify the required parameter 'randomize' is set
      if @api_client.config.client_side_validation && randomize.nil?
        fail ArgumentError, "Missing the required parameter 'randomize' when calling CreativeApi.ads_find"
      end
      # verify the required parameter 'targeted_ads_only' is set
      if @api_client.config.client_side_validation && targeted_ads_only.nil?
        fail ArgumentError, "Missing the required parameter 'targeted_ads_only' when calling CreativeApi.ads_find"
      end
      # resource path
      local_var_path = '/ads/find'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'randomize'] = randomize
      query_params[:'targetedAdsOnly'] = targeted_ads_only
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'device'] = opts[:'device'] if !opts[:'device'].nil?
      query_params[:'deviceIdentifier'] = opts[:'device_identifier'] if !opts[:'device_identifier'].nil?
      query_params[:'deviceVersion'] = opts[:'device_version'] if !opts[:'device_version'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'includeAudiences'] = opts[:'include_audiences'] if !opts[:'include_audiences'].nil?
      query_params[:'allocatesTickets'] = opts[:'allocates_tickets'] if !opts[:'allocates_tickets'].nil?
      query_params[:'missionIds'] = opts[:'mission_ids'] if !opts[:'mission_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MissionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CreativeApi.ads_find",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#ads_find\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Creative
    # Create a creative
    # @param account_id [Integer] The logged in user.
    # @param name [String] The name of the level.
    # @param active [Boolean] If true set the game level as active. Default is false.
    # @param wait_for_asset [Boolean] determines whether the response will wait until the asset gets created
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description The description of the level.
    # @option opts [Integer] :asset_image_id The asset Id of the level image.
    # @option opts [String] :action This parameter is deprecated. deprecated use data field
    # @option opts [String] :data The creative data, json based format depending on type. If not using action then data is required.
    # @option opts [String] :suffix This parameter is deprecated. deprecated use type field
    # @option opts [String] :type The type of creative. If not using suffix then type is required.
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
    # @option opts [Integer] :reference_id if creative related so some other content provided the id
    # @option opts [String] :app_version The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives.
    # @option opts [Integer] :mission_id Assign the creative to a campaign for timing and audience matching.
    # @option opts [Integer] :offer_id the id of the offer
    # @return [CreativeResponse]
    def create_creative(account_id, name, active, wait_for_asset, opts = {})
      data, _status_code, _headers = create_creative_with_http_info(account_id, name, active, wait_for_asset, opts)
      data
    end

    # Create Creative
    # Create a creative
    # @param account_id [Integer] The logged in user.
    # @param name [String] The name of the level.
    # @param active [Boolean] If true set the game level as active. Default is false.
    # @param wait_for_asset [Boolean] determines whether the response will wait until the asset gets created
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description The description of the level.
    # @option opts [Integer] :asset_image_id The asset Id of the level image.
    # @option opts [String] :action This parameter is deprecated. deprecated use data field
    # @option opts [String] :data The creative data, json based format depending on type. If not using action then data is required.
    # @option opts [String] :suffix This parameter is deprecated. deprecated use type field
    # @option opts [String] :type The type of creative. If not using suffix then type is required.
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
    # @option opts [Integer] :reference_id if creative related so some other content provided the id
    # @option opts [String] :app_version The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives.
    # @option opts [Integer] :mission_id Assign the creative to a campaign for timing and audience matching.
    # @option opts [Integer] :offer_id the id of the offer
    # @return [Array<(CreativeResponse, Integer, Hash)>] CreativeResponse data, response status code and response headers
    def create_creative_with_http_info(account_id, name, active, wait_for_asset, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.create_creative ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CreativeApi.create_creative"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling CreativeApi.create_creative"
      end
      # verify the required parameter 'active' is set
      if @api_client.config.client_side_validation && active.nil?
        fail ArgumentError, "Missing the required parameter 'active' when calling CreativeApi.create_creative"
      end
      # verify the required parameter 'wait_for_asset' is set
      if @api_client.config.client_side_validation && wait_for_asset.nil?
        fail ArgumentError, "Missing the required parameter 'wait_for_asset' when calling CreativeApi.create_creative"
      end
      # resource path
      local_var_path = '/creative/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'name'] = name
      query_params[:'active'] = active
      query_params[:'waitForAsset'] = wait_for_asset
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'assetImageId'] = opts[:'asset_image_id'] if !opts[:'asset_image_id'].nil?
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'data'] = opts[:'data'] if !opts[:'data'].nil?
      query_params[:'suffix'] = opts[:'suffix'] if !opts[:'suffix'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'balance'] = opts[:'balance'] if !opts[:'balance'].nil?
      query_params[:'referenceId'] = opts[:'reference_id'] if !opts[:'reference_id'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CreativeApi.create_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#create_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Creative
    # Delete a creative
    # @param account_id [Integer] the id of the logged in user
    # @param creative_id [Integer] the id of the creative to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_creative(account_id, creative_id, opts = {})
      data, _status_code, _headers = delete_creative_with_http_info(account_id, creative_id, opts)
      data
    end

    # Delete Creative
    # Delete a creative
    # @param account_id [Integer] the id of the logged in user
    # @param creative_id [Integer] the id of the creative to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_creative_with_http_info(account_id, creative_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.delete_creative ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CreativeApi.delete_creative"
      end
      # verify the required parameter 'creative_id' is set
      if @api_client.config.client_side_validation && creative_id.nil?
        fail ArgumentError, "Missing the required parameter 'creative_id' when calling CreativeApi.delete_creative"
      end
      # resource path
      local_var_path = '/creative/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'creativeId'] = creative_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CreativeApi.delete_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#delete_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Creative
    # Get a creative
    # @param account_id [Integer] the id of the logged in user
    # @param creative_id [Integer] the ID of the creative to get
    # @param [Hash] opts the optional parameters
    # @return [CreativeResponse]
    def get_creative(account_id, creative_id, opts = {})
      data, _status_code, _headers = get_creative_with_http_info(account_id, creative_id, opts)
      data
    end

    # Get Creative
    # Get a creative
    # @param account_id [Integer] the id of the logged in user
    # @param creative_id [Integer] the ID of the creative to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreativeResponse, Integer, Hash)>] CreativeResponse data, response status code and response headers
    def get_creative_with_http_info(account_id, creative_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.get_creative ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CreativeApi.get_creative"
      end
      # verify the required parameter 'creative_id' is set
      if @api_client.config.client_side_validation && creative_id.nil?
        fail ArgumentError, "Missing the required parameter 'creative_id' when calling CreativeApi.get_creative"
      end
      # resource path
      local_var_path = '/creative/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'creativeId'] = creative_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CreativeApi.get_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#get_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Creatives
    # Get a list of levels for an application, just those the account has permissions to view.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] the application key
    # @param start [Integer] Start the result set at some index.
    # @param limit [Integer] Limit the result to some number.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :mission_id Creatives contained in the provided mission.
    # @option opts [String] :keyword Match the keyword to the owner name or level name.
    # @return [Array<CreativeResponse>]
    def get_creatives_by_application(account_id, app_key, start, limit, opts = {})
      data, _status_code, _headers = get_creatives_by_application_with_http_info(account_id, app_key, start, limit, opts)
      data
    end

    # Search Creatives
    # Get a list of levels for an application, just those the account has permissions to view.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] the application key
    # @param start [Integer] Start the result set at some index.
    # @param limit [Integer] Limit the result to some number.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :mission_id Creatives contained in the provided mission.
    # @option opts [String] :keyword Match the keyword to the owner name or level name.
    # @return [Array<(Array<CreativeResponse>, Integer, Hash)>] Array<CreativeResponse> data, response status code and response headers
    def get_creatives_by_application_with_http_info(account_id, app_key, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.get_creatives_by_application ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CreativeApi.get_creatives_by_application"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CreativeApi.get_creatives_by_application"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling CreativeApi.get_creatives_by_application"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling CreativeApi.get_creatives_by_application"
      end
      # resource path
      local_var_path = '/creative/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CreativeResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CreativeApi.get_creatives_by_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#get_creatives_by_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove Preview
    # Remove this ad for preview for this account.
    # @param account_id [Integer] the ID of the logged in user
    # @param creative_id [Integer] the ID of the creative to remove preview
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def remove_preview(account_id, creative_id, opts = {})
      data, _status_code, _headers = remove_preview_with_http_info(account_id, creative_id, opts)
      data
    end

    # Remove Preview
    # Remove this ad for preview for this account.
    # @param account_id [Integer] the ID of the logged in user
    # @param creative_id [Integer] the ID of the creative to remove preview
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def remove_preview_with_http_info(account_id, creative_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.remove_preview ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CreativeApi.remove_preview"
      end
      # verify the required parameter 'creative_id' is set
      if @api_client.config.client_side_validation && creative_id.nil?
        fail ArgumentError, "Missing the required parameter 'creative_id' when calling CreativeApi.remove_preview"
      end
      # resource path
      local_var_path = '/creative/removepreview'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'creativeId'] = creative_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CreativeApi.remove_preview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#remove_preview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Creative
    # Update a creative
    # @param account_id [Integer] The logged in user.
    # @param creative_id [Integer] the creative Id to upate.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name The name of the level.
    # @option opts [String] :description The description of the level.
    # @option opts [Integer] :asset_image_id The asset Id of the level image.
    # @option opts [String] :action This parameter is deprecated. deprecated use data field
    # @option opts [String] :data The creative data, json based format depending on type
    # @option opts [String] :suffix This parameter is deprecated. deprecated use type field
    # @option opts [String] :type The type of creative.
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
    # @option opts [Boolean] :active If true set the game level as active. Default is false.
    # @option opts [Integer] :reference_id if creative related so some other content provided the id
    # @option opts [String] :app_version The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives.
    # @option opts [Integer] :mission_id Assign the creative to a campaign for timing and audience matching.
    # @return [CreativeResponse]
    def update_creative(account_id, creative_id, opts = {})
      data, _status_code, _headers = update_creative_with_http_info(account_id, creative_id, opts)
      data
    end

    # Update Creative
    # Update a creative
    # @param account_id [Integer] The logged in user.
    # @param creative_id [Integer] the creative Id to upate.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name The name of the level.
    # @option opts [String] :description The description of the level.
    # @option opts [Integer] :asset_image_id The asset Id of the level image.
    # @option opts [String] :action This parameter is deprecated. deprecated use data field
    # @option opts [String] :data The creative data, json based format depending on type
    # @option opts [String] :suffix This parameter is deprecated. deprecated use type field
    # @option opts [String] :type The type of creative.
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
    # @option opts [Boolean] :active If true set the game level as active. Default is false.
    # @option opts [Integer] :reference_id if creative related so some other content provided the id
    # @option opts [String] :app_version The version of the application, will not return creatives newer than the appVersion. Only used when requesting application configuration creatives.
    # @option opts [Integer] :mission_id Assign the creative to a campaign for timing and audience matching.
    # @return [Array<(CreativeResponse, Integer, Hash)>] CreativeResponse data, response status code and response headers
    def update_creative_with_http_info(account_id, creative_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CreativeApi.update_creative ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CreativeApi.update_creative"
      end
      # verify the required parameter 'creative_id' is set
      if @api_client.config.client_side_validation && creative_id.nil?
        fail ArgumentError, "Missing the required parameter 'creative_id' when calling CreativeApi.update_creative"
      end
      # resource path
      local_var_path = '/creative/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'creativeId'] = creative_id
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'assetImageId'] = opts[:'asset_image_id'] if !opts[:'asset_image_id'].nil?
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'data'] = opts[:'data'] if !opts[:'data'].nil?
      query_params[:'suffix'] = opts[:'suffix'] if !opts[:'suffix'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'balance'] = opts[:'balance'] if !opts[:'balance'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'referenceId'] = opts[:'reference_id'] if !opts[:'reference_id'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreativeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CreativeApi.update_creative",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CreativeApi#update_creative\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
