=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class CSVImportApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Detail Status
    # @param account_id [Integer] the id of the logged in user
    # @param batch_id [Integer] the id of the batch
    # @param response_group [String] The group of categories to return: SUMMARY, DETAILS, ERRORS, OR ALL
    # @param start [Integer] the start of the pagination
    # @param limit [Integer] the limit of the pagination
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def get_status_csv(account_id, batch_id, response_group, start, limit, opts = {})
      data, _status_code, _headers = get_status_csv_with_http_info(account_id, batch_id, response_group, start, limit, opts)
      data
    end

    # Detail Status
    # @param account_id [Integer] the id of the logged in user
    # @param batch_id [Integer] the id of the batch
    # @param response_group [String] The group of categories to return: SUMMARY, DETAILS, ERRORS, OR ALL
    # @param start [Integer] the start of the pagination
    # @param limit [Integer] the limit of the pagination
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def get_status_csv_with_http_info(account_id, batch_id, response_group, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CSVImportApi.get_status_csv ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CSVImportApi.get_status_csv"
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling CSVImportApi.get_status_csv"
      end
      # verify the required parameter 'response_group' is set
      if @api_client.config.client_side_validation && response_group.nil?
        fail ArgumentError, "Missing the required parameter 'response_group' when calling CSVImportApi.get_status_csv"
      end
      # verify enum value
      allowable_values = ["SUMMARY", "DETAILS", "ERRORS", "ALL"]
      if @api_client.config.client_side_validation && !allowable_values.include?(response_group)
        fail ArgumentError, "invalid value for \"response_group\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling CSVImportApi.get_status_csv"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling CSVImportApi.get_status_csv"
      end
      # resource path
      local_var_path = '/csvimport/batch/status/details'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'batchId'] = batch_id
      query_params[:'responseGroup'] = response_group
      query_params[:'start'] = start
      query_params[:'limit'] = limit

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CSVImportApi.get_status_csv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CSVImportApi#get_status_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Status
    # Retrieves batches for a user.
    # @param account_id [Integer] the id of the account
    # @param start [Integer] the start of the pagination
    # @param limit [Integer] the limit of the pagination
    # @param [Hash] opts the optional parameters
    # @return [CsvImportResponse]
    def list_status_csv(account_id, start, limit, opts = {})
      data, _status_code, _headers = list_status_csv_with_http_info(account_id, start, limit, opts)
      data
    end

    # Search Status
    # Retrieves batches for a user.
    # @param account_id [Integer] the id of the account
    # @param start [Integer] the start of the pagination
    # @param limit [Integer] the limit of the pagination
    # @param [Hash] opts the optional parameters
    # @return [Array<(CsvImportResponse, Integer, Hash)>] CsvImportResponse data, response status code and response headers
    def list_status_csv_with_http_info(account_id, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CSVImportApi.list_status_csv ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CSVImportApi.list_status_csv"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling CSVImportApi.list_status_csv"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling CSVImportApi.list_status_csv"
      end
      # resource path
      local_var_path = '/csvimport/batch/list'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'start'] = start
      query_params[:'limit'] = limit

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CsvImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CSVImportApi.list_status_csv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CSVImportApi#list_status_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch Status
    # Checks status of batch upload.
    # @param account_id [Integer] the id of the account
    # @param batch_id [Integer] the id of the batch to get its status
    # @param [Hash] opts the optional parameters
    # @return [CsvImportResponse]
    def status_csv(account_id, batch_id, opts = {})
      data, _status_code, _headers = status_csv_with_http_info(account_id, batch_id, opts)
      data
    end

    # Batch Status
    # Checks status of batch upload.
    # @param account_id [Integer] the id of the account
    # @param batch_id [Integer] the id of the batch to get its status
    # @param [Hash] opts the optional parameters
    # @return [Array<(CsvImportResponse, Integer, Hash)>] CsvImportResponse data, response status code and response headers
    def status_csv_with_http_info(account_id, batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CSVImportApi.status_csv ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CSVImportApi.status_csv"
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling CSVImportApi.status_csv"
      end
      # resource path
      local_var_path = '/csvimport/batch/status'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'batchId'] = batch_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CsvImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CSVImportApi.status_csv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CSVImportApi#status_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload CSV
    # Uploads a CSV import file.
    # @param account_id [Integer] the id of the account
    # @param upload_type [String] the upload type: OFFERS, RETAILERS, RETAILERLOCATIONS, CATEGORIES, OR FILTERS
    # @param import_file [File] the import file to reference
    # @param file_format [String] the format of the file
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key the application key
    # @return [CsvImportResponse]
    def upload_csv(account_id, upload_type, import_file, file_format, opts = {})
      data, _status_code, _headers = upload_csv_with_http_info(account_id, upload_type, import_file, file_format, opts)
      data
    end

    # Upload CSV
    # Uploads a CSV import file.
    # @param account_id [Integer] the id of the account
    # @param upload_type [String] the upload type: OFFERS, RETAILERS, RETAILERLOCATIONS, CATEGORIES, OR FILTERS
    # @param import_file [File] the import file to reference
    # @param file_format [String] the format of the file
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key the application key
    # @return [Array<(CsvImportResponse, Integer, Hash)>] CsvImportResponse data, response status code and response headers
    def upload_csv_with_http_info(account_id, upload_type, import_file, file_format, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CSVImportApi.upload_csv ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling CSVImportApi.upload_csv"
      end
      # verify the required parameter 'upload_type' is set
      if @api_client.config.client_side_validation && upload_type.nil?
        fail ArgumentError, "Missing the required parameter 'upload_type' when calling CSVImportApi.upload_csv"
      end
      # verify enum value
      allowable_values = ["OFFERS", "RETAILERS", "RETAILERLOCATIONS", "CATEGORIES", "FILTERS"]
      if @api_client.config.client_side_validation && !allowable_values.include?(upload_type)
        fail ArgumentError, "invalid value for \"upload_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'import_file' is set
      if @api_client.config.client_side_validation && import_file.nil?
        fail ArgumentError, "Missing the required parameter 'import_file' when calling CSVImportApi.upload_csv"
      end
      # verify the required parameter 'file_format' is set
      if @api_client.config.client_side_validation && file_format.nil?
        fail ArgumentError, "Missing the required parameter 'file_format' when calling CSVImportApi.upload_csv"
      end
      # verify enum value
      allowable_values = ["EXCEL", "MYSQL", "RFC4180", "TDF"]
      if @api_client.config.client_side_validation && !allowable_values.include?(file_format)
        fail ArgumentError, "invalid value for \"file_format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/csvimport/upload'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'uploadType'] = upload_type
      query_params[:'importFile'] = import_file
      query_params[:'fileFormat'] = file_format
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CsvImportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"CSVImportApi.upload_csv",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CSVImportApi#upload_csv\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
