=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class DependentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Dependent
    # Create dependent of the account
    # @param account_id [Integer] the id of the parent account to create a dependent for
    # @param [Hash] opts the optional parameters
    # @option opts [Account] :body 
    # @return [SirqulResponse]
    def create(account_id, opts = {})
      data, _status_code, _headers = create_with_http_info(account_id, opts)
      data
    end

    # Create Dependent
    # Create dependent of the account
    # @param account_id [Integer] the id of the parent account to create a dependent for
    # @param [Hash] opts the optional parameters
    # @option opts [Account] :body 
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def create_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DependentApi.create ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DependentApi.create"
      end
      # resource path
      local_var_path = '/cargo/dependent/{accountId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DependentApi.create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DependentApi#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get dependent list of an account
    # Get the dependent list of an account
    # @param account_id [Integer] the id of the parent account to get a list of dependents
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def get_dependents(account_id, opts = {})
      data, _status_code, _headers = get_dependents_with_http_info(account_id, opts)
      data
    end

    # Get dependent list of an account
    # Get the dependent list of an account
    # @param account_id [Integer] the id of the parent account to get a list of dependents
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def get_dependents_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DependentApi.get_dependents ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DependentApi.get_dependents"
      end
      # resource path
      local_var_path = '/cargo/dependent/{accountId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DependentApi.get_dependents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DependentApi#get_dependents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Dependent
    # Delete the Dependent
    # @param account_id [Integer] the id of the parent account tied to the dependent
    # @param dependent_id [Integer] the id of the dependent to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_dependent(account_id, dependent_id, opts = {})
      remove_dependent_with_http_info(account_id, dependent_id, opts)
      nil
    end

    # Delete Dependent
    # Delete the Dependent
    # @param account_id [Integer] the id of the parent account tied to the dependent
    # @param dependent_id [Integer] the id of the dependent to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_dependent_with_http_info(account_id, dependent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DependentApi.remove_dependent ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DependentApi.remove_dependent"
      end
      # verify the required parameter 'dependent_id' is set
      if @api_client.config.client_side_validation && dependent_id.nil?
        fail ArgumentError, "Missing the required parameter 'dependent_id' when calling DependentApi.remove_dependent"
      end
      # resource path
      local_var_path = '/cargo/dependent/{accountId}'.sub('{' + 'accountId' + '}', CGI.escape(account_id.to_s)).sub('{' + 'dependentId' + '}', CGI.escape(dependent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DependentApi.remove_dependent",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DependentApi#remove_dependent\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
