=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class DisbursementApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check Disbursements
    # Checks the status of a captured disbrusement to see if it has been settled.
    # @param disbursement_id [Integer] the ID of the disbursement being checked on
    # @param [Hash] opts the optional parameters
    # @return [DisbursementResponse]
    def check_disbursements(disbursement_id, opts = {})
      data, _status_code, _headers = check_disbursements_with_http_info(disbursement_id, opts)
      data
    end

    # Check Disbursements
    # Checks the status of a captured disbrusement to see if it has been settled.
    # @param disbursement_id [Integer] the ID of the disbursement being checked on
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisbursementResponse, Integer, Hash)>] DisbursementResponse data, response status code and response headers
    def check_disbursements_with_http_info(disbursement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementApi.check_disbursements ...'
      end
      # verify the required parameter 'disbursement_id' is set
      if @api_client.config.client_side_validation && disbursement_id.nil?
        fail ArgumentError, "Missing the required parameter 'disbursement_id' when calling DisbursementApi.check_disbursements"
      end
      # resource path
      local_var_path = '/disbursement/check'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disbursementId'] = disbursement_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisbursementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DisbursementApi.check_disbursements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementApi#check_disbursements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Disbursement
    # Creates a Disbursement for sending money to a retailer
    # @param account_id [Integer] the ID of the logging in user (must be an EXECUTIVE account)
    # @param receiver_account_id [Integer] the ID of the account receiving the disbursement
    # @param original_sender_account_id [Integer] the ID of the original sender account
    # @param amount [Float] the dollar amount of the disbursement
    # @param provider [String] the provider (e.g. Authorize.net, Bill.com, etc.)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :scheduled_date the date that the disbursement is scheduled to go out to the payment provider
    # @option opts [String] :title a title given for the disbursement
    # @option opts [String] :comment a comment that could be made for a disbursement
    # @option opts [String] :external_id external ID, which can be used as a way to reference the disbursement
    # @option opts [String] :introspection_params This is for specifying parameters to make an http callback request for validating that the disbursement is valid
    # @return [DisbursementResponse]
    def create_disbursement(account_id, receiver_account_id, original_sender_account_id, amount, provider, opts = {})
      data, _status_code, _headers = create_disbursement_with_http_info(account_id, receiver_account_id, original_sender_account_id, amount, provider, opts)
      data
    end

    # Create Disbursement
    # Creates a Disbursement for sending money to a retailer
    # @param account_id [Integer] the ID of the logging in user (must be an EXECUTIVE account)
    # @param receiver_account_id [Integer] the ID of the account receiving the disbursement
    # @param original_sender_account_id [Integer] the ID of the original sender account
    # @param amount [Float] the dollar amount of the disbursement
    # @param provider [String] the provider (e.g. Authorize.net, Bill.com, etc.)
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :scheduled_date the date that the disbursement is scheduled to go out to the payment provider
    # @option opts [String] :title a title given for the disbursement
    # @option opts [String] :comment a comment that could be made for a disbursement
    # @option opts [String] :external_id external ID, which can be used as a way to reference the disbursement
    # @option opts [String] :introspection_params This is for specifying parameters to make an http callback request for validating that the disbursement is valid
    # @return [Array<(DisbursementResponse, Integer, Hash)>] DisbursementResponse data, response status code and response headers
    def create_disbursement_with_http_info(account_id, receiver_account_id, original_sender_account_id, amount, provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementApi.create_disbursement ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DisbursementApi.create_disbursement"
      end
      # verify the required parameter 'receiver_account_id' is set
      if @api_client.config.client_side_validation && receiver_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'receiver_account_id' when calling DisbursementApi.create_disbursement"
      end
      # verify the required parameter 'original_sender_account_id' is set
      if @api_client.config.client_side_validation && original_sender_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'original_sender_account_id' when calling DisbursementApi.create_disbursement"
      end
      # verify the required parameter 'amount' is set
      if @api_client.config.client_side_validation && amount.nil?
        fail ArgumentError, "Missing the required parameter 'amount' when calling DisbursementApi.create_disbursement"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling DisbursementApi.create_disbursement"
      end
      # verify enum value
      allowable_values = ["AUTHORIZE_NET", "AMAZON_FPS", "BILL_COM"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/disbursement/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'receiverAccountId'] = receiver_account_id
      query_params[:'originalSenderAccountId'] = original_sender_account_id
      query_params[:'amount'] = amount
      query_params[:'provider'] = provider
      query_params[:'scheduledDate'] = opts[:'scheduled_date'] if !opts[:'scheduled_date'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'comment'] = opts[:'comment'] if !opts[:'comment'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'introspectionParams'] = opts[:'introspection_params'] if !opts[:'introspection_params'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisbursementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DisbursementApi.create_disbursement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementApi#create_disbursement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Disbursement
    # Get Disbursement details
    # @param account_id [Integer] The logged in user.
    # @param disbursement_id [Integer] the id of the disbursement
    # @param [Hash] opts the optional parameters
    # @return [DisbursementResponse]
    def get_disbursement(account_id, disbursement_id, opts = {})
      data, _status_code, _headers = get_disbursement_with_http_info(account_id, disbursement_id, opts)
      data
    end

    # Get Disbursement
    # Get Disbursement details
    # @param account_id [Integer] The logged in user.
    # @param disbursement_id [Integer] the id of the disbursement
    # @param [Hash] opts the optional parameters
    # @return [Array<(DisbursementResponse, Integer, Hash)>] DisbursementResponse data, response status code and response headers
    def get_disbursement_with_http_info(account_id, disbursement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementApi.get_disbursement ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DisbursementApi.get_disbursement"
      end
      # verify the required parameter 'disbursement_id' is set
      if @api_client.config.client_side_validation && disbursement_id.nil?
        fail ArgumentError, "Missing the required parameter 'disbursement_id' when calling DisbursementApi.get_disbursement"
      end
      # resource path
      local_var_path = '/disbursement/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'disbursementId'] = disbursement_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisbursementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DisbursementApi.get_disbursement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementApi#get_disbursement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Disbursements
    # Search Disbursements
    # @param account_id [Integer] the id of the logged in user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :receiver_account_id filter results by the id of the account receiving the disbursement
    # @option opts [String] :statuses comma separated list of status values to search for, possilbe values include: NEW, APPROVED, VALIDATING, ERROR, AUTHORIZED, CAPTURED, SETTLED
    # @option opts [String] :providers comma separated list of payment providers to search for, possbile values include: AUTHORIZE_NET, AMAZON_FPS, BILL_COM
    # @option opts [Integer] :before_date the date for searching disbursements before it has been processed
    # @option opts [Integer] :after_date the date for searching disbursements before it has been processed
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :limit the limit per result set for pagination (default to 20)
    # @option opts [Boolean] :active_only search on disbursements that are active only (default to false)
    # @option opts [String] :external_id search results by this external ID (that can be used to reference the disbursement)
    # @return [Array<DisbursementResponse>]
    def search_disbursements(account_id, opts = {})
      data, _status_code, _headers = search_disbursements_with_http_info(account_id, opts)
      data
    end

    # Search Disbursements
    # Search Disbursements
    # @param account_id [Integer] the id of the logged in user
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :receiver_account_id filter results by the id of the account receiving the disbursement
    # @option opts [String] :statuses comma separated list of status values to search for, possilbe values include: NEW, APPROVED, VALIDATING, ERROR, AUTHORIZED, CAPTURED, SETTLED
    # @option opts [String] :providers comma separated list of payment providers to search for, possbile values include: AUTHORIZE_NET, AMAZON_FPS, BILL_COM
    # @option opts [Integer] :before_date the date for searching disbursements before it has been processed
    # @option opts [Integer] :after_date the date for searching disbursements before it has been processed
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :limit the limit per result set for pagination (default to 20)
    # @option opts [Boolean] :active_only search on disbursements that are active only (default to false)
    # @option opts [String] :external_id search results by this external ID (that can be used to reference the disbursement)
    # @return [Array<(Array<DisbursementResponse>, Integer, Hash)>] Array<DisbursementResponse> data, response status code and response headers
    def search_disbursements_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementApi.search_disbursements ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DisbursementApi.search_disbursements"
      end
      # resource path
      local_var_path = '/disbursement/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'receiverAccountId'] = opts[:'receiver_account_id'] if !opts[:'receiver_account_id'].nil?
      query_params[:'statuses'] = opts[:'statuses'] if !opts[:'statuses'].nil?
      query_params[:'providers'] = opts[:'providers'] if !opts[:'providers'].nil?
      query_params[:'beforeDate'] = opts[:'before_date'] if !opts[:'before_date'].nil?
      query_params[:'afterDate'] = opts[:'after_date'] if !opts[:'after_date'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<DisbursementResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DisbursementApi.search_disbursements",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementApi#search_disbursements\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Disbursement
    # Update Disbursement
    # @param account_id [Integer] the id of the logged in user
    # @param disbursement_id [Integer] the id of the disbursement being updated
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :amount the disbursement dollar amount being updated
    # @option opts [String] :provider the payments and/or billing provider (e.g. Authorize.net, Bill.com, etc.)
    # @option opts [Integer] :scheduled_date the date that the disbursement is scheduled to go out to the payment provider
    # @option opts [String] :title the title given to the disbursement
    # @option opts [String] :comment a comment that can be made on a disbursement
    # @option opts [String] :external_id an external ID that can be used to reference the disbursement
    # @option opts [Boolean] :_retry determines whether to try sending the disbursement again in the case of a previous failure
    # @option opts [String] :introspection_params for specifying parameters to make an http callback request for validating that the disbursement is valid
    # @return [DisbursementResponse]
    def update_disbursement(account_id, disbursement_id, opts = {})
      data, _status_code, _headers = update_disbursement_with_http_info(account_id, disbursement_id, opts)
      data
    end

    # Update Disbursement
    # Update Disbursement
    # @param account_id [Integer] the id of the logged in user
    # @param disbursement_id [Integer] the id of the disbursement being updated
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :amount the disbursement dollar amount being updated
    # @option opts [String] :provider the payments and/or billing provider (e.g. Authorize.net, Bill.com, etc.)
    # @option opts [Integer] :scheduled_date the date that the disbursement is scheduled to go out to the payment provider
    # @option opts [String] :title the title given to the disbursement
    # @option opts [String] :comment a comment that can be made on a disbursement
    # @option opts [String] :external_id an external ID that can be used to reference the disbursement
    # @option opts [Boolean] :_retry determines whether to try sending the disbursement again in the case of a previous failure
    # @option opts [String] :introspection_params for specifying parameters to make an http callback request for validating that the disbursement is valid
    # @return [Array<(DisbursementResponse, Integer, Hash)>] DisbursementResponse data, response status code and response headers
    def update_disbursement_with_http_info(account_id, disbursement_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisbursementApi.update_disbursement ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling DisbursementApi.update_disbursement"
      end
      # verify the required parameter 'disbursement_id' is set
      if @api_client.config.client_side_validation && disbursement_id.nil?
        fail ArgumentError, "Missing the required parameter 'disbursement_id' when calling DisbursementApi.update_disbursement"
      end
      allowable_values = ["AUTHORIZE_NET", "AMAZON_FPS", "BILL_COM"]
      if @api_client.config.client_side_validation && opts[:'provider'] && !allowable_values.include?(opts[:'provider'])
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/disbursement/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'disbursementId'] = disbursement_id
      query_params[:'amount'] = opts[:'amount'] if !opts[:'amount'].nil?
      query_params[:'provider'] = opts[:'provider'] if !opts[:'provider'].nil?
      query_params[:'scheduledDate'] = opts[:'scheduled_date'] if !opts[:'scheduled_date'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'comment'] = opts[:'comment'] if !opts[:'comment'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'retry'] = opts[:'_retry'] if !opts[:'_retry'].nil?
      query_params[:'introspectionParams'] = opts[:'introspection_params'] if !opts[:'introspection_params'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisbursementResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DisbursementApi.update_disbursement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisbursementApi#update_disbursement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
