=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class EmployeeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Assign Employee
    # Assign An existing account to be an employee
    # @param account_id [Integer] The account id of the logged in user
    # @param manager_account_id [Integer] The account id of the manager to assign under
    # @param employee_account_id [Integer] The account id of the user to be assigned as employee
    # @param [Hash] opts the optional parameters
    # @option opts [String] :role The role to assign to the employee (e.g. RETAILER or RETAILER_LIMITED)
    # @return [EmployeeResponse]
    def assign_employee(account_id, manager_account_id, employee_account_id, opts = {})
      data, _status_code, _headers = assign_employee_with_http_info(account_id, manager_account_id, employee_account_id, opts)
      data
    end

    # Assign Employee
    # Assign An existing account to be an employee
    # @param account_id [Integer] The account id of the logged in user
    # @param manager_account_id [Integer] The account id of the manager to assign under
    # @param employee_account_id [Integer] The account id of the user to be assigned as employee
    # @param [Hash] opts the optional parameters
    # @option opts [String] :role The role to assign to the employee (e.g. RETAILER or RETAILER_LIMITED)
    # @return [Array<(EmployeeResponse, Integer, Hash)>] EmployeeResponse data, response status code and response headers
    def assign_employee_with_http_info(account_id, manager_account_id, employee_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeApi.assign_employee ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EmployeeApi.assign_employee"
      end
      # verify the required parameter 'manager_account_id' is set
      if @api_client.config.client_side_validation && manager_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'manager_account_id' when calling EmployeeApi.assign_employee"
      end
      # verify the required parameter 'employee_account_id' is set
      if @api_client.config.client_side_validation && employee_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_account_id' when calling EmployeeApi.assign_employee"
      end
      # resource path
      local_var_path = '/employee/assign'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'managerAccountId'] = manager_account_id
      query_params[:'employeeAccountId'] = employee_account_id
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeApi.assign_employee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeApi#assign_employee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign Employee to Location
    # Assign or unassign the account to a retailer location.
    # @param account_id [Integer] The account id of the logged in user
    # @param retailer_location_id [Integer] The retailer location to apply the change to
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :employee_account_id The account id of the user to apply the change to
    # @option opts [Boolean] :assign If true (default) assign to the location, otherwise remove from the retailer (default to true)
    # @return [SirqulResponse]
    def assign_to_location_employee(account_id, retailer_location_id, opts = {})
      data, _status_code, _headers = assign_to_location_employee_with_http_info(account_id, retailer_location_id, opts)
      data
    end

    # Assign Employee to Location
    # Assign or unassign the account to a retailer location.
    # @param account_id [Integer] The account id of the logged in user
    # @param retailer_location_id [Integer] The retailer location to apply the change to
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :employee_account_id The account id of the user to apply the change to
    # @option opts [Boolean] :assign If true (default) assign to the location, otherwise remove from the retailer (default to true)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def assign_to_location_employee_with_http_info(account_id, retailer_location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeApi.assign_to_location_employee ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EmployeeApi.assign_to_location_employee"
      end
      # verify the required parameter 'retailer_location_id' is set
      if @api_client.config.client_side_validation && retailer_location_id.nil?
        fail ArgumentError, "Missing the required parameter 'retailer_location_id' when calling EmployeeApi.assign_to_location_employee"
      end
      # resource path
      local_var_path = '/employee/assignToLocation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'retailerLocationId'] = retailer_location_id
      query_params[:'employeeAccountId'] = opts[:'employee_account_id'] if !opts[:'employee_account_id'].nil?
      query_params[:'assign'] = opts[:'assign'] if !opts[:'assign'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeApi.assign_to_location_employee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeApi#assign_to_location_employee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Employee
    # Create a new account record with the provided information.
    # @param account_id [Integer] The account id of the logged in user
    # @param manager_account_id [Integer] The account id of the manager to assign under
    # @param username [String] The username/email for the new user. This must be unique across the entire the system.
    # @param password [String] The password for the new user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name a name field
    # @option opts [String] :prefix_name The name prefix; Mr, Mrs, etc
    # @option opts [String] :first_name The first name
    # @option opts [String] :middle_name The middle name
    # @option opts [String] :last_name The last name
    # @option opts [String] :suffix_name The name suffix; Jr, Sr, III, etc
    # @option opts [String] :title The title of the user
    # @option opts [String] :about_us Additional about/biography text
    # @option opts [Integer] :asset_id the asset id to set the user&#39;s profile image
    # @option opts [String] :gender The gender
    # @option opts [String] :home_phone The home phone number
    # @option opts [String] :cell_phone The cellular phone number
    # @option opts [String] :cell_phone_carrier The cellular service provider. This is required for sending SMS. Leave this empty if the provider is not on the list of supported carriers.
    # @option opts [String] :business_phone The business phone number
    # @option opts [String] :email_address The user&#39;s contact email address (NOT the username)
    # @option opts [String] :street_address The street address of the user&#39;s contact location
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :city The city of the user&#39;s contact location
    # @option opts [String] :state The state of the user&#39;s contact location
    # @option opts [String] :zipcode The zipcode of the user&#39;s contact location
    # @option opts [String] :country The country of the user&#39;s contact location
    # @option opts [String] :role The role; RETAILER or RETAILER_LIMITED, defaulted to RETAILER_LIMITED
    # @option opts [String] :retailer_location_ids the retailer location IDs the employee is associated with
    # @option opts [String] :settings_app_key Determines whether to return the application settings for the employee for a particular application
    # @option opts [String] :app_blob external custom client defined data (per Application)
    # @option opts [String] :assigned_device_id The device id to assign to the user (used for IPS beacon tracking)
    # @return [EmployeeResponse]
    def create_employee(account_id, manager_account_id, username, password, opts = {})
      data, _status_code, _headers = create_employee_with_http_info(account_id, manager_account_id, username, password, opts)
      data
    end

    # Create Employee
    # Create a new account record with the provided information.
    # @param account_id [Integer] The account id of the logged in user
    # @param manager_account_id [Integer] The account id of the manager to assign under
    # @param username [String] The username/email for the new user. This must be unique across the entire the system.
    # @param password [String] The password for the new user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name a name field
    # @option opts [String] :prefix_name The name prefix; Mr, Mrs, etc
    # @option opts [String] :first_name The first name
    # @option opts [String] :middle_name The middle name
    # @option opts [String] :last_name The last name
    # @option opts [String] :suffix_name The name suffix; Jr, Sr, III, etc
    # @option opts [String] :title The title of the user
    # @option opts [String] :about_us Additional about/biography text
    # @option opts [Integer] :asset_id the asset id to set the user&#39;s profile image
    # @option opts [String] :gender The gender
    # @option opts [String] :home_phone The home phone number
    # @option opts [String] :cell_phone The cellular phone number
    # @option opts [String] :cell_phone_carrier The cellular service provider. This is required for sending SMS. Leave this empty if the provider is not on the list of supported carriers.
    # @option opts [String] :business_phone The business phone number
    # @option opts [String] :email_address The user&#39;s contact email address (NOT the username)
    # @option opts [String] :street_address The street address of the user&#39;s contact location
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :city The city of the user&#39;s contact location
    # @option opts [String] :state The state of the user&#39;s contact location
    # @option opts [String] :zipcode The zipcode of the user&#39;s contact location
    # @option opts [String] :country The country of the user&#39;s contact location
    # @option opts [String] :role The role; RETAILER or RETAILER_LIMITED, defaulted to RETAILER_LIMITED
    # @option opts [String] :retailer_location_ids the retailer location IDs the employee is associated with
    # @option opts [String] :settings_app_key Determines whether to return the application settings for the employee for a particular application
    # @option opts [String] :app_blob external custom client defined data (per Application)
    # @option opts [String] :assigned_device_id The device id to assign to the user (used for IPS beacon tracking)
    # @return [Array<(EmployeeResponse, Integer, Hash)>] EmployeeResponse data, response status code and response headers
    def create_employee_with_http_info(account_id, manager_account_id, username, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeApi.create_employee ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EmployeeApi.create_employee"
      end
      # verify the required parameter 'manager_account_id' is set
      if @api_client.config.client_side_validation && manager_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'manager_account_id' when calling EmployeeApi.create_employee"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling EmployeeApi.create_employee"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling EmployeeApi.create_employee"
      end
      allowable_values = ["MALE", "FEMALE", "ANY"]
      if @api_client.config.client_side_validation && opts[:'gender'] && !allowable_values.include?(opts[:'gender'])
        fail ArgumentError, "invalid value for \"gender\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/employee/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'managerAccountId'] = manager_account_id
      query_params[:'username'] = username
      query_params[:'password'] = password
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'prefixName'] = opts[:'prefix_name'] if !opts[:'prefix_name'].nil?
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'middleName'] = opts[:'middle_name'] if !opts[:'middle_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'suffixName'] = opts[:'suffix_name'] if !opts[:'suffix_name'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'aboutUs'] = opts[:'about_us'] if !opts[:'about_us'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'homePhone'] = opts[:'home_phone'] if !opts[:'home_phone'].nil?
      query_params[:'cellPhone'] = opts[:'cell_phone'] if !opts[:'cell_phone'].nil?
      query_params[:'cellPhoneCarrier'] = opts[:'cell_phone_carrier'] if !opts[:'cell_phone_carrier'].nil?
      query_params[:'businessPhone'] = opts[:'business_phone'] if !opts[:'business_phone'].nil?
      query_params[:'emailAddress'] = opts[:'email_address'] if !opts[:'email_address'].nil?
      query_params[:'streetAddress'] = opts[:'street_address'] if !opts[:'street_address'].nil?
      query_params[:'streetAddress2'] = opts[:'street_address2'] if !opts[:'street_address2'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'zipcode'] = opts[:'zipcode'] if !opts[:'zipcode'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'settingsAppKey'] = opts[:'settings_app_key'] if !opts[:'settings_app_key'].nil?
      query_params[:'appBlob'] = opts[:'app_blob'] if !opts[:'app_blob'].nil?
      query_params[:'assignedDeviceId'] = opts[:'assigned_device_id'] if !opts[:'assigned_device_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeApi.create_employee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeApi#create_employee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Employee
    # Set the deleted date field which marks the record as deleted.
    # @param account_id [Integer] the id of the logged in user
    # @param employee_account_id [Integer] the id of the employee to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_employee(account_id, employee_account_id, opts = {})
      data, _status_code, _headers = delete_employee_with_http_info(account_id, employee_account_id, opts)
      data
    end

    # Delete Employee
    # Set the deleted date field which marks the record as deleted.
    # @param account_id [Integer] the id of the logged in user
    # @param employee_account_id [Integer] the id of the employee to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_employee_with_http_info(account_id, employee_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeApi.delete_employee ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EmployeeApi.delete_employee"
      end
      # verify the required parameter 'employee_account_id' is set
      if @api_client.config.client_side_validation && employee_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_account_id' when calling EmployeeApi.delete_employee"
      end
      # resource path
      local_var_path = '/employee/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'employeeAccountId'] = employee_account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeApi.delete_employee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeApi#delete_employee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Employee
    # Get the account record for the account id provided.
    # @param account_id [Integer] the id of logged in user
    # @param employee_account_id [Integer] the id of the employee account to get
    # @param [Hash] opts the optional parameters
    # @option opts [String] :settings_app_key Determines whether to return the application settings for the employee for a particular application
    # @return [EmployeeResponse]
    def get_employee(account_id, employee_account_id, opts = {})
      data, _status_code, _headers = get_employee_with_http_info(account_id, employee_account_id, opts)
      data
    end

    # Get Employee
    # Get the account record for the account id provided.
    # @param account_id [Integer] the id of logged in user
    # @param employee_account_id [Integer] the id of the employee account to get
    # @param [Hash] opts the optional parameters
    # @option opts [String] :settings_app_key Determines whether to return the application settings for the employee for a particular application
    # @return [Array<(EmployeeResponse, Integer, Hash)>] EmployeeResponse data, response status code and response headers
    def get_employee_with_http_info(account_id, employee_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeApi.get_employee ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EmployeeApi.get_employee"
      end
      # verify the required parameter 'employee_account_id' is set
      if @api_client.config.client_side_validation && employee_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_account_id' when calling EmployeeApi.get_employee"
      end
      # resource path
      local_var_path = '/employee/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'employeeAccountId'] = employee_account_id
      query_params[:'settingsAppKey'] = opts[:'settings_app_key'] if !opts[:'settings_app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeApi.get_employee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeApi#get_employee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Employees
    # Use the accountId to determine the associated BillableEntity. From there get a list of all accounts associated as managers/employees.
    # @param account_id [Integer] The account id of the logged in user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :role The role to limit the search to: RETAILER or RETAILER_LIMITED. Leave empty to search on both roles.
    # @option opts [Integer] :retailer_id Filters employees by retailer
    # @option opts [Integer] :retailer_location_id Filter employees by retailer locations
    # @option opts [String] :q Deprecated parameter
    # @option opts [String] :keyword an optional keyword to search on; ignored if empty
    # @option opts [String] :sort_field The field to sort by. Possible values include: DISPLAY, CREATED, UPDATED, ACTIVE, DELETED, LAST_LOGGED_IN, CONTACT_EMAIL, RETAILER_LOCATION_NAME, RETAILER_NAME
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order (default to false)
    # @option opts [Integer] :_i Deprecated parameter
    # @option opts [Integer] :start Start the result set at some index (default to 0)
    # @option opts [Integer] :_l Deprecated parameter
    # @option opts [Integer] :limit Limit the result to some number (default to 20)
    # @option opts [Boolean] :active_only Filter results to only return active employees (default to true)
    # @option opts [Boolean] :managed_only Filter results to only employees that you manage
    # @option opts [String] :settings_app_key Determines whether to return the application settings for the employee for a particular application
    # @option opts [String] :category_ids Comma separated list of category ids to filter results
    # @option opts [String] :query Legacy/reporting query parameter used for formatting employee responses
    # @return [Array<EmployeeResponse>]
    def search_employees(account_id, opts = {})
      data, _status_code, _headers = search_employees_with_http_info(account_id, opts)
      data
    end

    # Search Employees
    # Use the accountId to determine the associated BillableEntity. From there get a list of all accounts associated as managers/employees.
    # @param account_id [Integer] The account id of the logged in user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :role The role to limit the search to: RETAILER or RETAILER_LIMITED. Leave empty to search on both roles.
    # @option opts [Integer] :retailer_id Filters employees by retailer
    # @option opts [Integer] :retailer_location_id Filter employees by retailer locations
    # @option opts [String] :q Deprecated parameter
    # @option opts [String] :keyword an optional keyword to search on; ignored if empty
    # @option opts [String] :sort_field The field to sort by. Possible values include: DISPLAY, CREATED, UPDATED, ACTIVE, DELETED, LAST_LOGGED_IN, CONTACT_EMAIL, RETAILER_LOCATION_NAME, RETAILER_NAME
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order (default to false)
    # @option opts [Integer] :_i Deprecated parameter
    # @option opts [Integer] :start Start the result set at some index (default to 0)
    # @option opts [Integer] :_l Deprecated parameter
    # @option opts [Integer] :limit Limit the result to some number (default to 20)
    # @option opts [Boolean] :active_only Filter results to only return active employees (default to true)
    # @option opts [Boolean] :managed_only Filter results to only employees that you manage
    # @option opts [String] :settings_app_key Determines whether to return the application settings for the employee for a particular application
    # @option opts [String] :category_ids Comma separated list of category ids to filter results
    # @option opts [String] :query Legacy/reporting query parameter used for formatting employee responses
    # @return [Array<(Array<EmployeeResponse>, Integer, Hash)>] Array<EmployeeResponse> data, response status code and response headers
    def search_employees_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeApi.search_employees ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EmployeeApi.search_employees"
      end
      allowable_values = ["ID", "DISPLAY", "CREATED", "UPDATED", "ACTIVE", "DELETED", "LAST_LOGGED_IN", "CONTACT_EMAIL", "ACCOUNT_TYPE", "RETAILER_LOCATION_NAME", "RETAILER_NAME"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/employee/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'_i'] = opts[:'_i'] if !opts[:'_i'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'_l'] = opts[:'_l'] if !opts[:'_l'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'managedOnly'] = opts[:'managed_only'] if !opts[:'managed_only'].nil?
      query_params[:'settingsAppKey'] = opts[:'settings_app_key'] if !opts[:'settings_app_key'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EmployeeResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeApi.search_employees",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeApi#search_employees\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unassign Employee
    # Unassign An existing account to be an employee
    # @param account_id [Integer] The account id of the logged in user
    # @param employee_account_id [Integer] The account id of the user to be unassigned
    # @param [Hash] opts the optional parameters
    # @return [EmployeeResponse]
    def unassign_employee(account_id, employee_account_id, opts = {})
      data, _status_code, _headers = unassign_employee_with_http_info(account_id, employee_account_id, opts)
      data
    end

    # Unassign Employee
    # Unassign An existing account to be an employee
    # @param account_id [Integer] The account id of the logged in user
    # @param employee_account_id [Integer] The account id of the user to be unassigned
    # @param [Hash] opts the optional parameters
    # @return [Array<(EmployeeResponse, Integer, Hash)>] EmployeeResponse data, response status code and response headers
    def unassign_employee_with_http_info(account_id, employee_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeApi.unassign_employee ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EmployeeApi.unassign_employee"
      end
      # verify the required parameter 'employee_account_id' is set
      if @api_client.config.client_side_validation && employee_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_account_id' when calling EmployeeApi.unassign_employee"
      end
      # resource path
      local_var_path = '/employee/unassign'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'employeeAccountId'] = employee_account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeApi.unassign_employee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeApi#unassign_employee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Employee
    # Update the account record with the provided information.
    # @param account_id [Integer] The account id of the logged in user
    # @param employee_account_id [Integer] the id of the employee account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :manager_account_id The account id of the manager to assign under
    # @option opts [String] :name a name field
    # @option opts [String] :prefix_name The name prefix; Mr, Mrs, etc
    # @option opts [String] :first_name The first name
    # @option opts [String] :middle_name The middle name
    # @option opts [String] :last_name The last name
    # @option opts [String] :suffix_name The name suffix; Jr, Sr, III, etc
    # @option opts [String] :title The title of the user
    # @option opts [Integer] :asset_id the asset id to set the user&#39;s profile image
    # @option opts [String] :gender The gender {MALE, FEMALE, ANY}
    # @option opts [String] :home_phone The home phone number
    # @option opts [String] :cell_phone The cellular phone number
    # @option opts [String] :cell_phone_carrier The cellular service provider. This is required for sending SMS. Leave this empty if the provider is not on the list of supported carriers. Supported Carriers: {ATT, QWEST, T_MOBILE, VERIZON, SPRINT, VIRIGIN_MOBILE, NEXTEL, ALLTEL, METRO_PCS, POWERTEL, BOOST_MOBILE, SUNCOM, TRACFONE, US_CELLULAR}
    # @option opts [String] :business_phone The business phone number
    # @option opts [String] :email_address The user&#39;s contact email address (NOT the username)
    # @option opts [String] :street_address The street address of the user&#39;s contact location
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :city The city of the user&#39;s contact location
    # @option opts [String] :state The state of the user&#39;s contact location
    # @option opts [String] :zipcode The zipcode of the user&#39;s contact location
    # @option opts [String] :country The country of the user&#39;s contact location
    # @option opts [String] :role The role; RETAILER or RETAILER_LIMITED, defaulted to RETAILER_LIMITED
    # @option opts [Boolean] :active Sets whether the employee is active or inactive
    # @option opts [String] :password Sets the password for the employee
    # @option opts [String] :retailer_location_ids Sets which retailer locations the employee is assigned to
    # @option opts [String] :settings_app_key Determines whether to return the application settings for the employee for a particular application
    # @option opts [String] :app_blob external custom client defined data (per Application)
    # @option opts [String] :assigned_device_id The device id to assign to the user (used for IPS beacon tracking)
    # @return [EmployeeResponse]
    def update_employee(account_id, employee_account_id, opts = {})
      data, _status_code, _headers = update_employee_with_http_info(account_id, employee_account_id, opts)
      data
    end

    # Update Employee
    # Update the account record with the provided information.
    # @param account_id [Integer] The account id of the logged in user
    # @param employee_account_id [Integer] the id of the employee account
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :manager_account_id The account id of the manager to assign under
    # @option opts [String] :name a name field
    # @option opts [String] :prefix_name The name prefix; Mr, Mrs, etc
    # @option opts [String] :first_name The first name
    # @option opts [String] :middle_name The middle name
    # @option opts [String] :last_name The last name
    # @option opts [String] :suffix_name The name suffix; Jr, Sr, III, etc
    # @option opts [String] :title The title of the user
    # @option opts [Integer] :asset_id the asset id to set the user&#39;s profile image
    # @option opts [String] :gender The gender {MALE, FEMALE, ANY}
    # @option opts [String] :home_phone The home phone number
    # @option opts [String] :cell_phone The cellular phone number
    # @option opts [String] :cell_phone_carrier The cellular service provider. This is required for sending SMS. Leave this empty if the provider is not on the list of supported carriers. Supported Carriers: {ATT, QWEST, T_MOBILE, VERIZON, SPRINT, VIRIGIN_MOBILE, NEXTEL, ALLTEL, METRO_PCS, POWERTEL, BOOST_MOBILE, SUNCOM, TRACFONE, US_CELLULAR}
    # @option opts [String] :business_phone The business phone number
    # @option opts [String] :email_address The user&#39;s contact email address (NOT the username)
    # @option opts [String] :street_address The street address of the user&#39;s contact location
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :city The city of the user&#39;s contact location
    # @option opts [String] :state The state of the user&#39;s contact location
    # @option opts [String] :zipcode The zipcode of the user&#39;s contact location
    # @option opts [String] :country The country of the user&#39;s contact location
    # @option opts [String] :role The role; RETAILER or RETAILER_LIMITED, defaulted to RETAILER_LIMITED
    # @option opts [Boolean] :active Sets whether the employee is active or inactive
    # @option opts [String] :password Sets the password for the employee
    # @option opts [String] :retailer_location_ids Sets which retailer locations the employee is assigned to
    # @option opts [String] :settings_app_key Determines whether to return the application settings for the employee for a particular application
    # @option opts [String] :app_blob external custom client defined data (per Application)
    # @option opts [String] :assigned_device_id The device id to assign to the user (used for IPS beacon tracking)
    # @return [Array<(EmployeeResponse, Integer, Hash)>] EmployeeResponse data, response status code and response headers
    def update_employee_with_http_info(account_id, employee_account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeApi.update_employee ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EmployeeApi.update_employee"
      end
      # verify the required parameter 'employee_account_id' is set
      if @api_client.config.client_side_validation && employee_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'employee_account_id' when calling EmployeeApi.update_employee"
      end
      allowable_values = ["MALE", "FEMALE", "ANY"]
      if @api_client.config.client_side_validation && opts[:'gender'] && !allowable_values.include?(opts[:'gender'])
        fail ArgumentError, "invalid value for \"gender\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/employee/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'employeeAccountId'] = employee_account_id
      query_params[:'managerAccountId'] = opts[:'manager_account_id'] if !opts[:'manager_account_id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'prefixName'] = opts[:'prefix_name'] if !opts[:'prefix_name'].nil?
      query_params[:'firstName'] = opts[:'first_name'] if !opts[:'first_name'].nil?
      query_params[:'middleName'] = opts[:'middle_name'] if !opts[:'middle_name'].nil?
      query_params[:'lastName'] = opts[:'last_name'] if !opts[:'last_name'].nil?
      query_params[:'suffixName'] = opts[:'suffix_name'] if !opts[:'suffix_name'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'homePhone'] = opts[:'home_phone'] if !opts[:'home_phone'].nil?
      query_params[:'cellPhone'] = opts[:'cell_phone'] if !opts[:'cell_phone'].nil?
      query_params[:'cellPhoneCarrier'] = opts[:'cell_phone_carrier'] if !opts[:'cell_phone_carrier'].nil?
      query_params[:'businessPhone'] = opts[:'business_phone'] if !opts[:'business_phone'].nil?
      query_params[:'emailAddress'] = opts[:'email_address'] if !opts[:'email_address'].nil?
      query_params[:'streetAddress'] = opts[:'street_address'] if !opts[:'street_address'].nil?
      query_params[:'streetAddress2'] = opts[:'street_address2'] if !opts[:'street_address2'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'zipcode'] = opts[:'zipcode'] if !opts[:'zipcode'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'settingsAppKey'] = opts[:'settings_app_key'] if !opts[:'settings_app_key'].nil?
      query_params[:'appBlob'] = opts[:'app_blob'] if !opts[:'app_blob'].nil?
      query_params[:'assignedDeviceId'] = opts[:'assigned_device_id'] if !opts[:'assigned_device_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EmployeeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EmployeeApi.update_employee",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeApi#update_employee\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
