=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class EventApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Attend Event
    #  Specify whether the user is attending an event at a particular location. This can also be used as a \"check-in\" action.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id (deviceId or accountId required)
    # @option opts [String] :app_key The application of where to send notifications about the attend action
    # @option opts [Integer] :listing_id The scheduled broadcast or marketing experience id
    # @option opts [Integer] :retailer_location_id The retailer location where the event is being held
    # @option opts [Integer] :offer_location_id The actual event being held
    # @option opts [Integer] :transaction_id The wallet item to update the status of, if provided then ignore the listingId, retailerLocationId, and the offerLocationId
    # @option opts [Integer] :status Sets whether the user is: undecided (0), attending (1), attending and checked in (2), or not attending (3)
    # @option opts [Float] :latitude The location of the status update
    # @option opts [Float] :longitude The location of the status update
    # @return [OfferResponse]
    def attend_event(version, opts = {})
      data, _status_code, _headers = attend_event_with_http_info(version, opts)
      data
    end

    # Attend Event
    #  Specify whether the user is attending an event at a particular location. This can also be used as a \&quot;check-in\&quot; action.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id (deviceId or accountId required)
    # @option opts [String] :app_key The application of where to send notifications about the attend action
    # @option opts [Integer] :listing_id The scheduled broadcast or marketing experience id
    # @option opts [Integer] :retailer_location_id The retailer location where the event is being held
    # @option opts [Integer] :offer_location_id The actual event being held
    # @option opts [Integer] :transaction_id The wallet item to update the status of, if provided then ignore the listingId, retailerLocationId, and the offerLocationId
    # @option opts [Integer] :status Sets whether the user is: undecided (0), attending (1), attending and checked in (2), or not attending (3)
    # @option opts [Float] :latitude The location of the status update
    # @option opts [Float] :longitude The location of the status update
    # @return [Array<(OfferResponse, Integer, Hash)>] OfferResponse data, response status code and response headers
    def attend_event_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.attend_event ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventApi.attend_event"
      end
      # resource path
      local_var_path = '/api/{version}/event/attend'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'listingId'] = opts[:'listing_id'] if !opts[:'listing_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'transactionId'] = opts[:'transaction_id'] if !opts[:'transaction_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EventApi.attend_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#attend_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Event
    # Create a private event to share with associates.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param title [String] The event title
    # @param [Hash] opts the optional parameters
    # @option opts [String] :retailer_location_ids The retailer location to have the event at
    # @option opts [String] :sub_title The event sub title
    # @option opts [String] :details The event details
    # @option opts [String] :category_ids The categories the associate the event with
    # @option opts [String] :filter_ids The filters the associate the event with
    # @option opts [Boolean] :active Is this event active
    # @option opts [Integer] :image_asset_id The image to show for the event
    # @option opts [Integer] :redeemable_start The event start date/time
    # @option opts [Integer] :redeemable_end The event end date/time
    # @option opts [String] :meta_data external custom client defined data
    # @return [OfferResponse]
    def create_event(version, account_id, title, opts = {})
      data, _status_code, _headers = create_event_with_http_info(version, account_id, title, opts)
      data
    end

    # Create Event
    # Create a private event to share with associates.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param title [String] The event title
    # @param [Hash] opts the optional parameters
    # @option opts [String] :retailer_location_ids The retailer location to have the event at
    # @option opts [String] :sub_title The event sub title
    # @option opts [String] :details The event details
    # @option opts [String] :category_ids The categories the associate the event with
    # @option opts [String] :filter_ids The filters the associate the event with
    # @option opts [Boolean] :active Is this event active
    # @option opts [Integer] :image_asset_id The image to show for the event
    # @option opts [Integer] :redeemable_start The event start date/time
    # @option opts [Integer] :redeemable_end The event end date/time
    # @option opts [String] :meta_data external custom client defined data
    # @return [Array<(OfferResponse, Integer, Hash)>] OfferResponse data, response status code and response headers
    def create_event_with_http_info(version, account_id, title, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.create_event ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventApi.create_event"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EventApi.create_event"
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling EventApi.create_event"
      end
      # resource path
      local_var_path = '/api/{version}/event/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'title'] = title
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'subTitle'] = opts[:'sub_title'] if !opts[:'sub_title'].nil?
      query_params[:'details'] = opts[:'details'] if !opts[:'details'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'imageAssetId'] = opts[:'image_asset_id'] if !opts[:'image_asset_id'].nil?
      query_params[:'redeemableStart'] = opts[:'redeemable_start'] if !opts[:'redeemable_start'].nil?
      query_params[:'redeemableEnd'] = opts[:'redeemable_end'] if !opts[:'redeemable_end'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EventApi.create_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#create_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Event
    # Delete an event that the user has permissions to.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param event_id [Integer] the id of the event to update
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_event(version, account_id, event_id, opts = {})
      data, _status_code, _headers = delete_event_with_http_info(version, account_id, event_id, opts)
      data
    end

    # Delete Event
    # Delete an event that the user has permissions to.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param event_id [Integer] the id of the event to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_event_with_http_info(version, account_id, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.delete_event ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventApi.delete_event"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EventApi.delete_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventApi.delete_event"
      end
      # resource path
      local_var_path = '/api/{version}/event/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'eventId'] = event_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EventApi.delete_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#delete_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Event
    # Get an event.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param event_id [Integer] The id of the event to return
    # @param [Hash] opts the optional parameters
    # @return [OfferResponse]
    def get_event(version, account_id, event_id, opts = {})
      data, _status_code, _headers = get_event_with_http_info(version, account_id, event_id, opts)
      data
    end

    # Get Event
    # Get an event.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param event_id [Integer] The id of the event to return
    # @param [Hash] opts the optional parameters
    # @return [Array<(OfferResponse, Integer, Hash)>] OfferResponse data, response status code and response headers
    def get_event_with_http_info(version, account_id, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.get_event ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventApi.get_event"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EventApi.get_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventApi.get_event"
      end
      # resource path
      local_var_path = '/api/{version}/event/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'eventId'] = event_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EventApi.get_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#get_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Event Attendance
    # Searches on event type transactions. This can be used to see who is attending an event.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :app_key The application key
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :retailer_id Filter results for this retailer
    # @option opts [Integer] :retailer_location_id Filter results for this retailer location
    # @option opts [Integer] :exclude_retailer_location_id Exclude results from this retailer location
    # @option opts [Integer] :listing_id Filter results for this event listing
    # @option opts [Integer] :offer_id Filter results for this offer
    # @option opts [Integer] :offer_location_id Filter results for this offer location
    # @option opts [String] :customer_account_ids Filter results by accounts
    # @option opts [String] :affiliated_category_ids Comma separated list of category ids to determine whether the attendee is affiliated with the category
    # @option opts [Integer] :start_date Filter on attendance starting on or after this date (milliseconds since epoch)
    # @option opts [Integer] :end_date Filter on attendance starting on or before this date (milliseconds since epoch)
    # @option opts [String] :statuses Comma separated list of transaction statuses to filter on
    # @option opts [String] :sort_field Determines what to sort the results by {CREATED, UPDATED, SEARCH_TAGS, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, CUSTOMER_ID, CUSTOMER_DISPLAY, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}
    # @option opts [Boolean] :descending Determines whether the results are in descending order
    # @option opts [Integer] :start The start index for pagination
    # @option opts [Integer] :limit The limit for pagination
    # @return [Array<EventAttendanceResponse>]
    def search_event_transactions(version, opts = {})
      data, _status_code, _headers = search_event_transactions_with_http_info(version, opts)
      data
    end

    # Search Event Attendance
    # Searches on event type transactions. This can be used to see who is attending an event.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :app_key The application key
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :retailer_id Filter results for this retailer
    # @option opts [Integer] :retailer_location_id Filter results for this retailer location
    # @option opts [Integer] :exclude_retailer_location_id Exclude results from this retailer location
    # @option opts [Integer] :listing_id Filter results for this event listing
    # @option opts [Integer] :offer_id Filter results for this offer
    # @option opts [Integer] :offer_location_id Filter results for this offer location
    # @option opts [String] :customer_account_ids Filter results by accounts
    # @option opts [String] :affiliated_category_ids Comma separated list of category ids to determine whether the attendee is affiliated with the category
    # @option opts [Integer] :start_date Filter on attendance starting on or after this date (milliseconds since epoch)
    # @option opts [Integer] :end_date Filter on attendance starting on or before this date (milliseconds since epoch)
    # @option opts [String] :statuses Comma separated list of transaction statuses to filter on
    # @option opts [String] :sort_field Determines what to sort the results by {CREATED, UPDATED, SEARCH_TAGS, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, CUSTOMER_ID, CUSTOMER_DISPLAY, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}
    # @option opts [Boolean] :descending Determines whether the results are in descending order
    # @option opts [Integer] :start The start index for pagination
    # @option opts [Integer] :limit The limit for pagination
    # @return [Array<(Array<EventAttendanceResponse>, Integer, Hash)>] Array<EventAttendanceResponse> data, response status code and response headers
    def search_event_transactions_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.search_event_transactions ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventApi.search_event_transactions"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "ACTIVATED", "EXPIRES", "TITLE", "SUBTITLE", "DETAILS", "OFFER_TYPE", "SPECIAL_OFFER_TYPE", "OFFER_VISIBILITY", "REDEEMABLE_START", "REDEEMABLE_END", "CUSTOMER_ID", "CUSTOMER_DISPLAY", "RETAILER_ID", "RETAILER_NAME", "RETAILER_LOCATION_ID", "RETAILER_LOCATION_NAME", "BILLABLE_ENTITY_ID", "BILLABLE_ENTITY_NAME", "RESPONSIBLE_DISPLAY"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/event/attendance/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'excludeRetailerLocationId'] = opts[:'exclude_retailer_location_id'] if !opts[:'exclude_retailer_location_id'].nil?
      query_params[:'listingId'] = opts[:'listing_id'] if !opts[:'listing_id'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'customerAccountIds'] = opts[:'customer_account_ids'] if !opts[:'customer_account_ids'].nil?
      query_params[:'affiliatedCategoryIds'] = opts[:'affiliated_category_ids'] if !opts[:'affiliated_category_ids'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'statuses'] = opts[:'statuses'] if !opts[:'statuses'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<EventAttendanceResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EventApi.search_event_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#search_event_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Events
    # Searches on events that the account has access to.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword used to search
    # @option opts [Boolean] :active_only Return only active results
    # @option opts [String] :category_ids the IDs of the categories that this event is associated with
    # @option opts [String] :filter_ids the IDs of the filters that this event is associated with
    # @option opts [String] :offer_audience_ids Offer audience ids to filter on
    # @option opts [String] :transaction_audience_ids Transaction audience ids to filter on
    # @option opts [String] :sort_field The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, ESTIMATED_VALUE, VOUCHER_PRICE, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start_date Filter the events to return only those that start on or after the date
    # @option opts [Integer] :end_date Filter the events to return only those that start on or before the date
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @return [Array<OfferShortResponse>]
    def search_events(version, account_id, opts = {})
      data, _status_code, _headers = search_events_with_http_info(version, account_id, opts)
      data
    end

    # Search Events
    # Searches on events that the account has access to.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword used to search
    # @option opts [Boolean] :active_only Return only active results
    # @option opts [String] :category_ids the IDs of the categories that this event is associated with
    # @option opts [String] :filter_ids the IDs of the filters that this event is associated with
    # @option opts [String] :offer_audience_ids Offer audience ids to filter on
    # @option opts [String] :transaction_audience_ids Transaction audience ids to filter on
    # @option opts [String] :sort_field The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, ESTIMATED_VALUE, VOUCHER_PRICE, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start_date Filter the events to return only those that start on or after the date
    # @option opts [Integer] :end_date Filter the events to return only those that start on or before the date
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @return [Array<(Array<OfferShortResponse>, Integer, Hash)>] Array<OfferShortResponse> data, response status code and response headers
    def search_events_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.search_events ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventApi.search_events"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EventApi.search_events"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "ACTIVATED", "EXPIRES", "REDEEMABLE_START", "REDEEMABLE_END", "TITLE", "SUBTITLE", "DETAILS", "OFFER_TYPE", "SPECIAL_OFFER_TYPE", "OFFER_VISIBILITY", "ESTIMATED_VALUE", "VOUCHER_PRICE", "VOUCHER_DISCOUNT_PRICE", "FULL_PRICE", "DICOUNT_PRICE", "TICKETS_REWARD", "AVAILABILITY_DATE", "RELEASE_DATE", "RETAILER_ID", "RETAILER_NAME", "RETAILER_LOCATION_ID", "RETAILER_LOCATION_NAME", "BILLABLE_ENTITY_ID", "BILLABLE_ENTITY_NAME", "RESPONSIBLE_DISPLAY"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/event/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'offerAudienceIds'] = opts[:'offer_audience_ids'] if !opts[:'offer_audience_ids'].nil?
      query_params[:'transactionAudienceIds'] = opts[:'transaction_audience_ids'] if !opts[:'transaction_audience_ids'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OfferShortResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EventApi.search_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#search_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Event
    # Update a private event to share with associates.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param event_id [Integer] The id of the event to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :retailer_location_ids The retailer location to have the event at
    # @option opts [String] :title The event title
    # @option opts [String] :sub_title The event sub title
    # @option opts [String] :details The event details
    # @option opts [String] :category_ids The categories the associate the event with
    # @option opts [String] :filter_ids The filters the associate the event with
    # @option opts [Boolean] :active Is this event active
    # @option opts [Integer] :image_asset_id The image to show for the event
    # @option opts [Integer] :redeemable_start The event start date/time
    # @option opts [Integer] :redeemable_end The event end date/time
    # @return [OfferResponse]
    def update_event(version, account_id, event_id, opts = {})
      data, _status_code, _headers = update_event_with_http_info(version, account_id, event_id, opts)
      data
    end

    # Update Event
    # Update a private event to share with associates.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param event_id [Integer] The id of the event to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :retailer_location_ids The retailer location to have the event at
    # @option opts [String] :title The event title
    # @option opts [String] :sub_title The event sub title
    # @option opts [String] :details The event details
    # @option opts [String] :category_ids The categories the associate the event with
    # @option opts [String] :filter_ids The filters the associate the event with
    # @option opts [Boolean] :active Is this event active
    # @option opts [Integer] :image_asset_id The image to show for the event
    # @option opts [Integer] :redeemable_start The event start date/time
    # @option opts [Integer] :redeemable_end The event end date/time
    # @return [Array<(OfferResponse, Integer, Hash)>] OfferResponse data, response status code and response headers
    def update_event_with_http_info(version, account_id, event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.update_event ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling EventApi.update_event"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling EventApi.update_event"
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling EventApi.update_event"
      end
      # resource path
      local_var_path = '/api/{version}/event/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'eventId'] = event_id
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'subTitle'] = opts[:'sub_title'] if !opts[:'sub_title'].nil?
      query_params[:'details'] = opts[:'details'] if !opts[:'details'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'imageAssetId'] = opts[:'image_asset_id'] if !opts[:'image_asset_id'].nil?
      query_params[:'redeemableStart'] = opts[:'redeemable_start'] if !opts[:'redeemable_start'].nil?
      query_params[:'redeemableEnd'] = opts[:'redeemable_end'] if !opts[:'redeemable_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"EventApi.update_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#update_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
