=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class FacebookApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Facebook Token
    # Gets a user's Facebook token.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude used to update the user&#39;s current location
    # @option opts [Float] :longitude used to update the user&#39;s current location
    # @return [TokenResponse]
    def get_token(opts = {})
      data, _status_code, _headers = get_token_with_http_info(opts)
      data
    end

    # Get Facebook Token
    # Gets a user&#39;s Facebook token.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude used to update the user&#39;s current location
    # @option opts [Float] :longitude used to update the user&#39;s current location
    # @return [Array<(TokenResponse, Integer, Hash)>] TokenResponse data, response status code and response headers
    def get_token_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.get_token ...'
      end
      # resource path
      local_var_path = '/facebook/getfbtoken'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TokenResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FacebookApi.get_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#get_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Post to Facebook
    # Make Facebook posts on behalf of the user.
    # @param event [String] the type of Sirqul event {DOWNLOADED_APP, CHALLENGE, LEVEL_COMPLETED, LEVEL_CREATED}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :permissionable_type for posting about information related to an object. Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
    # @option opts [Integer] :permissionable_id the object id
    # @option opts [Integer] :asset_id used to include an asset on a Facebook post
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Float] :latitude used to update the user&#39;s current location
    # @option opts [Float] :longitude used to update the user&#39;s current location
    # @return [SirqulResponse]
    def graph_interface(event, opts = {})
      data, _status_code, _headers = graph_interface_with_http_info(event, opts)
      data
    end

    # Post to Facebook
    # Make Facebook posts on behalf of the user.
    # @param event [String] the type of Sirqul event {DOWNLOADED_APP, CHALLENGE, LEVEL_COMPLETED, LEVEL_CREATED}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :permissionable_type for posting about information related to an object. Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
    # @option opts [Integer] :permissionable_id the object id
    # @option opts [Integer] :asset_id used to include an asset on a Facebook post
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Float] :latitude used to update the user&#39;s current location
    # @option opts [Float] :longitude used to update the user&#39;s current location
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def graph_interface_with_http_info(event, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FacebookApi.graph_interface ...'
      end
      # verify the required parameter 'event' is set
      if @api_client.config.client_side_validation && event.nil?
        fail ArgumentError, "Missing the required parameter 'event' when calling FacebookApi.graph_interface"
      end
      # resource path
      local_var_path = '/facebook/graph'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'event'] = event
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'permissionableType'] = opts[:'permissionable_type'] if !opts[:'permissionable_type'].nil?
      query_params[:'permissionableId'] = opts[:'permissionable_id'] if !opts[:'permissionable_id'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FacebookApi.graph_interface",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FacebookApi#graph_interface\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
