=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class FavoriteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Favorite
    # Adds an offer, offer location, retailer location, or category to your favorites.
    # @param favoritable_id [Integer] The ID of the object to favorite {offerId, offerLocationId, retailerLocationId, categoryId}
    # @param favoritable_type [String] The type of the object to favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY, ALBUM}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @return [WrappedResponse]
    def add_favorite(favoritable_id, favoritable_type, opts = {})
      data, _status_code, _headers = add_favorite_with_http_info(favoritable_id, favoritable_type, opts)
      data
    end

    # Create Favorite
    # Adds an offer, offer location, retailer location, or category to your favorites.
    # @param favoritable_id [Integer] The ID of the object to favorite {offerId, offerLocationId, retailerLocationId, categoryId}
    # @param favoritable_type [String] The type of the object to favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY, ALBUM}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @return [Array<(WrappedResponse, Integer, Hash)>] WrappedResponse data, response status code and response headers
    def add_favorite_with_http_info(favoritable_id, favoritable_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoriteApi.add_favorite ...'
      end
      # verify the required parameter 'favoritable_id' is set
      if @api_client.config.client_side_validation && favoritable_id.nil?
        fail ArgumentError, "Missing the required parameter 'favoritable_id' when calling FavoriteApi.add_favorite"
      end
      # verify the required parameter 'favoritable_type' is set
      if @api_client.config.client_side_validation && favoritable_type.nil?
        fail ArgumentError, "Missing the required parameter 'favoritable_type' when calling FavoriteApi.add_favorite"
      end
      # resource path
      local_var_path = '/favorite/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'favoritableId'] = favoritable_id
      query_params[:'favoritableType'] = favoritable_type
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WrappedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FavoriteApi.add_favorite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoriteApi#add_favorite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Favorite
    # Removes a favorited item from the user's favorites list.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :favorite_id The ID of the favorite reference record (only optional if favoritableId &amp; favoritableType is pass in instead)
    # @option opts [Integer] :favoritable_id The ID of the object to un-favorite {offerId, offerLocationId, retailerLocationId, categoryId} (this is required if favoriteId is NOT passed in)
    # @option opts [String] :favoritable_type The type of the object to un-favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY} (this is required if favoriteId is NOT passed in)
    # @return [SirqulResponse]
    def delete_favorite(opts = {})
      data, _status_code, _headers = delete_favorite_with_http_info(opts)
      data
    end

    # Delete Favorite
    # Removes a favorited item from the user&#39;s favorites list.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :favorite_id The ID of the favorite reference record (only optional if favoritableId &amp; favoritableType is pass in instead)
    # @option opts [Integer] :favoritable_id The ID of the object to un-favorite {offerId, offerLocationId, retailerLocationId, categoryId} (this is required if favoriteId is NOT passed in)
    # @option opts [String] :favoritable_type The type of the object to un-favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY} (this is required if favoriteId is NOT passed in)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_favorite_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoriteApi.delete_favorite ...'
      end
      # resource path
      local_var_path = '/favorite/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'favoriteId'] = opts[:'favorite_id'] if !opts[:'favorite_id'].nil?
      query_params[:'favoritableId'] = opts[:'favoritable_id'] if !opts[:'favoritable_id'].nil?
      query_params[:'favoritableType'] = opts[:'favoritable_type'] if !opts[:'favoritable_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FavoriteApi.delete_favorite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoriteApi#delete_favorite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Favorite
    # Retrieves a single favorited item.
    # @param favorite_id [Integer] The ID of the favorite reference record
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @return [WrappedResponse]
    def get_favorite(favorite_id, opts = {})
      data, _status_code, _headers = get_favorite_with_http_info(favorite_id, opts)
      data
    end

    # Get Favorite
    # Retrieves a single favorited item.
    # @param favorite_id [Integer] The ID of the favorite reference record
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @return [Array<(WrappedResponse, Integer, Hash)>] WrappedResponse data, response status code and response headers
    def get_favorite_with_http_info(favorite_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoriteApi.get_favorite ...'
      end
      # verify the required parameter 'favorite_id' is set
      if @api_client.config.client_side_validation && favorite_id.nil?
        fail ArgumentError, "Missing the required parameter 'favorite_id' when calling FavoriteApi.get_favorite"
      end
      # resource path
      local_var_path = '/favorite/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'favoriteId'] = favorite_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WrappedResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FavoriteApi.get_favorite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoriteApi#get_favorite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Favorites
    # Searches on the user's favorites.
    # @param favoritable_type [String] The type of the object to favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY}
    # @param sort_field [String] Determines what to sort the results by {CREATED, UPDATED, DISPLAY}
    # @param descending [Boolean] Determines whether the results are in descending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination (there is a hard limit of 1000)
    # @param active_only [Boolean] Determines whether to only return active favorites
    # @param return_full_response [Boolean] Determines whether to return a detailed version of the response list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_account_id The ID of an account the user would like to view favorites for
    # @option opts [String] :secondary_type 
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @return [SearchResponse]
    def search_favorites(favoritable_type, sort_field, descending, start, limit, active_only, return_full_response, opts = {})
      data, _status_code, _headers = search_favorites_with_http_info(favoritable_type, sort_field, descending, start, limit, active_only, return_full_response, opts)
      data
    end

    # Search Favorites
    # Searches on the user&#39;s favorites.
    # @param favoritable_type [String] The type of the object to favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY}
    # @param sort_field [String] Determines what to sort the results by {CREATED, UPDATED, DISPLAY}
    # @param descending [Boolean] Determines whether the results are in descending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination (there is a hard limit of 1000)
    # @param active_only [Boolean] Determines whether to only return active favorites
    # @param return_full_response [Boolean] Determines whether to return a detailed version of the response list
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_account_id The ID of an account the user would like to view favorites for
    # @option opts [String] :secondary_type 
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @return [Array<(SearchResponse, Integer, Hash)>] SearchResponse data, response status code and response headers
    def search_favorites_with_http_info(favoritable_type, sort_field, descending, start, limit, active_only, return_full_response, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoriteApi.search_favorites ...'
      end
      # verify the required parameter 'favoritable_type' is set
      if @api_client.config.client_side_validation && favoritable_type.nil?
        fail ArgumentError, "Missing the required parameter 'favoritable_type' when calling FavoriteApi.search_favorites"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling FavoriteApi.search_favorites"
      end
      # verify enum value
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "DISPLAY"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling FavoriteApi.search_favorites"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling FavoriteApi.search_favorites"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling FavoriteApi.search_favorites"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling FavoriteApi.search_favorites"
      end
      # verify the required parameter 'return_full_response' is set
      if @api_client.config.client_side_validation && return_full_response.nil?
        fail ArgumentError, "Missing the required parameter 'return_full_response' when calling FavoriteApi.search_favorites"
      end
      # resource path
      local_var_path = '/favorite/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'favoritableType'] = favoritable_type
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'returnFullResponse'] = return_full_response
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionAccountId'] = opts[:'connection_account_id'] if !opts[:'connection_account_id'].nil?
      query_params[:'secondaryType'] = opts[:'secondary_type'] if !opts[:'secondary_type'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FavoriteApi.search_favorites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoriteApi#search_favorites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Who has Favorited
    # Searches for everyone that has favorited an item
    # @param favoritable_id [Integer] The ID of the favoritableType to search on
    # @param favoritable_type [String] The type of the object to favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY}
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @option opts [String] :keyword The keyword to limit that account list
    # @return [Array<AccountResponse>]
    def who_has_favorited(favoritable_id, favoritable_type, start, limit, opts = {})
      data, _status_code, _headers = who_has_favorited_with_http_info(favoritable_id, favoritable_type, start, limit, opts)
      data
    end

    # Who has Favorited
    # Searches for everyone that has favorited an item
    # @param favoritable_id [Integer] The ID of the favoritableType to search on
    # @param favoritable_type [String] The type of the object to favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY}
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @option opts [String] :keyword The keyword to limit that account list
    # @return [Array<(Array<AccountResponse>, Integer, Hash)>] Array<AccountResponse> data, response status code and response headers
    def who_has_favorited_with_http_info(favoritable_id, favoritable_type, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FavoriteApi.who_has_favorited ...'
      end
      # verify the required parameter 'favoritable_id' is set
      if @api_client.config.client_side_validation && favoritable_id.nil?
        fail ArgumentError, "Missing the required parameter 'favoritable_id' when calling FavoriteApi.who_has_favorited"
      end
      # verify the required parameter 'favoritable_type' is set
      if @api_client.config.client_side_validation && favoritable_type.nil?
        fail ArgumentError, "Missing the required parameter 'favoritable_type' when calling FavoriteApi.who_has_favorited"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling FavoriteApi.who_has_favorited"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling FavoriteApi.who_has_favorited"
      end
      # resource path
      local_var_path = '/favorite/whois'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'favoritableId'] = favoritable_id
      query_params[:'favoritableType'] = favoritable_type
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AccountResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FavoriteApi.who_has_favorited",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FavoriteApi#who_has_favorited\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
