=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class FilterApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Filter
    # Create a filter
    # @param account_id [Integer] The account id of the user (must have permissions to the target application)
    # @param name [String] The name of the filter
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The appKey of the application to assign the filter to, if not provided then the filter will be applied to the global application (if the account has permissions)
    # @option opts [Integer] :parent_filter_id The ID of the parent filter, if not provided then the parent filter will be null
    # @option opts [String] :description The description of the filter
    # @option opts [String] :external_id A string identifier used by client applications to store external information
    # @option opts [String] :external_type A string type used by client applications to store external information
    # @option opts [Boolean] :active Sets whether the filter is active or inactive (hidden from consumers)
    # @option opts [String] :meta_data external custom client defined data
    # @return [FilterTreeResponse]
    def create_filter(account_id, name, opts = {})
      data, _status_code, _headers = create_filter_with_http_info(account_id, name, opts)
      data
    end

    # Create Filter
    # Create a filter
    # @param account_id [Integer] The account id of the user (must have permissions to the target application)
    # @param name [String] The name of the filter
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The appKey of the application to assign the filter to, if not provided then the filter will be applied to the global application (if the account has permissions)
    # @option opts [Integer] :parent_filter_id The ID of the parent filter, if not provided then the parent filter will be null
    # @option opts [String] :description The description of the filter
    # @option opts [String] :external_id A string identifier used by client applications to store external information
    # @option opts [String] :external_type A string type used by client applications to store external information
    # @option opts [Boolean] :active Sets whether the filter is active or inactive (hidden from consumers)
    # @option opts [String] :meta_data external custom client defined data
    # @return [Array<(FilterTreeResponse, Integer, Hash)>] FilterTreeResponse data, response status code and response headers
    def create_filter_with_http_info(account_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterApi.create_filter ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling FilterApi.create_filter"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling FilterApi.create_filter"
      end
      # resource path
      local_var_path = '/filter/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'name'] = name
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'parentFilterId'] = opts[:'parent_filter_id'] if !opts[:'parent_filter_id'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'externalType'] = opts[:'external_type'] if !opts[:'external_type'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FilterTreeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilterApi.create_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterApi#create_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Filter
    # Delete a filter.
    # @param account_id [Integer] The account id of the user (must have permissions to the filter&#39;s assigned application)
    # @param filter_id [Integer] The ID of the filter to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_filter(account_id, filter_id, opts = {})
      data, _status_code, _headers = delete_filter_with_http_info(account_id, filter_id, opts)
      data
    end

    # Delete Filter
    # Delete a filter.
    # @param account_id [Integer] The account id of the user (must have permissions to the filter&#39;s assigned application)
    # @param filter_id [Integer] The ID of the filter to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_filter_with_http_info(account_id, filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterApi.delete_filter ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling FilterApi.delete_filter"
      end
      # verify the required parameter 'filter_id' is set
      if @api_client.config.client_side_validation && filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'filter_id' when calling FilterApi.delete_filter"
      end
      # resource path
      local_var_path = '/filter/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'filterId'] = filter_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilterApi.delete_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterApi#delete_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Filter
    # Get the details of a specific filter. Recursively include all child filters and their children.
    # @param filter_id [Integer] the id of the filter to get
    # @param [Hash] opts the optional parameters
    # @return [FilterTreeResponse]
    def get_filter(filter_id, opts = {})
      data, _status_code, _headers = get_filter_with_http_info(filter_id, opts)
      data
    end

    # Get Filter
    # Get the details of a specific filter. Recursively include all child filters and their children.
    # @param filter_id [Integer] the id of the filter to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(FilterTreeResponse, Integer, Hash)>] FilterTreeResponse data, response status code and response headers
    def get_filter_with_http_info(filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterApi.get_filter ...'
      end
      # verify the required parameter 'filter_id' is set
      if @api_client.config.client_side_validation && filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'filter_id' when calling FilterApi.get_filter"
      end
      # resource path
      local_var_path = '/filter/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'filterId'] = filter_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FilterTreeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilterApi.get_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterApi#get_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Filters
    # Search for filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [String] :keyword The string to search on
    # @option opts [String] :app_key the appKey of the application to retrieve filters for
    # @option opts [String] :response_group The group of filters to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.
    # @option opts [Boolean] :root_only Restrict the search to only those filters with no parent filter assigned.
    # @option opts [String] :sort_field The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY (default to 'DISPLAY')
    # @option opts [Boolean] :descending The order to return the search results (default to false)
    # @option opts [Integer] :start The record to begin the return set on (default to 0)
    # @option opts [Integer] :limit The number of records to return (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return only active categories (default to true)
    # @return [Array<FilterResponse>]
    def search_filters(opts = {})
      data, _status_code, _headers = search_filters_with_http_info(opts)
      data
    end

    # Search Filters
    # Search for filters.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [String] :keyword The string to search on
    # @option opts [String] :app_key the appKey of the application to retrieve filters for
    # @option opts [String] :response_group The group of filters to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.
    # @option opts [Boolean] :root_only Restrict the search to only those filters with no parent filter assigned.
    # @option opts [String] :sort_field The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY (default to 'DISPLAY')
    # @option opts [Boolean] :descending The order to return the search results (default to false)
    # @option opts [Integer] :start The record to begin the return set on (default to 0)
    # @option opts [Integer] :limit The number of records to return (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return only active categories (default to true)
    # @return [Array<(Array<FilterResponse>, Integer, Hash)>] Array<FilterResponse> data, response status code and response headers
    def search_filters_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterApi.search_filters ...'
      end
      allowable_values = ["ALL", "GLOBAL", "MINE"]
      if @api_client.config.client_side_validation && opts[:'response_group'] && !allowable_values.include?(opts[:'response_group'])
        fail ArgumentError, "invalid value for \"response_group\", must be one of #{allowable_values}"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "NAME", "DISPLAY"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/filter/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'responseGroup'] = opts[:'response_group'] if !opts[:'response_group'].nil?
      query_params[:'rootOnly'] = opts[:'root_only'] if !opts[:'root_only'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<FilterResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilterApi.search_filters",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterApi#search_filters\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Filter
    # Update a filter.
    # @param account_id [Integer] The account id of the user
    # @param filter_id [Integer] The ID of the filter to edit
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :parent_filter_id The ID of the parent filter, if not provided then the parent filter will be null
    # @option opts [String] :name The name of the filter
    # @option opts [String] :description The description of the filter
    # @option opts [String] :external_id A string identifier used by client applications to store external information
    # @option opts [String] :external_type A string type used by client applications to store external information
    # @option opts [Boolean] :active Sets whether the filter is active or inactive (hidden from consumers)
    # @option opts [String] :meta_data external custom client defined data
    # @return [FilterTreeResponse]
    def update_filter(account_id, filter_id, opts = {})
      data, _status_code, _headers = update_filter_with_http_info(account_id, filter_id, opts)
      data
    end

    # Update Filter
    # Update a filter.
    # @param account_id [Integer] The account id of the user
    # @param filter_id [Integer] The ID of the filter to edit
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :parent_filter_id The ID of the parent filter, if not provided then the parent filter will be null
    # @option opts [String] :name The name of the filter
    # @option opts [String] :description The description of the filter
    # @option opts [String] :external_id A string identifier used by client applications to store external information
    # @option opts [String] :external_type A string type used by client applications to store external information
    # @option opts [Boolean] :active Sets whether the filter is active or inactive (hidden from consumers)
    # @option opts [String] :meta_data external custom client defined data
    # @return [Array<(FilterTreeResponse, Integer, Hash)>] FilterTreeResponse data, response status code and response headers
    def update_filter_with_http_info(account_id, filter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilterApi.update_filter ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling FilterApi.update_filter"
      end
      # verify the required parameter 'filter_id' is set
      if @api_client.config.client_side_validation && filter_id.nil?
        fail ArgumentError, "Missing the required parameter 'filter_id' when calling FilterApi.update_filter"
      end
      # resource path
      local_var_path = '/filter/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'filterId'] = filter_id
      query_params[:'parentFilterId'] = opts[:'parent_filter_id'] if !opts[:'parent_filter_id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'externalType'] = opts[:'external_type'] if !opts[:'external_type'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FilterTreeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilterApi.update_filter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilterApi#update_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
