=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class FlagApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Flag
    # Allows a user to flag an object that the user deems inappropriate or offensive. Flagable objects include accounts, albums, album contests, assets, game levels, and theme descriptors
    # @param flagable_type [String] The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, NOTE, OFFER}
    # @param flagable_id [Integer] The flagable object id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :flag_description An optional description of why is it being flagged
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @return [SirqulResponse]
    def create_flag(flagable_type, flagable_id, opts = {})
      data, _status_code, _headers = create_flag_with_http_info(flagable_type, flagable_id, opts)
      data
    end

    # Create Flag
    # Allows a user to flag an object that the user deems inappropriate or offensive. Flagable objects include accounts, albums, album contests, assets, game levels, and theme descriptors
    # @param flagable_type [String] The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, NOTE, OFFER}
    # @param flagable_id [Integer] The flagable object id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :flag_description An optional description of why is it being flagged
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def create_flag_with_http_info(flagable_type, flagable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagApi.create_flag ...'
      end
      # verify the required parameter 'flagable_type' is set
      if @api_client.config.client_side_validation && flagable_type.nil?
        fail ArgumentError, "Missing the required parameter 'flagable_type' when calling FlagApi.create_flag"
      end
      # verify the required parameter 'flagable_id' is set
      if @api_client.config.client_side_validation && flagable_id.nil?
        fail ArgumentError, "Missing the required parameter 'flagable_id' when calling FlagApi.create_flag"
      end
      # resource path
      local_var_path = '/flag/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'flagableType'] = flagable_type
      query_params[:'flagableId'] = flagable_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'flagDescription'] = opts[:'flag_description'] if !opts[:'flag_description'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FlagApi.create_flag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagApi#create_flag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Flag
    # Deletes a flag.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :item_being_flagged_type This parameter is deprecated.
    # @option opts [Integer] :item_being_flagged_id This parameter is deprecated.
    # @option opts [String] :flagable_type The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
    # @option opts [Integer] :flagable_id The flagable object id
    # @return [SirqulResponse]
    def delete_flag(opts = {})
      data, _status_code, _headers = delete_flag_with_http_info(opts)
      data
    end

    # Delete Flag
    # Deletes a flag.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :item_being_flagged_type This parameter is deprecated.
    # @option opts [Integer] :item_being_flagged_id This parameter is deprecated.
    # @option opts [String] :flagable_type The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
    # @option opts [Integer] :flagable_id The flagable object id
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_flag_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagApi.delete_flag ...'
      end
      # resource path
      local_var_path = '/flag/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'itemBeingFlaggedType'] = opts[:'item_being_flagged_type'] if !opts[:'item_being_flagged_type'].nil?
      query_params[:'itemBeingFlaggedId'] = opts[:'item_being_flagged_id'] if !opts[:'item_being_flagged_id'].nil?
      query_params[:'flagableType'] = opts[:'flagable_type'] if !opts[:'flagable_type'].nil?
      query_params[:'flagableId'] = opts[:'flagable_id'] if !opts[:'flagable_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FlagApi.delete_flag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagApi#delete_flag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Flag
    # Gets the details on whether the user has flagged a particular flagable object.
    # @param flagable_type [String] The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, NOTE, OFFER}
    # @param flagable_id [Integer] The flagable object id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @return [FlagResponse]
    def get_flag(flagable_type, flagable_id, opts = {})
      data, _status_code, _headers = get_flag_with_http_info(flagable_type, flagable_id, opts)
      data
    end

    # Get Flag
    # Gets the details on whether the user has flagged a particular flagable object.
    # @param flagable_type [String] The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, NOTE, OFFER}
    # @param flagable_id [Integer] The flagable object id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @return [Array<(FlagResponse, Integer, Hash)>] FlagResponse data, response status code and response headers
    def get_flag_with_http_info(flagable_type, flagable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagApi.get_flag ...'
      end
      # verify the required parameter 'flagable_type' is set
      if @api_client.config.client_side_validation && flagable_type.nil?
        fail ArgumentError, "Missing the required parameter 'flagable_type' when calling FlagApi.get_flag"
      end
      # verify the required parameter 'flagable_id' is set
      if @api_client.config.client_side_validation && flagable_id.nil?
        fail ArgumentError, "Missing the required parameter 'flagable_id' when calling FlagApi.get_flag"
      end
      # resource path
      local_var_path = '/flag/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'flagableType'] = flagable_type
      query_params[:'flagableId'] = flagable_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FlagResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FlagApi.get_flag",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagApi#get_flag\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Flag Threshold
    # Get the flag threshold value on an object type for a particular application.
    # @param item_being_flagged_type [String] The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
    # @param app_key [String] The application key
    # @param [Hash] opts the optional parameters
    # @return [CountResponse]
    def get_flag_threshold(item_being_flagged_type, app_key, opts = {})
      data, _status_code, _headers = get_flag_threshold_with_http_info(item_being_flagged_type, app_key, opts)
      data
    end

    # Get Flag Threshold
    # Get the flag threshold value on an object type for a particular application.
    # @param item_being_flagged_type [String] The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
    # @param app_key [String] The application key
    # @param [Hash] opts the optional parameters
    # @return [Array<(CountResponse, Integer, Hash)>] CountResponse data, response status code and response headers
    def get_flag_threshold_with_http_info(item_being_flagged_type, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagApi.get_flag_threshold ...'
      end
      # verify the required parameter 'item_being_flagged_type' is set
      if @api_client.config.client_side_validation && item_being_flagged_type.nil?
        fail ArgumentError, "Missing the required parameter 'item_being_flagged_type' when calling FlagApi.get_flag_threshold"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling FlagApi.get_flag_threshold"
      end
      # resource path
      local_var_path = '/flag/threshold/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'itemBeingFlaggedType'] = item_being_flagged_type
      query_params[:'appKey'] = app_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FlagApi.get_flag_threshold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagApi#get_flag_threshold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Flag Threshold
    # Update the flag threshold on an object type for a particular application.
    # @param item_being_flagged_type [String] The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
    # @param threshold [Integer] The threshold value
    # @param app_key [String] The application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @return [CountResponse]
    def update_flag_threshold(item_being_flagged_type, threshold, app_key, opts = {})
      data, _status_code, _headers = update_flag_threshold_with_http_info(item_being_flagged_type, threshold, app_key, opts)
      data
    end

    # Update Flag Threshold
    # Update the flag threshold on an object type for a particular application.
    # @param item_being_flagged_type [String] The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
    # @param threshold [Integer] The threshold value
    # @param app_key [String] The application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @return [Array<(CountResponse, Integer, Hash)>] CountResponse data, response status code and response headers
    def update_flag_threshold_with_http_info(item_being_flagged_type, threshold, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FlagApi.update_flag_threshold ...'
      end
      # verify the required parameter 'item_being_flagged_type' is set
      if @api_client.config.client_side_validation && item_being_flagged_type.nil?
        fail ArgumentError, "Missing the required parameter 'item_being_flagged_type' when calling FlagApi.update_flag_threshold"
      end
      # verify the required parameter 'threshold' is set
      if @api_client.config.client_side_validation && threshold.nil?
        fail ArgumentError, "Missing the required parameter 'threshold' when calling FlagApi.update_flag_threshold"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling FlagApi.update_flag_threshold"
      end
      # resource path
      local_var_path = '/flag/threshold/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'itemBeingFlaggedType'] = item_being_flagged_type
      query_params[:'threshold'] = threshold
      query_params[:'appKey'] = app_key
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FlagApi.update_flag_threshold",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FlagApi#update_flag_threshold\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
