=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class GameLevelApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Game Level
    # Create a game level. Currently does NOT support game objects.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param name [String] The name of the level.
    # @param game_data [String] The game level data: xml, json, or other text based format.
    # @param game_data_suffix [String] The game level data format type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The game application key to save the level for.
    # @option opts [String] :description The description of the level.
    # @option opts [String] :difficulty The difficulty, possible values are: VERY_EASY, EASY, MEDIUM, HARD, VERY_HARD.
    # @option opts [String] :app_version The version number of the application required to correctly load/play the level.
    # @option opts [Integer] :asset_image_id The asset Id of the level image.
    # @option opts [Integer] :asset_icon_id The asset Id of the level icon.
    # @option opts [String] :visibility Is the level visible to others, possible values are: PUBLIC, PRIVATE.
    # @option opts [Boolean] :friend_group Make the level be readable by all friends.
    # @option opts [String] :connection_ids Make the level be readable by connections in this list.
    # @option opts [String] :connection_group_ids Make the level be readable by connection groups in this list.
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
    # @option opts [Boolean] :active If true set the game level as active. Default is false.
    # @option opts [Boolean] :allocate_tickets If true then scoring will give tickets. Default is false.
    # @option opts [Integer] :ticket_count The number of tickets to reward
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a level
    # @option opts [String] :tutorial_title Title of the tutorial.
    # @option opts [String] :tutorial_message Message of the tutotrial.
    # @option opts [String] :tutorial_alignment Alignment of the tutorial image. Default to NONE. Possible values are: NONE, IMAGE_ABOVE, IMAGE_BELOW, IMAGE_LEFT, IMAGE_RIGHT, IMAGE_ONLY, TEXT_ONLY
    # @option opts [Integer] :tutorial_image_asset_id Asset id of the tutorial image.
    # @option opts [Integer] :offer_id id of the offer
    # @option opts [String] :meta_data external custom client defined data
    # @return [GameLevelResponse]
    def create_game_level(version, account_id, name, game_data, game_data_suffix, opts = {})
      data, _status_code, _headers = create_game_level_with_http_info(version, account_id, name, game_data, game_data_suffix, opts)
      data
    end

    # Create Game Level
    # Create a game level. Currently does NOT support game objects.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param name [String] The name of the level.
    # @param game_data [String] The game level data: xml, json, or other text based format.
    # @param game_data_suffix [String] The game level data format type.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The game application key to save the level for.
    # @option opts [String] :description The description of the level.
    # @option opts [String] :difficulty The difficulty, possible values are: VERY_EASY, EASY, MEDIUM, HARD, VERY_HARD.
    # @option opts [String] :app_version The version number of the application required to correctly load/play the level.
    # @option opts [Integer] :asset_image_id The asset Id of the level image.
    # @option opts [Integer] :asset_icon_id The asset Id of the level icon.
    # @option opts [String] :visibility Is the level visible to others, possible values are: PUBLIC, PRIVATE.
    # @option opts [Boolean] :friend_group Make the level be readable by all friends.
    # @option opts [String] :connection_ids Make the level be readable by connections in this list.
    # @option opts [String] :connection_group_ids Make the level be readable by connection groups in this list.
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
    # @option opts [Boolean] :active If true set the game level as active. Default is false.
    # @option opts [Boolean] :allocate_tickets If true then scoring will give tickets. Default is false.
    # @option opts [Integer] :ticket_count The number of tickets to reward
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a level
    # @option opts [String] :tutorial_title Title of the tutorial.
    # @option opts [String] :tutorial_message Message of the tutotrial.
    # @option opts [String] :tutorial_alignment Alignment of the tutorial image. Default to NONE. Possible values are: NONE, IMAGE_ABOVE, IMAGE_BELOW, IMAGE_LEFT, IMAGE_RIGHT, IMAGE_ONLY, TEXT_ONLY
    # @option opts [Integer] :tutorial_image_asset_id Asset id of the tutorial image.
    # @option opts [Integer] :offer_id id of the offer
    # @option opts [String] :meta_data external custom client defined data
    # @return [Array<(GameLevelResponse, Integer, Hash)>] GameLevelResponse data, response status code and response headers
    def create_game_level_with_http_info(version, account_id, name, game_data, game_data_suffix, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.create_game_level ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.create_game_level"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.create_game_level"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling GameLevelApi.create_game_level"
      end
      # verify the required parameter 'game_data' is set
      if @api_client.config.client_side_validation && game_data.nil?
        fail ArgumentError, "Missing the required parameter 'game_data' when calling GameLevelApi.create_game_level"
      end
      # verify the required parameter 'game_data_suffix' is set
      if @api_client.config.client_side_validation && game_data_suffix.nil?
        fail ArgumentError, "Missing the required parameter 'game_data_suffix' when calling GameLevelApi.create_game_level"
      end
      # resource path
      local_var_path = '/api/{version}/level/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'name'] = name
      query_params[:'gameData'] = game_data
      query_params[:'gameDataSuffix'] = game_data_suffix
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'difficulty'] = opts[:'difficulty'] if !opts[:'difficulty'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'assetImageId'] = opts[:'asset_image_id'] if !opts[:'asset_image_id'].nil?
      query_params[:'assetIconId'] = opts[:'asset_icon_id'] if !opts[:'asset_icon_id'].nil?
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'friendGroup'] = opts[:'friend_group'] if !opts[:'friend_group'].nil?
      query_params[:'connectionIds'] = opts[:'connection_ids'] if !opts[:'connection_ids'].nil?
      query_params[:'connectionGroupIds'] = opts[:'connection_group_ids'] if !opts[:'connection_group_ids'].nil?
      query_params[:'balance'] = opts[:'balance'] if !opts[:'balance'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'allocateTickets'] = opts[:'allocate_tickets'] if !opts[:'allocate_tickets'].nil?
      query_params[:'ticketCount'] = opts[:'ticket_count'] if !opts[:'ticket_count'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?
      query_params[:'tutorialTitle'] = opts[:'tutorial_title'] if !opts[:'tutorial_title'].nil?
      query_params[:'tutorialMessage'] = opts[:'tutorial_message'] if !opts[:'tutorial_message'].nil?
      query_params[:'tutorialAlignment'] = opts[:'tutorial_alignment'] if !opts[:'tutorial_alignment'].nil?
      query_params[:'tutorialImageAssetId'] = opts[:'tutorial_image_asset_id'] if !opts[:'tutorial_image_asset_id'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameLevelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.create_game_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#create_game_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Game Level
    # Delete a game level. The level and account must be valid and have the appropirate permissions to view the content.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param level_id [Integer] The id of the level to return.
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_game_level(version, account_id, level_id, opts = {})
      data, _status_code, _headers = delete_game_level_with_http_info(version, account_id, level_id, opts)
      data
    end

    # Delete Game Level
    # Delete a game level. The level and account must be valid and have the appropirate permissions to view the content.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param level_id [Integer] The id of the level to return.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_game_level_with_http_info(version, account_id, level_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.delete_game_level ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.delete_game_level"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.delete_game_level"
      end
      # verify the required parameter 'level_id' is set
      if @api_client.config.client_side_validation && level_id.nil?
        fail ArgumentError, "Missing the required parameter 'level_id' when calling GameLevelApi.delete_game_level"
      end
      # resource path
      local_var_path = '/api/{version}/level/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'levelId'] = level_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.delete_game_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#delete_game_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Game Level
    # Get a game level. The level and account must be valid and have the appropirate permissions to view the content.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param level_id [Integer] The id of the level to return.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_game_data If true include the game level data, otherwise don&#39;t. default is false.
    # @return [GameLevelResponse]
    def get_game_level(version, account_id, level_id, opts = {})
      data, _status_code, _headers = get_game_level_with_http_info(version, account_id, level_id, opts)
      data
    end

    # Get Game Level
    # Get a game level. The level and account must be valid and have the appropirate permissions to view the content.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param level_id [Integer] The id of the level to return.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_game_data If true include the game level data, otherwise don&#39;t. default is false.
    # @return [Array<(GameLevelResponse, Integer, Hash)>] GameLevelResponse data, response status code and response headers
    def get_game_level_with_http_info(version, account_id, level_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.get_game_level ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.get_game_level"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.get_game_level"
      end
      # verify the required parameter 'level_id' is set
      if @api_client.config.client_side_validation && level_id.nil?
        fail ArgumentError, "Missing the required parameter 'level_id' when calling GameLevelApi.get_game_level"
      end
      # resource path
      local_var_path = '/api/{version}/level/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'levelId'] = level_id
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameLevelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.get_game_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#get_game_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Game Levels
    # Get a list of levels for an application, just those the account has permissions to view.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Match the keyword to the owner name or level name.
    # @option opts [String] :sort_field what field to sort on
    # @option opts [Boolean] :descending whether to return levels in ascending or descending order
    # @option opts [Integer] :start Start the result set at some index.
    # @option opts [Integer] :limit Limit the result to some number.
    # @option opts [String] :app_version The maximum version of the level to return.
    # @option opts [Boolean] :include_game_data If true include the game level data, otherwise don&#39;t. default is false.
    # @option opts [String] :filters 
    # @return [GameLevelListResponse]
    def get_game_levels_by_application(version, account_id, app_key, opts = {})
      data, _status_code, _headers = get_game_levels_by_application_with_http_info(version, account_id, app_key, opts)
      data
    end

    # Search Game Levels
    # Get a list of levels for an application, just those the account has permissions to view.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Match the keyword to the owner name or level name.
    # @option opts [String] :sort_field what field to sort on
    # @option opts [Boolean] :descending whether to return levels in ascending or descending order
    # @option opts [Integer] :start Start the result set at some index.
    # @option opts [Integer] :limit Limit the result to some number.
    # @option opts [String] :app_version The maximum version of the level to return.
    # @option opts [Boolean] :include_game_data If true include the game level data, otherwise don&#39;t. default is false.
    # @option opts [String] :filters 
    # @return [Array<(GameLevelListResponse, Integer, Hash)>] GameLevelListResponse data, response status code and response headers
    def get_game_levels_by_application_with_http_info(version, account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.get_game_levels_by_application ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.get_game_levels_by_application"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.get_game_levels_by_application"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling GameLevelApi.get_game_levels_by_application"
      end
      # resource path
      local_var_path = '/api/{version}/level/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?
      query_params[:'filters'] = opts[:'filters'] if !opts[:'filters'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameLevelListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.get_game_levels_by_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#get_game_levels_by_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Game Level by Billable Entity
    # Searches on game levels that the logged in user has access to. A user would have access if the creator of the game level is managed under the same BillableEntity.
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key the application key
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :sort_field The column to sort the search on
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Boolean] :active_only Return only active results
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @return [GameLevelResponse]
    def get_game_levels_by_billable_entity(version, account_id, opts = {})
      data, _status_code, _headers = get_game_levels_by_billable_entity_with_http_info(version, account_id, opts)
      data
    end

    # Search Game Level by Billable Entity
    # Searches on game levels that the logged in user has access to. A user would have access if the creator of the game level is managed under the same BillableEntity.
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key the application key
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :sort_field The column to sort the search on
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Boolean] :active_only Return only active results
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @return [Array<(GameLevelResponse, Integer, Hash)>] GameLevelResponse data, response status code and response headers
    def get_game_levels_by_billable_entity_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.get_game_levels_by_billable_entity ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.get_game_levels_by_billable_entity"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.get_game_levels_by_billable_entity"
      end
      allowable_values = ["LEVEL_ACTIVE", "LEVEL_NAME", "LEVEL_DESCRIPTION", "LEVEL_CREATED", "LEVEL_UPDATED", "LEVEL_LIKES", "LEVEL_DISLIKES", "LEVEL_NOTES", "LEVEL_PLAYS", "LEVEL_DOWNLOADS", "LEVEL_QUITS", "LEVEL_COMPLETES", "LEVEL_VERSION", "LEVEL_MISSION_TYPE", "LEVEL_OWNER_DISPLAY", "GAME_OWNER_DISPLAY", "GAME_TITLE", "GAME_DESCRIPTION", "GAME_LIKES", "GAME_DISLIKES", "APP_NAME", "APP_SCORING_TYPE"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/level/searchByBillableEntity'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameLevelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.get_game_levels_by_billable_entity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#get_game_levels_by_billable_entity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Level Questions
    # Get questions within a level.
    # @param version [Float] 
    # @param level_id [Integer] the id of the level to get questions from
    # @param account_id [Integer] the id of the logged in user
    # @param [Hash] opts the optional parameters
    # @return [QuestionResponse]
    def get_questions_in_level(version, level_id, account_id, opts = {})
      data, _status_code, _headers = get_questions_in_level_with_http_info(version, level_id, account_id, opts)
      data
    end

    # Get Level Questions
    # Get questions within a level.
    # @param version [Float] 
    # @param level_id [Integer] the id of the level to get questions from
    # @param account_id [Integer] the id of the logged in user
    # @param [Hash] opts the optional parameters
    # @return [Array<(QuestionResponse, Integer, Hash)>] QuestionResponse data, response status code and response headers
    def get_questions_in_level_with_http_info(version, level_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.get_questions_in_level ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.get_questions_in_level"
      end
      # verify the required parameter 'level_id' is set
      if @api_client.config.client_side_validation && level_id.nil?
        fail ArgumentError, "Missing the required parameter 'level_id' when calling GameLevelApi.get_questions_in_level"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.get_questions_in_level"
      end
      # resource path
      local_var_path = '/api/{version}/level/questions/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'levelId'] = level_id
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QuestionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.get_questions_in_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#get_questions_in_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Level Words
    # Get words within a level.
    # @param version [Float] 
    # @param level_id [Integer] the id of the level to get words for
    # @param account_id [Integer] the id of the logged in user
    # @param [Hash] opts the optional parameters
    # @return [WordzWordResponse]
    def get_words_in_level(version, level_id, account_id, opts = {})
      data, _status_code, _headers = get_words_in_level_with_http_info(version, level_id, account_id, opts)
      data
    end

    # Get Level Words
    # Get words within a level.
    # @param version [Float] 
    # @param level_id [Integer] the id of the level to get words for
    # @param account_id [Integer] the id of the logged in user
    # @param [Hash] opts the optional parameters
    # @return [Array<(WordzWordResponse, Integer, Hash)>] WordzWordResponse data, response status code and response headers
    def get_words_in_level_with_http_info(version, level_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.get_words_in_level ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.get_words_in_level"
      end
      # verify the required parameter 'level_id' is set
      if @api_client.config.client_side_validation && level_id.nil?
        fail ArgumentError, "Missing the required parameter 'level_id' when calling GameLevelApi.get_words_in_level"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.get_words_in_level"
      end
      # resource path
      local_var_path = '/api/{version}/level/words/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'levelId'] = level_id
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WordzWordResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.get_words_in_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#get_words_in_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Game Level
    # Update a game level. Currently does NOT support game objects.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param level_id [Integer] If update then include the level Id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The game application key to save the level for.
    # @option opts [String] :name The name of the level.
    # @option opts [String] :description The description of the level.
    # @option opts [String] :difficulty The difficulty, possible values are: VERY_EASY, EASY, MEDIUM, HARD, VERY_HARD.
    # @option opts [String] :app_version The version number of the applicatuion required to correctly load/play the level.
    # @option opts [Integer] :asset_image_id The asset Id of the level image.
    # @option opts [Integer] :asset_icon_id The asset Id of the level icon.
    # @option opts [String] :game_data The game level data: xml, json, or other texted based format.
    # @option opts [String] :game_data_suffix The game level data format type.
    # @option opts [String] :visibility Is the level visible to others, possible values are: PUBLIC, PRIVATE.
    # @option opts [Boolean] :friend_group Make the level be readable by all friends.
    # @option opts [String] :connection_ids Make the level be readable by connections in this list.
    # @option opts [String] :connection_group_ids Make the level be readable by connection groups in this list.
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
    # @option opts [Boolean] :active If true set the game level as active.
    # @option opts [Boolean] :allocate_tickets If true then scoring will give tickets.
    # @option opts [Integer] :ticket_count The number of tickets to reward
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a level
    # @option opts [String] :tutorial_title Title of the tutorial.
    # @option opts [String] :tutorial_message Message of the tutorial.
    # @option opts [String] :tutorial_alignment Alignment of the tutorial image, possible values are: NONE, IMAGE_ABOVE, IMAGE_BELOW, IMAGE_LEFT, IMAGE_RIGHT, IMAGE_ONLY, TEXT_ONLY
    # @option opts [Integer] :tutorial_image_asset_id Asset id of the tutorial image.
    # @option opts [Integer] :offer_id 
    # @option opts [String] :meta_data external custom client defined data
    # @return [GameLevelResponse]
    def update_game_level(version, account_id, level_id, opts = {})
      data, _status_code, _headers = update_game_level_with_http_info(version, account_id, level_id, opts)
      data
    end

    # Update Game Level
    # Update a game level. Currently does NOT support game objects.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param level_id [Integer] If update then include the level Id.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The game application key to save the level for.
    # @option opts [String] :name The name of the level.
    # @option opts [String] :description The description of the level.
    # @option opts [String] :difficulty The difficulty, possible values are: VERY_EASY, EASY, MEDIUM, HARD, VERY_HARD.
    # @option opts [String] :app_version The version number of the applicatuion required to correctly load/play the level.
    # @option opts [Integer] :asset_image_id The asset Id of the level image.
    # @option opts [Integer] :asset_icon_id The asset Id of the level icon.
    # @option opts [String] :game_data The game level data: xml, json, or other texted based format.
    # @option opts [String] :game_data_suffix The game level data format type.
    # @option opts [String] :visibility Is the level visible to others, possible values are: PUBLIC, PRIVATE.
    # @option opts [Boolean] :friend_group Make the level be readable by all friends.
    # @option opts [String] :connection_ids Make the level be readable by connections in this list.
    # @option opts [String] :connection_group_ids Make the level be readable by connection groups in this list.
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate level. Set to a negative value for unlimited.
    # @option opts [Boolean] :active If true set the game level as active.
    # @option opts [Boolean] :allocate_tickets If true then scoring will give tickets.
    # @option opts [Integer] :ticket_count The number of tickets to reward
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a level
    # @option opts [String] :tutorial_title Title of the tutorial.
    # @option opts [String] :tutorial_message Message of the tutorial.
    # @option opts [String] :tutorial_alignment Alignment of the tutorial image, possible values are: NONE, IMAGE_ABOVE, IMAGE_BELOW, IMAGE_LEFT, IMAGE_RIGHT, IMAGE_ONLY, TEXT_ONLY
    # @option opts [Integer] :tutorial_image_asset_id Asset id of the tutorial image.
    # @option opts [Integer] :offer_id 
    # @option opts [String] :meta_data external custom client defined data
    # @return [Array<(GameLevelResponse, Integer, Hash)>] GameLevelResponse data, response status code and response headers
    def update_game_level_with_http_info(version, account_id, level_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.update_game_level ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.update_game_level"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.update_game_level"
      end
      # verify the required parameter 'level_id' is set
      if @api_client.config.client_side_validation && level_id.nil?
        fail ArgumentError, "Missing the required parameter 'level_id' when calling GameLevelApi.update_game_level"
      end
      # resource path
      local_var_path = '/api/{version}/level/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'levelId'] = level_id
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'difficulty'] = opts[:'difficulty'] if !opts[:'difficulty'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'assetImageId'] = opts[:'asset_image_id'] if !opts[:'asset_image_id'].nil?
      query_params[:'assetIconId'] = opts[:'asset_icon_id'] if !opts[:'asset_icon_id'].nil?
      query_params[:'gameData'] = opts[:'game_data'] if !opts[:'game_data'].nil?
      query_params[:'gameDataSuffix'] = opts[:'game_data_suffix'] if !opts[:'game_data_suffix'].nil?
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'friendGroup'] = opts[:'friend_group'] if !opts[:'friend_group'].nil?
      query_params[:'connectionIds'] = opts[:'connection_ids'] if !opts[:'connection_ids'].nil?
      query_params[:'connectionGroupIds'] = opts[:'connection_group_ids'] if !opts[:'connection_group_ids'].nil?
      query_params[:'balance'] = opts[:'balance'] if !opts[:'balance'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'allocateTickets'] = opts[:'allocate_tickets'] if !opts[:'allocate_tickets'].nil?
      query_params[:'ticketCount'] = opts[:'ticket_count'] if !opts[:'ticket_count'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?
      query_params[:'tutorialTitle'] = opts[:'tutorial_title'] if !opts[:'tutorial_title'].nil?
      query_params[:'tutorialMessage'] = opts[:'tutorial_message'] if !opts[:'tutorial_message'].nil?
      query_params[:'tutorialAlignment'] = opts[:'tutorial_alignment'] if !opts[:'tutorial_alignment'].nil?
      query_params[:'tutorialImageAssetId'] = opts[:'tutorial_image_asset_id'] if !opts[:'tutorial_image_asset_id'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameLevelResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.update_game_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#update_game_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Level Questions
    # Updates a level with question game objects.
    # @param version [Float] 
    # @param level_id [Integer] the id of the level to update questions on
    # @param account_id [Integer] the id of the logged in user
    # @param question_ids [String] the IDs of the questions to update
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def update_questions_in_level(version, level_id, account_id, question_ids, opts = {})
      data, _status_code, _headers = update_questions_in_level_with_http_info(version, level_id, account_id, question_ids, opts)
      data
    end

    # Update Level Questions
    # Updates a level with question game objects.
    # @param version [Float] 
    # @param level_id [Integer] the id of the level to update questions on
    # @param account_id [Integer] the id of the logged in user
    # @param question_ids [String] the IDs of the questions to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def update_questions_in_level_with_http_info(version, level_id, account_id, question_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.update_questions_in_level ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.update_questions_in_level"
      end
      # verify the required parameter 'level_id' is set
      if @api_client.config.client_side_validation && level_id.nil?
        fail ArgumentError, "Missing the required parameter 'level_id' when calling GameLevelApi.update_questions_in_level"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.update_questions_in_level"
      end
      # verify the required parameter 'question_ids' is set
      if @api_client.config.client_side_validation && question_ids.nil?
        fail ArgumentError, "Missing the required parameter 'question_ids' when calling GameLevelApi.update_questions_in_level"
      end
      # resource path
      local_var_path = '/api/{version}/level/questions/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'levelId'] = level_id
      query_params[:'accountId'] = account_id
      query_params[:'questionIds'] = question_ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.update_questions_in_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#update_questions_in_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Level Words
    # Updates a level with word game objects.
    # @param version [Float] 
    # @param level_id [Integer] the id of the level to update words for
    # @param account_id [Integer] the id of the logged in user
    # @param word_ids [String] the ids of the words to update for the level
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def update_words_in_level(version, level_id, account_id, word_ids, opts = {})
      data, _status_code, _headers = update_words_in_level_with_http_info(version, level_id, account_id, word_ids, opts)
      data
    end

    # Update Level Words
    # Updates a level with word game objects.
    # @param version [Float] 
    # @param level_id [Integer] the id of the level to update words for
    # @param account_id [Integer] the id of the logged in user
    # @param word_ids [String] the ids of the words to update for the level
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def update_words_in_level_with_http_info(version, level_id, account_id, word_ids, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameLevelApi.update_words_in_level ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling GameLevelApi.update_words_in_level"
      end
      # verify the required parameter 'level_id' is set
      if @api_client.config.client_side_validation && level_id.nil?
        fail ArgumentError, "Missing the required parameter 'level_id' when calling GameLevelApi.update_words_in_level"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameLevelApi.update_words_in_level"
      end
      # verify the required parameter 'word_ids' is set
      if @api_client.config.client_side_validation && word_ids.nil?
        fail ArgumentError, "Missing the required parameter 'word_ids' when calling GameLevelApi.update_words_in_level"
      end
      # resource path
      local_var_path = '/api/{version}/level/words/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'levelId'] = level_id
      query_params[:'accountId'] = account_id
      query_params[:'wordIds'] = word_ids

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameLevelApi.update_words_in_level",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameLevelApi#update_words_in_level\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
