=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class GameApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a Game
    # Create a Game.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The logged in user.
    # @option opts [String] :app_key The game application key to save the level for.
    # @option opts [String] :title Title of the game.
    # @option opts [String] :description Description of the game.
    # @option opts [String] :meta_data metaData of the Game.
    # @option opts [String] :pack_ids comma separated String of pack Ids that will associate with the game.
    # @option opts [Boolean] :include_game_data Show more details in response.
    # @return [GameResponse]
    def create_game(opts = {})
      data, _status_code, _headers = create_game_with_http_info(opts)
      data
    end

    # Create a Game
    # Create a Game.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The logged in user.
    # @option opts [String] :app_key The game application key to save the level for.
    # @option opts [String] :title Title of the game.
    # @option opts [String] :description Description of the game.
    # @option opts [String] :meta_data metaData of the Game.
    # @option opts [String] :pack_ids comma separated String of pack Ids that will associate with the game.
    # @option opts [Boolean] :include_game_data Show more details in response.
    # @return [Array<(GameResponse, Integer, Hash)>] GameResponse data, response status code and response headers
    def create_game_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameApi.create_game ...'
      end
      # resource path
      local_var_path = '/game/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'packIds'] = opts[:'pack_ids'] if !opts[:'pack_ids'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameApi.create_game",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameApi#create_game\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a Game
    # Delete a game.
    # @param account_id [Integer] The logged in user.
    # @param game_id [Integer] the updating game&#39;s id.
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_game(account_id, game_id, opts = {})
      data, _status_code, _headers = delete_game_with_http_info(account_id, game_id, opts)
      data
    end

    # Delete a Game
    # Delete a game.
    # @param account_id [Integer] The logged in user.
    # @param game_id [Integer] the updating game&#39;s id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_game_with_http_info(account_id, game_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameApi.delete_game ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameApi.delete_game"
      end
      # verify the required parameter 'game_id' is set
      if @api_client.config.client_side_validation && game_id.nil?
        fail ArgumentError, "Missing the required parameter 'game_id' when calling GameApi.delete_game"
      end
      # resource path
      local_var_path = '/game/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'gameId'] = game_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameApi.delete_game",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameApi#delete_game\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a Game by id
    # Get a Game by id.
    # @param account_id [Integer] The logged in user.
    # @param game_id [Integer] the updating game&#39;s id.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_game_data If true include the game level data, otherwise don&#39;t. default is false.
    # @return [GameResponse]
    def get_game(account_id, game_id, opts = {})
      data, _status_code, _headers = get_game_with_http_info(account_id, game_id, opts)
      data
    end

    # Get a Game by id
    # Get a Game by id.
    # @param account_id [Integer] The logged in user.
    # @param game_id [Integer] the updating game&#39;s id.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_game_data If true include the game level data, otherwise don&#39;t. default is false.
    # @return [Array<(GameResponse, Integer, Hash)>] GameResponse data, response status code and response headers
    def get_game_with_http_info(account_id, game_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameApi.get_game ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameApi.get_game"
      end
      # verify the required parameter 'game_id' is set
      if @api_client.config.client_side_validation && game_id.nil?
        fail ArgumentError, "Missing the required parameter 'game_id' when calling GameApi.get_game"
      end
      # resource path
      local_var_path = '/game/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'gameId'] = game_id
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameApi.get_game",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameApi#get_game\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search a Game
    # Get a list of games for an application, just those the account has permissions to view.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] the application key
    # @param start [Integer] Start the result set at some index.
    # @param limit [Integer] Limit the result to some number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Match the keyword to the owner name or level name.
    # @option opts [String] :app_version The maximum version of the level to return.
    # @option opts [Boolean] :include_game_data more details in response
    # @option opts [Boolean] :include_inactive more details in response
    # @return [GameResponse]
    def search_games(account_id, app_key, start, limit, opts = {})
      data, _status_code, _headers = search_games_with_http_info(account_id, app_key, start, limit, opts)
      data
    end

    # Search a Game
    # Get a list of games for an application, just those the account has permissions to view.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] the application key
    # @param start [Integer] Start the result set at some index.
    # @param limit [Integer] Limit the result to some number.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Match the keyword to the owner name or level name.
    # @option opts [String] :app_version The maximum version of the level to return.
    # @option opts [Boolean] :include_game_data more details in response
    # @option opts [Boolean] :include_inactive more details in response
    # @return [Array<(GameResponse, Integer, Hash)>] GameResponse data, response status code and response headers
    def search_games_with_http_info(account_id, app_key, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameApi.search_games ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling GameApi.search_games"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling GameApi.search_games"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling GameApi.search_games"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling GameApi.search_games"
      end
      # resource path
      local_var_path = '/game/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?
      query_params[:'includeInactive'] = opts[:'include_inactive'] if !opts[:'include_inactive'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameApi.search_games",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameApi#search_games\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Game
    # Update a Game
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The logged in user.
    # @option opts [Integer] :game_id the updating game&#39;s id
    # @option opts [String] :app_key The game application key to save the level for.
    # @option opts [String] :title Title of the Game.
    # @option opts [String] :description Description of the Game.
    # @option opts [String] :meta_data metaData of the Game.
    # @option opts [String] :pack_ids comma separated String of pack Ids that will associate with the game.
    # @option opts [Boolean] :include_game_data show more details in response.
    # @return [GameResponse]
    def update_game(opts = {})
      data, _status_code, _headers = update_game_with_http_info(opts)
      data
    end

    # Update a Game
    # Update a Game
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The logged in user.
    # @option opts [Integer] :game_id the updating game&#39;s id
    # @option opts [String] :app_key The game application key to save the level for.
    # @option opts [String] :title Title of the Game.
    # @option opts [String] :description Description of the Game.
    # @option opts [String] :meta_data metaData of the Game.
    # @option opts [String] :pack_ids comma separated String of pack Ids that will associate with the game.
    # @option opts [Boolean] :include_game_data show more details in response.
    # @return [Array<(GameResponse, Integer, Hash)>] GameResponse data, response status code and response headers
    def update_game_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: GameApi.update_game ...'
      end
      # resource path
      local_var_path = '/game/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'gameId'] = opts[:'game_id'] if !opts[:'game_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'packIds'] = opts[:'pack_ids'] if !opts[:'pack_ids'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GameResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"GameApi.update_game",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: GameApi#update_game\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
