=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class InviteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accept Invite
    # Allows a user to accept an invite. The user could also become the inviter's friend.
    # @param token [String] the invite token
    # @param account_id [Integer] the accountId of the user who is accepting the invite
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :album_id the album id associated with this invite (if applicable)
    # @option opts [Integer] :mission_id the mission id associated with this invite (if applicable)
    # @option opts [Integer] :album_contest_id the album contest id associated with this invite (if applicable)
    # @option opts [Integer] :offer_id the offer id associated with this invite (if applicable)
    # @option opts [Integer] :offer_location_id the offer location id associated with this invite (if applicable)
    # @option opts [Integer] :retailer_location_id the retailer location id associated with this invite (if applicable)
    # @option opts [String] :app_key the application key
    # @option opts [Boolean] :auto_friend whether to auto-friend the invite sender and receiver (default to true)
    # @option opts [Boolean] :auto_attend_event whether to mark the event as attending automatically after invite is accepted (default to false)
    # @option opts [Boolean] :auto_favorite_offer whether to mark the offer as favorited automatically after invite is accepted (default to false)
    # @option opts [Boolean] :auto_favorite_offer_location whether to mark the offer location as favorited automatically after invite is accepted (default to false)
    # @option opts [Boolean] :auto_favorite_retailer_location whether to mark the retailer location as favorited automatically after invite is accepted (default to false)
    # @return [ConsumerInviteResponse]
    def accept_invite(token, account_id, opts = {})
      data, _status_code, _headers = accept_invite_with_http_info(token, account_id, opts)
      data
    end

    # Accept Invite
    # Allows a user to accept an invite. The user could also become the inviter&#39;s friend.
    # @param token [String] the invite token
    # @param account_id [Integer] the accountId of the user who is accepting the invite
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :album_id the album id associated with this invite (if applicable)
    # @option opts [Integer] :mission_id the mission id associated with this invite (if applicable)
    # @option opts [Integer] :album_contest_id the album contest id associated with this invite (if applicable)
    # @option opts [Integer] :offer_id the offer id associated with this invite (if applicable)
    # @option opts [Integer] :offer_location_id the offer location id associated with this invite (if applicable)
    # @option opts [Integer] :retailer_location_id the retailer location id associated with this invite (if applicable)
    # @option opts [String] :app_key the application key
    # @option opts [Boolean] :auto_friend whether to auto-friend the invite sender and receiver (default to true)
    # @option opts [Boolean] :auto_attend_event whether to mark the event as attending automatically after invite is accepted (default to false)
    # @option opts [Boolean] :auto_favorite_offer whether to mark the offer as favorited automatically after invite is accepted (default to false)
    # @option opts [Boolean] :auto_favorite_offer_location whether to mark the offer location as favorited automatically after invite is accepted (default to false)
    # @option opts [Boolean] :auto_favorite_retailer_location whether to mark the retailer location as favorited automatically after invite is accepted (default to false)
    # @return [Array<(ConsumerInviteResponse, Integer, Hash)>] ConsumerInviteResponse data, response status code and response headers
    def accept_invite_with_http_info(token, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.accept_invite ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling InviteApi.accept_invite"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling InviteApi.accept_invite"
      end
      # resource path
      local_var_path = '/invite/accept'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = token
      query_params[:'accountId'] = account_id
      query_params[:'albumId'] = opts[:'album_id'] if !opts[:'album_id'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'albumContestId'] = opts[:'album_contest_id'] if !opts[:'album_contest_id'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'autoFriend'] = opts[:'auto_friend'] if !opts[:'auto_friend'].nil?
      query_params[:'autoAttendEvent'] = opts[:'auto_attend_event'] if !opts[:'auto_attend_event'].nil?
      query_params[:'autoFavoriteOffer'] = opts[:'auto_favorite_offer'] if !opts[:'auto_favorite_offer'].nil?
      query_params[:'autoFavoriteOfferLocation'] = opts[:'auto_favorite_offer_location'] if !opts[:'auto_favorite_offer_location'].nil?
      query_params[:'autoFavoriteRetailerLocation'] = opts[:'auto_favorite_retailer_location'] if !opts[:'auto_favorite_retailer_location'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConsumerInviteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.accept_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#accept_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite to Contest
    # Allows a user to invite people to gain access to a contest. This will generate an invite token, which when used, will give the invitee access to a contest (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :app_id This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :album_contest_id the album contest to share
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [InviteResponse]
    def album_contest_invite(opts = {})
      data, _status_code, _headers = album_contest_invite_with_http_info(opts)
      data
    end

    # Invite to Contest
    # Allows a user to invite people to gain access to a contest. This will generate an invite token, which when used, will give the invitee access to a contest (whether it is private or not). The invitee will also become the user&#39;s friend when the invitation is accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :app_id This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :album_contest_id the album contest to share
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(InviteResponse, Integer, Hash)>] InviteResponse data, response status code and response headers
    def album_contest_invite_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.album_contest_invite ...'
      end
      # resource path
      local_var_path = '/invite/albumContest'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appId'] = opts[:'app_id'] if !opts[:'app_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'albumContestId'] = opts[:'album_contest_id'] if !opts[:'album_contest_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InviteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.album_contest_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#album_contest_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite to Collection
    # Allows a user to invite people to gain access to a collection. This will generate an invite token, which when used, will give the invitee access to a collection (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :app_id This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :album_id the album to share
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [InviteResponse]
    def album_invite(opts = {})
      data, _status_code, _headers = album_invite_with_http_info(opts)
      data
    end

    # Invite to Collection
    # Allows a user to invite people to gain access to a collection. This will generate an invite token, which when used, will give the invitee access to a collection (whether it is private or not). The invitee will also become the user&#39;s friend when the invitation is accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :app_id This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :album_id the album to share
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(InviteResponse, Integer, Hash)>] InviteResponse data, response status code and response headers
    def album_invite_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.album_invite ...'
      end
      # resource path
      local_var_path = '/invite/album'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appId'] = opts[:'app_id'] if !opts[:'app_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'albumId'] = opts[:'album_id'] if !opts[:'album_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InviteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.album_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#album_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite to Event
    # Allows a user to invite people to attend an event. This will generate an invite token, which when used, will allow the invitee to add the offer to their wallet.
    # @param account_id [Integer] the account ID of the user making the share
    # @param app_key [String] the application key
    # @param listing_id [Integer] The ID of the event listing
    # @param [Hash] opts the optional parameters
    # @option opts [String] :receiver_account_ids the account ID of a Sirqul user they would like to share an event with
    # @option opts [Integer] :retailer_location_id The retailer location id of where the event will take place
    # @return [InviteResponse]
    def event_invite(account_id, app_key, listing_id, opts = {})
      data, _status_code, _headers = event_invite_with_http_info(account_id, app_key, listing_id, opts)
      data
    end

    # Invite to Event
    # Allows a user to invite people to attend an event. This will generate an invite token, which when used, will allow the invitee to add the offer to their wallet.
    # @param account_id [Integer] the account ID of the user making the share
    # @param app_key [String] the application key
    # @param listing_id [Integer] The ID of the event listing
    # @param [Hash] opts the optional parameters
    # @option opts [String] :receiver_account_ids the account ID of a Sirqul user they would like to share an event with
    # @option opts [Integer] :retailer_location_id The retailer location id of where the event will take place
    # @return [Array<(InviteResponse, Integer, Hash)>] InviteResponse data, response status code and response headers
    def event_invite_with_http_info(account_id, app_key, listing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.event_invite ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling InviteApi.event_invite"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling InviteApi.event_invite"
      end
      # verify the required parameter 'listing_id' is set
      if @api_client.config.client_side_validation && listing_id.nil?
        fail ArgumentError, "Missing the required parameter 'listing_id' when calling InviteApi.event_invite"
      end
      # resource path
      local_var_path = '/invite/event'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'listingId'] = listing_id
      query_params[:'receiverAccountIds'] = opts[:'receiver_account_ids'] if !opts[:'receiver_account_ids'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InviteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.event_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#event_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite to Game Level
    # Allows a user to invite people to gain access to an album. This will generate an invite token, which when used, will give the invitee access to an album (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :app_id This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :game_level_id the game level that the user owns and is giving access to
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [InviteResponse]
    def game_invite(opts = {})
      data, _status_code, _headers = game_invite_with_http_info(opts)
      data
    end

    # Invite to Game Level
    # Allows a user to invite people to gain access to an album. This will generate an invite token, which when used, will give the invitee access to an album (whether it is private or not). The invitee will also become the user&#39;s friend when the invitation is accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :app_id This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :game_level_id the game level that the user owns and is giving access to
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(InviteResponse, Integer, Hash)>] InviteResponse data, response status code and response headers
    def game_invite_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.game_invite ...'
      end
      # resource path
      local_var_path = '/invite/gameLevel'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appId'] = opts[:'app_id'] if !opts[:'app_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'gameLevelId'] = opts[:'game_level_id'] if !opts[:'game_level_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InviteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.game_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#game_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Invite
    # This is used to determine whether an invite token is valid. If the token is valid, this will also return information about who invited the user, and what they are invited to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id Account ID of the user if they are logged in
    # @option opts [String] :token the invite token
    # @option opts [Integer] :album_id album id to match the invite against (if applicable)
    # @option opts [Integer] :mission_id mission id to match the invite against (if applicable)
    # @option opts [Integer] :album_contest_id album contest id to match the invite against (if applicable)
    # @option opts [Integer] :offer_id offer id to match the invite against (if applicable)
    # @option opts [Integer] :offer_location_id offer location id to match the invite against (if applicable)
    # @option opts [Integer] :retailer_location_id retailer location id to match the invite against (if applicable)
    # @option opts [String] :app_key the application key
    # @return [SirqulResponse]
    def get_invite(opts = {})
      data, _status_code, _headers = get_invite_with_http_info(opts)
      data
    end

    # Get Invite
    # This is used to determine whether an invite token is valid. If the token is valid, this will also return information about who invited the user, and what they are invited to.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id Account ID of the user if they are logged in
    # @option opts [String] :token the invite token
    # @option opts [Integer] :album_id album id to match the invite against (if applicable)
    # @option opts [Integer] :mission_id mission id to match the invite against (if applicable)
    # @option opts [Integer] :album_contest_id album contest id to match the invite against (if applicable)
    # @option opts [Integer] :offer_id offer id to match the invite against (if applicable)
    # @option opts [Integer] :offer_location_id offer location id to match the invite against (if applicable)
    # @option opts [Integer] :retailer_location_id retailer location id to match the invite against (if applicable)
    # @option opts [String] :app_key the application key
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def get_invite_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.get_invite ...'
      end
      # resource path
      local_var_path = '/invite/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'albumId'] = opts[:'album_id'] if !opts[:'album_id'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'albumContestId'] = opts[:'album_contest_id'] if !opts[:'album_contest_id'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.get_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#get_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite to Mission
    # Allows a user to invite people to gain access to a mission. This will generate an invite token, which when used, will give the invitee access to a mission (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :app_id This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :mission_id the mission to share
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [InviteResponse]
    def mission_invite(opts = {})
      data, _status_code, _headers = mission_invite_with_http_info(opts)
      data
    end

    # Invite to Mission
    # Allows a user to invite people to gain access to a mission. This will generate an invite token, which when used, will give the invitee access to a mission (whether it is private or not). The invitee will also become the user&#39;s friend when the invitation is accepted.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :app_id This parameter is deprecated.
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :mission_id the mission to share
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(InviteResponse, Integer, Hash)>] InviteResponse data, response status code and response headers
    def mission_invite_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.mission_invite ...'
      end
      # resource path
      local_var_path = '/invite/mission'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appId'] = opts[:'app_id'] if !opts[:'app_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InviteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.mission_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#mission_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite to Offer
    # Allows a user to invite people to favorite an offer. This will generate an invite token, which when used, will give the invitee the offer in their favorite's list.
    # @param account_id [Integer] the account ID of the user making the share
    # @param app_key [String] the application key
    # @param offer_id [Integer] the ID of the offer used to invite to favorite
    # @param [Hash] opts the optional parameters
    # @return [InviteResponse]
    def offer_invite(account_id, app_key, offer_id, opts = {})
      data, _status_code, _headers = offer_invite_with_http_info(account_id, app_key, offer_id, opts)
      data
    end

    # Invite to Offer
    # Allows a user to invite people to favorite an offer. This will generate an invite token, which when used, will give the invitee the offer in their favorite&#39;s list.
    # @param account_id [Integer] the account ID of the user making the share
    # @param app_key [String] the application key
    # @param offer_id [Integer] the ID of the offer used to invite to favorite
    # @param [Hash] opts the optional parameters
    # @return [Array<(InviteResponse, Integer, Hash)>] InviteResponse data, response status code and response headers
    def offer_invite_with_http_info(account_id, app_key, offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.offer_invite ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling InviteApi.offer_invite"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling InviteApi.offer_invite"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling InviteApi.offer_invite"
      end
      # resource path
      local_var_path = '/invite/offer'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'offerId'] = offer_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InviteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.offer_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#offer_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite to Offer Location
    # Allows a user to invite people to favorite an offer location. This will generate an invite token, which when used, will give the invitee the offer location in their favorite's list.
    # @param account_id [Integer] the account ID of the user making the share
    # @param app_key [String] the application key
    # @param offer_location_id [Integer] the id of the offer location to share
    # @param [Hash] opts the optional parameters
    # @return [InviteResponse]
    def offer_location_invite(account_id, app_key, offer_location_id, opts = {})
      data, _status_code, _headers = offer_location_invite_with_http_info(account_id, app_key, offer_location_id, opts)
      data
    end

    # Invite to Offer Location
    # Allows a user to invite people to favorite an offer location. This will generate an invite token, which when used, will give the invitee the offer location in their favorite&#39;s list.
    # @param account_id [Integer] the account ID of the user making the share
    # @param app_key [String] the application key
    # @param offer_location_id [Integer] the id of the offer location to share
    # @param [Hash] opts the optional parameters
    # @return [Array<(InviteResponse, Integer, Hash)>] InviteResponse data, response status code and response headers
    def offer_location_invite_with_http_info(account_id, app_key, offer_location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.offer_location_invite ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling InviteApi.offer_location_invite"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling InviteApi.offer_location_invite"
      end
      # verify the required parameter 'offer_location_id' is set
      if @api_client.config.client_side_validation && offer_location_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_location_id' when calling InviteApi.offer_location_invite"
      end
      # resource path
      local_var_path = '/invite/offerLocation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'offerLocationId'] = offer_location_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InviteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.offer_location_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#offer_location_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite to Retailer Location
    # Allows a user to invite people to favorite a retailer location. This will generate an invite token, which when used, will give the invitee the retailer location in their favorite's list.
    # @param account_id [Integer] the account ID of the user making the share
    # @param app_key [String] the application key
    # @param retailer_location_id [Integer] The retailer location id of where the event will take place
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :album_id Optional album id to link with the invite
    # @return [InviteResponse]
    def retailer_location_invite(account_id, app_key, retailer_location_id, opts = {})
      data, _status_code, _headers = retailer_location_invite_with_http_info(account_id, app_key, retailer_location_id, opts)
      data
    end

    # Invite to Retailer Location
    # Allows a user to invite people to favorite a retailer location. This will generate an invite token, which when used, will give the invitee the retailer location in their favorite&#39;s list.
    # @param account_id [Integer] the account ID of the user making the share
    # @param app_key [String] the application key
    # @param retailer_location_id [Integer] The retailer location id of where the event will take place
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :album_id Optional album id to link with the invite
    # @return [Array<(InviteResponse, Integer, Hash)>] InviteResponse data, response status code and response headers
    def retailer_location_invite_with_http_info(account_id, app_key, retailer_location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InviteApi.retailer_location_invite ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling InviteApi.retailer_location_invite"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling InviteApi.retailer_location_invite"
      end
      # verify the required parameter 'retailer_location_id' is set
      if @api_client.config.client_side_validation && retailer_location_id.nil?
        fail ArgumentError, "Missing the required parameter 'retailer_location_id' when calling InviteApi.retailer_location_invite"
      end
      # resource path
      local_var_path = '/invite/retailerLocation'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'retailerLocationId'] = retailer_location_id
      query_params[:'albumId'] = opts[:'album_id'] if !opts[:'album_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InviteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InviteApi.retailer_location_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InviteApi#retailer_location_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
