=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class LeaderboardApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
    # Create a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user creating the leaderboard.
    # @option opts [String] :app_key The application key
    # @option opts [String] :rank_type a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters. There are also default rank types to use which include: POINTS, DOWNLOADS, INVITATIONS, CREATIONS, VOTES, REDEEMED, ACTIONS
    # @option opts [String] :leaderboard_mode the type of search to perform. Possible values include: GLOBAL - searches scores globally (all users in the system are included in the ranking); LOCAL - filters results by select users and on users that have logged into the same device; SEARCH - does a GLOBAL search by keyword; CUSTOM - does a LOCAL search by keyword
    # @option opts [File] :icon_media a MultipartFile containing the icon image of the leaderboard (this will only be used if \&quot;iconAssetId\&quot; is empty)
    # @option opts [Integer] :icon_asset_id The asset ID to set the leaderboard icon
    # @option opts [File] :banner_media a MultipartFile containing the icon banner of the leaderboard (this will only be used if \&quot;bannerAssetId\&quot; is empty)
    # @option opts [Integer] :banner_asset_id The asset ID to set the leaderboard banner
    # @option opts [Integer] :limitation limit number of rankings for each leaderboard
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST
    # @option opts [String] :title leaderboard&#39;s title
    # @option opts [String] :description leaderboard&#39;s description
    # @option opts [String] :meta_data custom meta data for the leaderboard
    # @return [LeaderboardResponse]
    def create_leaderboard(version, opts = {})
      data, _status_code, _headers = create_leaderboard_with_http_info(version, opts)
      data
    end

    # Create a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
    # Create a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user creating the leaderboard.
    # @option opts [String] :app_key The application key
    # @option opts [String] :rank_type a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters. There are also default rank types to use which include: POINTS, DOWNLOADS, INVITATIONS, CREATIONS, VOTES, REDEEMED, ACTIONS
    # @option opts [String] :leaderboard_mode the type of search to perform. Possible values include: GLOBAL - searches scores globally (all users in the system are included in the ranking); LOCAL - filters results by select users and on users that have logged into the same device; SEARCH - does a GLOBAL search by keyword; CUSTOM - does a LOCAL search by keyword
    # @option opts [File] :icon_media a MultipartFile containing the icon image of the leaderboard (this will only be used if \&quot;iconAssetId\&quot; is empty)
    # @option opts [Integer] :icon_asset_id The asset ID to set the leaderboard icon
    # @option opts [File] :banner_media a MultipartFile containing the icon banner of the leaderboard (this will only be used if \&quot;bannerAssetId\&quot; is empty)
    # @option opts [Integer] :banner_asset_id The asset ID to set the leaderboard banner
    # @option opts [Integer] :limitation limit number of rankings for each leaderboard
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST
    # @option opts [String] :title leaderboard&#39;s title
    # @option opts [String] :description leaderboard&#39;s description
    # @option opts [String] :meta_data custom meta data for the leaderboard
    # @return [Array<(LeaderboardResponse, Integer, Hash)>] LeaderboardResponse data, response status code and response headers
    def create_leaderboard_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaderboardApi.create_leaderboard ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling LeaderboardApi.create_leaderboard"
      end
      # resource path
      local_var_path = '/api/{version}/leaderboard/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?
      query_params[:'leaderboardMode'] = opts[:'leaderboard_mode'] if !opts[:'leaderboard_mode'].nil?
      query_params[:'iconMedia'] = opts[:'icon_media'] if !opts[:'icon_media'].nil?
      query_params[:'iconAssetId'] = opts[:'icon_asset_id'] if !opts[:'icon_asset_id'].nil?
      query_params[:'bannerMedia'] = opts[:'banner_media'] if !opts[:'banner_media'].nil?
      query_params[:'bannerAssetId'] = opts[:'banner_asset_id'] if !opts[:'banner_asset_id'].nil?
      query_params[:'limitation'] = opts[:'limitation'] if !opts[:'limitation'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeaderboardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaderboardApi.create_leaderboard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaderboardApi#create_leaderboard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete the Leader Board
    # Removes a leader board id.
    # @param version [Float] 
    # @param leaderboard_id [Integer] The leaderboard id to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user making the request.
    # @return [SirqulResponse]
    def delete_leaderboard(version, leaderboard_id, opts = {})
      data, _status_code, _headers = delete_leaderboard_with_http_info(version, leaderboard_id, opts)
      data
    end

    # Delete the Leader Board
    # Removes a leader board id.
    # @param version [Float] 
    # @param leaderboard_id [Integer] The leaderboard id to delete.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user making the request.
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_leaderboard_with_http_info(version, leaderboard_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaderboardApi.delete_leaderboard ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling LeaderboardApi.delete_leaderboard"
      end
      # verify the required parameter 'leaderboard_id' is set
      if @api_client.config.client_side_validation && leaderboard_id.nil?
        fail ArgumentError, "Missing the required parameter 'leaderboard_id' when calling LeaderboardApi.delete_leaderboard"
      end
      # resource path
      local_var_path = '/api/{version}/leaderboard/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'leaderboardId'] = leaderboard_id
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaderboardApi.delete_leaderboard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaderboardApi#delete_leaderboard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read a leaderboard by id and retrieve the matching ranking list
    # Read a leaderboard by id and retrieve the matching ranking list
    # @param version [Float] 
    # @param leaderboard_id [Integer] The leaderboard id.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id A valid account.
    # @option opts [Boolean] :include_full_ranking_list set to true if need to return the leaderboard&#39;s full ranking list
    # @return [LeaderboardResponse]
    def get_leaderboard(version, leaderboard_id, opts = {})
      data, _status_code, _headers = get_leaderboard_with_http_info(version, leaderboard_id, opts)
      data
    end

    # Read a leaderboard by id and retrieve the matching ranking list
    # Read a leaderboard by id and retrieve the matching ranking list
    # @param version [Float] 
    # @param leaderboard_id [Integer] The leaderboard id.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id A valid account.
    # @option opts [Boolean] :include_full_ranking_list set to true if need to return the leaderboard&#39;s full ranking list
    # @return [Array<(LeaderboardResponse, Integer, Hash)>] LeaderboardResponse data, response status code and response headers
    def get_leaderboard_with_http_info(version, leaderboard_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaderboardApi.get_leaderboard ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling LeaderboardApi.get_leaderboard"
      end
      # verify the required parameter 'leaderboard_id' is set
      if @api_client.config.client_side_validation && leaderboard_id.nil?
        fail ArgumentError, "Missing the required parameter 'leaderboard_id' when calling LeaderboardApi.get_leaderboard"
      end
      # resource path
      local_var_path = '/api/{version}/leaderboard/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'leaderboardId'] = leaderboard_id
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'includeFullRankingList'] = opts[:'include_full_ranking_list'] if !opts[:'include_full_ranking_list'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeaderboardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaderboardApi.get_leaderboard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaderboardApi#get_leaderboard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search leaderboard and retrieve the matching ranking list
    # Search leaderboard and retrieve the matching ranking list
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user requesting the search.
    # @option opts [String] :app_key The application key.
    # @option opts [Boolean] :global_only only include global leaderboards (this overrides the appKey filter)
    # @option opts [String] :keyword keyword to search by title
    # @option opts [String] :leaderboard_ids comma separated list of leaderboard ids to filter results with
    # @option opts [String] :rank_types comma separated list of rankType to filter results with
    # @option opts [String] :sort_field sortField of the result, from LeaderboardApiMap (TITLE, DESCRIPTION, CREATED, UPDATED, RANK_TYPE, RANK_MODE)
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order
    # @option opts [Boolean] :include_inactive include inactive in the result
    # @option opts [Boolean] :include_app_response determines whether to include the application response for each leaderboard
    # @option opts [Integer] :start Start the result set at some index.
    # @option opts [Integer] :limit Limit the result to some number.
    # @return [LeaderboardResponse]
    def search_leaderboards(version, opts = {})
      data, _status_code, _headers = search_leaderboards_with_http_info(version, opts)
      data
    end

    # Search leaderboard and retrieve the matching ranking list
    # Search leaderboard and retrieve the matching ranking list
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user requesting the search.
    # @option opts [String] :app_key The application key.
    # @option opts [Boolean] :global_only only include global leaderboards (this overrides the appKey filter)
    # @option opts [String] :keyword keyword to search by title
    # @option opts [String] :leaderboard_ids comma separated list of leaderboard ids to filter results with
    # @option opts [String] :rank_types comma separated list of rankType to filter results with
    # @option opts [String] :sort_field sortField of the result, from LeaderboardApiMap (TITLE, DESCRIPTION, CREATED, UPDATED, RANK_TYPE, RANK_MODE)
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order
    # @option opts [Boolean] :include_inactive include inactive in the result
    # @option opts [Boolean] :include_app_response determines whether to include the application response for each leaderboard
    # @option opts [Integer] :start Start the result set at some index.
    # @option opts [Integer] :limit Limit the result to some number.
    # @return [Array<(LeaderboardResponse, Integer, Hash)>] LeaderboardResponse data, response status code and response headers
    def search_leaderboards_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaderboardApi.search_leaderboards ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling LeaderboardApi.search_leaderboards"
      end
      # resource path
      local_var_path = '/api/{version}/leaderboard/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'globalOnly'] = opts[:'global_only'] if !opts[:'global_only'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'leaderboardIds'] = opts[:'leaderboard_ids'] if !opts[:'leaderboard_ids'].nil?
      query_params[:'rankTypes'] = opts[:'rank_types'] if !opts[:'rank_types'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'includeInactive'] = opts[:'include_inactive'] if !opts[:'include_inactive'].nil?
      query_params[:'includeAppResponse'] = opts[:'include_app_response'] if !opts[:'include_app_response'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeaderboardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaderboardApi.search_leaderboards",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaderboardApi#search_leaderboards\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
    # Update a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
    # @param version [Float] 
    # @param leaderboard_id [Integer] The leaderboard id to update.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user updating the leaderboard.
    # @option opts [String] :app_key The application key
    # @option opts [String] :rank_type a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters.
    # @option opts [String] :leaderboard_mode the type of search to perform. Possible values include: GLOBAL, LOCAL, SEARCH, CUSTOM
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST
    # @option opts [File] :icon_media a MultipartFile containing the icon image of the leaderboard (this will only be used if \&quot;iconAssetId\&quot; is empty)
    # @option opts [Integer] :icon_asset_id The asset ID to set the leaderboard icon
    # @option opts [File] :banner_media a MultipartFile containing the icon banner of the leaderboard (this will only be used if \&quot;bannerAssetId\&quot; is empty)
    # @option opts [Integer] :banner_asset_id The asset ID to set the leaderboard banner
    # @option opts [Integer] :limitation limit number of rankings for each leaderboard
    # @option opts [Boolean] :active Whether the leaderboard is active
    # @option opts [String] :title leaderboard&#39;s title
    # @option opts [String] :description leaderboard&#39;s description
    # @option opts [String] :meta_data custom meta data for the leaderboard
    # @return [LeaderboardResponse]
    def update_leaderboard(version, leaderboard_id, opts = {})
      data, _status_code, _headers = update_leaderboard_with_http_info(version, leaderboard_id, opts)
      data
    end

    # Update a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
    # Update a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
    # @param version [Float] 
    # @param leaderboard_id [Integer] The leaderboard id to update.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user updating the leaderboard.
    # @option opts [String] :app_key The application key
    # @option opts [String] :rank_type a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters.
    # @option opts [String] :leaderboard_mode the type of search to perform. Possible values include: GLOBAL, LOCAL, SEARCH, CUSTOM
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST
    # @option opts [File] :icon_media a MultipartFile containing the icon image of the leaderboard (this will only be used if \&quot;iconAssetId\&quot; is empty)
    # @option opts [Integer] :icon_asset_id The asset ID to set the leaderboard icon
    # @option opts [File] :banner_media a MultipartFile containing the icon banner of the leaderboard (this will only be used if \&quot;bannerAssetId\&quot; is empty)
    # @option opts [Integer] :banner_asset_id The asset ID to set the leaderboard banner
    # @option opts [Integer] :limitation limit number of rankings for each leaderboard
    # @option opts [Boolean] :active Whether the leaderboard is active
    # @option opts [String] :title leaderboard&#39;s title
    # @option opts [String] :description leaderboard&#39;s description
    # @option opts [String] :meta_data custom meta data for the leaderboard
    # @return [Array<(LeaderboardResponse, Integer, Hash)>] LeaderboardResponse data, response status code and response headers
    def update_leaderboard_with_http_info(version, leaderboard_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LeaderboardApi.update_leaderboard ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling LeaderboardApi.update_leaderboard"
      end
      # verify the required parameter 'leaderboard_id' is set
      if @api_client.config.client_side_validation && leaderboard_id.nil?
        fail ArgumentError, "Missing the required parameter 'leaderboard_id' when calling LeaderboardApi.update_leaderboard"
      end
      # resource path
      local_var_path = '/api/{version}/leaderboard/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'leaderboardId'] = leaderboard_id
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?
      query_params[:'leaderboardMode'] = opts[:'leaderboard_mode'] if !opts[:'leaderboard_mode'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'iconMedia'] = opts[:'icon_media'] if !opts[:'icon_media'].nil?
      query_params[:'iconAssetId'] = opts[:'icon_asset_id'] if !opts[:'icon_asset_id'].nil?
      query_params[:'bannerMedia'] = opts[:'banner_media'] if !opts[:'banner_media'].nil?
      query_params[:'bannerAssetId'] = opts[:'banner_asset_id'] if !opts[:'banner_asset_id'].nil?
      query_params[:'limitation'] = opts[:'limitation'] if !opts[:'limitation'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'LeaderboardResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"LeaderboardApi.update_leaderboard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LeaderboardApi#update_leaderboard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
