=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ListingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Listing
    # Creates a listing.
    # @param account_id [Integer] the user&#39;s account ID
    # @param name [String] the name of the listing
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_ids comma separated list of filter IDs
    # @option opts [String] :description the description of the listing
    # @option opts [Integer] :start the start date of the listing
    # @option opts [Integer] :_end the end date of the listing
    # @option opts [String] :location_name the name of the location the listing will be held at
    # @option opts [String] :location_description the description of the location the listing will be held at
    # @option opts [Boolean] :is_private determines whether the listing is public or private (default to false)
    # @option opts [String] :external_id external identifier used by a third party
    # @option opts [String] :external_id2 secondary external identifier used by a third party
    # @option opts [String] :external_group_id external group identifier used by a third party
    # @option opts [Boolean] :active Sets the active flag
    # @option opts [String] :meta_data external custom client defined data
    # @return [ListingFullResponse]
    def create_listing(account_id, name, opts = {})
      data, _status_code, _headers = create_listing_with_http_info(account_id, name, opts)
      data
    end

    # Create Listing
    # Creates a listing.
    # @param account_id [Integer] the user&#39;s account ID
    # @param name [String] the name of the listing
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_ids comma separated list of filter IDs
    # @option opts [String] :description the description of the listing
    # @option opts [Integer] :start the start date of the listing
    # @option opts [Integer] :_end the end date of the listing
    # @option opts [String] :location_name the name of the location the listing will be held at
    # @option opts [String] :location_description the description of the location the listing will be held at
    # @option opts [Boolean] :is_private determines whether the listing is public or private (default to false)
    # @option opts [String] :external_id external identifier used by a third party
    # @option opts [String] :external_id2 secondary external identifier used by a third party
    # @option opts [String] :external_group_id external group identifier used by a third party
    # @option opts [Boolean] :active Sets the active flag
    # @option opts [String] :meta_data external custom client defined data
    # @return [Array<(ListingFullResponse, Integer, Hash)>] ListingFullResponse data, response status code and response headers
    def create_listing_with_http_info(account_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingApi.create_listing ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ListingApi.create_listing"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ListingApi.create_listing"
      end
      # resource path
      local_var_path = '/listing/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'name'] = name
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'end'] = opts[:'_end'] if !opts[:'_end'].nil?
      query_params[:'locationName'] = opts[:'location_name'] if !opts[:'location_name'].nil?
      query_params[:'locationDescription'] = opts[:'location_description'] if !opts[:'location_description'].nil?
      query_params[:'isPrivate'] = opts[:'is_private'] if !opts[:'is_private'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'externalId2'] = opts[:'external_id2'] if !opts[:'external_id2'].nil?
      query_params[:'externalGroupId'] = opts[:'external_group_id'] if !opts[:'external_group_id'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListingFullResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ListingApi.create_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingApi#create_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Listing
    # Delete a listing.
    # @param account_id [Integer] the id of the logged in user
    # @param listing_id [Integer] the id of the listing to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_listing(account_id, listing_id, opts = {})
      data, _status_code, _headers = delete_listing_with_http_info(account_id, listing_id, opts)
      data
    end

    # Delete Listing
    # Delete a listing.
    # @param account_id [Integer] the id of the logged in user
    # @param listing_id [Integer] the id of the listing to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_listing_with_http_info(account_id, listing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingApi.delete_listing ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ListingApi.delete_listing"
      end
      # verify the required parameter 'listing_id' is set
      if @api_client.config.client_side_validation && listing_id.nil?
        fail ArgumentError, "Missing the required parameter 'listing_id' when calling ListingApi.delete_listing"
      end
      # resource path
      local_var_path = '/listing/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'listingId'] = listing_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ListingApi.delete_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingApi#delete_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Listing
    # Get a listing by id.
    # @param listing_id [Integer] the id of the listing to get
    # @param [Hash] opts the optional parameters
    # @return [ListingFullResponse]
    def get_listing(listing_id, opts = {})
      data, _status_code, _headers = get_listing_with_http_info(listing_id, opts)
      data
    end

    # Get Listing
    # Get a listing by id.
    # @param listing_id [Integer] the id of the listing to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListingFullResponse, Integer, Hash)>] ListingFullResponse data, response status code and response headers
    def get_listing_with_http_info(listing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingApi.get_listing ...'
      end
      # verify the required parameter 'listing_id' is set
      if @api_client.config.client_side_validation && listing_id.nil?
        fail ArgumentError, "Missing the required parameter 'listing_id' when calling ListingApi.get_listing"
      end
      # resource path
      local_var_path = '/listing/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'listingId'] = listing_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListingFullResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ListingApi.get_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingApi#get_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Listings
    # Search for event listings from the start time to end time
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the account id of the user
    # @option opts [String] :keyword search the event name and description for this keyword
    # @option opts [Integer] :start the record to begin the return set on (default to 0)
    # @option opts [Integer] :limit the number of records to return (default to 20)
    # @option opts [Boolean] :active_only whether to search on active listings only (default to false)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [Integer] :start_date the start date to search from
    # @option opts [Integer] :end_date the end date to search to
    # @option opts [String] :category_ids only return items of these categories
    # @option opts [String] :filter_ids 
    # @option opts [Boolean] :use_listing_order_ids determines whether to use configured listing order ids (default to true)
    # @option opts [String] :external_id external identifier used by a third party
    # @option opts [String] :external_id2 secondary external identifier used by a third party
    # @option opts [String] :external_group_id external group identifier used by a third party
    # @return [Array<ListingResponse>]
    def search_listing(opts = {})
      data, _status_code, _headers = search_listing_with_http_info(opts)
      data
    end

    # Search Listings
    # Search for event listings from the start time to end time
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the account id of the user
    # @option opts [String] :keyword search the event name and description for this keyword
    # @option opts [Integer] :start the record to begin the return set on (default to 0)
    # @option opts [Integer] :limit the number of records to return (default to 20)
    # @option opts [Boolean] :active_only whether to search on active listings only (default to false)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [Integer] :start_date the start date to search from
    # @option opts [Integer] :end_date the end date to search to
    # @option opts [String] :category_ids only return items of these categories
    # @option opts [String] :filter_ids 
    # @option opts [Boolean] :use_listing_order_ids determines whether to use configured listing order ids (default to true)
    # @option opts [String] :external_id external identifier used by a third party
    # @option opts [String] :external_id2 secondary external identifier used by a third party
    # @option opts [String] :external_group_id external group identifier used by a third party
    # @return [Array<(Array<ListingResponse>, Integer, Hash)>] Array<ListingResponse> data, response status code and response headers
    def search_listing_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingApi.search_listing ...'
      end
      # resource path
      local_var_path = '/listing/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'useListingOrderIds'] = opts[:'use_listing_order_ids'] if !opts[:'use_listing_order_ids'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'externalId2'] = opts[:'external_id2'] if !opts[:'external_id2'].nil?
      query_params[:'externalGroupId'] = opts[:'external_group_id'] if !opts[:'external_group_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListingResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ListingApi.search_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingApi#search_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Summary Listing
    # Search for a list of summary listings from the start time up to 8 days out.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the account id of the user
    # @option opts [Integer] :start_date the start date to search from
    # @option opts [String] :category_ids the list of categories to search on
    # @option opts [Integer] :days_to_include how far out to search, in days (default to 15)
    # @option opts [Boolean] :use_listing_order_ids determines whether to use configured listing order ids (default to true)
    # @return [Array<ListingGroupResponse>]
    def summary_listing(opts = {})
      data, _status_code, _headers = summary_listing_with_http_info(opts)
      data
    end

    # Summary Listing
    # Search for a list of summary listings from the start time up to 8 days out.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the account id of the user
    # @option opts [Integer] :start_date the start date to search from
    # @option opts [String] :category_ids the list of categories to search on
    # @option opts [Integer] :days_to_include how far out to search, in days (default to 15)
    # @option opts [Boolean] :use_listing_order_ids determines whether to use configured listing order ids (default to true)
    # @return [Array<(Array<ListingGroupResponse>, Integer, Hash)>] Array<ListingGroupResponse> data, response status code and response headers
    def summary_listing_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingApi.summary_listing ...'
      end
      # resource path
      local_var_path = '/listing/summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'daysToInclude'] = opts[:'days_to_include'] if !opts[:'days_to_include'].nil?
      query_params[:'useListingOrderIds'] = opts[:'use_listing_order_ids'] if !opts[:'use_listing_order_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ListingGroupResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ListingApi.summary_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingApi#summary_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Listing
    # Updates a listing.
    # @param account_id [Integer] the user&#39;s account ID
    # @param listing_id [Integer] the listing to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_ids comma separated list of filter IDs
    # @option opts [String] :name the name of the listing
    # @option opts [String] :description the description of the listing
    # @option opts [Integer] :start the start date of the listing
    # @option opts [Integer] :_end the end date of the listing
    # @option opts [String] :location_name the name of the location the listing will be held at
    # @option opts [String] :location_description the description of the location the listing will be held at
    # @option opts [Boolean] :is_private determines whether the listing is public or private
    # @option opts [String] :external_id external identifier used by a third party
    # @option opts [String] :external_id2 secondary external identifier used by a third party
    # @option opts [String] :external_group_id external group identifier used by a third party
    # @option opts [Boolean] :active Sets the active flag
    # @option opts [String] :meta_data external custom client defined data
    # @return [ListingFullResponse]
    def update_listing(account_id, listing_id, opts = {})
      data, _status_code, _headers = update_listing_with_http_info(account_id, listing_id, opts)
      data
    end

    # Update Listing
    # Updates a listing.
    # @param account_id [Integer] the user&#39;s account ID
    # @param listing_id [Integer] the listing to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :filter_ids comma separated list of filter IDs
    # @option opts [String] :name the name of the listing
    # @option opts [String] :description the description of the listing
    # @option opts [Integer] :start the start date of the listing
    # @option opts [Integer] :_end the end date of the listing
    # @option opts [String] :location_name the name of the location the listing will be held at
    # @option opts [String] :location_description the description of the location the listing will be held at
    # @option opts [Boolean] :is_private determines whether the listing is public or private
    # @option opts [String] :external_id external identifier used by a third party
    # @option opts [String] :external_id2 secondary external identifier used by a third party
    # @option opts [String] :external_group_id external group identifier used by a third party
    # @option opts [Boolean] :active Sets the active flag
    # @option opts [String] :meta_data external custom client defined data
    # @return [Array<(ListingFullResponse, Integer, Hash)>] ListingFullResponse data, response status code and response headers
    def update_listing_with_http_info(account_id, listing_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ListingApi.update_listing ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ListingApi.update_listing"
      end
      # verify the required parameter 'listing_id' is set
      if @api_client.config.client_side_validation && listing_id.nil?
        fail ArgumentError, "Missing the required parameter 'listing_id' when calling ListingApi.update_listing"
      end
      # resource path
      local_var_path = '/listing/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'listingId'] = listing_id
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'end'] = opts[:'_end'] if !opts[:'_end'].nil?
      query_params[:'locationName'] = opts[:'location_name'] if !opts[:'location_name'].nil?
      query_params[:'locationDescription'] = opts[:'location_description'] if !opts[:'location_description'].nil?
      query_params[:'isPrivate'] = opts[:'is_private'] if !opts[:'is_private'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'externalId2'] = opts[:'external_id2'] if !opts[:'external_id2'].nil?
      query_params[:'externalGroupId'] = opts[:'external_group_id'] if !opts[:'external_group_id'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListingFullResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ListingApi.update_listing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ListingApi#update_listing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
