=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class MissionInviteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Mission Invite
    # Create the mission invite. An account can only be invited to a mission one time. For missions that require user submission and reviewing the permissionableType and permissionableId need to be provided.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [Integer] :mission_id The mission to find the invite for.
    # @option opts [String] :join_code code to be entered for user to join the mission
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @return [MissionResponse]
    def create_mission_invite(version, opts = {})
      data, _status_code, _headers = create_mission_invite_with_http_info(version, opts)
      data
    end

    # Create Mission Invite
    # Create the mission invite. An account can only be invited to a mission one time. For missions that require user submission and reviewing the permissionableType and permissionableId need to be provided.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [Integer] :mission_id The mission to find the invite for.
    # @option opts [String] :join_code code to be entered for user to join the mission
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @return [Array<(MissionResponse, Integer, Hash)>] MissionResponse data, response status code and response headers
    def create_mission_invite_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionInviteApi.create_mission_invite ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionInviteApi.create_mission_invite"
      end
      # resource path
      local_var_path = '/api/{version}/mission/invite/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'joinCode'] = opts[:'join_code'] if !opts[:'join_code'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionInviteApi.create_mission_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionInviteApi#create_mission_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Mission Invite
    # Update the mission invite status to quit.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [Integer] :mission_id The mission to find the invite for (missionId or missionInviteId requried).
    # @option opts [Integer] :mission_invite_id The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried).
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @return [SirqulResponse]
    def delete_mission_invite(version, opts = {})
      data, _status_code, _headers = delete_mission_invite_with_http_info(version, opts)
      data
    end

    # Delete Mission Invite
    # Update the mission invite status to quit.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [Integer] :mission_id The mission to find the invite for (missionId or missionInviteId requried).
    # @option opts [Integer] :mission_invite_id The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried).
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_mission_invite_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionInviteApi.delete_mission_invite ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionInviteApi.delete_mission_invite"
      end
      # resource path
      local_var_path = '/api/{version}/mission/invite/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'missionInviteId'] = opts[:'mission_invite_id'] if !opts[:'mission_invite_id'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionInviteApi.delete_mission_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionInviteApi#delete_mission_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Mission Invite
    # Get the mission invite. An account can only be invited to a mission one time.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [Integer] :mission_id The mission to find the invite for (missionId or missionInviteId requried).
    # @option opts [Integer] :mission_invite_id The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried).
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @option opts [String] :include_scores include the scores with the mission
    # @return [MissionResponse]
    def get_mission_invite(version, opts = {})
      data, _status_code, _headers = get_mission_invite_with_http_info(version, opts)
      data
    end

    # Get Mission Invite
    # Get the mission invite. An account can only be invited to a mission one time.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [Integer] :mission_id The mission to find the invite for (missionId or missionInviteId requried).
    # @option opts [Integer] :mission_invite_id The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried).
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @option opts [String] :include_scores include the scores with the mission
    # @return [Array<(MissionResponse, Integer, Hash)>] MissionResponse data, response status code and response headers
    def get_mission_invite_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionInviteApi.get_mission_invite ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionInviteApi.get_mission_invite"
      end
      # resource path
      local_var_path = '/api/{version}/mission/invite/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'missionInviteId'] = opts[:'mission_invite_id'] if !opts[:'mission_invite_id'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?
      query_params[:'includeScores'] = opts[:'include_scores'] if !opts[:'include_scores'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionInviteApi.get_mission_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionInviteApi#get_mission_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Mission Invites
    # Get a list of mission invites that the account has.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [String] :app_key the app to retrieve the data for, use your application key.
    # @option opts [String] :app_version the application version, used to version the game level data
    # @option opts [Integer] :mission_id the mission id to filter on
    # @option opts [String] :status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED}
    # @option opts [Integer] :last_updated Only return invites that have been updated since this date/time (long)
    # @option opts [Integer] :start The index into the record set to start with.
    # @option opts [Integer] :limit The total number of record to return.
    # @option opts [String] :keyword the keyword to search on
    # @option opts [String] :mission_types 
    # @option opts [Boolean] :filter_by_billable filter results by the account&#39;s billable
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @return [Array<MissionResponse>]
    def search_mission_invites(version, opts = {})
      data, _status_code, _headers = search_mission_invites_with_http_info(version, opts)
      data
    end

    # Search Mission Invites
    # Get a list of mission invites that the account has.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [String] :app_key the app to retrieve the data for, use your application key.
    # @option opts [String] :app_version the application version, used to version the game level data
    # @option opts [Integer] :mission_id the mission id to filter on
    # @option opts [String] :status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED}
    # @option opts [Integer] :last_updated Only return invites that have been updated since this date/time (long)
    # @option opts [Integer] :start The index into the record set to start with.
    # @option opts [Integer] :limit The total number of record to return.
    # @option opts [String] :keyword the keyword to search on
    # @option opts [String] :mission_types 
    # @option opts [Boolean] :filter_by_billable filter results by the account&#39;s billable
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @return [Array<(Array<MissionResponse>, Integer, Hash)>] Array<MissionResponse> data, response status code and response headers
    def search_mission_invites_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionInviteApi.search_mission_invites ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionInviteApi.search_mission_invites"
      end
      # resource path
      local_var_path = '/api/{version}/mission/invite/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'lastUpdated'] = opts[:'last_updated'] if !opts[:'last_updated'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'missionTypes'] = opts[:'mission_types'] if !opts[:'mission_types'].nil?
      query_params[:'filterByBillable'] = opts[:'filter_by_billable'] if !opts[:'filter_by_billable'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MissionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionInviteApi.search_mission_invites",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionInviteApi#search_mission_invites\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Mission Invite
    # Update the mission invite status. An account can only be invited to a mission one time. For missions that require user submission and reviewing the permissionableType and permissionableId need to be provided.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :mission_id The mission to find the invite for (missionId or missionInviteId requried).
    # @option opts [Integer] :mission_invite_id The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried).
    # @option opts [Integer] :pack_id the pack id to find the invite for
    # @option opts [Integer] :game_level_id the game level id to find the invite for
    # @option opts [String] :status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED}
    # @option opts [String] :permissionable_type This is the content type for missions that require user submission. Note that user submitted content must require a status of PENDING_REVIEW to be accpeted. {ACCOUNT, GAMELEVEL, COLLECTION, ALBUM_CONTEST, THEME_DESCRIPTOR, ALBUM}
    # @option opts [Integer] :permissionable_id The id of the content being submitted.
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @return [MissionResponse]
    def update_mission_invite(version, opts = {})
      data, _status_code, _headers = update_mission_invite_with_http_info(version, opts)
      data
    end

    # Update Mission Invite
    # Update the mission invite status. An account can only be invited to a mission one time. For missions that require user submission and reviewing the permissionableType and permissionableId need to be provided.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required).
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required).
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :mission_id The mission to find the invite for (missionId or missionInviteId requried).
    # @option opts [Integer] :mission_invite_id The mission invite id. This checks on the user&#39;s billable for permission (missionId or missionInviteId requried).
    # @option opts [Integer] :pack_id the pack id to find the invite for
    # @option opts [Integer] :game_level_id the game level id to find the invite for
    # @option opts [String] :status The invite status to filter for, comma separated list {AVAILABLE, PENDING, UPDATED, ACCEPTED, ACTIVE, QUIT, COMPLETED, PENDING_REVIEW, REJECTED}
    # @option opts [String] :permissionable_type This is the content type for missions that require user submission. Note that user submitted content must require a status of PENDING_REVIEW to be accpeted. {ACCOUNT, GAMELEVEL, COLLECTION, ALBUM_CONTEST, THEME_DESCRIPTOR, ALBUM}
    # @option opts [Integer] :permissionable_id The id of the content being submitted.
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @return [Array<(MissionResponse, Integer, Hash)>] MissionResponse data, response status code and response headers
    def update_mission_invite_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionInviteApi.update_mission_invite ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionInviteApi.update_mission_invite"
      end
      # resource path
      local_var_path = '/api/{version}/mission/invite/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'missionInviteId'] = opts[:'mission_invite_id'] if !opts[:'mission_invite_id'].nil?
      query_params[:'packId'] = opts[:'pack_id'] if !opts[:'pack_id'].nil?
      query_params[:'gameLevelId'] = opts[:'game_level_id'] if !opts[:'game_level_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'permissionableType'] = opts[:'permissionable_type'] if !opts[:'permissionable_type'].nil?
      query_params[:'permissionableId'] = opts[:'permissionable_id'] if !opts[:'permissionable_id'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionInviteApi.update_mission_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionInviteApi#update_mission_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
