=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class MissionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Mission
    # Create a user defined mission.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param title [String] The title of the mission
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description The description of the mission
    # @option opts [String] :sub_type Custom string client apps can use for searching/filtering missions
    # @option opts [Integer] :start_date The date/time to start the mission, send 0 to unset
    # @option opts [Integer] :end_date The date/time to end the mission, send 0 to unset
    # @option opts [Boolean] :active Activate/deactivate the mission
    # @option opts [String] :game_level_ids the game level ids to include in the mission, comma separated
    # @option opts [String] :creative_ids creatives to associate with the mission
    # @option opts [String] :audience_ids audiences to associate with the mission
    # @option opts [String] :mission_task This parameter is deprecated.
    # @option opts [String] :format_type The string identifier for a mission format (this is not the missionFormatId)
    # @option opts [Integer] :offer_id The offerId to give as a reward
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate mission. Set to a negative value for unlimited.
    # @option opts [Boolean] :advanced_reporting Flag to mark the mission as eligible for advanced reporting
    # @option opts [Boolean] :allocate_tickets Flag to indicate owner should receive tickets for completed missions
    # @option opts [Integer] :ticket_count The number of tickets to reward
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @option opts [String] :meta_data external custom client defined data
    # @option opts [String] :application_ids Comma separated list of application ids
    # @option opts [String] :devices Deprecated parameter for device names
    # @option opts [String] :device_ids Comma separated list of device ids
    # @option opts [String] :device_versions Comma separated list of device version ranges
    # @option opts [String] :locations List of lat/long pairs for mission locations
    # @option opts [String] :radius Comma separated list of radii for locations
    # @return [MissionResponse]
    def create_mission(version, account_id, title, opts = {})
      data, _status_code, _headers = create_mission_with_http_info(version, account_id, title, opts)
      data
    end

    # Create Mission
    # Create a user defined mission.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param title [String] The title of the mission
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description The description of the mission
    # @option opts [String] :sub_type Custom string client apps can use for searching/filtering missions
    # @option opts [Integer] :start_date The date/time to start the mission, send 0 to unset
    # @option opts [Integer] :end_date The date/time to end the mission, send 0 to unset
    # @option opts [Boolean] :active Activate/deactivate the mission
    # @option opts [String] :game_level_ids the game level ids to include in the mission, comma separated
    # @option opts [String] :creative_ids creatives to associate with the mission
    # @option opts [String] :audience_ids audiences to associate with the mission
    # @option opts [String] :mission_task This parameter is deprecated.
    # @option opts [String] :format_type The string identifier for a mission format (this is not the missionFormatId)
    # @option opts [Integer] :offer_id The offerId to give as a reward
    # @option opts [Float] :balance Set the amount of money available to spend, once 0 deactivate mission. Set to a negative value for unlimited.
    # @option opts [Boolean] :advanced_reporting Flag to mark the mission as eligible for advanced reporting
    # @option opts [Boolean] :allocate_tickets Flag to indicate owner should receive tickets for completed missions
    # @option opts [Integer] :ticket_count The number of tickets to reward
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @option opts [String] :meta_data external custom client defined data
    # @option opts [String] :application_ids Comma separated list of application ids
    # @option opts [String] :devices Deprecated parameter for device names
    # @option opts [String] :device_ids Comma separated list of device ids
    # @option opts [String] :device_versions Comma separated list of device version ranges
    # @option opts [String] :locations List of lat/long pairs for mission locations
    # @option opts [String] :radius Comma separated list of radii for locations
    # @return [Array<(MissionResponse, Integer, Hash)>] MissionResponse data, response status code and response headers
    def create_mission_with_http_info(version, account_id, title, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionApi.create_mission ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionApi.create_mission"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MissionApi.create_mission"
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling MissionApi.create_mission"
      end
      # resource path
      local_var_path = '/api/{version}/mission/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'title'] = title
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'subType'] = opts[:'sub_type'] if !opts[:'sub_type'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'gameLevelIds'] = opts[:'game_level_ids'] if !opts[:'game_level_ids'].nil?
      query_params[:'creativeIds'] = opts[:'creative_ids'] if !opts[:'creative_ids'].nil?
      query_params[:'audienceIds'] = opts[:'audience_ids'] if !opts[:'audience_ids'].nil?
      query_params[:'missionTask'] = opts[:'mission_task'] if !opts[:'mission_task'].nil?
      query_params[:'formatType'] = opts[:'format_type'] if !opts[:'format_type'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'balance'] = opts[:'balance'] if !opts[:'balance'].nil?
      query_params[:'advancedReporting'] = opts[:'advanced_reporting'] if !opts[:'advanced_reporting'].nil?
      query_params[:'allocateTickets'] = opts[:'allocate_tickets'] if !opts[:'allocate_tickets'].nil?
      query_params[:'ticketCount'] = opts[:'ticket_count'] if !opts[:'ticket_count'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'applicationIds'] = opts[:'application_ids'] if !opts[:'application_ids'].nil?
      query_params[:'devices'] = opts[:'devices'] if !opts[:'devices'].nil?
      query_params[:'deviceIds'] = opts[:'device_ids'] if !opts[:'device_ids'].nil?
      query_params[:'deviceVersions'] = opts[:'device_versions'] if !opts[:'device_versions'].nil?
      query_params[:'locations'] = opts[:'locations'] if !opts[:'locations'].nil?
      query_params[:'radius'] = opts[:'radius'] if !opts[:'radius'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionApi.create_mission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionApi#create_mission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Mission
    # Delete a mission.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param mission_id [Integer] the id of the mission to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_mission(version, account_id, mission_id, opts = {})
      data, _status_code, _headers = delete_mission_with_http_info(version, account_id, mission_id, opts)
      data
    end

    # Delete Mission
    # Delete a mission.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param mission_id [Integer] the id of the mission to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_mission_with_http_info(version, account_id, mission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionApi.delete_mission ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionApi.delete_mission"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MissionApi.delete_mission"
      end
      # verify the required parameter 'mission_id' is set
      if @api_client.config.client_side_validation && mission_id.nil?
        fail ArgumentError, "Missing the required parameter 'mission_id' when calling MissionApi.delete_mission"
      end
      # resource path
      local_var_path = '/api/{version}/mission/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'missionId'] = mission_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionApi.delete_mission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionApi#delete_mission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find Missions
    # Get a set of ad filtered by the parameters provided.
    # @param version [Float] 
    # @param app_key [String] The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :suffix The type of mission to get, possible values are: click_banner, click_leaderboard, click_skyscraper, click_full, click_video, or click_zip
    # @option opts [String] :type The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix.
    # @option opts [Integer] :account_id The logged in user.
    # @option opts [String] :app_version The version of the application, will not return levels newer than the appVersion.
    # @option opts [Float] :latitude The current location of the requesting device
    # @option opts [Float] :longitude The current location of the requesting device
    # @option opts [String] :device Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list.
    # @option opts [Integer] :device_identifier The device ID of the requesting device, use /audience/devices for list
    # @option opts [String] :device_version The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string.
    # @option opts [Integer] :start The index into the record set to start with.
    # @option opts [Integer] :limit The total number of record to return.
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @option opts [Boolean] :include_audiences If true then return the audience data in the response. Default is false.
    # @option opts [Boolean] :allocates_tickets If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both.
    # @option opts [Boolean] :randomize return a random set of results, default is true. If false returns in natural order.
    # @option opts [Boolean] :targeted_ads_only return only ads targeted to the specific app, no global ads.
    # @option opts [String] :mission_ids return only ads from the specified campaigns.
    # @option opts [String] :audience_operator will return the items that have at least 1 or all of their audiences exist in the logged in user’s audiences, depending if the value is OR or AND
    # @return [MissionResponse]
    def find_missions(version, app_key, opts = {})
      data, _status_code, _headers = find_missions_with_http_info(version, app_key, opts)
      data
    end

    # Find Missions
    # Get a set of ad filtered by the parameters provided.
    # @param version [Float] 
    # @param app_key [String] The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :suffix The type of mission to get, possible values are: click_banner, click_leaderboard, click_skyscraper, click_full, click_video, or click_zip
    # @option opts [String] :type The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix.
    # @option opts [Integer] :account_id The logged in user.
    # @option opts [String] :app_version The version of the application, will not return levels newer than the appVersion.
    # @option opts [Float] :latitude The current location of the requesting device
    # @option opts [Float] :longitude The current location of the requesting device
    # @option opts [String] :device Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list.
    # @option opts [Integer] :device_identifier The device ID of the requesting device, use /audience/devices for list
    # @option opts [String] :device_version The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string.
    # @option opts [Integer] :start The index into the record set to start with.
    # @option opts [Integer] :limit The total number of record to return.
    # @option opts [Boolean] :include_game_data Include the game level data with the mission.
    # @option opts [Boolean] :include_audiences If true then return the audience data in the response. Default is false.
    # @option opts [Boolean] :allocates_tickets If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both.
    # @option opts [Boolean] :randomize return a random set of results, default is true. If false returns in natural order.
    # @option opts [Boolean] :targeted_ads_only return only ads targeted to the specific app, no global ads.
    # @option opts [String] :mission_ids return only ads from the specified campaigns.
    # @option opts [String] :audience_operator will return the items that have at least 1 or all of their audiences exist in the logged in user’s audiences, depending if the value is OR or AND
    # @return [Array<(MissionResponse, Integer, Hash)>] MissionResponse data, response status code and response headers
    def find_missions_with_http_info(version, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionApi.find_missions ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionApi.find_missions"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling MissionApi.find_missions"
      end
      # resource path
      local_var_path = '/api/{version}/mission/find'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'suffix'] = opts[:'suffix'] if !opts[:'suffix'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'device'] = opts[:'device'] if !opts[:'device'].nil?
      query_params[:'deviceIdentifier'] = opts[:'device_identifier'] if !opts[:'device_identifier'].nil?
      query_params[:'deviceVersion'] = opts[:'device_version'] if !opts[:'device_version'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?
      query_params[:'includeAudiences'] = opts[:'include_audiences'] if !opts[:'include_audiences'].nil?
      query_params[:'allocatesTickets'] = opts[:'allocates_tickets'] if !opts[:'allocates_tickets'].nil?
      query_params[:'randomize'] = opts[:'randomize'] if !opts[:'randomize'].nil?
      query_params[:'targetedAdsOnly'] = opts[:'targeted_ads_only'] if !opts[:'targeted_ads_only'].nil?
      query_params[:'missionIds'] = opts[:'mission_ids'] if !opts[:'mission_ids'].nil?
      query_params[:'audienceOperator'] = opts[:'audience_operator'] if !opts[:'audience_operator'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionApi.find_missions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionApi#find_missions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Mission
    # Get a mission.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param mission_id [Integer] The id of the mission to return.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_creative Return creatives associated with the mission when true
    # @return [MissionResponse]
    def get_mission(version, account_id, mission_id, opts = {})
      data, _status_code, _headers = get_mission_with_http_info(version, account_id, mission_id, opts)
      data
    end

    # Get Mission
    # Get a mission.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param mission_id [Integer] The id of the mission to return.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_creative Return creatives associated with the mission when true
    # @return [Array<(MissionResponse, Integer, Hash)>] MissionResponse data, response status code and response headers
    def get_mission_with_http_info(version, account_id, mission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionApi.get_mission ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionApi.get_mission"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MissionApi.get_mission"
      end
      # verify the required parameter 'mission_id' is set
      if @api_client.config.client_side_validation && mission_id.nil?
        fail ArgumentError, "Missing the required parameter 'mission_id' when calling MissionApi.get_mission"
      end
      # resource path
      local_var_path = '/api/{version}/mission/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'missionId'] = mission_id
      query_params[:'returnCreative'] = opts[:'return_creative'] if !opts[:'return_creative'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionApi.get_mission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionApi#get_mission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Import Mission
    # Create a mission using a source item such as an offer location.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param latitude [Float] The current location of the requesting device
    # @param longitude [Float] The current location of the requesting device
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword the keyword of the mission
    # @option opts [Integer] :start The starting index in the result set to return. Default is 0.
    # @option opts [Integer] :limit The total number of records to return. Default is 20.
    # @option opts [String] :ad_size the size of the ad
    # @return [SirqulResponse]
    def import_mission(version, account_id, latitude, longitude, app_key, opts = {})
      data, _status_code, _headers = import_mission_with_http_info(version, account_id, latitude, longitude, app_key, opts)
      data
    end

    # Import Mission
    # Create a mission using a source item such as an offer location.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param latitude [Float] The current location of the requesting device
    # @param longitude [Float] The current location of the requesting device
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword the keyword of the mission
    # @option opts [Integer] :start The starting index in the result set to return. Default is 0.
    # @option opts [Integer] :limit The total number of records to return. Default is 20.
    # @option opts [String] :ad_size the size of the ad
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def import_mission_with_http_info(version, account_id, latitude, longitude, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionApi.import_mission ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionApi.import_mission"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MissionApi.import_mission"
      end
      # verify the required parameter 'latitude' is set
      if @api_client.config.client_side_validation && latitude.nil?
        fail ArgumentError, "Missing the required parameter 'latitude' when calling MissionApi.import_mission"
      end
      # verify the required parameter 'longitude' is set
      if @api_client.config.client_side_validation && longitude.nil?
        fail ArgumentError, "Missing the required parameter 'longitude' when calling MissionApi.import_mission"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling MissionApi.import_mission"
      end
      allowable_values = ["CONFIG", "BANNER", "LEADERBOARD", "SKYSCRAPER", "VIDEO", "ZIP", "INTERSTITIAL", "CUSTOM1", "CUSTOM2", "CUSTOM3", "CUSTOM4", "CUSTOM5", "CUSTOM6", "CUSTOM7", "CUSTOM8", "CUSTOM9", "CUSTOM10"]
      if @api_client.config.client_side_validation && opts[:'ad_size'] && !allowable_values.include?(opts[:'ad_size'])
        fail ArgumentError, "invalid value for \"ad_size\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/mission/import'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'latitude'] = latitude
      query_params[:'longitude'] = longitude
      query_params[:'appKey'] = app_key
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'adSize'] = opts[:'ad_size'] if !opts[:'ad_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionApi.import_mission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionApi#import_mission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Mission Formats
    # Searches on pre-defined mission formats
    # @param version [Float] 
    # @param start [Integer] The starting index in the result set to return. Default is 0.
    # @param limit [Integer] The total number of records to return. Default is 20.
    # @param active_only [Boolean] Determines whether to return only active results. Default is false.
    # @param [Hash] opts the optional parameters
    # @return [Array<MissionFormatResponse>]
    def search_mission_formats(version, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_mission_formats_with_http_info(version, start, limit, active_only, opts)
      data
    end

    # Search Mission Formats
    # Searches on pre-defined mission formats
    # @param version [Float] 
    # @param start [Integer] The starting index in the result set to return. Default is 0.
    # @param limit [Integer] The total number of records to return. Default is 20.
    # @param active_only [Boolean] Determines whether to return only active results. Default is false.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<MissionFormatResponse>, Integer, Hash)>] Array<MissionFormatResponse> data, response status code and response headers
    def search_mission_formats_with_http_info(version, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionApi.search_mission_formats ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionApi.search_mission_formats"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling MissionApi.search_mission_formats"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling MissionApi.search_mission_formats"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling MissionApi.search_mission_formats"
      end
      # resource path
      local_var_path = '/api/{version}/mission/format/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MissionFormatResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionApi.search_mission_formats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionApi#search_mission_formats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Missions
    # Get the list missions available to the account.  
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Filter by keyword
    # @option opts [String] :sub_type Custom string client apps can use for searching/filtering missions
    # @option opts [Integer] :start The index into the record set to start with. Default is 0.
    # @option opts [Integer] :limit The total number of record to return. Default is 20, maximum is 100.
    # @option opts [Boolean] :include_game_data If true then return the game level data in the response. Default is false.
    # @option opts [Boolean] :include_audiences If true then return the audience data in the response. Default is false.
    # @option opts [Boolean] :include_inactive If true then include inactive missions. Default is false.
    # @option opts [String] :suffix A list of game types to include; click_leaderboard, click_banner, click_skyscraper, click_full, click_video, click_zip, create, vote, question, invite, share, json, xml
    # @option opts [String] :sort_field The field to sort the search on (for example TITLE)
    # @option opts [Boolean] :descending Whether to sort in descending order (default true)
    # @return [Array<MissionResponse>]
    def search_missions(version, account_id, opts = {})
      data, _status_code, _headers = search_missions_with_http_info(version, account_id, opts)
      data
    end

    # Search Missions
    # Get the list missions available to the account.  
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Filter by keyword
    # @option opts [String] :sub_type Custom string client apps can use for searching/filtering missions
    # @option opts [Integer] :start The index into the record set to start with. Default is 0.
    # @option opts [Integer] :limit The total number of record to return. Default is 20, maximum is 100.
    # @option opts [Boolean] :include_game_data If true then return the game level data in the response. Default is false.
    # @option opts [Boolean] :include_audiences If true then return the audience data in the response. Default is false.
    # @option opts [Boolean] :include_inactive If true then include inactive missions. Default is false.
    # @option opts [String] :suffix A list of game types to include; click_leaderboard, click_banner, click_skyscraper, click_full, click_video, click_zip, create, vote, question, invite, share, json, xml
    # @option opts [String] :sort_field The field to sort the search on (for example TITLE)
    # @option opts [Boolean] :descending Whether to sort in descending order (default true)
    # @return [Array<(Array<MissionResponse>, Integer, Hash)>] Array<MissionResponse> data, response status code and response headers
    def search_missions_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionApi.search_missions ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionApi.search_missions"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MissionApi.search_missions"
      end
      # resource path
      local_var_path = '/api/{version}/mission/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'subType'] = opts[:'sub_type'] if !opts[:'sub_type'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?
      query_params[:'includeAudiences'] = opts[:'include_audiences'] if !opts[:'include_audiences'].nil?
      query_params[:'includeInactive'] = opts[:'include_inactive'] if !opts[:'include_inactive'].nil?
      query_params[:'suffix'] = opts[:'suffix'] if !opts[:'suffix'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MissionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionApi.search_missions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionApi#search_missions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Missions by Billable Entity
    # Use the accountId to determine the associated BillableEntity.  From there get a list of all accounts associated as managers.  Get the list missions owned by all associated managers.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Filter by keyword
    # @option opts [Integer] :start The index into the record set to start with. Default is 0.
    # @option opts [Integer] :limit The total number of record to return. Default id 20.
    # @option opts [Boolean] :include_game_data If true then return the game level data in the response. Default is false.
    # @option opts [Boolean] :include_audiences If true then return the audience data in the response. Default is false.
    # @option opts [Boolean] :include_inactive If true then include inactive missions. Default is false.
    # @option opts [String] :suffix A list of game types to include; click_leaderboard, click_banner, click_skyscraper, click_full, click_video, click_zip, create, vote, question, invite, share, json, xml
    # @option opts [String] :sort_field The field to sort the search on (for example TITLE)
    # @option opts [Boolean] :descending Whether to sort in descending order (default true)
    # @return [Array<MissionResponse>]
    def search_missions_by_billable_entity(version, account_id, opts = {})
      data, _status_code, _headers = search_missions_by_billable_entity_with_http_info(version, account_id, opts)
      data
    end

    # Search Missions by Billable Entity
    # Use the accountId to determine the associated BillableEntity.  From there get a list of all accounts associated as managers.  Get the list missions owned by all associated managers.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Filter by keyword
    # @option opts [Integer] :start The index into the record set to start with. Default is 0.
    # @option opts [Integer] :limit The total number of record to return. Default id 20.
    # @option opts [Boolean] :include_game_data If true then return the game level data in the response. Default is false.
    # @option opts [Boolean] :include_audiences If true then return the audience data in the response. Default is false.
    # @option opts [Boolean] :include_inactive If true then include inactive missions. Default is false.
    # @option opts [String] :suffix A list of game types to include; click_leaderboard, click_banner, click_skyscraper, click_full, click_video, click_zip, create, vote, question, invite, share, json, xml
    # @option opts [String] :sort_field The field to sort the search on (for example TITLE)
    # @option opts [Boolean] :descending Whether to sort in descending order (default true)
    # @return [Array<(Array<MissionResponse>, Integer, Hash)>] Array<MissionResponse> data, response status code and response headers
    def search_missions_by_billable_entity_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionApi.search_missions_by_billable_entity ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionApi.search_missions_by_billable_entity"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MissionApi.search_missions_by_billable_entity"
      end
      # resource path
      local_var_path = '/api/{version}/mission/searchByBillableEntity'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?
      query_params[:'includeAudiences'] = opts[:'include_audiences'] if !opts[:'include_audiences'].nil?
      query_params[:'includeInactive'] = opts[:'include_inactive'] if !opts[:'include_inactive'].nil?
      query_params[:'suffix'] = opts[:'suffix'] if !opts[:'suffix'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<MissionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionApi.search_missions_by_billable_entity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionApi#search_missions_by_billable_entity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Mission
    # Update a mission.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param mission_id [Integer] The id of the mission to update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :title The title of the mission
    # @option opts [String] :description The description of the mission
    # @option opts [String] :sub_type Custom string client apps can use for searching/filtering missions
    # @option opts [String] :meta_data external custom client defined data
    # @option opts [Integer] :start_date The date/time to start the mission, send 0 to unset
    # @option opts [Integer] :end_date The date/time to end the mission, send 0 to unset
    # @option opts [Boolean] :active Activate/deactivate the mission
    # @option opts [String] :game_level_ids the game level ids to include in the mission, comma separated
    # @option opts [String] :creative_ids 
    # @option opts [String] :audience_ids 
    # @option opts [Integer] :offer_id The offerId to give as a reward
    # @option opts [Float] :balance Replace the amount of money available to spend, once 0 deactivate mission. Set to a negative value for unlimited.
    # @option opts [Boolean] :advanced_reporting Flag to mark the mission as eligible for advanced reporting
    # @option opts [Boolean] :allocate_tickets Flag to indicate owner should receive tickets for completed missions
    # @option opts [Integer] :ticket_count The number of tickets to reward
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @option opts [String] :application_ids Comma separated list of application ids
    # @option opts [String] :devices Deprecated parameter for device names
    # @option opts [String] :device_ids Comma separated list of device ids
    # @option opts [String] :device_versions Comma separated list of device version ranges
    # @option opts [String] :locations List of lat/long pairs for mission locations
    # @option opts [String] :radius Comma separated list of radii for locations
    # @return [MissionResponse]
    def update_mission(version, account_id, mission_id, opts = {})
      data, _status_code, _headers = update_mission_with_http_info(version, account_id, mission_id, opts)
      data
    end

    # Update Mission
    # Update a mission.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param mission_id [Integer] The id of the mission to update.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :title The title of the mission
    # @option opts [String] :description The description of the mission
    # @option opts [String] :sub_type Custom string client apps can use for searching/filtering missions
    # @option opts [String] :meta_data external custom client defined data
    # @option opts [Integer] :start_date The date/time to start the mission, send 0 to unset
    # @option opts [Integer] :end_date The date/time to end the mission, send 0 to unset
    # @option opts [Boolean] :active Activate/deactivate the mission
    # @option opts [String] :game_level_ids the game level ids to include in the mission, comma separated
    # @option opts [String] :creative_ids 
    # @option opts [String] :audience_ids 
    # @option opts [Integer] :offer_id The offerId to give as a reward
    # @option opts [Float] :balance Replace the amount of money available to spend, once 0 deactivate mission. Set to a negative value for unlimited.
    # @option opts [Boolean] :advanced_reporting Flag to mark the mission as eligible for advanced reporting
    # @option opts [Boolean] :allocate_tickets Flag to indicate owner should receive tickets for completed missions
    # @option opts [Integer] :ticket_count The number of tickets to reward
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @option opts [String] :application_ids Comma separated list of application ids
    # @option opts [String] :devices Deprecated parameter for device names
    # @option opts [String] :device_ids Comma separated list of device ids
    # @option opts [String] :device_versions Comma separated list of device version ranges
    # @option opts [String] :locations List of lat/long pairs for mission locations
    # @option opts [String] :radius Comma separated list of radii for locations
    # @return [Array<(MissionResponse, Integer, Hash)>] MissionResponse data, response status code and response headers
    def update_mission_with_http_info(version, account_id, mission_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MissionApi.update_mission ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling MissionApi.update_mission"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling MissionApi.update_mission"
      end
      # verify the required parameter 'mission_id' is set
      if @api_client.config.client_side_validation && mission_id.nil?
        fail ArgumentError, "Missing the required parameter 'mission_id' when calling MissionApi.update_mission"
      end
      # resource path
      local_var_path = '/api/{version}/mission/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'missionId'] = mission_id
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'subType'] = opts[:'sub_type'] if !opts[:'sub_type'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'gameLevelIds'] = opts[:'game_level_ids'] if !opts[:'game_level_ids'].nil?
      query_params[:'creativeIds'] = opts[:'creative_ids'] if !opts[:'creative_ids'].nil?
      query_params[:'audienceIds'] = opts[:'audience_ids'] if !opts[:'audience_ids'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'balance'] = opts[:'balance'] if !opts[:'balance'].nil?
      query_params[:'advancedReporting'] = opts[:'advanced_reporting'] if !opts[:'advanced_reporting'].nil?
      query_params[:'allocateTickets'] = opts[:'allocate_tickets'] if !opts[:'allocate_tickets'].nil?
      query_params[:'ticketCount'] = opts[:'ticket_count'] if !opts[:'ticket_count'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?
      query_params[:'applicationIds'] = opts[:'application_ids'] if !opts[:'application_ids'].nil?
      query_params[:'devices'] = opts[:'devices'] if !opts[:'devices'].nil?
      query_params[:'deviceIds'] = opts[:'device_ids'] if !opts[:'device_ids'].nil?
      query_params[:'deviceVersions'] = opts[:'device_versions'] if !opts[:'device_versions'].nil?
      query_params[:'locations'] = opts[:'locations'] if !opts[:'locations'].nil?
      query_params[:'radius'] = opts[:'radius'] if !opts[:'radius'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MissionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MissionApi.update_mission",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MissionApi#update_mission\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
