=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class NoteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Batch Note Operation
    # Perform a batch operation on notes for a notable object (for example: DELETE_ALL_NOTES_IN_NOTABLE). 
    # @param version [Float] 
    # @param notable_id [Integer] The id of the notable object the batch operation will affect
    # @param notable_type [String] The notable object type (for example ALBUM, ASSET, OFFER, etc.)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :batch_operation The batch operation to perform (e.g., DELETE_ALL_NOTES_IN_NOTABLE). Optional.
    # @return [SirqulResponse]
    def batch_operation(version, notable_id, notable_type, opts = {})
      data, _status_code, _headers = batch_operation_with_http_info(version, notable_id, notable_type, opts)
      data
    end

    # Batch Note Operation
    # Perform a batch operation on notes for a notable object (for example: DELETE_ALL_NOTES_IN_NOTABLE). 
    # @param version [Float] 
    # @param notable_id [Integer] The id of the notable object the batch operation will affect
    # @param notable_type [String] The notable object type (for example ALBUM, ASSET, OFFER, etc.)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :batch_operation The batch operation to perform (e.g., DELETE_ALL_NOTES_IN_NOTABLE). Optional.
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def batch_operation_with_http_info(version, notable_id, notable_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteApi.batch_operation ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling NoteApi.batch_operation"
      end
      # verify the required parameter 'notable_id' is set
      if @api_client.config.client_side_validation && notable_id.nil?
        fail ArgumentError, "Missing the required parameter 'notable_id' when calling NoteApi.batch_operation"
      end
      # verify the required parameter 'notable_type' is set
      if @api_client.config.client_side_validation && notable_type.nil?
        fail ArgumentError, "Missing the required parameter 'notable_type' when calling NoteApi.batch_operation"
      end
      # resource path
      local_var_path = '/api/{version}/note/batch'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'notableId'] = notable_id
      query_params[:'notableType'] = notable_type
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'batchOperation'] = opts[:'batch_operation'] if !opts[:'batch_operation'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NoteApi.batch_operation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteApi#batch_operation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Note
    # This is used to leave a comment (note) on a notable object (i.e. albums, album contests, assets, game levels, offers, offer locations, retailers, retailer locations, and theme descriptors). Leaving a comment on a notable object will be visiable to everyone who has access to view the object.
    # @param version [Float] 
    # @param comment [String] The message the user wishes to leave a comment on
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :notable_type The notable object type {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, OFFER, OFFER_LOCATION, RETAILER, RETAILER_LOCATION, THEME_DESCRIPTOR}
    # @option opts [Integer] :notable_id The id of the notable object
    # @option opts [String] :note_type The custom string defined by the client (used for differentiating various note types)
    # @option opts [String] :asset_ids A comma separated list of asset IDs to add with the note
    # @option opts [String] :tags search tags
    # @option opts [String] :permissionable_type This is used for sending out group notifications. For example, when someone adds a note to an asset which is also a part of an album, everyone in the album will receive a notification. This is achieved by passing in the permissionable type (in this case \&quot;album\&quot;), and the permissionable id (the album id). Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
    # @option opts [Integer] :permissionable_id The id of the permissionable object (for sending group notifications)
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :location_description The description of the location
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :receiver_account_ids Comma separated list of additional account IDs that will receive the note notifications
    # @option opts [Boolean] :return_full_response whether to return the full response or not
    # @option opts [Boolean] :initialize_asset Check true if need to initialize an asset and assign to current note
    # @option opts [Boolean] :asset_return_nulls Return null fields for asset response when creating an asset
    # @option opts [Integer] :asset_album_id the album the asset will be added to (optional)
    # @option opts [Integer] :asset_collection_id the collection ID that the asset is associated with
    # @option opts [String] :asset_add_to_default_album the default album to add the asset to
    # @option opts [Boolean] :asset_add_to_media_library the media library to add the asset to
    # @option opts [Integer] :asset_version_code the version code of the asset
    # @option opts [String] :asset_version_name the version name of the asset
    # @option opts [String] :asset_meta_data the meta data of the asset
    # @option opts [String] :asset_caption the caption of the asset
    # @option opts [File] :asset_media the media of the asset
    # @option opts [String] :asset_media_url the media URL of the asset
    # @option opts [String] :asset_media_string the media string of the asset
    # @option opts [String] :asset_media_string_file_name the media string file name of the asset
    # @option opts [String] :asset_media_string_content_type the media string content type of the asset
    # @option opts [File] :asset_attached_media the attached media of the asset
    # @option opts [String] :asset_attached_media_url the attached media URL of the asset
    # @option opts [String] :asset_attached_media_string the attached media string of the asset
    # @option opts [String] :asset_attached_media_string_file_name the attached media string file name of the asset
    # @option opts [String] :asset_attached_media_string_content_type the attached media string content type of the asset
    # @option opts [String] :asset_location_description the location description for the asset
    # @option opts [String] :asset_app the application for the asset
    # @option opts [String] :asset_search_tags the search tags used for the asset
    # @option opts [Float] :asset_latitude the latitude of the asset
    # @option opts [Float] :asset_longitude the longitude of the asset
    # @return [NoteResponse]
    def create_note(version, comment, opts = {})
      data, _status_code, _headers = create_note_with_http_info(version, comment, opts)
      data
    end

    # Create Note
    # This is used to leave a comment (note) on a notable object (i.e. albums, album contests, assets, game levels, offers, offer locations, retailers, retailer locations, and theme descriptors). Leaving a comment on a notable object will be visiable to everyone who has access to view the object.
    # @param version [Float] 
    # @param comment [String] The message the user wishes to leave a comment on
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :notable_type The notable object type {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, OFFER, OFFER_LOCATION, RETAILER, RETAILER_LOCATION, THEME_DESCRIPTOR}
    # @option opts [Integer] :notable_id The id of the notable object
    # @option opts [String] :note_type The custom string defined by the client (used for differentiating various note types)
    # @option opts [String] :asset_ids A comma separated list of asset IDs to add with the note
    # @option opts [String] :tags search tags
    # @option opts [String] :permissionable_type This is used for sending out group notifications. For example, when someone adds a note to an asset which is also a part of an album, everyone in the album will receive a notification. This is achieved by passing in the permissionable type (in this case \&quot;album\&quot;), and the permissionable id (the album id). Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
    # @option opts [Integer] :permissionable_id The id of the permissionable object (for sending group notifications)
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :location_description The description of the location
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :receiver_account_ids Comma separated list of additional account IDs that will receive the note notifications
    # @option opts [Boolean] :return_full_response whether to return the full response or not
    # @option opts [Boolean] :initialize_asset Check true if need to initialize an asset and assign to current note
    # @option opts [Boolean] :asset_return_nulls Return null fields for asset response when creating an asset
    # @option opts [Integer] :asset_album_id the album the asset will be added to (optional)
    # @option opts [Integer] :asset_collection_id the collection ID that the asset is associated with
    # @option opts [String] :asset_add_to_default_album the default album to add the asset to
    # @option opts [Boolean] :asset_add_to_media_library the media library to add the asset to
    # @option opts [Integer] :asset_version_code the version code of the asset
    # @option opts [String] :asset_version_name the version name of the asset
    # @option opts [String] :asset_meta_data the meta data of the asset
    # @option opts [String] :asset_caption the caption of the asset
    # @option opts [File] :asset_media the media of the asset
    # @option opts [String] :asset_media_url the media URL of the asset
    # @option opts [String] :asset_media_string the media string of the asset
    # @option opts [String] :asset_media_string_file_name the media string file name of the asset
    # @option opts [String] :asset_media_string_content_type the media string content type of the asset
    # @option opts [File] :asset_attached_media the attached media of the asset
    # @option opts [String] :asset_attached_media_url the attached media URL of the asset
    # @option opts [String] :asset_attached_media_string the attached media string of the asset
    # @option opts [String] :asset_attached_media_string_file_name the attached media string file name of the asset
    # @option opts [String] :asset_attached_media_string_content_type the attached media string content type of the asset
    # @option opts [String] :asset_location_description the location description for the asset
    # @option opts [String] :asset_app the application for the asset
    # @option opts [String] :asset_search_tags the search tags used for the asset
    # @option opts [Float] :asset_latitude the latitude of the asset
    # @option opts [Float] :asset_longitude the longitude of the asset
    # @return [Array<(NoteResponse, Integer, Hash)>] NoteResponse data, response status code and response headers
    def create_note_with_http_info(version, comment, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteApi.create_note ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling NoteApi.create_note"
      end
      # verify the required parameter 'comment' is set
      if @api_client.config.client_side_validation && comment.nil?
        fail ArgumentError, "Missing the required parameter 'comment' when calling NoteApi.create_note"
      end
      # resource path
      local_var_path = '/api/{version}/note/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'comment'] = comment
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'notableType'] = opts[:'notable_type'] if !opts[:'notable_type'].nil?
      query_params[:'notableId'] = opts[:'notable_id'] if !opts[:'notable_id'].nil?
      query_params[:'noteType'] = opts[:'note_type'] if !opts[:'note_type'].nil?
      query_params[:'assetIds'] = opts[:'asset_ids'] if !opts[:'asset_ids'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'permissionableType'] = opts[:'permissionable_type'] if !opts[:'permissionable_type'].nil?
      query_params[:'permissionableId'] = opts[:'permissionable_id'] if !opts[:'permissionable_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'locationDescription'] = opts[:'location_description'] if !opts[:'location_description'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'receiverAccountIds'] = opts[:'receiver_account_ids'] if !opts[:'receiver_account_ids'].nil?
      query_params[:'returnFullResponse'] = opts[:'return_full_response'] if !opts[:'return_full_response'].nil?
      query_params[:'initializeAsset'] = opts[:'initialize_asset'] if !opts[:'initialize_asset'].nil?
      query_params[:'assetReturnNulls'] = opts[:'asset_return_nulls'] if !opts[:'asset_return_nulls'].nil?
      query_params[:'assetAlbumId'] = opts[:'asset_album_id'] if !opts[:'asset_album_id'].nil?
      query_params[:'assetCollectionId'] = opts[:'asset_collection_id'] if !opts[:'asset_collection_id'].nil?
      query_params[:'assetAddToDefaultAlbum'] = opts[:'asset_add_to_default_album'] if !opts[:'asset_add_to_default_album'].nil?
      query_params[:'assetAddToMediaLibrary'] = opts[:'asset_add_to_media_library'] if !opts[:'asset_add_to_media_library'].nil?
      query_params[:'assetVersionCode'] = opts[:'asset_version_code'] if !opts[:'asset_version_code'].nil?
      query_params[:'assetVersionName'] = opts[:'asset_version_name'] if !opts[:'asset_version_name'].nil?
      query_params[:'assetMetaData'] = opts[:'asset_meta_data'] if !opts[:'asset_meta_data'].nil?
      query_params[:'assetCaption'] = opts[:'asset_caption'] if !opts[:'asset_caption'].nil?
      query_params[:'assetMedia'] = opts[:'asset_media'] if !opts[:'asset_media'].nil?
      query_params[:'assetMediaUrl'] = opts[:'asset_media_url'] if !opts[:'asset_media_url'].nil?
      query_params[:'assetMediaString'] = opts[:'asset_media_string'] if !opts[:'asset_media_string'].nil?
      query_params[:'assetMediaStringFileName'] = opts[:'asset_media_string_file_name'] if !opts[:'asset_media_string_file_name'].nil?
      query_params[:'assetMediaStringContentType'] = opts[:'asset_media_string_content_type'] if !opts[:'asset_media_string_content_type'].nil?
      query_params[:'assetAttachedMedia'] = opts[:'asset_attached_media'] if !opts[:'asset_attached_media'].nil?
      query_params[:'assetAttachedMediaUrl'] = opts[:'asset_attached_media_url'] if !opts[:'asset_attached_media_url'].nil?
      query_params[:'assetAttachedMediaString'] = opts[:'asset_attached_media_string'] if !opts[:'asset_attached_media_string'].nil?
      query_params[:'assetAttachedMediaStringFileName'] = opts[:'asset_attached_media_string_file_name'] if !opts[:'asset_attached_media_string_file_name'].nil?
      query_params[:'assetAttachedMediaStringContentType'] = opts[:'asset_attached_media_string_content_type'] if !opts[:'asset_attached_media_string_content_type'].nil?
      query_params[:'assetLocationDescription'] = opts[:'asset_location_description'] if !opts[:'asset_location_description'].nil?
      query_params[:'assetApp'] = opts[:'asset_app'] if !opts[:'asset_app'].nil?
      query_params[:'assetSearchTags'] = opts[:'asset_search_tags'] if !opts[:'asset_search_tags'].nil?
      query_params[:'assetLatitude'] = opts[:'asset_latitude'] if !opts[:'asset_latitude'].nil?
      query_params[:'assetLongitude'] = opts[:'asset_longitude'] if !opts[:'asset_longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NoteApi.create_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteApi#create_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Note
    # Sets a comment (note) as deleted.
    # @param version [Float] 
    # @param note_id [Integer] The ID of the note to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @option opts [String] :app_key The application key used to identify the application
    # @return [SirqulResponse]
    def delete_note(version, note_id, opts = {})
      data, _status_code, _headers = delete_note_with_http_info(version, note_id, opts)
      data
    end

    # Delete Note
    # Sets a comment (note) as deleted.
    # @param version [Float] 
    # @param note_id [Integer] The ID of the note to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @option opts [String] :app_key The application key used to identify the application
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_note_with_http_info(version, note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteApi.delete_note ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling NoteApi.delete_note"
      end
      # verify the required parameter 'note_id' is set
      if @api_client.config.client_side_validation && note_id.nil?
        fail ArgumentError, "Missing the required parameter 'note_id' when calling NoteApi.delete_note"
      end
      # resource path
      local_var_path = '/api/{version}/note/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'noteId'] = note_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NoteApi.delete_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteApi#delete_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Note
    # Get for a note based on its Id.
    # @param version [Float] 
    # @param note_id [Integer] the id of the note to get
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Boolean] :return_full_response Determines whether to return the NoteFullResponse for the item
    # @return [SirqulResponse]
    def get_note(version, note_id, opts = {})
      data, _status_code, _headers = get_note_with_http_info(version, note_id, opts)
      data
    end

    # Get Note
    # Get for a note based on its Id.
    # @param version [Float] 
    # @param note_id [Integer] the id of the note to get
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Boolean] :return_full_response Determines whether to return the NoteFullResponse for the item
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def get_note_with_http_info(version, note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteApi.get_note ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling NoteApi.get_note"
      end
      # verify the required parameter 'note_id' is set
      if @api_client.config.client_side_validation && note_id.nil?
        fail ArgumentError, "Missing the required parameter 'note_id' when calling NoteApi.get_note"
      end
      # resource path
      local_var_path = '/api/{version}/note/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'noteId'] = note_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'returnFullResponse'] = opts[:'return_full_response'] if !opts[:'return_full_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NoteApi.get_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteApi#get_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Notes
    # Search for notes on a notable object.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :notable_type The notable object type {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, OFFER, OFFER_LOCATION, RETAILER, RETAILER_LOCATION, THEME_DESCRIPTOR}
    # @option opts [Integer] :notable_id The id of the notable object
    # @option opts [String] :note_types Comma separated list of noteType strings to filter results with
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :keyword The keyword used to search
    # @option opts [Integer] :flag_count_minimum return items that has flagCount &gt;&#x3D; flagCountMinimum if this is set, return all items, even ones with flagCount &gt;&#x3D; flagThreshold
    # @option opts [Boolean] :flags_exceed_threshold return items that has flagCount &gt;&#x3D; flagThreshold, which are hidden by default
    # @option opts [Boolean] :include_inactive include inactive in the result
    # @option opts [String] :sort_field The column to sort the search on
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Boolean] :return_full_response Determines whether to return the NoteFullResponse for each search item
    # @option opts [Integer] :updated_since return items that have been updated since this date (time-stamp in milliseconds)
    # @option opts [Integer] :updated_before return items that have been updated before this date (time-stamp in milliseconds)
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @return [Array<NoteResponse>]
    def search_notes(version, opts = {})
      data, _status_code, _headers = search_notes_with_http_info(version, opts)
      data
    end

    # Search Notes
    # Search for notes on a notable object.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :notable_type The notable object type {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, OFFER, OFFER_LOCATION, RETAILER, RETAILER_LOCATION, THEME_DESCRIPTOR}
    # @option opts [Integer] :notable_id The id of the notable object
    # @option opts [String] :note_types Comma separated list of noteType strings to filter results with
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :keyword The keyword used to search
    # @option opts [Integer] :flag_count_minimum return items that has flagCount &gt;&#x3D; flagCountMinimum if this is set, return all items, even ones with flagCount &gt;&#x3D; flagThreshold
    # @option opts [Boolean] :flags_exceed_threshold return items that has flagCount &gt;&#x3D; flagThreshold, which are hidden by default
    # @option opts [Boolean] :include_inactive include inactive in the result
    # @option opts [String] :sort_field The column to sort the search on
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Boolean] :return_full_response Determines whether to return the NoteFullResponse for each search item
    # @option opts [Integer] :updated_since return items that have been updated since this date (time-stamp in milliseconds)
    # @option opts [Integer] :updated_before return items that have been updated before this date (time-stamp in milliseconds)
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @return [Array<(Array<NoteResponse>, Integer, Hash)>] Array<NoteResponse> data, response status code and response headers
    def search_notes_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteApi.search_notes ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling NoteApi.search_notes"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "OWNER_DISPLAY", "NOTABLE_TYPE", "NOTE_TAG", "NOTE_COUNT", "LIKES", "DISLIKES"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/note/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'notableType'] = opts[:'notable_type'] if !opts[:'notable_type'].nil?
      query_params[:'notableId'] = opts[:'notable_id'] if !opts[:'notable_id'].nil?
      query_params[:'noteTypes'] = opts[:'note_types'] if !opts[:'note_types'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'flagCountMinimum'] = opts[:'flag_count_minimum'] if !opts[:'flag_count_minimum'].nil?
      query_params[:'flagsExceedThreshold'] = opts[:'flags_exceed_threshold'] if !opts[:'flags_exceed_threshold'].nil?
      query_params[:'includeInactive'] = opts[:'include_inactive'] if !opts[:'include_inactive'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'returnFullResponse'] = opts[:'return_full_response'] if !opts[:'return_full_response'].nil?
      query_params[:'updatedSince'] = opts[:'updated_since'] if !opts[:'updated_since'].nil?
      query_params[:'updatedBefore'] = opts[:'updated_before'] if !opts[:'updated_before'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<NoteResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NoteApi.search_notes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteApi#search_notes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Note
    # Update an existing comment (note). Only the creator of the note have permission to update.
    # @param version [Float] 
    # @param note_id [Integer] The id of the note, used when editing a comment
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :comment The message the user wishes to leave a comment on
    # @option opts [String] :note_type The custom string defined by the client (used for differentiating on various note types)
    # @option opts [String] :asset_ids A comma separated list of asset IDs to add with the note
    # @option opts [String] :tags search tags
    # @option opts [String] :permissionable_type This is used for sending out group notifications. For example, when someone adds a note to an asset which is also a part of an album, everyone in the album will receive a notification. This is achieved by passing in the permissionable type (in this case \&quot;album\&quot;), and the permissionable id (the album id). Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
    # @option opts [Integer] :permissionable_id The id of the permissionable object (for sending group notifications)
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :location_description The description of the location
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @option opts [String] :meta_data meta data to update with the note
    # @option opts [Boolean] :return_full_response whether to return the full response or not
    # @option opts [Boolean] :active Sets the active flag for the note
    # @option opts [Boolean] :update_asset main flag for updating asset in note, must set to true if you want to update the note&#39;s asset
    # @option opts [Boolean] :asset_return_nulls Return null fields for asset response when updating an asset
    # @option opts [Integer] :asset_album_id the album the asset will be added to (optional)
    # @option opts [Integer] :asset_collection_id the collection ID that the asset is associated with
    # @option opts [String] :asset_add_to_default_album the default album to add the asset to
    # @option opts [Boolean] :asset_add_to_media_library the media library to add the asset to
    # @option opts [Integer] :asset_version_code the version code of the asset
    # @option opts [String] :asset_version_name the version name of the asset
    # @option opts [String] :asset_meta_data the meta data of the asset
    # @option opts [String] :asset_caption the caption of the asset
    # @option opts [File] :asset_media the media of the asset
    # @option opts [String] :asset_media_url the media URL of the asset
    # @option opts [String] :asset_media_string the media string of the asset
    # @option opts [String] :asset_media_string_file_name the media string file name of the asset
    # @option opts [String] :asset_media_string_content_type the media string content type of the asset
    # @option opts [File] :asset_attached_media the attached media of the asset
    # @option opts [String] :asset_attached_media_url the attached media URL of the asset
    # @option opts [String] :asset_attached_media_string the attached media string of the asset
    # @option opts [String] :asset_attached_media_string_file_name the attached media string file name of the asset
    # @option opts [String] :asset_attached_media_string_content_type the attached media string content type of the asset
    # @option opts [String] :asset_location_description the location description for the asset
    # @option opts [String] :asset_app the application for the asset
    # @option opts [String] :asset_search_tags the search tags used for the asset
    # @option opts [Float] :asset_latitude the latitude of the asset
    # @option opts [Float] :asset_longitude the longitude of the asset
    # @return [NoteResponse]
    def update_note(version, note_id, opts = {})
      data, _status_code, _headers = update_note_with_http_info(version, note_id, opts)
      data
    end

    # Update Note
    # Update an existing comment (note). Only the creator of the note have permission to update.
    # @param version [Float] 
    # @param note_id [Integer] The id of the note, used when editing a comment
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [String] :comment The message the user wishes to leave a comment on
    # @option opts [String] :note_type The custom string defined by the client (used for differentiating on various note types)
    # @option opts [String] :asset_ids A comma separated list of asset IDs to add with the note
    # @option opts [String] :tags search tags
    # @option opts [String] :permissionable_type This is used for sending out group notifications. For example, when someone adds a note to an asset which is also a part of an album, everyone in the album will receive a notification. This is achieved by passing in the permissionable type (in this case \&quot;album\&quot;), and the permissionable id (the album id). Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
    # @option opts [Integer] :permissionable_id The id of the permissionable object (for sending group notifications)
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :location_description The description of the location
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @option opts [String] :meta_data meta data to update with the note
    # @option opts [Boolean] :return_full_response whether to return the full response or not
    # @option opts [Boolean] :active Sets the active flag for the note
    # @option opts [Boolean] :update_asset main flag for updating asset in note, must set to true if you want to update the note&#39;s asset
    # @option opts [Boolean] :asset_return_nulls Return null fields for asset response when updating an asset
    # @option opts [Integer] :asset_album_id the album the asset will be added to (optional)
    # @option opts [Integer] :asset_collection_id the collection ID that the asset is associated with
    # @option opts [String] :asset_add_to_default_album the default album to add the asset to
    # @option opts [Boolean] :asset_add_to_media_library the media library to add the asset to
    # @option opts [Integer] :asset_version_code the version code of the asset
    # @option opts [String] :asset_version_name the version name of the asset
    # @option opts [String] :asset_meta_data the meta data of the asset
    # @option opts [String] :asset_caption the caption of the asset
    # @option opts [File] :asset_media the media of the asset
    # @option opts [String] :asset_media_url the media URL of the asset
    # @option opts [String] :asset_media_string the media string of the asset
    # @option opts [String] :asset_media_string_file_name the media string file name of the asset
    # @option opts [String] :asset_media_string_content_type the media string content type of the asset
    # @option opts [File] :asset_attached_media the attached media of the asset
    # @option opts [String] :asset_attached_media_url the attached media URL of the asset
    # @option opts [String] :asset_attached_media_string the attached media string of the asset
    # @option opts [String] :asset_attached_media_string_file_name the attached media string file name of the asset
    # @option opts [String] :asset_attached_media_string_content_type the attached media string content type of the asset
    # @option opts [String] :asset_location_description the location description for the asset
    # @option opts [String] :asset_app the application for the asset
    # @option opts [String] :asset_search_tags the search tags used for the asset
    # @option opts [Float] :asset_latitude the latitude of the asset
    # @option opts [Float] :asset_longitude the longitude of the asset
    # @return [Array<(NoteResponse, Integer, Hash)>] NoteResponse data, response status code and response headers
    def update_note_with_http_info(version, note_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: NoteApi.update_note ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling NoteApi.update_note"
      end
      # verify the required parameter 'note_id' is set
      if @api_client.config.client_side_validation && note_id.nil?
        fail ArgumentError, "Missing the required parameter 'note_id' when calling NoteApi.update_note"
      end
      # resource path
      local_var_path = '/api/{version}/note/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'noteId'] = note_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'comment'] = opts[:'comment'] if !opts[:'comment'].nil?
      query_params[:'noteType'] = opts[:'note_type'] if !opts[:'note_type'].nil?
      query_params[:'assetIds'] = opts[:'asset_ids'] if !opts[:'asset_ids'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'permissionableType'] = opts[:'permissionable_type'] if !opts[:'permissionable_type'].nil?
      query_params[:'permissionableId'] = opts[:'permissionable_id'] if !opts[:'permissionable_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'locationDescription'] = opts[:'location_description'] if !opts[:'location_description'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'returnFullResponse'] = opts[:'return_full_response'] if !opts[:'return_full_response'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'updateAsset'] = opts[:'update_asset'] if !opts[:'update_asset'].nil?
      query_params[:'assetReturnNulls'] = opts[:'asset_return_nulls'] if !opts[:'asset_return_nulls'].nil?
      query_params[:'assetAlbumId'] = opts[:'asset_album_id'] if !opts[:'asset_album_id'].nil?
      query_params[:'assetCollectionId'] = opts[:'asset_collection_id'] if !opts[:'asset_collection_id'].nil?
      query_params[:'assetAddToDefaultAlbum'] = opts[:'asset_add_to_default_album'] if !opts[:'asset_add_to_default_album'].nil?
      query_params[:'assetAddToMediaLibrary'] = opts[:'asset_add_to_media_library'] if !opts[:'asset_add_to_media_library'].nil?
      query_params[:'assetVersionCode'] = opts[:'asset_version_code'] if !opts[:'asset_version_code'].nil?
      query_params[:'assetVersionName'] = opts[:'asset_version_name'] if !opts[:'asset_version_name'].nil?
      query_params[:'assetMetaData'] = opts[:'asset_meta_data'] if !opts[:'asset_meta_data'].nil?
      query_params[:'assetCaption'] = opts[:'asset_caption'] if !opts[:'asset_caption'].nil?
      query_params[:'assetMedia'] = opts[:'asset_media'] if !opts[:'asset_media'].nil?
      query_params[:'assetMediaUrl'] = opts[:'asset_media_url'] if !opts[:'asset_media_url'].nil?
      query_params[:'assetMediaString'] = opts[:'asset_media_string'] if !opts[:'asset_media_string'].nil?
      query_params[:'assetMediaStringFileName'] = opts[:'asset_media_string_file_name'] if !opts[:'asset_media_string_file_name'].nil?
      query_params[:'assetMediaStringContentType'] = opts[:'asset_media_string_content_type'] if !opts[:'asset_media_string_content_type'].nil?
      query_params[:'assetAttachedMedia'] = opts[:'asset_attached_media'] if !opts[:'asset_attached_media'].nil?
      query_params[:'assetAttachedMediaUrl'] = opts[:'asset_attached_media_url'] if !opts[:'asset_attached_media_url'].nil?
      query_params[:'assetAttachedMediaString'] = opts[:'asset_attached_media_string'] if !opts[:'asset_attached_media_string'].nil?
      query_params[:'assetAttachedMediaStringFileName'] = opts[:'asset_attached_media_string_file_name'] if !opts[:'asset_attached_media_string_file_name'].nil?
      query_params[:'assetAttachedMediaStringContentType'] = opts[:'asset_attached_media_string_content_type'] if !opts[:'asset_attached_media_string_content_type'].nil?
      query_params[:'assetLocationDescription'] = opts[:'asset_location_description'] if !opts[:'asset_location_description'].nil?
      query_params[:'assetApp'] = opts[:'asset_app'] if !opts[:'asset_app'].nil?
      query_params[:'assetSearchTags'] = opts[:'asset_search_tags'] if !opts[:'asset_search_tags'].nil?
      query_params[:'assetLatitude'] = opts[:'asset_latitude'] if !opts[:'asset_latitude'].nil?
      query_params[:'assetLongitude'] = opts[:'asset_longitude'] if !opts[:'asset_longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'NoteResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"NoteApi.update_note",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: NoteApi#update_note\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
