=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class OfferApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Update Offer Locations
    # Batch update offer locations.
    # @param version [Float] 
    # @param data [String] JSON string in the following format: &#x60;&#x60;&#x60;json [{   \&quot;offerLocationId\&quot;: 1705,   \&quot;latitude\&quot;: 54.0,   \&quot;longitude\&quot;: -122.0,   \&quot;altitude\&quot;: 1.0,   \&quot;locationDetail\&quot;: \&quot;floor 1\&quot;,   \&quot;locationDescription\&quot;: \&quot;behind the Coke sign\&quot; }, {   \&quot;offerLocationId\&quot;: 1704,   \&quot;latitude\&quot;: 54.1,   \&quot;longitude\&quot;: -122.1 }] &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [SirqulResponse]
    def batch_update_offer_locations(version, data, opts = {})
      data, _status_code, _headers = batch_update_offer_locations_with_http_info(version, data, opts)
      data
    end

    # Update Offer Locations
    # Batch update offer locations.
    # @param version [Float] 
    # @param data [String] JSON string in the following format: &#x60;&#x60;&#x60;json [{   \&quot;offerLocationId\&quot;: 1705,   \&quot;latitude\&quot;: 54.0,   \&quot;longitude\&quot;: -122.0,   \&quot;altitude\&quot;: 1.0,   \&quot;locationDetail\&quot;: \&quot;floor 1\&quot;,   \&quot;locationDescription\&quot;: \&quot;behind the Coke sign\&quot; }, {   \&quot;offerLocationId\&quot;: 1704,   \&quot;latitude\&quot;: 54.1,   \&quot;longitude\&quot;: -122.1 }] &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def batch_update_offer_locations_with_http_info(version, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.batch_update_offer_locations ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.batch_update_offer_locations"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling OfferApi.batch_update_offer_locations"
      end
      # resource path
      local_var_path = '/api/{version}/retailer/offer/location/batchUpdate'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data'] = data
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.batch_update_offer_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#batch_update_offer_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Offer
    # Create an offer and assign it to the provided retailer locations.
    # @param version [Float] 
    # @param include_offer_locations [Boolean] If true return all the offer locations associated with the offer
    # @param title [String] The title (255 char limit)
    # @param barcode_type [String] The bar code type {NONE, UPC, CODE_128, QR, CUSTOM_MEDIA}
    # @param no_expiration [Boolean] Overrides the expiration date so that the offer does not expire
    # @param available_limit [Integer] The limit of how many times the offer can be used by consumers
    # @param available_limit_per_user [Integer] The limit of how many times a user can used the same offer
    # @param added_limit [Integer] The limit of how many times the offer can be added to consumer wallets
    # @param view_limit [Integer] The limit of how many times the offer can be viewed
    # @param max_prints [Integer] The maximum number of times the offer can be printed
    # @param ticket_price [Integer] The cost of the offer in tickets
    # @param full_price [Float] The retail/full price cost of the offer in real currency
    # @param discount_price [Float] The cost of the offer at a discounted price (what the consumer pays)
    # @param offer_type [String] The offer type {VOUCHER, COUPON, PRODUCT, EVENT, MEDIA, DEVICE}
    # @param special_offer_type [String] The special offer type {ALL, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}
    # @param offer_visibility [String] The offer visibility {PUBLIC, REWARDABLE, TRIGGERABLE}
    # @param active [Boolean] Sets the active flag
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id (deviceId or accountId required)
    # @option opts [String] :tags Custom string field for doing full-text searches
    # @option opts [Integer] :parent_offer_id the parent offer id
    # @option opts [String] :retailer_location_ids Comma separated list of retailer location ids. This will assign the offer to these retailer locations.
    # @option opts [String] :offer_locations A list of json data that has offer location specific values.
    # @option opts [String] :sub_title The sub title (255 char limit)
    # @option opts [String] :details The details
    # @option opts [String] :sub_details A string for custom details (255 char limit)
    # @option opts [String] :fine_print The fine print
    # @option opts [String] :barcode_entry The bar code entry string
    # @option opts [String] :external_redeem_options An external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer
    # @option opts [String] :external_url The clickUrl of the offer
    # @option opts [String] :external_id an external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer
    # @option opts [String] :tickets_reward_type The type of ticket to reward, null means default type
    # @option opts [Integer] :tickets_reward Determines how many tickets are awarded
    # @option opts [Integer] :activated The date of when the offer will be visible to consumers
    # @option opts [Integer] :expires The date of when the offer expires
    # @option opts [String] :ticket_price_type the type of ticket needed to buy offer
    # @option opts [Boolean] :show_remaining show remaining offers available
    # @option opts [Boolean] :show_redeemed show how many offers have been redeemed
    # @option opts [Boolean] :replaced 
    # @option opts [Boolean] :featured flag if offer is featured or not
    # @option opts [String] :category_ids Comma separated list of category ids
    # @option opts [String] :filter_ids Comma separated list of filter ids
    # @option opts [Integer] :barcode_asset_id The id of the barcode asset
    # @option opts [Integer] :image_asset_id The id of the an offer asset
    # @option opts [Integer] :image_asset_id1 The id of the an offer asset
    # @option opts [Integer] :image_asset_id2 The id of the an offer asset
    # @option opts [Integer] :image_asset_id3 The id of the an offer asset
    # @option opts [Integer] :image_asset_id4 The id of the an offer asset
    # @option opts [Integer] :image_asset_id5 The id of the an offer asset
    # @option opts [String] :publisher The maker of the item.
    # @option opts [Integer] :redeemable_start The redeemable start date/time of the offer.
    # @option opts [Integer] :redeemable_end The redeemable start date/time of the offer.
    # @option opts [String] :brand The brand. OfferType PRODUCT only.
    # @option opts [String] :product_type The product type. OfferType PRODUCT only.
    # @option opts [String] :condition_type The condition. OfferType PRODUCT only.
    # @option opts [String] :isbn The ISBN id. OfferType PRODUCT only.
    # @option opts [String] :asin The ASIN id. OfferType PRODUCT only.
    # @option opts [String] :catalog_numbers The list of catelog numbers, comma seperated. OfferType PRODUCT only.
    # @option opts [String] :department The department name. The OfferType PRODUCT only.
    # @option opts [String] :features The list of features, comma seperated. OfferType PRODUCT only.
    # @option opts [Float] :minimum_price The MAP price. OfferType PRODUCT only.
    # @option opts [Float] :width The width of the item. OfferType PRODUCT only.
    # @option opts [Float] :height The height of the item. OfferType PRODUCT only.
    # @option opts [Float] :depth The depth of the item. OfferType PRODUCT only.
    # @option opts [Float] :weight The weight of the item. OfferType PRODUCT only.
    # @option opts [String] :unit The unit of measurement. OfferType PRODUCT only.
    # @option opts [String] :studio The studio name. OfferType PRODUCT only.
    # @option opts [String] :parental_rating The parental control rating. OfferType PRODUCT only.
    # @option opts [Integer] :publish_date The date published. OfferType PRODUCT only.
    # @option opts [Integer] :availability_date The date available. OfferType PRODUCT only.
    # @option opts [Integer] :size_id 
    # @option opts [Integer] :listing_id The ID of the event listing
    # @option opts [String] :media_type the media type of the offer
    # @option opts [Integer] :duration The total playing time of the media item. OfferType MEDIA only.
    # @option opts [String] :author The created/author of the media item. OfferType MEDIA only.
    # @option opts [Integer] :release_date The date/time of when the media item was originally released. OfferType MEDIA only.
    # @option opts [String] :collection_ids 
    # @option opts [Integer] :reboot_time_hour The reboot hour time ranging from 0 to 23
    # @option opts [Integer] :reboot_time_minute The reboot minute time ranging from 0 to 59
    # @option opts [Integer] :idle_timeout_in_second If the device is idle for idleTimeoutInSecond then the device should timeout
    # @option opts [String] :serial_number The serial number on the device
    # @option opts [String] :udid The unique device id for the device
    # @option opts [String] :device_type The type of the device, for example: \&quot;Kiosk\&quot;, \&quot;Beacon\&quot;.
    # @option opts [Float] :device_power Edysen device power level setting
    # @option opts [Float] :device_interference Edysen device inteference setting
    # @option opts [String] :availability 
    # @option opts [String] :availability_summary 
    # @return [RetailerOfferResponse]
    def create_offer(version, include_offer_locations, title, barcode_type, no_expiration, available_limit, available_limit_per_user, added_limit, view_limit, max_prints, ticket_price, full_price, discount_price, offer_type, special_offer_type, offer_visibility, active, opts = {})
      data, _status_code, _headers = create_offer_with_http_info(version, include_offer_locations, title, barcode_type, no_expiration, available_limit, available_limit_per_user, added_limit, view_limit, max_prints, ticket_price, full_price, discount_price, offer_type, special_offer_type, offer_visibility, active, opts)
      data
    end

    # Create Offer
    # Create an offer and assign it to the provided retailer locations.
    # @param version [Float] 
    # @param include_offer_locations [Boolean] If true return all the offer locations associated with the offer
    # @param title [String] The title (255 char limit)
    # @param barcode_type [String] The bar code type {NONE, UPC, CODE_128, QR, CUSTOM_MEDIA}
    # @param no_expiration [Boolean] Overrides the expiration date so that the offer does not expire
    # @param available_limit [Integer] The limit of how many times the offer can be used by consumers
    # @param available_limit_per_user [Integer] The limit of how many times a user can used the same offer
    # @param added_limit [Integer] The limit of how many times the offer can be added to consumer wallets
    # @param view_limit [Integer] The limit of how many times the offer can be viewed
    # @param max_prints [Integer] The maximum number of times the offer can be printed
    # @param ticket_price [Integer] The cost of the offer in tickets
    # @param full_price [Float] The retail/full price cost of the offer in real currency
    # @param discount_price [Float] The cost of the offer at a discounted price (what the consumer pays)
    # @param offer_type [String] The offer type {VOUCHER, COUPON, PRODUCT, EVENT, MEDIA, DEVICE}
    # @param special_offer_type [String] The special offer type {ALL, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}
    # @param offer_visibility [String] The offer visibility {PUBLIC, REWARDABLE, TRIGGERABLE}
    # @param active [Boolean] Sets the active flag
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id (deviceId or accountId required)
    # @option opts [String] :tags Custom string field for doing full-text searches
    # @option opts [Integer] :parent_offer_id the parent offer id
    # @option opts [String] :retailer_location_ids Comma separated list of retailer location ids. This will assign the offer to these retailer locations.
    # @option opts [String] :offer_locations A list of json data that has offer location specific values.
    # @option opts [String] :sub_title The sub title (255 char limit)
    # @option opts [String] :details The details
    # @option opts [String] :sub_details A string for custom details (255 char limit)
    # @option opts [String] :fine_print The fine print
    # @option opts [String] :barcode_entry The bar code entry string
    # @option opts [String] :external_redeem_options An external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer
    # @option opts [String] :external_url The clickUrl of the offer
    # @option opts [String] :external_id an external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer
    # @option opts [String] :tickets_reward_type The type of ticket to reward, null means default type
    # @option opts [Integer] :tickets_reward Determines how many tickets are awarded
    # @option opts [Integer] :activated The date of when the offer will be visible to consumers
    # @option opts [Integer] :expires The date of when the offer expires
    # @option opts [String] :ticket_price_type the type of ticket needed to buy offer
    # @option opts [Boolean] :show_remaining show remaining offers available
    # @option opts [Boolean] :show_redeemed show how many offers have been redeemed
    # @option opts [Boolean] :replaced 
    # @option opts [Boolean] :featured flag if offer is featured or not
    # @option opts [String] :category_ids Comma separated list of category ids
    # @option opts [String] :filter_ids Comma separated list of filter ids
    # @option opts [Integer] :barcode_asset_id The id of the barcode asset
    # @option opts [Integer] :image_asset_id The id of the an offer asset
    # @option opts [Integer] :image_asset_id1 The id of the an offer asset
    # @option opts [Integer] :image_asset_id2 The id of the an offer asset
    # @option opts [Integer] :image_asset_id3 The id of the an offer asset
    # @option opts [Integer] :image_asset_id4 The id of the an offer asset
    # @option opts [Integer] :image_asset_id5 The id of the an offer asset
    # @option opts [String] :publisher The maker of the item.
    # @option opts [Integer] :redeemable_start The redeemable start date/time of the offer.
    # @option opts [Integer] :redeemable_end The redeemable start date/time of the offer.
    # @option opts [String] :brand The brand. OfferType PRODUCT only.
    # @option opts [String] :product_type The product type. OfferType PRODUCT only.
    # @option opts [String] :condition_type The condition. OfferType PRODUCT only.
    # @option opts [String] :isbn The ISBN id. OfferType PRODUCT only.
    # @option opts [String] :asin The ASIN id. OfferType PRODUCT only.
    # @option opts [String] :catalog_numbers The list of catelog numbers, comma seperated. OfferType PRODUCT only.
    # @option opts [String] :department The department name. The OfferType PRODUCT only.
    # @option opts [String] :features The list of features, comma seperated. OfferType PRODUCT only.
    # @option opts [Float] :minimum_price The MAP price. OfferType PRODUCT only.
    # @option opts [Float] :width The width of the item. OfferType PRODUCT only.
    # @option opts [Float] :height The height of the item. OfferType PRODUCT only.
    # @option opts [Float] :depth The depth of the item. OfferType PRODUCT only.
    # @option opts [Float] :weight The weight of the item. OfferType PRODUCT only.
    # @option opts [String] :unit The unit of measurement. OfferType PRODUCT only.
    # @option opts [String] :studio The studio name. OfferType PRODUCT only.
    # @option opts [String] :parental_rating The parental control rating. OfferType PRODUCT only.
    # @option opts [Integer] :publish_date The date published. OfferType PRODUCT only.
    # @option opts [Integer] :availability_date The date available. OfferType PRODUCT only.
    # @option opts [Integer] :size_id 
    # @option opts [Integer] :listing_id The ID of the event listing
    # @option opts [String] :media_type the media type of the offer
    # @option opts [Integer] :duration The total playing time of the media item. OfferType MEDIA only.
    # @option opts [String] :author The created/author of the media item. OfferType MEDIA only.
    # @option opts [Integer] :release_date The date/time of when the media item was originally released. OfferType MEDIA only.
    # @option opts [String] :collection_ids 
    # @option opts [Integer] :reboot_time_hour The reboot hour time ranging from 0 to 23
    # @option opts [Integer] :reboot_time_minute The reboot minute time ranging from 0 to 59
    # @option opts [Integer] :idle_timeout_in_second If the device is idle for idleTimeoutInSecond then the device should timeout
    # @option opts [String] :serial_number The serial number on the device
    # @option opts [String] :udid The unique device id for the device
    # @option opts [String] :device_type The type of the device, for example: \&quot;Kiosk\&quot;, \&quot;Beacon\&quot;.
    # @option opts [Float] :device_power Edysen device power level setting
    # @option opts [Float] :device_interference Edysen device inteference setting
    # @option opts [String] :availability 
    # @option opts [String] :availability_summary 
    # @return [Array<(RetailerOfferResponse, Integer, Hash)>] RetailerOfferResponse data, response status code and response headers
    def create_offer_with_http_info(version, include_offer_locations, title, barcode_type, no_expiration, available_limit, available_limit_per_user, added_limit, view_limit, max_prints, ticket_price, full_price, discount_price, offer_type, special_offer_type, offer_visibility, active, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.create_offer ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'include_offer_locations' is set
      if @api_client.config.client_side_validation && include_offer_locations.nil?
        fail ArgumentError, "Missing the required parameter 'include_offer_locations' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'barcode_type' is set
      if @api_client.config.client_side_validation && barcode_type.nil?
        fail ArgumentError, "Missing the required parameter 'barcode_type' when calling OfferApi.create_offer"
      end
      # verify enum value
      allowable_values = ["NONE", "UPC", "CODE_128", "QR", "CUSTOM_MEDIA"]
      if @api_client.config.client_side_validation && !allowable_values.include?(barcode_type)
        fail ArgumentError, "invalid value for \"barcode_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'no_expiration' is set
      if @api_client.config.client_side_validation && no_expiration.nil?
        fail ArgumentError, "Missing the required parameter 'no_expiration' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'available_limit' is set
      if @api_client.config.client_side_validation && available_limit.nil?
        fail ArgumentError, "Missing the required parameter 'available_limit' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'available_limit_per_user' is set
      if @api_client.config.client_side_validation && available_limit_per_user.nil?
        fail ArgumentError, "Missing the required parameter 'available_limit_per_user' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'added_limit' is set
      if @api_client.config.client_side_validation && added_limit.nil?
        fail ArgumentError, "Missing the required parameter 'added_limit' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'view_limit' is set
      if @api_client.config.client_side_validation && view_limit.nil?
        fail ArgumentError, "Missing the required parameter 'view_limit' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'max_prints' is set
      if @api_client.config.client_side_validation && max_prints.nil?
        fail ArgumentError, "Missing the required parameter 'max_prints' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'ticket_price' is set
      if @api_client.config.client_side_validation && ticket_price.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_price' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'full_price' is set
      if @api_client.config.client_side_validation && full_price.nil?
        fail ArgumentError, "Missing the required parameter 'full_price' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'discount_price' is set
      if @api_client.config.client_side_validation && discount_price.nil?
        fail ArgumentError, "Missing the required parameter 'discount_price' when calling OfferApi.create_offer"
      end
      # verify the required parameter 'offer_type' is set
      if @api_client.config.client_side_validation && offer_type.nil?
        fail ArgumentError, "Missing the required parameter 'offer_type' when calling OfferApi.create_offer"
      end
      # verify enum value
      allowable_values = ["VOUCHER", "COUPON", "PRODUCT", "MEDIA", "EVENT", "DEVICE"]
      if @api_client.config.client_side_validation && !allowable_values.include?(offer_type)
        fail ArgumentError, "invalid value for \"offer_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'special_offer_type' is set
      if @api_client.config.client_side_validation && special_offer_type.nil?
        fail ArgumentError, "Missing the required parameter 'special_offer_type' when calling OfferApi.create_offer"
      end
      # verify enum value
      allowable_values = ["ALL", "RESERVABLE", "REGULAR_OFFER", "ACT_NOW", "GET_THERE_NOW", "SQOOT", "TICKETS", "YIPIT"]
      if @api_client.config.client_side_validation && !allowable_values.include?(special_offer_type)
        fail ArgumentError, "invalid value for \"special_offer_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'offer_visibility' is set
      if @api_client.config.client_side_validation && offer_visibility.nil?
        fail ArgumentError, "Missing the required parameter 'offer_visibility' when calling OfferApi.create_offer"
      end
      # verify enum value
      allowable_values = ["PUBLIC", "LISTABLE", "REWARDABLE", "TRIGGERABLE", "PRIVATE"]
      if @api_client.config.client_side_validation && !allowable_values.include?(offer_visibility)
        fail ArgumentError, "invalid value for \"offer_visibility\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'active' is set
      if @api_client.config.client_side_validation && active.nil?
        fail ArgumentError, "Missing the required parameter 'active' when calling OfferApi.create_offer"
      end
      allowable_values = ["APPAREL", "APPLIANCES", "APPS", "ARTS_CRAFTS", "AUTOMOTIVE", "BABY", "BEAUTY", "BOOKS", "CLASSICAL", "COLLECTIBLES", "DVD", "ELECTRONICS", "GIFT_CARDS", "GOURMET_FOOD", "GROCERY", "HEALTH_PERSONAL_CARE", "HOME_GARDEN", "INDUSTRIAL", "JEWELRY", "KITCHEN", "LAWN_GARDEN", "MAGAZINES", "MISCELLANEOUS", "MUSICAL_INSTRUMENTS", "OFFICE_PRODUCTS", "OTHER", "OUTDOOR_LIVING", "PC_HARDWARE", "PET_SUPPLIES", "SHOES", "SOFTWARE", "SPORTING_GOODS", "TOOLS", "TOYS", "VIDEO_GAMES", "WATCHES", "WIRELESS", "WIRELESS_ACCESSORIES"]
      if @api_client.config.client_side_validation && opts[:'product_type'] && !allowable_values.include?(opts[:'product_type'])
        fail ArgumentError, "invalid value for \"product_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["NEW", "USED", "REFURBISHED", "OTHER"]
      if @api_client.config.client_side_validation && opts[:'condition_type'] && !allowable_values.include?(opts[:'condition_type'])
        fail ArgumentError, "invalid value for \"condition_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["MILIMETER", "CENTIMETER", "METER", "INCH", "FOOT", "YARD"]
      if @api_client.config.client_side_validation && opts[:'unit'] && !allowable_values.include?(opts[:'unit'])
        fail ArgumentError, "invalid value for \"unit\", must be one of #{allowable_values}"
      end
      allowable_values = ["APK", "APPLICATION", "IMAGE", "AUDIO", "VIDEO", "MULTIPART", "BAR_CODE", "TEXT", "OTHER"]
      if @api_client.config.client_side_validation && opts[:'media_type'] && !allowable_values.include?(opts[:'media_type'])
        fail ArgumentError, "invalid value for \"media_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/retailer/offer/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'includeOfferLocations'] = include_offer_locations
      query_params[:'title'] = title
      query_params[:'barcodeType'] = barcode_type
      query_params[:'noExpiration'] = no_expiration
      query_params[:'availableLimit'] = available_limit
      query_params[:'availableLimitPerUser'] = available_limit_per_user
      query_params[:'addedLimit'] = added_limit
      query_params[:'viewLimit'] = view_limit
      query_params[:'maxPrints'] = max_prints
      query_params[:'ticketPrice'] = ticket_price
      query_params[:'fullPrice'] = full_price
      query_params[:'discountPrice'] = discount_price
      query_params[:'offerType'] = offer_type
      query_params[:'specialOfferType'] = special_offer_type
      query_params[:'offerVisibility'] = offer_visibility
      query_params[:'active'] = active
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'parentOfferId'] = opts[:'parent_offer_id'] if !opts[:'parent_offer_id'].nil?
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'offerLocations'] = opts[:'offer_locations'] if !opts[:'offer_locations'].nil?
      query_params[:'subTitle'] = opts[:'sub_title'] if !opts[:'sub_title'].nil?
      query_params[:'details'] = opts[:'details'] if !opts[:'details'].nil?
      query_params[:'subDetails'] = opts[:'sub_details'] if !opts[:'sub_details'].nil?
      query_params[:'finePrint'] = opts[:'fine_print'] if !opts[:'fine_print'].nil?
      query_params[:'barcodeEntry'] = opts[:'barcode_entry'] if !opts[:'barcode_entry'].nil?
      query_params[:'externalRedeemOptions'] = opts[:'external_redeem_options'] if !opts[:'external_redeem_options'].nil?
      query_params[:'externalUrl'] = opts[:'external_url'] if !opts[:'external_url'].nil?
      query_params[:'externalId'] = opts[:'external_id'] if !opts[:'external_id'].nil?
      query_params[:'ticketsRewardType'] = opts[:'tickets_reward_type'] if !opts[:'tickets_reward_type'].nil?
      query_params[:'ticketsReward'] = opts[:'tickets_reward'] if !opts[:'tickets_reward'].nil?
      query_params[:'activated'] = opts[:'activated'] if !opts[:'activated'].nil?
      query_params[:'expires'] = opts[:'expires'] if !opts[:'expires'].nil?
      query_params[:'ticketPriceType'] = opts[:'ticket_price_type'] if !opts[:'ticket_price_type'].nil?
      query_params[:'showRemaining'] = opts[:'show_remaining'] if !opts[:'show_remaining'].nil?
      query_params[:'showRedeemed'] = opts[:'show_redeemed'] if !opts[:'show_redeemed'].nil?
      query_params[:'replaced'] = opts[:'replaced'] if !opts[:'replaced'].nil?
      query_params[:'featured'] = opts[:'featured'] if !opts[:'featured'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'barcodeAssetId'] = opts[:'barcode_asset_id'] if !opts[:'barcode_asset_id'].nil?
      query_params[:'imageAssetId'] = opts[:'image_asset_id'] if !opts[:'image_asset_id'].nil?
      query_params[:'imageAssetId1'] = opts[:'image_asset_id1'] if !opts[:'image_asset_id1'].nil?
      query_params[:'imageAssetId2'] = opts[:'image_asset_id2'] if !opts[:'image_asset_id2'].nil?
      query_params[:'imageAssetId3'] = opts[:'image_asset_id3'] if !opts[:'image_asset_id3'].nil?
      query_params[:'imageAssetId4'] = opts[:'image_asset_id4'] if !opts[:'image_asset_id4'].nil?
      query_params[:'imageAssetId5'] = opts[:'image_asset_id5'] if !opts[:'image_asset_id5'].nil?
      query_params[:'publisher'] = opts[:'publisher'] if !opts[:'publisher'].nil?
      query_params[:'redeemableStart'] = opts[:'redeemable_start'] if !opts[:'redeemable_start'].nil?
      query_params[:'redeemableEnd'] = opts[:'redeemable_end'] if !opts[:'redeemable_end'].nil?
      query_params[:'brand'] = opts[:'brand'] if !opts[:'brand'].nil?
      query_params[:'productType'] = opts[:'product_type'] if !opts[:'product_type'].nil?
      query_params[:'conditionType'] = opts[:'condition_type'] if !opts[:'condition_type'].nil?
      query_params[:'isbn'] = opts[:'isbn'] if !opts[:'isbn'].nil?
      query_params[:'asin'] = opts[:'asin'] if !opts[:'asin'].nil?
      query_params[:'catalogNumbers'] = opts[:'catalog_numbers'] if !opts[:'catalog_numbers'].nil?
      query_params[:'department'] = opts[:'department'] if !opts[:'department'].nil?
      query_params[:'features'] = opts[:'features'] if !opts[:'features'].nil?
      query_params[:'minimumPrice'] = opts[:'minimum_price'] if !opts[:'minimum_price'].nil?
      query_params[:'width'] = opts[:'width'] if !opts[:'width'].nil?
      query_params[:'height'] = opts[:'height'] if !opts[:'height'].nil?
      query_params[:'depth'] = opts[:'depth'] if !opts[:'depth'].nil?
      query_params[:'weight'] = opts[:'weight'] if !opts[:'weight'].nil?
      query_params[:'unit'] = opts[:'unit'] if !opts[:'unit'].nil?
      query_params[:'studio'] = opts[:'studio'] if !opts[:'studio'].nil?
      query_params[:'parentalRating'] = opts[:'parental_rating'] if !opts[:'parental_rating'].nil?
      query_params[:'publishDate'] = opts[:'publish_date'] if !opts[:'publish_date'].nil?
      query_params[:'availabilityDate'] = opts[:'availability_date'] if !opts[:'availability_date'].nil?
      query_params[:'sizeId'] = opts[:'size_id'] if !opts[:'size_id'].nil?
      query_params[:'listingId'] = opts[:'listing_id'] if !opts[:'listing_id'].nil?
      query_params[:'mediaType'] = opts[:'media_type'] if !opts[:'media_type'].nil?
      query_params[:'duration'] = opts[:'duration'] if !opts[:'duration'].nil?
      query_params[:'author'] = opts[:'author'] if !opts[:'author'].nil?
      query_params[:'releaseDate'] = opts[:'release_date'] if !opts[:'release_date'].nil?
      query_params[:'collectionIds'] = opts[:'collection_ids'] if !opts[:'collection_ids'].nil?
      query_params[:'rebootTimeHour'] = opts[:'reboot_time_hour'] if !opts[:'reboot_time_hour'].nil?
      query_params[:'rebootTimeMinute'] = opts[:'reboot_time_minute'] if !opts[:'reboot_time_minute'].nil?
      query_params[:'idleTimeoutInSecond'] = opts[:'idle_timeout_in_second'] if !opts[:'idle_timeout_in_second'].nil?
      query_params[:'serialNumber'] = opts[:'serial_number'] if !opts[:'serial_number'].nil?
      query_params[:'udid'] = opts[:'udid'] if !opts[:'udid'].nil?
      query_params[:'deviceType'] = opts[:'device_type'] if !opts[:'device_type'].nil?
      query_params[:'devicePower'] = opts[:'device_power'] if !opts[:'device_power'].nil?
      query_params[:'deviceInterference'] = opts[:'device_interference'] if !opts[:'device_interference'].nil?
      query_params[:'availability'] = opts[:'availability'] if !opts[:'availability'].nil?
      query_params[:'availabilitySummary'] = opts[:'availability_summary'] if !opts[:'availability_summary'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetailerOfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.create_offer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#create_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Offer
    # Set the deleted timestamp to current time. This effectively deletes the offer since all queries should ignore any records with a deleted time stamp.
    # @param version [Float] 
    # @param offer_id [Integer] The ID of the offer to be deleted
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account used to perform the delete, must have rights to edit the offer.
    # @return [SirqulResponse]
    def delete_offer(version, offer_id, opts = {})
      data, _status_code, _headers = delete_offer_with_http_info(version, offer_id, opts)
      data
    end

    # Delete Offer
    # Set the deleted timestamp to current time. This effectively deletes the offer since all queries should ignore any records with a deleted time stamp.
    # @param version [Float] 
    # @param offer_id [Integer] The ID of the offer to be deleted
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account used to perform the delete, must have rights to edit the offer.
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_offer_with_http_info(version, offer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.delete_offer ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.delete_offer"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling OfferApi.delete_offer"
      end
      # resource path
      local_var_path = '/api/{version}/retailer/offer/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offerId'] = offer_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.delete_offer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#delete_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Offer Location
    # Set the deleted timestamp to current time. This effectively deletes the offer location since all queries should ignore any records with a deleted time stamp.
    # @param version [Float] 
    # @param offer_location_id [Integer] The ID of the offer location to be deleted
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account used to perform the delete, must have rights to edit the offer location.
    # @return [SirqulResponse]
    def delete_offer_location(version, offer_location_id, opts = {})
      data, _status_code, _headers = delete_offer_location_with_http_info(version, offer_location_id, opts)
      data
    end

    # Delete Offer Location
    # Set the deleted timestamp to current time. This effectively deletes the offer location since all queries should ignore any records with a deleted time stamp.
    # @param version [Float] 
    # @param offer_location_id [Integer] The ID of the offer location to be deleted
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account used to perform the delete, must have rights to edit the offer location.
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_offer_location_with_http_info(version, offer_location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.delete_offer_location ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.delete_offer_location"
      end
      # verify the required parameter 'offer_location_id' is set
      if @api_client.config.client_side_validation && offer_location_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_location_id' when calling OfferApi.delete_offer_location"
      end
      # resource path
      local_var_path = '/api/{version}/retailer/offer/location/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offerLocationId'] = offer_location_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.delete_offer_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#delete_offer_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Offer
    # Gets the details of an offer that the user has access to.
    # @param version [Float] 
    # @param offer_id [Integer] The id of the offer
    # @param include_offer_locations [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id (deviceId or accountId required)
    # @return [RetailerOfferResponse]
    def get_offer(version, offer_id, include_offer_locations, opts = {})
      data, _status_code, _headers = get_offer_with_http_info(version, offer_id, include_offer_locations, opts)
      data
    end

    # Get Offer
    # Gets the details of an offer that the user has access to.
    # @param version [Float] 
    # @param offer_id [Integer] The id of the offer
    # @param include_offer_locations [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id (deviceId or accountId required)
    # @return [Array<(RetailerOfferResponse, Integer, Hash)>] RetailerOfferResponse data, response status code and response headers
    def get_offer_with_http_info(version, offer_id, include_offer_locations, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.get_offer ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.get_offer"
      end
      # verify the required parameter 'offer_id' is set
      if @api_client.config.client_side_validation && offer_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_id' when calling OfferApi.get_offer"
      end
      # verify the required parameter 'include_offer_locations' is set
      if @api_client.config.client_side_validation && include_offer_locations.nil?
        fail ArgumentError, "Missing the required parameter 'include_offer_locations' when calling OfferApi.get_offer"
      end
      # resource path
      local_var_path = '/api/{version}/retailer/offer/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offerId'] = offer_id
      query_params[:'includeOfferLocations'] = include_offer_locations
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetailerOfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.get_offer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#get_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Offer
    # Gets offer or offer location details as a consumer.  Will check if it is a favorite if the deviceId/accountId is provided.  If the offerId is provided it will look up the main offer and ignore the the offerLocationId. If no offerId is provided then an offerLocationId must be specified.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id for returning account information (i.e. favorites)
    # @option opts [Integer] :account_id The account id for returning account information (i.e. favorites)
    # @option opts [Integer] :offer_id The offer id (either offeLocationId or offerId must be provided)
    # @option opts [Integer] :offer_location_id The offer location id (either offeLocationId or offerId must be provided)
    # @option opts [Float] :distance The distance of the offer from the user&#39;s current location (this is returned when the offer is searched)
    # @option opts [Float] :latitude The latitude to calculate distance from the offer
    # @option opts [Float] :longitude The longitude to calculate distance from the offer
    # @option opts [Boolean] :include_offer_locations Determines whether to return offer locations for the offer (default to false)
    # @option opts [Boolean] :include_retailer_locations Determines whether to return the retailer location info for each offer location response (includeOfferLocations must also be true for this to work) (default to false)
    # @option opts [Boolean] :include_child_offers Determines whether to include child offers in the response (default to false)
    # @return [OfferResponse]
    def get_offer_details(version, opts = {})
      data, _status_code, _headers = get_offer_details_with_http_info(version, opts)
      data
    end

    # Get Offer
    # Gets offer or offer location details as a consumer.  Will check if it is a favorite if the deviceId/accountId is provided.  If the offerId is provided it will look up the main offer and ignore the the offerLocationId. If no offerId is provided then an offerLocationId must be specified.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id for returning account information (i.e. favorites)
    # @option opts [Integer] :account_id The account id for returning account information (i.e. favorites)
    # @option opts [Integer] :offer_id The offer id (either offeLocationId or offerId must be provided)
    # @option opts [Integer] :offer_location_id The offer location id (either offeLocationId or offerId must be provided)
    # @option opts [Float] :distance The distance of the offer from the user&#39;s current location (this is returned when the offer is searched)
    # @option opts [Float] :latitude The latitude to calculate distance from the offer
    # @option opts [Float] :longitude The longitude to calculate distance from the offer
    # @option opts [Boolean] :include_offer_locations Determines whether to return offer locations for the offer (default to false)
    # @option opts [Boolean] :include_retailer_locations Determines whether to return the retailer location info for each offer location response (includeOfferLocations must also be true for this to work) (default to false)
    # @option opts [Boolean] :include_child_offers Determines whether to include child offers in the response (default to false)
    # @return [Array<(OfferResponse, Integer, Hash)>] OfferResponse data, response status code and response headers
    def get_offer_details_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.get_offer_details ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.get_offer_details"
      end
      # resource path
      local_var_path = '/api/{version}/offer/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'distance'] = opts[:'distance'] if !opts[:'distance'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'includeOfferLocations'] = opts[:'include_offer_locations'] if !opts[:'include_offer_locations'].nil?
      query_params[:'includeRetailerLocations'] = opts[:'include_retailer_locations'] if !opts[:'include_retailer_locations'].nil?
      query_params[:'includeChildOffers'] = opts[:'include_child_offers'] if !opts[:'include_child_offers'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.get_offer_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#get_offer_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Offers (Counts)
    # Gets the offer list counts.
    # @param version [Float] 
    # @param latitude [Float] The latitude of where the search will center at
    # @param longitude [Float] The longitude of where the search will center at
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :search_range The range of the search (default to 5)
    # @option opts [String] :distance_unit The units to use for distance calculations (e.g. MILES, KILOMETERS) (default to 'MILES')
    # @return [ListCountResponse]
    def get_offer_list_counts(version, latitude, longitude, opts = {})
      data, _status_code, _headers = get_offer_list_counts_with_http_info(version, latitude, longitude, opts)
      data
    end

    # Get Offers (Counts)
    # Gets the offer list counts.
    # @param version [Float] 
    # @param latitude [Float] The latitude of where the search will center at
    # @param longitude [Float] The longitude of where the search will center at
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :search_range The range of the search (default to 5)
    # @option opts [String] :distance_unit The units to use for distance calculations (e.g. MILES, KILOMETERS) (default to 'MILES')
    # @return [Array<(ListCountResponse, Integer, Hash)>] ListCountResponse data, response status code and response headers
    def get_offer_list_counts_with_http_info(version, latitude, longitude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.get_offer_list_counts ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.get_offer_list_counts"
      end
      # verify the required parameter 'latitude' is set
      if @api_client.config.client_side_validation && latitude.nil?
        fail ArgumentError, "Missing the required parameter 'latitude' when calling OfferApi.get_offer_list_counts"
      end
      # verify the required parameter 'longitude' is set
      if @api_client.config.client_side_validation && longitude.nil?
        fail ArgumentError, "Missing the required parameter 'longitude' when calling OfferApi.get_offer_list_counts"
      end
      allowable_values = ["MILES", "KILOMETERS"]
      if @api_client.config.client_side_validation && opts[:'distance_unit'] && !allowable_values.include?(opts[:'distance_unit'])
        fail ArgumentError, "invalid value for \"distance_unit\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/offer/lists/count'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'latitude'] = latitude
      query_params[:'longitude'] = longitude
      query_params[:'searchRange'] = opts[:'search_range'] if !opts[:'search_range'].nil?
      query_params[:'distanceUnit'] = opts[:'distance_unit'] if !opts[:'distance_unit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.get_offer_list_counts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#get_offer_list_counts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Offer Location
    # Gets the offer location by offer location id or udid (of a device)
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offer_location_id the id of the offer location to get
    # @option opts [String] :udid the UDID of the device
    # @return [OfferShortResponse]
    def get_offer_location(version, opts = {})
      data, _status_code, _headers = get_offer_location_with_http_info(version, opts)
      data
    end

    # Get Offer Location
    # Gets the offer location by offer location id or udid (of a device)
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offer_location_id the id of the offer location to get
    # @option opts [String] :udid the UDID of the device
    # @return [Array<(OfferShortResponse, Integer, Hash)>] OfferShortResponse data, response status code and response headers
    def get_offer_location_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.get_offer_location ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.get_offer_location"
      end
      # resource path
      local_var_path = '/api/{version}/offer/location/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'udid'] = opts[:'udid'] if !opts[:'udid'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferShortResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.get_offer_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#get_offer_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Offer Locations
    # Searches on offer locations, which are records that represent an offer that has been assigned to a retailer location. If an offer does not have any locations assigned, then it will NOT be returned.
    # @param version [Float] 
    # @param sort_field [String] The column to sort the results on. Default is \&quot;TITLE\&quot;, which will sort the results by the offer title. Possible input values: {CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, RETAILER_ID,RETAILER_LOCATION_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}
    # @param descending [Boolean] The order to return the results. Default is false, which will return the results in ascending order.
    # @param start [Integer] The index into the record set to start with. Default is 0.
    # @param limit [Integer] The total number of records to return. Default is 20.
    # @param active_only [Boolean] Determines whether to return only active results. Default is false.
    # @param include_retailer_location [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :keyword The keyword used to search
    # @option opts [Integer] :retailer_id Filter results for a specific retailer
    # @option opts [Integer] :retailer_location_id Filter results for a specific retailer location
    # @option opts [String] :offer_type Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
    # @option opts [String] :special_offer_type Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
    # @option opts [String] :barcode_type 
    # @option opts [String] :barcode_entry 
    # @option opts [String] :isbn 
    # @option opts [String] :asin 
    # @option opts [String] :device_status Edysen device status, running, warning, or down
    # @option opts [Boolean] :needs_notification_sent 
    # @option opts [Integer] :last_notification_sent 
    # @return [Array<OfferShortResponse>]
    def get_offer_locations_for_retailers(version, sort_field, descending, start, limit, active_only, include_retailer_location, opts = {})
      data, _status_code, _headers = get_offer_locations_for_retailers_with_http_info(version, sort_field, descending, start, limit, active_only, include_retailer_location, opts)
      data
    end

    # Search Offer Locations
    # Searches on offer locations, which are records that represent an offer that has been assigned to a retailer location. If an offer does not have any locations assigned, then it will NOT be returned.
    # @param version [Float] 
    # @param sort_field [String] The column to sort the results on. Default is \&quot;TITLE\&quot;, which will sort the results by the offer title. Possible input values: {CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, RETAILER_ID,RETAILER_LOCATION_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}
    # @param descending [Boolean] The order to return the results. Default is false, which will return the results in ascending order.
    # @param start [Integer] The index into the record set to start with. Default is 0.
    # @param limit [Integer] The total number of records to return. Default is 20.
    # @param active_only [Boolean] Determines whether to return only active results. Default is false.
    # @param include_retailer_location [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :keyword The keyword used to search
    # @option opts [Integer] :retailer_id Filter results for a specific retailer
    # @option opts [Integer] :retailer_location_id Filter results for a specific retailer location
    # @option opts [String] :offer_type Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
    # @option opts [String] :special_offer_type Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
    # @option opts [String] :barcode_type 
    # @option opts [String] :barcode_entry 
    # @option opts [String] :isbn 
    # @option opts [String] :asin 
    # @option opts [String] :device_status Edysen device status, running, warning, or down
    # @option opts [Boolean] :needs_notification_sent 
    # @option opts [Integer] :last_notification_sent 
    # @return [Array<(Array<OfferShortResponse>, Integer, Hash)>] Array<OfferShortResponse> data, response status code and response headers
    def get_offer_locations_for_retailers_with_http_info(version, sort_field, descending, start, limit, active_only, include_retailer_location, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.get_offer_locations_for_retailers ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.get_offer_locations_for_retailers"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling OfferApi.get_offer_locations_for_retailers"
      end
      # verify enum value
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "OFFER_ID", "ACTIVATED", "EXPIRES", "TITLE", "SUBTITLE", "DETAILS", "OFFER_TYPE", "SPECIAL_OFFER_TYPE", "OFFER_VISIBILITY", "RETAILER_ID", "RETAILER_LOCATION_ID", "BILLABLE_ENTITY_ID", "BILLABLE_ENTITY_NAME", "RESPONSIBLE_DISPLAY"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling OfferApi.get_offer_locations_for_retailers"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling OfferApi.get_offer_locations_for_retailers"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling OfferApi.get_offer_locations_for_retailers"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling OfferApi.get_offer_locations_for_retailers"
      end
      # verify the required parameter 'include_retailer_location' is set
      if @api_client.config.client_side_validation && include_retailer_location.nil?
        fail ArgumentError, "Missing the required parameter 'include_retailer_location' when calling OfferApi.get_offer_locations_for_retailers"
      end
      allowable_values = ["VOUCHER", "COUPON", "PRODUCT", "MEDIA", "EVENT", "DEVICE"]
      if @api_client.config.client_side_validation && opts[:'offer_type'] && !allowable_values.include?(opts[:'offer_type'])
        fail ArgumentError, "invalid value for \"offer_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "RESERVABLE", "REGULAR_OFFER", "ACT_NOW", "GET_THERE_NOW", "SQOOT", "TICKETS", "YIPIT"]
      if @api_client.config.client_side_validation && opts[:'special_offer_type'] && !allowable_values.include?(opts[:'special_offer_type'])
        fail ArgumentError, "invalid value for \"special_offer_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["RUNNING", "WARNING", "DOWN"]
      if @api_client.config.client_side_validation && opts[:'device_status'] && !allowable_values.include?(opts[:'device_status'])
        fail ArgumentError, "invalid value for \"device_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/retailer/offer/location/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'includeRetailerLocation'] = include_retailer_location
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'offerType'] = opts[:'offer_type'] if !opts[:'offer_type'].nil?
      query_params[:'specialOfferType'] = opts[:'special_offer_type'] if !opts[:'special_offer_type'].nil?
      query_params[:'barcodeType'] = opts[:'barcode_type'] if !opts[:'barcode_type'].nil?
      query_params[:'barcodeEntry'] = opts[:'barcode_entry'] if !opts[:'barcode_entry'].nil?
      query_params[:'isbn'] = opts[:'isbn'] if !opts[:'isbn'].nil?
      query_params[:'asin'] = opts[:'asin'] if !opts[:'asin'].nil?
      query_params[:'deviceStatus'] = opts[:'device_status'] if !opts[:'device_status'].nil?
      query_params[:'needsNotificationSent'] = opts[:'needs_notification_sent'] if !opts[:'needs_notification_sent'].nil?
      query_params[:'lastNotificationSent'] = opts[:'last_notification_sent'] if !opts[:'last_notification_sent'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OfferShortResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.get_offer_locations_for_retailers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#get_offer_locations_for_retailers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Offers
    # Searches on offers that the account has access to.
    # @param version [Float] 
    # @param offer_visibility [String] 
    # @param sort_field [String] The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, ESTIMATED_VALUE, VOUCHER_PRICE, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY
    # @param descending [Boolean] The order to return the search results
    # @param start [Integer] The record to begin the return set on
    # @param limit [Integer] The number of records to return
    # @param available_only [Boolean] Return only results that are currently being promoted (is activated and not expired)
    # @param active_only [Boolean] Return only active results
    # @param include_categories [Boolean] 
    # @param include_filters [Boolean] 
    # @param include_offer_locations [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :category_ids 
    # @option opts [String] :filter_ids 
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword The keyword used to search
    # @option opts [Integer] :retailer_id the id of the retailer
    # @option opts [Integer] :retailer_location_id the id of the retailer location
    # @option opts [String] :coupon_type This parameter is deprecated.
    # @option opts [String] :offer_type This parameter is deprecated. Use offer types. Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
    # @option opts [String] :offer_types Comma separated list of offer types {COUPON, VOUCHER, PRODUCT, MEDIA, EVENT, DEVICE}
    # @option opts [String] :special_offer_type Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [String] :barcode_type 
    # @option opts [String] :barcode_entry 
    # @option opts [String] :isbn 
    # @option opts [String] :asin 
    # @option opts [String] :device_status Edysen device status
    # @option opts [Boolean] :needs_notification_sent 
    # @option opts [Integer] :last_notification_sent 
    # @return [Array<OfferResponse>]
    def get_offers_for_retailers(version, offer_visibility, sort_field, descending, start, limit, available_only, active_only, include_categories, include_filters, include_offer_locations, opts = {})
      data, _status_code, _headers = get_offers_for_retailers_with_http_info(version, offer_visibility, sort_field, descending, start, limit, available_only, active_only, include_categories, include_filters, include_offer_locations, opts)
      data
    end

    # Search Offers
    # Searches on offers that the account has access to.
    # @param version [Float] 
    # @param offer_visibility [String] 
    # @param sort_field [String] The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, ESTIMATED_VALUE, VOUCHER_PRICE, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY
    # @param descending [Boolean] The order to return the search results
    # @param start [Integer] The record to begin the return set on
    # @param limit [Integer] The number of records to return
    # @param available_only [Boolean] Return only results that are currently being promoted (is activated and not expired)
    # @param active_only [Boolean] Return only active results
    # @param include_categories [Boolean] 
    # @param include_filters [Boolean] 
    # @param include_offer_locations [Boolean] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :category_ids 
    # @option opts [String] :filter_ids 
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword The keyword used to search
    # @option opts [Integer] :retailer_id the id of the retailer
    # @option opts [Integer] :retailer_location_id the id of the retailer location
    # @option opts [String] :coupon_type This parameter is deprecated.
    # @option opts [String] :offer_type This parameter is deprecated. Use offer types. Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
    # @option opts [String] :offer_types Comma separated list of offer types {COUPON, VOUCHER, PRODUCT, MEDIA, EVENT, DEVICE}
    # @option opts [String] :special_offer_type Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [String] :barcode_type 
    # @option opts [String] :barcode_entry 
    # @option opts [String] :isbn 
    # @option opts [String] :asin 
    # @option opts [String] :device_status Edysen device status
    # @option opts [Boolean] :needs_notification_sent 
    # @option opts [Integer] :last_notification_sent 
    # @return [Array<(Array<OfferResponse>, Integer, Hash)>] Array<OfferResponse> data, response status code and response headers
    def get_offers_for_retailers_with_http_info(version, offer_visibility, sort_field, descending, start, limit, available_only, active_only, include_categories, include_filters, include_offer_locations, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.get_offers_for_retailers ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.get_offers_for_retailers"
      end
      # verify the required parameter 'offer_visibility' is set
      if @api_client.config.client_side_validation && offer_visibility.nil?
        fail ArgumentError, "Missing the required parameter 'offer_visibility' when calling OfferApi.get_offers_for_retailers"
      end
      # verify enum value
      allowable_values = ["PUBLIC", "LISTABLE", "REWARDABLE", "TRIGGERABLE", "PRIVATE"]
      if @api_client.config.client_side_validation && !allowable_values.include?(offer_visibility)
        fail ArgumentError, "invalid value for \"offer_visibility\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling OfferApi.get_offers_for_retailers"
      end
      # verify enum value
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "ACTIVATED", "EXPIRES", "REDEEMABLE_START", "REDEEMABLE_END", "TITLE", "SUBTITLE", "DETAILS", "OFFER_TYPE", "SPECIAL_OFFER_TYPE", "OFFER_VISIBILITY", "ESTIMATED_VALUE", "VOUCHER_PRICE", "VOUCHER_DISCOUNT_PRICE", "FULL_PRICE", "DICOUNT_PRICE", "TICKETS_REWARD", "AVAILABILITY_DATE", "RELEASE_DATE", "RETAILER_ID", "RETAILER_NAME", "RETAILER_LOCATION_ID", "RETAILER_LOCATION_NAME", "BILLABLE_ENTITY_ID", "BILLABLE_ENTITY_NAME", "RESPONSIBLE_DISPLAY"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling OfferApi.get_offers_for_retailers"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling OfferApi.get_offers_for_retailers"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling OfferApi.get_offers_for_retailers"
      end
      # verify the required parameter 'available_only' is set
      if @api_client.config.client_side_validation && available_only.nil?
        fail ArgumentError, "Missing the required parameter 'available_only' when calling OfferApi.get_offers_for_retailers"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling OfferApi.get_offers_for_retailers"
      end
      # verify the required parameter 'include_categories' is set
      if @api_client.config.client_side_validation && include_categories.nil?
        fail ArgumentError, "Missing the required parameter 'include_categories' when calling OfferApi.get_offers_for_retailers"
      end
      # verify the required parameter 'include_filters' is set
      if @api_client.config.client_side_validation && include_filters.nil?
        fail ArgumentError, "Missing the required parameter 'include_filters' when calling OfferApi.get_offers_for_retailers"
      end
      # verify the required parameter 'include_offer_locations' is set
      if @api_client.config.client_side_validation && include_offer_locations.nil?
        fail ArgumentError, "Missing the required parameter 'include_offer_locations' when calling OfferApi.get_offers_for_retailers"
      end
      allowable_values = ["VOUCHER", "COUPON", "PRODUCT", "MEDIA", "EVENT", "DEVICE"]
      if @api_client.config.client_side_validation && opts[:'coupon_type'] && !allowable_values.include?(opts[:'coupon_type'])
        fail ArgumentError, "invalid value for \"coupon_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["VOUCHER", "COUPON", "PRODUCT", "MEDIA", "EVENT", "DEVICE"]
      if @api_client.config.client_side_validation && opts[:'offer_type'] && !allowable_values.include?(opts[:'offer_type'])
        fail ArgumentError, "invalid value for \"offer_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["ALL", "RESERVABLE", "REGULAR_OFFER", "ACT_NOW", "GET_THERE_NOW", "SQOOT", "TICKETS", "YIPIT"]
      if @api_client.config.client_side_validation && opts[:'special_offer_type'] && !allowable_values.include?(opts[:'special_offer_type'])
        fail ArgumentError, "invalid value for \"special_offer_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["RUNNING", "WARNING", "DOWN"]
      if @api_client.config.client_side_validation && opts[:'device_status'] && !allowable_values.include?(opts[:'device_status'])
        fail ArgumentError, "invalid value for \"device_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/retailer/offer/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offerVisibility'] = offer_visibility
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'availableOnly'] = available_only
      query_params[:'activeOnly'] = active_only
      query_params[:'includeCategories'] = include_categories
      query_params[:'includeFilters'] = include_filters
      query_params[:'includeOfferLocations'] = include_offer_locations
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'couponType'] = opts[:'coupon_type'] if !opts[:'coupon_type'].nil?
      query_params[:'offerType'] = opts[:'offer_type'] if !opts[:'offer_type'].nil?
      query_params[:'offerTypes'] = opts[:'offer_types'] if !opts[:'offer_types'].nil?
      query_params[:'specialOfferType'] = opts[:'special_offer_type'] if !opts[:'special_offer_type'].nil?
      query_params[:'_i'] = opts[:'_i'] if !opts[:'_i'].nil?
      query_params[:'_l'] = opts[:'_l'] if !opts[:'_l'].nil?
      query_params[:'barcodeType'] = opts[:'barcode_type'] if !opts[:'barcode_type'].nil?
      query_params[:'barcodeEntry'] = opts[:'barcode_entry'] if !opts[:'barcode_entry'].nil?
      query_params[:'isbn'] = opts[:'isbn'] if !opts[:'isbn'].nil?
      query_params[:'asin'] = opts[:'asin'] if !opts[:'asin'].nil?
      query_params[:'deviceStatus'] = opts[:'device_status'] if !opts[:'device_status'].nil?
      query_params[:'needsNotificationSent'] = opts[:'needs_notification_sent'] if !opts[:'needs_notification_sent'].nil?
      query_params[:'lastNotificationSent'] = opts[:'last_notification_sent'] if !opts[:'last_notification_sent'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OfferResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.get_offers_for_retailers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#get_offers_for_retailers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Offer Transaction
    # Redeems an offer.
    # @param version [Float] 
    # @param offer_transaction_id [Integer] the OfferTransaction ID of the transaction being redeemed
    # @param status [Integer] the status to set the offer transaction to - 1 sets it to redeemable and 2 sets it to redeemed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :offer_location_id the OfferLocation ID where the offer is being redeemed
    # @return [SirqulResponse]
    def redeem_offer_transaction(version, offer_transaction_id, status, opts = {})
      data, _status_code, _headers = redeem_offer_transaction_with_http_info(version, offer_transaction_id, status, opts)
      data
    end

    # Update Offer Transaction
    # Redeems an offer.
    # @param version [Float] 
    # @param offer_transaction_id [Integer] the OfferTransaction ID of the transaction being redeemed
    # @param status [Integer] the status to set the offer transaction to - 1 sets it to redeemable and 2 sets it to redeemed
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Integer] :offer_location_id the OfferLocation ID where the offer is being redeemed
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def redeem_offer_transaction_with_http_info(version, offer_transaction_id, status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.redeem_offer_transaction ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.redeem_offer_transaction"
      end
      # verify the required parameter 'offer_transaction_id' is set
      if @api_client.config.client_side_validation && offer_transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'offer_transaction_id' when calling OfferApi.redeem_offer_transaction"
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling OfferApi.redeem_offer_transaction"
      end
      # resource path
      local_var_path = '/api/{version}/retailer/offer/transaction/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'offerTransactionId'] = offer_transaction_id
      query_params[:'status'] = status
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferApi.redeem_offer_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferApi#redeem_offer_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Offer Transactions
    # Searches on offer transactions for offers that the account has access to.
    # @param version [Float] 
    # @param sort_field [String] Determines what to sort the results by {CREATED, UPDATED, SEARCH_TAGS, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, CUSTOMER_ID, CUSTOMER_DISPLAY, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}
    # @param descending [Boolean] Determines whether the results are in descending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Determines whether to only return active offer transactions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :retailer_id Filter results for this retailer
    # @option opts [Integer] :retailer_location_id Filter results for this retailer location
    # @option opts [Integer] :offer_id Filter results for this offer
    # @option opts [Integer] :offer_location_id Filter results for this offer location
    # @option opts [Boolean] :redeemed if true return redeemed transactions (status 2), if false return active transactions (status 0 or 1)
    # @option opts [Boolean] :reservations_only returns only reservation transactions if true
    # @option opts [String] :coupon_type This parameter is deprecated.
    # @option opts [String] :offer_type Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
    # @option opts [String] :special_offer_type Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
    # @option opts [String] :customer_account_ids Filter results by accounts
    # @option opts [String] :category_ids 
    # @option opts [Integer] :redeemable_start_date 
    # @option opts [Integer] :redeemable_end_date 
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :_l This parameter is deprecated.
    # @return [Array<OfferTransactionResponse>]
    def search_offer_transactions_for_retailers(version, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_offer_transactions_for_retailers_with_http_info(version, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Offer Transactions
    # Searches on offer transactions for offers that the account has access to.
    # @param version [Float] 
    # @param sort_field [String] Determines what to sort the results by {CREATED, UPDATED, SEARCH_TAGS, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, CUSTOMER_ID, CUSTOMER_DISPLAY, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}
    # @param descending [Boolean] Determines whether the results are in descending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Determines whether to only return active offer transactions
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :retailer_id Filter results for this retailer
    # @option opts [Integer] :retailer_location_id Filter results for this retailer location
    # @option opts [Integer] :offer_id Filter results for this offer
    # @option opts [Integer] :offer_location_id Filter results for this offer location
    # @option opts [Boolean] :redeemed if true return redeemed transactions (status 2), if false return active transactions (status 0 or 1)
    # @option opts [Boolean] :reservations_only returns only reservation transactions if true
    # @option opts [String] :coupon_type This parameter is deprecated.
    # @option opts [String] :offer_type Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
    # @option opts [String] :special_offer_type Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
    # @option opts [String] :customer_account_ids Filter results by accounts
    # @option opts [String] :category_ids 
    # @option opts [Integer] :redeemable_start_date 
    # @option opts [Integer] :redeemable_end_date 
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :_l This parameter is deprecated.
    # @return [Array<(Array<OfferTransactionResponse>, Integer, Hash)>] Array<OfferTransactionResponse> data, response status code and response headers
    def search_offer_transactions_for_retailers_with_http_info(version, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferApi.search_offer_transactions_for_retailers ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferApi.search_offer_transactions_for_retailers"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling OfferApi.search_offer_transactions_for_retailers"
      end
      # verify enum value
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "ACTIVATED", "EXPIRES", "TITLE", "SUBTITLE", "DETAILS", "OFFER_TYPE", "SPECIAL_OFFER_TYPE", "OFFER_VISIBILITY", "REDEEMABLE_START", "REDEEMABLE_END", "CUSTOMER_ID", "CUSTOMER_DISPLAY", "RETAILER_ID", "RETAILER_NAME", "RETAILER_LOCATION_ID", "RETAILER_LOCATION_NAME", "BILLABLE_ENTITY_ID", "BILLABLE_ENTITY_NAME", "RESPONSIBLE_DISPLAY"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
[...]
