=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class OfferStatusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Offer Status
    # Create an offer status record
    # @param version [Float] 
    # @param name [String] The name of the status
    # @param code [Integer] The status code, must be unique 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @option opts [String] :description The description of the status
    # @option opts [String] :role The actor that uses the status (default to 'ANY')
    # @option opts [Boolean] :active The active status (default to true)
    # @option opts [String] :application_ids The applications to associate the status with, if null then for all.
    # @return [OfferTransactionStatusResponse]
    def create_offer_transaction_status(version, name, code, opts = {})
      data, _status_code, _headers = create_offer_transaction_status_with_http_info(version, name, code, opts)
      data
    end

    # Create Offer Status
    # Create an offer status record
    # @param version [Float] 
    # @param name [String] The name of the status
    # @param code [Integer] The status code, must be unique 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @option opts [String] :description The description of the status
    # @option opts [String] :role The actor that uses the status (default to 'ANY')
    # @option opts [Boolean] :active The active status (default to true)
    # @option opts [String] :application_ids The applications to associate the status with, if null then for all.
    # @return [Array<(OfferTransactionStatusResponse, Integer, Hash)>] OfferTransactionStatusResponse data, response status code and response headers
    def create_offer_transaction_status_with_http_info(version, name, code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferStatusApi.create_offer_transaction_status ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferStatusApi.create_offer_transaction_status"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling OfferStatusApi.create_offer_transaction_status"
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling OfferStatusApi.create_offer_transaction_status"
      end
      # resource path
      local_var_path = '/api/{version}/offer/status/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'name'] = name
      query_params[:'code'] = code
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'applicationIds'] = opts[:'application_ids'] if !opts[:'application_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferTransactionStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferStatusApi.create_offer_transaction_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferStatusApi#create_offer_transaction_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Offer Status
    # Mark an offer status record as deleted
    # @param version [Float] 
    # @param status_id [Integer] The id of the record to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @return [SirqulResponse]
    def delete_offer_transaction_status(version, status_id, opts = {})
      data, _status_code, _headers = delete_offer_transaction_status_with_http_info(version, status_id, opts)
      data
    end

    # Delete Offer Status
    # Mark an offer status record as deleted
    # @param version [Float] 
    # @param status_id [Integer] The id of the record to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_offer_transaction_status_with_http_info(version, status_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferStatusApi.delete_offer_transaction_status ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferStatusApi.delete_offer_transaction_status"
      end
      # verify the required parameter 'status_id' is set
      if @api_client.config.client_side_validation && status_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_id' when calling OfferStatusApi.delete_offer_transaction_status"
      end
      # resource path
      local_var_path = '/api/{version}/offer/status/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'statusId'] = status_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferStatusApi.delete_offer_transaction_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferStatusApi#delete_offer_transaction_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Offer Status
    # Get an offer status record
    # @param version [Float] 
    # @param status_id [Integer] The id of the record to get 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @return [OfferTransactionStatusResponse]
    def get_offer_transaction_status(version, status_id, opts = {})
      data, _status_code, _headers = get_offer_transaction_status_with_http_info(version, status_id, opts)
      data
    end

    # Get Offer Status
    # Get an offer status record
    # @param version [Float] 
    # @param status_id [Integer] The id of the record to get 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @return [Array<(OfferTransactionStatusResponse, Integer, Hash)>] OfferTransactionStatusResponse data, response status code and response headers
    def get_offer_transaction_status_with_http_info(version, status_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferStatusApi.get_offer_transaction_status ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferStatusApi.get_offer_transaction_status"
      end
      # verify the required parameter 'status_id' is set
      if @api_client.config.client_side_validation && status_id.nil?
        fail ArgumentError, "Missing the required parameter 'status_id' when calling OfferStatusApi.get_offer_transaction_status"
      end
      # resource path
      local_var_path = '/api/{version}/offer/status/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'statusId'] = status_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferTransactionStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferStatusApi.get_offer_transaction_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferStatusApi#get_offer_transaction_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Offer Status
    # Search for the available offer statuses
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @option opts [String] :keyword Search the name and description fields
    # @option opts [String] :role The actors role, possible values are: CUSTOMER, RETAILER, or ANY
    # @option opts [String] :app_key The application making the request
    # @option opts [String] :sort_field The field to sort on, possible values are: ID, CREATED, UPDATED, DELETED, SEARCH_TAGS, ACTIVE, NAME, DESCRIPTION, CODE, ROLE (default to 'CODE')
    # @option opts [Boolean] :descending Determines whether the results are in descending order (default to true)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @option opts [Boolean] :include_inactive If true include inactive items (default to false)
    # @return [Array<OfferTransactionStatusResponse>]
    def search_offer_transaction_statuses(version, opts = {})
      data, _status_code, _headers = search_offer_transaction_statuses_with_http_info(version, opts)
      data
    end

    # Search Offer Status
    # Search for the available offer statuses
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @option opts [String] :keyword Search the name and description fields
    # @option opts [String] :role The actors role, possible values are: CUSTOMER, RETAILER, or ANY
    # @option opts [String] :app_key The application making the request
    # @option opts [String] :sort_field The field to sort on, possible values are: ID, CREATED, UPDATED, DELETED, SEARCH_TAGS, ACTIVE, NAME, DESCRIPTION, CODE, ROLE (default to 'CODE')
    # @option opts [Boolean] :descending Determines whether the results are in descending order (default to true)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @option opts [Boolean] :include_inactive If true include inactive items (default to false)
    # @return [Array<(Array<OfferTransactionStatusResponse>, Integer, Hash)>] Array<OfferTransactionStatusResponse> data, response status code and response headers
    def search_offer_transaction_statuses_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferStatusApi.search_offer_transaction_statuses ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferStatusApi.search_offer_transaction_statuses"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "NAME", "DESCRIPTION", "CODE", "ROLE"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/offer/status/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'includeInactive'] = opts[:'include_inactive'] if !opts[:'include_inactive'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OfferTransactionStatusResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferStatusApi.search_offer_transaction_statuses",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferStatusApi#search_offer_transaction_statuses\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Offer Status
    # Update an offer status record
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @option opts [Integer] :status_id The id of the record to update 
    # @option opts [String] :name The name of th status
    # @option opts [String] :description The description of the status
    # @option opts [Integer] :code The status code, must be unique 
    # @option opts [String] :role The actor that uses the status
    # @option opts [Boolean] :active The active status
    # @option opts [String] :application_ids The applications to associate the status with, if null then for all.
    # @return [OfferTransactionStatusResponse]
    def update_offer_transaction_status(version, opts = {})
      data, _status_code, _headers = update_offer_transaction_status_with_http_info(version, opts)
      data
    end

    # Update Offer Status
    # Update an offer status record
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @option opts [Integer] :status_id The id of the record to update 
    # @option opts [String] :name The name of th status
    # @option opts [String] :description The description of the status
    # @option opts [Integer] :code The status code, must be unique 
    # @option opts [String] :role The actor that uses the status
    # @option opts [Boolean] :active The active status
    # @option opts [String] :application_ids The applications to associate the status with, if null then for all.
    # @return [Array<(OfferTransactionStatusResponse, Integer, Hash)>] OfferTransactionStatusResponse data, response status code and response headers
    def update_offer_transaction_status_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OfferStatusApi.update_offer_transaction_status ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OfferStatusApi.update_offer_transaction_status"
      end
      # resource path
      local_var_path = '/api/{version}/offer/status/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'statusId'] = opts[:'status_id'] if !opts[:'status_id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'applicationIds'] = opts[:'application_ids'] if !opts[:'application_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferTransactionStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OfferStatusApi.update_offer_transaction_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OfferStatusApi#update_offer_transaction_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
