=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class OpenAIApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate images with OpenAI
    # Generate images with OpenAI.
    # @param version [Float] 
    # @param account_id [Integer] Sirqul Account Id
    # @param _post_body [String] Post Body Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [WrappedProxyItemResponse]
    def image_generation(version, account_id, _post_body, opts = {})
      data, _status_code, _headers = image_generation_with_http_info(version, account_id, _post_body, opts)
      data
    end

    # Generate images with OpenAI
    # Generate images with OpenAI.
    # @param version [Float] 
    # @param account_id [Integer] Sirqul Account Id
    # @param _post_body [String] Post Body Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(WrappedProxyItemResponse, Integer, Hash)>] WrappedProxyItemResponse data, response status code and response headers
    def image_generation_with_http_info(version, account_id, _post_body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OpenAIApi.image_generation ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling OpenAIApi.image_generation"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OpenAIApi.image_generation"
      end
      # verify the required parameter '_post_body' is set
      if @api_client.config.client_side_validation && _post_body.nil?
        fail ArgumentError, "Missing the required parameter '_post_body' when calling OpenAIApi.image_generation"
      end
      # resource path
      local_var_path = '/api/{version}/openai/v1/images/generations'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'postBody'] = _post_body
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WrappedProxyItemResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OpenAIApi.image_generation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OpenAIApi#image_generation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
