=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class OptimizeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Optimization Result
    # Get the results of the import batch.
    # @param batch_id [String] The batchID for getting the import status of.
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @return [Hash<String, ShipmentOrder>]
    def get_optimization_result(batch_id, start, limit, opts = {})
      data, _status_code, _headers = get_optimization_result_with_http_info(batch_id, start, limit, opts)
      data
    end

    # Get Optimization Result
    # Get the results of the import batch.
    # @param batch_id [String] The batchID for getting the import status of.
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @return [Array<(Hash<String, ShipmentOrder>, Integer, Hash)>] Hash<String, ShipmentOrder> data, response status code and response headers
    def get_optimization_result_with_http_info(batch_id, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptimizeApi.get_optimization_result ...'
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling OptimizeApi.get_optimization_result"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling OptimizeApi.get_optimization_result"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling OptimizeApi.get_optimization_result"
      end
      # resource path
      local_var_path = '/optimize/result/{batchID}'.sub('{' + 'batchID' + '}', CGI.escape(batch_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'start'] = start
      query_params[:'limit'] = limit

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Hash<String, ShipmentOrder>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptimizeApi.get_optimization_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptimizeApi#get_optimization_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request Optimization
    # Request and upload of shipment orders and create ShipmentImportBatch for optimization.
    # @param [Hash] opts the optional parameters
    # @option opts [Orders] :body 
    # @return [ImportStatuses]
    def request_optimization(opts = {})
      data, _status_code, _headers = request_optimization_with_http_info(opts)
      data
    end

    # Request Optimization
    # Request and upload of shipment orders and create ShipmentImportBatch for optimization.
    # @param [Hash] opts the optional parameters
    # @option opts [Orders] :body 
    # @return [Array<(ImportStatuses, Integer, Hash)>] ImportStatuses data, response status code and response headers
    def request_optimization_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OptimizeApi.request_optimization ...'
      end
      # resource path
      local_var_path = '/optimize/request'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ImportStatuses'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OptimizeApi.request_optimization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OptimizeApi#request_optimization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
