=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class OrsonApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add Movie
    # Add a movie to be indexed for Topics. Indexing a movie analyses the content and incorporates it into the topics model for future /topics calls. This does not store the movie file long-term.
    # @param account_id [Integer] Sirqul Account Id
    # @param movie_name [String] Movie Name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :tags A user defined list (comma-delimited) of tags associated with the movie
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [OrsonAiAddMovieResponse]
    def add_movie(account_id, movie_name, opts = {})
      data, _status_code, _headers = add_movie_with_http_info(account_id, movie_name, opts)
      data
    end

    # Add Movie
    # Add a movie to be indexed for Topics. Indexing a movie analyses the content and incorporates it into the topics model for future /topics calls. This does not store the movie file long-term.
    # @param account_id [Integer] Sirqul Account Id
    # @param movie_name [String] Movie Name
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :tags A user defined list (comma-delimited) of tags associated with the movie
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [Array<(OrsonAiAddMovieResponse, Integer, Hash)>] OrsonAiAddMovieResponse data, response status code and response headers
    def add_movie_with_http_info(account_id, movie_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.add_movie ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.add_movie"
      end
      # verify the required parameter 'movie_name' is set
      if @api_client.config.client_side_validation && movie_name.nil?
        fail ArgumentError, "Missing the required parameter 'movie_name' when calling OrsonApi.add_movie"
      end
      # resource path
      local_var_path = '/orson/ai/addMovie'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'movieName'] = movie_name
      query_params[:'thirdPartyAccountId'] = opts[:'third_party_account_id'] if !opts[:'third_party_account_id'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'file'] = opts[:'file'] if !opts[:'file'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'callback'] = opts[:'callback'] if !opts[:'callback'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiAddMovieResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.add_movie",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#add_movie\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Docs
    # Takes in a text string representing one or more sentences and it returns a list of documents which are related to the provided document.
    # @param account_id [Integer] Sirqul Account Id
    # @param doc [String] Doc
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_topics Return Topics
    # @option opts [Integer] :limit Limit
    # @option opts [Integer] :offset Offset
    # @return [OrsonAiProtoResponse]
    def ai_docs(account_id, doc, opts = {})
      data, _status_code, _headers = ai_docs_with_http_info(account_id, doc, opts)
      data
    end

    # Search Docs
    # Takes in a text string representing one or more sentences and it returns a list of documents which are related to the provided document.
    # @param account_id [Integer] Sirqul Account Id
    # @param doc [String] Doc
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_topics Return Topics
    # @option opts [Integer] :limit Limit
    # @option opts [Integer] :offset Offset
    # @return [Array<(OrsonAiProtoResponse, Integer, Hash)>] OrsonAiProtoResponse data, response status code and response headers
    def ai_docs_with_http_info(account_id, doc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.ai_docs ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.ai_docs"
      end
      # verify the required parameter 'doc' is set
      if @api_client.config.client_side_validation && doc.nil?
        fail ArgumentError, "Missing the required parameter 'doc' when calling OrsonApi.ai_docs"
      end
      # resource path
      local_var_path = '/orson/ai/docs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'doc'] = doc
      query_params[:'return_topics'] = opts[:'return_topics'] if !opts[:'return_topics'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiProtoResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.ai_docs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#ai_docs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Find images
    # Returns a list of URIs of images that match the text.
    # @param account_id [Integer] Sirqul Account Id
    # @param text [String] Text
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parse_flag Parse Flag
    # @option opts [String] :fetch_flag Fetch Flag
    # @option opts [String] :size Size
    # @return [OrsonAiProtoResponse]
    def ai_find_images(account_id, text, opts = {})
      data, _status_code, _headers = ai_find_images_with_http_info(account_id, text, opts)
      data
    end

    # Find images
    # Returns a list of URIs of images that match the text.
    # @param account_id [Integer] Sirqul Account Id
    # @param text [String] Text
    # @param [Hash] opts the optional parameters
    # @option opts [String] :parse_flag Parse Flag
    # @option opts [String] :fetch_flag Fetch Flag
    # @option opts [String] :size Size
    # @return [Array<(OrsonAiProtoResponse, Integer, Hash)>] OrsonAiProtoResponse data, response status code and response headers
    def ai_find_images_with_http_info(account_id, text, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.ai_find_images ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.ai_find_images"
      end
      # verify the required parameter 'text' is set
      if @api_client.config.client_side_validation && text.nil?
        fail ArgumentError, "Missing the required parameter 'text' when calling OrsonApi.ai_find_images"
      end
      # resource path
      local_var_path = '/orson/ai/img'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'text'] = text
      query_params[:'parse_flag'] = opts[:'parse_flag'] if !opts[:'parse_flag'].nil?
      query_params[:'fetch_flag'] = opts[:'fetch_flag'] if !opts[:'fetch_flag'].nil?
      query_params[:'size'] = opts[:'size'] if !opts[:'size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiProtoResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.ai_find_images",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#ai_find_images\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Tags
    # Search the tags column of user provided tags using this endpoint.
    # @param account_id [Integer] Sirqul Account Id
    # @param tags [String] Tags
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditional Conditional
    # @option opts [Integer] :limit Limit
    # @option opts [Integer] :offset Offset
    # @return [OrsonAiProtoResponse]
    def ai_tags(account_id, tags, opts = {})
      data, _status_code, _headers = ai_tags_with_http_info(account_id, tags, opts)
      data
    end

    # Search Tags
    # Search the tags column of user provided tags using this endpoint.
    # @param account_id [Integer] Sirqul Account Id
    # @param tags [String] Tags
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditional Conditional
    # @option opts [Integer] :limit Limit
    # @option opts [Integer] :offset Offset
    # @return [Array<(OrsonAiProtoResponse, Integer, Hash)>] OrsonAiProtoResponse data, response status code and response headers
    def ai_tags_with_http_info(account_id, tags, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.ai_tags ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.ai_tags"
      end
      # verify the required parameter 'tags' is set
      if @api_client.config.client_side_validation && tags.nil?
        fail ArgumentError, "Missing the required parameter 'tags' when calling OrsonApi.ai_tags"
      end
      # resource path
      local_var_path = '/orson/ai/tags'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'tags'] = tags
      query_params[:'conditional'] = opts[:'conditional'] if !opts[:'conditional'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiProtoResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.ai_tags",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#ai_tags\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Text
    # Search the movie text column of movie text using this endpoint.
    # @param account_id [Integer] Sirqul Account Id
    # @param terms [String] Terms
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditional Conditional
    # @option opts [Integer] :limit Limit
    # @option opts [Integer] :offset Offset
    # @return [OrsonAiProtoResponse]
    def ai_text(account_id, terms, opts = {})
      data, _status_code, _headers = ai_text_with_http_info(account_id, terms, opts)
      data
    end

    # Search Text
    # Search the movie text column of movie text using this endpoint.
    # @param account_id [Integer] Sirqul Account Id
    # @param terms [String] Terms
    # @param [Hash] opts the optional parameters
    # @option opts [String] :conditional Conditional
    # @option opts [Integer] :limit Limit
    # @option opts [Integer] :offset Offset
    # @return [Array<(OrsonAiProtoResponse, Integer, Hash)>] OrsonAiProtoResponse data, response status code and response headers
    def ai_text_with_http_info(account_id, terms, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.ai_text ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.ai_text"
      end
      # verify the required parameter 'terms' is set
      if @api_client.config.client_side_validation && terms.nil?
        fail ArgumentError, "Missing the required parameter 'terms' when calling OrsonApi.ai_text"
      end
      # resource path
      local_var_path = '/orson/ai/text'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'terms'] = terms
      query_params[:'conditional'] = opts[:'conditional'] if !opts[:'conditional'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiProtoResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.ai_text",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#ai_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch Analysis
    # Run several types of analysis on an audio or video file in a single API call, instead of calling several operations for the same file..
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [Integer] :limit The number of topics to return
    # @option opts [String] :operations The comma-delimited list of A/V batch analysis operations to run on this file. Possible values: Transcript,Topics,Emotions
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [OrsonAiBatchResponse]
    def batch(account_id, opts = {})
      data, _status_code, _headers = batch_with_http_info(account_id, opts)
      data
    end

    # Batch Analysis
    # Run several types of analysis on an audio or video file in a single API call, instead of calling several operations for the same file..
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [Integer] :limit The number of topics to return
    # @option opts [String] :operations The comma-delimited list of A/V batch analysis operations to run on this file. Possible values: Transcript,Topics,Emotions
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [Array<(OrsonAiBatchResponse, Integer, Hash)>] OrsonAiBatchResponse data, response status code and response headers
    def batch_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.batch ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.batch"
      end
      # resource path
      local_var_path = '/orson/ai/batch'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'thirdPartyAccountId'] = opts[:'third_party_account_id'] if !opts[:'third_party_account_id'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'operations'] = opts[:'operations'] if !opts[:'operations'].nil?
      query_params[:'file'] = opts[:'file'] if !opts[:'file'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'callback'] = opts[:'callback'] if !opts[:'callback'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates an instant episode
    # Creates an instant episode for a given StoryStrip by providing all necessary inputs, interview recordings, and pictures, kicking off a render immediately.
    # @param account_id [Integer] Sirqul Account Id
    # @param data [String] Request Data String
    # @param [Hash] opts the optional parameters
    # @return [OrsonEpisodeResponse]
    def create_instant_episode(account_id, data, opts = {})
      data, _status_code, _headers = create_instant_episode_with_http_info(account_id, data, opts)
      data
    end

    # Creates an instant episode
    # Creates an instant episode for a given StoryStrip by providing all necessary inputs, interview recordings, and pictures, kicking off a render immediately.
    # @param account_id [Integer] Sirqul Account Id
    # @param data [String] Request Data String
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonEpisodeResponse, Integer, Hash)>] OrsonEpisodeResponse data, response status code and response headers
    def create_instant_episode_with_http_info(account_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.create_instant_episode ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.create_instant_episode"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling OrsonApi.create_instant_episode"
      end
      # resource path
      local_var_path = '/orson/stories/episodes/instant'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'data'] = data

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonEpisodeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.create_instant_episode",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#create_instant_episode\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create VoiceCanvas images
    # Create VoiceCanvas images for provided text, file upload, or file URL
    # @param account_id [Integer] Sirqul Account Id
    # @param dimensions [String] Enum: \&quot;256x256\&quot; \&quot;512x512\&quot; \&quot;1024x1024\&quot;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :text Provide a transcript or previously extracted topics for image generation
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [Boolean] :parse_flag When false, uses the raw value from text instead of identifying topics to fetch/generate from
    # @option opts [Boolean] :fetch_flag When true, fetches images instead of generating them
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [OrsonAiVoiceCanvasResponse]
    def create_voice_canvas(account_id, dimensions, opts = {})
      data, _status_code, _headers = create_voice_canvas_with_http_info(account_id, dimensions, opts)
      data
    end

    # Create VoiceCanvas images
    # Create VoiceCanvas images for provided text, file upload, or file URL
    # @param account_id [Integer] Sirqul Account Id
    # @param dimensions [String] Enum: \&quot;256x256\&quot; \&quot;512x512\&quot; \&quot;1024x1024\&quot;
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :text Provide a transcript or previously extracted topics for image generation
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [Boolean] :parse_flag When false, uses the raw value from text instead of identifying topics to fetch/generate from
    # @option opts [Boolean] :fetch_flag When true, fetches images instead of generating them
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [Array<(OrsonAiVoiceCanvasResponse, Integer, Hash)>] OrsonAiVoiceCanvasResponse data, response status code and response headers
    def create_voice_canvas_with_http_info(account_id, dimensions, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.create_voice_canvas ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.create_voice_canvas"
      end
      # verify the required parameter 'dimensions' is set
      if @api_client.config.client_side_validation && dimensions.nil?
        fail ArgumentError, "Missing the required parameter 'dimensions' when calling OrsonApi.create_voice_canvas"
      end
      # resource path
      local_var_path = '/orson/ai/voiceCanvas'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'dimensions'] = dimensions
      query_params[:'thirdPartyAccountId'] = opts[:'third_party_account_id'] if !opts[:'third_party_account_id'].nil?
      query_params[:'text'] = opts[:'text'] if !opts[:'text'].nil?
      query_params[:'file'] = opts[:'file'] if !opts[:'file'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'parseFlag'] = opts[:'parse_flag'] if !opts[:'parse_flag'].nil?
      query_params[:'fetchFlag'] = opts[:'fetch_flag'] if !opts[:'fetch_flag'].nil?
      query_params[:'callback'] = opts[:'callback'] if !opts[:'callback'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiVoiceCanvasResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.create_voice_canvas",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#create_voice_canvas\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detect emotions
    # Detects emotions in an audio or video recording.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [OrsonAiEmotionsResponse]
    def emotion(account_id, opts = {})
      data, _status_code, _headers = emotion_with_http_info(account_id, opts)
      data
    end

    # Detect emotions
    # Detects emotions in an audio or video recording.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [Array<(OrsonAiEmotionsResponse, Integer, Hash)>] OrsonAiEmotionsResponse data, response status code and response headers
    def emotion_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.emotion ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.emotion"
      end
      # resource path
      local_var_path = '/orson/ai/emotion'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'thirdPartyAccountId'] = opts[:'third_party_account_id'] if !opts[:'third_party_account_id'].nil?
      query_params[:'file'] = opts[:'file'] if !opts[:'file'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'callback'] = opts[:'callback'] if !opts[:'callback'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiEmotionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.emotion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#emotion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Add Movie Result
    # Get the result of an in progress Add Movie request from an earlier POST.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonAiAddMovieResponse]
    def get_add_movie_result(request_id, account_id, opts = {})
      data, _status_code, _headers = get_add_movie_result_with_http_info(request_id, account_id, opts)
      data
    end

    # Get Add Movie Result
    # Get the result of an in progress Add Movie request from an earlier POST.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonAiAddMovieResponse, Integer, Hash)>] OrsonAiAddMovieResponse data, response status code and response headers
    def get_add_movie_result_with_http_info(request_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_add_movie_result ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OrsonApi.get_add_movie_result"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_add_movie_result"
      end
      # resource path
      local_var_path = '/orson/ai/addMovie/{requestId}'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiAddMovieResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_add_movie_result",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_add_movie_result\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Batch Analysis Results
    # Gets the completed Video Batch results, if done, or an error or status update if not.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonAiBatchResponse]
    def get_batch(request_id, account_id, opts = {})
      data, _status_code, _headers = get_batch_with_http_info(request_id, account_id, opts)
      data
    end

    # Get Batch Analysis Results
    # Gets the completed Video Batch results, if done, or an error or status update if not.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonAiBatchResponse, Integer, Hash)>] OrsonAiBatchResponse data, response status code and response headers
    def get_batch_with_http_info(request_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_batch ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OrsonApi.get_batch"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_batch"
      end
      # resource path
      local_var_path = '/orson/ai/batch/{requestId}'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Emotion Results
    # Checks the Emotion analysis and returns in progress, results, or error.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonAiEmotionsResponse]
    def get_emotion(request_id, account_id, opts = {})
      data, _status_code, _headers = get_emotion_with_http_info(request_id, account_id, opts)
      data
    end

    # Get Emotion Results
    # Checks the Emotion analysis and returns in progress, results, or error.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonAiEmotionsResponse, Integer, Hash)>] OrsonAiEmotionsResponse data, response status code and response headers
    def get_emotion_with_http_info(request_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_emotion ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OrsonApi.get_emotion"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_emotion"
      end
      # resource path
      local_var_path = '/orson/ai/emotion/{requestId}'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiEmotionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_emotion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_emotion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check episode status
    # Gets a summary of the episode's status, including any renders.
    # @param episode_id [Integer] Episode ID
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonEpisodeResponse]
    def get_episode_status(episode_id, account_id, opts = {})
      data, _status_code, _headers = get_episode_status_with_http_info(episode_id, account_id, opts)
      data
    end

    # Check episode status
    # Gets a summary of the episode&#39;s status, including any renders.
    # @param episode_id [Integer] Episode ID
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonEpisodeResponse, Integer, Hash)>] OrsonEpisodeResponse data, response status code and response headers
    def get_episode_status_with_http_info(episode_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_episode_status ...'
      end
      # verify the required parameter 'episode_id' is set
      if @api_client.config.client_side_validation && episode_id.nil?
        fail ArgumentError, "Missing the required parameter 'episode_id' when calling OrsonApi.get_episode_status"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_episode_status"
      end
      # resource path
      local_var_path = '/orson/stories/episodes/{episodeId}/status'.sub('{' + 'episodeId' + '}', CGI.escape(episode_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonEpisodeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_episode_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_episode_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check episode status
    # Gets a summary of the episode's status, including any renders.
    # @param render_id [String] Render ID
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonRenderResponse]
    def get_render_status(render_id, account_id, opts = {})
      data, _status_code, _headers = get_render_status_with_http_info(render_id, account_id, opts)
      data
    end

    # Check episode status
    # Gets a summary of the episode&#39;s status, including any renders.
    # @param render_id [String] Render ID
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonRenderResponse, Integer, Hash)>] OrsonRenderResponse data, response status code and response headers
    def get_render_status_with_http_info(render_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_render_status ...'
      end
      # verify the required parameter 'render_id' is set
      if @api_client.config.client_side_validation && render_id.nil?
        fail ArgumentError, "Missing the required parameter 'render_id' when calling OrsonApi.get_render_status"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_render_status"
      end
      # resource path
      local_var_path = '/orson/stories/renders/{renderId}/status'.sub('{' + 'renderId' + '}', CGI.escape(render_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonRenderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_render_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_render_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Speach to Text Result
    # The results of the video transcription and optional translation.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonAiSTTResponse]
    def get_stt(request_id, account_id, opts = {})
      data, _status_code, _headers = get_stt_with_http_info(request_id, account_id, opts)
      data
    end

    # Get Speach to Text Result
    # The results of the video transcription and optional translation.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonAiSTTResponse, Integer, Hash)>] OrsonAiSTTResponse data, response status code and response headers
    def get_stt_with_http_info(request_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_stt ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OrsonApi.get_stt"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_stt"
      end
      # resource path
      local_var_path = '/orson/ai/stt/{requestId}'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiSTTResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_stt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_stt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get TechTune Results
    # Get a result or continue waiting for a pending request for TechTune analysis.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonAiTechTuneResponse]
    def get_tech_tune(request_id, account_id, opts = {})
      data, _status_code, _headers = get_tech_tune_with_http_info(request_id, account_id, opts)
      data
    end

    # Get TechTune Results
    # Get a result or continue waiting for a pending request for TechTune analysis.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonAiTechTuneResponse, Integer, Hash)>] OrsonAiTechTuneResponse data, response status code and response headers
    def get_tech_tune_with_http_info(request_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_tech_tune ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OrsonApi.get_tech_tune"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_tech_tune"
      end
      # resource path
      local_var_path = '/orson/ai/techTune/{requestId}'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiTechTuneResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_tech_tune",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_tech_tune\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Topics
    # Get the result of an in progress Topics Analysis from an earlier POST.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonAiTopicsResponse]
    def get_topics(request_id, account_id, opts = {})
      data, _status_code, _headers = get_topics_with_http_info(request_id, account_id, opts)
      data
    end

    # Get Topics
    # Get the result of an in progress Topics Analysis from an earlier POST.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonAiTopicsResponse, Integer, Hash)>] OrsonAiTopicsResponse data, response status code and response headers
    def get_topics_with_http_info(request_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_topics ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OrsonApi.get_topics"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_topics"
      end
      # resource path
      local_var_path = '/orson/ai/topics/{requestId}'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiTopicsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_topics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_topics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Text to Speach Result
    # Check the status of an in progress Text-to-Speech call or download the result.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonAiTTSResponse]
    def get_tts(request_id, account_id, opts = {})
      data, _status_code, _headers = get_tts_with_http_info(request_id, account_id, opts)
      data
    end

    # Get Text to Speach Result
    # Check the status of an in progress Text-to-Speech call or download the result.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonAiTTSResponse, Integer, Hash)>] OrsonAiTTSResponse data, response status code and response headers
    def get_tts_with_http_info(request_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_tts ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OrsonApi.get_tts"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_tts"
      end
      # resource path
      local_var_path = '/orson/ai/tts/{requestId}'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiTTSResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_tts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_tts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get VoiceCanvas images
    # Get a result or continue waiting for a pending request for VoiceCanvas Images.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [OrsonAiVoiceCanvasResponse]
    def get_voice_canvas(request_id, account_id, opts = {})
      data, _status_code, _headers = get_voice_canvas_with_http_info(request_id, account_id, opts)
      data
    end

    # Get VoiceCanvas images
    # Get a result or continue waiting for a pending request for VoiceCanvas Images.
    # @param request_id [String] Orson Request Id
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonAiVoiceCanvasResponse, Integer, Hash)>] OrsonAiVoiceCanvasResponse data, response status code and response headers
    def get_voice_canvas_with_http_info(request_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.get_voice_canvas ...'
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling OrsonApi.get_voice_canvas"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.get_voice_canvas"
      end
      # resource path
      local_var_path = '/orson/ai/voiceCanvas/{requestId}'.sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiVoiceCanvasResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.get_voice_canvas",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#get_voice_canvas\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Starts a StoryStitch video render
    # Starts a StoryStitch video render to produce your final video, returning the status details.
    # @param account_id [Integer] Sirqul Account Id
    # @param data [String] Request Data String
    # @param [Hash] opts the optional parameters
    # @return [OrsonRenderResponse]
    def start_video_render(account_id, data, opts = {})
      data, _status_code, _headers = start_video_render_with_http_info(account_id, data, opts)
      data
    end

    # Starts a StoryStitch video render
    # Starts a StoryStitch video render to produce your final video, returning the status details.
    # @param account_id [Integer] Sirqul Account Id
    # @param data [String] Request Data String
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrsonRenderResponse, Integer, Hash)>] OrsonRenderResponse data, response status code and response headers
    def start_video_render_with_http_info(account_id, data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.start_video_render ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.start_video_render"
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling OrsonApi.start_video_render"
      end
      # resource path
      local_var_path = '/orson/stories/renders'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'data'] = data

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonRenderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.start_video_render",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#start_video_render\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Speach to Text
    # Accepts a movie URL or uploaded file and transcribes it. You also have the option to translate it into one of our additional supported languages.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :source_language Source Language
    # @option opts [String] :target_language Target Language
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [OrsonAiSTTResponse]
    def stt(account_id, opts = {})
      data, _status_code, _headers = stt_with_http_info(account_id, opts)
      data
    end

    # Speach to Text
    # Accepts a movie URL or uploaded file and transcribes it. You also have the option to translate it into one of our additional supported languages.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :source_language Source Language
    # @option opts [String] :target_language Target Language
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [Array<(OrsonAiSTTResponse, Integer, Hash)>] OrsonAiSTTResponse data, response status code and response headers
    def stt_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.stt ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.stt"
      end
      # resource path
      local_var_path = '/orson/ai/stt'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'thirdPartyAccountId'] = opts[:'third_party_account_id'] if !opts[:'third_party_account_id'].nil?
      query_params[:'sourceLanguage'] = opts[:'source_language'] if !opts[:'source_language'].nil?
      query_params[:'targetLanguage'] = opts[:'target_language'] if !opts[:'target_language'].nil?
      query_params[:'file'] = opts[:'file'] if !opts[:'file'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'callback'] = opts[:'callback'] if !opts[:'callback'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiSTTResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.stt",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#stt\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Summarize Topics
    # Takes in a string of text sentences (also known as a document) and returns a list of associated topics and their proximity score.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :doc The text to get topics for.
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [Integer] :limit The number of results to return
    # @option opts [Integer] :offset The starting offset into the total result set to start from
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [OrsonAiTopicsResponse]
    def summarize_topics(account_id, opts = {})
      data, _status_code, _headers = summarize_topics_with_http_info(account_id, opts)
      data
    end

    # Summarize Topics
    # Takes in a string of text sentences (also known as a document) and returns a list of associated topics and their proximity score.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :doc The text to get topics for.
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [Integer] :limit The number of results to return
    # @option opts [Integer] :offset The starting offset into the total result set to start from
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [Array<(OrsonAiTopicsResponse, Integer, Hash)>] OrsonAiTopicsResponse data, response status code and response headers
    def summarize_topics_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.summarize_topics ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.summarize_topics"
      end
      # resource path
      local_var_path = '/orson/ai/topics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'thirdPartyAccountId'] = opts[:'third_party_account_id'] if !opts[:'third_party_account_id'].nil?
      query_params[:'doc'] = opts[:'doc'] if !opts[:'doc'].nil?
      query_params[:'file'] = opts[:'file'] if !opts[:'file'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'callback'] = opts[:'callback'] if !opts[:'callback'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiTopicsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.summarize_topics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#summarize_topics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Detect Technical Issues
    # Analyses a movie file to detect technical issues, such as too few people in frame.
    # @param account_id [Integer] Sirqul Account Id
    # @param num_faces_expected [Integer] Number of expected faces
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [OrsonAiTechTuneResponse]
    def tech_tune(account_id, num_faces_expected, opts = {})
      data, _status_code, _headers = tech_tune_with_http_info(account_id, num_faces_expected, opts)
      data
    end

    # Detect Technical Issues
    # Analyses a movie file to detect technical issues, such as too few people in frame.
    # @param account_id [Integer] Sirqul Account Id
    # @param num_faces_expected [Integer] Number of expected faces
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [File] :file An uploaded recording to analyze (Currently limited to 10MB)
    # @option opts [String] :url A recording file to download and analyze (Size limit: 1GB)
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [Array<(OrsonAiTechTuneResponse, Integer, Hash)>] OrsonAiTechTuneResponse data, response status code and response headers
    def tech_tune_with_http_info(account_id, num_faces_expected, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.tech_tune ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.tech_tune"
      end
      # verify the required parameter 'num_faces_expected' is set
      if @api_client.config.client_side_validation && num_faces_expected.nil?
        fail ArgumentError, "Missing the required parameter 'num_faces_expected' when calling OrsonApi.tech_tune"
      end
      # resource path
      local_var_path = '/orson/ai/techTune'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'numFacesExpected'] = num_faces_expected
      query_params[:'thirdPartyAccountId'] = opts[:'third_party_account_id'] if !opts[:'third_party_account_id'].nil?
      query_params[:'file'] = opts[:'file'] if !opts[:'file'].nil?
      query_params[:'url'] = opts[:'url'] if !opts[:'url'].nil?
      query_params[:'callback'] = opts[:'callback'] if !opts[:'callback'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiTechTuneResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.tech_tune",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#tech_tune\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Text to Speach
    # Creates an audio file for the given text, with the option of language and voice selection.
    # @param account_id [Integer] Sirqul Account Id
    # @param text [String] Text
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :language The language to use for the speaker and incoming text
    # @option opts [String] :voice A language-specific voice to use, or picks the language default if not provided
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [OrsonAiTTSResponse]
    def tts(account_id, text, opts = {})
      data, _status_code, _headers = tts_with_http_info(account_id, text, opts)
      data
    end

    # Text to Speach
    # Creates an audio file for the given text, with the option of language and voice selection.
    # @param account_id [Integer] Sirqul Account Id
    # @param text [String] Text
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_account_id A third-party account id that is meaningful to your systems
    # @option opts [String] :language The language to use for the speaker and incoming text
    # @option opts [String] :voice A language-specific voice to use, or picks the language default if not provided
    # @option opts [String] :callback When provided, Orson will return a 202 and POST the results to this URL when complete instead of holding the Request open
    # @return [Array<(OrsonAiTTSResponse, Integer, Hash)>] OrsonAiTTSResponse data, response status code and response headers
    def tts_with_http_info(account_id, text, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrsonApi.tts ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling OrsonApi.tts"
      end
      # verify the required parameter 'text' is set
      if @api_client.config.client_side_validation && text.nil?
        fail ArgumentError, "Missing the required parameter 'text' when calling OrsonApi.tts"
      end
      # resource path
      local_var_path = '/orson/ai/tts'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'text'] = text
      query_params[:'thirdPartyAccountId'] = opts[:'third_party_account_id'] if !opts[:'third_party_account_id'].nil?
      query_params[:'language'] = opts[:'language'] if !opts[:'language'].nil?
      query_params[:'voice'] = opts[:'voice'] if !opts[:'voice'].nil?
      query_params[:'callback'] = opts[:'callback'] if !opts[:'callback'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrsonAiTTSResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"OrsonApi.tts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrsonApi#tts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
