=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class PackApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Pack
    # Create a pack.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param title [String] The title of the pack
    # @param pack_order [Integer] The order of the pack
    # @param price [Integer] The price in tickets to purchase this pack
    # @param highest [Boolean] The scoring is highest is best
    # @param allocate_tickets [Boolean] Flag to indicate owner should receive tickets for completed packs
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description The description of the pack
    # @option opts [String] :search_tags The tags for searching the pack, comma separated
    # @option opts [Boolean] :active Activate/deactivate the pack
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :pack_type The type of the pack
    # @option opts [String] :sequence_type The type of game sequence of the pack
    # @option opts [Integer] :background_id The background asset id of the pack
    # @option opts [Integer] :image_id The image asset id of the pack
    # @option opts [Integer] :start_date The date/time to start the pack, send 0 to unset
    # @option opts [Integer] :end_date The date/time to end the pack, send 0 to unset
    # @option opts [String] :author_override 
    # @option opts [String] :price_type the type of ticket required to purchase this pack
    # @option opts [String] :game_level_ids the game level ids to include in the pack, comma separated
    # @option opts [Boolean] :in_game 
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a pack
    # @return [PackResponse]
    def create_pack(version, account_id, title, pack_order, price, highest, allocate_tickets, ticket_count, opts = {})
      data, _status_code, _headers = create_pack_with_http_info(version, account_id, title, pack_order, price, highest, allocate_tickets, ticket_count, opts)
      data
    end

    # Create Pack
    # Create a pack.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param title [String] The title of the pack
    # @param pack_order [Integer] The order of the pack
    # @param price [Integer] The price in tickets to purchase this pack
    # @param highest [Boolean] The scoring is highest is best
    # @param allocate_tickets [Boolean] Flag to indicate owner should receive tickets for completed packs
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description The description of the pack
    # @option opts [String] :search_tags The tags for searching the pack, comma separated
    # @option opts [Boolean] :active Activate/deactivate the pack
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :pack_type The type of the pack
    # @option opts [String] :sequence_type The type of game sequence of the pack
    # @option opts [Integer] :background_id The background asset id of the pack
    # @option opts [Integer] :image_id The image asset id of the pack
    # @option opts [Integer] :start_date The date/time to start the pack, send 0 to unset
    # @option opts [Integer] :end_date The date/time to end the pack, send 0 to unset
    # @option opts [String] :author_override 
    # @option opts [String] :price_type the type of ticket required to purchase this pack
    # @option opts [String] :game_level_ids the game level ids to include in the pack, comma separated
    # @option opts [Boolean] :in_game 
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a pack
    # @return [Array<(PackResponse, Integer, Hash)>] PackResponse data, response status code and response headers
    def create_pack_with_http_info(version, account_id, title, pack_order, price, highest, allocate_tickets, ticket_count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackApi.create_pack ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PackApi.create_pack"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PackApi.create_pack"
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling PackApi.create_pack"
      end
      # verify the required parameter 'pack_order' is set
      if @api_client.config.client_side_validation && pack_order.nil?
        fail ArgumentError, "Missing the required parameter 'pack_order' when calling PackApi.create_pack"
      end
      # verify the required parameter 'price' is set
      if @api_client.config.client_side_validation && price.nil?
        fail ArgumentError, "Missing the required parameter 'price' when calling PackApi.create_pack"
      end
      # verify the required parameter 'highest' is set
      if @api_client.config.client_side_validation && highest.nil?
        fail ArgumentError, "Missing the required parameter 'highest' when calling PackApi.create_pack"
      end
      # verify the required parameter 'allocate_tickets' is set
      if @api_client.config.client_side_validation && allocate_tickets.nil?
        fail ArgumentError, "Missing the required parameter 'allocate_tickets' when calling PackApi.create_pack"
      end
      # verify the required parameter 'ticket_count' is set
      if @api_client.config.client_side_validation && ticket_count.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_count' when calling PackApi.create_pack"
      end
      allowable_values = ["TUTORIAL", "BUILTIN", "DOWNLOAD", "THRESHOLD", "THEME", "TOURNAMENT"]
      if @api_client.config.client_side_validation && opts[:'pack_type'] && !allowable_values.include?(opts[:'pack_type'])
        fail ArgumentError, "invalid value for \"pack_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["FIRST_AVAILABLE", "ALL_AVAILABLE"]
      if @api_client.config.client_side_validation && opts[:'sequence_type'] && !allowable_values.include?(opts[:'sequence_type'])
        fail ArgumentError, "invalid value for \"sequence_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/pack/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'title'] = title
      query_params[:'packOrder'] = pack_order
      query_params[:'price'] = price
      query_params[:'highest'] = highest
      query_params[:'allocateTickets'] = allocate_tickets
      query_params[:'ticketCount'] = ticket_count
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'searchTags'] = opts[:'search_tags'] if !opts[:'search_tags'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'packType'] = opts[:'pack_type'] if !opts[:'pack_type'].nil?
      query_params[:'sequenceType'] = opts[:'sequence_type'] if !opts[:'sequence_type'].nil?
      query_params[:'backgroundId'] = opts[:'background_id'] if !opts[:'background_id'].nil?
      query_params[:'imageId'] = opts[:'image_id'] if !opts[:'image_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'authorOverride'] = opts[:'author_override'] if !opts[:'author_override'].nil?
      query_params[:'priceType'] = opts[:'price_type'] if !opts[:'price_type'].nil?
      query_params[:'gameLevelIds'] = opts[:'game_level_ids'] if !opts[:'game_level_ids'].nil?
      query_params[:'inGame'] = opts[:'in_game'] if !opts[:'in_game'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PackResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PackApi.create_pack",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackApi#create_pack\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Pack
    # Delete a pack.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param pack_id [Integer] the id of the pack to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_pack(version, account_id, pack_id, opts = {})
      data, _status_code, _headers = delete_pack_with_http_info(version, account_id, pack_id, opts)
      data
    end

    # Delete Pack
    # Delete a pack.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param pack_id [Integer] the id of the pack to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_pack_with_http_info(version, account_id, pack_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackApi.delete_pack ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PackApi.delete_pack"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PackApi.delete_pack"
      end
      # verify the required parameter 'pack_id' is set
      if @api_client.config.client_side_validation && pack_id.nil?
        fail ArgumentError, "Missing the required parameter 'pack_id' when calling PackApi.delete_pack"
      end
      # resource path
      local_var_path = '/api/{version}/pack/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'packId'] = pack_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PackApi.delete_pack",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackApi#delete_pack\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Pack
    # Get a pack.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param pack_id [Integer] The id of the pack to return.
    # @param include_game_data [Boolean] If true include the game level data, otherwise don&#39;t. default is false.
    # @param [Hash] opts the optional parameters
    # @return [PackResponse]
    def get_pack(version, account_id, pack_id, include_game_data, opts = {})
      data, _status_code, _headers = get_pack_with_http_info(version, account_id, pack_id, include_game_data, opts)
      data
    end

    # Get Pack
    # Get a pack.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param pack_id [Integer] The id of the pack to return.
    # @param include_game_data [Boolean] If true include the game level data, otherwise don&#39;t. default is false.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PackResponse, Integer, Hash)>] PackResponse data, response status code and response headers
    def get_pack_with_http_info(version, account_id, pack_id, include_game_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackApi.get_pack ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PackApi.get_pack"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PackApi.get_pack"
      end
      # verify the required parameter 'pack_id' is set
      if @api_client.config.client_side_validation && pack_id.nil?
        fail ArgumentError, "Missing the required parameter 'pack_id' when calling PackApi.get_pack"
      end
      # verify the required parameter 'include_game_data' is set
      if @api_client.config.client_side_validation && include_game_data.nil?
        fail ArgumentError, "Missing the required parameter 'include_game_data' when calling PackApi.get_pack"
      end
      # resource path
      local_var_path = '/api/{version}/pack/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'packId'] = pack_id
      query_params[:'includeGameData'] = include_game_data

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PackResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PackApi.get_pack",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackApi#get_pack\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Packs
    # Search on packs.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param sort_field [String] The field to sort by. Possible values include: TITLE, DESCRIPTION, CREATED, UPDATED
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Keyword search on the pack name
    # @option opts [String] :pack_type Filters results on pack type
    # @option opts [Integer] :start Start the result set at some index.
    # @option opts [Integer] :limit Limit the result to some number.
    # @option opts [Boolean] :include_game_data Determines whether to include game data in the results
    # @option opts [Boolean] :include_inactive Determines whether to include inactive results
    # @option opts [String] :app_key The application to filter results on
    # @return [Array<PackResponse>]
    def search_packs(version, account_id, sort_field, descending, opts = {})
      data, _status_code, _headers = search_packs_with_http_info(version, account_id, sort_field, descending, opts)
      data
    end

    # Search Packs
    # Search on packs.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param sort_field [String] The field to sort by. Possible values include: TITLE, DESCRIPTION, CREATED, UPDATED
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Keyword search on the pack name
    # @option opts [String] :pack_type Filters results on pack type
    # @option opts [Integer] :start Start the result set at some index.
    # @option opts [Integer] :limit Limit the result to some number.
    # @option opts [Boolean] :include_game_data Determines whether to include game data in the results
    # @option opts [Boolean] :include_inactive Determines whether to include inactive results
    # @option opts [String] :app_key The application to filter results on
    # @return [Array<(Array<PackResponse>, Integer, Hash)>] Array<PackResponse> data, response status code and response headers
    def search_packs_with_http_info(version, account_id, sort_field, descending, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackApi.search_packs ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PackApi.search_packs"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PackApi.search_packs"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling PackApi.search_packs"
      end
      # verify enum value
      allowable_values = ["TITLE", "DESCRIPTION", "CREATED", "UPDATED"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling PackApi.search_packs"
      end
      allowable_values = ["TUTORIAL", "BUILTIN", "DOWNLOAD", "THRESHOLD", "THEME", "TOURNAMENT"]
      if @api_client.config.client_side_validation && opts[:'pack_type'] && !allowable_values.include?(opts[:'pack_type'])
        fail ArgumentError, "invalid value for \"pack_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/pack/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'packType'] = opts[:'pack_type'] if !opts[:'pack_type'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'includeGameData'] = opts[:'include_game_data'] if !opts[:'include_game_data'].nil?
      query_params[:'includeInactive'] = opts[:'include_inactive'] if !opts[:'include_inactive'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PackResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PackApi.search_packs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackApi#search_packs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Pack
    # Update a pack.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param pack_id [Integer] The id of the pack to update.
    # @param allocate_tickets [Boolean] Flag to indicate owner should receive tickets for completed packs
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :title The title of the pack
    # @option opts [String] :description The description of the pack
    # @option opts [String] :search_tags The tags for searching the pack, comma separated
    # @option opts [Boolean] :active Activate/deactivate the pack
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :pack_type The type of the pack
    # @option opts [Integer] :pack_order The order of the pack
    # @option opts [String] :sequence_type The type of game sequence of the pack
    # @option opts [Integer] :background_id The background asset id of the pack
    # @option opts [Integer] :image_id The image asset id of the pack
    # @option opts [Integer] :start_date The date/time to start the pack, send 0 to unset
    # @option opts [Integer] :end_date The date/time to end the pack, send 0 to unset
    # @option opts [String] :author_override 
    # @option opts [Integer] :price The price in tickets to purchase this pack
    # @option opts [String] :price_type the type of ticket required to purchase this pack
    # @option opts [String] :game_level_ids the game level ids to include in the pack, comma separated
    # @option opts [Boolean] :in_game 
    # @option opts [Boolean] :highest The scoring is highest is best
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a pack
    # @return [PackResponse]
    def update_pack(version, account_id, pack_id, allocate_tickets, ticket_count, opts = {})
      data, _status_code, _headers = update_pack_with_http_info(version, account_id, pack_id, allocate_tickets, ticket_count, opts)
      data
    end

    # Update Pack
    # Update a pack.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param pack_id [Integer] The id of the pack to update.
    # @param allocate_tickets [Boolean] Flag to indicate owner should receive tickets for completed packs
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :title The title of the pack
    # @option opts [String] :description The description of the pack
    # @option opts [String] :search_tags The tags for searching the pack, comma separated
    # @option opts [Boolean] :active Activate/deactivate the pack
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [String] :pack_type The type of the pack
    # @option opts [Integer] :pack_order The order of the pack
    # @option opts [String] :sequence_type The type of game sequence of the pack
    # @option opts [Integer] :background_id The background asset id of the pack
    # @option opts [Integer] :image_id The image asset id of the pack
    # @option opts [Integer] :start_date The date/time to start the pack, send 0 to unset
    # @option opts [Integer] :end_date The date/time to end the pack, send 0 to unset
    # @option opts [String] :author_override 
    # @option opts [Integer] :price The price in tickets to purchase this pack
    # @option opts [String] :price_type the type of ticket required to purchase this pack
    # @option opts [String] :game_level_ids the game level ids to include in the pack, comma separated
    # @option opts [Boolean] :in_game 
    # @option opts [Boolean] :highest The scoring is highest is best
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a pack
    # @return [Array<(PackResponse, Integer, Hash)>] PackResponse data, response status code and response headers
    def update_pack_with_http_info(version, account_id, pack_id, allocate_tickets, ticket_count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PackApi.update_pack ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PackApi.update_pack"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PackApi.update_pack"
      end
      # verify the required parameter 'pack_id' is set
      if @api_client.config.client_side_validation && pack_id.nil?
        fail ArgumentError, "Missing the required parameter 'pack_id' when calling PackApi.update_pack"
      end
      # verify the required parameter 'allocate_tickets' is set
      if @api_client.config.client_side_validation && allocate_tickets.nil?
        fail ArgumentError, "Missing the required parameter 'allocate_tickets' when calling PackApi.update_pack"
      end
      # verify the required parameter 'ticket_count' is set
      if @api_client.config.client_side_validation && ticket_count.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_count' when calling PackApi.update_pack"
      end
      allowable_values = ["TUTORIAL", "BUILTIN", "DOWNLOAD", "THRESHOLD", "THEME", "TOURNAMENT"]
      if @api_client.config.client_side_validation && opts[:'pack_type'] && !allowable_values.include?(opts[:'pack_type'])
        fail ArgumentError, "invalid value for \"pack_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["FIRST_AVAILABLE", "ALL_AVAILABLE"]
      if @api_client.config.client_side_validation && opts[:'sequence_type'] && !allowable_values.include?(opts[:'sequence_type'])
        fail ArgumentError, "invalid value for \"sequence_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/pack/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'packId'] = pack_id
      query_params[:'allocateTickets'] = allocate_tickets
      query_params[:'ticketCount'] = ticket_count
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'searchTags'] = opts[:'search_tags'] if !opts[:'search_tags'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'packType'] = opts[:'pack_type'] if !opts[:'pack_type'].nil?
      query_params[:'packOrder'] = opts[:'pack_order'] if !opts[:'pack_order'].nil?
      query_params[:'sequenceType'] = opts[:'sequence_type'] if !opts[:'sequence_type'].nil?
      query_params[:'backgroundId'] = opts[:'background_id'] if !opts[:'background_id'].nil?
      query_params[:'imageId'] = opts[:'image_id'] if !opts[:'image_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'authorOverride'] = opts[:'author_override'] if !opts[:'author_override'].nil?
      query_params[:'price'] = opts[:'price'] if !opts[:'price'].nil?
      query_params[:'priceType'] = opts[:'price_type'] if !opts[:'price_type'].nil?
      query_params[:'gameLevelIds'] = opts[:'game_level_ids'] if !opts[:'game_level_ids'].nil?
      query_params[:'inGame'] = opts[:'in_game'] if !opts[:'in_game'].nil?
      query_params[:'highest'] = opts[:'highest'] if !opts[:'highest'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PackResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PackApi.update_pack",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PackApi#update_pack\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
