=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ParticipantsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Process All Participant Feeds
    # Processes all supported participant feeds.
    # @param account_id [Integer] The account id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [Boolean] :use_short_name_as_id Whether to use short name as the participant ID
    # @return [SirqulResponse]
    def process_all_participants(account_id, opts = {})
      data, _status_code, _headers = process_all_participants_with_http_info(account_id, opts)
      data
    end

    # Process All Participant Feeds
    # Processes all supported participant feeds.
    # @param account_id [Integer] The account id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [Boolean] :use_short_name_as_id Whether to use short name as the participant ID
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def process_all_participants_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ParticipantsApi.process_all_participants ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ParticipantsApi.process_all_participants"
      end
      # resource path
      local_var_path = '/participant/process/all'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'useShortNameAsID'] = opts[:'use_short_name_as_id'] if !opts[:'use_short_name_as_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ParticipantsApi.process_all_participants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ParticipantsApi#process_all_participants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Process Participants Feed
    # Processes a participant feed or uploaded file for a specific league.
    # @param account_id [Integer] The account id of the user
    # @param league [String] The league identifier to process
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [Boolean] :use_short_name_as_id Whether to use short name as the participant ID
    # @option opts [File] :file Multipart file containing participant feed contents
    # @return [SirqulResponse]
    def process_participants(account_id, league, opts = {})
      data, _status_code, _headers = process_participants_with_http_info(account_id, league, opts)
      data
    end

    # Process Participants Feed
    # Processes a participant feed or uploaded file for a specific league.
    # @param account_id [Integer] The account id of the user
    # @param league [String] The league identifier to process
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key used to identify the application
    # @option opts [Boolean] :use_short_name_as_id Whether to use short name as the participant ID
    # @option opts [File] :file Multipart file containing participant feed contents
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def process_participants_with_http_info(account_id, league, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ParticipantsApi.process_participants ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ParticipantsApi.process_participants"
      end
      # verify the required parameter 'league' is set
      if @api_client.config.client_side_validation && league.nil?
        fail ArgumentError, "Missing the required parameter 'league' when calling ParticipantsApi.process_participants"
      end
      # resource path
      local_var_path = '/participant/process'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'league'] = league
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'useShortNameAsID'] = opts[:'use_short_name_as_id'] if !opts[:'use_short_name_as_id'].nil?
      query_params[:'file'] = opts[:'file'] if !opts[:'file'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ParticipantsApi.process_participants",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ParticipantsApi#process_participants\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
