=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class PathingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Calculate Path
    # Calculates the shortest path from point to point on a grid
    # @param data [String] the data to with start, end point and exclusion points
    # @param units [String] the system of measurement for directions: {METRIC, IMPERIAL}
    # @param reduce_path [Boolean] determines whether to reduce the path to go in diagonal lines
    # @param directions [Boolean] determines whether to return text directions
    # @param [Hash] opts the optional parameters
    # @return [PathingResponse]
    def compute_path(data, units, reduce_path, directions, opts = {})
      data, _status_code, _headers = compute_path_with_http_info(data, units, reduce_path, directions, opts)
      data
    end

    # Calculate Path
    # Calculates the shortest path from point to point on a grid
    # @param data [String] the data to with start, end point and exclusion points
    # @param units [String] the system of measurement for directions: {METRIC, IMPERIAL}
    # @param reduce_path [Boolean] determines whether to reduce the path to go in diagonal lines
    # @param directions [Boolean] determines whether to return text directions
    # @param [Hash] opts the optional parameters
    # @return [Array<(PathingResponse, Integer, Hash)>] PathingResponse data, response status code and response headers
    def compute_path_with_http_info(data, units, reduce_path, directions, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PathingApi.compute_path ...'
      end
      # verify the required parameter 'data' is set
      if @api_client.config.client_side_validation && data.nil?
        fail ArgumentError, "Missing the required parameter 'data' when calling PathingApi.compute_path"
      end
      # verify the required parameter 'units' is set
      if @api_client.config.client_side_validation && units.nil?
        fail ArgumentError, "Missing the required parameter 'units' when calling PathingApi.compute_path"
      end
      # verify enum value
      allowable_values = ["METRIC", "IMPERIAL"]
      if @api_client.config.client_side_validation && !allowable_values.include?(units)
        fail ArgumentError, "invalid value for \"units\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'reduce_path' is set
      if @api_client.config.client_side_validation && reduce_path.nil?
        fail ArgumentError, "Missing the required parameter 'reduce_path' when calling PathingApi.compute_path"
      end
      # verify the required parameter 'directions' is set
      if @api_client.config.client_side_validation && directions.nil?
        fail ArgumentError, "Missing the required parameter 'directions' when calling PathingApi.compute_path"
      end
      # resource path
      local_var_path = '/pathing/compute'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'data'] = data
      query_params[:'units'] = units
      query_params[:'reducePath'] = reduce_path
      query_params[:'directions'] = directions

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PathingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PathingApi.compute_path",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PathingApi#compute_path\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
