=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class PostalCodeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Postal Code
    # Create a Postal Code
    # @param account_id [Integer] the id of the logged in user
    # @param code [String] the postal code
    # @param latitude [Float] the latitude of the postal code
    # @param longitude [Float] the longitude of the postal code
    # @param [Hash] opts the optional parameters
    # @option opts [String] :state_code the state code (e.g WA, WV, WI) that the postal code is located
    # @option opts [String] :city the city that the postal code is located
    # @option opts [Boolean] :active whether the postal code created should be active or inactive
    # @return [PostalCodeResponse]
    def create_postal_code(account_id, code, latitude, longitude, opts = {})
      data, _status_code, _headers = create_postal_code_with_http_info(account_id, code, latitude, longitude, opts)
      data
    end

    # Create Postal Code
    # Create a Postal Code
    # @param account_id [Integer] the id of the logged in user
    # @param code [String] the postal code
    # @param latitude [Float] the latitude of the postal code
    # @param longitude [Float] the longitude of the postal code
    # @param [Hash] opts the optional parameters
    # @option opts [String] :state_code the state code (e.g WA, WV, WI) that the postal code is located
    # @option opts [String] :city the city that the postal code is located
    # @option opts [Boolean] :active whether the postal code created should be active or inactive
    # @return [Array<(PostalCodeResponse, Integer, Hash)>] PostalCodeResponse data, response status code and response headers
    def create_postal_code_with_http_info(account_id, code, latitude, longitude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostalCodeApi.create_postal_code ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PostalCodeApi.create_postal_code"
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling PostalCodeApi.create_postal_code"
      end
      # verify the required parameter 'latitude' is set
      if @api_client.config.client_side_validation && latitude.nil?
        fail ArgumentError, "Missing the required parameter 'latitude' when calling PostalCodeApi.create_postal_code"
      end
      # verify the required parameter 'longitude' is set
      if @api_client.config.client_side_validation && longitude.nil?
        fail ArgumentError, "Missing the required parameter 'longitude' when calling PostalCodeApi.create_postal_code"
      end
      # resource path
      local_var_path = '/postalCode/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'code'] = code
      query_params[:'latitude'] = latitude
      query_params[:'longitude'] = longitude
      query_params[:'stateCode'] = opts[:'state_code'] if !opts[:'state_code'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostalCodeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PostalCodeApi.create_postal_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostalCodeApi#create_postal_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Postal Code
    # Delete a Postal Code
    # @param account_id [Integer] the id of the logged in user
    # @param postal_code_id [Integer] the id of the postal code to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_postal_code(account_id, postal_code_id, opts = {})
      data, _status_code, _headers = delete_postal_code_with_http_info(account_id, postal_code_id, opts)
      data
    end

    # Delete Postal Code
    # Delete a Postal Code
    # @param account_id [Integer] the id of the logged in user
    # @param postal_code_id [Integer] the id of the postal code to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_postal_code_with_http_info(account_id, postal_code_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostalCodeApi.delete_postal_code ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PostalCodeApi.delete_postal_code"
      end
      # verify the required parameter 'postal_code_id' is set
      if @api_client.config.client_side_validation && postal_code_id.nil?
        fail ArgumentError, "Missing the required parameter 'postal_code_id' when calling PostalCodeApi.delete_postal_code"
      end
      # resource path
      local_var_path = '/postalCode/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'postalCodeId'] = postal_code_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PostalCodeApi.delete_postal_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostalCodeApi#delete_postal_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Postal Code
    # Get a Postal Code
    # @param postal_code_id [Integer] the id of the postal code to get
    # @param [Hash] opts the optional parameters
    # @return [PostalCodeResponse]
    def get_postal_code(postal_code_id, opts = {})
      data, _status_code, _headers = get_postal_code_with_http_info(postal_code_id, opts)
      data
    end

    # Get Postal Code
    # Get a Postal Code
    # @param postal_code_id [Integer] the id of the postal code to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(PostalCodeResponse, Integer, Hash)>] PostalCodeResponse data, response status code and response headers
    def get_postal_code_with_http_info(postal_code_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostalCodeApi.get_postal_code ...'
      end
      # verify the required parameter 'postal_code_id' is set
      if @api_client.config.client_side_validation && postal_code_id.nil?
        fail ArgumentError, "Missing the required parameter 'postal_code_id' when calling PostalCodeApi.get_postal_code"
      end
      # resource path
      local_var_path = '/postalCode/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'postalCodeId'] = postal_code_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostalCodeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PostalCodeApi.get_postal_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostalCodeApi#get_postal_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Postal Codes
    # Get the list of regions. If latitude or longitude is null, will return all postal codes in the system with paginated response.
    # @param sort_field [String] the field to sort the results on
    # @param descending [Boolean] whether to order results in ascending or descending order
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :latitude the latitude of the postal code to search on
    # @option opts [Float] :longitude the longitude of the postal code to search on
    # @option opts [String] :keyword the keyword of the postal code to search on
    # @option opts [Float] :miles how far (in miles) to search on for the postal code
    # @option opts [Integer] :start the start of the index and/or pagination
    # @option opts [Integer] :limit the limit of the index and/or pagination
    # @return [Array<PostalCodeResponse>]
    def get_postal_codes(sort_field, descending, opts = {})
      data, _status_code, _headers = get_postal_codes_with_http_info(sort_field, descending, opts)
      data
    end

    # Search Postal Codes
    # Get the list of regions. If latitude or longitude is null, will return all postal codes in the system with paginated response.
    # @param sort_field [String] the field to sort the results on
    # @param descending [Boolean] whether to order results in ascending or descending order
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :latitude the latitude of the postal code to search on
    # @option opts [Float] :longitude the longitude of the postal code to search on
    # @option opts [String] :keyword the keyword of the postal code to search on
    # @option opts [Float] :miles how far (in miles) to search on for the postal code
    # @option opts [Integer] :start the start of the index and/or pagination
    # @option opts [Integer] :limit the limit of the index and/or pagination
    # @return [Array<(Array<PostalCodeResponse>, Integer, Hash)>] Array<PostalCodeResponse> data, response status code and response headers
    def get_postal_codes_with_http_info(sort_field, descending, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostalCodeApi.get_postal_codes ...'
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling PostalCodeApi.get_postal_codes"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling PostalCodeApi.get_postal_codes"
      end
      # resource path
      local_var_path = '/postalCode/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'miles'] = opts[:'miles'] if !opts[:'miles'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PostalCodeResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PostalCodeApi.get_postal_codes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostalCodeApi#get_postal_codes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Postal Code
    # Update a Postal Code
    # @param account_id [Integer] the id of the logged in user
    # @param postal_code_id [Integer] the id of the postal code to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code the postal code to update
    # @option opts [Float] :latitude the latitude of the postal code
    # @option opts [Float] :longitude the longitude of the postal code
    # @option opts [String] :state_code the state code (e.g. WA, WI, WY) where the postal code is located
    # @option opts [String] :city the city where the postal code is located
    # @option opts [Boolean] :active whether the postal code is active or inactive
    # @return [PostalCodeResponse]
    def update_postal_code(account_id, postal_code_id, opts = {})
      data, _status_code, _headers = update_postal_code_with_http_info(account_id, postal_code_id, opts)
      data
    end

    # Update Postal Code
    # Update a Postal Code
    # @param account_id [Integer] the id of the logged in user
    # @param postal_code_id [Integer] the id of the postal code to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code the postal code to update
    # @option opts [Float] :latitude the latitude of the postal code
    # @option opts [Float] :longitude the longitude of the postal code
    # @option opts [String] :state_code the state code (e.g. WA, WI, WY) where the postal code is located
    # @option opts [String] :city the city where the postal code is located
    # @option opts [Boolean] :active whether the postal code is active or inactive
    # @return [Array<(PostalCodeResponse, Integer, Hash)>] PostalCodeResponse data, response status code and response headers
    def update_postal_code_with_http_info(account_id, postal_code_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PostalCodeApi.update_postal_code ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PostalCodeApi.update_postal_code"
      end
      # verify the required parameter 'postal_code_id' is set
      if @api_client.config.client_side_validation && postal_code_id.nil?
        fail ArgumentError, "Missing the required parameter 'postal_code_id' when calling PostalCodeApi.update_postal_code"
      end
      # resource path
      local_var_path = '/postalCode/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'postalCodeId'] = postal_code_id
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'stateCode'] = opts[:'state_code'] if !opts[:'state_code'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PostalCodeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PostalCodeApi.update_postal_code",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PostalCodeApi#update_postal_code\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
