=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class PreviewPersonaApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Persona
    # Creates a new persona. If the given params are null those attributes will be override by null.
    # @param version [Float] 
    # @param account_id [Integer] the account ID of the user
    # @param title [String] the title of the persona
    # @param [Hash] opts the optional parameters
    # @option opts [String] :preview_accounts the accounts that are able to preview from this persona
    # @option opts [Integer] :date the sepcified date that this persona is viewing the app
    # @option opts [Integer] :age the specified age of this persona
    # @option opts [String] :gender the specified gender of this persona
    # @option opts [String] :game_experience_level the specified experience level of the persona
    # @option opts [Float] :latitude the specified latitude of the persona
    # @option opts [Float] :longitude the specified longitude of the persona
    # @return [PreviewPersonaResponse]
    def create_persona(version, account_id, title, opts = {})
      data, _status_code, _headers = create_persona_with_http_info(version, account_id, title, opts)
      data
    end

    # Create Persona
    # Creates a new persona. If the given params are null those attributes will be override by null.
    # @param version [Float] 
    # @param account_id [Integer] the account ID of the user
    # @param title [String] the title of the persona
    # @param [Hash] opts the optional parameters
    # @option opts [String] :preview_accounts the accounts that are able to preview from this persona
    # @option opts [Integer] :date the sepcified date that this persona is viewing the app
    # @option opts [Integer] :age the specified age of this persona
    # @option opts [String] :gender the specified gender of this persona
    # @option opts [String] :game_experience_level the specified experience level of the persona
    # @option opts [Float] :latitude the specified latitude of the persona
    # @option opts [Float] :longitude the specified longitude of the persona
    # @return [Array<(PreviewPersonaResponse, Integer, Hash)>] PreviewPersonaResponse data, response status code and response headers
    def create_persona_with_http_info(version, account_id, title, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PreviewPersonaApi.create_persona ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PreviewPersonaApi.create_persona"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PreviewPersonaApi.create_persona"
      end
      # verify the required parameter 'title' is set
      if @api_client.config.client_side_validation && title.nil?
        fail ArgumentError, "Missing the required parameter 'title' when calling PreviewPersonaApi.create_persona"
      end
      # resource path
      local_var_path = '/api/{version}/persona/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'title'] = title
      query_params[:'previewAccounts'] = opts[:'preview_accounts'] if !opts[:'preview_accounts'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'age'] = opts[:'age'] if !opts[:'age'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'gameExperienceLevel'] = opts[:'game_experience_level'] if !opts[:'game_experience_level'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PreviewPersonaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PreviewPersonaApi.create_persona",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PreviewPersonaApi#create_persona\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Persona
    # Mark the persona for deletion.
    # @param version [Float] 
    # @param account_id [Integer] the account id of the user
    # @param persona_id [Integer] the id of the persona to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_persona(version, account_id, persona_id, opts = {})
      data, _status_code, _headers = delete_persona_with_http_info(version, account_id, persona_id, opts)
      data
    end

    # Delete Persona
    # Mark the persona for deletion.
    # @param version [Float] 
    # @param account_id [Integer] the account id of the user
    # @param persona_id [Integer] the id of the persona to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_persona_with_http_info(version, account_id, persona_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PreviewPersonaApi.delete_persona ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PreviewPersonaApi.delete_persona"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PreviewPersonaApi.delete_persona"
      end
      # verify the required parameter 'persona_id' is set
      if @api_client.config.client_side_validation && persona_id.nil?
        fail ArgumentError, "Missing the required parameter 'persona_id' when calling PreviewPersonaApi.delete_persona"
      end
      # resource path
      local_var_path = '/api/{version}/persona/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'personaId'] = persona_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PreviewPersonaApi.delete_persona",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PreviewPersonaApi#delete_persona\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Persona
    # Get the persona by the given persona ID. If the persona cannot be found, a invalid response is returned.
    # @param version [Float] 
    # @param account_id [Integer] the account ID of the user
    # @param persona_id [Integer] the persona ID of the persona
    # @param [Hash] opts the optional parameters
    # @return [PreviewPersonaResponse]
    def get_persona_list(version, account_id, persona_id, opts = {})
      data, _status_code, _headers = get_persona_list_with_http_info(version, account_id, persona_id, opts)
      data
    end

    # Get Persona
    # Get the persona by the given persona ID. If the persona cannot be found, a invalid response is returned.
    # @param version [Float] 
    # @param account_id [Integer] the account ID of the user
    # @param persona_id [Integer] the persona ID of the persona
    # @param [Hash] opts the optional parameters
    # @return [Array<(PreviewPersonaResponse, Integer, Hash)>] PreviewPersonaResponse data, response status code and response headers
    def get_persona_list_with_http_info(version, account_id, persona_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PreviewPersonaApi.get_persona_list ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PreviewPersonaApi.get_persona_list"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PreviewPersonaApi.get_persona_list"
      end
      # verify the required parameter 'persona_id' is set
      if @api_client.config.client_side_validation && persona_id.nil?
        fail ArgumentError, "Missing the required parameter 'persona_id' when calling PreviewPersonaApi.get_persona_list"
      end
      # resource path
      local_var_path = '/api/{version}/persona/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'personaId'] = persona_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PreviewPersonaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PreviewPersonaApi.get_persona_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PreviewPersonaApi#get_persona_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Personas
    # Search for persona that the account owns by the given account ID.
    # @param version [Float] 
    # @param account_id [Integer] the account ID of the user
    # @param start [Integer] the start index for pagination
    # @param limit [Integer] the limit for pagination (There is a hard limit of 100)
    # @param [Hash] opts the optional parameters
    # @return [PreviewPersonaResponse]
    def search_persona(version, account_id, start, limit, opts = {})
      data, _status_code, _headers = search_persona_with_http_info(version, account_id, start, limit, opts)
      data
    end

    # Search Personas
    # Search for persona that the account owns by the given account ID.
    # @param version [Float] 
    # @param account_id [Integer] the account ID of the user
    # @param start [Integer] the start index for pagination
    # @param limit [Integer] the limit for pagination (There is a hard limit of 100)
    # @param [Hash] opts the optional parameters
    # @return [Array<(PreviewPersonaResponse, Integer, Hash)>] PreviewPersonaResponse data, response status code and response headers
    def search_persona_with_http_info(version, account_id, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PreviewPersonaApi.search_persona ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PreviewPersonaApi.search_persona"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PreviewPersonaApi.search_persona"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling PreviewPersonaApi.search_persona"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling PreviewPersonaApi.search_persona"
      end
      # resource path
      local_var_path = '/api/{version}/persona/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'start'] = start
      query_params[:'limit'] = limit

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PreviewPersonaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PreviewPersonaApi.search_persona",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PreviewPersonaApi#search_persona\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Persona
    # Update the persona by the given personaId. If the given params are null those attributes will be override by null. If active is assigned, all other params will be ignored.
    # @param version [Float] 
    # @param account_id [Integer] the account ID of the user
    # @param persona_id [Integer] the persona ID of the persona to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :title the title of the persona
    # @option opts [String] :preview_accounts the accounts that are able to preview from this persona
    # @option opts [Boolean] :active the status of the persona, there can only be one active persona per account
    # @option opts [Integer] :date the sepcified date that this persona is viewing the app
    # @option opts [Integer] :age the specified age of this persona
    # @option opts [String] :gender the specified gender of this persona
    # @option opts [String] :game_experience_level the specified experience level of the persona
    # @option opts [Float] :latitude the specified latitude of the persona
    # @option opts [Float] :longitude the specified longitude of the persona
    # @return [PreviewPersonaResponse]
    def update_persona(version, account_id, persona_id, opts = {})
      data, _status_code, _headers = update_persona_with_http_info(version, account_id, persona_id, opts)
      data
    end

    # Update Persona
    # Update the persona by the given personaId. If the given params are null those attributes will be override by null. If active is assigned, all other params will be ignored.
    # @param version [Float] 
    # @param account_id [Integer] the account ID of the user
    # @param persona_id [Integer] the persona ID of the persona to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :title the title of the persona
    # @option opts [String] :preview_accounts the accounts that are able to preview from this persona
    # @option opts [Boolean] :active the status of the persona, there can only be one active persona per account
    # @option opts [Integer] :date the sepcified date that this persona is viewing the app
    # @option opts [Integer] :age the specified age of this persona
    # @option opts [String] :gender the specified gender of this persona
    # @option opts [String] :game_experience_level the specified experience level of the persona
    # @option opts [Float] :latitude the specified latitude of the persona
    # @option opts [Float] :longitude the specified longitude of the persona
    # @return [Array<(PreviewPersonaResponse, Integer, Hash)>] PreviewPersonaResponse data, response status code and response headers
    def update_persona_with_http_info(version, account_id, persona_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PreviewPersonaApi.update_persona ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PreviewPersonaApi.update_persona"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling PreviewPersonaApi.update_persona"
      end
      # verify the required parameter 'persona_id' is set
      if @api_client.config.client_side_validation && persona_id.nil?
        fail ArgumentError, "Missing the required parameter 'persona_id' when calling PreviewPersonaApi.update_persona"
      end
      # resource path
      local_var_path = '/api/{version}/persona/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'personaId'] = persona_id
      query_params[:'title'] = opts[:'title'] if !opts[:'title'].nil?
      query_params[:'previewAccounts'] = opts[:'preview_accounts'] if !opts[:'preview_accounts'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'date'] = opts[:'date'] if !opts[:'date'].nil?
      query_params[:'age'] = opts[:'age'] if !opts[:'age'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'gameExperienceLevel'] = opts[:'game_experience_level'] if !opts[:'game_experience_level'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PreviewPersonaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PreviewPersonaApi.update_persona",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PreviewPersonaApi#update_persona\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
