=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ProgramApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Program
    # Create a new program
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Program] :body 
    # @return [Program]
    def create_program(version, opts = {})
      data, _status_code, _headers = create_program_with_http_info(version, opts)
      data
    end

    # Create Program
    # Create a new program
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Program] :body 
    # @return [Array<(Program, Integer, Hash)>] Program data, response status code and response headers
    def create_program_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramApi.create_program ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ProgramApi.create_program"
      end
      # resource path
      local_var_path = '/api/{version}/program'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Program'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramApi.create_program",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramApi#create_program\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Program
    # Delete an existing program
    # @param version [Float] 
    # @param id [Integer] the id of the program
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_program(version, id, opts = {})
      delete_program_with_http_info(version, id, opts)
      nil
    end

    # Delete Program
    # Delete an existing program
    # @param version [Float] 
    # @param id [Integer] the id of the program
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_program_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramApi.delete_program ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ProgramApi.delete_program"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProgramApi.delete_program"
      end
      # resource path
      local_var_path = '/api/{version}/program/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramApi.delete_program",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramApi#delete_program\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Program
    # Get an existing program
    # @param version [Float] 
    # @param id [Integer] the id of the program
    # @param [Hash] opts the optional parameters
    # @return [Program]
    def get_program(version, id, opts = {})
      data, _status_code, _headers = get_program_with_http_info(version, id, opts)
      data
    end

    # Get Program
    # Get an existing program
    # @param version [Float] 
    # @param id [Integer] the id of the program
    # @param [Hash] opts the optional parameters
    # @return [Array<(Program, Integer, Hash)>] Program data, response status code and response headers
    def get_program_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramApi.get_program ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ProgramApi.get_program"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProgramApi.get_program"
      end
      # resource path
      local_var_path = '/api/{version}/program/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Program'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramApi.get_program",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramApi#get_program\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Program
    # Update an existing program
    # @param version [Float] 
    # @param id [Integer] the id of the program
    # @param [Hash] opts the optional parameters
    # @option opts [Program] :body 
    # @return [Program]
    def post_program(version, id, opts = {})
      data, _status_code, _headers = post_program_with_http_info(version, id, opts)
      data
    end

    # Update Program
    # Update an existing program
    # @param version [Float] 
    # @param id [Integer] the id of the program
    # @param [Hash] opts the optional parameters
    # @option opts [Program] :body 
    # @return [Array<(Program, Integer, Hash)>] Program data, response status code and response headers
    def post_program_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramApi.post_program ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ProgramApi.post_program"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProgramApi.post_program"
      end
      # resource path
      local_var_path = '/api/{version}/program/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Program'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramApi.post_program",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramApi#post_program\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Program
    # Update an existing program
    # @param version [Float] 
    # @param id [Integer] the id of the program
    # @param [Hash] opts the optional parameters
    # @option opts [Program] :body 
    # @return [Program]
    def put_program(version, id, opts = {})
      data, _status_code, _headers = put_program_with_http_info(version, id, opts)
      data
    end

    # Update Program
    # Update an existing program
    # @param version [Float] 
    # @param id [Integer] the id of the program
    # @param [Hash] opts the optional parameters
    # @option opts [Program] :body 
    # @return [Array<(Program, Integer, Hash)>] Program data, response status code and response headers
    def put_program_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramApi.put_program ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ProgramApi.put_program"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProgramApi.put_program"
      end
      # resource path
      local_var_path = '/api/{version}/program/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Program'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramApi.put_program",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramApi#put_program\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Programs
    # Search for programs
    # @param version [Float] 
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to filter results by
    # @return [Array<Program>]
    def search_programs(version, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_programs_with_http_info(version, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Programs
    # Search for programs
    # @param version [Float] 
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to filter results by
    # @return [Array<(Array<Program>, Integer, Hash)>] Array<Program> data, response status code and response headers
    def search_programs_with_http_info(version, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProgramApi.search_programs ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ProgramApi.search_programs"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling ProgramApi.search_programs"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling ProgramApi.search_programs"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ProgramApi.search_programs"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ProgramApi.search_programs"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling ProgramApi.search_programs"
      end
      # resource path
      local_var_path = '/api/{version}/program'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Program>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProgramApi.search_programs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProgramApi#search_programs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
