=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class PurchaseOrderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Order
    # Creates a new purchase with some number of items associated with it. The purchase is added to the order that was created
    # @param version [Float] 
    # @param app_key [String] The application requesting the purchase
    # @param cart [String] &#x60;&#x60;&#x60;json [   { \&quot;orderItemType\&quot;: \&quot;OFFER\&quot;, \&quot;orderItemId\&quot;: 234, \&quot;orderCustomType\&quot;: \&quot;OfferLocation\&quot;, \&quot;orderCustomId\&quot;: 123, \&quot;retailerLocationId\&quot;: 1234, \&quot;quantity\&quot;: 2 },   { \&quot;orderItemType\&quot;: \&quot;OFFER\&quot;, \&quot;orderItemId\&quot;: 235, \&quot;quantity\&quot;: 2 },   { \&quot;orderItemType\&quot;: \&quot;CUSTOM\&quot;, \&quot;amount\&quot;: 10.50, \&quot;orderCustomType\&quot;: \&quot;ServiceFee\&quot; },   { \&quot;orderItemType\&quot;: \&quot;CUSTOM\&quot;, \&quot;amount\&quot;: 25.10, \&quot;quantity\&quot;: 2, \&quot;orderCustomType\&quot;: \&quot;Hat\&quot;, \&quot;orderCustomId\&quot;: 123 } ] &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :description A description of the purchase
    # @option opts [String] :currency_type Determines the method of purchasing offer.  * VOID: used for when there is no payment involved (ie. for updating the status of a purchase order)  * CASH: use card on file  * POINTS: use account balance  * TICKETS: use tickets  * REFUND: not allowed for a create, requires a paymentTransactionId.  * CREDIT: add to the account balance  * RELOAD: charge a credit card then add to the account balance   (default to 'CASH')
    # @option opts [Integer] :payment_method_id Use a specific payment method (CASH), if not provided use default
    # @option opts [String] :external_order_id Store identifier from external system
    # @option opts [String] :external_payment_id Store identifier from external system
    # @option opts [String] :remote_ref_type Remote Reference type
    # @option opts [Integer] :external_date External Date
    # @option opts [String] :promo_code The Promo Code
    # @return [OrderResponse]
    def create_order(version, app_key, cart, opts = {})
      data, _status_code, _headers = create_order_with_http_info(version, app_key, cart, opts)
      data
    end

    # Create Order
    # Creates a new purchase with some number of items associated with it. The purchase is added to the order that was created
    # @param version [Float] 
    # @param app_key [String] The application requesting the purchase
    # @param cart [String] &#x60;&#x60;&#x60;json [   { \&quot;orderItemType\&quot;: \&quot;OFFER\&quot;, \&quot;orderItemId\&quot;: 234, \&quot;orderCustomType\&quot;: \&quot;OfferLocation\&quot;, \&quot;orderCustomId\&quot;: 123, \&quot;retailerLocationId\&quot;: 1234, \&quot;quantity\&quot;: 2 },   { \&quot;orderItemType\&quot;: \&quot;OFFER\&quot;, \&quot;orderItemId\&quot;: 235, \&quot;quantity\&quot;: 2 },   { \&quot;orderItemType\&quot;: \&quot;CUSTOM\&quot;, \&quot;amount\&quot;: 10.50, \&quot;orderCustomType\&quot;: \&quot;ServiceFee\&quot; },   { \&quot;orderItemType\&quot;: \&quot;CUSTOM\&quot;, \&quot;amount\&quot;: 25.10, \&quot;quantity\&quot;: 2, \&quot;orderCustomType\&quot;: \&quot;Hat\&quot;, \&quot;orderCustomId\&quot;: 123 } ] &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :description A description of the purchase
    # @option opts [String] :currency_type Determines the method of purchasing offer.  * VOID: used for when there is no payment involved (ie. for updating the status of a purchase order)  * CASH: use card on file  * POINTS: use account balance  * TICKETS: use tickets  * REFUND: not allowed for a create, requires a paymentTransactionId.  * CREDIT: add to the account balance  * RELOAD: charge a credit card then add to the account balance   (default to 'CASH')
    # @option opts [Integer] :payment_method_id Use a specific payment method (CASH), if not provided use default
    # @option opts [String] :external_order_id Store identifier from external system
    # @option opts [String] :external_payment_id Store identifier from external system
    # @option opts [String] :remote_ref_type Remote Reference type
    # @option opts [Integer] :external_date External Date
    # @option opts [String] :promo_code The Promo Code
    # @return [Array<(OrderResponse, Integer, Hash)>] OrderResponse data, response status code and response headers
    def create_order_with_http_info(version, app_key, cart, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.create_order ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PurchaseOrderApi.create_order"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling PurchaseOrderApi.create_order"
      end
      # verify the required parameter 'cart' is set
      if @api_client.config.client_side_validation && cart.nil?
        fail ArgumentError, "Missing the required parameter 'cart' when calling PurchaseOrderApi.create_order"
      end
      allowable_values = ["VOID", "CASH", "POINTS", "TICKETS", "REFUND", "CREDIT", "RELOAD"]
      if @api_client.config.client_side_validation && opts[:'currency_type'] && !allowable_values.include?(opts[:'currency_type'])
        fail ArgumentError, "invalid value for \"currency_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/order/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'cart'] = cart
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'currencyType'] = opts[:'currency_type'] if !opts[:'currency_type'].nil?
      query_params[:'paymentMethodId'] = opts[:'payment_method_id'] if !opts[:'payment_method_id'].nil?
      query_params[:'externalOrderId'] = opts[:'external_order_id'] if !opts[:'external_order_id'].nil?
      query_params[:'externalPaymentId'] = opts[:'external_payment_id'] if !opts[:'external_payment_id'].nil?
      query_params[:'remoteRefType'] = opts[:'remote_ref_type'] if !opts[:'remote_ref_type'].nil?
      query_params[:'externalDate'] = opts[:'external_date'] if !opts[:'external_date'].nil?
      query_params[:'promoCode'] = opts[:'promo_code'] if !opts[:'promo_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.create_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#create_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Order
    # Removes the transaction from the wallet by setting the deleted date to the current date/time.  Requires a valid account and transactionId.
    # @param version [Float] 
    # @param order_id [Integer] Order Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [SirqulResponse]
    def delete_order(version, order_id, opts = {})
      data, _status_code, _headers = delete_order_with_http_info(version, order_id, opts)
      data
    end

    # Delete Order
    # Removes the transaction from the wallet by setting the deleted date to the current date/time.  Requires a valid account and transactionId.
    # @param version [Float] 
    # @param order_id [Integer] Order Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_order_with_http_info(version, order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.delete_order ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PurchaseOrderApi.delete_order"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling PurchaseOrderApi.delete_order"
      end
      # resource path
      local_var_path = '/api/{version}/order/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'orderId'] = order_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.delete_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#delete_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Order
    # Get an order record
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :order_id The order id to get details of, either orderId or externalOrderId must be provided
    # @option opts [String] :external_order_id The external order id to get details of, either orderId or externalOrderId must be provided
    # @return [OrderResponse]
    def get_order(version, opts = {})
      data, _status_code, _headers = get_order_with_http_info(version, opts)
      data
    end

    # Get Order
    # Get an order record
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :order_id The order id to get details of, either orderId or externalOrderId must be provided
    # @option opts [String] :external_order_id The external order id to get details of, either orderId or externalOrderId must be provided
    # @return [Array<(OrderResponse, Integer, Hash)>] OrderResponse data, response status code and response headers
    def get_order_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.get_order ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PurchaseOrderApi.get_order"
      end
      # resource path
      local_var_path = '/api/{version}/order/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'orderId'] = opts[:'order_id'] if !opts[:'order_id'].nil?
      query_params[:'externalOrderId'] = opts[:'external_order_id'] if !opts[:'external_order_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.get_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#get_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview Order
    # Previews a purchase to see the total cost before making it.
    # @param version [Float] 
    # @param app_key [String] The application requesting the purchase
    # @param cart [String] A JSON list of items to purchase
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :description A description of the purchase
    # @option opts [String] :currency_type Determines the method of purchasing offer. &#x60;&#x60;&#x60;json {   \&quot;VOID\&quot;: \&quot;used for when there is no payment involved (ie. for updating the status of a purchase order)\&quot;,   \&quot;CASH\&quot;: \&quot;use card on file\&quot;,   \&quot;POINTS\&quot;: \&quot;use account balance\&quot;,   \&quot;TICKETS\&quot;: \&quot;use tickets\&quot;,   \&quot;REFUND\&quot;: \&quot;not allowed for a create, requires a paymentTransactionId\&quot;,   \&quot;CREDIT\&quot;: \&quot;add to the account balance\&quot;,   \&quot;RELOAD\&quot;: \&quot;charge a credit card then add to the account balance\&quot; } &#x60;&#x60;&#x60;  (default to 'CASH')
    # @option opts [Integer] :payment_method_id Use a specific payment method (CASH), if not provided use default
    # @option opts [String] :external_order_id Store identifier from external system
    # @option opts [String] :external_payment_id Store identifier from external system
    # @option opts [String] :remote_ref_type Remote Reference type
    # @option opts [Integer] :external_date External Date
    # @option opts [String] :promo_code The Promo Code
    # @return [OrderResponse]
    def preview_order(version, app_key, cart, opts = {})
      data, _status_code, _headers = preview_order_with_http_info(version, app_key, cart, opts)
      data
    end

    # Preview Order
    # Previews a purchase to see the total cost before making it.
    # @param version [Float] 
    # @param app_key [String] The application requesting the purchase
    # @param cart [String] A JSON list of items to purchase
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :description A description of the purchase
    # @option opts [String] :currency_type Determines the method of purchasing offer. &#x60;&#x60;&#x60;json {   \&quot;VOID\&quot;: \&quot;used for when there is no payment involved (ie. for updating the status of a purchase order)\&quot;,   \&quot;CASH\&quot;: \&quot;use card on file\&quot;,   \&quot;POINTS\&quot;: \&quot;use account balance\&quot;,   \&quot;TICKETS\&quot;: \&quot;use tickets\&quot;,   \&quot;REFUND\&quot;: \&quot;not allowed for a create, requires a paymentTransactionId\&quot;,   \&quot;CREDIT\&quot;: \&quot;add to the account balance\&quot;,   \&quot;RELOAD\&quot;: \&quot;charge a credit card then add to the account balance\&quot; } &#x60;&#x60;&#x60;  (default to 'CASH')
    # @option opts [Integer] :payment_method_id Use a specific payment method (CASH), if not provided use default
    # @option opts [String] :external_order_id Store identifier from external system
    # @option opts [String] :external_payment_id Store identifier from external system
    # @option opts [String] :remote_ref_type Remote Reference type
    # @option opts [Integer] :external_date External Date
    # @option opts [String] :promo_code The Promo Code
    # @return [Array<(OrderResponse, Integer, Hash)>] OrderResponse data, response status code and response headers
    def preview_order_with_http_info(version, app_key, cart, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.preview_order ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PurchaseOrderApi.preview_order"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling PurchaseOrderApi.preview_order"
      end
      # verify the required parameter 'cart' is set
      if @api_client.config.client_side_validation && cart.nil?
        fail ArgumentError, "Missing the required parameter 'cart' when calling PurchaseOrderApi.preview_order"
      end
      allowable_values = ["VOID", "CASH", "POINTS", "TICKETS", "REFUND", "CREDIT", "RELOAD"]
      if @api_client.config.client_side_validation && opts[:'currency_type'] && !allowable_values.include?(opts[:'currency_type'])
        fail ArgumentError, "invalid value for \"currency_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/order/preview'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'cart'] = cart
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'currencyType'] = opts[:'currency_type'] if !opts[:'currency_type'].nil?
      query_params[:'paymentMethodId'] = opts[:'payment_method_id'] if !opts[:'payment_method_id'].nil?
      query_params[:'externalOrderId'] = opts[:'external_order_id'] if !opts[:'external_order_id'].nil?
      query_params[:'externalPaymentId'] = opts[:'external_payment_id'] if !opts[:'external_payment_id'].nil?
      query_params[:'remoteRefType'] = opts[:'remote_ref_type'] if !opts[:'remote_ref_type'].nil?
      query_params[:'externalDate'] = opts[:'external_date'] if !opts[:'external_date'].nil?
      query_params[:'promoCode'] = opts[:'promo_code'] if !opts[:'promo_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.preview_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#preview_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Orders
    # Search on active orders by customer
    # @param version [Float] 
    # @param app_key [String] The application requesting the purchase
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @option opts [Boolean] :descending Determines whether to return the resulting list in descending or ascending order (default to true)
    # @option opts [Boolean] :active_only Only return active orders (default to false)
    # @option opts [Boolean] :ignore_customer_filter Determines whether to ignore the customer filter (requires an Admin/Exec account) (default to false)
    # @option opts [String] :order_item_types Filter results by orderItemTypes
    # @option opts [String] :order_item_ids Filter results by orderItemIds
    # @option opts [String] :order_custom_types Filter results by orderCustomTypes
    # @option opts [String] :order_custom_ids Filter results by orderCustomIds
    # @option opts [String] :sort_field Determines what to sort the results by (default to 'ID')
    # @option opts [String] :offer_types Filter results by offer type
    # @option opts [String] :special_offer_types Filter results by special offer type
    # @option opts [String] :category_ids Filter results by category Ids
    # @option opts [String] :filter_ids Filter results by filter Ids
    # @option opts [String] :offer_audience_ids Filter results by offer audience Ids
    # @option opts [String] :transaction_audience_ids Filter results by transaction audience Ids
    # @option opts [String] :offer_ids Filter results by offer Ids
    # @option opts [String] :offer_location_ids Filter results by offer location Ids
    # @option opts [String] :retailer_ids Filter results by retailer Ids
    # @option opts [String] :retailer_location_ids Filter results by retailer location Ids
    # @option opts [String] :statuses Filter results by offer transaction status (0: non-redeemable, 1: redeemable, 2: redeemed, 3: user deleted, 4: unclaimed/rewarded, 5: membership active, 6: membership cancelled)
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :redeemable_start_date Filter results by the offer redeemable date
    # @option opts [Integer] :redeemable_end_date Filter results by the offer redeemable date
    # @option opts [Integer] :started_since Filter results by the offer start date
    # @option opts [Integer] :started_before Filter results by the offer start date
    # @option opts [Integer] :ended_since Filter results by the offer end date
    # @option opts [Integer] :ended_before Filter results by the offer end date
    # @return [Array<OrderResponse>]
    def search_orders(version, app_key, opts = {})
      data, _status_code, _headers = search_orders_with_http_info(version, app_key, opts)
      data
    end

    # Search Orders
    # Search on active orders by customer
    # @param version [Float] 
    # @param app_key [String] The application requesting the purchase
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @option opts [Boolean] :descending Determines whether to return the resulting list in descending or ascending order (default to true)
    # @option opts [Boolean] :active_only Only return active orders (default to false)
    # @option opts [Boolean] :ignore_customer_filter Determines whether to ignore the customer filter (requires an Admin/Exec account) (default to false)
    # @option opts [String] :order_item_types Filter results by orderItemTypes
    # @option opts [String] :order_item_ids Filter results by orderItemIds
    # @option opts [String] :order_custom_types Filter results by orderCustomTypes
    # @option opts [String] :order_custom_ids Filter results by orderCustomIds
    # @option opts [String] :sort_field Determines what to sort the results by (default to 'ID')
    # @option opts [String] :offer_types Filter results by offer type
    # @option opts [String] :special_offer_types Filter results by special offer type
    # @option opts [String] :category_ids Filter results by category Ids
    # @option opts [String] :filter_ids Filter results by filter Ids
    # @option opts [String] :offer_audience_ids Filter results by offer audience Ids
    # @option opts [String] :transaction_audience_ids Filter results by transaction audience Ids
    # @option opts [String] :offer_ids Filter results by offer Ids
    # @option opts [String] :offer_location_ids Filter results by offer location Ids
    # @option opts [String] :retailer_ids Filter results by retailer Ids
    # @option opts [String] :retailer_location_ids Filter results by retailer location Ids
    # @option opts [String] :statuses Filter results by offer transaction status (0: non-redeemable, 1: redeemable, 2: redeemed, 3: user deleted, 4: unclaimed/rewarded, 5: membership active, 6: membership cancelled)
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :redeemable_start_date Filter results by the offer redeemable date
    # @option opts [Integer] :redeemable_end_date Filter results by the offer redeemable date
    # @option opts [Integer] :started_since Filter results by the offer start date
    # @option opts [Integer] :started_before Filter results by the offer start date
    # @option opts [Integer] :ended_since Filter results by the offer end date
    # @option opts [Integer] :ended_before Filter results by the offer end date
    # @return [Array<(Array<OrderResponse>, Integer, Hash)>] Array<OrderResponse> data, response status code and response headers
    def search_orders_with_http_info(version, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.search_orders ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PurchaseOrderApi.search_orders"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling PurchaseOrderApi.search_orders"
      end
      # resource path
      local_var_path = '/api/{version}/order/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'ignoreCustomerFilter'] = opts[:'ignore_customer_filter'] if !opts[:'ignore_customer_filter'].nil?
      query_params[:'orderItemTypes'] = opts[:'order_item_types'] if !opts[:'order_item_types'].nil?
      query_params[:'orderItemIds'] = opts[:'order_item_ids'] if !opts[:'order_item_ids'].nil?
      query_params[:'orderCustomTypes'] = opts[:'order_custom_types'] if !opts[:'order_custom_types'].nil?
      query_params[:'orderCustomIds'] = opts[:'order_custom_ids'] if !opts[:'order_custom_ids'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'offerTypes'] = opts[:'offer_types'] if !opts[:'offer_types'].nil?
      query_params[:'specialOfferTypes'] = opts[:'special_offer_types'] if !opts[:'special_offer_types'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'offerAudienceIds'] = opts[:'offer_audience_ids'] if !opts[:'offer_audience_ids'].nil?
      query_params[:'transactionAudienceIds'] = opts[:'transaction_audience_ids'] if !opts[:'transaction_audience_ids'].nil?
      query_params[:'offerIds'] = opts[:'offer_ids'] if !opts[:'offer_ids'].nil?
      query_params[:'offerLocationIds'] = opts[:'offer_location_ids'] if !opts[:'offer_location_ids'].nil?
      query_params[:'retailerIds'] = opts[:'retailer_ids'] if !opts[:'retailer_ids'].nil?
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'statuses'] = opts[:'statuses'] if !opts[:'statuses'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'redeemableStartDate'] = opts[:'redeemable_start_date'] if !opts[:'redeemable_start_date'].nil?
      query_params[:'redeemableEndDate'] = opts[:'redeemable_end_date'] if !opts[:'redeemable_end_date'].nil?
      query_params[:'startedSince'] = opts[:'started_since'] if !opts[:'started_since'].nil?
      query_params[:'startedBefore'] = opts[:'started_before'] if !opts[:'started_before'].nil?
      query_params[:'endedSince'] = opts[:'ended_since'] if !opts[:'ended_since'].nil?
      query_params[:'endedBefore'] = opts[:'ended_before'] if !opts[:'ended_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OrderResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.search_orders",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#search_orders\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Order
    # Updates new purchase with some number of items associated with it. The orderId provided is used to retrieve the record and the payment is added to it.
    # @param version [Float] 
    # @param order_id [Integer] The order to add the purchase to, leave null for new order.
    # @param app_key [String] The application requesting the purchase
    # @param cart [String] &#x60;&#x60;&#x60;json [   { \&quot;orderItemType\&quot;: \&quot;OFFER\&quot;, \&quot;orderItemId\&quot;: 234, \&quot;orderCustomType\&quot;: \&quot;OfferLocation\&quot;, \&quot;orderCustomId\&quot;: 123, \&quot;retailerLocationId\&quot;: 1234, \&quot;quantity\&quot;: 2 },   { \&quot;orderItemType\&quot;: \&quot;OFFER\&quot;, \&quot;orderItemId\&quot;: 235, \&quot;quantity\&quot;: 2 },   { \&quot;orderItemType\&quot;: \&quot;CUSTOM\&quot;, \&quot;amount\&quot;: 10.50, \&quot;orderCustomType\&quot;: \&quot;ServiceFee\&quot; },   { \&quot;orderItemType\&quot;: \&quot;CUSTOM\&quot;, \&quot;amount\&quot;: 25.10, \&quot;quantity\&quot;: 2, \&quot;orderCustomType\&quot;: \&quot;Hat\&quot;, \&quot;orderCustomId\&quot;: 123 } ] &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :payment_transaction_id The payment transaction to apply the refund to
    # @option opts [String] :description A description of the purchase
    # @option opts [String] :currency_type Determines the method of purchasing offer.  * VOID: used for when there is no payment involved (ie. for updating the status of a purchase order)  * CASH: use card on file  * POINTS: use account balance  * TICKETS: use tickets  * REFUND: not allowed for a create, requires a paymentTransactionId.  * CREDIT: add to the account balance  * RELOAD: charge a credit card then add to the account balance   (default to 'CASH')
    # @option opts [Integer] :payment_method_id Use a specific payment method (CASH), if not provided use default
    # @option opts [String] :external_payment_id Store identifier from external system
    # @option opts [Integer] :external_date External Date
    # @return [OrderResponse]
    def update_order(version, order_id, app_key, cart, opts = {})
      data, _status_code, _headers = update_order_with_http_info(version, order_id, app_key, cart, opts)
      data
    end

    # Update Order
    # Updates new purchase with some number of items associated with it. The orderId provided is used to retrieve the record and the payment is added to it.
    # @param version [Float] 
    # @param order_id [Integer] The order to add the purchase to, leave null for new order.
    # @param app_key [String] The application requesting the purchase
    # @param cart [String] &#x60;&#x60;&#x60;json [   { \&quot;orderItemType\&quot;: \&quot;OFFER\&quot;, \&quot;orderItemId\&quot;: 234, \&quot;orderCustomType\&quot;: \&quot;OfferLocation\&quot;, \&quot;orderCustomId\&quot;: 123, \&quot;retailerLocationId\&quot;: 1234, \&quot;quantity\&quot;: 2 },   { \&quot;orderItemType\&quot;: \&quot;OFFER\&quot;, \&quot;orderItemId\&quot;: 235, \&quot;quantity\&quot;: 2 },   { \&quot;orderItemType\&quot;: \&quot;CUSTOM\&quot;, \&quot;amount\&quot;: 10.50, \&quot;orderCustomType\&quot;: \&quot;ServiceFee\&quot; },   { \&quot;orderItemType\&quot;: \&quot;CUSTOM\&quot;, \&quot;amount\&quot;: 25.10, \&quot;quantity\&quot;: 2, \&quot;orderCustomType\&quot;: \&quot;Hat\&quot;, \&quot;orderCustomId\&quot;: 123 } ] &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :payment_transaction_id The payment transaction to apply the refund to
    # @option opts [String] :description A description of the purchase
    # @option opts [String] :currency_type Determines the method of purchasing offer.  * VOID: used for when there is no payment involved (ie. for updating the status of a purchase order)  * CASH: use card on file  * POINTS: use account balance  * TICKETS: use tickets  * REFUND: not allowed for a create, requires a paymentTransactionId.  * CREDIT: add to the account balance  * RELOAD: charge a credit card then add to the account balance   (default to 'CASH')
    # @option opts [Integer] :payment_method_id Use a specific payment method (CASH), if not provided use default
    # @option opts [String] :external_payment_id Store identifier from external system
    # @option opts [Integer] :external_date External Date
    # @return [Array<(OrderResponse, Integer, Hash)>] OrderResponse data, response status code and response headers
    def update_order_with_http_info(version, order_id, app_key, cart, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderApi.update_order ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling PurchaseOrderApi.update_order"
      end
      # verify the required parameter 'order_id' is set
      if @api_client.config.client_side_validation && order_id.nil?
        fail ArgumentError, "Missing the required parameter 'order_id' when calling PurchaseOrderApi.update_order"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling PurchaseOrderApi.update_order"
      end
      # verify the required parameter 'cart' is set
      if @api_client.config.client_side_validation && cart.nil?
        fail ArgumentError, "Missing the required parameter 'cart' when calling PurchaseOrderApi.update_order"
      end
      allowable_values = ["VOID", "CASH", "POINTS", "TICKETS", "REFUND", "CREDIT", "RELOAD"]
      if @api_client.config.client_side_validation && opts[:'currency_type'] && !allowable_values.include?(opts[:'currency_type'])
        fail ArgumentError, "invalid value for \"currency_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/order/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'orderId'] = order_id
      query_params[:'appKey'] = app_key
      query_params[:'cart'] = cart
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'paymentTransactionId'] = opts[:'payment_transaction_id'] if !opts[:'payment_transaction_id'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'currencyType'] = opts[:'currency_type'] if !opts[:'currency_type'].nil?
      query_params[:'paymentMethodId'] = opts[:'payment_method_id'] if !opts[:'payment_method_id'].nil?
      query_params[:'externalPaymentId'] = opts[:'external_payment_id'] if !opts[:'external_payment_id'].nil?
      query_params[:'externalDate'] = opts[:'external_date'] if !opts[:'external_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrderResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"PurchaseOrderApi.update_order",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderApi#update_order\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
