=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class QuestionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Question
    # Create a question and related answers by the given params.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param question [String] the text of the question
    # @param answers [String] &#x60;&#x60;&#x60;json [   {     \&quot;text\&quot;: \&quot;1942\&quot;,     \&quot;image\&quot;: 123,     \&quot;videoURL\&quot;: \&quot;http://www.here.com\&quot;,     \&quot;correct\&quot;: true   },   {     \&quot;text\&quot;: \&quot;1943\&quot;,     \&quot;image\&quot;: 124,     \&quot;videoURL\&quot;: \&quot;http://www.there.com\&quot;,     \&quot;correct\&quot;: false   } ] &#x60;&#x60;&#x60; 
    # @param active [Boolean] If true set the question to active. Default to false.
    # @param allocate_tickets [Boolean] If true then scoring will give tickets. Default to false.
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tags The tags of the question for search.
    # @option opts [String] :video_url The video link for the question.
    # @option opts [Integer] :asset_id The asset id of the question.
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @return [QuestionResponse]
    def create_question(version, account_id, question, answers, active, allocate_tickets, ticket_count, opts = {})
      data, _status_code, _headers = create_question_with_http_info(version, account_id, question, answers, active, allocate_tickets, ticket_count, opts)
      data
    end

    # Create Question
    # Create a question and related answers by the given params.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param question [String] the text of the question
    # @param answers [String] &#x60;&#x60;&#x60;json [   {     \&quot;text\&quot;: \&quot;1942\&quot;,     \&quot;image\&quot;: 123,     \&quot;videoURL\&quot;: \&quot;http://www.here.com\&quot;,     \&quot;correct\&quot;: true   },   {     \&quot;text\&quot;: \&quot;1943\&quot;,     \&quot;image\&quot;: 124,     \&quot;videoURL\&quot;: \&quot;http://www.there.com\&quot;,     \&quot;correct\&quot;: false   } ] &#x60;&#x60;&#x60; 
    # @param active [Boolean] If true set the question to active. Default to false.
    # @param allocate_tickets [Boolean] If true then scoring will give tickets. Default to false.
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tags The tags of the question for search.
    # @option opts [String] :video_url The video link for the question.
    # @option opts [Integer] :asset_id The asset id of the question.
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @return [Array<(QuestionResponse, Integer, Hash)>] QuestionResponse data, response status code and response headers
    def create_question_with_http_info(version, account_id, question, answers, active, allocate_tickets, ticket_count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuestionApi.create_question ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling QuestionApi.create_question"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling QuestionApi.create_question"
      end
      # verify the required parameter 'question' is set
      if @api_client.config.client_side_validation && question.nil?
        fail ArgumentError, "Missing the required parameter 'question' when calling QuestionApi.create_question"
      end
      # verify the required parameter 'answers' is set
      if @api_client.config.client_side_validation && answers.nil?
        fail ArgumentError, "Missing the required parameter 'answers' when calling QuestionApi.create_question"
      end
      # verify the required parameter 'active' is set
      if @api_client.config.client_side_validation && active.nil?
        fail ArgumentError, "Missing the required parameter 'active' when calling QuestionApi.create_question"
      end
      # verify the required parameter 'allocate_tickets' is set
      if @api_client.config.client_side_validation && allocate_tickets.nil?
        fail ArgumentError, "Missing the required parameter 'allocate_tickets' when calling QuestionApi.create_question"
      end
      # verify the required parameter 'ticket_count' is set
      if @api_client.config.client_side_validation && ticket_count.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_count' when calling QuestionApi.create_question"
      end
      # resource path
      local_var_path = '/api/{version}/game/question/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'question'] = question
      query_params[:'answers'] = answers
      query_params[:'active'] = active
      query_params[:'allocateTickets'] = allocate_tickets
      query_params[:'ticketCount'] = ticket_count
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'videoURL'] = opts[:'video_url'] if !opts[:'video_url'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QuestionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuestionApi.create_question",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuestionApi#create_question\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Question
    # Delete a question by the given questionId. The accountId given needs to be the owner or executive to delete.
    # @param version [Float] 
    # @param question_id [Integer] the id of the question to delete
    # @param account_id [Integer] the id of the account that can execute this request
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_question(version, question_id, account_id, opts = {})
      data, _status_code, _headers = delete_question_with_http_info(version, question_id, account_id, opts)
      data
    end

    # Delete Question
    # Delete a question by the given questionId. The accountId given needs to be the owner or executive to delete.
    # @param version [Float] 
    # @param question_id [Integer] the id of the question to delete
    # @param account_id [Integer] the id of the account that can execute this request
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_question_with_http_info(version, question_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuestionApi.delete_question ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling QuestionApi.delete_question"
      end
      # verify the required parameter 'question_id' is set
      if @api_client.config.client_side_validation && question_id.nil?
        fail ArgumentError, "Missing the required parameter 'question_id' when calling QuestionApi.delete_question"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling QuestionApi.delete_question"
      end
      # resource path
      local_var_path = '/api/{version}/game/question/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'questionId'] = question_id
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuestionApi.delete_question",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuestionApi#delete_question\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Question
    # Get a question by the given id.
    # @param version [Float] 
    # @param question_id [Integer] the id of the question to get
    # @param account_id [Integer] the id of the account that can make this request
    # @param [Hash] opts the optional parameters
    # @return [QuestionResponse]
    def get_question(version, question_id, account_id, opts = {})
      data, _status_code, _headers = get_question_with_http_info(version, question_id, account_id, opts)
      data
    end

    # Get Question
    # Get a question by the given id.
    # @param version [Float] 
    # @param question_id [Integer] the id of the question to get
    # @param account_id [Integer] the id of the account that can make this request
    # @param [Hash] opts the optional parameters
    # @return [Array<(QuestionResponse, Integer, Hash)>] QuestionResponse data, response status code and response headers
    def get_question_with_http_info(version, question_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuestionApi.get_question ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling QuestionApi.get_question"
      end
      # verify the required parameter 'question_id' is set
      if @api_client.config.client_side_validation && question_id.nil?
        fail ArgumentError, "Missing the required parameter 'question_id' when calling QuestionApi.get_question"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling QuestionApi.get_question"
      end
      # resource path
      local_var_path = '/api/{version}/game/question/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'questionId'] = question_id
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QuestionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuestionApi.get_question",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuestionApi#get_question\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Questions
    # Search for questions by the given params.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param sort_field [String] The column to sort the search on
    # @param descending [Boolean] The order to return the search results
    # @param active_only [Boolean] Return only active results if set to true.
    # @param start [Integer] The record to begin the return set on.
    # @param limit [Integer] The number of records to return.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword for searching questions with matching tags or question text.
    # @return [Array<QuestionResponse>]
    def search_questions(version, account_id, sort_field, descending, active_only, start, limit, opts = {})
      data, _status_code, _headers = search_questions_with_http_info(version, account_id, sort_field, descending, active_only, start, limit, opts)
      data
    end

    # Search Questions
    # Search for questions by the given params.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param sort_field [String] The column to sort the search on
    # @param descending [Boolean] The order to return the search results
    # @param active_only [Boolean] Return only active results if set to true.
    # @param start [Integer] The record to begin the return set on.
    # @param limit [Integer] The number of records to return.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword for searching questions with matching tags or question text.
    # @return [Array<(Array<QuestionResponse>, Integer, Hash)>] Array<QuestionResponse> data, response status code and response headers
    def search_questions_with_http_info(version, account_id, sort_field, descending, active_only, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuestionApi.search_questions ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling QuestionApi.search_questions"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling QuestionApi.search_questions"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling QuestionApi.search_questions"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling QuestionApi.search_questions"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling QuestionApi.search_questions"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling QuestionApi.search_questions"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling QuestionApi.search_questions"
      end
      # resource path
      local_var_path = '/api/{version}/game/question/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'activeOnly'] = active_only
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<QuestionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuestionApi.search_questions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuestionApi#search_questions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Question
    # Update a question and related answers.
    # @param version [Float] 
    # @param question_id [Integer] The id of the question to update.
    # @param account_id [Integer] The logged in user.
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question The text of the question.
    # @option opts [String] :answers The json representations of answers for the question.
    # @option opts [String] :tags The tags of the question for search.
    # @option opts [String] :video_url The video link for the question.
    # @option opts [Integer] :asset_id The asset id of the question.
    # @option opts [Boolean] :active If true set the question to active.
    # @option opts [Boolean] :allocate_tickets If true then scoring will give tickets.
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @return [QuestionResponse]
    def update_question(version, question_id, account_id, ticket_count, opts = {})
      data, _status_code, _headers = update_question_with_http_info(version, question_id, account_id, ticket_count, opts)
      data
    end

    # Update Question
    # Update a question and related answers.
    # @param version [Float] 
    # @param question_id [Integer] The id of the question to update.
    # @param account_id [Integer] The logged in user.
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :question The text of the question.
    # @option opts [String] :answers The json representations of answers for the question.
    # @option opts [String] :tags The tags of the question for search.
    # @option opts [String] :video_url The video link for the question.
    # @option opts [Integer] :asset_id The asset id of the question.
    # @option opts [Boolean] :active If true set the question to active.
    # @option opts [Boolean] :allocate_tickets If true then scoring will give tickets.
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @return [Array<(QuestionResponse, Integer, Hash)>] QuestionResponse data, response status code and response headers
    def update_question_with_http_info(version, question_id, account_id, ticket_count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: QuestionApi.update_question ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling QuestionApi.update_question"
      end
      # verify the required parameter 'question_id' is set
      if @api_client.config.client_side_validation && question_id.nil?
        fail ArgumentError, "Missing the required parameter 'question_id' when calling QuestionApi.update_question"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling QuestionApi.update_question"
      end
      # verify the required parameter 'ticket_count' is set
      if @api_client.config.client_side_validation && ticket_count.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_count' when calling QuestionApi.update_question"
      end
      # resource path
      local_var_path = '/api/{version}/game/question/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'questionId'] = question_id
      query_params[:'accountId'] = account_id
      query_params[:'ticketCount'] = ticket_count
      query_params[:'question'] = opts[:'question'] if !opts[:'question'].nil?
      query_params[:'answers'] = opts[:'answers'] if !opts[:'answers'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'videoURL'] = opts[:'video_url'] if !opts[:'video_url'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'allocateTickets'] = opts[:'allocate_tickets'] if !opts[:'allocate_tickets'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'QuestionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"QuestionApi.update_question",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: QuestionApi#update_question\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
