=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class RankingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search Historical Rankings
    # Get historical leaderboard rankings by time-frame.
    # @param app_key [String] the application key for filtering results by application
    # @param rank_type [String] the rank type to return
    # @param start_date [Integer] timestamp in milliseconds to filter results with
    # @param end_date [Integer] timestamp in milliseconds to filter results with
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL, MONTHLY, WEEKLY, DAILY, TOP, LOWEST (default to 'TOTAL')
    # @option opts [Boolean] :descending determines whether to return results in ascending or descending order (default to true)
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :limit the limit for pagination (default to 100)
    # @return [RankFullResponse]
    def get_historical_rankings(app_key, rank_type, start_date, end_date, opts = {})
      data, _status_code, _headers = get_historical_rankings_with_http_info(app_key, rank_type, start_date, end_date, opts)
      data
    end

    # Search Historical Rankings
    # Get historical leaderboard rankings by time-frame.
    # @param app_key [String] the application key for filtering results by application
    # @param rank_type [String] the rank type to return
    # @param start_date [Integer] timestamp in milliseconds to filter results with
    # @param end_date [Integer] timestamp in milliseconds to filter results with
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL, MONTHLY, WEEKLY, DAILY, TOP, LOWEST (default to 'TOTAL')
    # @option opts [Boolean] :descending determines whether to return results in ascending or descending order (default to true)
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :limit the limit for pagination (default to 100)
    # @return [Array<(RankFullResponse, Integer, Hash)>] RankFullResponse data, response status code and response headers
    def get_historical_rankings_with_http_info(app_key, rank_type, start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RankingApi.get_historical_rankings ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling RankingApi.get_historical_rankings"
      end
      # verify the required parameter 'rank_type' is set
      if @api_client.config.client_side_validation && rank_type.nil?
        fail ArgumentError, "Missing the required parameter 'rank_type' when calling RankingApi.get_historical_rankings"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling RankingApi.get_historical_rankings"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling RankingApi.get_historical_rankings"
      end
      # resource path
      local_var_path = '/ranking/historical/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'rankType'] = rank_type
      query_params[:'startDate'] = start_date
      query_params[:'endDate'] = end_date
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RankFullResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RankingApi.get_historical_rankings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RankingApi#get_historical_rankings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Rankings
    # Get leader board rankings. This is an all in one endpoint that can return multiple ranking types and also the current user rank.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key for filtering results by application (required for non-EXECUTIVE users)
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword keyword to search for
    # @option opts [String] :rank_type a comma separated list of rank types to return. Possible default rank types: POINTS, DOWNLOADS, INVITATIONS (default to 'POINTS,DOWNLOADS,INVITATIONS')
    # @option opts [String] :leaderboard_mode the type of search to perform. Possible values include: GLOBAL - searches scores globally (all users in the system are included in the ranking) LOCAL - filters results by select users and on users that have logged into the same device CUSTOM - allows for custom filtering using the params: withinAccountIds, albumId, audienceId (default to 'GLOBAL')
    # @option opts [String] :within_account_ids comma separated list of account ids. If performing a LOCAL or CUSTOM search, the query will include these accounts.
    # @option opts [Boolean] :return_user_rank determines whether to return the user&#39;s current rank in the response. This can be turned off for sequential paginated requests. (default to true)
    # @option opts [Integer] :album_id album id to use when performing CUSTOM filters
    # @option opts [Integer] :audience_id audience id to use when performing CUSTOM filters
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL - order results by total score MONTHLY - order results by monthly score WEEKLY - order results by weekly score DAILY - order results by daily score TOP - order results by top score LOWEST - order results by lowest score (default to 'TOTAL')
    # @option opts [Boolean] :descending determines whether to return results in ascending or descending order (default to true)
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Integer] :limit the limit for pagination (default to 100)
    # @return [RankFullResponse]
    def get_rankings(opts = {})
      data, _status_code, _headers = get_rankings_with_http_info(opts)
      data
    end

    # Search Rankings
    # Get leader board rankings. This is an all in one endpoint that can return multiple ranking types and also the current user rank.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :game_type This parameter is deprecated.
    # @option opts [String] :app_key the application key for filtering results by application (required for non-EXECUTIVE users)
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword keyword to search for
    # @option opts [String] :rank_type a comma separated list of rank types to return. Possible default rank types: POINTS, DOWNLOADS, INVITATIONS (default to 'POINTS,DOWNLOADS,INVITATIONS')
    # @option opts [String] :leaderboard_mode the type of search to perform. Possible values include: GLOBAL - searches scores globally (all users in the system are included in the ranking) LOCAL - filters results by select users and on users that have logged into the same device CUSTOM - allows for custom filtering using the params: withinAccountIds, albumId, audienceId (default to 'GLOBAL')
    # @option opts [String] :within_account_ids comma separated list of account ids. If performing a LOCAL or CUSTOM search, the query will include these accounts.
    # @option opts [Boolean] :return_user_rank determines whether to return the user&#39;s current rank in the response. This can be turned off for sequential paginated requests. (default to true)
    # @option opts [Integer] :album_id album id to use when performing CUSTOM filters
    # @option opts [Integer] :audience_id audience id to use when performing CUSTOM filters
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL - order results by total score MONTHLY - order results by monthly score WEEKLY - order results by weekly score DAILY - order results by daily score TOP - order results by top score LOWEST - order results by lowest score (default to 'TOTAL')
    # @option opts [Boolean] :descending determines whether to return results in ascending or descending order (default to true)
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Integer] :limit the limit for pagination (default to 100)
    # @return [Array<(RankFullResponse, Integer, Hash)>] RankFullResponse data, response status code and response headers
    def get_rankings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RankingApi.get_rankings ...'
      end
      # resource path
      local_var_path = '/ranking/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?
      query_params[:'leaderboardMode'] = opts[:'leaderboard_mode'] if !opts[:'leaderboard_mode'].nil?
      query_params[:'withinAccountIds'] = opts[:'within_account_ids'] if !opts[:'within_account_ids'].nil?
      query_params[:'returnUserRank'] = opts[:'return_user_rank'] if !opts[:'return_user_rank'].nil?
      query_params[:'albumId'] = opts[:'album_id'] if !opts[:'album_id'].nil?
      query_params[:'audienceId'] = opts[:'audience_id'] if !opts[:'audience_id'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'_i'] = opts[:'_i'] if !opts[:'_i'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'_l'] = opts[:'_l'] if !opts[:'_l'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RankFullResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RankingApi.get_rankings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RankingApi#get_rankings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Personal Rankings
    # Returns the user's ranks for one or more rank types and modes.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user
    # @option opts [String] :app_key the application key for filtering results by application (required)
    # @option opts [String] :rank_type pass in all rankTypes and children rankTypes
    # @option opts [Boolean] :return_user_rank determines whether to return the user&#39;s current rank in the response, for each rankType (default to false)
    # @option opts [String] :leaderboard_mode the type of search to perform. Possible values include: GLOBAL, LOCAL, SEARCH, CUSTOM (default to 'GLOBAL')
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL, MONTHLY, WEEKLY, DAILY, TOP, LOWEST (default to 'TOTAL')
    # @option opts [String] :keyword keyword to search for (on rankType)
    # @option opts [Boolean] :descending determines whether to return results in descending order (default to true)
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :limit the limit for pagination (default to 100)
    # @return [Object]
    def get_user_rank(opts = {})
      data, _status_code, _headers = get_user_rank_with_http_info(opts)
      data
    end

    # Get Personal Rankings
    # Returns the user&#39;s ranks for one or more rank types and modes.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id a unique id given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user
    # @option opts [String] :app_key the application key for filtering results by application (required)
    # @option opts [String] :rank_type pass in all rankTypes and children rankTypes
    # @option opts [Boolean] :return_user_rank determines whether to return the user&#39;s current rank in the response, for each rankType (default to false)
    # @option opts [String] :leaderboard_mode the type of search to perform. Possible values include: GLOBAL, LOCAL, SEARCH, CUSTOM (default to 'GLOBAL')
    # @option opts [String] :sort_field determines how to order and rank the results. Possible values include: TOTAL, MONTHLY, WEEKLY, DAILY, TOP, LOWEST (default to 'TOTAL')
    # @option opts [String] :keyword keyword to search for (on rankType)
    # @option opts [Boolean] :descending determines whether to return results in descending order (default to true)
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :limit the limit for pagination (default to 100)
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_user_rank_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RankingApi.get_user_rank ...'
      end
      # resource path
      local_var_path = '/ranking/personal/ranks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'rankType'] = opts[:'rank_type'] if !opts[:'rank_type'].nil?
      query_params[:'returnUserRank'] = opts[:'return_user_rank'] if !opts[:'return_user_rank'].nil?
      query_params[:'leaderboardMode'] = opts[:'leaderboard_mode'] if !opts[:'leaderboard_mode'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RankingApi.get_user_rank",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RankingApi#get_user_rank\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Override User Rank
    # Allows an admin of an application to override a user's scores for a leaderboard.
    # @param account_id [Integer] the logged in user&#39;s account id (must have permissions to manage data for the application)
    # @param owner_account_id [Integer] the end user&#39;s account id to override
    # @param app_key [String] the application key the leaderboard is for
    # @param rank_type [String] the rankType of the leaderboard
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :total_score the total score to update
    # @option opts [Integer] :total_count the total count to update
    # @option opts [Integer] :total_time the total time to update
    # @option opts [Integer] :daily_score the daily score to update
    # @option opts [Integer] :daily_count the daily count to update
    # @option opts [Integer] :daily_time the daily time to update
    # @option opts [Integer] :weekly_score the weekly score to update
    # @option opts [Integer] :weekly_count the weekly count to update
    # @option opts [Integer] :weekly_time the weekly time to update
    # @option opts [Integer] :monthly_score the monthly score to update
    # @option opts [Integer] :monthly_count the monthly count to update
    # @option opts [Integer] :monthly_time the monthly time to update
    # @option opts [Integer] :top_score the top score to update
    # @option opts [Integer] :lowest_score the lowest score to update
    # @option opts [Integer] :streak_count the streak count to update
    # @option opts [Integer] :streak_best_count the best streak count to update
    # @option opts [Integer] :start_date the start date to update
    # @option opts [Integer] :end_date the end date to update
    # @return [SirqulResponse]
    def override_user_rank(account_id, owner_account_id, app_key, rank_type, opts = {})
      data, _status_code, _headers = override_user_rank_with_http_info(account_id, owner_account_id, app_key, rank_type, opts)
      data
    end

    # Override User Rank
    # Allows an admin of an application to override a user&#39;s scores for a leaderboard.
    # @param account_id [Integer] the logged in user&#39;s account id (must have permissions to manage data for the application)
    # @param owner_account_id [Integer] the end user&#39;s account id to override
    # @param app_key [String] the application key the leaderboard is for
    # @param rank_type [String] the rankType of the leaderboard
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :total_score the total score to update
    # @option opts [Integer] :total_count the total count to update
    # @option opts [Integer] :total_time the total time to update
    # @option opts [Integer] :daily_score the daily score to update
    # @option opts [Integer] :daily_count the daily count to update
    # @option opts [Integer] :daily_time the daily time to update
    # @option opts [Integer] :weekly_score the weekly score to update
    # @option opts [Integer] :weekly_count the weekly count to update
    # @option opts [Integer] :weekly_time the weekly time to update
    # @option opts [Integer] :monthly_score the monthly score to update
    # @option opts [Integer] :monthly_count the monthly count to update
    # @option opts [Integer] :monthly_time the monthly time to update
    # @option opts [Integer] :top_score the top score to update
    # @option opts [Integer] :lowest_score the lowest score to update
    # @option opts [Integer] :streak_count the streak count to update
    # @option opts [Integer] :streak_best_count the best streak count to update
    # @option opts [Integer] :start_date the start date to update
    # @option opts [Integer] :end_date the end date to update
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def override_user_rank_with_http_info(account_id, owner_account_id, app_key, rank_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RankingApi.override_user_rank ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling RankingApi.override_user_rank"
      end
      # verify the required parameter 'owner_account_id' is set
      if @api_client.config.client_side_validation && owner_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'owner_account_id' when calling RankingApi.override_user_rank"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling RankingApi.override_user_rank"
      end
      # verify the required parameter 'rank_type' is set
      if @api_client.config.client_side_validation && rank_type.nil?
        fail ArgumentError, "Missing the required parameter 'rank_type' when calling RankingApi.override_user_rank"
      end
      # resource path
      local_var_path = '/ranking/override'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'ownerAccountId'] = owner_account_id
      query_params[:'appKey'] = app_key
      query_params[:'rankType'] = rank_type
      query_params[:'totalScore'] = opts[:'total_score'] if !opts[:'total_score'].nil?
      query_params[:'totalCount'] = opts[:'total_count'] if !opts[:'total_count'].nil?
      query_params[:'totalTime'] = opts[:'total_time'] if !opts[:'total_time'].nil?
      query_params[:'dailyScore'] = opts[:'daily_score'] if !opts[:'daily_score'].nil?
      query_params[:'dailyCount'] = opts[:'daily_count'] if !opts[:'daily_count'].nil?
      query_params[:'dailyTime'] = opts[:'daily_time'] if !opts[:'daily_time'].nil?
      query_params[:'weeklyScore'] = opts[:'weekly_score'] if !opts[:'weekly_score'].nil?
      query_params[:'weeklyCount'] = opts[:'weekly_count'] if !opts[:'weekly_count'].nil?
      query_params[:'weeklyTime'] = opts[:'weekly_time'] if !opts[:'weekly_time'].nil?
      query_params[:'monthlyScore'] = opts[:'monthly_score'] if !opts[:'monthly_score'].nil?
      query_params[:'monthlyCount'] = opts[:'monthly_count'] if !opts[:'monthly_count'].nil?
      query_params[:'monthlyTime'] = opts[:'monthly_time'] if !opts[:'monthly_time'].nil?
      query_params[:'topScore'] = opts[:'top_score'] if !opts[:'top_score'].nil?
      query_params[:'lowestScore'] = opts[:'lowest_score'] if !opts[:'lowest_score'].nil?
      query_params[:'streakCount'] = opts[:'streak_count'] if !opts[:'streak_count'].nil?
      query_params[:'streakBestCount'] = opts[:'streak_best_count'] if !opts[:'streak_best_count'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RankingApi.override_user_rank",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RankingApi#override_user_rank\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Ranking
    # Update the rank value 
    # @param account_id [Integer] the account id of the user
    # @param app_key [String] the application key for filtering results by application
    # @param rank_type [String] a unique label for identifying the ranking. This can be any alphanumeric string (no spaces or special characters) with a maximum length of 64 characters. There are also default rank types to use which include: POINTS, DOWNLOADS, INVITATIONS, CREATIONS, VOTES, REDEEMED, ACTIONS
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :increment the value to increment (default to 1)
    # @option opts [Integer] :time_increment the time value to increment
    # @option opts [String] :tag the analytic tag for this achievement (used to validate scores)
    # @option opts [Integer] :start_date custom date you can save along with the score for the user
    # @option opts [Integer] :end_date custom date you can save along with the score for the user
    # @option opts [Boolean] :update_global update the global rankings if true, default is false
    # @option opts [Boolean] :create_leaderboard create the leaderboard if it does not exist (default false) (default to false)
    # @return [SirqulResponse]
    def update_rankings(account_id, app_key, rank_type, opts = {})
      data, _status_code, _headers = update_rankings_with_http_info(account_id, app_key, rank_type, opts)
      data
    end

    # Update Ranking
    # Update the rank value 
    # @param account_id [Integer] the account id of the user
    # @param app_key [String] the application key for filtering results by application
    # @param rank_type [String] a unique label for identifying the ranking. This can be any alphanumeric string (no spaces or special characters) with a maximum length of 64 characters. There are also default rank types to use which include: POINTS, DOWNLOADS, INVITATIONS, CREATIONS, VOTES, REDEEMED, ACTIONS
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :increment the value to increment (default to 1)
    # @option opts [Integer] :time_increment the time value to increment
    # @option opts [String] :tag the analytic tag for this achievement (used to validate scores)
    # @option opts [Integer] :start_date custom date you can save along with the score for the user
    # @option opts [Integer] :end_date custom date you can save along with the score for the user
    # @option opts [Boolean] :update_global update the global rankings if true, default is false
    # @option opts [Boolean] :create_leaderboard create the leaderboard if it does not exist (default false) (default to false)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def update_rankings_with_http_info(account_id, app_key, rank_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RankingApi.update_rankings ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling RankingApi.update_rankings"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling RankingApi.update_rankings"
      end
      # verify the required parameter 'rank_type' is set
      if @api_client.config.client_side_validation && rank_type.nil?
        fail ArgumentError, "Missing the required parameter 'rank_type' when calling RankingApi.update_rankings"
      end
      # resource path
      local_var_path = '/ranking/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'rankType'] = rank_type
      query_params[:'increment'] = opts[:'increment'] if !opts[:'increment'].nil?
      query_params[:'timeIncrement'] = opts[:'time_increment'] if !opts[:'time_increment'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'updateGlobal'] = opts[:'update_global'] if !opts[:'update_global'].nil?
      query_params[:'createLeaderboard'] = opts[:'create_leaderboard'] if !opts[:'create_leaderboard'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RankingApi.update_rankings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RankingApi#update_rankings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
