=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class RatingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Rating
    # This is used to leave rating on a ratable object (i.e. retailer locations). Each user can only rate on a ratable object once per category. If a user rates on the same object and category, the previous rating will be overwritten. Leaving a rating on a ratable object will be visible to everyone who has access to view the object.
    # @param version [Float] 
    # @param ratable_type [String] The ratable object type {RETAILER_LOCATION}
    # @param ratable_id [Integer] The id of the ratable object
    # @param rating_value [Integer] The integer value of 0-100
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :category_id 
    # @option opts [String] :display A subject title for the user rating (limited to 255 characters)
    # @option opts [String] :description The description of the rating
    # @option opts [String] :location_description The description of the location
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @return [RatingResponse]
    def create_rating(version, ratable_type, ratable_id, rating_value, opts = {})
      data, _status_code, _headers = create_rating_with_http_info(version, ratable_type, ratable_id, rating_value, opts)
      data
    end

    # Create Rating
    # This is used to leave rating on a ratable object (i.e. retailer locations). Each user can only rate on a ratable object once per category. If a user rates on the same object and category, the previous rating will be overwritten. Leaving a rating on a ratable object will be visible to everyone who has access to view the object.
    # @param version [Float] 
    # @param ratable_type [String] The ratable object type {RETAILER_LOCATION}
    # @param ratable_id [Integer] The id of the ratable object
    # @param rating_value [Integer] The integer value of 0-100
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :category_id 
    # @option opts [String] :display A subject title for the user rating (limited to 255 characters)
    # @option opts [String] :description The description of the rating
    # @option opts [String] :location_description The description of the location
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @return [Array<(RatingResponse, Integer, Hash)>] RatingResponse data, response status code and response headers
    def create_rating_with_http_info(version, ratable_type, ratable_id, rating_value, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatingApi.create_rating ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RatingApi.create_rating"
      end
      # verify the required parameter 'ratable_type' is set
      if @api_client.config.client_side_validation && ratable_type.nil?
        fail ArgumentError, "Missing the required parameter 'ratable_type' when calling RatingApi.create_rating"
      end
      # verify the required parameter 'ratable_id' is set
      if @api_client.config.client_side_validation && ratable_id.nil?
        fail ArgumentError, "Missing the required parameter 'ratable_id' when calling RatingApi.create_rating"
      end
      # verify the required parameter 'rating_value' is set
      if @api_client.config.client_side_validation && rating_value.nil?
        fail ArgumentError, "Missing the required parameter 'rating_value' when calling RatingApi.create_rating"
      end
      # resource path
      local_var_path = '/api/{version}/rating/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ratableType'] = ratable_type
      query_params[:'ratableId'] = ratable_id
      query_params[:'ratingValue'] = rating_value
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'categoryId'] = opts[:'category_id'] if !opts[:'category_id'].nil?
      query_params[:'display'] = opts[:'display'] if !opts[:'display'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'locationDescription'] = opts[:'location_description'] if !opts[:'location_description'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RatingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatingApi.create_rating",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatingApi#create_rating\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Rating
    # Sets a rating as deleted.
    # @param version [Float] 
    # @param rating_id [Integer] The ID of the rating to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @return [SirqulResponse]
    def delete_rating(version, rating_id, opts = {})
      data, _status_code, _headers = delete_rating_with_http_info(version, rating_id, opts)
      data
    end

    # Delete Rating
    # Sets a rating as deleted.
    # @param version [Float] 
    # @param rating_id [Integer] The ID of the rating to delete
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_rating_with_http_info(version, rating_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatingApi.delete_rating ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RatingApi.delete_rating"
      end
      # verify the required parameter 'rating_id' is set
      if @api_client.config.client_side_validation && rating_id.nil?
        fail ArgumentError, "Missing the required parameter 'rating_id' when calling RatingApi.delete_rating"
      end
      # resource path
      local_var_path = '/api/{version}/rating/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ratingId'] = rating_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatingApi.delete_rating",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatingApi#delete_rating\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Location Rating Indexes
    # Search for retailer locations by averages near you.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category_ids Comma separated list of category ids to filter the results by
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :location_type The type of location to filter the results by
    # @option opts [String] :sort_field The column to sort the search on {ID, CREATED, UPDATED, ACTIVE, RATABLE_TYPE, RATABLE_ID, RATABLE_DISPLAY, CATEGORY_ID, CATEGORY_NAME, CATEGORY_SHORT_NAME, CATEGORY_DISPLAY, COUNT, SUMMATION, AVERAGE, VALUE}
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @option opts [Float] :search_range The search radius in kilometers to filter results
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @option opts [Boolean] :return_overall_rating Determines whether to return the overall rating record instead
    # @option opts [String] :distance_unit 
    # @option opts [Boolean] :return_retailer whether to return the retailer or not
    # @option opts [Boolean] :return_assets whether to return the assets or not
    # @option opts [Boolean] :return_offers whether to return the offers or not
    # @option opts [Boolean] :return_categories whether to return the categories or not
    # @option opts [Boolean] :return_filters whether to return the filters or not
    # @return [Array<RatingIndexResponse>]
    def search_location_rating_indexes(version, opts = {})
      data, _status_code, _headers = search_location_rating_indexes_with_http_info(version, opts)
      data
    end

    # Search Location Rating Indexes
    # Search for retailer locations by averages near you.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :category_ids Comma separated list of category ids to filter the results by
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :location_type The type of location to filter the results by
    # @option opts [String] :sort_field The column to sort the search on {ID, CREATED, UPDATED, ACTIVE, RATABLE_TYPE, RATABLE_ID, RATABLE_DISPLAY, CATEGORY_ID, CATEGORY_NAME, CATEGORY_SHORT_NAME, CATEGORY_DISPLAY, COUNT, SUMMATION, AVERAGE, VALUE}
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @option opts [Float] :search_range The search radius in kilometers to filter results
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @option opts [Boolean] :return_overall_rating Determines whether to return the overall rating record instead
    # @option opts [String] :distance_unit 
    # @option opts [Boolean] :return_retailer whether to return the retailer or not
    # @option opts [Boolean] :return_assets whether to return the assets or not
    # @option opts [Boolean] :return_offers whether to return the offers or not
    # @option opts [Boolean] :return_categories whether to return the categories or not
    # @option opts [Boolean] :return_filters whether to return the filters or not
    # @return [Array<(Array<RatingIndexResponse>, Integer, Hash)>] Array<RatingIndexResponse> data, response status code and response headers
    def search_location_rating_indexes_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatingApi.search_location_rating_indexes ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RatingApi.search_location_rating_indexes"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "RATABLE_TYPE", "RATABLE_ID", "RATABLE_DISPLAY", "CATEGORY_ID", "CATEGORY_NAME", "CATEGORY_SHORT_NAME", "CATEGORY_DISPLAY", "COUNT", "SUMMATION", "AVERAGE", "VALUE"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      allowable_values = ["MILES", "KILOMETERS"]
      if @api_client.config.client_side_validation && opts[:'distance_unit'] && !allowable_values.include?(opts[:'distance_unit'])
        fail ArgumentError, "invalid value for \"distance_unit\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/location/rating/index/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'locationType'] = opts[:'location_type'] if !opts[:'location_type'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'searchRange'] = opts[:'search_range'] if !opts[:'search_range'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'returnOverallRating'] = opts[:'return_overall_rating'] if !opts[:'return_overall_rating'].nil?
      query_params[:'distanceUnit'] = opts[:'distance_unit'] if !opts[:'distance_unit'].nil?
      query_params[:'returnRetailer'] = opts[:'return_retailer'] if !opts[:'return_retailer'].nil?
      query_params[:'returnAssets'] = opts[:'return_assets'] if !opts[:'return_assets'].nil?
      query_params[:'returnOffers'] = opts[:'return_offers'] if !opts[:'return_offers'].nil?
      query_params[:'returnCategories'] = opts[:'return_categories'] if !opts[:'return_categories'].nil?
      query_params[:'returnFilters'] = opts[:'return_filters'] if !opts[:'return_filters'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RatingIndexResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatingApi.search_location_rating_indexes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatingApi#search_location_rating_indexes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Rating Indexes
    # Search for ratable items by averages.
    # @param version [Float] 
    # @param ratable_type [String] Filter results by a ratable type {RETAILER_LOCATION}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ratable_ids Comma separated list of ratable ids to filter the resuts by
    # @option opts [String] :category_ids Comma separated list of category ids to filter the results by
    # @option opts [String] :secondary_type 
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :sort_field The column to sort the search on {ID, CREATED, UPDATED, ACTIVE, RATABLE_TYPE, RATABLE_ID, RATABLE_DISPLAY, CATEGORY_ID, CATEGORY_NAME, CATEGORY_SHORT_NAME, CATEGORY_DISPLAY, COUNT, SUMMATION, AVERAGE, VALUE}
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @option opts [Float] :latitude 
    # @option opts [Float] :longitude 
    # @option opts [Boolean] :return_ratable Determines whether to return the ratable object in the response
    # @option opts [Boolean] :return_overall_rating Determines whether to return the overall rating record instead
    # @return [Array<RatingIndexResponse>]
    def search_rating_indexes(version, ratable_type, opts = {})
      data, _status_code, _headers = search_rating_indexes_with_http_info(version, ratable_type, opts)
      data
    end

    # Search Rating Indexes
    # Search for ratable items by averages.
    # @param version [Float] 
    # @param ratable_type [String] Filter results by a ratable type {RETAILER_LOCATION}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ratable_ids Comma separated list of ratable ids to filter the resuts by
    # @option opts [String] :category_ids Comma separated list of category ids to filter the results by
    # @option opts [String] :secondary_type 
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :sort_field The column to sort the search on {ID, CREATED, UPDATED, ACTIVE, RATABLE_TYPE, RATABLE_ID, RATABLE_DISPLAY, CATEGORY_ID, CATEGORY_NAME, CATEGORY_SHORT_NAME, CATEGORY_DISPLAY, COUNT, SUMMATION, AVERAGE, VALUE}
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @option opts [Float] :latitude 
    # @option opts [Float] :longitude 
    # @option opts [Boolean] :return_ratable Determines whether to return the ratable object in the response
    # @option opts [Boolean] :return_overall_rating Determines whether to return the overall rating record instead
    # @return [Array<(Array<RatingIndexResponse>, Integer, Hash)>] Array<RatingIndexResponse> data, response status code and response headers
    def search_rating_indexes_with_http_info(version, ratable_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatingApi.search_rating_indexes ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RatingApi.search_rating_indexes"
      end
      # verify the required parameter 'ratable_type' is set
      if @api_client.config.client_side_validation && ratable_type.nil?
        fail ArgumentError, "Missing the required parameter 'ratable_type' when calling RatingApi.search_rating_indexes"
      end
      # verify enum value
      allowable_values = ["LOCATABLE", "RESERVABLE", "PERMISSIONABLE", "NOTABLE", "ASSETABLE", "LIKABLE", "FLAGABLE", "FAVORITABLE", "RATABLE", "ALBUM", "COLLECTION", "APPLICATION", "APPLICATION_SETTING", "APPLICATION_CERT", "APPLICATION_PLACEMENT", "ACCOUNT", "ACCOUNT_SETTING", "GAME_LEVEL", "PACK", "MISSION", "TOURNAMENT", "ASSET", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "OFFER", "OFFER_LOCATION", "EVENT", "RETAILER", "RETAILER_LOCATION", "NOTE", "CREATIVE", "FAVORITE", "LIKE", "RATING", "ANALYTIC", "THIRD_PARTY_CREDENTIAL", "THIRD_PARTY_NETWORK", "REGION"]
      if @api_client.config.client_side_validation && !allowable_values.include?(ratable_type)
        fail ArgumentError, "invalid value for \"ratable_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "RATABLE_TYPE", "RATABLE_ID", "RATABLE_DISPLAY", "CATEGORY_ID", "CATEGORY_NAME", "CATEGORY_SHORT_NAME", "CATEGORY_DISPLAY", "COUNT", "SUMMATION", "AVERAGE", "VALUE"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/rating/index/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ratableType'] = ratable_type
      query_params[:'ratableIds'] = opts[:'ratable_ids'] if !opts[:'ratable_ids'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'secondaryType'] = opts[:'secondary_type'] if !opts[:'secondary_type'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'returnRatable'] = opts[:'return_ratable'] if !opts[:'return_ratable'].nil?
      query_params[:'returnOverallRating'] = opts[:'return_overall_rating'] if !opts[:'return_overall_rating'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RatingIndexResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatingApi.search_rating_indexes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatingApi#search_rating_indexes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Ratings
    # Search for ratings on a ratable object.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :filter_account_id Filter results for a particular account
    # @option opts [String] :ratable_type The ratable object type {RETAILER_LOCATION}
    # @option opts [Integer] :ratable_id The id of the ratable object
    # @option opts [String] :category_ids Comma separated list of category ids to filter the results by
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :sort_field The column to sort the search on {ID, CREATED, UPDATED, ACTIVE, OWNER_DISPLAY, RATABLE_TYPE, RATABLE_ID, RATABLE_DISPLAY, CATEGORY_ID, CATEGORY_NAME, CATEGORY_SHORT_NAME, CATEGORY_DISPLAY, VALUE}
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @return [Array<RatingResponse>]
    def search_ratings(version, opts = {})
      data, _status_code, _headers = search_ratings_with_http_info(version, opts)
      data
    end

    # Search Ratings
    # Search for ratings on a ratable object.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :filter_account_id Filter results for a particular account
    # @option opts [String] :ratable_type The ratable object type {RETAILER_LOCATION}
    # @option opts [Integer] :ratable_id The id of the ratable object
    # @option opts [String] :category_ids Comma separated list of category ids to filter the results by
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :sort_field The column to sort the search on {ID, CREATED, UPDATED, ACTIVE, OWNER_DISPLAY, RATABLE_TYPE, RATABLE_ID, RATABLE_DISPLAY, CATEGORY_ID, CATEGORY_NAME, CATEGORY_SHORT_NAME, CATEGORY_DISPLAY, VALUE}
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :limit The number of records to return
    # @return [Array<(Array<RatingResponse>, Integer, Hash)>] Array<RatingResponse> data, response status code and response headers
    def search_ratings_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatingApi.search_ratings ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RatingApi.search_ratings"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "OWNER_DISPLAY", "RATABLE_TYPE", "RATABLE_ID", "RATABLE_DISPLAY", "CATEGORY_ID", "CATEGORY_NAME", "CATEGORY_SHORT_NAME", "CATEGORY_DISPLAY", "VALUE"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/rating/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'filterAccountId'] = opts[:'filter_account_id'] if !opts[:'filter_account_id'].nil?
      query_params[:'ratableType'] = opts[:'ratable_type'] if !opts[:'ratable_type'].nil?
      query_params[:'ratableId'] = opts[:'ratable_id'] if !opts[:'ratable_id'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RatingResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatingApi.search_ratings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatingApi#search_ratings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Rating
    # Update an existing rating. Only the creator of the rating have permission to update.
    # @param version [Float] 
    # @param rating_id [Integer] The id of the rating (Note: this is not the ratable object id)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :rating_value The rating value to update
    # @option opts [Integer] :category_id 
    # @option opts [String] :display A subject title for the user rating (limited to 255 characters)
    # @option opts [String] :description The description of the rating
    # @option opts [String] :location_description The description of the location
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @return [RatingResponse]
    def update_rating(version, rating_id, opts = {})
      data, _status_code, _headers = update_rating_with_http_info(version, rating_id, opts)
      data
    end

    # Update Rating
    # Update an existing rating. Only the creator of the rating have permission to update.
    # @param version [Float] 
    # @param rating_id [Integer] The id of the rating (Note: this is not the ratable object id)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique device identifier that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :account_id The unique accountId that made the request (either deviceId or accountId must be used)
    # @option opts [Integer] :rating_value The rating value to update
    # @option opts [Integer] :category_id 
    # @option opts [String] :display A subject title for the user rating (limited to 255 characters)
    # @option opts [String] :description The description of the rating
    # @option opts [String] :location_description The description of the location
    # @option opts [Float] :latitude The current location of the user
    # @option opts [Float] :longitude The current location of the user
    # @return [Array<(RatingResponse, Integer, Hash)>] RatingResponse data, response status code and response headers
    def update_rating_with_http_info(version, rating_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RatingApi.update_rating ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RatingApi.update_rating"
      end
      # verify the required parameter 'rating_id' is set
      if @api_client.config.client_side_validation && rating_id.nil?
        fail ArgumentError, "Missing the required parameter 'rating_id' when calling RatingApi.update_rating"
      end
      # resource path
      local_var_path = '/api/{version}/rating/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'ratingId'] = rating_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'ratingValue'] = opts[:'rating_value'] if !opts[:'rating_value'].nil?
      query_params[:'categoryId'] = opts[:'category_id'] if !opts[:'category_id'].nil?
      query_params[:'display'] = opts[:'display'] if !opts[:'display'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'locationDescription'] = opts[:'location_description'] if !opts[:'location_description'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RatingResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RatingApi.update_rating",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RatingApi#update_rating\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
