=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class RegionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Region
    # Create a region.
    # @param version [Float] 
    # @param account_id [Integer] The id of the account sending the request
    # @param region_class [String] RegionClass of this region
    # @param short_name [String] Short name of the region. This is optimized for search
    # @param [Hash] opts the optional parameters
    # @option opts [String] :full_name Full name of the region
    # @option opts [String] :parent_ids Comma separated region ids that are parents of this region
    # @option opts [String] :children_ids Comma separated region ids that are children of this region
    # @option opts [String] :postal_code_ids Comma separated postal code ids the region will include
    # @option opts [String] :locations Sets of name,lat,long used to create new postal codes assigned to the region
    # @option opts [Integer] :retailer_location_id the id of the retailer location that the region is being created for
    # @option opts [String] :visibility The Visibility of the region
    # @option opts [String] :category_ids the categories that the region is assigned to
    # @option opts [String] :filter_ids the filters that the region is assigned to
    # @option opts [Integer] :start 
    # @option opts [Integer] :_end 
    # @option opts [String] :polygon the polygon generated for the region
    # @option opts [String] :meta_data the meta data associated with the region
    # @option opts [Float] :latitude the latitude of the region
    # @option opts [Float] :longitude the longitude of the region
    # @option opts [Integer] :version_code the version code
    # @option opts [Boolean] :root If this is a root region or not. If true means this region has no parent regions
    # @option opts [Boolean] :active Active or inactive status of the region
    # @return [RegionResponse]
    def create_region(version, account_id, region_class, short_name, opts = {})
      data, _status_code, _headers = create_region_with_http_info(version, account_id, region_class, short_name, opts)
      data
    end

    # Create Region
    # Create a region.
    # @param version [Float] 
    # @param account_id [Integer] The id of the account sending the request
    # @param region_class [String] RegionClass of this region
    # @param short_name [String] Short name of the region. This is optimized for search
    # @param [Hash] opts the optional parameters
    # @option opts [String] :full_name Full name of the region
    # @option opts [String] :parent_ids Comma separated region ids that are parents of this region
    # @option opts [String] :children_ids Comma separated region ids that are children of this region
    # @option opts [String] :postal_code_ids Comma separated postal code ids the region will include
    # @option opts [String] :locations Sets of name,lat,long used to create new postal codes assigned to the region
    # @option opts [Integer] :retailer_location_id the id of the retailer location that the region is being created for
    # @option opts [String] :visibility The Visibility of the region
    # @option opts [String] :category_ids the categories that the region is assigned to
    # @option opts [String] :filter_ids the filters that the region is assigned to
    # @option opts [Integer] :start 
    # @option opts [Integer] :_end 
    # @option opts [String] :polygon the polygon generated for the region
    # @option opts [String] :meta_data the meta data associated with the region
    # @option opts [Float] :latitude the latitude of the region
    # @option opts [Float] :longitude the longitude of the region
    # @option opts [Integer] :version_code the version code
    # @option opts [Boolean] :root If this is a root region or not. If true means this region has no parent regions
    # @option opts [Boolean] :active Active or inactive status of the region
    # @return [Array<(RegionResponse, Integer, Hash)>] RegionResponse data, response status code and response headers
    def create_region_with_http_info(version, account_id, region_class, short_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RegionApi.create_region ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RegionApi.create_region"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling RegionApi.create_region"
      end
      # verify the required parameter 'region_class' is set
      if @api_client.config.client_side_validation && region_class.nil?
        fail ArgumentError, "Missing the required parameter 'region_class' when calling RegionApi.create_region"
      end
      # verify the required parameter 'short_name' is set
      if @api_client.config.client_side_validation && short_name.nil?
        fail ArgumentError, "Missing the required parameter 'short_name' when calling RegionApi.create_region"
      end
      allowable_values = ["PUBLIC", "PRIVATE", "FRIENDS"]
      if @api_client.config.client_side_validation && opts[:'visibility'] && !allowable_values.include?(opts[:'visibility'])
        fail ArgumentError, "invalid value for \"visibility\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/region/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'regionClass'] = region_class
      query_params[:'shortName'] = short_name
      query_params[:'fullName'] = opts[:'full_name'] if !opts[:'full_name'].nil?
      query_params[:'parentIds'] = opts[:'parent_ids'] if !opts[:'parent_ids'].nil?
      query_params[:'childrenIds'] = opts[:'children_ids'] if !opts[:'children_ids'].nil?
      query_params[:'postalCodeIds'] = opts[:'postal_code_ids'] if !opts[:'postal_code_ids'].nil?
      query_params[:'locations'] = opts[:'locations'] if !opts[:'locations'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'end'] = opts[:'_end'] if !opts[:'_end'].nil?
      query_params[:'polygon'] = opts[:'polygon'] if !opts[:'polygon'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'versionCode'] = opts[:'version_code'] if !opts[:'version_code'].nil?
      query_params[:'root'] = opts[:'root'] if !opts[:'root'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RegionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RegionApi.create_region",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RegionApi#create_region\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Region
    # Delete a region.
    # @param version [Float] 
    # @param account_id [Integer] the id of the account logged in
    # @param region_id [Integer] the id of the region
    # @param [Hash] opts the optional parameters
    # @return [RegionResponse]
    def delete_region(version, account_id, region_id, opts = {})
      data, _status_code, _headers = delete_region_with_http_info(version, account_id, region_id, opts)
      data
    end

    # Delete Region
    # Delete a region.
    # @param version [Float] 
    # @param account_id [Integer] the id of the account logged in
    # @param region_id [Integer] the id of the region
    # @param [Hash] opts the optional parameters
    # @return [Array<(RegionResponse, Integer, Hash)>] RegionResponse data, response status code and response headers
    def delete_region_with_http_info(version, account_id, region_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RegionApi.delete_region ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RegionApi.delete_region"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling RegionApi.delete_region"
      end
      # verify the required parameter 'region_id' is set
      if @api_client.config.client_side_validation && region_id.nil?
        fail ArgumentError, "Missing the required parameter 'region_id' when calling RegionApi.delete_region"
      end
      # resource path
      local_var_path = '/api/{version}/region/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'regionId'] = region_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RegionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RegionApi.delete_region",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RegionApi#delete_region\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Region
    # Get a region.
    # @param version [Float] 
    # @param region_id [Integer] the id of the region to get
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the id of the logged in user
    # @return [RegionResponse]
    def get_region(version, region_id, opts = {})
      data, _status_code, _headers = get_region_with_http_info(version, region_id, opts)
      data
    end

    # Get Region
    # Get a region.
    # @param version [Float] 
    # @param region_id [Integer] the id of the region to get
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the id of the logged in user
    # @return [Array<(RegionResponse, Integer, Hash)>] RegionResponse data, response status code and response headers
    def get_region_with_http_info(version, region_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RegionApi.get_region ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RegionApi.get_region"
      end
      # verify the required parameter 'region_id' is set
      if @api_client.config.client_side_validation && region_id.nil?
        fail ArgumentError, "Missing the required parameter 'region_id' when calling RegionApi.get_region"
      end
      # resource path
      local_var_path = '/api/{version}/region/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'regionId'] = region_id
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RegionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RegionApi.get_region",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RegionApi#get_region\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Regions
    # Get the list of regions.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the owner account id of the region to be created
    # @option opts [String] :query This parameter is deprecated. deprecated - use \&quot;keyword\&quot;
    # @option opts [String] :keyword the keyword to filter results on
    # @option opts [Float] :latitude the latitude of the user
    # @option opts [Float] :longitude the longitude of the user
    # @option opts [Float] :range the search radius
    # @option opts [String] :region_class 
    # @option opts [String] :visibility 
    # @option opts [String] :search_mode the SearchIndexMode: RDS, LUCENE, or CLOUDINDEX. If not provided, will use the default defined in the Sirqul server
    # @option opts [String] :sort_field the field to order results by: ID, UPDATED, NAME, or DISTANCE. If not provided, will use the default which is by ID for text and DISTANCE when lat/long is provided.
    # @option opts [Boolean] :descending determines if the results get ordered in descending order
    # @option opts [Boolean] :include_parent include the parent region or not
    # @option opts [Boolean] :include_children include the chidren regions or not
    # @option opts [Boolean] :include_postal_codes include the postal codes associated with the region or not
    # @option opts [String] :category_ids search on the categories associated with the region
    # @option opts [String] :filter_ids search on the filters associated with the region
    # @option opts [Integer] :version_code filter by a specific version code
    # @option opts [Boolean] :active_only filter to show only active results
    # @option opts [Boolean] :show_deleted If showDeleted is true and activeOnly is false, will return regions that have been deleted
    # @option opts [Integer] :last_updated_since only returns records that have last updated since this date \\(UTC timestamp in milliseconds\\)
    # @option opts [Integer] :start the start index for pagination
    # @option opts [Integer] :limit the limit for pagination
    # @return [Array<RegionResponse>]
    def search_regions(version, opts = {})
      data, _status_code, _headers = search_regions_with_http_info(version, opts)
      data
    end

    # Search Regions
    # Get the list of regions.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the owner account id of the region to be created
    # @option opts [String] :query This parameter is deprecated. deprecated - use \&quot;keyword\&quot;
    # @option opts [String] :keyword the keyword to filter results on
    # @option opts [Float] :latitude the latitude of the user
    # @option opts [Float] :longitude the longitude of the user
    # @option opts [Float] :range the search radius
    # @option opts [String] :region_class 
    # @option opts [String] :visibility 
    # @option opts [String] :search_mode the SearchIndexMode: RDS, LUCENE, or CLOUDINDEX. If not provided, will use the default defined in the Sirqul server
    # @option opts [String] :sort_field the field to order results by: ID, UPDATED, NAME, or DISTANCE. If not provided, will use the default which is by ID for text and DISTANCE when lat/long is provided.
    # @option opts [Boolean] :descending determines if the results get ordered in descending order
    # @option opts [Boolean] :include_parent include the parent region or not
    # @option opts [Boolean] :include_children include the chidren regions or not
    # @option opts [Boolean] :include_postal_codes include the postal codes associated with the region or not
    # @option opts [String] :category_ids search on the categories associated with the region
    # @option opts [String] :filter_ids search on the filters associated with the region
    # @option opts [Integer] :version_code filter by a specific version code
    # @option opts [Boolean] :active_only filter to show only active results
    # @option opts [Boolean] :show_deleted If showDeleted is true and activeOnly is false, will return regions that have been deleted
    # @option opts [Integer] :last_updated_since only returns records that have last updated since this date \\(UTC timestamp in milliseconds\\)
    # @option opts [Integer] :start the start index for pagination
    # @option opts [Integer] :limit the limit for pagination
    # @return [Array<(Array<RegionResponse>, Integer, Hash)>] Array<RegionResponse> data, response status code and response headers
    def search_regions_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RegionApi.search_regions ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RegionApi.search_regions"
      end
      allowable_values = ["NATIONAL", "STATE", "COUNTY", "METRO_AREA", "CITY", "NEIGHBORHOOD", "TERRITORY", "CUSTOM", "ZONE"]
      if @api_client.config.client_side_validation && opts[:'region_class'] && !allowable_values.include?(opts[:'region_class'])
        fail ArgumentError, "invalid value for \"region_class\", must be one of #{allowable_values}"
      end
      allowable_values = ["PUBLIC", "PRIVATE", "FRIENDS"]
      if @api_client.config.client_side_validation && opts[:'visibility'] && !allowable_values.include?(opts[:'visibility'])
        fail ArgumentError, "invalid value for \"visibility\", must be one of #{allowable_values}"
      end
      allowable_values = ["RDS", "LUCENE", "CLOUDINDEX"]
      if @api_client.config.client_side_validation && opts[:'search_mode'] && !allowable_values.include?(opts[:'search_mode'])
        fail ArgumentError, "invalid value for \"search_mode\", must be one of #{allowable_values}"
      end
      allowable_values = ["ID", "UPDATED", "NAME", "DISTANCE"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/region/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'range'] = opts[:'range'] if !opts[:'range'].nil?
      query_params[:'regionClass'] = opts[:'region_class'] if !opts[:'region_class'].nil?
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'searchMode'] = opts[:'search_mode'] if !opts[:'search_mode'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'includeParent'] = opts[:'include_parent'] if !opts[:'include_parent'].nil?
      query_params[:'includeChildren'] = opts[:'include_children'] if !opts[:'include_children'].nil?
      query_params[:'includePostalCodes'] = opts[:'include_postal_codes'] if !opts[:'include_postal_codes'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'versionCode'] = opts[:'version_code'] if !opts[:'version_code'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'showDeleted'] = opts[:'show_deleted'] if !opts[:'show_deleted'].nil?
      query_params[:'lastUpdatedSince'] = opts[:'last_updated_since'] if !opts[:'last_updated_since'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RegionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RegionApi.search_regions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RegionApi#search_regions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Region
    # Update a region.
    # @param version [Float] 
    # @param account_id [Integer] The id of the account sending the request
    # @param region_id [Integer] The id of the region to be updated
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region_class RegionClass of this region
    # @option opts [String] :short_name Short name of the region. This is optimized for search
    # @option opts [String] :full_name Full name of the region
    # @option opts [String] :parent_ids Comma separated region ids that are parents of this region
    # @option opts [String] :children_ids Comma separated region ids that are children of this region
    # @option opts [String] :postal_code_ids Comma separated postal code ids the region will include
    # @option opts [String] :locations Sets of name,lat,long used to create new postal codes assigned to the region
    # @option opts [Integer] :retailer_location_id the retailer location ID that the region is associated with
    # @option opts [String] :visibility The Visibility of the region
    # @option opts [String] :category_ids the categories that the region is assigned to
    # @option opts [String] :filter_ids the filters that the region is assigned to
    # @option opts [Integer] :start 
    # @option opts [Integer] :_end 
    # @option opts [String] :polygon the polygon of the region
    # @option opts [String] :meta_data the meta data of the region
    # @option opts [Float] :latitude the latitude of the region
    # @option opts [Float] :longitude the longitude of the region
    # @option opts [Integer] :version_code the version code
    # @option opts [Boolean] :root If this is a root region or not. If true means this region has no parent regions
    # @option opts [Boolean] :active Active or inactive status of the region
    # @option opts [Boolean] :clear_lists If true clear the children and postal code lists before add new ones, otherwise just append.
    # @return [RegionResponse]
    def update_region(version, account_id, region_id, opts = {})
      data, _status_code, _headers = update_region_with_http_info(version, account_id, region_id, opts)
      data
    end

    # Update Region
    # Update a region.
    # @param version [Float] 
    # @param account_id [Integer] The id of the account sending the request
    # @param region_id [Integer] The id of the region to be updated
    # @param [Hash] opts the optional parameters
    # @option opts [String] :region_class RegionClass of this region
    # @option opts [String] :short_name Short name of the region. This is optimized for search
    # @option opts [String] :full_name Full name of the region
    # @option opts [String] :parent_ids Comma separated region ids that are parents of this region
    # @option opts [String] :children_ids Comma separated region ids that are children of this region
    # @option opts [String] :postal_code_ids Comma separated postal code ids the region will include
    # @option opts [String] :locations Sets of name,lat,long used to create new postal codes assigned to the region
    # @option opts [Integer] :retailer_location_id the retailer location ID that the region is associated with
    # @option opts [String] :visibility The Visibility of the region
    # @option opts [String] :category_ids the categories that the region is assigned to
    # @option opts [String] :filter_ids the filters that the region is assigned to
    # @option opts [Integer] :start 
    # @option opts [Integer] :_end 
    # @option opts [String] :polygon the polygon of the region
    # @option opts [String] :meta_data the meta data of the region
    # @option opts [Float] :latitude the latitude of the region
    # @option opts [Float] :longitude the longitude of the region
    # @option opts [Integer] :version_code the version code
    # @option opts [Boolean] :root If this is a root region or not. If true means this region has no parent regions
    # @option opts [Boolean] :active Active or inactive status of the region
    # @option opts [Boolean] :clear_lists If true clear the children and postal code lists before add new ones, otherwise just append.
    # @return [Array<(RegionResponse, Integer, Hash)>] RegionResponse data, response status code and response headers
    def update_region_with_http_info(version, account_id, region_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RegionApi.update_region ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RegionApi.update_region"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling RegionApi.update_region"
      end
      # verify the required parameter 'region_id' is set
      if @api_client.config.client_side_validation && region_id.nil?
        fail ArgumentError, "Missing the required parameter 'region_id' when calling RegionApi.update_region"
      end
      allowable_values = ["PUBLIC", "PRIVATE", "FRIENDS"]
      if @api_client.config.client_side_validation && opts[:'visibility'] && !allowable_values.include?(opts[:'visibility'])
        fail ArgumentError, "invalid value for \"visibility\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/region/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'regionId'] = region_id
      query_params[:'regionClass'] = opts[:'region_class'] if !opts[:'region_class'].nil?
      query_params[:'shortName'] = opts[:'short_name'] if !opts[:'short_name'].nil?
      query_params[:'fullName'] = opts[:'full_name'] if !opts[:'full_name'].nil?
      query_params[:'parentIds'] = opts[:'parent_ids'] if !opts[:'parent_ids'].nil?
      query_params[:'childrenIds'] = opts[:'children_ids'] if !opts[:'children_ids'].nil?
      query_params[:'postalCodeIds'] = opts[:'postal_code_ids'] if !opts[:'postal_code_ids'].nil?
      query_params[:'locations'] = opts[:'locations'] if !opts[:'locations'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'end'] = opts[:'_end'] if !opts[:'_end'].nil?
      query_params[:'polygon'] = opts[:'polygon'] if !opts[:'polygon'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'versionCode'] = opts[:'version_code'] if !opts[:'version_code'].nil?
      query_params[:'root'] = opts[:'root'] if !opts[:'root'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'clearLists'] = opts[:'clear_lists'] if !opts[:'clear_lists'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RegionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RegionApi.update_region",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RegionApi#update_region\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
