=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ReportingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Offline Report
    # Create an entry for the batch for offline report
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user for passing account related params
    # @param status [String] the status of the report
    # @param preview_limit [Integer] the limit on how much you can preview of the batch report
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key for passing application related params
    # @option opts [String] :endpoint 
    # @option opts [String] :parameters a json structure list of the parameter values, example: &#x60;&#x60;&#x60;json {   \&quot;string\&quot;:\&quot;value\&quot;,    \&quot;number\&quot;:3.345,   \&quot;date\&quot;:\&quot;2014-05-01 00:00:00\&quot; } &#x60;&#x60;&#x60; 
    # @option opts [String] :name name of the batch report
    # @option opts [Integer] :start_date the start date of the batch report
    # @option opts [Integer] :end_date the end date of the batch report
    # @option opts [String] :description the description of the batch report
    # @option opts [String] :page_url 
    # @return [ReportBatchResponse]
    def create_batch(version, account_id, status, preview_limit, opts = {})
      data, _status_code, _headers = create_batch_with_http_info(version, account_id, status, preview_limit, opts)
      data
    end

    # Create Offline Report
    # Create an entry for the batch for offline report
    # @param version [Float] 
    # @param account_id [Integer] The account id of the user for passing account related params
    # @param status [String] the status of the report
    # @param preview_limit [Integer] the limit on how much you can preview of the batch report
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application key for passing application related params
    # @option opts [String] :endpoint 
    # @option opts [String] :parameters a json structure list of the parameter values, example: &#x60;&#x60;&#x60;json {   \&quot;string\&quot;:\&quot;value\&quot;,    \&quot;number\&quot;:3.345,   \&quot;date\&quot;:\&quot;2014-05-01 00:00:00\&quot; } &#x60;&#x60;&#x60; 
    # @option opts [String] :name name of the batch report
    # @option opts [Integer] :start_date the start date of the batch report
    # @option opts [Integer] :end_date the end date of the batch report
    # @option opts [String] :description the description of the batch report
    # @option opts [String] :page_url 
    # @return [Array<(ReportBatchResponse, Integer, Hash)>] ReportBatchResponse data, response status code and response headers
    def create_batch_with_http_info(version, account_id, status, preview_limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.create_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ReportingApi.create_batch"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ReportingApi.create_batch"
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling ReportingApi.create_batch"
      end
      # verify enum value
      allowable_values = ["NEW", "ERROR", "COMPLETE", "PARSE_ERROR", "PROCESSING", "DUPLICATE", "SAVEONLY"]
      if @api_client.config.client_side_validation && !allowable_values.include?(status)
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'preview_limit' is set
      if @api_client.config.client_side_validation && preview_limit.nil?
        fail ArgumentError, "Missing the required parameter 'preview_limit' when calling ReportingApi.create_batch"
      end
      # resource path
      local_var_path = '/api/{version}/report/batch/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'status'] = status
      query_params[:'previewLimit'] = preview_limit
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'endpoint'] = opts[:'endpoint'] if !opts[:'endpoint'].nil?
      query_params[:'parameters'] = opts[:'parameters'] if !opts[:'parameters'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'pageUrl'] = opts[:'page_url'] if !opts[:'page_url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReportingApi.create_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#create_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Offline Report
    # Create an entry for the batch for offline report
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<RegionLegSummary>] :body 
    # @return [ReportRegionLegSummaryBatchResponse]
    def create_region_leg_summary_batch(version, opts = {})
      data, _status_code, _headers = create_region_leg_summary_batch_with_http_info(version, opts)
      data
    end

    # Create Offline Report
    # Create an entry for the batch for offline report
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<RegionLegSummary>] :body 
    # @return [Array<(ReportRegionLegSummaryBatchResponse, Integer, Hash)>] ReportRegionLegSummaryBatchResponse data, response status code and response headers
    def create_region_leg_summary_batch_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.create_region_leg_summary_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ReportingApi.create_region_leg_summary_batch"
      end
      # resource path
      local_var_path = '/api/{version}/report/region/summary/batch'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ReportRegionLegSummaryBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReportingApi.create_region_leg_summary_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#create_region_leg_summary_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Offline Report
    # Deletes a batch report.
    # @param version [Float] 
    # @param account_id [Integer] the id of the account
    # @param batch_id [Integer] the id of the batch to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_batch(version, account_id, batch_id, opts = {})
      data, _status_code, _headers = delete_batch_with_http_info(version, account_id, batch_id, opts)
      data
    end

    # Delete Offline Report
    # Deletes a batch report.
    # @param version [Float] 
    # @param account_id [Integer] the id of the account
    # @param batch_id [Integer] the id of the batch to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_batch_with_http_info(version, account_id, batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.delete_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ReportingApi.delete_batch"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ReportingApi.delete_batch"
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling ReportingApi.delete_batch"
      end
      # resource path
      local_var_path = '/api/{version}/report/batch/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'batchId'] = batch_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReportingApi.delete_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#delete_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Offline Report
    # Checks status of batch report.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param batch_id [Integer] returned by /report/batch/create
    # @param all_results [Boolean] whether to return all batch results or not
    # @param [Hash] opts the optional parameters
    # @return [ReportBatchResponse]
    def get_report_batch(version, account_id, batch_id, all_results, opts = {})
      data, _status_code, _headers = get_report_batch_with_http_info(version, account_id, batch_id, all_results, opts)
      data
    end

    # Get Offline Report
    # Checks status of batch report.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param batch_id [Integer] returned by /report/batch/create
    # @param all_results [Boolean] whether to return all batch results or not
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReportBatchResponse, Integer, Hash)>] ReportBatchResponse data, response status code and response headers
    def get_report_batch_with_http_info(version, account_id, batch_id, all_results, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.get_report_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ReportingApi.get_report_batch"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ReportingApi.get_report_batch"
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling ReportingApi.get_report_batch"
      end
      # verify the required parameter 'all_results' is set
      if @api_client.config.client_side_validation && all_results.nil?
        fail ArgumentError, "Missing the required parameter 'all_results' when calling ReportingApi.get_report_batch"
      end
      # resource path
      local_var_path = '/api/{version}/report/batch/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'batchId'] = batch_id
      query_params[:'allResults'] = all_results

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportBatchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReportingApi.get_report_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#get_report_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Run Report
    #  This endpoint allows you to run a set of predefined reports that can be used to understand your users' behavior as well as trends within your application.
    # @param version [Float] 
    # @param desc [Boolean] If true then descending order, false is ascending
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user for passing account related params
    # @option opts [String] :query The named identifier of the query
    # @option opts [String] :parameters Parameter values used in the query in JSON format, example: &#x60;&#x60;&#x60;json {   \&quot;string\&quot;:\&quot;value\&quot;,    \&quot;number\&quot;:3.345,   \&quot;date\&quot;:\&quot;2014-05-01 00:00:00\&quot; } &#x60;&#x60;&#x60; 
    # @option opts [String] :order The order to use, must be a column name (see response results for list of column names)
    # @option opts [Integer] :start The start of the pagination
    # @option opts [Integer] :limit The limit of the pagination
    # @option opts [String] :response_format Determines what response format to return. Options are: JSON or CSV
    # @return [ReportResponse]
    def run_report(version, desc, opts = {})
      data, _status_code, _headers = run_report_with_http_info(version, desc, opts)
      data
    end

    # Run Report
    #  This endpoint allows you to run a set of predefined reports that can be used to understand your users&#39; behavior as well as trends within your application.
    # @param version [Float] 
    # @param desc [Boolean] If true then descending order, false is ascending
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user for passing account related params
    # @option opts [String] :query The named identifier of the query
    # @option opts [String] :parameters Parameter values used in the query in JSON format, example: &#x60;&#x60;&#x60;json {   \&quot;string\&quot;:\&quot;value\&quot;,    \&quot;number\&quot;:3.345,   \&quot;date\&quot;:\&quot;2014-05-01 00:00:00\&quot; } &#x60;&#x60;&#x60; 
    # @option opts [String] :order The order to use, must be a column name (see response results for list of column names)
    # @option opts [Integer] :start The start of the pagination
    # @option opts [Integer] :limit The limit of the pagination
    # @option opts [String] :response_format Determines what response format to return. Options are: JSON or CSV
    # @return [Array<(ReportResponse, Integer, Hash)>] ReportResponse data, response status code and response headers
    def run_report_with_http_info(version, desc, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.run_report ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ReportingApi.run_report"
      end
      # verify the required parameter 'desc' is set
      if @api_client.config.client_side_validation && desc.nil?
        fail ArgumentError, "Missing the required parameter 'desc' when calling ReportingApi.run_report"
      end
      allowable_values = ["HTML", "XML", "JSON", "CSV"]
      if @api_client.config.client_side_validation && opts[:'response_format'] && !allowable_values.include?(opts[:'response_format'])
        fail ArgumentError, "invalid value for \"response_format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/report/run'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'desc'] = desc
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'query'] = opts[:'query'] if !opts[:'query'].nil?
      query_params[:'parameters'] = opts[:'parameters'] if !opts[:'parameters'].nil?
      query_params[:'order'] = opts[:'order'] if !opts[:'order'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'responseFormat'] = opts[:'response_format'] if !opts[:'response_format'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReportResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReportingApi.run_report",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#run_report\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Offline Reports
    # Retrieves batches for a user..
    # @param version [Float] 
    # @param account_id [Integer] the id of the account logged in
    # @param start [Integer] the start of the index and/or pagination
    # @param limit [Integer] the limit of the index and/or pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :names the names of the report batch to search on
    # @option opts [String] :app_key the application key
    # @option opts [String] :status the report batch status
    # @option opts [Boolean] :global_app_search the global app to search on
    # @option opts [Integer] :start_date the start date of the report batch to search on
    # @option opts [Integer] :end_date the end date of the report batch to search on
    # @return [Array<ReportBatchResponse>]
    def search_batch(version, account_id, start, limit, opts = {})
      data, _status_code, _headers = search_batch_with_http_info(version, account_id, start, limit, opts)
      data
    end

    # Search Offline Reports
    # Retrieves batches for a user..
    # @param version [Float] 
    # @param account_id [Integer] the id of the account logged in
    # @param start [Integer] the start of the index and/or pagination
    # @param limit [Integer] the limit of the index and/or pagination
    # @param [Hash] opts the optional parameters
    # @option opts [String] :names the names of the report batch to search on
    # @option opts [String] :app_key the application key
    # @option opts [String] :status the report batch status
    # @option opts [Boolean] :global_app_search the global app to search on
    # @option opts [Integer] :start_date the start date of the report batch to search on
    # @option opts [Integer] :end_date the end date of the report batch to search on
    # @return [Array<(Array<ReportBatchResponse>, Integer, Hash)>] Array<ReportBatchResponse> data, response status code and response headers
    def search_batch_with_http_info(version, account_id, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReportingApi.search_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ReportingApi.search_batch"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ReportingApi.search_batch"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ReportingApi.search_batch"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ReportingApi.search_batch"
      end
      allowable_values = ["NEW", "ERROR", "COMPLETE", "PARSE_ERROR", "PROCESSING", "DUPLICATE", "SAVEONLY"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/report/batch/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'names'] = opts[:'names'] if !opts[:'names'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'globalAppSearch'] = opts[:'global_app_search'] if !opts[:'global_app_search'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ReportBatchResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReportingApi.search_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReportingApi#search_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
