=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ReservationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Reservation
    # Creates a reservation on an offer object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :start_date The start date
    # @option opts [Integer] :end_date The end date
    # @option opts [Integer] :offer_id The id of the offer being added (offerId or offeLocationId required)
    # @option opts [Integer] :offer_location_id The id of the offer location being added (offerId or offeLocationId required)
    # @option opts [String] :app_key The application requesting the reservation
    # @option opts [String] :meta_data External custom client defined data
    # @return [nil]
    def create_reservation(opts = {})
      create_reservation_with_http_info(opts)
      nil
    end

    # Create Reservation
    # Creates a reservation on an offer object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :start_date The start date
    # @option opts [Integer] :end_date The end date
    # @option opts [Integer] :offer_id The id of the offer being added (offerId or offeLocationId required)
    # @option opts [Integer] :offer_location_id The id of the offer location being added (offerId or offeLocationId required)
    # @option opts [String] :app_key The application requesting the reservation
    # @option opts [String] :meta_data External custom client defined data
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_reservation_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationApi.create_reservation ...'
      end
      # resource path
      local_var_path = '/reservation/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReservationApi.create_reservation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationApi#create_reservation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Reservation
    # Deleted a reservation on a reservation object
    # @param reservation_id [Integer] The reservation id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [nil]
    def delete_reservation(reservation_id, opts = {})
      delete_reservation_with_http_info(reservation_id, opts)
      nil
    end

    # Delete Reservation
    # Deleted a reservation on a reservation object
    # @param reservation_id [Integer] The reservation id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_reservation_with_http_info(reservation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationApi.delete_reservation ...'
      end
      # verify the required parameter 'reservation_id' is set
      if @api_client.config.client_side_validation && reservation_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservation_id' when calling ReservationApi.delete_reservation"
      end
      # resource path
      local_var_path = '/reservation/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reservationId'] = reservation_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReservationApi.delete_reservation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationApi#delete_reservation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Availability
    # @param reservable_id [Integer] the id of the reservation
    # @param reservable_type [String] the type of reservation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id of the reservation
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [String] :availability Availability
    # @option opts [String] :availability_summary Availability Summary
    # @return [Array<AvailabilityResponse>]
    def reservable_availability(reservable_id, reservable_type, opts = {})
      data, _status_code, _headers = reservable_availability_with_http_info(reservable_id, reservable_type, opts)
      data
    end

    # Update Availability
    # @param reservable_id [Integer] the id of the reservation
    # @param reservable_type [String] the type of reservation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id of the reservation
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [String] :availability Availability
    # @option opts [String] :availability_summary Availability Summary
    # @return [Array<(Array<AvailabilityResponse>, Integer, Hash)>] Array<AvailabilityResponse> data, response status code and response headers
    def reservable_availability_with_http_info(reservable_id, reservable_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationApi.reservable_availability ...'
      end
      # verify the required parameter 'reservable_id' is set
      if @api_client.config.client_side_validation && reservable_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservable_id' when calling ReservationApi.reservable_availability"
      end
      # verify the required parameter 'reservable_type' is set
      if @api_client.config.client_side_validation && reservable_type.nil?
        fail ArgumentError, "Missing the required parameter 'reservable_type' when calling ReservationApi.reservable_availability"
      end
      # verify enum value
      allowable_values = ["LOCATABLE", "RESERVABLE", "PERMISSIONABLE", "NOTABLE", "ASSETABLE", "LIKABLE", "FLAGABLE", "FAVORITABLE", "RATABLE", "ALBUM", "COLLECTION", "APPLICATION", "APPLICATION_SETTING", "APPLICATION_CERT", "APPLICATION_PLACEMENT", "ACCOUNT", "ACCOUNT_SETTING", "GAME_LEVEL", "PACK", "MISSION", "TOURNAMENT", "ASSET", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "OFFER", "OFFER_LOCATION", "EVENT", "RETAILER", "RETAILER_LOCATION", "NOTE", "CREATIVE", "FAVORITE", "LIKE", "RATING", "ANALYTIC", "THIRD_PARTY_CREDENTIAL", "THIRD_PARTY_NETWORK", "REGION"]
      if @api_client.config.client_side_validation && !allowable_values.include?(reservable_type)
        fail ArgumentError, "invalid value for \"reservable_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/reservable/availability/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reservableId'] = reservable_id
      query_params[:'reservableType'] = reservable_type
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'availability'] = opts[:'availability'] if !opts[:'availability'].nil?
      query_params[:'availabilitySummary'] = opts[:'availability_summary'] if !opts[:'availability_summary'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AvailabilityResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReservationApi.reservable_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationApi#reservable_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Availability
    # @param reservable_id [Integer] the id of the reservation
    # @param reservable_type [String] the reservable type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device ID that the reservation is on
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [Integer] :start_date the start date of the reservation
    # @option opts [Integer] :end_date the end date of the reservation
    # @option opts [Integer] :start the start of the index and/or pagination (default to 0)
    # @option opts [Integer] :limit the limit of the index and/or pagination (default to 100)
    # @return [Array<AvailabilityResponse>]
    def search_availability(reservable_id, reservable_type, opts = {})
      data, _status_code, _headers = search_availability_with_http_info(reservable_id, reservable_type, opts)
      data
    end

    # Search Availability
    # @param reservable_id [Integer] the id of the reservation
    # @param reservable_type [String] the reservable type
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device ID that the reservation is on
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [Integer] :start_date the start date of the reservation
    # @option opts [Integer] :end_date the end date of the reservation
    # @option opts [Integer] :start the start of the index and/or pagination (default to 0)
    # @option opts [Integer] :limit the limit of the index and/or pagination (default to 100)
    # @return [Array<(Array<AvailabilityResponse>, Integer, Hash)>] Array<AvailabilityResponse> data, response status code and response headers
    def search_availability_with_http_info(reservable_id, reservable_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationApi.search_availability ...'
      end
      # verify the required parameter 'reservable_id' is set
      if @api_client.config.client_side_validation && reservable_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservable_id' when calling ReservationApi.search_availability"
      end
      # verify the required parameter 'reservable_type' is set
      if @api_client.config.client_side_validation && reservable_type.nil?
        fail ArgumentError, "Missing the required parameter 'reservable_type' when calling ReservationApi.search_availability"
      end
      # verify enum value
      allowable_values = ["LOCATABLE", "RESERVABLE", "PERMISSIONABLE", "NOTABLE", "ASSETABLE", "LIKABLE", "FLAGABLE", "FAVORITABLE", "RATABLE", "ALBUM", "COLLECTION", "APPLICATION", "APPLICATION_SETTING", "APPLICATION_CERT", "APPLICATION_PLACEMENT", "ACCOUNT", "ACCOUNT_SETTING", "GAME_LEVEL", "PACK", "MISSION", "TOURNAMENT", "ASSET", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "OFFER", "OFFER_LOCATION", "EVENT", "RETAILER", "RETAILER_LOCATION", "NOTE", "CREATIVE", "FAVORITE", "LIKE", "RATING", "ANALYTIC", "THIRD_PARTY_CREDENTIAL", "THIRD_PARTY_NETWORK", "REGION"]
      if @api_client.config.client_side_validation && !allowable_values.include?(reservable_type)
        fail ArgumentError, "invalid value for \"reservable_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/reservable/availability/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reservableId'] = reservable_id
      query_params[:'reservableType'] = reservable_type
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AvailabilityResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReservationApi.search_availability",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationApi#search_availability\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Reservations
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id Device Id
    # @option opts [String] :app_key Appilcation Key
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [Integer] :filter_account_id filter reservations by account ID
    # @option opts [Integer] :reservable_id the reservation ID
    # @option opts [String] :reservable_type the type of reservation
    # @option opts [String] :keyword the keyword to search the reservation on
    # @option opts [Integer] :start_date the start date of the reservation search
    # @option opts [Integer] :end_date the end date of the reservation search
    # @option opts [Integer] :start the start of the index and/or pagination (default to 0)
    # @option opts [Integer] :limit the limit of the index and/or pagination (default to 100)
    # @return [Array<ReservationResponse>]
    def search_reservations(opts = {})
      data, _status_code, _headers = search_reservations_with_http_info(opts)
      data
    end

    # Search Reservations
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id Device Id
    # @option opts [String] :app_key Appilcation Key
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [Integer] :filter_account_id filter reservations by account ID
    # @option opts [Integer] :reservable_id the reservation ID
    # @option opts [String] :reservable_type the type of reservation
    # @option opts [String] :keyword the keyword to search the reservation on
    # @option opts [Integer] :start_date the start date of the reservation search
    # @option opts [Integer] :end_date the end date of the reservation search
    # @option opts [Integer] :start the start of the index and/or pagination (default to 0)
    # @option opts [Integer] :limit the limit of the index and/or pagination (default to 100)
    # @return [Array<(Array<ReservationResponse>, Integer, Hash)>] Array<ReservationResponse> data, response status code and response headers
    def search_reservations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationApi.search_reservations ...'
      end
      allowable_values = ["LOCATABLE", "RESERVABLE", "PERMISSIONABLE", "NOTABLE", "ASSETABLE", "LIKABLE", "FLAGABLE", "FAVORITABLE", "RATABLE", "ALBUM", "COLLECTION", "APPLICATION", "APPLICATION_SETTING", "APPLICATION_CERT", "APPLICATION_PLACEMENT", "ACCOUNT", "ACCOUNT_SETTING", "GAME_LEVEL", "PACK", "MISSION", "TOURNAMENT", "ASSET", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "OFFER", "OFFER_LOCATION", "EVENT", "RETAILER", "RETAILER_LOCATION", "NOTE", "CREATIVE", "FAVORITE", "LIKE", "RATING", "ANALYTIC", "THIRD_PARTY_CREDENTIAL", "THIRD_PARTY_NETWORK", "REGION"]
      if @api_client.config.client_side_validation && opts[:'reservable_type'] && !allowable_values.include?(opts[:'reservable_type'])
        fail ArgumentError, "invalid value for \"reservable_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/reservation/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'filterAccountId'] = opts[:'filter_account_id'] if !opts[:'filter_account_id'].nil?
      query_params[:'reservableId'] = opts[:'reservable_id'] if !opts[:'reservable_id'].nil?
      query_params[:'reservableType'] = opts[:'reservable_type'] if !opts[:'reservable_type'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ReservationResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReservationApi.search_reservations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationApi#search_reservations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Schedule
    # @param reservable_id [Integer] the id of the reservation
    # @param reservable_type [String] the reservation type
    # @param start_date [Integer] the start date of the reservation
    # @param end_date [Integer] the end date of the reservation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the id of the device that the reservation is on
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [Integer] :time_bucket_mins the length of time in minutes to search on for reservation (default to 30)
    # @return [Array<TimeSlotResponse>]
    def search_schedule(reservable_id, reservable_type, start_date, end_date, opts = {})
      data, _status_code, _headers = search_schedule_with_http_info(reservable_id, reservable_type, start_date, end_date, opts)
      data
    end

    # Search Schedule
    # @param reservable_id [Integer] the id of the reservation
    # @param reservable_type [String] the reservation type
    # @param start_date [Integer] the start date of the reservation
    # @param end_date [Integer] the end date of the reservation
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the id of the device that the reservation is on
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [Integer] :time_bucket_mins the length of time in minutes to search on for reservation (default to 30)
    # @return [Array<(Array<TimeSlotResponse>, Integer, Hash)>] Array<TimeSlotResponse> data, response status code and response headers
    def search_schedule_with_http_info(reservable_id, reservable_type, start_date, end_date, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReservationApi.search_schedule ...'
      end
      # verify the required parameter 'reservable_id' is set
      if @api_client.config.client_side_validation && reservable_id.nil?
        fail ArgumentError, "Missing the required parameter 'reservable_id' when calling ReservationApi.search_schedule"
      end
      # verify the required parameter 'reservable_type' is set
      if @api_client.config.client_side_validation && reservable_type.nil?
        fail ArgumentError, "Missing the required parameter 'reservable_type' when calling ReservationApi.search_schedule"
      end
      # verify enum value
      allowable_values = ["LOCATABLE", "RESERVABLE", "PERMISSIONABLE", "NOTABLE", "ASSETABLE", "LIKABLE", "FLAGABLE", "FAVORITABLE", "RATABLE", "ALBUM", "COLLECTION", "APPLICATION", "APPLICATION_SETTING", "APPLICATION_CERT", "APPLICATION_PLACEMENT", "ACCOUNT", "ACCOUNT_SETTING", "GAME_LEVEL", "PACK", "MISSION", "TOURNAMENT", "ASSET", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "OFFER", "OFFER_LOCATION", "EVENT", "RETAILER", "RETAILER_LOCATION", "NOTE", "CREATIVE", "FAVORITE", "LIKE", "RATING", "ANALYTIC", "THIRD_PARTY_CREDENTIAL", "THIRD_PARTY_NETWORK", "REGION"]
      if @api_client.config.client_side_validation && !allowable_values.include?(reservable_type)
        fail ArgumentError, "invalid value for \"reservable_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'start_date' is set
      if @api_client.config.client_side_validation && start_date.nil?
        fail ArgumentError, "Missing the required parameter 'start_date' when calling ReservationApi.search_schedule"
      end
      # verify the required parameter 'end_date' is set
      if @api_client.config.client_side_validation && end_date.nil?
        fail ArgumentError, "Missing the required parameter 'end_date' when calling ReservationApi.search_schedule"
      end
      # resource path
      local_var_path = '/reservable/schedule/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reservableId'] = reservable_id
      query_params[:'reservableType'] = reservable_type
      query_params[:'startDate'] = start_date
      query_params[:'endDate'] = end_date
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'timeBucketMins'] = opts[:'time_bucket_mins'] if !opts[:'time_bucket_mins'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TimeSlotResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ReservationApi.search_schedule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReservationApi#search_schedule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
