=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class RetailerLocationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Retailer Location (Consumer)
    # Creates a location record for an application that can support crowd sourced locations.
    # @param app_key [String] the application key
    # @param name [String] The name of the retailer location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :street_address The street address of the retailer location
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :city The city of the retailer location
    # @option opts [String] :state The state of the retailer location
    # @option opts [String] :postal_code The postal code of the retailer location
    # @option opts [String] :country the country of the retailer location
    # @option opts [String] :business_phone The business phone
    # @option opts [String] :business_phone_ext The business phone extension
    # @option opts [String] :website The website of the retailer location
    # @option opts [String] :email The email of the retailer location
    # @option opts [String] :details_header A brief description about the retailer location (255 character limit)
    # @option opts [String] :details_body A detailed description about the retailer location
    # @option opts [String] :hours The hours of operation
    # @option opts [String] :tags Custom string field for doing full-text searches
    # @option opts [Integer] :logo_asset_id The retailer location logo asset id
    # @option opts [Integer] :picture1_asset_id An asset id
    # @option opts [Integer] :picture2_asset_id An asset id
    # @option opts [String] :category_ids Comma separated list of category IDs used to filter retailer locations by categories
    # @option opts [String] :filter_ids Comma separated list of filter IDs used to filter retailer locations
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [Boolean] :public_location Whether the location is public
    # @option opts [Boolean] :active whether the retailer location created should be active or not
    # @option opts [String] :location_type External custom type identifier
    # @option opts [Float] :latitude The latitude to center the search on
    # @option opts [Float] :longitude The longitude to center the search on
    # @return [RetailerLocationResponse]
    def create_retailer_location_consumer(app_key, name, opts = {})
      data, _status_code, _headers = create_retailer_location_consumer_with_http_info(app_key, name, opts)
      data
    end

    # Create Retailer Location (Consumer)
    # Creates a location record for an application that can support crowd sourced locations.
    # @param app_key [String] the application key
    # @param name [String] The name of the retailer location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :street_address The street address of the retailer location
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :city The city of the retailer location
    # @option opts [String] :state The state of the retailer location
    # @option opts [String] :postal_code The postal code of the retailer location
    # @option opts [String] :country the country of the retailer location
    # @option opts [String] :business_phone The business phone
    # @option opts [String] :business_phone_ext The business phone extension
    # @option opts [String] :website The website of the retailer location
    # @option opts [String] :email The email of the retailer location
    # @option opts [String] :details_header A brief description about the retailer location (255 character limit)
    # @option opts [String] :details_body A detailed description about the retailer location
    # @option opts [String] :hours The hours of operation
    # @option opts [String] :tags Custom string field for doing full-text searches
    # @option opts [Integer] :logo_asset_id The retailer location logo asset id
    # @option opts [Integer] :picture1_asset_id An asset id
    # @option opts [Integer] :picture2_asset_id An asset id
    # @option opts [String] :category_ids Comma separated list of category IDs used to filter retailer locations by categories
    # @option opts [String] :filter_ids Comma separated list of filter IDs used to filter retailer locations
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [Boolean] :public_location Whether the location is public
    # @option opts [Boolean] :active whether the retailer location created should be active or not
    # @option opts [String] :location_type External custom type identifier
    # @option opts [Float] :latitude The latitude to center the search on
    # @option opts [Float] :longitude The longitude to center the search on
    # @return [Array<(RetailerLocationResponse, Integer, Hash)>] RetailerLocationResponse data, response status code and response headers
    def create_retailer_location_consumer_with_http_info(app_key, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetailerLocationApi.create_retailer_location_consumer ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling RetailerLocationApi.create_retailer_location_consumer"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling RetailerLocationApi.create_retailer_location_consumer"
      end
      # resource path
      local_var_path = '/location/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'name'] = name
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'streetAddress'] = opts[:'street_address'] if !opts[:'street_address'].nil?
      query_params[:'streetAddress2'] = opts[:'street_address2'] if !opts[:'street_address2'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'postalCode'] = opts[:'postal_code'] if !opts[:'postal_code'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'businessPhone'] = opts[:'business_phone'] if !opts[:'business_phone'].nil?
      query_params[:'businessPhoneExt'] = opts[:'business_phone_ext'] if !opts[:'business_phone_ext'].nil?
      query_params[:'website'] = opts[:'website'] if !opts[:'website'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'detailsHeader'] = opts[:'details_header'] if !opts[:'details_header'].nil?
      query_params[:'detailsBody'] = opts[:'details_body'] if !opts[:'details_body'].nil?
      query_params[:'hours'] = opts[:'hours'] if !opts[:'hours'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'logoAssetId'] = opts[:'logo_asset_id'] if !opts[:'logo_asset_id'].nil?
      query_params[:'picture1AssetId'] = opts[:'picture1_asset_id'] if !opts[:'picture1_asset_id'].nil?
      query_params[:'picture2AssetId'] = opts[:'picture2_asset_id'] if !opts[:'picture2_asset_id'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'publicLocation'] = opts[:'public_location'] if !opts[:'public_location'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'locationType'] = opts[:'location_type'] if !opts[:'location_type'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetailerLocationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RetailerLocationApi.create_retailer_location_consumer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetailerLocationApi#create_retailer_location_consumer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Retailer Location
    # Creates a location record for a retailer. Only the owner and the employees of the retailer have access to do this.
    # @param retailer_id [Integer] The ID of the retailer
    # @param name [String] The name of the retailer location
    # @param street_address [String] The street address of the retailer location
    # @param city [String] The city of the retailer location
    # @param state [String] The state of the retailer location
    # @param postal_code [String] The postal code of the retailer location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :country the country of the retailer location
    # @option opts [String] :business_phone The business phone number of the retailer location
    # @option opts [String] :business_phone_ext The business phone extension
    # @option opts [String] :website The website of the retailer location
    # @option opts [String] :email The email of the retailer location
    # @option opts [String] :internal_id An internal identifier used by the retailer
    # @option opts [String] :details_header A brief description about the retailer location (255 character limit)
    # @option opts [String] :details_body A detailed description about the retailer location
    # @option opts [String] :hours The hours of operation
    # @option opts [File] :logo The retailer location logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)
    # @option opts [Integer] :logo_asset_id The retailer location logo asset id
    # @option opts [File] :picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)
    # @option opts [Integer] :picture1_asset_id An asset id
    # @option opts [File] :picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)
    # @option opts [Integer] :picture2_asset_id An asset id
    # @option opts [String] :category_ids Comma separated list of category IDs used to filter retailer locations by categories
    # @option opts [String] :filter_ids Comma separated list of filter IDs used to filter retailer locations
    # @option opts [Float] :latitude the latitude of the retailer location
    # @option opts [Float] :longitude the longitude of the retailer location
    # @option opts [String] :building 
    # @option opts [String] :google_place_id the ID of the Google Place that this retailer location is assigned to
    # @option opts [String] :yelp_id the Yelp ID that this retailer location is assigned to
    # @option opts [Boolean] :active whether the retailer location should be active or inactive
    # @option opts [Boolean] :public_location Sets whether the location is public or not
    # @option opts [String] :location_type External custom type identifier
    # @option opts [String] :audience_ids Comma separated list of audience IDs used to assign audiences to the retailer location
    # @option opts [String] :audience_ids_to_add Comma separated list of audience IDs to add to the retailer location
    # @option opts [String] :audience_ids_to_remove Comma separated list of audience IDs to remove from the retailer location
    # @option opts [String] :response_format The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
    # @option opts [String] :response_includes Comma separated list of response includes (e.g. RETAILER,ASSETS,OFFERS,CATEGORIES,FILTERS,AUDIENCES,QRCODE)
    # @return [RetailerLocationResponse]
    def create_retailer_locations(retailer_id, name, street_address, city, state, postal_code, opts = {})
      data, _status_code, _headers = create_retailer_locations_with_http_info(retailer_id, name, street_address, city, state, postal_code, opts)
      data
    end

    # Create Retailer Location
    # Creates a location record for a retailer. Only the owner and the employees of the retailer have access to do this.
    # @param retailer_id [Integer] The ID of the retailer
    # @param name [String] The name of the retailer location
    # @param street_address [String] The street address of the retailer location
    # @param city [String] The city of the retailer location
    # @param state [String] The state of the retailer location
    # @param postal_code [String] The postal code of the retailer location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :country the country of the retailer location
    # @option opts [String] :business_phone The business phone number of the retailer location
    # @option opts [String] :business_phone_ext The business phone extension
    # @option opts [String] :website The website of the retailer location
    # @option opts [String] :email The email of the retailer location
    # @option opts [String] :internal_id An internal identifier used by the retailer
    # @option opts [String] :details_header A brief description about the retailer location (255 character limit)
    # @option opts [String] :details_body A detailed description about the retailer location
    # @option opts [String] :hours The hours of operation
    # @option opts [File] :logo The retailer location logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)
    # @option opts [Integer] :logo_asset_id The retailer location logo asset id
    # @option opts [File] :picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)
    # @option opts [Integer] :picture1_asset_id An asset id
    # @option opts [File] :picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)
    # @option opts [Integer] :picture2_asset_id An asset id
    # @option opts [String] :category_ids Comma separated list of category IDs used to filter retailer locations by categories
    # @option opts [String] :filter_ids Comma separated list of filter IDs used to filter retailer locations
    # @option opts [Float] :latitude the latitude of the retailer location
    # @option opts [Float] :longitude the longitude of the retailer location
    # @option opts [String] :building 
    # @option opts [String] :google_place_id the ID of the Google Place that this retailer location is assigned to
    # @option opts [String] :yelp_id the Yelp ID that this retailer location is assigned to
    # @option opts [Boolean] :active whether the retailer location should be active or inactive
    # @option opts [Boolean] :public_location Sets whether the location is public or not
    # @option opts [String] :location_type External custom type identifier
    # @option opts [String] :audience_ids Comma separated list of audience IDs used to assign audiences to the retailer location
    # @option opts [String] :audience_ids_to_add Comma separated list of audience IDs to add to the retailer location
    # @option opts [String] :audience_ids_to_remove Comma separated list of audience IDs to remove from the retailer location
    # @option opts [String] :response_format The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
    # @option opts [String] :response_includes Comma separated list of response includes (e.g. RETAILER,ASSETS,OFFERS,CATEGORIES,FILTERS,AUDIENCES,QRCODE)
    # @return [Array<(RetailerLocationResponse, Integer, Hash)>] RetailerLocationResponse data, response status code and response headers
    def create_retailer_locations_with_http_info(retailer_id, name, street_address, city, state, postal_code, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetailerLocationApi.create_retailer_locations ...'
      end
      # verify the required parameter 'retailer_id' is set
      if @api_client.config.client_side_validation && retailer_id.nil?
        fail ArgumentError, "Missing the required parameter 'retailer_id' when calling RetailerLocationApi.create_retailer_locations"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling RetailerLocationApi.create_retailer_locations"
      end
      # verify the required parameter 'street_address' is set
      if @api_client.config.client_side_validation && street_address.nil?
        fail ArgumentError, "Missing the required parameter 'street_address' when calling RetailerLocationApi.create_retailer_locations"
      end
      # verify the required parameter 'city' is set
      if @api_client.config.client_side_validation && city.nil?
        fail ArgumentError, "Missing the required parameter 'city' when calling RetailerLocationApi.create_retailer_locations"
      end
      # verify the required parameter 'state' is set
      if @api_client.config.client_side_validation && state.nil?
        fail ArgumentError, "Missing the required parameter 'state' when calling RetailerLocationApi.create_retailer_locations"
      end
      # verify the required parameter 'postal_code' is set
      if @api_client.config.client_side_validation && postal_code.nil?
        fail ArgumentError, "Missing the required parameter 'postal_code' when calling RetailerLocationApi.create_retailer_locations"
      end
      allowable_values = ["HTML", "XML", "JSON", "CSV"]
      if @api_client.config.client_side_validation && opts[:'response_format'] && !allowable_values.include?(opts[:'response_format'])
        fail ArgumentError, "invalid value for \"response_format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/retailer/location/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'retailerId'] = retailer_id
      query_params[:'name'] = name
      query_params[:'streetAddress'] = street_address
      query_params[:'city'] = city
      query_params[:'state'] = state
      query_params[:'postalCode'] = postal_code
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'streetAddress2'] = opts[:'street_address2'] if !opts[:'street_address2'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'businessPhone'] = opts[:'business_phone'] if !opts[:'business_phone'].nil?
      query_params[:'businessPhoneExt'] = opts[:'business_phone_ext'] if !opts[:'business_phone_ext'].nil?
      query_params[:'website'] = opts[:'website'] if !opts[:'website'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'internalId'] = opts[:'internal_id'] if !opts[:'internal_id'].nil?
      query_params[:'detailsHeader'] = opts[:'details_header'] if !opts[:'details_header'].nil?
      query_params[:'detailsBody'] = opts[:'details_body'] if !opts[:'details_body'].nil?
      query_params[:'hours'] = opts[:'hours'] if !opts[:'hours'].nil?
      query_params[:'logo'] = opts[:'logo'] if !opts[:'logo'].nil?
      query_params[:'logoAssetId'] = opts[:'logo_asset_id'] if !opts[:'logo_asset_id'].nil?
      query_params[:'picture1'] = opts[:'picture1'] if !opts[:'picture1'].nil?
      query_params[:'picture1AssetId'] = opts[:'picture1_asset_id'] if !opts[:'picture1_asset_id'].nil?
      query_params[:'picture2'] = opts[:'picture2'] if !opts[:'picture2'].nil?
      query_params[:'picture2AssetId'] = opts[:'picture2_asset_id'] if !opts[:'picture2_asset_id'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'building'] = opts[:'building'] if !opts[:'building'].nil?
      query_params[:'googlePlaceId'] = opts[:'google_place_id'] if !opts[:'google_place_id'].nil?
      query_params[:'yelpId'] = opts[:'yelp_id'] if !opts[:'yelp_id'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'publicLocation'] = opts[:'public_location'] if !opts[:'public_location'].nil?
      query_params[:'locationType'] = opts[:'location_type'] if !opts[:'location_type'].nil?
      query_params[:'audienceIds'] = opts[:'audience_ids'] if !opts[:'audience_ids'].nil?
      query_params[:'audienceIdsToAdd'] = opts[:'audience_ids_to_add'] if !opts[:'audience_ids_to_add'].nil?
      query_params[:'audienceIdsToRemove'] = opts[:'audience_ids_to_remove'] if !opts[:'audience_ids_to_remove'].nil?
      query_params[:'responseFormat'] = opts[:'response_format'] if !opts[:'response_format'].nil?
      query_params[:'responseIncludes'] = opts[:'response_includes'] if !opts[:'response_includes'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetailerLocationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RetailerLocationApi.create_retailer_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetailerLocationApi#create_retailer_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Retailer Location
    # Set the deleted timestamp to current time. This effectively deletes the retailer location since all queries should ignore any records with a deleted time stamp.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [Integer] :retailer_location_id the id of the retailer location to delete
    # @return [SirqulResponse]
    def delete_retailer_location(opts = {})
      data, _status_code, _headers = delete_retailer_location_with_http_info(opts)
      data
    end

    # Delete Retailer Location
    # Set the deleted timestamp to current time. This effectively deletes the retailer location since all queries should ignore any records with a deleted time stamp.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id
    # @option opts [Integer] :account_id the id of the logged in user
    # @option opts [Integer] :retailer_location_id the id of the retailer location to delete
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_retailer_location_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetailerLocationApi.delete_retailer_location ...'
      end
      # resource path
      local_var_path = '/retailer/location/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RetailerLocationApi.delete_retailer_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetailerLocationApi#delete_retailer_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Retailer Location
    # Gets a retailer location. Only the owner and the employees of the retailer have access to view its information.
    # @param retailer_location_id [Integer] The ID of the retailer location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :retailer_location_token the unique token of the retailer location
    # @return [RetailerLocationResponse]
    def get_retailer_location(retailer_location_id, opts = {})
      data, _status_code, _headers = get_retailer_location_with_http_info(retailer_location_id, opts)
      data
    end

    # Get Retailer Location
    # Gets a retailer location. Only the owner and the employees of the retailer have access to view its information.
    # @param retailer_location_id [Integer] The ID of the retailer location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :retailer_location_token the unique token of the retailer location
    # @return [Array<(RetailerLocationResponse, Integer, Hash)>] RetailerLocationResponse data, response status code and response headers
    def get_retailer_location_with_http_info(retailer_location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetailerLocationApi.get_retailer_location ...'
      end
      # verify the required parameter 'retailer_location_id' is set
      if @api_client.config.client_side_validation && retailer_location_id.nil?
        fail ArgumentError, "Missing the required parameter 'retailer_location_id' when calling RetailerLocationApi.get_retailer_location"
      end
      # resource path
      local_var_path = '/retailer/location/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'retailerLocationId'] = retailer_location_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'retailerLocationToken'] = opts[:'retailer_location_token'] if !opts[:'retailer_location_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetailerLocationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RetailerLocationApi.get_retailer_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetailerLocationApi#get_retailer_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Retailer Location (Consumer)
    # Gets the details of a retailer location as a consumer.
    # @param retailer_location_id [Integer] The retailer location id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id for returning account information (i.e. favorites)
    # @option opts [Integer] :account_id The account id for returning account information (i.e. favorites)
    # @return [RetailerLocationResponse]
    def get_retailer_location_consumer(retailer_location_id, opts = {})
      data, _status_code, _headers = get_retailer_location_consumer_with_http_info(retailer_location_id, opts)
      data
    end

    # Get Retailer Location (Consumer)
    # Gets the details of a retailer location as a consumer.
    # @param retailer_location_id [Integer] The retailer location id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id for returning account information (i.e. favorites)
    # @option opts [Integer] :account_id The account id for returning account information (i.e. favorites)
    # @return [Array<(RetailerLocationResponse, Integer, Hash)>] RetailerLocationResponse data, response status code and response headers
    def get_retailer_location_consumer_with_http_info(retailer_location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetailerLocationApi.get_retailer_location_consumer ...'
      end
      # verify the required parameter 'retailer_location_id' is set
      if @api_client.config.client_side_validation && retailer_location_id.nil?
        fail ArgumentError, "Missing the required parameter 'retailer_location_id' when calling RetailerLocationApi.get_retailer_location_consumer"
      end
      # resource path
      local_var_path = '/location/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'retailerLocationId'] = retailer_location_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetailerLocationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RetailerLocationApi.get_retailer_location_consumer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetailerLocationApi#get_retailer_location_consumer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Distance Search Retailer Locations (Indexed)
    # Retailer location indexed search by distance. This searches on any retailer location with location data and returns the results sorted by distance.
    # @param latitude [Float] The latitude to center the search on
    # @param longitude [Float] The longitude to center the search on
    # @param search_range [Float] The search range in the distanceUnit specified; default is MILES.
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [String] :address Used to return results using this address as the center
    # @option opts [Boolean] :has_offers boolean to indicate whether to include retailer locations that have no offers
    # @option opts [String] :categories Comma separate list of category ids
    # @option opts [String] :filters Comma separated list of filter ids
    # @option opts [String] :audiences Comma separated list of audience ids
    # @option opts [String] :retailer_ids Comma separated list of retailer ids
    # @option opts [String] :retailer_location_ids Comma separated list of retailer location ids
    # @option opts [String] :tags Does a full-text search on tags
    # @option opts [String] :location_type Location type filter
    # @option opts [String] :sort_field The field to sort the result set on. Possible values include: DISTANCE, RETAILER_NAME, RETAILER_LOCATION_NAME
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword Search by keyword
    # @option opts [String] :keyword_operator Determines the operator used when there are multiple words in the &#39;keyword&#39; parameter
    # @option opts [String] :search_expression Search expression to further refine results
    # @option opts [String] :distance_unit Unit of distance
    # @option opts [Boolean] :return_favorited (deprecated) return favorited flag
    # @option opts [Boolean] :return_retailer Return retailer info
    # @option opts [Boolean] :return_assets Return assets
    # @option opts [Boolean] :return_offers Return offers
    # @option opts [Boolean] :return_categories Return categories
    # @option opts [Boolean] :return_filters Return filters
    # @option opts [Boolean] :return_audiences Return audiences
    # @option opts [Boolean] :return_qr_code Return QR code info
    # @option opts [Boolean] :return_external_category_data Return external category data
    # @option opts [Boolean] :include_favorite Include favorites in response
    # @option opts [Boolean] :include_liked Include liked flag in response
    # @option opts [Boolean] :include_rating Include rating info in response
    # @return [Array<RetailerLocationResponse>]
    def indexed_retailer_location_distance_search(latitude, longitude, search_range, start, limit, opts = {})
      data, _status_code, _headers = indexed_retailer_location_distance_search_with_http_info(latitude, longitude, search_range, start, limit, opts)
      data
    end

    # Distance Search Retailer Locations (Indexed)
    # Retailer location indexed search by distance. This searches on any retailer location with location data and returns the results sorted by distance.
    # @param latitude [Float] The latitude to center the search on
    # @param longitude [Float] The longitude to center the search on
    # @param search_range [Float] The search range in the distanceUnit specified; default is MILES.
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [String] :address Used to return results using this address as the center
    # @option opts [Boolean] :has_offers boolean to indicate whether to include retailer locations that have no offers
    # @option opts [String] :categories Comma separate list of category ids
    # @option opts [String] :filters Comma separated list of filter ids
    # @option opts [String] :audiences Comma separated list of audience ids
    # @option opts [String] :retailer_ids Comma separated list of retailer ids
    # @option opts [String] :retailer_location_ids Comma separated list of retailer location ids
    # @option opts [String] :tags Does a full-text search on tags
    # @option opts [String] :location_type Location type filter
    # @option opts [String] :sort_field The field to sort the result set on. Possible values include: DISTANCE, RETAILER_NAME, RETAILER_LOCATION_NAME
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword Search by keyword
    # @option opts [String] :keyword_operator Determines the operator used when there are multiple words in the &#39;keyword&#39; parameter
    # @option opts [String] :search_expression Search expression to further refine results
    # @option opts [String] :distance_unit Unit of distance
    # @option opts [Boolean] :return_favorited (deprecated) return favorited flag
    # @option opts [Boolean] :return_retailer Return retailer info
    # @option opts [Boolean] :return_assets Return assets
    # @option opts [Boolean] :return_offers Return offers
    # @option opts [Boolean] :return_categories Return categories
    # @option opts [Boolean] :return_filters Return filters
    # @option opts [Boolean] :return_audiences Return audiences
    # @option opts [Boolean] :return_qr_code Return QR code info
    # @option opts [Boolean] :return_external_category_data Return external category data
    # @option opts [Boolean] :include_favorite Include favorites in response
    # @option opts [Boolean] :include_liked Include liked flag in response
    # @option opts [Boolean] :include_rating Include rating info in response
    # @return [Array<(Array<RetailerLocationResponse>, Integer, Hash)>] Array<RetailerLocationResponse> data, response status code and response headers
    def indexed_retailer_location_distance_search_with_http_info(latitude, longitude, search_range, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetailerLocationApi.indexed_retailer_location_distance_search ...'
      end
      # verify the required parameter 'latitude' is set
      if @api_client.config.client_side_validation && latitude.nil?
        fail ArgumentError, "Missing the required parameter 'latitude' when calling RetailerLocationApi.indexed_retailer_location_distance_search"
      end
      # verify the required parameter 'longitude' is set
      if @api_client.config.client_side_validation && longitude.nil?
        fail ArgumentError, "Missing the required parameter 'longitude' when calling RetailerLocationApi.indexed_retailer_location_distance_search"
      end
      # verify the required parameter 'search_range' is set
      if @api_client.config.client_side_validation && search_range.nil?
        fail ArgumentError, "Missing the required parameter 'search_range' when calling RetailerLocationApi.indexed_retailer_location_distance_search"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling RetailerLocationApi.indexed_retailer_location_distance_search"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling RetailerLocationApi.indexed_retailer_location_distance_search"
      end
      allowable_values = ["MILES", "KILOMETERS"]
      if @api_client.config.client_side_validation && opts[:'distance_unit'] && !allowable_values.include?(opts[:'distance_unit'])
        fail ArgumentError, "invalid value for \"distance_unit\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/retailer/location/idistancesearch'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'latitude'] = latitude
      query_params[:'longitude'] = longitude
      query_params[:'searchRange'] = search_range
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'address'] = opts[:'address'] if !opts[:'address'].nil?
      query_params[:'hasOffers'] = opts[:'has_offers'] if !opts[:'has_offers'].nil?
      query_params[:'categories'] = opts[:'categories'] if !opts[:'categories'].nil?
      query_params[:'filters'] = opts[:'filters'] if !opts[:'filters'].nil?
      query_params[:'audiences'] = opts[:'audiences'] if !opts[:'audiences'].nil?
      query_params[:'retailerIds'] = opts[:'retailer_ids'] if !opts[:'retailer_ids'].nil?
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'locationType'] = opts[:'location_type'] if !opts[:'location_type'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'keywordOperator'] = opts[:'keyword_operator'] if !opts[:'keyword_operator'].nil?
      query_params[:'searchExpression'] = opts[:'search_expression'] if !opts[:'search_expression'].nil?
      query_params[:'distanceUnit'] = opts[:'distance_unit'] if !opts[:'distance_unit'].nil?
      query_params[:'returnFavorited'] = opts[:'return_favorited'] if !opts[:'return_favorited'].nil?
      query_params[:'returnRetailer'] = opts[:'return_retailer'] if !opts[:'return_retailer'].nil?
      query_params[:'returnAssets'] = opts[:'return_assets'] if !opts[:'return_assets'].nil?
      query_params[:'returnOffers'] = opts[:'return_offers'] if !opts[:'return_offers'].nil?
      query_params[:'returnCategories'] = opts[:'return_categories'] if !opts[:'return_categories'].nil?
      query_params[:'returnFilters'] = opts[:'return_filters'] if !opts[:'return_filters'].nil?
      query_params[:'returnAudiences'] = opts[:'return_audiences'] if !opts[:'return_audiences'].nil?
      query_params[:'returnQrCode'] = opts[:'return_qr_code'] if !opts[:'return_qr_code'].nil?
      query_params[:'returnExternalCategoryData'] = opts[:'return_external_category_data'] if !opts[:'return_external_category_data'].nil?
      query_params[:'includeFavorite'] = opts[:'include_favorite'] if !opts[:'include_favorite'].nil?
      query_params[:'includeLiked'] = opts[:'include_liked'] if !opts[:'include_liked'].nil?
      query_params[:'includeRating'] = opts[:'include_rating'] if !opts[:'include_rating'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RetailerLocationResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RetailerLocationApi.indexed_retailer_location_distance_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetailerLocationApi#indexed_retailer_location_distance_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Keyword Search Retailer Locations (Indexed)
    # Retailer location (faster) indexed search. This searches all retailer locations.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [Integer] :start The start index for pagination
    # @option opts [Integer] :limit The limit for pagination
    # @option opts [Boolean] :has_offers boolean to indicate whether to include retailer locations that have no offers
    # @option opts [String] :categories Comma separate list of category ids
    # @option opts [String] :filters Comma separated list of filter ids
    # @option opts [String] :audiences Comma separated list of audience ids
    # @option opts [String] :retailer_ids Comma separated list of retailer ids
    # @option opts [String] :retailer_location_ids Comma separated list of retailer location ids
    # @option opts [String] :tags Does a full-text search on tags
    # @option opts [String] :location_type Location type filter
    # @option opts [String] :sort_field The field to sort the result set on. Possible values include: RETAILER_NAME, RETAILER_LOCATION_NAME
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword Search by keyword
    # @option opts [String] :keyword_operator Determines the operator used when there are multiple words in the &#39;keyword&#39; parameter
    # @option opts [String] :search_expression Search expression to further refine results
    # @option opts [Boolean] :return_retailer Return retailer info
    # @option opts [Boolean] :return_assets Return assets
    # @option opts [Boolean] :return_offers Return offers
    # @option opts [Boolean] :return_categories Return categories
    # @option opts [Boolean] :return_filters Return filters
    # @option opts [Boolean] :return_audiences Return audiences
    # @option opts [Boolean] :return_qr_code Return QR code info
    # @option opts [Boolean] :return_external_category_data Return external category data
    # @option opts [Boolean] :include_favorite Include favorites in response
    # @option opts [Boolean] :include_liked Include liked flag in response
    # @option opts [Boolean] :include_rating Include rating info in response
    # @return [Array<RetailerLocationResponse>]
    def indexed_retailer_location_search(opts = {})
      data, _status_code, _headers = indexed_retailer_location_search_with_http_info(opts)
      data
    end

    # Keyword Search Retailer Locations (Indexed)
    # Retailer location (faster) indexed search. This searches all retailer locations.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id The account id of the user
    # @option opts [Integer] :start The start index for pagination
    # @option opts [Integer] :limit The limit for pagination
    # @option opts [Boolean] :has_offers boolean to indicate whether to include retailer locations that have no offers
    # @option opts [String] :categories Comma separate list of category ids
    # @option opts [String] :filters Comma separated list of filter ids
    # @option opts [String] :audiences Comma separated list of audience ids
    # @option opts [String] :retailer_ids Comma separated list of retailer ids
    # @option opts [String] :retailer_location_ids Comma separated list of retailer location ids
    # @option opts [String] :tags Does a full-text search on tags
    # @option opts [String] :location_type Location type filter
    # @option opts [String] :sort_field The field to sort the result set on. Possible values include: RETAILER_NAME, RETAILER_LOCATION_NAME
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword Search by keyword
    # @option opts [String] :keyword_operator Determines the operator used when there are multiple words in the &#39;keyword&#39; parameter
    # @option opts [String] :search_expression Search expression to further refine results
    # @option opts [Boolean] :return_retailer Return retailer info
    # @option opts [Boolean] :return_assets Return assets
    # @option opts [Boolean] :return_offers Return offers
    # @option opts [Boolean] :return_categories Return categories
    # @option opts [Boolean] :return_filters Return filters
    # @option opts [Boolean] :return_audiences Return audiences
    # @option opts [Boolean] :return_qr_code Return QR code info
    # @option opts [Boolean] :return_external_category_data Return external category data
    # @option opts [Boolean] :include_favorite Include favorites in response
    # @option opts [Boolean] :include_liked Include liked flag in response
    # @option opts [Boolean] :include_rating Include rating info in response
    # @return [Array<(Array<RetailerLocationResponse>, Integer, Hash)>] Array<RetailerLocationResponse> data, response status code and response headers
    def indexed_retailer_location_search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetailerLocationApi.indexed_retailer_location_search ...'
      end
      # resource path
      local_var_path = '/retailer/location/isearch'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'hasOffers'] = opts[:'has_offers'] if !opts[:'has_offers'].nil?
      query_params[:'categories'] = opts[:'categories'] if !opts[:'categories'].nil?
      query_params[:'filters'] = opts[:'filters'] if !opts[:'filters'].nil?
      query_params[:'audiences'] = opts[:'audiences'] if !opts[:'audiences'].nil?
      query_params[:'retailerIds'] = opts[:'retailer_ids'] if !opts[:'retailer_ids'].nil?
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'locationType'] = opts[:'location_type'] if !opts[:'location_type'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'keywordOperator'] = opts[:'keyword_operator'] if !opts[:'keyword_operator'].nil?
      query_params[:'searchExpression'] = opts[:'search_expression'] if !opts[:'search_expression'].nil?
      query_params[:'returnRetailer'] = opts[:'return_retailer'] if !opts[:'return_retailer'].nil?
      query_params[:'returnAssets'] = opts[:'return_assets'] if !opts[:'return_assets'].nil?
      query_params[:'returnOffers'] = opts[:'return_offers'] if !opts[:'return_offers'].nil?
      query_params[:'returnCategories'] = opts[:'return_categories'] if !opts[:'return_categories'].nil?
      query_params[:'returnFilters'] = opts[:'return_filters'] if !opts[:'return_filters'].nil?
      query_params[:'returnAudiences'] = opts[:'return_audiences'] if !opts[:'return_audiences'].nil?
      query_params[:'returnQrCode'] = opts[:'return_qr_code'] if !opts[:'return_qr_code'].nil?
      query_params[:'returnExternalCategoryData'] = opts[:'return_external_category_data'] if !opts[:'return_external_category_data'].nil?
      query_params[:'includeFavorite'] = opts[:'include_favorite'] if !opts[:'include_favorite'].nil?
      query_params[:'includeLiked'] = opts[:'include_liked'] if !opts[:'include_liked'].nil?
      query_params[:'includeRating'] = opts[:'include_rating'] if !opts[:'include_rating'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RetailerLocationResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RetailerLocationApi.indexed_retailer_location_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetailerLocationApi#indexed_retailer_location_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Retailer Locations (Owned)
    # Searches on retailer locations that the account has access to.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :retailer_ids Comma separated list of retailer IDs which when passed in will filter the results to only return these retailers.
    # @option opts [String] :retailer_location_ids Comma separated list of retailer location IDs
    # @option opts [String] :location_type Location type filter
    # @option opts [String] :sort_field The column to sort the search on
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Integer] :limit The number of records to return
    # @option opts [Boolean] :show_public_locations Whether to include public locations in the results
    # @option opts [Boolean] :active_only Return only active results
    # @option opts [Boolean] :return_retailer Return retailer info
    # @option opts [Boolean] :return_assets Return assets
    # @option opts [Boolean] :return_offers Return offers
    # @option opts [Boolean] :return_categories Return categories
    # @option opts [Boolean] :return_filters Return filters
    # @option opts [Boolean] :return_audiences Return audiences
    # @option opts [Boolean] :return_qr_code Return QR code info
    # @option opts [Boolean] :include_favorite Include favorites in response
    # @option opts [Boolean] :include_liked Include liked flag in response
    # @option opts [Boolean] :include_rating Include rating info in response
    # @return [Array<RetailerLocationResponse>]
    def search_retailer_locations(opts = {})
      data, _status_code, _headers = search_retailer_locations_with_http_info(opts)
      data
    end

    # Search Retailer Locations (Owned)
    # Searches on retailer locations that the account has access to.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :q This parameter is deprecated.
    # @option opts [String] :keyword The keyword used to search
    # @option opts [String] :retailer_ids Comma separated list of retailer IDs which when passed in will filter the results to only return these retailers.
    # @option opts [String] :retailer_location_ids Comma separated list of retailer location IDs
    # @option opts [String] :location_type Location type filter
    # @option opts [String] :sort_field The column to sort the search on
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :_i This parameter is deprecated.
    # @option opts [Integer] :start The record to begin the return set on
    # @option opts [Integer] :_l This parameter is deprecated.
    # @option opts [Integer] :limit The number of records to return
    # @option opts [Boolean] :show_public_locations Whether to include public locations in the results
    # @option opts [Boolean] :active_only Return only active results
    # @option opts [Boolean] :return_retailer Return retailer info
    # @option opts [Boolean] :return_assets Return assets
    # @option opts [Boolean] :return_offers Return offers
    # @option opts [Boolean] :return_categories Return categories
    # @option opts [Boolean] :return_filters Return filters
    # @option opts [Boolean] :return_audiences Return audiences
    # @option opts [Boolean] :return_qr_code Return QR code info
    # @option opts [Boolean] :include_favorite Include favorites in response
    # @option opts [Boolean] :include_liked Include liked flag in response
    # @option opts [Boolean] :include_rating Include rating info in response
    # @return [Array<(Array<RetailerLocationResponse>, Integer, Hash)>] Array<RetailerLocationResponse> data, response status code and response headers
    def search_retailer_locations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetailerLocationApi.search_retailer_locations ...'
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "RETAILER_ID", "BILLABLE_ENTITY_ID", "BILLABLE_ENTITY_NAME", "RESPONSIBLE_DISPLAY", "ADDRESS_STREET", "ADDRESS_CITY", "ADDRESS_STATE", "ADDRESS_POSTAL_CODE", "ADDRESS_COUNTRY", "NAME", "CODE"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/retailer/location/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'retailerIds'] = opts[:'retailer_ids'] if !opts[:'retailer_ids'].nil?
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'locationType'] = opts[:'location_type'] if !opts[:'location_type'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'_i'] = opts[:'_i'] if !opts[:'_i'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'_l'] = opts[:'_l'] if !opts[:'_l'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'showPublicLocations'] = opts[:'show_public_locations'] if !opts[:'show_public_locations'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'returnRetailer'] = opts[:'return_retailer'] if !opts[:'return_retailer'].nil?
      query_params[:'returnAssets'] = opts[:'return_assets'] if !opts[:'return_assets'].nil?
      query_params[:'returnOffers'] = opts[:'return_offers'] if !opts[:'return_offers'].nil?
      query_params[:'returnCategories'] = opts[:'return_categories'] if !opts[:'return_categories'].nil?
      query_params[:'returnFilters'] = opts[:'return_filters'] if !opts[:'return_filters'].nil?
      query_params[:'returnAudiences'] = opts[:'return_audiences'] if !opts[:'return_audiences'].nil?
      query_params[:'returnQrCode'] = opts[:'return_qr_code'] if !opts[:'return_qr_code'].nil?
      query_params[:'includeFavorite'] = opts[:'include_favorite'] if !opts[:'include_favorite'].nil?
      query_params[:'includeLiked'] = opts[:'include_liked'] if !opts[:'include_liked'].nil?
      query_params[:'includeRating'] = opts[:'include_rating'] if !opts[:'include_rating'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RetailerLocationResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RetailerLocationApi.search_retailer_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetailerLocationApi#search_retailer_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Retailer Location
    # Updates a location record for a retailer. Only the owner and the employees of the retailer have access to do this.
    # @param retailer_location_id [Integer] The ID of the retailer location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :name The name of the retailer location
    # @option opts [String] :street_address The street address of the retailer location
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :city The city of the retailer location
    # @option opts [String] :state The state of the retailer location
    # @option opts [String] :postal_code The postal code of the retailer location
    # @option opts [String] :country the country of the retailer location
    # @option opts [String] :business_phone The business phone number of the retailer location
    # @option opts [String] :business_phone_ext The business phone extension of the retailer location
    # @option opts [String] :website The website of the retailer location
    # @option opts [String] :email The email of the retailer location
    # @option opts [String] :internal_id An internal identifier used by the retailer
    # @option opts [String] :details_header A brief description about the retailer location (255 character limit)
    # @option opts [String] :details_body A detailed description about the retailer location
    # @option opts [String] :hours The hours of operation
    # @option opts [File] :logo The retailer location logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)
    # @option opts [Integer] :logo_asset_id The retailer location logo asset id
    # @option opts [File] :picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)
    # @option opts [Integer] :picture1_asset_id An asset id
    # @option opts [File] :picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)
    # @option opts [Integer] :picture2_asset_id An asset id
    # @option opts [String] :category_ids Comma separated list of category IDs used to filter retailer locations by categories
    # @option opts [String] :filter_ids Comma separated list of filter IDs used to filter retailer locations
    # @option opts [Float] :latitude the latituede of the retailer location
    # @option opts [Float] :longitude the longitude of the retailer location
    # @option opts [String] :building 
    # @option opts [String] :google_place_id the Google Place ID that the retailer location is associated with
    # @option opts [String] :yelp_id the Yelp ID that the retailer location is associated with
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :payment_provider Specifies which payment provider Sirqul will use when making payments
    # @option opts [Boolean] :active Sets whether the retailer is active or inactive (hidden from consumers)
    # @option opts [Boolean] :public_location Sets whether the location is public or not
    # @option opts [String] :location_type External custom type identifier
    # @option opts [String] :audience_ids Comma separated list of audience IDs used to assign audiences to the retailer location
    # @option opts [String] :audience_ids_to_add Comma separated list of audience IDs to add to the retailer location
    # @option opts [String] :audience_ids_to_remove Comma separated list of audience IDs to remove from the retailer location
    # @option opts [String] :response_format The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
    # @option opts [String] :tags Custom string field for doing full-text searches
    # @return [RetailerLocationResponse]
    def update_retailer_locations(retailer_location_id, opts = {})
      data, _status_code, _headers = update_retailer_locations_with_http_info(retailer_location_id, opts)
      data
    end

    # Update Retailer Location
    # Updates a location record for a retailer. Only the owner and the employees of the retailer have access to do this.
    # @param retailer_location_id [Integer] The ID of the retailer location
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :name The name of the retailer location
    # @option opts [String] :street_address The street address of the retailer location
    # @option opts [String] :street_address2 Additional address information (such as a suite number, floor number, building name, or PO Box)
    # @option opts [String] :city The city of the retailer location
    # @option opts [String] :state The state of the retailer location
    # @option opts [String] :postal_code The postal code of the retailer location
    # @option opts [String] :country the country of the retailer location
    # @option opts [String] :business_phone The business phone number of the retailer location
    # @option opts [String] :business_phone_ext The business phone extension of the retailer location
    # @option opts [String] :website The website of the retailer location
    # @option opts [String] :email The email of the retailer location
    # @option opts [String] :internal_id An internal identifier used by the retailer
    # @option opts [String] :details_header A brief description about the retailer location (255 character limit)
    # @option opts [String] :details_body A detailed description about the retailer location
    # @option opts [String] :hours The hours of operation
    # @option opts [File] :logo The retailer location logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)
    # @option opts [Integer] :logo_asset_id The retailer location logo asset id
    # @option opts [File] :picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)
    # @option opts [Integer] :picture1_asset_id An asset id
    # @option opts [File] :picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)
    # @option opts [Integer] :picture2_asset_id An asset id
    # @option opts [String] :category_ids Comma separated list of category IDs used to filter retailer locations by categories
    # @option opts [String] :filter_ids Comma separated list of filter IDs used to filter retailer locations
    # @option opts [Float] :latitude the latituede of the retailer location
    # @option opts [Float] :longitude the longitude of the retailer location
    # @option opts [String] :building 
    # @option opts [String] :google_place_id the Google Place ID that the retailer location is associated with
    # @option opts [String] :yelp_id the Yelp ID that the retailer location is associated with
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :payment_provider Specifies which payment provider Sirqul will use when making payments
    # @option opts [Boolean] :active Sets whether the retailer is active or inactive (hidden from consumers)
    # @option opts [Boolean] :public_location Sets whether the location is public or not
    # @option opts [String] :location_type External custom type identifier
    # @option opts [String] :audience_ids Comma separated list of audience IDs used to assign audiences to the retailer location
    # @option opts [String] :audience_ids_to_add Comma separated list of audience IDs to add to the retailer location
    # @option opts [String] :audience_ids_to_remove Comma separated list of audience IDs to remove from the retailer location
    # @option opts [String] :response_format The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
    # @option opts [String] :tags Custom string field for doing full-text searches
    # @return [Array<(RetailerLocationResponse, Integer, Hash)>] RetailerLocationResponse data, response status code and response headers
    def update_retailer_locations_with_http_info(retailer_location_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RetailerLocationApi.update_retailer_locations ...'
      end
      # verify the required parameter 'retailer_location_id' is set
      if @api_client.config.client_side_validation && retailer_location_id.nil?
        fail ArgumentError, "Missing the required parameter 'retailer_location_id' when calling RetailerLocationApi.update_retailer_locations"
      end
      allowable_values = ["HTML", "XML", "JSON", "CSV"]
      if @api_client.config.client_side_validation && opts[:'response_format'] && !allowable_values.include?(opts[:'response_format'])
        fail ArgumentError, "invalid value for \"response_format\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/retailer/location/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'retailerLocationId'] = retailer_location_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'streetAddress'] = opts[:'street_address'] if !opts[:'street_address'].nil?
      query_params[:'streetAddress2'] = opts[:'street_address2'] if !opts[:'street_address2'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'postalCode'] = opts[:'postal_code'] if !opts[:'postal_code'].nil?
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'businessPhone'] = opts[:'business_phone'] if !opts[:'business_phone'].nil?
      query_params[:'businessPhoneExt'] = opts[:'business_phone_ext'] if !opts[:'business_phone_ext'].nil?
      query_params[:'website'] = opts[:'website'] if !opts[:'website'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'internalId'] = opts[:'internal_id'] if !opts[:'internal_id'].nil?
      query_params[:'detailsHeader'] = opts[:'details_header'] if !opts[:'details_header'].nil?
      query_params[:'detailsBody'] = opts[:'details_body'] if !opts[:'details_body'].nil?
      query_params[:'hours'] = opts[:'hours'] if !opts[:'hours'].nil?
      query_params[:'logo'] = opts[:'logo'] if !opts[:'logo'].nil?
      query_params[:'logoAssetId'] = opts[:'logo_asset_id'] if !opts[:'logo_asset_id'].nil?
      query_params[:'picture1'] = opts[:'picture1'] if !opts[:'picture1'].nil?
      query_params[:'picture1AssetId'] = opts[:'picture1_asset_id'] if !opts[:'picture1_asset_id'].nil?
      query_params[:'picture2'] = opts[:'picture2'] if !opts[:'picture2'].nil?
      query_params[:'picture2AssetId'] = opts[:'picture2_asset_id'] if !opts[:'picture2_asset_id'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'building'] = opts[:'building'] if !opts[:'building'].nil?
      query_params[:'googlePlaceId'] = opts[:'google_place_id'] if !opts[:'google_place_id'].nil?
      query_params[:'yelpId'] = opts[:'yelp_id'] if !opts[:'yelp_id'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'paymentProvider'] = opts[:'payment_provider'] if !opts[:'payment_provider'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'publicLocation'] = opts[:'public_location'] if !opts[:'public_location'].nil?
      query_params[:'locationType'] = opts[:'location_type'] if !opts[:'location_type'].nil?
      query_params[:'audienceIds'] = opts[:'audience_ids'] if !opts[:'audience_ids'].nil?
      query_params[:'audienceIdsToAdd'] = opts[:'audience_ids_to_add'] if !opts[:'audience_ids_to_add'].nil?
      query_params[:'audienceIdsToRemove'] = opts[:'audience_ids_to_remove'] if !opts[:'audience_ids_to_remove'].nil?
      query_params[:'responseFormat'] = opts[:'response_format'] if !opts[:'response_format'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetailerLocationResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RetailerLocationApi.update_retailer_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RetailerLocationApi#update_retailer_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
