=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class RouteSettingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Route Setting
    # Create a new route setting
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [RouteSettings] :body 
    # @return [RouteSettings]
    def create_route_settings(version, opts = {})
      data, _status_code, _headers = create_route_settings_with_http_info(version, opts)
      data
    end

    # Create Route Setting
    # Create a new route setting
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [RouteSettings] :body 
    # @return [Array<(RouteSettings, Integer, Hash)>] RouteSettings data, response status code and response headers
    def create_route_settings_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteSettingApi.create_route_settings ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteSettingApi.create_route_settings"
      end
      # resource path
      local_var_path = '/api/{version}/route/setting'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'RouteSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteSettingApi.create_route_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteSettingApi#create_route_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Route Setting
    # Delete an existing route setting
    # @param version [Float] 
    # @param route_settings_id [Integer] the id of the route setting to delete
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def delete_route_settings(version, route_settings_id, opts = {})
      data, _status_code, _headers = delete_route_settings_with_http_info(version, route_settings_id, opts)
      data
    end

    # Delete Route Setting
    # Delete an existing route setting
    # @param version [Float] 
    # @param route_settings_id [Integer] the id of the route setting to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def delete_route_settings_with_http_info(version, route_settings_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteSettingApi.delete_route_settings ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteSettingApi.delete_route_settings"
      end
      # verify the required parameter 'route_settings_id' is set
      if @api_client.config.client_side_validation && route_settings_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_settings_id' when calling RouteSettingApi.delete_route_settings"
      end
      # resource path
      local_var_path = '/api/{version}/route/setting/{routeSettingsId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeSettingsId' + '}', CGI.escape(route_settings_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteSettingApi.delete_route_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteSettingApi#delete_route_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Route Setting
    # Get an existing route settings
    # @param version [Float] 
    # @param route_settings_id [Integer] the id of the route settings to get
    # @param [Hash] opts the optional parameters
    # @return [RouteSettings]
    def get_route_settings(version, route_settings_id, opts = {})
      data, _status_code, _headers = get_route_settings_with_http_info(version, route_settings_id, opts)
      data
    end

    # Get Route Setting
    # Get an existing route settings
    # @param version [Float] 
    # @param route_settings_id [Integer] the id of the route settings to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(RouteSettings, Integer, Hash)>] RouteSettings data, response status code and response headers
    def get_route_settings_with_http_info(version, route_settings_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteSettingApi.get_route_settings ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteSettingApi.get_route_settings"
      end
      # verify the required parameter 'route_settings_id' is set
      if @api_client.config.client_side_validation && route_settings_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_settings_id' when calling RouteSettingApi.get_route_settings"
      end
      # resource path
      local_var_path = '/api/{version}/route/setting/{routeSettingsId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeSettingsId' + '}', CGI.escape(route_settings_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RouteSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteSettingApi.get_route_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteSettingApi#get_route_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Route Settings
    # Search for route settings
    # @param version [Float] 
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :hub_id The service hub that the route belongs under
    # @option opts [Integer] :program_id The program that the route belongs under
    # @option opts [String] :keyword The keyword to search for the route
    # @return [Array<RouteSettings>]
    def search_route_settings(version, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_route_settings_with_http_info(version, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Route Settings
    # Search for route settings
    # @param version [Float] 
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :hub_id The service hub that the route belongs under
    # @option opts [Integer] :program_id The program that the route belongs under
    # @option opts [String] :keyword The keyword to search for the route
    # @return [Array<(Array<RouteSettings>, Integer, Hash)>] Array<RouteSettings> data, response status code and response headers
    def search_route_settings_with_http_info(version, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteSettingApi.search_route_settings ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteSettingApi.search_route_settings"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling RouteSettingApi.search_route_settings"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling RouteSettingApi.search_route_settings"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling RouteSettingApi.search_route_settings"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling RouteSettingApi.search_route_settings"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling RouteSettingApi.search_route_settings"
      end
      # resource path
      local_var_path = '/api/{version}/route/setting'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'hubId'] = opts[:'hub_id'] if !opts[:'hub_id'].nil?
      query_params[:'programId'] = opts[:'program_id'] if !opts[:'program_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<RouteSettings>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteSettingApi.search_route_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteSettingApi#search_route_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Route Setting
    # Update an existing route setting
    # @param version [Float] 
    # @param route_settings_id [Integer] the id of the route settings to update
    # @param [Hash] opts the optional parameters
    # @option opts [RouteSettings] :body 
    # @return [RouteSettings]
    def update_route_settings(version, route_settings_id, opts = {})
      data, _status_code, _headers = update_route_settings_with_http_info(version, route_settings_id, opts)
      data
    end

    # Update Route Setting
    # Update an existing route setting
    # @param version [Float] 
    # @param route_settings_id [Integer] the id of the route settings to update
    # @param [Hash] opts the optional parameters
    # @option opts [RouteSettings] :body 
    # @return [Array<(RouteSettings, Integer, Hash)>] RouteSettings data, response status code and response headers
    def update_route_settings_with_http_info(version, route_settings_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteSettingApi.update_route_settings ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteSettingApi.update_route_settings"
      end
      # verify the required parameter 'route_settings_id' is set
      if @api_client.config.client_side_validation && route_settings_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_settings_id' when calling RouteSettingApi.update_route_settings"
      end
      # resource path
      local_var_path = '/api/{version}/route/setting/{routeSettingsId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeSettingsId' + '}', CGI.escape(route_settings_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'RouteSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteSettingApi.update_route_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteSettingApi#update_route_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
