=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class RouteApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve Route
    # Approve a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to approve
    # @param [Hash] opts the optional parameters
    # @return [Route]
    def approve_route(version, route_id, opts = {})
      data, _status_code, _headers = approve_route_with_http_info(version, route_id, opts)
      data
    end

    # Approve Route
    # Approve a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to approve
    # @param [Hash] opts the optional parameters
    # @return [Array<(Route, Integer, Hash)>] Route data, response status code and response headers
    def approve_route_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.approve_route ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.approve_route"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.approve_route"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/approve'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Route'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.approve_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#approve_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Copy Route
    # Make an copy of the given route with optional overriding properties
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to duplicate
    # @param [Hash] opts the optional parameters
    # @option opts [Route] :body 
    # @return [Route]
    def copy_route(version, route_id, opts = {})
      data, _status_code, _headers = copy_route_with_http_info(version, route_id, opts)
      data
    end

    # Copy Route
    # Make an copy of the given route with optional overriding properties
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to duplicate
    # @param [Hash] opts the optional parameters
    # @option opts [Route] :body 
    # @return [Array<(Route, Integer, Hash)>] Route data, response status code and response headers
    def copy_route_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.copy_route ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.copy_route"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.copy_route"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/copy'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Route'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.copy_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#copy_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Route
    # Create new route
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Route] :body 
    # @return [Route]
    def create_route(version, opts = {})
      data, _status_code, _headers = create_route_with_http_info(version, opts)
      data
    end

    # Create Route
    # Create new route
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Route] :body 
    # @return [Array<(Route, Integer, Hash)>] Route data, response status code and response headers
    def create_route_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.create_route ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.create_route"
      end
      # resource path
      local_var_path = '/api/{version}/route'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Route'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.create_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#create_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Route Directions
    # Regenerate the directions of a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to update directions for
    # @param [Hash] opts the optional parameters
    # @return [Array<Direction>]
    def create_route_directions(version, route_id, opts = {})
      data, _status_code, _headers = create_route_directions_with_http_info(version, route_id, opts)
      data
    end

    # Update Route Directions
    # Regenerate the directions of a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to update directions for
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Direction>, Integer, Hash)>] Array<Direction> data, response status code and response headers
    def create_route_directions_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.create_route_directions ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.create_route_directions"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.create_route_directions"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/directions'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Direction>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.create_route_directions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#create_route_directions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Route Polyline
    # Update the polyline of the requested route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to create a polyline for
    # @param [Hash] opts the optional parameters
    # @return [Route]
    def create_route_polyline(version, route_id, opts = {})
      data, _status_code, _headers = create_route_polyline_with_http_info(version, route_id, opts)
      data
    end

    # Create Route Polyline
    # Update the polyline of the requested route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to create a polyline for
    # @param [Hash] opts the optional parameters
    # @return [Array<(Route, Integer, Hash)>] Route data, response status code and response headers
    def create_route_polyline_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.create_route_polyline ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.create_route_polyline"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.create_route_polyline"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/polyline'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Route'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.create_route_polyline",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#create_route_polyline\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Route
    # Delete an existing route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_route(version, route_id, opts = {})
      delete_route_with_http_info(version, route_id, opts)
      nil
    end

    # Delete Route
    # Delete an existing route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_route_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.delete_route ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.delete_route"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.delete_route"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.delete_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#delete_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disapprove Route
    # Disapprove a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to reject
    # @param [Hash] opts the optional parameters
    # @return [Route]
    def disapprove_route(version, route_id, opts = {})
      data, _status_code, _headers = disapprove_route_with_http_info(version, route_id, opts)
      data
    end

    # Disapprove Route
    # Disapprove a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to reject
    # @param [Hash] opts the optional parameters
    # @return [Array<(Route, Integer, Hash)>] Route data, response status code and response headers
    def disapprove_route_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.disapprove_route ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.disapprove_route"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.disapprove_route"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/disapprove'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Route'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.disapprove_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#disapprove_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Route
    # Get an existing route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to get
    # @param show_inherited_properties [Boolean] return inherited properties from parent or not
    # @param [Hash] opts the optional parameters
    # @return [Route]
    def get_route(version, route_id, show_inherited_properties, opts = {})
      data, _status_code, _headers = get_route_with_http_info(version, route_id, show_inherited_properties, opts)
      data
    end

    # Get Route
    # Get an existing route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to get
    # @param show_inherited_properties [Boolean] return inherited properties from parent or not
    # @param [Hash] opts the optional parameters
    # @return [Array<(Route, Integer, Hash)>] Route data, response status code and response headers
    def get_route_with_http_info(version, route_id, show_inherited_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.get_route ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.get_route"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.get_route"
      end
      # verify the required parameter 'show_inherited_properties' is set
      if @api_client.config.client_side_validation && show_inherited_properties.nil?
        fail ArgumentError, "Missing the required parameter 'show_inherited_properties' when calling RouteApi.get_route"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'showInheritedProperties'] = show_inherited_properties

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Route'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.get_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#get_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Route Directions
    # Get the directions of a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to get directions for
    # @param [Hash] opts the optional parameters
    # @return [Array<Direction>]
    def get_route_directions(version, route_id, opts = {})
      data, _status_code, _headers = get_route_directions_with_http_info(version, route_id, opts)
      data
    end

    # Get Route Directions
    # Get the directions of a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to get directions for
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Direction>, Integer, Hash)>] Array<Direction> data, response status code and response headers
    def get_route_directions_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.get_route_directions ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.get_route_directions"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.get_route_directions"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/directions'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Direction>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.get_route_directions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#get_route_directions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Route Shipments
    # Get the shipments on the requested route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to get shipments for
    # @param [Hash] opts the optional parameters
    # @return [Array<Shipment>]
    def get_route_shipments(version, route_id, opts = {})
      data, _status_code, _headers = get_route_shipments_with_http_info(version, route_id, opts)
      data
    end

    # Get Route Shipments
    # Get the shipments on the requested route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to get shipments for
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Shipment>, Integer, Hash)>] Array<Shipment> data, response status code and response headers
    def get_route_shipments_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.get_route_shipments ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.get_route_shipments"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.get_route_shipments"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/shipments'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Shipment>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.get_route_shipments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#get_route_shipments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Route Stop
    # Get the specific stop on a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to get stops for
    # @param stop_id [Integer] the id of the specific stop on the route
    # @param [Hash] opts the optional parameters
    # @return [Stop]
    def get_route_stop(version, route_id, stop_id, opts = {})
      data, _status_code, _headers = get_route_stop_with_http_info(version, route_id, stop_id, opts)
      data
    end

    # Get Route Stop
    # Get the specific stop on a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to get stops for
    # @param stop_id [Integer] the id of the specific stop on the route
    # @param [Hash] opts the optional parameters
    # @return [Array<(Stop, Integer, Hash)>] Stop data, response status code and response headers
    def get_route_stop_with_http_info(version, route_id, stop_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.get_route_stop ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.get_route_stop"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.get_route_stop"
      end
      # verify the required parameter 'stop_id' is set
      if @api_client.config.client_side_validation && stop_id.nil?
        fail ArgumentError, "Missing the required parameter 'stop_id' when calling RouteApi.get_route_stop"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/stop/{stopId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s)).sub('{' + 'stopId' + '}', CGI.escape(stop_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Stop'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.get_route_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#get_route_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Route Stops
    # The stops of the route requested
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param confirmed_only [Boolean] only get stops that have been confirmed or not
    # @param [Hash] opts the optional parameters
    # @return [Array<Stop>]
    def get_route_stops(version, route_id, confirmed_only, opts = {})
      data, _status_code, _headers = get_route_stops_with_http_info(version, route_id, confirmed_only, opts)
      data
    end

    # Get Route Stops
    # The stops of the route requested
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param confirmed_only [Boolean] only get stops that have been confirmed or not
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Stop>, Integer, Hash)>] Array<Stop> data, response status code and response headers
    def get_route_stops_with_http_info(version, route_id, confirmed_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.get_route_stops ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.get_route_stops"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.get_route_stops"
      end
      # verify the required parameter 'confirmed_only' is set
      if @api_client.config.client_side_validation && confirmed_only.nil?
        fail ArgumentError, "Missing the required parameter 'confirmed_only' when calling RouteApi.get_route_stops"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/stops'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'confirmedOnly'] = confirmed_only

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Stop>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.get_route_stops",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#get_route_stops\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Shipments At Stop
    # Get the list of shipments on the requested route at a stop
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param stop_id [Integer] the id of the stop to get shipments on
    # @param [Hash] opts the optional parameters
    # @return [Array<Shipment>]
    def get_shipments_at_stop(version, route_id, stop_id, opts = {})
      data, _status_code, _headers = get_shipments_at_stop_with_http_info(version, route_id, stop_id, opts)
      data
    end

    # Get Shipments At Stop
    # Get the list of shipments on the requested route at a stop
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param stop_id [Integer] the id of the stop to get shipments on
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Shipment>, Integer, Hash)>] Array<Shipment> data, response status code and response headers
    def get_shipments_at_stop_with_http_info(version, route_id, stop_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.get_shipments_at_stop ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.get_shipments_at_stop"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.get_shipments_at_stop"
      end
      # verify the required parameter 'stop_id' is set
      if @api_client.config.client_side_validation && stop_id.nil?
        fail ArgumentError, "Missing the required parameter 'stop_id' when calling RouteApi.get_shipments_at_stop"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/stop/{stopId}/shipments'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s)).sub('{' + 'stopId' + '}', CGI.escape(stop_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Shipment>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.get_shipments_at_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#get_shipments_at_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Optimize Route
    # Optimize a route. The optimization method based on how the server is configured.
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to optimize
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def optimize_route(version, route_id, opts = {})
      optimize_route_with_http_info(version, route_id, opts)
      nil
    end

    # Optimize Route
    # Optimize a route. The optimization method based on how the server is configured.
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to optimize
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def optimize_route_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.optimize_route ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.optimize_route"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.optimize_route"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/optimize'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.optimize_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#optimize_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Stop
    # Delete a stop on a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param stop_id [Integer] the id of the specific stop to delete on the route
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_stop(version, route_id, stop_id, opts = {})
      remove_stop_with_http_info(version, route_id, stop_id, opts)
      nil
    end

    # Delete Stop
    # Delete a stop on a route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param stop_id [Integer] the id of the specific stop to delete on the route
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_stop_with_http_info(version, route_id, stop_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.remove_stop ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.remove_stop"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.remove_stop"
      end
      # verify the required parameter 'stop_id' is set
      if @api_client.config.client_side_validation && stop_id.nil?
        fail ArgumentError, "Missing the required parameter 'stop_id' when calling RouteApi.remove_stop"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/stop/{stopId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s)).sub('{' + 'stopId' + '}', CGI.escape(stop_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.remove_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#remove_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reorder Route Stops
    # Reordering the stops on the route with and update route distance, time, direction, and polyline
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Stop>] :body 
    # @return [Array<Stop>]
    def reorder_route_stops_patch(version, route_id, opts = {})
      data, _status_code, _headers = reorder_route_stops_patch_with_http_info(version, route_id, opts)
      data
    end

    # Reorder Route Stops
    # Reordering the stops on the route with and update route distance, time, direction, and polyline
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Stop>] :body 
    # @return [Array<(Array<Stop>, Integer, Hash)>] Array<Stop> data, response status code and response headers
    def reorder_route_stops_patch_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.reorder_route_stops_patch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.reorder_route_stops_patch"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.reorder_route_stops_patch"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/stops/reorder'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Stop>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.reorder_route_stops_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#reorder_route_stops_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reorder Route Stops
    # Reordering the stops on the route with and update route distance, time, direction, and polyline
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Stop>] :body 
    # @return [Array<Stop>]
    def reorder_route_stops_post(version, route_id, opts = {})
      data, _status_code, _headers = reorder_route_stops_post_with_http_info(version, route_id, opts)
      data
    end

    # Reorder Route Stops
    # Reordering the stops on the route with and update route distance, time, direction, and polyline
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Stop>] :body 
    # @return [Array<(Array<Stop>, Integer, Hash)>] Array<Stop> data, response status code and response headers
    def reorder_route_stops_post_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.reorder_route_stops_post ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.reorder_route_stops_post"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.reorder_route_stops_post"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/stops/reorder'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Stop>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.reorder_route_stops_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#reorder_route_stops_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Routes
    # Search for routes.
    # @param version [Float] 
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param includes_empty [Boolean] Include empty routes or not
    # @param root_only [Boolean] Only return root instance routes
    # @param show_inherited_properties [Boolean] Display root route properties
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :hub_id Filter results by service hub
    # @option opts [Integer] :program_id Filter results by program
    # @option opts [Integer] :scheduled_start The start date to filter the results by
    # @option opts [Integer] :scheduled_end The end date to filter the results by
    # @option opts [Integer] :updated_start The lower bound of updated date
    # @option opts [Integer] :updated_end The upper bound of updated date
    # @option opts [Boolean] :featured The route is featured or not
    # @option opts [Integer] :seat_count Has at least this many seat available
    # @option opts [Boolean] :approved Has been approved or not
    # @option opts [Boolean] :started Has started or not
    # @option opts [Boolean] :completed Has completed or not
    # @option opts [Boolean] :valid Is valid or not
    # @option opts [Integer] :parent_id If it is a recurring route based on the parent route
    # @return [Array<Route>]
    def search_routes(version, sort_field, descending, start, limit, active_only, includes_empty, root_only, show_inherited_properties, opts = {})
      data, _status_code, _headers = search_routes_with_http_info(version, sort_field, descending, start, limit, active_only, includes_empty, root_only, show_inherited_properties, opts)
      data
    end

    # Search Routes
    # Search for routes.
    # @param version [Float] 
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param includes_empty [Boolean] Include empty routes or not
    # @param root_only [Boolean] Only return root instance routes
    # @param show_inherited_properties [Boolean] Display root route properties
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :hub_id Filter results by service hub
    # @option opts [Integer] :program_id Filter results by program
    # @option opts [Integer] :scheduled_start The start date to filter the results by
    # @option opts [Integer] :scheduled_end The end date to filter the results by
    # @option opts [Integer] :updated_start The lower bound of updated date
    # @option opts [Integer] :updated_end The upper bound of updated date
    # @option opts [Boolean] :featured The route is featured or not
    # @option opts [Integer] :seat_count Has at least this many seat available
    # @option opts [Boolean] :approved Has been approved or not
    # @option opts [Boolean] :started Has started or not
    # @option opts [Boolean] :completed Has completed or not
    # @option opts [Boolean] :valid Is valid or not
    # @option opts [Integer] :parent_id If it is a recurring route based on the parent route
    # @return [Array<(Array<Route>, Integer, Hash)>] Array<Route> data, response status code and response headers
    def search_routes_with_http_info(version, sort_field, descending, start, limit, active_only, includes_empty, root_only, show_inherited_properties, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.search_routes ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.search_routes"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling RouteApi.search_routes"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling RouteApi.search_routes"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling RouteApi.search_routes"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling RouteApi.search_routes"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling RouteApi.search_routes"
      end
      # verify the required parameter 'includes_empty' is set
      if @api_client.config.client_side_validation && includes_empty.nil?
        fail ArgumentError, "Missing the required parameter 'includes_empty' when calling RouteApi.search_routes"
      end
      # verify the required parameter 'root_only' is set
      if @api_client.config.client_side_validation && root_only.nil?
        fail ArgumentError, "Missing the required parameter 'root_only' when calling RouteApi.search_routes"
      end
      # verify the required parameter 'show_inherited_properties' is set
      if @api_client.config.client_side_validation && show_inherited_properties.nil?
        fail ArgumentError, "Missing the required parameter 'show_inherited_properties' when calling RouteApi.search_routes"
      end
      # resource path
      local_var_path = '/api/{version}/route'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'includesEmpty'] = includes_empty
      query_params[:'rootOnly'] = root_only
      query_params[:'showInheritedProperties'] = show_inherited_properties
      query_params[:'hubId'] = opts[:'hub_id'] if !opts[:'hub_id'].nil?
      query_params[:'programId'] = opts[:'program_id'] if !opts[:'program_id'].nil?
      query_params[:'scheduledStart'] = opts[:'scheduled_start'] if !opts[:'scheduled_start'].nil?
      query_params[:'scheduledEnd'] = opts[:'scheduled_end'] if !opts[:'scheduled_end'].nil?
      query_params[:'updatedStart'] = opts[:'updated_start'] if !opts[:'updated_start'].nil?
      query_params[:'updatedEnd'] = opts[:'updated_end'] if !opts[:'updated_end'].nil?
      query_params[:'featured'] = opts[:'featured'] if !opts[:'featured'].nil?
      query_params[:'seatCount'] = opts[:'seat_count'] if !opts[:'seat_count'].nil?
      query_params[:'approved'] = opts[:'approved'] if !opts[:'approved'].nil?
      query_params[:'started'] = opts[:'started'] if !opts[:'started'].nil?
      query_params[:'completed'] = opts[:'completed'] if !opts[:'completed'].nil?
      query_params[:'valid'] = opts[:'valid'] if !opts[:'valid'].nil?
      query_params[:'parentId'] = opts[:'parent_id'] if !opts[:'parent_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Route>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.search_routes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#search_routes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set Driver
    # Update the driver of the route.
    # @param version [Float] 
    # @param id [Integer] the id of the route
    # @param driver_id [Integer] the id of the driver
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_driver(version, id, driver_id, opts = {})
      set_driver_with_http_info(version, id, driver_id, opts)
      nil
    end

    # Set Driver
    # Update the driver of the route.
    # @param version [Float] 
    # @param id [Integer] the id of the route
    # @param driver_id [Integer] the id of the driver
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_driver_with_http_info(version, id, driver_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.set_driver ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.set_driver"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling RouteApi.set_driver"
      end
      # verify the required parameter 'driver_id' is set
      if @api_client.config.client_side_validation && driver_id.nil?
        fail ArgumentError, "Missing the required parameter 'driver_id' when calling RouteApi.set_driver"
      end
      # resource path
      local_var_path = '/api/{version}/route/{id}/driver/{driverId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'driverId' + '}', CGI.escape(driver_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.set_driver",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#set_driver\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Route
    # Update an existing route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param [Hash] opts the optional parameters
    # @option opts [Route] :body 
    # @return [Route]
    def update_route(version, route_id, opts = {})
      data, _status_code, _headers = update_route_with_http_info(version, route_id, opts)
      data
    end

    # Update Route
    # Update an existing route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route
    # @param [Hash] opts the optional parameters
    # @option opts [Route] :body 
    # @return [Array<(Route, Integer, Hash)>] Route data, response status code and response headers
    def update_route_with_http_info(version, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.update_route ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.update_route"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.update_route"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Route'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.update_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#update_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Route Stop
    # Update a stop on a specified route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to update stops for
    # @param stop_id [Integer] the id of the specific stop to update on the route
    # @param [Hash] opts the optional parameters
    # @option opts [Stop] :body 
    # @return [nil]
    def update_route_stop(version, route_id, stop_id, opts = {})
      update_route_stop_with_http_info(version, route_id, stop_id, opts)
      nil
    end

    # Update Route Stop
    # Update a stop on a specified route
    # @param version [Float] 
    # @param route_id [Integer] the id of the route to update stops for
    # @param stop_id [Integer] the id of the specific stop to update on the route
    # @param [Hash] opts the optional parameters
    # @option opts [Stop] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_route_stop_with_http_info(version, route_id, stop_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RouteApi.update_route_stop ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling RouteApi.update_route_stop"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RouteApi.update_route_stop"
      end
      # verify the required parameter 'stop_id' is set
      if @api_client.config.client_side_validation && stop_id.nil?
        fail ArgumentError, "Missing the required parameter 'stop_id' when calling RouteApi.update_route_stop"
      end
      # resource path
      local_var_path = '/api/{version}/route/{routeId}/stop/{stopId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'routeId' + '}', CGI.escape(route_id.to_s)).sub('{' + 'stopId' + '}', CGI.escape(stop_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"RouteApi.update_route_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RouteApi#update_route_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
