=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ScoreApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Score
    # Create a score.  The response object will contain a series of   coded messages detailing what items were completed, the score registered,   and any tickets allocated.  Scoring a  level could complete the pack it   is in, completing that pack could complete the game, which  in turn could   complete the mission.  This completion chain is indicated to the client   via  a list of {@link MessageResponse}.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] The game application key to save the score for.
    # @param points [Integer] The score
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :mission_id The missionId to score for, ignore if not playing mission.
    # @option opts [Integer] :game_id The gameId to score for, ignore if not playing mission.
    # @option opts [Integer] :pack_id The packId to score for, send -2 if playing community levels.
    # @option opts [Integer] :game_level_id The gameLevelId to score for.
    # @option opts [Integer] :game_object_id The gameObjectId to score for, ignore if level based scoring.
    # @option opts [Integer] :time_taken The time taken to complete task
    # @option opts [Boolean] :highest 
    # @return [ScoreResponse]
    def create_score(account_id, app_key, points, opts = {})
      data, _status_code, _headers = create_score_with_http_info(account_id, app_key, points, opts)
      data
    end

    # Create Score
    # Create a score.  The response object will contain a series of   coded messages detailing what items were completed, the score registered,   and any tickets allocated.  Scoring a  level could complete the pack it   is in, completing that pack could complete the game, which  in turn could   complete the mission.  This completion chain is indicated to the client   via  a list of {@link MessageResponse}.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] The game application key to save the score for.
    # @param points [Integer] The score
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :mission_id The missionId to score for, ignore if not playing mission.
    # @option opts [Integer] :game_id The gameId to score for, ignore if not playing mission.
    # @option opts [Integer] :pack_id The packId to score for, send -2 if playing community levels.
    # @option opts [Integer] :game_level_id The gameLevelId to score for.
    # @option opts [Integer] :game_object_id The gameObjectId to score for, ignore if level based scoring.
    # @option opts [Integer] :time_taken The time taken to complete task
    # @option opts [Boolean] :highest 
    # @return [Array<(ScoreResponse, Integer, Hash)>] ScoreResponse data, response status code and response headers
    def create_score_with_http_info(account_id, app_key, points, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScoreApi.create_score ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ScoreApi.create_score"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ScoreApi.create_score"
      end
      # verify the required parameter 'points' is set
      if @api_client.config.client_side_validation && points.nil?
        fail ArgumentError, "Missing the required parameter 'points' when calling ScoreApi.create_score"
      end
      # resource path
      local_var_path = '/score/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'points'] = points
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'gameId'] = opts[:'game_id'] if !opts[:'game_id'].nil?
      query_params[:'packId'] = opts[:'pack_id'] if !opts[:'pack_id'].nil?
      query_params[:'gameLevelId'] = opts[:'game_level_id'] if !opts[:'game_level_id'].nil?
      query_params[:'gameObjectId'] = opts[:'game_object_id'] if !opts[:'game_object_id'].nil?
      query_params[:'timeTaken'] = opts[:'time_taken'] if !opts[:'time_taken'].nil?
      query_params[:'highest'] = opts[:'highest'] if !opts[:'highest'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScoreResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ScoreApi.create_score",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScoreApi#create_score\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Score
    # Get the high score for an item.  Pass in the full path IDs for the score.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] The game application key to get the level for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :mission_id The missionId to score for, null if not playing mission.
    # @option opts [Integer] :game_id The gameId to score for, null if not playing mission.
    # @option opts [Integer] :pack_id The packId to score for, null if playing community levels.
    # @option opts [Integer] :game_level_id The gameLevelId to score for.
    # @option opts [Integer] :game_object_id The gameObjectId to score for, null if level based scoring.
    # @option opts [String] :score_object_type The object type to filter scores by (TicketObjectType)
    # @option opts [String] :score_status The status of the score to filter (ScoreStatus)
    # @return [ScoreResponse]
    def get_score(account_id, app_key, opts = {})
      data, _status_code, _headers = get_score_with_http_info(account_id, app_key, opts)
      data
    end

    # Get Score
    # Get the high score for an item.  Pass in the full path IDs for the score.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] The game application key to get the level for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :mission_id The missionId to score for, null if not playing mission.
    # @option opts [Integer] :game_id The gameId to score for, null if not playing mission.
    # @option opts [Integer] :pack_id The packId to score for, null if playing community levels.
    # @option opts [Integer] :game_level_id The gameLevelId to score for.
    # @option opts [Integer] :game_object_id The gameObjectId to score for, null if level based scoring.
    # @option opts [String] :score_object_type The object type to filter scores by (TicketObjectType)
    # @option opts [String] :score_status The status of the score to filter (ScoreStatus)
    # @return [Array<(ScoreResponse, Integer, Hash)>] ScoreResponse data, response status code and response headers
    def get_score_with_http_info(account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScoreApi.get_score ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ScoreApi.get_score"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ScoreApi.get_score"
      end
      # resource path
      local_var_path = '/score/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'gameId'] = opts[:'game_id'] if !opts[:'game_id'].nil?
      query_params[:'packId'] = opts[:'pack_id'] if !opts[:'pack_id'].nil?
      query_params[:'gameLevelId'] = opts[:'game_level_id'] if !opts[:'game_level_id'].nil?
      query_params[:'gameObjectId'] = opts[:'game_object_id'] if !opts[:'game_object_id'].nil?
      query_params[:'scoreObjectType'] = opts[:'score_object_type'] if !opts[:'score_object_type'].nil?
      query_params[:'scoreStatus'] = opts[:'score_status'] if !opts[:'score_status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ScoreResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ScoreApi.get_score",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScoreApi#get_score\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Score
    # Search the scores for an item.  Pass in the full path IDs for the scores.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] The game application key to get the level for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :mission_id The missionId to score for, null if not playing mission.
    # @option opts [Integer] :game_id The gameId to score for, null if not playing mission.
    # @option opts [Integer] :pack_id The packId to score for, null if playing community levels.
    # @option opts [Integer] :game_level_id The gameLevelId to score for.
    # @option opts [Integer] :game_object_id The gameObjectId to score for, null if level based scoring.
    # @return [Array<ScoreResponse>]
    def search_scores(account_id, app_key, opts = {})
      data, _status_code, _headers = search_scores_with_http_info(account_id, app_key, opts)
      data
    end

    # Search Score
    # Search the scores for an item.  Pass in the full path IDs for the scores.
    # @param account_id [Integer] The logged in user.
    # @param app_key [String] The game application key to get the level for.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :mission_id The missionId to score for, null if not playing mission.
    # @option opts [Integer] :game_id The gameId to score for, null if not playing mission.
    # @option opts [Integer] :pack_id The packId to score for, null if playing community levels.
    # @option opts [Integer] :game_level_id The gameLevelId to score for.
    # @option opts [Integer] :game_object_id The gameObjectId to score for, null if level based scoring.
    # @return [Array<(Array<ScoreResponse>, Integer, Hash)>] Array<ScoreResponse> data, response status code and response headers
    def search_scores_with_http_info(account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ScoreApi.search_scores ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ScoreApi.search_scores"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ScoreApi.search_scores"
      end
      # resource path
      local_var_path = '/score/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'missionId'] = opts[:'mission_id'] if !opts[:'mission_id'].nil?
      query_params[:'gameId'] = opts[:'game_id'] if !opts[:'game_id'].nil?
      query_params[:'packId'] = opts[:'pack_id'] if !opts[:'pack_id'].nil?
      query_params[:'gameLevelId'] = opts[:'game_level_id'] if !opts[:'game_level_id'].nil?
      query_params[:'gameObjectId'] = opts[:'game_object_id'] if !opts[:'game_object_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ScoreResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ScoreApi.search_scores",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ScoreApi#search_scores\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
