=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class SecureAppApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Secure Application
    # Create a secure application record.
    # @param version [Float] 
    # @param account_id [Integer] The unique id of the user making the request
    # @param app_key [String] The application to secure
    # @param key_cert [File] 
    # @param trust_store [File] 
    # @param username [String] 
    # @param password [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :active  (default to true)
    # @option opts [String] :biometric_type The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL (default to 'FACIAL')
    # @option opts [String] :biometric_position The position for the biometric file uploaded (default to 'UNKNOWN')
    # @option opts [String] :biometric_position2 The position for each the biometric2 file uploaded (default to 'UNKNOWN')
    # @return [SirqulResponse]
    def create_secure_application(version, account_id, app_key, key_cert, trust_store, username, password, opts = {})
      data, _status_code, _headers = create_secure_application_with_http_info(version, account_id, app_key, key_cert, trust_store, username, password, opts)
      data
    end

    # Create Secure Application
    # Create a secure application record.
    # @param version [Float] 
    # @param account_id [Integer] The unique id of the user making the request
    # @param app_key [String] The application to secure
    # @param key_cert [File] 
    # @param trust_store [File] 
    # @param username [String] 
    # @param password [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :active  (default to true)
    # @option opts [String] :biometric_type The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL (default to 'FACIAL')
    # @option opts [String] :biometric_position The position for the biometric file uploaded (default to 'UNKNOWN')
    # @option opts [String] :biometric_position2 The position for each the biometric2 file uploaded (default to 'UNKNOWN')
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def create_secure_application_with_http_info(version, account_id, app_key, key_cert, trust_store, username, password, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureAppApi.create_secure_application ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SecureAppApi.create_secure_application"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SecureAppApi.create_secure_application"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling SecureAppApi.create_secure_application"
      end
      # verify the required parameter 'key_cert' is set
      if @api_client.config.client_side_validation && key_cert.nil?
        fail ArgumentError, "Missing the required parameter 'key_cert' when calling SecureAppApi.create_secure_application"
      end
      # verify the required parameter 'trust_store' is set
      if @api_client.config.client_side_validation && trust_store.nil?
        fail ArgumentError, "Missing the required parameter 'trust_store' when calling SecureAppApi.create_secure_application"
      end
      # verify the required parameter 'username' is set
      if @api_client.config.client_side_validation && username.nil?
        fail ArgumentError, "Missing the required parameter 'username' when calling SecureAppApi.create_secure_application"
      end
      # verify the required parameter 'password' is set
      if @api_client.config.client_side_validation && password.nil?
        fail ArgumentError, "Missing the required parameter 'password' when calling SecureAppApi.create_secure_application"
      end
      allowable_values = ["FINGERPRINT", "IRIS", "FACIAL"]
      if @api_client.config.client_side_validation && opts[:'biometric_type'] && !allowable_values.include?(opts[:'biometric_type'])
        fail ArgumentError, "invalid value for \"biometric_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["UNKNOWN", "LEFT_INDEX", "LEFT_MIDDLE", "LEFT_RING", "LEFT_LITTLE", "LEFT_THUMB", "RIGHT_INDEX", "RIGHT_MIDDLE", "RIGHT_RING", "RIGHT_LITTLE", "RIGHT_THUMB", "LEFT", "RIGHT"]
      if @api_client.config.client_side_validation && opts[:'biometric_position'] && !allowable_values.include?(opts[:'biometric_position'])
        fail ArgumentError, "invalid value for \"biometric_position\", must be one of #{allowable_values}"
      end
      allowable_values = ["UNKNOWN", "LEFT_INDEX", "LEFT_MIDDLE", "LEFT_RING", "LEFT_LITTLE", "LEFT_THUMB", "RIGHT_INDEX", "RIGHT_MIDDLE", "RIGHT_RING", "RIGHT_LITTLE", "RIGHT_THUMB", "LEFT", "RIGHT"]
      if @api_client.config.client_side_validation && opts[:'biometric_position2'] && !allowable_values.include?(opts[:'biometric_position2'])
        fail ArgumentError, "invalid value for \"biometric_position2\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/secure/application/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'keyCert'] = key_cert
      query_params[:'trustStore'] = trust_store
      query_params[:'username'] = username
      query_params[:'password'] = password
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'biometricType'] = opts[:'biometric_type'] if !opts[:'biometric_type'].nil?
      query_params[:'biometricPosition'] = opts[:'biometric_position'] if !opts[:'biometric_position'].nil?
      query_params[:'biometricPosition2'] = opts[:'biometric_position2'] if !opts[:'biometric_position2'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureAppApi.create_secure_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureAppApi#create_secure_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Secure Application
    # Delete a secure application record.
    # @param version [Float] 
    # @param account_id [Integer] The unique id of the user making the request
    # @param app_key [String] The application to secure
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_secure_application(version, account_id, app_key, opts = {})
      data, _status_code, _headers = delete_secure_application_with_http_info(version, account_id, app_key, opts)
      data
    end

    # Delete Secure Application
    # Delete a secure application record.
    # @param version [Float] 
    # @param account_id [Integer] The unique id of the user making the request
    # @param app_key [String] The application to secure
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_secure_application_with_http_info(version, account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureAppApi.delete_secure_application ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SecureAppApi.delete_secure_application"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SecureAppApi.delete_secure_application"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling SecureAppApi.delete_secure_application"
      end
      # resource path
      local_var_path = '/api/{version}/secure/application/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureAppApi.delete_secure_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureAppApi#delete_secure_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login Clear
    # Login via Clear.me. Creates a new account if logging in for the first time.
    # @param version [Float] 
    # @param app_key [String] The application making the request, defines what type and position is required to make a secure login the request.
    # @param biometric_file [File] The data file used to perform authentication
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique id of the device making the request
    # @option opts [File] :biometric_file2 The data file used to perform authentication
    # @option opts [Integer] :age_restriction Checks user&#39;s birthday to see if they meet an age requirement. If the user is under age, an error message is returned. (default to 0)
    # @option opts [Boolean] :return_profile Determines whether to return a ProfileResponse on success, or a PaymentTypesResponse (default to false)
    # @option opts [String] :response_filters If returnProfile is set to true, this determines how much of the profile should be returned, see ProfileFilters (default to 'PROFILE')
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @return [ProfileResponse]
    def login_secure(version, app_key, biometric_file, opts = {})
      data, _status_code, _headers = login_secure_with_http_info(version, app_key, biometric_file, opts)
      data
    end

    # Login Clear
    # Login via Clear.me. Creates a new account if logging in for the first time.
    # @param version [Float] 
    # @param app_key [String] The application making the request, defines what type and position is required to make a secure login the request.
    # @param biometric_file [File] The data file used to perform authentication
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The unique id of the device making the request
    # @option opts [File] :biometric_file2 The data file used to perform authentication
    # @option opts [Integer] :age_restriction Checks user&#39;s birthday to see if they meet an age requirement. If the user is under age, an error message is returned. (default to 0)
    # @option opts [Boolean] :return_profile Determines whether to return a ProfileResponse on success, or a PaymentTypesResponse (default to false)
    # @option opts [String] :response_filters If returnProfile is set to true, this determines how much of the profile should be returned, see ProfileFilters (default to 'PROFILE')
    # @option opts [Float] :latitude Used to update the user&#39;s current location
    # @option opts [Float] :longitude Used to update the user&#39;s current location
    # @return [Array<(ProfileResponse, Integer, Hash)>] ProfileResponse data, response status code and response headers
    def login_secure_with_http_info(version, app_key, biometric_file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureAppApi.login_secure ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SecureAppApi.login_secure"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling SecureAppApi.login_secure"
      end
      # verify the required parameter 'biometric_file' is set
      if @api_client.config.client_side_validation && biometric_file.nil?
        fail ArgumentError, "Missing the required parameter 'biometric_file' when calling SecureAppApi.login_secure"
      end
      # resource path
      local_var_path = '/api/{version}/secure/login'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'biometricFile'] = biometric_file
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'biometricFile2'] = opts[:'biometric_file2'] if !opts[:'biometric_file2'].nil?
      query_params[:'ageRestriction'] = opts[:'age_restriction'] if !opts[:'age_restriction'].nil?
      query_params[:'returnProfile'] = opts[:'return_profile'] if !opts[:'return_profile'].nil?
      query_params[:'responseFilters'] = opts[:'response_filters'] if !opts[:'response_filters'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureAppApi.login_secure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureAppApi#login_secure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Purchase Clear
    # Purchase via Clear.me. Creates a new account if purchasing for the first time.
    # @param version [Float] 
    # @param body [PaymentRequest] The payment request object
    # @param [Hash] opts the optional parameters
    # @return [ProfileResponse]
    def purchase_secure(version, body, opts = {})
      data, _status_code, _headers = purchase_secure_with_http_info(version, body, opts)
      data
    end

    # Purchase Clear
    # Purchase via Clear.me. Creates a new account if purchasing for the first time.
    # @param version [Float] 
    # @param body [PaymentRequest] The payment request object
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProfileResponse, Integer, Hash)>] ProfileResponse data, response status code and response headers
    def purchase_secure_with_http_info(version, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureAppApi.purchase_secure ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SecureAppApi.purchase_secure"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SecureAppApi.purchase_secure"
      end
      # resource path
      local_var_path = '/api/{version}/secure/purchase'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'ProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureAppApi.purchase_secure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureAppApi#purchase_secure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rest Secure Application
    # Reset a secure application client.
    # @param version [Float] 
    # @param account_id [Integer] The unique id of the user making the request
    # @param app_key [String] The application to secure
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def reset_secure(version, account_id, app_key, opts = {})
      data, _status_code, _headers = reset_secure_with_http_info(version, account_id, app_key, opts)
      data
    end

    # Rest Secure Application
    # Reset a secure application client.
    # @param version [Float] 
    # @param account_id [Integer] The unique id of the user making the request
    # @param app_key [String] The application to secure
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def reset_secure_with_http_info(version, account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureAppApi.reset_secure ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SecureAppApi.reset_secure"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SecureAppApi.reset_secure"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling SecureAppApi.reset_secure"
      end
      # resource path
      local_var_path = '/api/{version}/secure/application/reset'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureAppApi.reset_secure",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureAppApi#reset_secure\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Secure Application
    # Update a secure application record.
    # @param version [Float] 
    # @param account_id [Integer] The unique id of the user making the request
    # @param app_key [String] The application to secure
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :active 
    # @option opts [File] :key_cert 
    # @option opts [File] :trust_store 
    # @option opts [String] :username 
    # @option opts [String] :password 
    # @option opts [String] :biometric_type The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL
    # @option opts [String] :biometric_position The position for the biometric file uploaded
    # @option opts [String] :biometric_position2 The position for each the biometric2 file uploaded
    # @return [SirqulResponse]
    def update_secure_application(version, account_id, app_key, opts = {})
      data, _status_code, _headers = update_secure_application_with_http_info(version, account_id, app_key, opts)
      data
    end

    # Update Secure Application
    # Update a secure application record.
    # @param version [Float] 
    # @param account_id [Integer] The unique id of the user making the request
    # @param app_key [String] The application to secure
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :active 
    # @option opts [File] :key_cert 
    # @option opts [File] :trust_store 
    # @option opts [String] :username 
    # @option opts [String] :password 
    # @option opts [String] :biometric_type The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL
    # @option opts [String] :biometric_position The position for the biometric file uploaded
    # @option opts [String] :biometric_position2 The position for each the biometric2 file uploaded
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def update_secure_application_with_http_info(version, account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SecureAppApi.update_secure_application ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SecureAppApi.update_secure_application"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SecureAppApi.update_secure_application"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling SecureAppApi.update_secure_application"
      end
      allowable_values = ["FINGERPRINT", "IRIS", "FACIAL"]
      if @api_client.config.client_side_validation && opts[:'biometric_type'] && !allowable_values.include?(opts[:'biometric_type'])
        fail ArgumentError, "invalid value for \"biometric_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["UNKNOWN", "LEFT_INDEX", "LEFT_MIDDLE", "LEFT_RING", "LEFT_LITTLE", "LEFT_THUMB", "RIGHT_INDEX", "RIGHT_MIDDLE", "RIGHT_RING", "RIGHT_LITTLE", "RIGHT_THUMB", "LEFT", "RIGHT"]
      if @api_client.config.client_side_validation && opts[:'biometric_position'] && !allowable_values.include?(opts[:'biometric_position'])
        fail ArgumentError, "invalid value for \"biometric_position\", must be one of #{allowable_values}"
      end
      allowable_values = ["UNKNOWN", "LEFT_INDEX", "LEFT_MIDDLE", "LEFT_RING", "LEFT_LITTLE", "LEFT_THUMB", "RIGHT_INDEX", "RIGHT_MIDDLE", "RIGHT_RING", "RIGHT_LITTLE", "RIGHT_THUMB", "LEFT", "RIGHT"]
      if @api_client.config.client_side_validation && opts[:'biometric_position2'] && !allowable_values.include?(opts[:'biometric_position2'])
        fail ArgumentError, "invalid value for \"biometric_position2\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/secure/application/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'keyCert'] = opts[:'key_cert'] if !opts[:'key_cert'].nil?
      query_params[:'trustStore'] = opts[:'trust_store'] if !opts[:'trust_store'].nil?
      query_params[:'username'] = opts[:'username'] if !opts[:'username'].nil?
      query_params[:'password'] = opts[:'password'] if !opts[:'password'].nil?
      query_params[:'biometricType'] = opts[:'biometric_type'] if !opts[:'biometric_type'].nil?
      query_params[:'biometricPosition'] = opts[:'biometric_position'] if !opts[:'biometric_position'].nil?
      query_params[:'biometricPosition2'] = opts[:'biometric_position2'] if !opts[:'biometric_position2'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SecureAppApi.update_secure_application",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SecureAppApi#update_secure_application\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
