=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ServiceHubApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Service Hub
    # Create new service hub
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceHub] :body 
    # @return [ServiceHub]
    def create_service_hub(version, opts = {})
      data, _status_code, _headers = create_service_hub_with_http_info(version, opts)
      data
    end

    # Create Service Hub
    # Create new service hub
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceHub] :body 
    # @return [Array<(ServiceHub, Integer, Hash)>] ServiceHub data, response status code and response headers
    def create_service_hub_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceHubApi.create_service_hub ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ServiceHubApi.create_service_hub"
      end
      # resource path
      local_var_path = '/api/{version}/hub'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceHub'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceHubApi.create_service_hub",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceHubApi#create_service_hub\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Service Hub
    # Delete an existing service hub
    # @param version [Float] 
    # @param id [Integer] the id of the service hub to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_service_hub(version, id, opts = {})
      delete_service_hub_with_http_info(version, id, opts)
      nil
    end

    # Delete Service Hub
    # Delete an existing service hub
    # @param version [Float] 
    # @param id [Integer] the id of the service hub to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_service_hub_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceHubApi.delete_service_hub ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ServiceHubApi.delete_service_hub"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServiceHubApi.delete_service_hub"
      end
      # resource path
      local_var_path = '/api/{version}/hub/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceHubApi.delete_service_hub",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceHubApi#delete_service_hub\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Service Hub
    # Get an existing service hub
    # @param version [Float] 
    # @param id [Integer] the id of the service hub to get
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def get_service_hub(version, id, opts = {})
      data, _status_code, _headers = get_service_hub_with_http_info(version, id, opts)
      data
    end

    # Get Service Hub
    # Get an existing service hub
    # @param version [Float] 
    # @param id [Integer] the id of the service hub to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def get_service_hub_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceHubApi.get_service_hub ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ServiceHubApi.get_service_hub"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServiceHubApi.get_service_hub"
      end
      # resource path
      local_var_path = '/api/{version}/hub/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceHubApi.get_service_hub",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceHubApi#get_service_hub\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Service Hub
    # Update an existing service hub
    # @param version [Float] 
    # @param id [Integer] the id of the service hub
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceHub] :body 
    # @return [ServiceHub]
    def post_service_hub(version, id, opts = {})
      data, _status_code, _headers = post_service_hub_with_http_info(version, id, opts)
      data
    end

    # Update Service Hub
    # Update an existing service hub
    # @param version [Float] 
    # @param id [Integer] the id of the service hub
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceHub] :body 
    # @return [Array<(ServiceHub, Integer, Hash)>] ServiceHub data, response status code and response headers
    def post_service_hub_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceHubApi.post_service_hub ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ServiceHubApi.post_service_hub"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServiceHubApi.post_service_hub"
      end
      # resource path
      local_var_path = '/api/{version}/hub/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceHub'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceHubApi.post_service_hub",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceHubApi#post_service_hub\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Service Hub
    # Update an existing service hub
    # @param version [Float] 
    # @param id [Integer] the id of the service hub
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceHub] :body 
    # @return [ServiceHub]
    def put_service_hub(version, id, opts = {})
      data, _status_code, _headers = put_service_hub_with_http_info(version, id, opts)
      data
    end

    # Update Service Hub
    # Update an existing service hub
    # @param version [Float] 
    # @param id [Integer] the id of the service hub
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceHub] :body 
    # @return [Array<(ServiceHub, Integer, Hash)>] ServiceHub data, response status code and response headers
    def put_service_hub_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceHubApi.put_service_hub ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ServiceHubApi.put_service_hub"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ServiceHubApi.put_service_hub"
      end
      # resource path
      local_var_path = '/api/{version}/hub/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceHub'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceHubApi.put_service_hub",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceHubApi#put_service_hub\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Service Hubs
    # Search for service hubs.
    # @param version [Float] 
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :retailer_id The retailer belongs to
    # @return [Array<ServiceHub>]
    def search_service_hubs(version, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_service_hubs_with_http_info(version, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Service Hubs
    # Search for service hubs.
    # @param version [Float] 
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :retailer_id The retailer belongs to
    # @return [Array<(Array<ServiceHub>, Integer, Hash)>] Array<ServiceHub> data, response status code and response headers
    def search_service_hubs_with_http_info(version, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ServiceHubApi.search_service_hubs ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ServiceHubApi.search_service_hubs"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling ServiceHubApi.search_service_hubs"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling ServiceHubApi.search_service_hubs"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ServiceHubApi.search_service_hubs"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ServiceHubApi.search_service_hubs"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling ServiceHubApi.search_service_hubs"
      end
      # resource path
      local_var_path = '/api/{version}/hub'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ServiceHub>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ServiceHubApi.search_service_hubs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ServiceHubApi#search_service_hubs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
