=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ShipmentBatchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Shipment Batch
    # Create a new shipment batch
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [ShipmentBatch] :body 
    # @return [ShipmentBatch]
    def create_shipment_batch(version, opts = {})
      data, _status_code, _headers = create_shipment_batch_with_http_info(version, opts)
      data
    end

    # Create Shipment Batch
    # Create a new shipment batch
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [ShipmentBatch] :body 
    # @return [Array<(ShipmentBatch, Integer, Hash)>] ShipmentBatch data, response status code and response headers
    def create_shipment_batch_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentBatchApi.create_shipment_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ShipmentBatchApi.create_shipment_batch"
      end
      # resource path
      local_var_path = '/api/{version}/shipment/batch'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ShipmentBatch'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentBatchApi.create_shipment_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentBatchApi#create_shipment_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Shipment Batch
    # Search for shipment batches
    # @param version [Float] 
    # @param batch_id [Integer] the id of the shipment batch to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_shipment_batch(version, batch_id, opts = {})
      delete_shipment_batch_with_http_info(version, batch_id, opts)
      nil
    end

    # Delete Shipment Batch
    # Search for shipment batches
    # @param version [Float] 
    # @param batch_id [Integer] the id of the shipment batch to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_shipment_batch_with_http_info(version, batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentBatchApi.delete_shipment_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ShipmentBatchApi.delete_shipment_batch"
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling ShipmentBatchApi.delete_shipment_batch"
      end
      # resource path
      local_var_path = '/api/{version}/shipment/batch/{batchId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'batchId' + '}', CGI.escape(batch_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentBatchApi.delete_shipment_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentBatchApi#delete_shipment_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Shipment Batch
    # Get an existing shipment batch
    # @param version [Float] 
    # @param batch_id [Integer] the id of the shipment batch to get
    # @param [Hash] opts the optional parameters
    # @return [ShipmentBatch]
    def get_shipment_batch(version, batch_id, opts = {})
      data, _status_code, _headers = get_shipment_batch_with_http_info(version, batch_id, opts)
      data
    end

    # Get Shipment Batch
    # Get an existing shipment batch
    # @param version [Float] 
    # @param batch_id [Integer] the id of the shipment batch to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(ShipmentBatch, Integer, Hash)>] ShipmentBatch data, response status code and response headers
    def get_shipment_batch_with_http_info(version, batch_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentBatchApi.get_shipment_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ShipmentBatchApi.get_shipment_batch"
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling ShipmentBatchApi.get_shipment_batch"
      end
      # resource path
      local_var_path = '/api/{version}/shipment/batch/{batchId}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'batchId' + '}', CGI.escape(batch_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ShipmentBatch'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentBatchApi.get_shipment_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentBatchApi#get_shipment_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Shipment Batch Status
    # Get the import status list of the import shipment batch
    # @param version [Float] 
    # @param batch_id [Integer] The id of the requested shipment batch
    # @param account_id [Integer] the id of the logged in user
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :valid Valid import status only or not
    # @option opts [Boolean] :started Started import status only
    # @option opts [Boolean] :completed Completed import status only
    # @option opts [Boolean] :has_shipment Has shipment associate to the status
    # @option opts [Boolean] :has_route Has route associate to the status
    # @option opts [String] :keyword The keyword to search for
    # @return [Array<ShipmentImportStatus>]
    def get_shipment_batch_status(version, batch_id, account_id, sort_field, descending, start, limit, opts = {})
      data, _status_code, _headers = get_shipment_batch_status_with_http_info(version, batch_id, account_id, sort_field, descending, start, limit, opts)
      data
    end

    # Get Shipment Batch Status
    # Get the import status list of the import shipment batch
    # @param version [Float] 
    # @param batch_id [Integer] The id of the requested shipment batch
    # @param account_id [Integer] the id of the logged in user
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :valid Valid import status only or not
    # @option opts [Boolean] :started Started import status only
    # @option opts [Boolean] :completed Completed import status only
    # @option opts [Boolean] :has_shipment Has shipment associate to the status
    # @option opts [Boolean] :has_route Has route associate to the status
    # @option opts [String] :keyword The keyword to search for
    # @return [Array<(Array<ShipmentImportStatus>, Integer, Hash)>] Array<ShipmentImportStatus> data, response status code and response headers
    def get_shipment_batch_status_with_http_info(version, batch_id, account_id, sort_field, descending, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentBatchApi.get_shipment_batch_status ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ShipmentBatchApi.get_shipment_batch_status"
      end
      # verify the required parameter 'batch_id' is set
      if @api_client.config.client_side_validation && batch_id.nil?
        fail ArgumentError, "Missing the required parameter 'batch_id' when calling ShipmentBatchApi.get_shipment_batch_status"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ShipmentBatchApi.get_shipment_batch_status"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling ShipmentBatchApi.get_shipment_batch_status"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling ShipmentBatchApi.get_shipment_batch_status"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ShipmentBatchApi.get_shipment_batch_status"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ShipmentBatchApi.get_shipment_batch_status"
      end
      # resource path
      local_var_path = '/api/{version}/shipment/batch/{batchId}/status'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'batchId' + '}', CGI.escape(batch_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'valid'] = opts[:'valid'] if !opts[:'valid'].nil?
      query_params[:'started'] = opts[:'started'] if !opts[:'started'].nil?
      query_params[:'completed'] = opts[:'completed'] if !opts[:'completed'].nil?
      query_params[:'hasShipment'] = opts[:'has_shipment'] if !opts[:'has_shipment'].nil?
      query_params[:'hasRoute'] = opts[:'has_route'] if !opts[:'has_route'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ShipmentImportStatus>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentBatchApi.get_shipment_batch_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentBatchApi#get_shipment_batch_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Shipment Batch
    # Search for shipment batches
    # @param version [Float] 
    # @param hub_id [Integer] The associated service hub
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @return [Array<ShipmentBatch>]
    def search_shipment_batch(version, hub_id, sort_field, descending, start, limit, opts = {})
      data, _status_code, _headers = search_shipment_batch_with_http_info(version, hub_id, sort_field, descending, start, limit, opts)
      data
    end

    # Search Shipment Batch
    # Search for shipment batches
    # @param version [Float] 
    # @param hub_id [Integer] The associated service hub
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ShipmentBatch>, Integer, Hash)>] Array<ShipmentBatch> data, response status code and response headers
    def search_shipment_batch_with_http_info(version, hub_id, sort_field, descending, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentBatchApi.search_shipment_batch ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling ShipmentBatchApi.search_shipment_batch"
      end
      # verify the required parameter 'hub_id' is set
      if @api_client.config.client_side_validation && hub_id.nil?
        fail ArgumentError, "Missing the required parameter 'hub_id' when calling ShipmentBatchApi.search_shipment_batch"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling ShipmentBatchApi.search_shipment_batch"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling ShipmentBatchApi.search_shipment_batch"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ShipmentBatchApi.search_shipment_batch"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ShipmentBatchApi.search_shipment_batch"
      end
      # resource path
      local_var_path = '/api/{version}/shipment/batch'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'hubId'] = hub_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ShipmentBatch>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentBatchApi.search_shipment_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentBatchApi#search_shipment_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
