=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ShipmentApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel Shipment
    # Remove shipment from route
    # @param id [Integer] the id of the shipment to cancel
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cancel_shipment(id, opts = {})
      cancel_shipment_with_http_info(id, opts)
      nil
    end

    # Cancel Shipment
    # Remove shipment from route
    # @param id [Integer] the id of the shipment to cancel
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cancel_shipment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentApi.cancel_shipment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShipmentApi.cancel_shipment"
      end
      # resource path
      local_var_path = '/shipment/{id}/cancel'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentApi.cancel_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentApi#cancel_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Shipment
    # Create new shipment
    # @param [Hash] opts the optional parameters
    # @option opts [Shipment] :body 
    # @return [Shipment]
    def create_shipment(opts = {})
      data, _status_code, _headers = create_shipment_with_http_info(opts)
      data
    end

    # Create Shipment
    # Create new shipment
    # @param [Hash] opts the optional parameters
    # @option opts [Shipment] :body 
    # @return [Array<(Shipment, Integer, Hash)>] Shipment data, response status code and response headers
    def create_shipment_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentApi.create_shipment ...'
      end
      # resource path
      local_var_path = '/shipment'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Shipment'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentApi.create_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentApi#create_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Shipment
    # Delete an existing shipment
    # @param id [Integer] the id of the shipment to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_shipment(id, opts = {})
      delete_shipment_with_http_info(id, opts)
      nil
    end

    # Delete Shipment
    # Delete an existing shipment
    # @param id [Integer] the id of the shipment to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_shipment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentApi.delete_shipment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShipmentApi.delete_shipment"
      end
      # resource path
      local_var_path = '/shipment/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentApi.delete_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentApi#delete_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Shipment
    # Get an existing shipment
    # @param id [Integer] the id of the shipment to get
    # @param [Hash] opts the optional parameters
    # @return [Shipment]
    def get_shipment(id, opts = {})
      data, _status_code, _headers = get_shipment_with_http_info(id, opts)
      data
    end

    # Get Shipment
    # Get an existing shipment
    # @param id [Integer] the id of the shipment to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(Shipment, Integer, Hash)>] Shipment data, response status code and response headers
    def get_shipment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentApi.get_shipment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShipmentApi.get_shipment"
      end
      # resource path
      local_var_path = '/shipment/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Shipment'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentApi.get_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentApi#get_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Shipments
    # Search for shipments
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :owner_id The owner of the shipment
    # @option opts [Integer] :rider_id The rider associate to this shipment
    # @option opts [Integer] :route_id The route associate to this shipment
    # @return [Array<Shipment>]
    def search_shipments(sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_shipments_with_http_info(sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Shipments
    # Search for shipments
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :owner_id The owner of the shipment
    # @option opts [Integer] :rider_id The rider associate to this shipment
    # @option opts [Integer] :route_id The route associate to this shipment
    # @return [Array<(Array<Shipment>, Integer, Hash)>] Array<Shipment> data, response status code and response headers
    def search_shipments_with_http_info(sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentApi.search_shipments ...'
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling ShipmentApi.search_shipments"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling ShipmentApi.search_shipments"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ShipmentApi.search_shipments"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ShipmentApi.search_shipments"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling ShipmentApi.search_shipments"
      end
      # resource path
      local_var_path = '/shipment'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'ownerId'] = opts[:'owner_id'] if !opts[:'owner_id'].nil?
      query_params[:'riderId'] = opts[:'rider_id'] if !opts[:'rider_id'].nil?
      query_params[:'routeId'] = opts[:'route_id'] if !opts[:'route_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Shipment>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentApi.search_shipments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentApi#search_shipments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Shipment
    # Update an existing shipment
    # @param id [Integer] the id of the shipment to update
    # @param [Hash] opts the optional parameters
    # @option opts [Shipment] :body 
    # @return [Shipment]
    def update_shipment(id, opts = {})
      data, _status_code, _headers = update_shipment_with_http_info(id, opts)
      data
    end

    # Update Shipment
    # Update an existing shipment
    # @param id [Integer] the id of the shipment to update
    # @param [Hash] opts the optional parameters
    # @option opts [Shipment] :body 
    # @return [Array<(Shipment, Integer, Hash)>] Shipment data, response status code and response headers
    def update_shipment_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentApi.update_shipment ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShipmentApi.update_shipment"
      end
      # resource path
      local_var_path = '/shipment/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Shipment'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentApi.update_shipment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentApi#update_shipment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Uupdate Shipment Status
    # Update status of an existing shipment
    # @param id [Integer] the id of the shipment to update status
    # @param [Hash] opts the optional parameters
    # @option opts [Hash<String, Boolean>] :body 
    # @return [nil]
    def update_shipment_status(id, opts = {})
      update_shipment_status_with_http_info(id, opts)
      nil
    end

    # Uupdate Shipment Status
    # Update status of an existing shipment
    # @param id [Integer] the id of the shipment to update status
    # @param [Hash] opts the optional parameters
    # @option opts [Hash<String, Boolean>] :body 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_shipment_status_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ShipmentApi.update_shipment_status ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ShipmentApi.update_shipment_status"
      end
      # resource path
      local_var_path = '/shipment/{id}/status'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ShipmentApi.update_shipment_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ShipmentApi#update_shipment_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
