=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class StopApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Stop
    # Get an existing stop
    # @param version [Float] 
    # @param id [Integer] the id of the stop to get
    # @param [Hash] opts the optional parameters
    # @return [Stop]
    def get_stop(version, id, opts = {})
      data, _status_code, _headers = get_stop_with_http_info(version, id, opts)
      data
    end

    # Get Stop
    # Get an existing stop
    # @param version [Float] 
    # @param id [Integer] the id of the stop to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(Stop, Integer, Hash)>] Stop data, response status code and response headers
    def get_stop_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StopApi.get_stop ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling StopApi.get_stop"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StopApi.get_stop"
      end
      # resource path
      local_var_path = '/api/{version}/stop/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Stop'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StopApi.get_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StopApi#get_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Stop
    # Update an existing stop
    # @param version [Float] 
    # @param id [Integer] the id of the stop to update
    # @param [Hash] opts the optional parameters
    # @option opts [Stop] :body 
    # @return [Stop]
    def update_stop(version, id, opts = {})
      data, _status_code, _headers = update_stop_with_http_info(version, id, opts)
      data
    end

    # Update Stop
    # Update an existing stop
    # @param version [Float] 
    # @param id [Integer] the id of the stop to update
    # @param [Hash] opts the optional parameters
    # @option opts [Stop] :body 
    # @return [Array<(Stop, Integer, Hash)>] Stop data, response status code and response headers
    def update_stop_with_http_info(version, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StopApi.update_stop ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling StopApi.update_stop"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling StopApi.update_stop"
      end
      # resource path
      local_var_path = '/api/{version}/stop/{id}'.sub('{' + 'version' + '}', CGI.escape(version.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Stop'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StopApi.update_stop",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StopApi#update_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
