=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class StripeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Stripe Checkout Session
    # Create a Stripe checkout session
    # @param app_key [String] Sirqul Application Key
    # @param stripe_parameters [String] Stripe Parameters
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def create_stripe_checkout_session(app_key, stripe_parameters, opts = {})
      data, _status_code, _headers = create_stripe_checkout_session_with_http_info(app_key, stripe_parameters, opts)
      data
    end

    # Create Stripe Checkout Session
    # Create a Stripe checkout session
    # @param app_key [String] Sirqul Application Key
    # @param stripe_parameters [String] Stripe Parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def create_stripe_checkout_session_with_http_info(app_key, stripe_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StripeApi.create_stripe_checkout_session ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling StripeApi.create_stripe_checkout_session"
      end
      # verify the required parameter 'stripe_parameters' is set
      if @api_client.config.client_side_validation && stripe_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'stripe_parameters' when calling StripeApi.create_stripe_checkout_session"
      end
      # resource path
      local_var_path = '/stripe/checkout/session/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key
      query_params[:'stripeParameters'] = stripe_parameters

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"StripeApi.create_stripe_checkout_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StripeApi#create_stripe_checkout_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
