=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class SubscriptionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Subscription
    # Create a subscription for a billable entity.  Provide a planId, if not provided then the base plan will be assigned.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the create, must be the responsible manager
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :plan_id The plan to subscribe to, if null use default plan
    # @option opts [String] :promo_code Set a promo code for a discount.
    # @return [SubscriptionResponse]
    def create_subscription(version, account_id, opts = {})
      data, _status_code, _headers = create_subscription_with_http_info(version, account_id, opts)
      data
    end

    # Create Subscription
    # Create a subscription for a billable entity.  Provide a planId, if not provided then the base plan will be assigned.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the create, must be the responsible manager
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :plan_id The plan to subscribe to, if null use default plan
    # @option opts [String] :promo_code Set a promo code for a discount.
    # @return [Array<(SubscriptionResponse, Integer, Hash)>] SubscriptionResponse data, response status code and response headers
    def create_subscription_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.create_subscription ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SubscriptionApi.create_subscription"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SubscriptionApi.create_subscription"
      end
      # resource path
      local_var_path = '/api/{version}/subscription/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'planId'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'promoCode'] = opts[:'promo_code'] if !opts[:'promo_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionApi.create_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#create_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Subscription
    # Suspend the current subscription for the billable entity managed by the account.  The account must be the responsible manager to perform this action
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the delete, must be the responsible manager
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_subscription(version, account_id, opts = {})
      data, _status_code, _headers = delete_subscription_with_http_info(version, account_id, opts)
      data
    end

    # Delete Subscription
    # Suspend the current subscription for the billable entity managed by the account.  The account must be the responsible manager to perform this action
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the delete, must be the responsible manager
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_subscription_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.delete_subscription ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SubscriptionApi.delete_subscription"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SubscriptionApi.delete_subscription"
      end
      # resource path
      local_var_path = '/api/{version}/subscription/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionApi.delete_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#delete_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Subscription
    # Use the accountId to determine the associated BillableEntity.  Then get the subscription.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the lookup
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionResponse]
    def get_subscription(version, account_id, opts = {})
      data, _status_code, _headers = get_subscription_with_http_info(version, account_id, opts)
      data
    end

    # Get Subscription
    # Use the accountId to determine the associated BillableEntity.  Then get the subscription.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the lookup
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionResponse, Integer, Hash)>] SubscriptionResponse data, response status code and response headers
    def get_subscription_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.get_subscription ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SubscriptionApi.get_subscription"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SubscriptionApi.get_subscription"
      end
      # resource path
      local_var_path = '/api/{version}/subscription/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionApi.get_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#get_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Subscription Plan
    # Get the matched subscription plan
    # @param version [Float] 
    # @param plan_id [Integer] The ID of the plan to get
    # @param [Hash] opts the optional parameters
    # @return [SubscriptionPlanResponse]
    def get_subscription_plan(version, plan_id, opts = {})
      data, _status_code, _headers = get_subscription_plan_with_http_info(version, plan_id, opts)
      data
    end

    # Get Subscription Plan
    # Get the matched subscription plan
    # @param version [Float] 
    # @param plan_id [Integer] The ID of the plan to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(SubscriptionPlanResponse, Integer, Hash)>] SubscriptionPlanResponse data, response status code and response headers
    def get_subscription_plan_with_http_info(version, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.get_subscription_plan ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SubscriptionApi.get_subscription_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling SubscriptionApi.get_subscription_plan"
      end
      # resource path
      local_var_path = '/api/{version}/subscription/plan/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'planId'] = plan_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionPlanResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionApi.get_subscription_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#get_subscription_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Subscription Plans
    # Get the matched subscription plan
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :visible Include visible only (true), hidden only (false), or all (null)
    # @option opts [String] :role The role the plan is targeted for, values are: DEVELOPER, RETAILER, ADVERTISER
    # @return [Array<SubscriptionPlanResponse>]
    def get_subscription_plans(version, opts = {})
      data, _status_code, _headers = get_subscription_plans_with_http_info(version, opts)
      data
    end

    # List Subscription Plans
    # Get the matched subscription plan
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :visible Include visible only (true), hidden only (false), or all (null)
    # @option opts [String] :role The role the plan is targeted for, values are: DEVELOPER, RETAILER, ADVERTISER
    # @return [Array<(Array<SubscriptionPlanResponse>, Integer, Hash)>] Array<SubscriptionPlanResponse> data, response status code and response headers
    def get_subscription_plans_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.get_subscription_plans ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SubscriptionApi.get_subscription_plans"
      end
      # resource path
      local_var_path = '/api/{version}/subscription/plan/list'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'visible'] = opts[:'visible'] if !opts[:'visible'].nil?
      query_params[:'role'] = opts[:'role'] if !opts[:'role'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<SubscriptionPlanResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionApi.get_subscription_plans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#get_subscription_plans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Subscription Usage
    # Use the accountId to determine the associated BillableEntity.  Then get the application usage.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the lookup
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :application_id Get for just 1 application instead of the BillableEntity
    # @option opts [Integer] :start The start time frame
    # @option opts [Integer] :_end The end time frame
    # @return [ApplicationUsageResponse]
    def get_subscription_usage(version, account_id, opts = {})
      data, _status_code, _headers = get_subscription_usage_with_http_info(version, account_id, opts)
      data
    end

    # Get Subscription Usage
    # Use the accountId to determine the associated BillableEntity.  Then get the application usage.
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the lookup
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :application_id Get for just 1 application instead of the BillableEntity
    # @option opts [Integer] :start The start time frame
    # @option opts [Integer] :_end The end time frame
    # @return [Array<(ApplicationUsageResponse, Integer, Hash)>] ApplicationUsageResponse data, response status code and response headers
    def get_subscription_usage_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.get_subscription_usage ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SubscriptionApi.get_subscription_usage"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SubscriptionApi.get_subscription_usage"
      end
      # resource path
      local_var_path = '/api/{version}/subscription/usage/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'applicationId'] = opts[:'application_id'] if !opts[:'application_id'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'end'] = opts[:'_end'] if !opts[:'_end'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplicationUsageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionApi.get_subscription_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#get_subscription_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Subscription
    # Updates the subscription for the billable entity for an account
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the update, must be the responsible manager
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :plan_id The plan to subscribe to
    # @option opts [String] :promo_code Set a promo code for a discount.
    # @option opts [Boolean] :active Set active status
    # @return [SubscriptionResponse]
    def update_subscription(version, account_id, opts = {})
      data, _status_code, _headers = update_subscription_with_http_info(version, account_id, opts)
      data
    end

    # Update Subscription
    # Updates the subscription for the billable entity for an account
    # @param version [Float] 
    # @param account_id [Integer] The account used to perform the update, must be the responsible manager
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :plan_id The plan to subscribe to
    # @option opts [String] :promo_code Set a promo code for a discount.
    # @option opts [Boolean] :active Set active status
    # @return [Array<(SubscriptionResponse, Integer, Hash)>] SubscriptionResponse data, response status code and response headers
    def update_subscription_with_http_info(version, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriptionApi.update_subscription ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling SubscriptionApi.update_subscription"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling SubscriptionApi.update_subscription"
      end
      # resource path
      local_var_path = '/api/{version}/subscription/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'planId'] = opts[:'plan_id'] if !opts[:'plan_id'].nil?
      query_params[:'promoCode'] = opts[:'promo_code'] if !opts[:'promo_code'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SubscriptionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriptionApi.update_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriptionApi#update_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
