=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class TaskApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Task
    # Create a Task
    # @param account_id [Integer] The logged in user.
    # @param name [String] The name of the task
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application to target
    # @option opts [String] :grouping_id Client defined identifier for grouping tasks
    # @option opts [String] :endpoint_url The URL for making an HTTP call
    # @option opts [String] :payload The parameters for making an HTTP call
    # @option opts [Integer] :scheduled_date The date and time of the task
    # @option opts [Integer] :start_date The starting date of the task
    # @option opts [Integer] :end_date The ending date of the task
    # @option opts [String] :cron_expression The cron expression that represents the task&#39;s schedule
    # @option opts [String] :visibility The determines the scope of who is able to find and view the scheduled notification (PUBLIC - openly available to all Sirqul users, PRIVATE - only available to users that have been invited)
    # @option opts [Boolean] :active Sets whether the Task is active or not (inactive Tasks are not processed) (default to true)
    # @return [TaskResponse]
    def create_task(account_id, name, opts = {})
      data, _status_code, _headers = create_task_with_http_info(account_id, name, opts)
      data
    end

    # Create Task
    # Create a Task
    # @param account_id [Integer] The logged in user.
    # @param name [String] The name of the task
    # @param [Hash] opts the optional parameters
    # @option opts [String] :app_key The application to target
    # @option opts [String] :grouping_id Client defined identifier for grouping tasks
    # @option opts [String] :endpoint_url The URL for making an HTTP call
    # @option opts [String] :payload The parameters for making an HTTP call
    # @option opts [Integer] :scheduled_date The date and time of the task
    # @option opts [Integer] :start_date The starting date of the task
    # @option opts [Integer] :end_date The ending date of the task
    # @option opts [String] :cron_expression The cron expression that represents the task&#39;s schedule
    # @option opts [String] :visibility The determines the scope of who is able to find and view the scheduled notification (PUBLIC - openly available to all Sirqul users, PRIVATE - only available to users that have been invited)
    # @option opts [Boolean] :active Sets whether the Task is active or not (inactive Tasks are not processed) (default to true)
    # @return [Array<(TaskResponse, Integer, Hash)>] TaskResponse data, response status code and response headers
    def create_task_with_http_info(account_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskApi.create_task ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TaskApi.create_task"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling TaskApi.create_task"
      end
      allowable_values = ["PUBLIC", "PRIVATE", "FRIENDS"]
      if @api_client.config.client_side_validation && opts[:'visibility'] && !allowable_values.include?(opts[:'visibility'])
        fail ArgumentError, "invalid value for \"visibility\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/task/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'name'] = name
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'groupingId'] = opts[:'grouping_id'] if !opts[:'grouping_id'].nil?
      query_params[:'endpointURL'] = opts[:'endpoint_url'] if !opts[:'endpoint_url'].nil?
      query_params[:'payload'] = opts[:'payload'] if !opts[:'payload'].nil?
      query_params[:'scheduledDate'] = opts[:'scheduled_date'] if !opts[:'scheduled_date'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'cronExpression'] = opts[:'cron_expression'] if !opts[:'cron_expression'].nil?
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskApi.create_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskApi#create_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Task
    # Delete a Task
    # @param account_id [Integer] The logged in user.
    # @param task_id [Integer] The id of the Task to delete.
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_task(account_id, task_id, opts = {})
      data, _status_code, _headers = delete_task_with_http_info(account_id, task_id, opts)
      data
    end

    # Delete Task
    # Delete a Task
    # @param account_id [Integer] The logged in user.
    # @param task_id [Integer] The id of the Task to delete.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_task_with_http_info(account_id, task_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskApi.delete_task ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TaskApi.delete_task"
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling TaskApi.delete_task"
      end
      # resource path
      local_var_path = '/task/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'taskId'] = task_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskApi.delete_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskApi#delete_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Task
    # Get a Task
    # @param account_id [Integer] The logged in user.
    # @param task_id [Integer] The id of the Task to return.
    # @param [Hash] opts the optional parameters
    # @return [TaskResponse]
    def get_task(account_id, task_id, opts = {})
      data, _status_code, _headers = get_task_with_http_info(account_id, task_id, opts)
      data
    end

    # Get Task
    # Get a Task
    # @param account_id [Integer] The logged in user.
    # @param task_id [Integer] The id of the Task to return.
    # @param [Hash] opts the optional parameters
    # @return [Array<(TaskResponse, Integer, Hash)>] TaskResponse data, response status code and response headers
    def get_task_with_http_info(account_id, task_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskApi.get_task ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TaskApi.get_task"
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling TaskApi.get_task"
      end
      # resource path
      local_var_path = '/task/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'taskId'] = task_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskApi.get_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskApi#get_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Tasks
    # Search on Tasks
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :grouping_id Filter results by a grouping identifier defined by the client
    # @option opts [String] :filter A comma separated list of filters:  * MINE - Return tasks that the user has created * SHARED - Return tasks that have been shared to the user * FOLLOWER - Return tasks that have been created by the user&#39;&#39;s followers (the content needs to have been APPROVED or FEATURED) * FOLLOWING - Return tasks that have been created by people who the user is following (the content needs to have been APPROVED or FEATURED) * PUBLIC - Return all PUBLIC tasks that have been APPROVED or FEATURED * ALL_PUBLIC - Return all PUBLIC tasks regardless of whether they are approved or not (ignores the approval status) * LIKED - Return all tasks that the user has liked * FEATURED - Return all tasks that have been featured * PENDING - Return all pending tasks  (default to 'MINE')
    # @option opts [String] :statuses Filter results by status (comma separated list). Values include: NEW, ERROR, COMPLETE, PROCESSING, TEMPLATE (default to 'NEW,ERROR,COMPLETE,PROCESSING')
    # @option opts [String] :template_types Template Types
    # @option opts [String] :app_key Filter the list by a specific application
    # @option opts [String] :keyword Keyword search on the task names.
    # @option opts [String] :sort_field The field to sort by. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, SCHEDULED_DATE, START_DATE, END_DATE (default to 'CREATED')
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order (default to true)
    # @option opts [Integer] :start Start the result set at some index. (default to 0)
    # @option opts [Integer] :limit Limit the result to some number. (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return only active results (default to true)
    # @return [Array<TaskResponse>]
    def search_tasks(account_id, opts = {})
      data, _status_code, _headers = search_tasks_with_http_info(account_id, opts)
      data
    end

    # Search Tasks
    # Search on Tasks
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :grouping_id Filter results by a grouping identifier defined by the client
    # @option opts [String] :filter A comma separated list of filters:  * MINE - Return tasks that the user has created * SHARED - Return tasks that have been shared to the user * FOLLOWER - Return tasks that have been created by the user&#39;&#39;s followers (the content needs to have been APPROVED or FEATURED) * FOLLOWING - Return tasks that have been created by people who the user is following (the content needs to have been APPROVED or FEATURED) * PUBLIC - Return all PUBLIC tasks that have been APPROVED or FEATURED * ALL_PUBLIC - Return all PUBLIC tasks regardless of whether they are approved or not (ignores the approval status) * LIKED - Return all tasks that the user has liked * FEATURED - Return all tasks that have been featured * PENDING - Return all pending tasks  (default to 'MINE')
    # @option opts [String] :statuses Filter results by status (comma separated list). Values include: NEW, ERROR, COMPLETE, PROCESSING, TEMPLATE (default to 'NEW,ERROR,COMPLETE,PROCESSING')
    # @option opts [String] :template_types Template Types
    # @option opts [String] :app_key Filter the list by a specific application
    # @option opts [String] :keyword Keyword search on the task names.
    # @option opts [String] :sort_field The field to sort by. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, SCHEDULED_DATE, START_DATE, END_DATE (default to 'CREATED')
    # @option opts [Boolean] :descending Determines whether the sorted list is in descending or ascending order (default to true)
    # @option opts [Integer] :start Start the result set at some index. (default to 0)
    # @option opts [Integer] :limit Limit the result to some number. (default to 20)
    # @option opts [Boolean] :active_only Determines whether to return only active results (default to true)
    # @return [Array<(Array<TaskResponse>, Integer, Hash)>] Array<TaskResponse> data, response status code and response headers
    def search_tasks_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskApi.search_tasks ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TaskApi.search_tasks"
      end
      # resource path
      local_var_path = '/task/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'groupingId'] = opts[:'grouping_id'] if !opts[:'grouping_id'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'statuses'] = opts[:'statuses'] if !opts[:'statuses'].nil?
      query_params[:'templateTypes'] = opts[:'template_types'] if !opts[:'template_types'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TaskResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskApi.search_tasks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskApi#search_tasks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Task
    # Update a Task
    # @param task_id [Integer] Task Id
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name The name of the task
    # @option opts [String] :app_key The application to target
    # @option opts [String] :grouping_id Client defined identifier for grouping tasks
    # @option opts [String] :endpoint_url The URL for making an HTTP call
    # @option opts [String] :payload The parameters for making an HTTP call
    # @option opts [Integer] :scheduled_date The date and time of the task
    # @option opts [Integer] :start_date The starting date of the task
    # @option opts [Integer] :end_date The ending date of the task
    # @option opts [String] :cron_expression The cron expression that represents the task&#39;s schedule
    # @option opts [String] :visibility The determines the scope of who is able to find and view the scheduled notification (PUBLIC - openly available to all Sirqul users, PRIVATE - only available to users that have been invited)
    # @option opts [Boolean] :active Sets whether the Task is active or not (inactive Tasks are not processed)
    # @return [TaskResponse]
    def update_task(task_id, account_id, opts = {})
      data, _status_code, _headers = update_task_with_http_info(task_id, account_id, opts)
      data
    end

    # Update Task
    # Update a Task
    # @param task_id [Integer] Task Id
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name The name of the task
    # @option opts [String] :app_key The application to target
    # @option opts [String] :grouping_id Client defined identifier for grouping tasks
    # @option opts [String] :endpoint_url The URL for making an HTTP call
    # @option opts [String] :payload The parameters for making an HTTP call
    # @option opts [Integer] :scheduled_date The date and time of the task
    # @option opts [Integer] :start_date The starting date of the task
    # @option opts [Integer] :end_date The ending date of the task
    # @option opts [String] :cron_expression The cron expression that represents the task&#39;s schedule
    # @option opts [String] :visibility The determines the scope of who is able to find and view the scheduled notification (PUBLIC - openly available to all Sirqul users, PRIVATE - only available to users that have been invited)
    # @option opts [Boolean] :active Sets whether the Task is active or not (inactive Tasks are not processed)
    # @return [Array<(TaskResponse, Integer, Hash)>] TaskResponse data, response status code and response headers
    def update_task_with_http_info(task_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TaskApi.update_task ...'
      end
      # verify the required parameter 'task_id' is set
      if @api_client.config.client_side_validation && task_id.nil?
        fail ArgumentError, "Missing the required parameter 'task_id' when calling TaskApi.update_task"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TaskApi.update_task"
      end
      allowable_values = ["PUBLIC", "PRIVATE", "FRIENDS"]
      if @api_client.config.client_side_validation && opts[:'visibility'] && !allowable_values.include?(opts[:'visibility'])
        fail ArgumentError, "invalid value for \"visibility\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/task/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'taskId'] = task_id
      query_params[:'accountId'] = account_id
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'groupingId'] = opts[:'grouping_id'] if !opts[:'grouping_id'].nil?
      query_params[:'endpointURL'] = opts[:'endpoint_url'] if !opts[:'endpoint_url'].nil?
      query_params[:'payload'] = opts[:'payload'] if !opts[:'payload'].nil?
      query_params[:'scheduledDate'] = opts[:'scheduled_date'] if !opts[:'scheduled_date'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'cronExpression'] = opts[:'cron_expression'] if !opts[:'cron_expression'].nil?
      query_params[:'visibility'] = opts[:'visibility'] if !opts[:'visibility'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TaskResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TaskApi.update_task",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TaskApi#update_task\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
