=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class TerritoryApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Territory
    # Creates a territory.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param name [String] The name of the territory
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :active If true set the game level as active. Default is true.
    # @return [TerritoryResponse]
    def create_territory(version, account_id, name, opts = {})
      data, _status_code, _headers = create_territory_with_http_info(version, account_id, name, opts)
      data
    end

    # Create Territory
    # Creates a territory.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param name [String] The name of the territory
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :active If true set the game level as active. Default is true.
    # @return [Array<(TerritoryResponse, Integer, Hash)>] TerritoryResponse data, response status code and response headers
    def create_territory_with_http_info(version, account_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoryApi.create_territory ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TerritoryApi.create_territory"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TerritoryApi.create_territory"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling TerritoryApi.create_territory"
      end
      # resource path
      local_var_path = '/api/{version}/territory/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'name'] = name
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TerritoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoryApi.create_territory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoryApi#create_territory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Territory
    # Deletes a territory.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param territory_id [Integer] the id of the territory to delete
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_territory(version, account_id, territory_id, opts = {})
      data, _status_code, _headers = delete_territory_with_http_info(version, account_id, territory_id, opts)
      data
    end

    # Delete Territory
    # Deletes a territory.
    # @param version [Float] 
    # @param account_id [Integer] the id of the logged in user
    # @param territory_id [Integer] the id of the territory to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_territory_with_http_info(version, account_id, territory_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoryApi.delete_territory ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TerritoryApi.delete_territory"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TerritoryApi.delete_territory"
      end
      # verify the required parameter 'territory_id' is set
      if @api_client.config.client_side_validation && territory_id.nil?
        fail ArgumentError, "Missing the required parameter 'territory_id' when calling TerritoryApi.delete_territory"
      end
      # resource path
      local_var_path = '/api/{version}/territory/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'territoryId'] = territory_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoryApi.delete_territory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoryApi#delete_territory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Territory
    # Get a territory.
    # @param version [Float] 
    # @param territory_id [Integer] the id of the territory to get
    # @param [Hash] opts the optional parameters
    # @return [TerritoryResponse]
    def get_territory(version, territory_id, opts = {})
      data, _status_code, _headers = get_territory_with_http_info(version, territory_id, opts)
      data
    end

    # Get Territory
    # Get a territory.
    # @param version [Float] 
    # @param territory_id [Integer] the id of the territory to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(TerritoryResponse, Integer, Hash)>] TerritoryResponse data, response status code and response headers
    def get_territory_with_http_info(version, territory_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoryApi.get_territory ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TerritoryApi.get_territory"
      end
      # verify the required parameter 'territory_id' is set
      if @api_client.config.client_side_validation && territory_id.nil?
        fail ArgumentError, "Missing the required parameter 'territory_id' when calling TerritoryApi.get_territory"
      end
      # resource path
      local_var_path = '/api/{version}/territory/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'territoryId'] = territory_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TerritoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoryApi.get_territory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoryApi#get_territory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Territories
    # Searches on territories.
    # @param version [Float] 
    # @param sort_field [String] the field to sort by. Supported values include: ID, CREATED, UPDATED, NAME
    # @param descending [Boolean] determines whether the sorted list is in descending or ascending order
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Return results that match this keyword.
    # @option opts [Integer] :start The start index for pagination
    # @option opts [Integer] :limit The limit for pagination
    # @return [Array<TerritoryResponse>]
    def search_territories(version, sort_field, descending, opts = {})
      data, _status_code, _headers = search_territories_with_http_info(version, sort_field, descending, opts)
      data
    end

    # Search Territories
    # Searches on territories.
    # @param version [Float] 
    # @param sort_field [String] the field to sort by. Supported values include: ID, CREATED, UPDATED, NAME
    # @param descending [Boolean] determines whether the sorted list is in descending or ascending order
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword Return results that match this keyword.
    # @option opts [Integer] :start The start index for pagination
    # @option opts [Integer] :limit The limit for pagination
    # @return [Array<(Array<TerritoryResponse>, Integer, Hash)>] Array<TerritoryResponse> data, response status code and response headers
    def search_territories_with_http_info(version, sort_field, descending, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoryApi.search_territories ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TerritoryApi.search_territories"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling TerritoryApi.search_territories"
      end
      # verify enum value
      allowable_values = ["ID", "UPDATED", "CREATED", "NAME"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling TerritoryApi.search_territories"
      end
      # resource path
      local_var_path = '/api/{version}/territory/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<TerritoryResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoryApi.search_territories",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoryApi#search_territories\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Territory
    # Updates a territory.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param territory_id [Integer] the id of the territory to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name The name of the territory
    # @option opts [Boolean] :active If true set the game level as active.
    # @return [TerritoryResponse]
    def update_territory(version, account_id, territory_id, opts = {})
      data, _status_code, _headers = update_territory_with_http_info(version, account_id, territory_id, opts)
      data
    end

    # Update Territory
    # Updates a territory.
    # @param version [Float] 
    # @param account_id [Integer] The logged in user.
    # @param territory_id [Integer] the id of the territory to update
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name The name of the territory
    # @option opts [Boolean] :active If true set the game level as active.
    # @return [Array<(TerritoryResponse, Integer, Hash)>] TerritoryResponse data, response status code and response headers
    def update_territory_with_http_info(version, account_id, territory_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TerritoryApi.update_territory ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TerritoryApi.update_territory"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TerritoryApi.update_territory"
      end
      # verify the required parameter 'territory_id' is set
      if @api_client.config.client_side_validation && territory_id.nil?
        fail ArgumentError, "Missing the required parameter 'territory_id' when calling TerritoryApi.update_territory"
      end
      # resource path
      local_var_path = '/api/{version}/territory/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'territoryId'] = territory_id
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TerritoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TerritoryApi.update_territory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TerritoryApi#update_territory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
