=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class ThirdPartyCredentialsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Credential
    # This endpoint creates a third-party login for a Sirqul account. A third party login is a way for external systems (Third Party Networks) to link their own user accounts with a Sirqul account.   The thirdPartyId parameter is used to determine if the user already exists in Sirqul or not. This parameter needs to be unique for each user in the Third Party Network (identified by the networkUID parameter). Note that subsequent calls will update the user's third-party login credentials for the user with the same thirdPartyId and networkUID combination.    The thirdPartyToken parameter acts as a shared secret and used by client applications to log users into Sirqul without providing a Sirqul username and password. 
    # @param third_party_id [String] the third party user account id
    # @param third_party_token [String] the access token to authenticate with (ex: username or fb token or phone number)
    # @param network_uid [String] the access provider to authenticate against
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the unique id of the account that needs authenticating (optional for PHONE_V2)
    # @option opts [String] :device_id the unique id of the device making the request
    # @option opts [String] :session_id the session id for the request
    # @option opts [String] :third_party_name the third party user&#39;s display name
    # @option opts [String] :email_address optional email address associated with the third party account
    # @option opts [Boolean] :signin_only_mode when true will error out if can&#39;t find any accounts matching (signin only) (default to false)
    # @option opts [String] :response_filters this determines how much of the profile should be returned, see ProfileFilters
    # @option opts [Float] :latitude the latitude of the user
    # @option opts [Float] :longitude the longitude of the user
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :third_party_refresh_token optional refresh token for the third party
    # @option opts [String] :audience_ids_to_add audience ids to add to the account
    # @option opts [String] :audience_ids_to_remove audience ids to remove from the account
    # @return [ProfileResponse]
    def create_credential(third_party_id, third_party_token, network_uid, app_key, opts = {})
      data, _status_code, _headers = create_credential_with_http_info(third_party_id, third_party_token, network_uid, app_key, opts)
      data
    end

    # Create Credential
    # This endpoint creates a third-party login for a Sirqul account. A third party login is a way for external systems (Third Party Networks) to link their own user accounts with a Sirqul account.   The thirdPartyId parameter is used to determine if the user already exists in Sirqul or not. This parameter needs to be unique for each user in the Third Party Network (identified by the networkUID parameter). Note that subsequent calls will update the user&#39;s third-party login credentials for the user with the same thirdPartyId and networkUID combination.    The thirdPartyToken parameter acts as a shared secret and used by client applications to log users into Sirqul without providing a Sirqul username and password. 
    # @param third_party_id [String] the third party user account id
    # @param third_party_token [String] the access token to authenticate with (ex: username or fb token or phone number)
    # @param network_uid [String] the access provider to authenticate against
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the unique id of the account that needs authenticating (optional for PHONE_V2)
    # @option opts [String] :device_id the unique id of the device making the request
    # @option opts [String] :session_id the session id for the request
    # @option opts [String] :third_party_name the third party user&#39;s display name
    # @option opts [String] :email_address optional email address associated with the third party account
    # @option opts [Boolean] :signin_only_mode when true will error out if can&#39;t find any accounts matching (signin only) (default to false)
    # @option opts [String] :response_filters this determines how much of the profile should be returned, see ProfileFilters
    # @option opts [Float] :latitude the latitude of the user
    # @option opts [Float] :longitude the longitude of the user
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :third_party_refresh_token optional refresh token for the third party
    # @option opts [String] :audience_ids_to_add audience ids to add to the account
    # @option opts [String] :audience_ids_to_remove audience ids to remove from the account
    # @return [Array<(ProfileResponse, Integer, Hash)>] ProfileResponse data, response status code and response headers
    def create_credential_with_http_info(third_party_id, third_party_token, network_uid, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.create_credential ...'
      end
      # verify the required parameter 'third_party_id' is set
      if @api_client.config.client_side_validation && third_party_id.nil?
        fail ArgumentError, "Missing the required parameter 'third_party_id' when calling ThirdPartyCredentialsApi.create_credential"
      end
      # verify the required parameter 'third_party_token' is set
      if @api_client.config.client_side_validation && third_party_token.nil?
        fail ArgumentError, "Missing the required parameter 'third_party_token' when calling ThirdPartyCredentialsApi.create_credential"
      end
      # verify the required parameter 'network_uid' is set
      if @api_client.config.client_side_validation && network_uid.nil?
        fail ArgumentError, "Missing the required parameter 'network_uid' when calling ThirdPartyCredentialsApi.create_credential"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ThirdPartyCredentialsApi.create_credential"
      end
      # resource path
      local_var_path = '/thirdparty/credential/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'thirdPartyId'] = third_party_id
      query_params[:'thirdPartyToken'] = third_party_token
      query_params[:'networkUID'] = network_uid
      query_params[:'appKey'] = app_key
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'sessionId'] = opts[:'session_id'] if !opts[:'session_id'].nil?
      query_params[:'thirdPartyName'] = opts[:'third_party_name'] if !opts[:'third_party_name'].nil?
      query_params[:'emailAddress'] = opts[:'email_address'] if !opts[:'email_address'].nil?
      query_params[:'signinOnlyMode'] = opts[:'signin_only_mode'] if !opts[:'signin_only_mode'].nil?
      query_params[:'responseFilters'] = opts[:'response_filters'] if !opts[:'response_filters'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'thirdPartyRefreshToken'] = opts[:'third_party_refresh_token'] if !opts[:'third_party_refresh_token'].nil?
      query_params[:'audienceIdsToAdd'] = opts[:'audience_ids_to_add'] if !opts[:'audience_ids_to_add'].nil?
      query_params[:'audienceIdsToRemove'] = opts[:'audience_ids_to_remove'] if !opts[:'audience_ids_to_remove'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.create_credential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#create_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Network
    # Creates a custom third party network.
    # @param account_id [Integer] The account id making the request
    # @param name [String] The name of the network
    # @param enable_introspection [Boolean] Whether the network uses introspection calls
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description The description of the network
    # @option opts [String] :introspection_method HTTP method to use for introspection calls (e.g., GET, POST)
    # @option opts [String] :introspection_url The HTTP URL of the introspection call
    # @option opts [String] :introspection_params The parameters of the introspection call
    # @option opts [String] :required_root_field Required response params
    # @option opts [Boolean] :enable_mfa Whether this network uses MFA
    # @option opts [Integer] :size_mfa Size of the MFA token
    # @option opts [Integer] :shelf_life_mfa Shelf life (seconds) of the MFA token
    # @option opts [String] :oauth_token_url OAuth token endpoint URL
    # @option opts [File] :oauth_private_key OAuth private key file (multipart)
    # @option opts [File] :oauth_public_key OAuth public key file (multipart)
    # @option opts [String] :oauth_client_id OAuth client id
    # @option opts [String] :oauth_secret_key OAuth secret key
    # @option opts [String] :body 
    # @return [ThirdPartyNetworkResponse]
    def create_network(account_id, name, enable_introspection, opts = {})
      data, _status_code, _headers = create_network_with_http_info(account_id, name, enable_introspection, opts)
      data
    end

    # Create Network
    # Creates a custom third party network.
    # @param account_id [Integer] The account id making the request
    # @param name [String] The name of the network
    # @param enable_introspection [Boolean] Whether the network uses introspection calls
    # @param [Hash] opts the optional parameters
    # @option opts [String] :description The description of the network
    # @option opts [String] :introspection_method HTTP method to use for introspection calls (e.g., GET, POST)
    # @option opts [String] :introspection_url The HTTP URL of the introspection call
    # @option opts [String] :introspection_params The parameters of the introspection call
    # @option opts [String] :required_root_field Required response params
    # @option opts [Boolean] :enable_mfa Whether this network uses MFA
    # @option opts [Integer] :size_mfa Size of the MFA token
    # @option opts [Integer] :shelf_life_mfa Shelf life (seconds) of the MFA token
    # @option opts [String] :oauth_token_url OAuth token endpoint URL
    # @option opts [File] :oauth_private_key OAuth private key file (multipart)
    # @option opts [File] :oauth_public_key OAuth public key file (multipart)
    # @option opts [String] :oauth_client_id OAuth client id
    # @option opts [String] :oauth_secret_key OAuth secret key
    # @option opts [String] :body 
    # @return [Array<(ThirdPartyNetworkResponse, Integer, Hash)>] ThirdPartyNetworkResponse data, response status code and response headers
    def create_network_with_http_info(account_id, name, enable_introspection, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.create_network ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ThirdPartyCredentialsApi.create_network"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling ThirdPartyCredentialsApi.create_network"
      end
      # verify the required parameter 'enable_introspection' is set
      if @api_client.config.client_side_validation && enable_introspection.nil?
        fail ArgumentError, "Missing the required parameter 'enable_introspection' when calling ThirdPartyCredentialsApi.create_network"
      end
      # resource path
      local_var_path = '/thirdparty/network/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'name'] = name
      query_params[:'enableIntrospection'] = enable_introspection
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'introspectionMethod'] = opts[:'introspection_method'] if !opts[:'introspection_method'].nil?
      query_params[:'introspectionURL'] = opts[:'introspection_url'] if !opts[:'introspection_url'].nil?
      query_params[:'introspectionParams'] = opts[:'introspection_params'] if !opts[:'introspection_params'].nil?
      query_params[:'requiredRootField'] = opts[:'required_root_field'] if !opts[:'required_root_field'].nil?
      query_params[:'enableMFA'] = opts[:'enable_mfa'] if !opts[:'enable_mfa'].nil?
      query_params[:'sizeMFA'] = opts[:'size_mfa'] if !opts[:'size_mfa'].nil?
      query_params[:'shelfLifeMFA'] = opts[:'shelf_life_mfa'] if !opts[:'shelf_life_mfa'].nil?
      query_params[:'oauthTokenURL'] = opts[:'oauth_token_url'] if !opts[:'oauth_token_url'].nil?
      query_params[:'oauthPrivateKey'] = opts[:'oauth_private_key'] if !opts[:'oauth_private_key'].nil?
      query_params[:'oauthPublicKey'] = opts[:'oauth_public_key'] if !opts[:'oauth_public_key'].nil?
      query_params[:'oauthClientId'] = opts[:'oauth_client_id'] if !opts[:'oauth_client_id'].nil?
      query_params[:'oauthSecretKey'] = opts[:'oauth_secret_key'] if !opts[:'oauth_secret_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ThirdPartyNetworkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.create_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#create_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Credential
    # Delete a third party network on a Sirqul account.
    # @param account_id [Integer] The account id of the user
    # @param network_uid [String] The third party network identifier
    # @param third_party_id [String] The third party user id
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_credential(account_id, network_uid, third_party_id, app_key, opts = {})
      data, _status_code, _headers = delete_credential_with_http_info(account_id, network_uid, third_party_id, app_key, opts)
      data
    end

    # Delete Credential
    # Delete a third party network on a Sirqul account.
    # @param account_id [Integer] The account id of the user
    # @param network_uid [String] The third party network identifier
    # @param third_party_id [String] The third party user id
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_credential_with_http_info(account_id, network_uid, third_party_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.delete_credential ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ThirdPartyCredentialsApi.delete_credential"
      end
      # verify the required parameter 'network_uid' is set
      if @api_client.config.client_side_validation && network_uid.nil?
        fail ArgumentError, "Missing the required parameter 'network_uid' when calling ThirdPartyCredentialsApi.delete_credential"
      end
      # verify the required parameter 'third_party_id' is set
      if @api_client.config.client_side_validation && third_party_id.nil?
        fail ArgumentError, "Missing the required parameter 'third_party_id' when calling ThirdPartyCredentialsApi.delete_credential"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ThirdPartyCredentialsApi.delete_credential"
      end
      # resource path
      local_var_path = '/thirdparty/credential/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'networkUID'] = network_uid
      query_params[:'thirdPartyId'] = third_party_id
      query_params[:'appKey'] = app_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.delete_credential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#delete_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Network
    # Marks a custom third party network as deleted. Only the network owners and managers have access to this.
    # @param account_id [Integer] the id of the logged in user
    # @param network_uid [String] The unique identifier for the third party network defined by Sirqul
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_network(account_id, network_uid, opts = {})
      data, _status_code, _headers = delete_network_with_http_info(account_id, network_uid, opts)
      data
    end

    # Delete Network
    # Marks a custom third party network as deleted. Only the network owners and managers have access to this.
    # @param account_id [Integer] the id of the logged in user
    # @param network_uid [String] The unique identifier for the third party network defined by Sirqul
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_network_with_http_info(account_id, network_uid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.delete_network ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ThirdPartyCredentialsApi.delete_network"
      end
      # verify the required parameter 'network_uid' is set
      if @api_client.config.client_side_validation && network_uid.nil?
        fail ArgumentError, "Missing the required parameter 'network_uid' when calling ThirdPartyCredentialsApi.delete_network"
      end
      # resource path
      local_var_path = '/thirdparty/network/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'networkUID'] = network_uid

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.delete_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#delete_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Credential
    # Gets the account information given a third party token.
    # @param network_uid [String] the access provider to authenticate against
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the unique account id of a specific account that will be bound to the third-party credentials
    # @option opts [String] :device_id the unique id of the device making the request
    # @option opts [String] :session_id the session id for the request
    # @option opts [Integer] :third_party_credential_id the third-party credentials id from the response of the credential/create step
    # @option opts [String] :third_party_token the access token to authenticate with
    # @option opts [String] :third_party_secret the secret code to authenticate with (used for MFA)
    # @option opts [Boolean] :create_new_account flag to force creation of a new account when no accountId is passed and user chooses not to use listed accounts (default to false)
    # @option opts [String] :response_filters this determines how much of the profile should be returned, see ProfileFilters
    # @option opts [Float] :latitude the latitude of the user
    # @option opts [Float] :longitude the longitude of the user
    # @option opts [String] :audience_ids_to_add audience ids to add to the account
    # @option opts [String] :audience_ids_to_remove audience ids to remove from the account
    # @option opts [Integer] :referral_account_id account id of the referrer (inviter-invitee relationship)
    # @return [ProfileResponse]
    def get_credential(network_uid, app_key, opts = {})
      data, _status_code, _headers = get_credential_with_http_info(network_uid, app_key, opts)
      data
    end

    # Get Credential
    # Gets the account information given a third party token.
    # @param network_uid [String] the access provider to authenticate against
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :account_id the unique account id of a specific account that will be bound to the third-party credentials
    # @option opts [String] :device_id the unique id of the device making the request
    # @option opts [String] :session_id the session id for the request
    # @option opts [Integer] :third_party_credential_id the third-party credentials id from the response of the credential/create step
    # @option opts [String] :third_party_token the access token to authenticate with
    # @option opts [String] :third_party_secret the secret code to authenticate with (used for MFA)
    # @option opts [Boolean] :create_new_account flag to force creation of a new account when no accountId is passed and user chooses not to use listed accounts (default to false)
    # @option opts [String] :response_filters this determines how much of the profile should be returned, see ProfileFilters
    # @option opts [Float] :latitude the latitude of the user
    # @option opts [Float] :longitude the longitude of the user
    # @option opts [String] :audience_ids_to_add audience ids to add to the account
    # @option opts [String] :audience_ids_to_remove audience ids to remove from the account
    # @option opts [Integer] :referral_account_id account id of the referrer (inviter-invitee relationship)
    # @return [Array<(ProfileResponse, Integer, Hash)>] ProfileResponse data, response status code and response headers
    def get_credential_with_http_info(network_uid, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.get_credential ...'
      end
      # verify the required parameter 'network_uid' is set
      if @api_client.config.client_side_validation && network_uid.nil?
        fail ArgumentError, "Missing the required parameter 'network_uid' when calling ThirdPartyCredentialsApi.get_credential"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ThirdPartyCredentialsApi.get_credential"
      end
      # resource path
      local_var_path = '/thirdparty/credential/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'networkUID'] = network_uid
      query_params[:'appKey'] = app_key
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'sessionId'] = opts[:'session_id'] if !opts[:'session_id'].nil?
      query_params[:'thirdPartyCredentialId'] = opts[:'third_party_credential_id'] if !opts[:'third_party_credential_id'].nil?
      query_params[:'thirdPartyToken'] = opts[:'third_party_token'] if !opts[:'third_party_token'].nil?
      query_params[:'thirdPartySecret'] = opts[:'third_party_secret'] if !opts[:'third_party_secret'].nil?
      query_params[:'createNewAccount'] = opts[:'create_new_account'] if !opts[:'create_new_account'].nil?
      query_params[:'responseFilters'] = opts[:'response_filters'] if !opts[:'response_filters'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'audienceIdsToAdd'] = opts[:'audience_ids_to_add'] if !opts[:'audience_ids_to_add'].nil?
      query_params[:'audienceIdsToRemove'] = opts[:'audience_ids_to_remove'] if !opts[:'audience_ids_to_remove'].nil?
      query_params[:'referralAccountId'] = opts[:'referral_account_id'] if !opts[:'referral_account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.get_credential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#get_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Network
    # Get the details of a third party network. Only the network owners and managers have access to this.
    # @param account_id [Integer] The account id making the request
    # @param network_uid [String] The unique identifier for the third party network defined by Sirqul
    # @param [Hash] opts the optional parameters
    # @return [ThirdPartyNetworkResponse]
    def get_network(account_id, network_uid, opts = {})
      data, _status_code, _headers = get_network_with_http_info(account_id, network_uid, opts)
      data
    end

    # Get Network
    # Get the details of a third party network. Only the network owners and managers have access to this.
    # @param account_id [Integer] The account id making the request
    # @param network_uid [String] The unique identifier for the third party network defined by Sirqul
    # @param [Hash] opts the optional parameters
    # @return [Array<(ThirdPartyNetworkResponse, Integer, Hash)>] ThirdPartyNetworkResponse data, response status code and response headers
    def get_network_with_http_info(account_id, network_uid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.get_network ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ThirdPartyCredentialsApi.get_network"
      end
      # verify the required parameter 'network_uid' is set
      if @api_client.config.client_side_validation && network_uid.nil?
        fail ArgumentError, "Missing the required parameter 'network_uid' when calling ThirdPartyCredentialsApi.get_network"
      end
      # resource path
      local_var_path = '/thirdparty/network/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'networkUID'] = network_uid

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ThirdPartyNetworkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.get_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#get_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Credentials
    # Search on a user's linked third party networks.
    # @param account_id [Integer] The account id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword used to search on the third party name and network string
    # @option opts [String] :network_uid The network UID to filter results with
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start The start of the pagination (default to 0)
    # @option opts [Integer] :limit The limit of the pagination (default to 20)
    # @return [Array<ThirdPartyCredentialResponse>]
    def search_credentials(account_id, opts = {})
      data, _status_code, _headers = search_credentials_with_http_info(account_id, opts)
      data
    end

    # Search Credentials
    # Search on a user&#39;s linked third party networks.
    # @param account_id [Integer] The account id of the user
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword used to search on the third party name and network string
    # @option opts [String] :network_uid The network UID to filter results with
    # @option opts [Boolean] :descending The order to return the search results
    # @option opts [Integer] :start The start of the pagination (default to 0)
    # @option opts [Integer] :limit The limit of the pagination (default to 20)
    # @return [Array<(Array<ThirdPartyCredentialResponse>, Integer, Hash)>] Array<ThirdPartyCredentialResponse> data, response status code and response headers
    def search_credentials_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.search_credentials ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ThirdPartyCredentialsApi.search_credentials"
      end
      # resource path
      local_var_path = '/thirdparty/credential/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'networkUID'] = opts[:'network_uid'] if !opts[:'network_uid'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ThirdPartyCredentialResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.search_credentials",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#search_credentials\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Networks
    # Search on supported third party networks and custom networks from external users.
    # @param account_id [Integer] The account id making the request
    # @param sort_field [String] The column to sort the search on, possible values include: UPDATED (default), CREATED, NAME
    # @param descending [Boolean] The order to return the search results
    # @param start [Integer] The start of the pagination
    # @param limit [Integer] The limit of the pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword used to search on the network name and description fields
    # @option opts [Boolean] :filter_billable Determines whether to only return applications that the user has access to
    # @return [Array<ThirdPartyNetworkShortResponse>]
    def search_networks(account_id, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_networks_with_http_info(account_id, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Networks
    # Search on supported third party networks and custom networks from external users.
    # @param account_id [Integer] The account id making the request
    # @param sort_field [String] The column to sort the search on, possible values include: UPDATED (default), CREATED, NAME
    # @param descending [Boolean] The order to return the search results
    # @param start [Integer] The start of the pagination
    # @param limit [Integer] The limit of the pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword used to search on the network name and description fields
    # @option opts [Boolean] :filter_billable Determines whether to only return applications that the user has access to
    # @return [Array<(Array<ThirdPartyNetworkShortResponse>, Integer, Hash)>] Array<ThirdPartyNetworkShortResponse> data, response status code and response headers
    def search_networks_with_http_info(account_id, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.search_networks ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ThirdPartyCredentialsApi.search_networks"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling ThirdPartyCredentialsApi.search_networks"
      end
      # verify enum value
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "BILLABLE_ENTITY_ID", "BILLABLE_ENTITY_NAME", "RESPONSIBLE_DISPLAY", "NAME", "DESCRIPTION"]
      if @api_client.config.client_side_validation && !allowable_values.include?(sort_field)
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling ThirdPartyCredentialsApi.search_networks"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling ThirdPartyCredentialsApi.search_networks"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling ThirdPartyCredentialsApi.search_networks"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling ThirdPartyCredentialsApi.search_networks"
      end
      # resource path
      local_var_path = '/thirdparty/network/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'filterBillable'] = opts[:'filter_billable'] if !opts[:'filter_billable'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ThirdPartyNetworkShortResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.search_networks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#search_networks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send MFA Challenge
    # Sends an MFA challenge (SMS or Email) for networks with MFA enabled.
    # @param network_uid [String] the third party network provider that has MFA enabled
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_token the access token to authenticate with
    # @option opts [Integer] :third_party_credential_id optional id of the existing third party credential
    # @option opts [String] :device_id the unique id of the device making the request
    # @return [SirqulResponse]
    def send_mfa_challenge(network_uid, app_key, opts = {})
      data, _status_code, _headers = send_mfa_challenge_with_http_info(network_uid, app_key, opts)
      data
    end

    # Send MFA Challenge
    # Sends an MFA challenge (SMS or Email) for networks with MFA enabled.
    # @param network_uid [String] the third party network provider that has MFA enabled
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :third_party_token the access token to authenticate with
    # @option opts [Integer] :third_party_credential_id optional id of the existing third party credential
    # @option opts [String] :device_id the unique id of the device making the request
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def send_mfa_challenge_with_http_info(network_uid, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.send_mfa_challenge ...'
      end
      # verify the required parameter 'network_uid' is set
      if @api_client.config.client_side_validation && network_uid.nil?
        fail ArgumentError, "Missing the required parameter 'network_uid' when calling ThirdPartyCredentialsApi.send_mfa_challenge"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ThirdPartyCredentialsApi.send_mfa_challenge"
      end
      # resource path
      local_var_path = '/thirdparty/credential/mfa/send'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'networkUID'] = network_uid
      query_params[:'appKey'] = app_key
      query_params[:'thirdPartyToken'] = opts[:'third_party_token'] if !opts[:'third_party_token'].nil?
      query_params[:'thirdPartyCredentialId'] = opts[:'third_party_credential_id'] if !opts[:'third_party_credential_id'].nil?
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.send_mfa_challenge",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#send_mfa_challenge\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Credential
    # Updates a third-party login for an account.
    # @param network_uid [String] the access provider to authenticate against
    # @param third_party_id [String] the third party user account id
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the unique id of the device making the request
    # @option opts [String] :third_party_name the third party user name
    # @option opts [String] :third_party_token the access token to authenticate with (ex: username or fb token)
    # @option opts [String] :response_filters this determines how much of the profile should be returned, see ProfileFilters
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :third_party_refresh_token optional refresh token for the third party
    # @return [ProfileResponse]
    def update_credential(network_uid, third_party_id, app_key, opts = {})
      data, _status_code, _headers = update_credential_with_http_info(network_uid, third_party_id, app_key, opts)
      data
    end

    # Update Credential
    # Updates a third-party login for an account.
    # @param network_uid [String] the access provider to authenticate against
    # @param third_party_id [String] the third party user account id
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the unique id of the device making the request
    # @option opts [String] :third_party_name the third party user name
    # @option opts [String] :third_party_token the access token to authenticate with (ex: username or fb token)
    # @option opts [String] :response_filters this determines how much of the profile should be returned, see ProfileFilters
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :third_party_refresh_token optional refresh token for the third party
    # @return [Array<(ProfileResponse, Integer, Hash)>] ProfileResponse data, response status code and response headers
    def update_credential_with_http_info(network_uid, third_party_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.update_credential ...'
      end
      # verify the required parameter 'network_uid' is set
      if @api_client.config.client_side_validation && network_uid.nil?
        fail ArgumentError, "Missing the required parameter 'network_uid' when calling ThirdPartyCredentialsApi.update_credential"
      end
      # verify the required parameter 'third_party_id' is set
      if @api_client.config.client_side_validation && third_party_id.nil?
        fail ArgumentError, "Missing the required parameter 'third_party_id' when calling ThirdPartyCredentialsApi.update_credential"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling ThirdPartyCredentialsApi.update_credential"
      end
      # resource path
      local_var_path = '/thirdparty/credential/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'networkUID'] = network_uid
      query_params[:'thirdPartyId'] = third_party_id
      query_params[:'appKey'] = app_key
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'thirdPartyName'] = opts[:'third_party_name'] if !opts[:'third_party_name'].nil?
      query_params[:'thirdPartyToken'] = opts[:'third_party_token'] if !opts[:'third_party_token'].nil?
      query_params[:'responseFilters'] = opts[:'response_filters'] if !opts[:'response_filters'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'thirdPartyRefreshToken'] = opts[:'third_party_refresh_token'] if !opts[:'third_party_refresh_token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.update_credential",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#update_credential\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Network
    # Updates a custom third party network. Only the network owners and managers have access to this.
    # @param account_id [Integer] The account id making the request
    # @param network_uid [String] The unique identifier for the third party network defined by Sirqul
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name The name of the network
    # @option opts [String] :description The description of the network
    # @option opts [Boolean] :enable_introspection Whether the network uses introspection calls
    # @option opts [String] :introspection_method HTTP method to use for introspection calls (e.g., GET, POST)
    # @option opts [String] :introspection_url The HTTP URL of the introspection call
    # @option opts [String] :introspection_params The parameters of the introspection call
    # @option opts [String] :required_root_field Required response params
    # @option opts [Boolean] :enable_mfa Whether this network uses MFA
    # @option opts [Integer] :size_mfa Size of the MFA token
    # @option opts [Integer] :shelf_life_mfa Shelf life (seconds) of the MFA token
    # @option opts [String] :oauth_token_url OAuth token endpoint URL
    # @option opts [File] :oauth_private_key OAuth private key file (multipart)
    # @option opts [File] :oauth_public_key OAuth public key file (multipart)
    # @option opts [String] :oauth_client_id OAuth client id
    # @option opts [String] :oauth_secret_key OAuth secret key
    # @option opts [String] :body 
    # @return [ThirdPartyNetworkResponse]
    def update_network(account_id, network_uid, opts = {})
      data, _status_code, _headers = update_network_with_http_info(account_id, network_uid, opts)
      data
    end

    # Update Network
    # Updates a custom third party network. Only the network owners and managers have access to this.
    # @param account_id [Integer] The account id making the request
    # @param network_uid [String] The unique identifier for the third party network defined by Sirqul
    # @param [Hash] opts the optional parameters
    # @option opts [String] :name The name of the network
    # @option opts [String] :description The description of the network
    # @option opts [Boolean] :enable_introspection Whether the network uses introspection calls
    # @option opts [String] :introspection_method HTTP method to use for introspection calls (e.g., GET, POST)
    # @option opts [String] :introspection_url The HTTP URL of the introspection call
    # @option opts [String] :introspection_params The parameters of the introspection call
    # @option opts [String] :required_root_field Required response params
    # @option opts [Boolean] :enable_mfa Whether this network uses MFA
    # @option opts [Integer] :size_mfa Size of the MFA token
    # @option opts [Integer] :shelf_life_mfa Shelf life (seconds) of the MFA token
    # @option opts [String] :oauth_token_url OAuth token endpoint URL
    # @option opts [File] :oauth_private_key OAuth private key file (multipart)
    # @option opts [File] :oauth_public_key OAuth public key file (multipart)
    # @option opts [String] :oauth_client_id OAuth client id
    # @option opts [String] :oauth_secret_key OAuth secret key
    # @option opts [String] :body 
    # @return [Array<(ThirdPartyNetworkResponse, Integer, Hash)>] ThirdPartyNetworkResponse data, response status code and response headers
    def update_network_with_http_info(account_id, network_uid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ThirdPartyCredentialsApi.update_network ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling ThirdPartyCredentialsApi.update_network"
      end
      # verify the required parameter 'network_uid' is set
      if @api_client.config.client_side_validation && network_uid.nil?
        fail ArgumentError, "Missing the required parameter 'network_uid' when calling ThirdPartyCredentialsApi.update_network"
      end
      # resource path
      local_var_path = '/thirdparty/network/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'networkUID'] = network_uid
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'description'] = opts[:'description'] if !opts[:'description'].nil?
      query_params[:'enableIntrospection'] = opts[:'enable_introspection'] if !opts[:'enable_introspection'].nil?
      query_params[:'introspectionMethod'] = opts[:'introspection_method'] if !opts[:'introspection_method'].nil?
      query_params[:'introspectionURL'] = opts[:'introspection_url'] if !opts[:'introspection_url'].nil?
      query_params[:'introspectionParams'] = opts[:'introspection_params'] if !opts[:'introspection_params'].nil?
      query_params[:'requiredRootField'] = opts[:'required_root_field'] if !opts[:'required_root_field'].nil?
      query_params[:'enableMFA'] = opts[:'enable_mfa'] if !opts[:'enable_mfa'].nil?
      query_params[:'sizeMFA'] = opts[:'size_mfa'] if !opts[:'size_mfa'].nil?
      query_params[:'shelfLifeMFA'] = opts[:'shelf_life_mfa'] if !opts[:'shelf_life_mfa'].nil?
      query_params[:'oauthTokenURL'] = opts[:'oauth_token_url'] if !opts[:'oauth_token_url'].nil?
      query_params[:'oauthPrivateKey'] = opts[:'oauth_private_key'] if !opts[:'oauth_private_key'].nil?
      query_params[:'oauthPublicKey'] = opts[:'oauth_public_key'] if !opts[:'oauth_public_key'].nil?
      query_params[:'oauthClientId'] = opts[:'oauth_client_id'] if !opts[:'oauth_client_id'].nil?
      query_params[:'oauthSecretKey'] = opts[:'oauth_secret_key'] if !opts[:'oauth_secret_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ThirdPartyNetworkResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ThirdPartyCredentialsApi.update_network",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ThirdPartyCredentialsApi#update_network\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
