=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class TicketApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get Ticket Count
    # Gets the ticket count.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the id of the device that owns the tickets
    # @option opts [Integer] :account_id the id of the account that owns the tickets
    # @option opts [String] :game_type this is deprecated.
    # @option opts [String] :app_key the applicationkey
    # @option opts [String] :ticket_type the type of ticket
    # @return [CountResponse]
    def get_ticket_count(version, opts = {})
      data, _status_code, _headers = get_ticket_count_with_http_info(version, opts)
      data
    end

    # Get Ticket Count
    # Gets the ticket count.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the id of the device that owns the tickets
    # @option opts [Integer] :account_id the id of the account that owns the tickets
    # @option opts [String] :game_type this is deprecated.
    # @option opts [String] :app_key the applicationkey
    # @option opts [String] :ticket_type the type of ticket
    # @return [Array<(CountResponse, Integer, Hash)>] CountResponse data, response status code and response headers
    def get_ticket_count_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketApi.get_ticket_count ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TicketApi.get_ticket_count"
      end
      # resource path
      local_var_path = '/api/{version}/ticket/count'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CountResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TicketApi.get_ticket_count",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketApi#get_ticket_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Ticket List
    # Gets the list of tickets.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the id of the device that owns the tickets
    # @option opts [Integer] :account_id the id of the account that owns the tickets
    # @option opts [String] :ticket_object_type comma separated list of TicketObjectType
    # @option opts [String] :action_type comma separated list of TicketActionType
    # @option opts [String] :ticket_ids the ids of the tickets to get
    # @option opts [String] :object_ids the ids of the objects to get
    # @option opts [String] :receipt_tokens 
    # @option opts [String] :game_type 
    # @option opts [String] :app_key the application key
    # @return [TicketListResponse]
    def get_ticket_list(version, opts = {})
      data, _status_code, _headers = get_ticket_list_with_http_info(version, opts)
      data
    end

    # Get Ticket List
    # Gets the list of tickets.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the id of the device that owns the tickets
    # @option opts [Integer] :account_id the id of the account that owns the tickets
    # @option opts [String] :ticket_object_type comma separated list of TicketObjectType
    # @option opts [String] :action_type comma separated list of TicketActionType
    # @option opts [String] :ticket_ids the ids of the tickets to get
    # @option opts [String] :object_ids the ids of the objects to get
    # @option opts [String] :receipt_tokens 
    # @option opts [String] :game_type 
    # @option opts [String] :app_key the application key
    # @return [Array<(TicketListResponse, Integer, Hash)>] TicketListResponse data, response status code and response headers
    def get_ticket_list_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketApi.get_ticket_list ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TicketApi.get_ticket_list"
      end
      # resource path
      local_var_path = '/api/{version}/ticket/getList'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'ticketObjectType'] = opts[:'ticket_object_type'] if !opts[:'ticket_object_type'].nil?
      query_params[:'actionType'] = opts[:'action_type'] if !opts[:'action_type'].nil?
      query_params[:'ticketIds'] = opts[:'ticket_ids'] if !opts[:'ticket_ids'].nil?
      query_params[:'objectIds'] = opts[:'object_ids'] if !opts[:'object_ids'].nil?
      query_params[:'receiptTokens'] = opts[:'receipt_tokens'] if !opts[:'receipt_tokens'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TicketListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TicketApi.get_ticket_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketApi#get_ticket_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gift Tickets
    # Gift tickets to another user.
    # @param version [Float] 
    # @param receiver_account_id [Integer] the id of the account receiving the tickets
    # @param ticket_id [Integer] the id of the tickets
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the id of the device
    # @option opts [Integer] :account_id the id of the gift owner
    # @option opts [Integer] :asset_id the id of the asset
    # @option opts [String] :custom_message a message that can be written to go along with the gift
    # @option opts [String] :game_type the type of game associated with the tickets
    # @option opts [String] :app_key the application key
    # @return [SirqulResponse]
    def gift_purchase(version, receiver_account_id, ticket_id, opts = {})
      data, _status_code, _headers = gift_purchase_with_http_info(version, receiver_account_id, ticket_id, opts)
      data
    end

    # Gift Tickets
    # Gift tickets to another user.
    # @param version [Float] 
    # @param receiver_account_id [Integer] the id of the account receiving the tickets
    # @param ticket_id [Integer] the id of the tickets
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the id of the device
    # @option opts [Integer] :account_id the id of the gift owner
    # @option opts [Integer] :asset_id the id of the asset
    # @option opts [String] :custom_message a message that can be written to go along with the gift
    # @option opts [String] :game_type the type of game associated with the tickets
    # @option opts [String] :app_key the application key
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def gift_purchase_with_http_info(version, receiver_account_id, ticket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketApi.gift_purchase ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TicketApi.gift_purchase"
      end
      # verify the required parameter 'receiver_account_id' is set
      if @api_client.config.client_side_validation && receiver_account_id.nil?
        fail ArgumentError, "Missing the required parameter 'receiver_account_id' when calling TicketApi.gift_purchase"
      end
      # verify the required parameter 'ticket_id' is set
      if @api_client.config.client_side_validation && ticket_id.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_id' when calling TicketApi.gift_purchase"
      end
      # resource path
      local_var_path = '/api/{version}/purchase/gift'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'receiverAccountId'] = receiver_account_id
      query_params[:'ticketId'] = ticket_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'customMessage'] = opts[:'custom_message'] if !opts[:'custom_message'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TicketApi.gift_purchase",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketApi#gift_purchase\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save Ticket
    # Allow user to acquire a purchase item and generate a ticket record. Used to redeem tickets or add tickets to the system.
    # @param version [Float] 
    # @param action_type [String] the action being performed, values: COMPLETED, // ADD TICKETS FOR COMPLETING A MISSION, CHALLENGE, GAME, PACK, LEVEL, LEVEL OBJECT REDEEMED, // REMOVE TICKETS FOR BUYING PACKS, HINTS, AND PEN TOOLS OPTIONS, ETC USERS_PLAYED, // ADD TICKETS FOR LEVELS PLAYED BY OTHER USERS TOURNAMENT_OWNER, // ADD TICKETS FOR TOURNAMENTS BY OTHER USERS PURCHASED, // ADD TICKET VIA IN APP PURCHASING SUMATION, // SUMATION OF TICKETS EARNED FROM CHILDREN GIFTED, // TRANSFERING OF PURCHASE ITEMS TO OTHER PEOPLE REFUNDED // FOR REFUNDING TICKETS BACK TO THE USER
    # @param ticket_object_type [String] the type of object being purchased, values: GAME_OBJECT, GAME_LEVEL, PACK, GAME, MISSION, PROFILE, APPLICATION, TICKETS, ASSET, CUSTOM
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_nulls whether to return nulls or not
    # @option opts [String] :device_id the device id that owns the tickets
    # @option opts [Integer] :account_id the account id that owns the tickets
    # @option opts [String] :game_type This parameter is deprecated. deprecated, use the appKey
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :object_id the ID of the item being purchased
    # @option opts [String] :purchase_code a unique string identifier defined by the application owner or Executive
    # @option opts [String] :receipt_token a unique transaction identifier from the purchase provider (i.e. the transaction ID from iTunes, Google Play, etc)
    # @option opts [String] :receipt_data the receipt/transaction data for validating a purchase via iTunes/Gooogle/etc. This should be in string format.
    # @option opts [Integer] :count the count of tickets
    # @option opts [String] :ticket_type the ticket type
    # @option opts [String] :purchase_provider the provider for making the purchase {ITUNES, ITUNES_SANDBOX, GOOGLE}
    # @option opts [String] :purchase_type a comma separated list of purchase types { SIRQUL, // purchasing from the sirqul store using tickets IOS, // purchasing from the itunes store for iPhone, iPod, iPod Touch GOOGLE, // purchasing from the google android store AMAZON, // purchasing from the amazon android store MAC, // purchasing from the itunes store for OSX WP8, // purhasing from the windows phone 8 store FREE }
    # @option opts [Boolean] :return_profile_response returns a ProfileResponse if true, otherwise will return an AppResponse
    # @option opts [Boolean] :include_profile_response if returnProfileResponse is false, will return an AppResponse with profile data if true
    # @option opts [String] :app_version the application version
    # @return [ProfileResponse]
    def save_ticket(version, action_type, ticket_object_type, opts = {})
      data, _status_code, _headers = save_ticket_with_http_info(version, action_type, ticket_object_type, opts)
      data
    end

    # Save Ticket
    # Allow user to acquire a purchase item and generate a ticket record. Used to redeem tickets or add tickets to the system.
    # @param version [Float] 
    # @param action_type [String] the action being performed, values: COMPLETED, // ADD TICKETS FOR COMPLETING A MISSION, CHALLENGE, GAME, PACK, LEVEL, LEVEL OBJECT REDEEMED, // REMOVE TICKETS FOR BUYING PACKS, HINTS, AND PEN TOOLS OPTIONS, ETC USERS_PLAYED, // ADD TICKETS FOR LEVELS PLAYED BY OTHER USERS TOURNAMENT_OWNER, // ADD TICKETS FOR TOURNAMENTS BY OTHER USERS PURCHASED, // ADD TICKET VIA IN APP PURCHASING SUMATION, // SUMATION OF TICKETS EARNED FROM CHILDREN GIFTED, // TRANSFERING OF PURCHASE ITEMS TO OTHER PEOPLE REFUNDED // FOR REFUNDING TICKETS BACK TO THE USER
    # @param ticket_object_type [String] the type of object being purchased, values: GAME_OBJECT, GAME_LEVEL, PACK, GAME, MISSION, PROFILE, APPLICATION, TICKETS, ASSET, CUSTOM
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_nulls whether to return nulls or not
    # @option opts [String] :device_id the device id that owns the tickets
    # @option opts [Integer] :account_id the account id that owns the tickets
    # @option opts [String] :game_type This parameter is deprecated. deprecated, use the appKey
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :object_id the ID of the item being purchased
    # @option opts [String] :purchase_code a unique string identifier defined by the application owner or Executive
    # @option opts [String] :receipt_token a unique transaction identifier from the purchase provider (i.e. the transaction ID from iTunes, Google Play, etc)
    # @option opts [String] :receipt_data the receipt/transaction data for validating a purchase via iTunes/Gooogle/etc. This should be in string format.
    # @option opts [Integer] :count the count of tickets
    # @option opts [String] :ticket_type the ticket type
    # @option opts [String] :purchase_provider the provider for making the purchase {ITUNES, ITUNES_SANDBOX, GOOGLE}
    # @option opts [String] :purchase_type a comma separated list of purchase types { SIRQUL, // purchasing from the sirqul store using tickets IOS, // purchasing from the itunes store for iPhone, iPod, iPod Touch GOOGLE, // purchasing from the google android store AMAZON, // purchasing from the amazon android store MAC, // purchasing from the itunes store for OSX WP8, // purhasing from the windows phone 8 store FREE }
    # @option opts [Boolean] :return_profile_response returns a ProfileResponse if true, otherwise will return an AppResponse
    # @option opts [Boolean] :include_profile_response if returnProfileResponse is false, will return an AppResponse with profile data if true
    # @option opts [String] :app_version the application version
    # @return [Array<(ProfileResponse, Integer, Hash)>] ProfileResponse data, response status code and response headers
    def save_ticket_with_http_info(version, action_type, ticket_object_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketApi.save_ticket ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TicketApi.save_ticket"
      end
      # verify the required parameter 'action_type' is set
      if @api_client.config.client_side_validation && action_type.nil?
        fail ArgumentError, "Missing the required parameter 'action_type' when calling TicketApi.save_ticket"
      end
      # verify the required parameter 'ticket_object_type' is set
      if @api_client.config.client_side_validation && ticket_object_type.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_object_type' when calling TicketApi.save_ticket"
      end
      # resource path
      local_var_path = '/api/{version}/ticket/save'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'actionType'] = action_type
      query_params[:'ticketObjectType'] = ticket_object_type
      query_params[:'returnNulls'] = opts[:'return_nulls'] if !opts[:'return_nulls'].nil?
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'objectId'] = opts[:'object_id'] if !opts[:'object_id'].nil?
      query_params[:'purchaseCode'] = opts[:'purchase_code'] if !opts[:'purchase_code'].nil?
      query_params[:'receiptToken'] = opts[:'receipt_token'] if !opts[:'receipt_token'].nil?
      query_params[:'receiptData'] = opts[:'receipt_data'] if !opts[:'receipt_data'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'purchaseProvider'] = opts[:'purchase_provider'] if !opts[:'purchase_provider'].nil?
      query_params[:'purchaseType'] = opts[:'purchase_type'] if !opts[:'purchase_type'].nil?
      query_params[:'returnProfileResponse'] = opts[:'return_profile_response'] if !opts[:'return_profile_response'].nil?
      query_params[:'includeProfileResponse'] = opts[:'include_profile_response'] if !opts[:'include_profile_response'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TicketApi.save_ticket",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketApi#save_ticket\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Save Ticket with Reciept
    # Similar to the Save Ticket endpoint but allows the receiptData to be in binary format. This must be a multi-part post
    # @param version [Float] 
    # @param action_type [String] the action being performed { COMPLETED, // ADD TICKETS FOR COMPLETING A MISSION, CHALLENGE, GAME, PACK, LEVEL, LEVEL OBJECT REDEEMED, // REMOVE TICKETS FOR BUYING PACKS, HINTS, AND PEN TOOLS OPTIONS, ETC USERS_PLAYED, // ADD TICKETS FOR LEVELS PLAYED BY OTHER USERS TOURNAMENT_OWNER, // ADD TICKETS FOR TOURNAMENTS BY OTHER USERS PURCHASED, // ADD TICKET VIA IN APP PURCHASING SUMATION, // SUMATION OF TICKETS EARNED FROM CHILDREN GIFTED, // TRANSFERING OF PURCHASE ITEMS TO OTHER PEOPLE REFUNDED // FOR REFUNDING TICKETS BACK TO THE USER }
    # @param ticket_object_type [String] the type of object being purchased {GAME_OBJECT, GAME_LEVEL, PACK, GAME, MISSION, PROFILE, APPLICATION, TICKETS, ASSET, CUSTOM}
    # @param receipt_data [File] the receipt/transaction data for validating a purchase via iTunes/Gooogle/etc. This should be in binary format.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_nulls whether to return nulls or not
    # @option opts [String] :device_id the device id
    # @option opts [Integer] :account_id the account id
    # @option opts [String] :game_type This parameter is deprecated. deprecated, use the appKey
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :object_id the ID of the item being purchased
    # @option opts [String] :purchase_code a unique string identifier defined by the application owner or Executive
    # @option opts [String] :receipt_token a unique transaction identifier from the purchase provider (i.e. the transaction ID from iTunes, Google Play, etc)
    # @option opts [Integer] :count the count of tickets
    # @option opts [String] :ticket_type the ticket type
    # @option opts [String] :purchase_provider the provider for making the purchase {ITUNES, ITUNES_SANDBOX, GOOGLE}
    # @option opts [String] :purchase_type a comma separated list of purchase types { SIRQUL, // purchasing from the sirqul store using tickets IOS, // purchasing from the itunes store for iPhone, iPod, iPod Touch GOOGLE, // purchasing from the google android store AMAZON, // purchasing from the amazon android store MAC, // purchasing from the itunes store for OSX WP8, // purhasing from the windows phone 8 store FREE }
    # @option opts [Boolean] :return_profile_response returns a ProfileResponse if true, otherwise will return an AppResponse
    # @option opts [Boolean] :include_profile_response if returnProfileResponse is false, will return an AppResponse with profile data if true
    # @option opts [String] :app_version the application version
    # @return [ProfileResponse]
    def save_ticket_via_file_upload(version, action_type, ticket_object_type, receipt_data, opts = {})
      data, _status_code, _headers = save_ticket_via_file_upload_with_http_info(version, action_type, ticket_object_type, receipt_data, opts)
      data
    end

    # Save Ticket with Reciept
    # Similar to the Save Ticket endpoint but allows the receiptData to be in binary format. This must be a multi-part post
    # @param version [Float] 
    # @param action_type [String] the action being performed { COMPLETED, // ADD TICKETS FOR COMPLETING A MISSION, CHALLENGE, GAME, PACK, LEVEL, LEVEL OBJECT REDEEMED, // REMOVE TICKETS FOR BUYING PACKS, HINTS, AND PEN TOOLS OPTIONS, ETC USERS_PLAYED, // ADD TICKETS FOR LEVELS PLAYED BY OTHER USERS TOURNAMENT_OWNER, // ADD TICKETS FOR TOURNAMENTS BY OTHER USERS PURCHASED, // ADD TICKET VIA IN APP PURCHASING SUMATION, // SUMATION OF TICKETS EARNED FROM CHILDREN GIFTED, // TRANSFERING OF PURCHASE ITEMS TO OTHER PEOPLE REFUNDED // FOR REFUNDING TICKETS BACK TO THE USER }
    # @param ticket_object_type [String] the type of object being purchased {GAME_OBJECT, GAME_LEVEL, PACK, GAME, MISSION, PROFILE, APPLICATION, TICKETS, ASSET, CUSTOM}
    # @param receipt_data [File] the receipt/transaction data for validating a purchase via iTunes/Gooogle/etc. This should be in binary format.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_nulls whether to return nulls or not
    # @option opts [String] :device_id the device id
    # @option opts [Integer] :account_id the account id
    # @option opts [String] :game_type This parameter is deprecated. deprecated, use the appKey
    # @option opts [String] :app_key the application key
    # @option opts [Integer] :object_id the ID of the item being purchased
    # @option opts [String] :purchase_code a unique string identifier defined by the application owner or Executive
    # @option opts [String] :receipt_token a unique transaction identifier from the purchase provider (i.e. the transaction ID from iTunes, Google Play, etc)
    # @option opts [Integer] :count the count of tickets
    # @option opts [String] :ticket_type the ticket type
    # @option opts [String] :purchase_provider the provider for making the purchase {ITUNES, ITUNES_SANDBOX, GOOGLE}
    # @option opts [String] :purchase_type a comma separated list of purchase types { SIRQUL, // purchasing from the sirqul store using tickets IOS, // purchasing from the itunes store for iPhone, iPod, iPod Touch GOOGLE, // purchasing from the google android store AMAZON, // purchasing from the amazon android store MAC, // purchasing from the itunes store for OSX WP8, // purhasing from the windows phone 8 store FREE }
    # @option opts [Boolean] :return_profile_response returns a ProfileResponse if true, otherwise will return an AppResponse
    # @option opts [Boolean] :include_profile_response if returnProfileResponse is false, will return an AppResponse with profile data if true
    # @option opts [String] :app_version the application version
    # @return [Array<(ProfileResponse, Integer, Hash)>] ProfileResponse data, response status code and response headers
    def save_ticket_via_file_upload_with_http_info(version, action_type, ticket_object_type, receipt_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketApi.save_ticket_via_file_upload ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TicketApi.save_ticket_via_file_upload"
      end
      # verify the required parameter 'action_type' is set
      if @api_client.config.client_side_validation && action_type.nil?
        fail ArgumentError, "Missing the required parameter 'action_type' when calling TicketApi.save_ticket_via_file_upload"
      end
      # verify the required parameter 'ticket_object_type' is set
      if @api_client.config.client_side_validation && ticket_object_type.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_object_type' when calling TicketApi.save_ticket_via_file_upload"
      end
      # verify the required parameter 'receipt_data' is set
      if @api_client.config.client_side_validation && receipt_data.nil?
        fail ArgumentError, "Missing the required parameter 'receipt_data' when calling TicketApi.save_ticket_via_file_upload"
      end
      # resource path
      local_var_path = '/api/{version}/ticket/save/fileUpload'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'actionType'] = action_type
      query_params[:'ticketObjectType'] = ticket_object_type
      query_params[:'receiptData'] = receipt_data
      query_params[:'returnNulls'] = opts[:'return_nulls'] if !opts[:'return_nulls'].nil?
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'gameType'] = opts[:'game_type'] if !opts[:'game_type'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'objectId'] = opts[:'object_id'] if !opts[:'object_id'].nil?
      query_params[:'purchaseCode'] = opts[:'purchase_code'] if !opts[:'purchase_code'].nil?
      query_params[:'receiptToken'] = opts[:'receipt_token'] if !opts[:'receipt_token'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'purchaseProvider'] = opts[:'purchase_provider'] if !opts[:'purchase_provider'].nil?
      query_params[:'purchaseType'] = opts[:'purchase_type'] if !opts[:'purchase_type'].nil?
      query_params[:'returnProfileResponse'] = opts[:'return_profile_response'] if !opts[:'return_profile_response'].nil?
      query_params[:'includeProfileResponse'] = opts[:'include_profile_response'] if !opts[:'include_profile_response'].nil?
      query_params[:'appVersion'] = opts[:'app_version'] if !opts[:'app_version'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TicketApi.save_ticket_via_file_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketApi#save_ticket_via_file_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Ticket Offers
    # Get a list offers for tickets owned by sirqul.  Purchasing these will add the number of tickets to the account specified by the offer.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @return [TicketOfferResponse]
    def ticket_offers(version, opts = {})
      data, _status_code, _headers = ticket_offers_with_http_info(version, opts)
      data
    end

    # Get Ticket Offers
    # Get a list offers for tickets owned by sirqul.  Purchasing these will add the number of tickets to the account specified by the offer.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TicketOfferResponse, Integer, Hash)>] TicketOfferResponse data, response status code and response headers
    def ticket_offers_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketApi.ticket_offers ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling TicketApi.ticket_offers"
      end
      # resource path
      local_var_path = '/api/{version}/ticket/ticketoffers'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TicketOfferResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TicketApi.ticket_offers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketApi#ticket_offers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
