=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class TripApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Trip
    # Create a new trip
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Trip]
    def create_trip(opts = {})
      data, _status_code, _headers = create_trip_with_http_info(opts)
      data
    end

    # Create Trip
    # Create a new trip
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Array<(Trip, Integer, Hash)>] Trip data, response status code and response headers
    def create_trip_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.create_trip ...'
      end
      # resource path
      local_var_path = '/trip'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Trip'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.create_trip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#create_trip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Trip
    # Delete an existing trip
    # @param id [Integer] the id of the trip to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # Delete Trip
    # Delete an existing trip
    # @param id [Integer] the id of the trip to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.delete"
      end
      # resource path
      local_var_path = '/trip/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set Trip Preference Driver
    # Update trip preference to drive, also create a route and assign the trip to the route
    # @param id [Integer] the id of the trip
    # @param recurrence [Boolean] the frequency of the trip (e.g. weekly, until 2018-08-09)
    # @param [Hash] opts the optional parameters
    # @return [Trip]
    def drive_trip(id, recurrence, opts = {})
      data, _status_code, _headers = drive_trip_with_http_info(id, recurrence, opts)
      data
    end

    # Set Trip Preference Driver
    # Update trip preference to drive, also create a route and assign the trip to the route
    # @param id [Integer] the id of the trip
    # @param recurrence [Boolean] the frequency of the trip (e.g. weekly, until 2018-08-09)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Trip, Integer, Hash)>] Trip data, response status code and response headers
    def drive_trip_with_http_info(id, recurrence, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.drive_trip ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.drive_trip"
      end
      # verify the required parameter 'recurrence' is set
      if @api_client.config.client_side_validation && recurrence.nil?
        fail ArgumentError, "Missing the required parameter 'recurrence' when calling TripApi.drive_trip"
      end
      # resource path
      local_var_path = '/trip/{id}/drive'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'recurrence'] = recurrence

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Trip'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.drive_trip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#drive_trip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set Trip Preference Flexible
    # Update trip preference to flexible.
    # @param id [Integer] the id of the trip
    # @param recurrence [Boolean] the frequency of the trip (e.g. weekly, until 2018-08-09)
    # @param [Hash] opts the optional parameters
    # @return [Trip]
    def flexible_trip(id, recurrence, opts = {})
      data, _status_code, _headers = flexible_trip_with_http_info(id, recurrence, opts)
      data
    end

    # Set Trip Preference Flexible
    # Update trip preference to flexible.
    # @param id [Integer] the id of the trip
    # @param recurrence [Boolean] the frequency of the trip (e.g. weekly, until 2018-08-09)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Trip, Integer, Hash)>] Trip data, response status code and response headers
    def flexible_trip_with_http_info(id, recurrence, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.flexible_trip ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.flexible_trip"
      end
      # verify the required parameter 'recurrence' is set
      if @api_client.config.client_side_validation && recurrence.nil?
        fail ArgumentError, "Missing the required parameter 'recurrence' when calling TripApi.flexible_trip"
      end
      # resource path
      local_var_path = '/trip/{id}/flexible'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'recurrence'] = recurrence

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Trip'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.flexible_trip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#flexible_trip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Trip
    # Get an existing trip
    # @param id [Integer] the id of the trip to get
    # @param [Hash] opts the optional parameters
    # @return [Trip]
    def get_trip(id, opts = {})
      data, _status_code, _headers = get_trip_with_http_info(id, opts)
      data
    end

    # Get Trip
    # Get an existing trip
    # @param id [Integer] the id of the trip to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(Trip, Integer, Hash)>] Trip data, response status code and response headers
    def get_trip_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.get_trip ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.get_trip"
      end
      # resource path
      local_var_path = '/trip/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Trip'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.get_trip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#get_trip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Trip Matches
    # Get matching trips of specific trip
    # @param id [Integer] The id The id of the trip to search for matches for
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :matched_has_route Only return matchings that already have route assigned
    # @option opts [Boolean] :matched_has_driver Only return matchings that already have driver assigned
    # @return [Array<Trip>]
    def get_trip_matches(id, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = get_trip_matches_with_http_info(id, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Get Trip Matches
    # Get matching trips of specific trip
    # @param id [Integer] The id The id of the trip to search for matches for
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :matched_has_route Only return matchings that already have route assigned
    # @option opts [Boolean] :matched_has_driver Only return matchings that already have driver assigned
    # @return [Array<(Array<Trip>, Integer, Hash)>] Array<Trip> data, response status code and response headers
    def get_trip_matches_with_http_info(id, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.get_trip_matches ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.get_trip_matches"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling TripApi.get_trip_matches"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling TripApi.get_trip_matches"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling TripApi.get_trip_matches"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling TripApi.get_trip_matches"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling TripApi.get_trip_matches"
      end
      # resource path
      local_var_path = '/trip/{id}/match'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'matchedHasRoute'] = opts[:'matched_has_route'] if !opts[:'matched_has_route'].nil?
      query_params[:'matchedHasDriver'] = opts[:'matched_has_driver'] if !opts[:'matched_has_driver'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Trip>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.get_trip_matches",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#get_trip_matches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Process Trip Matches
    # Process trip matching, assign trips with no route to matched trips with route.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_date The lower bound date to process matchings
    # @option opts [Integer] :end_date The upper bound date to process matchings
    # @option opts [Integer] :trip_id the id of the trip to process
    # @return [Array<Trip>]
    def process_trip_matches(opts = {})
      data, _status_code, _headers = process_trip_matches_with_http_info(opts)
      data
    end

    # Process Trip Matches
    # Process trip matching, assign trips with no route to matched trips with route.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_date The lower bound date to process matchings
    # @option opts [Integer] :end_date The upper bound date to process matchings
    # @option opts [Integer] :trip_id the id of the trip to process
    # @return [Array<(Array<Trip>, Integer, Hash)>] Array<Trip> data, response status code and response headers
    def process_trip_matches_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.process_trip_matches ...'
      end
      # resource path
      local_var_path = '/trip/match/process'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'tripId'] = opts[:'trip_id'] if !opts[:'trip_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Trip>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.process_trip_matches",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#process_trip_matches\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set Trip Preference Rider
    # Update trip preference to ride.
    # @param id [Integer] the id of the trip
    # @param recurrence [Boolean] the frequency of the trip (e.g. weekly, until 2018-08-09)
    # @param [Hash] opts the optional parameters
    # @return [Trip]
    def ride(id, recurrence, opts = {})
      data, _status_code, _headers = ride_with_http_info(id, recurrence, opts)
      data
    end

    # Set Trip Preference Rider
    # Update trip preference to ride.
    # @param id [Integer] the id of the trip
    # @param recurrence [Boolean] the frequency of the trip (e.g. weekly, until 2018-08-09)
    # @param [Hash] opts the optional parameters
    # @return [Array<(Trip, Integer, Hash)>] Trip data, response status code and response headers
    def ride_with_http_info(id, recurrence, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.ride ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.ride"
      end
      # verify the required parameter 'recurrence' is set
      if @api_client.config.client_side_validation && recurrence.nil?
        fail ArgumentError, "Missing the required parameter 'recurrence' when calling TripApi.ride"
      end
      # resource path
      local_var_path = '/trip/{id}/ride'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'recurrence'] = recurrence

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Trip'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.ride",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#ride\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Trips
    # Search for trips
    # @param account_id [Integer] The owner of the trips
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_date The lower bound limit of time
    # @option opts [Integer] :end_date The upper bound limit of time
    # @option opts [Boolean] :has_notifications whether to search on trips that have notifications or not
    # @return [Array<Trip>]
    def search(account_id, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_with_http_info(account_id, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Trips
    # Search for trips
    # @param account_id [Integer] The owner of the trips
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_date The lower bound limit of time
    # @option opts [Integer] :end_date The upper bound limit of time
    # @option opts [Boolean] :has_notifications whether to search on trips that have notifications or not
    # @return [Array<(Array<Trip>, Integer, Hash)>] Array<Trip> data, response status code and response headers
    def search_with_http_info(account_id, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.search ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TripApi.search"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling TripApi.search"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling TripApi.search"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling TripApi.search"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling TripApi.search"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling TripApi.search"
      end
      # resource path
      local_var_path = '/trip'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'hasNotifications'] = opts[:'has_notifications'] if !opts[:'has_notifications'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Trip>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Trips
    # Search for trips with matching information.
    # @param account_id [Integer] The owner of the trips
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_date The lower bound limit of time
    # @option opts [Integer] :end_date The upper bound limit of time
    # @option opts [Boolean] :matched_has_route Only return matchings that already have route assigned
    # @option opts [Boolean] :matched_has_driver Only return matchings that already have driver assigned
    # @return [Array<Trip>]
    def search_trips(account_id, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_trips_with_http_info(account_id, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Trips
    # Search for trips with matching information.
    # @param account_id [Integer] The owner of the trips
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :start_date The lower bound limit of time
    # @option opts [Integer] :end_date The upper bound limit of time
    # @option opts [Boolean] :matched_has_route Only return matchings that already have route assigned
    # @option opts [Boolean] :matched_has_driver Only return matchings that already have driver assigned
    # @return [Array<(Array<Trip>, Integer, Hash)>] Array<Trip> data, response status code and response headers
    def search_trips_with_http_info(account_id, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.search_trips ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling TripApi.search_trips"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling TripApi.search_trips"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling TripApi.search_trips"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling TripApi.search_trips"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling TripApi.search_trips"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling TripApi.search_trips"
      end
      # resource path
      local_var_path = '/trip/match'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'matchedHasRoute'] = opts[:'matched_has_route'] if !opts[:'matched_has_route'].nil?
      query_params[:'matchedHasDriver'] = opts[:'matched_has_driver'] if !opts[:'matched_has_driver'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Trip>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.search_trips",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#search_trips\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Trip Locations
    # @param id [Integer] the id of the trip to update locations for
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Trip]
    def update_locations(id, opts = {})
      data, _status_code, _headers = update_locations_with_http_info(id, opts)
      data
    end

    # Update Trip Locations
    # @param id [Integer] the id of the trip to update locations for
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Array<(Trip, Integer, Hash)>] Trip data, response status code and response headers
    def update_locations_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.update_locations ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.update_locations"
      end
      # resource path
      local_var_path = '/trip/{id}/locations'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Trip'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.update_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#update_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Recurrence Locations
    # @param id [Integer] the id of the trip
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Array<Trip>]
    def update_recurrence_locations(id, opts = {})
      data, _status_code, _headers = update_recurrence_locations_with_http_info(id, opts)
      data
    end

    # Update Recurrence Locations
    # @param id [Integer] the id of the trip
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Array<(Array<Trip>, Integer, Hash)>] Array<Trip> data, response status code and response headers
    def update_recurrence_locations_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.update_recurrence_locations ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.update_recurrence_locations"
      end
      # resource path
      local_var_path = '/trip/{id}/locations/recurrence'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Trip>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.update_recurrence_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#update_recurrence_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Recurrence Shipments
    # @param id [Integer] the id of the trip
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Array<Trip>]
    def update_recurrence_shipments(id, opts = {})
      data, _status_code, _headers = update_recurrence_shipments_with_http_info(id, opts)
      data
    end

    # Update Recurrence Shipments
    # @param id [Integer] the id of the trip
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Array<(Array<Trip>, Integer, Hash)>] Array<Trip> data, response status code and response headers
    def update_recurrence_shipments_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.update_recurrence_shipments ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.update_recurrence_shipments"
      end
      # resource path
      local_var_path = '/trip/{id}/shipments/recurrence'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Trip>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.update_recurrence_shipments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#update_recurrence_shipments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Trip Shipments
    # @param id [Integer] the id of the trip shipments to update
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Trip]
    def update_shipments(id, opts = {})
      data, _status_code, _headers = update_shipments_with_http_info(id, opts)
      data
    end

    # Update Trip Shipments
    # @param id [Integer] the id of the trip shipments to update
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Array<(Trip, Integer, Hash)>] Trip data, response status code and response headers
    def update_shipments_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.update_shipments ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.update_shipments"
      end
      # resource path
      local_var_path = '/trip/{id}/shipments'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Trip'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.update_shipments",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#update_shipments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Trip
    # Update an existing trip. Does not support recurring trip update.
    # @param id [Integer] the id of the trip to update
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Trip]
    def update_trip(id, opts = {})
      data, _status_code, _headers = update_trip_with_http_info(id, opts)
      data
    end

    # Update Trip
    # Update an existing trip. Does not support recurring trip update.
    # @param id [Integer] the id of the trip to update
    # @param [Hash] opts the optional parameters
    # @option opts [Trip] :body 
    # @return [Array<(Trip, Integer, Hash)>] Trip data, response status code and response headers
    def update_trip_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.update_trip ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.update_trip"
      end
      # resource path
      local_var_path = '/trip/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Trip'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.update_trip",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#update_trip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trip Notifications
    # Update the trip notifications
    # @param id [Integer] the id of the trip
    # @param [Hash] opts the optional parameters
    # @option opts [String] :notifications the notifications to update on the trip
    # @return [Trip]
    def update_trip_notifications(id, opts = {})
      data, _status_code, _headers = update_trip_notifications_with_http_info(id, opts)
      data
    end

    # Trip Notifications
    # Update the trip notifications
    # @param id [Integer] the id of the trip
    # @param [Hash] opts the optional parameters
    # @option opts [String] :notifications the notifications to update on the trip
    # @return [Array<(Trip, Integer, Hash)>] Trip data, response status code and response headers
    def update_trip_notifications_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TripApi.update_trip_notifications ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TripApi.update_trip_notifications"
      end
      # resource path
      local_var_path = '/trip/notifications'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'id'] = id
      query_params[:'notifications'] = opts[:'notifications'] if !opts[:'notifications'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Trip'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TripApi.update_trip_notifications",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TripApi#update_trip_notifications\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
