=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class TwilioApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Buy Offer by SMS
    # Recieve an SMS payload from Twillio to purchase an offer.
    # @param app_key [String] the application key
    # @param body [String] the message of the text
    # @param from [String] the sender of the sms
    # @param currency_type [String] the type of currency
    # @param [Hash] opts the optional parameters
    # @return [TwiMLResponse]
    def sms_buy_offer(app_key, body, from, currency_type, opts = {})
      data, _status_code, _headers = sms_buy_offer_with_http_info(app_key, body, from, currency_type, opts)
      data
    end

    # Buy Offer by SMS
    # Recieve an SMS payload from Twillio to purchase an offer.
    # @param app_key [String] the application key
    # @param body [String] the message of the text
    # @param from [String] the sender of the sms
    # @param currency_type [String] the type of currency
    # @param [Hash] opts the optional parameters
    # @return [Array<(TwiMLResponse, Integer, Hash)>] TwiMLResponse data, response status code and response headers
    def sms_buy_offer_with_http_info(app_key, body, from, currency_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwilioApi.sms_buy_offer ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling TwilioApi.sms_buy_offer"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling TwilioApi.sms_buy_offer"
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling TwilioApi.sms_buy_offer"
      end
      # verify the required parameter 'currency_type' is set
      if @api_client.config.client_side_validation && currency_type.nil?
        fail ArgumentError, "Missing the required parameter 'currency_type' when calling TwilioApi.sms_buy_offer"
      end
      # resource path
      local_var_path = '/sms/buyoffer/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'Body'] = body
      query_params[:'From'] = from
      query_params[:'currencyType'] = currency_type

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/xml']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TwiMLResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TwilioApi.sms_buy_offer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwilioApi#sms_buy_offer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
