=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class TwitterApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Authorize Twitter
    # Makes an authorization call to twitter for a user to login and allow any app permissions.
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def authorize_twitter(app_key, opts = {})
      data, _status_code, _headers = authorize_twitter_with_http_info(app_key, opts)
      data
    end

    # Authorize Twitter
    # Makes an authorization call to twitter for a user to login and allow any app permissions.
    # @param app_key [String] the application key
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def authorize_twitter_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.authorize_twitter ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling TwitterApi.authorize_twitter"
      end
      # resource path
      local_var_path = '/twitter/authorize'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appKey'] = app_key

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TwitterApi.authorize_twitter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#authorize_twitter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login Twitter
    # Returns the user profile information given an access token and the secret access token. This call verifies the tokens with twitter and creates a Sirqul account for the user if its their first time logging in.
    # @param access_token [String] The access token
    # @param access_token_secret [String] The secret access token
    # @param app_key [String] The application key
    # @param response_filters [String] a comma separated list of ProfileFilters for filtering the returned response data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @return [ProfileResponse]
    def login_twitter(access_token, access_token_secret, app_key, response_filters, opts = {})
      data, _status_code, _headers = login_twitter_with_http_info(access_token, access_token_secret, app_key, response_filters, opts)
      data
    end

    # Login Twitter
    # Returns the user profile information given an access token and the secret access token. This call verifies the tokens with twitter and creates a Sirqul account for the user if its their first time logging in.
    # @param access_token [String] The access token
    # @param access_token_secret [String] The secret access token
    # @param app_key [String] The application key
    # @param response_filters [String] a comma separated list of ProfileFilters for filtering the returned response data
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id
    # @option opts [Float] :latitude The current latitude of the user
    # @option opts [Float] :longitude The current longitude of the user
    # @return [Array<(ProfileResponse, Integer, Hash)>] ProfileResponse data, response status code and response headers
    def login_twitter_with_http_info(access_token, access_token_secret, app_key, response_filters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TwitterApi.login_twitter ...'
      end
      # verify the required parameter 'access_token' is set
      if @api_client.config.client_side_validation && access_token.nil?
        fail ArgumentError, "Missing the required parameter 'access_token' when calling TwitterApi.login_twitter"
      end
      # verify the required parameter 'access_token_secret' is set
      if @api_client.config.client_side_validation && access_token_secret.nil?
        fail ArgumentError, "Missing the required parameter 'access_token_secret' when calling TwitterApi.login_twitter"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling TwitterApi.login_twitter"
      end
      # verify the required parameter 'response_filters' is set
      if @api_client.config.client_side_validation && response_filters.nil?
        fail ArgumentError, "Missing the required parameter 'response_filters' when calling TwitterApi.login_twitter"
      end
      # resource path
      local_var_path = '/twitter/login'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accessToken'] = access_token
      query_params[:'accessTokenSecret'] = access_token_secret
      query_params[:'appKey'] = app_key
      query_params[:'responseFilters'] = response_filters
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProfileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"TwitterApi.login_twitter",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TwitterApi#login_twitter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
