=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class UserPermissionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add User
    # Adds a user to a permissionable object.
    # @param version [Float] 
    # @param permissionable_type [String] the permissionable type of the object
    # @param permissionable_id [Integer] the id of the permissionable object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Boolean] :read the read permission of the users/groups (default to true)
    # @option opts [Boolean] :write the write permission of the users/groups (default to false)
    # @option opts [Boolean] :delete the delete permission of the users/groups (default to false)
    # @option opts [Boolean] :add the add permission of the users/groups (default to false)
    # @option opts [String] :connection_ids a comma separated list of connection ids (NOT the account ids)
    # @option opts [String] :connection_account_ids a comma separated list of account ids
    # @option opts [String] :connection_group_ids a comma separated list of connection group ids (these are groups made by the user)
    # @option opts [Boolean] :pending sets whether the added users are marked as pending (and will require the album admins to accept) - admins can set this to false (to accept) (default to false)
    # @option opts [Boolean] :admin sets whether the added users will become admins or not
    # @option opts [Boolean] :include_friend_group flag to determine whether to include the built-in \&quot;friends\&quot; group (default to false)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [String] :audience_ids comma separated list of audience ids. This is a feature only available to the permissionable&#39;s application owner (and its employees). This will add all users from these audiences to the permissionable object. Notifications will not be sent to users if this feature is used.
    # @return [SirqulResponse]
    def add_users_to_permissionable(version, permissionable_type, permissionable_id, opts = {})
      data, _status_code, _headers = add_users_to_permissionable_with_http_info(version, permissionable_type, permissionable_id, opts)
      data
    end

    # Add User
    # Adds a user to a permissionable object.
    # @param version [Float] 
    # @param permissionable_type [String] the permissionable type of the object
    # @param permissionable_id [Integer] the id of the permissionable object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Boolean] :read the read permission of the users/groups (default to true)
    # @option opts [Boolean] :write the write permission of the users/groups (default to false)
    # @option opts [Boolean] :delete the delete permission of the users/groups (default to false)
    # @option opts [Boolean] :add the add permission of the users/groups (default to false)
    # @option opts [String] :connection_ids a comma separated list of connection ids (NOT the account ids)
    # @option opts [String] :connection_account_ids a comma separated list of account ids
    # @option opts [String] :connection_group_ids a comma separated list of connection group ids (these are groups made by the user)
    # @option opts [Boolean] :pending sets whether the added users are marked as pending (and will require the album admins to accept) - admins can set this to false (to accept) (default to false)
    # @option opts [Boolean] :admin sets whether the added users will become admins or not
    # @option opts [Boolean] :include_friend_group flag to determine whether to include the built-in \&quot;friends\&quot; group (default to false)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [String] :audience_ids comma separated list of audience ids. This is a feature only available to the permissionable&#39;s application owner (and its employees). This will add all users from these audiences to the permissionable object. Notifications will not be sent to users if this feature is used.
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def add_users_to_permissionable_with_http_info(version, permissionable_type, permissionable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserPermissionsApi.add_users_to_permissionable ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling UserPermissionsApi.add_users_to_permissionable"
      end
      # verify the required parameter 'permissionable_type' is set
      if @api_client.config.client_side_validation && permissionable_type.nil?
        fail ArgumentError, "Missing the required parameter 'permissionable_type' when calling UserPermissionsApi.add_users_to_permissionable"
      end
      # verify enum value
      allowable_values = ["ACCOUNT", "GAMELEVEL", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "SCHEDULED_NOTIFICATION", "TASK", "TRIGGER"]
      if @api_client.config.client_side_validation && !allowable_values.include?(permissionable_type)
        fail ArgumentError, "invalid value for \"permissionable_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'permissionable_id' is set
      if @api_client.config.client_side_validation && permissionable_id.nil?
        fail ArgumentError, "Missing the required parameter 'permissionable_id' when calling UserPermissionsApi.add_users_to_permissionable"
      end
      # resource path
      local_var_path = '/api/{version}/consumer/permissions/add'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'permissionableType'] = permissionable_type
      query_params[:'permissionableId'] = permissionable_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'read'] = opts[:'read'] if !opts[:'read'].nil?
      query_params[:'write'] = opts[:'write'] if !opts[:'write'].nil?
      query_params[:'delete'] = opts[:'delete'] if !opts[:'delete'].nil?
      query_params[:'add'] = opts[:'add'] if !opts[:'add'].nil?
      query_params[:'connectionIds'] = opts[:'connection_ids'] if !opts[:'connection_ids'].nil?
      query_params[:'connectionAccountIds'] = opts[:'connection_account_ids'] if !opts[:'connection_account_ids'].nil?
      query_params[:'connectionGroupIds'] = opts[:'connection_group_ids'] if !opts[:'connection_group_ids'].nil?
      query_params[:'pending'] = opts[:'pending'] if !opts[:'pending'].nil?
      query_params[:'admin'] = opts[:'admin'] if !opts[:'admin'].nil?
      query_params[:'includeFriendGroup'] = opts[:'include_friend_group'] if !opts[:'include_friend_group'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'audienceIds'] = opts[:'audience_ids'] if !opts[:'audience_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UserPermissionsApi.add_users_to_permissionable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserPermissionsApi#add_users_to_permissionable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Approve Permissionable
    # Sets the approval status of a permissionable object.
    # @param version [Float] 
    # @param permissionable_type [String] The permissionable type of the object
    # @param permissionable_id [Integer] The id of the permissionable object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id A unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [String] :approval_status The approval status to set {PENDING, REJECTED, APPROVED, FEATURED} (default to 'APPROVED')
    # @return [SirqulResponse]
    def approve_permissionable(version, permissionable_type, permissionable_id, opts = {})
      data, _status_code, _headers = approve_permissionable_with_http_info(version, permissionable_type, permissionable_id, opts)
      data
    end

    # Approve Permissionable
    # Sets the approval status of a permissionable object.
    # @param version [Float] 
    # @param permissionable_type [String] The permissionable type of the object
    # @param permissionable_id [Integer] The id of the permissionable object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id A unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [String] :approval_status The approval status to set {PENDING, REJECTED, APPROVED, FEATURED} (default to 'APPROVED')
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def approve_permissionable_with_http_info(version, permissionable_type, permissionable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserPermissionsApi.approve_permissionable ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling UserPermissionsApi.approve_permissionable"
      end
      # verify the required parameter 'permissionable_type' is set
      if @api_client.config.client_side_validation && permissionable_type.nil?
        fail ArgumentError, "Missing the required parameter 'permissionable_type' when calling UserPermissionsApi.approve_permissionable"
      end
      # verify enum value
      allowable_values = ["ACCOUNT", "GAMELEVEL", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "SCHEDULED_NOTIFICATION", "TASK", "TRIGGER"]
      if @api_client.config.client_side_validation && !allowable_values.include?(permissionable_type)
        fail ArgumentError, "invalid value for \"permissionable_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'permissionable_id' is set
      if @api_client.config.client_side_validation && permissionable_id.nil?
        fail ArgumentError, "Missing the required parameter 'permissionable_id' when calling UserPermissionsApi.approve_permissionable"
      end
      allowable_values = ["PENDING", "REJECTED", "APPROVED", "FEATURED"]
      if @api_client.config.client_side_validation && opts[:'approval_status'] && !allowable_values.include?(opts[:'approval_status'])
        fail ArgumentError, "invalid value for \"approval_status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/permissionable/approve'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'permissionableType'] = permissionable_type
      query_params[:'permissionableId'] = permissionable_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'approvalStatus'] = opts[:'approval_status'] if !opts[:'approval_status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UserPermissionsApi.approve_permissionable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserPermissionsApi#approve_permissionable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Leave
    # Used when the user wants to leave from someone else's permissionable object
    # @param version [Float] 
    # @param permissionable_type [String] the permissionable type PermissionableType
    # @param permissionable_id [Integer] the id of the permissionable object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [SirqulResponse]
    def leave_from_permissionable(version, permissionable_type, permissionable_id, opts = {})
      data, _status_code, _headers = leave_from_permissionable_with_http_info(version, permissionable_type, permissionable_id, opts)
      data
    end

    # Leave
    # Used when the user wants to leave from someone else&#39;s permissionable object
    # @param version [Float] 
    # @param permissionable_type [String] the permissionable type PermissionableType
    # @param permissionable_id [Integer] the id of the permissionable object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def leave_from_permissionable_with_http_info(version, permissionable_type, permissionable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserPermissionsApi.leave_from_permissionable ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling UserPermissionsApi.leave_from_permissionable"
      end
      # verify the required parameter 'permissionable_type' is set
      if @api_client.config.client_side_validation && permissionable_type.nil?
        fail ArgumentError, "Missing the required parameter 'permissionable_type' when calling UserPermissionsApi.leave_from_permissionable"
      end
      # verify the required parameter 'permissionable_id' is set
      if @api_client.config.client_side_validation && permissionable_id.nil?
        fail ArgumentError, "Missing the required parameter 'permissionable_id' when calling UserPermissionsApi.leave_from_permissionable"
      end
      # resource path
      local_var_path = '/api/{version}/consumer/permissions/leave'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'permissionableType'] = permissionable_type
      query_params[:'permissionableId'] = permissionable_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UserPermissionsApi.leave_from_permissionable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserPermissionsApi#leave_from_permissionable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove User
    # Used to remove someone (assuming they have permission) from a permissionable object
    # @param version [Float] 
    # @param permissionable_type [String] the permissionable type of the object
    # @param permissionable_id [Integer] the id of the permissionable object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :connection_ids a comma separated list of connection ids (NOT the account ids)
    # @option opts [String] :connection_account_ids a comma separated list of account ids
    # @option opts [String] :connection_group_ids a comma separated list of connection group ids (these are groups made by the user)
    # @option opts [Boolean] :remove_friend_group flag to determine whether to remove the built-in \&quot;friends\&quot; group (default to false)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [String] :audience_ids comma separated list of audience ids. This will remove all users from these audiences from the permissionable object. Notifications will not be sent to users if this feature is used.
    # @return [SirqulResponse]
    def remove_users_from_permissionable(version, permissionable_type, permissionable_id, opts = {})
      data, _status_code, _headers = remove_users_from_permissionable_with_http_info(version, permissionable_type, permissionable_id, opts)
      data
    end

    # Remove User
    # Used to remove someone (assuming they have permission) from a permissionable object
    # @param version [Float] 
    # @param permissionable_type [String] the permissionable type of the object
    # @param permissionable_id [Integer] the id of the permissionable object
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id the device id (deviceId or accountId required)
    # @option opts [Integer] :account_id the account id of the user (deviceId or accountId required)
    # @option opts [String] :connection_ids a comma separated list of connection ids (NOT the account ids)
    # @option opts [String] :connection_account_ids a comma separated list of account ids
    # @option opts [String] :connection_group_ids a comma separated list of connection group ids (these are groups made by the user)
    # @option opts [Boolean] :remove_friend_group flag to determine whether to remove the built-in \&quot;friends\&quot; group (default to false)
    # @option opts [Float] :latitude the current latitude of the user
    # @option opts [Float] :longitude the current longitude of the user
    # @option opts [String] :audience_ids comma separated list of audience ids. This will remove all users from these audiences from the permissionable object. Notifications will not be sent to users if this feature is used.
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def remove_users_from_permissionable_with_http_info(version, permissionable_type, permissionable_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserPermissionsApi.remove_users_from_permissionable ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling UserPermissionsApi.remove_users_from_permissionable"
      end
      # verify the required parameter 'permissionable_type' is set
      if @api_client.config.client_side_validation && permissionable_type.nil?
        fail ArgumentError, "Missing the required parameter 'permissionable_type' when calling UserPermissionsApi.remove_users_from_permissionable"
      end
      # verify enum value
      allowable_values = ["ACCOUNT", "GAMELEVEL", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "SCHEDULED_NOTIFICATION", "TASK", "TRIGGER"]
      if @api_client.config.client_side_validation && !allowable_values.include?(permissionable_type)
        fail ArgumentError, "invalid value for \"permissionable_type\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'permissionable_id' is set
      if @api_client.config.client_side_validation && permissionable_id.nil?
        fail ArgumentError, "Missing the required parameter 'permissionable_id' when calling UserPermissionsApi.remove_users_from_permissionable"
      end
      # resource path
      local_var_path = '/api/{version}/consumer/permissions/remove'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'permissionableType'] = permissionable_type
      query_params[:'permissionableId'] = permissionable_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionIds'] = opts[:'connection_ids'] if !opts[:'connection_ids'].nil?
      query_params[:'connectionAccountIds'] = opts[:'connection_account_ids'] if !opts[:'connection_account_ids'].nil?
      query_params[:'connectionGroupIds'] = opts[:'connection_group_ids'] if !opts[:'connection_group_ids'].nil?
      query_params[:'removeFriendGroup'] = opts[:'remove_friend_group'] if !opts[:'remove_friend_group'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'audienceIds'] = opts[:'audience_ids'] if !opts[:'audience_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UserPermissionsApi.remove_users_from_permissionable",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserPermissionsApi#remove_users_from_permissionable\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Permissionables
    # Search on UserPermissions
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id A unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_account_id Filter results for a specific user account
    # @option opts [String] :connection_account_ids Comma separated list of account IDs to filter results with
    # @option opts [String] :permissionable_type Filter user permissions by the permissionable object type
    # @option opts [Integer] :permissionable_id The id of the permissionable object to filter by
    # @option opts [String] :keyword Keyword to search within permissionable records
    # @option opts [String] :sort_field Field to sort results on
    # @option opts [Boolean] :descending Sort descending when true
    # @option opts [Boolean] :pending Return user permissions that are pending
    # @option opts [Boolean] :admin Return user permissions that are admins
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :limit the limit for pagination (default to 20)
    # @return [Array<UserPermissionsResponse>]
    def search_permissionables(version, opts = {})
      data, _status_code, _headers = search_permissionables_with_http_info(version, opts)
      data
    end

    # Search Permissionables
    # Search on UserPermissions
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id A unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_account_id Filter results for a specific user account
    # @option opts [String] :connection_account_ids Comma separated list of account IDs to filter results with
    # @option opts [String] :permissionable_type Filter user permissions by the permissionable object type
    # @option opts [Integer] :permissionable_id The id of the permissionable object to filter by
    # @option opts [String] :keyword Keyword to search within permissionable records
    # @option opts [String] :sort_field Field to sort results on
    # @option opts [Boolean] :descending Sort descending when true
    # @option opts [Boolean] :pending Return user permissions that are pending
    # @option opts [Boolean] :admin Return user permissions that are admins
    # @option opts [Integer] :start the start index for pagination (default to 0)
    # @option opts [Integer] :limit the limit for pagination (default to 20)
    # @return [Array<(Array<UserPermissionsResponse>, Integer, Hash)>] Array<UserPermissionsResponse> data, response status code and response headers
    def search_permissionables_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserPermissionsApi.search_permissionables ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling UserPermissionsApi.search_permissionables"
      end
      allowable_values = ["ACCOUNT", "GAMELEVEL", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "SCHEDULED_NOTIFICATION", "TASK", "TRIGGER"]
      if @api_client.config.client_side_validation && opts[:'permissionable_type'] && !allowable_values.include?(opts[:'permissionable_type'])
        fail ArgumentError, "invalid value for \"permissionable_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/permissions/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionAccountId'] = opts[:'connection_account_id'] if !opts[:'connection_account_id'].nil?
      query_params[:'connectionAccountIds'] = opts[:'connection_account_ids'] if !opts[:'connection_account_ids'].nil?
      query_params[:'permissionableType'] = opts[:'permissionable_type'] if !opts[:'permissionable_type'].nil?
      query_params[:'permissionableId'] = opts[:'permissionable_id'] if !opts[:'permissionable_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'pending'] = opts[:'pending'] if !opts[:'pending'].nil?
      query_params[:'admin'] = opts[:'admin'] if !opts[:'admin'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UserPermissionsResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UserPermissionsApi.search_permissionables",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserPermissionsApi#search_permissionables\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Permissionables by Distnace
    # Search on UserPermissions by distance
    # @param version [Float] 
    # @param latitude [Float] The latitude of the current account
    # @param longitude [Float] The longitude of the current account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id A unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_account_id Filter results for a specific user account
    # @option opts [String] :connection_account_ids Comma separated list of account IDs to filter results with
    # @option opts [String] :permissionable_type Filter user permissions by the permissionable object type
    # @option opts [Integer] :permissionable_id The id of the permissionable object to filter by
    # @option opts [Float] :search_range The search range in miles (default to 5)
    # @option opts [String] :keyword Keyword to search within permissionable records
    # @option opts [Boolean] :pending Return user permissions that are pending
    # @option opts [Boolean] :admin Return user permissions that are admins
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @return [Array<UserPermissionsResponse>]
    def search_permissionables_following_distance(version, latitude, longitude, opts = {})
      data, _status_code, _headers = search_permissionables_following_distance_with_http_info(version, latitude, longitude, opts)
      data
    end

    # Search Permissionables by Distnace
    # Search on UserPermissions by distance
    # @param version [Float] 
    # @param latitude [Float] The latitude of the current account
    # @param longitude [Float] The longitude of the current account
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id A unique ID given by the device (deviceId or accountId required)
    # @option opts [Integer] :account_id The account ID of the user (deviceId or accountId required)
    # @option opts [Integer] :connection_account_id Filter results for a specific user account
    # @option opts [String] :connection_account_ids Comma separated list of account IDs to filter results with
    # @option opts [String] :permissionable_type Filter user permissions by the permissionable object type
    # @option opts [Integer] :permissionable_id The id of the permissionable object to filter by
    # @option opts [Float] :search_range The search range in miles (default to 5)
    # @option opts [String] :keyword Keyword to search within permissionable records
    # @option opts [Boolean] :pending Return user permissions that are pending
    # @option opts [Boolean] :admin Return user permissions that are admins
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @return [Array<(Array<UserPermissionsResponse>, Integer, Hash)>] Array<UserPermissionsResponse> data, response status code and response headers
    def search_permissionables_following_distance_with_http_info(version, latitude, longitude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserPermissionsApi.search_permissionables_following_distance ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling UserPermissionsApi.search_permissionables_following_distance"
      end
      # verify the required parameter 'latitude' is set
      if @api_client.config.client_side_validation && latitude.nil?
        fail ArgumentError, "Missing the required parameter 'latitude' when calling UserPermissionsApi.search_permissionables_following_distance"
      end
      # verify the required parameter 'longitude' is set
      if @api_client.config.client_side_validation && longitude.nil?
        fail ArgumentError, "Missing the required parameter 'longitude' when calling UserPermissionsApi.search_permissionables_following_distance"
      end
      allowable_values = ["ACCOUNT", "GAMELEVEL", "ALBUM_CONTEST", "THEME_DESCRIPTOR", "SCHEDULED_NOTIFICATION", "TASK", "TRIGGER"]
      if @api_client.config.client_side_validation && opts[:'permissionable_type'] && !allowable_values.include?(opts[:'permissionable_type'])
        fail ArgumentError, "invalid value for \"permissionable_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/permissions/distancesearch'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'latitude'] = latitude
      query_params[:'longitude'] = longitude
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'connectionAccountId'] = opts[:'connection_account_id'] if !opts[:'connection_account_id'].nil?
      query_params[:'connectionAccountIds'] = opts[:'connection_account_ids'] if !opts[:'connection_account_ids'].nil?
      query_params[:'permissionableType'] = opts[:'permissionable_type'] if !opts[:'permissionable_type'].nil?
      query_params[:'permissionableId'] = opts[:'permissionable_id'] if !opts[:'permissionable_id'].nil?
      query_params[:'searchRange'] = opts[:'search_range'] if !opts[:'search_range'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'pending'] = opts[:'pending'] if !opts[:'pending'].nil?
      query_params[:'admin'] = opts[:'admin'] if !opts[:'admin'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<UserPermissionsResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"UserPermissionsApi.search_permissionables_following_distance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserPermissionsApi#search_permissionables_following_distance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
