=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class VatomApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create following
    # Create following.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def create_following(account_id, vatom_parameters, opts = {})
      create_following_with_http_info(account_id, vatom_parameters, opts)
      nil
    end

    # Create following
    # Create following.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_following_with_http_info(account_id, vatom_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.create_following ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.create_following"
      end
      # verify the required parameter 'vatom_parameters' is set
      if @api_client.config.client_side_validation && vatom_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_parameters' when calling VatomApi.create_following"
      end
      # resource path
      local_var_path = '/vatom/me/rels/following/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomParameters'] = vatom_parameters
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.create_following",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#create_following\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Vatom Space
    # Create a Vatom space.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def create_space(account_id, app_key, vatom_parameters, opts = {})
      create_space_with_http_info(account_id, app_key, vatom_parameters, opts)
      nil
    end

    # Create Vatom Space
    # Create a Vatom space.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_space_with_http_info(account_id, app_key, vatom_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.create_space ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.create_space"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.create_space"
      end
      # verify the required parameter 'vatom_parameters' is set
      if @api_client.config.client_side_validation && vatom_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_parameters' when calling VatomApi.create_space"
      end
      # resource path
      local_var_path = '/vatom/b/spaces/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomParameters'] = vatom_parameters
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.create_space",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#create_space\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Vatom Event
    # Create a Vatom event.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def create_vatom_event(account_id, app_key, vatom_parameters, opts = {})
      create_vatom_event_with_http_info(account_id, app_key, vatom_parameters, opts)
      nil
    end

    # Create Vatom Event
    # Create a Vatom event.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_vatom_event_with_http_info(account_id, app_key, vatom_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.create_vatom_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.create_vatom_event"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.create_vatom_event"
      end
      # verify the required parameter 'vatom_parameters' is set
      if @api_client.config.client_side_validation && vatom_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_parameters' when calling VatomApi.create_vatom_event"
      end
      # resource path
      local_var_path = '/vatom/b/events/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomParameters'] = vatom_parameters
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.create_vatom_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#create_vatom_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete following
    # Delete following.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_rels_key [String] Vatom Rels Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def delete_following(account_id, vatom_rels_key, opts = {})
      delete_following_with_http_info(account_id, vatom_rels_key, opts)
      nil
    end

    # Delete following
    # Delete following.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_rels_key [String] Vatom Rels Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_following_with_http_info(account_id, vatom_rels_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.delete_following ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.delete_following"
      end
      # verify the required parameter 'vatom_rels_key' is set
      if @api_client.config.client_side_validation && vatom_rels_key.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_rels_key' when calling VatomApi.delete_following"
      end
      # resource path
      local_var_path = '/vatom/me/rels/following/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomRelsKey'] = vatom_rels_key
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.delete_following",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#delete_following\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset All Points Balance
    # Reset All Points Balance.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def delete_points_balance(account_id, app_key, vatom_campaign_id, opts = {})
      delete_points_balance_with_http_info(account_id, app_key, vatom_campaign_id, opts)
      nil
    end

    # Reset All Points Balance
    # Reset All Points Balance.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_points_balance_with_http_info(account_id, app_key, vatom_campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.delete_points_balance ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.delete_points_balance"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.delete_points_balance"
      end
      # verify the required parameter 'vatom_campaign_id' is set
      if @api_client.config.client_side_validation && vatom_campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_campaign_id' when calling VatomApi.delete_points_balance"
      end
      # resource path
      local_var_path = '/vatom/b/campaign/points/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomCampaignId'] = vatom_campaign_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.delete_points_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#delete_points_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Vatom Space
    # Delete a Vatom space.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_space_id [String] Vatom Space Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def delete_space(account_id, app_key, vatom_space_id, opts = {})
      delete_space_with_http_info(account_id, app_key, vatom_space_id, opts)
      nil
    end

    # Delete Vatom Space
    # Delete a Vatom space.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_space_id [String] Vatom Space Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_space_with_http_info(account_id, app_key, vatom_space_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.delete_space ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.delete_space"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.delete_space"
      end
      # verify the required parameter 'vatom_space_id' is set
      if @api_client.config.client_side_validation && vatom_space_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_space_id' when calling VatomApi.delete_space"
      end
      # resource path
      local_var_path = '/vatom/b/spaces/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomSpaceId'] = vatom_space_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.delete_space",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#delete_space\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Vatom Event
    # Delete a Vatom event.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_event_id [String] Vatom Event Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def delete_vatom_event(account_id, app_key, vatom_event_id, opts = {})
      delete_vatom_event_with_http_info(account_id, app_key, vatom_event_id, opts)
      nil
    end

    # Delete Vatom Event
    # Delete a Vatom event.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_event_id [String] Vatom Event Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vatom_event_with_http_info(account_id, app_key, vatom_event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.delete_vatom_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.delete_vatom_event"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.delete_vatom_event"
      end
      # verify the required parameter 'vatom_event_id' is set
      if @api_client.config.client_side_validation && vatom_event_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_event_id' when calling VatomApi.delete_vatom_event"
      end
      # resource path
      local_var_path = '/vatom/b/events/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomEventId'] = vatom_event_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.delete_vatom_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#delete_vatom_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Vatom NFT
    # Delete Vatom NFT
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_id [String] Vatom NFT Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def delete_vatom_nft(account_id, vatom_id, opts = {})
      delete_vatom_nft_with_http_info(account_id, vatom_id, opts)
      nil
    end

    # Delete Vatom NFT
    # Delete Vatom NFT
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_id [String] Vatom NFT Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vatom_nft_with_http_info(account_id, vatom_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.delete_vatom_nft ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.delete_vatom_nft"
      end
      # verify the required parameter 'vatom_id' is set
      if @api_client.config.client_side_validation && vatom_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_id' when calling VatomApi.delete_vatom_nft"
      end
      # resource path
      local_var_path = '/vatom/vatoms/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomId'] = vatom_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.delete_vatom_nft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#delete_vatom_nft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute Action on NFT
    # Execute Action on NFT.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_id [String] Vatom NFT Id
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def execute_action_on_nft(account_id, vatom_id, vatom_parameters, opts = {})
      execute_action_on_nft_with_http_info(account_id, vatom_id, vatom_parameters, opts)
      nil
    end

    # Execute Action on NFT
    # Execute Action on NFT.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_id [String] Vatom NFT Id
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def execute_action_on_nft_with_http_info(account_id, vatom_id, vatom_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.execute_action_on_nft ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.execute_action_on_nft"
      end
      # verify the required parameter 'vatom_id' is set
      if @api_client.config.client_side_validation && vatom_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_id' when calling VatomApi.execute_action_on_nft"
      end
      # verify the required parameter 'vatom_parameters' is set
      if @api_client.config.client_side_validation && vatom_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_parameters' when calling VatomApi.execute_action_on_nft"
      end
      # resource path
      local_var_path = '/vatom/vatoms/execute-action'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomId'] = vatom_id
      query_params[:'vatomParameters'] = vatom_parameters
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.execute_action_on_nft",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#execute_action_on_nft\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Vatom Geo Map
    # Search Vatom Geo Map
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def geomap_search(account_id, vatom_parameters, opts = {})
      geomap_search_with_http_info(account_id, vatom_parameters, opts)
      nil
    end

    # Search Vatom Geo Map
    # Search Vatom Geo Map
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def geomap_search_with_http_info(account_id, vatom_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.geomap_search ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.geomap_search"
      end
      # verify the required parameter 'vatom_parameters' is set
      if @api_client.config.client_side_validation && vatom_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_parameters' when calling VatomApi.geomap_search"
      end
      # resource path
      local_var_path = '/vatom/vatoms/geo-map/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomParameters'] = vatom_parameters
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.geomap_search",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#geomap_search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vatom Business Behaviors
    # Gets the behaviors of a business.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_business_behaviors(account_id, app_key, opts = {})
      get_business_behaviors_with_http_info(account_id, app_key, opts)
      nil
    end

    # Get Vatom Business Behaviors
    # Gets the behaviors of a business.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_business_behaviors_with_http_info(account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_business_behaviors ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_business_behaviors"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_business_behaviors"
      end
      # resource path
      local_var_path = '/vatom/b/behaviors'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_business_behaviors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_business_behaviors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the coins for a Business
    # Get the coins for a Businesss.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_business_coins_balance(account_id, app_key, opts = {})
      get_business_coins_balance_with_http_info(account_id, app_key, opts)
      nil
    end

    # Get the coins for a Business
    # Get the coins for a Businesss.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_business_coins_balance_with_http_info(account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_business_coins_balance ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_business_coins_balance"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_business_coins_balance"
      end
      # resource path
      local_var_path = '/vatom/b/coins/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_business_coins_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_business_coins_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the user business ids
    # Get the business ids the logged in user has access to.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_business_ids(account_id, opts = {})
      get_business_ids_with_http_info(account_id, opts)
      nil
    end

    # Get the user business ids
    # Get the business ids the logged in user has access to.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_business_ids_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_business_ids ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_business_ids"
      end
      # resource path
      local_var_path = '/vatom/me/businesses'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_business_ids",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_business_ids\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vatom Business Info
    # Gets the business info tied to this account.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vatom_parameters Vatom Parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_business_info(account_id, app_key, opts = {})
      get_business_info_with_http_info(account_id, app_key, opts)
      nil
    end

    # Get Vatom Business Info
    # Gets the business info tied to this account.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vatom_parameters Vatom Parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_business_info_with_http_info(account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_business_info ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_business_info"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_business_info"
      end
      # resource path
      local_var_path = '/vatom/b/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomParameters'] = opts[:'vatom_parameters'] if !opts[:'vatom_parameters'].nil?
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_business_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_business_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vatom Business Users
    # Gets the users of a business.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_business_users(account_id, app_key, opts = {})
      get_business_users_with_http_info(account_id, app_key, opts)
      nil
    end

    # Get Vatom Business Users
    # Gets the users of a business.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_business_users_with_http_info(account_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_business_users ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_business_users"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_business_users"
      end
      # resource path
      local_var_path = '/vatom/b/users'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_business_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_business_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Campaign Group Entities
    # Get campaign group entities.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_campaign_group_entities(account_id, app_key, vatom_campaign_id, opts = {})
      get_campaign_group_entities_with_http_info(account_id, app_key, vatom_campaign_id, opts)
      nil
    end

    # Get Campaign Group Entities
    # Get campaign group entities.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_campaign_group_entities_with_http_info(account_id, app_key, vatom_campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_campaign_group_entities ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_campaign_group_entities"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_campaign_group_entities"
      end
      # verify the required parameter 'vatom_campaign_id' is set
      if @api_client.config.client_side_validation && vatom_campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_campaign_id' when calling VatomApi.get_campaign_group_entities"
      end
      # resource path
      local_var_path = '/vatom/b/campaign-groups/entities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomCampaignId'] = vatom_campaign_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_campaign_group_entities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_campaign_group_entities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Campaign Group Rules
    # Get campaign group rules.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_campaign_group_rules(account_id, app_key, vatom_campaign_id, opts = {})
      get_campaign_group_rules_with_http_info(account_id, app_key, vatom_campaign_id, opts)
      nil
    end

    # Get Campaign Group Rules
    # Get campaign group rules.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_campaign_group_rules_with_http_info(account_id, app_key, vatom_campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_campaign_group_rules ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_campaign_group_rules"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_campaign_group_rules"
      end
      # verify the required parameter 'vatom_campaign_id' is set
      if @api_client.config.client_side_validation && vatom_campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_campaign_id' when calling VatomApi.get_campaign_group_rules"
      end
      # resource path
      local_var_path = '/vatom/b/campaign-groups/rules'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomCampaignId'] = vatom_campaign_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_campaign_group_rules",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_campaign_group_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Campaign Group Stats
    # Get campaign group stats.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_campaign_group_stats(account_id, app_key, vatom_campaign_id, opts = {})
      get_campaign_group_stats_with_http_info(account_id, app_key, vatom_campaign_id, opts)
      nil
    end

    # Get Campaign Group Stats
    # Get campaign group stats.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_campaign_group_stats_with_http_info(account_id, app_key, vatom_campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_campaign_group_stats ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_campaign_group_stats"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_campaign_group_stats"
      end
      # verify the required parameter 'vatom_campaign_id' is set
      if @api_client.config.client_side_validation && vatom_campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_campaign_id' when calling VatomApi.get_campaign_group_stats"
      end
      # resource path
      local_var_path = '/vatom/b/campaign-groups/stats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomCampaignId'] = vatom_campaign_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_campaign_group_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_campaign_group_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Campaign Info
    # Gets the info on a campaign.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_campaign_info(account_id, app_key, vatom_campaign_id, opts = {})
      get_campaign_info_with_http_info(account_id, app_key, vatom_campaign_id, opts)
      nil
    end

    # Get Campaign Info
    # Gets the info on a campaign.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_campaign_info_with_http_info(account_id, app_key, vatom_campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_campaign_info ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_campaign_info"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_campaign_info"
      end
      # verify the required parameter 'vatom_campaign_id' is set
      if @api_client.config.client_side_validation && vatom_campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_campaign_id' when calling VatomApi.get_campaign_info"
      end
      # resource path
      local_var_path = '/vatom/b/campaign-groups/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomCampaignId'] = vatom_campaign_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_campaign_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_campaign_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vatom Event Guest List
    # Gets the guest list of an event.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_event_id [String] Vatom Event Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_event_guest_list(account_id, app_key, vatom_event_id, opts = {})
      get_event_guest_list_with_http_info(account_id, app_key, vatom_event_id, opts)
      nil
    end

    # Get Vatom Event Guest List
    # Gets the guest list of an event.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_event_id [String] Vatom Event Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_event_guest_list_with_http_info(account_id, app_key, vatom_event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_event_guest_list ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_event_guest_list"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_event_guest_list"
      end
      # verify the required parameter 'vatom_event_id' is set
      if @api_client.config.client_side_validation && vatom_event_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_event_id' when calling VatomApi.get_event_guest_list"
      end
      # resource path
      local_var_path = '/vatom/b/events/guests/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomEventId'] = vatom_event_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_event_guest_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_event_guest_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vatom User's Inventory
    # Gets the logged in user's Vatom Inventory.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_inventory(account_id, vatom_parameters, opts = {})
      get_inventory_with_http_info(account_id, vatom_parameters, opts)
      nil
    end

    # Get Vatom User&#39;s Inventory
    # Gets the logged in user&#39;s Vatom Inventory.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_parameters [String] Vatom Parameters
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_inventory_with_http_info(account_id, vatom_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_inventory ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_inventory"
      end
      # verify the required parameter 'vatom_parameters' is set
      if @api_client.config.client_side_validation && vatom_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_parameters' when calling VatomApi.get_inventory"
      end
      # resource path
      local_var_path = '/vatom/me/inventory'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomParameters'] = vatom_parameters
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_inventory",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_inventory\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get following
    # Get following.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_my_following(account_id, opts = {})
      get_my_following_with_http_info(account_id, opts)
      nil
    end

    # Get following
    # Get following.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_my_following_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_my_following ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_my_following"
      end
      # resource path
      local_var_path = '/vatom/me/rels/following'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_my_following",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_my_following\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Points Balance
    # Gets the points balance of a Vatom user.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_points_balance(account_id, vatom_user_id, vatom_campaign_id, opts = {})
      get_points_balance_with_http_info(account_id, vatom_user_id, vatom_campaign_id, opts)
      nil
    end

    # Get Points Balance
    # Gets the points balance of a Vatom user.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_points_balance_with_http_info(account_id, vatom_user_id, vatom_campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_points_balance ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_points_balance"
      end
      # verify the required parameter 'vatom_user_id' is set
      if @api_client.config.client_side_validation && vatom_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_user_id' when calling VatomApi.get_points_balance"
      end
      # verify the required parameter 'vatom_campaign_id' is set
      if @api_client.config.client_side_validation && vatom_campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_campaign_id' when calling VatomApi.get_points_balance"
      end
      # resource path
      local_var_path = '/vatom/u/campaign/points/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomUserId'] = vatom_user_id
      query_params[:'vatomCampaignId'] = vatom_campaign_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_points_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_points_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Points Balance as Business
    # Gets the points balance of a Vatom user.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_user_id [String] Vatom User Id
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_points_balance_as_business(account_id, app_key, vatom_user_id, vatom_campaign_id, opts = {})
      get_points_balance_as_business_with_http_info(account_id, app_key, vatom_user_id, vatom_campaign_id, opts)
      nil
    end

    # Get Points Balance as Business
    # Gets the points balance of a Vatom user.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_user_id [String] Vatom User Id
    # @param vatom_campaign_id [String] Vatom Campaign Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_points_balance_as_business_with_http_info(account_id, app_key, vatom_user_id, vatom_campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_points_balance_as_business ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_points_balance_as_business"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_points_balance_as_business"
      end
      # verify the required parameter 'vatom_user_id' is set
      if @api_client.config.client_side_validation && vatom_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_user_id' when calling VatomApi.get_points_balance_as_business"
      end
      # verify the required parameter 'vatom_campaign_id' is set
      if @api_client.config.client_side_validation && vatom_campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_campaign_id' when calling VatomApi.get_points_balance_as_business"
      end
      # resource path
      local_var_path = '/vatom/b/campaign/u/points/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomUserId'] = vatom_user_id
      query_params[:'vatomCampaignId'] = vatom_campaign_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_points_balance_as_business",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_points_balance_as_business\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vatom Space
    # Gets the details of a space.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_space_id [String] Vatom Space Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_space(account_id, app_key, vatom_space_id, opts = {})
      get_space_with_http_info(account_id, app_key, vatom_space_id, opts)
      nil
    end

    # Get Vatom Space
    # Gets the details of a space.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_space_id [String] Vatom Space Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_space_with_http_info(account_id, app_key, vatom_space_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_space ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_space"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_space"
      end
      # verify the required parameter 'vatom_space_id' is set
      if @api_client.config.client_side_validation && vatom_space_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_space_id' when calling VatomApi.get_space"
      end
      # resource path
      local_var_path = '/vatom/b/spaces/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomSpaceId'] = vatom_space_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_space",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_space\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the coins for a user (as a Business)
    # Get the coins for a user (as a Business).
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_user_coins_as_business(account_id, vatom_user_id, app_key, opts = {})
      get_user_coins_as_business_with_http_info(account_id, vatom_user_id, app_key, opts)
      nil
    end

    # Get the coins for a user (as a Business)
    # Get the coins for a user (as a Business).
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param app_key [String] Sirqul Application Key
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_user_coins_as_business_with_http_info(account_id, vatom_user_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_user_coins_as_business ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_user_coins_as_business"
      end
      # verify the required parameter 'vatom_user_id' is set
      if @api_client.config.client_side_validation && vatom_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_user_id' when calling VatomApi.get_user_coins_as_business"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_user_coins_as_business"
      end
      # resource path
      local_var_path = '/vatom/b/users/coins/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomUserId'] = vatom_user_id
      query_params[:'appKey'] = app_key
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_user_coins_as_business",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_user_coins_as_business\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Gets the coins balance for a Vatom User
    # Gets the coins balance for a Vatom User.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vatom_parameters Vatom Parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_user_coins_balance(account_id, vatom_user_id, opts = {})
      get_user_coins_balance_with_http_info(account_id, vatom_user_id, opts)
      nil
    end

    # Gets the coins balance for a Vatom User
    # Gets the coins balance for a Vatom User.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param [Hash] opts the optional parameters
    # @option opts [String] :vatom_parameters Vatom Parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_user_coins_balance_with_http_info(account_id, vatom_user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_user_coins_balance ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_user_coins_balance"
      end
      # verify the required parameter 'vatom_user_id' is set
      if @api_client.config.client_side_validation && vatom_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_user_id' when calling VatomApi.get_user_coins_balance"
      end
      # resource path
      local_var_path = '/vatom/u/coins/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomUserId'] = vatom_user_id
      query_params[:'vatomParameters'] = opts[:'vatom_parameters'] if !opts[:'vatom_parameters'].nil?
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_user_coins_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_user_coins_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user followers
    # Get user followers.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_user_followers(account_id, vatom_user_id, opts = {})
      get_user_followers_with_http_info(account_id, vatom_user_id, opts)
      nil
    end

    # Get user followers
    # Get user followers.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_user_followers_with_http_info(account_id, vatom_user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_user_followers ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_user_followers"
      end
      # verify the required parameter 'vatom_user_id' is set
      if @api_client.config.client_side_validation && vatom_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_user_id' when calling VatomApi.get_user_followers"
      end
      # resource path
      local_var_path = '/vatom/users/rels/followers'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomUserId'] = vatom_user_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_user_followers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_user_followers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user following
    # Get user following.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_user_following(account_id, vatom_user_id, opts = {})
      get_user_following_with_http_info(account_id, vatom_user_id, opts)
      nil
    end

    # Get user following
    # Get user following.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_user_following_with_http_info(account_id, vatom_user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_user_following ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_user_following"
      end
      # verify the required parameter 'vatom_user_id' is set
      if @api_client.config.client_side_validation && vatom_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_user_id' when calling VatomApi.get_user_following"
      end
      # resource path
      local_var_path = '/vatom/users/rels/following'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomUserId'] = vatom_user_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_user_following",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_user_following\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get User Info
    # Get a User's Info.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_user_info(account_id, vatom_user_id, opts = {})
      get_user_info_with_http_info(account_id, vatom_user_id, opts)
      nil
    end

    # Get User Info
    # Get a User&#39;s Info.
    # @param account_id [Integer] Sirqul Account Id
    # @param vatom_user_id [String] Vatom User Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_user_info_with_http_info(account_id, vatom_user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_user_info ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_user_info"
      end
      # verify the required parameter 'vatom_user_id' is set
      if @api_client.config.client_side_validation && vatom_user_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_user_id' when calling VatomApi.get_user_info"
      end
      # resource path
      local_var_path = '/vatom/user/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'vatomUserId'] = vatom_user_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_user_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_user_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vatom User Profile
    # Gets the logged in user's profile in Vatom.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_user_profile(account_id, opts = {})
      get_user_profile_with_http_info(account_id, opts)
      nil
    end

    # Get Vatom User Profile
    # Gets the logged in user&#39;s profile in Vatom.
    # @param account_id [Integer] Sirqul Account Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_user_profile_with_http_info(account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_user_profile ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_user_profile"
      end
      # resource path
      local_var_path = '/vatom/me/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VatomApi.get_user_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VatomApi#get_user_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vatom Event
    # Gets the details of a event.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_event_id [String] Vatom Event Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [nil]
    def get_vatom_event(account_id, app_key, vatom_event_id, opts = {})
      get_vatom_event_with_http_info(account_id, app_key, vatom_event_id, opts)
      nil
    end

    # Get Vatom Event
    # Gets the details of a event.
    # @param account_id [Integer] Sirqul Account Id
    # @param app_key [String] Sirqul Application Key
    # @param vatom_event_id [String] Vatom Event Id
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :return_raw_response Return raw response
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_vatom_event_with_http_info(account_id, app_key, vatom_event_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VatomApi.get_vatom_event ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling VatomApi.get_vatom_event"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling VatomApi.get_vatom_event"
      end
      # verify the required parameter 'vatom_event_id' is set
      if @api_client.config.client_side_validation && vatom_event_id.nil?
        fail ArgumentError, "Missing the required parameter 'vatom_event_id' when calling VatomApi.get_vatom_event"
      end
      # resource path
      local_var_path = '/vatom/b/events/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'appKey'] = app_key
      query_params[:'vatomEventId'] = vatom_event_id
      query_params[:'returnRawResponse'] = opts[:'return_raw_response'] if !opts[:'return_raw_response'].nil?

[...]
