=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class VehicleTypeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Vehicle Type
    # Create a new vehicle type
    # @param vehicle_type [String] A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [VehicleType] :body 
    # @return [VehicleType]
    def create_vehicle_type(vehicle_type, opts = {})
      data, _status_code, _headers = create_vehicle_type_with_http_info(vehicle_type, opts)
      data
    end

    # Create Vehicle Type
    # Create a new vehicle type
    # @param vehicle_type [String] A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [VehicleType] :body 
    # @return [Array<(VehicleType, Integer, Hash)>] VehicleType data, response status code and response headers
    def create_vehicle_type_with_http_info(vehicle_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleTypeApi.create_vehicle_type ...'
      end
      # verify the required parameter 'vehicle_type' is set
      if @api_client.config.client_side_validation && vehicle_type.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_type' when calling VehicleTypeApi.create_vehicle_type"
      end
      # resource path
      local_var_path = '/vehicle/type'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'vehicleType'] = vehicle_type

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'VehicleType'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleTypeApi.create_vehicle_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleTypeApi#create_vehicle_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Vehicle Type
    # Delete a vehicle type
    # @param vehicle_type_id [Integer] The id of the requested vehicle type
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vehicle_type(vehicle_type_id, opts = {})
      delete_vehicle_type_with_http_info(vehicle_type_id, opts)
      nil
    end

    # Delete Vehicle Type
    # Delete a vehicle type
    # @param vehicle_type_id [Integer] The id of the requested vehicle type
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vehicle_type_with_http_info(vehicle_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleTypeApi.delete_vehicle_type ...'
      end
      # verify the required parameter 'vehicle_type_id' is set
      if @api_client.config.client_side_validation && vehicle_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_type_id' when calling VehicleTypeApi.delete_vehicle_type"
      end
      # resource path
      local_var_path = '/vehicle/type/{vehicleTypeId}'.sub('{' + 'vehicleTypeId' + '}', CGI.escape(vehicle_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleTypeApi.delete_vehicle_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleTypeApi#delete_vehicle_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vehicle Type
    # Get a vehicle type
    # @param vehicle_type_id [Integer] The id of the requested vehicle type
    # @param [Hash] opts the optional parameters
    # @return [VehicleType]
    def get_vehicle_type(vehicle_type_id, opts = {})
      data, _status_code, _headers = get_vehicle_type_with_http_info(vehicle_type_id, opts)
      data
    end

    # Get Vehicle Type
    # Get a vehicle type
    # @param vehicle_type_id [Integer] The id of the requested vehicle type
    # @param [Hash] opts the optional parameters
    # @return [Array<(VehicleType, Integer, Hash)>] VehicleType data, response status code and response headers
    def get_vehicle_type_with_http_info(vehicle_type_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleTypeApi.get_vehicle_type ...'
      end
      # verify the required parameter 'vehicle_type_id' is set
      if @api_client.config.client_side_validation && vehicle_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_type_id' when calling VehicleTypeApi.get_vehicle_type"
      end
      # resource path
      local_var_path = '/vehicle/type/{vehicleTypeId}'.sub('{' + 'vehicleTypeId' + '}', CGI.escape(vehicle_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VehicleType'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleTypeApi.get_vehicle_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleTypeApi#get_vehicle_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Vehicle Type
    # Search for types of vehicles
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :retailer_id Filter by retailer
    # @option opts [Integer] :hub_id Filter by service hub
    # @return [Array<VehicleType>]
    def search_vehicle_types(sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_vehicle_types_with_http_info(sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Vehicle Type
    # Search for types of vehicles
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :retailer_id Filter by retailer
    # @option opts [Integer] :hub_id Filter by service hub
    # @return [Array<(Array<VehicleType>, Integer, Hash)>] Array<VehicleType> data, response status code and response headers
    def search_vehicle_types_with_http_info(sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleTypeApi.search_vehicle_types ...'
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling VehicleTypeApi.search_vehicle_types"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling VehicleTypeApi.search_vehicle_types"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling VehicleTypeApi.search_vehicle_types"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling VehicleTypeApi.search_vehicle_types"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling VehicleTypeApi.search_vehicle_types"
      end
      # resource path
      local_var_path = '/vehicle/type'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'hubId'] = opts[:'hub_id'] if !opts[:'hub_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<VehicleType>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleTypeApi.search_vehicle_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleTypeApi#search_vehicle_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Vehicle Type
    # Update a vehicle type
    # @param vehicle_type_id [Integer] The id of the vehicle type to update
    # @param vehicle_type [String] The new data for the vehicle type to update to. A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [VehicleType] :body 
    # @return [VehicleType]
    def update_vehicle_type(vehicle_type_id, vehicle_type, opts = {})
      data, _status_code, _headers = update_vehicle_type_with_http_info(vehicle_type_id, vehicle_type, opts)
      data
    end

    # Update Vehicle Type
    # Update a vehicle type
    # @param vehicle_type_id [Integer] The id of the vehicle type to update
    # @param vehicle_type [String] The new data for the vehicle type to update to. A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [VehicleType] :body 
    # @return [Array<(VehicleType, Integer, Hash)>] VehicleType data, response status code and response headers
    def update_vehicle_type_with_http_info(vehicle_type_id, vehicle_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleTypeApi.update_vehicle_type ...'
      end
      # verify the required parameter 'vehicle_type_id' is set
      if @api_client.config.client_side_validation && vehicle_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_type_id' when calling VehicleTypeApi.update_vehicle_type"
      end
      # verify the required parameter 'vehicle_type' is set
      if @api_client.config.client_side_validation && vehicle_type.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle_type' when calling VehicleTypeApi.update_vehicle_type"
      end
      # resource path
      local_var_path = '/vehicle/type/{vehicleTypeId}'.sub('{' + 'vehicleTypeId' + '}', CGI.escape(vehicle_type_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'vehicleType'] = vehicle_type

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'VehicleType'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleTypeApi.update_vehicle_type",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleTypeApi#update_vehicle_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
