=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class VehicleApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Vehicle
    # Create new vehicle
    # @param vehicle [String] A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;vehicleType\&quot;: { \&quot;id\&quot;: 1 },   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [Vehicle] :body 
    # @return [Vehicle]
    def create_vehicle(vehicle, opts = {})
      data, _status_code, _headers = create_vehicle_with_http_info(vehicle, opts)
      data
    end

    # Create Vehicle
    # Create new vehicle
    # @param vehicle [String] A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;vehicleType\&quot;: { \&quot;id\&quot;: 1 },   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [Vehicle] :body 
    # @return [Array<(Vehicle, Integer, Hash)>] Vehicle data, response status code and response headers
    def create_vehicle_with_http_info(vehicle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.create_vehicle ...'
      end
      # verify the required parameter 'vehicle' is set
      if @api_client.config.client_side_validation && vehicle.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle' when calling VehicleApi.create_vehicle"
      end
      # resource path
      local_var_path = '/vehicle'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'vehicle'] = vehicle

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Vehicle'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleApi.create_vehicle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#create_vehicle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Vehicle
    # Delete an existing vehicle
    # @param id [Integer] The id of the vehicle to delete
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_vehicle(id, opts = {})
      delete_vehicle_with_http_info(id, opts)
      nil
    end

    # Delete Vehicle
    # Delete an existing vehicle
    # @param id [Integer] The id of the vehicle to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_vehicle_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.delete_vehicle ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VehicleApi.delete_vehicle"
      end
      # resource path
      local_var_path = '/vehicle/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleApi.delete_vehicle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#delete_vehicle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Vehicle
    # Get an existing vehicle
    # @param id [Integer] The id of the vehicle requested
    # @param [Hash] opts the optional parameters
    # @return [Vehicle]
    def get_vehicle(id, opts = {})
      data, _status_code, _headers = get_vehicle_with_http_info(id, opts)
      data
    end

    # Get Vehicle
    # Get an existing vehicle
    # @param id [Integer] The id of the vehicle requested
    # @param [Hash] opts the optional parameters
    # @return [Array<(Vehicle, Integer, Hash)>] Vehicle data, response status code and response headers
    def get_vehicle_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.get_vehicle ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VehicleApi.get_vehicle"
      end
      # resource path
      local_var_path = '/vehicle/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Vehicle'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleApi.get_vehicle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#get_vehicle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Vehicle
    # Search for vehicles
    # @param hub_id [Integer] Filter by service hub
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to search for
    # @return [Array<Vehicle>]
    def search_vehicle(hub_id, sort_field, descending, start, limit, active_only, opts = {})
      data, _status_code, _headers = search_vehicle_with_http_info(hub_id, sort_field, descending, start, limit, active_only, opts)
      data
    end

    # Search Vehicle
    # Search for vehicles
    # @param hub_id [Integer] Filter by service hub
    # @param sort_field [String] The field to sort by
    # @param descending [Boolean] Determines whether the sorted list is in descending or ascending order
    # @param start [Integer] The start index for pagination
    # @param limit [Integer] The limit for pagination
    # @param active_only [Boolean] Return only active results
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword to search for
    # @return [Array<(Array<Vehicle>, Integer, Hash)>] Array<Vehicle> data, response status code and response headers
    def search_vehicle_with_http_info(hub_id, sort_field, descending, start, limit, active_only, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.search_vehicle ...'
      end
      # verify the required parameter 'hub_id' is set
      if @api_client.config.client_side_validation && hub_id.nil?
        fail ArgumentError, "Missing the required parameter 'hub_id' when calling VehicleApi.search_vehicle"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling VehicleApi.search_vehicle"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling VehicleApi.search_vehicle"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling VehicleApi.search_vehicle"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling VehicleApi.search_vehicle"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling VehicleApi.search_vehicle"
      end
      # resource path
      local_var_path = '/vehicle'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'hubId'] = hub_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'activeOnly'] = active_only
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Vehicle>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleApi.search_vehicle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#search_vehicle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Vehicle
    # Update an existing vehicle
    # @param id [Integer] The id of the vehicle to update
    # @param vehicle [String] A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;vehicleType\&quot;: { \&quot;id\&quot;: 1 },   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [Vehicle] :body 
    # @return [Vehicle]
    def update_vehicle(id, vehicle, opts = {})
      data, _status_code, _headers = update_vehicle_with_http_info(id, vehicle, opts)
      data
    end

    # Update Vehicle
    # Update an existing vehicle
    # @param id [Integer] The id of the vehicle to update
    # @param vehicle [String] A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;vehicleType\&quot;: { \&quot;id\&quot;: 1 },   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
    # @param [Hash] opts the optional parameters
    # @option opts [Vehicle] :body 
    # @return [Array<(Vehicle, Integer, Hash)>] Vehicle data, response status code and response headers
    def update_vehicle_with_http_info(id, vehicle, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VehicleApi.update_vehicle ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VehicleApi.update_vehicle"
      end
      # verify the required parameter 'vehicle' is set
      if @api_client.config.client_side_validation && vehicle.nil?
        fail ArgumentError, "Missing the required parameter 'vehicle' when calling VehicleApi.update_vehicle"
      end
      # resource path
      local_var_path = '/vehicle/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'vehicle'] = vehicle

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'Vehicle'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"VehicleApi.update_vehicle",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VehicleApi#update_vehicle\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
