=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class WalletApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Wallet Offers
    # Adds offers to the wallet
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :offer_id The id of the offer being added (offerId or offeLocationId required)
    # @option opts [Integer] :offer_location_id The id of the offer location being added (offerId or offeLocationId required)
    # @option opts [String] :offer_cart A JSON list of offers to purchase. &#x60;&#x60;&#x60;json [   {     \&quot;offerId\&quot;: 123,     \&quot;offerLocationId\&quot;: 234,     \&quot;quantity\&quot;: 2   },   {     \&quot;offerId\&quot;: 456,     \&quot;offerLocationId\&quot;: 567,     \&quot;quantity\&quot;: 1   } ] &#x60;&#x60;&#x60; 
    # @option opts [String] :promo_code The promoCode
    # @option opts [String] :currency_type Determines the method of purchasing offer. CASH &#x3D; use card on file, POINTS &#x3D; use points, TICKETS &#x3D; use tickets (default to 'CASH')
    # @option opts [Boolean] :use_points Sets the currencyType to POINTS
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :app_key The application requesting the purchase, required when currencyType is TICKETS
    # @option opts [Integer] :status Custom status value to change to (0 or 1 for redeem, 5 or 6 for membership)
    # @return [Array<OfferTransactionResponse>]
    def create_offer_transaction(version, opts = {})
      data, _status_code, _headers = create_offer_transaction_with_http_info(version, opts)
      data
    end

    # Create Wallet Offers
    # Adds offers to the wallet
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :offer_id The id of the offer being added (offerId or offeLocationId required)
    # @option opts [Integer] :offer_location_id The id of the offer location being added (offerId or offeLocationId required)
    # @option opts [String] :offer_cart A JSON list of offers to purchase. &#x60;&#x60;&#x60;json [   {     \&quot;offerId\&quot;: 123,     \&quot;offerLocationId\&quot;: 234,     \&quot;quantity\&quot;: 2   },   {     \&quot;offerId\&quot;: 456,     \&quot;offerLocationId\&quot;: 567,     \&quot;quantity\&quot;: 1   } ] &#x60;&#x60;&#x60; 
    # @option opts [String] :promo_code The promoCode
    # @option opts [String] :currency_type Determines the method of purchasing offer. CASH &#x3D; use card on file, POINTS &#x3D; use points, TICKETS &#x3D; use tickets (default to 'CASH')
    # @option opts [Boolean] :use_points Sets the currencyType to POINTS
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :app_key The application requesting the purchase, required when currencyType is TICKETS
    # @option opts [Integer] :status Custom status value to change to (0 or 1 for redeem, 5 or 6 for membership)
    # @return [Array<(Array<OfferTransactionResponse>, Integer, Hash)>] Array<OfferTransactionResponse> data, response status code and response headers
    def create_offer_transaction_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.create_offer_transaction ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling WalletApi.create_offer_transaction"
      end
      # resource path
      local_var_path = '/api/{version}/wallet/create'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'offerCart'] = opts[:'offer_cart'] if !opts[:'offer_cart'].nil?
      query_params[:'promoCode'] = opts[:'promo_code'] if !opts[:'promo_code'].nil?
      query_params[:'currencyType'] = opts[:'currency_type'] if !opts[:'currency_type'].nil?
      query_params[:'usePoints'] = opts[:'use_points'] if !opts[:'use_points'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OfferTransactionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WalletApi.create_offer_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#create_offer_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Wallet Offer
    # Removes the transaction from the wallet by setting the deleted date to the current date/time.  Requires a valid account and transactionId.
    # @param version [Float] 
    # @param transaction_id [Integer] The offer transaction id to remove
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [SirqulResponse]
    def delete_offer_transaction(version, transaction_id, opts = {})
      data, _status_code, _headers = delete_offer_transaction_with_http_info(version, transaction_id, opts)
      data
    end

    # Delete Wallet Offer
    # Removes the transaction from the wallet by setting the deleted date to the current date/time.  Requires a valid account and transactionId.
    # @param version [Float] 
    # @param transaction_id [Integer] The offer transaction id to remove
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_offer_transaction_with_http_info(version, transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.delete_offer_transaction ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling WalletApi.delete_offer_transaction"
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling WalletApi.delete_offer_transaction"
      end
      # resource path
      local_var_path = '/api/{version}/wallet/delete'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'transactionId'] = transaction_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WalletApi.delete_offer_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#delete_offer_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Wallet Offer
    # @param version [Float] 
    # @param transaction_id [Integer] The offer transaction id to get details of
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Boolean] :include_mission If true then include mission data, false to not include (default to false)
    # @option opts [Float] :latitude The latitude location of the user
    # @option opts [Float] :longitude The latitude location of the user
    # @option opts [Boolean] :return_full_response Determines whether to return a detailed version of the response (default to true)
    # @return [OfferTransactionResponse]
    def get_offer_transaction(version, transaction_id, opts = {})
      data, _status_code, _headers = get_offer_transaction_with_http_info(version, transaction_id, opts)
      data
    end

    # Get Wallet Offer
    # @param version [Float] 
    # @param transaction_id [Integer] The offer transaction id to get details of
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Boolean] :include_mission If true then include mission data, false to not include (default to false)
    # @option opts [Float] :latitude The latitude location of the user
    # @option opts [Float] :longitude The latitude location of the user
    # @option opts [Boolean] :return_full_response Determines whether to return a detailed version of the response (default to true)
    # @return [Array<(OfferTransactionResponse, Integer, Hash)>] OfferTransactionResponse data, response status code and response headers
    def get_offer_transaction_with_http_info(version, transaction_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.get_offer_transaction ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling WalletApi.get_offer_transaction"
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling WalletApi.get_offer_transaction"
      end
      # resource path
      local_var_path = '/api/{version}/wallet/get'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'transactionId'] = transaction_id
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'includeMission'] = opts[:'include_mission'] if !opts[:'include_mission'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'returnFullResponse'] = opts[:'return_full_response'] if !opts[:'return_full_response'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferTransactionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WalletApi.get_offer_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#get_offer_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Preview Wallet Offers
    # Preview the final cost of a transaction without charging the user
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :offer_id The id of the offer being added (offerId or offeLocationId required)
    # @option opts [Integer] :offer_location_id The id of the offer location being added (offerId or offeLocationId required)
    # @option opts [String] :offer_cart A JSON list of offers to purchase.
    # @option opts [String] :promo_code The promoCode
    # @option opts [String] :currency_type Determines the method of purchasing offer. CASH &#x3D; use card on file, POINTS &#x3D; use points, TICKETS &#x3D; use tickets (default to 'CASH')
    # @option opts [Boolean] :use_points Sets the currencyType to POINTS
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :app_key The application requesting the purchase, required when currencyType is TICKETS
    # @return [Array<OfferTransactionResponse>]
    def preview_offer_transaction(version, opts = {})
      data, _status_code, _headers = preview_offer_transaction_with_http_info(version, opts)
      data
    end

    # Preview Wallet Offers
    # Preview the final cost of a transaction without charging the user
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :offer_id The id of the offer being added (offerId or offeLocationId required)
    # @option opts [Integer] :offer_location_id The id of the offer location being added (offerId or offeLocationId required)
    # @option opts [String] :offer_cart A JSON list of offers to purchase.
    # @option opts [String] :promo_code The promoCode
    # @option opts [String] :currency_type Determines the method of purchasing offer. CASH &#x3D; use card on file, POINTS &#x3D; use points, TICKETS &#x3D; use tickets (default to 'CASH')
    # @option opts [Boolean] :use_points Sets the currencyType to POINTS
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [String] :app_key The application requesting the purchase, required when currencyType is TICKETS
    # @return [Array<(Array<OfferTransactionResponse>, Integer, Hash)>] Array<OfferTransactionResponse> data, response status code and response headers
    def preview_offer_transaction_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.preview_offer_transaction ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling WalletApi.preview_offer_transaction"
      end
      # resource path
      local_var_path = '/api/{version}/wallet/preview'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'offerCart'] = opts[:'offer_cart'] if !opts[:'offer_cart'].nil?
      query_params[:'promoCode'] = opts[:'promo_code'] if !opts[:'promo_code'].nil?
      query_params[:'currencyType'] = opts[:'currency_type'] if !opts[:'currency_type'].nil?
      query_params[:'usePoints'] = opts[:'use_points'] if !opts[:'use_points'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OfferTransactionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WalletApi.preview_offer_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#preview_offer_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Wallet Offers
    # Search on active offers currently in the user's wallet, or past offers the user has already redeemed.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :retailer_id Filter results for this retailer
    # @option opts [String] :retailer_ids Filter results for a list of retailers
    # @option opts [Integer] :retailer_location_id Filter results for this retailer location
    # @option opts [String] :retailer_location_ids Filter results for a list of retailer locations
    # @option opts [String] :exclude_retailer_location_ids Filter results to exclude retailer locations
    # @option opts [Integer] :offer_id Filter results for this offer
    # @option opts [String] :offer_ids Filter results for a list of offer
    # @option opts [Integer] :offer_location_id Filter results for this offer location
    # @option opts [String] :offer_location_ids Filter results for a list of offer locations
    # @option opts [String] :offer_type Filter results to return a specific offer type
    # @option opts [String] :offer_types Filter results to return specific offer types
    # @option opts [String] :special_offer_type Filter results to return a specific special offer type
    # @option opts [String] :special_offer_types Filter results to return specific special offer types
    # @option opts [String] :category_ids Category Ids
    # @option opts [String] :filter_ids Filter Ids
    # @option opts [String] :offer_audience_ids Offer Audience Ids
    # @option opts [String] :sort_field Determines what to sort the results by (default to 'CREATED')
    # @option opts [Boolean] :descending Determines whether the results are in descending order (default to true)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @option opts [Float] :latitude The latitude location of the user
    # @option opts [Float] :longitude The latitude location of the user
    # @option opts [Integer] :redeemable_start_date Filter results by the offer redeemable date
    # @option opts [Integer] :redeemable_end_date Filter results by the offer redeemable date
    # @option opts [Boolean] :filter_by_parent_offer Apply params to offer&#39;s parent (default to false)
    # @option opts [Integer] :started_since Filter results by the offer start date
    # @option opts [Integer] :started_before Filter results by the offer start date
    # @option opts [Integer] :ended_since Filter results by the offer end date
    # @option opts [Integer] :ended_before Filter results by the offer end date
    # @option opts [Boolean] :redeemed If true return redeemed transactions (status 2), otherwise return active transactions (status 0 or 1) (default to false)
    # @option opts [String] :statuses Custom status value to change to (0 or 1 for redeem, 5 or 6 for membership)
    # @option opts [Boolean] :reservations_only Returns only reservation transactions if true (default to false)
    # @option opts [Boolean] :active_only Active Only (default to false)
    # @option opts [Boolean] :return_full_response Determines whether to return a detailed version of the response (default to false)
    # @option opts [Integer] :recurring_started_since Filter results by the recurring billing start date
    # @option opts [Integer] :recurring_started_before Filter results by the recurring billing start date
    # @option opts [Integer] :recurring_expiration_since Filter results by the recurring billing expiration date
    # @option opts [Integer] :recurring_expiration_before Filter results by the recurring billing expiration date
    # @return [Array<OfferTransactionResponse>]
    def search_offer_transactions(version, opts = {})
      data, _status_code, _headers = search_offer_transactions_with_http_info(version, opts)
      data
    end

    # Search Wallet Offers
    # Search on active offers currently in the user&#39;s wallet, or past offers the user has already redeemed.
    # @param version [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [String] :keyword The keyword to search for
    # @option opts [Integer] :retailer_id Filter results for this retailer
    # @option opts [String] :retailer_ids Filter results for a list of retailers
    # @option opts [Integer] :retailer_location_id Filter results for this retailer location
    # @option opts [String] :retailer_location_ids Filter results for a list of retailer locations
    # @option opts [String] :exclude_retailer_location_ids Filter results to exclude retailer locations
    # @option opts [Integer] :offer_id Filter results for this offer
    # @option opts [String] :offer_ids Filter results for a list of offer
    # @option opts [Integer] :offer_location_id Filter results for this offer location
    # @option opts [String] :offer_location_ids Filter results for a list of offer locations
    # @option opts [String] :offer_type Filter results to return a specific offer type
    # @option opts [String] :offer_types Filter results to return specific offer types
    # @option opts [String] :special_offer_type Filter results to return a specific special offer type
    # @option opts [String] :special_offer_types Filter results to return specific special offer types
    # @option opts [String] :category_ids Category Ids
    # @option opts [String] :filter_ids Filter Ids
    # @option opts [String] :offer_audience_ids Offer Audience Ids
    # @option opts [String] :sort_field Determines what to sort the results by (default to 'CREATED')
    # @option opts [Boolean] :descending Determines whether the results are in descending order (default to true)
    # @option opts [Integer] :start The start index for pagination (default to 0)
    # @option opts [Integer] :limit The limit for pagination (default to 20)
    # @option opts [Float] :latitude The latitude location of the user
    # @option opts [Float] :longitude The latitude location of the user
    # @option opts [Integer] :redeemable_start_date Filter results by the offer redeemable date
    # @option opts [Integer] :redeemable_end_date Filter results by the offer redeemable date
    # @option opts [Boolean] :filter_by_parent_offer Apply params to offer&#39;s parent (default to false)
    # @option opts [Integer] :started_since Filter results by the offer start date
    # @option opts [Integer] :started_before Filter results by the offer start date
    # @option opts [Integer] :ended_since Filter results by the offer end date
    # @option opts [Integer] :ended_before Filter results by the offer end date
    # @option opts [Boolean] :redeemed If true return redeemed transactions (status 2), otherwise return active transactions (status 0 or 1) (default to false)
    # @option opts [String] :statuses Custom status value to change to (0 or 1 for redeem, 5 or 6 for membership)
    # @option opts [Boolean] :reservations_only Returns only reservation transactions if true (default to false)
    # @option opts [Boolean] :active_only Active Only (default to false)
    # @option opts [Boolean] :return_full_response Determines whether to return a detailed version of the response (default to false)
    # @option opts [Integer] :recurring_started_since Filter results by the recurring billing start date
    # @option opts [Integer] :recurring_started_before Filter results by the recurring billing start date
    # @option opts [Integer] :recurring_expiration_since Filter results by the recurring billing expiration date
    # @option opts [Integer] :recurring_expiration_before Filter results by the recurring billing expiration date
    # @return [Array<(Array<OfferTransactionResponse>, Integer, Hash)>] Array<OfferTransactionResponse> data, response status code and response headers
    def search_offer_transactions_with_http_info(version, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.search_offer_transactions ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling WalletApi.search_offer_transactions"
      end
      allowable_values = ["VOUCHER", "COUPON", "PRODUCT", "MEDIA", "EVENT", "DEVICE"]
      if @api_client.config.client_side_validation && opts[:'offer_type'] && !allowable_values.include?(opts[:'offer_type'])
        fail ArgumentError, "invalid value for \"offer_type\", must be one of #{allowable_values}"
      end
      allowable_values = ["ID", "CREATED", "UPDATED", "DELETED", "SEARCH_TAGS", "ACTIVE", "ACTIVATED", "EXPIRES", "TITLE", "SUBTITLE", "DETAILS", "OFFER_TYPE", "SPECIAL_OFFER_TYPE", "OFFER_VISIBILITY", "REDEEMABLE_START", "REDEEMABLE_END", "CUSTOMER_ID", "CUSTOMER_DISPLAY", "RETAILER_ID", "RETAILER_NAME", "RETAILER_LOCATION_ID", "RETAILER_LOCATION_NAME", "BILLABLE_ENTITY_ID", "BILLABLE_ENTITY_NAME", "RESPONSIBLE_DISPLAY"]
      if @api_client.config.client_side_validation && opts[:'sort_field'] && !allowable_values.include?(opts[:'sort_field'])
        fail ArgumentError, "invalid value for \"sort_field\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/{version}/wallet/search'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?
      query_params[:'retailerId'] = opts[:'retailer_id'] if !opts[:'retailer_id'].nil?
      query_params[:'retailerIds'] = opts[:'retailer_ids'] if !opts[:'retailer_ids'].nil?
      query_params[:'retailerLocationId'] = opts[:'retailer_location_id'] if !opts[:'retailer_location_id'].nil?
      query_params[:'retailerLocationIds'] = opts[:'retailer_location_ids'] if !opts[:'retailer_location_ids'].nil?
      query_params[:'excludeRetailerLocationIds'] = opts[:'exclude_retailer_location_ids'] if !opts[:'exclude_retailer_location_ids'].nil?
      query_params[:'offerId'] = opts[:'offer_id'] if !opts[:'offer_id'].nil?
      query_params[:'offerIds'] = opts[:'offer_ids'] if !opts[:'offer_ids'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'offerLocationIds'] = opts[:'offer_location_ids'] if !opts[:'offer_location_ids'].nil?
      query_params[:'offerType'] = opts[:'offer_type'] if !opts[:'offer_type'].nil?
      query_params[:'offerTypes'] = opts[:'offer_types'] if !opts[:'offer_types'].nil?
      query_params[:'specialOfferType'] = opts[:'special_offer_type'] if !opts[:'special_offer_type'].nil?
      query_params[:'specialOfferTypes'] = opts[:'special_offer_types'] if !opts[:'special_offer_types'].nil?
      query_params[:'categoryIds'] = opts[:'category_ids'] if !opts[:'category_ids'].nil?
      query_params[:'filterIds'] = opts[:'filter_ids'] if !opts[:'filter_ids'].nil?
      query_params[:'offerAudienceIds'] = opts[:'offer_audience_ids'] if !opts[:'offer_audience_ids'].nil?
      query_params[:'sortField'] = opts[:'sort_field'] if !opts[:'sort_field'].nil?
      query_params[:'descending'] = opts[:'descending'] if !opts[:'descending'].nil?
      query_params[:'start'] = opts[:'start'] if !opts[:'start'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'redeemableStartDate'] = opts[:'redeemable_start_date'] if !opts[:'redeemable_start_date'].nil?
      query_params[:'redeemableEndDate'] = opts[:'redeemable_end_date'] if !opts[:'redeemable_end_date'].nil?
      query_params[:'filterByParentOffer'] = opts[:'filter_by_parent_offer'] if !opts[:'filter_by_parent_offer'].nil?
      query_params[:'startedSince'] = opts[:'started_since'] if !opts[:'started_since'].nil?
      query_params[:'startedBefore'] = opts[:'started_before'] if !opts[:'started_before'].nil?
      query_params[:'endedSince'] = opts[:'ended_since'] if !opts[:'ended_since'].nil?
      query_params[:'endedBefore'] = opts[:'ended_before'] if !opts[:'ended_before'].nil?
      query_params[:'redeemed'] = opts[:'redeemed'] if !opts[:'redeemed'].nil?
      query_params[:'statuses'] = opts[:'statuses'] if !opts[:'statuses'].nil?
      query_params[:'reservationsOnly'] = opts[:'reservations_only'] if !opts[:'reservations_only'].nil?
      query_params[:'activeOnly'] = opts[:'active_only'] if !opts[:'active_only'].nil?
      query_params[:'returnFullResponse'] = opts[:'return_full_response'] if !opts[:'return_full_response'].nil?
      query_params[:'recurringStartedSince'] = opts[:'recurring_started_since'] if !opts[:'recurring_started_since'].nil?
      query_params[:'recurringStartedBefore'] = opts[:'recurring_started_before'] if !opts[:'recurring_started_before'].nil?
      query_params[:'recurringExpirationSince'] = opts[:'recurring_expiration_since'] if !opts[:'recurring_expiration_since'].nil?
      query_params[:'recurringExpirationBefore'] = opts[:'recurring_expiration_before'] if !opts[:'recurring_expiration_before'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<OfferTransactionResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WalletApi.search_offer_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#search_offer_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Wallet Offer
    # Update offer status. The status values are: 0 - not redeemable, 1 - redeemable.  Not redeemable means the customer has received the offer but has not decided to use (or print) it yet.  Until they choose to do this the merchant cannot redeem the offer (has not been given permission yet).   Redeemable means the customer has chosen to use the offer and wishes to redeem it.  Redeemed means the merchant has accepted the offer and the given the customer its value, then marked it a used in the system.  This status change is handled by a merchant end point.
    # @param version [Float] 
    # @param transaction_id [Integer] The offer transaction id to remove
    # @param status [Integer] The status value to change to (0 or 1)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :offer_location_id Offer Location Id
    # @option opts [String] :currency_type Currency Type (default to 'CASH')
    # @option opts [Boolean] :use_points Use Points
    # @option opts [String] :app_key App Key
    # @option opts [Float] :latitude The latitude location of the user
    # @option opts [Float] :longitude The latitude location of the user
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [Boolean] :return_full_response Determines whether to return a detailed version of the response (default to false)
    # @option opts [String] :exception_membership_offer_ids Exception Offers, transaction audiences of these offers won&#39;t be removed out of the account when up
    # @return [OfferTransactionResponse]
    def update_offer_transaction(version, transaction_id, status, opts = {})
      data, _status_code, _headers = update_offer_transaction_with_http_info(version, transaction_id, status, opts)
      data
    end

    # Update Wallet Offer
    # Update offer status. The status values are: 0 - not redeemable, 1 - redeemable.  Not redeemable means the customer has received the offer but has not decided to use (or print) it yet.  Until they choose to do this the merchant cannot redeem the offer (has not been given permission yet).   Redeemable means the customer has chosen to use the offer and wishes to redeem it.  Redeemed means the merchant has accepted the offer and the given the customer its value, then marked it a used in the system.  This status change is handled by a merchant end point.
    # @param version [Float] 
    # @param transaction_id [Integer] The offer transaction id to remove
    # @param status [Integer] The status value to change to (0 or 1)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :device_id The device id (deviceId or accountId required)
    # @option opts [Integer] :account_id The account id of the user (deviceId or accountId required)
    # @option opts [Integer] :offer_location_id Offer Location Id
    # @option opts [String] :currency_type Currency Type (default to 'CASH')
    # @option opts [Boolean] :use_points Use Points
    # @option opts [String] :app_key App Key
    # @option opts [Float] :latitude The latitude location of the user
    # @option opts [Float] :longitude The latitude location of the user
    # @option opts [String] :meta_data External custom client defined data
    # @option opts [Boolean] :return_full_response Determines whether to return a detailed version of the response (default to false)
    # @option opts [String] :exception_membership_offer_ids Exception Offers, transaction audiences of these offers won&#39;t be removed out of the account when up
    # @return [Array<(OfferTransactionResponse, Integer, Hash)>] OfferTransactionResponse data, response status code and response headers
    def update_offer_transaction_with_http_info(version, transaction_id, status, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WalletApi.update_offer_transaction ...'
      end
      # verify the required parameter 'version' is set
      if @api_client.config.client_side_validation && version.nil?
        fail ArgumentError, "Missing the required parameter 'version' when calling WalletApi.update_offer_transaction"
      end
      # verify the required parameter 'transaction_id' is set
      if @api_client.config.client_side_validation && transaction_id.nil?
        fail ArgumentError, "Missing the required parameter 'transaction_id' when calling WalletApi.update_offer_transaction"
      end
      # verify the required parameter 'status' is set
      if @api_client.config.client_side_validation && status.nil?
        fail ArgumentError, "Missing the required parameter 'status' when calling WalletApi.update_offer_transaction"
      end
      # resource path
      local_var_path = '/api/{version}/wallet/update'.sub('{' + 'version' + '}', CGI.escape(version.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'transactionId'] = transaction_id
      query_params[:'status'] = status
      query_params[:'deviceId'] = opts[:'device_id'] if !opts[:'device_id'].nil?
      query_params[:'accountId'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'offerLocationId'] = opts[:'offer_location_id'] if !opts[:'offer_location_id'].nil?
      query_params[:'currencyType'] = opts[:'currency_type'] if !opts[:'currency_type'].nil?
      query_params[:'usePoints'] = opts[:'use_points'] if !opts[:'use_points'].nil?
      query_params[:'appKey'] = opts[:'app_key'] if !opts[:'app_key'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'metaData'] = opts[:'meta_data'] if !opts[:'meta_data'].nil?
      query_params[:'returnFullResponse'] = opts[:'return_full_response'] if !opts[:'return_full_response'].nil?
      query_params[:'exceptionMembershipOfferIds'] = opts[:'exception_membership_offer_ids'] if !opts[:'exception_membership_offer_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OfferTransactionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WalletApi.update_offer_transaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WalletApi#update_offer_transaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
