=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class WeatherApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Search Weather
    # Search the weather forcast for the next 5 days
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :region_id Region Id
    # @option opts [Float] :latitude Latitude
    # @option opts [Float] :longitude Longitude
    # @option opts [Integer] :timezone_offset Timezone Offset (default to -6)
    # @return [WeatherResponse]
    def search_weather(opts = {})
      data, _status_code, _headers = search_weather_with_http_info(opts)
      data
    end

    # Search Weather
    # Search the weather forcast for the next 5 days
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :region_id Region Id
    # @option opts [Float] :latitude Latitude
    # @option opts [Float] :longitude Longitude
    # @option opts [Integer] :timezone_offset Timezone Offset (default to -6)
    # @return [Array<(WeatherResponse, Integer, Hash)>] WeatherResponse data, response status code and response headers
    def search_weather_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WeatherApi.search_weather ...'
      end
      # resource path
      local_var_path = '/weather/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'regionId'] = opts[:'region_id'] if !opts[:'region_id'].nil?
      query_params[:'latitude'] = opts[:'latitude'] if !opts[:'latitude'].nil?
      query_params[:'longitude'] = opts[:'longitude'] if !opts[:'longitude'].nil?
      query_params[:'timezoneOffset'] = opts[:'timezone_offset'] if !opts[:'timezone_offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WeatherResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WeatherApi.search_weather",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WeatherApi#search_weather\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
