=begin
#Sirqul IoT Platform

#Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

The version of the OpenAPI document: 3.16
Contact: info@sirqul.com
Generated by: https://openapi-generator.tech
Generator version: 7.20.0-SNAPSHOT

=end

require 'cgi'

module OpenapiClient
  class WordApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Word
    # Create a word by the given params.
    # @param account_id [Integer] The logged in user.
    # @param word [String] The text of the word.
    # @param definition [String] The definition of the word.
    # @param active [Boolean] If true set the word to active. Default to false.
    # @param allocate_tickets [Boolean] If true then scoring will give tickets. Default to false.
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :asset_id The asset id of the word.
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @return [WordzWordResponse]
    def create_word(account_id, word, definition, active, allocate_tickets, ticket_count, opts = {})
      data, _status_code, _headers = create_word_with_http_info(account_id, word, definition, active, allocate_tickets, ticket_count, opts)
      data
    end

    # Create Word
    # Create a word by the given params.
    # @param account_id [Integer] The logged in user.
    # @param word [String] The text of the word.
    # @param definition [String] The definition of the word.
    # @param active [Boolean] If true set the word to active. Default to false.
    # @param allocate_tickets [Boolean] If true then scoring will give tickets. Default to false.
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :asset_id The asset id of the word.
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @return [Array<(WordzWordResponse, Integer, Hash)>] WordzWordResponse data, response status code and response headers
    def create_word_with_http_info(account_id, word, definition, active, allocate_tickets, ticket_count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WordApi.create_word ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WordApi.create_word"
      end
      # verify the required parameter 'word' is set
      if @api_client.config.client_side_validation && word.nil?
        fail ArgumentError, "Missing the required parameter 'word' when calling WordApi.create_word"
      end
      # verify the required parameter 'definition' is set
      if @api_client.config.client_side_validation && definition.nil?
        fail ArgumentError, "Missing the required parameter 'definition' when calling WordApi.create_word"
      end
      # verify the required parameter 'active' is set
      if @api_client.config.client_side_validation && active.nil?
        fail ArgumentError, "Missing the required parameter 'active' when calling WordApi.create_word"
      end
      # verify the required parameter 'allocate_tickets' is set
      if @api_client.config.client_side_validation && allocate_tickets.nil?
        fail ArgumentError, "Missing the required parameter 'allocate_tickets' when calling WordApi.create_word"
      end
      # verify the required parameter 'ticket_count' is set
      if @api_client.config.client_side_validation && ticket_count.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_count' when calling WordApi.create_word"
      end
      # resource path
      local_var_path = '/game/word/create'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'word'] = word
      query_params[:'definition'] = definition
      query_params[:'active'] = active
      query_params[:'allocateTickets'] = allocate_tickets
      query_params[:'ticketCount'] = ticket_count
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WordzWordResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WordApi.create_word",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WordApi#create_word\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete Word
    # Delete a word by the given id. The accountId given needs to be the owner or executive to delete.
    # @param word_id [Integer] The id of the word to delete.
    # @param account_id [Integer] The account vor validating permission
    # @param [Hash] opts the optional parameters
    # @return [SirqulResponse]
    def delete_word(word_id, account_id, opts = {})
      data, _status_code, _headers = delete_word_with_http_info(word_id, account_id, opts)
      data
    end

    # Delete Word
    # Delete a word by the given id. The accountId given needs to be the owner or executive to delete.
    # @param word_id [Integer] The id of the word to delete.
    # @param account_id [Integer] The account vor validating permission
    # @param [Hash] opts the optional parameters
    # @return [Array<(SirqulResponse, Integer, Hash)>] SirqulResponse data, response status code and response headers
    def delete_word_with_http_info(word_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WordApi.delete_word ...'
      end
      # verify the required parameter 'word_id' is set
      if @api_client.config.client_side_validation && word_id.nil?
        fail ArgumentError, "Missing the required parameter 'word_id' when calling WordApi.delete_word"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WordApi.delete_word"
      end
      # resource path
      local_var_path = '/game/word/delete'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wordId'] = word_id
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SirqulResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WordApi.delete_word",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WordApi#delete_word\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Word
    # Get a word by the given id.
    # @param word_id [Integer] The id of the word to get.
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @return [WordzWordResponse]
    def get_word(word_id, account_id, opts = {})
      data, _status_code, _headers = get_word_with_http_info(word_id, account_id, opts)
      data
    end

    # Get Word
    # Get a word by the given id.
    # @param word_id [Integer] The id of the word to get.
    # @param account_id [Integer] The logged in user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(WordzWordResponse, Integer, Hash)>] WordzWordResponse data, response status code and response headers
    def get_word_with_http_info(word_id, account_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WordApi.get_word ...'
      end
      # verify the required parameter 'word_id' is set
      if @api_client.config.client_side_validation && word_id.nil?
        fail ArgumentError, "Missing the required parameter 'word_id' when calling WordApi.get_word"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WordApi.get_word"
      end
      # resource path
      local_var_path = '/game/word/get'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wordId'] = word_id
      query_params[:'accountId'] = account_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WordzWordResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WordApi.get_word",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WordApi#get_word\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Search Words
    # Search for words by the given params.
    # @param account_id [Integer] The logged in user.
    # @param sort_field [String] The column to sort the search on
    # @param descending [Boolean] The order to return the search results
    # @param active_only [Boolean] Return only active results if set to true.
    # @param start [Integer] The record to begin the return set on.
    # @param limit [Integer] The number of records to return.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword for searching words with matching definition or word text.
    # @return [Array<WordzWordResponse>]
    def get_words(account_id, sort_field, descending, active_only, start, limit, opts = {})
      data, _status_code, _headers = get_words_with_http_info(account_id, sort_field, descending, active_only, start, limit, opts)
      data
    end

    # Search Words
    # Search for words by the given params.
    # @param account_id [Integer] The logged in user.
    # @param sort_field [String] The column to sort the search on
    # @param descending [Boolean] The order to return the search results
    # @param active_only [Boolean] Return only active results if set to true.
    # @param start [Integer] The record to begin the return set on.
    # @param limit [Integer] The number of records to return.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :keyword The keyword for searching words with matching definition or word text.
    # @return [Array<(Array<WordzWordResponse>, Integer, Hash)>] Array<WordzWordResponse> data, response status code and response headers
    def get_words_with_http_info(account_id, sort_field, descending, active_only, start, limit, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WordApi.get_words ...'
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WordApi.get_words"
      end
      # verify the required parameter 'sort_field' is set
      if @api_client.config.client_side_validation && sort_field.nil?
        fail ArgumentError, "Missing the required parameter 'sort_field' when calling WordApi.get_words"
      end
      # verify the required parameter 'descending' is set
      if @api_client.config.client_side_validation && descending.nil?
        fail ArgumentError, "Missing the required parameter 'descending' when calling WordApi.get_words"
      end
      # verify the required parameter 'active_only' is set
      if @api_client.config.client_side_validation && active_only.nil?
        fail ArgumentError, "Missing the required parameter 'active_only' when calling WordApi.get_words"
      end
      # verify the required parameter 'start' is set
      if @api_client.config.client_side_validation && start.nil?
        fail ArgumentError, "Missing the required parameter 'start' when calling WordApi.get_words"
      end
      # verify the required parameter 'limit' is set
      if @api_client.config.client_side_validation && limit.nil?
        fail ArgumentError, "Missing the required parameter 'limit' when calling WordApi.get_words"
      end
      # resource path
      local_var_path = '/game/word/search'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'accountId'] = account_id
      query_params[:'sortField'] = sort_field
      query_params[:'descending'] = descending
      query_params[:'activeOnly'] = active_only
      query_params[:'start'] = start
      query_params[:'limit'] = limit
      query_params[:'keyword'] = opts[:'keyword'] if !opts[:'keyword'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<WordzWordResponse>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WordApi.get_words",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WordApi#get_words\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update Word
    # Update a word by the given params.
    # @param word_id [Integer] The id of the word to update.
    # @param account_id [Integer] The logged in user.
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :word_text The text for the word
    # @option opts [String] :definition The definition of the word.
    # @option opts [Integer] :asset_id The asset id of the word.
    # @option opts [Boolean] :active If true set the word to active.
    # @option opts [Boolean] :allocate_tickets If true then scoring will give tickets.
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @return [WordzWordResponse]
    def update_word(word_id, account_id, ticket_count, opts = {})
      data, _status_code, _headers = update_word_with_http_info(word_id, account_id, ticket_count, opts)
      data
    end

    # Update Word
    # Update a word by the given params.
    # @param word_id [Integer] The id of the word to update.
    # @param account_id [Integer] The logged in user.
    # @param ticket_count [Integer] The number of tickets to reward
    # @param [Hash] opts the optional parameters
    # @option opts [String] :word_text The text for the word
    # @option opts [String] :definition The definition of the word.
    # @option opts [Integer] :asset_id The asset id of the word.
    # @option opts [Boolean] :active If true set the word to active.
    # @option opts [Boolean] :allocate_tickets If true then scoring will give tickets.
    # @option opts [String] :ticket_type The type of ticket to reward, null means default type
    # @option opts [Integer] :points The number of points to award for completing a mission
    # @return [Array<(WordzWordResponse, Integer, Hash)>] WordzWordResponse data, response status code and response headers
    def update_word_with_http_info(word_id, account_id, ticket_count, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WordApi.update_word ...'
      end
      # verify the required parameter 'word_id' is set
      if @api_client.config.client_side_validation && word_id.nil?
        fail ArgumentError, "Missing the required parameter 'word_id' when calling WordApi.update_word"
      end
      # verify the required parameter 'account_id' is set
      if @api_client.config.client_side_validation && account_id.nil?
        fail ArgumentError, "Missing the required parameter 'account_id' when calling WordApi.update_word"
      end
      # verify the required parameter 'ticket_count' is set
      if @api_client.config.client_side_validation && ticket_count.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_count' when calling WordApi.update_word"
      end
      # resource path
      local_var_path = '/game/word/update'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'wordId'] = word_id
      query_params[:'accountId'] = account_id
      query_params[:'ticketCount'] = ticket_count
      query_params[:'wordText'] = opts[:'word_text'] if !opts[:'word_text'].nil?
      query_params[:'definition'] = opts[:'definition'] if !opts[:'definition'].nil?
      query_params[:'assetId'] = opts[:'asset_id'] if !opts[:'asset_id'].nil?
      query_params[:'active'] = opts[:'active'] if !opts[:'active'].nil?
      query_params[:'allocateTickets'] = opts[:'allocate_tickets'] if !opts[:'allocate_tickets'].nil?
      query_params[:'ticketType'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?
      query_params[:'points'] = opts[:'points'] if !opts[:'points'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WordzWordResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"WordApi.update_word",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WordApi#update_word\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
