/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// LikeAPIService LikeAPI service
type LikeAPIService service

type ApiRegisterLikeRequest struct {
	ctx context.Context
	ApiService *LikeAPIService
	version float32
	likableType *string
	likableId *int64
	deviceId *string
	accountId *int64
	permissionableType *string
	permissionableId *int64
	like *bool
	app *string
	gameType *string
	appKey *string
	latitude *float64
	longitude *float64
}

// The type of likable object {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, NOTE, THEME_DESCRIPTOR}
func (r ApiRegisterLikeRequest) LikableType(likableType string) ApiRegisterLikeRequest {
	r.likableType = &likableType
	return r
}

// The id of the likable object
func (r ApiRegisterLikeRequest) LikableId(likableId int64) ApiRegisterLikeRequest {
	r.likableId = &likableId
	return r
}

// The unique device identifier that made the request (either deviceId or accountId must be used)
func (r ApiRegisterLikeRequest) DeviceId(deviceId string) ApiRegisterLikeRequest {
	r.deviceId = &deviceId
	return r
}

// The unique accountId that made the request (either deviceId or accountId must be used)
func (r ApiRegisterLikeRequest) AccountId(accountId int64) ApiRegisterLikeRequest {
	r.accountId = &accountId
	return r
}

// This is used for sending out group notifications. For example, when someone likes an asset which is also a part of an album, everyone in the album will receive a notification. This is achieved by passing in the permissionable type (in this case \&quot;album\&quot;), and the permissionable id (the album id). Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
func (r ApiRegisterLikeRequest) PermissionableType(permissionableType string) ApiRegisterLikeRequest {
	r.permissionableType = &permissionableType
	return r
}

// The id of the permissionable object (for sending group notifications)
func (r ApiRegisterLikeRequest) PermissionableId(permissionableId int64) ApiRegisterLikeRequest {
	r.permissionableId = &permissionableId
	return r
}

// determines whether the user likes or dislikes the object
func (r ApiRegisterLikeRequest) Like(like bool) ApiRegisterLikeRequest {
	r.like = &like
	return r
}

// This parameter is deprecated. This is deprecated, use \&quot;appKey\&quot; instead.
func (r ApiRegisterLikeRequest) App(app string) ApiRegisterLikeRequest {
	r.app = &app
	return r
}

// This parameter is deprecated. This is deprecated, use \&quot;appKey\&quot; instead.
func (r ApiRegisterLikeRequest) GameType(gameType string) ApiRegisterLikeRequest {
	r.gameType = &gameType
	return r
}

// the application key
func (r ApiRegisterLikeRequest) AppKey(appKey string) ApiRegisterLikeRequest {
	r.appKey = &appKey
	return r
}

// The current location of the user
func (r ApiRegisterLikeRequest) Latitude(latitude float64) ApiRegisterLikeRequest {
	r.latitude = &latitude
	return r
}

// The current location of the user
func (r ApiRegisterLikeRequest) Longitude(longitude float64) ApiRegisterLikeRequest {
	r.longitude = &longitude
	return r
}

func (r ApiRegisterLikeRequest) Execute() (*LikableResponse, *http.Response, error) {
	return r.ApiService.RegisterLikeExecute(r)
}

/*
RegisterLike Create Like

Allows a user to like or dislike accounts, albums, album contests, assets, game levels, notes, and theme descriptors. Multiple likes\dislikes on the same object will replace the previous one.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiRegisterLikeRequest
*/
func (a *LikeAPIService) RegisterLike(ctx context.Context, version float32) ApiRegisterLikeRequest {
	return ApiRegisterLikeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return LikableResponse
func (a *LikeAPIService) RegisterLikeExecute(r ApiRegisterLikeRequest) (*LikableResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LikableResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LikeAPIService.RegisterLike")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/like"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.likableType == nil {
		return localVarReturnValue, nil, reportError("likableType is required and must be specified")
	}
	if r.likableId == nil {
		return localVarReturnValue, nil, reportError("likableId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "likableType", r.likableType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "likableId", r.likableId, "form", "")
	if r.permissionableType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "permissionableType", r.permissionableType, "form", "")
	}
	if r.permissionableId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "permissionableId", r.permissionableId, "form", "")
	}
	if r.like != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "like", r.like, "form", "")
	}
	if r.app != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "app", r.app, "form", "")
	}
	if r.gameType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gameType", r.gameType, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveLikeRequest struct {
	ctx context.Context
	ApiService *LikeAPIService
	version float32
	likableType *string
	likableId *int64
	deviceId *string
	accountId *int64
	latitude *float64
	longitude *float64
}

// The type of the likable object {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, NOTE, THEME_DESCRIPTOR}
func (r ApiRemoveLikeRequest) LikableType(likableType string) ApiRemoveLikeRequest {
	r.likableType = &likableType
	return r
}

// The id of the likable object
func (r ApiRemoveLikeRequest) LikableId(likableId int64) ApiRemoveLikeRequest {
	r.likableId = &likableId
	return r
}

// The unique device identifier that made the request (either deviceId or accountId must be used)
func (r ApiRemoveLikeRequest) DeviceId(deviceId string) ApiRemoveLikeRequest {
	r.deviceId = &deviceId
	return r
}

// The unique accountId that made the request (either deviceId or accountId must be used)
func (r ApiRemoveLikeRequest) AccountId(accountId int64) ApiRemoveLikeRequest {
	r.accountId = &accountId
	return r
}

// The current location of the user
func (r ApiRemoveLikeRequest) Latitude(latitude float64) ApiRemoveLikeRequest {
	r.latitude = &latitude
	return r
}

// The current location of the user
func (r ApiRemoveLikeRequest) Longitude(longitude float64) ApiRemoveLikeRequest {
	r.longitude = &longitude
	return r
}

func (r ApiRemoveLikeRequest) Execute() (*LikableResponse, *http.Response, error) {
	return r.ApiService.RemoveLikeExecute(r)
}

/*
RemoveLike Delete Like

Removes a like. This will make the user "neutral".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiRemoveLikeRequest
*/
func (a *LikeAPIService) RemoveLike(ctx context.Context, version float32) ApiRemoveLikeRequest {
	return ApiRemoveLikeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return LikableResponse
func (a *LikeAPIService) RemoveLikeExecute(r ApiRemoveLikeRequest) (*LikableResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LikableResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LikeAPIService.RemoveLike")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/like/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.likableType == nil {
		return localVarReturnValue, nil, reportError("likableType is required and must be specified")
	}
	if r.likableId == nil {
		return localVarReturnValue, nil, reportError("likableId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "likableType", r.likableType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "likableId", r.likableId, "form", "")
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchLikesRequest struct {
	ctx context.Context
	ApiService *LikeAPIService
	version float32
	likableType *string
	likableId *int64
	deviceId *string
	accountId *int64
	connectionAccountIds *string
	sortField *string
	descending *bool
	updatedSince *int64
	updatedBefore *int64
	start *int32
	limit *int32
}

// The type of the likable object {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, NOTE, THEME_DESCRIPTOR}
func (r ApiSearchLikesRequest) LikableType(likableType string) ApiSearchLikesRequest {
	r.likableType = &likableType
	return r
}

// The id of the likable object
func (r ApiSearchLikesRequest) LikableId(likableId int64) ApiSearchLikesRequest {
	r.likableId = &likableId
	return r
}

// The unique device identifier that made the request (either deviceId or accountId must be used)
func (r ApiSearchLikesRequest) DeviceId(deviceId string) ApiSearchLikesRequest {
	r.deviceId = &deviceId
	return r
}

// The unique accountId that made the request (either deviceId or accountId must be used)
func (r ApiSearchLikesRequest) AccountId(accountId int64) ApiSearchLikesRequest {
	r.accountId = &accountId
	return r
}

// Comma separated list of account IDs for filtering on users
func (r ApiSearchLikesRequest) ConnectionAccountIds(connectionAccountIds string) ApiSearchLikesRequest {
	r.connectionAccountIds = &connectionAccountIds
	return r
}

// The field to sort by. Possible values include: ID
func (r ApiSearchLikesRequest) SortField(sortField string) ApiSearchLikesRequest {
	r.sortField = &sortField
	return r
}

// Determines whether the sorted list is in descending or ascending order
func (r ApiSearchLikesRequest) Descending(descending bool) ApiSearchLikesRequest {
	r.descending = &descending
	return r
}

// return items that have been updated since this date (time-stamp in milliseconds)
func (r ApiSearchLikesRequest) UpdatedSince(updatedSince int64) ApiSearchLikesRequest {
	r.updatedSince = &updatedSince
	return r
}

// return items that have been updated before this date (time-stamp in milliseconds)
func (r ApiSearchLikesRequest) UpdatedBefore(updatedBefore int64) ApiSearchLikesRequest {
	r.updatedBefore = &updatedBefore
	return r
}

// the start index for pagination
func (r ApiSearchLikesRequest) Start(start int32) ApiSearchLikesRequest {
	r.start = &start
	return r
}

// the limit for pagination
func (r ApiSearchLikesRequest) Limit(limit int32) ApiSearchLikesRequest {
	r.limit = &limit
	return r
}

func (r ApiSearchLikesRequest) Execute() (*SearchResponse, *http.Response, error) {
	return r.ApiService.SearchLikesExecute(r)
}

/*
SearchLikes Search Likes

Search for likes on a likable object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiSearchLikesRequest
*/
func (a *LikeAPIService) SearchLikes(ctx context.Context, version float32) ApiSearchLikesRequest {
	return ApiSearchLikesRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SearchResponse
func (a *LikeAPIService) SearchLikesExecute(r ApiSearchLikesRequest) (*SearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LikeAPIService.SearchLikes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/like/search"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.likableType == nil {
		return localVarReturnValue, nil, reportError("likableType is required and must be specified")
	}
	if r.likableId == nil {
		return localVarReturnValue, nil, reportError("likableId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.connectionAccountIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "connectionAccountIds", r.connectionAccountIds, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "likableType", r.likableType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "likableId", r.likableId, "form", "")
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	} else {
		var defaultValue string = "ID"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", defaultValue, "form", "")
		r.sortField = &defaultValue
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", defaultValue, "form", "")
		r.descending = &defaultValue
	}
	if r.updatedSince != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updatedSince", r.updatedSince, "form", "")
	}
	if r.updatedBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updatedBefore", r.updatedBefore, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", defaultValue, "form", "")
		r.start = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
