/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ShipmentBatchAPIService ShipmentBatchAPI service
type ShipmentBatchAPIService service

type ApiCreateShipmentBatchRequest struct {
	ctx context.Context
	ApiService *ShipmentBatchAPIService
	body *ShipmentBatch
}

func (r ApiCreateShipmentBatchRequest) Body(body ShipmentBatch) ApiCreateShipmentBatchRequest {
	r.body = &body
	return r
}

func (r ApiCreateShipmentBatchRequest) Execute() (*ShipmentBatch, *http.Response, error) {
	return r.ApiService.CreateShipmentBatchExecute(r)
}

/*
CreateShipmentBatch Create Shipment Batch

Create a new shipment batch

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateShipmentBatchRequest
*/
func (a *ShipmentBatchAPIService) CreateShipmentBatch(ctx context.Context) ApiCreateShipmentBatchRequest {
	return ApiCreateShipmentBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ShipmentBatch
func (a *ShipmentBatchAPIService) CreateShipmentBatchExecute(r ApiCreateShipmentBatchRequest) (*ShipmentBatch, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ShipmentBatch
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShipmentBatchAPIService.CreateShipmentBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipment/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteShipmentBatchRequest struct {
	ctx context.Context
	ApiService *ShipmentBatchAPIService
	batchId int64
}

func (r ApiDeleteShipmentBatchRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteShipmentBatchExecute(r)
}

/*
DeleteShipmentBatch Delete Shipment Batch

Search for shipment batches

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param batchId the id of the shipment batch to delete
 @return ApiDeleteShipmentBatchRequest
*/
func (a *ShipmentBatchAPIService) DeleteShipmentBatch(ctx context.Context, batchId int64) ApiDeleteShipmentBatchRequest {
	return ApiDeleteShipmentBatchRequest{
		ApiService: a,
		ctx: ctx,
		batchId: batchId,
	}
}

// Execute executes the request
func (a *ShipmentBatchAPIService) DeleteShipmentBatchExecute(r ApiDeleteShipmentBatchRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShipmentBatchAPIService.DeleteShipmentBatch")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipment/batch/{batchId}"
	localVarPath = strings.Replace(localVarPath, "{"+"batchId"+"}", url.PathEscape(parameterValueToString(r.batchId, "batchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetShipmentBatchRequest struct {
	ctx context.Context
	ApiService *ShipmentBatchAPIService
	batchId int64
}

func (r ApiGetShipmentBatchRequest) Execute() (*ShipmentBatch, *http.Response, error) {
	return r.ApiService.GetShipmentBatchExecute(r)
}

/*
GetShipmentBatch Get Shipment Batch

Get an existing shipment batch

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param batchId the id of the shipment batch to get
 @return ApiGetShipmentBatchRequest
*/
func (a *ShipmentBatchAPIService) GetShipmentBatch(ctx context.Context, batchId int64) ApiGetShipmentBatchRequest {
	return ApiGetShipmentBatchRequest{
		ApiService: a,
		ctx: ctx,
		batchId: batchId,
	}
}

// Execute executes the request
//  @return ShipmentBatch
func (a *ShipmentBatchAPIService) GetShipmentBatchExecute(r ApiGetShipmentBatchRequest) (*ShipmentBatch, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ShipmentBatch
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShipmentBatchAPIService.GetShipmentBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipment/batch/{batchId}"
	localVarPath = strings.Replace(localVarPath, "{"+"batchId"+"}", url.PathEscape(parameterValueToString(r.batchId, "batchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetShipmentBatchStatusRequest struct {
	ctx context.Context
	ApiService *ShipmentBatchAPIService
	batchId int64
	accountId *int64
	sortField *string
	descending *bool
	start *int32
	limit *int32
	valid *bool
	started *bool
	completed *bool
	hasShipment *bool
	hasRoute *bool
	keyword *string
}

// the id of the logged in user
func (r ApiGetShipmentBatchStatusRequest) AccountId(accountId int64) ApiGetShipmentBatchStatusRequest {
	r.accountId = &accountId
	return r
}

// The field to sort by
func (r ApiGetShipmentBatchStatusRequest) SortField(sortField string) ApiGetShipmentBatchStatusRequest {
	r.sortField = &sortField
	return r
}

// Determines whether the sorted list is in descending or ascending order
func (r ApiGetShipmentBatchStatusRequest) Descending(descending bool) ApiGetShipmentBatchStatusRequest {
	r.descending = &descending
	return r
}

// The start index for pagination
func (r ApiGetShipmentBatchStatusRequest) Start(start int32) ApiGetShipmentBatchStatusRequest {
	r.start = &start
	return r
}

// The limit for pagination
func (r ApiGetShipmentBatchStatusRequest) Limit(limit int32) ApiGetShipmentBatchStatusRequest {
	r.limit = &limit
	return r
}

// Valid import status only or not
func (r ApiGetShipmentBatchStatusRequest) Valid(valid bool) ApiGetShipmentBatchStatusRequest {
	r.valid = &valid
	return r
}

// Started import status only
func (r ApiGetShipmentBatchStatusRequest) Started(started bool) ApiGetShipmentBatchStatusRequest {
	r.started = &started
	return r
}

// Completed import status only
func (r ApiGetShipmentBatchStatusRequest) Completed(completed bool) ApiGetShipmentBatchStatusRequest {
	r.completed = &completed
	return r
}

// Has shipment associate to the status
func (r ApiGetShipmentBatchStatusRequest) HasShipment(hasShipment bool) ApiGetShipmentBatchStatusRequest {
	r.hasShipment = &hasShipment
	return r
}

// Has route associate to the status
func (r ApiGetShipmentBatchStatusRequest) HasRoute(hasRoute bool) ApiGetShipmentBatchStatusRequest {
	r.hasRoute = &hasRoute
	return r
}

// The keyword to search for
func (r ApiGetShipmentBatchStatusRequest) Keyword(keyword string) ApiGetShipmentBatchStatusRequest {
	r.keyword = &keyword
	return r
}

func (r ApiGetShipmentBatchStatusRequest) Execute() ([]ShipmentImportStatus, *http.Response, error) {
	return r.ApiService.GetShipmentBatchStatusExecute(r)
}

/*
GetShipmentBatchStatus Get Shipment Batch Status

Get the import status list of the import shipment batch

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param batchId The id of the requested shipment batch
 @return ApiGetShipmentBatchStatusRequest
*/
func (a *ShipmentBatchAPIService) GetShipmentBatchStatus(ctx context.Context, batchId int64) ApiGetShipmentBatchStatusRequest {
	return ApiGetShipmentBatchStatusRequest{
		ApiService: a,
		ctx: ctx,
		batchId: batchId,
	}
}

// Execute executes the request
//  @return []ShipmentImportStatus
func (a *ShipmentBatchAPIService) GetShipmentBatchStatusExecute(r ApiGetShipmentBatchStatusRequest) ([]ShipmentImportStatus, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ShipmentImportStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShipmentBatchAPIService.GetShipmentBatchStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipment/batch/{batchId}/status"
	localVarPath = strings.Replace(localVarPath, "{"+"batchId"+"}", url.PathEscape(parameterValueToString(r.batchId, "batchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.sortField == nil {
		return localVarReturnValue, nil, reportError("sortField is required and must be specified")
	}
	if r.descending == nil {
		return localVarReturnValue, nil, reportError("descending is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.valid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "valid", r.valid, "form", "")
	}
	if r.started != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "started", r.started, "form", "")
	}
	if r.completed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "completed", r.completed, "form", "")
	}
	if r.hasShipment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hasShipment", r.hasShipment, "form", "")
	}
	if r.hasRoute != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hasRoute", r.hasRoute, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchShipmentBatchRequest struct {
	ctx context.Context
	ApiService *ShipmentBatchAPIService
	hubId *int64
	sortField *string
	descending *bool
	start *int32
	limit *int32
}

// The associated service hub
func (r ApiSearchShipmentBatchRequest) HubId(hubId int64) ApiSearchShipmentBatchRequest {
	r.hubId = &hubId
	return r
}

// The field to sort by
func (r ApiSearchShipmentBatchRequest) SortField(sortField string) ApiSearchShipmentBatchRequest {
	r.sortField = &sortField
	return r
}

// Determines whether the sorted list is in descending or ascending order
func (r ApiSearchShipmentBatchRequest) Descending(descending bool) ApiSearchShipmentBatchRequest {
	r.descending = &descending
	return r
}

// The start index for pagination
func (r ApiSearchShipmentBatchRequest) Start(start int32) ApiSearchShipmentBatchRequest {
	r.start = &start
	return r
}

// The limit for pagination
func (r ApiSearchShipmentBatchRequest) Limit(limit int32) ApiSearchShipmentBatchRequest {
	r.limit = &limit
	return r
}

func (r ApiSearchShipmentBatchRequest) Execute() ([]ShipmentBatch, *http.Response, error) {
	return r.ApiService.SearchShipmentBatchExecute(r)
}

/*
SearchShipmentBatch Search Shipment Batch

Search for shipment batches

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchShipmentBatchRequest
*/
func (a *ShipmentBatchAPIService) SearchShipmentBatch(ctx context.Context) ApiSearchShipmentBatchRequest {
	return ApiSearchShipmentBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ShipmentBatch
func (a *ShipmentBatchAPIService) SearchShipmentBatchExecute(r ApiSearchShipmentBatchRequest) ([]ShipmentBatch, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ShipmentBatch
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShipmentBatchAPIService.SearchShipmentBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipment/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.hubId == nil {
		return localVarReturnValue, nil, reportError("hubId is required and must be specified")
	}
	if r.sortField == nil {
		return localVarReturnValue, nil, reportError("sortField is required and must be specified")
	}
	if r.descending == nil {
		return localVarReturnValue, nil, reportError("descending is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "hubId", r.hubId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
