/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TwilioAPIService TwilioAPI service
type TwilioAPIService service

type ApiSmsBuyOfferRequest struct {
	ctx context.Context
	ApiService *TwilioAPIService
	version float32
	appKey string
	body *string
	from *string
	currencyType *string
}

// the message of the text
func (r ApiSmsBuyOfferRequest) Body(body string) ApiSmsBuyOfferRequest {
	r.body = &body
	return r
}

// the sender of the sms
func (r ApiSmsBuyOfferRequest) From(from string) ApiSmsBuyOfferRequest {
	r.from = &from
	return r
}

// the type of currency
func (r ApiSmsBuyOfferRequest) CurrencyType(currencyType string) ApiSmsBuyOfferRequest {
	r.currencyType = &currencyType
	return r
}

func (r ApiSmsBuyOfferRequest) Execute() (*TwiMLResponse, *http.Response, error) {
	return r.ApiService.SmsBuyOfferExecute(r)
}

/*
SmsBuyOffer Buy Offer by SMS

Recieve an SMS payload from Twillio to purchase an offer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @param appKey the application key
 @return ApiSmsBuyOfferRequest
*/
func (a *TwilioAPIService) SmsBuyOffer(ctx context.Context, version float32, appKey string) ApiSmsBuyOfferRequest {
	return ApiSmsBuyOfferRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		appKey: appKey,
	}
}

// Execute executes the request
//  @return TwiMLResponse
func (a *TwilioAPIService) SmsBuyOfferExecute(r ApiSmsBuyOfferRequest) (*TwiMLResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TwiMLResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TwilioAPIService.SmsBuyOffer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/sms/buyoffer/{appKey}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"appKey"+"}", url.PathEscape(parameterValueToString(r.appKey, "appKey")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.currencyType == nil {
		return localVarReturnValue, nil, reportError("currencyType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "Body", r.body, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "From", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "currencyType", r.currencyType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/xml"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
