/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CargoTypeAPIService CargoTypeAPI service
type CargoTypeAPIService service

type ApiCreateCargoTypeRequest struct {
	ctx context.Context
	ApiService *CargoTypeAPIService
	body *CargoType
}

func (r ApiCreateCargoTypeRequest) Body(body CargoType) ApiCreateCargoTypeRequest {
	r.body = &body
	return r
}

func (r ApiCreateCargoTypeRequest) Execute() (*CargoType, *http.Response, error) {
	return r.ApiService.CreateCargoTypeExecute(r)
}

/*
CreateCargoType Create Cargo Type

Create new cargo type

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateCargoTypeRequest
*/
func (a *CargoTypeAPIService) CreateCargoType(ctx context.Context) ApiCreateCargoTypeRequest {
	return ApiCreateCargoTypeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CargoType
func (a *CargoTypeAPIService) CreateCargoTypeExecute(r ApiCreateCargoTypeRequest) (*CargoType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CargoType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CargoTypeAPIService.CreateCargoType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cargo/type"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteCargoTypeRequest struct {
	ctx context.Context
	ApiService *CargoTypeAPIService
	cargoTypeId int64
}

func (r ApiDeleteCargoTypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteCargoTypeExecute(r)
}

/*
DeleteCargoType Delete Cargo Type

Delete a type of cargo

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cargoTypeId the ID of the cargo type
 @return ApiDeleteCargoTypeRequest
*/
func (a *CargoTypeAPIService) DeleteCargoType(ctx context.Context, cargoTypeId int64) ApiDeleteCargoTypeRequest {
	return ApiDeleteCargoTypeRequest{
		ApiService: a,
		ctx: ctx,
		cargoTypeId: cargoTypeId,
	}
}

// Execute executes the request
func (a *CargoTypeAPIService) DeleteCargoTypeExecute(r ApiDeleteCargoTypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CargoTypeAPIService.DeleteCargoType")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cargo/type/{cargoTypeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"cargoTypeId"+"}", url.PathEscape(parameterValueToString(r.cargoTypeId, "cargoTypeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetCargoTypeRequest struct {
	ctx context.Context
	ApiService *CargoTypeAPIService
	cargoTypeId int64
}

func (r ApiGetCargoTypeRequest) Execute() (*CargoType, *http.Response, error) {
	return r.ApiService.GetCargoTypeExecute(r)
}

/*
GetCargoType Get Cargo Type

Get an existing cargo type

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cargoTypeId the cargo type ID
 @return ApiGetCargoTypeRequest
*/
func (a *CargoTypeAPIService) GetCargoType(ctx context.Context, cargoTypeId int64) ApiGetCargoTypeRequest {
	return ApiGetCargoTypeRequest{
		ApiService: a,
		ctx: ctx,
		cargoTypeId: cargoTypeId,
	}
}

// Execute executes the request
//  @return CargoType
func (a *CargoTypeAPIService) GetCargoTypeExecute(r ApiGetCargoTypeRequest) (*CargoType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CargoType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CargoTypeAPIService.GetCargoType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cargo/type/{cargoTypeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"cargoTypeId"+"}", url.PathEscape(parameterValueToString(r.cargoTypeId, "cargoTypeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchCargoTypesRequest struct {
	ctx context.Context
	ApiService *CargoTypeAPIService
	sortField *string
	descending *bool
	start *int32
	limit *int32
	activeOnly *bool
	retailerId *int64
	hubId *int64
}

// the sort field to use for the cargo type
func (r ApiSearchCargoTypesRequest) SortField(sortField string) ApiSearchCargoTypesRequest {
	r.sortField = &sortField
	return r
}

// if the cargo type should be should be in descending order
func (r ApiSearchCargoTypesRequest) Descending(descending bool) ApiSearchCargoTypesRequest {
	r.descending = &descending
	return r
}

// the start of the search
func (r ApiSearchCargoTypesRequest) Start(start int32) ApiSearchCargoTypesRequest {
	r.start = &start
	return r
}

// the limit of the search
func (r ApiSearchCargoTypesRequest) Limit(limit int32) ApiSearchCargoTypesRequest {
	r.limit = &limit
	return r
}

// if search should be on active only
func (r ApiSearchCargoTypesRequest) ActiveOnly(activeOnly bool) ApiSearchCargoTypesRequest {
	r.activeOnly = &activeOnly
	return r
}

// the id of the retailer location
func (r ApiSearchCargoTypesRequest) RetailerId(retailerId int64) ApiSearchCargoTypesRequest {
	r.retailerId = &retailerId
	return r
}

// the ID of the hub
func (r ApiSearchCargoTypesRequest) HubId(hubId int64) ApiSearchCargoTypesRequest {
	r.hubId = &hubId
	return r
}

func (r ApiSearchCargoTypesRequest) Execute() ([]CargoType, *http.Response, error) {
	return r.ApiService.SearchCargoTypesExecute(r)
}

/*
SearchCargoTypes Search Cargo Type

Search for types of cargo

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchCargoTypesRequest
*/
func (a *CargoTypeAPIService) SearchCargoTypes(ctx context.Context) ApiSearchCargoTypesRequest {
	return ApiSearchCargoTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CargoType
func (a *CargoTypeAPIService) SearchCargoTypesExecute(r ApiSearchCargoTypesRequest) ([]CargoType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CargoType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CargoTypeAPIService.SearchCargoTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cargo/type"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sortField == nil {
		return localVarReturnValue, nil, reportError("sortField is required and must be specified")
	}
	if r.descending == nil {
		return localVarReturnValue, nil, reportError("descending is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}
	if r.activeOnly == nil {
		return localVarReturnValue, nil, reportError("activeOnly is required and must be specified")
	}

	if r.retailerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retailerId", r.retailerId, "form", "")
	}
	if r.hubId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hubId", r.hubId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", r.activeOnly, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateCargoTypeRequest struct {
	ctx context.Context
	ApiService *CargoTypeAPIService
	cargoTypeId int64
	body *CargoType
}

func (r ApiUpdateCargoTypeRequest) Body(body CargoType) ApiUpdateCargoTypeRequest {
	r.body = &body
	return r
}

func (r ApiUpdateCargoTypeRequest) Execute() (*CargoType, *http.Response, error) {
	return r.ApiService.UpdateCargoTypeExecute(r)
}

/*
UpdateCargoType Update Cargo Type

Update an existing cargo type

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param cargoTypeId the ID of the cargo type
 @return ApiUpdateCargoTypeRequest
*/
func (a *CargoTypeAPIService) UpdateCargoType(ctx context.Context, cargoTypeId int64) ApiUpdateCargoTypeRequest {
	return ApiUpdateCargoTypeRequest{
		ApiService: a,
		ctx: ctx,
		cargoTypeId: cargoTypeId,
	}
}

// Execute executes the request
//  @return CargoType
func (a *CargoTypeAPIService) UpdateCargoTypeExecute(r ApiUpdateCargoTypeRequest) (*CargoType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CargoType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CargoTypeAPIService.UpdateCargoType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cargo/type/{cargoTypeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"cargoTypeId"+"}", url.PathEscape(parameterValueToString(r.cargoTypeId, "cargoTypeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
