/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ListingAPIService ListingAPI service
type ListingAPIService service

type ApiCreateListingRequest struct {
	ctx context.Context
	ApiService *ListingAPIService
	accountId *int64
	name *string
	filterIds *string
	description *string
	start *int64
	end *int64
	locationName *string
	locationDescription *string
	isPrivate *bool
	externalId *string
	externalId2 *string
	externalGroupId *string
	active *bool
	metaData *string
}

// the user&#39;s account ID
func (r ApiCreateListingRequest) AccountId(accountId int64) ApiCreateListingRequest {
	r.accountId = &accountId
	return r
}

// the name of the listing
func (r ApiCreateListingRequest) Name(name string) ApiCreateListingRequest {
	r.name = &name
	return r
}

// comma separated list of filter IDs
func (r ApiCreateListingRequest) FilterIds(filterIds string) ApiCreateListingRequest {
	r.filterIds = &filterIds
	return r
}

// the description of the listing
func (r ApiCreateListingRequest) Description(description string) ApiCreateListingRequest {
	r.description = &description
	return r
}

// the start date of the listing
func (r ApiCreateListingRequest) Start(start int64) ApiCreateListingRequest {
	r.start = &start
	return r
}

// the end date of the listing
func (r ApiCreateListingRequest) End(end int64) ApiCreateListingRequest {
	r.end = &end
	return r
}

// the name of the location the listing will be held at
func (r ApiCreateListingRequest) LocationName(locationName string) ApiCreateListingRequest {
	r.locationName = &locationName
	return r
}

// the description of the location the listing will be held at
func (r ApiCreateListingRequest) LocationDescription(locationDescription string) ApiCreateListingRequest {
	r.locationDescription = &locationDescription
	return r
}

// determines whether the listing is public or private
func (r ApiCreateListingRequest) IsPrivate(isPrivate bool) ApiCreateListingRequest {
	r.isPrivate = &isPrivate
	return r
}

// external identifier used by a third party
func (r ApiCreateListingRequest) ExternalId(externalId string) ApiCreateListingRequest {
	r.externalId = &externalId
	return r
}

// secondary external identifier used by a third party
func (r ApiCreateListingRequest) ExternalId2(externalId2 string) ApiCreateListingRequest {
	r.externalId2 = &externalId2
	return r
}

// external group identifier used by a third party
func (r ApiCreateListingRequest) ExternalGroupId(externalGroupId string) ApiCreateListingRequest {
	r.externalGroupId = &externalGroupId
	return r
}

// Sets the active flag
func (r ApiCreateListingRequest) Active(active bool) ApiCreateListingRequest {
	r.active = &active
	return r
}

// external custom client defined data
func (r ApiCreateListingRequest) MetaData(metaData string) ApiCreateListingRequest {
	r.metaData = &metaData
	return r
}

func (r ApiCreateListingRequest) Execute() (*ListingFullResponse, *http.Response, error) {
	return r.ApiService.CreateListingExecute(r)
}

/*
CreateListing Create Listing

Creates a listing.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateListingRequest
*/
func (a *ListingAPIService) CreateListing(ctx context.Context) ApiCreateListingRequest {
	return ApiCreateListingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListingFullResponse
func (a *ListingAPIService) CreateListingExecute(r ApiCreateListingRequest) (*ListingFullResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListingFullResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ListingAPIService.CreateListing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/listing/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	if r.filterIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filterIds", r.filterIds, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.locationName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationName", r.locationName, "form", "")
	}
	if r.locationDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationDescription", r.locationDescription, "form", "")
	}
	if r.isPrivate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isPrivate", r.isPrivate, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "isPrivate", defaultValue, "form", "")
		r.isPrivate = &defaultValue
	}
	if r.externalId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalId", r.externalId, "form", "")
	}
	if r.externalId2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalId2", r.externalId2, "form", "")
	}
	if r.externalGroupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalGroupId", r.externalGroupId, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.metaData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metaData", r.metaData, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteListingRequest struct {
	ctx context.Context
	ApiService *ListingAPIService
	accountId *int64
	listingId *int64
}

// the id of the logged in user
func (r ApiDeleteListingRequest) AccountId(accountId int64) ApiDeleteListingRequest {
	r.accountId = &accountId
	return r
}

// the id of the listing to delete
func (r ApiDeleteListingRequest) ListingId(listingId int64) ApiDeleteListingRequest {
	r.listingId = &listingId
	return r
}

func (r ApiDeleteListingRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteListingExecute(r)
}

/*
DeleteListing Delete Listing

Delete a listing.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteListingRequest
*/
func (a *ListingAPIService) DeleteListing(ctx context.Context) ApiDeleteListingRequest {
	return ApiDeleteListingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *ListingAPIService) DeleteListingExecute(r ApiDeleteListingRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ListingAPIService.DeleteListing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/listing/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.listingId == nil {
		return localVarReturnValue, nil, reportError("listingId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "listingId", r.listingId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetListingRequest struct {
	ctx context.Context
	ApiService *ListingAPIService
	listingId *int64
}

// the id of the listing to get
func (r ApiGetListingRequest) ListingId(listingId int64) ApiGetListingRequest {
	r.listingId = &listingId
	return r
}

func (r ApiGetListingRequest) Execute() (*ListingFullResponse, *http.Response, error) {
	return r.ApiService.GetListingExecute(r)
}

/*
GetListing Get Listing

Get a listing by id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetListingRequest
*/
func (a *ListingAPIService) GetListing(ctx context.Context) ApiGetListingRequest {
	return ApiGetListingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListingFullResponse
func (a *ListingAPIService) GetListingExecute(r ApiGetListingRequest) (*ListingFullResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListingFullResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ListingAPIService.GetListing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/listing/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.listingId == nil {
		return localVarReturnValue, nil, reportError("listingId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "listingId", r.listingId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchListingRequest struct {
	ctx context.Context
	ApiService *ListingAPIService
	accountId *int64
	keyword *string
	start *int32
	limit *int32
	activeOnly *bool
	latitude *float64
	longitude *float64
	startDate *int64
	endDate *int64
	categoryIds *string
	filterIds *string
	useListingOrderIds *bool
	externalId *string
	externalId2 *string
	externalGroupId *string
}

// the account id of the user
func (r ApiSearchListingRequest) AccountId(accountId int64) ApiSearchListingRequest {
	r.accountId = &accountId
	return r
}

// search the event name and description for this keyword
func (r ApiSearchListingRequest) Keyword(keyword string) ApiSearchListingRequest {
	r.keyword = &keyword
	return r
}

// the record to begin the return set on
func (r ApiSearchListingRequest) Start(start int32) ApiSearchListingRequest {
	r.start = &start
	return r
}

// the number of records to return
func (r ApiSearchListingRequest) Limit(limit int32) ApiSearchListingRequest {
	r.limit = &limit
	return r
}

// whether to search on active listings only
func (r ApiSearchListingRequest) ActiveOnly(activeOnly bool) ApiSearchListingRequest {
	r.activeOnly = &activeOnly
	return r
}

// the current latitude of the user
func (r ApiSearchListingRequest) Latitude(latitude float64) ApiSearchListingRequest {
	r.latitude = &latitude
	return r
}

// the current longitude of the user
func (r ApiSearchListingRequest) Longitude(longitude float64) ApiSearchListingRequest {
	r.longitude = &longitude
	return r
}

// the start date to search from
func (r ApiSearchListingRequest) StartDate(startDate int64) ApiSearchListingRequest {
	r.startDate = &startDate
	return r
}

// the end date to search to
func (r ApiSearchListingRequest) EndDate(endDate int64) ApiSearchListingRequest {
	r.endDate = &endDate
	return r
}

// only return items of these categories
func (r ApiSearchListingRequest) CategoryIds(categoryIds string) ApiSearchListingRequest {
	r.categoryIds = &categoryIds
	return r
}

// 
func (r ApiSearchListingRequest) FilterIds(filterIds string) ApiSearchListingRequest {
	r.filterIds = &filterIds
	return r
}

// determines whether to use configured listing order ids
func (r ApiSearchListingRequest) UseListingOrderIds(useListingOrderIds bool) ApiSearchListingRequest {
	r.useListingOrderIds = &useListingOrderIds
	return r
}

// external identifier used by a third party
func (r ApiSearchListingRequest) ExternalId(externalId string) ApiSearchListingRequest {
	r.externalId = &externalId
	return r
}

// secondary external identifier used by a third party
func (r ApiSearchListingRequest) ExternalId2(externalId2 string) ApiSearchListingRequest {
	r.externalId2 = &externalId2
	return r
}

// external group identifier used by a third party
func (r ApiSearchListingRequest) ExternalGroupId(externalGroupId string) ApiSearchListingRequest {
	r.externalGroupId = &externalGroupId
	return r
}

func (r ApiSearchListingRequest) Execute() ([]ListingResponse, *http.Response, error) {
	return r.ApiService.SearchListingExecute(r)
}

/*
SearchListing Search Listings

Search for event listings from the start time to end time

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchListingRequest
*/
func (a *ListingAPIService) SearchListing(ctx context.Context) ApiSearchListingRequest {
	return ApiSearchListingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ListingResponse
func (a *ListingAPIService) SearchListingExecute(r ApiSearchListingRequest) ([]ListingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ListingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ListingAPIService.SearchListing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/listing/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", defaultValue, "form", "")
		r.start = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.activeOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", r.activeOnly, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", defaultValue, "form", "")
		r.activeOnly = &defaultValue
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.categoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categoryIds", r.categoryIds, "form", "")
	}
	if r.filterIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filterIds", r.filterIds, "form", "")
	}
	if r.useListingOrderIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useListingOrderIds", r.useListingOrderIds, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "useListingOrderIds", defaultValue, "form", "")
		r.useListingOrderIds = &defaultValue
	}
	if r.externalId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalId", r.externalId, "form", "")
	}
	if r.externalId2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalId2", r.externalId2, "form", "")
	}
	if r.externalGroupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalGroupId", r.externalGroupId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSummaryListingRequest struct {
	ctx context.Context
	ApiService *ListingAPIService
	accountId *int64
	startDate *int64
	categoryIds *string
	daysToInclude *int32
	useListingOrderIds *bool
}

// the account id of the user
func (r ApiSummaryListingRequest) AccountId(accountId int64) ApiSummaryListingRequest {
	r.accountId = &accountId
	return r
}

// the start date to search from
func (r ApiSummaryListingRequest) StartDate(startDate int64) ApiSummaryListingRequest {
	r.startDate = &startDate
	return r
}

// the list of categories to search on
func (r ApiSummaryListingRequest) CategoryIds(categoryIds string) ApiSummaryListingRequest {
	r.categoryIds = &categoryIds
	return r
}

// how far out to search, in days
func (r ApiSummaryListingRequest) DaysToInclude(daysToInclude int32) ApiSummaryListingRequest {
	r.daysToInclude = &daysToInclude
	return r
}

// determines whether to use configured listing order ids
func (r ApiSummaryListingRequest) UseListingOrderIds(useListingOrderIds bool) ApiSummaryListingRequest {
	r.useListingOrderIds = &useListingOrderIds
	return r
}

func (r ApiSummaryListingRequest) Execute() ([]ListingGroupResponse, *http.Response, error) {
	return r.ApiService.SummaryListingExecute(r)
}

/*
SummaryListing Summary Listing

Search for a list of summary listings from the start time up to 8 days out.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSummaryListingRequest
*/
func (a *ListingAPIService) SummaryListing(ctx context.Context) ApiSummaryListingRequest {
	return ApiSummaryListingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ListingGroupResponse
func (a *ListingAPIService) SummaryListingExecute(r ApiSummaryListingRequest) ([]ListingGroupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ListingGroupResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ListingAPIService.SummaryListing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/listing/summary"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.categoryIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categoryIds", r.categoryIds, "form", "")
	}
	if r.daysToInclude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "daysToInclude", r.daysToInclude, "form", "")
	} else {
		var defaultValue int32 = 15
		parameterAddToHeaderOrQuery(localVarQueryParams, "daysToInclude", defaultValue, "form", "")
		r.daysToInclude = &defaultValue
	}
	if r.useListingOrderIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useListingOrderIds", r.useListingOrderIds, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "useListingOrderIds", defaultValue, "form", "")
		r.useListingOrderIds = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateListingRequest struct {
	ctx context.Context
	ApiService *ListingAPIService
	accountId *int64
	listingId *int64
	filterIds *string
	name *string
	description *string
	start *int64
	end *int64
	locationName *string
	locationDescription *string
	isPrivate *bool
	externalId *string
	externalId2 *string
	externalGroupId *string
	active *bool
	metaData *string
}

// the user&#39;s account ID
func (r ApiUpdateListingRequest) AccountId(accountId int64) ApiUpdateListingRequest {
	r.accountId = &accountId
	return r
}

// the listing to update
func (r ApiUpdateListingRequest) ListingId(listingId int64) ApiUpdateListingRequest {
	r.listingId = &listingId
	return r
}

// comma separated list of filter IDs
func (r ApiUpdateListingRequest) FilterIds(filterIds string) ApiUpdateListingRequest {
	r.filterIds = &filterIds
	return r
}

// the name of the listing
func (r ApiUpdateListingRequest) Name(name string) ApiUpdateListingRequest {
	r.name = &name
	return r
}

// the description of the listing
func (r ApiUpdateListingRequest) Description(description string) ApiUpdateListingRequest {
	r.description = &description
	return r
}

// the start date of the listing
func (r ApiUpdateListingRequest) Start(start int64) ApiUpdateListingRequest {
	r.start = &start
	return r
}

// the end date of the listing
func (r ApiUpdateListingRequest) End(end int64) ApiUpdateListingRequest {
	r.end = &end
	return r
}

// the name of the location the listing will be held at
func (r ApiUpdateListingRequest) LocationName(locationName string) ApiUpdateListingRequest {
	r.locationName = &locationName
	return r
}

// the description of the location the listing will be held at
func (r ApiUpdateListingRequest) LocationDescription(locationDescription string) ApiUpdateListingRequest {
	r.locationDescription = &locationDescription
	return r
}

// determines whether the listing is public or private
func (r ApiUpdateListingRequest) IsPrivate(isPrivate bool) ApiUpdateListingRequest {
	r.isPrivate = &isPrivate
	return r
}

// external identifier used by a third party
func (r ApiUpdateListingRequest) ExternalId(externalId string) ApiUpdateListingRequest {
	r.externalId = &externalId
	return r
}

// secondary external identifier used by a third party
func (r ApiUpdateListingRequest) ExternalId2(externalId2 string) ApiUpdateListingRequest {
	r.externalId2 = &externalId2
	return r
}

// external group identifier used by a third party
func (r ApiUpdateListingRequest) ExternalGroupId(externalGroupId string) ApiUpdateListingRequest {
	r.externalGroupId = &externalGroupId
	return r
}

// Sets the active flag
func (r ApiUpdateListingRequest) Active(active bool) ApiUpdateListingRequest {
	r.active = &active
	return r
}

// external custom client defined data
func (r ApiUpdateListingRequest) MetaData(metaData string) ApiUpdateListingRequest {
	r.metaData = &metaData
	return r
}

func (r ApiUpdateListingRequest) Execute() (*ListingFullResponse, *http.Response, error) {
	return r.ApiService.UpdateListingExecute(r)
}

/*
UpdateListing Update Listing

Updates a listing.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateListingRequest
*/
func (a *ListingAPIService) UpdateListing(ctx context.Context) ApiUpdateListingRequest {
	return ApiUpdateListingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ListingFullResponse
func (a *ListingAPIService) UpdateListingExecute(r ApiUpdateListingRequest) (*ListingFullResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListingFullResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ListingAPIService.UpdateListing")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/listing/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.listingId == nil {
		return localVarReturnValue, nil, reportError("listingId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "listingId", r.listingId, "form", "")
	if r.filterIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filterIds", r.filterIds, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.end != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end", r.end, "form", "")
	}
	if r.locationName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationName", r.locationName, "form", "")
	}
	if r.locationDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationDescription", r.locationDescription, "form", "")
	}
	if r.isPrivate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isPrivate", r.isPrivate, "form", "")
	}
	if r.externalId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalId", r.externalId, "form", "")
	}
	if r.externalId2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalId2", r.externalId2, "form", "")
	}
	if r.externalGroupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalGroupId", r.externalGroupId, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.metaData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "metaData", r.metaData, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
