/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PathingAPIService PathingAPI service
type PathingAPIService service

type ApiComputePathRequest struct {
	ctx context.Context
	ApiService *PathingAPIService
	data *string
	units *string
	reducePath *bool
	directions *bool
}

// the data to with start, end point and exclusion points
func (r ApiComputePathRequest) Data(data string) ApiComputePathRequest {
	r.data = &data
	return r
}

// the system of measurement for directions: {METRIC, IMPERIAL}
func (r ApiComputePathRequest) Units(units string) ApiComputePathRequest {
	r.units = &units
	return r
}

// determines whether to reduce the path to go in diagonal lines
func (r ApiComputePathRequest) ReducePath(reducePath bool) ApiComputePathRequest {
	r.reducePath = &reducePath
	return r
}

// determines whether to return text directions
func (r ApiComputePathRequest) Directions(directions bool) ApiComputePathRequest {
	r.directions = &directions
	return r
}

func (r ApiComputePathRequest) Execute() (*PathingResponse, *http.Response, error) {
	return r.ApiService.ComputePathExecute(r)
}

/*
ComputePath Calculate Path

Calculates the shortest path from point to point on a grid

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiComputePathRequest
*/
func (a *PathingAPIService) ComputePath(ctx context.Context) ApiComputePathRequest {
	return ApiComputePathRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PathingResponse
func (a *PathingAPIService) ComputePathExecute(r ApiComputePathRequest) (*PathingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PathingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PathingAPIService.ComputePath")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/pathing/compute"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}
	if r.units == nil {
		return localVarReturnValue, nil, reportError("units is required and must be specified")
	}
	if r.reducePath == nil {
		return localVarReturnValue, nil, reportError("reducePath is required and must be specified")
	}
	if r.directions == nil {
		return localVarReturnValue, nil, reportError("directions is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "data", r.data, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "units", r.units, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "reducePath", r.reducePath, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "directions", r.directions, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
