/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// QuestionAPIService QuestionAPI service
type QuestionAPIService service

type ApiCreateQuestionRequest struct {
	ctx context.Context
	ApiService *QuestionAPIService
	accountId *int64
	question *string
	answers *string
	active *bool
	allocateTickets *bool
	ticketCount *int64
	tags *string
	videoURL *string
	assetId *int64
	ticketType *string
	points *int64
}

// the id of the logged in user
func (r ApiCreateQuestionRequest) AccountId(accountId int64) ApiCreateQuestionRequest {
	r.accountId = &accountId
	return r
}

// the text of the question
func (r ApiCreateQuestionRequest) Question(question string) ApiCreateQuestionRequest {
	r.question = &question
	return r
}

// &#x60;&#x60;&#x60;json [   {     \&quot;text\&quot;: \&quot;1942\&quot;,     \&quot;image\&quot;: 123,     \&quot;videoURL\&quot;: \&quot;http://www.here.com\&quot;,     \&quot;correct\&quot;: true   },   {     \&quot;text\&quot;: \&quot;1943\&quot;,     \&quot;image\&quot;: 124,     \&quot;videoURL\&quot;: \&quot;http://www.there.com\&quot;,     \&quot;correct\&quot;: false   } ] &#x60;&#x60;&#x60; 
func (r ApiCreateQuestionRequest) Answers(answers string) ApiCreateQuestionRequest {
	r.answers = &answers
	return r
}

// If true set the question to active. Default to false.
func (r ApiCreateQuestionRequest) Active(active bool) ApiCreateQuestionRequest {
	r.active = &active
	return r
}

// If true then scoring will give tickets. Default to false.
func (r ApiCreateQuestionRequest) AllocateTickets(allocateTickets bool) ApiCreateQuestionRequest {
	r.allocateTickets = &allocateTickets
	return r
}

// The number of tickets to reward
func (r ApiCreateQuestionRequest) TicketCount(ticketCount int64) ApiCreateQuestionRequest {
	r.ticketCount = &ticketCount
	return r
}

// The tags of the question for search.
func (r ApiCreateQuestionRequest) Tags(tags string) ApiCreateQuestionRequest {
	r.tags = &tags
	return r
}

// The video link for the question.
func (r ApiCreateQuestionRequest) VideoURL(videoURL string) ApiCreateQuestionRequest {
	r.videoURL = &videoURL
	return r
}

// The asset id of the question.
func (r ApiCreateQuestionRequest) AssetId(assetId int64) ApiCreateQuestionRequest {
	r.assetId = &assetId
	return r
}

// The type of ticket to reward, null means default type
func (r ApiCreateQuestionRequest) TicketType(ticketType string) ApiCreateQuestionRequest {
	r.ticketType = &ticketType
	return r
}

// The number of points to award for completing a mission
func (r ApiCreateQuestionRequest) Points(points int64) ApiCreateQuestionRequest {
	r.points = &points
	return r
}

func (r ApiCreateQuestionRequest) Execute() (*QuestionResponse, *http.Response, error) {
	return r.ApiService.CreateQuestionExecute(r)
}

/*
CreateQuestion Create Question

Create a question and related answers by the given params.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateQuestionRequest
*/
func (a *QuestionAPIService) CreateQuestion(ctx context.Context) ApiCreateQuestionRequest {
	return ApiCreateQuestionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return QuestionResponse
func (a *QuestionAPIService) CreateQuestionExecute(r ApiCreateQuestionRequest) (*QuestionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QuestionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuestionAPIService.CreateQuestion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/game/question/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.question == nil {
		return localVarReturnValue, nil, reportError("question is required and must be specified")
	}
	if r.answers == nil {
		return localVarReturnValue, nil, reportError("answers is required and must be specified")
	}
	if r.active == nil {
		return localVarReturnValue, nil, reportError("active is required and must be specified")
	}
	if r.allocateTickets == nil {
		return localVarReturnValue, nil, reportError("allocateTickets is required and must be specified")
	}
	if r.ticketCount == nil {
		return localVarReturnValue, nil, reportError("ticketCount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "question", r.question, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "answers", r.answers, "form", "")
	if r.tags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags", r.tags, "form", "")
	}
	if r.videoURL != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "videoURL", r.videoURL, "form", "")
	}
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetId", r.assetId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "allocateTickets", r.allocateTickets, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "ticketCount", r.ticketCount, "form", "")
	if r.ticketType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ticketType", r.ticketType, "form", "")
	}
	if r.points != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "points", r.points, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteQuestionRequest struct {
	ctx context.Context
	ApiService *QuestionAPIService
	questionId *int64
	accountId *int64
}

// the id of the question to delete
func (r ApiDeleteQuestionRequest) QuestionId(questionId int64) ApiDeleteQuestionRequest {
	r.questionId = &questionId
	return r
}

// the id of the account that can execute this request
func (r ApiDeleteQuestionRequest) AccountId(accountId int64) ApiDeleteQuestionRequest {
	r.accountId = &accountId
	return r
}

func (r ApiDeleteQuestionRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteQuestionExecute(r)
}

/*
DeleteQuestion Delete Question

Delete a question by the given questionId. The accountId given needs to be the owner or executive to delete.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteQuestionRequest
*/
func (a *QuestionAPIService) DeleteQuestion(ctx context.Context) ApiDeleteQuestionRequest {
	return ApiDeleteQuestionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *QuestionAPIService) DeleteQuestionExecute(r ApiDeleteQuestionRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuestionAPIService.DeleteQuestion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/game/question/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.questionId == nil {
		return localVarReturnValue, nil, reportError("questionId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "questionId", r.questionId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetQuestionRequest struct {
	ctx context.Context
	ApiService *QuestionAPIService
	questionId *int64
	accountId *int64
}

// the id of the question to get
func (r ApiGetQuestionRequest) QuestionId(questionId int64) ApiGetQuestionRequest {
	r.questionId = &questionId
	return r
}

// the id of the account that can make this request
func (r ApiGetQuestionRequest) AccountId(accountId int64) ApiGetQuestionRequest {
	r.accountId = &accountId
	return r
}

func (r ApiGetQuestionRequest) Execute() (*QuestionResponse, *http.Response, error) {
	return r.ApiService.GetQuestionExecute(r)
}

/*
GetQuestion Get Question

Get a question by the given id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetQuestionRequest
*/
func (a *QuestionAPIService) GetQuestion(ctx context.Context) ApiGetQuestionRequest {
	return ApiGetQuestionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return QuestionResponse
func (a *QuestionAPIService) GetQuestionExecute(r ApiGetQuestionRequest) (*QuestionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QuestionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuestionAPIService.GetQuestion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/game/question/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.questionId == nil {
		return localVarReturnValue, nil, reportError("questionId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "questionId", r.questionId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchQuestionsRequest struct {
	ctx context.Context
	ApiService *QuestionAPIService
	accountId *int64
	sortField *string
	descending *bool
	activeOnly *bool
	start *int32
	limit *int32
	keyword *string
}

// The logged in user.
func (r ApiSearchQuestionsRequest) AccountId(accountId int64) ApiSearchQuestionsRequest {
	r.accountId = &accountId
	return r
}

// The column to sort the search on
func (r ApiSearchQuestionsRequest) SortField(sortField string) ApiSearchQuestionsRequest {
	r.sortField = &sortField
	return r
}

// The order to return the search results
func (r ApiSearchQuestionsRequest) Descending(descending bool) ApiSearchQuestionsRequest {
	r.descending = &descending
	return r
}

// Return only active results if set to true.
func (r ApiSearchQuestionsRequest) ActiveOnly(activeOnly bool) ApiSearchQuestionsRequest {
	r.activeOnly = &activeOnly
	return r
}

// The record to begin the return set on.
func (r ApiSearchQuestionsRequest) Start(start int32) ApiSearchQuestionsRequest {
	r.start = &start
	return r
}

// The number of records to return.
func (r ApiSearchQuestionsRequest) Limit(limit int32) ApiSearchQuestionsRequest {
	r.limit = &limit
	return r
}

// The keyword for searching questions with matching tags or question text.
func (r ApiSearchQuestionsRequest) Keyword(keyword string) ApiSearchQuestionsRequest {
	r.keyword = &keyword
	return r
}

func (r ApiSearchQuestionsRequest) Execute() ([]QuestionResponse, *http.Response, error) {
	return r.ApiService.SearchQuestionsExecute(r)
}

/*
SearchQuestions Search Questions

Search for questions by the given params.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchQuestionsRequest
*/
func (a *QuestionAPIService) SearchQuestions(ctx context.Context) ApiSearchQuestionsRequest {
	return ApiSearchQuestionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []QuestionResponse
func (a *QuestionAPIService) SearchQuestionsExecute(r ApiSearchQuestionsRequest) ([]QuestionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []QuestionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuestionAPIService.SearchQuestions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/game/question/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.sortField == nil {
		return localVarReturnValue, nil, reportError("sortField is required and must be specified")
	}
	if r.descending == nil {
		return localVarReturnValue, nil, reportError("descending is required and must be specified")
	}
	if r.activeOnly == nil {
		return localVarReturnValue, nil, reportError("activeOnly is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", r.activeOnly, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateQuestionRequest struct {
	ctx context.Context
	ApiService *QuestionAPIService
	questionId *int64
	accountId *int64
	ticketCount *int64
	question *string
	answers *string
	tags *string
	videoURL *string
	assetId *int64
	active *bool
	allocateTickets *bool
	ticketType *string
	points *int64
}

// The id of the question to update.
func (r ApiUpdateQuestionRequest) QuestionId(questionId int64) ApiUpdateQuestionRequest {
	r.questionId = &questionId
	return r
}

// The logged in user.
func (r ApiUpdateQuestionRequest) AccountId(accountId int64) ApiUpdateQuestionRequest {
	r.accountId = &accountId
	return r
}

// The number of tickets to reward
func (r ApiUpdateQuestionRequest) TicketCount(ticketCount int64) ApiUpdateQuestionRequest {
	r.ticketCount = &ticketCount
	return r
}

// The text of the question.
func (r ApiUpdateQuestionRequest) Question(question string) ApiUpdateQuestionRequest {
	r.question = &question
	return r
}

// The json representations of answers for the question.
func (r ApiUpdateQuestionRequest) Answers(answers string) ApiUpdateQuestionRequest {
	r.answers = &answers
	return r
}

// The tags of the question for search.
func (r ApiUpdateQuestionRequest) Tags(tags string) ApiUpdateQuestionRequest {
	r.tags = &tags
	return r
}

// The video link for the question.
func (r ApiUpdateQuestionRequest) VideoURL(videoURL string) ApiUpdateQuestionRequest {
	r.videoURL = &videoURL
	return r
}

// The asset id of the question.
func (r ApiUpdateQuestionRequest) AssetId(assetId int64) ApiUpdateQuestionRequest {
	r.assetId = &assetId
	return r
}

// If true set the question to active.
func (r ApiUpdateQuestionRequest) Active(active bool) ApiUpdateQuestionRequest {
	r.active = &active
	return r
}

// If true then scoring will give tickets.
func (r ApiUpdateQuestionRequest) AllocateTickets(allocateTickets bool) ApiUpdateQuestionRequest {
	r.allocateTickets = &allocateTickets
	return r
}

// The type of ticket to reward, null means default type
func (r ApiUpdateQuestionRequest) TicketType(ticketType string) ApiUpdateQuestionRequest {
	r.ticketType = &ticketType
	return r
}

// The number of points to award for completing a mission
func (r ApiUpdateQuestionRequest) Points(points int64) ApiUpdateQuestionRequest {
	r.points = &points
	return r
}

func (r ApiUpdateQuestionRequest) Execute() (*QuestionResponse, *http.Response, error) {
	return r.ApiService.UpdateQuestionExecute(r)
}

/*
UpdateQuestion Update Question

Update a question and related answers.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateQuestionRequest
*/
func (a *QuestionAPIService) UpdateQuestion(ctx context.Context) ApiUpdateQuestionRequest {
	return ApiUpdateQuestionRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return QuestionResponse
func (a *QuestionAPIService) UpdateQuestionExecute(r ApiUpdateQuestionRequest) (*QuestionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *QuestionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "QuestionAPIService.UpdateQuestion")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/game/question/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.questionId == nil {
		return localVarReturnValue, nil, reportError("questionId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.ticketCount == nil {
		return localVarReturnValue, nil, reportError("ticketCount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "questionId", r.questionId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.question != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "question", r.question, "form", "")
	}
	if r.answers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "answers", r.answers, "form", "")
	}
	if r.tags != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tags", r.tags, "form", "")
	}
	if r.videoURL != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "videoURL", r.videoURL, "form", "")
	}
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetId", r.assetId, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.allocateTickets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allocateTickets", r.allocateTickets, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "ticketCount", r.ticketCount, "form", "")
	if r.ticketType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ticketType", r.ticketType, "form", "")
	}
	if r.points != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "points", r.points, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
