/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// BidAPIService BidAPI service
type BidAPIService service

type ApiCreateBidRequest struct {
	ctx context.Context
	ApiService *BidAPIService
	biddableType *string
	biddableId *int64
	amountPerView *float64
	amountPerAction *float64
	budgetAmount *float64
	budgetSchedule *string
	deviceId *string
	accountId *int64
}

// A biddable object type. Possible values include: CREATIVE (ads).
func (r ApiCreateBidRequest) BiddableType(biddableType string) ApiCreateBidRequest {
	r.biddableType = &biddableType
	return r
}

// The id of the biddable object
func (r ApiCreateBidRequest) BiddableId(biddableId int64) ApiCreateBidRequest {
	r.biddableId = &biddableId
	return r
}

// The bid amount for views. For ads, this is the amount that will be taken for each impression.
func (r ApiCreateBidRequest) AmountPerView(amountPerView float64) ApiCreateBidRequest {
	r.amountPerView = &amountPerView
	return r
}

// The bid amount for actions. For ads, this is the amount that will be taken for each click.
func (r ApiCreateBidRequest) AmountPerAction(amountPerAction float64) ApiCreateBidRequest {
	r.amountPerAction = &amountPerAction
	return r
}

// The allocated budget amount that will be used
func (r ApiCreateBidRequest) BudgetAmount(budgetAmount float64) ApiCreateBidRequest {
	r.budgetAmount = &budgetAmount
	return r
}

// The schedule for when the allocated budget amount is reset
func (r ApiCreateBidRequest) BudgetSchedule(budgetSchedule string) ApiCreateBidRequest {
	r.budgetSchedule = &budgetSchedule
	return r
}

// The device id (deviceId or accountId required)
func (r ApiCreateBidRequest) DeviceId(deviceId string) ApiCreateBidRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiCreateBidRequest) AccountId(accountId int64) ApiCreateBidRequest {
	r.accountId = &accountId
	return r
}

func (r ApiCreateBidRequest) Execute() (*BidResponse, *http.Response, error) {
	return r.ApiService.CreateBidExecute(r)
}

/*
CreateBid Create Bid

Creates a bid on a biddable object

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateBidRequest
*/
func (a *BidAPIService) CreateBid(ctx context.Context) ApiCreateBidRequest {
	return ApiCreateBidRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BidResponse
func (a *BidAPIService) CreateBidExecute(r ApiCreateBidRequest) (*BidResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BidResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BidAPIService.CreateBid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/bid/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.biddableType == nil {
		return localVarReturnValue, nil, reportError("biddableType is required and must be specified")
	}
	if r.biddableId == nil {
		return localVarReturnValue, nil, reportError("biddableId is required and must be specified")
	}
	if r.amountPerView == nil {
		return localVarReturnValue, nil, reportError("amountPerView is required and must be specified")
	}
	if r.amountPerAction == nil {
		return localVarReturnValue, nil, reportError("amountPerAction is required and must be specified")
	}
	if r.budgetAmount == nil {
		return localVarReturnValue, nil, reportError("budgetAmount is required and must be specified")
	}
	if r.budgetSchedule == nil {
		return localVarReturnValue, nil, reportError("budgetSchedule is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "biddableType", r.biddableType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "biddableId", r.biddableId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "amountPerView", r.amountPerView, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "amountPerAction", r.amountPerAction, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "budgetAmount", r.budgetAmount, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "budgetSchedule", r.budgetSchedule, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteBidRequest struct {
	ctx context.Context
	ApiService *BidAPIService
	bidId *int64
	deviceId *string
	accountId *int64
}

// The bid id
func (r ApiDeleteBidRequest) BidId(bidId int64) ApiDeleteBidRequest {
	r.bidId = &bidId
	return r
}

// The device id (deviceId or accountId required)
func (r ApiDeleteBidRequest) DeviceId(deviceId string) ApiDeleteBidRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiDeleteBidRequest) AccountId(accountId int64) ApiDeleteBidRequest {
	r.accountId = &accountId
	return r
}

func (r ApiDeleteBidRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteBidExecute(r)
}

/*
DeleteBid Delete Bid

Deleted a bid on a biddable object

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteBidRequest
*/
func (a *BidAPIService) DeleteBid(ctx context.Context) ApiDeleteBidRequest {
	return ApiDeleteBidRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *BidAPIService) DeleteBidExecute(r ApiDeleteBidRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BidAPIService.DeleteBid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/bid/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bidId == nil {
		return localVarReturnValue, nil, reportError("bidId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "bidId", r.bidId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBidRequest struct {
	ctx context.Context
	ApiService *BidAPIService
	bidId *int64
	deviceId *string
	accountId *int64
}

// The bid id
func (r ApiGetBidRequest) BidId(bidId int64) ApiGetBidRequest {
	r.bidId = &bidId
	return r
}

// The device id (deviceId or accountId required)
func (r ApiGetBidRequest) DeviceId(deviceId string) ApiGetBidRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiGetBidRequest) AccountId(accountId int64) ApiGetBidRequest {
	r.accountId = &accountId
	return r
}

func (r ApiGetBidRequest) Execute() (*BidResponse, *http.Response, error) {
	return r.ApiService.GetBidExecute(r)
}

/*
GetBid Get Bid

Get the bid details of a biddable object

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetBidRequest
*/
func (a *BidAPIService) GetBid(ctx context.Context) ApiGetBidRequest {
	return ApiGetBidRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BidResponse
func (a *BidAPIService) GetBidExecute(r ApiGetBidRequest) (*BidResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BidResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BidAPIService.GetBid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/bid/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bidId == nil {
		return localVarReturnValue, nil, reportError("bidId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "bidId", r.bidId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateBidRequest struct {
	ctx context.Context
	ApiService *BidAPIService
	bidId *int64
	deviceId *string
	accountId *int64
	amountPerView *float64
	amountPerAction *float64
	budgetAmount *float64
	budgetSchedule *string
}

// The bid id
func (r ApiUpdateBidRequest) BidId(bidId int64) ApiUpdateBidRequest {
	r.bidId = &bidId
	return r
}

// The device id (deviceId or accountId required)
func (r ApiUpdateBidRequest) DeviceId(deviceId string) ApiUpdateBidRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiUpdateBidRequest) AccountId(accountId int64) ApiUpdateBidRequest {
	r.accountId = &accountId
	return r
}

// The bid amount for views. For ads, this is the amount that will be taken for each impression.
func (r ApiUpdateBidRequest) AmountPerView(amountPerView float64) ApiUpdateBidRequest {
	r.amountPerView = &amountPerView
	return r
}

// The bid amount for actions. For ads, this is the amount that will be taken for each click.
func (r ApiUpdateBidRequest) AmountPerAction(amountPerAction float64) ApiUpdateBidRequest {
	r.amountPerAction = &amountPerAction
	return r
}

// The allocated budget amount that will be used
func (r ApiUpdateBidRequest) BudgetAmount(budgetAmount float64) ApiUpdateBidRequest {
	r.budgetAmount = &budgetAmount
	return r
}

// The schedule for when the allocated budget amount is reset
func (r ApiUpdateBidRequest) BudgetSchedule(budgetSchedule string) ApiUpdateBidRequest {
	r.budgetSchedule = &budgetSchedule
	return r
}

func (r ApiUpdateBidRequest) Execute() (*BidResponse, *http.Response, error) {
	return r.ApiService.UpdateBidExecute(r)
}

/*
UpdateBid Update Bid

Updates a bid on a biddable object

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateBidRequest
*/
func (a *BidAPIService) UpdateBid(ctx context.Context) ApiUpdateBidRequest {
	return ApiUpdateBidRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return BidResponse
func (a *BidAPIService) UpdateBidExecute(r ApiUpdateBidRequest) (*BidResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BidResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BidAPIService.UpdateBid")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/bid/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bidId == nil {
		return localVarReturnValue, nil, reportError("bidId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "bidId", r.bidId, "form", "")
	if r.amountPerView != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amountPerView", r.amountPerView, "form", "")
	}
	if r.amountPerAction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "amountPerAction", r.amountPerAction, "form", "")
	}
	if r.budgetAmount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "budgetAmount", r.budgetAmount, "form", "")
	}
	if r.budgetSchedule != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "budgetSchedule", r.budgetSchedule, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
