/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RankingAPIService RankingAPI service
type RankingAPIService service

type ApiGetHistoricalRankingsRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	version float32
	appKey *string
	rankType *string
	startDate *int64
	endDate *int64
	deviceId *string
	accountId *int64
	sortField *string
	descending *bool
	start *int32
	limit *int32
}

// the application key for filtering results by application
func (r ApiGetHistoricalRankingsRequest) AppKey(appKey string) ApiGetHistoricalRankingsRequest {
	r.appKey = &appKey
	return r
}

// the rank type to return
func (r ApiGetHistoricalRankingsRequest) RankType(rankType string) ApiGetHistoricalRankingsRequest {
	r.rankType = &rankType
	return r
}

// timestamp in milliseconds to filter results with
func (r ApiGetHistoricalRankingsRequest) StartDate(startDate int64) ApiGetHistoricalRankingsRequest {
	r.startDate = &startDate
	return r
}

// timestamp in milliseconds to filter results with
func (r ApiGetHistoricalRankingsRequest) EndDate(endDate int64) ApiGetHistoricalRankingsRequest {
	r.endDate = &endDate
	return r
}

// a unique id given by the device (deviceId or accountId required)
func (r ApiGetHistoricalRankingsRequest) DeviceId(deviceId string) ApiGetHistoricalRankingsRequest {
	r.deviceId = &deviceId
	return r
}

// the account id of the user
func (r ApiGetHistoricalRankingsRequest) AccountId(accountId int64) ApiGetHistoricalRankingsRequest {
	r.accountId = &accountId
	return r
}

// determines how to order and rank the results. Possible values include: TOTAL, MONTHLY, WEEKLY, DAILY, TOP, LOWEST
func (r ApiGetHistoricalRankingsRequest) SortField(sortField string) ApiGetHistoricalRankingsRequest {
	r.sortField = &sortField
	return r
}

// determines whether to return results in ascending or descending order
func (r ApiGetHistoricalRankingsRequest) Descending(descending bool) ApiGetHistoricalRankingsRequest {
	r.descending = &descending
	return r
}

// the start index for pagination
func (r ApiGetHistoricalRankingsRequest) Start(start int32) ApiGetHistoricalRankingsRequest {
	r.start = &start
	return r
}

// the limit for pagination
func (r ApiGetHistoricalRankingsRequest) Limit(limit int32) ApiGetHistoricalRankingsRequest {
	r.limit = &limit
	return r
}

func (r ApiGetHistoricalRankingsRequest) Execute() (*RankFullResponse, *http.Response, error) {
	return r.ApiService.GetHistoricalRankingsExecute(r)
}

/*
GetHistoricalRankings Search Historical Rankings

Get historical leaderboard rankings by time-frame.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetHistoricalRankingsRequest
*/
func (a *RankingAPIService) GetHistoricalRankings(ctx context.Context, version float32) ApiGetHistoricalRankingsRequest {
	return ApiGetHistoricalRankingsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return RankFullResponse
func (a *RankingAPIService) GetHistoricalRankingsExecute(r ApiGetHistoricalRankingsRequest) (*RankFullResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RankFullResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetHistoricalRankings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/ranking/historical/search"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}
	if r.rankType == nil {
		return localVarReturnValue, nil, reportError("rankType is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, reportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "rankType", r.rankType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	} else {
		var defaultValue string = "TOTAL"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", defaultValue, "form", "")
		r.sortField = &defaultValue
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", defaultValue, "form", "")
		r.descending = &defaultValue
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", defaultValue, "form", "")
		r.start = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRankingsRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	version float32
	deviceId *string
	accountId *int64
	gameType *string
	appKey *string
	q *string
	keyword *string
	rankType *string
	leaderboardMode *string
	withinAccountIds *string
	returnUserRank *bool
	albumId *int64
	audienceId *int64
	sortField *string
	descending *bool
	i *int32
	start *int32
	l *int32
	limit *int32
}

// a unique id given by the device (deviceId or accountId required)
func (r ApiGetRankingsRequest) DeviceId(deviceId string) ApiGetRankingsRequest {
	r.deviceId = &deviceId
	return r
}

// the account id of the user (deviceId or accountId required)
func (r ApiGetRankingsRequest) AccountId(accountId int64) ApiGetRankingsRequest {
	r.accountId = &accountId
	return r
}

// This parameter is deprecated.
func (r ApiGetRankingsRequest) GameType(gameType string) ApiGetRankingsRequest {
	r.gameType = &gameType
	return r
}

// the application key for filtering results by application (required for non-EXECUTIVE users)
func (r ApiGetRankingsRequest) AppKey(appKey string) ApiGetRankingsRequest {
	r.appKey = &appKey
	return r
}

// This parameter is deprecated.
func (r ApiGetRankingsRequest) Q(q string) ApiGetRankingsRequest {
	r.q = &q
	return r
}

// keyword to search for
func (r ApiGetRankingsRequest) Keyword(keyword string) ApiGetRankingsRequest {
	r.keyword = &keyword
	return r
}

// a comma separated list of rank types to return. Possible default rank types: POINTS, DOWNLOADS, INVITATIONS
func (r ApiGetRankingsRequest) RankType(rankType string) ApiGetRankingsRequest {
	r.rankType = &rankType
	return r
}

// the type of search to perform. Possible values include: GLOBAL - searches scores globally (all users in the system are included in the ranking) LOCAL - filters results by select users and on users that have logged into the same device CUSTOM - allows for custom filtering using the params: withinAccountIds, albumId, audienceId
func (r ApiGetRankingsRequest) LeaderboardMode(leaderboardMode string) ApiGetRankingsRequest {
	r.leaderboardMode = &leaderboardMode
	return r
}

// comma separated list of account ids. If performing a LOCAL or CUSTOM search, the query will include these accounts.
func (r ApiGetRankingsRequest) WithinAccountIds(withinAccountIds string) ApiGetRankingsRequest {
	r.withinAccountIds = &withinAccountIds
	return r
}

// determines whether to return the user&#39;s current rank in the response. This can be turned off for sequential paginated requests.
func (r ApiGetRankingsRequest) ReturnUserRank(returnUserRank bool) ApiGetRankingsRequest {
	r.returnUserRank = &returnUserRank
	return r
}

// album id to use when performing CUSTOM filters
func (r ApiGetRankingsRequest) AlbumId(albumId int64) ApiGetRankingsRequest {
	r.albumId = &albumId
	return r
}

// audience id to use when performing CUSTOM filters
func (r ApiGetRankingsRequest) AudienceId(audienceId int64) ApiGetRankingsRequest {
	r.audienceId = &audienceId
	return r
}

// determines how to order and rank the results. Possible values include: TOTAL - order results by total score MONTHLY - order results by monthly score WEEKLY - order results by weekly score DAILY - order results by daily score TOP - order results by top score LOWEST - order results by lowest score
func (r ApiGetRankingsRequest) SortField(sortField string) ApiGetRankingsRequest {
	r.sortField = &sortField
	return r
}

// determines whether to return results in ascending or descending order
func (r ApiGetRankingsRequest) Descending(descending bool) ApiGetRankingsRequest {
	r.descending = &descending
	return r
}

// This parameter is deprecated.
func (r ApiGetRankingsRequest) I(i int32) ApiGetRankingsRequest {
	r.i = &i
	return r
}

// the start index for pagination
func (r ApiGetRankingsRequest) Start(start int32) ApiGetRankingsRequest {
	r.start = &start
	return r
}

// This parameter is deprecated.
func (r ApiGetRankingsRequest) L(l int32) ApiGetRankingsRequest {
	r.l = &l
	return r
}

// the limit for pagination
func (r ApiGetRankingsRequest) Limit(limit int32) ApiGetRankingsRequest {
	r.limit = &limit
	return r
}

func (r ApiGetRankingsRequest) Execute() (*RankFullResponse, *http.Response, error) {
	return r.ApiService.GetRankingsExecute(r)
}

/*
GetRankings Search Rankings

Get leader board rankings. This is an all in one endpoint that can return multiple ranking types and also the current user rank.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetRankingsRequest
*/
func (a *RankingAPIService) GetRankings(ctx context.Context, version float32) ApiGetRankingsRequest {
	return ApiGetRankingsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return RankFullResponse
func (a *RankingAPIService) GetRankingsExecute(r ApiGetRankingsRequest) (*RankFullResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RankFullResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetRankings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/ranking/search"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.gameType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gameType", r.gameType, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.rankType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rankType", r.rankType, "form", "")
	} else {
		var defaultValue string = "POINTS,DOWNLOADS,INVITATIONS"
		parameterAddToHeaderOrQuery(localVarQueryParams, "rankType", defaultValue, "form", "")
		r.rankType = &defaultValue
	}
	if r.leaderboardMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leaderboardMode", r.leaderboardMode, "form", "")
	} else {
		var defaultValue string = "GLOBAL"
		parameterAddToHeaderOrQuery(localVarQueryParams, "leaderboardMode", defaultValue, "form", "")
		r.leaderboardMode = &defaultValue
	}
	if r.withinAccountIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withinAccountIds", r.withinAccountIds, "form", "")
	}
	if r.returnUserRank != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnUserRank", r.returnUserRank, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnUserRank", defaultValue, "form", "")
		r.returnUserRank = &defaultValue
	}
	if r.albumId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "albumId", r.albumId, "form", "")
	}
	if r.audienceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "audienceId", r.audienceId, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	} else {
		var defaultValue string = "TOTAL"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", defaultValue, "form", "")
		r.sortField = &defaultValue
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", defaultValue, "form", "")
		r.descending = &defaultValue
	}
	if r.i != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_i", r.i, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", defaultValue, "form", "")
		r.start = &defaultValue
	}
	if r.l != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_l", r.l, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetUserRankRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	version float32
	deviceId *string
	accountId *int64
	appKey *string
	rankType *string
	returnUserRank *bool
	leaderboardMode *string
	sortField *string
	keyword *string
	descending *bool
	start *int32
	limit *int32
}

// a unique id given by the device (deviceId or accountId required)
func (r ApiGetUserRankRequest) DeviceId(deviceId string) ApiGetUserRankRequest {
	r.deviceId = &deviceId
	return r
}

// the account id of the user
func (r ApiGetUserRankRequest) AccountId(accountId int64) ApiGetUserRankRequest {
	r.accountId = &accountId
	return r
}

// the application key for filtering results by application (required)
func (r ApiGetUserRankRequest) AppKey(appKey string) ApiGetUserRankRequest {
	r.appKey = &appKey
	return r
}

// pass in all rankTypes and children rankTypes
func (r ApiGetUserRankRequest) RankType(rankType string) ApiGetUserRankRequest {
	r.rankType = &rankType
	return r
}

// determines whether to return the user&#39;s current rank in the response, for each rankType
func (r ApiGetUserRankRequest) ReturnUserRank(returnUserRank bool) ApiGetUserRankRequest {
	r.returnUserRank = &returnUserRank
	return r
}

// the type of search to perform. Possible values include: GLOBAL, LOCAL, SEARCH, CUSTOM
func (r ApiGetUserRankRequest) LeaderboardMode(leaderboardMode string) ApiGetUserRankRequest {
	r.leaderboardMode = &leaderboardMode
	return r
}

// determines how to order and rank the results. Possible values include: TOTAL, MONTHLY, WEEKLY, DAILY, TOP, LOWEST
func (r ApiGetUserRankRequest) SortField(sortField string) ApiGetUserRankRequest {
	r.sortField = &sortField
	return r
}

// keyword to search for (on rankType)
func (r ApiGetUserRankRequest) Keyword(keyword string) ApiGetUserRankRequest {
	r.keyword = &keyword
	return r
}

// determines whether to return results in descending order
func (r ApiGetUserRankRequest) Descending(descending bool) ApiGetUserRankRequest {
	r.descending = &descending
	return r
}

// the start index for pagination
func (r ApiGetUserRankRequest) Start(start int32) ApiGetUserRankRequest {
	r.start = &start
	return r
}

// the limit for pagination
func (r ApiGetUserRankRequest) Limit(limit int32) ApiGetUserRankRequest {
	r.limit = &limit
	return r
}

func (r ApiGetUserRankRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.GetUserRankExecute(r)
}

/*
GetUserRank Get Personal Rankings

Returns the user's ranks for one or more rank types and modes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetUserRankRequest
*/
func (a *RankingAPIService) GetUserRank(ctx context.Context, version float32) ApiGetUserRankRequest {
	return ApiGetUserRankRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *RankingAPIService) GetUserRankExecute(r ApiGetUserRankRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.GetUserRank")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/ranking/personal/ranks"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.rankType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rankType", r.rankType, "form", "")
	}
	if r.returnUserRank != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnUserRank", r.returnUserRank, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnUserRank", defaultValue, "form", "")
		r.returnUserRank = &defaultValue
	}
	if r.leaderboardMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "leaderboardMode", r.leaderboardMode, "form", "")
	} else {
		var defaultValue string = "GLOBAL"
		parameterAddToHeaderOrQuery(localVarQueryParams, "leaderboardMode", defaultValue, "form", "")
		r.leaderboardMode = &defaultValue
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	} else {
		var defaultValue string = "TOTAL"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", defaultValue, "form", "")
		r.sortField = &defaultValue
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", defaultValue, "form", "")
		r.descending = &defaultValue
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", defaultValue, "form", "")
		r.start = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 100
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOverrideUserRankRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	version float32
	accountId *int64
	ownerAccountId *int64
	appKey *string
	rankType *string
	totalScore *int64
	totalCount *int64
	totalTime *int64
	dailyScore *int64
	dailyCount *int64
	dailyTime *int64
	weeklyScore *int64
	weeklyCount *int64
	weeklyTime *int64
	monthlyScore *int64
	monthlyCount *int64
	monthlyTime *int64
	topScore *int64
	lowestScore *int64
	streakCount *int64
	streakBestCount *int64
	startDate *int64
	endDate *int64
}

// the logged in user&#39;s account id (must have permissions to manage data for the application)
func (r ApiOverrideUserRankRequest) AccountId(accountId int64) ApiOverrideUserRankRequest {
	r.accountId = &accountId
	return r
}

// the end user&#39;s account id to override
func (r ApiOverrideUserRankRequest) OwnerAccountId(ownerAccountId int64) ApiOverrideUserRankRequest {
	r.ownerAccountId = &ownerAccountId
	return r
}

// the application key the leaderboard is for
func (r ApiOverrideUserRankRequest) AppKey(appKey string) ApiOverrideUserRankRequest {
	r.appKey = &appKey
	return r
}

// the rankType of the leaderboard
func (r ApiOverrideUserRankRequest) RankType(rankType string) ApiOverrideUserRankRequest {
	r.rankType = &rankType
	return r
}

// the total score to update
func (r ApiOverrideUserRankRequest) TotalScore(totalScore int64) ApiOverrideUserRankRequest {
	r.totalScore = &totalScore
	return r
}

// the total count to update
func (r ApiOverrideUserRankRequest) TotalCount(totalCount int64) ApiOverrideUserRankRequest {
	r.totalCount = &totalCount
	return r
}

// the total time to update
func (r ApiOverrideUserRankRequest) TotalTime(totalTime int64) ApiOverrideUserRankRequest {
	r.totalTime = &totalTime
	return r
}

// the daily score to update
func (r ApiOverrideUserRankRequest) DailyScore(dailyScore int64) ApiOverrideUserRankRequest {
	r.dailyScore = &dailyScore
	return r
}

// the daily count to update
func (r ApiOverrideUserRankRequest) DailyCount(dailyCount int64) ApiOverrideUserRankRequest {
	r.dailyCount = &dailyCount
	return r
}

// the daily time to update
func (r ApiOverrideUserRankRequest) DailyTime(dailyTime int64) ApiOverrideUserRankRequest {
	r.dailyTime = &dailyTime
	return r
}

// the weekly score to update
func (r ApiOverrideUserRankRequest) WeeklyScore(weeklyScore int64) ApiOverrideUserRankRequest {
	r.weeklyScore = &weeklyScore
	return r
}

// the weekly count to update
func (r ApiOverrideUserRankRequest) WeeklyCount(weeklyCount int64) ApiOverrideUserRankRequest {
	r.weeklyCount = &weeklyCount
	return r
}

// the weekly time to update
func (r ApiOverrideUserRankRequest) WeeklyTime(weeklyTime int64) ApiOverrideUserRankRequest {
	r.weeklyTime = &weeklyTime
	return r
}

// the monthly score to update
func (r ApiOverrideUserRankRequest) MonthlyScore(monthlyScore int64) ApiOverrideUserRankRequest {
	r.monthlyScore = &monthlyScore
	return r
}

// the monthly count to update
func (r ApiOverrideUserRankRequest) MonthlyCount(monthlyCount int64) ApiOverrideUserRankRequest {
	r.monthlyCount = &monthlyCount
	return r
}

// the monthly time to update
func (r ApiOverrideUserRankRequest) MonthlyTime(monthlyTime int64) ApiOverrideUserRankRequest {
	r.monthlyTime = &monthlyTime
	return r
}

// the top score to update
func (r ApiOverrideUserRankRequest) TopScore(topScore int64) ApiOverrideUserRankRequest {
	r.topScore = &topScore
	return r
}

// the lowest score to update
func (r ApiOverrideUserRankRequest) LowestScore(lowestScore int64) ApiOverrideUserRankRequest {
	r.lowestScore = &lowestScore
	return r
}

// the streak count to update
func (r ApiOverrideUserRankRequest) StreakCount(streakCount int64) ApiOverrideUserRankRequest {
	r.streakCount = &streakCount
	return r
}

// the best streak count to update
func (r ApiOverrideUserRankRequest) StreakBestCount(streakBestCount int64) ApiOverrideUserRankRequest {
	r.streakBestCount = &streakBestCount
	return r
}

// the start date to update
func (r ApiOverrideUserRankRequest) StartDate(startDate int64) ApiOverrideUserRankRequest {
	r.startDate = &startDate
	return r
}

// the end date to update
func (r ApiOverrideUserRankRequest) EndDate(endDate int64) ApiOverrideUserRankRequest {
	r.endDate = &endDate
	return r
}

func (r ApiOverrideUserRankRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.OverrideUserRankExecute(r)
}

/*
OverrideUserRank Override User Rank

Allows an admin of an application to override a user's scores for a leaderboard.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiOverrideUserRankRequest
*/
func (a *RankingAPIService) OverrideUserRank(ctx context.Context, version float32) ApiOverrideUserRankRequest {
	return ApiOverrideUserRankRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *RankingAPIService) OverrideUserRankExecute(r ApiOverrideUserRankRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.OverrideUserRank")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/ranking/override"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.ownerAccountId == nil {
		return localVarReturnValue, nil, reportError("ownerAccountId is required and must be specified")
	}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}
	if r.rankType == nil {
		return localVarReturnValue, nil, reportError("rankType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "ownerAccountId", r.ownerAccountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "rankType", r.rankType, "form", "")
	if r.totalScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "totalScore", r.totalScore, "form", "")
	}
	if r.totalCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "totalCount", r.totalCount, "form", "")
	}
	if r.totalTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "totalTime", r.totalTime, "form", "")
	}
	if r.dailyScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dailyScore", r.dailyScore, "form", "")
	}
	if r.dailyCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dailyCount", r.dailyCount, "form", "")
	}
	if r.dailyTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dailyTime", r.dailyTime, "form", "")
	}
	if r.weeklyScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "weeklyScore", r.weeklyScore, "form", "")
	}
	if r.weeklyCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "weeklyCount", r.weeklyCount, "form", "")
	}
	if r.weeklyTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "weeklyTime", r.weeklyTime, "form", "")
	}
	if r.monthlyScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "monthlyScore", r.monthlyScore, "form", "")
	}
	if r.monthlyCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "monthlyCount", r.monthlyCount, "form", "")
	}
	if r.monthlyTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "monthlyTime", r.monthlyTime, "form", "")
	}
	if r.topScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "topScore", r.topScore, "form", "")
	}
	if r.lowestScore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lowestScore", r.lowestScore, "form", "")
	}
	if r.streakCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "streakCount", r.streakCount, "form", "")
	}
	if r.streakBestCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "streakBestCount", r.streakBestCount, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateRankingsRequest struct {
	ctx context.Context
	ApiService *RankingAPIService
	version float32
	accountId *int64
	appKey *string
	rankType *string
	increment *int64
	timeIncrement *int64
	tag *string
	startDate *int64
	endDate *int64
	updateGlobal *bool
	createLeaderboard *bool
}

// the account id of the user
func (r ApiUpdateRankingsRequest) AccountId(accountId int64) ApiUpdateRankingsRequest {
	r.accountId = &accountId
	return r
}

// the application key for filtering results by application
func (r ApiUpdateRankingsRequest) AppKey(appKey string) ApiUpdateRankingsRequest {
	r.appKey = &appKey
	return r
}

// a unique label for identifying the ranking. This can be any alphanumeric string (no spaces or special characters) with a maximum length of 64 characters. There are also default rank types to use which include: POINTS, DOWNLOADS, INVITATIONS, CREATIONS, VOTES, REDEEMED, ACTIONS
func (r ApiUpdateRankingsRequest) RankType(rankType string) ApiUpdateRankingsRequest {
	r.rankType = &rankType
	return r
}

// the value to increment
func (r ApiUpdateRankingsRequest) Increment(increment int64) ApiUpdateRankingsRequest {
	r.increment = &increment
	return r
}

// the time value to increment
func (r ApiUpdateRankingsRequest) TimeIncrement(timeIncrement int64) ApiUpdateRankingsRequest {
	r.timeIncrement = &timeIncrement
	return r
}

// the analytic tag for this achievement (used to validate scores)
func (r ApiUpdateRankingsRequest) Tag(tag string) ApiUpdateRankingsRequest {
	r.tag = &tag
	return r
}

// custom date you can save along with the score for the user
func (r ApiUpdateRankingsRequest) StartDate(startDate int64) ApiUpdateRankingsRequest {
	r.startDate = &startDate
	return r
}

// custom date you can save along with the score for the user
func (r ApiUpdateRankingsRequest) EndDate(endDate int64) ApiUpdateRankingsRequest {
	r.endDate = &endDate
	return r
}

// update the global rankings if true, default is false
func (r ApiUpdateRankingsRequest) UpdateGlobal(updateGlobal bool) ApiUpdateRankingsRequest {
	r.updateGlobal = &updateGlobal
	return r
}

// create the leaderboard if it does not exist (default false)
func (r ApiUpdateRankingsRequest) CreateLeaderboard(createLeaderboard bool) ApiUpdateRankingsRequest {
	r.createLeaderboard = &createLeaderboard
	return r
}

func (r ApiUpdateRankingsRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.UpdateRankingsExecute(r)
}

/*
UpdateRankings Update Ranking

Update the rank value 

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiUpdateRankingsRequest
*/
func (a *RankingAPIService) UpdateRankings(ctx context.Context, version float32) ApiUpdateRankingsRequest {
	return ApiUpdateRankingsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *RankingAPIService) UpdateRankingsExecute(r ApiUpdateRankingsRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RankingAPIService.UpdateRankings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/ranking/update"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}
	if r.rankType == nil {
		return localVarReturnValue, nil, reportError("rankType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "rankType", r.rankType, "form", "")
	if r.increment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "increment", r.increment, "form", "")
	} else {
		var defaultValue int64 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "increment", defaultValue, "form", "")
		r.increment = &defaultValue
	}
	if r.timeIncrement != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeIncrement", r.timeIncrement, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.updateGlobal != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updateGlobal", r.updateGlobal, "form", "")
	}
	if r.createLeaderboard != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createLeaderboard", r.createLeaderboard, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "createLeaderboard", defaultValue, "form", "")
		r.createLeaderboard = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
