/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// SecureAppAPIService SecureAppAPI service
type SecureAppAPIService service

type ApiCreateSecureApplicationRequest struct {
	ctx context.Context
	ApiService *SecureAppAPIService
	accountId *int64
	appKey *string
	keyCert *os.File
	trustStore *os.File
	username *string
	password *string
	active *bool
	biometricType *string
	biometricPosition *string
	biometricPosition2 *string
}

// The unique id of the user making the request
func (r ApiCreateSecureApplicationRequest) AccountId(accountId int64) ApiCreateSecureApplicationRequest {
	r.accountId = &accountId
	return r
}

// The application to secure
func (r ApiCreateSecureApplicationRequest) AppKey(appKey string) ApiCreateSecureApplicationRequest {
	r.appKey = &appKey
	return r
}

// 
func (r ApiCreateSecureApplicationRequest) KeyCert(keyCert *os.File) ApiCreateSecureApplicationRequest {
	r.keyCert = keyCert
	return r
}

// 
func (r ApiCreateSecureApplicationRequest) TrustStore(trustStore *os.File) ApiCreateSecureApplicationRequest {
	r.trustStore = trustStore
	return r
}

// 
func (r ApiCreateSecureApplicationRequest) Username(username string) ApiCreateSecureApplicationRequest {
	r.username = &username
	return r
}

// 
func (r ApiCreateSecureApplicationRequest) Password(password string) ApiCreateSecureApplicationRequest {
	r.password = &password
	return r
}

// 
func (r ApiCreateSecureApplicationRequest) Active(active bool) ApiCreateSecureApplicationRequest {
	r.active = &active
	return r
}

// The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL
func (r ApiCreateSecureApplicationRequest) BiometricType(biometricType string) ApiCreateSecureApplicationRequest {
	r.biometricType = &biometricType
	return r
}

// The position for the biometric file uploaded
func (r ApiCreateSecureApplicationRequest) BiometricPosition(biometricPosition string) ApiCreateSecureApplicationRequest {
	r.biometricPosition = &biometricPosition
	return r
}

// The position for each the biometric2 file uploaded
func (r ApiCreateSecureApplicationRequest) BiometricPosition2(biometricPosition2 string) ApiCreateSecureApplicationRequest {
	r.biometricPosition2 = &biometricPosition2
	return r
}

func (r ApiCreateSecureApplicationRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.CreateSecureApplicationExecute(r)
}

/*
CreateSecureApplication Create Secure Application

Create a secure application record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSecureApplicationRequest
*/
func (a *SecureAppAPIService) CreateSecureApplication(ctx context.Context) ApiCreateSecureApplicationRequest {
	return ApiCreateSecureApplicationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *SecureAppAPIService) CreateSecureApplicationExecute(r ApiCreateSecureApplicationRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecureAppAPIService.CreateSecureApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/secure/application/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}
	if r.keyCert == nil {
		return localVarReturnValue, nil, reportError("keyCert is required and must be specified")
	}
	if r.trustStore == nil {
		return localVarReturnValue, nil, reportError("trustStore is required and must be specified")
	}
	if r.username == nil {
		return localVarReturnValue, nil, reportError("username is required and must be specified")
	}
	if r.password == nil {
		return localVarReturnValue, nil, reportError("password is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", defaultValue, "form", "")
		r.active = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "keyCert", r.keyCert, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "trustStore", r.trustStore, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "username", r.username, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "password", r.password, "form", "")
	if r.biometricType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricType", r.biometricType, "form", "")
	} else {
		var defaultValue string = "FACIAL"
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricType", defaultValue, "form", "")
		r.biometricType = &defaultValue
	}
	if r.biometricPosition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricPosition", r.biometricPosition, "form", "")
	} else {
		var defaultValue string = "UNKNOWN"
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricPosition", defaultValue, "form", "")
		r.biometricPosition = &defaultValue
	}
	if r.biometricPosition2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricPosition2", r.biometricPosition2, "form", "")
	} else {
		var defaultValue string = "UNKNOWN"
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricPosition2", defaultValue, "form", "")
		r.biometricPosition2 = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteSecureApplicationRequest struct {
	ctx context.Context
	ApiService *SecureAppAPIService
	accountId *int64
	appKey *string
}

// The unique id of the user making the request
func (r ApiDeleteSecureApplicationRequest) AccountId(accountId int64) ApiDeleteSecureApplicationRequest {
	r.accountId = &accountId
	return r
}

// The application to secure
func (r ApiDeleteSecureApplicationRequest) AppKey(appKey string) ApiDeleteSecureApplicationRequest {
	r.appKey = &appKey
	return r
}

func (r ApiDeleteSecureApplicationRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteSecureApplicationExecute(r)
}

/*
DeleteSecureApplication Delete Secure Application

Delete a secure application record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteSecureApplicationRequest
*/
func (a *SecureAppAPIService) DeleteSecureApplication(ctx context.Context) ApiDeleteSecureApplicationRequest {
	return ApiDeleteSecureApplicationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *SecureAppAPIService) DeleteSecureApplicationExecute(r ApiDeleteSecureApplicationRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecureAppAPIService.DeleteSecureApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/secure/application/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiLoginSecureRequest struct {
	ctx context.Context
	ApiService *SecureAppAPIService
	appKey *string
	biometricFile *os.File
	deviceId *string
	biometricFile2 *os.File
	ageRestriction *int32
	returnProfile *bool
	responseFilters *string
	latitude *float64
	longitude *float64
}

// The application making the request, defines what type and position is required to make a secure login the request.
func (r ApiLoginSecureRequest) AppKey(appKey string) ApiLoginSecureRequest {
	r.appKey = &appKey
	return r
}

// The data file used to perform authentication
func (r ApiLoginSecureRequest) BiometricFile(biometricFile *os.File) ApiLoginSecureRequest {
	r.biometricFile = biometricFile
	return r
}

// The unique id of the device making the request
func (r ApiLoginSecureRequest) DeviceId(deviceId string) ApiLoginSecureRequest {
	r.deviceId = &deviceId
	return r
}

// The data file used to perform authentication
func (r ApiLoginSecureRequest) BiometricFile2(biometricFile2 *os.File) ApiLoginSecureRequest {
	r.biometricFile2 = biometricFile2
	return r
}

// Checks user&#39;s birthday to see if they meet an age requirement. If the user is under age, an error message is returned.
func (r ApiLoginSecureRequest) AgeRestriction(ageRestriction int32) ApiLoginSecureRequest {
	r.ageRestriction = &ageRestriction
	return r
}

// Determines whether to return a ProfileResponse on success, or a PaymentTypesResponse
func (r ApiLoginSecureRequest) ReturnProfile(returnProfile bool) ApiLoginSecureRequest {
	r.returnProfile = &returnProfile
	return r
}

// If returnProfile is set to true, this determines how much of the profile should be returned, see ProfileFilters
func (r ApiLoginSecureRequest) ResponseFilters(responseFilters string) ApiLoginSecureRequest {
	r.responseFilters = &responseFilters
	return r
}

// Used to update the user&#39;s current location
func (r ApiLoginSecureRequest) Latitude(latitude float64) ApiLoginSecureRequest {
	r.latitude = &latitude
	return r
}

// Used to update the user&#39;s current location
func (r ApiLoginSecureRequest) Longitude(longitude float64) ApiLoginSecureRequest {
	r.longitude = &longitude
	return r
}

func (r ApiLoginSecureRequest) Execute() (*ProfileResponse, *http.Response, error) {
	return r.ApiService.LoginSecureExecute(r)
}

/*
LoginSecure Login Clear

Login via Clear.me. Creates a new account if logging in for the first time.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiLoginSecureRequest
*/
func (a *SecureAppAPIService) LoginSecure(ctx context.Context) ApiLoginSecureRequest {
	return ApiLoginSecureRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ProfileResponse
func (a *SecureAppAPIService) LoginSecureExecute(r ApiLoginSecureRequest) (*ProfileResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProfileResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecureAppAPIService.LoginSecure")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/secure/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}
	if r.biometricFile == nil {
		return localVarReturnValue, nil, reportError("biometricFile is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "biometricFile", r.biometricFile, "form", "")
	if r.biometricFile2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricFile2", r.biometricFile2, "form", "")
	}
	if r.ageRestriction != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ageRestriction", r.ageRestriction, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "ageRestriction", defaultValue, "form", "")
		r.ageRestriction = &defaultValue
	}
	if r.returnProfile != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnProfile", r.returnProfile, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnProfile", defaultValue, "form", "")
		r.returnProfile = &defaultValue
	}
	if r.responseFilters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "responseFilters", r.responseFilters, "form", "")
	} else {
		var defaultValue string = "PROFILE"
		parameterAddToHeaderOrQuery(localVarQueryParams, "responseFilters", defaultValue, "form", "")
		r.responseFilters = &defaultValue
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseSecureRequest struct {
	ctx context.Context
	ApiService *SecureAppAPIService
	body *PaymentRequest
}

// The payment request object
func (r ApiPurchaseSecureRequest) Body(body PaymentRequest) ApiPurchaseSecureRequest {
	r.body = &body
	return r
}

func (r ApiPurchaseSecureRequest) Execute() (*ProfileResponse, *http.Response, error) {
	return r.ApiService.PurchaseSecureExecute(r)
}

/*
PurchaseSecure Purchase Clear

Purchase via Clear.me. Creates a new account if purchasing for the first time.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPurchaseSecureRequest
*/
func (a *SecureAppAPIService) PurchaseSecure(ctx context.Context) ApiPurchaseSecureRequest {
	return ApiPurchaseSecureRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ProfileResponse
func (a *SecureAppAPIService) PurchaseSecureExecute(r ApiPurchaseSecureRequest) (*ProfileResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProfileResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecureAppAPIService.PurchaseSecure")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/secure/purchase"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResetSecureRequest struct {
	ctx context.Context
	ApiService *SecureAppAPIService
	accountId *int64
	appKey *string
}

// The unique id of the user making the request
func (r ApiResetSecureRequest) AccountId(accountId int64) ApiResetSecureRequest {
	r.accountId = &accountId
	return r
}

// The application to secure
func (r ApiResetSecureRequest) AppKey(appKey string) ApiResetSecureRequest {
	r.appKey = &appKey
	return r
}

func (r ApiResetSecureRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.ResetSecureExecute(r)
}

/*
ResetSecure Rest Secure Application

Reset a secure application client.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiResetSecureRequest
*/
func (a *SecureAppAPIService) ResetSecure(ctx context.Context) ApiResetSecureRequest {
	return ApiResetSecureRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *SecureAppAPIService) ResetSecureExecute(r ApiResetSecureRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecureAppAPIService.ResetSecure")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/secure/application/reset"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateSecureApplicationRequest struct {
	ctx context.Context
	ApiService *SecureAppAPIService
	accountId *int64
	appKey *string
	active *bool
	keyCert *os.File
	trustStore *os.File
	username *string
	password *string
	biometricType *string
	biometricPosition *string
	biometricPosition2 *string
}

// The unique id of the user making the request
func (r ApiUpdateSecureApplicationRequest) AccountId(accountId int64) ApiUpdateSecureApplicationRequest {
	r.accountId = &accountId
	return r
}

// The application to secure
func (r ApiUpdateSecureApplicationRequest) AppKey(appKey string) ApiUpdateSecureApplicationRequest {
	r.appKey = &appKey
	return r
}

// 
func (r ApiUpdateSecureApplicationRequest) Active(active bool) ApiUpdateSecureApplicationRequest {
	r.active = &active
	return r
}

// 
func (r ApiUpdateSecureApplicationRequest) KeyCert(keyCert *os.File) ApiUpdateSecureApplicationRequest {
	r.keyCert = keyCert
	return r
}

// 
func (r ApiUpdateSecureApplicationRequest) TrustStore(trustStore *os.File) ApiUpdateSecureApplicationRequest {
	r.trustStore = trustStore
	return r
}

// 
func (r ApiUpdateSecureApplicationRequest) Username(username string) ApiUpdateSecureApplicationRequest {
	r.username = &username
	return r
}

// 
func (r ApiUpdateSecureApplicationRequest) Password(password string) ApiUpdateSecureApplicationRequest {
	r.password = &password
	return r
}

// The type of biometric, options are: - FINGERPRINT - IRIS - FACIAL
func (r ApiUpdateSecureApplicationRequest) BiometricType(biometricType string) ApiUpdateSecureApplicationRequest {
	r.biometricType = &biometricType
	return r
}

// The position for the biometric file uploaded
func (r ApiUpdateSecureApplicationRequest) BiometricPosition(biometricPosition string) ApiUpdateSecureApplicationRequest {
	r.biometricPosition = &biometricPosition
	return r
}

// The position for each the biometric2 file uploaded
func (r ApiUpdateSecureApplicationRequest) BiometricPosition2(biometricPosition2 string) ApiUpdateSecureApplicationRequest {
	r.biometricPosition2 = &biometricPosition2
	return r
}

func (r ApiUpdateSecureApplicationRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.UpdateSecureApplicationExecute(r)
}

/*
UpdateSecureApplication Update Secure Application

Update a secure application record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateSecureApplicationRequest
*/
func (a *SecureAppAPIService) UpdateSecureApplication(ctx context.Context) ApiUpdateSecureApplicationRequest {
	return ApiUpdateSecureApplicationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *SecureAppAPIService) UpdateSecureApplicationExecute(r ApiUpdateSecureApplicationRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SecureAppAPIService.UpdateSecureApplication")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/secure/application/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.keyCert != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyCert", r.keyCert, "form", "")
	}
	if r.trustStore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trustStore", r.trustStore, "form", "")
	}
	if r.username != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "username", r.username, "form", "")
	}
	if r.password != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "password", r.password, "form", "")
	}
	if r.biometricType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricType", r.biometricType, "form", "")
	}
	if r.biometricPosition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricPosition", r.biometricPosition, "form", "")
	}
	if r.biometricPosition2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "biometricPosition2", r.biometricPosition2, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
