/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// VehicleTypeAPIService VehicleTypeAPI service
type VehicleTypeAPIService service

type ApiCreateVehicleTypeRequest struct {
	ctx context.Context
	ApiService *VehicleTypeAPIService
	version float32
	vehicleType *string
	body *VehicleType
}

// A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
func (r ApiCreateVehicleTypeRequest) VehicleType(vehicleType string) ApiCreateVehicleTypeRequest {
	r.vehicleType = &vehicleType
	return r
}

func (r ApiCreateVehicleTypeRequest) Body(body VehicleType) ApiCreateVehicleTypeRequest {
	r.body = &body
	return r
}

func (r ApiCreateVehicleTypeRequest) Execute() (*VehicleType, *http.Response, error) {
	return r.ApiService.CreateVehicleTypeExecute(r)
}

/*
CreateVehicleType Create Vehicle Type

Create a new vehicle type

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiCreateVehicleTypeRequest
*/
func (a *VehicleTypeAPIService) CreateVehicleType(ctx context.Context, version float32) ApiCreateVehicleTypeRequest {
	return ApiCreateVehicleTypeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return VehicleType
func (a *VehicleTypeAPIService) CreateVehicleTypeExecute(r ApiCreateVehicleTypeRequest) (*VehicleType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VehicleType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VehicleTypeAPIService.CreateVehicleType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/vehicle/type"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vehicleType == nil {
		return localVarReturnValue, nil, reportError("vehicleType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "vehicleType", r.vehicleType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteVehicleTypeRequest struct {
	ctx context.Context
	ApiService *VehicleTypeAPIService
	version float32
	vehicleTypeId int64
}

func (r ApiDeleteVehicleTypeRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteVehicleTypeExecute(r)
}

/*
DeleteVehicleType Delete Vehicle Type

Delete a vehicle type

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @param vehicleTypeId The id of the requested vehicle type
 @return ApiDeleteVehicleTypeRequest
*/
func (a *VehicleTypeAPIService) DeleteVehicleType(ctx context.Context, version float32, vehicleTypeId int64) ApiDeleteVehicleTypeRequest {
	return ApiDeleteVehicleTypeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		vehicleTypeId: vehicleTypeId,
	}
}

// Execute executes the request
func (a *VehicleTypeAPIService) DeleteVehicleTypeExecute(r ApiDeleteVehicleTypeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VehicleTypeAPIService.DeleteVehicleType")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/vehicle/type/{vehicleTypeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vehicleTypeId"+"}", url.PathEscape(parameterValueToString(r.vehicleTypeId, "vehicleTypeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetVehicleTypeRequest struct {
	ctx context.Context
	ApiService *VehicleTypeAPIService
	version float32
	vehicleTypeId int64
}

func (r ApiGetVehicleTypeRequest) Execute() (*VehicleType, *http.Response, error) {
	return r.ApiService.GetVehicleTypeExecute(r)
}

/*
GetVehicleType Get Vehicle Type

Get a vehicle type

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @param vehicleTypeId The id of the requested vehicle type
 @return ApiGetVehicleTypeRequest
*/
func (a *VehicleTypeAPIService) GetVehicleType(ctx context.Context, version float32, vehicleTypeId int64) ApiGetVehicleTypeRequest {
	return ApiGetVehicleTypeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		vehicleTypeId: vehicleTypeId,
	}
}

// Execute executes the request
//  @return VehicleType
func (a *VehicleTypeAPIService) GetVehicleTypeExecute(r ApiGetVehicleTypeRequest) (*VehicleType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VehicleType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VehicleTypeAPIService.GetVehicleType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/vehicle/type/{vehicleTypeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vehicleTypeId"+"}", url.PathEscape(parameterValueToString(r.vehicleTypeId, "vehicleTypeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchVehicleTypesRequest struct {
	ctx context.Context
	ApiService *VehicleTypeAPIService
	version float32
	sortField *string
	descending *bool
	start *int32
	limit *int32
	activeOnly *bool
	retailerId *int64
	hubId *int64
}

// The field to sort by
func (r ApiSearchVehicleTypesRequest) SortField(sortField string) ApiSearchVehicleTypesRequest {
	r.sortField = &sortField
	return r
}

// Determines whether the sorted list is in descending or ascending order
func (r ApiSearchVehicleTypesRequest) Descending(descending bool) ApiSearchVehicleTypesRequest {
	r.descending = &descending
	return r
}

// The start index for pagination
func (r ApiSearchVehicleTypesRequest) Start(start int32) ApiSearchVehicleTypesRequest {
	r.start = &start
	return r
}

// The limit for pagination
func (r ApiSearchVehicleTypesRequest) Limit(limit int32) ApiSearchVehicleTypesRequest {
	r.limit = &limit
	return r
}

// Return only active results
func (r ApiSearchVehicleTypesRequest) ActiveOnly(activeOnly bool) ApiSearchVehicleTypesRequest {
	r.activeOnly = &activeOnly
	return r
}

// Filter by retailer
func (r ApiSearchVehicleTypesRequest) RetailerId(retailerId int64) ApiSearchVehicleTypesRequest {
	r.retailerId = &retailerId
	return r
}

// Filter by service hub
func (r ApiSearchVehicleTypesRequest) HubId(hubId int64) ApiSearchVehicleTypesRequest {
	r.hubId = &hubId
	return r
}

func (r ApiSearchVehicleTypesRequest) Execute() ([]VehicleType, *http.Response, error) {
	return r.ApiService.SearchVehicleTypesExecute(r)
}

/*
SearchVehicleTypes Search Vehicle Type

Search for types of vehicles

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiSearchVehicleTypesRequest
*/
func (a *VehicleTypeAPIService) SearchVehicleTypes(ctx context.Context, version float32) ApiSearchVehicleTypesRequest {
	return ApiSearchVehicleTypesRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return []VehicleType
func (a *VehicleTypeAPIService) SearchVehicleTypesExecute(r ApiSearchVehicleTypesRequest) ([]VehicleType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []VehicleType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VehicleTypeAPIService.SearchVehicleTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/vehicle/type"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sortField == nil {
		return localVarReturnValue, nil, reportError("sortField is required and must be specified")
	}
	if r.descending == nil {
		return localVarReturnValue, nil, reportError("descending is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}
	if r.activeOnly == nil {
		return localVarReturnValue, nil, reportError("activeOnly is required and must be specified")
	}

	if r.retailerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "retailerId", r.retailerId, "form", "")
	}
	if r.hubId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hubId", r.hubId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", r.activeOnly, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateVehicleTypeRequest struct {
	ctx context.Context
	ApiService *VehicleTypeAPIService
	version float32
	vehicleTypeId int64
	vehicleType *string
	body *VehicleType
}

// The new data for the vehicle type to update to. A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60; 
func (r ApiUpdateVehicleTypeRequest) VehicleType(vehicleType string) ApiUpdateVehicleTypeRequest {
	r.vehicleType = &vehicleType
	return r
}

func (r ApiUpdateVehicleTypeRequest) Body(body VehicleType) ApiUpdateVehicleTypeRequest {
	r.body = &body
	return r
}

func (r ApiUpdateVehicleTypeRequest) Execute() (*VehicleType, *http.Response, error) {
	return r.ApiService.UpdateVehicleTypeExecute(r)
}

/*
UpdateVehicleType Update Vehicle Type

Update a vehicle type

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @param vehicleTypeId The id of the vehicle type to update
 @return ApiUpdateVehicleTypeRequest
*/
func (a *VehicleTypeAPIService) UpdateVehicleType(ctx context.Context, version float32, vehicleTypeId int64) ApiUpdateVehicleTypeRequest {
	return ApiUpdateVehicleTypeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		vehicleTypeId: vehicleTypeId,
	}
}

// Execute executes the request
//  @return VehicleType
func (a *VehicleTypeAPIService) UpdateVehicleTypeExecute(r ApiUpdateVehicleTypeRequest) (*VehicleType, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *VehicleType
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "VehicleTypeAPIService.UpdateVehicleType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/vehicle/type/{vehicleTypeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"vehicleTypeId"+"}", url.PathEscape(parameterValueToString(r.vehicleTypeId, "vehicleTypeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.vehicleType == nil {
		return localVarReturnValue, nil, reportError("vehicleType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "vehicleType", r.vehicleType, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
