/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// PostalCodeAPIService PostalCodeAPI service
type PostalCodeAPIService service

type ApiCreatePostalCodeRequest struct {
	ctx context.Context
	ApiService *PostalCodeAPIService
	version float32
	accountId *int64
	code *string
	latitude *float64
	longitude *float64
	stateCode *string
	city *string
	active *bool
}

// the id of the logged in user
func (r ApiCreatePostalCodeRequest) AccountId(accountId int64) ApiCreatePostalCodeRequest {
	r.accountId = &accountId
	return r
}

// the postal code
func (r ApiCreatePostalCodeRequest) Code(code string) ApiCreatePostalCodeRequest {
	r.code = &code
	return r
}

// the latitude of the postal code
func (r ApiCreatePostalCodeRequest) Latitude(latitude float64) ApiCreatePostalCodeRequest {
	r.latitude = &latitude
	return r
}

// the longitude of the postal code
func (r ApiCreatePostalCodeRequest) Longitude(longitude float64) ApiCreatePostalCodeRequest {
	r.longitude = &longitude
	return r
}

// the state code (e.g WA, WV, WI) that the postal code is located
func (r ApiCreatePostalCodeRequest) StateCode(stateCode string) ApiCreatePostalCodeRequest {
	r.stateCode = &stateCode
	return r
}

// the city that the postal code is located
func (r ApiCreatePostalCodeRequest) City(city string) ApiCreatePostalCodeRequest {
	r.city = &city
	return r
}

// whether the postal code created should be active or inactive
func (r ApiCreatePostalCodeRequest) Active(active bool) ApiCreatePostalCodeRequest {
	r.active = &active
	return r
}

func (r ApiCreatePostalCodeRequest) Execute() (*PostalCodeResponse, *http.Response, error) {
	return r.ApiService.CreatePostalCodeExecute(r)
}

/*
CreatePostalCode Create Postal Code

Create a Postal Code

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiCreatePostalCodeRequest
*/
func (a *PostalCodeAPIService) CreatePostalCode(ctx context.Context, version float32) ApiCreatePostalCodeRequest {
	return ApiCreatePostalCodeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return PostalCodeResponse
func (a *PostalCodeAPIService) CreatePostalCodeExecute(r ApiCreatePostalCodeRequest) (*PostalCodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PostalCodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PostalCodeAPIService.CreatePostalCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/postalCode/create"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}
	if r.latitude == nil {
		return localVarReturnValue, nil, reportError("latitude is required and must be specified")
	}
	if r.longitude == nil {
		return localVarReturnValue, nil, reportError("longitude is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	if r.stateCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stateCode", r.stateCode, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeletePostalCodeRequest struct {
	ctx context.Context
	ApiService *PostalCodeAPIService
	version float32
	accountId *int64
	postalCodeId *int64
}

// the id of the logged in user
func (r ApiDeletePostalCodeRequest) AccountId(accountId int64) ApiDeletePostalCodeRequest {
	r.accountId = &accountId
	return r
}

// the id of the postal code to delete
func (r ApiDeletePostalCodeRequest) PostalCodeId(postalCodeId int64) ApiDeletePostalCodeRequest {
	r.postalCodeId = &postalCodeId
	return r
}

func (r ApiDeletePostalCodeRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeletePostalCodeExecute(r)
}

/*
DeletePostalCode Delete Postal Code

Delete a Postal Code

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiDeletePostalCodeRequest
*/
func (a *PostalCodeAPIService) DeletePostalCode(ctx context.Context, version float32) ApiDeletePostalCodeRequest {
	return ApiDeletePostalCodeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *PostalCodeAPIService) DeletePostalCodeExecute(r ApiDeletePostalCodeRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PostalCodeAPIService.DeletePostalCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/postalCode/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.postalCodeId == nil {
		return localVarReturnValue, nil, reportError("postalCodeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "postalCodeId", r.postalCodeId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPostalCodeRequest struct {
	ctx context.Context
	ApiService *PostalCodeAPIService
	version float32
	postalCodeId *int64
}

// the id of the postal code to get
func (r ApiGetPostalCodeRequest) PostalCodeId(postalCodeId int64) ApiGetPostalCodeRequest {
	r.postalCodeId = &postalCodeId
	return r
}

func (r ApiGetPostalCodeRequest) Execute() (*PostalCodeResponse, *http.Response, error) {
	return r.ApiService.GetPostalCodeExecute(r)
}

/*
GetPostalCode Get Postal Code

Get a Postal Code

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetPostalCodeRequest
*/
func (a *PostalCodeAPIService) GetPostalCode(ctx context.Context, version float32) ApiGetPostalCodeRequest {
	return ApiGetPostalCodeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return PostalCodeResponse
func (a *PostalCodeAPIService) GetPostalCodeExecute(r ApiGetPostalCodeRequest) (*PostalCodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PostalCodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PostalCodeAPIService.GetPostalCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/postalCode/get"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.postalCodeId == nil {
		return localVarReturnValue, nil, reportError("postalCodeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "postalCodeId", r.postalCodeId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetPostalCodesRequest struct {
	ctx context.Context
	ApiService *PostalCodeAPIService
	version float32
	sortField *string
	descending *bool
	latitude *float64
	longitude *float64
	keyword *string
	miles *float64
	start *int32
	limit *int32
}

// the field to sort the results on
func (r ApiGetPostalCodesRequest) SortField(sortField string) ApiGetPostalCodesRequest {
	r.sortField = &sortField
	return r
}

// whether to order results in ascending or descending order
func (r ApiGetPostalCodesRequest) Descending(descending bool) ApiGetPostalCodesRequest {
	r.descending = &descending
	return r
}

// the latitude of the postal code to search on
func (r ApiGetPostalCodesRequest) Latitude(latitude float64) ApiGetPostalCodesRequest {
	r.latitude = &latitude
	return r
}

// the longitude of the postal code to search on
func (r ApiGetPostalCodesRequest) Longitude(longitude float64) ApiGetPostalCodesRequest {
	r.longitude = &longitude
	return r
}

// the keyword of the postal code to search on
func (r ApiGetPostalCodesRequest) Keyword(keyword string) ApiGetPostalCodesRequest {
	r.keyword = &keyword
	return r
}

// how far (in miles) to search on for the postal code
func (r ApiGetPostalCodesRequest) Miles(miles float64) ApiGetPostalCodesRequest {
	r.miles = &miles
	return r
}

// the start of the index and/or pagination
func (r ApiGetPostalCodesRequest) Start(start int32) ApiGetPostalCodesRequest {
	r.start = &start
	return r
}

// the limit of the index and/or pagination
func (r ApiGetPostalCodesRequest) Limit(limit int32) ApiGetPostalCodesRequest {
	r.limit = &limit
	return r
}

func (r ApiGetPostalCodesRequest) Execute() ([]PostalCodeResponse, *http.Response, error) {
	return r.ApiService.GetPostalCodesExecute(r)
}

/*
GetPostalCodes Search Postal Codes

Get the list of regions. If latitude or longitude is null, will return all postal codes in the system with paginated response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetPostalCodesRequest
*/
func (a *PostalCodeAPIService) GetPostalCodes(ctx context.Context, version float32) ApiGetPostalCodesRequest {
	return ApiGetPostalCodesRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return []PostalCodeResponse
func (a *PostalCodeAPIService) GetPostalCodesExecute(r ApiGetPostalCodesRequest) ([]PostalCodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PostalCodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PostalCodeAPIService.GetPostalCodes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/postalCode/search"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sortField == nil {
		return localVarReturnValue, nil, reportError("sortField is required and must be specified")
	}
	if r.descending == nil {
		return localVarReturnValue, nil, reportError("descending is required and must be specified")
	}

	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.miles != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "miles", r.miles, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdatePostalCodeRequest struct {
	ctx context.Context
	ApiService *PostalCodeAPIService
	version float32
	accountId *int64
	postalCodeId *int64
	code *string
	latitude *float64
	longitude *float64
	stateCode *string
	city *string
	active *bool
}

// the id of the logged in user
func (r ApiUpdatePostalCodeRequest) AccountId(accountId int64) ApiUpdatePostalCodeRequest {
	r.accountId = &accountId
	return r
}

// the id of the postal code to update
func (r ApiUpdatePostalCodeRequest) PostalCodeId(postalCodeId int64) ApiUpdatePostalCodeRequest {
	r.postalCodeId = &postalCodeId
	return r
}

// the postal code to update
func (r ApiUpdatePostalCodeRequest) Code(code string) ApiUpdatePostalCodeRequest {
	r.code = &code
	return r
}

// the latitude of the postal code
func (r ApiUpdatePostalCodeRequest) Latitude(latitude float64) ApiUpdatePostalCodeRequest {
	r.latitude = &latitude
	return r
}

// the longitude of the postal code
func (r ApiUpdatePostalCodeRequest) Longitude(longitude float64) ApiUpdatePostalCodeRequest {
	r.longitude = &longitude
	return r
}

// the state code (e.g. WA, WI, WY) where the postal code is located
func (r ApiUpdatePostalCodeRequest) StateCode(stateCode string) ApiUpdatePostalCodeRequest {
	r.stateCode = &stateCode
	return r
}

// the city where the postal code is located
func (r ApiUpdatePostalCodeRequest) City(city string) ApiUpdatePostalCodeRequest {
	r.city = &city
	return r
}

// whether the postal code is active or inactive
func (r ApiUpdatePostalCodeRequest) Active(active bool) ApiUpdatePostalCodeRequest {
	r.active = &active
	return r
}

func (r ApiUpdatePostalCodeRequest) Execute() (*PostalCodeResponse, *http.Response, error) {
	return r.ApiService.UpdatePostalCodeExecute(r)
}

/*
UpdatePostalCode Update Postal Code

Update a Postal Code

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiUpdatePostalCodeRequest
*/
func (a *PostalCodeAPIService) UpdatePostalCode(ctx context.Context, version float32) ApiUpdatePostalCodeRequest {
	return ApiUpdatePostalCodeRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return PostalCodeResponse
func (a *PostalCodeAPIService) UpdatePostalCodeExecute(r ApiUpdatePostalCodeRequest) (*PostalCodeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PostalCodeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PostalCodeAPIService.UpdatePostalCode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/postalCode/update"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.postalCodeId == nil {
		return localVarReturnValue, nil, reportError("postalCodeId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "postalCodeId", r.postalCodeId, "form", "")
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	if r.stateCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "stateCode", r.stateCode, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
