/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// WorkflowAPIService WorkflowAPI service
type WorkflowAPIService service

type ApiRunWorkflowRequest struct {
	ctx context.Context
	ApiService *WorkflowAPIService
	accountId *int64
	workflowId *int64
	skuId *int64
	versionCode *int32
	parameters *string
}

// the account ID of the user
func (r ApiRunWorkflowRequest) AccountId(accountId int64) ApiRunWorkflowRequest {
	r.accountId = &accountId
	return r
}

// the workflow to run
func (r ApiRunWorkflowRequest) WorkflowId(workflowId int64) ApiRunWorkflowRequest {
	r.workflowId = &workflowId
	return r
}

// this runs a particular sku on the workflow
func (r ApiRunWorkflowRequest) SkuId(skuId int64) ApiRunWorkflowRequest {
	r.skuId = &skuId
	return r
}

// this runs a particular sku version on the workflow
func (r ApiRunWorkflowRequest) VersionCode(versionCode int32) ApiRunWorkflowRequest {
	r.versionCode = &versionCode
	return r
}

// Override parameters in JSON format. Example: &#x60;&#x60;&#x60;json {   \&quot;arguments_81\&quot;: { \&quot;filter\&quot;: \&quot;PUBLIC\&quot; },   \&quot;arguments_87\&quot;: { \&quot;tag\&quot;: \&quot;custom_tag\&quot; } } &#x60;&#x60;&#x60; 
func (r ApiRunWorkflowRequest) Parameters(parameters string) ApiRunWorkflowRequest {
	r.parameters = &parameters
	return r
}

func (r ApiRunWorkflowRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.RunWorkflowExecute(r)
}

/*
RunWorkflow Run Workflow

Runs a published executable workflow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRunWorkflowRequest
*/
func (a *WorkflowAPIService) RunWorkflow(ctx context.Context) ApiRunWorkflowRequest {
	return ApiRunWorkflowRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *WorkflowAPIService) RunWorkflowExecute(r ApiRunWorkflowRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WorkflowAPIService.RunWorkflow")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/workflow/run"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.workflowId == nil {
		return localVarReturnValue, nil, reportError("workflowId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "workflowId", r.workflowId, "form", "")
	if r.skuId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skuId", r.skuId, "form", "")
	}
	if r.versionCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "versionCode", r.versionCode, "form", "")
	}
	if r.parameters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parameters", r.parameters, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
