/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// FlagAPIService FlagAPI service
type FlagAPIService service

type ApiCreateFlagRequest struct {
	ctx context.Context
	ApiService *FlagAPIService
	version float32
	flagableType *string
	flagableId *int64
	deviceId *string
	accountId *int64
	flagDescription *string
	latitude *float64
	longitude *float64
}

// The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, NOTE, OFFER}
func (r ApiCreateFlagRequest) FlagableType(flagableType string) ApiCreateFlagRequest {
	r.flagableType = &flagableType
	return r
}

// The flagable object id
func (r ApiCreateFlagRequest) FlagableId(flagableId int64) ApiCreateFlagRequest {
	r.flagableId = &flagableId
	return r
}

// The unique device identifier that made the request (either deviceId or accountId must be used)
func (r ApiCreateFlagRequest) DeviceId(deviceId string) ApiCreateFlagRequest {
	r.deviceId = &deviceId
	return r
}

// The unique accountId that made the request (either deviceId or accountId must be used)
func (r ApiCreateFlagRequest) AccountId(accountId int64) ApiCreateFlagRequest {
	r.accountId = &accountId
	return r
}

// An optional description of why is it being flagged
func (r ApiCreateFlagRequest) FlagDescription(flagDescription string) ApiCreateFlagRequest {
	r.flagDescription = &flagDescription
	return r
}

// The current location of the user
func (r ApiCreateFlagRequest) Latitude(latitude float64) ApiCreateFlagRequest {
	r.latitude = &latitude
	return r
}

// The current location of the user
func (r ApiCreateFlagRequest) Longitude(longitude float64) ApiCreateFlagRequest {
	r.longitude = &longitude
	return r
}

func (r ApiCreateFlagRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.CreateFlagExecute(r)
}

/*
CreateFlag Create Flag

Allows a user to flag an object that the user deems inappropriate or offensive. Flagable objects include accounts, albums, album contests, assets, game levels, and theme descriptors

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiCreateFlagRequest
*/
func (a *FlagAPIService) CreateFlag(ctx context.Context, version float32) ApiCreateFlagRequest {
	return ApiCreateFlagRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *FlagAPIService) CreateFlagExecute(r ApiCreateFlagRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagAPIService.CreateFlag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/flag/create"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flagableType == nil {
		return localVarReturnValue, nil, reportError("flagableType is required and must be specified")
	}
	if r.flagableId == nil {
		return localVarReturnValue, nil, reportError("flagableId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "flagableType", r.flagableType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "flagableId", r.flagableId, "form", "")
	if r.flagDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "flagDescription", r.flagDescription, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteFlagRequest struct {
	ctx context.Context
	ApiService *FlagAPIService
	version float32
	deviceId *string
	accountId *int64
	itemBeingFlaggedType *string
	itemBeingFlaggedId *int64
	flagableType *string
	flagableId *int64
}

// The unique device identifier that made the request (either deviceId or accountId must be used)
func (r ApiDeleteFlagRequest) DeviceId(deviceId string) ApiDeleteFlagRequest {
	r.deviceId = &deviceId
	return r
}

// The unique accountId that made the request (either deviceId or accountId must be used)
func (r ApiDeleteFlagRequest) AccountId(accountId int64) ApiDeleteFlagRequest {
	r.accountId = &accountId
	return r
}

// This parameter is deprecated.
func (r ApiDeleteFlagRequest) ItemBeingFlaggedType(itemBeingFlaggedType string) ApiDeleteFlagRequest {
	r.itemBeingFlaggedType = &itemBeingFlaggedType
	return r
}

// This parameter is deprecated.
func (r ApiDeleteFlagRequest) ItemBeingFlaggedId(itemBeingFlaggedId int64) ApiDeleteFlagRequest {
	r.itemBeingFlaggedId = &itemBeingFlaggedId
	return r
}

// The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
func (r ApiDeleteFlagRequest) FlagableType(flagableType string) ApiDeleteFlagRequest {
	r.flagableType = &flagableType
	return r
}

// The flagable object id
func (r ApiDeleteFlagRequest) FlagableId(flagableId int64) ApiDeleteFlagRequest {
	r.flagableId = &flagableId
	return r
}

func (r ApiDeleteFlagRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteFlagExecute(r)
}

/*
DeleteFlag Delete Flag

Deletes a flag.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiDeleteFlagRequest
*/
func (a *FlagAPIService) DeleteFlag(ctx context.Context, version float32) ApiDeleteFlagRequest {
	return ApiDeleteFlagRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *FlagAPIService) DeleteFlagExecute(r ApiDeleteFlagRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagAPIService.DeleteFlag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/flag/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.itemBeingFlaggedType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemBeingFlaggedType", r.itemBeingFlaggedType, "form", "")
	}
	if r.itemBeingFlaggedId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemBeingFlaggedId", r.itemBeingFlaggedId, "form", "")
	}
	if r.flagableType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "flagableType", r.flagableType, "form", "")
	}
	if r.flagableId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "flagableId", r.flagableId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFlagRequest struct {
	ctx context.Context
	ApiService *FlagAPIService
	version float32
	flagableType *string
	flagableId *int64
	deviceId *string
	accountId *int64
	latitude *float64
	longitude *float64
}

// The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, NOTE, OFFER}
func (r ApiGetFlagRequest) FlagableType(flagableType string) ApiGetFlagRequest {
	r.flagableType = &flagableType
	return r
}

// The flagable object id
func (r ApiGetFlagRequest) FlagableId(flagableId int64) ApiGetFlagRequest {
	r.flagableId = &flagableId
	return r
}

// The unique device identifier that made the request (either deviceId or accountId must be used)
func (r ApiGetFlagRequest) DeviceId(deviceId string) ApiGetFlagRequest {
	r.deviceId = &deviceId
	return r
}

// The unique accountId that made the request (either deviceId or accountId must be used)
func (r ApiGetFlagRequest) AccountId(accountId int64) ApiGetFlagRequest {
	r.accountId = &accountId
	return r
}

// The current location of the user
func (r ApiGetFlagRequest) Latitude(latitude float64) ApiGetFlagRequest {
	r.latitude = &latitude
	return r
}

// The current location of the user
func (r ApiGetFlagRequest) Longitude(longitude float64) ApiGetFlagRequest {
	r.longitude = &longitude
	return r
}

func (r ApiGetFlagRequest) Execute() (*FlagResponse, *http.Response, error) {
	return r.ApiService.GetFlagExecute(r)
}

/*
GetFlag Get Flag

Gets the details on whether the user has flagged a particular flagable object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetFlagRequest
*/
func (a *FlagAPIService) GetFlag(ctx context.Context, version float32) ApiGetFlagRequest {
	return ApiGetFlagRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return FlagResponse
func (a *FlagAPIService) GetFlagExecute(r ApiGetFlagRequest) (*FlagResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlagResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagAPIService.GetFlag")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/flag/get"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.flagableType == nil {
		return localVarReturnValue, nil, reportError("flagableType is required and must be specified")
	}
	if r.flagableId == nil {
		return localVarReturnValue, nil, reportError("flagableId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "flagableType", r.flagableType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "flagableId", r.flagableId, "form", "")
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFlagThresholdRequest struct {
	ctx context.Context
	ApiService *FlagAPIService
	version float32
	itemBeingFlaggedType *string
	appKey *string
}

// The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
func (r ApiGetFlagThresholdRequest) ItemBeingFlaggedType(itemBeingFlaggedType string) ApiGetFlagThresholdRequest {
	r.itemBeingFlaggedType = &itemBeingFlaggedType
	return r
}

// The application key
func (r ApiGetFlagThresholdRequest) AppKey(appKey string) ApiGetFlagThresholdRequest {
	r.appKey = &appKey
	return r
}

func (r ApiGetFlagThresholdRequest) Execute() (*CountResponse, *http.Response, error) {
	return r.ApiService.GetFlagThresholdExecute(r)
}

/*
GetFlagThreshold Get Flag Threshold

Get the flag threshold value on an object type for a particular application.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetFlagThresholdRequest
*/
func (a *FlagAPIService) GetFlagThreshold(ctx context.Context, version float32) ApiGetFlagThresholdRequest {
	return ApiGetFlagThresholdRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return CountResponse
func (a *FlagAPIService) GetFlagThresholdExecute(r ApiGetFlagThresholdRequest) (*CountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagAPIService.GetFlagThreshold")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/flag/threshold/get"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.itemBeingFlaggedType == nil {
		return localVarReturnValue, nil, reportError("itemBeingFlaggedType is required and must be specified")
	}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "itemBeingFlaggedType", r.itemBeingFlaggedType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateFlagThresholdRequest struct {
	ctx context.Context
	ApiService *FlagAPIService
	version float32
	itemBeingFlaggedType *string
	threshold *int64
	appKey *string
	deviceId *string
	accountId *int64
}

// The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
func (r ApiUpdateFlagThresholdRequest) ItemBeingFlaggedType(itemBeingFlaggedType string) ApiUpdateFlagThresholdRequest {
	r.itemBeingFlaggedType = &itemBeingFlaggedType
	return r
}

// The threshold value
func (r ApiUpdateFlagThresholdRequest) Threshold(threshold int64) ApiUpdateFlagThresholdRequest {
	r.threshold = &threshold
	return r
}

// The application key
func (r ApiUpdateFlagThresholdRequest) AppKey(appKey string) ApiUpdateFlagThresholdRequest {
	r.appKey = &appKey
	return r
}

// The unique device identifier that made the request (either deviceId or accountId must be used)
func (r ApiUpdateFlagThresholdRequest) DeviceId(deviceId string) ApiUpdateFlagThresholdRequest {
	r.deviceId = &deviceId
	return r
}

// The unique accountId that made the request (either deviceId or accountId must be used)
func (r ApiUpdateFlagThresholdRequest) AccountId(accountId int64) ApiUpdateFlagThresholdRequest {
	r.accountId = &accountId
	return r
}

func (r ApiUpdateFlagThresholdRequest) Execute() (*CountResponse, *http.Response, error) {
	return r.ApiService.UpdateFlagThresholdExecute(r)
}

/*
UpdateFlagThreshold Update Flag Threshold

Update the flag threshold on an object type for a particular application.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiUpdateFlagThresholdRequest
*/
func (a *FlagAPIService) UpdateFlagThreshold(ctx context.Context, version float32) ApiUpdateFlagThresholdRequest {
	return ApiUpdateFlagThresholdRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return CountResponse
func (a *FlagAPIService) UpdateFlagThresholdExecute(r ApiUpdateFlagThresholdRequest) (*CountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlagAPIService.UpdateFlagThreshold")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/flag/threshold/update"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.itemBeingFlaggedType == nil {
		return localVarReturnValue, nil, reportError("itemBeingFlaggedType is required and must be specified")
	}
	if r.threshold == nil {
		return localVarReturnValue, nil, reportError("threshold is required and must be specified")
	}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "itemBeingFlaggedType", r.itemBeingFlaggedType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "threshold", r.threshold, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
