/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// AnalyticsAPIService AnalyticsAPI service
type AnalyticsAPIService service

type ApiActivitiesRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	start *int32
	limit *int32
	accountId *int64
}

// The start of the pagination
func (r ApiActivitiesRequest) Start(start int32) ApiActivitiesRequest {
	r.start = &start
	return r
}

// The limit of the pagination
func (r ApiActivitiesRequest) Limit(limit int32) ApiActivitiesRequest {
	r.limit = &limit
	return r
}

// the account id of the user
func (r ApiActivitiesRequest) AccountId(accountId int64) ApiActivitiesRequest {
	r.accountId = &accountId
	return r
}

func (r ApiActivitiesRequest) Execute() ([]UserActivityResponse, *http.Response, error) {
	return r.ApiService.ActivitiesExecute(r)
}

/*
Activities Get User Activity

Get an activity feed by user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiActivitiesRequest
*/
func (a *AnalyticsAPIService) Activities(ctx context.Context) ApiActivitiesRequest {
	return ApiActivitiesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []UserActivityResponse
func (a *AnalyticsAPIService) ActivitiesExecute(r ApiActivitiesRequest) ([]UserActivityResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []UserActivityResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.Activities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/analytics/useractivity"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAggregatedFilteredUsageRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	deviceId *string
	accountId *int64
	applicationId *int64
	appKey *string
	startDate *int64
	endDate *int64
	deviceType *string
	device *string
	deviceOS *string
	gender *string
	ageGroup *string
	country *string
	state *string
	city *string
	zip *string
	model *string
	tag *string
	userAccountId *int64
	userAccountDisplay *string
	userAccountUsername *string
	groupByRoot *string
	groupBy *string
	distinctCount *string
	sortField *string
	descending *bool
	hideUnknown *bool
	responseFormat *string
	l *int32
	limit *int32
	latitude *float64
	longitude *float64
}

// The unique id of the device making the request (deviceId or accountId required)
func (r ApiAggregatedFilteredUsageRequest) DeviceId(deviceId string) ApiAggregatedFilteredUsageRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiAggregatedFilteredUsageRequest) AccountId(accountId int64) ApiAggregatedFilteredUsageRequest {
	r.accountId = &accountId
	return r
}

// This parameter is deprecated.
func (r ApiAggregatedFilteredUsageRequest) ApplicationId(applicationId int64) ApiAggregatedFilteredUsageRequest {
	r.applicationId = &applicationId
	return r
}

// The application key used to filter results by application
func (r ApiAggregatedFilteredUsageRequest) AppKey(appKey string) ApiAggregatedFilteredUsageRequest {
	r.appKey = &appKey
	return r
}

// Used to search for results after or equal to this date (UNIX time-stamp in milliseconds)
func (r ApiAggregatedFilteredUsageRequest) StartDate(startDate int64) ApiAggregatedFilteredUsageRequest {
	r.startDate = &startDate
	return r
}

// Used to search for results before or equal to this date (UNIX time-stamp in milliseconds)
func (r ApiAggregatedFilteredUsageRequest) EndDate(endDate int64) ApiAggregatedFilteredUsageRequest {
	r.endDate = &endDate
	return r
}

// The device type to filter results by (performs a LIKE search)
func (r ApiAggregatedFilteredUsageRequest) DeviceType(deviceType string) ApiAggregatedFilteredUsageRequest {
	r.deviceType = &deviceType
	return r
}

// The device to filter results by (performs a LIKE search)
func (r ApiAggregatedFilteredUsageRequest) Device(device string) ApiAggregatedFilteredUsageRequest {
	r.device = &device
	return r
}

// The device OS to filter results by (performs a LIKE search)
func (r ApiAggregatedFilteredUsageRequest) DeviceOS(deviceOS string) ApiAggregatedFilteredUsageRequest {
	r.deviceOS = &deviceOS
	return r
}

// The gender to filter results by {MALE, FEMALE}
func (r ApiAggregatedFilteredUsageRequest) Gender(gender string) ApiAggregatedFilteredUsageRequest {
	r.gender = &gender
	return r
}

// Comma separated list of age groups to filter by {AGE_0_13, AGE_14_17, AGE_18_22, AGE_23_30, AGE_31_54, AGE_55_PLUS}
func (r ApiAggregatedFilteredUsageRequest) AgeGroup(ageGroup string) ApiAggregatedFilteredUsageRequest {
	r.ageGroup = &ageGroup
	return r
}

// The country to filter results by (performs a wild-card search)
func (r ApiAggregatedFilteredUsageRequest) Country(country string) ApiAggregatedFilteredUsageRequest {
	r.country = &country
	return r
}

// The state to filter results by (performs a wild-card search)
func (r ApiAggregatedFilteredUsageRequest) State(state string) ApiAggregatedFilteredUsageRequest {
	r.state = &state
	return r
}

// The city to filter results by (performs a wild-card search)
func (r ApiAggregatedFilteredUsageRequest) City(city string) ApiAggregatedFilteredUsageRequest {
	r.city = &city
	return r
}

// The zip to filter results by (performs a wild-card search)
func (r ApiAggregatedFilteredUsageRequest) Zip(zip string) ApiAggregatedFilteredUsageRequest {
	r.zip = &zip
	return r
}

// The model to filter results by (performs a wild-card search)
func (r ApiAggregatedFilteredUsageRequest) Model(model string) ApiAggregatedFilteredUsageRequest {
	r.model = &model
	return r
}

// The tag to filter results by (performs a wild-card search)
func (r ApiAggregatedFilteredUsageRequest) Tag(tag string) ApiAggregatedFilteredUsageRequest {
	r.tag = &tag
	return r
}

// The account id to filter results for a particular user
func (r ApiAggregatedFilteredUsageRequest) UserAccountId(userAccountId int64) ApiAggregatedFilteredUsageRequest {
	r.userAccountId = &userAccountId
	return r
}

// The user display to filter results by (performs a wild-card search)
func (r ApiAggregatedFilteredUsageRequest) UserAccountDisplay(userAccountDisplay string) ApiAggregatedFilteredUsageRequest {
	r.userAccountDisplay = &userAccountDisplay
	return r
}

// The username to filter results by (performs a wild-card search)
func (r ApiAggregatedFilteredUsageRequest) UserAccountUsername(userAccountUsername string) ApiAggregatedFilteredUsageRequest {
	r.userAccountUsername = &userAccountUsername
	return r
}

// Determines how to group results. For example, passing in &#39;CREATED&#39; will return results by date. Passing in &#39;ACCOUNT&#39; will return results by user {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID, APPLICATION_NAME_BY_ID}
func (r ApiAggregatedFilteredUsageRequest) GroupByRoot(groupByRoot string) ApiAggregatedFilteredUsageRequest {
	r.groupByRoot = &groupByRoot
	return r
}

// Determines how to group the nested data. {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID, APPLICATION_NAME_BY_ID}
func (r ApiAggregatedFilteredUsageRequest) GroupBy(groupBy string) ApiAggregatedFilteredUsageRequest {
	r.groupBy = &groupBy
	return r
}

// Performs a unique query on the specified column. For example, passing in &#39;ACCOUNT&#39; will return the number of unique users. {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID, NEW_ACCOUNT}
func (r ApiAggregatedFilteredUsageRequest) DistinctCount(distinctCount string) ApiAggregatedFilteredUsageRequest {
	r.distinctCount = &distinctCount
	return r
}

// Determines whether the results will be sorted by day or by number of hits {CREATED, TAG_COUNT}
func (r ApiAggregatedFilteredUsageRequest) SortField(sortField string) ApiAggregatedFilteredUsageRequest {
	r.sortField = &sortField
	return r
}

// Determines whether to return results in descending order
func (r ApiAggregatedFilteredUsageRequest) Descending(descending bool) ApiAggregatedFilteredUsageRequest {
	r.descending = &descending
	return r
}

// Determines whether to return data that has empty or unknown values
func (r ApiAggregatedFilteredUsageRequest) HideUnknown(hideUnknown bool) ApiAggregatedFilteredUsageRequest {
	r.hideUnknown = &hideUnknown
	return r
}

// Determines whether to return a JOSN or XML representation of the graph results
func (r ApiAggregatedFilteredUsageRequest) ResponseFormat(responseFormat string) ApiAggregatedFilteredUsageRequest {
	r.responseFormat = &responseFormat
	return r
}

// This parameter is deprecated.
func (r ApiAggregatedFilteredUsageRequest) L(l int32) ApiAggregatedFilteredUsageRequest {
	r.l = &l
	return r
}

// Used to limit results to get a cleaner graph. The results that gets filtered out will be combined
func (r ApiAggregatedFilteredUsageRequest) Limit(limit int32) ApiAggregatedFilteredUsageRequest {
	r.limit = &limit
	return r
}

// the current latitude of the user
func (r ApiAggregatedFilteredUsageRequest) Latitude(latitude float64) ApiAggregatedFilteredUsageRequest {
	r.latitude = &latitude
	return r
}

// the current longitude of the user
func (r ApiAggregatedFilteredUsageRequest) Longitude(longitude float64) ApiAggregatedFilteredUsageRequest {
	r.longitude = &longitude
	return r
}

func (r ApiAggregatedFilteredUsageRequest) Execute() (*ChartData, *http.Response, error) {
	return r.ApiService.AggregatedFilteredUsageExecute(r)
}

/*
AggregatedFilteredUsage Get Aggregated Filtered Usage

Query analytics to get data used for nested graphs and charts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAggregatedFilteredUsageRequest
*/
func (a *AnalyticsAPIService) AggregatedFilteredUsage(ctx context.Context) ApiAggregatedFilteredUsageRequest {
	return ApiAggregatedFilteredUsageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ChartData
func (a *AnalyticsAPIService) AggregatedFilteredUsageExecute(r ApiAggregatedFilteredUsageRequest) (*ChartData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChartData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.AggregatedFilteredUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/analytics/aggregatedFilteredUsage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.applicationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationId", r.applicationId, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.deviceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceType", r.deviceType, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.deviceOS != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceOS", r.deviceOS, "form", "")
	}
	if r.gender != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gender", r.gender, "form", "")
	}
	if r.ageGroup != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ageGroup", r.ageGroup, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.zip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zip", r.zip, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.userAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userAccountId", r.userAccountId, "form", "")
	}
	if r.userAccountDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userAccountDisplay", r.userAccountDisplay, "form", "")
	}
	if r.userAccountUsername != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userAccountUsername", r.userAccountUsername, "form", "")
	}
	if r.groupByRoot != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupByRoot", r.groupByRoot, "form", "")
	}
	if r.groupBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupBy", r.groupBy, "form", "")
	}
	if r.distinctCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distinctCount", r.distinctCount, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	}
	if r.hideUnknown != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hideUnknown", r.hideUnknown, "form", "")
	}
	if r.responseFormat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "responseFormat", r.responseFormat, "form", "")
	}
	if r.l != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_l", r.l, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFilteredUsageRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	deviceId *string
	accountId *int64
	applicationId *int64
	appKey *string
	startDate *int64
	endDate *int64
	deviceType *string
	device *string
	deviceOS *string
	gender *string
	ageGroup *string
	country *string
	state *string
	city *string
	zip *string
	model *string
	tag *string
	userAccountId *int64
	userAccountDisplay *string
	userAccountUsername *string
	customId *int64
	customType *string
	customValue *float64
	customValue2 *float64
	customLong *int64
	customLong2 *int64
	customMessage *string
	customMessage2 *string
	groupBy *string
	distinctCount *string
	sumColumn *string
	sortField *string
	descending *bool
	hideUnknown *bool
	responseFormat *string
	l *int32
	limit *int32
	latitude *float64
	longitude *float64
}

// The unique id of the device making the request (deviceId or accountId required)
func (r ApiFilteredUsageRequest) DeviceId(deviceId string) ApiFilteredUsageRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiFilteredUsageRequest) AccountId(accountId int64) ApiFilteredUsageRequest {
	r.accountId = &accountId
	return r
}

// This parameter is deprecated.
func (r ApiFilteredUsageRequest) ApplicationId(applicationId int64) ApiFilteredUsageRequest {
	r.applicationId = &applicationId
	return r
}

// The application key used to filter results by application
func (r ApiFilteredUsageRequest) AppKey(appKey string) ApiFilteredUsageRequest {
	r.appKey = &appKey
	return r
}

// Used to search for results after or equal to this date (UNIX time-stamp in milliseconds)
func (r ApiFilteredUsageRequest) StartDate(startDate int64) ApiFilteredUsageRequest {
	r.startDate = &startDate
	return r
}

// Used to search for results before or equal to this date (UNIX time-stamp in milliseconds)
func (r ApiFilteredUsageRequest) EndDate(endDate int64) ApiFilteredUsageRequest {
	r.endDate = &endDate
	return r
}

// The device type to filter results by (performs a LIKE search)
func (r ApiFilteredUsageRequest) DeviceType(deviceType string) ApiFilteredUsageRequest {
	r.deviceType = &deviceType
	return r
}

// The device to filter results by (performs a LIKE search)
func (r ApiFilteredUsageRequest) Device(device string) ApiFilteredUsageRequest {
	r.device = &device
	return r
}

// The device OS to filter results by (performs a LIKE search)
func (r ApiFilteredUsageRequest) DeviceOS(deviceOS string) ApiFilteredUsageRequest {
	r.deviceOS = &deviceOS
	return r
}

// The gender to filter results by {MALE, FEMALE}
func (r ApiFilteredUsageRequest) Gender(gender string) ApiFilteredUsageRequest {
	r.gender = &gender
	return r
}

// Comma separated list of age groups to filter by {AGE_0_13, AGE_14_17, AGE_18_22, AGE_23_30, AGE_31_54, AGE_55_PLUS}
func (r ApiFilteredUsageRequest) AgeGroup(ageGroup string) ApiFilteredUsageRequest {
	r.ageGroup = &ageGroup
	return r
}

// The country to filter results by (performs a wild-card search)
func (r ApiFilteredUsageRequest) Country(country string) ApiFilteredUsageRequest {
	r.country = &country
	return r
}

// The state to filter results by (performs a wild-card search)
func (r ApiFilteredUsageRequest) State(state string) ApiFilteredUsageRequest {
	r.state = &state
	return r
}

// The city to filter results by (performs a wild-card search)
func (r ApiFilteredUsageRequest) City(city string) ApiFilteredUsageRequest {
	r.city = &city
	return r
}

// The zip to filter results by (performs a wild-card search)
func (r ApiFilteredUsageRequest) Zip(zip string) ApiFilteredUsageRequest {
	r.zip = &zip
	return r
}

// The model to filter results by (performs a wild-card search)
func (r ApiFilteredUsageRequest) Model(model string) ApiFilteredUsageRequest {
	r.model = &model
	return r
}

// The tag to filter results by (performs a wild-card search)
func (r ApiFilteredUsageRequest) Tag(tag string) ApiFilteredUsageRequest {
	r.tag = &tag
	return r
}

// The account id to filter results for a particular user
func (r ApiFilteredUsageRequest) UserAccountId(userAccountId int64) ApiFilteredUsageRequest {
	r.userAccountId = &userAccountId
	return r
}

// The user display to filter results by (performs a wild-card search)
func (r ApiFilteredUsageRequest) UserAccountDisplay(userAccountDisplay string) ApiFilteredUsageRequest {
	r.userAccountDisplay = &userAccountDisplay
	return r
}

// The username to filter results by (performs a wild-card search)
func (r ApiFilteredUsageRequest) UserAccountUsername(userAccountUsername string) ApiFilteredUsageRequest {
	r.userAccountUsername = &userAccountUsername
	return r
}

// The ID for the custom table column
func (r ApiFilteredUsageRequest) CustomId(customId int64) ApiFilteredUsageRequest {
	r.customId = &customId
	return r
}

// The type defined for the custom table column
func (r ApiFilteredUsageRequest) CustomType(customType string) ApiFilteredUsageRequest {
	r.customType = &customType
	return r
}

// The value for the custom table column
func (r ApiFilteredUsageRequest) CustomValue(customValue float64) ApiFilteredUsageRequest {
	r.customValue = &customValue
	return r
}

// The value for another custom table column
func (r ApiFilteredUsageRequest) CustomValue2(customValue2 float64) ApiFilteredUsageRequest {
	r.customValue2 = &customValue2
	return r
}

// The value that supports Longs for custom table column
func (r ApiFilteredUsageRequest) CustomLong(customLong int64) ApiFilteredUsageRequest {
	r.customLong = &customLong
	return r
}

// The value that supports Longs for custom table column
func (r ApiFilteredUsageRequest) CustomLong2(customLong2 int64) ApiFilteredUsageRequest {
	r.customLong2 = &customLong2
	return r
}

// The message for the custom table column
func (r ApiFilteredUsageRequest) CustomMessage(customMessage string) ApiFilteredUsageRequest {
	r.customMessage = &customMessage
	return r
}

// The message for the custom table column
func (r ApiFilteredUsageRequest) CustomMessage2(customMessage2 string) ApiFilteredUsageRequest {
	r.customMessage2 = &customMessage2
	return r
}

// Determines how to group results. For example, passing in &#39;CREATED&#39; will return results by date. Passing in &#39;ACCOUNT&#39; will return results by user {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, DEVICE_ID, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID}
func (r ApiFilteredUsageRequest) GroupBy(groupBy string) ApiFilteredUsageRequest {
	r.groupBy = &groupBy
	return r
}

// Performs a unique query on the specified column. For example, passing in &#39;ACCOUNT&#39; will return the number of unique users. {TAG, CUSTOM_ID, TOKEN, MODEL, DEVICE_TYPE, DEVICE, DEVICE_OS, DEVICE_ID, IP_ADDRESS, STATE, CITY, ZIP, COUNTRY, ACCOUNT, APPLICATION_ID}
func (r ApiFilteredUsageRequest) DistinctCount(distinctCount string) ApiFilteredUsageRequest {
	r.distinctCount = &distinctCount
	return r
}

// sum of the column values
func (r ApiFilteredUsageRequest) SumColumn(sumColumn string) ApiFilteredUsageRequest {
	r.sumColumn = &sumColumn
	return r
}

// Determines whether the results will be sorted by day or by number of hits {CREATED, TAG_COUNT}
func (r ApiFilteredUsageRequest) SortField(sortField string) ApiFilteredUsageRequest {
	r.sortField = &sortField
	return r
}

// Determines whether to return results in descending order
func (r ApiFilteredUsageRequest) Descending(descending bool) ApiFilteredUsageRequest {
	r.descending = &descending
	return r
}

// Determines whether to return data that has empty or unknown values
func (r ApiFilteredUsageRequest) HideUnknown(hideUnknown bool) ApiFilteredUsageRequest {
	r.hideUnknown = &hideUnknown
	return r
}

// Determines whether to return a JOSN or XML representation of the graph results
func (r ApiFilteredUsageRequest) ResponseFormat(responseFormat string) ApiFilteredUsageRequest {
	r.responseFormat = &responseFormat
	return r
}

// This parameter is deprecated.
func (r ApiFilteredUsageRequest) L(l int32) ApiFilteredUsageRequest {
	r.l = &l
	return r
}

// Used to limit results to get a cleaner graph. The results that gets filtered out will be combined
func (r ApiFilteredUsageRequest) Limit(limit int32) ApiFilteredUsageRequest {
	r.limit = &limit
	return r
}

// the current latitude of the user
func (r ApiFilteredUsageRequest) Latitude(latitude float64) ApiFilteredUsageRequest {
	r.latitude = &latitude
	return r
}

// the current longitude of the user
func (r ApiFilteredUsageRequest) Longitude(longitude float64) ApiFilteredUsageRequest {
	r.longitude = &longitude
	return r
}

func (r ApiFilteredUsageRequest) Execute() (*ChartData, *http.Response, error) {
	return r.ApiService.FilteredUsageExecute(r)
}

/*
FilteredUsage Get Filtered Usage

Query analytics to get data used for graphs and charts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFilteredUsageRequest
*/
func (a *AnalyticsAPIService) FilteredUsage(ctx context.Context) ApiFilteredUsageRequest {
	return ApiFilteredUsageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ChartData
func (a *AnalyticsAPIService) FilteredUsageExecute(r ApiFilteredUsageRequest) (*ChartData, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ChartData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.FilteredUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/analytics/filteredUsage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.applicationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationId", r.applicationId, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.deviceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceType", r.deviceType, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.deviceOS != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceOS", r.deviceOS, "form", "")
	}
	if r.gender != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gender", r.gender, "form", "")
	}
	if r.ageGroup != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ageGroup", r.ageGroup, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.zip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zip", r.zip, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.tag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	}
	if r.userAccountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userAccountId", r.userAccountId, "form", "")
	}
	if r.userAccountDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userAccountDisplay", r.userAccountDisplay, "form", "")
	}
	if r.userAccountUsername != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userAccountUsername", r.userAccountUsername, "form", "")
	}
	if r.customId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customId", r.customId, "form", "")
	}
	if r.customType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customType", r.customType, "form", "")
	}
	if r.customValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customValue", r.customValue, "form", "")
	}
	if r.customValue2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customValue2", r.customValue2, "form", "")
	}
	if r.customLong != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customLong", r.customLong, "form", "")
	}
	if r.customLong2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customLong2", r.customLong2, "form", "")
	}
	if r.customMessage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customMessage", r.customMessage, "form", "")
	}
	if r.customMessage2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customMessage2", r.customMessage2, "form", "")
	}
	if r.groupBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupBy", r.groupBy, "form", "")
	}
	if r.distinctCount != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "distinctCount", r.distinctCount, "form", "")
	}
	if r.sumColumn != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sumColumn", r.sumColumn, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	}
	if r.hideUnknown != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hideUnknown", r.hideUnknown, "form", "")
	}
	if r.responseFormat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "responseFormat", r.responseFormat, "form", "")
	}
	if r.l != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_l", r.l, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsageRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	tag *string
	deviceId *string
	accountId *int64
	applicationId *int64
	appKey *string
	appVersion *string
	device *string
	deviceType *string
	deviceOS *string
	model *string
	latitude *float64
	longitude *float64
	customId *int64
	customType *string
	achievementIncrement *int64
	city *string
	state *string
	country *string
	zip *string
	locationDescription *string
	clientTime *int64
	errorMessage *string
	ip *string
	userAgent *string
	backgroundEvent *bool
	customMessage *string
	customMessage2 *string
	customValue *float64
	customValue2 *float64
	customLong *int64
	customLong2 *int64
}

// The tag to apply: the name of the action or thing being logged.
func (r ApiUsageRequest) Tag(tag string) ApiUsageRequest {
	r.tag = &tag
	return r
}

// The client deviceID
func (r ApiUsageRequest) DeviceId(deviceId string) ApiUsageRequest {
	r.deviceId = &deviceId
	return r
}

// The logged in user ID
func (r ApiUsageRequest) AccountId(accountId int64) ApiUsageRequest {
	r.accountId = &accountId
	return r
}

// This parameter is deprecated. This is deprecated, use appKey.
func (r ApiUsageRequest) ApplicationId(applicationId int64) ApiUsageRequest {
	r.applicationId = &applicationId
	return r
}

// The application key unique to each application.
func (r ApiUsageRequest) AppKey(appKey string) ApiUsageRequest {
	r.appKey = &appKey
	return r
}

// The current build version of the application
func (r ApiUsageRequest) AppVersion(appVersion string) ApiUsageRequest {
	r.appVersion = &appVersion
	return r
}

// The name of the device being used (iPhone5,1 , HTC Nexus One, x86_64, etc.)
func (r ApiUsageRequest) Device(device string) ApiUsageRequest {
	r.device = &device
	return r
}

// The type of device (Handheld or Desktop)
func (r ApiUsageRequest) DeviceType(deviceType string) ApiUsageRequest {
	r.deviceType = &deviceType
	return r
}

// The operating system that the device is using (iPhone OS 5.0, Android OS 2.3.6, Windows 7 Service Pack 1, etc)
func (r ApiUsageRequest) DeviceOS(deviceOS string) ApiUsageRequest {
	r.deviceOS = &deviceOS
	return r
}

// The model of the device (iPhone5,1 , Nexus One, etc.)
func (r ApiUsageRequest) Model(model string) ApiUsageRequest {
	r.model = &model
	return r
}

// The current position of the user
func (r ApiUsageRequest) Latitude(latitude float64) ApiUsageRequest {
	r.latitude = &latitude
	return r
}

// The current position of the user
func (r ApiUsageRequest) Longitude(longitude float64) ApiUsageRequest {
	r.longitude = &longitude
	return r
}

// A customId used to associate the usage record with some other record in the system
func (r ApiUsageRequest) CustomId(customId int64) ApiUsageRequest {
	r.customId = &customId
	return r
}

// The type of record the customId is recorded for
func (r ApiUsageRequest) CustomType(customType string) ApiUsageRequest {
	r.customType = &customType
	return r
}

// This parameter is deprecated. This is deprecated, use \&quot;customValue\&quot;. Determines how many achievement points and/or ranking points the user gets if this analytic is associated with an achievement
func (r ApiUsageRequest) AchievementIncrement(achievementIncrement int64) ApiUsageRequest {
	r.achievementIncrement = &achievementIncrement
	return r
}

// The current city of the user
func (r ApiUsageRequest) City(city string) ApiUsageRequest {
	r.city = &city
	return r
}

// The current state of the user
func (r ApiUsageRequest) State(state string) ApiUsageRequest {
	r.state = &state
	return r
}

// The current country of the user
func (r ApiUsageRequest) Country(country string) ApiUsageRequest {
	r.country = &country
	return r
}

// The current zip of the user
func (r ApiUsageRequest) Zip(zip string) ApiUsageRequest {
	r.zip = &zip
	return r
}

// The general description of the user&#39;s location
func (r ApiUsageRequest) LocationDescription(locationDescription string) ApiUsageRequest {
	r.locationDescription = &locationDescription
	return r
}

// Timestamp sent from device
func (r ApiUsageRequest) ClientTime(clientTime int64) ApiUsageRequest {
	r.clientTime = &clientTime
	return r
}

// This parameter is deprecated.
func (r ApiUsageRequest) ErrorMessage(errorMessage string) ApiUsageRequest {
	r.errorMessage = &errorMessage
	return r
}

// the ip address of the client device
func (r ApiUsageRequest) Ip(ip string) ApiUsageRequest {
	r.ip = &ip
	return r
}

// this is a description of the client (might contain the device&#39;s OS, browser version etc - its a common term)
func (r ApiUsageRequest) UserAgent(userAgent string) ApiUsageRequest {
	r.userAgent = &userAgent
	return r
}

// This is deprecated.
func (r ApiUsageRequest) BackgroundEvent(backgroundEvent bool) ApiUsageRequest {
	r.backgroundEvent = &backgroundEvent
	return r
}

// a custom message for the usage record
func (r ApiUsageRequest) CustomMessage(customMessage string) ApiUsageRequest {
	r.customMessage = &customMessage
	return r
}

// a custom message for the usage record
func (r ApiUsageRequest) CustomMessage2(customMessage2 string) ApiUsageRequest {
	r.customMessage2 = &customMessage2
	return r
}

// a custom value for the usage record
func (r ApiUsageRequest) CustomValue(customValue float64) ApiUsageRequest {
	r.customValue = &customValue
	return r
}

// a custom value for the usage record
func (r ApiUsageRequest) CustomValue2(customValue2 float64) ApiUsageRequest {
	r.customValue2 = &customValue2
	return r
}

// a custom long value for the usage record
func (r ApiUsageRequest) CustomLong(customLong int64) ApiUsageRequest {
	r.customLong = &customLong
	return r
}

// a custom long value for the usage record
func (r ApiUsageRequest) CustomLong2(customLong2 int64) ApiUsageRequest {
	r.customLong2 = &customLong2
	return r
}

func (r ApiUsageRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.UsageExecute(r)
}

/*
Usage Create Usage Record

Record an analytic record for a known state within the application.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUsageRequest
*/
func (a *AnalyticsAPIService) Usage(ctx context.Context) ApiUsageRequest {
	return ApiUsageRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *AnalyticsAPIService) UsageExecute(r ApiUsageRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.Usage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/analytics/usage"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.tag == nil {
		return localVarReturnValue, nil, reportError("tag is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "tag", r.tag, "form", "")
	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.applicationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationId", r.applicationId, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.appVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appVersion", r.appVersion, "form", "")
	}
	if r.device != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	}
	if r.deviceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceType", r.deviceType, "form", "")
	}
	if r.deviceOS != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceOS", r.deviceOS, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	if r.customId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customId", r.customId, "form", "")
	}
	if r.customType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customType", r.customType, "form", "")
	}
	if r.achievementIncrement != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "achievementIncrement", r.achievementIncrement, "form", "")
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.zip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zip", r.zip, "form", "")
	}
	if r.locationDescription != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationDescription", r.locationDescription, "form", "")
	}
	if r.clientTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "clientTime", r.clientTime, "form", "")
	}
	if r.errorMessage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "errorMessage", r.errorMessage, "form", "")
	}
	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	if r.userAgent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userAgent", r.userAgent, "form", "")
	}
	if r.backgroundEvent != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "backgroundEvent", r.backgroundEvent, "form", "")
	}
	if r.customMessage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customMessage", r.customMessage, "form", "")
	}
	if r.customMessage2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customMessage2", r.customMessage2, "form", "")
	}
	if r.customValue != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customValue", r.customValue, "form", "")
	}
	if r.customValue2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customValue2", r.customValue2, "form", "")
	}
	if r.customLong != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customLong", r.customLong, "form", "")
	}
	if r.customLong2 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customLong2", r.customLong2, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUsageBatchRequest struct {
	ctx context.Context
	ApiService *AnalyticsAPIService
	appKey *string
	device *string
	data *string
	deviceId *string
	accountId *int64
	appVersion *string
	deviceType *string
	deviceOS *string
	model *string
	updateRanking *bool
	returnSummaryResponse *bool
}

// The application key unique to each application.
func (r ApiUsageBatchRequest) AppKey(appKey string) ApiUsageBatchRequest {
	r.appKey = &appKey
	return r
}

// The name of the device being used (iPhone5,1 , HTC Nexus One, x86_64, etc.)
func (r ApiUsageBatchRequest) Device(device string) ApiUsageBatchRequest {
	r.device = &device
	return r
}

// The analytic data AnalyticListResponse
func (r ApiUsageBatchRequest) Data(data string) ApiUsageBatchRequest {
	r.data = &data
	return r
}

// The unique id of the device making the request
func (r ApiUsageBatchRequest) DeviceId(deviceId string) ApiUsageBatchRequest {
	r.deviceId = &deviceId
	return r
}

// The account ID of the logged in user making the request
func (r ApiUsageBatchRequest) AccountId(accountId int64) ApiUsageBatchRequest {
	r.accountId = &accountId
	return r
}

// The current build version of the application
func (r ApiUsageBatchRequest) AppVersion(appVersion string) ApiUsageBatchRequest {
	r.appVersion = &appVersion
	return r
}

// The type of device (Handheld or Desktop)
func (r ApiUsageBatchRequest) DeviceType(deviceType string) ApiUsageBatchRequest {
	r.deviceType = &deviceType
	return r
}

// The operating system that the device is using (iPhone OS 5.0, Android OS 2.3.6, Windows 7 Service Pack 1, etc.)
func (r ApiUsageBatchRequest) DeviceOS(deviceOS string) ApiUsageBatchRequest {
	r.deviceOS = &deviceOS
	return r
}

// The model of the device (iPhone5,1 , Nexus One, etc.)
func (r ApiUsageBatchRequest) Model(model string) ApiUsageBatchRequest {
	r.model = &model
	return r
}

// Will create a leaderboard if one does not exist for the \&quot;tag\&quot; yet
func (r ApiUsageBatchRequest) UpdateRanking(updateRanking bool) ApiUsageBatchRequest {
	r.updateRanking = &updateRanking
	return r
}

// Returns a summary response of the achievements that have been completed due to the analytics
func (r ApiUsageBatchRequest) ReturnSummaryResponse(returnSummaryResponse bool) ApiUsageBatchRequest {
	r.returnSummaryResponse = &returnSummaryResponse
	return r
}

func (r ApiUsageBatchRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.UsageBatchExecute(r)
}

/*
UsageBatch Create Multiple Usage Records

Sends multiple analytics. Can be used to send in the user's stored usage when they did not have internet access. Should not include more than 100 items per batch.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUsageBatchRequest
*/
func (a *AnalyticsAPIService) UsageBatch(ctx context.Context) ApiUsageBatchRequest {
	return ApiUsageBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *AnalyticsAPIService) UsageBatchExecute(r ApiUsageBatchRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AnalyticsAPIService.UsageBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/analytics/usage/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}
	if r.device == nil {
		return localVarReturnValue, nil, reportError("device is required and must be specified")
	}
	if r.data == nil {
		return localVarReturnValue, nil, reportError("data is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	if r.appVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appVersion", r.appVersion, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "device", r.device, "form", "")
	if r.deviceType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceType", r.deviceType, "form", "")
	}
	if r.deviceOS != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceOS", r.deviceOS, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "data", r.data, "form", "")
	if r.updateRanking != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updateRanking", r.updateRanking, "form", "")
	}
	if r.returnSummaryResponse != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "returnSummaryResponse", r.returnSummaryResponse, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
