/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// CSVImportAPIService CSVImportAPI service
type CSVImportAPIService service

type ApiGetStatusCSVRequest struct {
	ctx context.Context
	ApiService *CSVImportAPIService
	version float32
	accountId *int64
	batchId *int64
	responseGroup *string
	start *int64
	limit *int64
}

// the id of the logged in user
func (r ApiGetStatusCSVRequest) AccountId(accountId int64) ApiGetStatusCSVRequest {
	r.accountId = &accountId
	return r
}

// the id of the batch
func (r ApiGetStatusCSVRequest) BatchId(batchId int64) ApiGetStatusCSVRequest {
	r.batchId = &batchId
	return r
}

// The group of categories to return: SUMMARY, DETAILS, ERRORS, OR ALL
func (r ApiGetStatusCSVRequest) ResponseGroup(responseGroup string) ApiGetStatusCSVRequest {
	r.responseGroup = &responseGroup
	return r
}

// the start of the pagination
func (r ApiGetStatusCSVRequest) Start(start int64) ApiGetStatusCSVRequest {
	r.start = &start
	return r
}

// the limit of the pagination
func (r ApiGetStatusCSVRequest) Limit(limit int64) ApiGetStatusCSVRequest {
	r.limit = &limit
	return r
}

func (r ApiGetStatusCSVRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.GetStatusCSVExecute(r)
}

/*
GetStatusCSV Detail Status

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetStatusCSVRequest
*/
func (a *CSVImportAPIService) GetStatusCSV(ctx context.Context, version float32) ApiGetStatusCSVRequest {
	return ApiGetStatusCSVRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *CSVImportAPIService) GetStatusCSVExecute(r ApiGetStatusCSVRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CSVImportAPIService.GetStatusCSV")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/csvimport/batch/status/details"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.batchId == nil {
		return localVarReturnValue, nil, reportError("batchId is required and must be specified")
	}
	if r.responseGroup == nil {
		return localVarReturnValue, nil, reportError("responseGroup is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "batchId", r.batchId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "responseGroup", r.responseGroup, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListStatusCSVRequest struct {
	ctx context.Context
	ApiService *CSVImportAPIService
	version float32
	accountId *int64
	start *int32
	limit *int32
}

// the id of the account
func (r ApiListStatusCSVRequest) AccountId(accountId int64) ApiListStatusCSVRequest {
	r.accountId = &accountId
	return r
}

// the start of the pagination
func (r ApiListStatusCSVRequest) Start(start int32) ApiListStatusCSVRequest {
	r.start = &start
	return r
}

// the limit of the pagination
func (r ApiListStatusCSVRequest) Limit(limit int32) ApiListStatusCSVRequest {
	r.limit = &limit
	return r
}

func (r ApiListStatusCSVRequest) Execute() (*CsvImportResponse, *http.Response, error) {
	return r.ApiService.ListStatusCSVExecute(r)
}

/*
ListStatusCSV Search Status

Retrieves batches for a user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiListStatusCSVRequest
*/
func (a *CSVImportAPIService) ListStatusCSV(ctx context.Context, version float32) ApiListStatusCSVRequest {
	return ApiListStatusCSVRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return CsvImportResponse
func (a *CSVImportAPIService) ListStatusCSVExecute(r ApiListStatusCSVRequest) (*CsvImportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CsvImportResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CSVImportAPIService.ListStatusCSV")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/csvimport/batch/list"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiStatusCSVRequest struct {
	ctx context.Context
	ApiService *CSVImportAPIService
	version float32
	accountId *int64
	batchId *int64
}

// the id of the account
func (r ApiStatusCSVRequest) AccountId(accountId int64) ApiStatusCSVRequest {
	r.accountId = &accountId
	return r
}

// the id of the batch to get its status
func (r ApiStatusCSVRequest) BatchId(batchId int64) ApiStatusCSVRequest {
	r.batchId = &batchId
	return r
}

func (r ApiStatusCSVRequest) Execute() (*CsvImportResponse, *http.Response, error) {
	return r.ApiService.StatusCSVExecute(r)
}

/*
StatusCSV Batch Status

Checks status of batch upload.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiStatusCSVRequest
*/
func (a *CSVImportAPIService) StatusCSV(ctx context.Context, version float32) ApiStatusCSVRequest {
	return ApiStatusCSVRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return CsvImportResponse
func (a *CSVImportAPIService) StatusCSVExecute(r ApiStatusCSVRequest) (*CsvImportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CsvImportResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CSVImportAPIService.StatusCSV")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/csvimport/batch/status"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.batchId == nil {
		return localVarReturnValue, nil, reportError("batchId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "batchId", r.batchId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUploadCSVRequest struct {
	ctx context.Context
	ApiService *CSVImportAPIService
	version float32
	accountId *int64
	uploadType *string
	importFile *os.File
	fileFormat *string
	appKey *string
}

// the id of the account
func (r ApiUploadCSVRequest) AccountId(accountId int64) ApiUploadCSVRequest {
	r.accountId = &accountId
	return r
}

// the upload type: OFFERS, RETAILERS, RETAILERLOCATIONS, CATEGORIES, OR FILTERS
func (r ApiUploadCSVRequest) UploadType(uploadType string) ApiUploadCSVRequest {
	r.uploadType = &uploadType
	return r
}

// the import file to reference
func (r ApiUploadCSVRequest) ImportFile(importFile *os.File) ApiUploadCSVRequest {
	r.importFile = importFile
	return r
}

// the format of the file
func (r ApiUploadCSVRequest) FileFormat(fileFormat string) ApiUploadCSVRequest {
	r.fileFormat = &fileFormat
	return r
}

// the application key
func (r ApiUploadCSVRequest) AppKey(appKey string) ApiUploadCSVRequest {
	r.appKey = &appKey
	return r
}

func (r ApiUploadCSVRequest) Execute() (*CsvImportResponse, *http.Response, error) {
	return r.ApiService.UploadCSVExecute(r)
}

/*
UploadCSV Upload CSV

Uploads a CSV import file.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiUploadCSVRequest
*/
func (a *CSVImportAPIService) UploadCSV(ctx context.Context, version float32) ApiUploadCSVRequest {
	return ApiUploadCSVRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return CsvImportResponse
func (a *CSVImportAPIService) UploadCSVExecute(r ApiUploadCSVRequest) (*CsvImportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CsvImportResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CSVImportAPIService.UploadCSV")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/csvimport/upload"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.uploadType == nil {
		return localVarReturnValue, nil, reportError("uploadType is required and must be specified")
	}
	if r.importFile == nil {
		return localVarReturnValue, nil, reportError("importFile is required and must be specified")
	}
	if r.fileFormat == nil {
		return localVarReturnValue, nil, reportError("fileFormat is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "uploadType", r.uploadType, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "importFile", r.importFile, "form", "")
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "fileFormat", r.fileFormat, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
