/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// OfferStatusAPIService OfferStatusAPI service
type OfferStatusAPIService service

type ApiCreateOfferTransactionStatusRequest struct {
	ctx context.Context
	ApiService *OfferStatusAPIService
	name *string
	code *int32
	deviceId *string
	accountId *int64
	latitude *float64
	longitude *float64
	description *string
	role *string
	active *bool
	applicationIds *string
}

// The name of the status
func (r ApiCreateOfferTransactionStatusRequest) Name(name string) ApiCreateOfferTransactionStatusRequest {
	r.name = &name
	return r
}

// The status code, must be unique 
func (r ApiCreateOfferTransactionStatusRequest) Code(code int32) ApiCreateOfferTransactionStatusRequest {
	r.code = &code
	return r
}

// The device id (deviceId or accountId required)
func (r ApiCreateOfferTransactionStatusRequest) DeviceId(deviceId string) ApiCreateOfferTransactionStatusRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiCreateOfferTransactionStatusRequest) AccountId(accountId int64) ApiCreateOfferTransactionStatusRequest {
	r.accountId = &accountId
	return r
}

// Used to update the user&#39;s current location
func (r ApiCreateOfferTransactionStatusRequest) Latitude(latitude float64) ApiCreateOfferTransactionStatusRequest {
	r.latitude = &latitude
	return r
}

// Used to update the user&#39;s current location
func (r ApiCreateOfferTransactionStatusRequest) Longitude(longitude float64) ApiCreateOfferTransactionStatusRequest {
	r.longitude = &longitude
	return r
}

// The description of the status
func (r ApiCreateOfferTransactionStatusRequest) Description(description string) ApiCreateOfferTransactionStatusRequest {
	r.description = &description
	return r
}

// The actor that uses the status
func (r ApiCreateOfferTransactionStatusRequest) Role(role string) ApiCreateOfferTransactionStatusRequest {
	r.role = &role
	return r
}

// The active status
func (r ApiCreateOfferTransactionStatusRequest) Active(active bool) ApiCreateOfferTransactionStatusRequest {
	r.active = &active
	return r
}

// The applications to associate the status with, if null then for all.
func (r ApiCreateOfferTransactionStatusRequest) ApplicationIds(applicationIds string) ApiCreateOfferTransactionStatusRequest {
	r.applicationIds = &applicationIds
	return r
}

func (r ApiCreateOfferTransactionStatusRequest) Execute() (*OfferTransactionStatusResponse, *http.Response, error) {
	return r.ApiService.CreateOfferTransactionStatusExecute(r)
}

/*
CreateOfferTransactionStatus Create Offer Status

Create an offer status record

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateOfferTransactionStatusRequest
*/
func (a *OfferStatusAPIService) CreateOfferTransactionStatus(ctx context.Context) ApiCreateOfferTransactionStatusRequest {
	return ApiCreateOfferTransactionStatusRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OfferTransactionStatusResponse
func (a *OfferStatusAPIService) CreateOfferTransactionStatusExecute(r ApiCreateOfferTransactionStatusRequest) (*OfferTransactionStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OfferTransactionStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferStatusAPIService.CreateOfferTransactionStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/offer/status/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}
	if r.code == nil {
		return localVarReturnValue, nil, reportError("code is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	if r.role != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role", r.role, "form", "")
	} else {
		var defaultValue string = "ANY"
		parameterAddToHeaderOrQuery(localVarQueryParams, "role", defaultValue, "form", "")
		r.role = &defaultValue
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", defaultValue, "form", "")
		r.active = &defaultValue
	}
	if r.applicationIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationIds", r.applicationIds, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteOfferTransactionStatusRequest struct {
	ctx context.Context
	ApiService *OfferStatusAPIService
	statusId *int64
	deviceId *string
	accountId *int64
	latitude *float64
	longitude *float64
}

// The id of the record to delete
func (r ApiDeleteOfferTransactionStatusRequest) StatusId(statusId int64) ApiDeleteOfferTransactionStatusRequest {
	r.statusId = &statusId
	return r
}

// The device id (deviceId or accountId required)
func (r ApiDeleteOfferTransactionStatusRequest) DeviceId(deviceId string) ApiDeleteOfferTransactionStatusRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiDeleteOfferTransactionStatusRequest) AccountId(accountId int64) ApiDeleteOfferTransactionStatusRequest {
	r.accountId = &accountId
	return r
}

// Used to update the user&#39;s current location
func (r ApiDeleteOfferTransactionStatusRequest) Latitude(latitude float64) ApiDeleteOfferTransactionStatusRequest {
	r.latitude = &latitude
	return r
}

// Used to update the user&#39;s current location
func (r ApiDeleteOfferTransactionStatusRequest) Longitude(longitude float64) ApiDeleteOfferTransactionStatusRequest {
	r.longitude = &longitude
	return r
}

func (r ApiDeleteOfferTransactionStatusRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteOfferTransactionStatusExecute(r)
}

/*
DeleteOfferTransactionStatus Delete Offer Status

Mark an offer status record as deleted

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteOfferTransactionStatusRequest
*/
func (a *OfferStatusAPIService) DeleteOfferTransactionStatus(ctx context.Context) ApiDeleteOfferTransactionStatusRequest {
	return ApiDeleteOfferTransactionStatusRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *OfferStatusAPIService) DeleteOfferTransactionStatusExecute(r ApiDeleteOfferTransactionStatusRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferStatusAPIService.DeleteOfferTransactionStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/offer/status/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.statusId == nil {
		return localVarReturnValue, nil, reportError("statusId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "statusId", r.statusId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOfferTransactionStatusRequest struct {
	ctx context.Context
	ApiService *OfferStatusAPIService
	statusId *int64
	deviceId *string
	accountId *int64
	latitude *float64
	longitude *float64
}

// The id of the record to get 
func (r ApiGetOfferTransactionStatusRequest) StatusId(statusId int64) ApiGetOfferTransactionStatusRequest {
	r.statusId = &statusId
	return r
}

// The device id (deviceId or accountId required)
func (r ApiGetOfferTransactionStatusRequest) DeviceId(deviceId string) ApiGetOfferTransactionStatusRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiGetOfferTransactionStatusRequest) AccountId(accountId int64) ApiGetOfferTransactionStatusRequest {
	r.accountId = &accountId
	return r
}

// Used to update the user&#39;s current location
func (r ApiGetOfferTransactionStatusRequest) Latitude(latitude float64) ApiGetOfferTransactionStatusRequest {
	r.latitude = &latitude
	return r
}

// Used to update the user&#39;s current location
func (r ApiGetOfferTransactionStatusRequest) Longitude(longitude float64) ApiGetOfferTransactionStatusRequest {
	r.longitude = &longitude
	return r
}

func (r ApiGetOfferTransactionStatusRequest) Execute() (*OfferTransactionStatusResponse, *http.Response, error) {
	return r.ApiService.GetOfferTransactionStatusExecute(r)
}

/*
GetOfferTransactionStatus Get Offer Status

Get an offer status record

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetOfferTransactionStatusRequest
*/
func (a *OfferStatusAPIService) GetOfferTransactionStatus(ctx context.Context) ApiGetOfferTransactionStatusRequest {
	return ApiGetOfferTransactionStatusRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OfferTransactionStatusResponse
func (a *OfferStatusAPIService) GetOfferTransactionStatusExecute(r ApiGetOfferTransactionStatusRequest) (*OfferTransactionStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OfferTransactionStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferStatusAPIService.GetOfferTransactionStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/offer/status/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.statusId == nil {
		return localVarReturnValue, nil, reportError("statusId is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "statusId", r.statusId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchOfferTransactionStatusesRequest struct {
	ctx context.Context
	ApiService *OfferStatusAPIService
	deviceId *string
	accountId *int64
	latitude *float64
	longitude *float64
	keyword *string
	role *string
	appKey *string
	sortField *string
	descending *bool
	start *int32
	limit *int32
	includeInactive *bool
}

// The device id (deviceId or accountId required)
func (r ApiSearchOfferTransactionStatusesRequest) DeviceId(deviceId string) ApiSearchOfferTransactionStatusesRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiSearchOfferTransactionStatusesRequest) AccountId(accountId int64) ApiSearchOfferTransactionStatusesRequest {
	r.accountId = &accountId
	return r
}

// Used to update the user&#39;s current location
func (r ApiSearchOfferTransactionStatusesRequest) Latitude(latitude float64) ApiSearchOfferTransactionStatusesRequest {
	r.latitude = &latitude
	return r
}

// Used to update the user&#39;s current location
func (r ApiSearchOfferTransactionStatusesRequest) Longitude(longitude float64) ApiSearchOfferTransactionStatusesRequest {
	r.longitude = &longitude
	return r
}

// Search the name and description fields
func (r ApiSearchOfferTransactionStatusesRequest) Keyword(keyword string) ApiSearchOfferTransactionStatusesRequest {
	r.keyword = &keyword
	return r
}

// The actors role, possible values are: CUSTOMER, RETAILER, or ANY
func (r ApiSearchOfferTransactionStatusesRequest) Role(role string) ApiSearchOfferTransactionStatusesRequest {
	r.role = &role
	return r
}

// The application making the request
func (r ApiSearchOfferTransactionStatusesRequest) AppKey(appKey string) ApiSearchOfferTransactionStatusesRequest {
	r.appKey = &appKey
	return r
}

// The field to sort on, possible values are: ID, CREATED, UPDATED, DELETED, SEARCH_TAGS, ACTIVE, NAME, DESCRIPTION, CODE, ROLE
func (r ApiSearchOfferTransactionStatusesRequest) SortField(sortField string) ApiSearchOfferTransactionStatusesRequest {
	r.sortField = &sortField
	return r
}

// Determines whether the results are in descending order
func (r ApiSearchOfferTransactionStatusesRequest) Descending(descending bool) ApiSearchOfferTransactionStatusesRequest {
	r.descending = &descending
	return r
}

// The start index for pagination
func (r ApiSearchOfferTransactionStatusesRequest) Start(start int32) ApiSearchOfferTransactionStatusesRequest {
	r.start = &start
	return r
}

// The limit for pagination
func (r ApiSearchOfferTransactionStatusesRequest) Limit(limit int32) ApiSearchOfferTransactionStatusesRequest {
	r.limit = &limit
	return r
}

// If true include inactive items
func (r ApiSearchOfferTransactionStatusesRequest) IncludeInactive(includeInactive bool) ApiSearchOfferTransactionStatusesRequest {
	r.includeInactive = &includeInactive
	return r
}

func (r ApiSearchOfferTransactionStatusesRequest) Execute() ([]OfferTransactionStatusResponse, *http.Response, error) {
	return r.ApiService.SearchOfferTransactionStatusesExecute(r)
}

/*
SearchOfferTransactionStatuses Search Offer Status

Search for the available offer statuses

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchOfferTransactionStatusesRequest
*/
func (a *OfferStatusAPIService) SearchOfferTransactionStatuses(ctx context.Context) ApiSearchOfferTransactionStatusesRequest {
	return ApiSearchOfferTransactionStatusesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []OfferTransactionStatusResponse
func (a *OfferStatusAPIService) SearchOfferTransactionStatusesExecute(r ApiSearchOfferTransactionStatusesRequest) ([]OfferTransactionStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []OfferTransactionStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferStatusAPIService.SearchOfferTransactionStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/offer/status/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.role != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role", r.role, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	} else {
		var defaultValue string = "CODE"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", defaultValue, "form", "")
		r.sortField = &defaultValue
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", defaultValue, "form", "")
		r.descending = &defaultValue
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", defaultValue, "form", "")
		r.start = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.includeInactive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeInactive", r.includeInactive, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeInactive", defaultValue, "form", "")
		r.includeInactive = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateOfferTransactionStatusRequest struct {
	ctx context.Context
	ApiService *OfferStatusAPIService
	deviceId *string
	accountId *int64
	latitude *float64
	longitude *float64
	statusId *int64
	name *string
	description *string
	code *int32
	role *string
	active *bool
	applicationIds *string
}

// The device id (deviceId or accountId required)
func (r ApiUpdateOfferTransactionStatusRequest) DeviceId(deviceId string) ApiUpdateOfferTransactionStatusRequest {
	r.deviceId = &deviceId
	return r
}

// The account id of the user (deviceId or accountId required)
func (r ApiUpdateOfferTransactionStatusRequest) AccountId(accountId int64) ApiUpdateOfferTransactionStatusRequest {
	r.accountId = &accountId
	return r
}

// Used to update the user&#39;s current location
func (r ApiUpdateOfferTransactionStatusRequest) Latitude(latitude float64) ApiUpdateOfferTransactionStatusRequest {
	r.latitude = &latitude
	return r
}

// Used to update the user&#39;s current location
func (r ApiUpdateOfferTransactionStatusRequest) Longitude(longitude float64) ApiUpdateOfferTransactionStatusRequest {
	r.longitude = &longitude
	return r
}

// The id of the record to update 
func (r ApiUpdateOfferTransactionStatusRequest) StatusId(statusId int64) ApiUpdateOfferTransactionStatusRequest {
	r.statusId = &statusId
	return r
}

// The name of th status
func (r ApiUpdateOfferTransactionStatusRequest) Name(name string) ApiUpdateOfferTransactionStatusRequest {
	r.name = &name
	return r
}

// The description of the status
func (r ApiUpdateOfferTransactionStatusRequest) Description(description string) ApiUpdateOfferTransactionStatusRequest {
	r.description = &description
	return r
}

// The status code, must be unique 
func (r ApiUpdateOfferTransactionStatusRequest) Code(code int32) ApiUpdateOfferTransactionStatusRequest {
	r.code = &code
	return r
}

// The actor that uses the status
func (r ApiUpdateOfferTransactionStatusRequest) Role(role string) ApiUpdateOfferTransactionStatusRequest {
	r.role = &role
	return r
}

// The active status
func (r ApiUpdateOfferTransactionStatusRequest) Active(active bool) ApiUpdateOfferTransactionStatusRequest {
	r.active = &active
	return r
}

// The applications to associate the status with, if null then for all.
func (r ApiUpdateOfferTransactionStatusRequest) ApplicationIds(applicationIds string) ApiUpdateOfferTransactionStatusRequest {
	r.applicationIds = &applicationIds
	return r
}

func (r ApiUpdateOfferTransactionStatusRequest) Execute() (*OfferTransactionStatusResponse, *http.Response, error) {
	return r.ApiService.UpdateOfferTransactionStatusExecute(r)
}

/*
UpdateOfferTransactionStatus Update Offer Status

Update an offer status record

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateOfferTransactionStatusRequest
*/
func (a *OfferStatusAPIService) UpdateOfferTransactionStatus(ctx context.Context) ApiUpdateOfferTransactionStatusRequest {
	return ApiUpdateOfferTransactionStatusRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OfferTransactionStatusResponse
func (a *OfferStatusAPIService) UpdateOfferTransactionStatusExecute(r ApiUpdateOfferTransactionStatusRequest) (*OfferTransactionStatusResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OfferTransactionStatusResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferStatusAPIService.UpdateOfferTransactionStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/offer/status/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	if r.statusId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statusId", r.statusId, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.role != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "role", r.role, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.applicationIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "applicationIds", r.applicationIds, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
