/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// WordAPIService WordAPI service
type WordAPIService service

type ApiCreateWordRequest struct {
	ctx context.Context
	ApiService *WordAPIService
	version float32
	accountId *int64
	word *string
	definition *string
	active *bool
	allocateTickets *bool
	ticketCount *int64
	assetId *int64
	ticketType *string
	points *int64
}

// The logged in user.
func (r ApiCreateWordRequest) AccountId(accountId int64) ApiCreateWordRequest {
	r.accountId = &accountId
	return r
}

// The text of the word.
func (r ApiCreateWordRequest) Word(word string) ApiCreateWordRequest {
	r.word = &word
	return r
}

// The definition of the word.
func (r ApiCreateWordRequest) Definition(definition string) ApiCreateWordRequest {
	r.definition = &definition
	return r
}

// If true set the word to active. Default to false.
func (r ApiCreateWordRequest) Active(active bool) ApiCreateWordRequest {
	r.active = &active
	return r
}

// If true then scoring will give tickets. Default to false.
func (r ApiCreateWordRequest) AllocateTickets(allocateTickets bool) ApiCreateWordRequest {
	r.allocateTickets = &allocateTickets
	return r
}

// The number of tickets to reward
func (r ApiCreateWordRequest) TicketCount(ticketCount int64) ApiCreateWordRequest {
	r.ticketCount = &ticketCount
	return r
}

// The asset id of the word.
func (r ApiCreateWordRequest) AssetId(assetId int64) ApiCreateWordRequest {
	r.assetId = &assetId
	return r
}

// The type of ticket to reward, null means default type
func (r ApiCreateWordRequest) TicketType(ticketType string) ApiCreateWordRequest {
	r.ticketType = &ticketType
	return r
}

// The number of points to award for completing a mission
func (r ApiCreateWordRequest) Points(points int64) ApiCreateWordRequest {
	r.points = &points
	return r
}

func (r ApiCreateWordRequest) Execute() (*WordzWordResponse, *http.Response, error) {
	return r.ApiService.CreateWordExecute(r)
}

/*
CreateWord Create Word

Create a word by the given params.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiCreateWordRequest
*/
func (a *WordAPIService) CreateWord(ctx context.Context, version float32) ApiCreateWordRequest {
	return ApiCreateWordRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return WordzWordResponse
func (a *WordAPIService) CreateWordExecute(r ApiCreateWordRequest) (*WordzWordResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WordzWordResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WordAPIService.CreateWord")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/game/word/create"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.word == nil {
		return localVarReturnValue, nil, reportError("word is required and must be specified")
	}
	if r.definition == nil {
		return localVarReturnValue, nil, reportError("definition is required and must be specified")
	}
	if r.active == nil {
		return localVarReturnValue, nil, reportError("active is required and must be specified")
	}
	if r.allocateTickets == nil {
		return localVarReturnValue, nil, reportError("allocateTickets is required and must be specified")
	}
	if r.ticketCount == nil {
		return localVarReturnValue, nil, reportError("ticketCount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "word", r.word, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "definition", r.definition, "form", "")
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetId", r.assetId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "allocateTickets", r.allocateTickets, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "ticketCount", r.ticketCount, "form", "")
	if r.ticketType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ticketType", r.ticketType, "form", "")
	}
	if r.points != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "points", r.points, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteWordRequest struct {
	ctx context.Context
	ApiService *WordAPIService
	version float32
	wordId *int64
	accountId *int64
}

// The id of the word to delete.
func (r ApiDeleteWordRequest) WordId(wordId int64) ApiDeleteWordRequest {
	r.wordId = &wordId
	return r
}

// The account vor validating permission
func (r ApiDeleteWordRequest) AccountId(accountId int64) ApiDeleteWordRequest {
	r.accountId = &accountId
	return r
}

func (r ApiDeleteWordRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteWordExecute(r)
}

/*
DeleteWord Delete Word

Delete a word by the given id. The accountId given needs to be the owner or executive to delete.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiDeleteWordRequest
*/
func (a *WordAPIService) DeleteWord(ctx context.Context, version float32) ApiDeleteWordRequest {
	return ApiDeleteWordRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *WordAPIService) DeleteWordExecute(r ApiDeleteWordRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WordAPIService.DeleteWord")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/game/word/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.wordId == nil {
		return localVarReturnValue, nil, reportError("wordId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "wordId", r.wordId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWordRequest struct {
	ctx context.Context
	ApiService *WordAPIService
	version float32
	wordId *int64
	accountId *int64
}

// The id of the word to get.
func (r ApiGetWordRequest) WordId(wordId int64) ApiGetWordRequest {
	r.wordId = &wordId
	return r
}

// The logged in user.
func (r ApiGetWordRequest) AccountId(accountId int64) ApiGetWordRequest {
	r.accountId = &accountId
	return r
}

func (r ApiGetWordRequest) Execute() (*WordzWordResponse, *http.Response, error) {
	return r.ApiService.GetWordExecute(r)
}

/*
GetWord Get Word

Get a word by the given id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetWordRequest
*/
func (a *WordAPIService) GetWord(ctx context.Context, version float32) ApiGetWordRequest {
	return ApiGetWordRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return WordzWordResponse
func (a *WordAPIService) GetWordExecute(r ApiGetWordRequest) (*WordzWordResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WordzWordResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WordAPIService.GetWord")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/game/word/get"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.wordId == nil {
		return localVarReturnValue, nil, reportError("wordId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "wordId", r.wordId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetWordsRequest struct {
	ctx context.Context
	ApiService *WordAPIService
	version float32
	accountId *int64
	sortField *string
	descending *bool
	activeOnly *bool
	start *int32
	limit *int32
	keyword *string
}

// The logged in user.
func (r ApiGetWordsRequest) AccountId(accountId int64) ApiGetWordsRequest {
	r.accountId = &accountId
	return r
}

// The column to sort the search on
func (r ApiGetWordsRequest) SortField(sortField string) ApiGetWordsRequest {
	r.sortField = &sortField
	return r
}

// The order to return the search results
func (r ApiGetWordsRequest) Descending(descending bool) ApiGetWordsRequest {
	r.descending = &descending
	return r
}

// Return only active results if set to true.
func (r ApiGetWordsRequest) ActiveOnly(activeOnly bool) ApiGetWordsRequest {
	r.activeOnly = &activeOnly
	return r
}

// The record to begin the return set on.
func (r ApiGetWordsRequest) Start(start int32) ApiGetWordsRequest {
	r.start = &start
	return r
}

// The number of records to return.
func (r ApiGetWordsRequest) Limit(limit int32) ApiGetWordsRequest {
	r.limit = &limit
	return r
}

// The keyword for searching words with matching definition or word text.
func (r ApiGetWordsRequest) Keyword(keyword string) ApiGetWordsRequest {
	r.keyword = &keyword
	return r
}

func (r ApiGetWordsRequest) Execute() ([]WordzWordResponse, *http.Response, error) {
	return r.ApiService.GetWordsExecute(r)
}

/*
GetWords Search Words

Search for words by the given params.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetWordsRequest
*/
func (a *WordAPIService) GetWords(ctx context.Context, version float32) ApiGetWordsRequest {
	return ApiGetWordsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return []WordzWordResponse
func (a *WordAPIService) GetWordsExecute(r ApiGetWordsRequest) ([]WordzWordResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []WordzWordResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WordAPIService.GetWords")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/game/word/search"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.sortField == nil {
		return localVarReturnValue, nil, reportError("sortField is required and must be specified")
	}
	if r.descending == nil {
		return localVarReturnValue, nil, reportError("descending is required and must be specified")
	}
	if r.activeOnly == nil {
		return localVarReturnValue, nil, reportError("activeOnly is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", r.activeOnly, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateWordRequest struct {
	ctx context.Context
	ApiService *WordAPIService
	version float32
	wordId *int64
	accountId *int64
	ticketCount *int64
	wordText *string
	definition *string
	assetId *int64
	active *bool
	allocateTickets *bool
	ticketType *string
	points *int64
}

// The id of the word to update.
func (r ApiUpdateWordRequest) WordId(wordId int64) ApiUpdateWordRequest {
	r.wordId = &wordId
	return r
}

// The logged in user.
func (r ApiUpdateWordRequest) AccountId(accountId int64) ApiUpdateWordRequest {
	r.accountId = &accountId
	return r
}

// The number of tickets to reward
func (r ApiUpdateWordRequest) TicketCount(ticketCount int64) ApiUpdateWordRequest {
	r.ticketCount = &ticketCount
	return r
}

// The text for the word
func (r ApiUpdateWordRequest) WordText(wordText string) ApiUpdateWordRequest {
	r.wordText = &wordText
	return r
}

// The definition of the word.
func (r ApiUpdateWordRequest) Definition(definition string) ApiUpdateWordRequest {
	r.definition = &definition
	return r
}

// The asset id of the word.
func (r ApiUpdateWordRequest) AssetId(assetId int64) ApiUpdateWordRequest {
	r.assetId = &assetId
	return r
}

// If true set the word to active.
func (r ApiUpdateWordRequest) Active(active bool) ApiUpdateWordRequest {
	r.active = &active
	return r
}

// If true then scoring will give tickets.
func (r ApiUpdateWordRequest) AllocateTickets(allocateTickets bool) ApiUpdateWordRequest {
	r.allocateTickets = &allocateTickets
	return r
}

// The type of ticket to reward, null means default type
func (r ApiUpdateWordRequest) TicketType(ticketType string) ApiUpdateWordRequest {
	r.ticketType = &ticketType
	return r
}

// The number of points to award for completing a mission
func (r ApiUpdateWordRequest) Points(points int64) ApiUpdateWordRequest {
	r.points = &points
	return r
}

func (r ApiUpdateWordRequest) Execute() (*WordzWordResponse, *http.Response, error) {
	return r.ApiService.UpdateWordExecute(r)
}

/*
UpdateWord Update Word

Update a word by the given params.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiUpdateWordRequest
*/
func (a *WordAPIService) UpdateWord(ctx context.Context, version float32) ApiUpdateWordRequest {
	return ApiUpdateWordRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return WordzWordResponse
func (a *WordAPIService) UpdateWordExecute(r ApiUpdateWordRequest) (*WordzWordResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *WordzWordResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WordAPIService.UpdateWord")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/game/word/update"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.wordId == nil {
		return localVarReturnValue, nil, reportError("wordId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.ticketCount == nil {
		return localVarReturnValue, nil, reportError("ticketCount is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "wordId", r.wordId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.wordText != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "wordText", r.wordText, "form", "")
	}
	if r.definition != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "definition", r.definition, "form", "")
	}
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetId", r.assetId, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.allocateTickets != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "allocateTickets", r.allocateTickets, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "ticketCount", r.ticketCount, "form", "")
	if r.ticketType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ticketType", r.ticketType, "form", "")
	}
	if r.points != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "points", r.points, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
