/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TaskAPIService TaskAPI service
type TaskAPIService service

type ApiCreateTaskRequest struct {
	ctx context.Context
	ApiService *TaskAPIService
	accountId *int64
	name *string
	appKey *string
	groupingId *string
	endpointURL *string
	payload *string
	scheduledDate *int64
	startDate *int64
	endDate *int64
	cronExpression *string
	visibility *string
	active *bool
}

// The logged in user.
func (r ApiCreateTaskRequest) AccountId(accountId int64) ApiCreateTaskRequest {
	r.accountId = &accountId
	return r
}

// The name of the task
func (r ApiCreateTaskRequest) Name(name string) ApiCreateTaskRequest {
	r.name = &name
	return r
}

// The application to target
func (r ApiCreateTaskRequest) AppKey(appKey string) ApiCreateTaskRequest {
	r.appKey = &appKey
	return r
}

// Client defined identifier for grouping tasks
func (r ApiCreateTaskRequest) GroupingId(groupingId string) ApiCreateTaskRequest {
	r.groupingId = &groupingId
	return r
}

// The URL for making an HTTP call
func (r ApiCreateTaskRequest) EndpointURL(endpointURL string) ApiCreateTaskRequest {
	r.endpointURL = &endpointURL
	return r
}

// The parameters for making an HTTP call
func (r ApiCreateTaskRequest) Payload(payload string) ApiCreateTaskRequest {
	r.payload = &payload
	return r
}

// The date and time of the task
func (r ApiCreateTaskRequest) ScheduledDate(scheduledDate int64) ApiCreateTaskRequest {
	r.scheduledDate = &scheduledDate
	return r
}

// The starting date of the task
func (r ApiCreateTaskRequest) StartDate(startDate int64) ApiCreateTaskRequest {
	r.startDate = &startDate
	return r
}

// The ending date of the task
func (r ApiCreateTaskRequest) EndDate(endDate int64) ApiCreateTaskRequest {
	r.endDate = &endDate
	return r
}

// The cron expression that represents the task&#39;s schedule
func (r ApiCreateTaskRequest) CronExpression(cronExpression string) ApiCreateTaskRequest {
	r.cronExpression = &cronExpression
	return r
}

// The determines the scope of who is able to find and view the scheduled notification (PUBLIC - openly available to all Sirqul users, PRIVATE - only available to users that have been invited)
func (r ApiCreateTaskRequest) Visibility(visibility string) ApiCreateTaskRequest {
	r.visibility = &visibility
	return r
}

// Sets whether the Task is active or not (inactive Tasks are not processed)
func (r ApiCreateTaskRequest) Active(active bool) ApiCreateTaskRequest {
	r.active = &active
	return r
}

func (r ApiCreateTaskRequest) Execute() (*TaskResponse, *http.Response, error) {
	return r.ApiService.CreateTaskExecute(r)
}

/*
CreateTask Create Task

Create a Task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateTaskRequest
*/
func (a *TaskAPIService) CreateTask(ctx context.Context) ApiCreateTaskRequest {
	return ApiCreateTaskRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TaskResponse
func (a *TaskAPIService) CreateTaskExecute(r ApiCreateTaskRequest) (*TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskAPIService.CreateTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/task/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.groupingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupingId", r.groupingId, "form", "")
	}
	if r.endpointURL != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpointURL", r.endpointURL, "form", "")
	}
	if r.payload != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "payload", r.payload, "form", "")
	}
	if r.scheduledDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduledDate", r.scheduledDate, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.cronExpression != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cronExpression", r.cronExpression, "form", "")
	}
	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", defaultValue, "form", "")
		r.active = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteTaskRequest struct {
	ctx context.Context
	ApiService *TaskAPIService
	accountId *int64
	taskId *int64
}

// The logged in user.
func (r ApiDeleteTaskRequest) AccountId(accountId int64) ApiDeleteTaskRequest {
	r.accountId = &accountId
	return r
}

// The id of the Task to delete.
func (r ApiDeleteTaskRequest) TaskId(taskId int64) ApiDeleteTaskRequest {
	r.taskId = &taskId
	return r
}

func (r ApiDeleteTaskRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteTaskExecute(r)
}

/*
DeleteTask Delete Task

Delete a Task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteTaskRequest
*/
func (a *TaskAPIService) DeleteTask(ctx context.Context) ApiDeleteTaskRequest {
	return ApiDeleteTaskRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *TaskAPIService) DeleteTaskExecute(r ApiDeleteTaskRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskAPIService.DeleteTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/task/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.taskId == nil {
		return localVarReturnValue, nil, reportError("taskId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "taskId", r.taskId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTaskRequest struct {
	ctx context.Context
	ApiService *TaskAPIService
	accountId *int64
	taskId *int64
}

// The logged in user.
func (r ApiGetTaskRequest) AccountId(accountId int64) ApiGetTaskRequest {
	r.accountId = &accountId
	return r
}

// The id of the Task to return.
func (r ApiGetTaskRequest) TaskId(taskId int64) ApiGetTaskRequest {
	r.taskId = &taskId
	return r
}

func (r ApiGetTaskRequest) Execute() (*TaskResponse, *http.Response, error) {
	return r.ApiService.GetTaskExecute(r)
}

/*
GetTask Get Task

Get a Task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTaskRequest
*/
func (a *TaskAPIService) GetTask(ctx context.Context) ApiGetTaskRequest {
	return ApiGetTaskRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TaskResponse
func (a *TaskAPIService) GetTaskExecute(r ApiGetTaskRequest) (*TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskAPIService.GetTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/task/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.taskId == nil {
		return localVarReturnValue, nil, reportError("taskId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "taskId", r.taskId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchTasksRequest struct {
	ctx context.Context
	ApiService *TaskAPIService
	accountId *int64
	groupingId *string
	filter *string
	statuses *string
	templateTypes *string
	appKey *string
	keyword *string
	sortField *string
	descending *bool
	start *int32
	limit *int32
	activeOnly *bool
}

// The logged in user.
func (r ApiSearchTasksRequest) AccountId(accountId int64) ApiSearchTasksRequest {
	r.accountId = &accountId
	return r
}

// Filter results by a grouping identifier defined by the client
func (r ApiSearchTasksRequest) GroupingId(groupingId string) ApiSearchTasksRequest {
	r.groupingId = &groupingId
	return r
}

// A comma separated list of filters:  * MINE - Return tasks that the user has created * SHARED - Return tasks that have been shared to the user * FOLLOWER - Return tasks that have been created by the user&#39;&#39;s followers (the content needs to have been APPROVED or FEATURED) * FOLLOWING - Return tasks that have been created by people who the user is following (the content needs to have been APPROVED or FEATURED) * PUBLIC - Return all PUBLIC tasks that have been APPROVED or FEATURED * ALL_PUBLIC - Return all PUBLIC tasks regardless of whether they are approved or not (ignores the approval status) * LIKED - Return all tasks that the user has liked * FEATURED - Return all tasks that have been featured * PENDING - Return all pending tasks 
func (r ApiSearchTasksRequest) Filter(filter string) ApiSearchTasksRequest {
	r.filter = &filter
	return r
}

// Filter results by status (comma separated list). Values include: NEW, ERROR, COMPLETE, PROCESSING, TEMPLATE
func (r ApiSearchTasksRequest) Statuses(statuses string) ApiSearchTasksRequest {
	r.statuses = &statuses
	return r
}

// Template Types
func (r ApiSearchTasksRequest) TemplateTypes(templateTypes string) ApiSearchTasksRequest {
	r.templateTypes = &templateTypes
	return r
}

// Filter the list by a specific application
func (r ApiSearchTasksRequest) AppKey(appKey string) ApiSearchTasksRequest {
	r.appKey = &appKey
	return r
}

// Keyword search on the task names.
func (r ApiSearchTasksRequest) Keyword(keyword string) ApiSearchTasksRequest {
	r.keyword = &keyword
	return r
}

// The field to sort by. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, SCHEDULED_DATE, START_DATE, END_DATE
func (r ApiSearchTasksRequest) SortField(sortField string) ApiSearchTasksRequest {
	r.sortField = &sortField
	return r
}

// Determines whether the sorted list is in descending or ascending order
func (r ApiSearchTasksRequest) Descending(descending bool) ApiSearchTasksRequest {
	r.descending = &descending
	return r
}

// Start the result set at some index.
func (r ApiSearchTasksRequest) Start(start int32) ApiSearchTasksRequest {
	r.start = &start
	return r
}

// Limit the result to some number.
func (r ApiSearchTasksRequest) Limit(limit int32) ApiSearchTasksRequest {
	r.limit = &limit
	return r
}

// Determines whether to return only active results
func (r ApiSearchTasksRequest) ActiveOnly(activeOnly bool) ApiSearchTasksRequest {
	r.activeOnly = &activeOnly
	return r
}

func (r ApiSearchTasksRequest) Execute() ([]TaskResponse, *http.Response, error) {
	return r.ApiService.SearchTasksExecute(r)
}

/*
SearchTasks Search Tasks

Search on Tasks

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchTasksRequest
*/
func (a *TaskAPIService) SearchTasks(ctx context.Context) ApiSearchTasksRequest {
	return ApiSearchTasksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []TaskResponse
func (a *TaskAPIService) SearchTasksExecute(r ApiSearchTasksRequest) ([]TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskAPIService.SearchTasks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/task/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.groupingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupingId", r.groupingId, "form", "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	} else {
		var defaultValue string = "MINE"
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", defaultValue, "form", "")
		r.filter = &defaultValue
	}
	if r.statuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", r.statuses, "form", "")
	} else {
		var defaultValue string = "NEW,ERROR,COMPLETE,PROCESSING"
		parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", defaultValue, "form", "")
		r.statuses = &defaultValue
	}
	if r.templateTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "templateTypes", r.templateTypes, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	} else {
		var defaultValue string = "CREATED"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", defaultValue, "form", "")
		r.sortField = &defaultValue
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", defaultValue, "form", "")
		r.descending = &defaultValue
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", defaultValue, "form", "")
		r.start = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.activeOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", r.activeOnly, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", defaultValue, "form", "")
		r.activeOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateTaskRequest struct {
	ctx context.Context
	ApiService *TaskAPIService
	taskId *int64
	accountId *int64
	name *string
	appKey *string
	groupingId *string
	endpointURL *string
	payload *string
	scheduledDate *int64
	startDate *int64
	endDate *int64
	cronExpression *string
	visibility *string
	active *bool
}

// Task Id
func (r ApiUpdateTaskRequest) TaskId(taskId int64) ApiUpdateTaskRequest {
	r.taskId = &taskId
	return r
}

// The logged in user.
func (r ApiUpdateTaskRequest) AccountId(accountId int64) ApiUpdateTaskRequest {
	r.accountId = &accountId
	return r
}

// The name of the task
func (r ApiUpdateTaskRequest) Name(name string) ApiUpdateTaskRequest {
	r.name = &name
	return r
}

// The application to target
func (r ApiUpdateTaskRequest) AppKey(appKey string) ApiUpdateTaskRequest {
	r.appKey = &appKey
	return r
}

// Client defined identifier for grouping tasks
func (r ApiUpdateTaskRequest) GroupingId(groupingId string) ApiUpdateTaskRequest {
	r.groupingId = &groupingId
	return r
}

// The URL for making an HTTP call
func (r ApiUpdateTaskRequest) EndpointURL(endpointURL string) ApiUpdateTaskRequest {
	r.endpointURL = &endpointURL
	return r
}

// The parameters for making an HTTP call
func (r ApiUpdateTaskRequest) Payload(payload string) ApiUpdateTaskRequest {
	r.payload = &payload
	return r
}

// The date and time of the task
func (r ApiUpdateTaskRequest) ScheduledDate(scheduledDate int64) ApiUpdateTaskRequest {
	r.scheduledDate = &scheduledDate
	return r
}

// The starting date of the task
func (r ApiUpdateTaskRequest) StartDate(startDate int64) ApiUpdateTaskRequest {
	r.startDate = &startDate
	return r
}

// The ending date of the task
func (r ApiUpdateTaskRequest) EndDate(endDate int64) ApiUpdateTaskRequest {
	r.endDate = &endDate
	return r
}

// The cron expression that represents the task&#39;s schedule
func (r ApiUpdateTaskRequest) CronExpression(cronExpression string) ApiUpdateTaskRequest {
	r.cronExpression = &cronExpression
	return r
}

// The determines the scope of who is able to find and view the scheduled notification (PUBLIC - openly available to all Sirqul users, PRIVATE - only available to users that have been invited)
func (r ApiUpdateTaskRequest) Visibility(visibility string) ApiUpdateTaskRequest {
	r.visibility = &visibility
	return r
}

// Sets whether the Task is active or not (inactive Tasks are not processed)
func (r ApiUpdateTaskRequest) Active(active bool) ApiUpdateTaskRequest {
	r.active = &active
	return r
}

func (r ApiUpdateTaskRequest) Execute() (*TaskResponse, *http.Response, error) {
	return r.ApiService.UpdateTaskExecute(r)
}

/*
UpdateTask Update Task

Update a Task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUpdateTaskRequest
*/
func (a *TaskAPIService) UpdateTask(ctx context.Context) ApiUpdateTaskRequest {
	return ApiUpdateTaskRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TaskResponse
func (a *TaskAPIService) UpdateTaskExecute(r ApiUpdateTaskRequest) (*TaskResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TaskResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TaskAPIService.UpdateTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/task/update"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.taskId == nil {
		return localVarReturnValue, nil, reportError("taskId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "taskId", r.taskId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.groupingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupingId", r.groupingId, "form", "")
	}
	if r.endpointURL != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpointURL", r.endpointURL, "form", "")
	}
	if r.payload != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "payload", r.payload, "form", "")
	}
	if r.scheduledDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduledDate", r.scheduledDate, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.cronExpression != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cronExpression", r.cronExpression, "form", "")
	}
	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
