/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// FacebookAPIService FacebookAPI service
type FacebookAPIService service

type ApiGetTokenRequest struct {
	ctx context.Context
	ApiService *FacebookAPIService
	version float32
	deviceId *string
	accountId *int64
	latitude *float64
	longitude *float64
}

// a unique id given by the device (deviceId or accountId required)
func (r ApiGetTokenRequest) DeviceId(deviceId string) ApiGetTokenRequest {
	r.deviceId = &deviceId
	return r
}

// the account id of the user (deviceId or accountId required)
func (r ApiGetTokenRequest) AccountId(accountId int64) ApiGetTokenRequest {
	r.accountId = &accountId
	return r
}

// used to update the user&#39;s current location
func (r ApiGetTokenRequest) Latitude(latitude float64) ApiGetTokenRequest {
	r.latitude = &latitude
	return r
}

// used to update the user&#39;s current location
func (r ApiGetTokenRequest) Longitude(longitude float64) ApiGetTokenRequest {
	r.longitude = &longitude
	return r
}

func (r ApiGetTokenRequest) Execute() (*TokenResponse, *http.Response, error) {
	return r.ApiService.GetTokenExecute(r)
}

/*
GetToken Get Facebook Token

Gets a user's Facebook token.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetTokenRequest
*/
func (a *FacebookAPIService) GetToken(ctx context.Context, version float32) ApiGetTokenRequest {
	return ApiGetTokenRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return TokenResponse
func (a *FacebookAPIService) GetTokenExecute(r ApiGetTokenRequest) (*TokenResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TokenResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacebookAPIService.GetToken")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/facebook/getfbtoken"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGraphInterfaceRequest struct {
	ctx context.Context
	ApiService *FacebookAPIService
	version float32
	event *string
	deviceId *string
	accountId *int64
	permissionableType *string
	permissionableId *int64
	assetId *int64
	gameType *string
	appKey *string
	latitude *float64
	longitude *float64
}

// the type of Sirqul event {DOWNLOADED_APP, CHALLENGE, LEVEL_COMPLETED, LEVEL_CREATED}
func (r ApiGraphInterfaceRequest) Event(event string) ApiGraphInterfaceRequest {
	r.event = &event
	return r
}

// a unique id given by the device (deviceId or accountId required)
func (r ApiGraphInterfaceRequest) DeviceId(deviceId string) ApiGraphInterfaceRequest {
	r.deviceId = &deviceId
	return r
}

// the account id of the user (deviceId or accountId required)
func (r ApiGraphInterfaceRequest) AccountId(accountId int64) ApiGraphInterfaceRequest {
	r.accountId = &accountId
	return r
}

// for posting about information related to an object. Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
func (r ApiGraphInterfaceRequest) PermissionableType(permissionableType string) ApiGraphInterfaceRequest {
	r.permissionableType = &permissionableType
	return r
}

// the object id
func (r ApiGraphInterfaceRequest) PermissionableId(permissionableId int64) ApiGraphInterfaceRequest {
	r.permissionableId = &permissionableId
	return r
}

// used to include an asset on a Facebook post
func (r ApiGraphInterfaceRequest) AssetId(assetId int64) ApiGraphInterfaceRequest {
	r.assetId = &assetId
	return r
}

// This parameter is deprecated.
func (r ApiGraphInterfaceRequest) GameType(gameType string) ApiGraphInterfaceRequest {
	r.gameType = &gameType
	return r
}

// the application key
func (r ApiGraphInterfaceRequest) AppKey(appKey string) ApiGraphInterfaceRequest {
	r.appKey = &appKey
	return r
}

// used to update the user&#39;s current location
func (r ApiGraphInterfaceRequest) Latitude(latitude float64) ApiGraphInterfaceRequest {
	r.latitude = &latitude
	return r
}

// used to update the user&#39;s current location
func (r ApiGraphInterfaceRequest) Longitude(longitude float64) ApiGraphInterfaceRequest {
	r.longitude = &longitude
	return r
}

func (r ApiGraphInterfaceRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.GraphInterfaceExecute(r)
}

/*
GraphInterface Post to Facebook

Make Facebook posts on behalf of the user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGraphInterfaceRequest
*/
func (a *FacebookAPIService) GraphInterface(ctx context.Context, version float32) ApiGraphInterfaceRequest {
	return ApiGraphInterfaceRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *FacebookAPIService) GraphInterfaceExecute(r ApiGraphInterfaceRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FacebookAPIService.GraphInterface")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/facebook/graph"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.event == nil {
		return localVarReturnValue, nil, reportError("event is required and must be specified")
	}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "event", r.event, "form", "")
	if r.permissionableType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "permissionableType", r.permissionableType, "form", "")
	}
	if r.permissionableId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "permissionableId", r.permissionableId, "form", "")
	}
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetId", r.assetId, "form", "")
	}
	if r.gameType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gameType", r.gameType, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
