/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// RouteSettingAPIService RouteSettingAPI service
type RouteSettingAPIService service

type ApiCreateRouteSettingsRequest struct {
	ctx context.Context
	ApiService *RouteSettingAPIService
	version float32
	body *RouteSettings
}

func (r ApiCreateRouteSettingsRequest) Body(body RouteSettings) ApiCreateRouteSettingsRequest {
	r.body = &body
	return r
}

func (r ApiCreateRouteSettingsRequest) Execute() (*RouteSettings, *http.Response, error) {
	return r.ApiService.CreateRouteSettingsExecute(r)
}

/*
CreateRouteSettings Create Route Setting

Create a new route setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiCreateRouteSettingsRequest
*/
func (a *RouteSettingAPIService) CreateRouteSettings(ctx context.Context, version float32) ApiCreateRouteSettingsRequest {
	return ApiCreateRouteSettingsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return RouteSettings
func (a *RouteSettingAPIService) CreateRouteSettingsExecute(r ApiCreateRouteSettingsRequest) (*RouteSettings, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RouteSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RouteSettingAPIService.CreateRouteSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/route/setting"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteRouteSettingsRequest struct {
	ctx context.Context
	ApiService *RouteSettingAPIService
	version float32
	routeSettingsId int64
}

func (r ApiDeleteRouteSettingsRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteRouteSettingsExecute(r)
}

/*
DeleteRouteSettings Delete Route Setting

Delete an existing route setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @param routeSettingsId the id of the route setting to delete
 @return ApiDeleteRouteSettingsRequest
*/
func (a *RouteSettingAPIService) DeleteRouteSettings(ctx context.Context, version float32, routeSettingsId int64) ApiDeleteRouteSettingsRequest {
	return ApiDeleteRouteSettingsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		routeSettingsId: routeSettingsId,
	}
}

// Execute executes the request
//  @return map[string]interface{}
func (a *RouteSettingAPIService) DeleteRouteSettingsExecute(r ApiDeleteRouteSettingsRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RouteSettingAPIService.DeleteRouteSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/route/setting/{routeSettingsId}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"routeSettingsId"+"}", url.PathEscape(parameterValueToString(r.routeSettingsId, "routeSettingsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetRouteSettingsRequest struct {
	ctx context.Context
	ApiService *RouteSettingAPIService
	version float32
	routeSettingsId int64
}

func (r ApiGetRouteSettingsRequest) Execute() (*RouteSettings, *http.Response, error) {
	return r.ApiService.GetRouteSettingsExecute(r)
}

/*
GetRouteSettings Get Route Setting

Get an existing route settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @param routeSettingsId the id of the route settings to get
 @return ApiGetRouteSettingsRequest
*/
func (a *RouteSettingAPIService) GetRouteSettings(ctx context.Context, version float32, routeSettingsId int64) ApiGetRouteSettingsRequest {
	return ApiGetRouteSettingsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		routeSettingsId: routeSettingsId,
	}
}

// Execute executes the request
//  @return RouteSettings
func (a *RouteSettingAPIService) GetRouteSettingsExecute(r ApiGetRouteSettingsRequest) (*RouteSettings, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RouteSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RouteSettingAPIService.GetRouteSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/route/setting/{routeSettingsId}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"routeSettingsId"+"}", url.PathEscape(parameterValueToString(r.routeSettingsId, "routeSettingsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchRouteSettingsRequest struct {
	ctx context.Context
	ApiService *RouteSettingAPIService
	version float32
	sortField *string
	descending *bool
	start *int32
	limit *int32
	activeOnly *bool
	hubId *int64
	programId *int64
	keyword *string
}

// The field to sort by
func (r ApiSearchRouteSettingsRequest) SortField(sortField string) ApiSearchRouteSettingsRequest {
	r.sortField = &sortField
	return r
}

// Determines whether the sorted list is in descending or ascending order
func (r ApiSearchRouteSettingsRequest) Descending(descending bool) ApiSearchRouteSettingsRequest {
	r.descending = &descending
	return r
}

// The start index for pagination
func (r ApiSearchRouteSettingsRequest) Start(start int32) ApiSearchRouteSettingsRequest {
	r.start = &start
	return r
}

// The limit for pagination
func (r ApiSearchRouteSettingsRequest) Limit(limit int32) ApiSearchRouteSettingsRequest {
	r.limit = &limit
	return r
}

// Return only active results
func (r ApiSearchRouteSettingsRequest) ActiveOnly(activeOnly bool) ApiSearchRouteSettingsRequest {
	r.activeOnly = &activeOnly
	return r
}

// The service hub that the route belongs under
func (r ApiSearchRouteSettingsRequest) HubId(hubId int64) ApiSearchRouteSettingsRequest {
	r.hubId = &hubId
	return r
}

// The program that the route belongs under
func (r ApiSearchRouteSettingsRequest) ProgramId(programId int64) ApiSearchRouteSettingsRequest {
	r.programId = &programId
	return r
}

// The keyword to search for the route
func (r ApiSearchRouteSettingsRequest) Keyword(keyword string) ApiSearchRouteSettingsRequest {
	r.keyword = &keyword
	return r
}

func (r ApiSearchRouteSettingsRequest) Execute() ([]RouteSettings, *http.Response, error) {
	return r.ApiService.SearchRouteSettingsExecute(r)
}

/*
SearchRouteSettings Search Route Settings

Search for route settings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiSearchRouteSettingsRequest
*/
func (a *RouteSettingAPIService) SearchRouteSettings(ctx context.Context, version float32) ApiSearchRouteSettingsRequest {
	return ApiSearchRouteSettingsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return []RouteSettings
func (a *RouteSettingAPIService) SearchRouteSettingsExecute(r ApiSearchRouteSettingsRequest) ([]RouteSettings, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []RouteSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RouteSettingAPIService.SearchRouteSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/route/setting"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sortField == nil {
		return localVarReturnValue, nil, reportError("sortField is required and must be specified")
	}
	if r.descending == nil {
		return localVarReturnValue, nil, reportError("descending is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}
	if r.activeOnly == nil {
		return localVarReturnValue, nil, reportError("activeOnly is required and must be specified")
	}

	if r.hubId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "hubId", r.hubId, "form", "")
	}
	if r.programId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "programId", r.programId, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", r.activeOnly, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateRouteSettingsRequest struct {
	ctx context.Context
	ApiService *RouteSettingAPIService
	version float32
	routeSettingsId int64
	body *RouteSettings
}

func (r ApiUpdateRouteSettingsRequest) Body(body RouteSettings) ApiUpdateRouteSettingsRequest {
	r.body = &body
	return r
}

func (r ApiUpdateRouteSettingsRequest) Execute() (*RouteSettings, *http.Response, error) {
	return r.ApiService.UpdateRouteSettingsExecute(r)
}

/*
UpdateRouteSettings Update Route Setting

Update an existing route setting

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @param routeSettingsId the id of the route settings to update
 @return ApiUpdateRouteSettingsRequest
*/
func (a *RouteSettingAPIService) UpdateRouteSettings(ctx context.Context, version float32, routeSettingsId int64) ApiUpdateRouteSettingsRequest {
	return ApiUpdateRouteSettingsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
		routeSettingsId: routeSettingsId,
	}
}

// Execute executes the request
//  @return RouteSettings
func (a *RouteSettingAPIService) UpdateRouteSettingsExecute(r ApiUpdateRouteSettingsRequest) (*RouteSettings, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RouteSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "RouteSettingAPIService.UpdateRouteSettings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/route/setting/{routeSettingsId}"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"routeSettingsId"+"}", url.PathEscape(parameterValueToString(r.routeSettingsId, "routeSettingsId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
