/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// TriggerAPIService TriggerAPI service
type TriggerAPIService service

type ApiCreateTriggerRequest struct {
	ctx context.Context
	ApiService *TriggerAPIService
	version float32
	accountId *int64
	name *string
	appKey *string
	groupingId *string
	endpointURL *string
	payload *string
	scheduledDate *int64
	startDate *int64
	endDate *int64
	cronExpression *string
	conditionalInput *string
	visibility *string
	active *bool
}

// The logged in user
func (r ApiCreateTriggerRequest) AccountId(accountId int64) ApiCreateTriggerRequest {
	r.accountId = &accountId
	return r
}

// The name of the trigger
func (r ApiCreateTriggerRequest) Name(name string) ApiCreateTriggerRequest {
	r.name = &name
	return r
}

// The application to target
func (r ApiCreateTriggerRequest) AppKey(appKey string) ApiCreateTriggerRequest {
	r.appKey = &appKey
	return r
}

// Client defined identifier for grouping triggers
func (r ApiCreateTriggerRequest) GroupingId(groupingId string) ApiCreateTriggerRequest {
	r.groupingId = &groupingId
	return r
}

// The URL for making an HTTP call
func (r ApiCreateTriggerRequest) EndpointURL(endpointURL string) ApiCreateTriggerRequest {
	r.endpointURL = &endpointURL
	return r
}

// The parameters for making an HTTP call
func (r ApiCreateTriggerRequest) Payload(payload string) ApiCreateTriggerRequest {
	r.payload = &payload
	return r
}

// The date and time of the next trigger
func (r ApiCreateTriggerRequest) ScheduledDate(scheduledDate int64) ApiCreateTriggerRequest {
	r.scheduledDate = &scheduledDate
	return r
}

// The starting date of the trigger
func (r ApiCreateTriggerRequest) StartDate(startDate int64) ApiCreateTriggerRequest {
	r.startDate = &startDate
	return r
}

// The ending date of the trigger
func (r ApiCreateTriggerRequest) EndDate(endDate int64) ApiCreateTriggerRequest {
	r.endDate = &endDate
	return r
}

// The cron expression that represents the trigger&#39;s schedule
func (r ApiCreateTriggerRequest) CronExpression(cronExpression string) ApiCreateTriggerRequest {
	r.cronExpression = &cronExpression
	return r
}

// Json input representing conditional logic that has to be met before running the trigger
func (r ApiCreateTriggerRequest) ConditionalInput(conditionalInput string) ApiCreateTriggerRequest {
	r.conditionalInput = &conditionalInput
	return r
}

// The determines the scope of who is able to find and view the scheduled notification (PUBLIC - openly available to all Sirqul users, PRIVATE - only available to users that have been invited)
func (r ApiCreateTriggerRequest) Visibility(visibility string) ApiCreateTriggerRequest {
	r.visibility = &visibility
	return r
}

// Sets whether the Trigger is active or not (inactive Triggers are not processed)
func (r ApiCreateTriggerRequest) Active(active bool) ApiCreateTriggerRequest {
	r.active = &active
	return r
}

func (r ApiCreateTriggerRequest) Execute() (*TriggerResponse, *http.Response, error) {
	return r.ApiService.CreateTriggerExecute(r)
}

/*
CreateTrigger Create Trigger

Create a trigger

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiCreateTriggerRequest
*/
func (a *TriggerAPIService) CreateTrigger(ctx context.Context, version float32) ApiCreateTriggerRequest {
	return ApiCreateTriggerRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return TriggerResponse
func (a *TriggerAPIService) CreateTriggerExecute(r ApiCreateTriggerRequest) (*TriggerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TriggerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TriggerAPIService.CreateTrigger")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/trigger/create"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.groupingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupingId", r.groupingId, "form", "")
	}
	if r.endpointURL != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpointURL", r.endpointURL, "form", "")
	}
	if r.payload != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "payload", r.payload, "form", "")
	}
	if r.scheduledDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduledDate", r.scheduledDate, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.cronExpression != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cronExpression", r.cronExpression, "form", "")
	}
	if r.conditionalInput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditionalInput", r.conditionalInput, "form", "")
	}
	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", defaultValue, "form", "")
		r.active = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteTriggerRequest struct {
	ctx context.Context
	ApiService *TriggerAPIService
	version float32
	accountId *int64
	triggerId *int64
}

// The logged in user.
func (r ApiDeleteTriggerRequest) AccountId(accountId int64) ApiDeleteTriggerRequest {
	r.accountId = &accountId
	return r
}

// The id of the trigger to delete.
func (r ApiDeleteTriggerRequest) TriggerId(triggerId int64) ApiDeleteTriggerRequest {
	r.triggerId = &triggerId
	return r
}

func (r ApiDeleteTriggerRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteTriggerExecute(r)
}

/*
DeleteTrigger Delete Trigger

Mark a trigger as deleted.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiDeleteTriggerRequest
*/
func (a *TriggerAPIService) DeleteTrigger(ctx context.Context, version float32) ApiDeleteTriggerRequest {
	return ApiDeleteTriggerRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *TriggerAPIService) DeleteTriggerExecute(r ApiDeleteTriggerRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TriggerAPIService.DeleteTrigger")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/trigger/delete"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.triggerId == nil {
		return localVarReturnValue, nil, reportError("triggerId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "triggerId", r.triggerId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTriggerRequest struct {
	ctx context.Context
	ApiService *TriggerAPIService
	version float32
	accountId *int64
	triggerId *int64
}

// The logged in user.
func (r ApiGetTriggerRequest) AccountId(accountId int64) ApiGetTriggerRequest {
	r.accountId = &accountId
	return r
}

// The id of the Trigger to return.
func (r ApiGetTriggerRequest) TriggerId(triggerId int64) ApiGetTriggerRequest {
	r.triggerId = &triggerId
	return r
}

func (r ApiGetTriggerRequest) Execute() (*TriggerResponse, *http.Response, error) {
	return r.ApiService.GetTriggerExecute(r)
}

/*
GetTrigger Get Trigger

Get a trigger

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiGetTriggerRequest
*/
func (a *TriggerAPIService) GetTrigger(ctx context.Context, version float32) ApiGetTriggerRequest {
	return ApiGetTriggerRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return TriggerResponse
func (a *TriggerAPIService) GetTriggerExecute(r ApiGetTriggerRequest) (*TriggerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TriggerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TriggerAPIService.GetTrigger")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/trigger/get"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.triggerId == nil {
		return localVarReturnValue, nil, reportError("triggerId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "triggerId", r.triggerId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchTriggersRequest struct {
	ctx context.Context
	ApiService *TriggerAPIService
	version float32
	accountId *int64
	groupingId *string
	filter *string
	statuses *string
	templateTypes *string
	appKey *string
	keyword *string
	sortField *string
	descending *bool
	start *int32
	limit *int32
	activeOnly *bool
}

// The logged in user.
func (r ApiSearchTriggersRequest) AccountId(accountId int64) ApiSearchTriggersRequest {
	r.accountId = &accountId
	return r
}

// Filter results by a grouping identifier defined by the client
func (r ApiSearchTriggersRequest) GroupingId(groupingId string) ApiSearchTriggersRequest {
	r.groupingId = &groupingId
	return r
}

// A comma separated list of filters. * MINE - Return triggers that the user has created * SHARED - Return triggers that have been shared to the user * FOLLOWER - Return triggers that have been created by the user&#39;&#39;s followers (the content needs to have been APPROVED or FEATURED) * FOLLOWING - Return triggers that have been created by people who the user is following (the content needs to have been APPROVED or FEATURED) * PUBLIC - Return all PUBLIC triggers that have been APPROVED or FEATURED * ALL_PUBLIC - Return all PUBLIC triggers regardless of whether they are approved or not (ignores the approval status) * LIKED - Return all triggers that the user has liked * FEATURED - Return all triggers that have been featured * PENDING - Return all pending triggers 
func (r ApiSearchTriggersRequest) Filter(filter string) ApiSearchTriggersRequest {
	r.filter = &filter
	return r
}

// Filter results by status (comma separated list). Values include: NEW, ERROR, COMPLETE, PROCESSING, TEMPLATE
func (r ApiSearchTriggersRequest) Statuses(statuses string) ApiSearchTriggersRequest {
	r.statuses = &statuses
	return r
}

// Template Types
func (r ApiSearchTriggersRequest) TemplateTypes(templateTypes string) ApiSearchTriggersRequest {
	r.templateTypes = &templateTypes
	return r
}

// Filter the list by a specific application
func (r ApiSearchTriggersRequest) AppKey(appKey string) ApiSearchTriggersRequest {
	r.appKey = &appKey
	return r
}

// Keyword search on the trigger names.
func (r ApiSearchTriggersRequest) Keyword(keyword string) ApiSearchTriggersRequest {
	r.keyword = &keyword
	return r
}

// The field to sort by. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, SCHEDULED_DATE, START_DATE, END_DATE
func (r ApiSearchTriggersRequest) SortField(sortField string) ApiSearchTriggersRequest {
	r.sortField = &sortField
	return r
}

// Determines whether the sorted list is in descending or ascending order
func (r ApiSearchTriggersRequest) Descending(descending bool) ApiSearchTriggersRequest {
	r.descending = &descending
	return r
}

// Start the result set at some index.
func (r ApiSearchTriggersRequest) Start(start int32) ApiSearchTriggersRequest {
	r.start = &start
	return r
}

// Limit the result to some number.
func (r ApiSearchTriggersRequest) Limit(limit int32) ApiSearchTriggersRequest {
	r.limit = &limit
	return r
}

// Determines whether to return only active results
func (r ApiSearchTriggersRequest) ActiveOnly(activeOnly bool) ApiSearchTriggersRequest {
	r.activeOnly = &activeOnly
	return r
}

func (r ApiSearchTriggersRequest) Execute() ([]TriggerResponse, *http.Response, error) {
	return r.ApiService.SearchTriggersExecute(r)
}

/*
SearchTriggers Search Triggers

Search for triggers

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiSearchTriggersRequest
*/
func (a *TriggerAPIService) SearchTriggers(ctx context.Context, version float32) ApiSearchTriggersRequest {
	return ApiSearchTriggersRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return []TriggerResponse
func (a *TriggerAPIService) SearchTriggersExecute(r ApiSearchTriggersRequest) ([]TriggerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []TriggerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TriggerAPIService.SearchTriggers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/trigger/search"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.groupingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupingId", r.groupingId, "form", "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	} else {
		var defaultValue string = "MINE"
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", defaultValue, "form", "")
		r.filter = &defaultValue
	}
	if r.statuses != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", r.statuses, "form", "")
	} else {
		var defaultValue string = "NEW,ERROR,COMPLETE,PROCESSING"
		parameterAddToHeaderOrQuery(localVarQueryParams, "statuses", defaultValue, "form", "")
		r.statuses = &defaultValue
	}
	if r.templateTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "templateTypes", r.templateTypes, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.keyword != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "keyword", r.keyword, "form", "")
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", r.sortField, "form", "")
	} else {
		var defaultValue string = "CREATED"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortField", defaultValue, "form", "")
		r.sortField = &defaultValue
	}
	if r.descending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", r.descending, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "descending", defaultValue, "form", "")
		r.descending = &defaultValue
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", defaultValue, "form", "")
		r.start = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.activeOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", r.activeOnly, "form", "")
	} else {
		var defaultValue bool = true
		parameterAddToHeaderOrQuery(localVarQueryParams, "activeOnly", defaultValue, "form", "")
		r.activeOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateTriggerRequest struct {
	ctx context.Context
	ApiService *TriggerAPIService
	version float32
	triggerId *int64
	accountId *int64
	name *string
	appKey *string
	groupingId *string
	endpointURL *string
	payload *string
	scheduledDate *int64
	startDate *int64
	endDate *int64
	cronExpression *string
	conditionalInput *string
	visibility *string
	active *bool
}

// The trigger to update
func (r ApiUpdateTriggerRequest) TriggerId(triggerId int64) ApiUpdateTriggerRequest {
	r.triggerId = &triggerId
	return r
}

// The logged in user
func (r ApiUpdateTriggerRequest) AccountId(accountId int64) ApiUpdateTriggerRequest {
	r.accountId = &accountId
	return r
}

// The name of the trigger
func (r ApiUpdateTriggerRequest) Name(name string) ApiUpdateTriggerRequest {
	r.name = &name
	return r
}

// The application to target
func (r ApiUpdateTriggerRequest) AppKey(appKey string) ApiUpdateTriggerRequest {
	r.appKey = &appKey
	return r
}

// Client defined identifier for grouping triggers
func (r ApiUpdateTriggerRequest) GroupingId(groupingId string) ApiUpdateTriggerRequest {
	r.groupingId = &groupingId
	return r
}

// The URL for making an HTTP call
func (r ApiUpdateTriggerRequest) EndpointURL(endpointURL string) ApiUpdateTriggerRequest {
	r.endpointURL = &endpointURL
	return r
}

// The parameters for making an HTTP call
func (r ApiUpdateTriggerRequest) Payload(payload string) ApiUpdateTriggerRequest {
	r.payload = &payload
	return r
}

// The date and time of the next trigger
func (r ApiUpdateTriggerRequest) ScheduledDate(scheduledDate int64) ApiUpdateTriggerRequest {
	r.scheduledDate = &scheduledDate
	return r
}

// The starting date of the trigger
func (r ApiUpdateTriggerRequest) StartDate(startDate int64) ApiUpdateTriggerRequest {
	r.startDate = &startDate
	return r
}

// The ending date of the trigger
func (r ApiUpdateTriggerRequest) EndDate(endDate int64) ApiUpdateTriggerRequest {
	r.endDate = &endDate
	return r
}

// The cron expression that represents the trigger&#39;s schedule
func (r ApiUpdateTriggerRequest) CronExpression(cronExpression string) ApiUpdateTriggerRequest {
	r.cronExpression = &cronExpression
	return r
}

// Json input representing conditional logic that has to be met before running the trigger
func (r ApiUpdateTriggerRequest) ConditionalInput(conditionalInput string) ApiUpdateTriggerRequest {
	r.conditionalInput = &conditionalInput
	return r
}

// The determines the scope of who is able to find and view the scheduled notification (PUBLIC - openly available to all Sirqul users, PRIVATE - only available to users that have been invited)
func (r ApiUpdateTriggerRequest) Visibility(visibility string) ApiUpdateTriggerRequest {
	r.visibility = &visibility
	return r
}

// Sets whether the Trigger is active or not (inactive Triggers are not processed)
func (r ApiUpdateTriggerRequest) Active(active bool) ApiUpdateTriggerRequest {
	r.active = &active
	return r
}

func (r ApiUpdateTriggerRequest) Execute() (*TriggerResponse, *http.Response, error) {
	return r.ApiService.UpdateTriggerExecute(r)
}

/*
UpdateTrigger Update Trigger

Update a trigger

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiUpdateTriggerRequest
*/
func (a *TriggerAPIService) UpdateTrigger(ctx context.Context, version float32) ApiUpdateTriggerRequest {
	return ApiUpdateTriggerRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return TriggerResponse
func (a *TriggerAPIService) UpdateTriggerExecute(r ApiUpdateTriggerRequest) (*TriggerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TriggerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TriggerAPIService.UpdateTrigger")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/trigger/update"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.triggerId == nil {
		return localVarReturnValue, nil, reportError("triggerId is required and must be specified")
	}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "triggerId", r.triggerId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.groupingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupingId", r.groupingId, "form", "")
	}
	if r.endpointURL != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpointURL", r.endpointURL, "form", "")
	}
	if r.payload != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "payload", r.payload, "form", "")
	}
	if r.scheduledDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduledDate", r.scheduledDate, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.cronExpression != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cronExpression", r.cronExpression, "form", "")
	}
	if r.conditionalInput != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "conditionalInput", r.conditionalInput, "form", "")
	}
	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
