/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// ReportingAPIService ReportingAPI service
type ReportingAPIService service

type ApiCreateBatchRequest struct {
	ctx context.Context
	ApiService *ReportingAPIService
	accountId *int64
	status *string
	previewLimit *int32
	appKey *string
	endpoint *string
	parameters *string
	name *string
	startDate *int64
	endDate *int64
	description *string
	pageUrl *string
}

// The account id of the user for passing account related params
func (r ApiCreateBatchRequest) AccountId(accountId int64) ApiCreateBatchRequest {
	r.accountId = &accountId
	return r
}

// the status of the report
func (r ApiCreateBatchRequest) Status(status string) ApiCreateBatchRequest {
	r.status = &status
	return r
}

// the limit on how much you can preview of the batch report
func (r ApiCreateBatchRequest) PreviewLimit(previewLimit int32) ApiCreateBatchRequest {
	r.previewLimit = &previewLimit
	return r
}

// The application key for passing application related params
func (r ApiCreateBatchRequest) AppKey(appKey string) ApiCreateBatchRequest {
	r.appKey = &appKey
	return r
}

// 
func (r ApiCreateBatchRequest) Endpoint(endpoint string) ApiCreateBatchRequest {
	r.endpoint = &endpoint
	return r
}

// a json structure list of the parameter values, example: &#x60;&#x60;&#x60;json {   \&quot;string\&quot;:\&quot;value\&quot;,    \&quot;number\&quot;:3.345,   \&quot;date\&quot;:\&quot;2014-05-01 00:00:00\&quot; } &#x60;&#x60;&#x60; 
func (r ApiCreateBatchRequest) Parameters(parameters string) ApiCreateBatchRequest {
	r.parameters = &parameters
	return r
}

// name of the batch report
func (r ApiCreateBatchRequest) Name(name string) ApiCreateBatchRequest {
	r.name = &name
	return r
}

// the start date of the batch report
func (r ApiCreateBatchRequest) StartDate(startDate int64) ApiCreateBatchRequest {
	r.startDate = &startDate
	return r
}

// the end date of the batch report
func (r ApiCreateBatchRequest) EndDate(endDate int64) ApiCreateBatchRequest {
	r.endDate = &endDate
	return r
}

// the description of the batch report
func (r ApiCreateBatchRequest) Description(description string) ApiCreateBatchRequest {
	r.description = &description
	return r
}

// 
func (r ApiCreateBatchRequest) PageUrl(pageUrl string) ApiCreateBatchRequest {
	r.pageUrl = &pageUrl
	return r
}

func (r ApiCreateBatchRequest) Execute() (*ReportBatchResponse, *http.Response, error) {
	return r.ApiService.CreateBatchExecute(r)
}

/*
CreateBatch Create Offline Report

Create an entry for the batch for offline report

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateBatchRequest
*/
func (a *ReportingAPIService) CreateBatch(ctx context.Context) ApiCreateBatchRequest {
	return ApiCreateBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReportBatchResponse
func (a *ReportingAPIService) CreateBatchExecute(r ApiCreateBatchRequest) (*ReportBatchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReportBatchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportingAPIService.CreateBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/report/batch/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.status == nil {
		return localVarReturnValue, nil, reportError("status is required and must be specified")
	}
	if r.previewLimit == nil {
		return localVarReturnValue, nil, reportError("previewLimit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	if r.endpoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endpoint", r.endpoint, "form", "")
	}
	if r.parameters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parameters", r.parameters, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "previewLimit", r.previewLimit, "form", "")
	if r.pageUrl != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pageUrl", r.pageUrl, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateRegionLegSummaryBatchRequest struct {
	ctx context.Context
	ApiService *ReportingAPIService
	body *[]RegionLegSummary
}

func (r ApiCreateRegionLegSummaryBatchRequest) Body(body []RegionLegSummary) ApiCreateRegionLegSummaryBatchRequest {
	r.body = &body
	return r
}

func (r ApiCreateRegionLegSummaryBatchRequest) Execute() (*ReportRegionLegSummaryBatchResponse, *http.Response, error) {
	return r.ApiService.CreateRegionLegSummaryBatchExecute(r)
}

/*
CreateRegionLegSummaryBatch Create Offline Report

Create an entry for the batch for offline report

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateRegionLegSummaryBatchRequest
*/
func (a *ReportingAPIService) CreateRegionLegSummaryBatch(ctx context.Context) ApiCreateRegionLegSummaryBatchRequest {
	return ApiCreateRegionLegSummaryBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReportRegionLegSummaryBatchResponse
func (a *ReportingAPIService) CreateRegionLegSummaryBatchExecute(r ApiCreateRegionLegSummaryBatchRequest) (*ReportRegionLegSummaryBatchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReportRegionLegSummaryBatchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportingAPIService.CreateRegionLegSummaryBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/report/region/summary/batch"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteBatchRequest struct {
	ctx context.Context
	ApiService *ReportingAPIService
	accountId *int64
	batchId *int64
}

// the id of the account
func (r ApiDeleteBatchRequest) AccountId(accountId int64) ApiDeleteBatchRequest {
	r.accountId = &accountId
	return r
}

// the id of the batch to delete
func (r ApiDeleteBatchRequest) BatchId(batchId int64) ApiDeleteBatchRequest {
	r.batchId = &batchId
	return r
}

func (r ApiDeleteBatchRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.DeleteBatchExecute(r)
}

/*
DeleteBatch Delete Offline Report

Deletes a batch report.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeleteBatchRequest
*/
func (a *ReportingAPIService) DeleteBatch(ctx context.Context) ApiDeleteBatchRequest {
	return ApiDeleteBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *ReportingAPIService) DeleteBatchExecute(r ApiDeleteBatchRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportingAPIService.DeleteBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/report/batch/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.batchId == nil {
		return localVarReturnValue, nil, reportError("batchId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "batchId", r.batchId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetReportBatchRequest struct {
	ctx context.Context
	ApiService *ReportingAPIService
	accountId *int64
	batchId *int64
	allResults *bool
}

// the id of the logged in user
func (r ApiGetReportBatchRequest) AccountId(accountId int64) ApiGetReportBatchRequest {
	r.accountId = &accountId
	return r
}

// returned by /report/batch/create
func (r ApiGetReportBatchRequest) BatchId(batchId int64) ApiGetReportBatchRequest {
	r.batchId = &batchId
	return r
}

// whether to return all batch results or not
func (r ApiGetReportBatchRequest) AllResults(allResults bool) ApiGetReportBatchRequest {
	r.allResults = &allResults
	return r
}

func (r ApiGetReportBatchRequest) Execute() (*ReportBatchResponse, *http.Response, error) {
	return r.ApiService.GetReportBatchExecute(r)
}

/*
GetReportBatch Get Offline Report

Checks status of batch report.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetReportBatchRequest
*/
func (a *ReportingAPIService) GetReportBatch(ctx context.Context) ApiGetReportBatchRequest {
	return ApiGetReportBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReportBatchResponse
func (a *ReportingAPIService) GetReportBatchExecute(r ApiGetReportBatchRequest) (*ReportBatchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReportBatchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportingAPIService.GetReportBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/report/batch/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.batchId == nil {
		return localVarReturnValue, nil, reportError("batchId is required and must be specified")
	}
	if r.allResults == nil {
		return localVarReturnValue, nil, reportError("allResults is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "batchId", r.batchId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "allResults", r.allResults, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRunReportRequest struct {
	ctx context.Context
	ApiService *ReportingAPIService
	desc *bool
	accountId *int64
	query *string
	parameters *string
	order *string
	start *int64
	limit *int64
	responseFormat *string
}

// If true then descending order, false is ascending
func (r ApiRunReportRequest) Desc(desc bool) ApiRunReportRequest {
	r.desc = &desc
	return r
}

// The account id of the user for passing account related params
func (r ApiRunReportRequest) AccountId(accountId int64) ApiRunReportRequest {
	r.accountId = &accountId
	return r
}

// The named identifier of the query
func (r ApiRunReportRequest) Query(query string) ApiRunReportRequest {
	r.query = &query
	return r
}

// Parameter values used in the query in JSON format, example: &#x60;&#x60;&#x60;json {   \&quot;string\&quot;:\&quot;value\&quot;,    \&quot;number\&quot;:3.345,   \&quot;date\&quot;:\&quot;2014-05-01 00:00:00\&quot; } &#x60;&#x60;&#x60; 
func (r ApiRunReportRequest) Parameters(parameters string) ApiRunReportRequest {
	r.parameters = &parameters
	return r
}

// The order to use, must be a column name (see response results for list of column names)
func (r ApiRunReportRequest) Order(order string) ApiRunReportRequest {
	r.order = &order
	return r
}

// The start of the pagination
func (r ApiRunReportRequest) Start(start int64) ApiRunReportRequest {
	r.start = &start
	return r
}

// The limit of the pagination
func (r ApiRunReportRequest) Limit(limit int64) ApiRunReportRequest {
	r.limit = &limit
	return r
}

// Determines what response format to return. Options are: JSON or CSV
func (r ApiRunReportRequest) ResponseFormat(responseFormat string) ApiRunReportRequest {
	r.responseFormat = &responseFormat
	return r
}

func (r ApiRunReportRequest) Execute() (*ReportResponse, *http.Response, error) {
	return r.ApiService.RunReportExecute(r)
}

/*
RunReport Run Report

 This endpoint allows you to run a set of predefined reports that can be used to understand your users' behavior as well as trends within your application.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiRunReportRequest
*/
func (a *ReportingAPIService) RunReport(ctx context.Context) ApiRunReportRequest {
	return ApiRunReportRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ReportResponse
func (a *ReportingAPIService) RunReportExecute(r ApiRunReportRequest) (*ReportResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReportResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportingAPIService.RunReport")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/report/run"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.desc == nil {
		return localVarReturnValue, nil, reportError("desc is required and must be specified")
	}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.parameters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parameters", r.parameters, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "desc", r.desc, "form", "")
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.responseFormat != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "responseFormat", r.responseFormat, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchBatchRequest struct {
	ctx context.Context
	ApiService *ReportingAPIService
	accountId *int64
	start *int32
	limit *int32
	names *string
	appKey *string
	status *string
	globalAppSearch *bool
	startDate *int64
	endDate *int64
}

// the id of the account logged in
func (r ApiSearchBatchRequest) AccountId(accountId int64) ApiSearchBatchRequest {
	r.accountId = &accountId
	return r
}

// the start of the index and/or pagination
func (r ApiSearchBatchRequest) Start(start int32) ApiSearchBatchRequest {
	r.start = &start
	return r
}

// the limit of the index and/or pagination
func (r ApiSearchBatchRequest) Limit(limit int32) ApiSearchBatchRequest {
	r.limit = &limit
	return r
}

// the names of the report batch to search on
func (r ApiSearchBatchRequest) Names(names string) ApiSearchBatchRequest {
	r.names = &names
	return r
}

// the application key
func (r ApiSearchBatchRequest) AppKey(appKey string) ApiSearchBatchRequest {
	r.appKey = &appKey
	return r
}

// the report batch status
func (r ApiSearchBatchRequest) Status(status string) ApiSearchBatchRequest {
	r.status = &status
	return r
}

// the global app to search on
func (r ApiSearchBatchRequest) GlobalAppSearch(globalAppSearch bool) ApiSearchBatchRequest {
	r.globalAppSearch = &globalAppSearch
	return r
}

// the start date of the report batch to search on
func (r ApiSearchBatchRequest) StartDate(startDate int64) ApiSearchBatchRequest {
	r.startDate = &startDate
	return r
}

// the end date of the report batch to search on
func (r ApiSearchBatchRequest) EndDate(endDate int64) ApiSearchBatchRequest {
	r.endDate = &endDate
	return r
}

func (r ApiSearchBatchRequest) Execute() ([]ReportBatchResponse, *http.Response, error) {
	return r.ApiService.SearchBatchExecute(r)
}

/*
SearchBatch Search Offline Reports

Retrieves batches for a user..

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchBatchRequest
*/
func (a *ReportingAPIService) SearchBatch(ctx context.Context) ApiSearchBatchRequest {
	return ApiSearchBatchRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ReportBatchResponse
func (a *ReportingAPIService) SearchBatchExecute(r ApiSearchBatchRequest) ([]ReportBatchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ReportBatchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReportingAPIService.SearchBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/report/batch/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.start == nil {
		return localVarReturnValue, nil, reportError("start is required and must be specified")
	}
	if r.limit == nil {
		return localVarReturnValue, nil, reportError("limit is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.names != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "names", r.names, "form", "")
	}
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.globalAppSearch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "globalAppSearch", r.globalAppSearch, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
