/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// LocationAPIService LocationAPI service
type LocationAPIService service

type ApiCacheTrilaterationDataRequest struct {
	ctx context.Context
	ApiService *LocationAPIService
	udid *string
	sourceTime *int64
	minimumSampleSize *int32
	data *string
	dataFile *os.File
}

// The unique identifier of the source device
func (r ApiCacheTrilaterationDataRequest) Udid(udid string) ApiCacheTrilaterationDataRequest {
	r.udid = &udid
	return r
}

// The current timestamp of the source device
func (r ApiCacheTrilaterationDataRequest) SourceTime(sourceTime int64) ApiCacheTrilaterationDataRequest {
	r.sourceTime = &sourceTime
	return r
}

// the minimum number of Edysen devices that must be used to be able to trilaterate a device
func (r ApiCacheTrilaterationDataRequest) MinimumSampleSize(minimumSampleSize int32) ApiCacheTrilaterationDataRequest {
	r.minimumSampleSize = &minimumSampleSize
	return r
}

// The json formated sample data:  &#x60;&#x60;&#x60;json {    \&quot;count\&quot;: 2,   \&quot;timespan\&quot;: 10,    \&quot;samples\&quot;: [     {       \&quot;deviceId\&quot;: \&quot;device1\&quot;,       \&quot;randomizedId\&quot;: true,        \&quot;deviceSignature\&quot;: \&quot;probe:xyz...\&quot;,        \&quot;alternativeId\&quot;:\&quot;adc123\&quot;,        \&quot;rssi\&quot;: [-63, -75]     },      {       \&quot;deviceId\&quot;: \&quot;device2\&quot;,       \&quot;randomizedId\&quot;: true,        \&quot;deviceSignature\&quot;: \&quot;probe:xyz...\&quot;,        \&quot;alternativeId\&quot;: \&quot;adc123\&quot;,        \&quot;rssi\&quot;: [-83, -79]     }   ] } &#x60;&#x60;&#x60; 
func (r ApiCacheTrilaterationDataRequest) Data(data string) ApiCacheTrilaterationDataRequest {
	r.data = &data
	return r
}

// Binary file containing data (multipart upload)
func (r ApiCacheTrilaterationDataRequest) DataFile(dataFile *os.File) ApiCacheTrilaterationDataRequest {
	r.dataFile = dataFile
	return r
}

func (r ApiCacheTrilaterationDataRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.CacheTrilaterationDataExecute(r)
}

/*
CacheTrilaterationData Create Trilateration Data with File

Creates trilateration samples for a source device (i.e. a router).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCacheTrilaterationDataRequest
*/
func (a *LocationAPIService) CacheTrilaterationData(ctx context.Context) ApiCacheTrilaterationDataRequest {
	return ApiCacheTrilaterationDataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *LocationAPIService) CacheTrilaterationDataExecute(r ApiCacheTrilaterationDataRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LocationAPIService.CacheTrilaterationData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/location/trilaterate/cache"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.udid == nil {
		return localVarReturnValue, nil, reportError("udid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "udid", r.udid, "form", "")
	if r.sourceTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sourceTime", r.sourceTime, "form", "")
	}
	if r.minimumSampleSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minimumSampleSize", r.minimumSampleSize, "form", "")
	}
	if r.data != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "data", r.data, "form", "")
	}
	if r.dataFile != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dataFile", r.dataFile, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCacheTrilaterationDataGzipRequest struct {
	ctx context.Context
	ApiService *LocationAPIService
	body *TrilatCacheRequest
}

func (r ApiCacheTrilaterationDataGzipRequest) Body(body TrilatCacheRequest) ApiCacheTrilaterationDataGzipRequest {
	r.body = &body
	return r
}

func (r ApiCacheTrilaterationDataGzipRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.CacheTrilaterationDataGzipExecute(r)
}

/*
CacheTrilaterationDataGzip Create Trilateration Data with Rest

Creates trilateration samples for a source device (i.e. a router).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCacheTrilaterationDataGzipRequest
*/
func (a *LocationAPIService) CacheTrilaterationDataGzip(ctx context.Context) ApiCacheTrilaterationDataGzipRequest {
	return ApiCacheTrilaterationDataGzipRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *LocationAPIService) CacheTrilaterationDataGzipExecute(r ApiCacheTrilaterationDataGzipRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LocationAPIService.CacheTrilaterationDataGzip")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/location/trilaterate/cache/submit"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLocationByIpRequest struct {
	ctx context.Context
	ApiService *LocationAPIService
	ip *string
}

// the ip address of the client device
func (r ApiGetLocationByIpRequest) Ip(ip string) ApiGetLocationByIpRequest {
	r.ip = &ip
	return r
}

func (r ApiGetLocationByIpRequest) Execute() (*CoordsResponse, *http.Response, error) {
	return r.ApiService.GetLocationByIpExecute(r)
}

/*
GetLocationByIp Get Location by IP

Get location information based on an IP address.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLocationByIpRequest
*/
func (a *LocationAPIService) GetLocationByIp(ctx context.Context) ApiGetLocationByIpRequest {
	return ApiGetLocationByIpRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CoordsResponse
func (a *LocationAPIService) GetLocationByIpExecute(r ApiGetLocationByIpRequest) (*CoordsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CoordsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LocationAPIService.GetLocationByIp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/location/ip"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ip", r.ip, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLocationByTrilaterationRequest struct {
	ctx context.Context
	ApiService *LocationAPIService
	accountId *int64
	latitude *float64
	longitude *float64
	data *string
	responseFilters *string
}

// The account making the request, if provided the last know location will be updated
func (r ApiGetLocationByTrilaterationRequest) AccountId(accountId int64) ApiGetLocationByTrilaterationRequest {
	r.accountId = &accountId
	return r
}

// The known GPS latitude to compare to the calculated version
func (r ApiGetLocationByTrilaterationRequest) Latitude(latitude float64) ApiGetLocationByTrilaterationRequest {
	r.latitude = &latitude
	return r
}

// The known GPS longitude to compare to the calculated version
func (r ApiGetLocationByTrilaterationRequest) Longitude(longitude float64) ApiGetLocationByTrilaterationRequest {
	r.longitude = &longitude
	return r
}

// The json formated sample data:  &#x60;&#x60;&#x60;json {    \&quot;count\&quot;: 2,   \&quot;timespan\&quot;: 10,    \&quot;samples\&quot;: [     {       \&quot;deviceId\&quot;: \&quot;device1\&quot;,       \&quot;rssi\&quot;: [-63, -75]     },      {       \&quot;deviceId\&quot;: \&quot;device2\&quot;,       \&quot;rssi\&quot;: [-83, -79]     }   ] } &#x60;&#x60;&#x60; 
func (r ApiGetLocationByTrilaterationRequest) Data(data string) ApiGetLocationByTrilaterationRequest {
	r.data = &data
	return r
}

// Optional response filters (not used currently)
func (r ApiGetLocationByTrilaterationRequest) ResponseFilters(responseFilters string) ApiGetLocationByTrilaterationRequest {
	r.responseFilters = &responseFilters
	return r
}

func (r ApiGetLocationByTrilaterationRequest) Execute() (*GeoPointResponse, *http.Response, error) {
	return r.ApiService.GetLocationByTrilaterationExecute(r)
}

/*
GetLocationByTrilateration Get Location by Trilateration

Send in device data and calculate a position based on signal strengths.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLocationByTrilaterationRequest
*/
func (a *LocationAPIService) GetLocationByTrilateration(ctx context.Context) ApiGetLocationByTrilaterationRequest {
	return ApiGetLocationByTrilaterationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GeoPointResponse
func (a *LocationAPIService) GetLocationByTrilaterationExecute(r ApiGetLocationByTrilaterationRequest) (*GeoPointResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GeoPointResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LocationAPIService.GetLocationByTrilateration")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/account/location/trilaterate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.latitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latitude", r.latitude, "form", "")
	}
	if r.longitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "longitude", r.longitude, "form", "")
	}
	if r.data != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "data", r.data, "form", "")
	}
	if r.responseFilters != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "responseFilters", r.responseFilters, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLocationsRequest struct {
	ctx context.Context
	ApiService *LocationAPIService
	deviceId *string
	accountId *int64
	currentlatitude *float64
	currentlongitude *float64
	currentLatitude *float64
	currentLongitude *float64
	query *string
	zipcode *string
	zipCode *string
	selectedMaplatitude *float64
	selectedMaplongitude *float64
	selectedMapLatitude *float64
	selectedMapLongitude *float64
	searchRange *float64
	useGeocode *bool
	i *int32
	start *int32
	l *int32
	limit *int32
}

// the device id
func (r ApiGetLocationsRequest) DeviceId(deviceId string) ApiGetLocationsRequest {
	r.deviceId = &deviceId
	return r
}

// the account id
func (r ApiGetLocationsRequest) AccountId(accountId int64) ApiGetLocationsRequest {
	r.accountId = &accountId
	return r
}

// This parameter is deprecated.
func (r ApiGetLocationsRequest) Currentlatitude(currentlatitude float64) ApiGetLocationsRequest {
	r.currentlatitude = &currentlatitude
	return r
}

// This parameter is deprecated.
func (r ApiGetLocationsRequest) Currentlongitude(currentlongitude float64) ApiGetLocationsRequest {
	r.currentlongitude = &currentlongitude
	return r
}

// the current latitude of the user
func (r ApiGetLocationsRequest) CurrentLatitude(currentLatitude float64) ApiGetLocationsRequest {
	r.currentLatitude = &currentLatitude
	return r
}

// the current longitude of the user
func (r ApiGetLocationsRequest) CurrentLongitude(currentLongitude float64) ApiGetLocationsRequest {
	r.currentLongitude = &currentLongitude
	return r
}

// the query results by keyword or address
func (r ApiGetLocationsRequest) Query(query string) ApiGetLocationsRequest {
	r.query = &query
	return r
}

// This parameter is deprecated.
func (r ApiGetLocationsRequest) Zipcode(zipcode string) ApiGetLocationsRequest {
	r.zipcode = &zipcode
	return r
}

// the zip code to filter results
func (r ApiGetLocationsRequest) ZipCode(zipCode string) ApiGetLocationsRequest {
	r.zipCode = &zipCode
	return r
}

// This parameter is deprecated.
func (r ApiGetLocationsRequest) SelectedMaplatitude(selectedMaplatitude float64) ApiGetLocationsRequest {
	r.selectedMaplatitude = &selectedMaplatitude
	return r
}

// This parameter is deprecated.
func (r ApiGetLocationsRequest) SelectedMaplongitude(selectedMaplongitude float64) ApiGetLocationsRequest {
	r.selectedMaplongitude = &selectedMaplongitude
	return r
}

// the latitude of where the search should originate from
func (r ApiGetLocationsRequest) SelectedMapLatitude(selectedMapLatitude float64) ApiGetLocationsRequest {
	r.selectedMapLatitude = &selectedMapLatitude
	return r
}

// the longitude of where the search should originate from
func (r ApiGetLocationsRequest) SelectedMapLongitude(selectedMapLongitude float64) ApiGetLocationsRequest {
	r.selectedMapLongitude = &selectedMapLongitude
	return r
}

// the search range of the search in miles
func (r ApiGetLocationsRequest) SearchRange(searchRange float64) ApiGetLocationsRequest {
	r.searchRange = &searchRange
	return r
}

// determines whether to allow searches via address
func (r ApiGetLocationsRequest) UseGeocode(useGeocode bool) ApiGetLocationsRequest {
	r.useGeocode = &useGeocode
	return r
}

// This parameter is deprecated.
func (r ApiGetLocationsRequest) I(i int32) ApiGetLocationsRequest {
	r.i = &i
	return r
}

// the start index for pagination
func (r ApiGetLocationsRequest) Start(start int32) ApiGetLocationsRequest {
	r.start = &start
	return r
}

// This parameter is deprecated.
func (r ApiGetLocationsRequest) L(l int32) ApiGetLocationsRequest {
	r.l = &l
	return r
}

// the limit for pagination
func (r ApiGetLocationsRequest) Limit(limit int32) ApiGetLocationsRequest {
	r.limit = &limit
	return r
}

func (r ApiGetLocationsRequest) Execute() (*LocationSearchResponse, *http.Response, error) {
	return r.ApiService.GetLocationsExecute(r)
}

/*
GetLocations Search Regions or Postal Codes

Searches geographic locations by proximity via address or keyword.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetLocationsRequest
*/
func (a *LocationAPIService) GetLocations(ctx context.Context) ApiGetLocationsRequest {
	return ApiGetLocationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return LocationSearchResponse
func (a *LocationAPIService) GetLocationsExecute(r ApiGetLocationsRequest) (*LocationSearchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *LocationSearchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "LocationAPIService.GetLocations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/location/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "deviceId", r.deviceId, "form", "")
	}
	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	}
	if r.currentlatitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currentlatitude", r.currentlatitude, "form", "")
	}
	if r.currentlongitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currentlongitude", r.currentlongitude, "form", "")
	}
	if r.currentLatitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currentLatitude", r.currentLatitude, "form", "")
	}
	if r.currentLongitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currentLongitude", r.currentLongitude, "form", "")
	}
	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.zipcode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zipcode", r.zipcode, "form", "")
	}
	if r.zipCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "zipCode", r.zipCode, "form", "")
	}
	if r.selectedMaplatitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "selectedMaplatitude", r.selectedMaplatitude, "form", "")
	}
	if r.selectedMaplongitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "selectedMaplongitude", r.selectedMaplongitude, "form", "")
	}
	if r.selectedMapLatitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "selectedMapLatitude", r.selectedMapLatitude, "form", "")
	}
	if r.selectedMapLongitude != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "selectedMapLongitude", r.selectedMapLongitude, "form", "")
	}
	if r.searchRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchRange", r.searchRange, "form", "")
	} else {
		var defaultValue float64 = 5
		parameterAddToHeaderOrQuery(localVarQueryParams, "searchRange", defaultValue, "form", "")
		r.searchRange = &defaultValue
	}
	if r.useGeocode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useGeocode", r.useGeocode, "form", "")
	} else {
		var defaultValue bool = false
		parameterAddToHeaderOrQuery(localVarQueryParams, "useGeocode", defaultValue, "form", "")
		r.useGeocode = &defaultValue
	}
	if r.i != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_i", r.i, "form", "")
	}
	if r.start != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", r.start, "form", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "start", defaultValue, "form", "")
		r.start = &defaultValue
	}
	if r.l != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_l", r.l, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 20
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
