/*
Sirqul IoT Platform

Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>

API version: 3.16
Contact: info@sirqul.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// ParticipantsAPIService ParticipantsAPI service
type ParticipantsAPIService service

type ApiProcessAllParticipantsRequest struct {
	ctx context.Context
	ApiService *ParticipantsAPIService
	version float32
	accountId *int64
	appKey *string
	useShortNameAsID *bool
}

// The account id of the user
func (r ApiProcessAllParticipantsRequest) AccountId(accountId int64) ApiProcessAllParticipantsRequest {
	r.accountId = &accountId
	return r
}

// The application key used to identify the application
func (r ApiProcessAllParticipantsRequest) AppKey(appKey string) ApiProcessAllParticipantsRequest {
	r.appKey = &appKey
	return r
}

// Whether to use short name as the participant ID
func (r ApiProcessAllParticipantsRequest) UseShortNameAsID(useShortNameAsID bool) ApiProcessAllParticipantsRequest {
	r.useShortNameAsID = &useShortNameAsID
	return r
}

func (r ApiProcessAllParticipantsRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.ProcessAllParticipantsExecute(r)
}

/*
ProcessAllParticipants Process All Participant Feeds

Processes all supported participant feeds.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiProcessAllParticipantsRequest
*/
func (a *ParticipantsAPIService) ProcessAllParticipants(ctx context.Context, version float32) ApiProcessAllParticipantsRequest {
	return ApiProcessAllParticipantsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *ParticipantsAPIService) ProcessAllParticipantsExecute(r ApiProcessAllParticipantsRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParticipantsAPIService.ProcessAllParticipants")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/participant/process/all"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.useShortNameAsID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useShortNameAsID", r.useShortNameAsID, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessParticipantsRequest struct {
	ctx context.Context
	ApiService *ParticipantsAPIService
	version float32
	accountId *int64
	league *string
	appKey *string
	useShortNameAsID *bool
	file *os.File
}

// The account id of the user
func (r ApiProcessParticipantsRequest) AccountId(accountId int64) ApiProcessParticipantsRequest {
	r.accountId = &accountId
	return r
}

// The league identifier to process
func (r ApiProcessParticipantsRequest) League(league string) ApiProcessParticipantsRequest {
	r.league = &league
	return r
}

// The application key used to identify the application
func (r ApiProcessParticipantsRequest) AppKey(appKey string) ApiProcessParticipantsRequest {
	r.appKey = &appKey
	return r
}

// Whether to use short name as the participant ID
func (r ApiProcessParticipantsRequest) UseShortNameAsID(useShortNameAsID bool) ApiProcessParticipantsRequest {
	r.useShortNameAsID = &useShortNameAsID
	return r
}

// Multipart file containing participant feed contents
func (r ApiProcessParticipantsRequest) File(file *os.File) ApiProcessParticipantsRequest {
	r.file = file
	return r
}

func (r ApiProcessParticipantsRequest) Execute() (*SirqulResponse, *http.Response, error) {
	return r.ApiService.ProcessParticipantsExecute(r)
}

/*
ProcessParticipants Process Participants Feed

Processes a participant feed or uploaded file for a specific league.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param version
 @return ApiProcessParticipantsRequest
*/
func (a *ParticipantsAPIService) ProcessParticipants(ctx context.Context, version float32) ApiProcessParticipantsRequest {
	return ApiProcessParticipantsRequest{
		ApiService: a,
		ctx: ctx,
		version: version,
	}
}

// Execute executes the request
//  @return SirqulResponse
func (a *ParticipantsAPIService) ProcessParticipantsExecute(r ApiProcessParticipantsRequest) (*SirqulResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SirqulResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ParticipantsAPIService.ProcessParticipants")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/{version}/participant/process"
	localVarPath = strings.Replace(localVarPath, "{"+"version"+"}", url.PathEscape(parameterValueToString(r.version, "version")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}
	if r.league == nil {
		return localVarReturnValue, nil, reportError("league is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "league", r.league, "form", "")
	if r.appKey != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "appKey", r.appKey, "form", "")
	}
	if r.useShortNameAsID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useShortNameAsID", r.useShortNameAsID, "form", "")
	}
	if r.file != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "file", r.file, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
