//
// ApplicationConfigAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class ApplicationConfigAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create AppConfig
    /// - POST /appconfig/create
    /// - Creates a new application configuration. If the configVersion provided already exists for the given app, an invalid response is returned and the application configuration won't be created.
    /// - parameter accountId: (query) The account ID of the user 
    /// - parameter appKey: (query) The application key that the newly created applicationConfig will be associated to 
    /// - parameter configVersion: (query) The application configuration, has to be unique within the application 
    /// - parameter assetId: (query) The json assetId that stores the configuration detail. 
    /// - parameter retailerId: (query) The retailer id for retailer specific configurations (optional)
    /// - parameter retailerLocationId: (query) The retailer location id for retailer location specific configurations (optional)
    /// - parameter udid: (query) The device udid for device specific configurations (optional)
    /// - returns: AnyPublisher<ApplicationConfigResponse, Error> 
    open func createApplicationConfig(accountId: Int64, appKey: String, configVersion: String, assetId: Int64, retailerId: Int64? = nil, retailerLocationId: Int64? = nil, udid: String? = nil) -> AnyPublisher<ApplicationConfigResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/appconfig/create"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "appKey", value: appKey))
                queryItems.append(URLQueryItem(name: "configVersion", value: configVersion))
                queryItems.append(URLQueryItem(name: "assetId", value: "\(assetId)"))
                if let retailerId = retailerId { queryItems.append(URLQueryItem(name: "retailerId", value: "\(retailerId)")) } 
                if let retailerLocationId = retailerLocationId { queryItems.append(URLQueryItem(name: "retailerLocationId", value: "\(retailerLocationId)")) } 
                if let udid = udid { queryItems.append(URLQueryItem(name: "udid", value: udid)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ApplicationConfigResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(ApplicationConfigResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete AppConfig
    /// - POST /appconfig/delete
    /// - Mark the application configuration for deletion.
    /// - parameter accountId: (query) The account ID of the user 
    /// - parameter configId: (query) The config ID of the application configuration to delete 
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func deleteApplicationConfig(accountId: Int64, configId: Int64) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/appconfig/delete"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "configId", value: "\(configId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get AppConfig
    /// - GET /appconfig/get
    /// - Gets the appConfig data by the given configId. If appConfig cannot be found, it returns an invalid response.
    /// - parameter accountId: (query) The account ID of the user 
    /// - parameter configId: (query) The config ID of the application configuration 
    /// - returns: AnyPublisher<ApplicationConfigResponse, Error> 
    open func getApplicationConfig(accountId: Int64, configId: Int64) -> AnyPublisher<ApplicationConfigResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/appconfig/get"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "configId", value: "\(configId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ApplicationConfigResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(ApplicationConfigResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get AppConfig by Version
    /// - GET /appconfig/getbyversion
    /// - Gets the appConfig data by the given appKey and app configVersion number.If the appKey is is invalid or appConfig is not found, it returns an invalid response. 
    /// - parameter appKey: (query) The application key 
    /// - parameter configVersion: (query) The version of the application configuration 
    /// - parameter retailerId: (query) Only returns the config that matches the given retailer (optional)
    /// - parameter retailerLocationId: (query) Only returns the config that matches the given retailer location (optional)
    /// - parameter udid: (query) Only returns only returns the config that matches the given device udid (optional)
    /// - parameter allowOlderVersions: (query) Determines whether to return older config versions if the exact version is not found. If this happens, will try to return the latest version. (optional, default to false)
    /// - returns: AnyPublisher<ApplicationConfigResponse, Error> 
    open func getApplicationConfigByConfigVersion(appKey: String, configVersion: String, retailerId: Int64? = nil, retailerLocationId: Int64? = nil, udid: String? = nil, allowOlderVersions: Bool? = nil) -> AnyPublisher<ApplicationConfigResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/appconfig/getbyversion"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "appKey", value: appKey))
                queryItems.append(URLQueryItem(name: "configVersion", value: configVersion))
                if let retailerId = retailerId { queryItems.append(URLQueryItem(name: "retailerId", value: "\(retailerId)")) } 
                if let retailerLocationId = retailerLocationId { queryItems.append(URLQueryItem(name: "retailerLocationId", value: "\(retailerLocationId)")) } 
                if let udid = udid { queryItems.append(URLQueryItem(name: "udid", value: udid)) } 
                if let allowOlderVersions = allowOlderVersions { queryItems.append(URLQueryItem(name: "allowOlderVersions", value: allowOlderVersions ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ApplicationConfigResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(ApplicationConfigResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search AppConfigs
    /// - GET /appconfig/search
    /// - Gets all versions of application configurations in a particular app by the given appKey.
    /// - parameter accountId: (query) The account ID of the user 
    /// - parameter appKey: (query) The application key to filter results by application Leaving this empty will return all application configurations for all applications (executive user only) (optional)
    /// - parameter retailerId: (query) Only returns the configs that matches the given retailer (optional)
    /// - parameter retailerLocationId: (query) Only returns the configs that matches the given retailer location (optional)
    /// - parameter udid: (query) Only returns only returns the configs that matches the given device udid (optional)
    /// - parameter configVersion: (query) Config Version (optional)
    /// - parameter sortField: (query) Orders the results by: CREATED, UPDATED, ACTIVE, APPLICATION_ID,  APPLICATION_KEY, APPLICATION_NAME, RETAILER_NAME, RETAILER_ID, RETAILER_LOCATION_NAME,  RETAILER_LOCATION_ID, OFFER_TITLE, OFFER_ID, OFFER_LOCATION_ID, CONFIG_VERSION_MINOR,  CONFIG_VERSION_MAJOR, CONFIG_VERSION_INDEX  (optional, default to "CONFIG_VERSION_INDEX")
    /// - parameter descending: (query) Determines whether the results are in descending or ascending order (optional, default to true)
    /// - parameter start: (query) The start index for pagination (optional, default to 0)
    /// - parameter limit: (query) The limit for pagination (There is a hard limit of 100) (optional, default to 20)
    /// - returns: AnyPublisher<[ApplicationConfigResponse], Error> 
    open func searchApplicationConfig(accountId: Int64, appKey: String? = nil, retailerId: Int64? = nil, retailerLocationId: Int64? = nil, udid: String? = nil, configVersion: String? = nil, sortField: String? = nil, descending: Bool? = nil, start: Int? = nil, limit: Int? = nil) -> AnyPublisher<[ApplicationConfigResponse], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/appconfig/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let retailerId = retailerId { queryItems.append(URLQueryItem(name: "retailerId", value: "\(retailerId)")) } 
                if let retailerLocationId = retailerLocationId { queryItems.append(URLQueryItem(name: "retailerLocationId", value: "\(retailerLocationId)")) } 
                if let udid = udid { queryItems.append(URLQueryItem(name: "udid", value: udid)) } 
                if let configVersion = configVersion { queryItems.append(URLQueryItem(name: "configVersion", value: configVersion)) } 
                if let sortField = sortField { queryItems.append(URLQueryItem(name: "sortField", value: sortField)) } 
                if let descending = descending { queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false")) } 
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[ApplicationConfigResponse], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([ApplicationConfigResponse].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update AppConfig
    /// - POST /appconfig/update
    /// - pdates an existing application configuration. If the configVersion provided already exists for the given app the application configuration won't be updated.
    /// - parameter accountId: (query) The account ID of the user 
    /// - parameter configId: (query) The config ID of the application configuration to update 
    /// - parameter appKey: (query) The application key that the updated applicationConfig will be associated to (optional)
    /// - parameter configVersion: (query) The application configuration, has to be unique within the application (optional)
    /// - parameter assetId: (query) The json assetId that stores the configuration detail. (optional)
    /// - parameter retailerId: (query) The retailer id for retailer specific configurations (optional)
    /// - parameter retailerLocationId: (query) The retailer location id for retailer location specific configurations (optional)
    /// - parameter udid: (query) The device udid for device specific configurations (optional)
    /// - returns: AnyPublisher<ApplicationConfigResponse, Error> 
    open func updateApplicationConfig(accountId: Int64, configId: Int64, appKey: String? = nil, configVersion: String? = nil, assetId: Int64? = nil, retailerId: Int64? = nil, retailerLocationId: Int64? = nil, udid: String? = nil) -> AnyPublisher<ApplicationConfigResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/appconfig/update"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "configId", value: "\(configId)"))
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let configVersion = configVersion { queryItems.append(URLQueryItem(name: "configVersion", value: configVersion)) } 
                if let assetId = assetId { queryItems.append(URLQueryItem(name: "assetId", value: "\(assetId)")) } 
                if let retailerId = retailerId { queryItems.append(URLQueryItem(name: "retailerId", value: "\(retailerId)")) } 
                if let retailerLocationId = retailerLocationId { queryItems.append(URLQueryItem(name: "retailerLocationId", value: "\(retailerLocationId)")) } 
                if let udid = udid { queryItems.append(URLQueryItem(name: "udid", value: udid)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ApplicationConfigResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(ApplicationConfigResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
