//
// CargoTypeAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class CargoTypeAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create Cargo Type
    /// - POST /cargo/type
    /// - Create new cargo type
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<CargoType, Error> 
    open func createCargoType(body: CargoType? = nil) -> AnyPublisher<CargoType, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/cargo/type"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<CargoType, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(CargoType.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete Cargo Type
    /// - DELETE /cargo/type/{cargoTypeId}
    /// - Delete a type of cargo
    /// - parameter cargoTypeId: (path) the ID of the cargo type 
    /// - returns: AnyPublisher<Void, Error> 
    open func deleteCargoType(cargoTypeId: Int64) -> AnyPublisher<Void, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/cargo/type/{cargoTypeId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{cargoTypeId}", with: "\(cargoTypeId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Void, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    return ()
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Cargo Type
    /// - GET /cargo/type/{cargoTypeId}
    /// - Get an existing cargo type
    /// - parameter cargoTypeId: (path) the cargo type ID 
    /// - returns: AnyPublisher<CargoType, Error> 
    open func getCargoType(cargoTypeId: Int64) -> AnyPublisher<CargoType, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/cargo/type/{cargoTypeId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{cargoTypeId}", with: "\(cargoTypeId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<CargoType, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(CargoType.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Cargo Type
    /// - GET /cargo/type
    /// - Search for types of cargo
    /// - parameter sortField: (query) the sort field to use for the cargo type 
    /// - parameter descending: (query) if the cargo type should be should be in descending order 
    /// - parameter start: (query) the start of the search 
    /// - parameter limit: (query) the limit of the search 
    /// - parameter activeOnly: (query) if search should be on active only 
    /// - parameter retailerId: (query) the id of the retailer location (optional)
    /// - parameter hubId: (query) the ID of the hub (optional)
    /// - returns: AnyPublisher<[CargoType], Error> 
    open func searchCargoTypes(sortField: String, descending: Bool, start: Int, limit: Int, activeOnly: Bool, retailerId: Int64? = nil, hubId: Int64? = nil) -> AnyPublisher<[CargoType], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/cargo/type"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let retailerId = retailerId { queryItems.append(URLQueryItem(name: "retailerId", value: "\(retailerId)")) } 
                if let hubId = hubId { queryItems.append(URLQueryItem(name: "hubId", value: "\(hubId)")) } 
                queryItems.append(URLQueryItem(name: "sortField", value: sortField))
                queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "start", value: "\(start)"))
                queryItems.append(URLQueryItem(name: "limit", value: "\(limit)"))
                queryItems.append(URLQueryItem(name: "activeOnly", value: activeOnly ? "true" : "false"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[CargoType], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([CargoType].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update Cargo Type
    /// - PUT /cargo/type/{cargoTypeId}
    /// - Update an existing cargo type
    /// - parameter cargoTypeId: (path) the ID of the cargo type 
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<CargoType, Error> 
    open func updateCargoType(cargoTypeId: Int64, body: CargoType? = nil) -> AnyPublisher<CargoType, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/cargo/type/{cargoTypeId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{cargoTypeId}", with: "\(cargoTypeId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PUT"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<CargoType, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(CargoType.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
