//
// GameAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class GameAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create a Game
    /// - POST /game/create
    /// - Create a Game.
    /// - parameter accountId: (query) The logged in user. (optional)
    /// - parameter appKey: (query) The game application key to save the level for. (optional)
    /// - parameter title: (query) Title of the game. (optional)
    /// - parameter description: (query) Description of the game. (optional)
    /// - parameter metaData: (query) metaData of the Game. (optional)
    /// - parameter packIds: (query) comma separated String of pack Ids that will associate with the game. (optional)
    /// - parameter includeGameData: (query) Show more details in response. (optional)
    /// - returns: AnyPublisher<GameResponse, Error> 
    open func createGame(accountId: Int64? = nil, appKey: String? = nil, title: String? = nil, description: String? = nil, metaData: String? = nil, packIds: String? = nil, includeGameData: Bool? = nil) -> AnyPublisher<GameResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/create"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let title = title { queryItems.append(URLQueryItem(name: "title", value: title)) } 
                if let description = description { queryItems.append(URLQueryItem(name: "description", value: description)) } 
                if let metaData = metaData { queryItems.append(URLQueryItem(name: "metaData", value: metaData)) } 
                if let packIds = packIds { queryItems.append(URLQueryItem(name: "packIds", value: packIds)) } 
                if let includeGameData = includeGameData { queryItems.append(URLQueryItem(name: "includeGameData", value: includeGameData ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GameResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(GameResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete a Game
    /// - POST /game/delete
    /// - Delete a game.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter gameId: (query) the updating game&#39;s id. 
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func deleteGame(accountId: Int64, gameId: Int64) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/delete"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "gameId", value: "\(gameId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get a Game by id
    /// - GET /game/get
    /// - Get a Game by id.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter gameId: (query) the updating game&#39;s id. 
    /// - parameter includeGameData: (query) If true include the game level data, otherwise don&#39;t. default is false. (optional)
    /// - returns: AnyPublisher<GameResponse, Error> 
    open func getGame(accountId: Int64, gameId: Int64, includeGameData: Bool? = nil) -> AnyPublisher<GameResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/get"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "gameId", value: "\(gameId)"))
                if let includeGameData = includeGameData { queryItems.append(URLQueryItem(name: "includeGameData", value: includeGameData ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GameResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(GameResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search a Game
    /// - GET /game/search
    /// - Get a list of games for an application, just those the account has permissions to view.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter appKey: (query) the application key 
    /// - parameter start: (query) Start the result set at some index. 
    /// - parameter limit: (query) Limit the result to some number. 
    /// - parameter keyword: (query) Match the keyword to the owner name or level name. (optional)
    /// - parameter appVersion: (query) The maximum version of the level to return. (optional)
    /// - parameter includeGameData: (query) more details in response (optional)
    /// - parameter includeInactive: (query) more details in response (optional)
    /// - returns: AnyPublisher<GameResponse, Error> 
    open func searchGames(accountId: Int64, appKey: String, start: Int, limit: Int, keyword: String? = nil, appVersion: String? = nil, includeGameData: Bool? = nil, includeInactive: Bool? = nil) -> AnyPublisher<GameResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "appKey", value: appKey))
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                queryItems.append(URLQueryItem(name: "start", value: "\(start)"))
                queryItems.append(URLQueryItem(name: "limit", value: "\(limit)"))
                if let appVersion = appVersion { queryItems.append(URLQueryItem(name: "appVersion", value: appVersion)) } 
                if let includeGameData = includeGameData { queryItems.append(URLQueryItem(name: "includeGameData", value: includeGameData ? "true" : "false")) } 
                if let includeInactive = includeInactive { queryItems.append(URLQueryItem(name: "includeInactive", value: includeInactive ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GameResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(GameResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update a Game
    /// - POST /game/update
    /// - Update a Game
    /// - parameter accountId: (query) The logged in user. (optional)
    /// - parameter gameId: (query) the updating game&#39;s id (optional)
    /// - parameter appKey: (query) The game application key to save the level for. (optional)
    /// - parameter title: (query) Title of the Game. (optional)
    /// - parameter description: (query) Description of the Game. (optional)
    /// - parameter metaData: (query) metaData of the Game. (optional)
    /// - parameter packIds: (query) comma separated String of pack Ids that will associate with the game. (optional)
    /// - parameter includeGameData: (query) show more details in response. (optional)
    /// - returns: AnyPublisher<GameResponse, Error> 
    open func updateGame(accountId: Int64? = nil, gameId: Int64? = nil, appKey: String? = nil, title: String? = nil, description: String? = nil, metaData: String? = nil, packIds: String? = nil, includeGameData: Bool? = nil) -> AnyPublisher<GameResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/update"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let gameId = gameId { queryItems.append(URLQueryItem(name: "gameId", value: "\(gameId)")) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let title = title { queryItems.append(URLQueryItem(name: "title", value: title)) } 
                if let description = description { queryItems.append(URLQueryItem(name: "description", value: description)) } 
                if let metaData = metaData { queryItems.append(URLQueryItem(name: "metaData", value: metaData)) } 
                if let packIds = packIds { queryItems.append(URLQueryItem(name: "packIds", value: packIds)) } 
                if let includeGameData = includeGameData { queryItems.append(URLQueryItem(name: "includeGameData", value: includeGameData ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GameResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(GameResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
