//
// InviteAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class InviteAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Accept Invite
    /// - POST /invite/accept
    /// - Allows a user to accept an invite. The user could also become the inviter's friend.
    /// - parameter token: (query) the invite token 
    /// - parameter accountId: (query) the accountId of the user who is accepting the invite 
    /// - parameter albumId: (query) the album id associated with this invite (if applicable) (optional)
    /// - parameter missionId: (query) the mission id associated with this invite (if applicable) (optional)
    /// - parameter albumContestId: (query) the album contest id associated with this invite (if applicable) (optional)
    /// - parameter offerId: (query) the offer id associated with this invite (if applicable) (optional)
    /// - parameter offerLocationId: (query) the offer location id associated with this invite (if applicable) (optional)
    /// - parameter retailerLocationId: (query) the retailer location id associated with this invite (if applicable) (optional)
    /// - parameter appKey: (query) the application key (optional)
    /// - parameter autoFriend: (query) whether to auto-friend the invite sender and receiver (optional, default to true)
    /// - parameter autoAttendEvent: (query) whether to mark the event as attending automatically after invite is accepted (optional, default to false)
    /// - parameter autoFavoriteOffer: (query) whether to mark the offer as favorited automatically after invite is accepted (optional, default to false)
    /// - parameter autoFavoriteOfferLocation: (query) whether to mark the offer location as favorited automatically after invite is accepted (optional, default to false)
    /// - parameter autoFavoriteRetailerLocation: (query) whether to mark the retailer location as favorited automatically after invite is accepted (optional, default to false)
    /// - returns: AnyPublisher<ConsumerInviteResponse, Error> 
    open func acceptInvite(token: String, accountId: Int64, albumId: Int64? = nil, missionId: Int64? = nil, albumContestId: Int64? = nil, offerId: Int64? = nil, offerLocationId: Int64? = nil, retailerLocationId: Int64? = nil, appKey: String? = nil, autoFriend: Bool? = nil, autoAttendEvent: Bool? = nil, autoFavoriteOffer: Bool? = nil, autoFavoriteOfferLocation: Bool? = nil, autoFavoriteRetailerLocation: Bool? = nil) -> AnyPublisher<ConsumerInviteResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/accept"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "token", value: token))
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                if let albumId = albumId { queryItems.append(URLQueryItem(name: "albumId", value: "\(albumId)")) } 
                if let missionId = missionId { queryItems.append(URLQueryItem(name: "missionId", value: "\(missionId)")) } 
                if let albumContestId = albumContestId { queryItems.append(URLQueryItem(name: "albumContestId", value: "\(albumContestId)")) } 
                if let offerId = offerId { queryItems.append(URLQueryItem(name: "offerId", value: "\(offerId)")) } 
                if let offerLocationId = offerLocationId { queryItems.append(URLQueryItem(name: "offerLocationId", value: "\(offerLocationId)")) } 
                if let retailerLocationId = retailerLocationId { queryItems.append(URLQueryItem(name: "retailerLocationId", value: "\(retailerLocationId)")) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let autoFriend = autoFriend { queryItems.append(URLQueryItem(name: "autoFriend", value: autoFriend ? "true" : "false")) } 
                if let autoAttendEvent = autoAttendEvent { queryItems.append(URLQueryItem(name: "autoAttendEvent", value: autoAttendEvent ? "true" : "false")) } 
                if let autoFavoriteOffer = autoFavoriteOffer { queryItems.append(URLQueryItem(name: "autoFavoriteOffer", value: autoFavoriteOffer ? "true" : "false")) } 
                if let autoFavoriteOfferLocation = autoFavoriteOfferLocation { queryItems.append(URLQueryItem(name: "autoFavoriteOfferLocation", value: autoFavoriteOfferLocation ? "true" : "false")) } 
                if let autoFavoriteRetailerLocation = autoFavoriteRetailerLocation { queryItems.append(URLQueryItem(name: "autoFavoriteRetailerLocation", value: autoFavoriteRetailerLocation ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<ConsumerInviteResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(ConsumerInviteResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Invite to Contest
    /// - POST /invite/albumContest
    /// - Allows a user to invite people to gain access to a contest. This will generate an invite token, which when used, will give the invitee access to a contest (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
    /// - parameter deviceId: (query) a unique ID given by the device (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) the account ID of the user (deviceId or accountId required) (optional)
    /// - parameter appId: (query) This parameter is deprecated. (optional)
    /// - parameter appKey: (query) the application key (optional)
    /// - parameter albumContestId: (query) the album contest to share (optional)
    /// - parameter latitude: (query) the current latitude of the user (optional)
    /// - parameter longitude: (query) the current longitude of the user (optional)
    /// - returns: AnyPublisher<InviteResponse, Error> 
    open func albumContestInvite(deviceId: String? = nil, accountId: Int64? = nil, appId: Int64? = nil, appKey: String? = nil, albumContestId: Int64? = nil, latitude: Double? = nil, longitude: Double? = nil) -> AnyPublisher<InviteResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/albumContest"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let appId = appId { queryItems.append(URLQueryItem(name: "appId", value: "\(appId)")) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let albumContestId = albumContestId { queryItems.append(URLQueryItem(name: "albumContestId", value: "\(albumContestId)")) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<InviteResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(InviteResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Invite to Collection
    /// - POST /invite/album
    /// - Allows a user to invite people to gain access to a collection. This will generate an invite token, which when used, will give the invitee access to a collection (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
    /// - parameter deviceId: (query) a unique ID given by the device (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) the account ID of the user (deviceId or accountId required) (optional)
    /// - parameter appId: (query) This parameter is deprecated. (optional)
    /// - parameter appKey: (query) the application key (optional)
    /// - parameter albumId: (query) the album to share (optional)
    /// - parameter latitude: (query) the current latitude of the user (optional)
    /// - parameter longitude: (query) the current longitude of the user (optional)
    /// - returns: AnyPublisher<InviteResponse, Error> 
    open func albumInvite(deviceId: String? = nil, accountId: Int64? = nil, appId: Int64? = nil, appKey: String? = nil, albumId: Int64? = nil, latitude: Double? = nil, longitude: Double? = nil) -> AnyPublisher<InviteResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/album"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let appId = appId { queryItems.append(URLQueryItem(name: "appId", value: "\(appId)")) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let albumId = albumId { queryItems.append(URLQueryItem(name: "albumId", value: "\(albumId)")) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<InviteResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(InviteResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Invite to Event
    /// - POST /invite/event
    /// - Allows a user to invite people to attend an event. This will generate an invite token, which when used, will allow the invitee to add the offer to their wallet.
    /// - parameter accountId: (query) the account ID of the user making the share 
    /// - parameter appKey: (query) the application key 
    /// - parameter listingId: (query) The ID of the event listing 
    /// - parameter receiverAccountIds: (query) the account ID of a Sirqul user they would like to share an event with (optional)
    /// - parameter retailerLocationId: (query) The retailer location id of where the event will take place (optional)
    /// - returns: AnyPublisher<InviteResponse, Error> 
    open func eventInvite(accountId: Int64, appKey: String, listingId: Int64, receiverAccountIds: String? = nil, retailerLocationId: Int64? = nil) -> AnyPublisher<InviteResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/event"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                if let receiverAccountIds = receiverAccountIds { queryItems.append(URLQueryItem(name: "receiverAccountIds", value: receiverAccountIds)) } 
                queryItems.append(URLQueryItem(name: "appKey", value: appKey))
                queryItems.append(URLQueryItem(name: "listingId", value: "\(listingId)"))
                if let retailerLocationId = retailerLocationId { queryItems.append(URLQueryItem(name: "retailerLocationId", value: "\(retailerLocationId)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<InviteResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(InviteResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Invite to Game Level
    /// - POST /invite/gameLevel
    /// - Allows a user to invite people to gain access to an album. This will generate an invite token, which when used, will give the invitee access to an album (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
    /// - parameter deviceId: (query) a unique ID given by the device (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) the account ID of the user (deviceId or accountId required) (optional)
    /// - parameter appId: (query) This parameter is deprecated. (optional)
    /// - parameter appKey: (query) the application key (optional)
    /// - parameter gameLevelId: (query) the game level that the user owns and is giving access to (optional)
    /// - parameter latitude: (query) the current latitude of the user (optional)
    /// - parameter longitude: (query) the current longitude of the user (optional)
    /// - returns: AnyPublisher<InviteResponse, Error> 
    open func gameInvite(deviceId: String? = nil, accountId: Int64? = nil, appId: Int64? = nil, appKey: String? = nil, gameLevelId: Int64? = nil, latitude: Double? = nil, longitude: Double? = nil) -> AnyPublisher<InviteResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/gameLevel"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let appId = appId { queryItems.append(URLQueryItem(name: "appId", value: "\(appId)")) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let gameLevelId = gameLevelId { queryItems.append(URLQueryItem(name: "gameLevelId", value: "\(gameLevelId)")) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<InviteResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(InviteResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Invite
    /// - GET /invite/get
    /// - This is used to determine whether an invite token is valid. If the token is valid, this will also return information about who invited the user, and what they are invited to.
    /// - parameter accountId: (query) Account ID of the user if they are logged in (optional)
    /// - parameter token: (query) the invite token (optional)
    /// - parameter albumId: (query) album id to match the invite against (if applicable) (optional)
    /// - parameter missionId: (query) mission id to match the invite against (if applicable) (optional)
    /// - parameter albumContestId: (query) album contest id to match the invite against (if applicable) (optional)
    /// - parameter offerId: (query) offer id to match the invite against (if applicable) (optional)
    /// - parameter offerLocationId: (query) offer location id to match the invite against (if applicable) (optional)
    /// - parameter retailerLocationId: (query) retailer location id to match the invite against (if applicable) (optional)
    /// - parameter appKey: (query) the application key (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func getInvite(accountId: Int64? = nil, token: String? = nil, albumId: Int64? = nil, missionId: Int64? = nil, albumContestId: Int64? = nil, offerId: Int64? = nil, offerLocationId: Int64? = nil, retailerLocationId: Int64? = nil, appKey: String? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/get"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let token = token { queryItems.append(URLQueryItem(name: "token", value: token)) } 
                if let albumId = albumId { queryItems.append(URLQueryItem(name: "albumId", value: "\(albumId)")) } 
                if let missionId = missionId { queryItems.append(URLQueryItem(name: "missionId", value: "\(missionId)")) } 
                if let albumContestId = albumContestId { queryItems.append(URLQueryItem(name: "albumContestId", value: "\(albumContestId)")) } 
                if let offerId = offerId { queryItems.append(URLQueryItem(name: "offerId", value: "\(offerId)")) } 
                if let offerLocationId = offerLocationId { queryItems.append(URLQueryItem(name: "offerLocationId", value: "\(offerLocationId)")) } 
                if let retailerLocationId = retailerLocationId { queryItems.append(URLQueryItem(name: "retailerLocationId", value: "\(retailerLocationId)")) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Invite to Mission
    /// - POST /invite/mission
    /// - Allows a user to invite people to gain access to a mission. This will generate an invite token, which when used, will give the invitee access to a mission (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
    /// - parameter deviceId: (query) a unique ID given by the device (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) the account ID of the user (deviceId or accountId required) (optional)
    /// - parameter appId: (query) This parameter is deprecated. (optional)
    /// - parameter appKey: (query) the application key (optional)
    /// - parameter missionId: (query) the mission to share (optional)
    /// - parameter latitude: (query) the current latitude of the user (optional)
    /// - parameter longitude: (query) the current longitude of the user (optional)
    /// - returns: AnyPublisher<InviteResponse, Error> 
    open func missionInvite(deviceId: String? = nil, accountId: Int64? = nil, appId: Int64? = nil, appKey: String? = nil, missionId: Int64? = nil, latitude: Double? = nil, longitude: Double? = nil) -> AnyPublisher<InviteResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/mission"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let appId = appId { queryItems.append(URLQueryItem(name: "appId", value: "\(appId)")) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let missionId = missionId { queryItems.append(URLQueryItem(name: "missionId", value: "\(missionId)")) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<InviteResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(InviteResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Invite to Offer
    /// - POST /invite/offer
    /// - Allows a user to invite people to favorite an offer. This will generate an invite token, which when used, will give the invitee the offer in their favorite's list.
    /// - parameter accountId: (query) the account ID of the user making the share 
    /// - parameter appKey: (query) the application key 
    /// - parameter offerId: (query) the ID of the offer used to invite to favorite 
    /// - returns: AnyPublisher<InviteResponse, Error> 
    open func offerInvite(accountId: Int64, appKey: String, offerId: Int64) -> AnyPublisher<InviteResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/offer"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "appKey", value: appKey))
                queryItems.append(URLQueryItem(name: "offerId", value: "\(offerId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<InviteResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(InviteResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Invite to Offer Location
    /// - POST /invite/offerLocation
    /// - Allows a user to invite people to favorite an offer location. This will generate an invite token, which when used, will give the invitee the offer location in their favorite's list.
    /// - parameter accountId: (query) the account ID of the user making the share 
    /// - parameter appKey: (query) the application key 
    /// - parameter offerLocationId: (query) the id of the offer location to share 
    /// - returns: AnyPublisher<InviteResponse, Error> 
    open func offerLocationInvite(accountId: Int64, appKey: String, offerLocationId: Int64) -> AnyPublisher<InviteResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/offerLocation"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "appKey", value: appKey))
                queryItems.append(URLQueryItem(name: "offerLocationId", value: "\(offerLocationId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<InviteResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(InviteResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Invite to Retailer Location
    /// - POST /invite/retailerLocation
    /// - Allows a user to invite people to favorite a retailer location. This will generate an invite token, which when used, will give the invitee the retailer location in their favorite's list.
    /// - parameter accountId: (query) the account ID of the user making the share 
    /// - parameter appKey: (query) the application key 
    /// - parameter retailerLocationId: (query) The retailer location id of where the event will take place 
    /// - parameter albumId: (query) Optional album id to link with the invite (optional)
    /// - returns: AnyPublisher<InviteResponse, Error> 
    open func retailerLocationInvite(accountId: Int64, appKey: String, retailerLocationId: Int64, albumId: Int64? = nil) -> AnyPublisher<InviteResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/invite/retailerLocation"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "appKey", value: appKey))
                queryItems.append(URLQueryItem(name: "retailerLocationId", value: "\(retailerLocationId)"))
                if let albumId = albumId { queryItems.append(URLQueryItem(name: "albumId", value: "\(albumId)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<InviteResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(InviteResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
