//
// LocationAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class LocationAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create Trilateration Data with File
    /// - POST /location/trilaterate/cache
    /// - Creates trilateration samples for a source device (i.e. a router).
    /// - parameter udid: (query) The unique identifier of the source device 
    /// - parameter sourceTime: (query) The current timestamp of the source device (optional)
    /// - parameter minimumSampleSize: (query) the minimum number of Edysen devices that must be used to be able to trilaterate a device (optional)
    /// - parameter data: (query) The json formated sample data:  &#x60;&#x60;&#x60;json {    \&quot;count\&quot;: 2,   \&quot;timespan\&quot;: 10,    \&quot;samples\&quot;: [     {       \&quot;deviceId\&quot;: \&quot;device1\&quot;,       \&quot;randomizedId\&quot;: true,        \&quot;deviceSignature\&quot;: \&quot;probe:xyz...\&quot;,        \&quot;alternativeId\&quot;:\&quot;adc123\&quot;,        \&quot;rssi\&quot;: [-63, -75]     },      {       \&quot;deviceId\&quot;: \&quot;device2\&quot;,       \&quot;randomizedId\&quot;: true,        \&quot;deviceSignature\&quot;: \&quot;probe:xyz...\&quot;,        \&quot;alternativeId\&quot;: \&quot;adc123\&quot;,        \&quot;rssi\&quot;: [-83, -79]     }   ] } &#x60;&#x60;&#x60;  (optional)
    /// - parameter dataFile: (query) Binary file containing data (multipart upload) (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func cacheTrilaterationData(udid: String, sourceTime: Int64? = nil, minimumSampleSize: Int? = nil, data: String? = nil, dataFile: Data? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/location/trilaterate/cache"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "udid", value: udid))
                if let sourceTime = sourceTime { queryItems.append(URLQueryItem(name: "sourceTime", value: "\(sourceTime)")) } 
                if let minimumSampleSize = minimumSampleSize { queryItems.append(URLQueryItem(name: "minimumSampleSize", value: "\(minimumSampleSize)")) } 
                if let data = data { queryItems.append(URLQueryItem(name: "data", value: data)) } 
                if let dataFile = dataFile { queryItems.append(URLQueryItem(name: "dataFile", value: )) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Create Trilateration Data with Rest
    /// - POST /location/trilaterate/cache/submit
    /// - Creates trilateration samples for a source device (i.e. a router).
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func cacheTrilaterationDataGzip(body: TrilatCacheRequest? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/location/trilaterate/cache/submit"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Location by IP
    /// - GET /location/ip
    /// - Get location information based on an IP address.
    /// - parameter ip: (query) the ip address of the client device (optional)
    /// - returns: AnyPublisher<CoordsResponse, Error> 
    open func getLocationByIp(ip: String? = nil) -> AnyPublisher<CoordsResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/location/ip"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let ip = ip { queryItems.append(URLQueryItem(name: "ip", value: ip)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<CoordsResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(CoordsResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Location by Trilateration
    /// - GET /account/location/trilaterate
    /// - Send in device data and calculate a position based on signal strengths.
    /// - parameter accountId: (query) The account making the request, if provided the last know location will be updated (optional)
    /// - parameter latitude: (query) The known GPS latitude to compare to the calculated version (optional)
    /// - parameter longitude: (query) The known GPS longitude to compare to the calculated version (optional)
    /// - parameter data: (query) The json formated sample data:  &#x60;&#x60;&#x60;json {    \&quot;count\&quot;: 2,   \&quot;timespan\&quot;: 10,    \&quot;samples\&quot;: [     {       \&quot;deviceId\&quot;: \&quot;device1\&quot;,       \&quot;rssi\&quot;: [-63, -75]     },      {       \&quot;deviceId\&quot;: \&quot;device2\&quot;,       \&quot;rssi\&quot;: [-83, -79]     }   ] } &#x60;&#x60;&#x60;  (optional)
    /// - parameter responseFilters: (query) Optional response filters (not used currently) (optional)
    /// - returns: AnyPublisher<GeoPointResponse, Error> 
    open func getLocationByTrilateration(accountId: Int64? = nil, latitude: Double? = nil, longitude: Double? = nil, data: String? = nil, responseFilters: String? = nil) -> AnyPublisher<GeoPointResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/account/location/trilaterate"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                if let data = data { queryItems.append(URLQueryItem(name: "data", value: data)) } 
                if let responseFilters = responseFilters { queryItems.append(URLQueryItem(name: "responseFilters", value: responseFilters)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<GeoPointResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(GeoPointResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Regions or Postal Codes
    /// - GET /location/search
    /// - Searches geographic locations by proximity via address or keyword.
    /// - parameter deviceId: (query) the device id (optional)
    /// - parameter accountId: (query) the account id (optional)
    /// - parameter currentlatitude: (query) This parameter is deprecated. (optional)
    /// - parameter currentlongitude: (query) This parameter is deprecated. (optional)
    /// - parameter currentLatitude: (query) the current latitude of the user (optional)
    /// - parameter currentLongitude: (query) the current longitude of the user (optional)
    /// - parameter query: (query) the query results by keyword or address (optional)
    /// - parameter zipcode: (query) This parameter is deprecated. (optional)
    /// - parameter zipCode: (query) the zip code to filter results (optional)
    /// - parameter selectedMaplatitude: (query) This parameter is deprecated. (optional)
    /// - parameter selectedMaplongitude: (query) This parameter is deprecated. (optional)
    /// - parameter selectedMapLatitude: (query) the latitude of where the search should originate from (optional)
    /// - parameter selectedMapLongitude: (query) the longitude of where the search should originate from (optional)
    /// - parameter searchRange: (query) the search range of the search in miles (optional, default to 5)
    /// - parameter useGeocode: (query) determines whether to allow searches via address (optional, default to false)
    /// - parameter i: (query) This parameter is deprecated. (optional)
    /// - parameter start: (query) the start index for pagination (optional, default to 0)
    /// - parameter l: (query) This parameter is deprecated. (optional)
    /// - parameter limit: (query) the limit for pagination (optional, default to 20)
    /// - returns: AnyPublisher<LocationSearchResponse, Error> 
    open func getLocations(deviceId: String? = nil, accountId: Int64? = nil, currentlatitude: Double? = nil, currentlongitude: Double? = nil, currentLatitude: Double? = nil, currentLongitude: Double? = nil, query: String? = nil, zipcode: String? = nil, zipCode: String? = nil, selectedMaplatitude: Double? = nil, selectedMaplongitude: Double? = nil, selectedMapLatitude: Double? = nil, selectedMapLongitude: Double? = nil, searchRange: Double? = nil, useGeocode: Bool? = nil, i: Int? = nil, start: Int? = nil, l: Int? = nil, limit: Int? = nil) -> AnyPublisher<LocationSearchResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/location/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let currentlatitude = currentlatitude { queryItems.append(URLQueryItem(name: "currentlatitude", value: "\(currentlatitude)")) } 
                if let currentlongitude = currentlongitude { queryItems.append(URLQueryItem(name: "currentlongitude", value: "\(currentlongitude)")) } 
                if let currentLatitude = currentLatitude { queryItems.append(URLQueryItem(name: "currentLatitude", value: "\(currentLatitude)")) } 
                if let currentLongitude = currentLongitude { queryItems.append(URLQueryItem(name: "currentLongitude", value: "\(currentLongitude)")) } 
                if let query = query { queryItems.append(URLQueryItem(name: "query", value: query)) } 
                if let zipcode = zipcode { queryItems.append(URLQueryItem(name: "zipcode", value: zipcode)) } 
                if let zipCode = zipCode { queryItems.append(URLQueryItem(name: "zipCode", value: zipCode)) } 
                if let selectedMaplatitude = selectedMaplatitude { queryItems.append(URLQueryItem(name: "selectedMaplatitude", value: "\(selectedMaplatitude)")) } 
                if let selectedMaplongitude = selectedMaplongitude { queryItems.append(URLQueryItem(name: "selectedMaplongitude", value: "\(selectedMaplongitude)")) } 
                if let selectedMapLatitude = selectedMapLatitude { queryItems.append(URLQueryItem(name: "selectedMapLatitude", value: "\(selectedMapLatitude)")) } 
                if let selectedMapLongitude = selectedMapLongitude { queryItems.append(URLQueryItem(name: "selectedMapLongitude", value: "\(selectedMapLongitude)")) } 
                if let searchRange = searchRange { queryItems.append(URLQueryItem(name: "searchRange", value: "\(searchRange)")) } 
                if let useGeocode = useGeocode { queryItems.append(URLQueryItem(name: "useGeocode", value: useGeocode ? "true" : "false")) } 
                if let i = i { queryItems.append(URLQueryItem(name: "_i", value: "\(i)")) } 
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let l = l { queryItems.append(URLQueryItem(name: "_l", value: "\(l)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<LocationSearchResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(LocationSearchResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
