//
// MissionAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class MissionAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create Mission
    /// - POST /mission/create
    /// - Create a user defined mission.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter title: (query) The title of the mission 
    /// - parameter description: (query) The description of the mission (optional)
    /// - parameter subType: (query) Custom string client apps can use for searching/filtering missions (optional)
    /// - parameter startDate: (query) The date/time to start the mission, send 0 to unset (optional)
    /// - parameter endDate: (query) The date/time to end the mission, send 0 to unset (optional)
    /// - parameter active: (query) Activate/deactivate the mission (optional)
    /// - parameter gameLevelIds: (query) the game level ids to include in the mission, comma separated (optional)
    /// - parameter creativeIds: (query) creatives to associate with the mission (optional)
    /// - parameter audienceIds: (query) audiences to associate with the mission (optional)
    /// - parameter missionTask: (query) This parameter is deprecated. (optional)
    /// - parameter formatType: (query) The string identifier for a mission format (this is not the missionFormatId) (optional)
    /// - parameter offerId: (query) The offerId to give as a reward (optional)
    /// - parameter balance: (query) Set the amount of money available to spend, once 0 deactivate mission. Set to a negative value for unlimited. (optional)
    /// - parameter advancedReporting: (query) Flag to mark the mission as eligible for advanced reporting (optional)
    /// - parameter allocateTickets: (query) Flag to indicate owner should receive tickets for completed missions (optional)
    /// - parameter ticketCount: (query) The number of tickets to reward (optional)
    /// - parameter ticketType: (query) The type of ticket to reward, null means default type (optional)
    /// - parameter points: (query) The number of points to award for completing a mission (optional)
    /// - parameter metaData: (query) external custom client defined data (optional)
    /// - parameter applicationIds: (query) Comma separated list of application ids (optional)
    /// - parameter devices: (query) Deprecated parameter for device names (optional)
    /// - parameter deviceIds: (query) Comma separated list of device ids (optional)
    /// - parameter deviceVersions: (query) Comma separated list of device version ranges (optional)
    /// - parameter locations: (query) List of lat/long pairs for mission locations (optional)
    /// - parameter radius: (query) Comma separated list of radii for locations (optional)
    /// - returns: AnyPublisher<MissionResponse, Error> 
    open func createMission(accountId: Int64, title: String, description: String? = nil, subType: String? = nil, startDate: Int64? = nil, endDate: Int64? = nil, active: Bool? = nil, gameLevelIds: String? = nil, creativeIds: String? = nil, audienceIds: String? = nil, missionTask: String? = nil, formatType: String? = nil, offerId: Int64? = nil, balance: Double? = nil, advancedReporting: Bool? = nil, allocateTickets: Bool? = nil, ticketCount: Int64? = nil, ticketType: String? = nil, points: Int64? = nil, metaData: String? = nil, applicationIds: String? = nil, devices: String? = nil, deviceIds: String? = nil, deviceVersions: String? = nil, locations: String? = nil, radius: String? = nil) -> AnyPublisher<MissionResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mission/create"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "title", value: title))
                if let description = description { queryItems.append(URLQueryItem(name: "description", value: description)) } 
                if let subType = subType { queryItems.append(URLQueryItem(name: "subType", value: subType)) } 
                if let startDate = startDate { queryItems.append(URLQueryItem(name: "startDate", value: "\(startDate)")) } 
                if let endDate = endDate { queryItems.append(URLQueryItem(name: "endDate", value: "\(endDate)")) } 
                if let active = active { queryItems.append(URLQueryItem(name: "active", value: active ? "true" : "false")) } 
                if let gameLevelIds = gameLevelIds { queryItems.append(URLQueryItem(name: "gameLevelIds", value: gameLevelIds)) } 
                if let creativeIds = creativeIds { queryItems.append(URLQueryItem(name: "creativeIds", value: creativeIds)) } 
                if let audienceIds = audienceIds { queryItems.append(URLQueryItem(name: "audienceIds", value: audienceIds)) } 
                if let missionTask = missionTask { queryItems.append(URLQueryItem(name: "missionTask", value: missionTask)) } 
                if let formatType = formatType { queryItems.append(URLQueryItem(name: "formatType", value: formatType)) } 
                if let offerId = offerId { queryItems.append(URLQueryItem(name: "offerId", value: "\(offerId)")) } 
                if let balance = balance { queryItems.append(URLQueryItem(name: "balance", value: "\(balance)")) } 
                if let advancedReporting = advancedReporting { queryItems.append(URLQueryItem(name: "advancedReporting", value: advancedReporting ? "true" : "false")) } 
                if let allocateTickets = allocateTickets { queryItems.append(URLQueryItem(name: "allocateTickets", value: allocateTickets ? "true" : "false")) } 
                if let ticketCount = ticketCount { queryItems.append(URLQueryItem(name: "ticketCount", value: "\(ticketCount)")) } 
                if let ticketType = ticketType { queryItems.append(URLQueryItem(name: "ticketType", value: ticketType)) } 
                if let points = points { queryItems.append(URLQueryItem(name: "points", value: "\(points)")) } 
                if let metaData = metaData { queryItems.append(URLQueryItem(name: "metaData", value: metaData)) } 
                if let applicationIds = applicationIds { queryItems.append(URLQueryItem(name: "applicationIds", value: applicationIds)) } 
                if let devices = devices { queryItems.append(URLQueryItem(name: "devices", value: devices)) } 
                if let deviceIds = deviceIds { queryItems.append(URLQueryItem(name: "deviceIds", value: deviceIds)) } 
                if let deviceVersions = deviceVersions { queryItems.append(URLQueryItem(name: "deviceVersions", value: deviceVersions)) } 
                if let locations = locations { queryItems.append(URLQueryItem(name: "locations", value: locations)) } 
                if let radius = radius { queryItems.append(URLQueryItem(name: "radius", value: radius)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MissionResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(MissionResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete Mission
    /// - POST /mission/delete
    /// - Delete a mission.
    /// - parameter accountId: (query) the id of the logged in user 
    /// - parameter missionId: (query) the id of the mission to delete 
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func deleteMission(accountId: Int64, missionId: Int64) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mission/delete"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "missionId", value: "\(missionId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Find Missions
    /// - GET /mission/find
    /// - Get a set of ad filtered by the parameters provided.
    /// - parameter appKey: (query) The application key, if provided return missions specific for the app. Will always return mission levels that are app agnostic. 
    /// - parameter suffix: (query) The type of mission to get, possible values are: click_banner, click_leaderboard, click_skyscraper, click_full, click_video, or click_zip (optional)
    /// - parameter type: (query) The type of ads to get, possible values are: BANNER, LEADERBOARD, SKYSCRAPER, FULL, VIDEO, ZIP, CONFIG. Use this instead of suffix. (optional)
    /// - parameter accountId: (query) The logged in user. (optional)
    /// - parameter appVersion: (query) The version of the application, will not return levels newer than the appVersion. (optional)
    /// - parameter latitude: (query) The current location of the requesting device (optional)
    /// - parameter longitude: (query) The current location of the requesting device (optional)
    /// - parameter device: (query) Should use deviceId if possible. The name of the requesting device; possible values are: Android, iPhone, iPad, iPod, etc. use /audience/devices for list. (optional)
    /// - parameter deviceIdentifier: (query) The device ID of the requesting device, use /audience/devices for list (optional)
    /// - parameter deviceVersion: (query) The requesting device version; examples are: 2.3, 5.1.4, 6.1.4. Supports X, X.X, or X.X.X formated string. (optional)
    /// - parameter start: (query) The index into the record set to start with. (optional)
    /// - parameter limit: (query) The total number of record to return. (optional)
    /// - parameter includeGameData: (query) Include the game level data with the mission. (optional)
    /// - parameter includeAudiences: (query) If true then return the audience data in the response. Default is false. (optional)
    /// - parameter allocatesTickets: (query) If true/false only return missions whose game levels allocate (or don&#39;t allocate) tickets. Do not provide a value to return both. (optional)
    /// - parameter randomize: (query) return a random set of results, default is true. If false returns in natural order. (optional)
    /// - parameter targetedAdsOnly: (query) return only ads targeted to the specific app, no global ads. (optional)
    /// - parameter missionIds: (query) return only ads from the specified campaigns. (optional)
    /// - parameter audienceOperator: (query) will return the items that have at least 1 or all of their audiences exist in the logged in user’s audiences, depending if the value is OR or AND (optional)
    /// - returns: AnyPublisher<MissionResponse, Error> 
    open func findMissions(appKey: String, suffix: String? = nil, type: String? = nil, accountId: Int64? = nil, appVersion: String? = nil, latitude: Double? = nil, longitude: Double? = nil, device: String? = nil, deviceIdentifier: Int64? = nil, deviceVersion: String? = nil, start: Int? = nil, limit: Int? = nil, includeGameData: Bool? = nil, includeAudiences: Bool? = nil, allocatesTickets: Bool? = nil, randomize: Bool? = nil, targetedAdsOnly: Bool? = nil, missionIds: String? = nil, audienceOperator: String? = nil) -> AnyPublisher<MissionResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mission/find"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "appKey", value: appKey))
                if let suffix = suffix { queryItems.append(URLQueryItem(name: "suffix", value: suffix)) } 
                if let type = type { queryItems.append(URLQueryItem(name: "type", value: type)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let appVersion = appVersion { queryItems.append(URLQueryItem(name: "appVersion", value: appVersion)) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                if let device = device { queryItems.append(URLQueryItem(name: "device", value: device)) } 
                if let deviceIdentifier = deviceIdentifier { queryItems.append(URLQueryItem(name: "deviceIdentifier", value: "\(deviceIdentifier)")) } 
                if let deviceVersion = deviceVersion { queryItems.append(URLQueryItem(name: "deviceVersion", value: deviceVersion)) } 
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                if let includeGameData = includeGameData { queryItems.append(URLQueryItem(name: "includeGameData", value: includeGameData ? "true" : "false")) } 
                if let includeAudiences = includeAudiences { queryItems.append(URLQueryItem(name: "includeAudiences", value: includeAudiences ? "true" : "false")) } 
                if let allocatesTickets = allocatesTickets { queryItems.append(URLQueryItem(name: "allocatesTickets", value: allocatesTickets ? "true" : "false")) } 
                if let randomize = randomize { queryItems.append(URLQueryItem(name: "randomize", value: randomize ? "true" : "false")) } 
                if let targetedAdsOnly = targetedAdsOnly { queryItems.append(URLQueryItem(name: "targetedAdsOnly", value: targetedAdsOnly ? "true" : "false")) } 
                if let missionIds = missionIds { queryItems.append(URLQueryItem(name: "missionIds", value: missionIds)) } 
                if let audienceOperator = audienceOperator { queryItems.append(URLQueryItem(name: "audienceOperator", value: audienceOperator)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MissionResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(MissionResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Mission
    /// - GET /mission/get
    /// - Get a mission.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter missionId: (query) The id of the mission to return. 
    /// - parameter returnCreative: (query) Return creatives associated with the mission when true (optional)
    /// - returns: AnyPublisher<MissionResponse, Error> 
    open func getMission(accountId: Int64, missionId: Int64, returnCreative: Bool? = nil) -> AnyPublisher<MissionResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mission/get"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "missionId", value: "\(missionId)"))
                if let returnCreative = returnCreative { queryItems.append(URLQueryItem(name: "returnCreative", value: returnCreative ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MissionResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(MissionResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter adSize
    ///
    public enum ImportMissionAdSize: String, Codable, CaseIterable {
        case config = "CONFIG"
        case banner = "BANNER"
        case leaderboard = "LEADERBOARD"
        case skyscraper = "SKYSCRAPER"
        case video = "VIDEO"
        case zip = "ZIP"
        case interstitial = "INTERSTITIAL"
        case custom1 = "CUSTOM1"
        case custom2 = "CUSTOM2"
        case custom3 = "CUSTOM3"
        case custom4 = "CUSTOM4"
        case custom5 = "CUSTOM5"
        case custom6 = "CUSTOM6"
        case custom7 = "CUSTOM7"
        case custom8 = "CUSTOM8"
        case custom9 = "CUSTOM9"
        case custom10 = "CUSTOM10"
    }

    /// Import Mission
    /// - POST /mission/import
    /// - Create a mission using a source item such as an offer location.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter latitude: (query) The current location of the requesting device 
    /// - parameter longitude: (query) The current location of the requesting device 
    /// - parameter appKey: (query) the application key 
    /// - parameter keyword: (query) the keyword of the mission (optional)
    /// - parameter start: (query) The starting index in the result set to return. Default is 0. (optional)
    /// - parameter limit: (query) The total number of records to return. Default is 20. (optional)
    /// - parameter adSize: (query) the size of the ad (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func importMission(accountId: Int64, latitude: Double, longitude: Double, appKey: String, keyword: String? = nil, start: Int? = nil, limit: Int? = nil, adSize: ImportMissionAdSize? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mission/import"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)"))
                queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)"))
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                queryItems.append(URLQueryItem(name: "appKey", value: appKey))
                if let adSize = adSize { queryItems.append(URLQueryItem(name: "adSize", value: adSize.rawValue)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Mission Formats
    /// - GET /mission/format/search
    /// - Searches on pre-defined mission formats
    /// - parameter start: (query) The starting index in the result set to return. Default is 0. 
    /// - parameter limit: (query) The total number of records to return. Default is 20. 
    /// - parameter activeOnly: (query) Determines whether to return only active results. Default is false. 
    /// - returns: AnyPublisher<[MissionFormatResponse], Error> 
    open func searchMissionFormats(start: Int, limit: Int, activeOnly: Bool) -> AnyPublisher<[MissionFormatResponse], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mission/format/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "start", value: "\(start)"))
                queryItems.append(URLQueryItem(name: "limit", value: "\(limit)"))
                queryItems.append(URLQueryItem(name: "activeOnly", value: activeOnly ? "true" : "false"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[MissionFormatResponse], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([MissionFormatResponse].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Missions
    /// - GET /mission/search
    /// - Get the list missions available to the account.  
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter keyword: (query) Filter by keyword (optional)
    /// - parameter subType: (query) Custom string client apps can use for searching/filtering missions (optional)
    /// - parameter start: (query) The index into the record set to start with. Default is 0. (optional)
    /// - parameter limit: (query) The total number of record to return. Default is 20, maximum is 100. (optional)
    /// - parameter includeGameData: (query) If true then return the game level data in the response. Default is false. (optional)
    /// - parameter includeAudiences: (query) If true then return the audience data in the response. Default is false. (optional)
    /// - parameter includeInactive: (query) If true then include inactive missions. Default is false. (optional)
    /// - parameter suffix: (query) A list of game types to include; click_leaderboard, click_banner, click_skyscraper, click_full, click_video, click_zip, create, vote, question, invite, share, json, xml (optional)
    /// - parameter sortField: (query) The field to sort the search on (for example TITLE) (optional)
    /// - parameter descending: (query) Whether to sort in descending order (default true) (optional)
    /// - returns: AnyPublisher<[MissionResponse], Error> 
    open func searchMissions(accountId: Int64, keyword: String? = nil, subType: String? = nil, start: Int? = nil, limit: Int? = nil, includeGameData: Bool? = nil, includeAudiences: Bool? = nil, includeInactive: Bool? = nil, suffix: String? = nil, sortField: String? = nil, descending: Bool? = nil) -> AnyPublisher<[MissionResponse], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mission/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                if let subType = subType { queryItems.append(URLQueryItem(name: "subType", value: subType)) } 
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                if let includeGameData = includeGameData { queryItems.append(URLQueryItem(name: "includeGameData", value: includeGameData ? "true" : "false")) } 
                if let includeAudiences = includeAudiences { queryItems.append(URLQueryItem(name: "includeAudiences", value: includeAudiences ? "true" : "false")) } 
                if let includeInactive = includeInactive { queryItems.append(URLQueryItem(name: "includeInactive", value: includeInactive ? "true" : "false")) } 
                if let suffix = suffix { queryItems.append(URLQueryItem(name: "suffix", value: suffix)) } 
                if let sortField = sortField { queryItems.append(URLQueryItem(name: "sortField", value: sortField)) } 
                if let descending = descending { queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[MissionResponse], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([MissionResponse].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Missions by Billable Entity
    /// - GET /mission/searchByBillableEntity
    /// - Use the accountId to determine the associated BillableEntity.  From there get a list of all accounts associated as managers.  Get the list missions owned by all associated managers.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter keyword: (query) Filter by keyword (optional)
    /// - parameter start: (query) The index into the record set to start with. Default is 0. (optional)
    /// - parameter limit: (query) The total number of record to return. Default id 20. (optional)
    /// - parameter includeGameData: (query) If true then return the game level data in the response. Default is false. (optional)
    /// - parameter includeAudiences: (query) If true then return the audience data in the response. Default is false. (optional)
    /// - parameter includeInactive: (query) If true then include inactive missions. Default is false. (optional)
    /// - parameter suffix: (query) A list of game types to include; click_leaderboard, click_banner, click_skyscraper, click_full, click_video, click_zip, create, vote, question, invite, share, json, xml (optional)
    /// - parameter sortField: (query) The field to sort the search on (for example TITLE) (optional)
    /// - parameter descending: (query) Whether to sort in descending order (default true) (optional)
    /// - returns: AnyPublisher<[MissionResponse], Error> 
    open func searchMissionsByBillableEntity(accountId: Int64, keyword: String? = nil, start: Int? = nil, limit: Int? = nil, includeGameData: Bool? = nil, includeAudiences: Bool? = nil, includeInactive: Bool? = nil, suffix: String? = nil, sortField: String? = nil, descending: Bool? = nil) -> AnyPublisher<[MissionResponse], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mission/searchByBillableEntity"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                if let includeGameData = includeGameData { queryItems.append(URLQueryItem(name: "includeGameData", value: includeGameData ? "true" : "false")) } 
                if let includeAudiences = includeAudiences { queryItems.append(URLQueryItem(name: "includeAudiences", value: includeAudiences ? "true" : "false")) } 
                if let includeInactive = includeInactive { queryItems.append(URLQueryItem(name: "includeInactive", value: includeInactive ? "true" : "false")) } 
                if let suffix = suffix { queryItems.append(URLQueryItem(name: "suffix", value: suffix)) } 
                if let sortField = sortField { queryItems.append(URLQueryItem(name: "sortField", value: sortField)) } 
                if let descending = descending { queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[MissionResponse], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([MissionResponse].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update Mission
    /// - POST /mission/update
    /// - Update a mission.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter missionId: (query) The id of the mission to update. 
    /// - parameter title: (query) The title of the mission (optional)
    /// - parameter description: (query) The description of the mission (optional)
    /// - parameter subType: (query) Custom string client apps can use for searching/filtering missions (optional)
    /// - parameter metaData: (query) external custom client defined data (optional)
    /// - parameter startDate: (query) The date/time to start the mission, send 0 to unset (optional)
    /// - parameter endDate: (query) The date/time to end the mission, send 0 to unset (optional)
    /// - parameter active: (query) Activate/deactivate the mission (optional)
    /// - parameter gameLevelIds: (query) the game level ids to include in the mission, comma separated (optional)
    /// - parameter creativeIds: (query)  (optional)
    /// - parameter audienceIds: (query)  (optional)
    /// - parameter offerId: (query) The offerId to give as a reward (optional)
    /// - parameter balance: (query) Replace the amount of money available to spend, once 0 deactivate mission. Set to a negative value for unlimited. (optional)
    /// - parameter advancedReporting: (query) Flag to mark the mission as eligible for advanced reporting (optional)
    /// - parameter allocateTickets: (query) Flag to indicate owner should receive tickets for completed missions (optional)
    /// - parameter ticketCount: (query) The number of tickets to reward (optional)
    /// - parameter ticketType: (query) The type of ticket to reward, null means default type (optional)
    /// - parameter points: (query) The number of points to award for completing a mission (optional)
    /// - parameter applicationIds: (query) Comma separated list of application ids (optional)
    /// - parameter devices: (query) Deprecated parameter for device names (optional)
    /// - parameter deviceIds: (query) Comma separated list of device ids (optional)
    /// - parameter deviceVersions: (query) Comma separated list of device version ranges (optional)
    /// - parameter locations: (query) List of lat/long pairs for mission locations (optional)
    /// - parameter radius: (query) Comma separated list of radii for locations (optional)
    /// - returns: AnyPublisher<MissionResponse, Error> 
    open func updateMission(accountId: Int64, missionId: Int64, title: String? = nil, description: String? = nil, subType: String? = nil, metaData: String? = nil, startDate: Int64? = nil, endDate: Int64? = nil, active: Bool? = nil, gameLevelIds: String? = nil, creativeIds: String? = nil, audienceIds: String? = nil, offerId: Int64? = nil, balance: Double? = nil, advancedReporting: Bool? = nil, allocateTickets: Bool? = nil, ticketCount: Int64? = nil, ticketType: String? = nil, points: Int64? = nil, applicationIds: String? = nil, devices: String? = nil, deviceIds: String? = nil, deviceVersions: String? = nil, locations: String? = nil, radius: String? = nil) -> AnyPublisher<MissionResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/mission/update"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "missionId", value: "\(missionId)"))
                if let title = title { queryItems.append(URLQueryItem(name: "title", value: title)) } 
                if let description = description { queryItems.append(URLQueryItem(name: "description", value: description)) } 
                if let subType = subType { queryItems.append(URLQueryItem(name: "subType", value: subType)) } 
                if let metaData = metaData { queryItems.append(URLQueryItem(name: "metaData", value: metaData)) } 
                if let startDate = startDate { queryItems.append(URLQueryItem(name: "startDate", value: "\(startDate)")) } 
                if let endDate = endDate { queryItems.append(URLQueryItem(name: "endDate", value: "\(endDate)")) } 
                if let active = active { queryItems.append(URLQueryItem(name: "active", value: active ? "true" : "false")) } 
                if let gameLevelIds = gameLevelIds { queryItems.append(URLQueryItem(name: "gameLevelIds", value: gameLevelIds)) } 
                if let creativeIds = creativeIds { queryItems.append(URLQueryItem(name: "creativeIds", value: creativeIds)) } 
                if let audienceIds = audienceIds { queryItems.append(URLQueryItem(name: "audienceIds", value: audienceIds)) } 
                if let offerId = offerId { queryItems.append(URLQueryItem(name: "offerId", value: "\(offerId)")) } 
                if let balance = balance { queryItems.append(URLQueryItem(name: "balance", value: "\(balance)")) } 
                if let advancedReporting = advancedReporting { queryItems.append(URLQueryItem(name: "advancedReporting", value: advancedReporting ? "true" : "false")) } 
                if let allocateTickets = allocateTickets { queryItems.append(URLQueryItem(name: "allocateTickets", value: allocateTickets ? "true" : "false")) } 
                if let ticketCount = ticketCount { queryItems.append(URLQueryItem(name: "ticketCount", value: "\(ticketCount)")) } 
                if let ticketType = ticketType { queryItems.append(URLQueryItem(name: "ticketType", value: ticketType)) } 
                if let points = points { queryItems.append(URLQueryItem(name: "points", value: "\(points)")) } 
                if let applicationIds = applicationIds { queryItems.append(URLQueryItem(name: "applicationIds", value: applicationIds)) } 
                if let devices = devices { queryItems.append(URLQueryItem(name: "devices", value: devices)) } 
                if let deviceIds = deviceIds { queryItems.append(URLQueryItem(name: "deviceIds", value: deviceIds)) } 
                if let deviceVersions = deviceVersions { queryItems.append(URLQueryItem(name: "deviceVersions", value: deviceVersions)) } 
                if let locations = locations { queryItems.append(URLQueryItem(name: "locations", value: locations)) } 
                if let radius = radius { queryItems.append(URLQueryItem(name: "radius", value: radius)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<MissionResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(MissionResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
