//
// PackAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class PackAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    ///
    /// Enum for parameter packType
    ///
    public enum CreatePackPackType: String, Codable, CaseIterable {
        case tutorial = "TUTORIAL"
        case builtin = "BUILTIN"
        case download = "DOWNLOAD"
        case threshold = "THRESHOLD"
        case theme = "THEME"
        case tournament = "TOURNAMENT"
    }
    ///
    /// Enum for parameter sequenceType
    ///
    public enum CreatePackSequenceType: String, Codable, CaseIterable {
        case firstAvailable = "FIRST_AVAILABLE"
        case allAvailable = "ALL_AVAILABLE"
    }

    /// Create Pack
    /// - POST /pack/create
    /// - Create a pack.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter title: (query) The title of the pack 
    /// - parameter packOrder: (query) The order of the pack 
    /// - parameter price: (query) The price in tickets to purchase this pack 
    /// - parameter highest: (query) The scoring is highest is best 
    /// - parameter allocateTickets: (query) Flag to indicate owner should receive tickets for completed packs 
    /// - parameter ticketCount: (query) The number of tickets to reward 
    /// - parameter description: (query) The description of the pack (optional)
    /// - parameter searchTags: (query) The tags for searching the pack, comma separated (optional)
    /// - parameter active: (query) Activate/deactivate the pack (optional)
    /// - parameter gameType: (query) This parameter is deprecated. (optional)
    /// - parameter appKey: (query) The application key used to identify the application (optional)
    /// - parameter packType: (query) The type of the pack (optional)
    /// - parameter sequenceType: (query) The type of game sequence of the pack (optional)
    /// - parameter backgroundId: (query) The background asset id of the pack (optional)
    /// - parameter imageId: (query) The image asset id of the pack (optional)
    /// - parameter startDate: (query) The date/time to start the pack, send 0 to unset (optional)
    /// - parameter endDate: (query) The date/time to end the pack, send 0 to unset (optional)
    /// - parameter authorOverride: (query)  (optional)
    /// - parameter priceType: (query) the type of ticket required to purchase this pack (optional)
    /// - parameter gameLevelIds: (query) the game level ids to include in the pack, comma separated (optional)
    /// - parameter inGame: (query)  (optional)
    /// - parameter ticketType: (query) The type of ticket to reward, null means default type (optional)
    /// - parameter points: (query) The number of points to award for completing a pack (optional)
    /// - returns: AnyPublisher<PackResponse, Error> 
    open func createPack(accountId: Int64, title: String, packOrder: Int64, price: Int, highest: Bool, allocateTickets: Bool, ticketCount: Int64, description: String? = nil, searchTags: String? = nil, active: Bool? = nil, gameType: String? = nil, appKey: String? = nil, packType: CreatePackPackType? = nil, sequenceType: CreatePackSequenceType? = nil, backgroundId: Int64? = nil, imageId: Int64? = nil, startDate: Int64? = nil, endDate: Int64? = nil, authorOverride: String? = nil, priceType: String? = nil, gameLevelIds: String? = nil, inGame: Bool? = nil, ticketType: String? = nil, points: Int64? = nil) -> AnyPublisher<PackResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/pack/create"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "title", value: title))
                if let description = description { queryItems.append(URLQueryItem(name: "description", value: description)) } 
                if let searchTags = searchTags { queryItems.append(URLQueryItem(name: "searchTags", value: searchTags)) } 
                if let active = active { queryItems.append(URLQueryItem(name: "active", value: active ? "true" : "false")) } 
                if let gameType = gameType { queryItems.append(URLQueryItem(name: "gameType", value: gameType)) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let packType = packType { queryItems.append(URLQueryItem(name: "packType", value: packType.rawValue)) } 
                queryItems.append(URLQueryItem(name: "packOrder", value: "\(packOrder)"))
                if let sequenceType = sequenceType { queryItems.append(URLQueryItem(name: "sequenceType", value: sequenceType.rawValue)) } 
                if let backgroundId = backgroundId { queryItems.append(URLQueryItem(name: "backgroundId", value: "\(backgroundId)")) } 
                if let imageId = imageId { queryItems.append(URLQueryItem(name: "imageId", value: "\(imageId)")) } 
                if let startDate = startDate { queryItems.append(URLQueryItem(name: "startDate", value: "\(startDate)")) } 
                if let endDate = endDate { queryItems.append(URLQueryItem(name: "endDate", value: "\(endDate)")) } 
                if let authorOverride = authorOverride { queryItems.append(URLQueryItem(name: "authorOverride", value: authorOverride)) } 
                queryItems.append(URLQueryItem(name: "price", value: "\(price)"))
                if let priceType = priceType { queryItems.append(URLQueryItem(name: "priceType", value: priceType)) } 
                if let gameLevelIds = gameLevelIds { queryItems.append(URLQueryItem(name: "gameLevelIds", value: gameLevelIds)) } 
                if let inGame = inGame { queryItems.append(URLQueryItem(name: "inGame", value: inGame ? "true" : "false")) } 
                queryItems.append(URLQueryItem(name: "highest", value: highest ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "allocateTickets", value: allocateTickets ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "ticketCount", value: "\(ticketCount)"))
                if let ticketType = ticketType { queryItems.append(URLQueryItem(name: "ticketType", value: ticketType)) } 
                if let points = points { queryItems.append(URLQueryItem(name: "points", value: "\(points)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PackResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PackResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete Pack
    /// - POST /pack/delete
    /// - Delete a pack.
    /// - parameter accountId: (query) the id of the logged in user 
    /// - parameter packId: (query) the id of the pack to delete 
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func deletePack(accountId: Int64, packId: Int64) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/pack/delete"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "packId", value: "\(packId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Pack
    /// - GET /pack/get
    /// - Get a pack.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter packId: (query) The id of the pack to return. 
    /// - parameter includeGameData: (query) If true include the game level data, otherwise don&#39;t. default is false. 
    /// - returns: AnyPublisher<PackResponse, Error> 
    open func getPack(accountId: Int64, packId: Int64, includeGameData: Bool) -> AnyPublisher<PackResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/pack/get"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "packId", value: "\(packId)"))
                queryItems.append(URLQueryItem(name: "includeGameData", value: includeGameData ? "true" : "false"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PackResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PackResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter sortField
    ///
    public enum SearchPacksSortField: String, Codable, CaseIterable {
        case title = "TITLE"
        case description = "DESCRIPTION"
        case created = "CREATED"
        case updated = "UPDATED"
    }
    ///
    /// Enum for parameter packType
    ///
    public enum SearchPacksPackType: String, Codable, CaseIterable {
        case tutorial = "TUTORIAL"
        case builtin = "BUILTIN"
        case download = "DOWNLOAD"
        case threshold = "THRESHOLD"
        case theme = "THEME"
        case tournament = "TOURNAMENT"
    }

    /// Search Packs
    /// - GET /pack/search
    /// - Search on packs.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter sortField: (query) The field to sort by. Possible values include: TITLE, DESCRIPTION, CREATED, UPDATED 
    /// - parameter descending: (query) Determines whether the sorted list is in descending or ascending order 
    /// - parameter keyword: (query) Keyword search on the pack name (optional)
    /// - parameter packType: (query) Filters results on pack type (optional)
    /// - parameter start: (query) Start the result set at some index. (optional)
    /// - parameter limit: (query) Limit the result to some number. (optional)
    /// - parameter includeGameData: (query) Determines whether to include game data in the results (optional)
    /// - parameter includeInactive: (query) Determines whether to include inactive results (optional)
    /// - parameter appKey: (query) The application to filter results on (optional)
    /// - returns: AnyPublisher<[PackResponse], Error> 
    open func searchPacks(accountId: Int64, sortField: SearchPacksSortField, descending: Bool, keyword: String? = nil, packType: SearchPacksPackType? = nil, start: Int? = nil, limit: Int? = nil, includeGameData: Bool? = nil, includeInactive: Bool? = nil, appKey: String? = nil) -> AnyPublisher<[PackResponse], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/pack/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                if let packType = packType { queryItems.append(URLQueryItem(name: "packType", value: packType.rawValue)) } 
                queryItems.append(URLQueryItem(name: "sortField", value: sortField.rawValue))
                queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false"))
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                if let includeGameData = includeGameData { queryItems.append(URLQueryItem(name: "includeGameData", value: includeGameData ? "true" : "false")) } 
                if let includeInactive = includeInactive { queryItems.append(URLQueryItem(name: "includeInactive", value: includeInactive ? "true" : "false")) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[PackResponse], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([PackResponse].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter packType
    ///
    public enum UpdatePackPackType: String, Codable, CaseIterable {
        case tutorial = "TUTORIAL"
        case builtin = "BUILTIN"
        case download = "DOWNLOAD"
        case threshold = "THRESHOLD"
        case theme = "THEME"
        case tournament = "TOURNAMENT"
    }
    ///
    /// Enum for parameter sequenceType
    ///
    public enum UpdatePackSequenceType: String, Codable, CaseIterable {
        case firstAvailable = "FIRST_AVAILABLE"
        case allAvailable = "ALL_AVAILABLE"
    }

    /// Update Pack
    /// - POST /pack/update
    /// - Update a pack.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter packId: (query) The id of the pack to update. 
    /// - parameter allocateTickets: (query) Flag to indicate owner should receive tickets for completed packs 
    /// - parameter ticketCount: (query) The number of tickets to reward 
    /// - parameter title: (query) The title of the pack (optional)
    /// - parameter description: (query) The description of the pack (optional)
    /// - parameter searchTags: (query) The tags for searching the pack, comma separated (optional)
    /// - parameter active: (query) Activate/deactivate the pack (optional)
    /// - parameter gameType: (query) This parameter is deprecated. (optional)
    /// - parameter appKey: (query) The application key used to identify the application (optional)
    /// - parameter packType: (query) The type of the pack (optional)
    /// - parameter packOrder: (query) The order of the pack (optional)
    /// - parameter sequenceType: (query) The type of game sequence of the pack (optional)
    /// - parameter backgroundId: (query) The background asset id of the pack (optional)
    /// - parameter imageId: (query) The image asset id of the pack (optional)
    /// - parameter startDate: (query) The date/time to start the pack, send 0 to unset (optional)
    /// - parameter endDate: (query) The date/time to end the pack, send 0 to unset (optional)
    /// - parameter authorOverride: (query)  (optional)
    /// - parameter price: (query) The price in tickets to purchase this pack (optional)
    /// - parameter priceType: (query) the type of ticket required to purchase this pack (optional)
    /// - parameter gameLevelIds: (query) the game level ids to include in the pack, comma separated (optional)
    /// - parameter inGame: (query)  (optional)
    /// - parameter highest: (query) The scoring is highest is best (optional)
    /// - parameter ticketType: (query) The type of ticket to reward, null means default type (optional)
    /// - parameter points: (query) The number of points to award for completing a pack (optional)
    /// - returns: AnyPublisher<PackResponse, Error> 
    open func updatePack(accountId: Int64, packId: Int64, allocateTickets: Bool, ticketCount: Int64, title: String? = nil, description: String? = nil, searchTags: String? = nil, active: Bool? = nil, gameType: String? = nil, appKey: String? = nil, packType: UpdatePackPackType? = nil, packOrder: Int64? = nil, sequenceType: UpdatePackSequenceType? = nil, backgroundId: Int64? = nil, imageId: Int64? = nil, startDate: Int64? = nil, endDate: Int64? = nil, authorOverride: String? = nil, price: Int? = nil, priceType: String? = nil, gameLevelIds: String? = nil, inGame: Bool? = nil, highest: Bool? = nil, ticketType: String? = nil, points: Int64? = nil) -> AnyPublisher<PackResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/pack/update"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "packId", value: "\(packId)"))
                if let title = title { queryItems.append(URLQueryItem(name: "title", value: title)) } 
                if let description = description { queryItems.append(URLQueryItem(name: "description", value: description)) } 
                if let searchTags = searchTags { queryItems.append(URLQueryItem(name: "searchTags", value: searchTags)) } 
                if let active = active { queryItems.append(URLQueryItem(name: "active", value: active ? "true" : "false")) } 
                if let gameType = gameType { queryItems.append(URLQueryItem(name: "gameType", value: gameType)) } 
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let packType = packType { queryItems.append(URLQueryItem(name: "packType", value: packType.rawValue)) } 
                if let packOrder = packOrder { queryItems.append(URLQueryItem(name: "packOrder", value: "\(packOrder)")) } 
                if let sequenceType = sequenceType { queryItems.append(URLQueryItem(name: "sequenceType", value: sequenceType.rawValue)) } 
                if let backgroundId = backgroundId { queryItems.append(URLQueryItem(name: "backgroundId", value: "\(backgroundId)")) } 
                if let imageId = imageId { queryItems.append(URLQueryItem(name: "imageId", value: "\(imageId)")) } 
                if let startDate = startDate { queryItems.append(URLQueryItem(name: "startDate", value: "\(startDate)")) } 
                if let endDate = endDate { queryItems.append(URLQueryItem(name: "endDate", value: "\(endDate)")) } 
                if let authorOverride = authorOverride { queryItems.append(URLQueryItem(name: "authorOverride", value: authorOverride)) } 
                if let price = price { queryItems.append(URLQueryItem(name: "price", value: "\(price)")) } 
                if let priceType = priceType { queryItems.append(URLQueryItem(name: "priceType", value: priceType)) } 
                if let gameLevelIds = gameLevelIds { queryItems.append(URLQueryItem(name: "gameLevelIds", value: gameLevelIds)) } 
                if let inGame = inGame { queryItems.append(URLQueryItem(name: "inGame", value: inGame ? "true" : "false")) } 
                if let highest = highest { queryItems.append(URLQueryItem(name: "highest", value: highest ? "true" : "false")) } 
                queryItems.append(URLQueryItem(name: "allocateTickets", value: allocateTickets ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "ticketCount", value: "\(ticketCount)"))
                if let ticketType = ticketType { queryItems.append(URLQueryItem(name: "ticketType", value: ticketType)) } 
                if let points = points { queryItems.append(URLQueryItem(name: "points", value: "\(points)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PackResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PackResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
