//
// ParticipantsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class ParticipantsAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Process All Participant Feeds
    /// - POST /participant/process/all
    /// - Processes all supported participant feeds.
    /// - parameter accountId: (query) The account id of the user 
    /// - parameter appKey: (query) The application key used to identify the application (optional)
    /// - parameter useShortNameAsID: (query) Whether to use short name as the participant ID (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func processAllParticipants(accountId: Int64, appKey: String? = nil, useShortNameAsID: Bool? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/participant/process/all"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let useShortNameAsID = useShortNameAsID { queryItems.append(URLQueryItem(name: "useShortNameAsID", value: useShortNameAsID ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Process Participants Feed
    /// - POST /participant/process
    /// - Processes a participant feed or uploaded file for a specific league.
    /// - parameter accountId: (query) The account id of the user 
    /// - parameter league: (query) The league identifier to process 
    /// - parameter appKey: (query) The application key used to identify the application (optional)
    /// - parameter useShortNameAsID: (query) Whether to use short name as the participant ID (optional)
    /// - parameter file: (query) Multipart file containing participant feed contents (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func processParticipants(accountId: Int64, league: String, appKey: String? = nil, useShortNameAsID: Bool? = nil, file: Data? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/participant/process"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "league", value: league))
                if let appKey = appKey { queryItems.append(URLQueryItem(name: "appKey", value: appKey)) } 
                if let useShortNameAsID = useShortNameAsID { queryItems.append(URLQueryItem(name: "useShortNameAsID", value: useShortNameAsID ? "true" : "false")) } 
                if let file = file { queryItems.append(URLQueryItem(name: "file", value: )) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
