//
// PostalCodeAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class PostalCodeAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create Postal Code
    /// - POST /postalCode/create
    /// - Create a Postal Code
    /// - parameter accountId: (query) the id of the logged in user 
    /// - parameter code: (query) the postal code 
    /// - parameter latitude: (query) the latitude of the postal code 
    /// - parameter longitude: (query) the longitude of the postal code 
    /// - parameter stateCode: (query) the state code (e.g WA, WV, WI) that the postal code is located (optional)
    /// - parameter city: (query) the city that the postal code is located (optional)
    /// - parameter active: (query) whether the postal code created should be active or inactive (optional)
    /// - returns: AnyPublisher<PostalCodeResponse, Error> 
    open func createPostalCode(accountId: Int64, code: String, latitude: Double, longitude: Double, stateCode: String? = nil, city: String? = nil, active: Bool? = nil) -> AnyPublisher<PostalCodeResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/postalCode/create"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "code", value: code))
                queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)"))
                queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)"))
                if let stateCode = stateCode { queryItems.append(URLQueryItem(name: "stateCode", value: stateCode)) } 
                if let city = city { queryItems.append(URLQueryItem(name: "city", value: city)) } 
                if let active = active { queryItems.append(URLQueryItem(name: "active", value: active ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PostalCodeResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PostalCodeResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete Postal Code
    /// - POST /postalCode/delete
    /// - Delete a Postal Code
    /// - parameter accountId: (query) the id of the logged in user 
    /// - parameter postalCodeId: (query) the id of the postal code to delete 
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func deletePostalCode(accountId: Int64, postalCodeId: Int64) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/postalCode/delete"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "postalCodeId", value: "\(postalCodeId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Postal Code
    /// - GET /postalCode/get
    /// - Get a Postal Code
    /// - parameter postalCodeId: (query) the id of the postal code to get 
    /// - returns: AnyPublisher<PostalCodeResponse, Error> 
    open func getPostalCode(postalCodeId: Int64) -> AnyPublisher<PostalCodeResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/postalCode/get"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "postalCodeId", value: "\(postalCodeId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PostalCodeResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PostalCodeResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Postal Codes
    /// - GET /postalCode/search
    /// - Get the list of regions. If latitude or longitude is null, will return all postal codes in the system with paginated response.
    /// - parameter sortField: (query) the field to sort the results on 
    /// - parameter descending: (query) whether to order results in ascending or descending order 
    /// - parameter latitude: (query) the latitude of the postal code to search on (optional)
    /// - parameter longitude: (query) the longitude of the postal code to search on (optional)
    /// - parameter keyword: (query) the keyword of the postal code to search on (optional)
    /// - parameter miles: (query) how far (in miles) to search on for the postal code (optional)
    /// - parameter start: (query) the start of the index and/or pagination (optional)
    /// - parameter limit: (query) the limit of the index and/or pagination (optional)
    /// - returns: AnyPublisher<[PostalCodeResponse], Error> 
    open func getPostalCodes(sortField: String, descending: Bool, latitude: Double? = nil, longitude: Double? = nil, keyword: String? = nil, miles: Double? = nil, start: Int? = nil, limit: Int? = nil) -> AnyPublisher<[PostalCodeResponse], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/postalCode/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                if let miles = miles { queryItems.append(URLQueryItem(name: "miles", value: "\(miles)")) } 
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                queryItems.append(URLQueryItem(name: "sortField", value: sortField))
                queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[PostalCodeResponse], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([PostalCodeResponse].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update Postal Code
    /// - POST /postalCode/update
    /// - Update a Postal Code
    /// - parameter accountId: (query) the id of the logged in user 
    /// - parameter postalCodeId: (query) the id of the postal code to update 
    /// - parameter code: (query) the postal code to update (optional)
    /// - parameter latitude: (query) the latitude of the postal code (optional)
    /// - parameter longitude: (query) the longitude of the postal code (optional)
    /// - parameter stateCode: (query) the state code (e.g. WA, WI, WY) where the postal code is located (optional)
    /// - parameter city: (query) the city where the postal code is located (optional)
    /// - parameter active: (query) whether the postal code is active or inactive (optional)
    /// - returns: AnyPublisher<PostalCodeResponse, Error> 
    open func updatePostalCode(accountId: Int64, postalCodeId: Int64, code: String? = nil, latitude: Double? = nil, longitude: Double? = nil, stateCode: String? = nil, city: String? = nil, active: Bool? = nil) -> AnyPublisher<PostalCodeResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/postalCode/update"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "postalCodeId", value: "\(postalCodeId)"))
                if let code = code { queryItems.append(URLQueryItem(name: "code", value: code)) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                if let stateCode = stateCode { queryItems.append(URLQueryItem(name: "stateCode", value: stateCode)) } 
                if let city = city { queryItems.append(URLQueryItem(name: "city", value: city)) } 
                if let active = active { queryItems.append(URLQueryItem(name: "active", value: active ? "true" : "false")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PostalCodeResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PostalCodeResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
