//
// PreviewPersonaAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class PreviewPersonaAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create Persona
    /// - POST /persona/create
    /// - Creates a new persona. If the given params are null those attributes will be override by null.
    /// - parameter accountId: (query) the account ID of the user 
    /// - parameter title: (query) the title of the persona 
    /// - parameter previewAccounts: (query) the accounts that are able to preview from this persona (optional)
    /// - parameter date: (query) the sepcified date that this persona is viewing the app (optional)
    /// - parameter age: (query) the specified age of this persona (optional)
    /// - parameter gender: (query) the specified gender of this persona (optional)
    /// - parameter gameExperienceLevel: (query) the specified experience level of the persona (optional)
    /// - parameter latitude: (query) the specified latitude of the persona (optional)
    /// - parameter longitude: (query) the specified longitude of the persona (optional)
    /// - returns: AnyPublisher<PreviewPersonaResponse, Error> 
    open func createPersona(accountId: Int64, title: String, previewAccounts: String? = nil, date: Int64? = nil, age: Int? = nil, gender: String? = nil, gameExperienceLevel: String? = nil, latitude: Double? = nil, longitude: Double? = nil) -> AnyPublisher<PreviewPersonaResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/persona/create"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "title", value: title))
                if let previewAccounts = previewAccounts { queryItems.append(URLQueryItem(name: "previewAccounts", value: previewAccounts)) } 
                if let date = date { queryItems.append(URLQueryItem(name: "date", value: "\(date)")) } 
                if let age = age { queryItems.append(URLQueryItem(name: "age", value: "\(age)")) } 
                if let gender = gender { queryItems.append(URLQueryItem(name: "gender", value: gender)) } 
                if let gameExperienceLevel = gameExperienceLevel { queryItems.append(URLQueryItem(name: "gameExperienceLevel", value: gameExperienceLevel)) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PreviewPersonaResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PreviewPersonaResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete Persona
    /// - POST /persona/delete
    /// - Mark the persona for deletion.
    /// - parameter accountId: (query) the account id of the user 
    /// - parameter personaId: (query) the id of the persona to delete 
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func deletePersona(accountId: Int64, personaId: Int64) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/persona/delete"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "personaId", value: "\(personaId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Persona
    /// - GET /persona/get
    /// - Get the persona by the given persona ID. If the persona cannot be found, a invalid response is returned.
    /// - parameter accountId: (query) the account ID of the user 
    /// - parameter personaId: (query) the persona ID of the persona 
    /// - returns: AnyPublisher<PreviewPersonaResponse, Error> 
    open func getPersonaList(accountId: Int64, personaId: Int64) -> AnyPublisher<PreviewPersonaResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/persona/get"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "personaId", value: "\(personaId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PreviewPersonaResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PreviewPersonaResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Personas
    /// - GET /persona/search
    /// - Search for persona that the account owns by the given account ID.
    /// - parameter accountId: (query) the account ID of the user 
    /// - parameter start: (query) the start index for pagination 
    /// - parameter limit: (query) the limit for pagination (There is a hard limit of 100) 
    /// - returns: AnyPublisher<PreviewPersonaResponse, Error> 
    open func searchPersona(accountId: Int64, start: Int, limit: Int) -> AnyPublisher<PreviewPersonaResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/persona/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "start", value: "\(start)"))
                queryItems.append(URLQueryItem(name: "limit", value: "\(limit)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PreviewPersonaResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PreviewPersonaResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update Persona
    /// - POST /persona/update
    /// - Update the persona by the given personaId. If the given params are null those attributes will be override by null. If active is assigned, all other params will be ignored.
    /// - parameter accountId: (query) the account ID of the user 
    /// - parameter personaId: (query) the persona ID of the persona to update 
    /// - parameter title: (query) the title of the persona (optional)
    /// - parameter previewAccounts: (query) the accounts that are able to preview from this persona (optional)
    /// - parameter active: (query) the status of the persona, there can only be one active persona per account (optional)
    /// - parameter date: (query) the sepcified date that this persona is viewing the app (optional)
    /// - parameter age: (query) the specified age of this persona (optional)
    /// - parameter gender: (query) the specified gender of this persona (optional)
    /// - parameter gameExperienceLevel: (query) the specified experience level of the persona (optional)
    /// - parameter latitude: (query) the specified latitude of the persona (optional)
    /// - parameter longitude: (query) the specified longitude of the persona (optional)
    /// - returns: AnyPublisher<PreviewPersonaResponse, Error> 
    open func updatePersona(accountId: Int64, personaId: Int64, title: String? = nil, previewAccounts: String? = nil, active: Bool? = nil, date: Int64? = nil, age: Int? = nil, gender: String? = nil, gameExperienceLevel: String? = nil, latitude: Double? = nil, longitude: Double? = nil) -> AnyPublisher<PreviewPersonaResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/persona/update"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "personaId", value: "\(personaId)"))
                if let title = title { queryItems.append(URLQueryItem(name: "title", value: title)) } 
                if let previewAccounts = previewAccounts { queryItems.append(URLQueryItem(name: "previewAccounts", value: previewAccounts)) } 
                if let active = active { queryItems.append(URLQueryItem(name: "active", value: active ? "true" : "false")) } 
                if let date = date { queryItems.append(URLQueryItem(name: "date", value: "\(date)")) } 
                if let age = age { queryItems.append(URLQueryItem(name: "age", value: "\(age)")) } 
                if let gender = gender { queryItems.append(URLQueryItem(name: "gender", value: gender)) } 
                if let gameExperienceLevel = gameExperienceLevel { queryItems.append(URLQueryItem(name: "gameExperienceLevel", value: gameExperienceLevel)) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<PreviewPersonaResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(PreviewPersonaResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
