//
// RouteSettingAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class RouteSettingAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create Route Setting
    /// - POST /route/setting
    /// - Create a new route setting
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<RouteSettings, Error> 
    open func createRouteSettings(body: RouteSettings? = nil) -> AnyPublisher<RouteSettings, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/route/setting"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<RouteSettings, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(RouteSettings.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete Route Setting
    /// - DELETE /route/setting/{routeSettingsId}
    /// - Delete an existing route setting
    /// - parameter routeSettingsId: (path) the id of the route setting to delete 
    /// - returns: AnyPublisher<[String: Any], Error> 
    open func deleteRouteSettings(routeSettingsId: Int64) -> AnyPublisher<[String: Any], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/route/setting/{routeSettingsId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{routeSettingsId}", with: "\(routeSettingsId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[String: Any], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    if let object = try JSONSerialization.jsonObject(with: response.data, options: []) as? [String: Any] {
                        return object
                    } else {
                        throw OpenAPITransportError.invalidResponseMappingError(data: response.data)
                    }
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Route Setting
    /// - GET /route/setting/{routeSettingsId}
    /// - Get an existing route settings
    /// - parameter routeSettingsId: (path) the id of the route settings to get 
    /// - returns: AnyPublisher<RouteSettings, Error> 
    open func getRouteSettings(routeSettingsId: Int64) -> AnyPublisher<RouteSettings, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/route/setting/{routeSettingsId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{routeSettingsId}", with: "\(routeSettingsId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<RouteSettings, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(RouteSettings.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Route Settings
    /// - GET /route/setting
    /// - Search for route settings
    /// - parameter sortField: (query) The field to sort by 
    /// - parameter descending: (query) Determines whether the sorted list is in descending or ascending order 
    /// - parameter start: (query) The start index for pagination 
    /// - parameter limit: (query) The limit for pagination 
    /// - parameter activeOnly: (query) Return only active results 
    /// - parameter hubId: (query) The service hub that the route belongs under (optional)
    /// - parameter programId: (query) The program that the route belongs under (optional)
    /// - parameter keyword: (query) The keyword to search for the route (optional)
    /// - returns: AnyPublisher<[RouteSettings], Error> 
    open func searchRouteSettings(sortField: String, descending: Bool, start: Int, limit: Int, activeOnly: Bool, hubId: Int64? = nil, programId: Int64? = nil, keyword: String? = nil) -> AnyPublisher<[RouteSettings], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/route/setting"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let hubId = hubId { queryItems.append(URLQueryItem(name: "hubId", value: "\(hubId)")) } 
                if let programId = programId { queryItems.append(URLQueryItem(name: "programId", value: "\(programId)")) } 
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                queryItems.append(URLQueryItem(name: "sortField", value: sortField))
                queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "start", value: "\(start)"))
                queryItems.append(URLQueryItem(name: "limit", value: "\(limit)"))
                queryItems.append(URLQueryItem(name: "activeOnly", value: activeOnly ? "true" : "false"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[RouteSettings], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([RouteSettings].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update Route Setting
    /// - PUT /route/setting/{routeSettingsId}
    /// - Update an existing route setting
    /// - parameter routeSettingsId: (path) the id of the route settings to update 
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<RouteSettings, Error> 
    open func updateRouteSettings(routeSettingsId: Int64, body: RouteSettings? = nil) -> AnyPublisher<RouteSettings, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/route/setting/{routeSettingsId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{routeSettingsId}", with: "\(routeSettingsId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PUT"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<RouteSettings, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(RouteSettings.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
