//
// ShipmentAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class ShipmentAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Cancel Shipment
    /// - POST /shipment/{id}/cancel
    /// - Remove shipment from route
    /// - parameter id: (path) the id of the shipment to cancel 
    /// - returns: AnyPublisher<Void, Error> 
    open func cancelShipment(id: Int64) -> AnyPublisher<Void, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/shipment/{id}/cancel"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Void, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    return ()
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Create Shipment
    /// - POST /shipment
    /// - Create new shipment
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<Shipment, Error> 
    open func createShipment(body: Shipment? = nil) -> AnyPublisher<Shipment, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/shipment"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Shipment, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(Shipment.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete Shipment
    /// - DELETE /shipment/{id}
    /// - Delete an existing shipment
    /// - parameter id: (path) the id of the shipment to delete 
    /// - returns: AnyPublisher<Void, Error> 
    open func deleteShipment(id: Int64) -> AnyPublisher<Void, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/shipment/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Void, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    return ()
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Shipment
    /// - GET /shipment/{id}
    /// - Get an existing shipment
    /// - parameter id: (path) the id of the shipment to get 
    /// - returns: AnyPublisher<Shipment, Error> 
    open func getShipment(id: Int64) -> AnyPublisher<Shipment, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/shipment/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Shipment, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(Shipment.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Shipments
    /// - GET /shipment
    /// - Search for shipments
    /// - parameter sortField: (query) The field to sort by 
    /// - parameter descending: (query) Determines whether the sorted list is in descending or ascending order 
    /// - parameter start: (query) The start index for pagination 
    /// - parameter limit: (query) The limit for pagination 
    /// - parameter activeOnly: (query) Return only active results 
    /// - parameter ownerId: (query) The owner of the shipment (optional)
    /// - parameter riderId: (query) The rider associate to this shipment (optional)
    /// - parameter routeId: (query) The route associate to this shipment (optional)
    /// - returns: AnyPublisher<[Shipment], Error> 
    open func searchShipments(sortField: String, descending: Bool, start: Int, limit: Int, activeOnly: Bool, ownerId: Int64? = nil, riderId: Int64? = nil, routeId: Int64? = nil) -> AnyPublisher<[Shipment], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/shipment"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let ownerId = ownerId { queryItems.append(URLQueryItem(name: "ownerId", value: "\(ownerId)")) } 
                if let riderId = riderId { queryItems.append(URLQueryItem(name: "riderId", value: "\(riderId)")) } 
                if let routeId = routeId { queryItems.append(URLQueryItem(name: "routeId", value: "\(routeId)")) } 
                queryItems.append(URLQueryItem(name: "sortField", value: sortField))
                queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "start", value: "\(start)"))
                queryItems.append(URLQueryItem(name: "limit", value: "\(limit)"))
                queryItems.append(URLQueryItem(name: "activeOnly", value: activeOnly ? "true" : "false"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[Shipment], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([Shipment].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update Shipment
    /// - PUT /shipment/{id}
    /// - Update an existing shipment
    /// - parameter id: (path) the id of the shipment to update 
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<Shipment, Error> 
    open func updateShipment(id: Int64, body: Shipment? = nil) -> AnyPublisher<Shipment, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/shipment/{id}"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PUT"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Shipment, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(Shipment.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Uupdate Shipment Status
    /// - POST /shipment/{id}/status
    /// - Update status of an existing shipment
    /// - parameter id: (path) the id of the shipment to update status 
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<Void, Error> 
    open func updateShipmentStatus(id: Int64, body: [String: Bool]? = nil) -> AnyPublisher<Void, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/shipment/{id}/status"
                localVarPath = localVarPath.replacingOccurrences(of: "{id}", with: "\(id)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Void, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    return ()
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
