//
// UserPermissionsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class UserPermissionsAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    ///
    /// Enum for parameter permissionableType
    ///
    public enum AddUsersToPermissionablePermissionableType: String, Codable, CaseIterable {
        case account = "ACCOUNT"
        case gamelevel = "GAMELEVEL"
        case albumContest = "ALBUM_CONTEST"
        case themeDescriptor = "THEME_DESCRIPTOR"
        case scheduledNotification = "SCHEDULED_NOTIFICATION"
        case task = "TASK"
        case trigger = "TRIGGER"
    }

    /// Add User
    /// - POST /consumer/permissions/add
    /// - Adds a user to a permissionable object.
    /// - parameter permissionableType: (query) the permissionable type of the object 
    /// - parameter permissionableId: (query) the id of the permissionable object 
    /// - parameter deviceId: (query) the device id (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) the account id of the user (deviceId or accountId required) (optional)
    /// - parameter read: (query) the read permission of the users/groups (optional, default to true)
    /// - parameter write: (query) the write permission of the users/groups (optional, default to false)
    /// - parameter delete: (query) the delete permission of the users/groups (optional, default to false)
    /// - parameter add: (query) the add permission of the users/groups (optional, default to false)
    /// - parameter connectionIds: (query) a comma separated list of connection ids (NOT the account ids) (optional)
    /// - parameter connectionAccountIds: (query) a comma separated list of account ids (optional)
    /// - parameter connectionGroupIds: (query) a comma separated list of connection group ids (these are groups made by the user) (optional)
    /// - parameter pending: (query) sets whether the added users are marked as pending (and will require the album admins to accept) - admins can set this to false (to accept) (optional, default to false)
    /// - parameter admin: (query) sets whether the added users will become admins or not (optional)
    /// - parameter includeFriendGroup: (query) flag to determine whether to include the built-in \&quot;friends\&quot; group (optional, default to false)
    /// - parameter latitude: (query) the current latitude of the user (optional)
    /// - parameter longitude: (query) the current longitude of the user (optional)
    /// - parameter audienceIds: (query) comma separated list of audience ids. This is a feature only available to the permissionable&#39;s application owner (and its employees). This will add all users from these audiences to the permissionable object. Notifications will not be sent to users if this feature is used. (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func addUsersToPermissionable(permissionableType: AddUsersToPermissionablePermissionableType, permissionableId: Int64, deviceId: String? = nil, accountId: Int64? = nil, read: Bool? = nil, write: Bool? = nil, delete: Bool? = nil, add: Bool? = nil, connectionIds: String? = nil, connectionAccountIds: String? = nil, connectionGroupIds: String? = nil, pending: Bool? = nil, admin: Bool? = nil, includeFriendGroup: Bool? = nil, latitude: Double? = nil, longitude: Double? = nil, audienceIds: String? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/consumer/permissions/add"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                queryItems.append(URLQueryItem(name: "permissionableType", value: permissionableType.rawValue))
                queryItems.append(URLQueryItem(name: "permissionableId", value: "\(permissionableId)"))
                if let read = read { queryItems.append(URLQueryItem(name: "read", value: read ? "true" : "false")) } 
                if let write = write { queryItems.append(URLQueryItem(name: "write", value: write ? "true" : "false")) } 
                if let delete = delete { queryItems.append(URLQueryItem(name: "delete", value: delete ? "true" : "false")) } 
                if let add = add { queryItems.append(URLQueryItem(name: "add", value: add ? "true" : "false")) } 
                if let connectionIds = connectionIds { queryItems.append(URLQueryItem(name: "connectionIds", value: connectionIds)) } 
                if let connectionAccountIds = connectionAccountIds { queryItems.append(URLQueryItem(name: "connectionAccountIds", value: connectionAccountIds)) } 
                if let connectionGroupIds = connectionGroupIds { queryItems.append(URLQueryItem(name: "connectionGroupIds", value: connectionGroupIds)) } 
                if let pending = pending { queryItems.append(URLQueryItem(name: "pending", value: pending ? "true" : "false")) } 
                if let admin = admin { queryItems.append(URLQueryItem(name: "admin", value: admin ? "true" : "false")) } 
                if let includeFriendGroup = includeFriendGroup { queryItems.append(URLQueryItem(name: "includeFriendGroup", value: includeFriendGroup ? "true" : "false")) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                if let audienceIds = audienceIds { queryItems.append(URLQueryItem(name: "audienceIds", value: audienceIds)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter permissionableType
    ///
    public enum ApprovePermissionablePermissionableType: String, Codable, CaseIterable {
        case account = "ACCOUNT"
        case gamelevel = "GAMELEVEL"
        case albumContest = "ALBUM_CONTEST"
        case themeDescriptor = "THEME_DESCRIPTOR"
        case scheduledNotification = "SCHEDULED_NOTIFICATION"
        case task = "TASK"
        case trigger = "TRIGGER"
    }
    ///
    /// Enum for parameter approvalStatus
    ///
    public enum ApprovePermissionableApprovalStatus: String, Codable, CaseIterable {
        case pending = "PENDING"
        case rejected = "REJECTED"
        case approved = "APPROVED"
        case featured = "FEATURED"
    }

    /// Approve Permissionable
    /// - POST /permissionable/approve
    /// - Sets the approval status of a permissionable object.
    /// - parameter permissionableType: (query) The permissionable type of the object 
    /// - parameter permissionableId: (query) The id of the permissionable object 
    /// - parameter deviceId: (query) A unique ID given by the device (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) The account ID of the user (deviceId or accountId required) (optional)
    /// - parameter approvalStatus: (query) The approval status to set {PENDING, REJECTED, APPROVED, FEATURED} (optional, default to .approved)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func approvePermissionable(permissionableType: ApprovePermissionablePermissionableType, permissionableId: Int64, deviceId: String? = nil, accountId: Int64? = nil, approvalStatus: ApprovePermissionableApprovalStatus? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/permissionable/approve"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                queryItems.append(URLQueryItem(name: "permissionableType", value: permissionableType.rawValue))
                queryItems.append(URLQueryItem(name: "permissionableId", value: "\(permissionableId)"))
                if let approvalStatus = approvalStatus { queryItems.append(URLQueryItem(name: "approvalStatus", value: approvalStatus.rawValue)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Leave
    /// - POST /consumer/permissions/leave
    /// - Used when the user wants to leave from someone else's permissionable object
    /// - parameter permissionableType: (query) the permissionable type PermissionableType 
    /// - parameter permissionableId: (query) the id of the permissionable object 
    /// - parameter deviceId: (query) the device id (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) the account id of the user (deviceId or accountId required) (optional)
    /// - parameter latitude: (query) the current latitude of the user (optional)
    /// - parameter longitude: (query) the current longitude of the user (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func leaveFromPermissionable(permissionableType: String, permissionableId: Int64, deviceId: String? = nil, accountId: Int64? = nil, latitude: Double? = nil, longitude: Double? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/consumer/permissions/leave"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                queryItems.append(URLQueryItem(name: "permissionableType", value: permissionableType))
                queryItems.append(URLQueryItem(name: "permissionableId", value: "\(permissionableId)"))
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter permissionableType
    ///
    public enum RemoveUsersFromPermissionablePermissionableType: String, Codable, CaseIterable {
        case account = "ACCOUNT"
        case gamelevel = "GAMELEVEL"
        case albumContest = "ALBUM_CONTEST"
        case themeDescriptor = "THEME_DESCRIPTOR"
        case scheduledNotification = "SCHEDULED_NOTIFICATION"
        case task = "TASK"
        case trigger = "TRIGGER"
    }

    /// Remove User
    /// - POST /consumer/permissions/remove
    /// - Used to remove someone (assuming they have permission) from a permissionable object
    /// - parameter permissionableType: (query) the permissionable type of the object 
    /// - parameter permissionableId: (query) the id of the permissionable object 
    /// - parameter deviceId: (query) the device id (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) the account id of the user (deviceId or accountId required) (optional)
    /// - parameter connectionIds: (query) a comma separated list of connection ids (NOT the account ids) (optional)
    /// - parameter connectionAccountIds: (query) a comma separated list of account ids (optional)
    /// - parameter connectionGroupIds: (query) a comma separated list of connection group ids (these are groups made by the user) (optional)
    /// - parameter removeFriendGroup: (query) flag to determine whether to remove the built-in \&quot;friends\&quot; group (optional, default to false)
    /// - parameter latitude: (query) the current latitude of the user (optional)
    /// - parameter longitude: (query) the current longitude of the user (optional)
    /// - parameter audienceIds: (query) comma separated list of audience ids. This will remove all users from these audiences from the permissionable object. Notifications will not be sent to users if this feature is used. (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func removeUsersFromPermissionable(permissionableType: RemoveUsersFromPermissionablePermissionableType, permissionableId: Int64, deviceId: String? = nil, accountId: Int64? = nil, connectionIds: String? = nil, connectionAccountIds: String? = nil, connectionGroupIds: String? = nil, removeFriendGroup: Bool? = nil, latitude: Double? = nil, longitude: Double? = nil, audienceIds: String? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/consumer/permissions/remove"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                queryItems.append(URLQueryItem(name: "permissionableType", value: permissionableType.rawValue))
                queryItems.append(URLQueryItem(name: "permissionableId", value: "\(permissionableId)"))
                if let connectionIds = connectionIds { queryItems.append(URLQueryItem(name: "connectionIds", value: connectionIds)) } 
                if let connectionAccountIds = connectionAccountIds { queryItems.append(URLQueryItem(name: "connectionAccountIds", value: connectionAccountIds)) } 
                if let connectionGroupIds = connectionGroupIds { queryItems.append(URLQueryItem(name: "connectionGroupIds", value: connectionGroupIds)) } 
                if let removeFriendGroup = removeFriendGroup { queryItems.append(URLQueryItem(name: "removeFriendGroup", value: removeFriendGroup ? "true" : "false")) } 
                if let latitude = latitude { queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)")) } 
                if let longitude = longitude { queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)")) } 
                if let audienceIds = audienceIds { queryItems.append(URLQueryItem(name: "audienceIds", value: audienceIds)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter permissionableType
    ///
    public enum SearchPermissionablesPermissionableType: String, Codable, CaseIterable {
        case account = "ACCOUNT"
        case gamelevel = "GAMELEVEL"
        case albumContest = "ALBUM_CONTEST"
        case themeDescriptor = "THEME_DESCRIPTOR"
        case scheduledNotification = "SCHEDULED_NOTIFICATION"
        case task = "TASK"
        case trigger = "TRIGGER"
    }

    /// Search Permissionables
    /// - GET /permissions/search
    /// - Search on UserPermissions
    /// - parameter deviceId: (query) A unique ID given by the device (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) The account ID of the user (deviceId or accountId required) (optional)
    /// - parameter connectionAccountId: (query) Filter results for a specific user account (optional)
    /// - parameter connectionAccountIds: (query) Comma separated list of account IDs to filter results with (optional)
    /// - parameter permissionableType: (query) Filter user permissions by the permissionable object type (optional)
    /// - parameter permissionableId: (query) The id of the permissionable object to filter by (optional)
    /// - parameter keyword: (query) Keyword to search within permissionable records (optional)
    /// - parameter sortField: (query) Field to sort results on (optional)
    /// - parameter descending: (query) Sort descending when true (optional)
    /// - parameter pending: (query) Return user permissions that are pending (optional)
    /// - parameter admin: (query) Return user permissions that are admins (optional)
    /// - parameter start: (query) the start index for pagination (optional, default to 0)
    /// - parameter limit: (query) the limit for pagination (optional, default to 20)
    /// - returns: AnyPublisher<[UserPermissionsResponse], Error> 
    open func searchPermissionables(deviceId: String? = nil, accountId: Int64? = nil, connectionAccountId: Int64? = nil, connectionAccountIds: String? = nil, permissionableType: SearchPermissionablesPermissionableType? = nil, permissionableId: Int64? = nil, keyword: String? = nil, sortField: String? = nil, descending: Bool? = nil, pending: Bool? = nil, admin: Bool? = nil, start: Int? = nil, limit: Int? = nil) -> AnyPublisher<[UserPermissionsResponse], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/permissions/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let connectionAccountId = connectionAccountId { queryItems.append(URLQueryItem(name: "connectionAccountId", value: "\(connectionAccountId)")) } 
                if let connectionAccountIds = connectionAccountIds { queryItems.append(URLQueryItem(name: "connectionAccountIds", value: connectionAccountIds)) } 
                if let permissionableType = permissionableType { queryItems.append(URLQueryItem(name: "permissionableType", value: permissionableType.rawValue)) } 
                if let permissionableId = permissionableId { queryItems.append(URLQueryItem(name: "permissionableId", value: "\(permissionableId)")) } 
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                if let sortField = sortField { queryItems.append(URLQueryItem(name: "sortField", value: sortField)) } 
                if let descending = descending { queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false")) } 
                if let pending = pending { queryItems.append(URLQueryItem(name: "pending", value: pending ? "true" : "false")) } 
                if let admin = admin { queryItems.append(URLQueryItem(name: "admin", value: admin ? "true" : "false")) } 
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[UserPermissionsResponse], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([UserPermissionsResponse].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    ///
    /// Enum for parameter permissionableType
    ///
    public enum SearchPermissionablesFollowingDistancePermissionableType: String, Codable, CaseIterable {
        case account = "ACCOUNT"
        case gamelevel = "GAMELEVEL"
        case albumContest = "ALBUM_CONTEST"
        case themeDescriptor = "THEME_DESCRIPTOR"
        case scheduledNotification = "SCHEDULED_NOTIFICATION"
        case task = "TASK"
        case trigger = "TRIGGER"
    }

    /// Search Permissionables by Distnace
    /// - GET /permissions/distancesearch
    /// - Search on UserPermissions by distance
    /// - parameter latitude: (query) The latitude of the current account 
    /// - parameter longitude: (query) The longitude of the current account 
    /// - parameter deviceId: (query) A unique ID given by the device (deviceId or accountId required) (optional)
    /// - parameter accountId: (query) The account ID of the user (deviceId or accountId required) (optional)
    /// - parameter connectionAccountId: (query) Filter results for a specific user account (optional)
    /// - parameter connectionAccountIds: (query) Comma separated list of account IDs to filter results with (optional)
    /// - parameter permissionableType: (query) Filter user permissions by the permissionable object type (optional)
    /// - parameter permissionableId: (query) The id of the permissionable object to filter by (optional)
    /// - parameter searchRange: (query) The search range in miles (optional, default to 5)
    /// - parameter keyword: (query) Keyword to search within permissionable records (optional)
    /// - parameter pending: (query) Return user permissions that are pending (optional)
    /// - parameter admin: (query) Return user permissions that are admins (optional)
    /// - parameter start: (query) The start index for pagination (optional, default to 0)
    /// - parameter limit: (query) The limit for pagination (optional, default to 20)
    /// - returns: AnyPublisher<[UserPermissionsResponse], Error> 
    open func searchPermissionablesFollowingDistance(latitude: Double, longitude: Double, deviceId: String? = nil, accountId: Int64? = nil, connectionAccountId: Int64? = nil, connectionAccountIds: String? = nil, permissionableType: SearchPermissionablesFollowingDistancePermissionableType? = nil, permissionableId: Int64? = nil, searchRange: Double? = nil, keyword: String? = nil, pending: Bool? = nil, admin: Bool? = nil, start: Int? = nil, limit: Int? = nil) -> AnyPublisher<[UserPermissionsResponse], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/permissions/distancesearch"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let deviceId = deviceId { queryItems.append(URLQueryItem(name: "deviceId", value: deviceId)) } 
                if let accountId = accountId { queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)")) } 
                if let connectionAccountId = connectionAccountId { queryItems.append(URLQueryItem(name: "connectionAccountId", value: "\(connectionAccountId)")) } 
                if let connectionAccountIds = connectionAccountIds { queryItems.append(URLQueryItem(name: "connectionAccountIds", value: connectionAccountIds)) } 
                if let permissionableType = permissionableType { queryItems.append(URLQueryItem(name: "permissionableType", value: permissionableType.rawValue)) } 
                if let permissionableId = permissionableId { queryItems.append(URLQueryItem(name: "permissionableId", value: "\(permissionableId)")) } 
                queryItems.append(URLQueryItem(name: "latitude", value: "\(latitude)"))
                queryItems.append(URLQueryItem(name: "longitude", value: "\(longitude)"))
                if let searchRange = searchRange { queryItems.append(URLQueryItem(name: "searchRange", value: "\(searchRange)")) } 
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                if let pending = pending { queryItems.append(URLQueryItem(name: "pending", value: pending ? "true" : "false")) } 
                if let admin = admin { queryItems.append(URLQueryItem(name: "admin", value: admin ? "true" : "false")) } 
                if let start = start { queryItems.append(URLQueryItem(name: "start", value: "\(start)")) } 
                if let limit = limit { queryItems.append(URLQueryItem(name: "limit", value: "\(limit)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[UserPermissionsResponse], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([UserPermissionsResponse].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
