//
// VehicleTypeAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class VehicleTypeAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create Vehicle Type
    /// - POST /vehicle/type
    /// - Create a new vehicle type
    /// - parameter vehicleType: (query) A JSON representation of cargo type. &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60;  
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<VehicleType, Error> 
    open func createVehicleType(vehicleType: String, body: VehicleType? = nil) -> AnyPublisher<VehicleType, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/vehicle/type"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "vehicleType", value: vehicleType))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<VehicleType, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(VehicleType.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete Vehicle Type
    /// - DELETE /vehicle/type/{vehicleTypeId}
    /// - Delete a vehicle type
    /// - parameter vehicleTypeId: (path) The id of the requested vehicle type 
    /// - returns: AnyPublisher<Void, Error> 
    open func deleteVehicleType(vehicleTypeId: Int64) -> AnyPublisher<Void, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/vehicle/type/{vehicleTypeId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{vehicleTypeId}", with: "\(vehicleTypeId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<Void, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    return ()
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Vehicle Type
    /// - GET /vehicle/type/{vehicleTypeId}
    /// - Get a vehicle type
    /// - parameter vehicleTypeId: (path) The id of the requested vehicle type 
    /// - returns: AnyPublisher<VehicleType, Error> 
    open func getVehicleType(vehicleTypeId: Int64) -> AnyPublisher<VehicleType, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/vehicle/type/{vehicleTypeId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{vehicleTypeId}", with: "\(vehicleTypeId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<VehicleType, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(VehicleType.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Vehicle Type
    /// - GET /vehicle/type
    /// - Search for types of vehicles
    /// - parameter sortField: (query) The field to sort by 
    /// - parameter descending: (query) Determines whether the sorted list is in descending or ascending order 
    /// - parameter start: (query) The start index for pagination 
    /// - parameter limit: (query) The limit for pagination 
    /// - parameter activeOnly: (query) Return only active results 
    /// - parameter retailerId: (query) Filter by retailer (optional)
    /// - parameter hubId: (query) Filter by service hub (optional)
    /// - returns: AnyPublisher<[VehicleType], Error> 
    open func searchVehicleTypes(sortField: String, descending: Bool, start: Int, limit: Int, activeOnly: Bool, retailerId: Int64? = nil, hubId: Int64? = nil) -> AnyPublisher<[VehicleType], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/vehicle/type"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let retailerId = retailerId { queryItems.append(URLQueryItem(name: "retailerId", value: "\(retailerId)")) } 
                if let hubId = hubId { queryItems.append(URLQueryItem(name: "hubId", value: "\(hubId)")) } 
                queryItems.append(URLQueryItem(name: "sortField", value: sortField))
                queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "start", value: "\(start)"))
                queryItems.append(URLQueryItem(name: "limit", value: "\(limit)"))
                queryItems.append(URLQueryItem(name: "activeOnly", value: activeOnly ? "true" : "false"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[VehicleType], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([VehicleType].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update Vehicle Type
    /// - PUT /vehicle/type/{vehicleTypeId}
    /// - Update a vehicle type
    /// - parameter vehicleTypeId: (path) The id of the vehicle type to update 
    /// - parameter vehicleType: (query) The new data for the vehicle type to update to. A JSON representation of cargo type, for example: &#x60;&#x60;&#x60;json {   \&quot;name\&quot;: \&quot;Truck\&quot;,   \&quot;width\&quot;: 100,   \&quot;height\&quot;: 200,   \&quot;depth\&quot;: 200,   \&quot;maxWeight\&quot;: 5000,   \&quot;hub\&quot;: { \&quot;id\&quot;: 1 } } &#x60;&#x60;&#x60;  
    /// - parameter body: (body)  (optional)
    /// - returns: AnyPublisher<VehicleType, Error> 
    open func updateVehicleType(vehicleTypeId: Int64, vehicleType: String, body: VehicleType? = nil) -> AnyPublisher<VehicleType, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/vehicle/type/{vehicleTypeId}"
                localVarPath = localVarPath.replacingOccurrences(of: "{vehicleTypeId}", with: "\(vehicleTypeId)")
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "vehicleType", value: vehicleType))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "PUT"
                request.httpBody = try self.encoder.encode(body)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<VehicleType, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(VehicleType.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
