//
// WordAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class WordAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Create Word
    /// - POST /game/word/create
    /// - Create a word by the given params.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter word: (query) The text of the word. 
    /// - parameter definition: (query) The definition of the word. 
    /// - parameter active: (query) If true set the word to active. Default to false. 
    /// - parameter allocateTickets: (query) If true then scoring will give tickets. Default to false. 
    /// - parameter ticketCount: (query) The number of tickets to reward 
    /// - parameter assetId: (query) The asset id of the word. (optional)
    /// - parameter ticketType: (query) The type of ticket to reward, null means default type (optional)
    /// - parameter points: (query) The number of points to award for completing a mission (optional)
    /// - returns: AnyPublisher<WordzWordResponse, Error> 
    open func createWord(accountId: Int64, word: String, definition: String, active: Bool, allocateTickets: Bool, ticketCount: Int64, assetId: Int64? = nil, ticketType: String? = nil, points: Int64? = nil) -> AnyPublisher<WordzWordResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/word/create"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "word", value: word))
                queryItems.append(URLQueryItem(name: "definition", value: definition))
                if let assetId = assetId { queryItems.append(URLQueryItem(name: "assetId", value: "\(assetId)")) } 
                queryItems.append(URLQueryItem(name: "active", value: active ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "allocateTickets", value: allocateTickets ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "ticketCount", value: "\(ticketCount)"))
                if let ticketType = ticketType { queryItems.append(URLQueryItem(name: "ticketType", value: ticketType)) } 
                if let points = points { queryItems.append(URLQueryItem(name: "points", value: "\(points)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<WordzWordResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(WordzWordResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Delete Word
    /// - DELETE /game/word/delete
    /// - Delete a word by the given id. The accountId given needs to be the owner or executive to delete.
    /// - parameter wordId: (query) The id of the word to delete. 
    /// - parameter accountId: (query) The account vor validating permission 
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func deleteWord(wordId: Int64, accountId: Int64) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/word/delete"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "wordId", value: "\(wordId)"))
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "DELETE"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Get Word
    /// - GET /game/word/get
    /// - Get a word by the given id.
    /// - parameter wordId: (query) The id of the word to get. 
    /// - parameter accountId: (query) The logged in user. 
    /// - returns: AnyPublisher<WordzWordResponse, Error> 
    open func getWord(wordId: Int64, accountId: Int64) -> AnyPublisher<WordzWordResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/word/get"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "wordId", value: "\(wordId)"))
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<WordzWordResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(WordzWordResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Search Words
    /// - GET /game/word/search
    /// - Search for words by the given params.
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter sortField: (query) The column to sort the search on 
    /// - parameter descending: (query) The order to return the search results 
    /// - parameter activeOnly: (query) Return only active results if set to true. 
    /// - parameter start: (query) The record to begin the return set on. 
    /// - parameter limit: (query) The number of records to return. 
    /// - parameter keyword: (query) The keyword for searching words with matching definition or word text. (optional)
    /// - returns: AnyPublisher<[WordzWordResponse], Error> 
    open func getWords(accountId: Int64, sortField: String, descending: Bool, activeOnly: Bool, start: Int, limit: Int, keyword: String? = nil) -> AnyPublisher<[WordzWordResponse], Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/word/search"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                if let keyword = keyword { queryItems.append(URLQueryItem(name: "keyword", value: keyword)) } 
                queryItems.append(URLQueryItem(name: "sortField", value: sortField))
                queryItems.append(URLQueryItem(name: "descending", value: descending ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "activeOnly", value: activeOnly ? "true" : "false"))
                queryItems.append(URLQueryItem(name: "start", value: "\(start)"))
                queryItems.append(URLQueryItem(name: "limit", value: "\(limit)"))
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<[WordzWordResponse], Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode([WordzWordResponse].self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }


    /// Update Word
    /// - POST /game/word/update
    /// - Update a word by the given params.
    /// - parameter wordId: (query) The id of the word to update. 
    /// - parameter accountId: (query) The logged in user. 
    /// - parameter ticketCount: (query) The number of tickets to reward 
    /// - parameter wordText: (query) The text for the word (optional)
    /// - parameter definition: (query) The definition of the word. (optional)
    /// - parameter assetId: (query) The asset id of the word. (optional)
    /// - parameter active: (query) If true set the word to active. (optional)
    /// - parameter allocateTickets: (query) If true then scoring will give tickets. (optional)
    /// - parameter ticketType: (query) The type of ticket to reward, null means default type (optional)
    /// - parameter points: (query) The number of points to award for completing a mission (optional)
    /// - returns: AnyPublisher<WordzWordResponse, Error> 
    open func updateWord(wordId: Int64, accountId: Int64, ticketCount: Int64, wordText: String? = nil, definition: String? = nil, assetId: Int64? = nil, active: Bool? = nil, allocateTickets: Bool? = nil, ticketType: String? = nil, points: Int64? = nil) -> AnyPublisher<WordzWordResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/game/word/update"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "wordId", value: "\(wordId)"))
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                if let wordText = wordText { queryItems.append(URLQueryItem(name: "wordText", value: wordText)) } 
                if let definition = definition { queryItems.append(URLQueryItem(name: "definition", value: definition)) } 
                if let assetId = assetId { queryItems.append(URLQueryItem(name: "assetId", value: "\(assetId)")) } 
                if let active = active { queryItems.append(URLQueryItem(name: "active", value: active ? "true" : "false")) } 
                if let allocateTickets = allocateTickets { queryItems.append(URLQueryItem(name: "allocateTickets", value: allocateTickets ? "true" : "false")) } 
                queryItems.append(URLQueryItem(name: "ticketCount", value: "\(ticketCount)"))
                if let ticketType = ticketType { queryItems.append(URLQueryItem(name: "ticketType", value: ticketType)) } 
                if let points = points { queryItems.append(URLQueryItem(name: "points", value: "\(points)")) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<WordzWordResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(WordzWordResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
