//
// WorkflowAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class WorkflowAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://dev.sirqul.com/api/3.18")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }


    /// Run Workflow
    /// - POST /workflow/run
    /// - Runs a published executable workflow
    /// - parameter accountId: (query) the account ID of the user 
    /// - parameter workflowId: (query) the workflow to run 
    /// - parameter skuId: (query) this runs a particular sku on the workflow (optional)
    /// - parameter versionCode: (query) this runs a particular sku version on the workflow (optional)
    /// - parameter parameters: (query) Override parameters in JSON format. Example: &#x60;&#x60;&#x60;json {   \&quot;arguments_81\&quot;: { \&quot;filter\&quot;: \&quot;PUBLIC\&quot; },   \&quot;arguments_87\&quot;: { \&quot;tag\&quot;: \&quot;custom_tag\&quot; } } &#x60;&#x60;&#x60;  (optional)
    /// - returns: AnyPublisher<SirqulResponse, Error> 
    open func runWorkflow(accountId: Int64, workflowId: Int64, skuId: Int64? = nil, versionCode: Int? = nil, parameters: String? = nil) -> AnyPublisher<SirqulResponse, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                let localVarPath = "/workflow/run"
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                queryItems.append(URLQueryItem(name: "accountId", value: "\(accountId)"))
                queryItems.append(URLQueryItem(name: "workflowId", value: "\(workflowId)"))
                if let skuId = skuId { queryItems.append(URLQueryItem(name: "skuId", value: "\(skuId)")) } 
                if let versionCode = versionCode { queryItems.append(URLQueryItem(name: "versionCode", value: "\(versionCode)")) } 
                if let parameters = parameters { queryItems.append(URLQueryItem(name: "parameters", value: parameters)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SirqulResponse, Error> in 
            return self.transport.send(request: request)
                .tryMap { response in
                    try self.decoder.decode(SirqulResponse.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
