/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AccountLoginResponse
import org.openapitools.client.model.AssetListResponse
import java.math.BigDecimal
import org.openapitools.client.model.ProfileInfoResponse
import org.openapitools.client.model.ProfileResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.model.UserLocationSearchResponse
import org.openapitools.client.model.UserSettingsResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AccountApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new AccountApi(baseUrl)
}

class AccountApi(baseUrl: String) {

  /**
   * Search accounts by their location. This only searches on users that have location data. Use ConnectionApi to perform a regular search on accounts.
   * 
   * Expected answers:
   *   code 200 : UserLocationSearchResponse (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param `q` Deprecated - legacy query parameter
   * @param keyword An optional keyword to search on, will be ignore if empty (NOT implemented yet)
   * @param postalCode The postal code to search on, either postalCode or the user's exact location is required
   * @param latitude The latitude of the user, either postalCode or the user's exact location is required
   * @param longitude The longitude of the user, either postalCode or the user's exact location is required
   * @param appKey The application key
   * @param range The range to search on
   * @param locationLastUpdated Searches for user's that has updated their location since this date
   * @param gender The preferred gender
   * @param minAge The preferred min age
   * @param maxAge The preferred max age
   * @param companionshipIndex The preferred companionship index
   * @param `i` this is the start index of a query
   * @param start Start of the pagination
   * @param `l` this is the limit index of a query
   * @param limit Limit of the pagination
   * @param searchMode Search mode to use for index searches (e.g. CLOUDINDEX, OPENSEARCH)
   * @param sortField Sorting field for results (default: DISTANCE)
   * @param descending Whether to sort descending (default: false)
   * @param roles Roles to filter on
   * @param tags Tags to filter on
   * @param experience The experience to filter on
   * @param categoryIds The category ids to filter on (comma separated)
   * @param audienceIds The audience ids to filter on (comma separated)
   * @param audienceOperator Operator used to combine audience filters (default: AND)
   * @param updateCurrentLocation Whether to use the given lat & long to update the user's current location
   * @param updatePreferredSettings Whether to use the given parameters to update the user's preferred settings
   * @param showExactLocations Determines whether to always display user exact locations
   * @param showConnectionToSearcher Return connection of the accounts in the result to the passed in account if there exists any
   * @param flagCountMinimum Return any results that have a minimum of the specified flag count (even ones that have met the flag threshold)
   * @param verifiedUserOnly Returns only verified users
   * @param contentAdminOnly Returns only content admin users
   */
  def accountLocationSearch(deviceId: Option[String] = None, accountId: Option[Long] = None, `q`: Option[String] = None, keyword: Option[String] = None, postalCode: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, appKey: Option[String] = None, range: Option[Double] = None, locationLastUpdated: Option[Long] = None, gender: Option[String] = None, minAge: Option[Int] = None, maxAge: Option[Int] = None, companionshipIndex: Option[Int] = None, `i`: Option[Int] = None, start: Option[Int] = None, `l`: Option[Int] = None, limit: Option[Int] = None, searchMode: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, roles: Option[String] = None, tags: Option[String] = None, experience: Option[String] = None, categoryIds: Option[String] = None, audienceIds: Option[String] = None, audienceOperator: Option[String] = None, updateCurrentLocation: Option[Boolean] = None, updatePreferredSettings: Option[Boolean] = None, showExactLocations: Option[Boolean] = None, showConnectionToSearcher: Option[Boolean] = None, flagCountMinimum: Option[Long] = None, verifiedUserOnly: Option[Boolean] = None, contentAdminOnly: Option[Boolean] = None): ApiRequest[UserLocationSearchResponse] =
    ApiRequest[UserLocationSearchResponse](ApiMethods.GET, baseUrl, "/account/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("postalCode", postalCode)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("appKey", appKey)
      .withQueryParam("range", range)
      .withQueryParam("locationLastUpdated", locationLastUpdated)
      .withQueryParam("gender", gender)
      .withQueryParam("minAge", minAge)
      .withQueryParam("maxAge", maxAge)
      .withQueryParam("companionshipIndex", companionshipIndex)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withQueryParam("searchMode", searchMode)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("roles", roles)
      .withQueryParam("tags", tags)
      .withQueryParam("experience", experience)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("audienceIds", audienceIds)
      .withQueryParam("audienceOperator", audienceOperator)
      .withQueryParam("updateCurrentLocation", updateCurrentLocation)
      .withQueryParam("updatePreferredSettings", updatePreferredSettings)
      .withQueryParam("showExactLocations", showExactLocations)
      .withQueryParam("showConnectionToSearcher", showConnectionToSearcher)
      .withQueryParam("flagCountMinimum", flagCountMinimum)
      .withQueryParam("verifiedUserOnly", verifiedUserOnly)
      .withQueryParam("contentAdminOnly", contentAdminOnly)
      .withSuccessResponse[UserLocationSearchResponse](200)
      

  /**
   * Moves or removes an account into the user's blocked group.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountIdBeingBlocked The id of the account to be blocked/unblocked
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param blockFlagValue Determines whether the account is blocked or unblocked
   * @param removeFromGroupsIfBlocked Determines whether the account is removed from all other groups if blocked
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   */
  def blockAccount(accountIdBeingBlocked: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, blockFlagValue: Option[Boolean] = None, removeFromGroupsIfBlocked: Option[Boolean] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/block", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("accountIdBeingBlocked", accountIdBeingBlocked)
      .withQueryParam("blockFlagValue", blockFlagValue)
      .withQueryParam("removeFromGroupsIfBlocked", removeFromGroupsIfBlocked)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Create a new account by role.
   * 
   * Expected answers:
   *   code 200 : AccountLoginResponse (successful operation)
   * 
   * @param username The access token to authenticate with (ex: username)
   * @param password The secret to authenticate with (ex: password)
   * @param name The full name of the user. If this parameter is NOT empty, the following parameters will be ignored: prefixName, firstName, middleName, lastName, and suffixName
   * @param prefixName If the parameter 'name' is empty or not present, this field will be used to set the prefix of the user's name
   * @param firstName If the parameter 'name' is empty or not present, this field will be used to set the user's first name
   * @param middleName If the parameter 'name' is empty or not present, this field will be used to set the user's middle name
   * @param lastName If the parameter 'name' is empty or not present, this field will be used to set the user's last name
   * @param suffixName If the parameter 'name' is empty or not present, this field will be used to set the suffix of the user's name
   * @param title This field will be used to set the user's job title
   * @param deviceId The unique id of the device making the request
   * @param deviceIdType The type of device id (this is defined by the client), ie. MAC_ADDRESS, APPLE_UDID, etc
   * @param emailAddress The user's contact email address (NOT the username)
   * @param assetId The asset id to set the user's profile image
   * @param streetAddress The street address of the user's contact location
   * @param zipcode The zipcode of the user's contact location
   * @param gender The gender of the user (AudienceGender)
   * @param birthday The birthday date of the user in UTC milliseconds
   * @param homePhone The home phone number
   * @param cellPhone The cellular phone number
   * @param cellPhoneCarrier The cellular service provider
   * @param businessPhone The business phone number
   * @param role The account role (default: MEMBER)
   * @param platforms Comma separated list of development platforms
   * @param tags Search tags
   * @param aboutUs About us information
   * @param gameExperience Game experience of the user
   * @param categoryIds A list of category ids that represent interests and associations
   * @param hometown The user's hometown
   * @param height The user's height
   * @param heightIndex The user's height in a numerical value that can be used for ordering/searching
   * @param ethnicity The user's ethnicity
   * @param bodyType The user's body type
   * @param maritalStatus The user's marital status
   * @param children The user's children status
   * @param religion The user's religion
   * @param education The user's education
   * @param educationIndex The user's education in a numerical value that can be used for ordering/searching
   * @param smoke The user's smoke status
   * @param drink The user's drink status
   * @param companionship The user's companionship status
   * @param companionshipIndex The user's companionship index
   * @param preferredMinAge The preferred minimum age in the account location search
   * @param preferredMaxAge The preferred maximum age in the account location search
   * @param preferredMinHeight The preferred minimum height in the account location search
   * @param preferredMaxHeight The preferred maximum height in the account location search
   * @param preferredGender The preferred gender in the account location search
   * @param preferredEducation The preferred education in the account location search
   * @param preferredEducationIndex The preferred education in a numerical value that can be used for ordering/searching
   * @param preferredBodyType The preferred body type in the account location search
   * @param preferredEthnicity The preferred ethnicity in the account location search
   * @param preferredLocation The preferred location in the account location search
   * @param preferredLocationRange The preferred location range in the account location search
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   * @param acceptedTerms Accepted Terms
   * @param inviteToken The inviteToken that the referrer used for this account to sign up
   * @param referralAccountId The accountId of the referrer (used if there is no inviteToken)
   * @param sendValidation Whether to send validation email
   * @param gameType Deprecated: use appKey
   * @param appKey The application key
   * @param appVersion The application version
   * @param responseType Returns an AccountLoginResponse if \"AccountLoginResponse\" is passed in
   * @param audienceIdsToAdd Comma separated list of audience ids to assign to the user
   * @param appBlob Application blob data
   * @param appEnablePush Enable push for the app
   * @param appEnableSMS Enable SMS for the app
   * @param appEnableEmail Enable email for the app
   * @param locationVisibility Location visibility setting
   * @param homeLatitude Home latitude
   * @param homeLongitude Home longitude
   * @param appNickname The nickname used in the application for this account
   * @param personalAudienceId Personal audience id to associate with this account
   */
  def createAccount(username: String, password: String, name: Option[String] = None, prefixName: Option[String] = None, firstName: Option[String] = None, middleName: Option[String] = None, lastName: Option[String] = None, suffixName: Option[String] = None, title: Option[String] = None, deviceId: Option[String] = None, deviceIdType: Option[String] = None, emailAddress: Option[String] = None, assetId: Option[Long] = None, streetAddress: Option[String] = None, zipcode: Option[String] = None, gender: Option[String] = None, birthday: Option[Long] = None, homePhone: Option[String] = None, cellPhone: Option[String] = None, cellPhoneCarrier: Option[String] = None, businessPhone: Option[String] = None, role: Option[String] = None, platforms: Option[String] = None, tags: Option[String] = None, aboutUs: Option[String] = None, gameExperience: Option[String] = None, categoryIds: Option[String] = None, hometown: Option[String] = None, height: Option[String] = None, heightIndex: Option[Int] = None, ethnicity: Option[String] = None, bodyType: Option[String] = None, maritalStatus: Option[String] = None, children: Option[String] = None, religion: Option[String] = None, education: Option[String] = None, educationIndex: Option[Int] = None, smoke: Option[String] = None, drink: Option[String] = None, companionship: Option[String] = None, companionshipIndex: Option[Int] = None, preferredMinAge: Option[Int] = None, preferredMaxAge: Option[Int] = None, preferredMinHeight: Option[Int] = None, preferredMaxHeight: Option[Int] = None, preferredGender: Option[String] = None, preferredEducation: Option[String] = None, preferredEducationIndex: Option[Int] = None, preferredBodyType: Option[String] = None, preferredEthnicity: Option[String] = None, preferredLocation: Option[String] = None, preferredLocationRange: Option[Double] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, acceptedTerms: Option[Boolean] = None, inviteToken: Option[String] = None, referralAccountId: Option[Long] = None, sendValidation: Option[Boolean] = None, gameType: Option[String] = None, appKey: Option[String] = None, appVersion: Option[String] = None, responseType: Option[String] = None, audienceIdsToAdd: Option[String] = None, appBlob: Option[String] = None, appEnablePush: Option[Boolean] = None, appEnableSMS: Option[Boolean] = None, appEnableEmail: Option[Boolean] = None, locationVisibility: Option[String] = None, homeLatitude: Option[Double] = None, homeLongitude: Option[Double] = None, appNickname: Option[String] = None, personalAudienceId: Option[Long] = None): ApiRequest[AccountLoginResponse] =
    ApiRequest[AccountLoginResponse](ApiMethods.POST, baseUrl, "/account/create", "application/json")
      .withQueryParam("name", name)
      .withQueryParam("prefixName", prefixName)
      .withQueryParam("firstName", firstName)
      .withQueryParam("middleName", middleName)
      .withQueryParam("lastName", lastName)
      .withQueryParam("suffixName", suffixName)
      .withQueryParam("title", title)
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("deviceIdType", deviceIdType)
      .withQueryParam("username", username)
      .withQueryParam("password", password)
      .withQueryParam("emailAddress", emailAddress)
      .withQueryParam("assetId", assetId)
      .withQueryParam("streetAddress", streetAddress)
      .withQueryParam("zipcode", zipcode)
      .withQueryParam("gender", gender)
      .withQueryParam("birthday", birthday)
      .withQueryParam("homePhone", homePhone)
      .withQueryParam("cellPhone", cellPhone)
      .withQueryParam("cellPhoneCarrier", cellPhoneCarrier)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("role", role)
      .withQueryParam("platforms", platforms)
      .withQueryParam("tags", tags)
      .withQueryParam("aboutUs", aboutUs)
      .withQueryParam("gameExperience", gameExperience)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("hometown", hometown)
      .withQueryParam("height", height)
      .withQueryParam("heightIndex", heightIndex)
      .withQueryParam("ethnicity", ethnicity)
      .withQueryParam("bodyType", bodyType)
      .withQueryParam("maritalStatus", maritalStatus)
      .withQueryParam("children", children)
      .withQueryParam("religion", religion)
      .withQueryParam("education", education)
      .withQueryParam("educationIndex", educationIndex)
      .withQueryParam("smoke", smoke)
      .withQueryParam("drink", drink)
      .withQueryParam("companionship", companionship)
      .withQueryParam("companionshipIndex", companionshipIndex)
      .withQueryParam("preferredMinAge", preferredMinAge)
      .withQueryParam("preferredMaxAge", preferredMaxAge)
      .withQueryParam("preferredMinHeight", preferredMinHeight)
      .withQueryParam("preferredMaxHeight", preferredMaxHeight)
      .withQueryParam("preferredGender", preferredGender)
      .withQueryParam("preferredEducation", preferredEducation)
      .withQueryParam("preferredEducationIndex", preferredEducationIndex)
      .withQueryParam("preferredBodyType", preferredBodyType)
      .withQueryParam("preferredEthnicity", preferredEthnicity)
      .withQueryParam("preferredLocation", preferredLocation)
      .withQueryParam("preferredLocationRange", preferredLocationRange)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("acceptedTerms", acceptedTerms)
      .withQueryParam("inviteToken", inviteToken)
      .withQueryParam("referralAccountId", referralAccountId)
      .withQueryParam("sendValidation", sendValidation)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("appVersion", appVersion)
      .withQueryParam("responseType", responseType)
      .withQueryParam("audienceIdsToAdd", audienceIdsToAdd)
      .withQueryParam("appBlob", appBlob)
      .withQueryParam("appEnablePush", appEnablePush)
      .withQueryParam("appEnableSMS", appEnableSMS)
      .withQueryParam("appEnableEmail", appEnableEmail)
      .withQueryParam("locationVisibility", locationVisibility)
      .withQueryParam("homeLatitude", homeLatitude)
      .withQueryParam("homeLongitude", homeLongitude)
      .withQueryParam("appNickname", appNickname)
      .withQueryParam("personalAudienceId", personalAudienceId)
      .withSuccessResponse[AccountLoginResponse](200)
      

  /**
   * Edit the user's profile information
   * 
   * Expected answers:
   *   code 200 : ProfileInfoResponse (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param connectionAccountId The account id used to edit another person's account
   * @param role The account role to change to
   * @param assetId The asset id to set the user's profile image
   * @param name The full name of the user. If this parameter is NOT empty, the  following parameters will be ignored: prefixName, firstName, middleName,  lastName, and suffixName 
   * @param prefixName If the parameter 'name' is empty or not present, this field will be used to set the prefix of the user's name
   * @param firstName If the parameter 'name' is empty or not present, this field will be used to set the user's first name
   * @param middleName If the parameter 'name' is empty or not present, this field will be used to set the user's middle name
   * @param lastName If the parameter 'name' is empty or not present, this field will be used to set the user's last name
   * @param suffixName If the parameter 'name' is empty or not present, this field will be used to set the suffix of the user's name
   * @param title This field will be used to set the user's job title
   * @param gender The gender of the user AudienceGender
   * @param age This is deperecated, use the birthday parameter
   * @param birthday The birthday date of the user in UTC milliseconds
   * @param homePhone The home phone number
   * @param cellPhone The cellular phone number
   * @param cellPhoneCarrier The cellular service provider
   * @param businessPhone The business phone number
   * @param emailAddress The user's contact email address (NOT the username)
   * @param streetAddress The street address of the user's contact location
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param city The city of the user's contact location
   * @param state The state of the user's contact location
   * @param zipcode The zipcode of the user's contact location
   * @param country The country of the user's contact location
   * @param makeProfileInfoPublic Allow anyone to view the user's personal profile
   * @param makeGameInfoPublic Allow anyone to view the user's game/app info
   * @param makeFriendsInfoPublic Allow anyone to view the user's friends list
   * @param hometown The user's hometown
   * @param height The user's height
   * @param heightIndex The user's height in a numerical value that can be used for ordering/searching
   * @param ethnicity The user's ethnicity
   * @param bodyType The user's body type
   * @param maritalStatus The user's marital status
   * @param children The user's children status
   * @param religion The user's religion
   * @param education The user's education
   * @param educationIndex The user's education in a numerical value that can be used for ordering/searching
   * @param smoke The user's smoke status
   * @param drink The user's drink status
   * @param companionship The user's companionship status
   * @param companionshipIndex The user's companionship index
   * @param preferredMinAge The preferred minimum age in the account location search
   * @param preferredMaxAge The preferred maximum age in the account location search
   * @param preferredMinHeight The preferred minimum height in the account location search
   * @param preferredMaxHeight The preferred maximum height in the account location search
   * @param preferredGender The preferred gender in the account location search
   * @param preferredEducation The preferred education in the account location search
   * @param preferredEducationIndex The preferred education in a numerical value that can be used for ordering/searching
   * @param preferredBodyType The preferred body type in the account location search
   * @param preferredEthnicity The preferred ethnicity in the account location search
   * @param preferredLocation The preferred education in the account location search
   * @param preferredLocationRange The preferred location range in the account location search
   * @param platforms Platforms
   * @param tags Tags
   * @param aboutUs About Us
   * @param matchToken Match Token
   * @param gameExperience Game Experience
   * @param categories Deprecated use categoryIds
   * @param categoryIds A list of category ids that represent interests and associations
   * @param responseFilters A comma separated list of ProfileFilters for filtering the returned response data
   * @param showAsZipcode The user's preference if they want to be shown by zipcode on a map
   * @param showExactLocation The user's preference if they want to be shown by their exact location on a map
   * @param showOthersExactLocation The user's preference if they want to see others exact location on a map
   * @param acceptedTerms Accepted Terms
   * @param locationVisibility Location Visibility
   * @param appBlob App Blob
   * @param appEnablePush App Enable Push
   * @param appEnableSMS App Enable SMS
   * @param appEnableEmail App Enable Email
   * @param gameType Game Type
   * @param appKey The application key
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   * @param returnProfile Return Profile
   * @param audienceIdsToAdd Audience Ids to add
   * @param audienceIdsToRemove Audience Ids to remove
   * @param referralAccountId The account id of the referrer
   * @param appNickname App nickname
   * @param personalAudienceId Personal Audience
   * @param nonGuestUsername The user's username to update with if they currently have a guest username
   */
  def editAccount(deviceId: Option[String] = None, accountId: Option[Long] = None, connectionAccountId: Option[Long] = None, role: Option[String] = None, assetId: Option[Long] = None, name: Option[String] = None, prefixName: Option[String] = None, firstName: Option[String] = None, middleName: Option[String] = None, lastName: Option[String] = None, suffixName: Option[String] = None, title: Option[String] = None, gender: Option[String] = None, age: Option[Int] = None, birthday: Option[Long] = None, homePhone: Option[String] = None, cellPhone: Option[String] = None, cellPhoneCarrier: Option[String] = None, businessPhone: Option[String] = None, emailAddress: Option[String] = None, streetAddress: Option[String] = None, streetAddress2: Option[String] = None, city: Option[String] = None, state: Option[String] = None, zipcode: Option[String] = None, country: Option[String] = None, makeProfileInfoPublic: Option[Boolean] = None, makeGameInfoPublic: Option[Boolean] = None, makeFriendsInfoPublic: Option[Boolean] = None, hometown: Option[String] = None, height: Option[String] = None, heightIndex: Option[Int] = None, ethnicity: Option[String] = None, bodyType: Option[String] = None, maritalStatus: Option[String] = None, children: Option[String] = None, religion: Option[String] = None, education: Option[String] = None, educationIndex: Option[Int] = None, smoke: Option[String] = None, drink: Option[String] = None, companionship: Option[String] = None, companionshipIndex: Option[Int] = None, preferredMinAge: Option[Int] = None, preferredMaxAge: Option[Int] = None, preferredMinHeight: Option[Int] = None, preferredMaxHeight: Option[Int] = None, preferredGender: Option[String] = None, preferredEducation: Option[String] = None, preferredEducationIndex: Option[Int] = None, preferredBodyType: Option[String] = None, preferredEthnicity: Option[String] = None, preferredLocation: Option[String] = None, preferredLocationRange: Option[Double] = None, platforms: Option[String] = None, tags: Option[String] = None, aboutUs: Option[String] = None, matchToken: Option[String] = None, gameExperience: Option[String] = None, categories: Option[String] = None, categoryIds: Option[String] = None, responseFilters: Option[String] = None, showAsZipcode: Option[Boolean] = None, showExactLocation: Option[Boolean] = None, showOthersExactLocation: Option[Boolean] = None, acceptedTerms: Option[Boolean] = None, locationVisibility: Option[String] = None, appBlob: Option[String] = None, appEnablePush: Option[Boolean] = None, appEnableSMS: Option[Boolean] = None, appEnableEmail: Option[Boolean] = None, gameType: Option[String] = None, appKey: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, returnProfile: Option[Boolean] = None, audienceIdsToAdd: Option[String] = None, audienceIdsToRemove: Option[String] = None, referralAccountId: Option[Long] = None, appNickname: Option[String] = None, personalAudienceId: Option[Long] = None, nonGuestUsername: Option[String] = None): ApiRequest[ProfileInfoResponse] =
    ApiRequest[ProfileInfoResponse](ApiMethods.POST, baseUrl, "/account/profile/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("connectionAccountId", connectionAccountId)
      .withQueryParam("role", role)
      .withQueryParam("assetId", assetId)
      .withQueryParam("name", name)
      .withQueryParam("prefixName", prefixName)
      .withQueryParam("firstName", firstName)
      .withQueryParam("middleName", middleName)
      .withQueryParam("lastName", lastName)
      .withQueryParam("suffixName", suffixName)
      .withQueryParam("title", title)
      .withQueryParam("gender", gender)
      .withQueryParam("age", age)
      .withQueryParam("birthday", birthday)
      .withQueryParam("homePhone", homePhone)
      .withQueryParam("cellPhone", cellPhone)
      .withQueryParam("cellPhoneCarrier", cellPhoneCarrier)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("emailAddress", emailAddress)
      .withQueryParam("streetAddress", streetAddress)
      .withQueryParam("streetAddress2", streetAddress2)
      .withQueryParam("city", city)
      .withQueryParam("state", state)
      .withQueryParam("zipcode", zipcode)
      .withQueryParam("country", country)
      .withQueryParam("makeProfileInfoPublic", makeProfileInfoPublic)
      .withQueryParam("makeGameInfoPublic", makeGameInfoPublic)
      .withQueryParam("makeFriendsInfoPublic", makeFriendsInfoPublic)
      .withQueryParam("hometown", hometown)
      .withQueryParam("height", height)
      .withQueryParam("heightIndex", heightIndex)
      .withQueryParam("ethnicity", ethnicity)
      .withQueryParam("bodyType", bodyType)
      .withQueryParam("maritalStatus", maritalStatus)
      .withQueryParam("children", children)
      .withQueryParam("religion", religion)
      .withQueryParam("education", education)
      .withQueryParam("educationIndex", educationIndex)
      .withQueryParam("smoke", smoke)
      .withQueryParam("drink", drink)
      .withQueryParam("companionship", companionship)
      .withQueryParam("companionshipIndex", companionshipIndex)
      .withQueryParam("preferredMinAge", preferredMinAge)
      .withQueryParam("preferredMaxAge", preferredMaxAge)
      .withQueryParam("preferredMinHeight", preferredMinHeight)
      .withQueryParam("preferredMaxHeight", preferredMaxHeight)
      .withQueryParam("preferredGender", preferredGender)
      .withQueryParam("preferredEducation", preferredEducation)
      .withQueryParam("preferredEducationIndex", preferredEducationIndex)
      .withQueryParam("preferredBodyType", preferredBodyType)
      .withQueryParam("preferredEthnicity", preferredEthnicity)
      .withQueryParam("preferredLocation", preferredLocation)
      .withQueryParam("preferredLocationRange", preferredLocationRange)
      .withQueryParam("platforms", platforms)
      .withQueryParam("tags", tags)
      .withQueryParam("aboutUs", aboutUs)
      .withQueryParam("matchToken", matchToken)
      .withQueryParam("gameExperience", gameExperience)
      .withQueryParam("categories", categories)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("responseFilters", responseFilters)
      .withQueryParam("showAsZipcode", showAsZipcode)
      .withQueryParam("showExactLocation", showExactLocation)
      .withQueryParam("showOthersExactLocation", showOthersExactLocation)
      .withQueryParam("acceptedTerms", acceptedTerms)
      .withQueryParam("locationVisibility", locationVisibility)
      .withQueryParam("appBlob", appBlob)
      .withQueryParam("appEnablePush", appEnablePush)
      .withQueryParam("appEnableSMS", appEnableSMS)
      .withQueryParam("appEnableEmail", appEnableEmail)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("returnProfile", returnProfile)
      .withQueryParam("audienceIdsToAdd", audienceIdsToAdd)
      .withQueryParam("audienceIdsToRemove", audienceIdsToRemove)
      .withQueryParam("referralAccountId", referralAccountId)
      .withQueryParam("appNickname", appNickname)
      .withQueryParam("personalAudienceId", personalAudienceId)
      .withQueryParam("nonGuestUsername", nonGuestUsername)
      .withSuccessResponse[ProfileInfoResponse](200)
      

  /**
   * Update account's own username and/or emailAddress
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param deviceId The device id
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param emailAddress the user's contact email address (NOT the username) which is also used for email validation
   * @param username the user's username to update with if they currently have a guest username
   */
  def editUsername(deviceId: Option[String] = None, accountId: Option[Long] = None, emailAddress: Option[String] = None, username: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/username/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("emailAddress", emailAddress)
      .withQueryParam("username", username)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Gets a user's account profile. Application settings and account settings will also be returned for the owner of the account.
   * 
   * Expected answers:
   *   code 200 : ProfileResponse (successful operation)
   * 
   * @param returnNulls Return Nulls
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param connectionAccountEmail Connection Account Email
   * @param connectionAccountId The account id used to view another person's account
   * @param responseFilters A comma separated list of ProfileFilters for filtering the returned response data
   * @param gameType Game Type
   * @param appKey The application key
   * @param purchaseType Purchase Type
   * @param updateViewedDate Determines whether to track if a person has viewed someone's profile
   * @param latitude Latitude used to update the user's current location
   * @param longitude Longitude used to update the user's current location
   */
  def getAccount(returnNulls: Option[Boolean] = None, deviceId: Option[String] = None, accountId: Option[Long] = None, connectionAccountEmail: Option[String] = None, connectionAccountId: Option[Long] = None, responseFilters: Option[String] = None, gameType: Option[String] = None, appKey: Option[String] = None, purchaseType: Option[String] = None, updateViewedDate: Option[Boolean] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[ProfileResponse] =
    ApiRequest[ProfileResponse](ApiMethods.GET, baseUrl, "/account/profile/get", "application/json")
      .withQueryParam("returnNulls", returnNulls)
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("connectionAccountEmail", connectionAccountEmail)
      .withQueryParam("connectionAccountId", connectionAccountId)
      .withQueryParam("responseFilters", responseFilters)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("purchaseType", purchaseType)
      .withQueryParam("updateViewedDate", updateViewedDate)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[ProfileResponse](200)
      

  /**
   * Get a list of assets a person has ever uploaded. Filters the list based on parameters.
   * 
   * Expected answers:
   *   code 200 : AssetListResponse (successful operation)
   * 
   * @param returnNulls Determines whether to return null fields in the response
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param ownerId The account id of the person the user wants to view
   * @param mediaTypes Comma separated list of MediaType
   * @param mimeTypes Comma separated list of mime types
   * @param sortField Determines what the returning list will be sorted by (see AssetApiMap)
   * @param descending Determines whether to return the resulting list in descending or ascending order
   * @param latitude Latitude used to update the user's current location
   * @param longitude Longitude used to update the user's current location
   * @param `i` _i
   * @param start Start of the pagination
   * @param `l` _l
   * @param limit Limit of the pagination
   */
  def getProfileAssets(returnNulls: Option[Boolean] = None, deviceId: Option[String] = None, accountId: Option[Long] = None, ownerId: Option[Long] = None, mediaTypes: Option[String] = None, mimeTypes: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, `i`: Option[Int] = None, start: Option[Int] = None, `l`: Option[Int] = None, limit: Option[Int] = None): ApiRequest[AssetListResponse] =
    ApiRequest[AssetListResponse](ApiMethods.GET, baseUrl, "/account/profile/assets", "application/json")
      .withQueryParam("returnNulls", returnNulls)
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("ownerId", ownerId)
      .withQueryParam("mediaTypes", mediaTypes)
      .withQueryParam("mimeTypes", mimeTypes)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withSuccessResponse[AssetListResponse](200)
      

  /**
   * Gets a user's account profile and their referral List.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param appKey The application key
   * @param retrieveType one of these option - GET_CHILDREN will get all accounts that had signed up using the current account invite link - GET_ANCESTOR will get all accounts that referred the current account and it's parents, recursively - GET_ALL will get all of the above
   * @param levelLimit level limit for children and ancestors of current account, starts from current account
   * @param ancestorLevelLimit level limit for ancestors, will override levelLimit if this is set
   * @param childrenLevelLimit level limit for children, will override levelLimit if this is set
   * @param ancestorListStart pagination start for children list
   * @param ancestorListLimit pagination limit for children list
   * @param childrenListStart pagination start for children list
   * @param childrenListLimit pagination limit for children list
   * @param childrenChildren if true, on each item in ancestor and children list, return the childrenTotalNumber and ancestorTotalNumber for that item
   */
  def getReferralList(accountId: Option[Long] = None, appKey: Option[String] = None, retrieveType: Option[String] = None, levelLimit: Option[BigDecimal] = None, ancestorLevelLimit: Option[BigDecimal] = None, childrenLevelLimit: Option[BigDecimal] = None, ancestorListStart: Option[BigDecimal] = None, ancestorListLimit: Option[BigDecimal] = None, childrenListStart: Option[BigDecimal] = None, childrenListLimit: Option[BigDecimal] = None, childrenChildren: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/account/referral/list", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("retrieveType", retrieveType)
      .withQueryParam("levelLimit", levelLimit)
      .withQueryParam("ancestorLevelLimit", ancestorLevelLimit)
      .withQueryParam("childrenLevelLimit", childrenLevelLimit)
      .withQueryParam("ancestorListStart", ancestorListStart)
      .withQueryParam("ancestorListLimit", ancestorListLimit)
      .withQueryParam("childrenListStart", childrenListStart)
      .withQueryParam("childrenListLimit", childrenListLimit)
      .withQueryParam("childrenChildren", childrenChildren)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get the account settings for a user
   * 
   * Expected answers:
   *   code 200 : UserSettingsResponse (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   */
  def getSettings(deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[UserSettingsResponse] =
    ApiRequest[UserSettingsResponse](ApiMethods.GET, baseUrl, "/account/settings/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[UserSettingsResponse](200)
      

  /**
   * A login service that supports logging in as someone else (accounts that the user manages). Intended for internal use for now.
   * 
   * Expected answers:
   *   code 200 : ProfileResponse (successful operation)
   * 
   * @param accessToken 
   * @param appKey 
   * @param deviceId 
   * @param accessTokenSecret 
   * @param delegatedAccountId 
   * @param delegatedUsername 
   * @param networkUID The access provider to authenticate against (default: USERNAME). Supported values: FACEBOOK, TWITTER, USERNAME, PHONE
   * @param ageRestriction Checks user's birthday to see if they meet an age requirement. If the user is under age, an error message is returned.
   * @param responseFilters This determines how much of the profile should be returned, see ProfileFilters
   * @param latitude 
   * @param longitude 
   */
  def loginDelegate(accessToken: String, appKey: String, deviceId: Option[String] = None, accessTokenSecret: Option[String] = None, delegatedAccountId: Option[Long] = None, delegatedUsername: Option[String] = None, networkUID: Option[String] = None, ageRestriction: Option[Int] = None, responseFilters: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[ProfileResponse] =
    ApiRequest[ProfileResponse](ApiMethods.POST, baseUrl, "/account/login/delegate", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accessToken", accessToken)
      .withQueryParam("accessTokenSecret", accessTokenSecret)
      .withQueryParam("delegatedAccountId", delegatedAccountId)
      .withQueryParam("delegatedUsername", delegatedUsername)
      .withQueryParam("networkUID", networkUID)
      .withQueryParam("appKey", appKey)
      .withQueryParam("ageRestriction", ageRestriction)
      .withQueryParam("responseFilters", responseFilters)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[ProfileResponse](200)
      

  /**
   * General login service that supports various authentication methods. Currently supports Facebook, Twitter, Sirqul Username, and Sirqul Phone by default. Can also support custom networks created using the {@link ThirdPartyApi}
   * 
   * Expected answers:
   *   code 200 : ProfileResponse (successful operation)
   * 
   * @param accessToken The access token to authenticate with (ex: username or fb token)
   * @param networkUID The access provider to authenticate against. This can be custom  networks created using the ThirdPartyApi as well. Supported values by default  include: FACEBOOK, TWITTER, USERNAME, PHONE 
   * @param appKey The application key
   * @param deviceId The unique id of the device making the request
   * @param deviceIdType The type of device id (this is defined by the client), ie. MAC_ADDRESS, APPLE_UDID, etc
   * @param accessTokenSecret The secret to authenticate with (ex: password)
   * @param ageRestriction Checks user's birthday to see if they meet an age requirement. If the user is under age, an error message is returned.
   * @param responseFilters This determines how much of the profile should be returned, see ProfileFilters
   * @param latitude Used to update the user's current location
   * @param longitude Used to update the user's current location
   * @param emailMatch Option to check for email if username doesn't match, also support multiple accounts
   * @param chosenAccountId Chosen account Id sent from the app - pass in the 2nd request to choose an account from multiple accounts matching the email - use one of the account id from the previous request
   * @param thirdPartyCredentialId Third-party credential Id, pass in the 2nd request to choose an account from multiple accounts matching the email - use the id from the previous call ThirdPartyCredential object
   */
  def loginGeneral(accessToken: String, networkUID: String, appKey: String, deviceId: Option[String] = None, deviceIdType: Option[String] = None, accessTokenSecret: Option[String] = None, ageRestriction: Option[Int] = None, responseFilters: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, emailMatch: Option[Boolean] = None, chosenAccountId: Option[Long] = None, thirdPartyCredentialId: Option[Long] = None): ApiRequest[ProfileResponse] =
    ApiRequest[ProfileResponse](ApiMethods.POST, baseUrl, "/account/login", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("deviceIdType", deviceIdType)
      .withQueryParam("accessToken", accessToken)
      .withQueryParam("accessTokenSecret", accessTokenSecret)
      .withQueryParam("networkUID", networkUID)
      .withQueryParam("appKey", appKey)
      .withQueryParam("ageRestriction", ageRestriction)
      .withQueryParam("responseFilters", responseFilters)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("emailMatch", emailMatch)
      .withQueryParam("chosenAccountId", chosenAccountId)
      .withQueryParam("thirdPartyCredentialId", thirdPartyCredentialId)
      .withSuccessResponse[ProfileResponse](200)
      

  /**
   * Login to system with an account
   * 
   * Expected answers:
   *   code 200 : ProfileResponse (successful operation)
   * 
   * @param username the user's email address they used to sign-up
   * @param password the password
   * @param deviceId the device id
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @param app the app
   * @param gameType This parameter is deprecated. This is deprecated, use appKey.
   * @param appKey the application key
   * @param returnProfile the profile to return
   * @param responseFilters a comma separated list of ProfileFilters for filtering the returned response data
   */
  def loginUsername(username: String, password: String, deviceId: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, app: Option[String] = None, gameType: Option[String] = None, appKey: Option[String] = None, returnProfile: Option[Boolean] = None, responseFilters: Option[String] = None): ApiRequest[ProfileResponse] =
    ApiRequest[ProfileResponse](ApiMethods.POST, baseUrl, "/account/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("username", username)
      .withQueryParam("password", password)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("app", app)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("returnProfile", returnProfile)
      .withQueryParam("responseFilters", responseFilters)
      .withSuccessResponse[ProfileResponse](200)
      

  /**
   * Cleans up the users data for logging out.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param deviceIdType Device Id Type
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   */
  def logout(deviceId: Option[String] = None, deviceIdType: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/logout", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("deviceIdType", deviceIdType)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Merges the analytics, achievements, leaderboards of two accounts.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param mergeAccountId The id of the account to being merged
   * @param appKey The application key
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   */
  def mergeAccount(mergeAccountId: Long, appKey: String, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/merge", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("mergeAccountId", mergeAccountId)
      .withQueryParam("appKey", appKey)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Update the account password.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId The account to update
   * @param oldPassword The current password, used to validate access
   * @param newPassword The new password to set, cannot be empty
   * @param confirmPassword The new password to confirm, must match newPassword
   */
  def passwordChange(accountId: Long, oldPassword: String, newPassword: String, confirmPassword: String): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/passwordchange", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("oldPassword", oldPassword)
      .withQueryParam("newPassword", newPassword)
      .withQueryParam("confirmPassword", confirmPassword)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Reset the account password. The token must be valid and not expired. Use the RequestPasswordReset end point to request a token.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param token The token associated with the account to update, good for 24 hours
   * @param password The new password to set, cannot be empty
   * @param confirm The new password to confirm, must match newPassword
   */
  def passwordReset(token: String, password: String, confirm: String): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/passwordreset", "application/json")
      .withQueryParam("token", token)
      .withQueryParam("password", password)
      .withQueryParam("confirm", confirm)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Request that an account password be reset. The account is looked up by email address and then a link is sent via email to that account with a reset token. The token is valid for 24 hours.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param email The email/username of the account
   * @param from this is the sender email
   * @param domain this is the domain (like dev.sirqul.com) used to generate the password reset link
   * @param subUrl this is the the subUrl (like resetpassword) used to generate a password reset link
   * @param referer this is used to generate a password reset link
   */
  def requestPasswordReset(email: String, from: Option[String] = None, domain: Option[String] = None, subUrl: Option[String] = None, referer: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/requestpasswordreset", "application/json")
      .withQueryParam("email", email)
      .withQueryParam("from", from)
      .withQueryParam("domain", domain)
      .withQueryParam("subUrl", subUrl)
      .withQueryParam("referer", referer)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Send an email to validate a user's account.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId The account id of the user
   */
  def requestValidateAccount(accountId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/requestValidateAccount", "application/json")
      .withQueryParam("accountId", accountId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Search for account profiles.
   * 
   * Expected answers:
   *   code 200 : Seq[ProfileResponse] (successful operation)
   * 
   * @param accountId The id of the account requesting
   * @param appKey The application key
   * @param keyword The keyword for for querying the account
   * @param latitude the latitude
   * @param longitude the longitude
   * @param radius the radius
   * @param gender the user's gender
   * @param gameExperience the user's Game Experience
   * @param age the user's age
   * @param categoryIds the user's Category Ids
   * @param returnNulls Return Nulls
   * @param responseFilters A comma separated list of ProfileFilters for filtering the returned response data
   * @param purchaseType A comma separated list of PurchaseType
   * @param sortField The field to sort by
   * @param descending The order to return the results. Default is false, which will return the results in ascending order.
   * @param start The index into the record set to start with.
   * @param limit The total number of record to return.
   * @param activeOnly Determines whether to return only active results. Default is false.
   */
  def searchAccounts(accountId: Long, appKey: String, keyword: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, radius: Option[Double] = None, gender: Option[String] = None, gameExperience: Option[String] = None, age: Option[Int] = None, categoryIds: Option[String] = None, returnNulls: Option[Boolean] = None, responseFilters: Option[String] = None, purchaseType: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None, activeOnly: Option[Boolean] = None): ApiRequest[Seq[ProfileResponse]] =
    ApiRequest[Seq[ProfileResponse]](ApiMethods.GET, baseUrl, "/account/profile/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("keyword", keyword)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("radius", radius)
      .withQueryParam("gender", gender)
      .withQueryParam("gameExperience", gameExperience)
      .withQueryParam("age", age)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("returnNulls", returnNulls)
      .withQueryParam("responseFilters", responseFilters)
      .withQueryParam("purchaseType", purchaseType)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[ProfileResponse]](200)
      

  /**
   * ogin with encrypted user-name and password.
   * 
   * Expected answers:
   *   code 200 : ProfileResponse (successful operation)
   * 
   * @param username The user's encrypted email address they used to sign-up
   * @param password The encrypted password
   * @param gameType The application key
   * @param deviceId The device id
   * @param charsetName Charset Name
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   * @param returnProfile Return Profile
   * @param responseFilters A comma separated list of ProfileFilters for filtering the returned response data
   */
  def secureLogin(username: String, password: String, gameType: String, deviceId: Option[String] = None, charsetName: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, returnProfile: Option[Boolean] = None, responseFilters: Option[String] = None): ApiRequest[ProfileResponse] =
    ApiRequest[ProfileResponse](ApiMethods.POST, baseUrl, "/account/login/validate", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("username", username)
      .withQueryParam("password", password)
      .withQueryParam("gameType", gameType)
      .withQueryParam("charsetName", charsetName)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("returnProfile", returnProfile)
      .withQueryParam("responseFilters", responseFilters)
      .withSuccessResponse[ProfileResponse](200)
      

  /**
   * Create a new account by role (with encrypted user-name and password)
   * 
   * Expected answers:
   *   code 200 : ProfileInfoResponse (successful operation)
   * 
   * @param deviceId The device id
   * @param username The encrypted email of the user, this is what will be used when they login
   * @param password The encrypted password of the user
   * @param name The full name of the user. If this parameter is not empty, the  following parameters will be ignored: prefixName, firstName, middleName,  lastName, and suffixName 
   * @param inviteToken the inviteToken that the referrer use for this account to sign up
   * @param prefixName If the parameter 'name' is empty or not present, this field will be used to set the prefix of the user's name
   * @param firstName If the parameter 'name' is empty or not present, this field will be used to set the user's first name
   * @param middleName If the parameter 'name' is empty or not present, this field will be used to set the user's middle name
   * @param lastName If the parameter 'name' is empty or not present, this field will be used to set the user's last name
   * @param suffixName If the parameter 'name' is empty or not present, this field will be used to set the suffix of the user's name
   * @param title Title
   * @param deviceIdType Device Id Type
   * @param emailAddress The user's contact email address (NOT the username) which is also used for email validation
   * @param assetId The asset id to set the user's profile image
   * @param address the user's address
   * @param zipcode The street zipcode of the user's contact location
   * @param gender The gender of the user AudienceGender
   * @param birthday The birthday date of the user in milliseconds
   * @param homePhone the user's home phone number
   * @param cellPhone the user's cell phone number
   * @param cellPhoneCarrier the user's Cell Phone Carrier
   * @param businessPhone the user's Business Phone Number
   * @param role The type of account being created {RETAILER, MEMBER, DEVELOPER, GUEST
   * @param platforms Comma separated list of development platforms: MAC, WINDOWS, IOS, ANDROID, WINDOWSPHONE, KINDLE, UNITY3D, COCOS2D, HTML5, FACEBOOK
   * @param tags Search tags
   * @param aboutUs About Us information
   * @param gameExperience Game experience level of the user {ANY, NEW, BEGINNER, INTERMEDIATE, EXPERT
   * @param categoryIds A list of category ids that represent interests and associations
   * @param hometown The user's hometown
   * @param height The user's height
   * @param heightIndex The user's height in a numerical value that can be used for ordering/searching
   * @param ethnicity The user's ethnicity
   * @param bodyType The user's body type
   * @param maritalStatus The user's maritial status
   * @param children The user's children status
   * @param religion The user's religion
   * @param education The user's education
   * @param educationIndex The user's education in a numerical value that can be used for ordering/searching
   * @param smoke The user's smoke status
   * @param drink The user's drink status
   * @param companionship The user's companionship status
   * @param companionshipIndex The user's companionship index
   * @param preferredMinAge The preferred minimum age in the account location search
   * @param preferredMaxAge The preferred maximum age in the account location search
   * @param preferredMinHeight The preferred minimum height in the account location search
   * @param preferredMaxHeight The preferred maximum height in the account location search
   * @param preferredGender The preferred gender in the account location search
   * @param preferredEducation The preferred education in the account location search
   * @param preferredEducationIndex The preferred education in a numerical value that can be used for ordering/searching
   * @param preferredBodyType The preferred body type in the account location search
   * @param preferredEthnicity The preferred ethnicity in the account location search
   * @param preferredLocation The preferred education in the account location search
   * @param preferredLocationRange The preferred location range in the account location search
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   * @param acceptedTerms Accepted Terms
   * @param charsetName Charset Name
   * @param gameType Game Type
   * @param appKey The application key
   * @param appVersion App Version
   * @param responseType Response Type
   */
  def secureSignup(deviceId: String, username: String, password: String, name: Option[String] = None, inviteToken: Option[String] = None, prefixName: Option[String] = None, firstName: Option[String] = None, middleName: Option[String] = None, lastName: Option[String] = None, suffixName: Option[String] = None, title: Option[String] = None, deviceIdType: Option[String] = None, emailAddress: Option[String] = None, assetId: Option[Long] = None, address: Option[String] = None, zipcode: Option[String] = None, gender: Option[String] = None, birthday: Option[Long] = None, homePhone: Option[String] = None, cellPhone: Option[String] = None, cellPhoneCarrier: Option[String] = None, businessPhone: Option[String] = None, role: Option[String] = None, platforms: Option[String] = None, tags: Option[String] = None, aboutUs: Option[String] = None, gameExperience: Option[String] = None, categoryIds: Option[String] = None, hometown: Option[String] = None, height: Option[String] = None, heightIndex: Option[Int] = None, ethnicity: Option[String] = None, bodyType: Option[String] = None, maritalStatus: Option[String] = None, children: Option[String] = None, religion: Option[String] = None, education: Option[String] = None, educationIndex: Option[Int] = None, smoke: Option[String] = None, drink: Option[String] = None, companionship: Option[String] = None, companionshipIndex: Option[Int] = None, preferredMinAge: Option[Int] = None, preferredMaxAge: Option[Int] = None, preferredMinHeight: Option[Int] = None, preferredMaxHeight: Option[Int] = None, preferredGender: Option[String] = None, preferredEducation: Option[String] = None, preferredEducationIndex: Option[Int] = None, preferredBodyType: Option[String] = None, preferredEthnicity: Option[String] = None, preferredLocation: Option[String] = None, preferredLocationRange: Option[Double] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, acceptedTerms: Option[Boolean] = None, charsetName: Option[String] = None, gameType: Option[String] = None, appKey: Option[String] = None, appVersion: Option[String] = None, responseType: Option[String] = None): ApiRequest[ProfileInfoResponse] =
    ApiRequest[ProfileInfoResponse](ApiMethods.POST, baseUrl, "/account/create/validate", "application/json")
      .withQueryParam("name", name)
      .withQueryParam("inviteToken", inviteToken)
      .withQueryParam("prefixName", prefixName)
      .withQueryParam("firstName", firstName)
      .withQueryParam("middleName", middleName)
      .withQueryParam("lastName", lastName)
      .withQueryParam("suffixName", suffixName)
      .withQueryParam("title", title)
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("deviceIdType", deviceIdType)
      .withQueryParam("username", username)
      .withQueryParam("password", password)
      .withQueryParam("emailAddress", emailAddress)
      .withQueryParam("assetId", assetId)
      .withQueryParam("address", address)
      .withQueryParam("zipcode", zipcode)
      .withQueryParam("gender", gender)
      .withQueryParam("birthday", birthday)
      .withQueryParam("homePhone", homePhone)
      .withQueryParam("cellPhone", cellPhone)
      .withQueryParam("cellPhoneCarrier", cellPhoneCarrier)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("role", role)
      .withQueryParam("platforms", platforms)
      .withQueryParam("tags", tags)
      .withQueryParam("aboutUs", aboutUs)
      .withQueryParam("gameExperience", gameExperience)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("hometown", hometown)
      .withQueryParam("height", height)
      .withQueryParam("heightIndex", heightIndex)
      .withQueryParam("ethnicity", ethnicity)
      .withQueryParam("bodyType", bodyType)
      .withQueryParam("maritalStatus", maritalStatus)
      .withQueryParam("children", children)
      .withQueryParam("religion", religion)
      .withQueryParam("education", education)
      .withQueryParam("educationIndex", educationIndex)
      .withQueryParam("smoke", smoke)
      .withQueryParam("drink", drink)
      .withQueryParam("companionship", companionship)
      .withQueryParam("companionshipIndex", companionshipIndex)
      .withQueryParam("preferredMinAge", preferredMinAge)
      .withQueryParam("preferredMaxAge", preferredMaxAge)
      .withQueryParam("preferredMinHeight", preferredMinHeight)
      .withQueryParam("preferredMaxHeight", preferredMaxHeight)
      .withQueryParam("preferredGender", preferredGender)
      .withQueryParam("preferredEducation", preferredEducation)
      .withQueryParam("preferredEducationIndex", preferredEducationIndex)
      .withQueryParam("preferredBodyType", preferredBodyType)
      .withQueryParam("preferredEthnicity", preferredEthnicity)
      .withQueryParam("preferredLocation", preferredLocation)
      .withQueryParam("preferredLocationRange", preferredLocationRange)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("acceptedTerms", acceptedTerms)
      .withQueryParam("charsetName", charsetName)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("appVersion", appVersion)
      .withQueryParam("responseType", responseType)
      .withSuccessResponse[ProfileInfoResponse](200)
      

  /**
   * Save user's match token to be used for profile match making
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param matchToken A string of numbers
   * @param gameType Game Type (deprecated)
   * @param appKey The application key
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   */
  def setMatchToken(deviceId: Option[String] = None, accountId: Option[Long] = None, matchToken: Option[String] = None, gameType: Option[String] = None, appKey: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/consumer/profile/matchToken", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("matchToken", matchToken)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Activate or deactivate an account (requires appropriate permissions).
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param connectionAccountId The account id of the user you want to modify (if this is not set, then the accountId parameter will be used instead)
   * @param active true will activate the user and false will deactivate
   * @param deviceId the device id (deviceId or accountId required)
   * @param appKey the application key that the user belongs to
   */
  def updateActveStatus(accountId: Long, connectionAccountId: Long, active: Boolean, deviceId: Option[String] = None, appKey: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/active/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("connectionAccountId", connectionAccountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("active", active)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Update the account location
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   * @param clientTime The time of the update
   */
  def updateLocation(deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, clientTime: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/location/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("clientTime", clientTime)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Update the account settings for a user
   * 
   * Expected answers:
   *   code 200 : UserSettingsResponse (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param blockedNotifications The notifications to be blocked
   * @param suggestionMethod How suggestions are to be sent (APNS, MOBILE_NOTIFICATION, SMS)
   * @param suggestionCount How many suggestions to receive per time frame
   * @param suggestionTimeFrame The time frame in seconds, 3600 would be a 1 hour time frame
   * @param showOthersExactLocation Show Others Exact Location
   * @param showAsZipcode Show As Zipcode
   * @param showExactLocation Show Exact Location
   * @param favoriteVisibility Show favorites
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   */
  def updateSettings(deviceId: Option[String] = None, accountId: Option[Long] = None, blockedNotifications: Option[String] = None, suggestionMethod: Option[String] = None, suggestionCount: Option[Int] = None, suggestionTimeFrame: Option[Int] = None, showOthersExactLocation: Option[Boolean] = None, showAsZipcode: Option[Boolean] = None, showExactLocation: Option[Boolean] = None, favoriteVisibility: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[UserSettingsResponse] =
    ApiRequest[UserSettingsResponse](ApiMethods.POST, baseUrl, "/account/settings/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("blockedNotifications", blockedNotifications)
      .withQueryParam("suggestionMethod", suggestionMethod)
      .withQueryParam("suggestionCount", suggestionCount)
      .withQueryParam("suggestionTimeFrame", suggestionTimeFrame)
      .withQueryParam("showOthersExactLocation", showOthersExactLocation)
      .withQueryParam("showAsZipcode", showAsZipcode)
      .withQueryParam("showExactLocation", showExactLocation)
      .withQueryParam("favoriteVisibility", favoriteVisibility)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[UserSettingsResponse](200)
      

  /**
   * Validate the account's email address. The token must be valid and not expired. Use the RequestValidateAccount end point to request a new token.
   * 
   * Expected answers:
   *   code 200 : AccountLoginResponse (successful operation)
   * 
   * @param token The token associated with the account to update, good for 24 hours
   */
  def validateAccountSignup(token: String): ApiRequest[AccountLoginResponse] =
    ApiRequest[AccountLoginResponse](ApiMethods.POST, baseUrl, "/account/validateAccountSignup", "application/json")
      .withQueryParam("token", token)
      .withSuccessResponse[AccountLoginResponse](200)
      

  /**
   * Validate the password reset token. The token must be valid and not expired. Use the RequestPasswordReset end point to request a token. The user receives and email with the reset page, therefore it should be validated before bwing used to reset the password.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param token The token associated with the account to update, good for 24 hours
   */
  def validatePasswordReset(token: String): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/account/validatepasswordreset", "application/json")
      .withQueryParam("token", token)
      .withSuccessResponse[SirqulResponse](200)
      



}

