/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ActivityResponse
import org.openapitools.client.model.EntityReference
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ActivityApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ActivityApi(baseUrl)
}

class ActivityApi(baseUrl: String) {

  /**
   * Creates a reference for an entity for syncing data between servers.
   * 
   * Expected answers:
   *   code 200 : ActivityResponse (successful operation)
   * 
   * @param body The entity reference object
   */
  def createEntityReference(body: EntityReference): ApiRequest[ActivityResponse] =
    ApiRequest[ActivityResponse](ApiMethods.POST, baseUrl, "/entity/reference", "application/json")
      .withBody(body)
      .withSuccessResponse[ActivityResponse](200)
      



}

