/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AppResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AppDataApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new AppDataApi(baseUrl)
}

class AppDataApi(baseUrl: String) {

  /**
   * Get the application data structure.  The basic structure is a   node tree, with the root node being a AppResponse.  The response contains   the user's profile, messages from the system, and a list of MissionResponse.    A mission can have any number of GameResponses but typically is a single   game type.  A game then has any number of PackResponses which help group   the game levels. Packs are then composed of any number of GameLevelResponses.     Using the various parameters can return the applications default mission   (built-in packs to play), the list of community levels published, the user's   saved levels, or explicity levels desired.  You can choose to include the   profile or not, or just return parts of the profile.  You can also filter   out game levels that have been published with a higher version of the application.
   * 
   * Expected answers:
   *   code 200 : AppResponse (successful operation)
   * 
   * @param start start the search results at a record.
   * @param limit limit the search results to some number.
   * @param deviceId the device id (deviceId or accountId required).
   * @param accountId the account id of the user (deviceId or accountId required).
   * @param gameType the game to retrieve the data for, use your application key.
   * @param includeGameData if true then include the game data blob, otherwise don't include.
   * @param `q` This parameter is deprecated.
   * @param keyword query string used to filter the search results when looking for community and saved levels.
   * @param sortField how to sort the results when looking for community and saved levels. possible values are: LEVEL_NAME, LEVEL_CREATED, LEVEL_UPDATED, LEVEL_LIKES, LEVEL_DISLIKES, LEVEL_NOTES, LEVEL_PLAYS.
   * @param descending order the search results descending or ascending when looking for community and saved levels.
   * @param `i` This parameter is deprecated.
   * @param `l` This parameter is deprecated.
   * @param gameObjectCount if true then include the game object count, otherwise don't include.
   * @param filter restrict the search to items with certain permissions, possible values are: MINE, FRIENDS, PUBLIC, ALL_PUBLIC, ALL, LIKED
   * @param dateCreated restrict the search to items created less then date
   * @param ownerId get levels owned by a particular account
   * @param missionIds get missions by specified id, comman seperated list of long ids
   * @param gameIds get games by specified id, comman seperated list of long ids
   * @param packIds get packs by specified id, comman seperated list of long ids
   * @param gameLevelIds get game levels by specified id, comman seperated list of long ids
   * @param appVersion the application version, used to versin the game level data
   * @param includeHigherVersionPacks default is false and will not include any packs that have levels above the specified appVersion. If true then will return all levels regardless of version.
   * @param includeHigherVersionLevels default is false and will not include any levels above the specified appVersion. If true then will return all levels regardless of version.
   * @param responseGroups use response groups to include large parts of the structure. possible values are: * MISSION_DEFAULT (default) - include the default mission (built-in packs), excludes all other mission groups * MISSION_DEFAULT_LEVELS_SAVED - include saved levels, excludes all other mission groups * MISSION_DEFAULT_LEVELS_COMMUNITY - include community levels, excludes all other mission groups * MISSION_INVITED (default) - include challenges sent to user * PROFILE (default) - include entire profile * PROFILE_DATA - only include profile date (exclude friends) * PROFILE_FRIENDS - include friends list 
   * @param purchaseType the will return the correct in app purchases for the device, possible values are: * SIRQUL (default) - purchasing from the sirqul store using tickets * IOS - purchasing from the itunes store for iPhone, iPod, iPod Touch * GOOGLE - purchasing from the google android store * AMAZON - purchasing from the amazon android store * MAC - purchasing from the itunes store for OSX * FREE - the item is free to purchase 
   */
  def getAppData(start: Int, limit: Int, deviceId: Option[String] = None, accountId: Option[Long] = None, gameType: Option[String] = None, includeGameData: Option[Boolean] = None, `q`: Option[String] = None, keyword: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, `i`: Option[Int] = None, `l`: Option[Int] = None, gameObjectCount: Option[Boolean] = None, filter: Option[String] = None, dateCreated: Option[Long] = None, ownerId: Option[Long] = None, missionIds: Option[String] = None, gameIds: Option[String] = None, packIds: Option[String] = None, gameLevelIds: Option[String] = None, appVersion: Option[String] = None, includeHigherVersionPacks: Option[Boolean] = None, includeHigherVersionLevels: Option[Boolean] = None, responseGroups: Option[String] = None, purchaseType: Option[String] = None): ApiRequest[AppResponse] =
    ApiRequest[AppResponse](ApiMethods.GET, baseUrl, "/app/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("gameType", gameType)
      .withQueryParam("includeGameData", includeGameData)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withQueryParam("gameObjectCount", gameObjectCount)
      .withQueryParam("filter", filter)
      .withQueryParam("dateCreated", dateCreated)
      .withQueryParam("ownerId", ownerId)
      .withQueryParam("missionIds", missionIds)
      .withQueryParam("gameIds", gameIds)
      .withQueryParam("packIds", packIds)
      .withQueryParam("gameLevelIds", gameLevelIds)
      .withQueryParam("appVersion", appVersion)
      .withQueryParam("includeHigherVersionPacks", includeHigherVersionPacks)
      .withQueryParam("includeHigherVersionLevels", includeHigherVersionLevels)
      .withQueryParam("responseGroups", responseGroups)
      .withQueryParam("purchaseType", purchaseType)
      .withSuccessResponse[AppResponse](200)
      

  /**
   * Publish the application data structure.  Can be used to save levels   and scores.  It then returns the application data structure.  The basic   structure is a node tree, with the root node being a AppResponse.  The response   contains the user's profile, messages from the system, and a list of MissionResponse.    A mission can have any number of GameResponses but typically is a single   game type.  A game then has any number of PackResponses which help group   the game levels. Packs are then composed of any number of GameLevelResponses.      Using the various parameters can return the applications default mission   (built-in packs to play), the list of community levels published, the user's   saved levels, or explicity levels desired.  You can choose to include the   profile or not, or just return parts of the profile.  You can also filter   out game levels that have been published with a higher version of the application
   * 
   * Expected answers:
   *   code 200 : AppResponse (successful operation)
   * 
   * @param gameType the game to retrieve the data for, use your application key.
   * @param start start the search results at a record.
   * @param limit limit the search results to some number.
   * @param data The analytic data AnalyticListResponse
   * @param deviceId the device id (deviceId or accountId required).
   * @param accountId the account id of the user (deviceId or accountId required).
   * @param includeGameData if true then include the game data blob, otherwise don't include.
   * @param `q` This parameter is deprecated.
   * @param keyword query string used to filter the search results when looking for community and saved levels.
   * @param sortField how to sort the results when looking for community and saved levels. possible values are: LEVEL_NAME, LEVEL_CREATED, LEVEL_UPDATED, LEVEL_LIKES, LEVEL_DISLIKES, LEVEL_NOTES, LEVEL_PLAYS.
   * @param descending order the search results descending or ascending when looking for community and saved levels.
   * @param `i` This parameter is deprecated.
   * @param `l` This parameter is deprecated.
   * @param gameObjectCount if true then include the game object count, otherwise don't include.
   * @param filter restrict the search to items with certain permissions, possible values are: MINE, FRIENDS, PUBLIC, ALL_PUBLIC, ALL, LIKED
   * @param dateCreated restrict the search to items created less then date
   * @param ownerId get levels owned by a particular account
   * @param missionIds get missions by specified id, comman seperated list of long ids
   * @param gameIds get games by specified id, comman seperated list of long ids
   * @param packIds get packs by specified id, comman seperated list of long ids
   * @param gameLevelIds get game levels by specified id, comman seperated list of long ids
   * @param appVersion the application version, used to versin the game level data
   * @param includeHigherVersionPacks default is false and will not include any packs that have levels above the specified appVersion. If true then will return all levels regardless of version.
   * @param includeHigherVersionLevels default is false and will not include any levels above the specified appVersion. If true then will return all levels regardless of version.
   * @param responseGroups use response groups to include large parts of the structure. possible values are: * MISSION_DEFAULT (default) - include the default mission (built-in packs), excludes all other mission groups * MISSION_DEFAULT_LEVELS_SAVED - include saved levels, excludes all other mission groups * MISSION_DEFAULT_LEVELS_COMMUNITY - include community levels, excludes all other mission groups * MISSION_INVITED (default) - include challenges sent to user * PROFILE (default) - include entire profile * PROFILE_DATA - only include profile date (exclude friends) * PROFILE_FRIENDS - include friends list 
   * @param purchaseType the will return the correct in app purchases for the device, possible values are: * SIRQUL (default) - purchasing from the sirqul store using tickets * IOS - purchasing from the itunes store for iPhone, iPod, iPod Touch * GOOGLE - purchasing from the google android store * AMAZON - purchasing from the amazon android store * MAC - purchasing from the itunes store for OSX * FREE - the item is free to purchase 
   */
  def postAppData(gameType: String, start: Int, limit: Int, data: String, deviceId: Option[String] = None, accountId: Option[Long] = None, includeGameData: Option[Boolean] = None, `q`: Option[String] = None, keyword: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, `i`: Option[Int] = None, `l`: Option[Int] = None, gameObjectCount: Option[Boolean] = None, filter: Option[String] = None, dateCreated: Option[Long] = None, ownerId: Option[Long] = None, missionIds: Option[String] = None, gameIds: Option[String] = None, packIds: Option[String] = None, gameLevelIds: Option[String] = None, appVersion: Option[String] = None, includeHigherVersionPacks: Option[Boolean] = None, includeHigherVersionLevels: Option[Boolean] = None, responseGroups: Option[String] = None, purchaseType: Option[String] = None): ApiRequest[AppResponse] =
    ApiRequest[AppResponse](ApiMethods.POST, baseUrl, "/app/post", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("gameType", gameType)
      .withQueryParam("includeGameData", includeGameData)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withQueryParam("gameObjectCount", gameObjectCount)
      .withQueryParam("filter", filter)
      .withQueryParam("dateCreated", dateCreated)
      .withQueryParam("ownerId", ownerId)
      .withQueryParam("missionIds", missionIds)
      .withQueryParam("gameIds", gameIds)
      .withQueryParam("packIds", packIds)
      .withQueryParam("gameLevelIds", gameLevelIds)
      .withQueryParam("appVersion", appVersion)
      .withQueryParam("includeHigherVersionPacks", includeHigherVersionPacks)
      .withQueryParam("includeHigherVersionLevels", includeHigherVersionLevels)
      .withQueryParam("responseGroups", responseGroups)
      .withQueryParam("purchaseType", purchaseType)
      .withQueryParam("data", data)
      .withSuccessResponse[AppResponse](200)
      

  /**
   * Regenerate the app data cache for apps
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the account id of the user
   * @param appKey process a specific application, if null process all apps with caches
   * @param buildVersion create a specific version, if null use current version. Be careful if processing all
   * @param apiVersion create a specific version, if null use current version. Be careful if processing all
   */
  def regenAppData(accountId: Option[Long] = None, appKey: Option[String] = None, buildVersion: Option[String] = None, apiVersion: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/app/regen", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("buildVersion", buildVersion)
      .withQueryParam("apiVersion", apiVersion)
      .withSuccessResponse[SirqulResponse](200)
      



}

