/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ApplicationConfigResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ApplicationConfigApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ApplicationConfigApi(baseUrl)
}

class ApplicationConfigApi(baseUrl: String) {

  /**
   * Creates a new application configuration. If the configVersion provided already exists for the given app, an invalid response is returned and the application configuration won't be created.
   * 
   * Expected answers:
   *   code 200 : ApplicationConfigResponse (successful operation)
   * 
   * @param accountId The account ID of the user
   * @param appKey The application key that the newly created applicationConfig will be associated to
   * @param configVersion The application configuration, has to be unique within the application
   * @param assetId The json assetId that stores the configuration detail.
   * @param retailerId The retailer id for retailer specific configurations
   * @param retailerLocationId The retailer location id for retailer location specific configurations
   * @param udid The device udid for device specific configurations
   */
  def createApplicationConfig(accountId: Long, appKey: String, configVersion: String, assetId: Long, retailerId: Option[Long] = None, retailerLocationId: Option[Long] = None, udid: Option[String] = None): ApiRequest[ApplicationConfigResponse] =
    ApiRequest[ApplicationConfigResponse](ApiMethods.POST, baseUrl, "/appconfig/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("configVersion", configVersion)
      .withQueryParam("assetId", assetId)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("udid", udid)
      .withSuccessResponse[ApplicationConfigResponse](200)
      

  /**
   * Mark the application configuration for deletion.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId The account ID of the user
   * @param configId The config ID of the application configuration to delete
   */
  def deleteApplicationConfig(accountId: Long, configId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/appconfig/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("configId", configId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Gets the appConfig data by the given configId. If appConfig cannot be found, it returns an invalid response.
   * 
   * Expected answers:
   *   code 200 : ApplicationConfigResponse (successful operation)
   * 
   * @param accountId The account ID of the user
   * @param configId The config ID of the application configuration
   */
  def getApplicationConfig(accountId: Long, configId: Long): ApiRequest[ApplicationConfigResponse] =
    ApiRequest[ApplicationConfigResponse](ApiMethods.GET, baseUrl, "/appconfig/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("configId", configId)
      .withSuccessResponse[ApplicationConfigResponse](200)
      

  /**
   * Gets the appConfig data by the given appKey and app configVersion number.If the appKey is is invalid or appConfig is not found, it returns an invalid response. 
   * 
   * Expected answers:
   *   code 200 : ApplicationConfigResponse (successful operation)
   * 
   * @param appKey The application key
   * @param configVersion The version of the application configuration
   * @param retailerId Only returns the config that matches the given retailer
   * @param retailerLocationId Only returns the config that matches the given retailer location
   * @param udid Only returns only returns the config that matches the given device udid
   * @param allowOlderVersions Determines whether to return older config versions if the exact version is not found. If this happens, will try to return the latest version.
   */
  def getApplicationConfigByConfigVersion(appKey: String, configVersion: String, retailerId: Option[Long] = None, retailerLocationId: Option[Long] = None, udid: Option[String] = None, allowOlderVersions: Option[Boolean] = None): ApiRequest[ApplicationConfigResponse] =
    ApiRequest[ApplicationConfigResponse](ApiMethods.GET, baseUrl, "/appconfig/getbyversion", "application/json")
      .withQueryParam("appKey", appKey)
      .withQueryParam("configVersion", configVersion)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("udid", udid)
      .withQueryParam("allowOlderVersions", allowOlderVersions)
      .withSuccessResponse[ApplicationConfigResponse](200)
      

  /**
   * Gets all versions of application configurations in a particular app by the given appKey.
   * 
   * Expected answers:
   *   code 200 : Seq[ApplicationConfigResponse] (successful operation)
   * 
   * @param accountId The account ID of the user
   * @param appKey The application key to filter results by application Leaving this empty will return all application configurations for all applications (executive user only)
   * @param retailerId Only returns the configs that matches the given retailer
   * @param retailerLocationId Only returns the configs that matches the given retailer location
   * @param udid Only returns only returns the configs that matches the given device udid
   * @param configVersion Config Version
   * @param sortField Orders the results by: CREATED, UPDATED, ACTIVE, APPLICATION_ID,  APPLICATION_KEY, APPLICATION_NAME, RETAILER_NAME, RETAILER_ID, RETAILER_LOCATION_NAME,  RETAILER_LOCATION_ID, OFFER_TITLE, OFFER_ID, OFFER_LOCATION_ID, CONFIG_VERSION_MINOR,  CONFIG_VERSION_MAJOR, CONFIG_VERSION_INDEX 
   * @param descending Determines whether the results are in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination (There is a hard limit of 100)
   */
  def searchApplicationConfig(accountId: Long, appKey: Option[String] = None, retailerId: Option[Long] = None, retailerLocationId: Option[Long] = None, udid: Option[String] = None, configVersion: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[Seq[ApplicationConfigResponse]] =
    ApiRequest[Seq[ApplicationConfigResponse]](ApiMethods.GET, baseUrl, "/appconfig/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("udid", udid)
      .withQueryParam("configVersion", configVersion)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[ApplicationConfigResponse]](200)
      

  /**
   * pdates an existing application configuration. If the configVersion provided already exists for the given app the application configuration won't be updated.
   * 
   * Expected answers:
   *   code 200 : ApplicationConfigResponse (successful operation)
   * 
   * @param accountId The account ID of the user
   * @param configId The config ID of the application configuration to update
   * @param appKey The application key that the updated applicationConfig will be associated to
   * @param configVersion The application configuration, has to be unique within the application
   * @param assetId The json assetId that stores the configuration detail.
   * @param retailerId The retailer id for retailer specific configurations
   * @param retailerLocationId The retailer location id for retailer location specific configurations
   * @param udid The device udid for device specific configurations
   */
  def updateApplicationConfig(accountId: Long, configId: Long, appKey: Option[String] = None, configVersion: Option[String] = None, assetId: Option[Long] = None, retailerId: Option[Long] = None, retailerLocationId: Option[Long] = None, udid: Option[String] = None): ApiRequest[ApplicationConfigResponse] =
    ApiRequest[ApplicationConfigResponse](ApiMethods.POST, baseUrl, "/appconfig/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("configId", configId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("configVersion", configVersion)
      .withQueryParam("assetId", assetId)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("udid", udid)
      .withSuccessResponse[ApplicationConfigResponse](200)
      



}

