/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AssetFullResponse
import org.openapitools.client.model.AssetResponse
import org.openapitools.client.model.AssetShortResponse
import java.io.File
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object AssetApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new AssetApi(baseUrl)
}

class AssetApi(baseUrl: String) {

  /**
   * Downloads an asset from the server for assets that have been uploaded to the server.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param filename the filename in the following formats: {assetId}-{suffix}.{extension} | {assetId}.{extension} | {assetId}
   */
  def assetDownload(filename: String): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.GET, baseUrl, "/asset/download/{filename}", "application/json")
      .withPathParam("filename", filename)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Converts an offer image + text into a creative image.
   * 
   * Expected answers:
   *   code 200 : AssetShortResponse (successful operation)
   * 
   * @param offerId offer id used for inserting offer text/flavor
   * @param adSize the ad size used for selecting a format for the creative image
   * @param creativeId used for inserting the newly created image into
   * @param width total width of the creative image
   * @param height total height of the creative image
   * @param backgroundSize the size of the background
   * @param template the template to use
   */
  def assetMorph(offerId: Long, adSize: String, creativeId: Option[Long] = None, width: Option[Int] = None, height: Option[Int] = None, backgroundSize: Option[String] = None, template: Option[String] = None): ApiRequest[AssetShortResponse] =
    ApiRequest[AssetShortResponse](ApiMethods.POST, baseUrl, "/asset/morph", "application/json")
      .withQueryParam("offerId", offerId)
      .withQueryParam("creativeId", creativeId)
      .withQueryParam("adSize", adSize)
      .withQueryParam("width", width)
      .withQueryParam("height", height)
      .withQueryParam("backgroundSize", backgroundSize)
      .withQueryParam("template", template)
      .withSuccessResponse[AssetShortResponse](200)
      

  /**
   * Uploads an asset to server and returns an asset id which can be used to assign to various objects.
   * 
   * Expected answers:
   *   code 200 : AssetResponse (successful operation)
   * 
   * @param returnNulls to return nulls
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param albumId the album the asset will be added to (optional)
   * @param collectionId Deprecated: use collections via the collection endpoints.
   * @param addToDefaultAlbum Whether to add to a default album
   * @param addToMediaLibrary Whether to add to the media library
   * @param versionCode the version code
   * @param versionName the version name
   * @param metaData External custom client defined data
   * @param caption the caption (optional)
   * @param assetType the asset type
   * @param approvalStatus approval status for the asset
   * @param assignedAccountId account id assigned to the asset
   * @param media a MultipartFile containing the mimetype, etc
   * @param mediaUrl this can be used if the \"media\" is a link (optional)
   * @param mediaString the media content as a string (optional)
   * @param mediaStringFileName file name for mediaString (optional)
   * @param mediaStringContentType content type for mediaString (optional)
   * @param mediaHeight the media height (optional)
   * @param mediaWidth the media width (optional)
   * @param attachedMedia a MultipartFile containing an asset that the \"media\" file references (optional). Example: to upload a video the \"media\" file should contain a screen capture and the \"attachedMedia\" should be the actual video.
   * @param attachedMediaUrl this can be used if the \"attachedMedia\" is a link (i.e. a Youtube video, etc) (optional)
   * @param attachedMediaString attached media content as a string (optional)
   * @param attachedMediaStringFileName file name for attachedMediaString (optional)
   * @param attachedMediaStringContentType content type for attachedMediaString (optional)
   * @param attachedMediaHeight the attached media height (optional)
   * @param attachedMediaWidth the attached media width (optional)
   * @param locationDescription the location description (optional)
   * @param app Deprecated: app parameter
   * @param appKey the application key
   * @param searchTags the search tags
   * @param latitude the latitude (optional)
   * @param longitude the longitude (optional)
   */
  def createAsset(returnNulls: Option[Boolean] = None, deviceId: Option[String] = None, accountId: Option[Long] = None, albumId: Option[Long] = None, collectionId: Option[Long] = None, addToDefaultAlbum: Option[String] = None, addToMediaLibrary: Option[Boolean] = None, versionCode: Option[Int] = None, versionName: Option[String] = None, metaData: Option[String] = None, caption: Option[String] = None, assetType: Option[String] = None, approvalStatus: Option[String] = None, assignedAccountId: Option[Long] = None, media: Option[File] = None, mediaUrl: Option[String] = None, mediaString: Option[String] = None, mediaStringFileName: Option[String] = None, mediaStringContentType: Option[String] = None, mediaHeight: Option[Int] = None, mediaWidth: Option[Int] = None, attachedMedia: Option[File] = None, attachedMediaUrl: Option[String] = None, attachedMediaString: Option[String] = None, attachedMediaStringFileName: Option[String] = None, attachedMediaStringContentType: Option[String] = None, attachedMediaHeight: Option[Int] = None, attachedMediaWidth: Option[Int] = None, locationDescription: Option[String] = None, app: Option[String] = None, appKey: Option[String] = None, searchTags: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[AssetResponse] =
    ApiRequest[AssetResponse](ApiMethods.POST, baseUrl, "/asset/create", "application/json")
      .withQueryParam("returnNulls", returnNulls)
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("albumId", albumId)
      .withQueryParam("collectionId", collectionId)
      .withQueryParam("addToDefaultAlbum", addToDefaultAlbum)
      .withQueryParam("addToMediaLibrary", addToMediaLibrary)
      .withQueryParam("versionCode", versionCode)
      .withQueryParam("versionName", versionName)
      .withQueryParam("metaData", metaData)
      .withQueryParam("caption", caption)
      .withQueryParam("assetType", assetType)
      .withQueryParam("approvalStatus", approvalStatus)
      .withQueryParam("assignedAccountId", assignedAccountId)
      .withQueryParam("media", media)
      .withQueryParam("mediaUrl", mediaUrl)
      .withQueryParam("mediaString", mediaString)
      .withQueryParam("mediaStringFileName", mediaStringFileName)
      .withQueryParam("mediaStringContentType", mediaStringContentType)
      .withQueryParam("mediaHeight", mediaHeight)
      .withQueryParam("mediaWidth", mediaWidth)
      .withQueryParam("attachedMedia", attachedMedia)
      .withQueryParam("attachedMediaUrl", attachedMediaUrl)
      .withQueryParam("attachedMediaString", attachedMediaString)
      .withQueryParam("attachedMediaStringFileName", attachedMediaStringFileName)
      .withQueryParam("attachedMediaStringContentType", attachedMediaStringContentType)
      .withQueryParam("attachedMediaHeight", attachedMediaHeight)
      .withQueryParam("attachedMediaWidth", attachedMediaWidth)
      .withQueryParam("locationDescription", locationDescription)
      .withQueryParam("app", app)
      .withQueryParam("appKey", appKey)
      .withQueryParam("searchTags", searchTags)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[AssetResponse](200)
      

  /**
   * Delete an asset.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param assetId the id of the asset to delete
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param latitude latitude used to update the user's current location
   * @param longitude longitude used to update the user's current location
   */
  def deleteAsset(assetId: String, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/asset/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("assetId", assetId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Gets the full asset response including attached likes and notes.
   * 
   * Expected answers:
   *   code 200 : AssetFullResponse (successful operation)
   * 
   * @param assetId the asset ID
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param noteDescending determines whether the notes on the asset are in descending order
   */
  def getAsset(assetId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, noteDescending: Option[Boolean] = None): ApiRequest[AssetFullResponse] =
    ApiRequest[AssetFullResponse](ApiMethods.GET, baseUrl, "/asset/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("assetId", assetId)
      .withQueryParam("noteDescending", noteDescending)
      .withSuccessResponse[AssetFullResponse](200)
      

  /**
   * Remove assets from collections
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param assetId the id of the asset to remove
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param albumId the album id to remove the asset from
   * @param collectionId the collection id to remove the asset from
   * @param removeFromDefaultAlbums remove from the user's profile album
   * @param latitude latitude used to update the user's current location
   * @param longitude longitude used to update the user's current location
   */
  def removeAsset(assetId: String, deviceId: Option[String] = None, accountId: Option[Long] = None, albumId: Option[Long] = None, collectionId: Option[Long] = None, removeFromDefaultAlbums: Option[Boolean] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/asset/remove", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("albumId", albumId)
      .withQueryParam("collectionId", collectionId)
      .withQueryParam("assetId", assetId)
      .withQueryParam("removeFromDefaultAlbums", removeFromDefaultAlbums)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Searches for assets
   * 
   * Expected answers:
   *   code 200 : Seq[AssetResponse] (successful operation)
   * 
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param albumIds comma separated list of album ids to search on
   * @param assetIds comma separated list of asset ids to search on
   * @param appKey the application key to filter results by application.
   * @param mediaType filter results by media type. Possible values include: APPLICATION, IMAGE, AUDIO, VIDEO, MULTIPART, TEXT
   * @param mimeType filter results by mime type
   * @param keyword keyword search string
   * @param versionCode filter results by version code
   * @param versionName filter results by version name
   * @param updatedSince return items that have been updated since this date (time-stamp in milliseconds)
   * @param updatedBefore return items that have been updated before this date (time-stamp in milliseconds)
   * @param sortField the field to sort by. See AssetApiMap
   * @param descending determines whether the sorted list is in descending or ascending order
   * @param searchMediaLibrary determines whether to search on the media library album
   * @param filterByBillable filter results by billable entity
   * @param activeOnly if only searching for active assets
   * @param returnApp determines whether to include the application response as part of the asset response
   * @param start the start index for pagination
   * @param limit the limit for pagination (there is a hard limit of 200)
   * @param searchMode search mode for index (SearchIndexMode)
   * @param assetType filter by asset type
   * @param approvalStatus filter by approval status
   * @param assignedAccountId filter results by an assigned account id
   */
  def searchAssets(deviceId: Option[String] = None, accountId: Option[Long] = None, albumIds: Option[String] = None, assetIds: Option[String] = None, appKey: Option[String] = None, mediaType: Option[String] = None, mimeType: Option[String] = None, keyword: Option[String] = None, versionCode: Option[Int] = None, versionName: Option[String] = None, updatedSince: Option[Long] = None, updatedBefore: Option[Long] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, searchMediaLibrary: Option[Boolean] = None, filterByBillable: Option[Boolean] = None, activeOnly: Option[Boolean] = None, returnApp: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None, searchMode: Option[String] = None, assetType: Option[String] = None, approvalStatus: Option[String] = None, assignedAccountId: Option[Long] = None): ApiRequest[Seq[AssetResponse]] =
    ApiRequest[Seq[AssetResponse]](ApiMethods.GET, baseUrl, "/asset/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("albumIds", albumIds)
      .withQueryParam("assetIds", assetIds)
      .withQueryParam("appKey", appKey)
      .withQueryParam("mediaType", mediaType)
      .withQueryParam("mimeType", mimeType)
      .withQueryParam("keyword", keyword)
      .withQueryParam("versionCode", versionCode)
      .withQueryParam("versionName", versionName)
      .withQueryParam("updatedSince", updatedSince)
      .withQueryParam("updatedBefore", updatedBefore)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("searchMediaLibrary", searchMediaLibrary)
      .withQueryParam("filterByBillable", filterByBillable)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("returnApp", returnApp)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("searchMode", searchMode)
      .withQueryParam("assetType", assetType)
      .withQueryParam("approvalStatus", approvalStatus)
      .withQueryParam("assignedAccountId", assignedAccountId)
      .withSuccessResponse[Seq[AssetResponse]](200)
      

  /**
   * Updates an asset's meta data. If an album reference is passed in, the participants with write permissions are allowed to edit the asset. Otherwise, only the asset up-loader has permission to edit the data.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param assetId the ID of the asset to update
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param albumId the ID of the album to check user permissions
   * @param attachedAssetId the ID of the attached asset
   * @param versionCode the version code
   * @param versionName the version name
   * @param metaData External custom client defined data
   * @param caption the caption
   * @param assetType the asset type
   * @param approvalStatus approval status for the asset
   * @param assignedAccountId account id assigned to the asset
   * @param media a MultipartFile containing the mimetype, etc
   * @param mediaUrl this can be used if the \"media\" is a link (optional)
   * @param mediaString the media content as a string (optional)
   * @param mediaStringFileName file name for mediaString (optional)
   * @param mediaStringContentType content type for mediaString (optional)
   * @param mediaHeight the media height (optional)
   * @param mediaWidth the media width (optional)
   * @param attachedMedia a MultipartFile containing an asset that the \"media\" file references (optional). Example: to upload a video the \"media\" file should contain a screen capture and the \"attachedMedia\" should be the actual video.
   * @param attachedMediaUrl this can be used if the \"attachedMedia\" is a link (i.e. a Youtube video, etc) (optional)
   * @param attachedMediaString attached media content as a string (optional)
   * @param attachedMediaStringFileName file name for attachedMediaString (optional)
   * @param attachedMediaStringContentType content type for attachedMediaString (optional)
   * @param attachedMediaHeight the attached media height (optional)
   * @param attachedMediaWidth the attached media width (optional)
   * @param locationDescription the location description
   * @param searchTags search tags
   * @param appKey the application key
   * @param latitude latitude used to update the asset's location
   * @param longitude longitude used to update the asset's location
   */
  def updateAsset(assetId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, albumId: Option[Long] = None, attachedAssetId: Option[Long] = None, versionCode: Option[Int] = None, versionName: Option[String] = None, metaData: Option[String] = None, caption: Option[String] = None, assetType: Option[String] = None, approvalStatus: Option[String] = None, assignedAccountId: Option[Long] = None, media: Option[File] = None, mediaUrl: Option[String] = None, mediaString: Option[String] = None, mediaStringFileName: Option[String] = None, mediaStringContentType: Option[String] = None, mediaHeight: Option[Int] = None, mediaWidth: Option[Int] = None, attachedMedia: Option[File] = None, attachedMediaUrl: Option[String] = None, attachedMediaString: Option[String] = None, attachedMediaStringFileName: Option[String] = None, attachedMediaStringContentType: Option[String] = None, attachedMediaHeight: Option[Int] = None, attachedMediaWidth: Option[Int] = None, locationDescription: Option[String] = None, searchTags: Option[String] = None, appKey: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/asset/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("assetId", assetId)
      .withQueryParam("albumId", albumId)
      .withQueryParam("attachedAssetId", attachedAssetId)
      .withQueryParam("versionCode", versionCode)
      .withQueryParam("versionName", versionName)
      .withQueryParam("metaData", metaData)
      .withQueryParam("caption", caption)
      .withQueryParam("assetType", assetType)
      .withQueryParam("approvalStatus", approvalStatus)
      .withQueryParam("assignedAccountId", assignedAccountId)
      .withQueryParam("media", media)
      .withQueryParam("mediaUrl", mediaUrl)
      .withQueryParam("mediaString", mediaString)
      .withQueryParam("mediaStringFileName", mediaStringFileName)
      .withQueryParam("mediaStringContentType", mediaStringContentType)
      .withQueryParam("mediaHeight", mediaHeight)
      .withQueryParam("mediaWidth", mediaWidth)
      .withQueryParam("attachedMedia", attachedMedia)
      .withQueryParam("attachedMediaUrl", attachedMediaUrl)
      .withQueryParam("attachedMediaString", attachedMediaString)
      .withQueryParam("attachedMediaStringFileName", attachedMediaStringFileName)
      .withQueryParam("attachedMediaStringContentType", attachedMediaStringContentType)
      .withQueryParam("attachedMediaHeight", attachedMediaHeight)
      .withQueryParam("attachedMediaWidth", attachedMediaWidth)
      .withQueryParam("locationDescription", locationDescription)
      .withQueryParam("searchTags", searchTags)
      .withQueryParam("appKey", appKey)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SirqulResponse](200)
      



}

