/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BidResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BidApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new BidApi(baseUrl)
}

class BidApi(baseUrl: String) {

  /**
   * Creates a bid on a biddable object
   * 
   * Expected answers:
   *   code 200 : BidResponse (successful operation)
   * 
   * @param biddableType A biddable object type. Possible values include: CREATIVE (ads).
   * @param biddableId The id of the biddable object
   * @param amountPerView The bid amount for views. For ads, this is the amount that will be taken for each impression.
   * @param amountPerAction The bid amount for actions. For ads, this is the amount that will be taken for each click.
   * @param budgetAmount The allocated budget amount that will be used
   * @param budgetSchedule The schedule for when the allocated budget amount is reset
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   */
  def createBid(biddableType: String, biddableId: Long, amountPerView: Double, amountPerAction: Double, budgetAmount: Double, budgetSchedule: String, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[BidResponse] =
    ApiRequest[BidResponse](ApiMethods.POST, baseUrl, "/bid/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("biddableType", biddableType)
      .withQueryParam("biddableId", biddableId)
      .withQueryParam("amountPerView", amountPerView)
      .withQueryParam("amountPerAction", amountPerAction)
      .withQueryParam("budgetAmount", budgetAmount)
      .withQueryParam("budgetSchedule", budgetSchedule)
      .withSuccessResponse[BidResponse](200)
      

  /**
   * Deleted a bid on a biddable object
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param bidId The bid id
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   */
  def deleteBid(bidId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/bid/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("bidId", bidId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get the bid details of a biddable object
   * 
   * Expected answers:
   *   code 200 : BidResponse (successful operation)
   * 
   * @param bidId The bid id
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   */
  def getBid(bidId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[BidResponse] =
    ApiRequest[BidResponse](ApiMethods.GET, baseUrl, "/bid/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("bidId", bidId)
      .withSuccessResponse[BidResponse](200)
      

  /**
   * Updates a bid on a biddable object
   * 
   * Expected answers:
   *   code 200 : BidResponse (successful operation)
   * 
   * @param bidId The bid id
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param amountPerView The bid amount for views. For ads, this is the amount that will be taken for each impression.
   * @param amountPerAction The bid amount for actions. For ads, this is the amount that will be taken for each click.
   * @param budgetAmount The allocated budget amount that will be used
   * @param budgetSchedule The schedule for when the allocated budget amount is reset
   */
  def updateBid(bidId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, amountPerView: Option[Double] = None, amountPerAction: Option[Double] = None, budgetAmount: Option[Double] = None, budgetSchedule: Option[String] = None): ApiRequest[BidResponse] =
    ApiRequest[BidResponse](ApiMethods.POST, baseUrl, "/bid/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("bidId", bidId)
      .withQueryParam("amountPerView", amountPerView)
      .withQueryParam("amountPerAction", amountPerAction)
      .withQueryParam("budgetAmount", budgetAmount)
      .withQueryParam("budgetSchedule", budgetSchedule)
      .withSuccessResponse[BidResponse](200)
      



}

