/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.BillableEntityResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object BillableEntityApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new BillableEntityApi(baseUrl)
}

class BillableEntityApi(baseUrl: String) {

  /**
   * reate a billable entity for an account. The creator is assumed to be the responsible account. An account can only have one billable entity
   * 
   * Expected answers:
   *   code 200 : BillableEntityResponse (successful operation)
   * 
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param name The name of the entity responsible for billing 
   * @param streetAddress The street address of the billable entity
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box) 
   * @param city The city of the billable entity
   * @param state The state of the billable entity
   * @param postalCode The postal code of the billable entity
   * @param businessPhone The business phone of the billable entity
   * @param businessPhoneExt The business phone extension
   * @param authorizeNetApiKey Authorize Net Api Key
   * @param authorizeNetTransactionKey Authorize Net Transaction Key
   */
  def createBillableEntity(deviceId: Option[String] = None, accountId: Option[Long] = None, name: Option[String] = None, streetAddress: Option[String] = None, streetAddress2: Option[String] = None, city: Option[String] = None, state: Option[String] = None, postalCode: Option[String] = None, businessPhone: Option[String] = None, businessPhoneExt: Option[String] = None, authorizeNetApiKey: Option[String] = None, authorizeNetTransactionKey: Option[String] = None): ApiRequest[BillableEntityResponse] =
    ApiRequest[BillableEntityResponse](ApiMethods.POST, baseUrl, "/billable/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("name", name)
      .withQueryParam("streetAddress", streetAddress)
      .withQueryParam("streetAddress2", streetAddress2)
      .withQueryParam("city", city)
      .withQueryParam("state", state)
      .withQueryParam("postalCode", postalCode)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("businessPhoneExt", businessPhoneExt)
      .withQueryParam("authorizeNetApiKey", authorizeNetApiKey)
      .withQueryParam("authorizeNetTransactionKey", authorizeNetTransactionKey)
      .withSuccessResponse[BillableEntityResponse](200)
      

  /**
   * Mark the billable as deleted
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account used to perform the delete, must have rights to edit the billable entity.
   */
  def deleteBillableEntity(deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/billable/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Used to determine the associated BillableEntity of an account
   * 
   * Expected answers:
   *   code 200 : BillableEntityResponse (successful operation)
   * 
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param includeCounts Determines whether to include the retailer dash board counts into the response
   * @param includePayments Whether to enable payments or not
   */
  def getBillableEntity(deviceId: Option[String] = None, accountId: Option[Long] = None, includeCounts: Option[Boolean] = None, includePayments: Option[Boolean] = None): ApiRequest[BillableEntityResponse] =
    ApiRequest[BillableEntityResponse](ApiMethods.GET, baseUrl, "/billable/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("includeCounts", includeCounts)
      .withQueryParam("includePayments", includePayments)
      .withSuccessResponse[BillableEntityResponse](200)
      

  /**
   * Updates the billable record for an account
   * 
   * Expected answers:
   *   code 200 : BillableEntityResponse (successful operation)
   * 
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used). The account must have rights to edit the billable entity.
   * @param name The name of the entity responsible for billing 
   * @param streetAddress The street address of the billable entity
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box) 
   * @param city The city of the billable entity
   * @param state The state of the billable entity
   * @param postalCode The postal code of the billable entity
   * @param businessPhone The business phone of the billable entity
   * @param businessPhoneExt The business phone extension of the billable entity
   * @param authorizeNetApiKey Authorize Net Api Key of the billable entity
   * @param authorizeNetTransactionKey Authorize Net Transaction Key of the billable entity
   */
  def updateBillableEntity(deviceId: Option[String] = None, accountId: Option[Long] = None, name: Option[String] = None, streetAddress: Option[String] = None, streetAddress2: Option[String] = None, city: Option[String] = None, state: Option[String] = None, postalCode: Option[String] = None, businessPhone: Option[String] = None, businessPhoneExt: Option[String] = None, authorizeNetApiKey: Option[String] = None, authorizeNetTransactionKey: Option[String] = None): ApiRequest[BillableEntityResponse] =
    ApiRequest[BillableEntityResponse](ApiMethods.POST, baseUrl, "/billable/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("name", name)
      .withQueryParam("streetAddress", streetAddress)
      .withQueryParam("streetAddress2", streetAddress2)
      .withQueryParam("city", city)
      .withQueryParam("state", state)
      .withQueryParam("postalCode", postalCode)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("businessPhoneExt", businessPhoneExt)
      .withQueryParam("authorizeNetApiKey", authorizeNetApiKey)
      .withQueryParam("authorizeNetTransactionKey", authorizeNetTransactionKey)
      .withSuccessResponse[BillableEntityResponse](200)
      



}

