/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CargoType
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CargoTypeApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new CargoTypeApi(baseUrl)
}

class CargoTypeApi(baseUrl: String) {

  /**
   * Create new cargo type
   * 
   * Expected answers:
   *   code 200 : CargoType (successful operation)
   * 
   * @param body 
   */
  def createCargoType(body: Option[CargoType] = None): ApiRequest[CargoType] =
    ApiRequest[CargoType](ApiMethods.POST, baseUrl, "/cargo/type", "application/json")
      .withBody(body)
      .withSuccessResponse[CargoType](200)
      

  /**
   * Delete a type of cargo
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param cargoTypeId the ID of the cargo type
   */
  def deleteCargoType(cargoTypeId: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/cargo/type/{cargoTypeId}", "application/json")
      .withPathParam("cargoTypeId", cargoTypeId)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Get an existing cargo type
   * 
   * Expected answers:
   *   code 200 : CargoType (successful operation)
   * 
   * @param cargoTypeId the cargo type ID
   */
  def getCargoType(cargoTypeId: Long): ApiRequest[CargoType] =
    ApiRequest[CargoType](ApiMethods.GET, baseUrl, "/cargo/type/{cargoTypeId}", "application/json")
      .withPathParam("cargoTypeId", cargoTypeId)
      .withSuccessResponse[CargoType](200)
      

  /**
   * Search for types of cargo
   * 
   * Expected answers:
   *   code 200 : Seq[CargoType] (successful operation)
   * 
   * @param sortField the sort field to use for the cargo type
   * @param descending if the cargo type should be should be in descending order
   * @param start the start of the search
   * @param limit the limit of the search
   * @param activeOnly if search should be on active only
   * @param retailerId the id of the retailer location
   * @param hubId the ID of the hub
   */
  def searchCargoTypes(sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, retailerId: Option[Long] = None, hubId: Option[Long] = None): ApiRequest[Seq[CargoType]] =
    ApiRequest[Seq[CargoType]](ApiMethods.GET, baseUrl, "/cargo/type", "application/json")
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("hubId", hubId)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[CargoType]](200)
      

  /**
   * Update an existing cargo type
   * 
   * Expected answers:
   *   code 200 : CargoType (successful operation)
   * 
   * @param cargoTypeId the ID of the cargo type
   * @param body 
   */
  def updateCargoType(cargoTypeId: Long, body: Option[CargoType] = None): ApiRequest[CargoType] =
    ApiRequest[CargoType](ApiMethods.PUT, baseUrl, "/cargo/type/{cargoTypeId}", "application/json")
      .withBody(body)
      .withPathParam("cargoTypeId", cargoTypeId)
      .withSuccessResponse[CargoType](200)
      



}

