/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AlbumContestListResponse
import org.openapitools.client.model.AlbumContestResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ContestApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ContestApi(baseUrl)
}

class ContestApi(baseUrl: String) {

  /**
   * Creates or updates a contest.
   * 
   * Expected answers:
   *   code 200 : AlbumContestResponse (successful operation)
   * 
   * @param publicRead determines whether the contest's participants has read permissions
   * @param publicWrite determines whether the contest's participants has write permissions
   * @param publicDelete determines whether the contest's participants has delete permissions
   * @param publicAdd determines whether the contest's participants has add permissions
   * @param visibility the determines the album's participants (PUBLIC - includes everyone in the system as a potential participant, PRIVATE - only considers people who have been invited as participants)
   * @param includeFriendGroup determines whether to include all friends as participants
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param gameType This parameter is deprecated. the application key
   * @param appKey the application key
   * @param contestType a custom field used for aggregation and searching
   * @param albumContestId the album contest ID for updating (don't pass in if creating)
   * @param title the title of the contest
   * @param description the description of the contest
   * @param albumId1 the album ID for the first album
   * @param removeAlbum1 removes album1 from the contest
   * @param albumId2 the album ID for the second album
   * @param removeAlbum2 removes album2 from the contest
   * @param startDate the start date of the contest (time-stamp in milliseconds)
   * @param endDate the end date of the contest (time-stamp in milliseconds)
   * @param locationDescription the location description of the contest taking place
   * @param connectionIdsToAdd comma separated list of connection IDs
   * @param connectionGroupIdsToAdd comma separated list of connection group IDs
   * @param latitude latitude used to update the user's current location
   * @param longitude longitude used to update the user's current location
   */
  def addOrUpdateAlbumContest(publicRead: Boolean, publicWrite: Boolean, publicDelete: Boolean, publicAdd: Boolean, visibility: String, includeFriendGroup: Boolean, deviceId: Option[String] = None, accountId: Option[Long] = None, gameType: Option[String] = None, appKey: Option[String] = None, contestType: Option[String] = None, albumContestId: Option[Long] = None, title: Option[String] = None, description: Option[String] = None, albumId1: Option[Long] = None, removeAlbum1: Option[Boolean] = None, albumId2: Option[Long] = None, removeAlbum2: Option[Boolean] = None, startDate: Option[Long] = None, endDate: Option[Long] = None, locationDescription: Option[String] = None, connectionIdsToAdd: Option[String] = None, connectionGroupIdsToAdd: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[AlbumContestResponse] =
    ApiRequest[AlbumContestResponse](ApiMethods.POST, baseUrl, "/consumer/album/contest", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("contestType", contestType)
      .withQueryParam("albumContestId", albumContestId)
      .withQueryParam("title", title)
      .withQueryParam("description", description)
      .withQueryParam("albumId1", albumId1)
      .withQueryParam("removeAlbum1", removeAlbum1)
      .withQueryParam("albumId2", albumId2)
      .withQueryParam("removeAlbum2", removeAlbum2)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("publicRead", publicRead)
      .withQueryParam("publicWrite", publicWrite)
      .withQueryParam("publicDelete", publicDelete)
      .withQueryParam("publicAdd", publicAdd)
      .withQueryParam("locationDescription", locationDescription)
      .withQueryParam("visibility", visibility)
      .withQueryParam("connectionIdsToAdd", connectionIdsToAdd)
      .withQueryParam("connectionGroupIdsToAdd", connectionGroupIdsToAdd)
      .withQueryParam("includeFriendGroup", includeFriendGroup)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[AlbumContestResponse](200)
      

  /**
   * Sets the approval status of a contest.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param albumContestId The ID of the album contest
   * @param approvalStatus The approval status to set {PENDING, REJECTED, APPROVED, FEATURED}
   * @param deviceId A unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   */
  def approveAlbumContest(albumContestId: Long, approvalStatus: String, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/consumer/album/contest/approve", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("albumContestId", albumContestId)
      .withQueryParam("approvalStatus", approvalStatus)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Deletes a contest.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param albumContestId the album contest ID
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param latitude latitude used to update the user's current location
   * @param longitude longitude used to update the user's current location
   */
  def deleteContest(albumContestId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/consumer/album/contest/remove", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("albumContestId", albumContestId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Gets the contest object including the likes and notes
   * 
   * Expected answers:
   *   code 200 : AlbumContestResponse (successful operation)
   * 
   * @param albumContestId the album contest ID
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param latitude latitude used to update the user's current location
   * @param longitude longitude used to update the user's current location
   */
  def getAlbumContest(albumContestId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[AlbumContestResponse] =
    ApiRequest[AlbumContestResponse](ApiMethods.GET, baseUrl, "/consumer/album/contest/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("albumContestId", albumContestId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[AlbumContestResponse](200)
      

  /**
   * Searches on contests.
   * 
   * Expected answers:
   *   code 200 : AlbumContestListResponse (successful operation)
   * 
   * @param filter a comma separated list of Ownership
   * @param sortField the field to sort by. See AlbumContestApiMap
   * @param descending determines whether the sorted list is in descending or ascending order
   * @param start the start index for pagination
   * @param limit the limit for pagination (there is a hard limit of 30)
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param gameType This parameter is deprecated.
   * @param appKey the application key
   * @param appType the application type
   * @param contestType filter contests with this contest type
   * @param ownerId search on contests that have been created by this account (that the user has permissions to)
   * @param `q` This parameter is deprecated.
   * @param keyword keyword search string
   * @param `i` This parameter is deprecated.
   * @param `l` This parameter is deprecated.
   * @param dateCreated filter on items that have been created before this date
   * @param latitude latitude used to update the user's current location
   * @param longitude longitude used to update the user's current location
   */
  def getAlbumContests(filter: String, sortField: String, descending: Boolean, start: Int, limit: Int, deviceId: Option[String] = None, accountId: Option[Long] = None, gameType: Option[String] = None, appKey: Option[String] = None, appType: Option[String] = None, contestType: Option[String] = None, ownerId: Option[Long] = None, `q`: Option[String] = None, keyword: Option[String] = None, `i`: Option[Int] = None, `l`: Option[Int] = None, dateCreated: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[AlbumContestListResponse] =
    ApiRequest[AlbumContestListResponse](ApiMethods.GET, baseUrl, "/consumer/album/contest/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("appType", appType)
      .withQueryParam("contestType", contestType)
      .withQueryParam("ownerId", ownerId)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("filter", filter)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withQueryParam("dateCreated", dateCreated)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[AlbumContestListResponse](200)
      

  /**
   * Vote on a collection in a contest.
   * 
   * Expected answers:
   *   code 200 : AlbumContestResponse (successful operation)
   * 
   * @param albumContestId the album contest ID
   * @param albumId the ID of the album to vote on
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param contestType a custom field used for aggregation and searching
   * @param latitude latitude used to update the user's current location
   * @param longitude longitude used to update the user's current location
   */
  def voteOnAlbumContest(albumContestId: Long, albumId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, contestType: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[AlbumContestResponse] =
    ApiRequest[AlbumContestResponse](ApiMethods.POST, baseUrl, "/consumer/album/contest/vote", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("albumContestId", albumContestId)
      .withQueryParam("albumId", albumId)
      .withQueryParam("contestType", contestType)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[AlbumContestResponse](200)
      



}

