/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CsvImportResponse
import java.io.File
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object CSVImportApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new CSVImportApi(baseUrl)
}

class CSVImportApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param batchId the id of the batch
   * @param responseGroup The group of categories to return: SUMMARY, DETAILS, ERRORS, OR ALL
   * @param start the start of the pagination
   * @param limit the limit of the pagination
   */
  def getStatusCSV(accountId: Long, batchId: Long, responseGroup: String, start: Long, limit: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.GET, baseUrl, "/csvimport/batch/status/details", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("batchId", batchId)
      .withQueryParam("responseGroup", responseGroup)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Retrieves batches for a user.
   * 
   * Expected answers:
   *   code 200 : CsvImportResponse (successful operation)
   * 
   * @param accountId the id of the account
   * @param start the start of the pagination
   * @param limit the limit of the pagination
   */
  def listStatusCSV(accountId: Long, start: Int, limit: Int): ApiRequest[CsvImportResponse] =
    ApiRequest[CsvImportResponse](ApiMethods.GET, baseUrl, "/csvimport/batch/list", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[CsvImportResponse](200)
      

  /**
   * Checks status of batch upload.
   * 
   * Expected answers:
   *   code 200 : CsvImportResponse (successful operation)
   * 
   * @param accountId the id of the account
   * @param batchId the id of the batch to get its status
   */
  def statusCSV(accountId: Long, batchId: Long): ApiRequest[CsvImportResponse] =
    ApiRequest[CsvImportResponse](ApiMethods.GET, baseUrl, "/csvimport/batch/status", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("batchId", batchId)
      .withSuccessResponse[CsvImportResponse](200)
      

  /**
   * Uploads a CSV import file.
   * 
   * Expected answers:
   *   code 200 : CsvImportResponse (successful operation)
   * 
   * @param accountId the id of the account
   * @param uploadType the upload type: OFFERS, RETAILERS, RETAILERLOCATIONS, CATEGORIES, OR FILTERS
   * @param importFile the import file to reference
   * @param fileFormat the format of the file
   * @param appKey the application key
   */
  def uploadCSV(accountId: Long, uploadType: String, importFile: File, fileFormat: String, appKey: Option[String] = None): ApiRequest[CsvImportResponse] =
    ApiRequest[CsvImportResponse](ApiMethods.POST, baseUrl, "/csvimport/upload", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("uploadType", uploadType)
      .withQueryParam("importFile", importFile)
      .withQueryParam("appKey", appKey)
      .withQueryParam("fileFormat", fileFormat)
      .withSuccessResponse[CsvImportResponse](200)
      



}

