/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Account
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DependentApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new DependentApi(baseUrl)
}

class DependentApi(baseUrl: String) {

  /**
   * Create dependent of the account
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the id of the parent account to create a dependent for
   * @param body 
   */
  def create(accountId: Long, body: Option[Account] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.PUT, baseUrl, "/cargo/dependent/{accountId}", "application/json")
      .withBody(body)
      .withPathParam("accountId", accountId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get the dependent list of an account
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the id of the parent account to get a list of dependents
   */
  def getDependents(accountId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.GET, baseUrl, "/cargo/dependent/{accountId}", "application/json")
      .withPathParam("accountId", accountId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Delete the Dependent
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param accountId the id of the parent account tied to the dependent
   * @param dependentId the id of the dependent to delete
   */
  def removeDependent(accountId: Long, dependentId: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/cargo/dependent/{accountId}", "application/json")
      .withPathParam("accountId", accountId)
      .withPathParam("dependentId", dependentId)
      .withDefaultErrorResponse[Unit]
      



}

