/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import java.math.BigDecimal
import org.openapitools.client.model.DisbursementResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object DisbursementApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new DisbursementApi(baseUrl)
}

class DisbursementApi(baseUrl: String) {

  /**
   * Checks the status of a captured disbrusement to see if it has been settled.
   * 
   * Expected answers:
   *   code 200 : DisbursementResponse (successful operation)
   * 
   * @param disbursementId the ID of the disbursement being checked on
   */
  def checkDisbursements(disbursementId: Long): ApiRequest[DisbursementResponse] =
    ApiRequest[DisbursementResponse](ApiMethods.GET, baseUrl, "/disbursement/check", "application/json")
      .withQueryParam("disbursementId", disbursementId)
      .withSuccessResponse[DisbursementResponse](200)
      

  /**
   * Creates a Disbursement for sending money to a retailer
   * 
   * Expected answers:
   *   code 200 : DisbursementResponse (successful operation)
   * 
   * @param accountId the ID of the logging in user (must be an EXECUTIVE account)
   * @param receiverAccountId the ID of the account receiving the disbursement
   * @param originalSenderAccountId the ID of the original sender account
   * @param amount the dollar amount of the disbursement
   * @param provider the provider (e.g. Authorize.net, Bill.com, etc.)
   * @param scheduledDate the date that the disbursement is scheduled to go out to the payment provider
   * @param title a title given for the disbursement
   * @param comment a comment that could be made for a disbursement
   * @param externalId external ID, which can be used as a way to reference the disbursement
   * @param introspectionParams This is for specifying parameters to make an http callback request for validating that the disbursement is valid
   */
  def createDisbursement(accountId: Long, receiverAccountId: Long, originalSenderAccountId: Long, amount: BigDecimal, provider: String, scheduledDate: Option[Long] = None, title: Option[String] = None, comment: Option[String] = None, externalId: Option[String] = None, introspectionParams: Option[String] = None): ApiRequest[DisbursementResponse] =
    ApiRequest[DisbursementResponse](ApiMethods.POST, baseUrl, "/disbursement/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("receiverAccountId", receiverAccountId)
      .withQueryParam("originalSenderAccountId", originalSenderAccountId)
      .withQueryParam("amount", amount)
      .withQueryParam("provider", provider)
      .withQueryParam("scheduledDate", scheduledDate)
      .withQueryParam("title", title)
      .withQueryParam("comment", comment)
      .withQueryParam("externalId", externalId)
      .withQueryParam("introspectionParams", introspectionParams)
      .withSuccessResponse[DisbursementResponse](200)
      

  /**
   * Get Disbursement details
   * 
   * Expected answers:
   *   code 200 : DisbursementResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param disbursementId the id of the disbursement
   */
  def getDisbursement(accountId: Long, disbursementId: Long): ApiRequest[DisbursementResponse] =
    ApiRequest[DisbursementResponse](ApiMethods.GET, baseUrl, "/disbursement/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("disbursementId", disbursementId)
      .withSuccessResponse[DisbursementResponse](200)
      

  /**
   * Search Disbursements
   * 
   * Expected answers:
   *   code 200 : Seq[DisbursementResponse] (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param receiverAccountId filter results by the id of the account receiving the disbursement
   * @param statuses comma separated list of status values to search for, possilbe values include: NEW, APPROVED, VALIDATING, ERROR, AUTHORIZED, CAPTURED, SETTLED
   * @param providers comma separated list of payment providers to search for, possbile values include: AUTHORIZE_NET, AMAZON_FPS, BILL_COM
   * @param beforeDate the date for searching disbursements before it has been processed
   * @param afterDate the date for searching disbursements before it has been processed
   * @param start the start index for pagination
   * @param limit the limit per result set for pagination
   * @param activeOnly search on disbursements that are active only
   * @param externalId search results by this external ID (that can be used to reference the disbursement)
   */
  def searchDisbursements(accountId: Long, receiverAccountId: Option[Long] = None, statuses: Option[String] = None, providers: Option[String] = None, beforeDate: Option[Long] = None, afterDate: Option[Long] = None, start: Option[Int] = None, limit: Option[Int] = None, activeOnly: Option[Boolean] = None, externalId: Option[String] = None): ApiRequest[Seq[DisbursementResponse]] =
    ApiRequest[Seq[DisbursementResponse]](ApiMethods.GET, baseUrl, "/disbursement/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("receiverAccountId", receiverAccountId)
      .withQueryParam("statuses", statuses)
      .withQueryParam("providers", providers)
      .withQueryParam("beforeDate", beforeDate)
      .withQueryParam("afterDate", afterDate)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("externalId", externalId)
      .withSuccessResponse[Seq[DisbursementResponse]](200)
      

  /**
   * Update Disbursement
   * 
   * Expected answers:
   *   code 200 : DisbursementResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param disbursementId the id of the disbursement being updated
   * @param amount the disbursement dollar amount being updated
   * @param provider the payments and/or billing provider (e.g. Authorize.net, Bill.com, etc.)
   * @param scheduledDate the date that the disbursement is scheduled to go out to the payment provider
   * @param title the title given to the disbursement
   * @param comment a comment that can be made on a disbursement
   * @param externalId an external ID that can be used to reference the disbursement
   * @param retry determines whether to try sending the disbursement again in the case of a previous failure
   * @param introspectionParams for specifying parameters to make an http callback request for validating that the disbursement is valid
   */
  def updateDisbursement(accountId: Long, disbursementId: Long, amount: Option[BigDecimal] = None, provider: Option[String] = None, scheduledDate: Option[Long] = None, title: Option[String] = None, comment: Option[String] = None, externalId: Option[String] = None, retry: Option[Boolean] = None, introspectionParams: Option[String] = None): ApiRequest[DisbursementResponse] =
    ApiRequest[DisbursementResponse](ApiMethods.POST, baseUrl, "/disbursement/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("disbursementId", disbursementId)
      .withQueryParam("amount", amount)
      .withQueryParam("provider", provider)
      .withQueryParam("scheduledDate", scheduledDate)
      .withQueryParam("title", title)
      .withQueryParam("comment", comment)
      .withQueryParam("externalId", externalId)
      .withQueryParam("retry", retry)
      .withQueryParam("introspectionParams", introspectionParams)
      .withSuccessResponse[DisbursementResponse](200)
      



}

