/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.EmployeeResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object EmployeeApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new EmployeeApi(baseUrl)
}

class EmployeeApi(baseUrl: String) {

  /**
   * Assign An existing account to be an employee
   * 
   * Expected answers:
   *   code 200 : EmployeeResponse (successful operation)
   * 
   * @param accountId The account id of the logged in user
   * @param managerAccountId The account id of the manager to assign under
   * @param employeeAccountId The account id of the user to be assigned as employee
   * @param role The role to assign to the employee (e.g. RETAILER or RETAILER_LIMITED)
   */
  def assignEmployee(accountId: Long, managerAccountId: Long, employeeAccountId: Long, role: Option[String] = None): ApiRequest[EmployeeResponse] =
    ApiRequest[EmployeeResponse](ApiMethods.POST, baseUrl, "/employee/assign", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("managerAccountId", managerAccountId)
      .withQueryParam("employeeAccountId", employeeAccountId)
      .withQueryParam("role", role)
      .withSuccessResponse[EmployeeResponse](200)
      

  /**
   * Assign or unassign the account to a retailer location.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId The account id of the logged in user
   * @param retailerLocationId The retailer location to apply the change to
   * @param employeeAccountId The account id of the user to apply the change to
   * @param assign If true (default) assign to the location, otherwise remove from the retailer
   */
  def assignToLocationEmployee(accountId: Long, retailerLocationId: Long, employeeAccountId: Option[Long] = None, assign: Option[Boolean] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/employee/assignToLocation", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("employeeAccountId", employeeAccountId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("assign", assign)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Create a new account record with the provided information.
   * 
   * Expected answers:
   *   code 200 : EmployeeResponse (successful operation)
   * 
   * @param accountId The account id of the logged in user
   * @param managerAccountId The account id of the manager to assign under
   * @param username The username/email for the new user. This must be unique across the entire the system.
   * @param password The password for the new user
   * @param name a name field
   * @param prefixName The name prefix; Mr, Mrs, etc
   * @param firstName The first name
   * @param middleName The middle name
   * @param lastName The last name
   * @param suffixName The name suffix; Jr, Sr, III, etc
   * @param title The title of the user
   * @param aboutUs Additional about/biography text
   * @param assetId the asset id to set the user's profile image
   * @param gender The gender
   * @param homePhone The home phone number
   * @param cellPhone The cellular phone number
   * @param cellPhoneCarrier The cellular service provider. This is required for sending SMS. Leave this empty if the provider is not on the list of supported carriers.
   * @param businessPhone The business phone number
   * @param emailAddress The user's contact email address (NOT the username)
   * @param streetAddress The street address of the user's contact location
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param city The city of the user's contact location
   * @param state The state of the user's contact location
   * @param zipcode The zipcode of the user's contact location
   * @param country The country of the user's contact location
   * @param role The role; RETAILER or RETAILER_LIMITED, defaulted to RETAILER_LIMITED
   * @param retailerLocationIds the retailer location IDs the employee is associated with
   * @param settingsAppKey Determines whether to return the application settings for the employee for a particular application
   * @param appBlob external custom client defined data (per Application)
   * @param assignedDeviceId The device id to assign to the user (used for IPS beacon tracking)
   */
  def createEmployee(accountId: Long, managerAccountId: Long, username: String, password: String, name: Option[String] = None, prefixName: Option[String] = None, firstName: Option[String] = None, middleName: Option[String] = None, lastName: Option[String] = None, suffixName: Option[String] = None, title: Option[String] = None, aboutUs: Option[String] = None, assetId: Option[Long] = None, gender: Option[String] = None, homePhone: Option[String] = None, cellPhone: Option[String] = None, cellPhoneCarrier: Option[String] = None, businessPhone: Option[String] = None, emailAddress: Option[String] = None, streetAddress: Option[String] = None, streetAddress2: Option[String] = None, city: Option[String] = None, state: Option[String] = None, zipcode: Option[String] = None, country: Option[String] = None, role: Option[String] = None, retailerLocationIds: Option[String] = None, settingsAppKey: Option[String] = None, appBlob: Option[String] = None, assignedDeviceId: Option[String] = None): ApiRequest[EmployeeResponse] =
    ApiRequest[EmployeeResponse](ApiMethods.POST, baseUrl, "/employee/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("managerAccountId", managerAccountId)
      .withQueryParam("username", username)
      .withQueryParam("password", password)
      .withQueryParam("name", name)
      .withQueryParam("prefixName", prefixName)
      .withQueryParam("firstName", firstName)
      .withQueryParam("middleName", middleName)
      .withQueryParam("lastName", lastName)
      .withQueryParam("suffixName", suffixName)
      .withQueryParam("title", title)
      .withQueryParam("aboutUs", aboutUs)
      .withQueryParam("assetId", assetId)
      .withQueryParam("gender", gender)
      .withQueryParam("homePhone", homePhone)
      .withQueryParam("cellPhone", cellPhone)
      .withQueryParam("cellPhoneCarrier", cellPhoneCarrier)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("emailAddress", emailAddress)
      .withQueryParam("streetAddress", streetAddress)
      .withQueryParam("streetAddress2", streetAddress2)
      .withQueryParam("city", city)
      .withQueryParam("state", state)
      .withQueryParam("zipcode", zipcode)
      .withQueryParam("country", country)
      .withQueryParam("role", role)
      .withQueryParam("retailerLocationIds", retailerLocationIds)
      .withQueryParam("settingsAppKey", settingsAppKey)
      .withQueryParam("appBlob", appBlob)
      .withQueryParam("assignedDeviceId", assignedDeviceId)
      .withSuccessResponse[EmployeeResponse](200)
      

  /**
   * Set the deleted date field which marks the record as deleted.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param employeeAccountId the id of the employee to delete
   */
  def deleteEmployee(accountId: Long, employeeAccountId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/employee/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("employeeAccountId", employeeAccountId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get the account record for the account id provided.
   * 
   * Expected answers:
   *   code 200 : EmployeeResponse (successful operation)
   * 
   * @param accountId the id of logged in user
   * @param employeeAccountId the id of the employee account to get
   * @param settingsAppKey Determines whether to return the application settings for the employee for a particular application
   */
  def getEmployee(accountId: Long, employeeAccountId: Long, settingsAppKey: Option[String] = None): ApiRequest[EmployeeResponse] =
    ApiRequest[EmployeeResponse](ApiMethods.POST, baseUrl, "/employee/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("employeeAccountId", employeeAccountId)
      .withQueryParam("settingsAppKey", settingsAppKey)
      .withSuccessResponse[EmployeeResponse](200)
      

  /**
   * Use the accountId to determine the associated BillableEntity. From there get a list of all accounts associated as managers/employees.
   * 
   * Expected answers:
   *   code 200 : Seq[EmployeeResponse] (successful operation)
   * 
   * @param accountId The account id of the logged in user
   * @param role The role to limit the search to: RETAILER or RETAILER_LIMITED. Leave empty to search on both roles.
   * @param retailerId Filters employees by retailer
   * @param retailerLocationId Filter employees by retailer locations
   * @param `q` Deprecated parameter
   * @param keyword an optional keyword to search on; ignored if empty
   * @param sortField The field to sort by. Possible values include: DISPLAY, CREATED, UPDATED, ACTIVE, DELETED, LAST_LOGGED_IN, CONTACT_EMAIL, RETAILER_LOCATION_NAME, RETAILER_NAME
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param `i` Deprecated parameter
   * @param start Start the result set at some index
   * @param `l` Deprecated parameter
   * @param limit Limit the result to some number
   * @param activeOnly Filter results to only return active employees
   * @param managedOnly Filter results to only employees that you manage
   * @param settingsAppKey Determines whether to return the application settings for the employee for a particular application
   * @param categoryIds Comma separated list of category ids to filter results
   * @param query Legacy/reporting query parameter used for formatting employee responses
   */
  def searchEmployees(accountId: Long, role: Option[String] = None, retailerId: Option[Long] = None, retailerLocationId: Option[Long] = None, `q`: Option[String] = None, keyword: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, `i`: Option[Int] = None, start: Option[Int] = None, `l`: Option[Int] = None, limit: Option[Int] = None, activeOnly: Option[Boolean] = None, managedOnly: Option[Boolean] = None, settingsAppKey: Option[String] = None, categoryIds: Option[String] = None, query: Option[String] = None): ApiRequest[Seq[EmployeeResponse]] =
    ApiRequest[Seq[EmployeeResponse]](ApiMethods.POST, baseUrl, "/employee/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("role", role)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("managedOnly", managedOnly)
      .withQueryParam("settingsAppKey", settingsAppKey)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("query", query)
      .withSuccessResponse[Seq[EmployeeResponse]](200)
      

  /**
   * Unassign An existing account to be an employee
   * 
   * Expected answers:
   *   code 200 : EmployeeResponse (successful operation)
   * 
   * @param accountId The account id of the logged in user
   * @param employeeAccountId The account id of the user to be unassigned
   */
  def unassignEmployee(accountId: Long, employeeAccountId: Long): ApiRequest[EmployeeResponse] =
    ApiRequest[EmployeeResponse](ApiMethods.POST, baseUrl, "/employee/unassign", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("employeeAccountId", employeeAccountId)
      .withSuccessResponse[EmployeeResponse](200)
      

  /**
   * Update the account record with the provided information.
   * 
   * Expected answers:
   *   code 200 : EmployeeResponse (successful operation)
   * 
   * @param accountId The account id of the logged in user
   * @param employeeAccountId the id of the employee account
   * @param managerAccountId The account id of the manager to assign under
   * @param name a name field
   * @param prefixName The name prefix; Mr, Mrs, etc
   * @param firstName The first name
   * @param middleName The middle name
   * @param lastName The last name
   * @param suffixName The name suffix; Jr, Sr, III, etc
   * @param title The title of the user
   * @param assetId the asset id to set the user's profile image
   * @param gender The gender {MALE, FEMALE, ANY}
   * @param homePhone The home phone number
   * @param cellPhone The cellular phone number
   * @param cellPhoneCarrier The cellular service provider. This is required for sending SMS. Leave this empty if the provider is not on the list of supported carriers. Supported Carriers: {ATT, QWEST, T_MOBILE, VERIZON, SPRINT, VIRIGIN_MOBILE, NEXTEL, ALLTEL, METRO_PCS, POWERTEL, BOOST_MOBILE, SUNCOM, TRACFONE, US_CELLULAR}
   * @param businessPhone The business phone number
   * @param emailAddress The user's contact email address (NOT the username)
   * @param streetAddress The street address of the user's contact location
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param city The city of the user's contact location
   * @param state The state of the user's contact location
   * @param zipcode The zipcode of the user's contact location
   * @param country The country of the user's contact location
   * @param role The role; RETAILER or RETAILER_LIMITED, defaulted to RETAILER_LIMITED
   * @param active Sets whether the employee is active or inactive
   * @param password Sets the password for the employee
   * @param retailerLocationIds Sets which retailer locations the employee is assigned to
   * @param settingsAppKey Determines whether to return the application settings for the employee for a particular application
   * @param appBlob external custom client defined data (per Application)
   * @param assignedDeviceId The device id to assign to the user (used for IPS beacon tracking)
   */
  def updateEmployee(accountId: Long, employeeAccountId: Long, managerAccountId: Option[Long] = None, name: Option[String] = None, prefixName: Option[String] = None, firstName: Option[String] = None, middleName: Option[String] = None, lastName: Option[String] = None, suffixName: Option[String] = None, title: Option[String] = None, assetId: Option[Long] = None, gender: Option[String] = None, homePhone: Option[String] = None, cellPhone: Option[String] = None, cellPhoneCarrier: Option[String] = None, businessPhone: Option[String] = None, emailAddress: Option[String] = None, streetAddress: Option[String] = None, streetAddress2: Option[String] = None, city: Option[String] = None, state: Option[String] = None, zipcode: Option[String] = None, country: Option[String] = None, role: Option[String] = None, active: Option[Boolean] = None, password: Option[String] = None, retailerLocationIds: Option[String] = None, settingsAppKey: Option[String] = None, appBlob: Option[String] = None, assignedDeviceId: Option[String] = None): ApiRequest[EmployeeResponse] =
    ApiRequest[EmployeeResponse](ApiMethods.POST, baseUrl, "/employee/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("employeeAccountId", employeeAccountId)
      .withQueryParam("managerAccountId", managerAccountId)
      .withQueryParam("name", name)
      .withQueryParam("prefixName", prefixName)
      .withQueryParam("firstName", firstName)
      .withQueryParam("middleName", middleName)
      .withQueryParam("lastName", lastName)
      .withQueryParam("suffixName", suffixName)
      .withQueryParam("title", title)
      .withQueryParam("assetId", assetId)
      .withQueryParam("gender", gender)
      .withQueryParam("homePhone", homePhone)
      .withQueryParam("cellPhone", cellPhone)
      .withQueryParam("cellPhoneCarrier", cellPhoneCarrier)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("emailAddress", emailAddress)
      .withQueryParam("streetAddress", streetAddress)
      .withQueryParam("streetAddress2", streetAddress2)
      .withQueryParam("city", city)
      .withQueryParam("state", state)
      .withQueryParam("zipcode", zipcode)
      .withQueryParam("country", country)
      .withQueryParam("role", role)
      .withQueryParam("active", active)
      .withQueryParam("password", password)
      .withQueryParam("retailerLocationIds", retailerLocationIds)
      .withQueryParam("settingsAppKey", settingsAppKey)
      .withQueryParam("appBlob", appBlob)
      .withQueryParam("assignedDeviceId", assignedDeviceId)
      .withSuccessResponse[EmployeeResponse](200)
      



}

