/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AccountResponse
import org.openapitools.client.model.SearchResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.model.WrappedResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object FavoriteApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new FavoriteApi(baseUrl)
}

class FavoriteApi(baseUrl: String) {

  /**
   * Adds an offer, offer location, retailer location, or category to your favorites.
   * 
   * Expected answers:
   *   code 200 : WrappedResponse (successful operation)
   * 
   * @param favoritableId The ID of the object to favorite {offerId, offerLocationId, retailerLocationId, categoryId}
   * @param favoritableType The type of the object to favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY, ALBUM}
   * @param deviceId The unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   */
  def addFavorite(favoritableId: Long, favoritableType: String, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[WrappedResponse] =
    ApiRequest[WrappedResponse](ApiMethods.POST, baseUrl, "/favorite/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("favoritableId", favoritableId)
      .withQueryParam("favoritableType", favoritableType)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[WrappedResponse](200)
      

  /**
   * Removes a favorited item from the user's favorites list.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param deviceId The unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   * @param favoriteId The ID of the favorite reference record (only optional if favoritableId & favoritableType is pass in instead)
   * @param favoritableId The ID of the object to un-favorite {offerId, offerLocationId, retailerLocationId, categoryId} (this is required if favoriteId is NOT passed in)
   * @param favoritableType The type of the object to un-favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY} (this is required if favoriteId is NOT passed in)
   */
  def deleteFavorite(deviceId: Option[String] = None, accountId: Option[Long] = None, favoriteId: Option[Long] = None, favoritableId: Option[Long] = None, favoritableType: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/favorite/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("favoriteId", favoriteId)
      .withQueryParam("favoritableId", favoritableId)
      .withQueryParam("favoritableType", favoritableType)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Retrieves a single favorited item.
   * 
   * Expected answers:
   *   code 200 : WrappedResponse (successful operation)
   * 
   * @param favoriteId The ID of the favorite reference record
   * @param deviceId The unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   */
  def getFavorite(favoriteId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[WrappedResponse] =
    ApiRequest[WrappedResponse](ApiMethods.GET, baseUrl, "/favorite/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("favoriteId", favoriteId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[WrappedResponse](200)
      

  /**
   * Searches on the user's favorites.
   * 
   * Expected answers:
   *   code 200 : SearchResponse (successful operation)
   * 
   * @param favoritableType The type of the object to favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY}
   * @param sortField Determines what to sort the results by {CREATED, UPDATED, DISPLAY}
   * @param descending Determines whether the results are in descending order
   * @param start The start index for pagination
   * @param limit The limit for pagination (there is a hard limit of 1000)
   * @param activeOnly Determines whether to only return active favorites
   * @param returnFullResponse Determines whether to return a detailed version of the response list
   * @param deviceId The unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   * @param connectionAccountId The ID of an account the user would like to view favorites for
   * @param secondaryType 
   * @param keyword The keyword to search for
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   */
  def searchFavorites(favoritableType: String, sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, returnFullResponse: Boolean, deviceId: Option[String] = None, accountId: Option[Long] = None, connectionAccountId: Option[Long] = None, secondaryType: Option[String] = None, keyword: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SearchResponse] =
    ApiRequest[SearchResponse](ApiMethods.GET, baseUrl, "/favorite/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("connectionAccountId", connectionAccountId)
      .withQueryParam("favoritableType", favoritableType)
      .withQueryParam("secondaryType", secondaryType)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("returnFullResponse", returnFullResponse)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SearchResponse](200)
      

  /**
   * Searches for everyone that has favorited an item
   * 
   * Expected answers:
   *   code 200 : Seq[AccountResponse] (successful operation)
   * 
   * @param favoritableId The ID of the favoritableType to search on
   * @param favoritableType The type of the object to favorite {OFFER, OFFER_LOCATION, RETAILER_LOCATION, CATEGORY}
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param deviceId The unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   * @param keyword The keyword to limit that account list
   */
  def whoHasFavorited(favoritableId: Long, favoritableType: String, start: Int, limit: Int, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, keyword: Option[String] = None): ApiRequest[Seq[AccountResponse]] =
    ApiRequest[Seq[AccountResponse]](ApiMethods.GET, baseUrl, "/favorite/whois", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("favoritableId", favoritableId)
      .withQueryParam("favoritableType", favoritableType)
      .withQueryParam("keyword", keyword)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[AccountResponse]](200)
      



}

