/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.FilterResponse
import org.openapitools.client.model.FilterTreeResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object FilterApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new FilterApi(baseUrl)
}

class FilterApi(baseUrl: String) {

  /**
   * Create a filter
   * 
   * Expected answers:
   *   code 200 : FilterTreeResponse (successful operation)
   * 
   * @param accountId The account id of the user (must have permissions to the target application)
   * @param name The name of the filter
   * @param appKey The appKey of the application to assign the filter to, if not provided then the filter will be applied to the global application (if the account has permissions)
   * @param parentFilterId The ID of the parent filter, if not provided then the parent filter will be null
   * @param description The description of the filter
   * @param externalId A string identifier used by client applications to store external information
   * @param externalType A string type used by client applications to store external information
   * @param active Sets whether the filter is active or inactive (hidden from consumers)
   * @param metaData external custom client defined data
   */
  def createFilter(accountId: Long, name: String, appKey: Option[String] = None, parentFilterId: Option[Long] = None, description: Option[String] = None, externalId: Option[String] = None, externalType: Option[String] = None, active: Option[Boolean] = None, metaData: Option[String] = None): ApiRequest[FilterTreeResponse] =
    ApiRequest[FilterTreeResponse](ApiMethods.POST, baseUrl, "/filter/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("parentFilterId", parentFilterId)
      .withQueryParam("name", name)
      .withQueryParam("description", description)
      .withQueryParam("externalId", externalId)
      .withQueryParam("externalType", externalType)
      .withQueryParam("active", active)
      .withQueryParam("metaData", metaData)
      .withSuccessResponse[FilterTreeResponse](200)
      

  /**
   * Delete a filter.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId The account id of the user (must have permissions to the filter's assigned application)
   * @param filterId The ID of the filter to delete
   */
  def deleteFilter(accountId: Long, filterId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/filter/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("filterId", filterId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get the details of a specific filter. Recursively include all child filters and their children.
   * 
   * Expected answers:
   *   code 200 : FilterTreeResponse (successful operation)
   * 
   * @param filterId the id of the filter to get
   */
  def getFilter(filterId: Long): ApiRequest[FilterTreeResponse] =
    ApiRequest[FilterTreeResponse](ApiMethods.GET, baseUrl, "/filter/get", "application/json")
      .withQueryParam("filterId", filterId)
      .withSuccessResponse[FilterTreeResponse](200)
      

  /**
   * Search for filters.
   * 
   * Expected answers:
   *   code 200 : Seq[FilterResponse] (successful operation)
   * 
   * @param accountId The account id of the user
   * @param keyword The string to search on
   * @param appKey the appKey of the application to retrieve filters for
   * @param responseGroup The group of filters to return: ALL, GLOBAL or MINE. ALL returns both global and application specific matches, GLOBAL only returns global matches, and MINE only returns the application specific matches. If not provided search on the application provided.
   * @param rootOnly Restrict the search to only those filters with no parent filter assigned.
   * @param sortField The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, NAME, DISPLAY
   * @param descending The order to return the search results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @param activeOnly Determines whether to return only active categories
   */
  def searchFilters(accountId: Option[Long] = None, keyword: Option[String] = None, appKey: Option[String] = None, responseGroup: Option[String] = None, rootOnly: Option[Boolean] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None, activeOnly: Option[Boolean] = None): ApiRequest[Seq[FilterResponse]] =
    ApiRequest[Seq[FilterResponse]](ApiMethods.GET, baseUrl, "/filter/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("keyword", keyword)
      .withQueryParam("appKey", appKey)
      .withQueryParam("responseGroup", responseGroup)
      .withQueryParam("rootOnly", rootOnly)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[FilterResponse]](200)
      

  /**
   * Update a filter.
   * 
   * Expected answers:
   *   code 200 : FilterTreeResponse (successful operation)
   * 
   * @param accountId The account id of the user
   * @param filterId The ID of the filter to edit
   * @param parentFilterId The ID of the parent filter, if not provided then the parent filter will be null
   * @param name The name of the filter
   * @param description The description of the filter
   * @param externalId A string identifier used by client applications to store external information
   * @param externalType A string type used by client applications to store external information
   * @param active Sets whether the filter is active or inactive (hidden from consumers)
   * @param metaData external custom client defined data
   */
  def updateFilter(accountId: Long, filterId: Long, parentFilterId: Option[Long] = None, name: Option[String] = None, description: Option[String] = None, externalId: Option[String] = None, externalType: Option[String] = None, active: Option[Boolean] = None, metaData: Option[String] = None): ApiRequest[FilterTreeResponse] =
    ApiRequest[FilterTreeResponse](ApiMethods.POST, baseUrl, "/filter/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("filterId", filterId)
      .withQueryParam("parentFilterId", parentFilterId)
      .withQueryParam("name", name)
      .withQueryParam("description", description)
      .withQueryParam("externalId", externalId)
      .withQueryParam("externalType", externalType)
      .withQueryParam("active", active)
      .withQueryParam("metaData", metaData)
      .withSuccessResponse[FilterTreeResponse](200)
      



}

