/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CountResponse
import org.openapitools.client.model.FlagResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object FlagApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new FlagApi(baseUrl)
}

class FlagApi(baseUrl: String) {

  /**
   * Allows a user to flag an object that the user deems inappropriate or offensive. Flagable objects include accounts, albums, album contests, assets, game levels, and theme descriptors
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param flagableType The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, NOTE, OFFER}
   * @param flagableId The flagable object id
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param flagDescription An optional description of why is it being flagged
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   */
  def createFlag(flagableType: String, flagableId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, flagDescription: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/flag/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("flagableType", flagableType)
      .withQueryParam("flagableId", flagableId)
      .withQueryParam("flagDescription", flagDescription)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Deletes a flag.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param itemBeingFlaggedType This parameter is deprecated.
   * @param itemBeingFlaggedId This parameter is deprecated.
   * @param flagableType The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
   * @param flagableId The flagable object id
   */
  def deleteFlag(deviceId: Option[String] = None, accountId: Option[Long] = None, itemBeingFlaggedType: Option[String] = None, itemBeingFlaggedId: Option[Long] = None, flagableType: Option[String] = None, flagableId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/flag/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("itemBeingFlaggedType", itemBeingFlaggedType)
      .withQueryParam("itemBeingFlaggedId", itemBeingFlaggedId)
      .withQueryParam("flagableType", flagableType)
      .withQueryParam("flagableId", flagableId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Gets the details on whether the user has flagged a particular flagable object.
   * 
   * Expected answers:
   *   code 200 : FlagResponse (successful operation)
   * 
   * @param flagableType The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, NOTE, OFFER}
   * @param flagableId The flagable object id
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   */
  def getFlag(flagableType: String, flagableId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[FlagResponse] =
    ApiRequest[FlagResponse](ApiMethods.GET, baseUrl, "/flag/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("flagableType", flagableType)
      .withQueryParam("flagableId", flagableId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[FlagResponse](200)
      

  /**
   * Get the flag threshold value on an object type for a particular application.
   * 
   * Expected answers:
   *   code 200 : CountResponse (successful operation)
   * 
   * @param itemBeingFlaggedType The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
   * @param appKey The application key
   */
  def getFlagThreshold(itemBeingFlaggedType: String, appKey: String): ApiRequest[CountResponse] =
    ApiRequest[CountResponse](ApiMethods.GET, baseUrl, "/flag/threshold/get", "application/json")
      .withQueryParam("itemBeingFlaggedType", itemBeingFlaggedType)
      .withQueryParam("appKey", appKey)
      .withSuccessResponse[CountResponse](200)
      

  /**
   * Update the flag threshold on an object type for a particular application.
   * 
   * Expected answers:
   *   code 200 : CountResponse (successful operation)
   * 
   * @param itemBeingFlaggedType The flagable object type {ACCOUNT, ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, THEME_DESCRIPTOR, OFFER, NOTE}
   * @param threshold The threshold value
   * @param appKey The application key
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   */
  def updateFlagThreshold(itemBeingFlaggedType: String, threshold: Long, appKey: String, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[CountResponse] =
    ApiRequest[CountResponse](ApiMethods.POST, baseUrl, "/flag/threshold/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("itemBeingFlaggedType", itemBeingFlaggedType)
      .withQueryParam("threshold", threshold)
      .withQueryParam("appKey", appKey)
      .withSuccessResponse[CountResponse](200)
      



}

