/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.GameResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object GameApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new GameApi(baseUrl)
}

class GameApi(baseUrl: String) {

  /**
   * Create a Game.
   * 
   * Expected answers:
   *   code 200 : GameResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param appKey The game application key to save the level for.
   * @param title Title of the game.
   * @param description Description of the game.
   * @param metaData metaData of the Game.
   * @param packIds comma separated String of pack Ids that will associate with the game.
   * @param includeGameData Show more details in response.
   */
  def createGame(accountId: Option[Long] = None, appKey: Option[String] = None, title: Option[String] = None, description: Option[String] = None, metaData: Option[String] = None, packIds: Option[String] = None, includeGameData: Option[Boolean] = None): ApiRequest[GameResponse] =
    ApiRequest[GameResponse](ApiMethods.POST, baseUrl, "/game/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("title", title)
      .withQueryParam("description", description)
      .withQueryParam("metaData", metaData)
      .withQueryParam("packIds", packIds)
      .withQueryParam("includeGameData", includeGameData)
      .withSuccessResponse[GameResponse](200)
      

  /**
   * Delete a game.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param gameId the updating game's id.
   */
  def deleteGame(accountId: Long, gameId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/game/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("gameId", gameId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get a Game by id.
   * 
   * Expected answers:
   *   code 200 : GameResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param gameId the updating game's id.
   * @param includeGameData If true include the game level data, otherwise don't. default is false.
   */
  def getGame(accountId: Long, gameId: Long, includeGameData: Option[Boolean] = None): ApiRequest[GameResponse] =
    ApiRequest[GameResponse](ApiMethods.GET, baseUrl, "/game/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("gameId", gameId)
      .withQueryParam("includeGameData", includeGameData)
      .withSuccessResponse[GameResponse](200)
      

  /**
   * Get a list of games for an application, just those the account has permissions to view.
   * 
   * Expected answers:
   *   code 200 : GameResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param appKey the application key
   * @param start Start the result set at some index.
   * @param limit Limit the result to some number.
   * @param keyword Match the keyword to the owner name or level name.
   * @param appVersion The maximum version of the level to return.
   * @param includeGameData more details in response
   * @param includeInactive more details in response
   */
  def searchGames(accountId: Long, appKey: String, start: Int, limit: Int, keyword: Option[String] = None, appVersion: Option[String] = None, includeGameData: Option[Boolean] = None, includeInactive: Option[Boolean] = None): ApiRequest[GameResponse] =
    ApiRequest[GameResponse](ApiMethods.GET, baseUrl, "/game/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("keyword", keyword)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("appVersion", appVersion)
      .withQueryParam("includeGameData", includeGameData)
      .withQueryParam("includeInactive", includeInactive)
      .withSuccessResponse[GameResponse](200)
      

  /**
   * Update a Game
   * 
   * Expected answers:
   *   code 200 : GameResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param gameId the updating game's id
   * @param appKey The game application key to save the level for.
   * @param title Title of the Game.
   * @param description Description of the Game.
   * @param metaData metaData of the Game.
   * @param packIds comma separated String of pack Ids that will associate with the game.
   * @param includeGameData show more details in response.
   */
  def updateGame(accountId: Option[Long] = None, gameId: Option[Long] = None, appKey: Option[String] = None, title: Option[String] = None, description: Option[String] = None, metaData: Option[String] = None, packIds: Option[String] = None, includeGameData: Option[Boolean] = None): ApiRequest[GameResponse] =
    ApiRequest[GameResponse](ApiMethods.POST, baseUrl, "/game/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("gameId", gameId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("title", title)
      .withQueryParam("description", description)
      .withQueryParam("metaData", metaData)
      .withQueryParam("packIds", packIds)
      .withQueryParam("includeGameData", includeGameData)
      .withSuccessResponse[GameResponse](200)
      



}

