/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ConsumerInviteResponse
import org.openapitools.client.model.InviteResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object InviteApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new InviteApi(baseUrl)
}

class InviteApi(baseUrl: String) {

  /**
   * Allows a user to accept an invite. The user could also become the inviter's friend.
   * 
   * Expected answers:
   *   code 200 : ConsumerInviteResponse (successful operation)
   * 
   * @param token the invite token
   * @param accountId the accountId of the user who is accepting the invite
   * @param albumId the album id associated with this invite (if applicable)
   * @param missionId the mission id associated with this invite (if applicable)
   * @param albumContestId the album contest id associated with this invite (if applicable)
   * @param offerId the offer id associated with this invite (if applicable)
   * @param offerLocationId the offer location id associated with this invite (if applicable)
   * @param retailerLocationId the retailer location id associated with this invite (if applicable)
   * @param appKey the application key
   * @param autoFriend whether to auto-friend the invite sender and receiver
   * @param autoAttendEvent whether to mark the event as attending automatically after invite is accepted
   * @param autoFavoriteOffer whether to mark the offer as favorited automatically after invite is accepted
   * @param autoFavoriteOfferLocation whether to mark the offer location as favorited automatically after invite is accepted
   * @param autoFavoriteRetailerLocation whether to mark the retailer location as favorited automatically after invite is accepted
   */
  def acceptInvite(token: String, accountId: Long, albumId: Option[Long] = None, missionId: Option[Long] = None, albumContestId: Option[Long] = None, offerId: Option[Long] = None, offerLocationId: Option[Long] = None, retailerLocationId: Option[Long] = None, appKey: Option[String] = None, autoFriend: Option[Boolean] = None, autoAttendEvent: Option[Boolean] = None, autoFavoriteOffer: Option[Boolean] = None, autoFavoriteOfferLocation: Option[Boolean] = None, autoFavoriteRetailerLocation: Option[Boolean] = None): ApiRequest[ConsumerInviteResponse] =
    ApiRequest[ConsumerInviteResponse](ApiMethods.POST, baseUrl, "/invite/accept", "application/json")
      .withQueryParam("token", token)
      .withQueryParam("accountId", accountId)
      .withQueryParam("albumId", albumId)
      .withQueryParam("missionId", missionId)
      .withQueryParam("albumContestId", albumContestId)
      .withQueryParam("offerId", offerId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("autoFriend", autoFriend)
      .withQueryParam("autoAttendEvent", autoAttendEvent)
      .withQueryParam("autoFavoriteOffer", autoFavoriteOffer)
      .withQueryParam("autoFavoriteOfferLocation", autoFavoriteOfferLocation)
      .withQueryParam("autoFavoriteRetailerLocation", autoFavoriteRetailerLocation)
      .withSuccessResponse[ConsumerInviteResponse](200)
      

  /**
   * Allows a user to invite people to gain access to a contest. This will generate an invite token, which when used, will give the invitee access to a contest (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
   * 
   * Expected answers:
   *   code 200 : InviteResponse (successful operation)
   * 
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param appId This parameter is deprecated.
   * @param appKey the application key
   * @param albumContestId the album contest to share
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   */
  def albumContestInvite(deviceId: Option[String] = None, accountId: Option[Long] = None, appId: Option[Long] = None, appKey: Option[String] = None, albumContestId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[InviteResponse] =
    ApiRequest[InviteResponse](ApiMethods.POST, baseUrl, "/invite/albumContest", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("appId", appId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("albumContestId", albumContestId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[InviteResponse](200)
      

  /**
   * Allows a user to invite people to gain access to a collection. This will generate an invite token, which when used, will give the invitee access to a collection (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
   * 
   * Expected answers:
   *   code 200 : InviteResponse (successful operation)
   * 
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param appId This parameter is deprecated.
   * @param appKey the application key
   * @param albumId the album to share
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   */
  def albumInvite(deviceId: Option[String] = None, accountId: Option[Long] = None, appId: Option[Long] = None, appKey: Option[String] = None, albumId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[InviteResponse] =
    ApiRequest[InviteResponse](ApiMethods.POST, baseUrl, "/invite/album", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("appId", appId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("albumId", albumId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[InviteResponse](200)
      

  /**
   * Allows a user to invite people to attend an event. This will generate an invite token, which when used, will allow the invitee to add the offer to their wallet.
   * 
   * Expected answers:
   *   code 200 : InviteResponse (successful operation)
   * 
   * @param accountId the account ID of the user making the share
   * @param appKey the application key
   * @param listingId The ID of the event listing
   * @param receiverAccountIds the account ID of a Sirqul user they would like to share an event with
   * @param retailerLocationId The retailer location id of where the event will take place
   */
  def eventInvite(accountId: Long, appKey: String, listingId: Long, receiverAccountIds: Option[String] = None, retailerLocationId: Option[Long] = None): ApiRequest[InviteResponse] =
    ApiRequest[InviteResponse](ApiMethods.POST, baseUrl, "/invite/event", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("receiverAccountIds", receiverAccountIds)
      .withQueryParam("appKey", appKey)
      .withQueryParam("listingId", listingId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withSuccessResponse[InviteResponse](200)
      

  /**
   * Allows a user to invite people to gain access to an album. This will generate an invite token, which when used, will give the invitee access to an album (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
   * 
   * Expected answers:
   *   code 200 : InviteResponse (successful operation)
   * 
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param appId This parameter is deprecated.
   * @param appKey the application key
   * @param gameLevelId the game level that the user owns and is giving access to
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   */
  def gameInvite(deviceId: Option[String] = None, accountId: Option[Long] = None, appId: Option[Long] = None, appKey: Option[String] = None, gameLevelId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[InviteResponse] =
    ApiRequest[InviteResponse](ApiMethods.POST, baseUrl, "/invite/gameLevel", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("appId", appId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("gameLevelId", gameLevelId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[InviteResponse](200)
      

  /**
   * This is used to determine whether an invite token is valid. If the token is valid, this will also return information about who invited the user, and what they are invited to.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId Account ID of the user if they are logged in
   * @param token the invite token
   * @param albumId album id to match the invite against (if applicable)
   * @param missionId mission id to match the invite against (if applicable)
   * @param albumContestId album contest id to match the invite against (if applicable)
   * @param offerId offer id to match the invite against (if applicable)
   * @param offerLocationId offer location id to match the invite against (if applicable)
   * @param retailerLocationId retailer location id to match the invite against (if applicable)
   * @param appKey the application key
   */
  def getInvite(accountId: Option[Long] = None, token: Option[String] = None, albumId: Option[Long] = None, missionId: Option[Long] = None, albumContestId: Option[Long] = None, offerId: Option[Long] = None, offerLocationId: Option[Long] = None, retailerLocationId: Option[Long] = None, appKey: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.GET, baseUrl, "/invite/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("token", token)
      .withQueryParam("albumId", albumId)
      .withQueryParam("missionId", missionId)
      .withQueryParam("albumContestId", albumContestId)
      .withQueryParam("offerId", offerId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("appKey", appKey)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Allows a user to invite people to gain access to a mission. This will generate an invite token, which when used, will give the invitee access to a mission (whether it is private or not). The invitee will also become the user's friend when the invitation is accepted.
   * 
   * Expected answers:
   *   code 200 : InviteResponse (successful operation)
   * 
   * @param deviceId a unique ID given by the device (deviceId or accountId required)
   * @param accountId the account ID of the user (deviceId or accountId required)
   * @param appId This parameter is deprecated.
   * @param appKey the application key
   * @param missionId the mission to share
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   */
  def missionInvite(deviceId: Option[String] = None, accountId: Option[Long] = None, appId: Option[Long] = None, appKey: Option[String] = None, missionId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[InviteResponse] =
    ApiRequest[InviteResponse](ApiMethods.POST, baseUrl, "/invite/mission", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("appId", appId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("missionId", missionId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[InviteResponse](200)
      

  /**
   * Allows a user to invite people to favorite an offer. This will generate an invite token, which when used, will give the invitee the offer in their favorite's list.
   * 
   * Expected answers:
   *   code 200 : InviteResponse (successful operation)
   * 
   * @param accountId the account ID of the user making the share
   * @param appKey the application key
   * @param offerId the ID of the offer used to invite to favorite
   */
  def offerInvite(accountId: Long, appKey: String, offerId: Long): ApiRequest[InviteResponse] =
    ApiRequest[InviteResponse](ApiMethods.POST, baseUrl, "/invite/offer", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("offerId", offerId)
      .withSuccessResponse[InviteResponse](200)
      

  /**
   * Allows a user to invite people to favorite an offer location. This will generate an invite token, which when used, will give the invitee the offer location in their favorite's list.
   * 
   * Expected answers:
   *   code 200 : InviteResponse (successful operation)
   * 
   * @param accountId the account ID of the user making the share
   * @param appKey the application key
   * @param offerLocationId the id of the offer location to share
   */
  def offerLocationInvite(accountId: Long, appKey: String, offerLocationId: Long): ApiRequest[InviteResponse] =
    ApiRequest[InviteResponse](ApiMethods.POST, baseUrl, "/invite/offerLocation", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("offerLocationId", offerLocationId)
      .withSuccessResponse[InviteResponse](200)
      

  /**
   * Allows a user to invite people to favorite a retailer location. This will generate an invite token, which when used, will give the invitee the retailer location in their favorite's list.
   * 
   * Expected answers:
   *   code 200 : InviteResponse (successful operation)
   * 
   * @param accountId the account ID of the user making the share
   * @param appKey the application key
   * @param retailerLocationId The retailer location id of where the event will take place
   * @param albumId Optional album id to link with the invite
   */
  def retailerLocationInvite(accountId: Long, appKey: String, retailerLocationId: Long, albumId: Option[Long] = None): ApiRequest[InviteResponse] =
    ApiRequest[InviteResponse](ApiMethods.POST, baseUrl, "/invite/retailerLocation", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("albumId", albumId)
      .withSuccessResponse[InviteResponse](200)
      



}

