/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import java.io.File
import org.openapitools.client.model.LeaderboardResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LeaderboardApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new LeaderboardApi(baseUrl)
}

class LeaderboardApi(baseUrl: String) {

  /**
   * Create a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
   * 
   * Expected answers:
   *   code 200 : LeaderboardResponse (successful operation)
   * 
   * @param accountId The account id of the user creating the leaderboard.
   * @param appKey The application key
   * @param rankType a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters. There are also default rank types to use which include: POINTS, DOWNLOADS, INVITATIONS, CREATIONS, VOTES, REDEEMED, ACTIONS
   * @param leaderboardMode the type of search to perform. Possible values include: GLOBAL - searches scores globally (all users in the system are included in the ranking); LOCAL - filters results by select users and on users that have logged into the same device; SEARCH - does a GLOBAL search by keyword; CUSTOM - does a LOCAL search by keyword
   * @param iconMedia a MultipartFile containing the icon image of the leaderboard (this will only be used if \"iconAssetId\" is empty)
   * @param iconAssetId The asset ID to set the leaderboard icon
   * @param bannerMedia a MultipartFile containing the icon banner of the leaderboard (this will only be used if \"bannerAssetId\" is empty)
   * @param bannerAssetId The asset ID to set the leaderboard banner
   * @param limitation limit number of rankings for each leaderboard
   * @param sortField determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST
   * @param title leaderboard's title
   * @param description leaderboard's description
   * @param metaData custom meta data for the leaderboard
   */
  def createLeaderboard(accountId: Option[Long] = None, appKey: Option[String] = None, rankType: Option[String] = None, leaderboardMode: Option[String] = None, iconMedia: Option[File] = None, iconAssetId: Option[Long] = None, bannerMedia: Option[File] = None, bannerAssetId: Option[Long] = None, limitation: Option[Int] = None, sortField: Option[String] = None, title: Option[String] = None, description: Option[String] = None, metaData: Option[String] = None): ApiRequest[LeaderboardResponse] =
    ApiRequest[LeaderboardResponse](ApiMethods.POST, baseUrl, "/leaderboard/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("rankType", rankType)
      .withQueryParam("leaderboardMode", leaderboardMode)
      .withQueryParam("iconMedia", iconMedia)
      .withQueryParam("iconAssetId", iconAssetId)
      .withQueryParam("bannerMedia", bannerMedia)
      .withQueryParam("bannerAssetId", bannerAssetId)
      .withQueryParam("limitation", limitation)
      .withQueryParam("sortField", sortField)
      .withQueryParam("title", title)
      .withQueryParam("description", description)
      .withQueryParam("metaData", metaData)
      .withSuccessResponse[LeaderboardResponse](200)
      

  /**
   * Removes a leader board id.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param leaderboardId The leaderboard id to delete.
   * @param accountId The account id of the user making the request.
   */
  def deleteLeaderboard(leaderboardId: Long, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/leaderboard/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("leaderboardId", leaderboardId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Read a leaderboard by id and retrieve the matching ranking list
   * 
   * Expected answers:
   *   code 200 : LeaderboardResponse (successful operation)
   * 
   * @param leaderboardId The leaderboard id.
   * @param accountId A valid account.
   * @param includeFullRankingList set to true if need to return the leaderboard's full ranking list
   */
  def getLeaderboard(leaderboardId: Long, accountId: Option[Long] = None, includeFullRankingList: Option[Boolean] = None): ApiRequest[LeaderboardResponse] =
    ApiRequest[LeaderboardResponse](ApiMethods.GET, baseUrl, "/leaderboard/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("leaderboardId", leaderboardId)
      .withQueryParam("includeFullRankingList", includeFullRankingList)
      .withSuccessResponse[LeaderboardResponse](200)
      

  /**
   * Search leaderboard and retrieve the matching ranking list
   * 
   * Expected answers:
   *   code 200 : LeaderboardResponse (successful operation)
   * 
   * @param accountId The account id of the user requesting the search.
   * @param appKey The application key.
   * @param globalOnly only include global leaderboards (this overrides the appKey filter)
   * @param keyword keyword to search by title
   * @param leaderboardIds comma separated list of leaderboard ids to filter results with
   * @param rankTypes comma separated list of rankType to filter results with
   * @param sortField sortField of the result, from LeaderboardApiMap (TITLE, DESCRIPTION, CREATED, UPDATED, RANK_TYPE, RANK_MODE)
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param includeInactive include inactive in the result
   * @param includeAppResponse determines whether to include the application response for each leaderboard
   * @param start Start the result set at some index.
   * @param limit Limit the result to some number.
   */
  def searchLeaderboards(accountId: Option[Long] = None, appKey: Option[String] = None, globalOnly: Option[Boolean] = None, keyword: Option[String] = None, leaderboardIds: Option[String] = None, rankTypes: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, includeInactive: Option[Boolean] = None, includeAppResponse: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[LeaderboardResponse] =
    ApiRequest[LeaderboardResponse](ApiMethods.GET, baseUrl, "/leaderboard/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("globalOnly", globalOnly)
      .withQueryParam("keyword", keyword)
      .withQueryParam("leaderboardIds", leaderboardIds)
      .withQueryParam("rankTypes", rankTypes)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("includeInactive", includeInactive)
      .withQueryParam("includeAppResponse", includeAppResponse)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[LeaderboardResponse](200)
      

  /**
   * Update a leaderboard based on the rankingType, rankMode(leaderboardMode), sortField and limitation
   * 
   * Expected answers:
   *   code 200 : LeaderboardResponse (successful operation)
   * 
   * @param leaderboardId The leaderboard id to update.
   * @param accountId The account id of the user updating the leaderboard.
   * @param appKey The application key
   * @param rankType a unique label for identifying the ranking. This can be any alphanumeric string with a maximum length of 64 characters.
   * @param leaderboardMode the type of search to perform. Possible values include: GLOBAL, LOCAL, SEARCH, CUSTOM
   * @param sortField determines how to order and rank the results. Possible values include: TOTAL, WEEKLY, DAILY, TOP, LOWEST
   * @param iconMedia a MultipartFile containing the icon image of the leaderboard (this will only be used if \"iconAssetId\" is empty)
   * @param iconAssetId The asset ID to set the leaderboard icon
   * @param bannerMedia a MultipartFile containing the icon banner of the leaderboard (this will only be used if \"bannerAssetId\" is empty)
   * @param bannerAssetId The asset ID to set the leaderboard banner
   * @param limitation limit number of rankings for each leaderboard
   * @param active Whether the leaderboard is active
   * @param title leaderboard's title
   * @param description leaderboard's description
   * @param metaData custom meta data for the leaderboard
   */
  def updateLeaderboard(leaderboardId: Long, accountId: Option[Long] = None, appKey: Option[String] = None, rankType: Option[String] = None, leaderboardMode: Option[String] = None, sortField: Option[String] = None, iconMedia: Option[File] = None, iconAssetId: Option[Long] = None, bannerMedia: Option[File] = None, bannerAssetId: Option[Long] = None, limitation: Option[Int] = None, active: Option[Boolean] = None, title: Option[String] = None, description: Option[String] = None, metaData: Option[String] = None): ApiRequest[LeaderboardResponse] =
    ApiRequest[LeaderboardResponse](ApiMethods.POST, baseUrl, "/leaderboard/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("leaderboardId", leaderboardId)
      .withQueryParam("rankType", rankType)
      .withQueryParam("leaderboardMode", leaderboardMode)
      .withQueryParam("sortField", sortField)
      .withQueryParam("iconMedia", iconMedia)
      .withQueryParam("iconAssetId", iconAssetId)
      .withQueryParam("bannerMedia", bannerMedia)
      .withQueryParam("bannerAssetId", bannerAssetId)
      .withQueryParam("limitation", limitation)
      .withQueryParam("active", active)
      .withQueryParam("title", title)
      .withQueryParam("description", description)
      .withQueryParam("metaData", metaData)
      .withSuccessResponse[LeaderboardResponse](200)
      



}

