/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.LikableResponse
import org.openapitools.client.model.SearchResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LikeApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new LikeApi(baseUrl)
}

class LikeApi(baseUrl: String) {

  /**
   * Allows a user to like or dislike accounts, albums, album contests, assets, game levels, notes, and theme descriptors. Multiple likes\\dislikes on the same object will replace the previous one.
   * 
   * Expected answers:
   *   code 200 : LikableResponse (successful operation)
   * 
   * @param likableType The type of likable object {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, NOTE, THEME_DESCRIPTOR}
   * @param likableId The id of the likable object
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param permissionableType This is used for sending out group notifications. For example, when someone likes an asset which is also a part of an album, everyone in the album will receive a notification. This is achieved by passing in the permissionable type (in this case \"album\"), and the permissionable id (the album id). Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
   * @param permissionableId The id of the permissionable object (for sending group notifications)
   * @param like determines whether the user likes or dislikes the object
   * @param app This parameter is deprecated. This is deprecated, use \"appKey\" instead.
   * @param gameType This parameter is deprecated. This is deprecated, use \"appKey\" instead.
   * @param appKey the application key
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   */
  def registerLike(likableType: String, likableId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, permissionableType: Option[String] = None, permissionableId: Option[Long] = None, like: Option[Boolean] = None, app: Option[String] = None, gameType: Option[String] = None, appKey: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[LikableResponse] =
    ApiRequest[LikableResponse](ApiMethods.POST, baseUrl, "/like", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("likableType", likableType)
      .withQueryParam("likableId", likableId)
      .withQueryParam("permissionableType", permissionableType)
      .withQueryParam("permissionableId", permissionableId)
      .withQueryParam("like", like)
      .withQueryParam("app", app)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[LikableResponse](200)
      

  /**
   * Removes a like. This will make the user \"neutral\".
   * 
   * Expected answers:
   *   code 200 : LikableResponse (successful operation)
   * 
   * @param likableType The type of the likable object {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, NOTE, THEME_DESCRIPTOR}
   * @param likableId The id of the likable object
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   */
  def removeLike(likableType: String, likableId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[LikableResponse] =
    ApiRequest[LikableResponse](ApiMethods.POST, baseUrl, "/like/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("likableType", likableType)
      .withQueryParam("likableId", likableId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[LikableResponse](200)
      

  /**
   * Search for likes on a likable object.
   * 
   * Expected answers:
   *   code 200 : SearchResponse (successful operation)
   * 
   * @param likableType The type of the likable object {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, NOTE, THEME_DESCRIPTOR}
   * @param likableId The id of the likable object
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param connectionAccountIds Comma separated list of account IDs for filtering on users
   * @param sortField The field to sort by. Possible values include: ID
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param updatedSince return items that have been updated since this date (time-stamp in milliseconds)
   * @param updatedBefore return items that have been updated before this date (time-stamp in milliseconds)
   * @param start the start index for pagination
   * @param limit the limit for pagination
   */
  def searchLikes(likableType: String, likableId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, connectionAccountIds: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, updatedSince: Option[Long] = None, updatedBefore: Option[Long] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[SearchResponse] =
    ApiRequest[SearchResponse](ApiMethods.GET, baseUrl, "/like/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("connectionAccountIds", connectionAccountIds)
      .withQueryParam("likableType", likableType)
      .withQueryParam("likableId", likableId)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("updatedSince", updatedSince)
      .withQueryParam("updatedBefore", updatedBefore)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[SearchResponse](200)
      



}

