/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ListingFullResponse
import org.openapitools.client.model.ListingGroupResponse
import org.openapitools.client.model.ListingResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ListingApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ListingApi(baseUrl)
}

class ListingApi(baseUrl: String) {

  /**
   * Creates a listing.
   * 
   * Expected answers:
   *   code 200 : ListingFullResponse (successful operation)
   * 
   * @param accountId the user's account ID
   * @param name the name of the listing
   * @param filterIds comma separated list of filter IDs
   * @param description the description of the listing
   * @param start the start date of the listing
   * @param end the end date of the listing
   * @param locationName the name of the location the listing will be held at
   * @param locationDescription the description of the location the listing will be held at
   * @param isPrivate determines whether the listing is public or private
   * @param externalId external identifier used by a third party
   * @param externalId2 secondary external identifier used by a third party
   * @param externalGroupId external group identifier used by a third party
   * @param active Sets the active flag
   * @param metaData external custom client defined data
   */
  def createListing(accountId: Long, name: String, filterIds: Option[String] = None, description: Option[String] = None, start: Option[Long] = None, end: Option[Long] = None, locationName: Option[String] = None, locationDescription: Option[String] = None, isPrivate: Option[Boolean] = None, externalId: Option[String] = None, externalId2: Option[String] = None, externalGroupId: Option[String] = None, active: Option[Boolean] = None, metaData: Option[String] = None): ApiRequest[ListingFullResponse] =
    ApiRequest[ListingFullResponse](ApiMethods.POST, baseUrl, "/listing/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("name", name)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("description", description)
      .withQueryParam("start", start)
      .withQueryParam("end", end)
      .withQueryParam("locationName", locationName)
      .withQueryParam("locationDescription", locationDescription)
      .withQueryParam("isPrivate", isPrivate)
      .withQueryParam("externalId", externalId)
      .withQueryParam("externalId2", externalId2)
      .withQueryParam("externalGroupId", externalGroupId)
      .withQueryParam("active", active)
      .withQueryParam("metaData", metaData)
      .withSuccessResponse[ListingFullResponse](200)
      

  /**
   * Delete a listing.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param listingId the id of the listing to delete
   */
  def deleteListing(accountId: Long, listingId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/listing/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("listingId", listingId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get a listing by id.
   * 
   * Expected answers:
   *   code 200 : ListingFullResponse (successful operation)
   * 
   * @param listingId the id of the listing to get
   */
  def getListing(listingId: Long): ApiRequest[ListingFullResponse] =
    ApiRequest[ListingFullResponse](ApiMethods.GET, baseUrl, "/listing/get", "application/json")
      .withQueryParam("listingId", listingId)
      .withSuccessResponse[ListingFullResponse](200)
      

  /**
   * Search for event listings from the start time to end time
   * 
   * Expected answers:
   *   code 200 : Seq[ListingResponse] (successful operation)
   * 
   * @param accountId the account id of the user
   * @param keyword search the event name and description for this keyword
   * @param start the record to begin the return set on
   * @param limit the number of records to return
   * @param activeOnly whether to search on active listings only
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @param startDate the start date to search from
   * @param endDate the end date to search to
   * @param categoryIds only return items of these categories
   * @param filterIds 
   * @param useListingOrderIds determines whether to use configured listing order ids
   * @param externalId external identifier used by a third party
   * @param externalId2 secondary external identifier used by a third party
   * @param externalGroupId external group identifier used by a third party
   */
  def searchListing(accountId: Option[Long] = None, keyword: Option[String] = None, start: Option[Int] = None, limit: Option[Int] = None, activeOnly: Option[Boolean] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, startDate: Option[Long] = None, endDate: Option[Long] = None, categoryIds: Option[String] = None, filterIds: Option[String] = None, useListingOrderIds: Option[Boolean] = None, externalId: Option[String] = None, externalId2: Option[String] = None, externalGroupId: Option[String] = None): ApiRequest[Seq[ListingResponse]] =
    ApiRequest[Seq[ListingResponse]](ApiMethods.GET, baseUrl, "/listing/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("keyword", keyword)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("useListingOrderIds", useListingOrderIds)
      .withQueryParam("externalId", externalId)
      .withQueryParam("externalId2", externalId2)
      .withQueryParam("externalGroupId", externalGroupId)
      .withSuccessResponse[Seq[ListingResponse]](200)
      

  /**
   * Search for a list of summary listings from the start time up to 8 days out.
   * 
   * Expected answers:
   *   code 200 : Seq[ListingGroupResponse] (successful operation)
   * 
   * @param accountId the account id of the user
   * @param startDate the start date to search from
   * @param categoryIds the list of categories to search on
   * @param daysToInclude how far out to search, in days
   * @param useListingOrderIds determines whether to use configured listing order ids
   */
  def summaryListing(accountId: Option[Long] = None, startDate: Option[Long] = None, categoryIds: Option[String] = None, daysToInclude: Option[Int] = None, useListingOrderIds: Option[Boolean] = None): ApiRequest[Seq[ListingGroupResponse]] =
    ApiRequest[Seq[ListingGroupResponse]](ApiMethods.GET, baseUrl, "/listing/summary", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("startDate", startDate)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("daysToInclude", daysToInclude)
      .withQueryParam("useListingOrderIds", useListingOrderIds)
      .withSuccessResponse[Seq[ListingGroupResponse]](200)
      

  /**
   * Updates a listing.
   * 
   * Expected answers:
   *   code 200 : ListingFullResponse (successful operation)
   * 
   * @param accountId the user's account ID
   * @param listingId the listing to update
   * @param filterIds comma separated list of filter IDs
   * @param name the name of the listing
   * @param description the description of the listing
   * @param start the start date of the listing
   * @param end the end date of the listing
   * @param locationName the name of the location the listing will be held at
   * @param locationDescription the description of the location the listing will be held at
   * @param isPrivate determines whether the listing is public or private
   * @param externalId external identifier used by a third party
   * @param externalId2 secondary external identifier used by a third party
   * @param externalGroupId external group identifier used by a third party
   * @param active Sets the active flag
   * @param metaData external custom client defined data
   */
  def updateListing(accountId: Long, listingId: Long, filterIds: Option[String] = None, name: Option[String] = None, description: Option[String] = None, start: Option[Long] = None, end: Option[Long] = None, locationName: Option[String] = None, locationDescription: Option[String] = None, isPrivate: Option[Boolean] = None, externalId: Option[String] = None, externalId2: Option[String] = None, externalGroupId: Option[String] = None, active: Option[Boolean] = None, metaData: Option[String] = None): ApiRequest[ListingFullResponse] =
    ApiRequest[ListingFullResponse](ApiMethods.POST, baseUrl, "/listing/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("listingId", listingId)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("name", name)
      .withQueryParam("description", description)
      .withQueryParam("start", start)
      .withQueryParam("end", end)
      .withQueryParam("locationName", locationName)
      .withQueryParam("locationDescription", locationDescription)
      .withQueryParam("isPrivate", isPrivate)
      .withQueryParam("externalId", externalId)
      .withQueryParam("externalId2", externalId2)
      .withQueryParam("externalGroupId", externalGroupId)
      .withQueryParam("active", active)
      .withQueryParam("metaData", metaData)
      .withSuccessResponse[ListingFullResponse](200)
      



}

