/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Location
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LocationApiV2Api {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new LocationApiV2Api(baseUrl)
}

class LocationApiV2Api(baseUrl: String) {

  /**
   * Create a new location from a real object location.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param body 
   */
  def createLocationV2(body: Option[Location] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/location", "application/json")
      .withBody(body)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Update an existing location
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param id the id of the location to update
   * @param body 
   */
  def updateLocationV2(id: Long, body: Option[Location] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/location/{id}", "application/json")
      .withBody(body)
      .withPathParam("id", id)
      .withSuccessResponse[SirqulResponse](200)
      



}

