/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.CoordsResponse
import java.io.File
import org.openapitools.client.model.GeoPointResponse
import org.openapitools.client.model.LocationSearchResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.model.TrilatCacheRequest
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object LocationApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new LocationApi(baseUrl)
}

class LocationApi(baseUrl: String) {

  /**
   * Creates trilateration samples for a source device (i.e. a router).
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param udid The unique identifier of the source device
   * @param sourceTime The current timestamp of the source device
   * @param minimumSampleSize the minimum number of Edysen devices that must be used to be able to trilaterate a device
   * @param data The json formated sample data:  ```json {    \"count\": 2,   \"timespan\": 10,    \"samples\": [     {       \"deviceId\": \"device1\",       \"randomizedId\": true,        \"deviceSignature\": \"probe:xyz...\",        \"alternativeId\":\"adc123\",        \"rssi\": [-63, -75]     },      {       \"deviceId\": \"device2\",       \"randomizedId\": true,        \"deviceSignature\": \"probe:xyz...\",        \"alternativeId\": \"adc123\",        \"rssi\": [-83, -79]     }   ] } ``` 
   * @param dataFile Binary file containing data (multipart upload)
   */
  def cacheTrilaterationData(udid: String, sourceTime: Option[Long] = None, minimumSampleSize: Option[Int] = None, data: Option[String] = None, dataFile: Option[File] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/location/trilaterate/cache", "application/json")
      .withQueryParam("udid", udid)
      .withQueryParam("sourceTime", sourceTime)
      .withQueryParam("minimumSampleSize", minimumSampleSize)
      .withQueryParam("data", data)
      .withQueryParam("dataFile", dataFile)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Creates trilateration samples for a source device (i.e. a router).
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param body 
   */
  def cacheTrilaterationDataGzip(body: Option[TrilatCacheRequest] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/location/trilaterate/cache/submit", "application/json")
      .withBody(body)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get location information based on an IP address.
   * 
   * Expected answers:
   *   code 200 : CoordsResponse (successful operation)
   * 
   * @param ip the ip address of the client device
   */
  def getLocationByIp(ip: Option[String] = None): ApiRequest[CoordsResponse] =
    ApiRequest[CoordsResponse](ApiMethods.GET, baseUrl, "/location/ip", "application/json")
      .withQueryParam("ip", ip)
      .withSuccessResponse[CoordsResponse](200)
      

  /**
   * Send in device data and calculate a position based on signal strengths.
   * 
   * Expected answers:
   *   code 200 : GeoPointResponse (successful operation)
   * 
   * @param accountId The account making the request, if provided the last know location will be updated
   * @param latitude The known GPS latitude to compare to the calculated version
   * @param longitude The known GPS longitude to compare to the calculated version
   * @param data The json formated sample data:  ```json {    \"count\": 2,   \"timespan\": 10,    \"samples\": [     {       \"deviceId\": \"device1\",       \"rssi\": [-63, -75]     },      {       \"deviceId\": \"device2\",       \"rssi\": [-83, -79]     }   ] } ``` 
   * @param responseFilters Optional response filters (not used currently)
   */
  def getLocationByTrilateration(accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, data: Option[String] = None, responseFilters: Option[String] = None): ApiRequest[GeoPointResponse] =
    ApiRequest[GeoPointResponse](ApiMethods.GET, baseUrl, "/account/location/trilaterate", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("data", data)
      .withQueryParam("responseFilters", responseFilters)
      .withSuccessResponse[GeoPointResponse](200)
      

  /**
   * Searches geographic locations by proximity via address or keyword.
   * 
   * Expected answers:
   *   code 200 : LocationSearchResponse (successful operation)
   * 
   * @param deviceId the device id
   * @param accountId the account id
   * @param currentlatitude This parameter is deprecated.
   * @param currentlongitude This parameter is deprecated.
   * @param currentLatitude the current latitude of the user
   * @param currentLongitude the current longitude of the user
   * @param query the query results by keyword or address
   * @param zipcode This parameter is deprecated.
   * @param zipCode the zip code to filter results
   * @param selectedMaplatitude This parameter is deprecated.
   * @param selectedMaplongitude This parameter is deprecated.
   * @param selectedMapLatitude the latitude of where the search should originate from
   * @param selectedMapLongitude the longitude of where the search should originate from
   * @param searchRange the search range of the search in miles
   * @param useGeocode determines whether to allow searches via address
   * @param `i` This parameter is deprecated.
   * @param start the start index for pagination
   * @param `l` This parameter is deprecated.
   * @param limit the limit for pagination
   */
  def getLocations(deviceId: Option[String] = None, accountId: Option[Long] = None, currentlatitude: Option[Double] = None, currentlongitude: Option[Double] = None, currentLatitude: Option[Double] = None, currentLongitude: Option[Double] = None, query: Option[String] = None, zipcode: Option[String] = None, zipCode: Option[String] = None, selectedMaplatitude: Option[Double] = None, selectedMaplongitude: Option[Double] = None, selectedMapLatitude: Option[Double] = None, selectedMapLongitude: Option[Double] = None, searchRange: Option[Double] = None, useGeocode: Option[Boolean] = None, `i`: Option[Int] = None, start: Option[Int] = None, `l`: Option[Int] = None, limit: Option[Int] = None): ApiRequest[LocationSearchResponse] =
    ApiRequest[LocationSearchResponse](ApiMethods.GET, baseUrl, "/location/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("currentlatitude", currentlatitude)
      .withQueryParam("currentlongitude", currentlongitude)
      .withQueryParam("currentLatitude", currentLatitude)
      .withQueryParam("currentLongitude", currentLongitude)
      .withQueryParam("query", query)
      .withQueryParam("zipcode", zipcode)
      .withQueryParam("zipCode", zipCode)
      .withQueryParam("selectedMaplatitude", selectedMaplatitude)
      .withQueryParam("selectedMaplongitude", selectedMaplongitude)
      .withQueryParam("selectedMapLatitude", selectedMapLatitude)
      .withQueryParam("selectedMapLongitude", selectedMapLongitude)
      .withQueryParam("searchRange", searchRange)
      .withQueryParam("useGeocode", useGeocode)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withSuccessResponse[LocationSearchResponse](200)
      



}

