/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import java.math.BigDecimal
import java.io.File
import org.openapitools.client.model.NoteResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object NoteApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new NoteApi(baseUrl)
}

class NoteApi(baseUrl: String) {

  /**
   * Perform a batch operation on notes for a notable object (for example: DELETE_ALL_NOTES_IN_NOTABLE). 
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param notableId The id of the notable object the batch operation will affect
   * @param notableType The notable object type (for example ALBUM, ASSET, OFFER, etc.)
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param batchOperation The batch operation to perform (e.g., DELETE_ALL_NOTES_IN_NOTABLE). Optional.
   */
  def batchOperation(notableId: Long, notableType: String, deviceId: Option[String] = None, accountId: Option[Long] = None, batchOperation: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/note/batch", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("notableId", notableId)
      .withQueryParam("notableType", notableType)
      .withQueryParam("batchOperation", batchOperation)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * This is used to leave a comment (note) on a notable object (i.e. albums, album contests, assets, game levels, offers, offer locations, retailers, retailer locations, and theme descriptors). Leaving a comment on a notable object will be visiable to everyone who has access to view the object.
   * 
   * Expected answers:
   *   code 200 : NoteResponse (successful operation)
   * 
   * @param comment The message the user wishes to leave a comment on
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param notableType The notable object type {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, OFFER, OFFER_LOCATION, RETAILER, RETAILER_LOCATION, THEME_DESCRIPTOR}
   * @param notableId The id of the notable object
   * @param noteType The custom string defined by the client (used for differentiating various note types)
   * @param assetIds A comma separated list of asset IDs to add with the note
   * @param tags search tags
   * @param permissionableType This is used for sending out group notifications. For example, when someone adds a note to an asset which is also a part of an album, everyone in the album will receive a notification. This is achieved by passing in the permissionable type (in this case \"album\"), and the permissionable id (the album id). Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
   * @param permissionableId The id of the permissionable object (for sending group notifications)
   * @param appKey The application key used to identify the application
   * @param locationDescription The description of the location
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   * @param metaData External custom client defined data
   * @param receiverAccountIds Comma separated list of additional account IDs that will receive the note notifications
   * @param returnFullResponse whether to return the full response or not
   * @param initializeAsset Check true if need to initialize an asset and assign to current note
   * @param assetReturnNulls Return null fields for asset response when creating an asset
   * @param assetAlbumId the album the asset will be added to (optional)
   * @param assetCollectionId the collection ID that the asset is associated with
   * @param assetAddToDefaultAlbum the default album to add the asset to
   * @param assetAddToMediaLibrary the media library to add the asset to
   * @param assetVersionCode the version code of the asset
   * @param assetVersionName the version name of the asset
   * @param assetMetaData the meta data of the asset
   * @param assetCaption the caption of the asset
   * @param assetMedia the media of the asset
   * @param assetMediaUrl the media URL of the asset
   * @param assetMediaString the media string of the asset
   * @param assetMediaStringFileName the media string file name of the asset
   * @param assetMediaStringContentType the media string content type of the asset
   * @param assetAttachedMedia the attached media of the asset
   * @param assetAttachedMediaUrl the attached media URL of the asset
   * @param assetAttachedMediaString the attached media string of the asset
   * @param assetAttachedMediaStringFileName the attached media string file name of the asset
   * @param assetAttachedMediaStringContentType the attached media string content type of the asset
   * @param assetLocationDescription the location description for the asset
   * @param assetApp the application for the asset
   * @param assetSearchTags the search tags used for the asset
   * @param assetLatitude the latitude of the asset
   * @param assetLongitude the longitude of the asset
   */
  def createNote(comment: String, deviceId: Option[String] = None, accountId: Option[Long] = None, notableType: Option[String] = None, notableId: Option[Long] = None, noteType: Option[String] = None, assetIds: Option[String] = None, tags: Option[String] = None, permissionableType: Option[String] = None, permissionableId: Option[Long] = None, appKey: Option[String] = None, locationDescription: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, metaData: Option[String] = None, receiverAccountIds: Option[String] = None, returnFullResponse: Option[Boolean] = None, initializeAsset: Option[Boolean] = None, assetReturnNulls: Option[Boolean] = None, assetAlbumId: Option[Long] = None, assetCollectionId: Option[Long] = None, assetAddToDefaultAlbum: Option[String] = None, assetAddToMediaLibrary: Option[Boolean] = None, assetVersionCode: Option[Int] = None, assetVersionName: Option[String] = None, assetMetaData: Option[String] = None, assetCaption: Option[String] = None, assetMedia: Option[File] = None, assetMediaUrl: Option[String] = None, assetMediaString: Option[String] = None, assetMediaStringFileName: Option[String] = None, assetMediaStringContentType: Option[String] = None, assetAttachedMedia: Option[File] = None, assetAttachedMediaUrl: Option[String] = None, assetAttachedMediaString: Option[String] = None, assetAttachedMediaStringFileName: Option[String] = None, assetAttachedMediaStringContentType: Option[String] = None, assetLocationDescription: Option[String] = None, assetApp: Option[String] = None, assetSearchTags: Option[String] = None, assetLatitude: Option[Double] = None, assetLongitude: Option[BigDecimal] = None): ApiRequest[NoteResponse] =
    ApiRequest[NoteResponse](ApiMethods.POST, baseUrl, "/note/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("notableType", notableType)
      .withQueryParam("notableId", notableId)
      .withQueryParam("comment", comment)
      .withQueryParam("noteType", noteType)
      .withQueryParam("assetIds", assetIds)
      .withQueryParam("tags", tags)
      .withQueryParam("permissionableType", permissionableType)
      .withQueryParam("permissionableId", permissionableId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("locationDescription", locationDescription)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("metaData", metaData)
      .withQueryParam("receiverAccountIds", receiverAccountIds)
      .withQueryParam("returnFullResponse", returnFullResponse)
      .withQueryParam("initializeAsset", initializeAsset)
      .withQueryParam("assetReturnNulls", assetReturnNulls)
      .withQueryParam("assetAlbumId", assetAlbumId)
      .withQueryParam("assetCollectionId", assetCollectionId)
      .withQueryParam("assetAddToDefaultAlbum", assetAddToDefaultAlbum)
      .withQueryParam("assetAddToMediaLibrary", assetAddToMediaLibrary)
      .withQueryParam("assetVersionCode", assetVersionCode)
      .withQueryParam("assetVersionName", assetVersionName)
      .withQueryParam("assetMetaData", assetMetaData)
      .withQueryParam("assetCaption", assetCaption)
      .withQueryParam("assetMedia", assetMedia)
      .withQueryParam("assetMediaUrl", assetMediaUrl)
      .withQueryParam("assetMediaString", assetMediaString)
      .withQueryParam("assetMediaStringFileName", assetMediaStringFileName)
      .withQueryParam("assetMediaStringContentType", assetMediaStringContentType)
      .withQueryParam("assetAttachedMedia", assetAttachedMedia)
      .withQueryParam("assetAttachedMediaUrl", assetAttachedMediaUrl)
      .withQueryParam("assetAttachedMediaString", assetAttachedMediaString)
      .withQueryParam("assetAttachedMediaStringFileName", assetAttachedMediaStringFileName)
      .withQueryParam("assetAttachedMediaStringContentType", assetAttachedMediaStringContentType)
      .withQueryParam("assetLocationDescription", assetLocationDescription)
      .withQueryParam("assetApp", assetApp)
      .withQueryParam("assetSearchTags", assetSearchTags)
      .withQueryParam("assetLatitude", assetLatitude)
      .withQueryParam("assetLongitude", assetLongitude)
      .withSuccessResponse[NoteResponse](200)
      

  /**
   * Sets a comment (note) as deleted.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param noteId The ID of the note to delete
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   * @param appKey The application key used to identify the application
   */
  def deleteNote(noteId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, appKey: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/note/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("noteId", noteId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("appKey", appKey)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get for a note based on its Id.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param noteId the id of the note to get
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param returnFullResponse Determines whether to return the NoteFullResponse for the item
   */
  def getNote(noteId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, returnFullResponse: Option[Boolean] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/note/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("returnFullResponse", returnFullResponse)
      .withQueryParam("noteId", noteId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Search for notes on a notable object.
   * 
   * Expected answers:
   *   code 200 : Seq[NoteResponse] (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param notableType The notable object type {ALBUM, ALBUM_CONTEST, ASSET, GAME_LEVEL, OFFER, OFFER_LOCATION, RETAILER, RETAILER_LOCATION, THEME_DESCRIPTOR}
   * @param notableId The id of the notable object
   * @param noteTypes Comma separated list of noteType strings to filter results with
   * @param appKey The application key used to identify the application
   * @param keyword The keyword used to search
   * @param flagCountMinimum return items that has flagCount >= flagCountMinimum if this is set, return all items, even ones with flagCount >= flagThreshold
   * @param flagsExceedThreshold return items that has flagCount >= flagThreshold, which are hidden by default
   * @param includeInactive include inactive in the result
   * @param sortField The column to sort the search on
   * @param descending The order to return the search results
   * @param returnFullResponse Determines whether to return the NoteFullResponse for each search item
   * @param updatedSince return items that have been updated since this date (time-stamp in milliseconds)
   * @param updatedBefore return items that have been updated before this date (time-stamp in milliseconds)
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   */
  def searchNotes(deviceId: Option[String] = None, accountId: Option[Long] = None, notableType: Option[String] = None, notableId: Option[Long] = None, noteTypes: Option[String] = None, appKey: Option[String] = None, keyword: Option[String] = None, flagCountMinimum: Option[Long] = None, flagsExceedThreshold: Option[Boolean] = None, includeInactive: Option[Boolean] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, returnFullResponse: Option[Boolean] = None, updatedSince: Option[Long] = None, updatedBefore: Option[Long] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[Seq[NoteResponse]] =
    ApiRequest[Seq[NoteResponse]](ApiMethods.POST, baseUrl, "/note/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("notableType", notableType)
      .withQueryParam("notableId", notableId)
      .withQueryParam("noteTypes", noteTypes)
      .withQueryParam("appKey", appKey)
      .withQueryParam("keyword", keyword)
      .withQueryParam("flagCountMinimum", flagCountMinimum)
      .withQueryParam("flagsExceedThreshold", flagsExceedThreshold)
      .withQueryParam("includeInactive", includeInactive)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("returnFullResponse", returnFullResponse)
      .withQueryParam("updatedSince", updatedSince)
      .withQueryParam("updatedBefore", updatedBefore)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[NoteResponse]](200)
      

  /**
   * Update an existing comment (note). Only the creator of the note have permission to update.
   * 
   * Expected answers:
   *   code 200 : NoteResponse (successful operation)
   * 
   * @param noteId The id of the note, used when editing a comment
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param comment The message the user wishes to leave a comment on
   * @param noteType The custom string defined by the client (used for differentiating on various note types)
   * @param assetIds A comma separated list of asset IDs to add with the note
   * @param tags search tags
   * @param permissionableType This is used for sending out group notifications. For example, when someone adds a note to an asset which is also a part of an album, everyone in the album will receive a notification. This is achieved by passing in the permissionable type (in this case \"album\"), and the permissionable id (the album id). Possible types: {ALBUM, ALBUM_CONTEST, GAME_LEVEL, THEME_DESCRIPTOR}
   * @param permissionableId The id of the permissionable object (for sending group notifications)
   * @param appKey The application key used to identify the application
   * @param locationDescription The description of the location
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   * @param metaData meta data to update with the note
   * @param returnFullResponse whether to return the full response or not
   * @param active Sets the active flag for the note
   * @param updateAsset main flag for updating asset in note, must set to true if you want to update the note's asset
   * @param assetReturnNulls Return null fields for asset response when updating an asset
   * @param assetAlbumId the album the asset will be added to (optional)
   * @param assetCollectionId the collection ID that the asset is associated with
   * @param assetAddToDefaultAlbum the default album to add the asset to
   * @param assetAddToMediaLibrary the media library to add the asset to
   * @param assetVersionCode the version code of the asset
   * @param assetVersionName the version name of the asset
   * @param assetMetaData the meta data of the asset
   * @param assetCaption the caption of the asset
   * @param assetMedia the media of the asset
   * @param assetMediaUrl the media URL of the asset
   * @param assetMediaString the media string of the asset
   * @param assetMediaStringFileName the media string file name of the asset
   * @param assetMediaStringContentType the media string content type of the asset
   * @param assetAttachedMedia the attached media of the asset
   * @param assetAttachedMediaUrl the attached media URL of the asset
   * @param assetAttachedMediaString the attached media string of the asset
   * @param assetAttachedMediaStringFileName the attached media string file name of the asset
   * @param assetAttachedMediaStringContentType the attached media string content type of the asset
   * @param assetLocationDescription the location description for the asset
   * @param assetApp the application for the asset
   * @param assetSearchTags the search tags used for the asset
   * @param assetLatitude the latitude of the asset
   * @param assetLongitude the longitude of the asset
   */
  def updateNote(noteId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, comment: Option[String] = None, noteType: Option[String] = None, assetIds: Option[String] = None, tags: Option[String] = None, permissionableType: Option[String] = None, permissionableId: Option[Long] = None, appKey: Option[String] = None, locationDescription: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, metaData: Option[String] = None, returnFullResponse: Option[Boolean] = None, active: Option[Boolean] = None, updateAsset: Option[Boolean] = None, assetReturnNulls: Option[Boolean] = None, assetAlbumId: Option[Long] = None, assetCollectionId: Option[Long] = None, assetAddToDefaultAlbum: Option[String] = None, assetAddToMediaLibrary: Option[Boolean] = None, assetVersionCode: Option[Int] = None, assetVersionName: Option[String] = None, assetMetaData: Option[String] = None, assetCaption: Option[String] = None, assetMedia: Option[File] = None, assetMediaUrl: Option[String] = None, assetMediaString: Option[String] = None, assetMediaStringFileName: Option[String] = None, assetMediaStringContentType: Option[String] = None, assetAttachedMedia: Option[File] = None, assetAttachedMediaUrl: Option[String] = None, assetAttachedMediaString: Option[String] = None, assetAttachedMediaStringFileName: Option[String] = None, assetAttachedMediaStringContentType: Option[String] = None, assetLocationDescription: Option[String] = None, assetApp: Option[String] = None, assetSearchTags: Option[String] = None, assetLatitude: Option[Double] = None, assetLongitude: Option[Double] = None): ApiRequest[NoteResponse] =
    ApiRequest[NoteResponse](ApiMethods.POST, baseUrl, "/note/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("noteId", noteId)
      .withQueryParam("comment", comment)
      .withQueryParam("noteType", noteType)
      .withQueryParam("assetIds", assetIds)
      .withQueryParam("tags", tags)
      .withQueryParam("permissionableType", permissionableType)
      .withQueryParam("permissionableId", permissionableId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("locationDescription", locationDescription)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("metaData", metaData)
      .withQueryParam("returnFullResponse", returnFullResponse)
      .withQueryParam("active", active)
      .withQueryParam("updateAsset", updateAsset)
      .withQueryParam("assetReturnNulls", assetReturnNulls)
      .withQueryParam("assetAlbumId", assetAlbumId)
      .withQueryParam("assetCollectionId", assetCollectionId)
      .withQueryParam("assetAddToDefaultAlbum", assetAddToDefaultAlbum)
      .withQueryParam("assetAddToMediaLibrary", assetAddToMediaLibrary)
      .withQueryParam("assetVersionCode", assetVersionCode)
      .withQueryParam("assetVersionName", assetVersionName)
      .withQueryParam("assetMetaData", assetMetaData)
      .withQueryParam("assetCaption", assetCaption)
      .withQueryParam("assetMedia", assetMedia)
      .withQueryParam("assetMediaUrl", assetMediaUrl)
      .withQueryParam("assetMediaString", assetMediaString)
      .withQueryParam("assetMediaStringFileName", assetMediaStringFileName)
      .withQueryParam("assetMediaStringContentType", assetMediaStringContentType)
      .withQueryParam("assetAttachedMedia", assetAttachedMedia)
      .withQueryParam("assetAttachedMediaUrl", assetAttachedMediaUrl)
      .withQueryParam("assetAttachedMediaString", assetAttachedMediaString)
      .withQueryParam("assetAttachedMediaStringFileName", assetAttachedMediaStringFileName)
      .withQueryParam("assetAttachedMediaStringContentType", assetAttachedMediaStringContentType)
      .withQueryParam("assetLocationDescription", assetLocationDescription)
      .withQueryParam("assetApp", assetApp)
      .withQueryParam("assetSearchTags", assetSearchTags)
      .withQueryParam("assetLatitude", assetLatitude)
      .withQueryParam("assetLongitude", assetLongitude)
      .withSuccessResponse[NoteResponse](200)
      



}

