/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import java.math.BigDecimal
import org.openapitools.client.model.ListCountResponse
import org.openapitools.client.model.OfferListResponse
import org.openapitools.client.model.OfferResponse
import org.openapitools.client.model.OfferShortResponse
import org.openapitools.client.model.OfferTransactionResponse
import org.openapitools.client.model.RetailerOfferResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OfferApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new OfferApi(baseUrl)
}

class OfferApi(baseUrl: String) {

  /**
   * Batch update offer locations.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param data JSON string in the following format: ```json [{   \"offerLocationId\": 1705,   \"latitude\": 54.0,   \"longitude\": -122.0,   \"altitude\": 1.0,   \"locationDetail\": \"floor 1\",   \"locationDescription\": \"behind the Coke sign\" }, {   \"offerLocationId\": 1704,   \"latitude\": 54.1,   \"longitude\": -122.1 }] ``` 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   */
  def batchUpdateOfferLocations(data: String, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/retailer/offer/location/batchUpdate", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("data", data)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Create an offer and assign it to the provided retailer locations.
   * 
   * Expected answers:
   *   code 200 : RetailerOfferResponse (successful operation)
   * 
   * @param includeOfferLocations If true return all the offer locations associated with the offer
   * @param title The title (255 char limit)
   * @param barcodeType The bar code type {NONE, UPC, CODE_128, QR, CUSTOM_MEDIA}
   * @param noExpiration Overrides the expiration date so that the offer does not expire
   * @param availableLimit The limit of how many times the offer can be used by consumers
   * @param availableLimitPerUser The limit of how many times a user can used the same offer
   * @param addedLimit The limit of how many times the offer can be added to consumer wallets
   * @param viewLimit The limit of how many times the offer can be viewed
   * @param maxPrints The maximum number of times the offer can be printed
   * @param ticketPrice The cost of the offer in tickets
   * @param fullPrice The retail/full price cost of the offer in real currency
   * @param discountPrice The cost of the offer at a discounted price (what the consumer pays)
   * @param offerType The offer type {VOUCHER, COUPON, PRODUCT, EVENT, MEDIA, DEVICE}
   * @param specialOfferType The special offer type {ALL, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}
   * @param offerVisibility The offer visibility {PUBLIC, REWARDABLE, TRIGGERABLE}
   * @param active Sets the active flag
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id (deviceId or accountId required)
   * @param tags Custom string field for doing full-text searches
   * @param parentOfferId the parent offer id
   * @param retailerLocationIds Comma separated list of retailer location ids. This will assign the offer to these retailer locations.
   * @param offerLocations A list of json data that has offer location specific values.
   * @param subTitle The sub title (255 char limit)
   * @param details The details
   * @param subDetails A string for custom details (255 char limit)
   * @param finePrint The fine print
   * @param barcodeEntry The bar code entry string
   * @param externalRedeemOptions An external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer
   * @param externalUrl The clickUrl of the offer
   * @param externalId an external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer
   * @param ticketsRewardType The type of ticket to reward, null means default type
   * @param ticketsReward Determines how many tickets are awarded
   * @param activated The date of when the offer will be visible to consumers
   * @param expires The date of when the offer expires
   * @param ticketPriceType the type of ticket needed to buy offer
   * @param showRemaining show remaining offers available
   * @param showRedeemed show how many offers have been redeemed
   * @param replaced 
   * @param featured flag if offer is featured or not
   * @param categoryIds Comma separated list of category ids
   * @param filterIds Comma separated list of filter ids
   * @param barcodeAssetId The id of the barcode asset
   * @param imageAssetId The id of the an offer asset
   * @param imageAssetId1 The id of the an offer asset
   * @param imageAssetId2 The id of the an offer asset
   * @param imageAssetId3 The id of the an offer asset
   * @param imageAssetId4 The id of the an offer asset
   * @param imageAssetId5 The id of the an offer asset
   * @param publisher The maker of the item.
   * @param redeemableStart The redeemable start date/time of the offer.
   * @param redeemableEnd The redeemable start date/time of the offer.
   * @param brand The brand. OfferType PRODUCT only.
   * @param productType The product type. OfferType PRODUCT only.
   * @param conditionType The condition. OfferType PRODUCT only.
   * @param isbn The ISBN id. OfferType PRODUCT only.
   * @param asin The ASIN id. OfferType PRODUCT only.
   * @param catalogNumbers The list of catelog numbers, comma seperated. OfferType PRODUCT only.
   * @param department The department name. The OfferType PRODUCT only.
   * @param features The list of features, comma seperated. OfferType PRODUCT only.
   * @param minimumPrice The MAP price. OfferType PRODUCT only.
   * @param width The width of the item. OfferType PRODUCT only.
   * @param height The height of the item. OfferType PRODUCT only.
   * @param depth The depth of the item. OfferType PRODUCT only.
   * @param weight The weight of the item. OfferType PRODUCT only.
   * @param unit The unit of measurement. OfferType PRODUCT only.
   * @param studio The studio name. OfferType PRODUCT only.
   * @param parentalRating The parental control rating. OfferType PRODUCT only.
   * @param publishDate The date published. OfferType PRODUCT only.
   * @param availabilityDate The date available. OfferType PRODUCT only.
   * @param sizeId 
   * @param listingId The ID of the event listing
   * @param mediaType the media type of the offer
   * @param duration The total playing time of the media item. OfferType MEDIA only.
   * @param author The created/author of the media item. OfferType MEDIA only.
   * @param releaseDate The date/time of when the media item was originally released. OfferType MEDIA only.
   * @param collectionIds 
   * @param rebootTimeHour The reboot hour time ranging from 0 to 23
   * @param rebootTimeMinute The reboot minute time ranging from 0 to 59
   * @param idleTimeoutInSecond If the device is idle for idleTimeoutInSecond then the device should timeout
   * @param serialNumber The serial number on the device
   * @param udid The unique device id for the device
   * @param deviceType The type of the device, for example: \"Kiosk\", \"Beacon\".
   * @param devicePower Edysen device power level setting
   * @param deviceInterference Edysen device inteference setting
   * @param availability 
   * @param availabilitySummary 
   */
  def createOffer(includeOfferLocations: Boolean, title: String, barcodeType: String, noExpiration: Boolean, availableLimit: Int, availableLimitPerUser: Int, addedLimit: Int, viewLimit: Int, maxPrints: Int, ticketPrice: Long, fullPrice: Double, discountPrice: Double, offerType: String, specialOfferType: String, offerVisibility: String, active: Boolean, deviceId: Option[String] = None, accountId: Option[Long] = None, tags: Option[String] = None, parentOfferId: Option[Long] = None, retailerLocationIds: Option[String] = None, offerLocations: Option[String] = None, subTitle: Option[String] = None, details: Option[String] = None, subDetails: Option[String] = None, finePrint: Option[String] = None, barcodeEntry: Option[String] = None, externalRedeemOptions: Option[String] = None, externalUrl: Option[String] = None, externalId: Option[String] = None, ticketsRewardType: Option[String] = None, ticketsReward: Option[Long] = None, activated: Option[Long] = None, expires: Option[Long] = None, ticketPriceType: Option[String] = None, showRemaining: Option[Boolean] = None, showRedeemed: Option[Boolean] = None, replaced: Option[Boolean] = None, featured: Option[Boolean] = None, categoryIds: Option[String] = None, filterIds: Option[String] = None, barcodeAssetId: Option[Long] = None, imageAssetId: Option[Long] = None, imageAssetId1: Option[Long] = None, imageAssetId2: Option[Long] = None, imageAssetId3: Option[Long] = None, imageAssetId4: Option[Long] = None, imageAssetId5: Option[Long] = None, publisher: Option[String] = None, redeemableStart: Option[Long] = None, redeemableEnd: Option[Long] = None, brand: Option[String] = None, productType: Option[String] = None, conditionType: Option[String] = None, isbn: Option[String] = None, asin: Option[String] = None, catalogNumbers: Option[String] = None, department: Option[String] = None, features: Option[String] = None, minimumPrice: Option[Double] = None, width: Option[Double] = None, height: Option[Double] = None, depth: Option[Double] = None, weight: Option[Double] = None, unit: Option[String] = None, studio: Option[String] = None, parentalRating: Option[String] = None, publishDate: Option[Long] = None, availabilityDate: Option[Long] = None, sizeId: Option[Long] = None, listingId: Option[Long] = None, mediaType: Option[String] = None, duration: Option[Int] = None, author: Option[String] = None, releaseDate: Option[Long] = None, collectionIds: Option[String] = None, rebootTimeHour: Option[Int] = None, rebootTimeMinute: Option[Int] = None, idleTimeoutInSecond: Option[Int] = None, serialNumber: Option[String] = None, udid: Option[String] = None, deviceType: Option[String] = None, devicePower: Option[Double] = None, deviceInterference: Option[Double] = None, availability: Option[String] = None, availabilitySummary: Option[String] = None): ApiRequest[RetailerOfferResponse] =
    ApiRequest[RetailerOfferResponse](ApiMethods.POST, baseUrl, "/retailer/offer/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("tags", tags)
      .withQueryParam("parentOfferId", parentOfferId)
      .withQueryParam("includeOfferLocations", includeOfferLocations)
      .withQueryParam("retailerLocationIds", retailerLocationIds)
      .withQueryParam("offerLocations", offerLocations)
      .withQueryParam("title", title)
      .withQueryParam("subTitle", subTitle)
      .withQueryParam("details", details)
      .withQueryParam("subDetails", subDetails)
      .withQueryParam("finePrint", finePrint)
      .withQueryParam("barcodeType", barcodeType)
      .withQueryParam("barcodeEntry", barcodeEntry)
      .withQueryParam("externalRedeemOptions", externalRedeemOptions)
      .withQueryParam("externalUrl", externalUrl)
      .withQueryParam("externalId", externalId)
      .withQueryParam("ticketsRewardType", ticketsRewardType)
      .withQueryParam("ticketsReward", ticketsReward)
      .withQueryParam("activated", activated)
      .withQueryParam("expires", expires)
      .withQueryParam("noExpiration", noExpiration)
      .withQueryParam("availableLimit", availableLimit)
      .withQueryParam("availableLimitPerUser", availableLimitPerUser)
      .withQueryParam("addedLimit", addedLimit)
      .withQueryParam("viewLimit", viewLimit)
      .withQueryParam("maxPrints", maxPrints)
      .withQueryParam("ticketPriceType", ticketPriceType)
      .withQueryParam("ticketPrice", ticketPrice)
      .withQueryParam("fullPrice", fullPrice)
      .withQueryParam("discountPrice", discountPrice)
      .withQueryParam("showRemaining", showRemaining)
      .withQueryParam("showRedeemed", showRedeemed)
      .withQueryParam("replaced", replaced)
      .withQueryParam("featured", featured)
      .withQueryParam("offerType", offerType)
      .withQueryParam("specialOfferType", specialOfferType)
      .withQueryParam("offerVisibility", offerVisibility)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("active", active)
      .withQueryParam("barcodeAssetId", barcodeAssetId)
      .withQueryParam("imageAssetId", imageAssetId)
      .withQueryParam("imageAssetId1", imageAssetId1)
      .withQueryParam("imageAssetId2", imageAssetId2)
      .withQueryParam("imageAssetId3", imageAssetId3)
      .withQueryParam("imageAssetId4", imageAssetId4)
      .withQueryParam("imageAssetId5", imageAssetId5)
      .withQueryParam("publisher", publisher)
      .withQueryParam("redeemableStart", redeemableStart)
      .withQueryParam("redeemableEnd", redeemableEnd)
      .withQueryParam("brand", brand)
      .withQueryParam("productType", productType)
      .withQueryParam("conditionType", conditionType)
      .withQueryParam("isbn", isbn)
      .withQueryParam("asin", asin)
      .withQueryParam("catalogNumbers", catalogNumbers)
      .withQueryParam("department", department)
      .withQueryParam("features", features)
      .withQueryParam("minimumPrice", minimumPrice)
      .withQueryParam("width", width)
      .withQueryParam("height", height)
      .withQueryParam("depth", depth)
      .withQueryParam("weight", weight)
      .withQueryParam("unit", unit)
      .withQueryParam("studio", studio)
      .withQueryParam("parentalRating", parentalRating)
      .withQueryParam("publishDate", publishDate)
      .withQueryParam("availabilityDate", availabilityDate)
      .withQueryParam("sizeId", sizeId)
      .withQueryParam("listingId", listingId)
      .withQueryParam("mediaType", mediaType)
      .withQueryParam("duration", duration)
      .withQueryParam("author", author)
      .withQueryParam("releaseDate", releaseDate)
      .withQueryParam("collectionIds", collectionIds)
      .withQueryParam("rebootTimeHour", rebootTimeHour)
      .withQueryParam("rebootTimeMinute", rebootTimeMinute)
      .withQueryParam("idleTimeoutInSecond", idleTimeoutInSecond)
      .withQueryParam("serialNumber", serialNumber)
      .withQueryParam("udid", udid)
      .withQueryParam("deviceType", deviceType)
      .withQueryParam("devicePower", devicePower)
      .withQueryParam("deviceInterference", deviceInterference)
      .withQueryParam("availability", availability)
      .withQueryParam("availabilitySummary", availabilitySummary)
      .withSuccessResponse[RetailerOfferResponse](200)
      

  /**
   * Set the deleted timestamp to current time. This effectively deletes the offer since all queries should ignore any records with a deleted time stamp.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param offerId The ID of the offer to be deleted
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account used to perform the delete, must have rights to edit the offer.
   */
  def deleteOffer(offerId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/retailer/offer/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("offerId", offerId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Set the deleted timestamp to current time. This effectively deletes the offer location since all queries should ignore any records with a deleted time stamp.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param offerLocationId The ID of the offer location to be deleted
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account used to perform the delete, must have rights to edit the offer location.
   */
  def deleteOfferLocation(offerLocationId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/retailer/offer/location/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Gets the details of an offer that the user has access to.
   * 
   * Expected answers:
   *   code 200 : RetailerOfferResponse (successful operation)
   * 
   * @param offerId The id of the offer
   * @param includeOfferLocations 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id (deviceId or accountId required)
   */
  def getOffer(offerId: Long, includeOfferLocations: Boolean, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[RetailerOfferResponse] =
    ApiRequest[RetailerOfferResponse](ApiMethods.GET, baseUrl, "/retailer/offer/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("offerId", offerId)
      .withQueryParam("includeOfferLocations", includeOfferLocations)
      .withSuccessResponse[RetailerOfferResponse](200)
      

  /**
   * Gets offer or offer location details as a consumer.  Will check if it is a favorite if the deviceId/accountId is provided.  If the offerId is provided it will look up the main offer and ignore the the offerLocationId. If no offerId is provided then an offerLocationId must be specified.
   * 
   * Expected answers:
   *   code 200 : OfferResponse (successful operation)
   * 
   * @param deviceId The device id for returning account information (i.e. favorites)
   * @param accountId The account id for returning account information (i.e. favorites)
   * @param offerId The offer id (either offeLocationId or offerId must be provided)
   * @param offerLocationId The offer location id (either offeLocationId or offerId must be provided)
   * @param distance The distance of the offer from the user's current location (this is returned when the offer is searched)
   * @param latitude The latitude to calculate distance from the offer
   * @param longitude The longitude to calculate distance from the offer
   * @param includeOfferLocations Determines whether to return offer locations for the offer
   * @param includeRetailerLocations Determines whether to return the retailer location info for each offer location response (includeOfferLocations must also be true for this to work)
   * @param includeChildOffers Determines whether to include child offers in the response
   */
  def getOfferDetails(deviceId: Option[String] = None, accountId: Option[Long] = None, offerId: Option[Long] = None, offerLocationId: Option[Long] = None, distance: Option[Double] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, includeOfferLocations: Option[Boolean] = None, includeRetailerLocations: Option[Boolean] = None, includeChildOffers: Option[Boolean] = None): ApiRequest[OfferResponse] =
    ApiRequest[OfferResponse](ApiMethods.GET, baseUrl, "/offer/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("offerId", offerId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("distance", distance)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("includeOfferLocations", includeOfferLocations)
      .withQueryParam("includeRetailerLocations", includeRetailerLocations)
      .withQueryParam("includeChildOffers", includeChildOffers)
      .withSuccessResponse[OfferResponse](200)
      

  /**
   * Gets the offer list counts.
   * 
   * Expected answers:
   *   code 200 : ListCountResponse (successful operation)
   * 
   * @param latitude The latitude of where the search will center at
   * @param longitude The longitude of where the search will center at
   * @param searchRange The range of the search
   * @param distanceUnit The units to use for distance calculations (e.g. MILES, KILOMETERS)
   */
  def getOfferListCounts(latitude: Double, longitude: Double, searchRange: Option[BigDecimal] = None, distanceUnit: Option[String] = None): ApiRequest[ListCountResponse] =
    ApiRequest[ListCountResponse](ApiMethods.GET, baseUrl, "/offer/lists/count", "application/json")
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("searchRange", searchRange)
      .withQueryParam("distanceUnit", distanceUnit)
      .withSuccessResponse[ListCountResponse](200)
      

  /**
   * Gets the offer location by offer location id or udid (of a device)
   * 
   * Expected answers:
   *   code 200 : OfferShortResponse (successful operation)
   * 
   * @param offerLocationId the id of the offer location to get
   * @param udid the UDID of the device
   */
  def getOfferLocation(offerLocationId: Option[Long] = None, udid: Option[String] = None): ApiRequest[OfferShortResponse] =
    ApiRequest[OfferShortResponse](ApiMethods.GET, baseUrl, "/offer/location/get", "application/json")
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("udid", udid)
      .withSuccessResponse[OfferShortResponse](200)
      

  /**
   * Searches on offer locations, which are records that represent an offer that has been assigned to a retailer location. If an offer does not have any locations assigned, then it will NOT be returned.
   * 
   * Expected answers:
   *   code 200 : Seq[OfferShortResponse] (successful operation)
   * 
   * @param sortField The column to sort the results on. Default is \"TITLE\", which will sort the results by the offer title. Possible input values: {CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, RETAILER_ID,RETAILER_LOCATION_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}
   * @param descending The order to return the results. Default is false, which will return the results in ascending order.
   * @param start The index into the record set to start with. Default is 0.
   * @param limit The total number of records to return. Default is 20.
   * @param activeOnly Determines whether to return only active results. Default is false.
   * @param includeRetailerLocation 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param keyword The keyword used to search
   * @param retailerId Filter results for a specific retailer
   * @param retailerLocationId Filter results for a specific retailer location
   * @param offerType Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
   * @param specialOfferType Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
   * @param barcodeType 
   * @param barcodeEntry 
   * @param isbn 
   * @param asin 
   * @param deviceStatus Edysen device status, running, warning, or down
   * @param needsNotificationSent 
   * @param lastNotificationSent 
   */
  def getOfferLocationsForRetailers(sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, includeRetailerLocation: Boolean, deviceId: Option[String] = None, accountId: Option[Long] = None, keyword: Option[String] = None, retailerId: Option[Long] = None, retailerLocationId: Option[Long] = None, offerType: Option[String] = None, specialOfferType: Option[String] = None, barcodeType: Option[String] = None, barcodeEntry: Option[String] = None, isbn: Option[String] = None, asin: Option[String] = None, deviceStatus: Option[String] = None, needsNotificationSent: Option[Boolean] = None, lastNotificationSent: Option[Long] = None): ApiRequest[Seq[OfferShortResponse]] =
    ApiRequest[Seq[OfferShortResponse]](ApiMethods.GET, baseUrl, "/retailer/offer/location/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("keyword", keyword)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("offerType", offerType)
      .withQueryParam("specialOfferType", specialOfferType)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("includeRetailerLocation", includeRetailerLocation)
      .withQueryParam("barcodeType", barcodeType)
      .withQueryParam("barcodeEntry", barcodeEntry)
      .withQueryParam("isbn", isbn)
      .withQueryParam("asin", asin)
      .withQueryParam("deviceStatus", deviceStatus)
      .withQueryParam("needsNotificationSent", needsNotificationSent)
      .withQueryParam("lastNotificationSent", lastNotificationSent)
      .withSuccessResponse[Seq[OfferShortResponse]](200)
      

  /**
   * Searches on offers that the account has access to.
   * 
   * Expected answers:
   *   code 200 : Seq[OfferResponse] (successful operation)
   * 
   * @param offerVisibility 
   * @param sortField The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, ESTIMATED_VALUE, VOUCHER_PRICE, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY
   * @param descending The order to return the search results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @param availableOnly Return only results that are currently being promoted (is activated and not expired)
   * @param activeOnly Return only active results
   * @param includeCategories 
   * @param includeFilters 
   * @param includeOfferLocations 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param categoryIds 
   * @param filterIds 
   * @param `q` This parameter is deprecated.
   * @param keyword The keyword used to search
   * @param retailerId the id of the retailer
   * @param retailerLocationId the id of the retailer location
   * @param couponType This parameter is deprecated.
   * @param offerType This parameter is deprecated. Use offer types. Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
   * @param offerTypes Comma separated list of offer types {COUPON, VOUCHER, PRODUCT, MEDIA, EVENT, DEVICE}
   * @param specialOfferType Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
   * @param `i` This parameter is deprecated.
   * @param `l` This parameter is deprecated.
   * @param barcodeType 
   * @param barcodeEntry 
   * @param isbn 
   * @param asin 
   * @param deviceStatus Edysen device status
   * @param needsNotificationSent 
   * @param lastNotificationSent 
   */
  def getOffersForRetailers(offerVisibility: String, sortField: String, descending: Boolean, start: Int, limit: Int, availableOnly: Boolean, activeOnly: Boolean, includeCategories: Boolean, includeFilters: Boolean, includeOfferLocations: Boolean, deviceId: Option[String] = None, accountId: Option[Long] = None, categoryIds: Option[String] = None, filterIds: Option[String] = None, `q`: Option[String] = None, keyword: Option[String] = None, retailerId: Option[Long] = None, retailerLocationId: Option[Long] = None, couponType: Option[String] = None, offerType: Option[String] = None, offerTypes: Option[String] = None, specialOfferType: Option[String] = None, `i`: Option[Int] = None, `l`: Option[Int] = None, barcodeType: Option[String] = None, barcodeEntry: Option[String] = None, isbn: Option[String] = None, asin: Option[String] = None, deviceStatus: Option[String] = None, needsNotificationSent: Option[Boolean] = None, lastNotificationSent: Option[Long] = None): ApiRequest[Seq[OfferResponse]] =
    ApiRequest[Seq[OfferResponse]](ApiMethods.GET, baseUrl, "/retailer/offer/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("couponType", couponType)
      .withQueryParam("offerType", offerType)
      .withQueryParam("offerTypes", offerTypes)
      .withQueryParam("specialOfferType", specialOfferType)
      .withQueryParam("offerVisibility", offerVisibility)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withQueryParam("availableOnly", availableOnly)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("includeCategories", includeCategories)
      .withQueryParam("includeFilters", includeFilters)
      .withQueryParam("includeOfferLocations", includeOfferLocations)
      .withQueryParam("barcodeType", barcodeType)
      .withQueryParam("barcodeEntry", barcodeEntry)
      .withQueryParam("isbn", isbn)
      .withQueryParam("asin", asin)
      .withQueryParam("deviceStatus", deviceStatus)
      .withQueryParam("needsNotificationSent", needsNotificationSent)
      .withQueryParam("lastNotificationSent", lastNotificationSent)
      .withSuccessResponse[Seq[OfferResponse]](200)
      

  /**
   * Redeems an offer.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param offerTransactionId the OfferTransaction ID of the transaction being redeemed
   * @param status the status to set the offer transaction to - 1 sets it to redeemable and 2 sets it to redeemed
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param offerLocationId the OfferLocation ID where the offer is being redeemed
   */
  def redeemOfferTransaction(offerTransactionId: Long, status: Int, deviceId: Option[String] = None, accountId: Option[Long] = None, offerLocationId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/retailer/offer/transaction/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("offerTransactionId", offerTransactionId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("status", status)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Searches on offer transactions for offers that the account has access to.
   * 
   * Expected answers:
   *   code 200 : Seq[OfferTransactionResponse] (successful operation)
   * 
   * @param sortField Determines what to sort the results by {CREATED, UPDATED, SEARCH_TAGS, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, CUSTOMER_ID, CUSTOMER_DISPLAY, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY}
   * @param descending Determines whether the results are in descending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param activeOnly Determines whether to only return active offer transactions
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param `q` This parameter is deprecated.
   * @param keyword The keyword to search for
   * @param retailerId Filter results for this retailer
   * @param retailerLocationId Filter results for this retailer location
   * @param offerId Filter results for this offer
   * @param offerLocationId Filter results for this offer location
   * @param redeemed if true return redeemed transactions (status 2), if false return active transactions (status 0 or 1)
   * @param reservationsOnly returns only reservation transactions if true
   * @param couponType This parameter is deprecated.
   * @param offerType Filter results to only return COUPON, VOUCHER, PRODUCT, MEDIA, or EVENT offers
   * @param specialOfferType Filter results to only return REGULAR_OFFER, ACT_NOW, GET_THERE_NOW offer specials
   * @param customerAccountIds Filter results by accounts
   * @param categoryIds 
   * @param redeemableStartDate 
   * @param redeemableEndDate 
   * @param `i` This parameter is deprecated.
   * @param `l` This parameter is deprecated.
   */
  def searchOfferTransactionsForRetailers(sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, deviceId: Option[String] = None, accountId: Option[Long] = None, `q`: Option[String] = None, keyword: Option[String] = None, retailerId: Option[Long] = None, retailerLocationId: Option[Long] = None, offerId: Option[Long] = None, offerLocationId: Option[Long] = None, redeemed: Option[Boolean] = None, reservationsOnly: Option[Boolean] = None, couponType: Option[String] = None, offerType: Option[String] = None, specialOfferType: Option[String] = None, customerAccountIds: Option[String] = None, categoryIds: Option[String] = None, redeemableStartDate: Option[Long] = None, redeemableEndDate: Option[Long] = None, `i`: Option[Int] = None, `l`: Option[Int] = None): ApiRequest[Seq[OfferTransactionResponse]] =
    ApiRequest[Seq[OfferTransactionResponse]](ApiMethods.GET, baseUrl, "/retailer/offer/transaction/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("offerId", offerId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("redeemed", redeemed)
      .withQueryParam("reservationsOnly", reservationsOnly)
      .withQueryParam("couponType", couponType)
      .withQueryParam("offerType", offerType)
      .withQueryParam("specialOfferType", specialOfferType)
      .withQueryParam("customerAccountIds", customerAccountIds)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("redeemableStartDate", redeemableStartDate)
      .withQueryParam("redeemableEndDate", redeemableEndDate)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[OfferTransactionResponse]](200)
      

  /**
   * Searches for offers as a consumer.
   * 
   * Expected answers:
   *   code 200 : OfferListResponse (successful operation)
   * 
   * @param latitude The latitude of where the search will center at
   * @param longitude The longitude of where the search will center at
   * @param recommendationType The method to use to gather recommendations: WALLET base relevance on items in users wallets CLICKS base relevance on items users have clicked on BLENDED blend using all methods available
   * @param locationId This parameter is deprecated. The location id
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param maxRecommendations 
   * @param distanceUnit 
   * @param appKey The application key used to identify the application
   * @param deviceId The device id for returning account information (i.e. offer transactions made by the user)
   * @param accountId The account id for returning account information (i.e. offer transactions made by the user)
   * @param searchRange The range of the search
   * @param tags Does a full-text search on tags
   * @param supportedPostalCodes supported postal codes
   * @param keyword The keyword to filter results by
   * @param categories Comma separate list of category ids
   * @param filters Comma separated list of filter ids
   * @param offerTypes Comma separated list of offer types {COUPON, VOUCHER, PRODUCT, MEDIA, EVENT, DEVICE}
   * @param `type` The special offer type {ALL, RESERVABLE, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}
   * @param sortField The field to sort the result set on:DISTANCE Sort the offers nearest to farthest BUSINESS_NAME Sort the offers alphabetically by location name SHUFFLE Sort the nearest offers randomly USERPREFS accountId must accompany this parameter. Gives the first X recommendations where X equals the parameter maxRecommendations
   * @param recommendOfferIds Return recommendations based on these offers IDs
   * @param retailerLocationIds Only return offer locations for the specific retailer locations.
   * @param offerId Only return offer locations for the specific offer.
   * @param includeMission If true include the mission response as part of the offer. Default is false.
   * @param includeCategories If true include the category list response as part of the offer. Default is false.
   * @param includeFilters If true include the filter list response as part of the offer. Default is false.
   * @param includeExpired If true then ignore the expired dates. Default is false.
   * @param includeFavorite If true then ignore the favorite. Default is false.
   * @param closestOfferOnly This parameter is deprecated. see groupBy. If true then it only returns the offer location for an offer closest to the given lat/lon
   * @param searchExpression 
   * @param groupBy groups the results by a certain field. For example, if you want to return the closest offer location of an offer, then pass in groupBy=OFFER_ID and sortField=DISTANCE (to sort by distance).
   */
  def searchOffersForConsumer(latitude: Double, longitude: Double, recommendationType: String, locationId: Long, start: Int, limit: Int, maxRecommendations: Int, distanceUnit: String, appKey: Option[String] = None, deviceId: Option[String] = None, accountId: Option[Long] = None, searchRange: Option[Double] = None, tags: Option[String] = None, supportedPostalCodes: Option[String] = None, keyword: Option[String] = None, categories: Option[String] = None, filters: Option[String] = None, offerTypes: Option[String] = None, `type`: Option[String] = None, sortField: Option[String] = None, recommendOfferIds: Option[String] = None, retailerLocationIds: Option[String] = None, offerId: Option[Long] = None, includeMission: Option[Boolean] = None, includeCategories: Option[Boolean] = None, includeFilters: Option[Boolean] = None, includeExpired: Option[Boolean] = None, includeFavorite: Option[Boolean] = None, closestOfferOnly: Option[Boolean] = None, searchExpression: Option[String] = None, groupBy: Option[String] = None): ApiRequest[OfferListResponse] =
    ApiRequest[OfferListResponse](ApiMethods.GET, baseUrl, "/offer/lists", "application/json")
      .withQueryParam("appKey", appKey)
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("searchRange", searchRange)
      .withQueryParam("tags", tags)
      .withQueryParam("supportedPostalCodes", supportedPostalCodes)
      .withQueryParam("keyword", keyword)
      .withQueryParam("categories", categories)
      .withQueryParam("filters", filters)
      .withQueryParam("offerTypes", offerTypes)
      .withQueryParam("type", `type`)
      .withQueryParam("sortField", sortField)
      .withQueryParam("recommendOfferIds", recommendOfferIds)
      .withQueryParam("recommendationType", recommendationType)
      .withQueryParam("locationId", locationId)
      .withQueryParam("retailerLocationIds", retailerLocationIds)
      .withQueryParam("offerId", offerId)
      .withQueryParam("includeMission", includeMission)
      .withQueryParam("includeCategories", includeCategories)
      .withQueryParam("includeFilters", includeFilters)
      .withQueryParam("includeExpired", includeExpired)
      .withQueryParam("includeFavorite", includeFavorite)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("maxRecommendations", maxRecommendations)
      .withQueryParam("distanceUnit", distanceUnit)
      .withQueryParam("closestOfferOnly", closestOfferOnly)
      .withQueryParam("searchExpression", searchExpression)
      .withQueryParam("groupBy", groupBy)
      .withSuccessResponse[OfferListResponse](200)
      

  /**
   * Gets the top active offers.
   * 
   * Expected answers:
   *   code 200 : OfferListResponse (successful operation)
   * 
   * @param start The index into the record set to start with. Default is 0.
   * @param limit The total number of record to return. Default id 20.
   */
  def topOfferTransactions(start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[OfferListResponse] =
    ApiRequest[OfferListResponse](ApiMethods.GET, baseUrl, "/offer/top", "application/json")
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[OfferListResponse](200)
      

  /**
   * Update an offer, must provide a current list of retailer locations or the current offer locations will be marked as deleted.
   * 
   * Expected answers:
   *   code 200 : RetailerOfferResponse (successful operation)
   * 
   * @param offerId The offer to update
   * @param includeOfferLocations If true return all the offer locations associated with the offer
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account used to perform the update, must have rights to edit the offer (deviceId or accountId required)
   * @param parentOfferId 
   * @param retailerLocationIds Comma separated list of retailer location ids. This will assign the offer to these retailer locations.
   * @param offerLocations A list of json data that has offer location specific values.
   * @param tags Custom string field for doing full-text searches
   * @param title The title (255 char limit)
   * @param subTitle The sub title (255 char limit)
   * @param details The details
   * @param subDetails A string for custom details (255 char limit)
   * @param finePrint The fine print
   * @param barcodeType The bar code type {NONE, UPC, CODE_128, QR, CUSTOM_MEDIA}
   * @param barcodeEntry The bar code entry string
   * @param externalRedeemOptions An external identifier. What the identifier will be used for and how it is formatted is up to the frontend developer.
   * @param externalUrl The clickUrl of the offer
   * @param externalId 
   * @param ticketsRewardType The type of ticket to reward, null means default type
   * @param ticketsReward Determines how many tickets are awarded
   * @param activated The date of when the offer will be visible to consumers
   * @param expires The date of when the offer expires
   * @param noExpiration Overrides the expiration date so that the offer does not expire
   * @param availableLimit The limit of how many times the offer can be used by consumers
   * @param availableLimitPerUser The limit of how many times a user can used the same offer
   * @param addedLimit The limit of how many times the offer can be added to consumer wallets
   * @param viewLimit 
   * @param maxPrints The maximum number of times the offer can be printed
   * @param ticketPriceType the type of ticket needed to buy the offer
   * @param ticketPrice The cost of the offer in tickets
   * @param fullPrice The retail/full price cost of the offer in real currency
   * @param discountPrice The cost of the offer at a discounted price (what the consumer pays)
   * @param showRemaining show remaining offers available
   * @param showRedeemed show how many offers have been redeemed
   * @param replaced 
   * @param featured whether the offer is featured or not
   * @param offerType The offer type {VOUCHER, COUPON, PRODUCT, MEDIA, EVENT}
   * @param specialOfferType The special offer type {ALL, REGULAR_OFFER, ACT_NOW, GET_THERE_NOW}
   * @param offerVisibility The offer visibility {PUBLIC, REWARDABLE, TRIGGERABLE}
   * @param categoryIds Comma separated list of category ids
   * @param filterIds Comma separated list of filter ids
   * @param active Sets the active flag
   * @param barcodeAssetId The id of the barcode asset
   * @param imageAssetId The id of the an offer asset
   * @param imageAssetId1 The id of the an offer asset
   * @param imageAssetId2 The id of the an offer asset
   * @param imageAssetId3 The id of the an offer asset
   * @param imageAssetId4 The id of the an offer asset
   * @param imageAssetId5 The id of the an offer asset
   * @param publisher The maker of the item.
   * @param redeemableStart The redeemable start date/time of the offer.
   * @param redeemableEnd The redeemable start date/time of the offer.
   * @param brand The brand. OfferType PRODUCT only.
   * @param productType The product type. OfferType PRODUCT only.
   * @param conditionType The condition. OfferType PRODUCT only.
   * @param isbn The ISBN id. OfferType PRODUCT only.
   * @param asin The ASIN id. OfferType PRODUCT only.
   * @param catalogNumbers The list of catelog numbers, comma seperated. OfferType PRODUCT only.
   * @param department The department name. The OfferType PRODUCT only.
   * @param features The list of features, comma seperated. OfferType PRODUCT only.
   * @param minimumPrice The MAP price. OfferType PRODUCT only.
   * @param width The width of the item. OfferType PRODUCT only.
   * @param height The height of the item. OfferType PRODUCT only.
   * @param depth The depth of the item. OfferType PRODUCT only.
   * @param weight The weight of the item. OfferType PRODUCT only.
   * @param unit The unit of measurement. OfferType PRODUCT only.
   * @param studio The studio name. OfferType PRODUCT only.
   * @param parentalRating The parental control rating. OfferType PRODUCT only.
   * @param publishDate The date published. OfferType PRODUCT only.
   * @param availabilityDate The date available. OfferType PRODUCT only.
   * @param sizeId The size Id. OfferType PRODUCT only.
   * @param listingId The ID of the event listing
   * @param mediaType 
   * @param duration The total playing time of the media item. OfferType MEDIA only.
   * @param author The created/author of the media item. OfferType MEDIA only.
   * @param releaseDate The date/time of when the media item was originally released. OfferType MEDIA only.
   * @param collectionIds 
   * @param rebootTimeHour The reboot hour time ranging from 0 to 23
   * @param rebootTimeMinute The reboot minute time ranging from 0 to 59
   * @param idleTimeoutInSecond If the device is idle for idleTimeoutInSecond then the device should timeout
   * @param serialNumber The serial number on the device
   * @param udid The unique device id for the device
   * @param deviceType The type of the device, for example: \"Kiosk\", \"Beacon\".
   * @param devicePower RSSI reading at 1 meter from device (-10 to -140)
   * @param deviceInterference 
   * @param availability 
   * @param availabilitySummary 
   */
  def updateOffer(offerId: Long, includeOfferLocations: Boolean, deviceId: Option[String] = None, accountId: Option[Long] = None, parentOfferId: Option[Long] = None, retailerLocationIds: Option[String] = None, offerLocations: Option[String] = None, tags: Option[String] = None, title: Option[String] = None, subTitle: Option[String] = None, details: Option[String] = None, subDetails: Option[String] = None, finePrint: Option[String] = None, barcodeType: Option[String] = None, barcodeEntry: Option[String] = None, externalRedeemOptions: Option[String] = None, externalUrl: Option[String] = None, externalId: Option[String] = None, ticketsRewardType: Option[String] = None, ticketsReward: Option[Long] = None, activated: Option[Long] = None, expires: Option[Long] = None, noExpiration: Option[Boolean] = None, availableLimit: Option[Int] = None, availableLimitPerUser: Option[Int] = None, addedLimit: Option[Int] = None, viewLimit: Option[Int] = None, maxPrints: Option[Int] = None, ticketPriceType: Option[String] = None, ticketPrice: Option[Long] = None, fullPrice: Option[Double] = None, discountPrice: Option[Double] = None, showRemaining: Option[Boolean] = None, showRedeemed: Option[Boolean] = None, replaced: Option[Boolean] = None, featured: Option[Boolean] = None, offerType: Option[String] = None, specialOfferType: Option[String] = None, offerVisibility: Option[String] = None, categoryIds: Option[String] = None, filterIds: Option[String] = None, active: Option[Boolean] = None, barcodeAssetId: Option[Long] = None, imageAssetId: Option[Long] = None, imageAssetId1: Option[Long] = None, imageAssetId2: Option[Long] = None, imageAssetId3: Option[Long] = None, imageAssetId4: Option[Long] = None, imageAssetId5: Option[Long] = None, publisher: Option[String] = None, redeemableStart: Option[Long] = None, redeemableEnd: Option[Long] = None, brand: Option[String] = None, productType: Option[String] = None, conditionType: Option[String] = None, isbn: Option[String] = None, asin: Option[String] = None, catalogNumbers: Option[String] = None, department: Option[String] = None, features: Option[String] = None, minimumPrice: Option[Double] = None, width: Option[Double] = None, height: Option[Double] = None, depth: Option[Double] = None, weight: Option[Double] = None, unit: Option[String] = None, studio: Option[String] = None, parentalRating: Option[String] = None, publishDate: Option[Long] = None, availabilityDate: Option[Long] = None, sizeId: Option[Long] = None, listingId: Option[Long] = None, mediaType: Option[String] = None, duration: Option[Int] = None, author: Option[String] = None, releaseDate: Option[Long] = None, collectionIds: Option[String] = None, rebootTimeHour: Option[Int] = None, rebootTimeMinute: Option[Int] = None, idleTimeoutInSecond: Option[Int] = None, serialNumber: Option[String] = None, udid: Option[String] = None, deviceType: Option[String] = None, devicePower: Option[Double] = None, deviceInterference: Option[Double] = None, availability: Option[String] = None, availabilitySummary: Option[String] = None): ApiRequest[RetailerOfferResponse] =
    ApiRequest[RetailerOfferResponse](ApiMethods.POST, baseUrl, "/retailer/offer/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("offerId", offerId)
      .withQueryParam("parentOfferId", parentOfferId)
      .withQueryParam("includeOfferLocations", includeOfferLocations)
      .withQueryParam("retailerLocationIds", retailerLocationIds)
      .withQueryParam("offerLocations", offerLocations)
      .withQueryParam("tags", tags)
      .withQueryParam("title", title)
      .withQueryParam("subTitle", subTitle)
      .withQueryParam("details", details)
      .withQueryParam("subDetails", subDetails)
      .withQueryParam("finePrint", finePrint)
      .withQueryParam("barcodeType", barcodeType)
      .withQueryParam("barcodeEntry", barcodeEntry)
      .withQueryParam("externalRedeemOptions", externalRedeemOptions)
      .withQueryParam("externalUrl", externalUrl)
      .withQueryParam("externalId", externalId)
      .withQueryParam("ticketsRewardType", ticketsRewardType)
      .withQueryParam("ticketsReward", ticketsReward)
      .withQueryParam("activated", activated)
      .withQueryParam("expires", expires)
      .withQueryParam("noExpiration", noExpiration)
      .withQueryParam("availableLimit", availableLimit)
      .withQueryParam("availableLimitPerUser", availableLimitPerUser)
      .withQueryParam("addedLimit", addedLimit)
      .withQueryParam("viewLimit", viewLimit)
      .withQueryParam("maxPrints", maxPrints)
      .withQueryParam("ticketPriceType", ticketPriceType)
      .withQueryParam("ticketPrice", ticketPrice)
      .withQueryParam("fullPrice", fullPrice)
      .withQueryParam("discountPrice", discountPrice)
      .withQueryParam("showRemaining", showRemaining)
      .withQueryParam("showRedeemed", showRedeemed)
      .withQueryParam("replaced", replaced)
      .withQueryParam("featured", featured)
      .withQueryParam("offerType", offerType)
      .withQueryParam("specialOfferType", specialOfferType)
      .withQueryParam("offerVisibility", offerVisibility)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("active", active)
      .withQueryParam("barcodeAssetId", barcodeAssetId)
      .withQueryParam("imageAssetId", imageAssetId)
      .withQueryParam("imageAssetId1", imageAssetId1)
      .withQueryParam("imageAssetId2", imageAssetId2)
      .withQueryParam("imageAssetId3", imageAssetId3)
      .withQueryParam("imageAssetId4", imageAssetId4)
      .withQueryParam("imageAssetId5", imageAssetId5)
      .withQueryParam("publisher", publisher)
      .withQueryParam("redeemableStart", redeemableStart)
      .withQueryParam("redeemableEnd", redeemableEnd)
      .withQueryParam("brand", brand)
      .withQueryParam("productType", productType)
      .withQueryParam("conditionType", conditionType)
      .withQueryParam("isbn", isbn)
      .withQueryParam("asin", asin)
      .withQueryParam("catalogNumbers", catalogNumbers)
      .withQueryParam("department", department)
      .withQueryParam("features", features)
      .withQueryParam("minimumPrice", minimumPrice)
      .withQueryParam("width", width)
      .withQueryParam("height", height)
      .withQueryParam("depth", depth)
      .withQueryParam("weight", weight)
      .withQueryParam("unit", unit)
      .withQueryParam("studio", studio)
      .withQueryParam("parentalRating", parentalRating)
      .withQueryParam("publishDate", publishDate)
      .withQueryParam("availabilityDate", availabilityDate)
      .withQueryParam("sizeId", sizeId)
      .withQueryParam("listingId", listingId)
      .withQueryParam("mediaType", mediaType)
      .withQueryParam("duration", duration)
      .withQueryParam("author", author)
      .withQueryParam("releaseDate", releaseDate)
      .withQueryParam("collectionIds", collectionIds)
      .withQueryParam("rebootTimeHour", rebootTimeHour)
      .withQueryParam("rebootTimeMinute", rebootTimeMinute)
      .withQueryParam("idleTimeoutInSecond", idleTimeoutInSecond)
      .withQueryParam("serialNumber", serialNumber)
      .withQueryParam("udid", udid)
      .withQueryParam("deviceType", deviceType)
      .withQueryParam("devicePower", devicePower)
      .withQueryParam("deviceInterference", deviceInterference)
      .withQueryParam("availability", availability)
      .withQueryParam("availabilitySummary", availabilitySummary)
      .withSuccessResponse[RetailerOfferResponse](200)
      

  /**
   * Sets the activated date on offers. This will make offers visible for consumers.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param offerIds Comma separated list of offer ids
   * @param active Determines whether to make the offer active as well
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account used to perform the activation, must have rights to edit the offer.
   */
  def updateOfferStatus(offerIds: String, active: Boolean, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/retailer/offer/status", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("offerIds", offerIds)
      .withQueryParam("active", active)
      .withSuccessResponse[SirqulResponse](200)
      



}

