/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.OfferTransactionStatusResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OfferStatusApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new OfferStatusApi(baseUrl)
}

class OfferStatusApi(baseUrl: String) {

  /**
   * Create an offer status record
   * 
   * Expected answers:
   *   code 200 : OfferTransactionStatusResponse (successful operation)
   * 
   * @param name The name of the status
   * @param code The status code, must be unique 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param latitude Used to update the user's current location
   * @param longitude Used to update the user's current location
   * @param description The description of the status
   * @param role The actor that uses the status
   * @param active The active status
   * @param applicationIds The applications to associate the status with, if null then for all.
   */
  def createOfferTransactionStatus(name: String, code: Int, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, description: Option[String] = None, role: Option[String] = None, active: Option[Boolean] = None, applicationIds: Option[String] = None): ApiRequest[OfferTransactionStatusResponse] =
    ApiRequest[OfferTransactionStatusResponse](ApiMethods.POST, baseUrl, "/offer/status/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("name", name)
      .withQueryParam("description", description)
      .withQueryParam("code", code)
      .withQueryParam("role", role)
      .withQueryParam("active", active)
      .withQueryParam("applicationIds", applicationIds)
      .withSuccessResponse[OfferTransactionStatusResponse](200)
      

  /**
   * Mark an offer status record as deleted
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param statusId The id of the record to delete
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param latitude Used to update the user's current location
   * @param longitude Used to update the user's current location
   */
  def deleteOfferTransactionStatus(statusId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/offer/status/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("statusId", statusId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get an offer status record
   * 
   * Expected answers:
   *   code 200 : OfferTransactionStatusResponse (successful operation)
   * 
   * @param statusId The id of the record to get 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param latitude Used to update the user's current location
   * @param longitude Used to update the user's current location
   */
  def getOfferTransactionStatus(statusId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[OfferTransactionStatusResponse] =
    ApiRequest[OfferTransactionStatusResponse](ApiMethods.GET, baseUrl, "/offer/status/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("statusId", statusId)
      .withSuccessResponse[OfferTransactionStatusResponse](200)
      

  /**
   * Search for the available offer statuses
   * 
   * Expected answers:
   *   code 200 : Seq[OfferTransactionStatusResponse] (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param latitude Used to update the user's current location
   * @param longitude Used to update the user's current location
   * @param keyword Search the name and description fields
   * @param role The actors role, possible values are: CUSTOMER, RETAILER, or ANY
   * @param appKey The application making the request
   * @param sortField The field to sort on, possible values are: ID, CREATED, UPDATED, DELETED, SEARCH_TAGS, ACTIVE, NAME, DESCRIPTION, CODE, ROLE
   * @param descending Determines whether the results are in descending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param includeInactive If true include inactive items
   */
  def searchOfferTransactionStatuses(deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, keyword: Option[String] = None, role: Option[String] = None, appKey: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None, includeInactive: Option[Boolean] = None): ApiRequest[Seq[OfferTransactionStatusResponse]] =
    ApiRequest[Seq[OfferTransactionStatusResponse]](ApiMethods.GET, baseUrl, "/offer/status/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("keyword", keyword)
      .withQueryParam("role", role)
      .withQueryParam("appKey", appKey)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("includeInactive", includeInactive)
      .withSuccessResponse[Seq[OfferTransactionStatusResponse]](200)
      

  /**
   * Update an offer status record
   * 
   * Expected answers:
   *   code 200 : OfferTransactionStatusResponse (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param latitude Used to update the user's current location
   * @param longitude Used to update the user's current location
   * @param statusId The id of the record to update 
   * @param name The name of th status
   * @param description The description of the status
   * @param code The status code, must be unique 
   * @param role The actor that uses the status
   * @param active The active status
   * @param applicationIds The applications to associate the status with, if null then for all.
   */
  def updateOfferTransactionStatus(deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, statusId: Option[Long] = None, name: Option[String] = None, description: Option[String] = None, code: Option[Int] = None, role: Option[String] = None, active: Option[Boolean] = None, applicationIds: Option[String] = None): ApiRequest[OfferTransactionStatusResponse] =
    ApiRequest[OfferTransactionStatusResponse](ApiMethods.POST, baseUrl, "/offer/status/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("statusId", statusId)
      .withQueryParam("name", name)
      .withQueryParam("description", description)
      .withQueryParam("code", code)
      .withQueryParam("role", role)
      .withQueryParam("active", active)
      .withQueryParam("applicationIds", applicationIds)
      .withSuccessResponse[OfferTransactionStatusResponse](200)
      



}

