/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.WrappedProxyItemResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OpenAIApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new OpenAIApi(baseUrl)
}

class OpenAIApi(baseUrl: String) {

  /**
   * Generate images with OpenAI.
   * 
   * Expected answers:
   *   code 200 : WrappedProxyItemResponse (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param postBody Post Body Parameters
   * @param returnRawResponse Return raw response
   */
  def imageGeneration(accountId: Long, postBody: String, returnRawResponse: Option[Boolean] = None): ApiRequest[WrappedProxyItemResponse] =
    ApiRequest[WrappedProxyItemResponse](ApiMethods.POST, baseUrl, "/openai/v1/images/generations", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("postBody", postBody)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[WrappedProxyItemResponse](200)
      



}

