/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ImportStatuses
import org.openapitools.client.model.Orders
import org.openapitools.client.model.ShipmentOrder
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object OptimizeApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new OptimizeApi(baseUrl)
}

class OptimizeApi(baseUrl: String) {

  /**
   * Get the results of the import batch.
   * 
   * Expected answers:
   *   code 200 : Map[String, ShipmentOrder] (successful operation)
   * 
   * @param batchID The batchID for getting the import status of.
   * @param start The start index for pagination
   * @param limit The limit for pagination
   */
  def getOptimizationResult(batchID: String, start: Int, limit: Int): ApiRequest[Map[String, ShipmentOrder]] =
    ApiRequest[Map[String, ShipmentOrder]](ApiMethods.GET, baseUrl, "/optimize/result/{batchID}", "application/json")
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withPathParam("batchID", batchID)
      .withSuccessResponse[Map[String, ShipmentOrder]](200)
      

  /**
   * Request and upload of shipment orders and create ShipmentImportBatch for optimization.
   * 
   * Expected answers:
   *   code 200 : ImportStatuses (successful operation)
   * 
   * @param body 
   */
  def requestOptimization(body: Option[Orders] = None): ApiRequest[ImportStatuses] =
    ApiRequest[ImportStatuses](ApiMethods.POST, baseUrl, "/optimize/request", "application/json")
      .withBody(body)
      .withSuccessResponse[ImportStatuses](200)
      



}

