/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PackResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PackApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new PackApi(baseUrl)
}

class PackApi(baseUrl: String) {

  /**
   * Create a pack.
   * 
   * Expected answers:
   *   code 200 : PackResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param title The title of the pack
   * @param packOrder The order of the pack
   * @param price The price in tickets to purchase this pack
   * @param highest The scoring is highest is best
   * @param allocateTickets Flag to indicate owner should receive tickets for completed packs
   * @param ticketCount The number of tickets to reward
   * @param description The description of the pack
   * @param searchTags The tags for searching the pack, comma separated
   * @param active Activate/deactivate the pack
   * @param gameType This parameter is deprecated.
   * @param appKey The application key used to identify the application
   * @param packType The type of the pack
   * @param sequenceType The type of game sequence of the pack
   * @param backgroundId The background asset id of the pack
   * @param imageId The image asset id of the pack
   * @param startDate The date/time to start the pack, send 0 to unset
   * @param endDate The date/time to end the pack, send 0 to unset
   * @param authorOverride 
   * @param priceType the type of ticket required to purchase this pack
   * @param gameLevelIds the game level ids to include in the pack, comma separated
   * @param inGame 
   * @param ticketType The type of ticket to reward, null means default type
   * @param points The number of points to award for completing a pack
   */
  def createPack(accountId: Long, title: String, packOrder: Long, price: Int, highest: Boolean, allocateTickets: Boolean, ticketCount: Long, description: Option[String] = None, searchTags: Option[String] = None, active: Option[Boolean] = None, gameType: Option[String] = None, appKey: Option[String] = None, packType: Option[String] = None, sequenceType: Option[String] = None, backgroundId: Option[Long] = None, imageId: Option[Long] = None, startDate: Option[Long] = None, endDate: Option[Long] = None, authorOverride: Option[String] = None, priceType: Option[String] = None, gameLevelIds: Option[String] = None, inGame: Option[Boolean] = None, ticketType: Option[String] = None, points: Option[Long] = None): ApiRequest[PackResponse] =
    ApiRequest[PackResponse](ApiMethods.POST, baseUrl, "/pack/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("title", title)
      .withQueryParam("description", description)
      .withQueryParam("searchTags", searchTags)
      .withQueryParam("active", active)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("packType", packType)
      .withQueryParam("packOrder", packOrder)
      .withQueryParam("sequenceType", sequenceType)
      .withQueryParam("backgroundId", backgroundId)
      .withQueryParam("imageId", imageId)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("authorOverride", authorOverride)
      .withQueryParam("price", price)
      .withQueryParam("priceType", priceType)
      .withQueryParam("gameLevelIds", gameLevelIds)
      .withQueryParam("inGame", inGame)
      .withQueryParam("highest", highest)
      .withQueryParam("allocateTickets", allocateTickets)
      .withQueryParam("ticketCount", ticketCount)
      .withQueryParam("ticketType", ticketType)
      .withQueryParam("points", points)
      .withSuccessResponse[PackResponse](200)
      

  /**
   * Delete a pack.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param packId the id of the pack to delete
   */
  def deletePack(accountId: Long, packId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/pack/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("packId", packId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get a pack.
   * 
   * Expected answers:
   *   code 200 : PackResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param packId The id of the pack to return.
   * @param includeGameData If true include the game level data, otherwise don't. default is false.
   */
  def getPack(accountId: Long, packId: Long, includeGameData: Boolean): ApiRequest[PackResponse] =
    ApiRequest[PackResponse](ApiMethods.GET, baseUrl, "/pack/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("packId", packId)
      .withQueryParam("includeGameData", includeGameData)
      .withSuccessResponse[PackResponse](200)
      

  /**
   * Search on packs.
   * 
   * Expected answers:
   *   code 200 : Seq[PackResponse] (successful operation)
   * 
   * @param accountId The logged in user.
   * @param sortField The field to sort by. Possible values include: TITLE, DESCRIPTION, CREATED, UPDATED
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param keyword Keyword search on the pack name
   * @param packType Filters results on pack type
   * @param start Start the result set at some index.
   * @param limit Limit the result to some number.
   * @param includeGameData Determines whether to include game data in the results
   * @param includeInactive Determines whether to include inactive results
   * @param appKey The application to filter results on
   */
  def searchPacks(accountId: Long, sortField: String, descending: Boolean, keyword: Option[String] = None, packType: Option[String] = None, start: Option[Int] = None, limit: Option[Int] = None, includeGameData: Option[Boolean] = None, includeInactive: Option[Boolean] = None, appKey: Option[String] = None): ApiRequest[Seq[PackResponse]] =
    ApiRequest[Seq[PackResponse]](ApiMethods.GET, baseUrl, "/pack/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("keyword", keyword)
      .withQueryParam("packType", packType)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("includeGameData", includeGameData)
      .withQueryParam("includeInactive", includeInactive)
      .withQueryParam("appKey", appKey)
      .withSuccessResponse[Seq[PackResponse]](200)
      

  /**
   * Update a pack.
   * 
   * Expected answers:
   *   code 200 : PackResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param packId The id of the pack to update.
   * @param allocateTickets Flag to indicate owner should receive tickets for completed packs
   * @param ticketCount The number of tickets to reward
   * @param title The title of the pack
   * @param description The description of the pack
   * @param searchTags The tags for searching the pack, comma separated
   * @param active Activate/deactivate the pack
   * @param gameType This parameter is deprecated.
   * @param appKey The application key used to identify the application
   * @param packType The type of the pack
   * @param packOrder The order of the pack
   * @param sequenceType The type of game sequence of the pack
   * @param backgroundId The background asset id of the pack
   * @param imageId The image asset id of the pack
   * @param startDate The date/time to start the pack, send 0 to unset
   * @param endDate The date/time to end the pack, send 0 to unset
   * @param authorOverride 
   * @param price The price in tickets to purchase this pack
   * @param priceType the type of ticket required to purchase this pack
   * @param gameLevelIds the game level ids to include in the pack, comma separated
   * @param inGame 
   * @param highest The scoring is highest is best
   * @param ticketType The type of ticket to reward, null means default type
   * @param points The number of points to award for completing a pack
   */
  def updatePack(accountId: Long, packId: Long, allocateTickets: Boolean, ticketCount: Long, title: Option[String] = None, description: Option[String] = None, searchTags: Option[String] = None, active: Option[Boolean] = None, gameType: Option[String] = None, appKey: Option[String] = None, packType: Option[String] = None, packOrder: Option[Long] = None, sequenceType: Option[String] = None, backgroundId: Option[Long] = None, imageId: Option[Long] = None, startDate: Option[Long] = None, endDate: Option[Long] = None, authorOverride: Option[String] = None, price: Option[Int] = None, priceType: Option[String] = None, gameLevelIds: Option[String] = None, inGame: Option[Boolean] = None, highest: Option[Boolean] = None, ticketType: Option[String] = None, points: Option[Long] = None): ApiRequest[PackResponse] =
    ApiRequest[PackResponse](ApiMethods.POST, baseUrl, "/pack/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("packId", packId)
      .withQueryParam("title", title)
      .withQueryParam("description", description)
      .withQueryParam("searchTags", searchTags)
      .withQueryParam("active", active)
      .withQueryParam("gameType", gameType)
      .withQueryParam("appKey", appKey)
      .withQueryParam("packType", packType)
      .withQueryParam("packOrder", packOrder)
      .withQueryParam("sequenceType", sequenceType)
      .withQueryParam("backgroundId", backgroundId)
      .withQueryParam("imageId", imageId)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("authorOverride", authorOverride)
      .withQueryParam("price", price)
      .withQueryParam("priceType", priceType)
      .withQueryParam("gameLevelIds", gameLevelIds)
      .withQueryParam("inGame", inGame)
      .withQueryParam("highest", highest)
      .withQueryParam("allocateTickets", allocateTickets)
      .withQueryParam("ticketCount", ticketCount)
      .withQueryParam("ticketType", ticketType)
      .withQueryParam("points", points)
      .withSuccessResponse[PackResponse](200)
      



}

