/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PathingResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PathingApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new PathingApi(baseUrl)
}

class PathingApi(baseUrl: String) {

  /**
   * Calculates the shortest path from point to point on a grid
   * 
   * Expected answers:
   *   code 200 : PathingResponse (successful operation)
   * 
   * @param data the data to with start, end point and exclusion points
   * @param units the system of measurement for directions: {METRIC, IMPERIAL}
   * @param reducePath determines whether to reduce the path to go in diagonal lines
   * @param directions determines whether to return text directions
   */
  def computePath(data: String, units: String, reducePath: Boolean, directions: Boolean): ApiRequest[PathingResponse] =
    ApiRequest[PathingResponse](ApiMethods.GET, baseUrl, "/pathing/compute", "application/json")
      .withQueryParam("data", data)
      .withQueryParam("units", units)
      .withQueryParam("reducePath", reducePath)
      .withQueryParam("directions", directions)
      .withSuccessResponse[PathingResponse](200)
      



}

