/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PostalCodeResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PostalCodeApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new PostalCodeApi(baseUrl)
}

class PostalCodeApi(baseUrl: String) {

  /**
   * Create a Postal Code
   * 
   * Expected answers:
   *   code 200 : PostalCodeResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param code the postal code
   * @param latitude the latitude of the postal code
   * @param longitude the longitude of the postal code
   * @param stateCode the state code (e.g WA, WV, WI) that the postal code is located
   * @param city the city that the postal code is located
   * @param active whether the postal code created should be active or inactive
   */
  def createPostalCode(accountId: Long, code: String, latitude: Double, longitude: Double, stateCode: Option[String] = None, city: Option[String] = None, active: Option[Boolean] = None): ApiRequest[PostalCodeResponse] =
    ApiRequest[PostalCodeResponse](ApiMethods.POST, baseUrl, "/postalCode/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("code", code)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("stateCode", stateCode)
      .withQueryParam("city", city)
      .withQueryParam("active", active)
      .withSuccessResponse[PostalCodeResponse](200)
      

  /**
   * Delete a Postal Code
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param postalCodeId the id of the postal code to delete
   */
  def deletePostalCode(accountId: Long, postalCodeId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/postalCode/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("postalCodeId", postalCodeId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get a Postal Code
   * 
   * Expected answers:
   *   code 200 : PostalCodeResponse (successful operation)
   * 
   * @param postalCodeId the id of the postal code to get
   */
  def getPostalCode(postalCodeId: Long): ApiRequest[PostalCodeResponse] =
    ApiRequest[PostalCodeResponse](ApiMethods.GET, baseUrl, "/postalCode/get", "application/json")
      .withQueryParam("postalCodeId", postalCodeId)
      .withSuccessResponse[PostalCodeResponse](200)
      

  /**
   * Get the list of regions. If latitude or longitude is null, will return all postal codes in the system with paginated response.
   * 
   * Expected answers:
   *   code 200 : Seq[PostalCodeResponse] (successful operation)
   * 
   * @param sortField the field to sort the results on
   * @param descending whether to order results in ascending or descending order
   * @param latitude the latitude of the postal code to search on
   * @param longitude the longitude of the postal code to search on
   * @param keyword the keyword of the postal code to search on
   * @param miles how far (in miles) to search on for the postal code
   * @param start the start of the index and/or pagination
   * @param limit the limit of the index and/or pagination
   */
  def getPostalCodes(sortField: String, descending: Boolean, latitude: Option[Double] = None, longitude: Option[Double] = None, keyword: Option[String] = None, miles: Option[Double] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[Seq[PostalCodeResponse]] =
    ApiRequest[Seq[PostalCodeResponse]](ApiMethods.GET, baseUrl, "/postalCode/search", "application/json")
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("keyword", keyword)
      .withQueryParam("miles", miles)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withSuccessResponse[Seq[PostalCodeResponse]](200)
      

  /**
   * Update a Postal Code
   * 
   * Expected answers:
   *   code 200 : PostalCodeResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param postalCodeId the id of the postal code to update
   * @param code the postal code to update
   * @param latitude the latitude of the postal code
   * @param longitude the longitude of the postal code
   * @param stateCode the state code (e.g. WA, WI, WY) where the postal code is located
   * @param city the city where the postal code is located
   * @param active whether the postal code is active or inactive
   */
  def updatePostalCode(accountId: Long, postalCodeId: Long, code: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, stateCode: Option[String] = None, city: Option[String] = None, active: Option[Boolean] = None): ApiRequest[PostalCodeResponse] =
    ApiRequest[PostalCodeResponse](ApiMethods.POST, baseUrl, "/postalCode/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("postalCodeId", postalCodeId)
      .withQueryParam("code", code)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("stateCode", stateCode)
      .withQueryParam("city", city)
      .withQueryParam("active", active)
      .withSuccessResponse[PostalCodeResponse](200)
      



}

