/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PreviewPersonaResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PreviewPersonaApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new PreviewPersonaApi(baseUrl)
}

class PreviewPersonaApi(baseUrl: String) {

  /**
   * Creates a new persona. If the given params are null those attributes will be override by null.
   * 
   * Expected answers:
   *   code 200 : PreviewPersonaResponse (successful operation)
   * 
   * @param accountId the account ID of the user
   * @param title the title of the persona
   * @param previewAccounts the accounts that are able to preview from this persona
   * @param date the sepcified date that this persona is viewing the app
   * @param age the specified age of this persona
   * @param gender the specified gender of this persona
   * @param gameExperienceLevel the specified experience level of the persona
   * @param latitude the specified latitude of the persona
   * @param longitude the specified longitude of the persona
   */
  def createPersona(accountId: Long, title: String, previewAccounts: Option[String] = None, date: Option[Long] = None, age: Option[Int] = None, gender: Option[String] = None, gameExperienceLevel: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[PreviewPersonaResponse] =
    ApiRequest[PreviewPersonaResponse](ApiMethods.POST, baseUrl, "/persona/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("title", title)
      .withQueryParam("previewAccounts", previewAccounts)
      .withQueryParam("date", date)
      .withQueryParam("age", age)
      .withQueryParam("gender", gender)
      .withQueryParam("gameExperienceLevel", gameExperienceLevel)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[PreviewPersonaResponse](200)
      

  /**
   * Mark the persona for deletion.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the account id of the user
   * @param personaId the id of the persona to delete
   */
  def deletePersona(accountId: Long, personaId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/persona/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("personaId", personaId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get the persona by the given persona ID. If the persona cannot be found, a invalid response is returned.
   * 
   * Expected answers:
   *   code 200 : PreviewPersonaResponse (successful operation)
   * 
   * @param accountId the account ID of the user
   * @param personaId the persona ID of the persona
   */
  def getPersonaList(accountId: Long, personaId: Long): ApiRequest[PreviewPersonaResponse] =
    ApiRequest[PreviewPersonaResponse](ApiMethods.GET, baseUrl, "/persona/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("personaId", personaId)
      .withSuccessResponse[PreviewPersonaResponse](200)
      

  /**
   * Search for persona that the account owns by the given account ID.
   * 
   * Expected answers:
   *   code 200 : PreviewPersonaResponse (successful operation)
   * 
   * @param accountId the account ID of the user
   * @param start the start index for pagination
   * @param limit the limit for pagination (There is a hard limit of 100)
   */
  def searchPersona(accountId: Long, start: Int, limit: Int): ApiRequest[PreviewPersonaResponse] =
    ApiRequest[PreviewPersonaResponse](ApiMethods.GET, baseUrl, "/persona/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[PreviewPersonaResponse](200)
      

  /**
   * Update the persona by the given personaId. If the given params are null those attributes will be override by null. If active is assigned, all other params will be ignored.
   * 
   * Expected answers:
   *   code 200 : PreviewPersonaResponse (successful operation)
   * 
   * @param accountId the account ID of the user
   * @param personaId the persona ID of the persona to update
   * @param title the title of the persona
   * @param previewAccounts the accounts that are able to preview from this persona
   * @param active the status of the persona, there can only be one active persona per account
   * @param date the sepcified date that this persona is viewing the app
   * @param age the specified age of this persona
   * @param gender the specified gender of this persona
   * @param gameExperienceLevel the specified experience level of the persona
   * @param latitude the specified latitude of the persona
   * @param longitude the specified longitude of the persona
   */
  def updatePersona(accountId: Long, personaId: Long, title: Option[String] = None, previewAccounts: Option[String] = None, active: Option[Boolean] = None, date: Option[Long] = None, age: Option[Int] = None, gender: Option[String] = None, gameExperienceLevel: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[PreviewPersonaResponse] =
    ApiRequest[PreviewPersonaResponse](ApiMethods.POST, baseUrl, "/persona/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("personaId", personaId)
      .withQueryParam("title", title)
      .withQueryParam("previewAccounts", previewAccounts)
      .withQueryParam("active", active)
      .withQueryParam("date", date)
      .withQueryParam("age", age)
      .withQueryParam("gender", gender)
      .withQueryParam("gameExperienceLevel", gameExperienceLevel)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[PreviewPersonaResponse](200)
      



}

