/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Program
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ProgramApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ProgramApi(baseUrl)
}

class ProgramApi(baseUrl: String) {

  /**
   * Create a new program
   * 
   * Expected answers:
   *   code 200 : Program (successful operation)
   * 
   * @param body 
   */
  def createProgram(body: Option[Program] = None): ApiRequest[Program] =
    ApiRequest[Program](ApiMethods.POST, baseUrl, "/program", "application/json")
      .withBody(body)
      .withSuccessResponse[Program](200)
      

  /**
   * Delete an existing program
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param id the id of the program
   */
  def deleteProgram(id: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/program/{id}", "application/json")
      .withPathParam("id", id)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Get an existing program
   * 
   * Expected answers:
   *   code 200 : Program (successful operation)
   * 
   * @param id the id of the program
   */
  def getProgram(id: Long): ApiRequest[Program] =
    ApiRequest[Program](ApiMethods.GET, baseUrl, "/program/{id}", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[Program](200)
      

  /**
   * Update an existing program
   * 
   * Expected answers:
   *   code 200 : Program (successful operation)
   * 
   * @param id the id of the program
   * @param body 
   */
  def postProgram(id: Long, body: Option[Program] = None): ApiRequest[Program] =
    ApiRequest[Program](ApiMethods.POST, baseUrl, "/program/{id}", "application/json")
      .withBody(body)
      .withPathParam("id", id)
      .withSuccessResponse[Program](200)
      

  /**
   * Update an existing program
   * 
   * Expected answers:
   *   code 200 : Program (successful operation)
   * 
   * @param id the id of the program
   * @param body 
   */
  def putProgram(id: Long, body: Option[Program] = None): ApiRequest[Program] =
    ApiRequest[Program](ApiMethods.PUT, baseUrl, "/program/{id}", "application/json")
      .withBody(body)
      .withPathParam("id", id)
      .withSuccessResponse[Program](200)
      

  /**
   * Search for programs
   * 
   * Expected answers:
   *   code 200 : Seq[Program] (successful operation)
   * 
   * @param sortField The field to sort by
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param activeOnly Return only active results
   * @param keyword The keyword to filter results by
   */
  def searchPrograms(sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, keyword: Option[String] = None): ApiRequest[Seq[Program]] =
    ApiRequest[Seq[Program]](ApiMethods.GET, baseUrl, "/program", "application/json")
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[Program]](200)
      



}

