/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.PurchaseItemFullResponse
import org.openapitools.client.model.PurchaseItemResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object PurchaseItemApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new PurchaseItemApi(baseUrl)
}

class PurchaseItemApi(baseUrl: String) {

  /**
   * Creates a purchase item for in app purchases
   * 
   * Expected answers:
   *   code 200 : PurchaseItemFullResponse (successful operation)
   * 
   * @param appKey The application key that the purchase can be used in
   * @param name The name of the purchase item
   * @param purchaseType The purchase provider <ul> <li>SIRQUL - the Sirqul store to make purchases using tickets</li> <li>IOS - the iTunes store for iPhone, iPod, iPod Touch</li> <li>GOOGLE - the Google Play store</li> <li>AMAZON - the Amazon Android store</li> <li>MAC - the iTunes store for OSX</li> <li>WP8 - the Windows Phone 8 store</li> <li>FREE - used for purchase items that are free (can be used for development/testing purposes)</li> </ul>
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param description The description of the purchase item
   * @param tickets How much the purchase item is worth in tickets
   * @param price How much the purchase item will cost in real money
   * @param purchaseCode The unique identifier used by purchase providers to identify in-app-purchases
   * @param secretKey A secret key from purchase providers that would be used for validation
   * @param purchaseLimit How many times a user acquire the same purchase item
   * @param serviceAction Determines whether the purchase item will enable certain features <ul> <li>DAY_PREMIUM - subscribes a user for a day of membership</li> <li>WEEK_PREMIUM - subscribes a user for a week of membership</li> <li>MONTH_PREMIUM - subscribes a user for a month of membership</li> <li>ADD_TICKET - allows a user to add more tickets to their account</li> <li>ADD_GIFT - allows a user to send/recieve the purchase item as a gift</li> </ul>
   * @param coverAssetId The cover image of the purchase item
   * @param promoAssetId An application specific asset that can be used to store/provide additional data
   * @param giftable Determines whether the purchase item can be gifted to other users
   * @param assetable Determines whether users can attach their own media/asset to the purchase item
   * @param allocateTickets Flag to indicate owner should receive tickets for completed missions
   * @param ticketType The type of ticket to reward, null means default type
   * @param points The number of points to award for completing a mission
   * @param offerLocationId The offer location that will get added to the user's wallet after purchase.
   */
  def createPurchaseItem(appKey: String, name: String, purchaseType: String, deviceId: Option[String] = None, accountId: Option[Long] = None, description: Option[String] = None, tickets: Option[Int] = None, price: Option[Float] = None, purchaseCode: Option[String] = None, secretKey: Option[String] = None, purchaseLimit: Option[Int] = None, serviceAction: Option[String] = None, coverAssetId: Option[Long] = None, promoAssetId: Option[Long] = None, giftable: Option[Boolean] = None, assetable: Option[Boolean] = None, allocateTickets: Option[Boolean] = None, ticketType: Option[String] = None, points: Option[Long] = None, offerLocationId: Option[Long] = None): ApiRequest[PurchaseItemFullResponse] =
    ApiRequest[PurchaseItemFullResponse](ApiMethods.POST, baseUrl, "/purchase/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("name", name)
      .withQueryParam("description", description)
      .withQueryParam("tickets", tickets)
      .withQueryParam("price", price)
      .withQueryParam("purchaseType", purchaseType)
      .withQueryParam("purchaseCode", purchaseCode)
      .withQueryParam("secretKey", secretKey)
      .withQueryParam("purchaseLimit", purchaseLimit)
      .withQueryParam("serviceAction", serviceAction)
      .withQueryParam("coverAssetId", coverAssetId)
      .withQueryParam("promoAssetId", promoAssetId)
      .withQueryParam("giftable", giftable)
      .withQueryParam("assetable", assetable)
      .withQueryParam("allocateTickets", allocateTickets)
      .withQueryParam("ticketType", ticketType)
      .withQueryParam("points", points)
      .withQueryParam("offerLocationId", offerLocationId)
      .withSuccessResponse[PurchaseItemFullResponse](200)
      

  /**
   * Marks the purchase item as deleted
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param purchaseItemId The purchase item id
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   */
  def deletePurchaseItem(purchaseItemId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/purchase/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("purchaseItemId", purchaseItemId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get detailed information about a purchase item
   * 
   * Expected answers:
   *   code 200 : PurchaseItemFullResponse (successful operation)
   * 
   * @param purchaseItemId The purchase item id
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   */
  def getPurchaseItem(purchaseItemId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[PurchaseItemFullResponse] =
    ApiRequest[PurchaseItemFullResponse](ApiMethods.GET, baseUrl, "/purchase/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("purchaseItemId", purchaseItemId)
      .withSuccessResponse[PurchaseItemFullResponse](200)
      

  /**
   * Search for purchasable items from the system
   * 
   * Expected answers:
   *   code 200 : Seq[PurchaseItemResponse] (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param appKey The application key to filter results by application
   * @param filterByBillable Determines whether to filter results by the user's billable entity
   * @param purchaseType A comma separated list of purchase providers to filter by. Possible values include: <ul> <li>SIRQUL - purchases from the Sirqul store using tickets</li> <li>IOS - purchases from the iTunes store for iPhone, iPod, iPod Touch</li> <li>GOOGLE - purchases from the Google Play store</li> <li>AMAZON - purchases from the Amazon Android store</li> <li>MAC - purchases from the iTunes store for OSX</li> <li>WP8 - purchases from the Windows Phone 8 store</li> <li>FREE - purchases that are free (can be used for development/testing purposes)</li> </ul>
   * @param serviceAction A comma separated list of service actions to filter results by. Possible values include: <ul> <li>DAY_PREMIUM - purchases that subscribes a user for a day of membership</li> <li>WEEK_PREMIUM - purchases that subscribes a user for a week of membership</li> <li>MONTH_PREMIUM - purchases that subscribes a user for a month of membership</li> <li>ADD_TICKET - purchases that allow users to add more tickets</li> <li>ADD_GIFT - purchases that allow users to recieve gifts</li> </ul>
   * @param keyword The keyword used to search
   * @param sortField The column to sort the search on. Possible values include: ID, CREATED, UPDATED, ACTIVE, ACTIVATED, EXPIRES, TITLE, SUBTITLE, DETAILS, OFFER_TYPE, SPECIAL_OFFER_TYPE, OFFER_VISIBILITY, ESTIMATED_VALUE, VOUCHER_PRICE, RETAILER_ID, RETAILER_NAME, RETAILER_LOCATION_ID, RETAILER_LOCATION_NAME, BILLABLE_ENTITY_ID, BILLABLE_ENTITY_NAME, RESPONSIBLE_DISPLAY
   * @param descending The order to return the search results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @param activeOnly Return only active results
   */
  def searchPurchaseItems(deviceId: Option[String] = None, accountId: Option[Long] = None, appKey: Option[String] = None, filterByBillable: Option[Boolean] = None, purchaseType: Option[String] = None, serviceAction: Option[String] = None, keyword: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None, activeOnly: Option[Boolean] = None): ApiRequest[Seq[PurchaseItemResponse]] =
    ApiRequest[Seq[PurchaseItemResponse]](ApiMethods.GET, baseUrl, "/purchase/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("filterByBillable", filterByBillable)
      .withQueryParam("purchaseType", purchaseType)
      .withQueryParam("serviceAction", serviceAction)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[PurchaseItemResponse]](200)
      

  /**
   * Updates a purchase item for in app purchases
   * 
   * Expected answers:
   *   code 200 : PurchaseItemFullResponse (successful operation)
   * 
   * @param purchaseItemId The purchase item id
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param name The name of the purchase item
   * @param description The description of the purchase item
   * @param tickets How much the purchase item is worth in tickets
   * @param price How much the purchase item will cost in real money
   * @param purchaseType The purchase provider <ul> <li>SIRQUL - the Sirqul store to make purchases using tickets</li> <li>IOS - the iTunes store for iPhone, iPod, iPod Touch</li> <li>GOOGLE - the Google Play store</li> <li>AMAZON - the Amazon Android store</li> <li>MAC - the iTunes store for OSX</li> <li>WP8 - the Windows Phone 8 store</li> <li>FREE - used for purchase items that are free (can be used for development/testing purposes)</li> </ul>
   * @param purchaseCode The unique identifier used by purchase providers to identify in-app-purchases
   * @param secretKey A secret key from purchase providers that would be used for validation
   * @param purchaseLimit How many times a user acquire the same purchase item
   * @param serviceAction Determines whether the purchase item will enable certain features <ul> <li>DAY_PREMIUM - subscribes a user for a day of membership</li> <li>WEEK_PREMIUM - subscribes a user for a week of membership</li> <li>MONTH_PREMIUM - subscribes a user for a month of membership</li> <li>ADD_TICKET - allows a user to add more tickets to their account</li> <li>ADD_GIFT - allows a user to send/recieve the purchase item as a gift</li> </ul>
   * @param coverAssetId The cover image of the purchase item
   * @param promoAssetId An application specific asset that can be used to store/provide additional data
   * @param giftable Determines whether the purchase item can be gifted to other users
   * @param assetable Determines whether users can attach their own media/asset to the purchase item
   * @param active Sets whether the purchase item is active or inactive (hidden from consumers)
   * @param allocateTickets Flag to indicate owner should receive tickets for completed missions
   * @param ticketType The type of ticket to reward, null means default type
   * @param points The number of points to award for completing a mission
   * @param offerLocationId The offer location that will get added to the user's wallet after purchase.
   */
  def updatePurchaseItem(purchaseItemId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, name: Option[String] = None, description: Option[String] = None, tickets: Option[Int] = None, price: Option[Float] = None, purchaseType: Option[String] = None, purchaseCode: Option[String] = None, secretKey: Option[String] = None, purchaseLimit: Option[Int] = None, serviceAction: Option[String] = None, coverAssetId: Option[Long] = None, promoAssetId: Option[Long] = None, giftable: Option[Boolean] = None, assetable: Option[Boolean] = None, active: Option[Boolean] = None, allocateTickets: Option[Boolean] = None, ticketType: Option[String] = None, points: Option[Long] = None, offerLocationId: Option[Long] = None): ApiRequest[PurchaseItemFullResponse] =
    ApiRequest[PurchaseItemFullResponse](ApiMethods.POST, baseUrl, "/purchase/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("purchaseItemId", purchaseItemId)
      .withQueryParam("name", name)
      .withQueryParam("description", description)
      .withQueryParam("tickets", tickets)
      .withQueryParam("price", price)
      .withQueryParam("purchaseType", purchaseType)
      .withQueryParam("purchaseCode", purchaseCode)
      .withQueryParam("secretKey", secretKey)
      .withQueryParam("purchaseLimit", purchaseLimit)
      .withQueryParam("serviceAction", serviceAction)
      .withQueryParam("coverAssetId", coverAssetId)
      .withQueryParam("promoAssetId", promoAssetId)
      .withQueryParam("giftable", giftable)
      .withQueryParam("assetable", assetable)
      .withQueryParam("active", active)
      .withQueryParam("allocateTickets", allocateTickets)
      .withQueryParam("ticketType", ticketType)
      .withQueryParam("points", points)
      .withQueryParam("offerLocationId", offerLocationId)
      .withSuccessResponse[PurchaseItemFullResponse](200)
      



}

