/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.RatingIndexResponse
import org.openapitools.client.model.RatingResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object RatingApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new RatingApi(baseUrl)
}

class RatingApi(baseUrl: String) {

  /**
   * This is used to leave rating on a ratable object (i.e. retailer locations). Each user can only rate on a ratable object once per category. If a user rates on the same object and category, the previous rating will be overwritten. Leaving a rating on a ratable object will be visible to everyone who has access to view the object.
   * 
   * Expected answers:
   *   code 200 : RatingResponse (successful operation)
   * 
   * @param ratableType The ratable object type {RETAILER_LOCATION}
   * @param ratableId The id of the ratable object
   * @param ratingValue The integer value of 0-100
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param categoryId 
   * @param display A subject title for the user rating (limited to 255 characters)
   * @param description The description of the rating
   * @param locationDescription The description of the location
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   */
  def createRating(ratableType: String, ratableId: Long, ratingValue: Int, deviceId: Option[String] = None, accountId: Option[Long] = None, categoryId: Option[Long] = None, display: Option[String] = None, description: Option[String] = None, locationDescription: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[RatingResponse] =
    ApiRequest[RatingResponse](ApiMethods.POST, baseUrl, "/rating/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("ratableType", ratableType)
      .withQueryParam("ratableId", ratableId)
      .withQueryParam("ratingValue", ratingValue)
      .withQueryParam("categoryId", categoryId)
      .withQueryParam("display", display)
      .withQueryParam("description", description)
      .withQueryParam("locationDescription", locationDescription)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[RatingResponse](200)
      

  /**
   * Sets a rating as deleted.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param ratingId The ID of the rating to delete
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   */
  def deleteRating(ratingId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/rating/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("ratingId", ratingId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Search for retailer locations by averages near you.
   * 
   * Expected answers:
   *   code 200 : Seq[RatingIndexResponse] (successful operation)
   * 
   * @param categoryIds Comma separated list of category ids to filter the results by
   * @param keyword The keyword used to search
   * @param locationType The type of location to filter the results by
   * @param sortField The column to sort the search on {ID, CREATED, UPDATED, ACTIVE, RATABLE_TYPE, RATABLE_ID, RATABLE_DISPLAY, CATEGORY_ID, CATEGORY_NAME, CATEGORY_SHORT_NAME, CATEGORY_DISPLAY, COUNT, SUMMATION, AVERAGE, VALUE}
   * @param descending The order to return the search results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @param searchRange The search radius in kilometers to filter results
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   * @param returnOverallRating Determines whether to return the overall rating record instead
   * @param distanceUnit 
   * @param returnRetailer whether to return the retailer or not
   * @param returnAssets whether to return the assets or not
   * @param returnOffers whether to return the offers or not
   * @param returnCategories whether to return the categories or not
   * @param returnFilters whether to return the filters or not
   */
  def searchLocationRatingIndexes(categoryIds: Option[String] = None, keyword: Option[String] = None, locationType: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None, searchRange: Option[Double] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, returnOverallRating: Option[Boolean] = None, distanceUnit: Option[String] = None, returnRetailer: Option[Boolean] = None, returnAssets: Option[Boolean] = None, returnOffers: Option[Boolean] = None, returnCategories: Option[Boolean] = None, returnFilters: Option[Boolean] = None): ApiRequest[Seq[RatingIndexResponse]] =
    ApiRequest[Seq[RatingIndexResponse]](ApiMethods.GET, baseUrl, "/location/rating/index/search", "application/json")
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("keyword", keyword)
      .withQueryParam("locationType", locationType)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("searchRange", searchRange)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("returnOverallRating", returnOverallRating)
      .withQueryParam("distanceUnit", distanceUnit)
      .withQueryParam("returnRetailer", returnRetailer)
      .withQueryParam("returnAssets", returnAssets)
      .withQueryParam("returnOffers", returnOffers)
      .withQueryParam("returnCategories", returnCategories)
      .withQueryParam("returnFilters", returnFilters)
      .withSuccessResponse[Seq[RatingIndexResponse]](200)
      

  /**
   * Search for ratable items by averages.
   * 
   * Expected answers:
   *   code 200 : Seq[RatingIndexResponse] (successful operation)
   * 
   * @param ratableType Filter results by a ratable type {RETAILER_LOCATION}
   * @param ratableIds Comma separated list of ratable ids to filter the resuts by
   * @param categoryIds Comma separated list of category ids to filter the results by
   * @param secondaryType 
   * @param keyword The keyword used to search
   * @param sortField The column to sort the search on {ID, CREATED, UPDATED, ACTIVE, RATABLE_TYPE, RATABLE_ID, RATABLE_DISPLAY, CATEGORY_ID, CATEGORY_NAME, CATEGORY_SHORT_NAME, CATEGORY_DISPLAY, COUNT, SUMMATION, AVERAGE, VALUE}
   * @param descending The order to return the search results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   * @param latitude 
   * @param longitude 
   * @param returnRatable Determines whether to return the ratable object in the response
   * @param returnOverallRating Determines whether to return the overall rating record instead
   */
  def searchRatingIndexes(ratableType: String, ratableIds: Option[String] = None, categoryIds: Option[String] = None, secondaryType: Option[String] = None, keyword: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, returnRatable: Option[Boolean] = None, returnOverallRating: Option[Boolean] = None): ApiRequest[Seq[RatingIndexResponse]] =
    ApiRequest[Seq[RatingIndexResponse]](ApiMethods.GET, baseUrl, "/rating/index/search", "application/json")
      .withQueryParam("ratableType", ratableType)
      .withQueryParam("ratableIds", ratableIds)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("secondaryType", secondaryType)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("returnRatable", returnRatable)
      .withQueryParam("returnOverallRating", returnOverallRating)
      .withSuccessResponse[Seq[RatingIndexResponse]](200)
      

  /**
   * Search for ratings on a ratable object.
   * 
   * Expected answers:
   *   code 200 : Seq[RatingResponse] (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param filterAccountId Filter results for a particular account
   * @param ratableType The ratable object type {RETAILER_LOCATION}
   * @param ratableId The id of the ratable object
   * @param categoryIds Comma separated list of category ids to filter the results by
   * @param keyword The keyword used to search
   * @param sortField The column to sort the search on {ID, CREATED, UPDATED, ACTIVE, OWNER_DISPLAY, RATABLE_TYPE, RATABLE_ID, RATABLE_DISPLAY, CATEGORY_ID, CATEGORY_NAME, CATEGORY_SHORT_NAME, CATEGORY_DISPLAY, VALUE}
   * @param descending The order to return the search results
   * @param start The record to begin the return set on
   * @param limit The number of records to return
   */
  def searchRatings(deviceId: Option[String] = None, accountId: Option[Long] = None, filterAccountId: Option[Long] = None, ratableType: Option[String] = None, ratableId: Option[Long] = None, categoryIds: Option[String] = None, keyword: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[Seq[RatingResponse]] =
    ApiRequest[Seq[RatingResponse]](ApiMethods.GET, baseUrl, "/rating/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("filterAccountId", filterAccountId)
      .withQueryParam("ratableType", ratableType)
      .withQueryParam("ratableId", ratableId)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[RatingResponse]](200)
      

  /**
   * Update an existing rating. Only the creator of the rating have permission to update.
   * 
   * Expected answers:
   *   code 200 : RatingResponse (successful operation)
   * 
   * @param ratingId The id of the rating (Note: this is not the ratable object id)
   * @param deviceId The unique device identifier that made the request (either deviceId or accountId must be used)
   * @param accountId The unique accountId that made the request (either deviceId or accountId must be used)
   * @param ratingValue The rating value to update
   * @param categoryId 
   * @param display A subject title for the user rating (limited to 255 characters)
   * @param description The description of the rating
   * @param locationDescription The description of the location
   * @param latitude The current location of the user
   * @param longitude The current location of the user
   */
  def updateRating(ratingId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, ratingValue: Option[Int] = None, categoryId: Option[Long] = None, display: Option[String] = None, description: Option[String] = None, locationDescription: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[RatingResponse] =
    ApiRequest[RatingResponse](ApiMethods.POST, baseUrl, "/rating/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("ratingId", ratingId)
      .withQueryParam("ratingValue", ratingValue)
      .withQueryParam("categoryId", categoryId)
      .withQueryParam("display", display)
      .withQueryParam("description", description)
      .withQueryParam("locationDescription", locationDescription)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[RatingResponse](200)
      



}

