/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.RegionLegSummary
import org.openapitools.client.model.ReportBatchResponse
import org.openapitools.client.model.ReportRegionLegSummaryBatchResponse
import org.openapitools.client.model.ReportResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ReportingApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ReportingApi(baseUrl)
}

class ReportingApi(baseUrl: String) {

  /**
   * Create an entry for the batch for offline report
   * 
   * Expected answers:
   *   code 200 : ReportBatchResponse (successful operation)
   * 
   * @param accountId The account id of the user for passing account related params
   * @param status the status of the report
   * @param previewLimit the limit on how much you can preview of the batch report
   * @param appKey The application key for passing application related params
   * @param endpoint 
   * @param parameters a json structure list of the parameter values, example: ```json {   \"string\":\"value\",    \"number\":3.345,   \"date\":\"2014-05-01 00:00:00\" } ``` 
   * @param name name of the batch report
   * @param startDate the start date of the batch report
   * @param endDate the end date of the batch report
   * @param description the description of the batch report
   * @param pageUrl 
   */
  def createBatch(accountId: Long, status: String, previewLimit: Int, appKey: Option[String] = None, endpoint: Option[String] = None, parameters: Option[String] = None, name: Option[String] = None, startDate: Option[Long] = None, endDate: Option[Long] = None, description: Option[String] = None, pageUrl: Option[String] = None): ApiRequest[ReportBatchResponse] =
    ApiRequest[ReportBatchResponse](ApiMethods.POST, baseUrl, "/report/batch/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("status", status)
      .withQueryParam("endpoint", endpoint)
      .withQueryParam("parameters", parameters)
      .withQueryParam("name", name)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("description", description)
      .withQueryParam("previewLimit", previewLimit)
      .withQueryParam("pageUrl", pageUrl)
      .withSuccessResponse[ReportBatchResponse](200)
      

  /**
   * Create an entry for the batch for offline report
   * 
   * Expected answers:
   *   code 200 : ReportRegionLegSummaryBatchResponse (successful operation)
   * 
   * @param body 
   */
  def createRegionLegSummaryBatch(body: Seq[RegionLegSummary]): ApiRequest[ReportRegionLegSummaryBatchResponse] =
    ApiRequest[ReportRegionLegSummaryBatchResponse](ApiMethods.POST, baseUrl, "/report/region/summary/batch", "application/json")
      .withBody(body)
      .withSuccessResponse[ReportRegionLegSummaryBatchResponse](200)
      

  /**
   * Deletes a batch report.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the id of the account
   * @param batchId the id of the batch to delete
   */
  def deleteBatch(accountId: Long, batchId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/report/batch/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("batchId", batchId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Checks status of batch report.
   * 
   * Expected answers:
   *   code 200 : ReportBatchResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param batchId returned by /report/batch/create
   * @param allResults whether to return all batch results or not
   */
  def getReportBatch(accountId: Long, batchId: Long, allResults: Boolean): ApiRequest[ReportBatchResponse] =
    ApiRequest[ReportBatchResponse](ApiMethods.GET, baseUrl, "/report/batch/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("batchId", batchId)
      .withQueryParam("allResults", allResults)
      .withSuccessResponse[ReportBatchResponse](200)
      

  /**
   *  This endpoint allows you to run a set of predefined reports that can be used to understand your users' behavior as well as trends within your application.
   * 
   * Expected answers:
   *   code 200 : ReportResponse (successful operation)
   * 
   * @param desc If true then descending order, false is ascending
   * @param accountId The account id of the user for passing account related params
   * @param query The named identifier of the query
   * @param parameters Parameter values used in the query in JSON format, example: ```json {   \"string\":\"value\",    \"number\":3.345,   \"date\":\"2014-05-01 00:00:00\" } ``` 
   * @param order The order to use, must be a column name (see response results for list of column names)
   * @param start The start of the pagination
   * @param limit The limit of the pagination
   * @param responseFormat Determines what response format to return. Options are: JSON or CSV
   */
  def runReport(desc: Boolean, accountId: Option[Long] = None, query: Option[String] = None, parameters: Option[String] = None, order: Option[String] = None, start: Option[Long] = None, limit: Option[Long] = None, responseFormat: Option[String] = None): ApiRequest[ReportResponse] =
    ApiRequest[ReportResponse](ApiMethods.POST, baseUrl, "/report/run", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("query", query)
      .withQueryParam("parameters", parameters)
      .withQueryParam("order", order)
      .withQueryParam("desc", desc)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("responseFormat", responseFormat)
      .withSuccessResponse[ReportResponse](200)
      

  /**
   * Retrieves batches for a user..
   * 
   * Expected answers:
   *   code 200 : Seq[ReportBatchResponse] (successful operation)
   * 
   * @param accountId the id of the account logged in
   * @param start the start of the index and/or pagination
   * @param limit the limit of the index and/or pagination
   * @param names the names of the report batch to search on
   * @param appKey the application key
   * @param status the report batch status
   * @param globalAppSearch the global app to search on
   * @param startDate the start date of the report batch to search on
   * @param endDate the end date of the report batch to search on
   */
  def searchBatch(accountId: Long, start: Int, limit: Int, names: Option[String] = None, appKey: Option[String] = None, status: Option[String] = None, globalAppSearch: Option[Boolean] = None, startDate: Option[Long] = None, endDate: Option[Long] = None): ApiRequest[Seq[ReportBatchResponse]] =
    ApiRequest[Seq[ReportBatchResponse]](ApiMethods.GET, baseUrl, "/report/batch/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("names", names)
      .withQueryParam("appKey", appKey)
      .withQueryParam("status", status)
      .withQueryParam("globalAppSearch", globalAppSearch)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[ReportBatchResponse]](200)
      



}

