/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.AvailabilityResponse
import org.openapitools.client.model.ReservationResponse
import org.openapitools.client.model.TimeSlotResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ReservationApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ReservationApi(baseUrl)
}

class ReservationApi(baseUrl: String) {

  /**
   * Creates a reservation on an offer object
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param startDate The start date
   * @param endDate The end date
   * @param offerId The id of the offer being added (offerId or offeLocationId required)
   * @param offerLocationId The id of the offer location being added (offerId or offeLocationId required)
   * @param appKey The application requesting the reservation
   * @param metaData External custom client defined data
   */
  def createReservation(deviceId: Option[String] = None, accountId: Option[Long] = None, startDate: Option[Long] = None, endDate: Option[Long] = None, offerId: Option[Long] = None, offerLocationId: Option[Long] = None, appKey: Option[String] = None, metaData: Option[String] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/reservation/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("offerId", offerId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("metaData", metaData)
      .withSuccessResponse[Unit](200)
      

  /**
   * Deleted a reservation on a reservation object
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param reservationId The reservation id
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   */
  def deleteReservation(reservationId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/reservation/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("reservationId", reservationId)
      .withSuccessResponse[Unit](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[AvailabilityResponse] (successful operation)
   * 
   * @param reservableId the id of the reservation
   * @param reservableType the type of reservation
   * @param deviceId the device id of the reservation
   * @param accountId the id of the logged in user
   * @param availability Availability
   * @param availabilitySummary Availability Summary
   */
  def reservableAvailability(reservableId: Long, reservableType: String, deviceId: Option[String] = None, accountId: Option[Long] = None, availability: Option[String] = None, availabilitySummary: Option[String] = None): ApiRequest[Seq[AvailabilityResponse]] =
    ApiRequest[Seq[AvailabilityResponse]](ApiMethods.POST, baseUrl, "/reservable/availability/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("reservableId", reservableId)
      .withQueryParam("reservableType", reservableType)
      .withQueryParam("availability", availability)
      .withQueryParam("availabilitySummary", availabilitySummary)
      .withSuccessResponse[Seq[AvailabilityResponse]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[AvailabilityResponse] (successful operation)
   * 
   * @param reservableId the id of the reservation
   * @param reservableType the reservable type
   * @param deviceId the device ID that the reservation is on
   * @param accountId the id of the logged in user
   * @param startDate the start date of the reservation
   * @param endDate the end date of the reservation
   * @param start the start of the index and/or pagination
   * @param limit the limit of the index and/or pagination
   */
  def searchAvailability(reservableId: Long, reservableType: String, deviceId: Option[String] = None, accountId: Option[Long] = None, startDate: Option[Long] = None, endDate: Option[Long] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[Seq[AvailabilityResponse]] =
    ApiRequest[Seq[AvailabilityResponse]](ApiMethods.GET, baseUrl, "/reservable/availability/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("reservableId", reservableId)
      .withQueryParam("reservableType", reservableType)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[AvailabilityResponse]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[ReservationResponse] (successful operation)
   * 
   * @param deviceId Device Id
   * @param appKey Appilcation Key
   * @param accountId the id of the logged in user
   * @param filterAccountId filter reservations by account ID
   * @param reservableId the reservation ID
   * @param reservableType the type of reservation
   * @param keyword the keyword to search the reservation on
   * @param startDate the start date of the reservation search
   * @param endDate the end date of the reservation search
   * @param start the start of the index and/or pagination
   * @param limit the limit of the index and/or pagination
   */
  def searchReservations(deviceId: Option[String] = None, appKey: Option[String] = None, accountId: Option[Long] = None, filterAccountId: Option[Long] = None, reservableId: Option[Long] = None, reservableType: Option[String] = None, keyword: Option[String] = None, startDate: Option[Long] = None, endDate: Option[Long] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[Seq[ReservationResponse]] =
    ApiRequest[Seq[ReservationResponse]](ApiMethods.GET, baseUrl, "/reservation/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("accountId", accountId)
      .withQueryParam("filterAccountId", filterAccountId)
      .withQueryParam("reservableId", reservableId)
      .withQueryParam("reservableType", reservableType)
      .withQueryParam("keyword", keyword)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[ReservationResponse]](200)
      

  /**
   * Expected answers:
   *   code 200 : Seq[TimeSlotResponse] (successful operation)
   * 
   * @param reservableId the id of the reservation
   * @param reservableType the reservation type
   * @param startDate the start date of the reservation
   * @param endDate the end date of the reservation
   * @param deviceId the id of the device that the reservation is on
   * @param accountId the id of the logged in user
   * @param timeBucketMins the length of time in minutes to search on for reservation
   */
  def searchSchedule(reservableId: Long, reservableType: String, startDate: Long, endDate: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, timeBucketMins: Option[Int] = None): ApiRequest[Seq[TimeSlotResponse]] =
    ApiRequest[Seq[TimeSlotResponse]](ApiMethods.GET, baseUrl, "/reservable/schedule/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("reservableId", reservableId)
      .withQueryParam("reservableType", reservableType)
      .withQueryParam("startDate", startDate)
      .withQueryParam("endDate", endDate)
      .withQueryParam("timeBucketMins", timeBucketMins)
      .withSuccessResponse[Seq[TimeSlotResponse]](200)
      



}

