/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import java.io.File
import org.openapitools.client.model.RetailerLocationResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object RetailerLocationApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new RetailerLocationApi(baseUrl)
}

class RetailerLocationApi(baseUrl: String) {

  /**
   * Creates a location record for an application that can support crowd sourced locations.
   * 
   * Expected answers:
   *   code 200 : RetailerLocationResponse (successful operation)
   * 
   * @param appKey the application key
   * @param name The name of the retailer location
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param streetAddress The street address of the retailer location
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param city The city of the retailer location
   * @param state The state of the retailer location
   * @param postalCode The postal code of the retailer location
   * @param country the country of the retailer location
   * @param businessPhone The business phone
   * @param businessPhoneExt The business phone extension
   * @param website The website of the retailer location
   * @param email The email of the retailer location
   * @param detailsHeader A brief description about the retailer location (255 character limit)
   * @param detailsBody A detailed description about the retailer location
   * @param hours The hours of operation
   * @param tags Custom string field for doing full-text searches
   * @param logoAssetId The retailer location logo asset id
   * @param picture1AssetId An asset id
   * @param picture2AssetId An asset id
   * @param categoryIds Comma separated list of category IDs used to filter retailer locations by categories
   * @param filterIds Comma separated list of filter IDs used to filter retailer locations
   * @param metaData External custom client defined data
   * @param publicLocation Whether the location is public
   * @param active whether the retailer location created should be active or not
   * @param locationType External custom type identifier
   * @param latitude The latitude to center the search on
   * @param longitude The longitude to center the search on
   */
  def createRetailerLocationConsumer(appKey: String, name: String, deviceId: Option[String] = None, accountId: Option[Long] = None, streetAddress: Option[String] = None, streetAddress2: Option[String] = None, city: Option[String] = None, state: Option[String] = None, postalCode: Option[String] = None, country: Option[String] = None, businessPhone: Option[String] = None, businessPhoneExt: Option[String] = None, website: Option[String] = None, email: Option[String] = None, detailsHeader: Option[String] = None, detailsBody: Option[String] = None, hours: Option[String] = None, tags: Option[String] = None, logoAssetId: Option[Long] = None, picture1AssetId: Option[Long] = None, picture2AssetId: Option[Long] = None, categoryIds: Option[String] = None, filterIds: Option[String] = None, metaData: Option[String] = None, publicLocation: Option[Boolean] = None, active: Option[Boolean] = None, locationType: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[RetailerLocationResponse] =
    ApiRequest[RetailerLocationResponse](ApiMethods.POST, baseUrl, "/location/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("name", name)
      .withQueryParam("streetAddress", streetAddress)
      .withQueryParam("streetAddress2", streetAddress2)
      .withQueryParam("city", city)
      .withQueryParam("state", state)
      .withQueryParam("postalCode", postalCode)
      .withQueryParam("country", country)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("businessPhoneExt", businessPhoneExt)
      .withQueryParam("website", website)
      .withQueryParam("email", email)
      .withQueryParam("detailsHeader", detailsHeader)
      .withQueryParam("detailsBody", detailsBody)
      .withQueryParam("hours", hours)
      .withQueryParam("tags", tags)
      .withQueryParam("logoAssetId", logoAssetId)
      .withQueryParam("picture1AssetId", picture1AssetId)
      .withQueryParam("picture2AssetId", picture2AssetId)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("metaData", metaData)
      .withQueryParam("publicLocation", publicLocation)
      .withQueryParam("active", active)
      .withQueryParam("locationType", locationType)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[RetailerLocationResponse](200)
      

  /**
   * Creates a location record for a retailer. Only the owner and the employees of the retailer have access to do this.
   * 
   * Expected answers:
   *   code 200 : RetailerLocationResponse (successful operation)
   * 
   * @param retailerId The ID of the retailer
   * @param name The name of the retailer location
   * @param streetAddress The street address of the retailer location
   * @param city The city of the retailer location
   * @param state The state of the retailer location
   * @param postalCode The postal code of the retailer location
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param country the country of the retailer location
   * @param businessPhone The business phone number of the retailer location
   * @param businessPhoneExt The business phone extension
   * @param website The website of the retailer location
   * @param email The email of the retailer location
   * @param internalId An internal identifier used by the retailer
   * @param detailsHeader A brief description about the retailer location (255 character limit)
   * @param detailsBody A detailed description about the retailer location
   * @param hours The hours of operation
   * @param logo The retailer location logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)
   * @param logoAssetId The retailer location logo asset id
   * @param picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)
   * @param picture1AssetId An asset id
   * @param picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)
   * @param picture2AssetId An asset id
   * @param categoryIds Comma separated list of category IDs used to filter retailer locations by categories
   * @param filterIds Comma separated list of filter IDs used to filter retailer locations
   * @param latitude the latitude of the retailer location
   * @param longitude the longitude of the retailer location
   * @param building 
   * @param googlePlaceId the ID of the Google Place that this retailer location is assigned to
   * @param yelpId the Yelp ID that this retailer location is assigned to
   * @param active whether the retailer location should be active or inactive
   * @param publicLocation Sets whether the location is public or not
   * @param locationType External custom type identifier
   * @param audienceIds Comma separated list of audience IDs used to assign audiences to the retailer location
   * @param audienceIdsToAdd Comma separated list of audience IDs to add to the retailer location
   * @param audienceIdsToRemove Comma separated list of audience IDs to remove from the retailer location
   * @param responseFormat The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
   * @param responseIncludes Comma separated list of response includes (e.g. RETAILER,ASSETS,OFFERS,CATEGORIES,FILTERS,AUDIENCES,QRCODE)
   */
  def createRetailerLocations(retailerId: Long, name: String, streetAddress: String, city: String, state: String, postalCode: String, deviceId: Option[String] = None, accountId: Option[Long] = None, streetAddress2: Option[String] = None, country: Option[String] = None, businessPhone: Option[String] = None, businessPhoneExt: Option[String] = None, website: Option[String] = None, email: Option[String] = None, internalId: Option[String] = None, detailsHeader: Option[String] = None, detailsBody: Option[String] = None, hours: Option[String] = None, logo: Option[File] = None, logoAssetId: Option[Long] = None, picture1: Option[File] = None, picture1AssetId: Option[Long] = None, picture2: Option[File] = None, picture2AssetId: Option[Long] = None, categoryIds: Option[String] = None, filterIds: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, building: Option[String] = None, googlePlaceId: Option[String] = None, yelpId: Option[String] = None, active: Option[Boolean] = None, publicLocation: Option[Boolean] = None, locationType: Option[String] = None, audienceIds: Option[String] = None, audienceIdsToAdd: Option[String] = None, audienceIdsToRemove: Option[String] = None, responseFormat: Option[String] = None, responseIncludes: Option[String] = None): ApiRequest[RetailerLocationResponse] =
    ApiRequest[RetailerLocationResponse](ApiMethods.POST, baseUrl, "/retailer/location/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("name", name)
      .withQueryParam("streetAddress", streetAddress)
      .withQueryParam("streetAddress2", streetAddress2)
      .withQueryParam("city", city)
      .withQueryParam("state", state)
      .withQueryParam("postalCode", postalCode)
      .withQueryParam("country", country)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("businessPhoneExt", businessPhoneExt)
      .withQueryParam("website", website)
      .withQueryParam("email", email)
      .withQueryParam("internalId", internalId)
      .withQueryParam("detailsHeader", detailsHeader)
      .withQueryParam("detailsBody", detailsBody)
      .withQueryParam("hours", hours)
      .withQueryParam("logo", logo)
      .withQueryParam("logoAssetId", logoAssetId)
      .withQueryParam("picture1", picture1)
      .withQueryParam("picture1AssetId", picture1AssetId)
      .withQueryParam("picture2", picture2)
      .withQueryParam("picture2AssetId", picture2AssetId)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("building", building)
      .withQueryParam("googlePlaceId", googlePlaceId)
      .withQueryParam("yelpId", yelpId)
      .withQueryParam("active", active)
      .withQueryParam("publicLocation", publicLocation)
      .withQueryParam("locationType", locationType)
      .withQueryParam("audienceIds", audienceIds)
      .withQueryParam("audienceIdsToAdd", audienceIdsToAdd)
      .withQueryParam("audienceIdsToRemove", audienceIdsToRemove)
      .withQueryParam("responseFormat", responseFormat)
      .withQueryParam("responseIncludes", responseIncludes)
      .withSuccessResponse[RetailerLocationResponse](200)
      

  /**
   * Set the deleted timestamp to current time. This effectively deletes the retailer location since all queries should ignore any records with a deleted time stamp.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param deviceId the device id
   * @param accountId the id of the logged in user
   * @param retailerLocationId the id of the retailer location to delete
   */
  def deleteRetailerLocation(deviceId: Option[String] = None, accountId: Option[Long] = None, retailerLocationId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/retailer/location/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Gets a retailer location. Only the owner and the employees of the retailer have access to view its information.
   * 
   * Expected answers:
   *   code 200 : RetailerLocationResponse (successful operation)
   * 
   * @param retailerLocationId The ID of the retailer location
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param retailerLocationToken the unique token of the retailer location
   */
  def getRetailerLocation(retailerLocationId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, retailerLocationToken: Option[String] = None): ApiRequest[RetailerLocationResponse] =
    ApiRequest[RetailerLocationResponse](ApiMethods.GET, baseUrl, "/retailer/location/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("retailerLocationToken", retailerLocationToken)
      .withSuccessResponse[RetailerLocationResponse](200)
      

  /**
   * Gets the details of a retailer location as a consumer.
   * 
   * Expected answers:
   *   code 200 : RetailerLocationResponse (successful operation)
   * 
   * @param retailerLocationId The retailer location id
   * @param deviceId The device id for returning account information (i.e. favorites)
   * @param accountId The account id for returning account information (i.e. favorites)
   */
  def getRetailerLocationConsumer(retailerLocationId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[RetailerLocationResponse] =
    ApiRequest[RetailerLocationResponse](ApiMethods.GET, baseUrl, "/location/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withSuccessResponse[RetailerLocationResponse](200)
      

  /**
   * Retailer location indexed search by distance. This searches on any retailer location with location data and returns the results sorted by distance.
   * 
   * Expected answers:
   *   code 200 : Seq[RetailerLocationResponse] (successful operation)
   * 
   * @param latitude The latitude to center the search on
   * @param longitude The longitude to center the search on
   * @param searchRange The search range in the distanceUnit specified; default is MILES.
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param accountId The account id of the user
   * @param address Used to return results using this address as the center
   * @param hasOffers boolean to indicate whether to include retailer locations that have no offers
   * @param categories Comma separate list of category ids
   * @param filters Comma separated list of filter ids
   * @param audiences Comma separated list of audience ids
   * @param retailerIds Comma separated list of retailer ids
   * @param retailerLocationIds Comma separated list of retailer location ids
   * @param tags Does a full-text search on tags
   * @param locationType Location type filter
   * @param sortField The field to sort the result set on. Possible values include: DISTANCE, RETAILER_NAME, RETAILER_LOCATION_NAME
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param `q` This parameter is deprecated.
   * @param keyword Search by keyword
   * @param keywordOperator Determines the operator used when there are multiple words in the 'keyword' parameter
   * @param searchExpression Search expression to further refine results
   * @param distanceUnit Unit of distance
   * @param returnFavorited (deprecated) return favorited flag
   * @param returnRetailer Return retailer info
   * @param returnAssets Return assets
   * @param returnOffers Return offers
   * @param returnCategories Return categories
   * @param returnFilters Return filters
   * @param returnAudiences Return audiences
   * @param returnQrCode Return QR code info
   * @param returnExternalCategoryData Return external category data
   * @param includeFavorite Include favorites in response
   * @param includeLiked Include liked flag in response
   * @param includeRating Include rating info in response
   */
  def indexedRetailerLocationDistanceSearch(latitude: Double, longitude: Double, searchRange: Double, start: Int, limit: Int, accountId: Option[Long] = None, address: Option[String] = None, hasOffers: Option[Boolean] = None, categories: Option[String] = None, filters: Option[String] = None, audiences: Option[String] = None, retailerIds: Option[String] = None, retailerLocationIds: Option[String] = None, tags: Option[String] = None, locationType: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, `q`: Option[String] = None, keyword: Option[String] = None, keywordOperator: Option[String] = None, searchExpression: Option[String] = None, distanceUnit: Option[String] = None, returnFavorited: Option[Boolean] = None, returnRetailer: Option[Boolean] = None, returnAssets: Option[Boolean] = None, returnOffers: Option[Boolean] = None, returnCategories: Option[Boolean] = None, returnFilters: Option[Boolean] = None, returnAudiences: Option[Boolean] = None, returnQrCode: Option[Boolean] = None, returnExternalCategoryData: Option[Boolean] = None, includeFavorite: Option[Boolean] = None, includeLiked: Option[Boolean] = None, includeRating: Option[Boolean] = None): ApiRequest[Seq[RetailerLocationResponse]] =
    ApiRequest[Seq[RetailerLocationResponse]](ApiMethods.GET, baseUrl, "/retailer/location/idistancesearch", "application/json")
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("accountId", accountId)
      .withQueryParam("address", address)
      .withQueryParam("searchRange", searchRange)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("hasOffers", hasOffers)
      .withQueryParam("categories", categories)
      .withQueryParam("filters", filters)
      .withQueryParam("audiences", audiences)
      .withQueryParam("retailerIds", retailerIds)
      .withQueryParam("retailerLocationIds", retailerLocationIds)
      .withQueryParam("tags", tags)
      .withQueryParam("locationType", locationType)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("keywordOperator", keywordOperator)
      .withQueryParam("searchExpression", searchExpression)
      .withQueryParam("distanceUnit", distanceUnit)
      .withQueryParam("returnFavorited", returnFavorited)
      .withQueryParam("returnRetailer", returnRetailer)
      .withQueryParam("returnAssets", returnAssets)
      .withQueryParam("returnOffers", returnOffers)
      .withQueryParam("returnCategories", returnCategories)
      .withQueryParam("returnFilters", returnFilters)
      .withQueryParam("returnAudiences", returnAudiences)
      .withQueryParam("returnQrCode", returnQrCode)
      .withQueryParam("returnExternalCategoryData", returnExternalCategoryData)
      .withQueryParam("includeFavorite", includeFavorite)
      .withQueryParam("includeLiked", includeLiked)
      .withQueryParam("includeRating", includeRating)
      .withSuccessResponse[Seq[RetailerLocationResponse]](200)
      

  /**
   * Retailer location (faster) indexed search. This searches all retailer locations.
   * 
   * Expected answers:
   *   code 200 : Seq[RetailerLocationResponse] (successful operation)
   * 
   * @param accountId The account id of the user
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param hasOffers boolean to indicate whether to include retailer locations that have no offers
   * @param categories Comma separate list of category ids
   * @param filters Comma separated list of filter ids
   * @param audiences Comma separated list of audience ids
   * @param retailerIds Comma separated list of retailer ids
   * @param retailerLocationIds Comma separated list of retailer location ids
   * @param tags Does a full-text search on tags
   * @param locationType Location type filter
   * @param sortField The field to sort the result set on. Possible values include: RETAILER_NAME, RETAILER_LOCATION_NAME
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param `q` This parameter is deprecated.
   * @param keyword Search by keyword
   * @param keywordOperator Determines the operator used when there are multiple words in the 'keyword' parameter
   * @param searchExpression Search expression to further refine results
   * @param returnRetailer Return retailer info
   * @param returnAssets Return assets
   * @param returnOffers Return offers
   * @param returnCategories Return categories
   * @param returnFilters Return filters
   * @param returnAudiences Return audiences
   * @param returnQrCode Return QR code info
   * @param returnExternalCategoryData Return external category data
   * @param includeFavorite Include favorites in response
   * @param includeLiked Include liked flag in response
   * @param includeRating Include rating info in response
   */
  def indexedRetailerLocationSearch(accountId: Option[Long] = None, start: Option[Int] = None, limit: Option[Int] = None, hasOffers: Option[Boolean] = None, categories: Option[String] = None, filters: Option[String] = None, audiences: Option[String] = None, retailerIds: Option[String] = None, retailerLocationIds: Option[String] = None, tags: Option[String] = None, locationType: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, `q`: Option[String] = None, keyword: Option[String] = None, keywordOperator: Option[String] = None, searchExpression: Option[String] = None, returnRetailer: Option[Boolean] = None, returnAssets: Option[Boolean] = None, returnOffers: Option[Boolean] = None, returnCategories: Option[Boolean] = None, returnFilters: Option[Boolean] = None, returnAudiences: Option[Boolean] = None, returnQrCode: Option[Boolean] = None, returnExternalCategoryData: Option[Boolean] = None, includeFavorite: Option[Boolean] = None, includeLiked: Option[Boolean] = None, includeRating: Option[Boolean] = None): ApiRequest[Seq[RetailerLocationResponse]] =
    ApiRequest[Seq[RetailerLocationResponse]](ApiMethods.GET, baseUrl, "/retailer/location/isearch", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("hasOffers", hasOffers)
      .withQueryParam("categories", categories)
      .withQueryParam("filters", filters)
      .withQueryParam("audiences", audiences)
      .withQueryParam("retailerIds", retailerIds)
      .withQueryParam("retailerLocationIds", retailerLocationIds)
      .withQueryParam("tags", tags)
      .withQueryParam("locationType", locationType)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("keywordOperator", keywordOperator)
      .withQueryParam("searchExpression", searchExpression)
      .withQueryParam("returnRetailer", returnRetailer)
      .withQueryParam("returnAssets", returnAssets)
      .withQueryParam("returnOffers", returnOffers)
      .withQueryParam("returnCategories", returnCategories)
      .withQueryParam("returnFilters", returnFilters)
      .withQueryParam("returnAudiences", returnAudiences)
      .withQueryParam("returnQrCode", returnQrCode)
      .withQueryParam("returnExternalCategoryData", returnExternalCategoryData)
      .withQueryParam("includeFavorite", includeFavorite)
      .withQueryParam("includeLiked", includeLiked)
      .withQueryParam("includeRating", includeRating)
      .withSuccessResponse[Seq[RetailerLocationResponse]](200)
      

  /**
   * Searches on retailer locations that the account has access to.
   * 
   * Expected answers:
   *   code 200 : Seq[RetailerLocationResponse] (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param `q` This parameter is deprecated.
   * @param keyword The keyword used to search
   * @param retailerIds Comma separated list of retailer IDs which when passed in will filter the results to only return these retailers.
   * @param retailerLocationIds Comma separated list of retailer location IDs
   * @param locationType Location type filter
   * @param sortField The column to sort the search on
   * @param descending The order to return the search results
   * @param `i` This parameter is deprecated.
   * @param start The record to begin the return set on
   * @param `l` This parameter is deprecated.
   * @param limit The number of records to return
   * @param showPublicLocations Whether to include public locations in the results
   * @param activeOnly Return only active results
   * @param returnRetailer Return retailer info
   * @param returnAssets Return assets
   * @param returnOffers Return offers
   * @param returnCategories Return categories
   * @param returnFilters Return filters
   * @param returnAudiences Return audiences
   * @param returnQrCode Return QR code info
   * @param includeFavorite Include favorites in response
   * @param includeLiked Include liked flag in response
   * @param includeRating Include rating info in response
   */
  def searchRetailerLocations(deviceId: Option[String] = None, accountId: Option[Long] = None, `q`: Option[String] = None, keyword: Option[String] = None, retailerIds: Option[String] = None, retailerLocationIds: Option[String] = None, locationType: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, `i`: Option[Int] = None, start: Option[Int] = None, `l`: Option[Int] = None, limit: Option[Int] = None, showPublicLocations: Option[Boolean] = None, activeOnly: Option[Boolean] = None, returnRetailer: Option[Boolean] = None, returnAssets: Option[Boolean] = None, returnOffers: Option[Boolean] = None, returnCategories: Option[Boolean] = None, returnFilters: Option[Boolean] = None, returnAudiences: Option[Boolean] = None, returnQrCode: Option[Boolean] = None, includeFavorite: Option[Boolean] = None, includeLiked: Option[Boolean] = None, includeRating: Option[Boolean] = None): ApiRequest[Seq[RetailerLocationResponse]] =
    ApiRequest[Seq[RetailerLocationResponse]](ApiMethods.GET, baseUrl, "/retailer/location/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("q", `q`)
      .withQueryParam("keyword", keyword)
      .withQueryParam("retailerIds", retailerIds)
      .withQueryParam("retailerLocationIds", retailerLocationIds)
      .withQueryParam("locationType", locationType)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("_i", `i`)
      .withQueryParam("start", start)
      .withQueryParam("_l", `l`)
      .withQueryParam("limit", limit)
      .withQueryParam("showPublicLocations", showPublicLocations)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("returnRetailer", returnRetailer)
      .withQueryParam("returnAssets", returnAssets)
      .withQueryParam("returnOffers", returnOffers)
      .withQueryParam("returnCategories", returnCategories)
      .withQueryParam("returnFilters", returnFilters)
      .withQueryParam("returnAudiences", returnAudiences)
      .withQueryParam("returnQrCode", returnQrCode)
      .withQueryParam("includeFavorite", includeFavorite)
      .withQueryParam("includeLiked", includeLiked)
      .withQueryParam("includeRating", includeRating)
      .withSuccessResponse[Seq[RetailerLocationResponse]](200)
      

  /**
   * Updates a location record for a retailer. Only the owner and the employees of the retailer have access to do this.
   * 
   * Expected answers:
   *   code 200 : RetailerLocationResponse (successful operation)
   * 
   * @param retailerLocationId The ID of the retailer location
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param name The name of the retailer location
   * @param streetAddress The street address of the retailer location
   * @param streetAddress2 Additional address information (such as a suite number, floor number, building name, or PO Box)
   * @param city The city of the retailer location
   * @param state The state of the retailer location
   * @param postalCode The postal code of the retailer location
   * @param country the country of the retailer location
   * @param businessPhone The business phone number of the retailer location
   * @param businessPhoneExt The business phone extension of the retailer location
   * @param website The website of the retailer location
   * @param email The email of the retailer location
   * @param internalId An internal identifier used by the retailer
   * @param detailsHeader A brief description about the retailer location (255 character limit)
   * @param detailsBody A detailed description about the retailer location
   * @param hours The hours of operation
   * @param logo The retailer location logo sent as a multipart binary file (you can optionally use logoAssetId if the asset has already been uploaded before)
   * @param logoAssetId The retailer location logo asset id
   * @param picture1 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture1AssetId if the asset has already been uploaded before)
   * @param picture1AssetId An asset id
   * @param picture2 Optional store-front pictures or product pictures or etc. A multipart binary file (you can optionally use picture2AssetId if the asset has already been uploaded before)
   * @param picture2AssetId An asset id
   * @param categoryIds Comma separated list of category IDs used to filter retailer locations by categories
   * @param filterIds Comma separated list of filter IDs used to filter retailer locations
   * @param latitude the latituede of the retailer location
   * @param longitude the longitude of the retailer location
   * @param building 
   * @param googlePlaceId the Google Place ID that the retailer location is associated with
   * @param yelpId the Yelp ID that the retailer location is associated with
   * @param metaData External custom client defined data
   * @param paymentProvider Specifies which payment provider Sirqul will use when making payments
   * @param active Sets whether the retailer is active or inactive (hidden from consumers)
   * @param publicLocation Sets whether the location is public or not
   * @param locationType External custom type identifier
   * @param audienceIds Comma separated list of audience IDs used to assign audiences to the retailer location
   * @param audienceIdsToAdd Comma separated list of audience IDs to add to the retailer location
   * @param audienceIdsToRemove Comma separated list of audience IDs to remove from the retailer location
   * @param responseFormat The format of the returned response {JSON // default , HTML // for Dojo support when uploading assets}
   * @param tags Custom string field for doing full-text searches
   */
  def updateRetailerLocations(retailerLocationId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, name: Option[String] = None, streetAddress: Option[String] = None, streetAddress2: Option[String] = None, city: Option[String] = None, state: Option[String] = None, postalCode: Option[String] = None, country: Option[String] = None, businessPhone: Option[String] = None, businessPhoneExt: Option[String] = None, website: Option[String] = None, email: Option[String] = None, internalId: Option[String] = None, detailsHeader: Option[String] = None, detailsBody: Option[String] = None, hours: Option[String] = None, logo: Option[File] = None, logoAssetId: Option[Long] = None, picture1: Option[File] = None, picture1AssetId: Option[Long] = None, picture2: Option[File] = None, picture2AssetId: Option[Long] = None, categoryIds: Option[String] = None, filterIds: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, building: Option[String] = None, googlePlaceId: Option[String] = None, yelpId: Option[String] = None, metaData: Option[String] = None, paymentProvider: Option[String] = None, active: Option[Boolean] = None, publicLocation: Option[Boolean] = None, locationType: Option[String] = None, audienceIds: Option[String] = None, audienceIdsToAdd: Option[String] = None, audienceIdsToRemove: Option[String] = None, responseFormat: Option[String] = None, tags: Option[String] = None): ApiRequest[RetailerLocationResponse] =
    ApiRequest[RetailerLocationResponse](ApiMethods.POST, baseUrl, "/retailer/location/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("name", name)
      .withQueryParam("streetAddress", streetAddress)
      .withQueryParam("streetAddress2", streetAddress2)
      .withQueryParam("city", city)
      .withQueryParam("state", state)
      .withQueryParam("postalCode", postalCode)
      .withQueryParam("country", country)
      .withQueryParam("businessPhone", businessPhone)
      .withQueryParam("businessPhoneExt", businessPhoneExt)
      .withQueryParam("website", website)
      .withQueryParam("email", email)
      .withQueryParam("internalId", internalId)
      .withQueryParam("detailsHeader", detailsHeader)
      .withQueryParam("detailsBody", detailsBody)
      .withQueryParam("hours", hours)
      .withQueryParam("logo", logo)
      .withQueryParam("logoAssetId", logoAssetId)
      .withQueryParam("picture1", picture1)
      .withQueryParam("picture1AssetId", picture1AssetId)
      .withQueryParam("picture2", picture2)
      .withQueryParam("picture2AssetId", picture2AssetId)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("building", building)
      .withQueryParam("googlePlaceId", googlePlaceId)
      .withQueryParam("yelpId", yelpId)
      .withQueryParam("metaData", metaData)
      .withQueryParam("paymentProvider", paymentProvider)
      .withQueryParam("active", active)
      .withQueryParam("publicLocation", publicLocation)
      .withQueryParam("locationType", locationType)
      .withQueryParam("audienceIds", audienceIds)
      .withQueryParam("audienceIdsToAdd", audienceIdsToAdd)
      .withQueryParam("audienceIdsToRemove", audienceIdsToRemove)
      .withQueryParam("responseFormat", responseFormat)
      .withQueryParam("tags", tags)
      .withSuccessResponse[RetailerLocationResponse](200)
      



}

