/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.RoutingListResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object RoutingApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new RoutingApi(baseUrl)
}

class RoutingApi(baseUrl: String) {

  /**
   * This service finds the most optimal routes for delivering items between locations (reducing transit time/resources). It can take in a list of vehicles and a list of items (to be transported).All load items have pick-up and drop-off locations with time windows for when the item is expected to be picked-up and dropped-off. 
   * 
   * Expected answers:
   *   code 200 : RoutingListResponse (successful operation)
   * 
   * @param data Json object containing inputs for generating the routes. See description for more info. Also see RoutingRequest
   */
  def computeRouting(data: String): ApiRequest[RoutingListResponse] =
    ApiRequest[RoutingListResponse](ApiMethods.POST, baseUrl, "/routing/compute", "application/json")
      .withQueryParam("data", data)
      .withSuccessResponse[RoutingListResponse](200)
      



}

