/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.RouteSettings
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object RouteSettingApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new RouteSettingApi(baseUrl)
}

class RouteSettingApi(baseUrl: String) {

  /**
   * Create a new route setting
   * 
   * Expected answers:
   *   code 200 : RouteSettings (successful operation)
   * 
   * @param body 
   */
  def createRouteSettings(body: Option[RouteSettings] = None): ApiRequest[RouteSettings] =
    ApiRequest[RouteSettings](ApiMethods.POST, baseUrl, "/route/setting", "application/json")
      .withBody(body)
      .withSuccessResponse[RouteSettings](200)
      

  /**
   * Delete an existing route setting
   * 
   * Expected answers:
   *   code 200 : Any (successful operation)
   * 
   * @param routeSettingsId the id of the route setting to delete
   */
  def deleteRouteSettings(routeSettingsId: Long): ApiRequest[Any] =
    ApiRequest[Any](ApiMethods.DELETE, baseUrl, "/route/setting/{routeSettingsId}", "application/json")
      .withPathParam("routeSettingsId", routeSettingsId)
      .withSuccessResponse[Any](200)
      

  /**
   * Get an existing route settings
   * 
   * Expected answers:
   *   code 200 : RouteSettings (successful operation)
   * 
   * @param routeSettingsId the id of the route settings to get
   */
  def getRouteSettings(routeSettingsId: Long): ApiRequest[RouteSettings] =
    ApiRequest[RouteSettings](ApiMethods.GET, baseUrl, "/route/setting/{routeSettingsId}", "application/json")
      .withPathParam("routeSettingsId", routeSettingsId)
      .withSuccessResponse[RouteSettings](200)
      

  /**
   * Search for route settings
   * 
   * Expected answers:
   *   code 200 : Seq[RouteSettings] (successful operation)
   * 
   * @param sortField The field to sort by
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param activeOnly Return only active results
   * @param hubId The service hub that the route belongs under
   * @param programId The program that the route belongs under
   * @param keyword The keyword to search for the route
   */
  def searchRouteSettings(sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, hubId: Option[Long] = None, programId: Option[Long] = None, keyword: Option[String] = None): ApiRequest[Seq[RouteSettings]] =
    ApiRequest[Seq[RouteSettings]](ApiMethods.GET, baseUrl, "/route/setting", "application/json")
      .withQueryParam("hubId", hubId)
      .withQueryParam("programId", programId)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[RouteSettings]](200)
      

  /**
   * Update an existing route setting
   * 
   * Expected answers:
   *   code 200 : RouteSettings (successful operation)
   * 
   * @param routeSettingsId the id of the route settings to update
   * @param body 
   */
  def updateRouteSettings(routeSettingsId: Long, body: Option[RouteSettings] = None): ApiRequest[RouteSettings] =
    ApiRequest[RouteSettings](ApiMethods.PUT, baseUrl, "/route/setting/{routeSettingsId}", "application/json")
      .withBody(body)
      .withPathParam("routeSettingsId", routeSettingsId)
      .withSuccessResponse[RouteSettings](200)
      



}

