/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Direction
import org.openapitools.client.model.Route
import org.openapitools.client.model.Shipment
import org.openapitools.client.model.Stop
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object RouteApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new RouteApi(baseUrl)
}

class RouteApi(baseUrl: String) {

  /**
   * Approve a route
   * 
   * Expected answers:
   *   code 200 : Route (successful operation)
   * 
   * @param routeId the id of the route to approve
   */
  def approveRoute(routeId: Long): ApiRequest[Route] =
    ApiRequest[Route](ApiMethods.POST, baseUrl, "/route/{routeId}/approve", "application/json")
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Route](200)
      

  /**
   * Make an copy of the given route with optional overriding properties
   * 
   * Expected answers:
   *   code 200 : Route (successful operation)
   * 
   * @param routeId the id of the route to duplicate
   * @param body 
   */
  def copyRoute(routeId: Long, body: Option[Route] = None): ApiRequest[Route] =
    ApiRequest[Route](ApiMethods.POST, baseUrl, "/route/{routeId}/copy", "application/json")
      .withBody(body)
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Route](200)
      

  /**
   * Create new route
   * 
   * Expected answers:
   *   code 200 : Route (successful operation)
   * 
   * @param body 
   */
  def createRoute(body: Option[Route] = None): ApiRequest[Route] =
    ApiRequest[Route](ApiMethods.POST, baseUrl, "/route", "application/json")
      .withBody(body)
      .withSuccessResponse[Route](200)
      

  /**
   * Regenerate the directions of a route
   * 
   * Expected answers:
   *   code 200 : Seq[Direction] (successful operation)
   * 
   * @param routeId the id of the route to update directions for
   */
  def createRouteDirections(routeId: Long): ApiRequest[Seq[Direction]] =
    ApiRequest[Seq[Direction]](ApiMethods.PUT, baseUrl, "/route/{routeId}/directions", "application/json")
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Seq[Direction]](200)
      

  /**
   * Update the polyline of the requested route
   * 
   * Expected answers:
   *   code 200 : Route (successful operation)
   * 
   * @param routeId the id of the route to create a polyline for
   */
  def createRoutePolyline(routeId: Long): ApiRequest[Route] =
    ApiRequest[Route](ApiMethods.PUT, baseUrl, "/route/{routeId}/polyline", "application/json")
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Route](200)
      

  /**
   * Delete an existing route
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param routeId the id of the route
   */
  def deleteRoute(routeId: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/route/{routeId}", "application/json")
      .withPathParam("routeId", routeId)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Disapprove a route
   * 
   * Expected answers:
   *   code 200 : Route (successful operation)
   * 
   * @param routeId the id of the route to reject
   */
  def disapproveRoute(routeId: Long): ApiRequest[Route] =
    ApiRequest[Route](ApiMethods.POST, baseUrl, "/route/{routeId}/disapprove", "application/json")
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Route](200)
      

  /**
   * Get an existing route
   * 
   * Expected answers:
   *   code 200 : Route (successful operation)
   * 
   * @param routeId the id of the route to get
   * @param showInheritedProperties return inherited properties from parent or not
   */
  def getRoute(routeId: Long, showInheritedProperties: Boolean): ApiRequest[Route] =
    ApiRequest[Route](ApiMethods.GET, baseUrl, "/route/{routeId}", "application/json")
      .withQueryParam("showInheritedProperties", showInheritedProperties)
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Route](200)
      

  /**
   * Get the directions of a route
   * 
   * Expected answers:
   *   code 200 : Seq[Direction] (successful operation)
   * 
   * @param routeId the id of the route to get directions for
   */
  def getRouteDirections(routeId: Long): ApiRequest[Seq[Direction]] =
    ApiRequest[Seq[Direction]](ApiMethods.GET, baseUrl, "/route/{routeId}/directions", "application/json")
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Seq[Direction]](200)
      

  /**
   * Get the shipments on the requested route
   * 
   * Expected answers:
   *   code 200 : Seq[Shipment] (successful operation)
   * 
   * @param routeId the id of the route to get shipments for
   */
  def getRouteShipments(routeId: Long): ApiRequest[Seq[Shipment]] =
    ApiRequest[Seq[Shipment]](ApiMethods.GET, baseUrl, "/route/{routeId}/shipments", "application/json")
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Seq[Shipment]](200)
      

  /**
   * Get the specific stop on a route
   * 
   * Expected answers:
   *   code 200 : Stop (successful operation)
   * 
   * @param routeId the id of the route to get stops for
   * @param stopId the id of the specific stop on the route
   */
  def getRouteStop(routeId: Long, stopId: Long): ApiRequest[Stop] =
    ApiRequest[Stop](ApiMethods.GET, baseUrl, "/route/{routeId}/stop/{stopId}", "application/json")
      .withPathParam("routeId", routeId)
      .withPathParam("stopId", stopId)
      .withSuccessResponse[Stop](200)
      

  /**
   * The stops of the route requested
   * 
   * Expected answers:
   *   code 200 : Seq[Stop] (successful operation)
   * 
   * @param routeId the id of the route
   * @param confirmedOnly only get stops that have been confirmed or not
   */
  def getRouteStops(routeId: Long, confirmedOnly: Boolean): ApiRequest[Seq[Stop]] =
    ApiRequest[Seq[Stop]](ApiMethods.GET, baseUrl, "/route/{routeId}/stops", "application/json")
      .withQueryParam("confirmedOnly", confirmedOnly)
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Seq[Stop]](200)
      

  /**
   * Get the list of shipments on the requested route at a stop
   * 
   * Expected answers:
   *   code 200 : Seq[Shipment] (successful operation)
   * 
   * @param routeId the id of the route
   * @param stopId the id of the stop to get shipments on
   */
  def getShipmentsAtStop(routeId: Long, stopId: Long): ApiRequest[Seq[Shipment]] =
    ApiRequest[Seq[Shipment]](ApiMethods.GET, baseUrl, "/route/{routeId}/stop/{stopId}/shipments", "application/json")
      .withPathParam("routeId", routeId)
      .withPathParam("stopId", stopId)
      .withSuccessResponse[Seq[Shipment]](200)
      

  /**
   * Optimize a route. The optimization method based on how the server is configured.
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param routeId the id of the route to optimize
   */
  def optimizeRoute(routeId: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/route/{routeId}/optimize", "application/json")
      .withPathParam("routeId", routeId)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Delete a stop on a route
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param routeId the id of the route
   * @param stopId the id of the specific stop to delete on the route
   */
  def removeStop(routeId: Long, stopId: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/route/{routeId}/stop/{stopId}", "application/json")
      .withPathParam("routeId", routeId)
      .withPathParam("stopId", stopId)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Reordering the stops on the route with and update route distance, time, direction, and polyline
   * 
   * Expected answers:
   *   code 200 : Seq[Stop] (successful operation)
   * 
   * @param routeId the id of the route
   * @param body 
   */
  def reorderRouteStopsPatch(routeId: Long, body: Seq[Stop]): ApiRequest[Seq[Stop]] =
    ApiRequest[Seq[Stop]](ApiMethods.PATCH, baseUrl, "/route/{routeId}/stops/reorder", "application/json")
      .withBody(body)
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Seq[Stop]](200)
      

  /**
   * Reordering the stops on the route with and update route distance, time, direction, and polyline
   * 
   * Expected answers:
   *   code 200 : Seq[Stop] (successful operation)
   * 
   * @param routeId the id of the route
   * @param body 
   */
  def reorderRouteStopsPost(routeId: Long, body: Seq[Stop]): ApiRequest[Seq[Stop]] =
    ApiRequest[Seq[Stop]](ApiMethods.POST, baseUrl, "/route/{routeId}/stops/reorder", "application/json")
      .withBody(body)
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Seq[Stop]](200)
      

  /**
   * Search for routes.
   * 
   * Expected answers:
   *   code 200 : Seq[Route] (successful operation)
   * 
   * @param sortField The field to sort by
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param activeOnly Return only active results
   * @param includesEmpty Include empty routes or not
   * @param rootOnly Only return root instance routes
   * @param showInheritedProperties Display root route properties
   * @param hubId Filter results by service hub
   * @param programId Filter results by program
   * @param scheduledStart The start date to filter the results by
   * @param scheduledEnd The end date to filter the results by
   * @param updatedStart The lower bound of updated date
   * @param updatedEnd The upper bound of updated date
   * @param featured The route is featured or not
   * @param seatCount Has at least this many seat available
   * @param approved Has been approved or not
   * @param started Has started or not
   * @param completed Has completed or not
   * @param valid Is valid or not
   * @param parentId If it is a recurring route based on the parent route
   */
  def searchRoutes(sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, includesEmpty: Boolean, rootOnly: Boolean, showInheritedProperties: Boolean, hubId: Option[Long] = None, programId: Option[Long] = None, scheduledStart: Option[Long] = None, scheduledEnd: Option[Long] = None, updatedStart: Option[Long] = None, updatedEnd: Option[Long] = None, featured: Option[Boolean] = None, seatCount: Option[Int] = None, approved: Option[Boolean] = None, started: Option[Boolean] = None, completed: Option[Boolean] = None, valid: Option[Boolean] = None, parentId: Option[Long] = None): ApiRequest[Seq[Route]] =
    ApiRequest[Seq[Route]](ApiMethods.GET, baseUrl, "/route", "application/json")
      .withQueryParam("hubId", hubId)
      .withQueryParam("programId", programId)
      .withQueryParam("scheduledStart", scheduledStart)
      .withQueryParam("scheduledEnd", scheduledEnd)
      .withQueryParam("updatedStart", updatedStart)
      .withQueryParam("updatedEnd", updatedEnd)
      .withQueryParam("featured", featured)
      .withQueryParam("seatCount", seatCount)
      .withQueryParam("approved", approved)
      .withQueryParam("started", started)
      .withQueryParam("completed", completed)
      .withQueryParam("valid", valid)
      .withQueryParam("parentId", parentId)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("includesEmpty", includesEmpty)
      .withQueryParam("rootOnly", rootOnly)
      .withQueryParam("showInheritedProperties", showInheritedProperties)
      .withSuccessResponse[Seq[Route]](200)
      

  /**
   * Update the driver of the route.
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param id the id of the route
   * @param driverId the id of the driver
   */
  def setDriver(id: Long, driverId: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/route/{id}/driver/{driverId}", "application/json")
      .withPathParam("id", id)
      .withPathParam("driverId", driverId)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Update an existing route
   * 
   * Expected answers:
   *   code 200 : Route (successful operation)
   * 
   * @param routeId the id of the route
   * @param body 
   */
  def updateRoute(routeId: Long, body: Option[Route] = None): ApiRequest[Route] =
    ApiRequest[Route](ApiMethods.PUT, baseUrl, "/route/{routeId}", "application/json")
      .withBody(body)
      .withPathParam("routeId", routeId)
      .withSuccessResponse[Route](200)
      

  /**
   * Update a stop on a specified route
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param routeId the id of the route to update stops for
   * @param stopId the id of the specific stop to update on the route
   * @param body 
   */
  def updateRouteStop(routeId: Long, stopId: Long, body: Option[Stop] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.PUT, baseUrl, "/route/{routeId}/stop/{stopId}", "application/json")
      .withBody(body)
      .withPathParam("routeId", routeId)
      .withPathParam("stopId", stopId)
      .withDefaultErrorResponse[Unit]
      



}

