/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ScoreResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ScoreApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ScoreApi(baseUrl)
}

class ScoreApi(baseUrl: String) {

  /**
   * Create a score.  The response object will contain a series of   coded messages detailing what items were completed, the score registered,   and any tickets allocated.  Scoring a  level could complete the pack it   is in, completing that pack could complete the game, which  in turn could   complete the mission.  This completion chain is indicated to the client   via  a list of {@link MessageResponse}.
   * 
   * Expected answers:
   *   code 200 : ScoreResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param appKey The game application key to save the score for.
   * @param points The score
   * @param missionId The missionId to score for, ignore if not playing mission.
   * @param gameId The gameId to score for, ignore if not playing mission.
   * @param packId The packId to score for, send -2 if playing community levels.
   * @param gameLevelId The gameLevelId to score for.
   * @param gameObjectId The gameObjectId to score for, ignore if level based scoring.
   * @param timeTaken The time taken to complete task
   * @param highest 
   */
  def createScore(accountId: Long, appKey: String, points: Int, missionId: Option[Long] = None, gameId: Option[Long] = None, packId: Option[Long] = None, gameLevelId: Option[Long] = None, gameObjectId: Option[Long] = None, timeTaken: Option[Int] = None, highest: Option[Boolean] = None): ApiRequest[ScoreResponse] =
    ApiRequest[ScoreResponse](ApiMethods.POST, baseUrl, "/score/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("missionId", missionId)
      .withQueryParam("gameId", gameId)
      .withQueryParam("packId", packId)
      .withQueryParam("gameLevelId", gameLevelId)
      .withQueryParam("gameObjectId", gameObjectId)
      .withQueryParam("points", points)
      .withQueryParam("timeTaken", timeTaken)
      .withQueryParam("highest", highest)
      .withSuccessResponse[ScoreResponse](200)
      

  /**
   * Get the high score for an item.  Pass in the full path IDs for the score.
   * 
   * Expected answers:
   *   code 200 : ScoreResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param appKey The game application key to get the level for.
   * @param missionId The missionId to score for, null if not playing mission.
   * @param gameId The gameId to score for, null if not playing mission.
   * @param packId The packId to score for, null if playing community levels.
   * @param gameLevelId The gameLevelId to score for.
   * @param gameObjectId The gameObjectId to score for, null if level based scoring.
   * @param scoreObjectType The object type to filter scores by (TicketObjectType)
   * @param scoreStatus The status of the score to filter (ScoreStatus)
   */
  def getScore(accountId: Long, appKey: String, missionId: Option[Long] = None, gameId: Option[Long] = None, packId: Option[Long] = None, gameLevelId: Option[Long] = None, gameObjectId: Option[Long] = None, scoreObjectType: Option[String] = None, scoreStatus: Option[String] = None): ApiRequest[ScoreResponse] =
    ApiRequest[ScoreResponse](ApiMethods.GET, baseUrl, "/score/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("missionId", missionId)
      .withQueryParam("gameId", gameId)
      .withQueryParam("packId", packId)
      .withQueryParam("gameLevelId", gameLevelId)
      .withQueryParam("gameObjectId", gameObjectId)
      .withQueryParam("scoreObjectType", scoreObjectType)
      .withQueryParam("scoreStatus", scoreStatus)
      .withSuccessResponse[ScoreResponse](200)
      

  /**
   * Search the scores for an item.  Pass in the full path IDs for the scores.
   * 
   * Expected answers:
   *   code 200 : Seq[ScoreResponse] (successful operation)
   * 
   * @param accountId The logged in user.
   * @param appKey The game application key to get the level for.
   * @param missionId The missionId to score for, null if not playing mission.
   * @param gameId The gameId to score for, null if not playing mission.
   * @param packId The packId to score for, null if playing community levels.
   * @param gameLevelId The gameLevelId to score for.
   * @param gameObjectId The gameObjectId to score for, null if level based scoring.
   */
  def searchScores(accountId: Long, appKey: String, missionId: Option[Long] = None, gameId: Option[Long] = None, packId: Option[Long] = None, gameLevelId: Option[Long] = None, gameObjectId: Option[Long] = None): ApiRequest[Seq[ScoreResponse]] =
    ApiRequest[Seq[ScoreResponse]](ApiMethods.GET, baseUrl, "/score/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("missionId", missionId)
      .withQueryParam("gameId", gameId)
      .withQueryParam("packId", packId)
      .withQueryParam("gameLevelId", gameLevelId)
      .withQueryParam("gameObjectId", gameObjectId)
      .withSuccessResponse[Seq[ScoreResponse]](200)
      



}

