/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Shipment
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ShipmentApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ShipmentApi(baseUrl)
}

class ShipmentApi(baseUrl: String) {

  /**
   * Remove shipment from route
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param id the id of the shipment to cancel
   */
  def cancelShipment(id: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/shipment/{id}/cancel", "application/json")
      .withPathParam("id", id)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Create new shipment
   * 
   * Expected answers:
   *   code 200 : Shipment (successful operation)
   * 
   * @param body 
   */
  def createShipment(body: Option[Shipment] = None): ApiRequest[Shipment] =
    ApiRequest[Shipment](ApiMethods.POST, baseUrl, "/shipment", "application/json")
      .withBody(body)
      .withSuccessResponse[Shipment](200)
      

  /**
   * Delete an existing shipment
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param id the id of the shipment to delete
   */
  def deleteShipment(id: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/shipment/{id}", "application/json")
      .withPathParam("id", id)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Get an existing shipment
   * 
   * Expected answers:
   *   code 200 : Shipment (successful operation)
   * 
   * @param id the id of the shipment to get
   */
  def getShipment(id: Long): ApiRequest[Shipment] =
    ApiRequest[Shipment](ApiMethods.GET, baseUrl, "/shipment/{id}", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[Shipment](200)
      

  /**
   * Search for shipments
   * 
   * Expected answers:
   *   code 200 : Seq[Shipment] (successful operation)
   * 
   * @param sortField The field to sort by
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param activeOnly Return only active results
   * @param ownerId The owner of the shipment
   * @param riderId The rider associate to this shipment
   * @param routeId The route associate to this shipment
   */
  def searchShipments(sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, ownerId: Option[Long] = None, riderId: Option[Long] = None, routeId: Option[Long] = None): ApiRequest[Seq[Shipment]] =
    ApiRequest[Seq[Shipment]](ApiMethods.GET, baseUrl, "/shipment", "application/json")
      .withQueryParam("ownerId", ownerId)
      .withQueryParam("riderId", riderId)
      .withQueryParam("routeId", routeId)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[Shipment]](200)
      

  /**
   * Update an existing shipment
   * 
   * Expected answers:
   *   code 200 : Shipment (successful operation)
   * 
   * @param id the id of the shipment to update
   * @param body 
   */
  def updateShipment(id: Long, body: Option[Shipment] = None): ApiRequest[Shipment] =
    ApiRequest[Shipment](ApiMethods.PUT, baseUrl, "/shipment/{id}", "application/json")
      .withBody(body)
      .withPathParam("id", id)
      .withSuccessResponse[Shipment](200)
      

  /**
   * Update status of an existing shipment
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param id the id of the shipment to update status
   * @param body 
   */
  def updateShipmentStatus(id: Long, body: Map[String, Boolean]): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/shipment/{id}/status", "application/json")
      .withBody(body)
      .withPathParam("id", id)
      .withDefaultErrorResponse[Unit]
      



}

