/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ShipmentBatch
import org.openapitools.client.model.ShipmentImportStatus
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object ShipmentBatchApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new ShipmentBatchApi(baseUrl)
}

class ShipmentBatchApi(baseUrl: String) {

  /**
   * Create a new shipment batch
   * 
   * Expected answers:
   *   code 200 : ShipmentBatch (successful operation)
   * 
   * @param body 
   */
  def createShipmentBatch(body: Option[ShipmentBatch] = None): ApiRequest[ShipmentBatch] =
    ApiRequest[ShipmentBatch](ApiMethods.POST, baseUrl, "/shipment/batch", "application/json")
      .withBody(body)
      .withSuccessResponse[ShipmentBatch](200)
      

  /**
   * Search for shipment batches
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param batchId the id of the shipment batch to delete
   */
  def deleteShipmentBatch(batchId: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/shipment/batch/{batchId}", "application/json")
      .withPathParam("batchId", batchId)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Get an existing shipment batch
   * 
   * Expected answers:
   *   code 200 : ShipmentBatch (successful operation)
   * 
   * @param batchId the id of the shipment batch to get
   */
  def getShipmentBatch(batchId: Long): ApiRequest[ShipmentBatch] =
    ApiRequest[ShipmentBatch](ApiMethods.GET, baseUrl, "/shipment/batch/{batchId}", "application/json")
      .withPathParam("batchId", batchId)
      .withSuccessResponse[ShipmentBatch](200)
      

  /**
   * Get the import status list of the import shipment batch
   * 
   * Expected answers:
   *   code 200 : Seq[ShipmentImportStatus] (successful operation)
   * 
   * @param batchId The id of the requested shipment batch
   * @param accountId the id of the logged in user
   * @param sortField The field to sort by
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param valid Valid import status only or not
   * @param started Started import status only
   * @param completed Completed import status only
   * @param hasShipment Has shipment associate to the status
   * @param hasRoute Has route associate to the status
   * @param keyword The keyword to search for
   */
  def getShipmentBatchStatus(batchId: Long, accountId: Long, sortField: String, descending: Boolean, start: Int, limit: Int, valid: Option[Boolean] = None, started: Option[Boolean] = None, completed: Option[Boolean] = None, hasShipment: Option[Boolean] = None, hasRoute: Option[Boolean] = None, keyword: Option[String] = None): ApiRequest[Seq[ShipmentImportStatus]] =
    ApiRequest[Seq[ShipmentImportStatus]](ApiMethods.GET, baseUrl, "/shipment/batch/{batchId}/status", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("valid", valid)
      .withQueryParam("started", started)
      .withQueryParam("completed", completed)
      .withQueryParam("hasShipment", hasShipment)
      .withQueryParam("hasRoute", hasRoute)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withPathParam("batchId", batchId)
      .withSuccessResponse[Seq[ShipmentImportStatus]](200)
      

  /**
   * Search for shipment batches
   * 
   * Expected answers:
   *   code 200 : Seq[ShipmentBatch] (successful operation)
   * 
   * @param hubId The associated service hub
   * @param sortField The field to sort by
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   */
  def searchShipmentBatch(hubId: Long, sortField: String, descending: Boolean, start: Int, limit: Int): ApiRequest[Seq[ShipmentBatch]] =
    ApiRequest[Seq[ShipmentBatch]](ApiMethods.GET, baseUrl, "/shipment/batch", "application/json")
      .withQueryParam("hubId", hubId)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[ShipmentBatch]](200)
      



}

