/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Stop
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object StopApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new StopApi(baseUrl)
}

class StopApi(baseUrl: String) {

  /**
   * Get an existing stop
   * 
   * Expected answers:
   *   code 200 : Stop (successful operation)
   * 
   * @param id the id of the stop to get
   */
  def getStop(id: Long): ApiRequest[Stop] =
    ApiRequest[Stop](ApiMethods.GET, baseUrl, "/stop/{id}", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[Stop](200)
      

  /**
   * Update an existing stop
   * 
   * Expected answers:
   *   code 200 : Stop (successful operation)
   * 
   * @param id the id of the stop to update
   * @param body 
   */
  def updateStop(id: Long, body: Option[Stop] = None): ApiRequest[Stop] =
    ApiRequest[Stop](ApiMethods.PUT, baseUrl, "/stop/{id}", "application/json")
      .withBody(body)
      .withPathParam("id", id)
      .withSuccessResponse[Stop](200)
      



}

