/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.model.TerritoryResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TerritoryApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new TerritoryApi(baseUrl)
}

class TerritoryApi(baseUrl: String) {

  /**
   * Creates a territory.
   * 
   * Expected answers:
   *   code 200 : TerritoryResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param name The name of the territory
   * @param active If true set the game level as active. Default is true.
   */
  def createTerritory(accountId: Long, name: String, active: Option[Boolean] = None): ApiRequest[TerritoryResponse] =
    ApiRequest[TerritoryResponse](ApiMethods.POST, baseUrl, "/territory/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("name", name)
      .withQueryParam("active", active)
      .withSuccessResponse[TerritoryResponse](200)
      

  /**
   * Deletes a territory.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the id of the logged in user
   * @param territoryId the id of the territory to delete
   */
  def deleteTerritory(accountId: Long, territoryId: Long): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/territory/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("territoryId", territoryId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Get a territory.
   * 
   * Expected answers:
   *   code 200 : TerritoryResponse (successful operation)
   * 
   * @param territoryId the id of the territory to get
   */
  def getTerritory(territoryId: Long): ApiRequest[TerritoryResponse] =
    ApiRequest[TerritoryResponse](ApiMethods.GET, baseUrl, "/territory/get", "application/json")
      .withQueryParam("territoryId", territoryId)
      .withSuccessResponse[TerritoryResponse](200)
      

  /**
   * Searches on territories.
   * 
   * Expected answers:
   *   code 200 : Seq[TerritoryResponse] (successful operation)
   * 
   * @param sortField the field to sort by. Supported values include: ID, CREATED, UPDATED, NAME
   * @param descending determines whether the sorted list is in descending or ascending order
   * @param keyword Return results that match this keyword.
   * @param start The start index for pagination
   * @param limit The limit for pagination
   */
  def searchTerritories(sortField: String, descending: Boolean, keyword: Option[String] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[Seq[TerritoryResponse]] =
    ApiRequest[Seq[TerritoryResponse]](ApiMethods.GET, baseUrl, "/territory/search", "application/json")
      .withQueryParam("keyword", keyword)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withSuccessResponse[Seq[TerritoryResponse]](200)
      

  /**
   * Updates a territory.
   * 
   * Expected answers:
   *   code 200 : TerritoryResponse (successful operation)
   * 
   * @param accountId The logged in user.
   * @param territoryId the id of the territory to update
   * @param name The name of the territory
   * @param active If true set the game level as active.
   */
  def updateTerritory(accountId: Long, territoryId: Long, name: Option[String] = None, active: Option[Boolean] = None): ApiRequest[TerritoryResponse] =
    ApiRequest[TerritoryResponse](ApiMethods.POST, baseUrl, "/territory/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("territoryId", territoryId)
      .withQueryParam("name", name)
      .withQueryParam("active", active)
      .withSuccessResponse[TerritoryResponse](200)
      



}

