/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.ProfileResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object TwitterApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new TwitterApi(baseUrl)
}

class TwitterApi(baseUrl: String) {

  /**
   * Makes an authorization call to twitter for a user to login and allow any app permissions.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param appKey the application key
   */
  def authorizeTwitter(appKey: String): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/twitter/authorize", "application/json")
      .withQueryParam("appKey", appKey)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Returns the user profile information given an access token and the secret access token. This call verifies the tokens with twitter and creates a Sirqul account for the user if its their first time logging in.
   * 
   * Expected answers:
   *   code 200 : ProfileResponse (successful operation)
   * 
   * @param accessToken The access token
   * @param accessTokenSecret The secret access token
   * @param appKey The application key
   * @param responseFilters a comma separated list of ProfileFilters for filtering the returned response data
   * @param deviceId The device id
   * @param latitude The current latitude of the user
   * @param longitude The current longitude of the user
   */
  def loginTwitter(accessToken: String, accessTokenSecret: String, appKey: String, responseFilters: String, deviceId: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[ProfileResponse] =
    ApiRequest[ProfileResponse](ApiMethods.POST, baseUrl, "/twitter/login", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accessToken", accessToken)
      .withQueryParam("accessTokenSecret", accessTokenSecret)
      .withQueryParam("appKey", appKey)
      .withQueryParam("responseFilters", responseFilters)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[ProfileResponse](200)
      



}

