/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.model.UserPermissionsResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object UserPermissionsApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new UserPermissionsApi(baseUrl)
}

class UserPermissionsApi(baseUrl: String) {

  /**
   * Adds a user to a permissionable object.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param permissionableType the permissionable type of the object
   * @param permissionableId the id of the permissionable object
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param read the read permission of the users/groups
   * @param write the write permission of the users/groups
   * @param delete the delete permission of the users/groups
   * @param add the add permission of the users/groups
   * @param connectionIds a comma separated list of connection ids (NOT the account ids)
   * @param connectionAccountIds a comma separated list of account ids
   * @param connectionGroupIds a comma separated list of connection group ids (these are groups made by the user)
   * @param pending sets whether the added users are marked as pending (and will require the album admins to accept) - admins can set this to false (to accept)
   * @param admin sets whether the added users will become admins or not
   * @param includeFriendGroup flag to determine whether to include the built-in \"friends\" group
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @param audienceIds comma separated list of audience ids. This is a feature only available to the permissionable's application owner (and its employees). This will add all users from these audiences to the permissionable object. Notifications will not be sent to users if this feature is used.
   */
  def addUsersToPermissionable(permissionableType: String, permissionableId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, read: Option[Boolean] = None, write: Option[Boolean] = None, delete: Option[Boolean] = None, add: Option[Boolean] = None, connectionIds: Option[String] = None, connectionAccountIds: Option[String] = None, connectionGroupIds: Option[String] = None, pending: Option[Boolean] = None, admin: Option[Boolean] = None, includeFriendGroup: Option[Boolean] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, audienceIds: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/consumer/permissions/add", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("permissionableType", permissionableType)
      .withQueryParam("permissionableId", permissionableId)
      .withQueryParam("read", read)
      .withQueryParam("write", write)
      .withQueryParam("delete", delete)
      .withQueryParam("add", add)
      .withQueryParam("connectionIds", connectionIds)
      .withQueryParam("connectionAccountIds", connectionAccountIds)
      .withQueryParam("connectionGroupIds", connectionGroupIds)
      .withQueryParam("pending", pending)
      .withQueryParam("admin", admin)
      .withQueryParam("includeFriendGroup", includeFriendGroup)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("audienceIds", audienceIds)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Sets the approval status of a permissionable object.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param permissionableType The permissionable type of the object
   * @param permissionableId The id of the permissionable object
   * @param deviceId A unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   * @param approvalStatus The approval status to set {PENDING, REJECTED, APPROVED, FEATURED}
   */
  def approvePermissionable(permissionableType: String, permissionableId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, approvalStatus: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/permissionable/approve", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("permissionableType", permissionableType)
      .withQueryParam("permissionableId", permissionableId)
      .withQueryParam("approvalStatus", approvalStatus)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Used when the user wants to leave from someone else's permissionable object
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param permissionableType the permissionable type PermissionableType
   * @param permissionableId the id of the permissionable object
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   */
  def leaveFromPermissionable(permissionableType: String, permissionableId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, latitude: Option[Double] = None, longitude: Option[Double] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/consumer/permissions/leave", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("permissionableType", permissionableType)
      .withQueryParam("permissionableId", permissionableId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Used to remove someone (assuming they have permission) from a permissionable object
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param permissionableType the permissionable type of the object
   * @param permissionableId the id of the permissionable object
   * @param deviceId the device id (deviceId or accountId required)
   * @param accountId the account id of the user (deviceId or accountId required)
   * @param connectionIds a comma separated list of connection ids (NOT the account ids)
   * @param connectionAccountIds a comma separated list of account ids
   * @param connectionGroupIds a comma separated list of connection group ids (these are groups made by the user)
   * @param removeFriendGroup flag to determine whether to remove the built-in \"friends\" group
   * @param latitude the current latitude of the user
   * @param longitude the current longitude of the user
   * @param audienceIds comma separated list of audience ids. This will remove all users from these audiences from the permissionable object. Notifications will not be sent to users if this feature is used.
   */
  def removeUsersFromPermissionable(permissionableType: String, permissionableId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, connectionIds: Option[String] = None, connectionAccountIds: Option[String] = None, connectionGroupIds: Option[String] = None, removeFriendGroup: Option[Boolean] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, audienceIds: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/consumer/permissions/remove", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("permissionableType", permissionableType)
      .withQueryParam("permissionableId", permissionableId)
      .withQueryParam("connectionIds", connectionIds)
      .withQueryParam("connectionAccountIds", connectionAccountIds)
      .withQueryParam("connectionGroupIds", connectionGroupIds)
      .withQueryParam("removeFriendGroup", removeFriendGroup)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("audienceIds", audienceIds)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Search on UserPermissions
   * 
   * Expected answers:
   *   code 200 : Seq[UserPermissionsResponse] (successful operation)
   * 
   * @param deviceId A unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   * @param connectionAccountId Filter results for a specific user account
   * @param connectionAccountIds Comma separated list of account IDs to filter results with
   * @param permissionableType Filter user permissions by the permissionable object type
   * @param permissionableId The id of the permissionable object to filter by
   * @param keyword Keyword to search within permissionable records
   * @param sortField Field to sort results on
   * @param descending Sort descending when true
   * @param pending Return user permissions that are pending
   * @param admin Return user permissions that are admins
   * @param start the start index for pagination
   * @param limit the limit for pagination
   */
  def searchPermissionables(deviceId: Option[String] = None, accountId: Option[Long] = None, connectionAccountId: Option[Long] = None, connectionAccountIds: Option[String] = None, permissionableType: Option[String] = None, permissionableId: Option[Long] = None, keyword: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, pending: Option[Boolean] = None, admin: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[Seq[UserPermissionsResponse]] =
    ApiRequest[Seq[UserPermissionsResponse]](ApiMethods.GET, baseUrl, "/permissions/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("connectionAccountId", connectionAccountId)
      .withQueryParam("connectionAccountIds", connectionAccountIds)
      .withQueryParam("permissionableType", permissionableType)
      .withQueryParam("permissionableId", permissionableId)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("pending", pending)
      .withQueryParam("admin", admin)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[UserPermissionsResponse]](200)
      

  /**
   * Search on UserPermissions by distance
   * 
   * Expected answers:
   *   code 200 : Seq[UserPermissionsResponse] (successful operation)
   * 
   * @param latitude The latitude of the current account
   * @param longitude The longitude of the current account
   * @param deviceId A unique ID given by the device (deviceId or accountId required)
   * @param accountId The account ID of the user (deviceId or accountId required)
   * @param connectionAccountId Filter results for a specific user account
   * @param connectionAccountIds Comma separated list of account IDs to filter results with
   * @param permissionableType Filter user permissions by the permissionable object type
   * @param permissionableId The id of the permissionable object to filter by
   * @param searchRange The search range in miles
   * @param keyword Keyword to search within permissionable records
   * @param pending Return user permissions that are pending
   * @param admin Return user permissions that are admins
   * @param start The start index for pagination
   * @param limit The limit for pagination
   */
  def searchPermissionablesFollowingDistance(latitude: Double, longitude: Double, deviceId: Option[String] = None, accountId: Option[Long] = None, connectionAccountId: Option[Long] = None, connectionAccountIds: Option[String] = None, permissionableType: Option[String] = None, permissionableId: Option[Long] = None, searchRange: Option[Double] = None, keyword: Option[String] = None, pending: Option[Boolean] = None, admin: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None): ApiRequest[Seq[UserPermissionsResponse]] =
    ApiRequest[Seq[UserPermissionsResponse]](ApiMethods.GET, baseUrl, "/permissions/distancesearch", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("connectionAccountId", connectionAccountId)
      .withQueryParam("connectionAccountIds", connectionAccountIds)
      .withQueryParam("permissionableType", permissionableType)
      .withQueryParam("permissionableId", permissionableId)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("searchRange", searchRange)
      .withQueryParam("keyword", keyword)
      .withQueryParam("pending", pending)
      .withQueryParam("admin", admin)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withSuccessResponse[Seq[UserPermissionsResponse]](200)
      



}

