/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object VatomApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new VatomApi(baseUrl)
}

class VatomApi(baseUrl: String) {

  /**
   * Create following.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def createFollowing(accountId: Long, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/me/rels/following/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Create a Vatom space.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def createSpace(accountId: Long, appKey: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/spaces/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Create a Vatom event.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def createVatomEvent(accountId: Long, appKey: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/events/create", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Delete following.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomRelsKey Vatom Rels Key
   * @param returnRawResponse Return raw response
   */
  def deleteFollowing(accountId: Long, vatomRelsKey: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/me/rels/following/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomRelsKey", vatomRelsKey)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Reset All Points Balance.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomCampaignId Vatom Campaign Id
   * @param returnRawResponse Return raw response
   */
  def deletePointsBalance(accountId: Long, appKey: String, vatomCampaignId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/campaign/points/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomCampaignId", vatomCampaignId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Delete a Vatom space.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomSpaceId Vatom Space Id
   * @param returnRawResponse Return raw response
   */
  def deleteSpace(accountId: Long, appKey: String, vatomSpaceId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/spaces/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomSpaceId", vatomSpaceId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Delete a Vatom event.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomEventId Vatom Event Id
   * @param returnRawResponse Return raw response
   */
  def deleteVatomEvent(accountId: Long, appKey: String, vatomEventId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/events/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomEventId", vatomEventId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Delete Vatom NFT
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomId Vatom NFT Id
   * @param returnRawResponse Return raw response
   */
  def deleteVatomNFT(accountId: Long, vatomId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/vatoms/delete", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomId", vatomId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Execute Action on NFT.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomId Vatom NFT Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def executeActionOnNFT(accountId: Long, vatomId: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/vatoms/execute-action", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomId", vatomId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Search Vatom Geo Map
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def geomapSearch(accountId: Long, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/vatoms/geo-map/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the behaviors of a business.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param returnRawResponse Return raw response
   */
  def getBusinessBehaviors(accountId: Long, appKey: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/behaviors", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get the coins for a Businesss.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param returnRawResponse Return raw response
   */
  def getBusinessCoinsBalance(accountId: Long, appKey: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/coins/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get the business ids the logged in user has access to.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param returnRawResponse Return raw response
   */
  def getBusinessIds(accountId: Long, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/me/businesses", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the business info tied to this account.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def getBusinessInfo(accountId: Long, appKey: String, vatomParameters: Option[String] = None, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the users of a business.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param returnRawResponse Return raw response
   */
  def getBusinessUsers(accountId: Long, appKey: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/users", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get campaign group entities.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomCampaignId Vatom Campaign Id
   * @param returnRawResponse Return raw response
   */
  def getCampaignGroupEntities(accountId: Long, appKey: String, vatomCampaignId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/campaign-groups/entities", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomCampaignId", vatomCampaignId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get campaign group rules.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomCampaignId Vatom Campaign Id
   * @param returnRawResponse Return raw response
   */
  def getCampaignGroupRules(accountId: Long, appKey: String, vatomCampaignId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/campaign-groups/rules", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomCampaignId", vatomCampaignId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get campaign group stats.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomCampaignId Vatom Campaign Id
   * @param returnRawResponse Return raw response
   */
  def getCampaignGroupStats(accountId: Long, appKey: String, vatomCampaignId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/campaign-groups/stats", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomCampaignId", vatomCampaignId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the info on a campaign.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomCampaignId Vatom Campaign Id
   * @param returnRawResponse Return raw response
   */
  def getCampaignInfo(accountId: Long, appKey: String, vatomCampaignId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/campaign-groups/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomCampaignId", vatomCampaignId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the guest list of an event.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomEventId Vatom Event Id
   * @param returnRawResponse Return raw response
   */
  def getEventGuestList(accountId: Long, appKey: String, vatomEventId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/events/guests/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomEventId", vatomEventId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the logged in user's Vatom Inventory.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def getInventory(accountId: Long, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/me/inventory", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get following.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param returnRawResponse Return raw response
   */
  def getMyFollowing(accountId: Long, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/me/rels/following", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the points balance of a Vatom user.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param vatomCampaignId Vatom Campaign Id
   * @param returnRawResponse Return raw response
   */
  def getPointsBalance(accountId: Long, vatomUserId: String, vatomCampaignId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/u/campaign/points/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("vatomCampaignId", vatomCampaignId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the points balance of a Vatom user.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomUserId Vatom User Id
   * @param vatomCampaignId Vatom Campaign Id
   * @param returnRawResponse Return raw response
   */
  def getPointsBalanceAsBusiness(accountId: Long, appKey: String, vatomUserId: String, vatomCampaignId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/campaign/u/points/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("vatomCampaignId", vatomCampaignId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the details of a space.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomSpaceId Vatom Space Id
   * @param returnRawResponse Return raw response
   */
  def getSpace(accountId: Long, appKey: String, vatomSpaceId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/spaces/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomSpaceId", vatomSpaceId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get the coins for a user (as a Business).
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param appKey Sirqul Application Key
   * @param returnRawResponse Return raw response
   */
  def getUserCoinsAsBusiness(accountId: Long, vatomUserId: String, appKey: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/users/coins/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the coins balance for a Vatom User.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def getUserCoinsBalance(accountId: Long, vatomUserId: String, vatomParameters: Option[String] = None, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/u/coins/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get user followers.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param returnRawResponse Return raw response
   */
  def getUserFollowers(accountId: Long, vatomUserId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/users/rels/followers", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get user following.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param returnRawResponse Return raw response
   */
  def getUserFollowing(accountId: Long, vatomUserId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/users/rels/following", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get a User's Info.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param returnRawResponse Return raw response
   */
  def getUserInfo(accountId: Long, vatomUserId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/user/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the logged in user's profile in Vatom.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param returnRawResponse Return raw response
   */
  def getUserProfile(accountId: Long, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/me/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the details of a event.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomEventId Vatom Event Id
   * @param returnRawResponse Return raw response
   */
  def getVatomEvent(accountId: Long, appKey: String, vatomEventId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/events/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomEventId", vatomEventId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Get Vatom NFT Details
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomId Vatom NFT Id
   * @param returnRawResponse Return raw response
   */
  def getVatomNFT(accountId: Long, vatomId: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/vatoms/get", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomId", vatomId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the communities tied to a business.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def listCommunities(accountId: Long, appKey: String, vatomParameters: Option[String] = None, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/communities/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the events tied to a business.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def listEvents(accountId: Long, appKey: String, vatomParameters: Option[String] = None, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/events/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the spaces tied to a business.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def listSpaces(accountId: Long, appKey: String, vatomParameters: Option[String] = None, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/spaces/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the logged in user's Vatom coin transactions.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def listUserCoinTransactions(accountId: Long, vatomUserId: String, vatomParameters: Option[String] = None, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/u/coins/txns/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * List coin transactions for a user (as a Business).
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def listUserCoinTransactionsAsBusiness(accountId: Long, vatomUserId: String, appKey: String, vatomParameters: Option[String] = None, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/users/coins/txns/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Perform Action on NFT.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomId Vatom NFT Id
   * @param vatomAction Vatom Action
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def performActionOnNFT(accountId: Long, vatomId: String, vatomAction: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/me/vatoms/actions", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomId", vatomId)
      .withQueryParam("vatomAction", vatomAction)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Redeem an NFT.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def redeemNFT(accountId: Long, appKey: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/redemptions", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Redeem the coins for a user (as a Business).
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def redeemUserCoinsAsBusiness(accountId: Long, vatomUserId: String, appKey: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/users/coins/redeem", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Searches for Vatom businesses.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def searchBusinesses(accountId: Long, vatomParameters: Option[String] = None, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Search campaign groups.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param returnRawResponse Return raw response
   */
  def searchCampaignGroups(accountId: Long, appKey: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/b/campaign-groups/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Search User Identities.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param returnRawResponse Return raw response
   */
  def searchIdentities(accountId: Long, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/me/identities/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Searches the logged in user's Vatom Inventory.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def searchInventory(accountId: Long, vatomParameters: Option[String] = None, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.GET, baseUrl, "/vatom/user-inventory/search", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Send an NFT.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomCampaignId Vatom Campaign Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def sendNFT(accountId: Long, appKey: String, vatomCampaignId: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/campaigns/send", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomCampaignId", vatomCampaignId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Sets the points balance of a Vatom user.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomUserId Vatom User Id
   * @param vatomCampaignId Vatom Campaign Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def setPointsBalanceAsBusiness(accountId: Long, appKey: String, vatomUserId: String, vatomCampaignId: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/campaign/u/points/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("vatomCampaignId", vatomCampaignId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Transfer coins from Vatom Users.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def transferUserCoins(accountId: Long, vatomUserId: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/u/coins/transfer", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Fund/update coins for a Businesss.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def updateBusinessCoins(accountId: Long, appKey: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/coins/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Update the guest list of an event.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomEventId Vatom Event Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def updateEventGuestList(accountId: Long, appKey: String, vatomEventId: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/events/guests/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomEventId", vatomEventId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Update a Vatom space.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomSpaceId Vatom Space Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def updateSpace(accountId: Long, appKey: String, vatomSpaceId: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/spaces/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomSpaceId", vatomSpaceId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Update the coins for a user (as a Business).
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomUserId Vatom User Id
   * @param appKey Sirqul Application Key
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def updateUserCoinsAsBusiness(accountId: Long, vatomUserId: String, appKey: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/users/coins/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomUserId", vatomUserId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Gets the logged in user's profile in Vatom.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def updateUserProfile(accountId: Long, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/me/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      

  /**
   * Update a Vatom event.
   * 
   * Expected answers:
   *   code 200 :  (successful operation)
   * 
   * @param accountId Sirqul Account Id
   * @param appKey Sirqul Application Key
   * @param vatomEventId Vatom Event Id
   * @param vatomParameters Vatom Parameters
   * @param returnRawResponse Return raw response
   */
  def updateVatomEvent(accountId: Long, appKey: String, vatomEventId: String, vatomParameters: String, returnRawResponse: Option[Boolean] = None): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.POST, baseUrl, "/vatom/b/events/update", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("appKey", appKey)
      .withQueryParam("vatomEventId", vatomEventId)
      .withQueryParam("vatomParameters", vatomParameters)
      .withQueryParam("returnRawResponse", returnRawResponse)
      .withSuccessResponse[Unit](200)
      



}

