/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.VehicleType
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object VehicleTypeApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new VehicleTypeApi(baseUrl)
}

class VehicleTypeApi(baseUrl: String) {

  /**
   * Create a new vehicle type
   * 
   * Expected answers:
   *   code 200 : VehicleType (successful operation)
   * 
   * @param vehicleType A JSON representation of cargo type. ```json {   \"name\": \"Truck\",   \"width\": 100,   \"height\": 200,   \"depth\": 200,   \"maxWeight\": 5000,   \"hub\": { \"id\": 1 } } ``` 
   * @param body 
   */
  def createVehicleType(vehicleType: String, body: Option[VehicleType] = None): ApiRequest[VehicleType] =
    ApiRequest[VehicleType](ApiMethods.POST, baseUrl, "/vehicle/type", "application/json")
      .withBody(body)
      .withQueryParam("vehicleType", vehicleType)
      .withSuccessResponse[VehicleType](200)
      

  /**
   * Delete a vehicle type
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param vehicleTypeId The id of the requested vehicle type
   */
  def deleteVehicleType(vehicleTypeId: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/vehicle/type/{vehicleTypeId}", "application/json")
      .withPathParam("vehicleTypeId", vehicleTypeId)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Get a vehicle type
   * 
   * Expected answers:
   *   code 200 : VehicleType (successful operation)
   * 
   * @param vehicleTypeId The id of the requested vehicle type
   */
  def getVehicleType(vehicleTypeId: Long): ApiRequest[VehicleType] =
    ApiRequest[VehicleType](ApiMethods.GET, baseUrl, "/vehicle/type/{vehicleTypeId}", "application/json")
      .withPathParam("vehicleTypeId", vehicleTypeId)
      .withSuccessResponse[VehicleType](200)
      

  /**
   * Search for types of vehicles
   * 
   * Expected answers:
   *   code 200 : Seq[VehicleType] (successful operation)
   * 
   * @param sortField The field to sort by
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param activeOnly Return only active results
   * @param retailerId Filter by retailer
   * @param hubId Filter by service hub
   */
  def searchVehicleTypes(sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, retailerId: Option[Long] = None, hubId: Option[Long] = None): ApiRequest[Seq[VehicleType]] =
    ApiRequest[Seq[VehicleType]](ApiMethods.GET, baseUrl, "/vehicle/type", "application/json")
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("hubId", hubId)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[VehicleType]](200)
      

  /**
   * Update a vehicle type
   * 
   * Expected answers:
   *   code 200 : VehicleType (successful operation)
   * 
   * @param vehicleTypeId The id of the vehicle type to update
   * @param vehicleType The new data for the vehicle type to update to. A JSON representation of cargo type, for example: ```json {   \"name\": \"Truck\",   \"width\": 100,   \"height\": 200,   \"depth\": 200,   \"maxWeight\": 5000,   \"hub\": { \"id\": 1 } } ``` 
   * @param body 
   */
  def updateVehicleType(vehicleTypeId: Long, vehicleType: String, body: Option[VehicleType] = None): ApiRequest[VehicleType] =
    ApiRequest[VehicleType](ApiMethods.PUT, baseUrl, "/vehicle/type/{vehicleTypeId}", "application/json")
      .withBody(body)
      .withQueryParam("vehicleType", vehicleType)
      .withPathParam("vehicleTypeId", vehicleTypeId)
      .withSuccessResponse[VehicleType](200)
      



}

