/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.Vehicle
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object VehicleApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new VehicleApi(baseUrl)
}

class VehicleApi(baseUrl: String) {

  /**
   * Create new vehicle
   * 
   * Expected answers:
   *   code 200 : Vehicle (successful operation)
   * 
   * @param vehicle A JSON representation of cargo type. ```json {   \"name\": \"Truck\",   \"vehicleType\": { \"id\": 1 },   \"hub\": { \"id\": 1 } } ``` 
   * @param body 
   */
  def createVehicle(vehicle: String, body: Option[Vehicle] = None): ApiRequest[Vehicle] =
    ApiRequest[Vehicle](ApiMethods.POST, baseUrl, "/vehicle", "application/json")
      .withBody(body)
      .withQueryParam("vehicle", vehicle)
      .withSuccessResponse[Vehicle](200)
      

  /**
   * Delete an existing vehicle
   * 
   * Expected answers:
   *   code 0 :  (successful operation)
   * 
   * @param id The id of the vehicle to delete
   */
  def deleteVehicle(id: Long): ApiRequest[Unit] =
    ApiRequest[Unit](ApiMethods.DELETE, baseUrl, "/vehicle/{id}", "application/json")
      .withPathParam("id", id)
      .withDefaultErrorResponse[Unit]
      

  /**
   * Get an existing vehicle
   * 
   * Expected answers:
   *   code 200 : Vehicle (successful operation)
   * 
   * @param id The id of the vehicle requested
   */
  def getVehicle(id: Long): ApiRequest[Vehicle] =
    ApiRequest[Vehicle](ApiMethods.GET, baseUrl, "/vehicle/{id}", "application/json")
      .withPathParam("id", id)
      .withSuccessResponse[Vehicle](200)
      

  /**
   * Search for vehicles
   * 
   * Expected answers:
   *   code 200 : Seq[Vehicle] (successful operation)
   * 
   * @param hubId Filter by service hub
   * @param sortField The field to sort by
   * @param descending Determines whether the sorted list is in descending or ascending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param activeOnly Return only active results
   * @param keyword The keyword to search for
   */
  def searchVehicle(hubId: Long, sortField: String, descending: Boolean, start: Int, limit: Int, activeOnly: Boolean, keyword: Option[String] = None): ApiRequest[Seq[Vehicle]] =
    ApiRequest[Seq[Vehicle]](ApiMethods.GET, baseUrl, "/vehicle", "application/json")
      .withQueryParam("hubId", hubId)
      .withQueryParam("keyword", keyword)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("activeOnly", activeOnly)
      .withSuccessResponse[Seq[Vehicle]](200)
      

  /**
   * Update an existing vehicle
   * 
   * Expected answers:
   *   code 200 : Vehicle (successful operation)
   * 
   * @param id The id of the vehicle to update
   * @param vehicle A JSON representation of cargo type, for example: ```json {   \"name\": \"Truck\",   \"vehicleType\": { \"id\": 1 },   \"hub\": { \"id\": 1 } } ``` 
   * @param body 
   */
  def updateVehicle(id: Long, vehicle: String, body: Option[Vehicle] = None): ApiRequest[Vehicle] =
    ApiRequest[Vehicle](ApiMethods.PUT, baseUrl, "/vehicle/{id}", "application/json")
      .withBody(body)
      .withQueryParam("vehicle", vehicle)
      .withPathParam("id", id)
      .withSuccessResponse[Vehicle](200)
      



}

