/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.OfferTransactionResponse
import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object WalletApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new WalletApi(baseUrl)
}

class WalletApi(baseUrl: String) {

  /**
   * Adds offers to the wallet
   * 
   * Expected answers:
   *   code 200 : Seq[OfferTransactionResponse] (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param offerId The id of the offer being added (offerId or offeLocationId required)
   * @param offerLocationId The id of the offer location being added (offerId or offeLocationId required)
   * @param offerCart A JSON list of offers to purchase. ```json [   {     \"offerId\": 123,     \"offerLocationId\": 234,     \"quantity\": 2   },   {     \"offerId\": 456,     \"offerLocationId\": 567,     \"quantity\": 1   } ] ``` 
   * @param promoCode The promoCode
   * @param currencyType Determines the method of purchasing offer. CASH = use card on file, POINTS = use points, TICKETS = use tickets
   * @param usePoints Sets the currencyType to POINTS
   * @param metaData External custom client defined data
   * @param appKey The application requesting the purchase, required when currencyType is TICKETS
   * @param status Custom status value to change to (0 or 1 for redeem, 5 or 6 for membership)
   */
  def createOfferTransaction(deviceId: Option[String] = None, accountId: Option[Long] = None, offerId: Option[Long] = None, offerLocationId: Option[Long] = None, offerCart: Option[String] = None, promoCode: Option[String] = None, currencyType: Option[String] = None, usePoints: Option[Boolean] = None, metaData: Option[String] = None, appKey: Option[String] = None, status: Option[Int] = None): ApiRequest[Seq[OfferTransactionResponse]] =
    ApiRequest[Seq[OfferTransactionResponse]](ApiMethods.POST, baseUrl, "/wallet/create", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("offerId", offerId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("offerCart", offerCart)
      .withQueryParam("promoCode", promoCode)
      .withQueryParam("currencyType", currencyType)
      .withQueryParam("usePoints", usePoints)
      .withQueryParam("metaData", metaData)
      .withQueryParam("appKey", appKey)
      .withQueryParam("status", status)
      .withSuccessResponse[Seq[OfferTransactionResponse]](200)
      

  /**
   * Removes the transaction from the wallet by setting the deleted date to the current date/time.  Requires a valid account and transactionId.
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param transactionId The offer transaction id to remove
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   */
  def deleteOfferTransaction(transactionId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/wallet/delete", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("transactionId", transactionId)
      .withSuccessResponse[SirqulResponse](200)
      

  /**
   * Expected answers:
   *   code 200 : OfferTransactionResponse (successful operation)
   * 
   * @param transactionId The offer transaction id to get details of
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param includeMission If true then include mission data, false to not include
   * @param latitude The latitude location of the user
   * @param longitude The latitude location of the user
   * @param returnFullResponse Determines whether to return a detailed version of the response
   */
  def getOfferTransaction(transactionId: Long, deviceId: Option[String] = None, accountId: Option[Long] = None, includeMission: Option[Boolean] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, returnFullResponse: Option[Boolean] = None): ApiRequest[OfferTransactionResponse] =
    ApiRequest[OfferTransactionResponse](ApiMethods.GET, baseUrl, "/wallet/get", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("transactionId", transactionId)
      .withQueryParam("includeMission", includeMission)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("returnFullResponse", returnFullResponse)
      .withSuccessResponse[OfferTransactionResponse](200)
      

  /**
   * Preview the final cost of a transaction without charging the user
   * 
   * Expected answers:
   *   code 200 : Seq[OfferTransactionResponse] (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param offerId The id of the offer being added (offerId or offeLocationId required)
   * @param offerLocationId The id of the offer location being added (offerId or offeLocationId required)
   * @param offerCart A JSON list of offers to purchase.
   * @param promoCode The promoCode
   * @param currencyType Determines the method of purchasing offer. CASH = use card on file, POINTS = use points, TICKETS = use tickets
   * @param usePoints Sets the currencyType to POINTS
   * @param metaData External custom client defined data
   * @param appKey The application requesting the purchase, required when currencyType is TICKETS
   */
  def previewOfferTransaction(deviceId: Option[String] = None, accountId: Option[Long] = None, offerId: Option[Long] = None, offerLocationId: Option[Long] = None, offerCart: Option[String] = None, promoCode: Option[String] = None, currencyType: Option[String] = None, usePoints: Option[Boolean] = None, metaData: Option[String] = None, appKey: Option[String] = None): ApiRequest[Seq[OfferTransactionResponse]] =
    ApiRequest[Seq[OfferTransactionResponse]](ApiMethods.POST, baseUrl, "/wallet/preview", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("offerId", offerId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("offerCart", offerCart)
      .withQueryParam("promoCode", promoCode)
      .withQueryParam("currencyType", currencyType)
      .withQueryParam("usePoints", usePoints)
      .withQueryParam("metaData", metaData)
      .withQueryParam("appKey", appKey)
      .withSuccessResponse[Seq[OfferTransactionResponse]](200)
      

  /**
   * Search on active offers currently in the user's wallet, or past offers the user has already redeemed.
   * 
   * Expected answers:
   *   code 200 : Seq[OfferTransactionResponse] (successful operation)
   * 
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param keyword The keyword to search for
   * @param retailerId Filter results for this retailer
   * @param retailerIds Filter results for a list of retailers
   * @param retailerLocationId Filter results for this retailer location
   * @param retailerLocationIds Filter results for a list of retailer locations
   * @param excludeRetailerLocationIds Filter results to exclude retailer locations
   * @param offerId Filter results for this offer
   * @param offerIds Filter results for a list of offer
   * @param offerLocationId Filter results for this offer location
   * @param offerLocationIds Filter results for a list of offer locations
   * @param offerType Filter results to return a specific offer type
   * @param offerTypes Filter results to return specific offer types
   * @param specialOfferType Filter results to return a specific special offer type
   * @param specialOfferTypes Filter results to return specific special offer types
   * @param categoryIds Category Ids
   * @param filterIds Filter Ids
   * @param offerAudienceIds Offer Audience Ids
   * @param sortField Determines what to sort the results by
   * @param descending Determines whether the results are in descending order
   * @param start The start index for pagination
   * @param limit The limit for pagination
   * @param latitude The latitude location of the user
   * @param longitude The latitude location of the user
   * @param redeemableStartDate Filter results by the offer redeemable date
   * @param redeemableEndDate Filter results by the offer redeemable date
   * @param filterByParentOffer Apply params to offer's parent
   * @param startedSince Filter results by the offer start date
   * @param startedBefore Filter results by the offer start date
   * @param endedSince Filter results by the offer end date
   * @param endedBefore Filter results by the offer end date
   * @param redeemed If true return redeemed transactions (status 2), otherwise return active transactions (status 0 or 1)
   * @param statuses Custom status value to change to (0 or 1 for redeem, 5 or 6 for membership)
   * @param reservationsOnly Returns only reservation transactions if true
   * @param activeOnly Active Only
   * @param returnFullResponse Determines whether to return a detailed version of the response
   * @param recurringStartedSince Filter results by the recurring billing start date
   * @param recurringStartedBefore Filter results by the recurring billing start date
   * @param recurringExpirationSince Filter results by the recurring billing expiration date
   * @param recurringExpirationBefore Filter results by the recurring billing expiration date
   */
  def searchOfferTransactions(deviceId: Option[String] = None, accountId: Option[Long] = None, keyword: Option[String] = None, retailerId: Option[Long] = None, retailerIds: Option[String] = None, retailerLocationId: Option[Long] = None, retailerLocationIds: Option[String] = None, excludeRetailerLocationIds: Option[String] = None, offerId: Option[Long] = None, offerIds: Option[String] = None, offerLocationId: Option[Long] = None, offerLocationIds: Option[String] = None, offerType: Option[String] = None, offerTypes: Option[String] = None, specialOfferType: Option[String] = None, specialOfferTypes: Option[String] = None, categoryIds: Option[String] = None, filterIds: Option[String] = None, offerAudienceIds: Option[String] = None, sortField: Option[String] = None, descending: Option[Boolean] = None, start: Option[Int] = None, limit: Option[Int] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, redeemableStartDate: Option[Long] = None, redeemableEndDate: Option[Long] = None, filterByParentOffer: Option[Boolean] = None, startedSince: Option[Long] = None, startedBefore: Option[Long] = None, endedSince: Option[Long] = None, endedBefore: Option[Long] = None, redeemed: Option[Boolean] = None, statuses: Option[String] = None, reservationsOnly: Option[Boolean] = None, activeOnly: Option[Boolean] = None, returnFullResponse: Option[Boolean] = None, recurringStartedSince: Option[Long] = None, recurringStartedBefore: Option[Long] = None, recurringExpirationSince: Option[Long] = None, recurringExpirationBefore: Option[Long] = None): ApiRequest[Seq[OfferTransactionResponse]] =
    ApiRequest[Seq[OfferTransactionResponse]](ApiMethods.GET, baseUrl, "/wallet/search", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("keyword", keyword)
      .withQueryParam("retailerId", retailerId)
      .withQueryParam("retailerIds", retailerIds)
      .withQueryParam("retailerLocationId", retailerLocationId)
      .withQueryParam("retailerLocationIds", retailerLocationIds)
      .withQueryParam("excludeRetailerLocationIds", excludeRetailerLocationIds)
      .withQueryParam("offerId", offerId)
      .withQueryParam("offerIds", offerIds)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("offerLocationIds", offerLocationIds)
      .withQueryParam("offerType", offerType)
      .withQueryParam("offerTypes", offerTypes)
      .withQueryParam("specialOfferType", specialOfferType)
      .withQueryParam("specialOfferTypes", specialOfferTypes)
      .withQueryParam("categoryIds", categoryIds)
      .withQueryParam("filterIds", filterIds)
      .withQueryParam("offerAudienceIds", offerAudienceIds)
      .withQueryParam("sortField", sortField)
      .withQueryParam("descending", descending)
      .withQueryParam("start", start)
      .withQueryParam("limit", limit)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("redeemableStartDate", redeemableStartDate)
      .withQueryParam("redeemableEndDate", redeemableEndDate)
      .withQueryParam("filterByParentOffer", filterByParentOffer)
      .withQueryParam("startedSince", startedSince)
      .withQueryParam("startedBefore", startedBefore)
      .withQueryParam("endedSince", endedSince)
      .withQueryParam("endedBefore", endedBefore)
      .withQueryParam("redeemed", redeemed)
      .withQueryParam("statuses", statuses)
      .withQueryParam("reservationsOnly", reservationsOnly)
      .withQueryParam("activeOnly", activeOnly)
      .withQueryParam("returnFullResponse", returnFullResponse)
      .withQueryParam("recurringStartedSince", recurringStartedSince)
      .withQueryParam("recurringStartedBefore", recurringStartedBefore)
      .withQueryParam("recurringExpirationSince", recurringExpirationSince)
      .withQueryParam("recurringExpirationBefore", recurringExpirationBefore)
      .withSuccessResponse[Seq[OfferTransactionResponse]](200)
      

  /**
   * Update offer status. The status values are: 0 - not redeemable, 1 - redeemable.  Not redeemable means the customer has received the offer but has not decided to use (or print) it yet.  Until they choose to do this the merchant cannot redeem the offer (has not been given permission yet).   Redeemable means the customer has chosen to use the offer and wishes to redeem it.  Redeemed means the merchant has accepted the offer and the given the customer its value, then marked it a used in the system.  This status change is handled by a merchant end point.
   * 
   * Expected answers:
   *   code 200 : OfferTransactionResponse (successful operation)
   * 
   * @param transactionId The offer transaction id to remove
   * @param status The status value to change to (0 or 1)
   * @param deviceId The device id (deviceId or accountId required)
   * @param accountId The account id of the user (deviceId or accountId required)
   * @param offerLocationId Offer Location Id
   * @param currencyType Currency Type
   * @param usePoints Use Points
   * @param appKey App Key
   * @param latitude The latitude location of the user
   * @param longitude The latitude location of the user
   * @param metaData External custom client defined data
   * @param returnFullResponse Determines whether to return a detailed version of the response
   * @param exceptionMembershipOfferIds Exception Offers, transaction audiences of these offers won't be removed out of the account when up
   */
  def updateOfferTransaction(transactionId: Long, status: Int, deviceId: Option[String] = None, accountId: Option[Long] = None, offerLocationId: Option[Long] = None, currencyType: Option[String] = None, usePoints: Option[Boolean] = None, appKey: Option[String] = None, latitude: Option[Double] = None, longitude: Option[Double] = None, metaData: Option[String] = None, returnFullResponse: Option[Boolean] = None, exceptionMembershipOfferIds: Option[String] = None): ApiRequest[OfferTransactionResponse] =
    ApiRequest[OfferTransactionResponse](ApiMethods.POST, baseUrl, "/wallet/update", "application/json")
      .withQueryParam("deviceId", deviceId)
      .withQueryParam("accountId", accountId)
      .withQueryParam("transactionId", transactionId)
      .withQueryParam("offerLocationId", offerLocationId)
      .withQueryParam("currencyType", currencyType)
      .withQueryParam("usePoints", usePoints)
      .withQueryParam("appKey", appKey)
      .withQueryParam("status", status)
      .withQueryParam("latitude", latitude)
      .withQueryParam("longitude", longitude)
      .withQueryParam("metaData", metaData)
      .withQueryParam("returnFullResponse", returnFullResponse)
      .withQueryParam("exceptionMembershipOfferIds", exceptionMembershipOfferIds)
      .withSuccessResponse[OfferTransactionResponse](200)
      



}

