/**
 * Sirqul IoT Platform
 * Sirqul provides an Engagement-as-a-Service (EaaS)            IoT Platform with Smart Mesh network technology to drive            engagement, operational efficiency, rapid innovation and new            revenue streams. Please visit https://dev.sirqul.com/ for more            documents, examples, and sample applications.<?php $a = htmlspecialchars($_GET['appKey']);$b = htmlspecialchars($_GET['appRestKey']);?>
 *
 * The version of the OpenAPI document: 3.16
 * Contact: info@sirqul.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.SirqulResponse
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object WorkflowApi {

  def apply(baseUrl: String = "https://dev.sirqul.com/api/3.18") = new WorkflowApi(baseUrl)
}

class WorkflowApi(baseUrl: String) {

  /**
   * Runs a published executable workflow
   * 
   * Expected answers:
   *   code 200 : SirqulResponse (successful operation)
   * 
   * @param accountId the account ID of the user
   * @param workflowId the workflow to run
   * @param skuId this runs a particular sku on the workflow
   * @param versionCode this runs a particular sku version on the workflow
   * @param parameters Override parameters in JSON format. Example: ```json {   \"arguments_81\": { \"filter\": \"PUBLIC\" },   \"arguments_87\": { \"tag\": \"custom_tag\" } } ``` 
   */
  def runWorkflow(accountId: Long, workflowId: Long, skuId: Option[Long] = None, versionCode: Option[Int] = None, parameters: Option[String] = None): ApiRequest[SirqulResponse] =
    ApiRequest[SirqulResponse](ApiMethods.POST, baseUrl, "/workflow/run", "application/json")
      .withQueryParam("accountId", accountId)
      .withQueryParam("workflowId", workflowId)
      .withQueryParam("skuId", skuId)
      .withQueryParam("versionCode", versionCode)
      .withQueryParam("parameters", parameters)
      .withSuccessResponse[SirqulResponse](200)
      



}

